{% extends "hsmoa/__base.html" %}
{% load humanize %}
{% load filters %}
{% block title %}상품정보{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.theme.default.min.css">
<style>
    nav{display:table; width:100%; line-height: 17px; background: #f9f9f9; }
    .nav-tab {display: table-cell;width:25%; text-align: center; font-size: 15px; padding: 12px 0; background: #f7f7f7; cursor: pointer; box-shadow: inset 0 -1px 3px #ddd; }
    .nav-tab.on {background: #fff; color: #ea1b27; font-weight: bold; box-shadow: 0 0 0 #fff; }

    .block {margin-bottom: 14px; background: #fff; }

    .item-bottom {z-index:99999;position: fixed; bottom:0; left:0; right:0; padding:0; width:100%; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); height: 44px;}
    .item-bottom .display-table-fixed > div {display: table-cell; vertical-align: top;height: 44px;}
    .link-call {height:100%; width:100%; border:0; font-size:18px; border-right:1px solid #900000; background: #9d2027;border-radius: 0;}
    .bt-buy {height:100%; width:100%; border:0; font-size:18px; font-weight:bold; color:#fff;  border-radius: 0; }
    .bt-buy.disable { font-size:15px;  }
    .bt-detail { border-radius: 3px; border: 1px solid #eb3e3e; padding:8px 0; line-height: 1; width: 80px; font-size: 13px; margin-top: 4px;}

    .bt-like {background: url('{{ media }}/hsmoa/button/like_off.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0; float:right; margin: -3px -3px 0 0;}
    .bt-like.on {background: url('{{ media }}/hsmoa/button/like_on.png') 50% 50%; background-size:50px 50px; }

    .thum {padding-top: 100%; position: relative;}
    .thum > img {position: absolute; top:0; left:0; right:0; bottom:0;}

    .banner img {margin: 3.5%; width:93%; border-radius: 2px; display: block;  box-shadow: 0 0.5px 2px #bbb; overflow: hidden; }
    .card-sale {display:inline-block; font-size:12px; line-height: 13px; height: 12px; color: #000;  opacity: 0.5;  margin: 11px 12px 0 -2px; background: url('{{ media }}/hsmoa/icon/credit_card.png') 0 50% no-repeat;  background-size: 20px 20px;  padding-left: 23px;}

    #alarmKeyword {display:none; font-size: 13px;width: 100%; margin-bottom: 14px; line-height: 32px; height: 32px; border-radius: 3px; position: relative;}
    #alarmKeyword:after {content: '〉'; position: absolute; right:10px;}

    #itemDetailHtml img {height:auto !important; }
    #itemDetailHtml table { width: 100% !important;}
    #itemDetailHtml iframe { display: none !important;}
    .guide-pinch-zoom {border-bottom:1px solid #eee; text-align: center; position: relative; z-index: 99; background: #fff; margin-top: -1px;}
    .guide-pinch-zoom > img{max-width: 260px;margin:8px auto; }

    #swipe{position: absolute; width: 100%; height: 100%; top:0; overflow: hidden;}

    @media screen and (min-width:640px){
        .thum {padding-top: 640px; }
        .thum > img {position: absolute; top:0; left:50%; margin-left: -320px;}
        #swipe { max-width: 640px; left: 50%; margin-left: -320px;}
    }

.owl-theme .owl-controls{ margin-top:-25px; position: absolute; left:50%; width:240px; margin-left:-120px; z-index:99;}
.owl-theme .owl-dots .owl-dot span{background:#000; opacity: 0.5; width:8px;height:8px;margin:0px; border-radius: 8px;margin:2px 4px;}
.owl-theme .owl-dots .owl-dot.active span{background:#fff; opacity: 1;}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    right: 10%;
    font-weight: normal;
    -webkit-transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
    opacity: 0;
    white-space: nowrap;
    line-height: 1.1em;
    font-size: 0.85em;
}

.tooltip .tooltippin {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
    opacity: 0;
    -webkit-transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
}

</style>
{% endblock %}
{% block float_bt %}
    <button class="kakaotalk fix-image-quality" data-from="new" style="background: url('{{ thum }}/96x0/smart/http://m.ui.hsmoa.com/media/hsmoa/button/kakaotalk.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0;
        bottom:94px;right:2px; position:fixed;z-index:99999;"></button>
    {# 위로가기버튼 위치를 조정할 때 bottom을 바꿔준다. #}
    {% include "hsmoa/part/move_up.html" with bottom='45px' %}
{% endblock %}
{% block container %}
<div class="block item-info">
    {% if request.GET.f == '1' %}
        <!--생방송일 땐 썸네일 표시를 생략 -->
    {% elif is_alarm_event_entity %}
        {% include "hsmoa/part/item_alarm_event.html" %}
    {% else %}
    <!-- 대표이미지 -->
    <div class="thum b-coolgray-1">
        {% if item.live_status == 0 %}
        <!-- 방송종료시 안내 표시  -->
        <div class="c-white align-center" style="position: fixed; top:0; left:0; right:0; height:32px; line-height: 32px; background: rgba(0,0,0,0.5); z-index: 99999; font-size: 13px; ">
            방송이 종료된 상품입니다.
        </div>
        {% elif item.live_status == 2 and item.status == 0 %}
        <!-- 방송종료시 안내 표시  -->
        <div class="c-white align-center" style="position: fixed; top:0; left:0; right:0; height:32px; line-height: 32px; background: rgba(0,0,0,0.5); z-index: 99999; font-size: 13px; ">
            방송 편성이 취소된 상품입니다.
        </div>
        {% endif %}

        {% if item.img_list|length > 1 %}
        <!-- 대표이미지 여러장 스와이프 -->
        <div id="swipe">
            {% for each in item.img_list %}
                {% if forloop.counter < 4 %}
                <img src="{{ thum }}/640x640/center/smart/{{ each }}" onerror="this.src='{{ thum640 }}/{{ img }}/noimg3.png'">
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <img src="{{ thum }}/640x640/center/smart/{{ item.img }}" onerror="this.src='{{ thum640 }}/{{ img }}/noimg3.png'">
        {% endif %}
        <div class="line-bottom"></div>
    </div>
    {% endif %}
    <!-- 기본정보 -->
    <div class="detail" style="padding:14px; ">
        <!-- 검색어알람 정보  -->
        <button id="alarmKeyword" class="link-service b-mint-2 c-white"
                url-path="my/alarm" data-from="item_info" data-query="" >
            "<span id="alarmKeywordInfo" style="font-weight: bold;" ></span>" 검색어알람 상품입니다.
        </button>
        <div style="margin-top: -5px;">
            <img src="{{ media }}/hsmoa/logo/logo_{{ item.genre2 }}.png" style="width:65px;vertical-align: middle; ">
            <span class="item-time" style="color: #999; font-size:12px; ">{{ item.date|time_format:'ymd' }} {{ item.start_time }}~{{ item.end_time }}</span>
        </div>
        <div style="font-size:18px; line-height:1.3;margin:5px 0 15px;">{{ item.name }}</div>
        <div>
            <div style=" margin-top: auto;float:left;">
            {% block price %}
                {% if item.org_price > item.price %}
                    <s style="font-size:12px; color: #bbb; display: block; line-height: 1.3em;">{{ item.org_price|intcomma }}원</s>
                {% else %}
                    <s style="font-size:12px; color: #fff; display: block; line-height: 1.3em;">.</s>
                {% endif %}
                {% if item.price < 9 %}
                    <price class="c-gray-2" style="font-weight: bold; font-size: 18px;">상담/렌탈</price>
                {% else %}
                        <price class="c-red-3" style="font-weight: bold; font-size: 20px;">{{ item.price|intcomma }}<span style="font-size: 0.7em;">원</span></price>
            {% endif %}
            {% endblock %}
            </div>
            <div style="text-align:right;float:right;">
                 <button class="link-buy bt-detail c-red-2 "
                         url-path="buyclick"
                         data-from="item_detail"
                         data-entity_id="{{ item.id }}"
                         data-url="{{ item.url }}"
                         data-site="{{ item.genre2 }}"
                         data-cate="{{ item.cate1 }}"
                         data-price="{{ item.price }}"
                         data-live="{{ item.live_status }}"
                         data-test_id="hsmoa1918,buy_click">
                    상세보기
                </button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="card-sale-list">
        {% if item.live_status != 0 %}
        {% for card in item.card_list %}
            <span class="card-sale">
                {{ card.card_name }} {{ card.discount_ratio }}%
            </span>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="line-bottom"></div>
    {% block sale_calculator %}
    {% endblock %}
    <!-- 공유 -->
    <div class="share" style="padding:14px 14px 12px; vertical-align: top;">
        <button class="bt-share kakaotalk" data-from="old"></button>
        <button class="bt-share kakaostory"></button>
        <button class="bt-share facebook"></button>
        <button class="bt-share sms"></button>
        <button class="bt-like"></button>
        <img src="{{ media }}/hsmoa/button/like_on.png" style="display: none;" /> <!-- 좋아요 이미지를 미리 불러온다 -->
    </div>
    <div class="line-bottom"></div>

    <!-- 배너 -->
    <div class="banner-list">
        <!-- 인기프로그램 배너 -->
        {% if item.program_name %}
            <div class="banner-img link-service"
                 url-path="program"
                 data-program_query="{{ item.program_name|program_dict:'id' }}"
                 data-from="item"
                 style="margin:12px;">
                <div style="background: {{ item.program_name|program_dict:'color' }}; text-align: center;box-shadow: 0 0 3px #ccc; border-radius: 2px;">
                    <img src="{{ cdn_img }}/program/show_{{ item.program_name|program_dict:'id' }}.png?v=6" style="width: 60%;">
                </div>
            </div>
        {% endif %}
        <!-- 기타제휴 배너 -->
        {% block banner %}
            {% if item.cate1 != "보험" and item.price > 9 %}
                {% include "hsmoa/part/item_banner.html" %}
            {% endif %}
        {% endblock %}

        {% if item.id == 8495514 and datetime <= '201804131945' %}
        {# HSMOA-1617 상품 상세 페이지 내 쇼호스트 띠배너 세팅 #}
        <div class="link-buy banner"
             url-path="buyclick"
             data-from="item_banner"
             data-entity_id="{{ item.id }}"
             data-url="http://display.cjmall.com/p/exhibition/exhibitionDetail?plnExhbId=201803274580&infl_cd=I0541"
             data-site="{{ item.genre2 }}"
             data-cate="{{ item.cate1 }}"
             data-price="{{ item.price }}"
             data-live="{{ item.live_status }}"
             data-test_id="hsmoa1918,buy_click">
            <img src="{{ thum }}/smart/https://i.imgur.com/y9nrueI.jpg"/>
        </div>
        {% endif %}

        <div class="line-bottom"></div>
    </div>
</div>

<div id="itemSametime" class="block block-hide">
    <div class="line-bottom"></div>
</div>

<nav id="itemMenu" class="block-hide">
    <div data-tab="Description" class="disblock nav-tab on" id="tab_description">상세정보</div>
    <div data-tab="Review" class="disblock nav-tab" id="tab_review">상품평</div>
    <div data-tab="MoaReview" class="disblock nav-tab tooltip" id="tab_moareview">
        모아리뷰
        <span id="moareview-tooltip" class="tooltiptext"><span style="color:#f89f18;font-weight:bold;">썬스틱</span> 살 때 <span style="color:#f89f18;font-weight:bold;font-size:1.1em;">꼭</span> 확인하세요!</span>
        <span id="moareview-tooltippin" class="tooltippin"></span>
    </div>
</nav>

<div id="itemReview" class="block block-hide board_list review_wrap" style="min-height: 200px;">
    <div class="padding-12 c-gray-3 align-center border-bottom" style="font-size:13px;">*{{ item.genre2|get_genre }}의 상품평 정보를 보여드리고 있습니다.</div>
</div>

<div id="itemMoaReview" class="block block-hide board_list" style="min-height: 200px;">
</div>

<div id="itemDescription" class="block {{ item.genre2 }} " style="min-height:400px; overflow: hidden;position: relative;max-height: 1500px;">
    <!-- 상품상세 상단 영역 -->
    {% block descrption %}
    {% endblock %}

    <!-- 상품상세 html -->
    {% if item.detail_html|length > 0 %}
        {% if item.genre2 in "cjmall gsshop cjmallplus gsmyshop hnsmall lottemall lotteonetv hmall hmallplus" %}
        <link rel="stylesheet" href="{{ media }}/css/info_{{ item.genre2 }}.css?v=25">
        {% endif %}
        <div class='guide-pinch-zoom block-hide'><img src='{{ media }}/hsmoa/icon/pinchzoom.png'/></div>
        <div id="pinchZoom" >
            <div id="itemDetailHtml" class="{{ item.genre2 }}" style="">
                <div id="itemDetailLoading" class=" align-center"  >
                    <div class="c-darkgray font-13 spacing" style="padding: 30px;">아래로 스크롤하시면 상품정보를 보실 수 있습니다</div>
                    <button id="btDetailLoad" class="b-coolgray-1" style="margin: 0 auto; padding:10px 34px;border:1px solid #ddd; border-radius: 30px;">
                        상세정보 보기 <img src="{{ cdn_img }}/player_select.png" style="height: 7px !important; vertical-align: top; margin-top: 4px; margin-left: 4px;">
                    </button>
                </div>
                <div id="itemDetailHtmlOriginal" class="block-hide">
                    {% autoescape on %}
                        {{ item.detail_html }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div id="bt_detail_more" style="background: url('{{ media }}/hsmoa/gradient/whiteBottom.png') repeat-x 0 -2px; background-size: 1px 206px; height:200px; width:100%; position: absolute; top:1300px; left:0; z-index: 999; cursor: pointer;">
            <div style="height:136px"></div>
            <div class="align-center font-15 margin-12 b-coolgray-1" style="box-shadow:0 1px 3px rgba(0,0,0,0.1); border:1px solid #ddd; line-height: 38px; height:38px;">
                상세정보 더보기
                <img src="{{ cdn_img }}/player_select.png" style="height: 6px !important; vertical-align: top; margin-top:15px; margin-left: 3px;">
            </div>
            <div class="line-bottom"></div>
        </div>
    {% endif %}

    <div id="detailNoResult" class="block-hide align-center b-coolgray-1" style="padding: 195px 0; margin: 14px;border-radius: 3px;">
        <div class="c-gray-2 font-13">상품상세정보가 없습니다.</div>
    </div>
</div>

<div id="itemRecoEntity" class="block" style=" min-height: 200px;">

</div>



<div id="itemMoaweek" class="block block-hide" >

</div>


<div id="itemRecoQuery" class="block block-hide" >

</div>


<div style="height:44px;"></div>
{% if request.GET.f == '1' %}{% else %}
<!-- 하단 구매버튼 -->
<div class="item-bottom">
    <div class="display-table-fixed" style="height: 44px;">
    {% if item.is_soldout == 2 and item.live_status != 1 %}
        <div><button onclick="alert('생방송중에만 주문 가능합니다.')" class="bt-buy disable b-gray-4" >생방송 중 구매가능</button></div>
    {% elif item.is_soldout == 1 %}
        <div><button onclick="alert('품절된 상품입니다.')" class="bt-buy disable b-gray-4" >상품이 품절되었습니다</button></div>
    {% else %}
        {% if item.live_status == 1 %}
            {% if item.genre2 in "cjmall cjmallplus gsshop gsmyshop wshop ssgshop immall hnsmall shopnt bshop kshop lotteonetv lottemall" or re.result.genre2 == "hmallplus" %}
                <div style="width: 100px;"><button class="link-call"
                        url-path="callclick"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_ars"
                        data-flag="ars"
                        data-from="item">
                    <img src="{{ cdn_img }}/bt_ars.png" style=" vertical-align: top; width:90px; ">
                </button></div>
                <div style="width: 100px;"><button class="link-call"
                        url-path="callclick"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_call"
                        data-flag="call"
                        data-from="item">
                    <img src="{{ cdn_img }}/bt_call.png" style=" vertical-align: top; width:90px;">
                </button></div>
            {% elif item.genre2 == 'nsmall'%}
                <div style="width: 140px;"><button class="link-call"
                        url-path="callclick"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_ars"
                        data-flag="ars"
                        data-from="item"
                        style="height:44px;width:90px; border-right:1px solid #900000; background: #9d2027; border-radius: 0;">
                    <img src="{{ cdn_img }}/bt_ars.png" style=" vertical-align: top; width:90px;">
                </button></div>
            {% endif %}
        {% endif %}
        <div><button class="link-buy bt-buy b-red-2"
                 url-path="buyclick"
                 data-from="item"
                 data-entity_id="{{ item.id }}"
                 data-url="{{ item.url }}"
                 data-site="{{ item.genre2 }}"
                 data-cate="{{ item.cate1 }}"
                 data-price="{{ item.price }}"
                 data-live="{{ item.live_status }}"
                 data-test_id="hsmoa1918,buy_click">
            <span>{% if item.price < 9 %}상담신청{% else %}구매하기{% endif %}</span>
        </button></div>
    {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/hsmoa/jquery-migrate-1.4.1.min.js?v=7"></script>
<script type="text/javascript" src="{{ media }}/hsmoa/iscroll-zoom.js?v=2"></script>
<script src="{{ media }}/js/OwlCarousel2/dist/owl.carousel.min.js"></script>
<script>
    //상품 기본정보
    var Item = {
        entity_id : "{{ item.id }}",
        url : "{{ item.url }}",
        cate : "{{ item.cate1 }}",
        site : "{{ item.genre2 }}",
        price : "{{ item.price }}",
        program : "{{ item.program_name }}",
        img : "{{ item.img }}",
        name : "{{ item.name }}",
        date : "{{ item.date }}",
        startTime : "{{ item.start_time }}",
        live : "{{ item.live_status }}",
        status : "{{ item.status }}",
        like_id : 0,
        alarm_action_id : 0,
        alarm_id : "{{ request.GET.aid }}",
        crawl_id : "{{ item.crawl_id }}",
        f: "{{ request.GET.f }}" || "0",
        from : "{{ request.GET.from }}",
        flag : "{{ request.GET.flag }}",
        menu : "{{ request.GET.menu }}",
        is_ad : "{{ request.GET.is_ad }}",
        rank : "{{ request.GET.rank }}"
    };
    var $like = $(".bt-like");
    var shareTitle = "[{% autoescape off %}{{ item.genre2|get_genre }}] {{ item.name }}{% endautoescape %}";
    var shareDesc = "{{ item.price|intcomma }}원 \n {{ item.date|time_format:'ymd' }} {{ item.start_time }} 방송";
    var shareWebUrl = "http://hsmoa.com/i?id="+Item.entity_id;
    console.log("VIEW ITEMPAGE :", Item);

    sendStat("test/itemload/success", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site: Item.site, crawl_id:Item.crawl_id, test_id:"hsmoa1918,view_item"});

    $(function(){
        (function init(){
            // 섬네일 카로셀
            if( $("#swipe").length == 1 ){
                //$("#swipe").slick({autoplay: true, autoplaySpeed: 3000, dots:true});
                $("#swipe").owlCarousel({items:1, merge:true, loop:true, margin:0, center:true, autoplay:true, autoplayTimeout:3000});
            }

            // 상품상세정보 있을 때, 텍스트로 임시저장해두고 스크롤시 html화 하여 불러온다
            if($("#itemDetailHtml").length == 1){
                $.Fastclick($("#btDetailLoad"), itemDetailLoad);
                $(window).bind("touchmove scroll", itemDetailLoad);
            }else{
                $("#detailNoResult").show();
            }

            // 상품조회 저장
            sendApi("visit/save", {action:"entity", action_id:Item.entity_id, service:"tvshop", delay:false});
            // 상품조회 통계
            sendStat("viewitem", Item);

            //방송알람, 좋아요 기능
            sendApi("entity/userInfo", {"entity_id":Item.entity_id}, function (re) {
                if (re.success == true) {
                    Item.like_id = re.result.like_id;
                    Item.alarm_action_id = re.result.alarm_action_id;

                    if(Item.like_id > 0) $like.addClass("on");


                    if($("#alarm_event").length > 0){
                        //알람이벤트인 경우, 알람이벤트 작동
                        alarmEvent();
                    }
                }
                $.Fastclick($like, function(){
                    if( Item.like_id > 0){
                        sendApi("like/remove", {like_id:Item.like_id}, function(re){
                            Item.like_id = 0;
                            $like.removeClass("on");
                            sendStat("like/remove", $.extend({action: "entity"}, Item));
                        });
                    }else{
                        sendApi("like/save", {action: "entity", action_id:Item.entity_id, service:"tvshop", "score": 1}, function(re){
                            Item.like_id = re.result.data;
                            $like.addClass("on");
                            sendStat("like/save", $.extend({action: "entity"}, Item));
                            native_send_toast("상품을 찜하였습니다.");
                        });
                    }
                });
            });

            // url에 aid값이 있으면, 검색어알람 정보 가져오기
            if (Item.alarm_id > 0) {
                sendApi("alarm/getInfo", {"alarm_id": Item.alarm_id}, function (re) {
                    if(typeof re.result.name === 'string'){
                        $("#alarmKeywordInfo").prepend(re.result.name);
                        $("#alarmKeyword").data("query", re.result.name).show();
                    }
                });
            }

            // 아래로 스크롤 시 연관상품 + 연관키워드 로드
            $(window).bind("scroll", itemRecoEntity);

            //같은시간대 판매상품 불러오기
            setTimeout(function(){itemSametime();}, 100);

            //배너 공백 조절
            $(".banner").each(function(){
                if($(this).children("img").length==0){
                    $(this).remove();
                }
            });

            //편성취소된 상품
            if(Item.live == '2' && Item.status == '0'){
                //alert("방송 편성이 취소된 상품입니다.")
            }

            $(window).bind("touchmove scroll", tooltipCheck0);
            tooltipCheck(0);
        })();

        //툴팁이 노출되고 3초 후 사라지게
        function tooltipCheck(click){
            if(click) {
                $(window).unbind("touchmove scroll", tooltipCheck0);
                $("#moareview-tooltip").css("opacity", "0");
                $("#moareview-tooltippin").css("opacity", "0");
                setTimeout(function() {
                    $("#moareview-tooltip").css("visibility", "hidden");
                    $("#moareview-tooltippin").css("visibility", "hidden");
                }, 500);
            } else {
                var _scrollBottom = $(window).scrollTop() + $(window).height();
                if($("#itemDescription").offset().top < _scrollBottom) {
                    $(window).unbind("touchmove scroll", tooltipCheck0);

                    setTimeout(function() {
                        $("#moareview-tooltip").css("opacity", 1);
                        $("#moareview-tooltippin").css("opacity", 1);
                        setTimeout(function() {
                            $("#moareview-tooltip").css("opacity", 0);
                            $("#moareview-tooltippin").css("opacity", 0);
                            setTimeout(function() {
                                $("#moareview-tooltip").css("visibility", "hidden");
                                $("#moareview-tooltippin").css("visibility", "hidden");
                            }, 500);
                        }, 3500);
                    }, 400);
                }
            }
        }
        function tooltipCheck0(){
            tooltipCheck(0);
        }

        //상품 상세정보
        function itemDetailLoad(){
            if(tab == "Review") return;

            $(window).unbind("touchmove scroll", itemDetailLoad);
            $("#itemDetailLoading").remove();

            var _rawHtml = $("#itemDetailHtmlOriginal").text();
            //_rawHtml = _rawHtml.replace(/width=/gi, "widthold=").replace(/src="/gi, 'src="{{ thum }}/smart/').replace(/src='/gi, "src=\'{{ thum }}/smart/").replace(/smart\/\/\//gi, "smart/http://");
            $("#itemDetailHtml").html(_rawHtml);
            if ($("#itemDetailHtml").text().replace(/ /g,'').length < 10 && $("#itemDetailHtml").find("img").length == 0){
                //상품상세 html에서 텍스트가 10자 이하이고  img엘레먼트가 하나도 없으면 상품정보가 없는것으로 판단
                $("#itemDetailHtml").hide();
                $("#detailNoResult").show();
                return;
            }


            sendStat("item/detail_load", $.extend({type:"auto"}, Item), function(re){});

            $.Fastclick($("#bt_detail_more"), function(){
                $("#itemDescription").css("max-height", '');
                $("#bt_detail_more").hide();
                sendStat("item/detail_show", $.extend({type:"manual"}, Item), function(re){});
            });


            //var pz = new RTP.PinchZoom($("#itemDetailHtml"), {lockDragAxis:true, tapZoomFactor:1, maxZoom:2, minZoom:0.8});
            var pz = new IScroll("#pinchZoom", {
                zoom: true,
                scrollX: true,
                scrollY: true,
                eventPassthrough: false,
                preventDefault: false,
                lockDirection: false,
                bounce: false,
                zoomMax: 2.5
            });
            $(".guide-pinch-zoom").show();
        }


        //같은시간대 판매상품
        function itemSametime(){
            if(Item.f == 1 && is_android()){
                sendApi("rpc/entity/getSameTimeItemList", {skin:"hsmoa/skin/_item_sametime_grid", entity_id:Item.entity_id}, function(re){
                    $("#itemSametime").html(re).show();
                });
            }else{
                sendApi("rpc/entity/getSameTimeItemList", {skin:"hsmoa/skin/_item_sametime", entity_id:Item.entity_id}, function(re){
                    $("#itemSametime").html(re).show();
                });
            }
        }

        //연관 추천상품
        var isItemRecoEntity = true;
        function itemRecoEntity(){
            var _scroll = $(window).scrollTop();
            if(isItemRecoEntity){
                if( _scroll > 800 || $(document).height() - _scroll - 800 < $(window).height() ){ console.log(isItemRecoEntity);
                    isItemRecoEntity = false;
                    sendApi("rpc/entity_reco/getList", {skin:"hsmoa/skin/_item_reco_entity", entity_id: Item.entity_id, num:6}, function(re){
                        if(re.length > 100){
                            $("#itemRecoEntity").html(re);
                        }else{
                            $("#itemRecoEntity").hide();
                            sendStat("item/recoentity/noresult", {entity_id: Item.entity_id, live: Item.live, cate: Item.cate}, function(re){});
                            $(window).unbind("scroll", itemRecoEntity);
                        }
                    });
                    sendApi("rpc/goods_query_info/getList", {skin:"hsmoa/skin/_item_reco_query", goods_id: Item.entity_id}, function(re){
                        if(re.length > 100){
                            $("#itemRecoQuery").html(re).show();
                        }else{
                            $("#itemRecoQuery").hide();
                        }
                    });

                    //모아위크 상품 불러오기
                    //itemMoaweek();
                }
            }else{
                // 실제로 눈에 보여질 때 통계
                if( $("#itemRecoEntity").offset().top < _scroll + $(window).height()-100 ) {
                    $(window).unbind("scroll", itemRecoEntity);
                    sendStat("item/recoentity/show", {entity_id: Item.entity_id, live: Item.live, cate: Item.cate}, function(re){});
                }
            }
        }

        function itemMoaweek() {
            sendApi("rpc/tvshop/timeline/getList", {
                skin: "hsmoa/skin/_item_reco_moaweek",
                version: ApiVersion,
                date: "{{ datetime|slice:'0:8' }}",
                genre2: "{{ is_allinweek.genre2_list }}"
            }, function (re) {
                if (re.length > 100) {
                    $('#itemMoaweek').html(re);
                    var maxItemNum = Math.ceil($(window).width()/150);
                    $('#itemMoaweek item').each(function(i){
                        if(i >= maxItemNum) $(this).remove();
                    });
                    $('#itemMoaweek').show();
                }
            });
        }

        //상품상세 리뷰

        <!-- 상품상세 리뷰 스크립트 -->
        var reviewDict = {
            "gsshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "gsmyshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "hnsmall": ["http://m.hnsmall.com/goods/comment/######/0"],
            "lottemall": ["http://m.lotteimall.com/goods/searchGdasListAjax.lotte?pageIdx=1&rowsPerPage=10&goods_no=######"],
            "ssgshop" : ["http://m.shinsegaetvshopping.com/comment/list-html?goodsCode=######"],
            //"shopnt" : ["https://www.shoppingntmall.com/comment/list-html?goodsCode=######"], 쇼핑앤티 리뷰가 너무 적어 일단 퇴출
            "cjmall" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"],
            "cjmallplus" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"]
        };
        var reviewParam = {};
        var tab = "Description";
        var jsonList = ["ssgshop", "shopnt", "cjmall","cjmallplus"];
        if (!reviewDict[Item.site] || Item.cate == "보험") {
            $('#tab_review').hide();
        }
        $("#itemMenu").show();
        // 탭 전환
        $.Fastclick($(".nav-tab"), function () {
            $('#item' + tab).hide();
            tab = $(this).data('tab');
            $(".nav-tab").removeClass("on");
            $(this).addClass("on");
            $('#item' + tab).show();

            if(tab == "Review") load_review();
            else if(tab == "MoaReview") load_moareview();
        });

        function load_review() {
            if ($("#itemReview").text().length > 100) return;

            $("#reviewLoading").show();

            for (var i = 0; i < reviewDict[Item.site].length; i++) {
                var _url = reviewDict[Item.site][i].replace(/######/, Item.crawl_id);
                if (jsonList.indexOf(Item.site) >= 0){
                    reviewParam = {skin: "hsmoa/skin/_item_review", genre2:Item.site , url: _url}
                } else {
                    reviewParam = {url: _url}
                }
                $.get("/review/load", reviewParam, function(re){
                    if (re == "fail" || re.length < 1500) {
                        $("#itemReview").html("<div class='align-center padding-12 c-gray-4'><br/><br/>등록된 상품평이 없습니다.<br/><br/></div>");
                        $("#reviewLoading").hide();
                        sendStat("reviewload/fail", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site:Item.site, crawl_id:Item.crawl_id}, function () {});
                    } else {
                        $("#itemReview ").delay(i * 1000).append(re);
                        $("#itemReview img.lazy").each(function (i) {
                            $(this).attr("src", $(this).attr("data-original"))
                        });
                        $("#review_loading").hide();
                        sendStat("reviewload/success", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site: Item.site, crawl_id:Item.crawl_id}, function () {});
                    }
                });
            }
        }

        function load_moareview() {
            if ($("#itemMoaReview").text().length > 50) return;
            tooltipCheck(1);

            // 테스트라 하드코딩
            var sunstick_moareview = '<div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524017039_4a47a0db6e60853dedfcfdf08a5ca249.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524017048_fb5c81ed3a220004b71069645f112867.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="video" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-edit" data-type="video" style="">' +
                '            <iframe height="auto" src="http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=54D7AFE9ED12D0D81260E02F448C29271F60&amp;outKey=V124c0f2fef1dd9bed94b2569735145bf881641f1f794b5581e4a2569735145bf8816&amp;controlBarMovable=true&amp;jsCallable=true&amp;isAutoPlay=false&amp;skinName=tvcast_white\' frameborder=\'no\' scrolling=\'no\' marginwidth=\'0\' marginheight=\'0\' WIDTH=\'544" frameborder="0" allowfullscreen="yes" style="width:100%; height:auto; min-height:320px; margin-top:40px;"></iframe>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524017460_10fb15c77258a991b0028080a64fb42d.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="box-shadow: none;">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524018642_602e8f042f463dc47ebfdf6a94ed5a6d.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524018482_9eb9cd58b9ea5e04c890326b5c1f471f.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="video" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-edit" data-type="video" style="">' +
                '            <iframe height="auto" src="http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=4D8ACBB01211E79EE0FD59EC57F3532C683A&amp;outKey=V1212df7c4aa23b547269bbc72b7a66561cb93563076f78cd9b12bbc72b7a66561cb9&amp;controlBarMovable=true&amp;jsCallable=true&amp;isAutoPlay=false&amp;skinName=tvcast_white\' frameborder=\'no\' scrolling=\'no\' marginwidth=\'0\' marginheight=\'0\' WIDTH=\'544\'" frameborder="0" allowfullscreen="yes" style="width:100%; height:auto; min-height:320px; margin-top:40px;"></iframe>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524017782_f19c9085129709ee14d013be869df69b.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/18/1524013863_8266e4bfeda1bd42d8f9794eb4ea0a13.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/17/1523955117_09dd8c2662b96ce14928333f055c5580.png">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div><div class="sim-row ui-draggable" data-id="5" style="position: relative; left: 0px; top: 0px;">' +
                '        <div class="sim-row-content2">' +
                '            <div class="sim-row-content2 sim-row-edit" data-type="image" style="">' +
                '                <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2018/04/17/1523955369_68661f2cfe6baf6a4a914de26d319bc0.jpg">' +
                '            </div>' +
                '        </div>' +
                '    <div class="sim-row-delete"><i class="fa fa-times"></i></div></div>';

            $("#itemMoaReview").html(sunstick_moareview);
            sendStat("test/moareviewload/success", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site: Item.site, crawl_id:Item.crawl_id, test_id:"hsmoa1918,moareview_load"});
        }

        //공유
        $.Fastclick($(".sms"), function(){
            sendStat("share/item", {cate:"sms", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.sms({
                    num: '',
                    msg: shareTitle + " \n"+ shareWebUrl+"&from=share_sms"
                });
            });
        });
        $.Fastclick($(".facebook"), function(){
            sendStat("share/item", {cate:"facebook", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.facebook(shareWebUrl+"&from=share_facebook");
            });
        });
        $.Fastclick($(".kakaostory"), function(){
            sendStat("share/item", {cate:"kakaostory", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.kakaostory({
                    url: shareWebUrl+"&from=share_kakaostory",
                    text: shareTitle + "\n\n" + shareDesc
                });
            });
        });
        $.Fastclick($(".kakaotalk"), function(){
            sendStat("share/item", {cate:"kakaotalk", query: Item.name, price: Item.price, entity_id: Item.entity_id, from:$(this).data('from')}, function(){
                $.Share.kakaotalk({
                    templateId: 5968,
                    templateArgs:{
                        imageUrl: Item.img,
                        title: shareTitle,
                        description: shareDesc,
                        buttonTitle: '상품보기',
                        iosScheme:"shoppingmoa://next_url=http://o.buzzni.com/hsmoa/item?entity_id="+Item.entity_id+"&from=share_kakao",
                        androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://o.buzzni.com/hsmoa/item?entity_id="+Item.entity_id+"&from=share_kakao",
                        iosMarket:"",
                        androidMarket:"referrer=share_kakao_"+User.id+"_item_"+Item.entity_id,
                        desktopUrl:"i?from=share_kakao&id="+Item.entity_id
                    },
                    installTalk:true
                });
            });
        });

    });
</script>
{% endblock %}