{% load filters %}

<!-- 썬스틱 모아리뷰 배너 -->
<div class="align-center link-service" url-path="native/trends/info" data-board_id="1343402" data-from="search_result" data-test_id="hsmoa1918,search_banner_click" style="margin-top: 10px;background:#f89f18;">
    <img src='{{ thum }}/smart/https://i.imgur.com/8nIHSRO.png' style="width:86%; margin:3px auto; "/>
</div>

<!-- 방송상품 결과 없음 -->
<div id="no_result_tvshop" class="align-center b-coolgray-1  c-gray-3" style="display: none;margin:0 0 10px;box-shadow: 0 0 1px #ccc; font-size: 15px; line-height: 1.3em; padding: 20px 0;">
    <div>편성된 <span class="">방송상품</span>이 없습니다.</div>
</div>

<!-- 방송상품 검색결과 -->
<div id="tvshop_block" class="block-hide" style="background: none; margin: 4px 0 0 !important;">
    <div class="title strong display-table-fixed" style="padding:7px 10px; ">
        <div id="bt_tvshop" class="link-service strong c-gray-5 tvshop-title table-cell align-middle "
                url-path="search/timeline"
                data-query="{{ query }}"
                data-from="search_more_top"
                style="width: 130px;font-size: 15px; text-align:left;">
            <img src="{{ media }}/hsmoa/button/search_timeline_text.png" style="height: 15px; vertical-align:middle; margin:0 0 0 0;">
        </div>
        <!-- 검색어알람 -->
        <div class="alarm-keyword bt-alarm b-white block-hide" alarm_id="0" data-query="{{ query }}">
            <img src="{{ thum }}/http://cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm_black.png"/>
            <span>"{{ query }}</span><span>"</span>
        </div>
    </div>
</div>

<script>
    //방송상품 불러오기
    var $tvshop_block = $("#tvshop_block");
    function loadTvshopResult(source){
        sendApi("rpc/search/tvshopSearch", {skin: "hsmoa/skin/_search_result_tvshop", page:1, num:20, query: Search.query, source:source}, function(re){
            if(re.length>400){
                $tvshop_block.append(re);
                $tvshop_block.find(".tvshop-title").data("tab", source);
                $tvshop_block.before($("#fixquery"));
                $tvshop_block.show();
                sendStat("searchTimeline/show", {query: Search.query, type: source, from: User.from});

            }else if(source=='future'){
                //방송예정이 없으면, 이전방송 불러온다.
                loadTvshopResult('past');
            }else{
                //방송예정, 이전방송이 없을 시
                if (re.length>100){
                    // 대체어가 있으면 대체어 보여주기
                    $("#relate_query").after(re);
                } else {
                    // 대체어 마저도 없다면..
                    $("#no_result_tvshop").show();
                }
                sendStat("searchTimeline/noresult", {query:Search.query, type:source, from:User.from});
            }

            //전체방송상품 불러오기
            initScroller();
        });
    }

    sendStat("test/searchSunstick", {query:Search.query, type:source, from:User.from, test_id:"hsmoa1918,search_sunstick"});
</script>