<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
		<title>{% if title %}{{ title }}{% else %}{{request.GET.title}}{% endif %}</title>
        {% block opengraph %}{% endblock %}
        <script type="text/javascript" src="{{ media }}/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript">
		if (typeof jQuery == 'undefined') { document.write('<script type="text/javascript" src="' + "{{ media }}/js/jquery-1.11.0.min.js?v="+ Math.floor(Math.random() * 1000) + '"></scr' + 'ipt>'); }
        var user_id = "{{request.session.user.id}}";
		var user_token = "{{request.session.user.token}}";
        if( user_id == "" ){
            user_id = "{{ request.META.HTTP_XID }}";
            user_token = "{{ request.META.HTTP_TOKEN }}";
        }
        if( user_id == "" ){
            user_id = "{{ request.GET.xid }}";
            user_token = "{{ request.GET.token }}";
        }
        var app_version = "{{ request.session.device.app_version }}";
        var service ="tvshop"
        </script>
        {% block css_core %}<link rel="stylesheet" href="{{ media }}/css/mobile.css?v=3">
    <link href="/media/css/tvshop_app.css?v=10" rel="stylesheet">{% endblock %}
		{% block css_basic %}{% endblock %}
		{% block css %}{% endblock %}
    </head>
	<body>
        {% block container %}{% endblock %}
        {% block js_core %}{% endblock %}
        {% block js_basic %}{% endblock %}
		{% block js %}{% endblock %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46031772-1', 'auto');
          ga('send', 'pageview');
          ga('set', '&uid', user_id);
        </script>
	</body>
</html>
