{% extends "tvshop/__basic.html" %}
{% block container %}
    <style>
        .list-event {background: #fff; box-shadow: 0 0 2px #ccc; margin:14px 10px;}
        .list-visit { margin: 7px 9px; background: #ffffff; height:140px; position: relative;}
        .list-visit .listbox { display: block}
        .list-visit .thum {width:140px; }
        .list-visit .thum img {width:140px;}
        .list-visit .logo { height:22px;margin-top:-4px; }
        .list-visit .title { font-size:16px; color:#000; line-height:21px;height:40px; overflow:hidden; word-break:break-all;}
        .list-visit .price { margin-top: 20px;font-weight: 500; }
        .list-visit .price .sale { font-size:12px;  }
        .list-visit .price .num { font-size:16px;  }
        .bt-close {padding:6px 8px;width:22px;height:22px;}
        .bt-close:before {display:block; content:"";border:1px solid #ddd;border-radius:20px;width:22px;height:22px;background: url("{{ img }}/ic_close.png"); background-size: 22px 22px;}
        .tag { border:1px solid #ccc; background: none; border-radius: 12px; height:24px;padding:0 8px; min-width: 24px;}
        .outlink { position: fixed; width: 100%; height:100%; background: #f5f5f5; z-index: 999999; left:0; top:0; text-align: center;}
        .datemark {text-align: center; font-size: 13px;  border-bottom:2px solid #94a7bc; margin:14px auto 8px auto; width: 140px;height:16px; line-height:16px; padding:3px 7px; color: #3f90e9; font-weight:bold; letter-spacing: -1px;}
    </style>
    <div id="container">
        {% block tab %}{% endblock %}
        {% block list_start %}{% endblock %}
        {% block list_scroll %}
            <div id="list_scroll" ></div>
            <div id="scroll_start" class="align-center padding-9 clear">
                <img src="{{ img }}/scroll_start.gif" style="height:9px;"/>
            </div>
            {% block list_scroll_end %}
                <div id="scroll_end" class="align-center padding-9 block-hide clear">
                    <img src="{{ img }}/scroll_end.png" style="height:7px;"/>
                </div>
            {% endblock %}
        {% endblock %}
        {% block list_end %}
        {% endblock %}
    </div>
{% endblock %}
{% block js_core %}
    <script type="text/javascript" src="{{ media }}/js/list.js?v=8"></script>
    <script type="text/javascript" src="{{ media }}/js/native.js"></script>
    <script type="text/javascript">
        var searchSource = '';
        //native-검색창추천값
        function reco_keyword() {
            ajax_json("reco/recoQuery",{}, function (re) {
                if(re.success){
                    if ( re.result.query ) {
                        searchSource = re.result.source;
                        native_search_text("인기 '" + re.result.query + "'");
                    }
                }
            });
        }
        //native-검색버튼클릭시 실행
        function view_search(query, from) {
            var _url = "";
            if (query == '' || query == undefined) {
                _url = "/tvshop/search?title=검색&use_nav_search=true";
            } else {
                _url = "/tvshop/search/result?title=검색결과&use_nav_search=true&tabbar=hide&query=" + query;
            }
            if (from == '' || from == undefined) {
            } else {
                _url = _url + "&from=" + from;
            }
            location_href(_url);
        }

        //native-이벤트 바로가기 기능
        function view_event(event, date, from) {
            var _url = "";

            if (event == '' || event == undefined ) {
                _url = "/event/allinweek?date=20151109";
            } else {
                _url = "/event/" + event + "?date=" + date;
            }
            if (from == '' || from == undefined) {
            } else {
                _url = _url + "&from=" + from;
            }
            location_href(_url);
        }

        //native-검색키워드클릭시 실행
        function onNavigationSearch(info) {
            var _info = info.split("'");
            var _query = _info[1];
            if (_query) {
                setTimeout("view_search('" + _query + "','navigation_recoquery&source="+searchSource+"')", 11);
            } else {
                _query = _info[0];
                setTimeout("view_search('" + _query + "','navigation_query')", 11);
            }
        }
        //native-검색버튼클릭시 실행
        function view_search_category(ncate1, ncate2, ncate3, ncate1_id) {
            location_href("/tvshop/search/result?title=카테고리&from=category&use_nav_search=true&tabbar=hide&ncate1=" + ncate1+"&ncate2=" + ncate2+"&ncate3=" + ncate3+"&ncate1_id=" + ncate1_id);
        }

        function check_scroll(){
            if (scroll_start == false) {
                if (scroll_end == false) {
                    if ($(window).scrollTop() + $(window).height() > $(document).height() - 88) {
                        list_scroll();
                    }
                }
            }
        }







        //
        $(function() {
            //검색클릭
            $("#search_submit").submit(function(event) {
                event.preventDefault();//클릭시 페이지 이동방지
                var _query = $("#query").val();
                if (_query == ""){
                    alert('검색어를 입력해주세요.');
                } else {
                    location_href("/tvshop/search/result?title=검색결과&query="+_query);
                }
            });
        });

        //상품구매
        function buy_click(url, entity_id, site, price, cate, from, live){
            if (url){
                ajax_get("/stat/buyclick",{"entity_id":entity_id, "site":site, "price":price, "cate":cate, "from":from, "live":live}, function (re) {
                    location_outlink(url);
                });
            } else {
                native_send_toast("해당 상품은 생방송 중에 주문가능합니다");
            }
        }
        //검색클릭
        function search_click(url, site, price, from, query, rawquery, is_ad, goods_id, rank){
            //$(".outlink").fadeIn(200).delay(1300).fadeOut(0);
            //setTimeout(function(){
            ajax_get("/stat/searchclick",{"url":url, "site":site, "price":price, "from":from, "query":query, "rawquery":rawquery, "is_ad":is_ad, "id":goods_id, "rank":rank }, function (re) {
                location_outlink(url);
            });
            //}, 1400);
        }
        //상품클릭
        function item_click(entity_id, site, price, cate, from, live, entity_name, entity_img, org_price) {
            if(entity_id > 0) {
                location_href("/item?entity_id=" + entity_id + "&site=" + site + "&price=" + price + "&cate=" + cate + "&from=" + from + "&live=" + live + "&entity_name=" + entity_name + "&entity_img=" + entity_img + "&org_price=" + org_price + "&nav=hide&tabbar=hide&title=상품정보");
            } else {
                if(confirm("해당 상품은 전화구매만 가능합니다. 전화하시겠습니까?")){
                    call_click(site, 'ars', from);
                }
            }
        }
        //상품클릭-레이어용
        function item_click_layer(entity_id, site, price, cate, from, live, entity_name, entity_img, org_price) {
            native_close_layer("item_"+entity_id+"_"+site+"_"+price+"_"+cate+"_"+from+"_"+live+"_"+entity_name+"_"+entity_img+"_"+org_price);
        }
        //알림설정
        function alarm_set(id, title, img, site, from){
            var alarm_id = $('#alarm_'+id).attr("alarm_id");
            if (alarm_id > 0) {
                alarm_action_remove("entity", id, alarm_id);
            } else {
                native_show_layer('/tvshop/alarm?entity_id='+id +'&title='+title +'&img='+img +'&site='+site +'&from='+from);
            }
        }
        //알림키워드
        function alarm_keyword(id, keyword, from, flag) {
            var alarm_id = $('#alarm_' + id).attr('alarm_id');
            if (alarm_id > 0) {
                alarm_remove(id, alarm_id);
            } else {
                native_show_layer('/tvshop/alarm?alarm_id='+id +'&keyword='+ encodeURIComponent(keyword) +'&flag='+flag +'&from='+from);
            }
        }
        function alarm_remove(id, alarm_id){
            if (confirm("취소하시겠습니까?")){
                $('#alarm_'+id).attr("disabled", "disabled");
                ajax_json("alarm/remove", { "alarm_id": alarm_id}, function (re) {
                    if (re.success == true) {
                        $("#list_"+alarm_id).hide();
                        $('#alarm_'+id).attr("src",'{{ img }}/list_alarm_off.png');
                        $('#alarm_'+id).removeClass('on').addClass('off').attr("alarm_id",'0');
                        $("#alarm_num").text( $("#alarm_num").text() - 1 );
                        native_send_toast("알림을 취소하였습니다.");
                        list_check();
                    } else {
                        native_send_toast(re.msg);
                    }
                    $('#alarm_'+id).removeAttr("disabled");
                });
            }
        }
        function alarm_action_remove(action, id, alarm_id){
            if (confirm("취소하시겠습니까?")){
                $('#alarm_'+id).attr("disabled", "disabled");
                ajax_json("alarm_action/remove", { "alarm_action_id": alarm_id}, function (re) {
                    //alert(JSON.stringify(re));
                    if (re.success == true) {
                        $("#list_"+alarm_id).hide();
                        $('#alarm_'+id).attr("src",'{{ img }}/list_alarm_off.png');
                        $('#alarm_'+id).removeClass('on').addClass('off').attr("alarm_id",'0');
                        $("#alarm_action_num").text( $("#alarm_action_num").text() - 1 );
                        native_send_toast("알림을 취소하였습니다.");
                        list_check();
                    } else {
                        native_send_toast(re.msg);
                    }
                    $('#alarm_'+id).removeAttr("disabled");
                });
            }
        }
        //액션저장
        function visit_save(action, action_id){
            ajax_json("visit/save", { "action": action, "action_id": action_id, "service": "tvshop", "delay": false}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re.result));
                } else {
                    //native_send_toast(re.msg);
                }
            });
        }
        function visit_remove(action, action_id, visit_id){
            if (confirm("취소하시겠습니까?")){
                ajax_json("visit/remove", { "visit_id": visit_id}, function (re) {
                    if (re.success == true) {
                        //alert(JSON.stringify(re));
                        $("#list_"+visit_id).hide();
                        $("#visit_num").text( $("#visit_num").text() - 1 );
                        list_check();
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }
        }
        function keyword_remove(id){
            $('#keyword_'+id+'_bt').attr("disabled", "disabled");
            ajax_json("keyword/remove", { "keyword_id": id, "service": "tvshop"}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    $("#list_"+id).hide();
                    list_check();
                } else {
                    native_send_toast(re.msg);
                }
                $('#keyword_remove_bt').removeAttr("disabled");
            });
        }
        function remove_all(action){
            var comment = {"keyword":"최근 검색어를",
                "alarm":"검색어 알람을",
                "alarm_action":"생방송 알람을",
                "visit":"조회한 상품을",
                "like": "찜한 상품을"};
            if(confirm( comment[action] + " 전체 삭제하시겠습니까?")){
                ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
                    if (re.success == true) {
                        //alert(JSON.stringify(re));
                        list_reset();
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }
        }
        //이벤트클릭
        function event_click(site, from) {
            var _url = '';
            if (site == 'gsshop'){
                _url = 'http://m.gsshop.com/jsp/jseis_withLGeshop.jsp?media=LAr&gourl=http://m.gsshop.com/event/apply_tv.jsp';
            } else if (site == 'cjmall'){
                _url = 'http://mw.cjmall.com/m/shop/planshop/plan_shop.jsp?shop_id=2013111471&app_cd=HMOATV';
            } else if (site == 'lottemall'){
                if(from == "item_info"){
                    alert("보험, 육아, 도서, 여행상품은 할인쿠폰 적용이 안될 수 있습니다.");
                }
                _url = 'http://m.lotteimall.com/multiEvent/multiExpandedEventMain.lotte?mno=L044812';
            } else if (site == 'hnsmall'){
                _url = 'http://m.hnsmall.com/event/view/201501/a1?trackingarea=60000020^8005013^1028586';
            } else if (site == 'hmall'){
                _url = 'http://m.hyundaihmall.com/front/etEventDispViewR.do?EventNo=00046545&pReferCode=m20&pTcCode=0000000m20';
                //http://m.hyundaihmall.com/front/etEventDispViewR.do?EventNo=00046545&pReferCode=m20&pTcCode=0000000m20
                //http://m.hyundaihmall.com/front/etEventDispViewR.do?EventNo=00046439&pReferCode=m20&pTcCode=0000000m20
            } else if (site == 'nsmall'){
                _url = 'http://m.nsmall.com/mjsp/site/gate.jsp?co_cd=481&target=%2FNSTVEvent';
            }
            ajax_get("/stat/eventclick",{"site":site, "from":from}, function (re) {
                location_outlink(_url);
            });
        }

        //광고클릭
        function ad_click(url, site, from){

            ajax_get("/stat/adclick",{"site":site, "from":from}, function (re) {
                location_outlink(url);
            });
        }

        function location_outlink_stat(url, info) {
            ajax_get("/stat/outlink",{"flag":info}, function (re) {
                var ran = "tvshop" + Math.floor(Math.random() * 1000000);
                if (is_android_app() || is_ios_app()) {
                    var trigger = "<a href='/out/link?url=" + url + "'><input class='block-hide' id='" + ran + "' /></a>";
                    $("body").append(trigger);
                    $("#" + ran).trigger("click");
                } else {
                    location.href = url;
                }
            });
        }
        //좋아요
        function like_save(action, action_id){
            var like_id = $('#like_'+action+"_"+action_id+"_bt").attr('like_id');
            if ( like_id > 0  ){
                like_remove(action, action_id, like_id);
            } else {
                $('#like_'+action+"_"+action_id+"_bt").attr("disabled", "disabled");
                ajax_json("like/save", { "action": action, "action_id": action_id, "service": "tvshop", "score": 1}, function (re) {
                    if (re.success == true) {
                        //alert(JSON.stringify(re));
                        $('#like_'+action+"_"+action_id+"_bt").removeClass("off").addClass("on").attr('like_id', re.result.data);
                        $('#like_'+action+"_"+action_id+"_num").text($("#like_"+action+"_"+action_id+"_num").text()-(-1));
                        if(action=="entity"){
                            native_send_toast("상품을 찜하였습니다.");
                        }else{
                        }
                    } else {
                        native_send_toast(re.msg);
                    }
                    $('#like_'+action+"_"+action_id+"_bt").removeAttr("disabled");
                });
            }
        }
        function like_remove(action, action_id, like_id){
            $('#like_' + action + "_" + action_id + "_bt").attr("disabled", "disabled");
            ajax_json("like/remove", {"like_id": like_id}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    $("#list_" + like_id).hide(200);
                    $('#like_' + action + "_" + action_id + "_bt").removeClass("on").addClass("off").attr('like_id', '0');
                    $('#like_' + action + "_" + action_id + "_num").text($("#like_" + action + "_" + action_id + "_num").text() - 1);
                    $("#like_num").text($("#like_num").text() - 1);
                } else {
                    native_send_toast(re.msg);
                }
                $('#like_' + action + "_" + action_id + "_bt").removeAttr("disabled");
            });
        }

        //생방송전화
        function call_click(site, type, flag) {
            var call_num = '';
            if (site == 'gsshop') {
                if (type == 'call') {
                    call_num = '0809974545';
                } else {
                    call_num = '0809984545';
                }
            } else if (site == 'cjmall') {
                if (type == 'call') {
                    call_num = '0800005504';
                } else {
                    call_num = '0800005503';
                }
            } else if (site == 'lottemall') {
                if (type == 'call') {
                    call_num = '0802205252';
                } else {
                    call_num = '0803205252';
                }
            } else if (site == 'hmall') {
                if (type == 'call') {
                    call_num = '0800000000';
                } else {
                    call_num = '0808000000';
                }
            } else if (site == 'nsmall') {
                if (type == 'call') {
                    call_num = '0808507700';
                } else {
                    call_num = '0808947700';
                }
            } else if (site == 'hnsmall') {
                if (type == 'call') {
                    call_num = '0808001111';
                } else {
                    call_num = '0808501111';
                }
            }
            ajax_get("/stat/callclick",{"site":site, "type":type, "from":call_num, "flag": flag}, function (re) {
                window.location = 'tel:'+call_num;
            });
        }


        //앱 업데이트
        function confirm_update(){
            if(confirm("훨씬 빨라진 홈쇼핑모아를 만나보세요!\n확인 누르고 업데이트 꾹!")){
                if(is_android_app()) {
                    ajax_get("/stat/app_update", {"from": app_version, "type":"confirm"});
                    var url = "market://details?id=com.buzzni.android.subapp.shoppingmoa&referrer=update" ;
                    location_outlink(url);
                }else if(is_ios_app()){
                    ajax_get("/stat/app_update", {"from": app_version, "type":"confirm"});
                    var url = "itms://itunes.apple.com/kr/app/homsyopingmoa/id616581116?mt=8";
                    location_outlink(url);
                }else{
                    ajax_get("/stat/app_update", {"from": app_version, "type":"confirm"});
                    var url = "https://play.google.com/store/apps/details?id=com.buzzni.android.subapp.shoppingmoa&referrer=update";
                    location_outlink(url);
                }
            }else{
                ajax_get("/stat/no_update", {"from": app_version});
            }
        }

        function go_market(){
            var confirm = confirm('새 버전으로 업그레이드 하셔야 합니다.\n 앱스토어로 이동하시겠습니까?');
            if(confirm == true){
                location.href="http://hsmoa.kr/ab?menu=old_version&xid="+user_id;//market
            }
        }
    </script>
{% endblock %}
