{% extends "tvshop/_list.html" %}
{% block tab %}
    <div class="margin">
        <div class="padding b-white radius">
            <div class="clear-9"></div>
            <span class="font-13" style="margin-left:12px;color:#be1244;">글쓰기</span>
            <div class="clear-5"></div>
            <div class="margin-9">
                <input type="text" value="{{ re.result.title }}" id="title"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="제목을 입력해주세요"/>
                <div class="clear-9"></div>
                <textarea id="content" style="border:1px solid #ddd;width:96%;padding:5px;height:150px;"
                          placeholder="내용을 입력해주세요">{{ re.result.content }}</textarea>
                <div class="clear-5"></div>
                <div class="align-right">
                    <button class="bt-red" id="board_save" onclick="board_save();">완료</button>
                </div>
                <div class="clear-9"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var cate = "{{ request.GET.cate }}"; if (cate == "") cate = "opn";
    var board_id= "{{ re.result.id }}";

    function list_scroll() {
        list_end();
    }
    function board_save() {
        var title = $("#title").val();
        var content = $("#content").val();
        if (title == "") {
            native_send_toast("제목을 입력해주세요");
            $('#title').focus();
        } else if (content == "") {
            native_send_toast("내용을 입력해주세요");
            $('#content').focus();
        } else {
            $("#board_save").attr("disabled", "disabled").text("처리중...");
            if (board_id > 0){
                ajax_json('board/update', {"fld": "title", "value": title, "board_id": board_id}, function (re) {
                    ajax_json('board/update', {"fld": "content", "value": content, "board_id": board_id}, function (re) {
                        if (re.success == true) {
                            native_send_toast("완료하였습니다");
                            setTimeout("native_move_back('1,true')", 999);
                        } else {
                            native_send_toast(re.msg);
                            $("#board_save").removeAttr("disabled").text("완료");
                        }
                    });
                });
            } else {
                ajax_json('board/save', {"title": title, "content": content, "cate": cate, "service": service}, function (re) {
                    if (re.success == true) {
                        native_send_toast("완료하였습니다");
                        setTimeout("native_move_back('1,true')", 999);
                    } else {
                        native_send_toast(re.msg);
                        $("#board_save").removeAttr("disabled").text("완료");
                    }
                }, '', 'POST');
            }
        }
    }
    function upload() {
        //check_status('board_save()');
        board_save();
    }
</script>
{% endblock %}
