{% extends "tvshop/_list.html" %}
{% load filters %}
{% block css %}
    <style> body {background: #fff}</style>
{% endblock %}
{% block tab %}
    {% if request.GET.from == "layer" %}
    <a href="javascript:native_close_layer('close');" class="position-fixed z-index right-7 top-7" style=" background: #fff; border-radius: 30px;opacity:0.9; border:1px solid #eee;">
        <img src="{{ img }}/popup_close.png" class="padding-9" style="height:16px; "/>
    </a>
    {% else %}
        <div class="padding b-white" >
            <div class="display-table">
                <div class="table-cell align-center" style="width:60px;">
                    <div class='clear-5'></div>
                    <a href="javascript:show_user('{{ re.result.user_id }}','board');">
                        <img class="b-white" style='height:40px;border-radius:30px;border:1px solid #eee;' src="{{ thum }}/240x240/{% if re.result.user.img %}{{re.result.user.img}}{% else %}{{ cdn_img }}/nocamera.png{% endif %}"/>
                    </a>
                    <div class='clear-3'></div>
                </div>
                <div class="table-cell" style="line-height:16px;">
                    <div class="clear-9"></div>
                    <div class="font-14 c-dark spacing overflow " style="line-height:16px;max-height:32px;">{{ re.result.title }}</div>
                    <div class="clear-3"></div>
                    <span class="c-cyan font-11">
                        {% if re.result.user.nickname %}{{ re.result.user.nickname }}{% else %}손님{% endif %}
                    </span>
                {% if re.result.cate != "notice" and re.result.cate != "faq" %}
                    <span class="c-gray font-11 margin-left">{{ re.result.create_date|get_string|slice:'4' }}-{{ re.result.create_date|get_string|slice:'4:6' }}-{{ re.result.create_date|get_string|slice:'6:8' }}
                        {{ re.result.create_date|get_string|slice:'8:10' }}:{{ re.result.create_date|get_string|slice:'10:12' }}작성</span>
                {% endif %}
                </div>
                <div class="table-cell-9"></div>
            </div>
        </div>
    {% endif %}
        <div class="b-white padding-0">
                <div class="" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
                    <div class="font-14 margin padding-9" style="line-height:20px;min-height:180px; -webkit-user-select:auto;">

                            {% autoescape off %}{{ re.result.content|linebreaksbr }}{% endautoescape %}
                            {% if re.result.img_list %}
                            {% for img in re.result.img_list %}
                                <img src='http://thum.buzzni.com/unsafe/640x0/smart/{{ img }}' id='user_img_id_{{forloop.counter}}' style="width:100%;margin:9px 0;"/>
                            {% endfor %}
                            {% endif %}

                    </div>
                    {% if request.session.user.id == re.result.user_id or request.session.user.id == "E3lwdxbBug" %}
                        <div class="align-right margin-9">
                        {% if re.result.cate == "notice" %}
                            <a href="/tvshop/event/save?title=수정하기&btn=upload&tabbar=hide&board_id={{ re.result.id }}"
                                    class=" align-center c-green" onclick="" style="font-size:12px; margin-left: 7px; padding:6px ;"> 수정 </a>
                            <a href="/tvshop/event/save?title=수정하기&btn=upload&board_id={{ re.result.id }}">
                                <img src='{{ img }}/mini_modify.png' class="padding block-hide" style="height:16px; padding:3px;"/>
                            </a>
                        {% elif re.result.cate == "review" %}

                            {% if agent == "android" %}
                            <a href="/tvshop/review/save?title=수정하기&btn=uploadgtvd&tabbar=hide&board_id={{ re.result.id }}"
                                    class=" align-center c-green" onclick="" style="font-size:12px; margin-left: 7px; padding:6px ;"> 수정 </a>
                            {% else %}
                            <a href="/tvshop/review/save?title=수정하기&tabbar=hide&board_id={{ re.result.id }}"
                                    class=" align-center c-green" onclick="" style="font-size:12px; margin-left: 7px; padding:6px ;"> 수정 </a>
                            {% endif %}
                            <a href="/tvshop/review/save?title=수정하기&btn=upload&board_id={{ re.result.id }}">
                                <img src='{{ img }}/mini_modify.png' class="padding block-hide" style="height:16px; padding:3px;"/>
                            </a>
                        {% else %}
                            <a href="/tvshop/board/save?title=수정하기&btn=upload&tabbar=hide&board_id={{ re.result.id }}"
                                    class=" align-center c-green" onclick="" style="font-size:12px; margin-left: 7px; padding:6px ;"> 수정 </a>
                            <a href="/tvshop/board/save?title=수정하기&btn=upload&board_id={{ re.result.id }}">
                                <img src='{{ img }}/mini_modify.png' class="padding block-hide" style="height:16px; padding:3px;"/>
                            </a>
                        {% endif %}
                            <a href="javascript:board_remove('{{ re.result.id }}');"
                                    class=" align-center c-lion" onclick="" style="font-size:12px; padding:6px ;"> 삭제 </a>
                            <a href="javascript:board_remove('{{ re.result.id }}');">
                                <img src='{{ img }}/mini_delete.png' class="padding block-hide" style="height:16px; padding:3px; margin-left: 3px;"/>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% if re.result.cate != "faq" and request.GET.from != "layer" %}
        <div class="b-white padding">
            <div class="margin padding">
                <div class="c-darkgray">댓글 쓰기</div>
                <div class="clear-9"></div>
                <form id="cmt_submit" method="get" class="margin-auto radius b-white search-block">
                    <textarea class="" type="text" id="query" name="query" value="" autocomplete="off" spellcheck="false" placeholder=""
                            style="border:1px solid #ccc; border-radius:5px; box-sizing: border-box; padding:5px; height:56px;"></textarea>
                    <div class="clear-5"></div>
                    <button type="submit" value="" class="pull-right btn-warning" onclick="" style="width:52px; padding:6px;"> 등록 </button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
        <div class="b-white padding border-bottom">
            <div class="margin padding">
                <div class="c-darkgray">댓글 <span class="c-darkgray" id="cmt_num">{{ re.result.cmt_num }}</span>개</div>
            </div>
        </div>
        <div id="cmt_block">
        </div>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    var title = "";
    var content = "";
    var table_id = '{{ re.result.id }}';
    var cate = '{{ re.result.cate }}';
    var cmt_num = parseInt('{{ re.result.cmt_num }}');
    function list_scroll() {
        if (cate !== "faq"){
            ajax_skin("cmtary/getList", {"skin": "tvshop/skin/_cmtary_list", "table": "board", "table_id": table_id, "order": "create_date desc", "page": page, "num": num, "fields": fields_cmt}, function (re) {
                list_result(re);
            });
        }else{
            list_end();
        }
    }

    $(function(){
        $("#cmt_submit").submit(function(event) {
            event.preventDefault();//클릭시 페이지 이동방지
            var content = $("#query").val();
            if (content == ""){
                native_send_toast('내용을 입력해주세요.');
            } else {
                //check_status('cmt_save()');
                cmt_save();
            }
        });
    });
    function cmt_save(){
        var content = $("#query").val();
        ajax_json("cmtary/save", { "content": content, "table": "board", "table_id": table_id, "service": service}, function (re) {
                if (re.success == true) {
                    $("#query").val("");
                    cmt_num++;
                    $("#cmt_num").text(cmt_num);
                    cmt_add(re.result.data);
                } else {
                    native_send_toast(re.msg);
                }
        }, '', 'POST');
    }
    function cmt_add(cmtary_id){
        ajax_skin("cmtary/getInfo", {"skin": "tvshop/skin/_cmtary_info", "cmtary_id": cmtary_id}, function (re) {
            $("#cmt_block").prepend(re);
        });
    }
    function cmt_remove(cmtary_id){
        if (confirm("삭제하시겠습니까?")){
            ajax_json("cmtary/remove", { "cmtary_id" : cmtary_id}, function (re) {
                if (re.success == true) {
                    native_send_toast("삭제되었습니다.");
                    cmt_num--;
                    $("#cmt_num").text(cmt_num);
                    $("#cmt_"+cmtary_id).hide();
                    check_scroll();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
    function board_remove(board_id){
        if (confirm("삭제하시겠습니까?")){
            ajax_json("board/remove", { "board_id": board_id}, function (re) {
                if (re.success == true) {
                    native_send_toast("삭제되었습니다.");
                    setTimeout("native_move_back('1,true')", 999);
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
</script>
{% endblock %}
