{% extends "tvshop/_list.html" %}
{% block tab %}
    <div class="margin">
        <div class="padding b-white radius">
            <div class="clear-9"></div>
            <span class="font-13" style="margin-left:12px;color:#be1244;">글쓰기</span>
            <div class="clear-5"></div>
            <div class="margin-9">
                제목
                <input type="text" value="{{ re.result.title }}" id="title"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="제목을 입력해주세요"/>
                <div class="clear-9"></div>
                분류(카테고리)
                <select id="subcate" class="th-1 c-gray select-trans" value="{{ re.result.subcate }}">
                    <option value=""></option>
                    <option value="서버점검">서버점검</option>
                    <option value="알림">알림</option>
                    <option value="이벤트">이벤트</option>
                    <option value="심리테스트">심리테스트</option>
                    <option value="당첨발표">당첨발표</option>
                </select>
                <div class="clear-9"></div>
                게시일 (클수록 먼저 나타남 최신)
                <input type="text" value="{{ re.result.create_date }}" id="create_date"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="201411110630"/>
                <div class="clear-9"></div>


                <div class="{% if request.GET.cate != "event" and re.result.cate != "event" %}block-hide{% endif %}">
                클릭하면 이동할 링크(javascript사용시 쌍따옴표 사용)
                <input type="text" value="{{ re.result.url }}" id="url"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="연결될 링크를 입력해주세요"/>
                <div class="clear-9"></div>
                시작일
                <input type="text" value="{{ re.result.meta.start_date }}" id="start_date"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="201402010600"/>
                <div class="clear-9"></div>
                종료일
                <input type="text" value="{{ re.result.meta.end_date }}" id="end_date"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="201402010600"/>
                <div class="clear-9"></div>
                버튼문구
                <input type="text" value="{{ re.result.meta.btn_comment }}" id="btn_comment"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="알아보기"/>
                <div class="clear-9"></div>
                include
                <input type="text" value="{{ re.result.meta.include }}" id="include"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="app/in/_in_egg_alarm_mini.html"/>
                <div class="clear-9"></div>
                </div>

                대표이미지
                <div class="clear-9"></div>
                <form class="c-gray" name="form" id="imgform" method="POST" enctype="multipart/form-data" action="/img/upload">
                    이미지업로드 :<input type="file" id="file" name="file" class="hide" onChange="file_add();">
                </form>
                <div class="clear-9"></div>
                <input type="text" value="{{ re.result.img_list.0 }}" id="img"
                       style="border:1px solid #ddd;width:96%;height:25px;padding:5px;" placeholder="이미지"/>
                <img id="img_preview">
                <div class="clear-9"></div>
                내용
                <textarea id="content" style="border:1px solid #ddd;width:96%;padding:5px;height:100px;"
                          placeholder="내용을 입력해주세요">{{ re.result.content }}</textarea>
                <div class="clear-5"></div>
                <div class="align-right">
                    <button class="bt-red" id="board_save" onclick="board_save();">완료</button>
                </div>
                <div class="clear-9"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="http://o.buzzni.com/media/js/jquery.form.min.js"></script>
<script type="text/javascript">
    var cate = "{{ request.GET.cate }}";
    if (cate == "") cate = "{{ re.result.cate }}";
    var board_id= "{{ re.result.id }}";
    var board_org = {"title": $("#title").val(), "content":$("#content").text(), "img_list": $("#img").val(), "url": $("#url").val(), "meta": "{{ re.result.meta }}", "cate":"{{ re.result.cate }}", "subcate":"{{ re.result.subcate }}", "service":service};
    var scate= "{{ re.result.subcate }}"
    $("#subcate").val(scate);

    function list_scroll() {
        list_end();
    }

    function board_save() {
        var title = $("#title").val();
        var create_date = $("#create_date").val();
        var content = $("#content").val();
        var img = $("#img").val();
        var url = $("#url").val();
        var subcate = $("#subcate").val();
        if (["당첨발표","알림","서버점검"].includes(subcate) ) {
            cate = "notice";
        }
        var meta = JSON.stringify({"start_date": $("#start_date").val(), "end_date": $("#end_date").val(), "include" : $("#include").val(), "btn_comment" : $("#btn_comment").val()});
        var board_fields = {"title": title, "content":content, "img_list": img, "url": url, "meta": meta, "cate":cate, "subcate":subcate, "service":service};

        if (title == "") {
            native_send_toast("제목을 입력해주세요");
            $('#title').focus();
        } else if (content == "") {
            native_send_toast("내용을 입력해주세요");
            $('#content').focus();
        } else {
            $("#board_save").attr("disabled", "disabled").text("처리중...");
            if (board_id > 0){
                ajax_post('board/update', {"fld": "create_date", "value": create_date, "board_id": board_id}, function (re) {
                        $("#board_save").removeAttr("disabled").text("완료");
                });
                board_fields = {"title": title, "content":content, "img_list": img, "url": url, "meta": meta, "cate":cate, "subcate":subcate, "service":service, "create_date":create_date};

                for(var key in board_fields){
                    if( board_fields[key] != board_org[key] ){
                        console.log("key : "+ key +"   from value : " + board_org[key] +"   to value : " + board_fields[key]);
                        ajax_post('board/update', {"fld": key, "value": board_fields[key], "board_id": board_id}, function (re) {});
                    }
                }
                setTimeout("native_move_back('1,true')", 1599);

            } else {
                ajax_post('board/save', board_fields, function (re) {
                    if (re.success == true) {
                        if(create_date != "") ajax_json('board/update', {"fld": "create_date", "value": create_date, "board_id": re.result.data}, function (re) {});
                        $("#board_save").removeAttr("disabled").text("완료");
                        native_send_toast("완료하였습니다");
                        setTimeout("native_move_back('1,true')", 599);
                    } else {
                        native_send_toast(re.msg);
                        $("#board_save").removeAttr("disabled").text("완료");
                    }
                });
            }
        }
    }

    function upload() {
        board_save();
    }
    function file_add() {
        $('#imgform').submit();
    }
    function file_callback(data) {
        if (data) {
            setPictureUrl(data);
        } else {
        }
    }
    function setPictureUrl(url) {
        url_ext = url.split(",");
        img_code = url_ext[0];
        img_width = url_ext[1];
        img_height = url_ext[2];
        img_ext = img_code.split("");
        img_url = "http://img.buzzni.com/" + img_ext[0] + "/" + img_ext[1] + "/" + img_ext[2] + "/" + img_code;
        $("#img").val("\n" + img_url + "\n");
        $("#img_preview").attr("src", "\n" + img_url + "\n")
    }
    $(function () {
        $("#imgform").ajaxForm(file_callback);
    });

    function ajax_post(url,data,callback,sync){
        var _url = "http://rpc.hsmoa.com/"+url;
        var _data = $.extend({"xid":user_id}, data);
        $.ajax({
            type:"POST",
            beforeSend: function(jqXHR, settings){
                jqXHR.setRequestHeader("X-Auth-Token", user_token);
            },
            dataType:"json",
            data:_data,
            url:_url,
            async:sync,
            success: callback
    });
}
</script>
{% endblock %}
