{% extends "tvshop/_list.html" %}
{% load filters %}
{% block css %}
    <style>
        body {background: #fff;}
    </style>
{% endblock %}
{% block tab %}
<div class="padding-9 block-hide">
    <div>
        genre = {{ re.genre }}
    </div>
    <div>
        cate = {{ re.cate }}
    </div>
    <div>
        cate1 = {{ re.cate1 }}
    </div>
    <div>
        menu = {{ re.menu }}
    </div>
    <div>
        query = {{ re.query }}
    </div>
    <div>
        postid = {{ re.postid }}
    </div>
    <div>
        url = {{ re.url }}
    </div>
</div>
<div class="align-center c-darkgray font-14" style="margin-top:80px; margin-bottom: 0px;">
    <img src="http://thum.buzzni.com/unsafe/320x0/smart/http://ui.buzzni.com/i/noimg.png" style="width:120px;">
</div>
{% endblock %}
{% block js %}
{% autoescape off %}
<script type="text/javascript">
    function list_scroll() {
    }
    $(function () {
        var data = {
            "genre": "{{ re.genre }}",
            "cate": "{{ re.cate }}",
            "cate1":"{{ re.cate1 }}",
            "menu": "{{ re.menu }}",
            "v": "tvshop"
        };
        var query = "{{ re.query }}";
        var postid = "{{ re.postid }}";
        if (query != "") {
            data["query"] = query;
        }
        if (postid != "0") {
            data["postid"] = postid;
        }
        ajax_get("/stat/mobiledownload", data, function (re) {});
        setTimeout("location.href = '{{ re.url }}'", 500);
    });
</script>
{% endautoescape %}
{% endblock %}