{% extends "tvshop/_list.html" %}
{% load filters %}
{% block css %}
    <style>
    ul.subcate { display: table; width:100%;box-sizing: border-box; }
    ul.subcate li { padding:9px 0; background: #f2f2f2; color:#666; display: table-cell; text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; width:10%; box-sizing: border-box;}
    ul.subcate li:first-child { border-radius: 4px 0 0 4px;  border-left: 1px solid #ccc; }
    ul.subcate li:last-child { border-radius: 0 4px 4px 0; border-left: 0;  border-right: 1px solid #ccc; }
    ul.subcate li.on {background: #f16157; color: #fff; border: 1px solid #f16157; font-weight: bold;}
    </style>
{% endblock %}
{% block tab %}
<div class="b-white th-1 top-bar position-top z-index">
    <div class="clear-7"></div>
    <div class="display-table align-center">
        <div class="table-cell th5-1 top-bar-border">
            <a href="javascript:void(0);" id="event" class="disblock tab font-12 spacing">
                이벤트
            </a>
        </div>
        <div class="table-cell th5-1 top-bar-border">
            <a href="javascript:void(0);" id="notice" class="disblock tab font-12 spacing">
                공지사항
            </a>
        </div>
    </div>
    <div class="clear-1"></div>
    <div class="display-table align-center">
        <div class="table-cell-line"></div>
        <div class="table-cell th5-1">
            <div class="clear-3 line" id="line_event"></div>
        </div>
        <div class="table-cell-9"></div>
        <div class="table-cell th5-1">
            <div class="clear-3 line" id="line_notice"></div>
        </div>
        <div class="table-cell-line"></div>
    </div>
</div>
<div class="top-bar"></div>
<div class="margin-7"></div>


<div class="block block-hide align-right " id="block_event">
{% if request.session.user.id == "E3lwdxbBug" or request.GET.xid == "E3lwdxbBug" %}
    <button class="btn-warning margin-9" onclick="location_href('/tvshop/event/save?title=글쓰기&tabbar=hide&btn=upload&cate=event');">이벤트 글쓰기</button>
{% endif %}
        <a href="javascript:show_sale_click('all', 'talk');" class="margin-9 block-hide">
            <img class="radius" src="{{ thum640 }}/{{ img }}/ev/eventall_banner_1.png">
        </a>
</div>

<div id="block_review" class="block block-hide align-right margin-9" >
        <div class="margin-3">
        {% if agent == "android" %}
        <button class="btn-warning" style="width:100%;font-size: 14px; box-shadow: 0 2px 0 #c1272c; padding: 11px 0 9px 0; border-radius: 4px; letter-spacing: 0px "
                onclick="location_href('/tvshop/review/save?title=상품리뷰 쓰기&btn=upload&tabbar=hide&cate=review');">상품리뷰 쓰기</button>
        {% else %}
        <button class="btn-warning" style="width:100%;font-size: 14px; box-shadow: 0 2px 0 #c1272c; padding: 11px 0 9px 0; border-radius: 4px; letter-spacing: 0px "
                onclick="location_href('/tvshop/review/save?title=상품리뷰 쓰기&tabbar=hide&cate=review');">상품리뷰 쓰기</button>
        {% endif %}
        </div>
        <div class="align-left block-hide" id="list_0000" style="margin-top:7px; background: #fff; box-shadow: 0 1px 2px #ccc; border-radius: 3px;">
            <a class='listbox' href="javascript:native_show_layer('/tvshop/board/info?board_id=3043&from=layer')" >
                <div class='display-table'>
                    <div class='table-cell align-middle padding-9'>
                        <div class="title " style="font-size: 14px; line-height: 19px; ">
                            2주마다 우수 상품리뷰를 선정하여 소정의 상품을 드립니다. 여러분의 성원에 감사드립니다^^
                        </div>
                        <div class='clear-3'></div>
                        <div class='c-gray font-12'>
                            2015년 2월 28일 이후부터 ~
                        </div>
                    </div>
                    <div class='table-cell-9 align-middle align-left'>
                        <div class="font-20 c-lion" >〉 </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="align-left block-hide" id="list_0001" style="margin-top:7px; background: #fff; box-shadow: 0 1px 2px #ccc; border-radius: 3px;">
            <a class='listbox' href="javascript:native_show_layer('/tvshop/board/info?board_id=3042&from=layer')" >
                <div class='display-table'>
                    <div class='table-cell align-middle padding-9'>
                        <div class="title " style="font-size: 14px; line-height: 19px; ">
                            100만 다운로드 감사 이벤트 당첨자 보기
                        </div>
                        <div class='clear-3'></div>
                        <div class='c-gray font-12'>
                            2015년 2월 14일 ~ 2월 27일
                        </div>
                    </div>
                    <div class='table-cell-9 align-middle align-left'>
                        <div class="font-20 c-lion" >〉 </div>
                    </div>
                </div>
            </a>
        </div>
</div>


<div id="block_notice" class="block block-hide align-right margin-7" >
{% if request.session.user.id == "E3lwdxbBug" or request.GET.xid == "E3lwdxbBug" %}
        <button class="btn-info" onclick="location_href('/tvshop/event/save?title=글쓰기&tabbar=hide&btn=upload&cate=notice');">공지사항 글쓰기</button>
{% endif %}
</div>


<div id="block_qna" class="block block-hide align-right margin-7" >
<ul class="subcate" >
    <li id="faq" class="subtab">자주묻는질문</li>
    <li id="opn" class="subtab">의견건의</li>
</ul>
</div>
<div id="subblock_faq" class="subblock  block-hide ">
{% if request.session.user.id == "E3lwdxbBug" or request.GET.xid == "E3lwdxbBug"  %}
    <div class="clear align-right margin-7">
    <button class="btn-info " onclick="location_href('/tvshop/event/save?title=글쓰기&tabbar=hide&btn=upload&cate=faq');">FAQ 글쓰기</button>
    </div>
{% endif %}
</div>
<div id="subblock_opn" class="subblock block-hide">
    <div style="margin: 7px;">
        <div id="opn_input" class="">
        <input type="text" value="{{ re.result.title }}" id="title" placeholder="제목을 입력해주세요"
               style="border:1px solid #ccc;width:100%;box-sizing:border-box;height:33px;padding:9px; font-size: 14px; border-radius:4px 4px 0 0; -webkit-appearance: none; border-bottom: 0;" />
        <textarea id="content" style="border:1px solid #ccc;width:100%;box-sizing:border-box;padding:9px ;height:99px;font-size: 14px;  -webkit-appearance: none;border-bottom: 0;"
                  placeholder="내용을 입력해주세요">{{ re.result.content }}</textarea>
        </div>
        <button value="" class="font-14 c-lion strong" onclick="board_save();"
                style="width:100%; padding:8px 0; margin:0; border: 1px solid #ccc; background: #fff; border-radius:0 0 4px 4px; ">
            문의하기
        </button>
    </div>
    <div class="font-13 c-darkgray align-left padding-9" style="padding-bottom: 5px;">의견건의 목록</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var tab = "{{ request.GET.cate }}";
if (tab == "" || tab == undefined) tab = "event";
var subtab = "faq";
var date = "{{ date2 }}"+"{{ time2 }}";
var user_id = "{{ request.session.user.id }}";
var from = "{{ request.GET.from }}";
function list_scroll() {

    $('.subtab').removeClass("on");
    $('#'+subtab).addClass("on");
    $('.subblock').hide();

    $('.line').removeClass("b-lion");
    $('#line_'+tab).addClass("b-lion");
    $('.block').hide();
    $('#block_'+tab).show();

	if (tab == 'event') {
        {% if request.session.user.id == "E3lwdxbBug" or request.GET.xid == "E3lwdxbBug"  %}
            ajax_skin("board/getList", {"skin":"tvshop/skin/_event_list_admin", "page":page, "num":10, "cate":"event", "order":'create_date', "service":service, "flag":date}, function(re){
                list_result(re);
                //리뷰이벤트용//아이폰에서는 안보임
                if (is_ios_app()){
                    $("#board_1471").hide();
                } else {
                    $("#board_1471").show();
                }
            });
        {% else %}
            if(page==1){
                ajax_skin("board/getList", {"skin":"tvshop/skin/_event_list", "page":page, "num":15, "cate":"event", "order":'create_date', "service":service, "flag":date}, function(re){
                    list_result(re);
                    //리뷰이벤트용//아이폰에서는 안보임
                    if (is_ios_app()){
                        $("#board_1471").hide();
                    } else {
                        $("#board_1471").show();
                    }
                });
            }else{
                ajax_skin("board/getList", {"skin":"tvshop/skin/_event_list_end", "page":page-1, "num":6, "cate":"event", "order":'create_date', "service":service, "flag":date}, function(re){
                    list_result(re);
                    if (is_ios_app()){
                        $("#board_1471").hide();
                    } else {
                        $("#board_1471").show();
                    }
                });
            }
        {% endif %}
	}else if (tab == "notice") {
        $("#event_list").empty();
        ajax_skin("board/getList", {"skin":"tvshop/skin/_board_list", "page":page, "num":20, "cate":tab, "order":'create_date', "service":service}, function(re){
            list_result(re);
        });
	}
}

function change_tab(tab_target){
    tab = tab_target;
    subtab = "faq";
    list_reset();
}
$(function() {
    $("body").on("click", ".tab", function(){
        tab = this.id;
        subtab = "faq";
        list_reset();
    });
    $("body").on("click", ".notice", function(){
        if( $("#list_content_"+this.id.slice(5,20)).is(":visible") ){
           $("#list_content_"+this.id.slice(5,20)).slideUp(0);
        }else{
            $(".notice_content").slideUp(0);
            $("#list_content_"+this.id.slice(5,20)).slideDown(0);
        }
    })
    $(".subtab").on('click', function () {
        subtab = this.id ;
        list_reset();
    });
    //native-추천키워드기본값
    setTimeout("view_popup()", 250);
    setTimeout("reco_keyword()", 77);
});

    function view_popup(){
        if(from == "timeline_a" || from == "timeline_b"){

            ajax_json("visit/getUpdateDiffSeconds", {"action":"review100", "user_id": user_id, "hour": 1}, function (re) {
                if(re.success){
                    if( re.result.data < 0){
                        ajax_json("visit/save", {"action":"review100", "action_id": 0, "service": service}, function (re) {
                            //alert(JSON.stringify(re));
                            if (re.success == true) {
                                native_show_layer('/tvshop/board/info?board_id=2398&from=layer');
                            } else {
                            }
                        });
                    }
                }else{
                    return;
                }
            });
        }
    }

    function board_remove(board_id){
        if (confirm("삭제하시겠습니까?")){
            ajax_json("board/remove", { "board_id": board_id}, function (re) {
                if (re.success == true) {
                    native_send_toast("삭제되었습니다.");
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
    function board_save() {
        var title = $("#title").val();
        var content = $("#content").val();
        if (title == "") {
            native_send_toast("제목을 입력해주세요");
            $('#title').focus();
        } else if (content == "") {
            native_send_toast("내용을 입력해주세요");
            $('#content').focus();
        } else {
            $("#board_save").attr("disabled", "disabled").text("처리중...");
            ajax_json('board/save', {"title": title, "content": content, "cate": "opn", "service": service}, function (re) {
                if (re.success == true) {
                    $("#board_save").removeAttr("disabled").text("완료");
                    $("#title").text("").val("");
                    $("#content").text("").val("");
                    native_send_toast("의견을 남겨주셔서 감사합니다 :)");
                    list_reset();
                } else {
                    native_send_toast(re.msg);
                    $("#board_save").removeAttr("disabled").text("완료");
                }
            }, '', 'POST');
        }
    }
</script>
{% endblock %}
