html,body{ background: #eee; }

.contents-style ol{padding:0px 20px;}
.contents-style ul{padding:0px 20px;list-style-type:disc}
.contents-style ul li p{padding:0;margin:0}
.allinweek-discount-title {margin:0; background: #DF091A;}
.bt-down {z-index:9999;opacity: 0.95;}
.bt-down img {width:100%; height:5px; margin:0; vertical-align: bottom;}
.bt-down button {background:#f03d41; margin:0;width:100%; height:43px; border-radius:0px; padding-top: 3px;}
.guide-movie {width:100%;margin:0 auto;text-align: center;background:#000}

input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle + label {display: block;position: relative;background: #ccc url('{{ thum }}/{{ img }}/ico_alarm_white.png') no-repeat 80% 50%; background-size:15px 15px; line-height: 20px;height: 30px;width: 60px;border-radius: 15px;}
input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: #ccc ;-moz-transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;}
input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle:checked + label:before {width: 60px; backgroun기d: #ea1b27 url('{{ thum }}/{{ img }}/ico_alarm_white.png') no-repeat 20% 50%;background-size:15px 15px; }
input.toggle:checked + label:after { left: 30px;border: 1px solid #ea1b27;}

.main-event {display: block;background: #DF091A}
.main-event > div > button{bottom:9%;position: absolute;z-index: 999;height:14% !important;border: 0; background: red;opacity: 0}
.sns-kakao {width:35%;left:0%;}
.sns-band {width:30%;left:35%;}
.sns-kakaostoty {width:35%;right:0%;}
.btn-guide {width:100%;border:0px;background-size:cover;padding:15px 0px;background: #000;}

#swipe {background: #575757;margin:0 auto;display: block;width:95%}
#swipe div img {width:100%;}

.owl-theme .owl-controls {background: #565656;margin-top:0;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #DF091A}
