html{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none;}
html, * {outline: 0; }
*, a, button, input, textarea{font-family:inherit;font-size:12px;}
body{-webkit-touch-callout:none;border:0;margin:0;padding:0;background:#e5e5e5;}
a{text-decoration:none;color:#3c3c3c;}
a:hover{text-decoration:none}
form,ul{list-style:none;border:0;margin:0;padding:0;}
textarea{width:100%;margin:0;padding:0;border:0;min-height:50px;}
img{max-width:100%;vertical-align:middle;border:0;}
button,input,select,textarea{vertical-align:middle;}
/* block */
.padding-0{padding:0px;}
.margin-0{margin:0px;}
.padding{padding:5px;}
.margin{margin:5px;}
.padding-1{padding:1px;}
.padding-3{padding:3px;}
.padding-7{padding:7px;}
.padding-9{padding:9px;}
.margin-1{margin:1px;}
.margin-3{margin:3px;}
.margin-7{margin:7px;}
.margin-9{margin:9px;}
.margin-left{margin-left:5px;}
.margin-right{margin-right:5px;}
.margin-both{margin-left:5px;margin-right:5px;}
.margin-auto{margin:auto;}
.overflow{overflow:hidden;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-bottom{vertical-align:bottom;}
.align-top{vertical-align:top;}
.align-middle{vertical-align:middle !important;}
.pull-right{float:right;}
.pull-left{float:left;}
.radius-3{border-radius:3px;}
.radius{border-radius:5px;}
.radius-top{border-radius:5px 5px 0 0;}
.radius-bottom{border-radius: 0 0 5px 5px;}
.radius-left{border-radius:5px 0 0 5px ;}
.radius-right{border-radius: 0 5px 5px 0;}
.border-0{border:0;}
.border{border:1px solid #ddd;}
.border-bottom{border-bottom:1px solid #eee;}
.border-top{border-top:1px solid #eee;}
.box {border: 1px solid #ddd;border-bottom: 1px solid #ccc;}
/* clear */
.clear{clear:both;}
.clear-1{clear:both;height:1px;}
.clear-2{clear:both;height:2px;}
.clear-3{clear:both;height:3px;}
.clear-5{clear:both;height:5px;}
.clear-7{clear:both;height:7px;}
.clear-9{clear:both;height:9px;}
/* display */
.disblock{display:block;}
.block-hide{display:none;}
.block-show{display:block;}
/* font */
.strong{font-weight:bolder;}.font-8{font-size:8px;}.font-9{font-size:9px;}.font-10{font-size:10px;}.font-11{font-size:11px;}.font-12{font-size:12px;}.font-13{font-size:13px;}.font-14{font-size:14px;}.font-15{font-size:15px;}.font-16{font-size:16px;}.font-17{font-size:17px;}.font-18{font-size:18px;}.font-20{font-size:20px;}.font-22{font-size:22px;}.font-24{font-size:24px;}.font-27{font-size:27px;}.font-30{font-size:30px;}.font-32{font-size:32px;}.font-36{font-size:36px;}.font-42{font-size:42px;}.font-48{font-size:48px;}
/* text */
.spacing{letter-spacing:-1px;}
.spacing-2{letter-spacing:-2px;}
.word-break{word-break:break-all;}
/* inline(ul/li) */
.inline {display:table;width:100%;}.inline ul{display:table-row;width:100%;}.inline li{display:table-cell;clear:both;}.inline li:first-child{border-left:0;}.inline li:last-child{border-right:0;}.inline li:first-child a{border-left:0;}.inline li:last-child a{border-right:0;}
/* background */
.trans{filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;}
.trans-light{filter:alpha(opacity=30);opacity:0.3;-moz-opacity:0.3;}
.trans-dark{filter:alpha(opacity=9);opacity:0.9;-moz-opacity:0.9;}
.b-basic{background:#ebedf0;}
.b-white{background:#fff;}
.b-darkgray{background:#666;}
.b-gray{background:#ccc;}
.b-black{background:#111;}
.b-green{background:#c7e8a0;}
.b-red{background:#ffd7b5;}
.b-blue{background:#2988f1;}
.b-orange{background:#ffa72a;}
.b-lion{background:#e91d27;}
.b-cyan{background:#35beeb;}
.b-aqua {background: #669ce3;}
/* textcolor */
.c-white{color:#fff;}
.c-darkgray{color:#666;}
.c-gray{color:#999;}
.c-black{color:#111;}
.c-green{color:#619829;}
.c-red{color:#de7757;}
.c-blue{color:#2988f1;}
.c-orange{color:#ffa72a;}
.c-lion{color:#e91d27;}
.c-light{color:#e5e5e5;}
.c-cyan{color:#35beeb;}
.po{color:#fff;font-size:12px;background:#d7fea9;}
.ne{color:#fff;font-size:12px;background:#ffd7b5;}
/* position */
.position-relative{position:relative;}
.position{position:absolute;}
.position-fixed{position:fixed;}
.position-top{position:fixed;top:0;width:100%;z-index:998;}
.position-bottom{position:fixed;bottom:0;width:100%;z-index:997;}
.z-index{z-index:996;}
.z-99{z-index:99;}
.right-0{right:0px;}
.right-3{right:3px;}
.right-5{right:5px;}
.right-7{right:7px;}
.right-9{right:9px;}
.left-0{left:0px;}
.left-3{left:3px;}
.left-5{left:5px;}
.left-7{left:7px;}
.left-9{left:9px;}
.top-0{top:0px;}
.top-3{top:3px;}
.top-5{top:5px;}
.top-7{top:7px;}
.top-9{top:9px;}
.bottom-0{bottom:0px;}
.bottom-3{bottom:3px;}
.bottom-5{bottom:5px;}
.bottom-7{bottom:7px;}
.bottom-9{bottom:9px;}
.mtop-5{margin-top:5px;}
.mtop-9{margin-top:9px;}
/* table */
.display-table{display:table;width:100%; }
.display-table-fixed{display:table;width:100%; table-layout:fixed; }
.table-cell{display:table-cell;vertical-align:top;}
.table-cell-line{display:table-cell;vertical-align:top;width:5px;}
.table-cell-9{display:table-cell;vertical-align:top;width:9px;}
/* th */
.th3-1{width:33%;}.th3-2{width:66%;}.th4-1{width:25%;}.th4-3{width:75%;}.th5-1{width:20%;}.th5-2{width:40%;}.th5-3{width:60%;}.th5-4{width:80%;}.th2-1{width:50%;}.th-1{width:100%;}.th6-1{width:17%;}.th6-2{width:34%;}.th6-3{width:50%;}.th6-4{width:67%;}.th6-5{width:84%;}.th7-1{width:14%;}
/* button */
.bt{border:0;margin:0;padding:0;background:#fff;}
.bt-red{border:0;margin:0;padding:0 15px 0 15px;background:#e91d27;-webkit-border-radius:2px;height:30px;line-height:28px;color:#fff;font-weight:bold;cursor:pointer;}
.bt-cyan{border:0;margin:0;padding:0 15px 0 15px;background:#35beeb;-webkit-border-radius:2px;height:30px;line-height:28px;color:#fff;font-weight:bold;cursor:pointer;}
.bt-basic{border:0;margin:0;padding:0 15px 0 15px;background:#fff;-webkit-border-radius:2px;height:30px;line-height:28px;color:#666;font-weight:bold;border:1px solid #ddd;cursor:pointer;}

.btn-info {font-weight: bold;background: #ffa810;border-radius: 3px;padding: 11px 8px;color: #fff;border: 0;letter-spacing: -1px;}
.btn-warning {font-weight: bold;background: #f16157;border-radius: 3px;padding: 11px 8px;color: #fff;border: 0;letter-spacing: -1px;}

.tag{padding:4px 7px 3px 7px;margin:2px 1px;background:#fff;border:1px solid #ddd;border-radius:20px;color:#666;font-size:11px;}
.contents-style {font-size: 17px;line-height: 25px;}