h4{
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 6px 10px 4px;
    background: #f9f9f9;
}
#block_info_detail.cjmall{
    padding:0 !important;
}
#block_info_detail.cjmall p{
    margin:10px;
    font-size:1em;
    line-height: 1.6em;
    font-weight: 300;
}

.layer_wrap:before,.ly_msg_wrap:after,.ly_msg_wrap:before,.past_movie a:before,.share_layer ul li a:before,.share_layer ul:after,.special_prd .live a:before{content:''}.deal_title h2,.deal_title h2 strong,.other_prd_wrap .other_list_wrap ul li .title,.prd_info h1,.prd_review.bundle>ul.bundle li dl dt,.review_list li .review_contents .review,.review_list li .review_contents.no_option .review{-webkit-box-orient:vertical;word-wrap:break-word}.prd_info h1 em,.review_list li .review_contents em{font-style:normal}.fade-out,.quick-fade{-webkit-animation:fade-out .3s ease-in}*{-webkit-text-size-adjust:none}#o1h_header_wrap{background:0 0}#o1h_center{position:static}a[href^="tel"]{color:inherit;text-decoration:none}.cart_layer_wrap,.deal_option,.share_sns{display:none}.dimmed{display:block;position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.7);z-index:2000}.cart_layer,.share_copy,.share_layer{right:25px;z-index:2001}.fixed_layer{position:fixed;left:25px;right:25px;top:50%;margin-top:-25%;overflow:hidden;background-color:#fff;text-align:center;z-index:2001}.fixed_layer .tit_pop{display:block;padding:13px 0;border-bottom:1px solid #009fd9;font-size:16px;color:#0091d4;font-weight:700}.fixed_layer div>ul{right:0}.fixed_layer div>ul>li{position:relative;border-bottom:1px solid #e5e5e5;font-size:14px;text-align:left;color:#333}.fixed_layer div>ul>li a{display:block;padding:13px 20px 12px;color:#333;font-size:14px;word-break:break-all}.fixed_layer div>ul>li a:hover{color:#333}.fixed_layer div>ul>li a.on{background:#00a9e0;color:#fff}.btn_pop_close{position:absolute;top:7px;right:6px;width:32px;height:30px;background:url(//image.cjmall.net/s/cjmall/m2/img/btn_layerpop_close.gif) 50% 50% no-repeat;background-size:16px 15px;border:0;cursor:pointer}.share_layer{position:fixed;left:25px;top:50%;margin-top:-104px;overflow:hidden;background-color:#fff;text-align:center}.share_layer .tit_pop{display:block;padding:13px 0;border-bottom:1px solid #009fd9;font-size:16px;color:#0091d4;font-weight:700}.share_layer ul{padding:50px 20px}.share_layer ul:after{display:block;clear:both}.share_layer ul li{float:left;width:33.3%;text-align:center;color:#333;font-size:10px}.share_layer ul li a{position:relative;display:block;padding-top:53px;color:#333}.share_layer ul li a:before{position:absolute;top:0;left:50%;margin-left:-22px;width:45px;height:45px}.cart_layer,.share_copy{position:fixed;top:50%;left:25px}.share_layer ul li:first-child a:before{background-position:0 -365px}.share_layer ul li:nth-child(2) a:before{background-position:0 -415px}.share_layer ul li:nth-child(3) a:before{background-position:0 -465px}.share_copy{display:none;height:220px;margin-top:-110px;overflow:hidden;background-color:#f8f8f8;text-align:center;border:1px solid #454545;border-radius:9px;-webkit-border-radius:9px;vertical-align:middle}.share_copy .share_txt{padding:20px 0 0;font-size:14px;color:#008edf;line-height:18px}.share_copy .share_cont{width:90%;font-size:14px;color:#333;line-height:18px;padding:12px 0;margin:0 auto}.share_copy .share_cont textarea{width:86%;height:84px}.layer_wrap,.layer_wrap:before{width:100%;left:0;top:0;height:100%}.share_copy .btn_ok{width:50px;padding:8px 0;margin:0 auto;color:#333;font-size:13px;border:1px solid #919191;border-radius:3px;-webkit-border-radius:3px;box-shadow:0 1px 0 #e8e8e8;-webkit-box-shadow:0 1px 0 #e8e8e8;background-image:linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-o-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-moz-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-webkit-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-ms-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.39,#f3f3f3),color-stop(.7,#fefefe))}.cart_layer{margin-top:-118px;overflow:hidden;border:1px solid #454545;background:#f8f8f8;text-align:center;border-radius:9px;-webkit-border-radius:9px}.cart_layer p{font-size:14px;color:#333;padding:90px 0 20px}.cart_layer a{display:block;width:130px;padding:8px 13px;color:#333;font-size:13px;border:1px solid #919191;margin:0 auto 60px;background-image:linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-o-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-moz-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-webkit-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-ms-linear-gradient(bottom,#f3f3f3 39%,#fefefe 70%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.39,#f3f3f3),color-stop(.7,#fefefe));border-radius:3px;-webkit-border-radius:3px;box-shadow:0 1px 0 #e8e8e8;-webkit-box-shadow:0 1px 0 #e8e8e8}.layer_wrap{display:none;position:fixed;z-index:1002}.layer_wrap.cart{top:0}.layer_wrap.show{display:block}.layer_wrap:before{position:absolute;z-index:60;background:rgba(0,0,0,.55)}.layer_wrap .img_wrap{overflow:hidden;position:relative;top:50%;width:304px;height:auto;margin:-200px auto 0;border:1px solid #263141;background:#fff;z-index:80}.layer_wrap .img_wrap .image_full img{width:304px;vertical-align:top}.layer_wrap .img_wrap .btn_down{display:block;width:100%;padding:0 0 20px;text-align:center}.layer_wrap .btn_close_layer{overflow:hidden;position:absolute;z-index:100;width:40px;height:40px;background:url(//image.cjmall.net/s/cjmall/m1/img/btn_laycrl.png) 50% 50% no-repeat;background-size:17px 17px;color:transparent}.layer_wrap .img_wrap .btn_close_layer{top:auto;bottom:3px;right:3px}.layer_wrap .ckarea{height:44px;border-top:1px solid #eee;background:#f5f5f5}.layer_wrap .ckarea .ckbx{position:relative;top:13px;left:17px}.layer_wrap .ckarea .ckbx input[type="text"]{width:100%;border:0;background:#fff;font-size:14px;line-height:1.5;letter-spacing:0}.layer_wrap .ckarea .ckbx input[type="checkbox"]{position:absolute;left:0;top:0;width:25px;height:20px;margin:0;opacity:0}.layer_wrap .ckarea .ckbx input[type="checkbox"]+label{display:inline-block;margin:0;padding:1px 0 2px 24px;background:url(//image.cjmall.net/s/cjmall/m1/img/sp_ckbx.png) no-repeat;background-size:17px 61px;box-sizing:border-box;-webkit-box-sizing:border-box;font-size:13px;color:#666;letter-spacing:-1px;line-height:17px;vertical-align:top}.ly_msg_content,.ly_msg_wrap:before{display:inline-block;vertical-align:middle}.layer_wrap .ckarea .ckbx input[type="checkbox"]:checked+label{background-position:0 -44px}.layer_wrap .layer_inner{position:relative;top:50%;width:280px;margin:0 auto;background:#fff;z-index:1000}.layer_wrap .layer_inner .layer_title{height:42px;line-height:42px;font-size:14px;font-weight:700;text-align:center;color:#00a9e0;border-bottom:1px solid #00a9e0}.layer_wrap .layer_inner .layer_cont{padding:20px 30px}.layer_wrap .layer_inner .layer_close{position:absolute;top:0;right:0;width:40px;height:40px;background-position:-157px -262px}.layer_wrap .layer_inner .layer_close a{display:block;width:40px;height:40px}.full_layer .layer_wrap{z-index:2000}.layer_inner.ly_msg_wrap{position:absolute;width:auto;height:201px;top:50%;left:20px;right:20px;margin:-102px 0 0;padding-top:4px;background:#fff;text-align:center;z-index:1002}.fixed_button,.fixed_button_full_layer{width:40px;position:fixed;bottom:45px;right:9px}.ly_msg_wrap:before{overflow:hidden;width:1px;height:148px;margin:0 -3px}.ly_msg_wrap:after{position:absolute;width:100%;top:0;left:0;border-top:2px solid #00a9e0}.ly_msg_content{width:99%;text-align:center}.ly_msg_content p{line-height:1.375;font-size:16px;color:#333}.layer_wrap.url .ly_msg_wrap{height:250px;margin-top:-127px}.layer_wrap.url .ly_msg_wrap:before{height:198px}.ly_msg_content .url_detail{margin:15px auto 0;width:250px;height:100px;border:1px solid #c5c5c5;font-size:13px;color:#333;-webkit-appearance:none;border-radius:0;word-wrap:break-word}.ly_msg_content .txt_point{color:#00a9e0}.ly_msg_content .box_msg{margin:18px 15px 0 18px;padding:8px;background:#f4f4f4}.ly_msg_content .box_msg:first-child{margin-top:0}.ly_msg_content .box_msg p{line-height:1.31;font-size:13px;color:#7c7c7c}.ly_msg_wrap .sp_ico{overflow:hidden;display:inline-block;background:url(//image.cjmall.net/s/cjmall/m2/img/sp_ico.gif) no-repeat;background-size:15px 13px;color:transparent}.ly_msg_wrap .ico_etv{width:15px;height:13px;margin:3px 2px -3px 0;background-position:0 0}.ly_msg_wrap .btn_area{position:absolute;width:100%;bottom:0;padding:5px 0;border-top:1px solid #e5e5e5}.ly_msg_wrap .btn_in_wrap{display:table;width:100%;table-layout:fixed}.ly_msg_wrap .btn_area a{display:table-cell;height:38px;border-left:1px solid #e5e5e5;text-align:center;vertical-align:middle;line-height:1;font-size:14px;color:#7c7c7c}.ly_msg_wrap .btn_area a:first-child{border-left:0 none}.ly_msg_wrap .btn_area .btn_cart{color:#333}.ly_msg_wrap .btn_area .btn_ok{color:#009fd9}.bad_review .notice li:before,.broadcast_alarmy .alarmy_contents dl dd .radio_type input[type="radio"],.broadcast_notice li:before,.btn_option_close,.cant_road button:before,.discount_detail_list li .coupon_list li:before,.discount_detail_list li button.open_coupon:after,.fixed_button .scroll_top,.fixed_button .zoom,.info_container .prd_open a:after,.layer_wrap .layer_inner .layer_close,.livetv_time,.notify_btn .btn_alarm span:before,.notify_btn .btn_dip span:before,.notify_btn .btn_share span:before,.option_select .option_list li.checked:after,.option_select:after,.option_wrap .alarm_layer .alarm_close,.option_wrap .alarm_layer:after,.original_image .guide:before,.past_movie a:before,.prd_pagination .next,.prd_pagination .prev,.prd_price .discount_detail,.purchase_info .present_by_price dl dd ul li:before,.purchase_info ul li ul li:before,.purchase_title a:after,.qna_list li .answer:before,.qna_list li .question:after,.qna_list li>span.has_answer,.qna_list li>span.no_answer,.qna_notice ul li:before,.review_list li .star_rate_wrap,.review_list li .star_rate_wrap .star_rate,.review_noshow .noshow_guide li:before,.selected_item li p.gift_date .delete,.selected_item li p.item_number .minus,.selected_item li p.item_number .plus,.selected_item li p.item_price .delete,.special_order_prd dl dt:before,.special_prd .hotdeal span,.special_prd .live a:before,.special_prd .live span,.star_rate,.star_rate_wrap,.text_banner a span:after,.total_price_wrap .pre_calculate:before{display:inline-block;background-image:url(../img/sp_detail.png);background-repeat:no-repeat;background-size:300px 400px;text-indent:-1000px;overflow:hidden;color:transparent}.fixed_button{z-index:999}.fixed_button a{display:none;width:40px;height:41px;margin:0 0 10px}.fixed_button .zoom{display:none;margin:0 0 8px;background-position:-60px -350px}.fixed_button .scroll_top{display:none;background-position:-120px -350px}.fixed_button_full_layer{height:41px;z-index:99999;background:url(../img/main/sp_fixedBtns.png) 0 -41px no-repeat;background-size:41px 82px;text-indent:-1000px;overflow:hidden;color:transparent;display:none}.prd_detail_flicking{min-height:321px}.prd_detail_flicking.progress{min-height:321px;background-image:url(../img/ajax-loader.gif);background-position:center center;background-repeat:no-repeat;background-size:16px 16px}.prd_detail{position:relative;overflow:hidden;width:100%;border-bottom:1px solid #f0f0f0}.prd_swipe{position:relative;height:320px;margin:0 auto;overflow:hidden}.prd_swipe ul{width:2000px}.prd_swipe ul li{float:left;width:320px;text-align:center}.prd_swipe ul li img{width:320px;height:320px;margin:0 auto}.prd_pagination{position:absolute;bottom:10px;left:50%;width:75px;padding:3px 0;margin-left:-37px;color:#999;text-align:center;font-size:12px;border-radius:12px;-webkit-border-radius:12px;z-index:500}.prd_pagination a{width:6px;height:9px}.prd_pagination .prev{position:absolute;top:6px;left:7px}.prd_pagination .next{position:absolute;top:6px;right:7px;background-position:-20px 0}.prd_pagination strong{color:#009fd9;font-weight:700;margin-right:3px}.prd_pagination span{color:#c5c5c5;margin-left:3px;font-weight:700}.past_movie{display:block;position:absolute;bottom:10px;left:10px;background:rgba(0,169,224,.7);padding:8px 15px 6px 13px;border-radius:14px;z-index:500}.past_movie a{display:block;color:#fff;font-size:12px;letter-spacing:-1px}.past_movie a:before{width:13px;height:13px;margin-right:3px;background-position:0 -196px;vertical-align:-2px}.special_prd{position:relative;width:100%;height:26px;margin-top:-1px;background:#e6e6e6;font-size:12px;color:#333}.special_prd .live{padding:6px 0 0 65px}.special_prd .live span{position:absolute;top:7px;left:10px;width:43px;height:13px;background-position:0 -120px}.special_prd .live a{position:absolute;top:6px;right:10px;display:block;padding:1px 0 0 17px;color:#333;line-height:12px}.special_prd .live a:before{position:absolute;top:0;left:0;width:15px;height:15px;background-position:-110px -120px;vertical-align:middle}.special_prd .hotdeal{padding:6px 10px 0 0;text-align:right;color:#333}.special_prd .hotdeal span{position:absolute;top:0;left:0;width:112px;height:26px;background-position:0 -140px}.special_prd .hotdeal strong:last-child:not(:nth-child(2)):before{display:inline-block;content:'|';margin:0 4px;color:silver;font-weight:400}.special_prd ul{margin:0 10px;padding-top:6px}.special_prd ul li{float:left}.special_prd ul li:last-child{float:right}.special_prd ul li:only-child{float:left}.prd_info{position:relative;padding:13px 10px 0}.prd_price{overflow:hidden;padding:0 0 2px 2px;height:31px}.prd_price .sale{font-size:14px;color:#eb3671;margin-right:9px}.prd_price .sale strong{font-size:25px}.prd_price .guidetxt,.prd_price .price{font-size:15px;color:#333;margin-right:9px}.prd_price .price strong{font-size:25px;letter-spacing:-1px;vertical-align:-1px;margin-right:1px}.prd_price .original_price{font-size:12px;color:#959595}.prd_price .del{text-decoration:line-through}.prd_price .original_price strong{font-size:14px;font-weight:400}.prd_price .discount_detail{width:19px;height:19px;margin:8px 0 0 7px;background-position:0 -85px;vertical-align:top}.prd_price.mom .guidetxt,.prd_price.mom .price,.prd_price.mom .sale{display:inline-block;margin-right:3px;margin-top:-1px}.prd_price.mom .discount_detail{margin:8px 0 0 10px}.benefit_list{padding:0 0 10px 2px}.benefit_list li{padding:0 0 1px;font-size:13px;color:#009fd9}.benefit_list li span{color:#959595;margin-left:3px}.benefit_list li:last-child{padding:0}.sold_out_tit{padding:0 0 7px;font-size:15px;color:#333}.prd_info h1{display:-webkit-box;padding:0 0 0 2px;max-height:5.6em;font-size:13px;color:#333;font-weight:400;-webkit-line-clamp:4;line-height:1.4em;text-overflow:ellipsis;overflow:hidden}.prd_info h1 .flag{margin-right:6px;vertical-align:1px}.prd_info h1 .flag img{height:12px;vertical-align:-2px}.prd_info h1 em{margin-right:6px}.notify_btn{padding:13px 0 16px}.notify_btn:after{display:block;content:'';clear:both}.notify_btn li{float:left;width:50%}.notify_btn li a{display:block;box-sizing:border-box;-webkit-box-sizing:border-box;height:36px;border:1px solid #d9d9d9;line-height:34px;text-align:center;font-size:14px;color:#333;border-radius:18px 0 0 18px}.notify_btn li a span{position:relative;display:block;box-sizing:border-box;-webkit-box-sizing:border-box}.notify_btn.alarm li:nth-child(3) a span:after,.notify_btn.alarm li:nth-last-child(2):first-child a span:after{display:none}.notify_btn li:nth-last-child(2):first-child a{border-right:0}.notify_btn li:nth-last-child(2):first-child a span:after{content:" ";position:absolute;top:10px;right:0;width:1px;height:14px;background:#d9d9d9}.notify_btn li:nth-child(2) a,.notify_btn li:nth-child(2) a span{border-left:0;border-radius:0 18px 18px 0}.notify_btn li:only-child{float:none;width:100%}.notify_btn li:only-child a{border-radius:18px}.notify_btn.alarm li:first-child a{margin-right:4px;border:1px solid #ffd0d0;color:#e84848;border-radius:18px}.notify_btn.alarm li:nth-child(2) a{margin-left:4px;border-left:1px solid #e1e1e1;border-radius:18px}.notify_btn.alarm li:nth-last-child(3):first-child{width:41.33%}.notify_btn.alarm li:nth-last-child(3):first-child~li{width:29.33%}.notify_btn.alarm li:nth-last-child(3):first-child~li a{border-radius:18px 0 0 18px;border-right:0;margin:0}.notify_btn.alarm li:nth-last-child(3):first-child~li a span:after{content:" ";position:absolute;top:10px;right:0;width:1px;height:14px;background:#d9d9d9}.info_root .guide:before,.notify_btn .btn_alarm span:before,.notify_btn .btn_dip span:before,.notify_btn .btn_share span:before,.prd_image_wrap .prd_open a:after,.special_order_prd dl dt:before,.text_banner a span:after{content:''}.notify_btn.alarm li:nth-last-child(3):first-child a{margin-right:8px}.notify_btn.alarm li:nth-child(3) a{border-radius:0 18px 18px 0!important;border-right:1px solid #e1e1e1!important;border-left:0}.notify_btn .btn_share span:before{width:15px;height:14px;margin-right:3px;background-position:0 -175px;vertical-align:-3px}.notify_btn .btn_dip span:before{width:15px;height:14px;margin-right:3px;background-position:-30px -175px;vertical-align:-3px}.notify_btn .btn_alarm span:before{width:15px;height:14px;margin-right:1px;background-position:-60px -175px;vertical-align:-2px}.text_banner{margin:-6px 10px 10px;border:1px solid #e6e6e6;background:#f6f6f6}.text_banner a{display:block;padding:9px 0 8px;color:#009fd9;text-align:center;font-size:13px}.text_banner a span{color:#009fd9}.text_banner a span:after{display:inline-block;width:5px;height:8px;margin-left:5px;background-position:-60px -200px}.marketing_banner{margin:0 0 10px}.marketing_banner img{width:100%}.detail_tab{overflow:hidden;width:100%;border-top:1px solid #a6a6a6}.detail_tab.loading{border:none}.prd_detail_wrap.fixed .detail_tab{position:fixed;left:0;right:0;height:46px;z-index:1000}.detail_tab li{position:relative;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;width:25%;height:46px;text-align:center;background:#f6f6f6}.detail_tab li:last-child{border-right:0}.detail_tab li a{display:block;height:39px;padding:7px 0 0;font-size:15px;color:#666}.detail_tab li a.no_count{height:32px;line-height:32px;padding:7px 0}.detail_tab li.on{font-weight:700;background:#fff;border-bottom:0}.detail_tab li.on a{color:#333}.detail_tab li span{display:block;position:absolute;top:26px;left:0;width:100%;font-size:11px;color:#00a9e0}.info_container,.info_root,.prd_image_wrap{position:relative}.detail_tab li.on span{font-weight:400}.detail_tab li:nth-last-child(3):first-child,.detail_tab li:nth-last-child(3):first-child~li{width:33.333%}.prd_image_wrap{overflow:hidden}.info_container img{display:block;width:100%}#itemDetailImg div{max-width:100%!important}#itemDetailImg iframe{width:100%!important}.info_root{padding:15px 0 0}.info_root .guide{position:absolute;top:30px;left:50%;margin-left:-105px;padding:12px 30px 10px 60px;background:rgba(255,255,255,.95);font-size:12px;color:#333;border:1px solid #d9d9d9;border-radius:50px;-webkit-border-radius:50px;z-index:100}.info_root .guide:before{position:absolute;top:16px;left:24px;display:block;width:30px;height:21px;margin:0 5px 0 0;background:url(../img/sp_mom.png) 0 -340px no-repeat;background-size:100px 600px;text-indent:-1000px;overflow:hidden;color:transparent}.info_root .guide strong{font-weight:400;color:#009fd9}.info_root .see_original{display:block;padding:16px 0 15px;background:#f6f6f6;text-align:center;color:#333;font-size:13px}.prodDetailViewCont img{display:block;max-width:100%}#item_explain p.tit{background-color:#f3f3f3;font-size:12px;text-align:left;color:#333;padding:8px 0 8px 10px;font-weight:700}#item_explain p.cont{padding:5px 0 5px 10px;font-size:12px}.hide{position:absolute;top:0;left:-9999px;width:0;height:0;font-size:0;overflow:hidden;visibility:hidden;line-height:0}.original_image #item_explain p.cont,.original_image #item_explain p.tit{font-size:12px;word-break:break-word}.prd_image_wrap .prd_open{position:absolute;bottom:0;left:0;width:100%;height:30px;font-size:12px;text-align:center;padding:40px 0 0;color:#009fd9;background:url(../img/bg_prd_open.png) repeat-x;background-size:13px 70px;z-index:100}.prd_image_wrap .prd_open a{color:#009fd9}.prd_image_wrap .prd_open a:after{width:10px;height:6px;margin-left:10px;background-position:0 -370px}.prd_image_wrap .prd_open a span{font-size:13px}.special_order_prd dl{padding:25px 15px 16px;border-bottom:1px solid #d9d9d9}.special_order_prd dl dt{padding:0 0 10px;font-weight:700;color:#333;font-size:14px;text-align:center}.special_order_prd dl dt:before{width:17px;height:17px;margin-right:6px;background-position:-20px -350px;vertical-align:3px}.special_order_prd dl dt em{display:inline-block;font-weight:400;font-size:12px;vertical-align:1px}.special_order_prd dl dd li{position:relative;padding:0 0 6px 6px;font-size:12px;color:gray;line-height:1.4em}.deal_title h2,.deal_title h2 strong{display:-webkit-box;font-weight:400;line-height:1.2em}.special_order_prd dl dd li:before{display:block;content:'.';position:absolute;top:-6px;left:0}.purchase_info ul li ul li:before,.purchase_title a:after,.qna_list li .question:after{content:''}.special_order_prd dl dd li strong{color:#009fd9}.purchase_info .deal_code{padding:13px 10px 10px;color:#666;font-size:12px;border-bottom:1px solid #d9d9d9}.purchase_title{padding:12px 0 11px 14px;font-weight:700;font-size:14px;border-top:1px solid #d9d9d9;background:#f6f6f6}.purchase_title a{position:relative;display:block;color:#333}.purchase_title a:after{display:block;position:absolute;top:3px;right:15px;width:14px;height:8px;background-position:-186px -85px}.purchase_title.closed a:after{background-position:-186px -120px}.deal_info,.prd_detail_info{padding:5px 15px 0}.deal_info .feeble{color:#959595}.deal_title{position:relative;min-height:45px;padding:0 0 13px;border-bottom:1px solid #f0f0f0}.deal_title p{position:absolute;top:0;left:0}.deal_title p img{width:45px;height:45px}.deal_title h2{text-overflow:ellipsis;overflow:hidden;font-size:12px;color:#333}.deal_title h2 strong{max-height:2.4em;-webkit-line-clamp:2;text-overflow:ellipsis;overflow:hidden}.deal_title h2 span{display:block;margin:5px 0 0;font-size:12px;color:#959595}.purchase_info ul li{padding:8px 0;border-bottom:1px solid #f0f0f0;color:#333;font-size:12px;line-height:1.3em}.purchase_info ul li:last-child{border-bottom:0;padding-bottom:20px}.purchase_info ul li dl{overflow:hidden}.purchase_info ul li dl dt{display:inline-block;width:30%;min-width:88px;padding:0 0 1px;color:#666;font-size:12px;word-break:break-all;vertical-align:top}.purchase_info ul li dl dd{display:inline-block;width:64%;padding:0 0 1px;color:#333;font-size:12px;word-break:break-all;vertical-align:top}.purchase_info ul li dl dd:not(:first-child),.purchase_info ul li dl dt:not(:first-child){padding:6px 0 0}.purchase_info ul li dl dd:nth-child(2){padding:0 0 1px}.purchase_info ul li dl dd .msg{display:block;margin-top:6px}.purchase_info ul li dl dd .txt_blue{display:inline-block;margin-top:-1px;color:#009fd9;vertical-align:top}.purchase_info ul li dl dd .bar{display:inline-block;margin:-1px 6px 0;color:#dedede;vertical-align:top}.purchase_info .product_info li dl dd,.purchase_info .product_info li dl dt{display:block;width:100%}.purchase_info ul li .sale,.purchase_info ul li a{color:#009fd9}.purchase_info .fixed_layer li{padding:0;border-bottom:1px solid #e5e5e5}.purchase_info .fixed_layer li:last-child{padding-bottom:0}.purchase_info .fixed_layer li a{color:#333}.purchase_info .fixed_layer li a.on{color:#fff}.purchase_info ul li ul li{position:relative;padding:0 0 4px 7px;border:0}.purchase_info ul li ul li:before{position:absolute;top:6px;left:0;background-position:-110px -175px;width:2px;height:2px}.purchase_info ul li dd ul{padding:2px 0 0}.purchase_info ul li dd ul li,.purchase_info ul li dd ul li:last-child{padding:0 0 2px 7px}.purchase_info ul li dd ul.after_discount li{padding:0 0 7px}.purchase_info ul li dd ul.after_discount li:before{display:none}.purchase_info .present_by_price{padding:12px 10px 8px;margin:0 0 15px;border:1px solid #e6e6e6}.purchase_info .present_by_price dl dt{padding:0 0 7px;font-size:12px;color:#333;border-bottom:1px solid #f0f0f0}.purchase_info .present_by_price dl dd{padding:10px 0 0;font-size:11px;color:#333}.purchase_info .present_by_price dl dd ul{padding:7px 0 0}.purchase_info .present_by_price dl dd ul li{position:relative;border-bottom:0;padding:0 0 3px 7px;font-size:11px;color:#666}.purchase_info .present_by_price dl dd ul li:before{position:absolute;top:4px;left:0;content:'';width:2px;height:2px;background-position:-110px -175px}.purchase_info ul.notice li dl dt{float:none;width:100%;color:#333;font-weight:700;padding:0 0 7px}.purchase_info ul.notice li dl dt span{display:block;padding:0;font-size:11px;color:#959595;font-weight:400}.purchase_info ul.notice li dl dd{float:none;width:100%;color:#666;line-height:1.4em}.purchase_info .map_title{font-weight:700;padding:0 0 10px}.purchase_info .preview{border-top:1px solid #f0f0f0}.qna_list li .answer,.review_noshow .review_list{border-top:1px solid #e6e6e6}.purchase_info .preview dt{padding:15px 0 10px;font-weight:700;font-size:12px;color:#333;line-height:1em}.purchase_info .preview dd{margin:0;padding:0 0 15px;overflow:hidden}.purchase_info .preview dd ul li{float:left;width:45%;margin:0;padding:0;border:0;margin-right:5%}.purchase_info .preview dd ul li:last-child{margin-right:0}.purchase_info .preview dd ul li:only-child{margin-right:0;text-align:center}.purchase_info .preview dd ul li img{width:100%}.purchase_info .preview dd ul li p{margin:10px auto 15px;padding:0;color:#333;line-height:1em}.prd_qna{clear:both}.prd_qna .qna_top{position:relative;min-height:45px;padding:15px 105px 0 0;border-bottom:1px solid #d9d9d9}.qna_list li,.review_summary{border-bottom:1px solid #e6e6e6}.qna_top>a{position:absolute;top:15px;right:10px;overflow:hidden;width:95px;height:14px;padding:10px 0 9px;text-align:center;border-radius:3px;-webkit-border-radius:3px;background:#959595;line-height:0;cursor:pointer}.qna_top>a span{display:block;font-size:13px;font-weight:700;color:#fff;line-height:14px}.que_sort{padding:10px 0 5px 10px}.que_sort .ckbx label{font-size:12px;color:#666}.que_sort .ckbx input[type="checkbox"]+label{padding:4px 5px 4px 28px}.que_food{margin:14px 0 -7px 10px;font-size:12px;color:#959595}.qna_list{padding:0 0 47px}.qna_list li{position:relative}.qna_list ul:last-child li:last-child{border:0}.qna_list li a{color:#333}.qna_list li>span{position:absolute;top:12px;left:10px;padding:9px 0 0;width:41px;height:32px;font-size:11px;line-height:1.1em;text-align:center;word-break:break-all}.qna_list li>span.no_answer{background-position:-60px -50px;text-indent:0;color:#959595}.qna_list li>span.has_answer{background-position:-110px -50px;text-indent:0;color:#009fd9}.qna_list li>span.has_answer strong{display:block;font-weight:400}.qna_list li>span.best_qna{top:-1px;width:41px;height:55px;padding:0;background:url(//image.cjmall.net/s/cjmall/m2/img/flag_qna.png) no-repeat;background-size:41px 55px;color:transparent}.qna_list li .question{position:relative;padding:12px 10px 12px 60px}.qna_list li .question:after{position:absolute;top:28px;right:10px;width:14px;height:8px;background-position:-186px -120px}.qna_list li .question .option{padding:0 20px 4px 0;font-size:12px;color:#666}.qna_list li .question .title{padding:0 25px 9px 0;font-size:13px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.qna_list li .question button{display:block;width:60px;height:25px;margin:10px 0 0;padding:1px 0 0;font-size:12px;color:#666;text-align:center;border:1px solid #c5c5c5;border-radius:3px}.qna_list li .date,.qna_list li .user{font-size:12px;color:#959595}.qna_list li .date:before{display:inline-block;content:'|';color:#e0e0e0;margin:0 6px}.detail_rate dl dd li:after,.detail_rate:after,.qna_list li .answer:before,.review_wrap .review_tab:after,.sort_condition:after{content:''}.qna_list li.open .question:after{background-position:-186px -85px}.qna_list li.open .question .title{overflow:visible;text-overflow:inherit;white-space:normal;word-break:break-all}.qna_list li .answer{position:relative;padding:12px 20px 12px 38px;background-color:#f6f6f6;font-size:13px;color:#333}.qna_list li .answer div{padding:0 0 8px;line-height:1.3em;font-size:13px;word-break:break-all}.qna_list li .answer:before{position:absolute;top:17px;left:20px;width:7px;height:7px;background-position:-110px -200px}.qna_none{padding:70px 0;text-align:center;color:#959595;font-size:14px}.qna_list li .question .btn_area{display:block;overflow:hidden;width:100%}.qna_list li .question .btn_area button{display:inline-block;float:left;margin-right:7px}.prd_review{padding:0 10px 40px}.review_summary{padding:15px 0;text-align:center}.review_summary .star_rate_wrap{width:145px;height:22px;margin:0 auto;background-position:0 -220px}.review_summary .star_rate{display:block;height:22px;background-position:0 -250px}.review_summary p{padding:10px 0 0;font-size:12px;color:gray}.review_summary p strong{font-weight:400;color:#009fd9}.detail_rate:after{display:block;clear:both}.detail_rate dl{float:left;width:50%;margin:16px 0}.detail_rate dl dd,.detail_rate dl dt{margin:0 20px 0 10px}.detail_rate dl:last-child dd,.detail_rate dl:last-child dt{margin:0 10px 0 20px}.detail_rate dl dt{font-size:12px;color:#444;font-weight:700}.detail_rate dl dt span{margin-left:3px;font-size:12px;color:#959595;font-weight:400}.detail_rate dl dd{padding:7px 0 0}.detail_rate dl dd li{padding:0 0 5px;font-size:11px;color:#666}.detail_rate dl dd li:after{display:block;clear:both}.detail_rate dl dd li:last-child{padding:0}.detail_rate dl dd li .rate_type{float:left;width:50%}.detail_rate dl dd li .rate_bar_wrap{float:left;position:relative;width:50%;height:8px;margin:3px 0 0;background:#ebebeb;border-radius:10px}.detail_rate dl dd li .rate_bar{position:absolute;top:0;left:0;height:8px;background:#f27798;text-indent:-1000px;overflow:hidden;border-radius:10px}.review_wrap .review_tab{margin-top:-1px}.review_wrap .review_tab:after{display:block;clear:both}.review_wrap .review_tab li{float:left;width:50%;background:#f6f6f6;box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #dedede;border-left:0;border-bottom:1px solid #00a9e0}.review_wrap .review_tab li.on{background:#fff;border:1px solid #00a9e0;border-bottom:1px solid #fff}.review_wrap .review_tab li:first-child{border-left:1px solid #dedede}.review_wrap .review_tab li:first-child.on{border-left:1px solid #00a9e0}.review_wrap .review_tab li:last-child.on{margin-left:-1px}.review_wrap .review_tab li a{display:block;padding:12px 0 10px;text-align:center;font-size:14px;color:#666}.review_wrap .review_tab li.on a{font-weight:700;color:#009fd9}.review_wrap .review_tab li span{margin-left:4px}.sort_condition:after{display:block;clear:both}.sort_condition li{padding:12px 0 0}.sort_condition li .fixed_layer li{width:100%;float:none;padding:0}.sort_condition li:first-child .option_select{margin:0 5px 0 0}.sort_condition li:nth-child(2) .option_select{margin:0 0 0 5px}.sort_condition li:nth-last-child(2):first-child,.sort_condition li:nth-last-child(2):first-child~li{float:left;width:50%}.sort_condition li.only{float:none;width:100%}.sort_condition li.only .option_select{margin:0}.premium_review,.simple_review{margin:0 -10px}.oclock .premium_review,.oclock .simple_review{min-height:400px}.review_list{margin:0}.review_list li{position:relative;padding:16px 10px 19px;border-bottom:1px solid #e6e6e6}.review_list li a{display:block}.review_list li .star_rate_wrap{display:block;width:80px;height:14px;margin:0 0 8px;background-position:0 -275px}.simple_review .review_list li .star_rate_wrap{margin:0 0 6px}.review_list li .star_rate_wrap .star_rate{display:block;height:12px;background-position:0 -300px}.review_list li .img_wrap{position:relative;min-height:72px;padding-left:90px;margin-bottom:2px}.contents_wrap,.prd_tab_cont{min-height:530px}.review_list li .img_container{position:absolute;top:2px;left:0;width:80px;height:72px}.review_list li .review_contents+.img_container{z-index:10}.review_list li .img_container img{width:80px;height:72px}.review_list li .review_contents{font-size:12px}.review_list li .review_info .report{display:none}.review_list li .review_contents .select_prd{display:block;margin:-2px 0 8px;color:gray;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.simple_review .review_list li .review_contents .select_prd{display:-webkit-box;max-height:2.6em;-webkit-line-clamp:2;line-height:1.3em;font-size:13px;white-space:normal;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden}.review_list li .review_contents .option_prd{display:block;margin:-1px 0 7px;font-size:13px;color:#009fd9;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.review_list li .review_contents .option_prd em:before{display:inline-block;content:'|';padding:0 3px 0 0;color:#a7e2f3}.review_list li .review_contents .review{display:-webkit-box;max-height:2.6em;-webkit-line-clamp:2;line-height:1.3em;font-size:13px;text-overflow:ellipsis;overflow:hidden;color:#333}.review_list li .review_contents .review_simple{font-size:13px}.review_list li .review_contents.no_option .review{display:-webkit-box;max-height:3.9em;-webkit-line-clamp:3;line-height:1.3em;text-overflow:ellipsis;overflow:hidden}.review_list li.open .review_contents .review,.review_list li.open .review_contents.no_option .review{text-overflow:initial;max-height:none;-webkit-line-clamp:initial;overflow:visible}.review_list li .review_contents.no_option .option_prd{margin:-1px 0 0}.review_list li .review_info{display:block;margin:8px 0 0;font-size:11px;color:#959595}.review_list li .review_info em:before{display:inline-block;content:'|';color:#cecece;padding:0 3px}.review_list li .review_info em:first-child:before{content:'';padding:0}.review_list li .img_wrap .review_contents .review{margin-bottom:3px}.review_list li .btn_close{display:none;width:38px;height:23px;text-align:center;font-size:12px;color:#666;border:1px solid #ccc;border-radius:3px}.review_list li.open{padding:16px 10px 42px}.review_list li.open .img_wrap{position:static;padding:0}.review_list li.open .review_contents .option_prd,.review_list li.open .review_contents .select_prd{text-overflow:inherit;white-space:normal}.review_list li.open .review_contents .option_prd{margin:-1px 0 7px}.review_list li.open .review_contents .review{padding:0;margin-bottom:2px}.review_list li.open .img_container{position:static;width:100%;height:auto;margin:8px 0 5px}.review_list li.open .img_container img{width:100%;height:auto}.review_list li.open .review_info{position:absolute;bottom:16px}.review_list li.open .review_info .report{display:inline-block;cursor:pointer}.review_list li.open .btn_close{display:block;position:absolute;bottom:12px;right:10px;cursor:pointer}.review_list li.no_show .review{color:gray}.review_list li.noReview{border:0}.review_noshow{margin:0 -10px}.review_noshow .noshow_guide{padding:17px 10px 10px}.review_noshow .noshow_guide li{position:relative;padding:0 0 7px 6px;color:#959595;font-size:11px;line-height:15px}.review_noshow .noshow_guide li:before{display:block;content:'';position:absolute;top:4px;left:0;width:2px;height:2px;background-position:-130px -175px}.review_noshow .sort_condition{padding:0 10px 15px}.review_noshow .review_list li{padding:16px 10px 0}.review_noshow .review_list li .review_contents .option_prd{margin:5px 0 3px;padding-bottom:10px}.no_review,.no_review .write_get_point{padding:37px 0 0}.review_noshow .review_list li .review_info{position:absolute;right:10px;top:8px}.review_noshow .review_list li .star_rate_wrap{margin:0 0 1px}.no_review{text-align:center;font-size:14px;color:#959595}.no_review .write_get_point img{max-width:100%}.review_list li .no_review{margin-bottom:-17px;padding:53px 0 52px;background:#fff}.reviewed_prd{position:relative;height:60px;padding:10px 15px 10px 80px;border-bottom:1px solid #f0f0f0;font-size:12px}.reviewed_prd .img_wrap{position:absolute;top:10px;left:10px}.reviewed_prd .img_wrap img{width:60px;height:60px}.reviewed_prd dl dt{padding:3px 0 5px;color:#333;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.reviewed_prd dl dd{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.reviewed_prd dl dd span.reviews{font-size:11px;color:#009fd9}.reviewed_prd dl dd span.score{display:inline-block;padding:0 0 0 6px;font-size:11px;color:#666}.reviewed_prd dl dd span.score:before{display:inline-block;content:'|';margin-right:6px;color:#e5e5e5}.review_list li .img_wrap .review_contents .option_prd{margin:-2px 0 7px}.review_list li.open .img_wrap .review_info{margin:2px 0 0}.review_list li .img_wrap .review_contents.no_option .review{margin-top:-5px}.prd_tab_cont{display:none}.prd_tab_cont.show{display:block}.other_prd_wrap{clear:both;margin-bottom:47px;border-bottom:1px solid #d9d9d9}.other_prd_wrap.loading{border:none}.other_prd_wrap h3{padding:20px 0 7px 10px;border-top:1px solid #d9d9d9;font-size:14px;font-weight:700;color:#333}.other_prd_wrap h3 .livetv_time{width:72px;height:22px;margin-right:8px;padding:0 0 0 28px;background-position:-200px 0;line-height:18px;vertical-align:middle;font-size:11px;color:#fff;text-indent:0;letter-spacing:-1px}.other_prd_wrap .other_list_wrap{position:relative;height:186px;margin:0 0 30px;overflow:hidden}.other_prd_wrap .other_list_wrap ul{position:absolute;top:0;left:0}.other_prd_wrap .other_list_wrap ul:after{display:block;content:'';clear:both}.other_prd_wrap .other_list_wrap ul li{float:left;min-width:125px;margin-left:10px}.other_prd_wrap .other_list_wrap ul li img{width:125px;height:125px;padding:0 0 8px}.other_prd_wrap .other_list_wrap ul li span{display:block;width:125px}.prd_review.bundle{padding:0 0 56px}.prd_review.bundle>ul.bundle>li{position:relative;border-bottom:1px solid #f0f0f0;font-size:14px}.prd_review.bundle>ul.bundle>li>a{display:block;min-height:60px;padding:10px 15px 10px 80px}.prd_review.bundle>ul.bundle>li:after{content:'';position:absolute;top:33px;right:15px;width:9px;height:15px;display:inline-block;background:url(//image.cjmall.net/s/cjmall/m2/img/sp_mom.png) no-repeat;background-position:0 -300px;background-size:100px 600px;text-indent:-1000px;overflow:hidden;color:transparent}.prd_review.bundle>ul.bundle li.cant_review:after,.prd_review.bundle>ul.bundle li.no_review:after{display:none}.prd_review.bundle>ul.bundle>li>a>.img_wrap{position:absolute;top:10px;left:10px}.prd_review.bundle>ul.bundle>li>a>.img_wrap img{width:60px;height:60px}.prd_review.bundle>ul.bundle>li:first-child>a{padding-top:15px}.prd_review.bundle>ul.bundle>li:first-child>a>.img_wrap{top:15px}.prd_review.bundle>ul.bundle li dl dt{padding:3px 19px 0 0;color:#333;display:-webkit-box;-webkit-line-clamp:2;line-height:1.3em;max-height:2.4em;text-overflow:ellipsis;overflow:hidden}.prd_review.bundle>ul.bundle li dl dd{padding:5px 0 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.prd_review.bundle>ul.bundle li dl dd span.reviews{font-size:12px;color:#009fd9}.prd_review.bundle>ul.bundle li dl dd span.score{display:inline-block;padding:0 0 0 6px;font-size:12px;color:#666}.prd_review.bundle>ul.bundle li dl dd span.score:before{display:inline-block;content:'|';margin-right:6px;color:#e5e5e5;vertical-align:1px}.prd_review.bundle>ul.bundle li dl dd span.no_review{display:block;padding:6px 0 0;font-size:12px;color:#999;text-align:left;line-height:16px}.prd_review.bundle>ul.bundle li.no_review{padding:0;text-align:left}.btn_wrap .btn a,.fixed_btn a{display:block;text-align:center}.prd_review.bundle>ul.bundle li.cant_review span.no_review{padding:8px 0 0;line-height:16px}@media all and (min-width:640px){.other_prd_wrap .other_list_wrap ul li{float:left;min-width:140px}.other_prd_wrap .other_list_wrap ul li img{width:140px;height:140px}.other_prd_wrap .other_list_wrap ul li span{display:block;width:140px}}.btn_wrap .btn,.buy_wrap{width:100%}.other_prd_wrap .other_list_wrap ul li .title{display:-webkit-box;height:2.4em;-webkit-line-clamp:2;line-height:1.2em;text-overflow:ellipsis;overflow:hidden;font-size:13px;color:#333}.other_prd_wrap .other_list_wrap ul li .price{padding:6px 0 0;font-size:12px;color:#333}.other_prd_wrap .other_list_wrap ul li .price strong{font-size:15px;vertical-align:-1px}.other_prd_wrap .other_list_wrap ul li .consult{padding:6px 0 0;font-size:13px;font-weight:700;color:#333}.buy_wrap{position:fixed;left:0;bottom:0;z-index:1000}.buy_wrap .scroll_wrap{z-index:9}.fixed_btn a{height:49px;line-height:49px;font-size:17px;font-weight:700;color:#fff;background:#eb3671}.fixed_btn a:active{background:#d73d6e}.buy_wrap:after{content:" ";position:absolute;top:-6px;left:0;right:0;height:6px;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2));background:-o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2));background:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2));background:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2));background:-ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2))}.fixed_btn.dim a{background:#a6a6a6}.btn_wrap{position:relative;padding:0 10px 8px;overflow:hidden}.btn_wrap .btn a{height:40px;line-height:40px;font-size:17px;font-weight:700;color:#ec3671;background:#fff;border:1px solid #ec3671;border-radius:4px;-webkit-border-radius:4px}.btn_wrap .btn a:active{border:1px solid #d73d6e;background:#e1e1e1;color:#d73d6e}.btn_wrap .btn:nth-last-child(2):first-child{float:left;width:50%}.btn_wrap .btn:nth-last-child(2):first-child a{margin-right:5px}.btn_wrap .btn:nth-child(2){float:right;width:50%}.btn_wrap .btn:nth-child(2) a{margin-left:5px;margin-right:0}.btn_wrap .btn_dim a,.btn_wrap .btn_dim a:active{background:#cbcbcb;color:#fff;border:1px solid #cbcbcb}.btn_wrap .btn_buy a{background:#ec3671;color:#fff;border:1px solid #ec3671}.btn_wrap .btn_buy a:active{background:#d73d6e;color:#fff;border:1px solid #d73d6e}.bottom_wrap{background:#f0f0f0}.total_price_wrap{position:relative;border-top:1px solid #e6e6e6}.total_price_wrap .pre_calculate{position:absolute;top:10px;left:10px;display:block;padding:0 8px;width:auto;height:25px;line-height:25px;text-align:center;font-size:12px;color:#333;background:#fff;border:1px solid #999;border-radius:3px;-webkit-border-radius:3px}.total_price_wrap .pre_calculate:before{content:'';width:13px;height:14px;margin:0 5px 0 0;background-position:0 -350px;vertical-align:-2px}.total_price_wrap p{padding:11px 11px 11px 0;text-align:right;color:#eb3671;font-size:14px}.total_price_wrap p strong{margin:0 1px 0 7px;font-size:22px;vertical-align:-2px}.option_select{position:relative;margin:13px 10px 8px}.option_select:after{display:block;content:'';position:absolute;bottom:12px;right:10px;width:14px;height:8px;background-position:-60px 0}.option_select.open:after{top:12px;background-position:-60px -20px}.option_select.title_open:after{top:36px;background-position:-60px -20px}.option_select.selected:after{background-position:-60px -40px}.option_select.none:after{display:none}.option_select .select_txt{display:block;position:relative;padding:8px 25px 7px 10px;font-size:13px;color:#00a9e0;text-indent:0;background-color:#fff;border:1px solid #00a9e0;cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.option_select .select_txt.choose{color:#333}.option_select .select_txt em{margin-left:8px;font-size:11px;color:#00a9e0;font-style:normal;font-weight:400}.option_select .option_list{display:none;position:absolute;background:#fff;width:100%}.option_select .option_list_wrapper{display:none;height:190px;position:relative;margin-bottom:-8px;border:1px solid #00a9e0;border-top:0;background:#fff;overflow:hidden;z-index:2000}.option_select .option_list_wrapper .option_list{display:block;position:absolute;left:0;top:0;width:100%;z-index:1}.option_select.selected .select_txt{color:#333;background-position:right -95px;border:1px solid #d9d9d9}.option_select.selected .select_txt em{color:#959595}.option_select .option_list li{position:relative;font-size:13px;color:#333;border-bottom:1px solid #e1e1e1}.option_select .option_list li a{display:block;padding:9px 40px 8px 10px;color:#333;line-height:16px;font-size:13px;word-break:break-all}.option_select .option_list li span{display:block;padding:2px 0 0;font-size:13px;color:#666}.option_select .option_list li.checked:after{position:absolute;top:50%;right:11px;width:13px;height:9px;margin-top:-5px;content:'';background-position:-180px -175px}.option_select .option_list li.soldout a{cursor:default}.option_select .option_list li.soldout a,.option_select .option_list li.soldout span{color:#aeaeae}.option_select .option_list li span.soldout{display:inline-block;margin-left:6px;margin-right:-3px;color:#aeaeae}.option_select .option_list li span.soldout:before{display:inline-block;content:'|';font-size:13px;margin-right:6px;color:#e1e1e1}.option_select .option_list li span.stock{display:inline-block;margin-left:3px;margin-right:-3px}.option_select .option_list li span.stock:before{display:inline-block;content:'|';font-size:13px;margin-right:6px;color:#e1e1e1}.option_select .option_list li.one_line span{display:inline-block}.option_wrap{position:relative;padding:7px 0 0;background:#f0f0f0;border-top:1px solid #a6a6a6}.btn_option_close{position:absolute;top:-31px;left:50%;width:102px;height:37px;background-color:transparent;background-position:10px -312px;margin-left:-51px;z-index:1000}.option_wrap .alarm_layer{position:absolute;top:-80px;left:50%;width:236px;margin-left:-120px;padding:14px 0;text-align:center;line-height:16px;color:#333;background:#ebfaff;border:1px solid #b9dbe6;border-radius:2px;box-shadow:0 1px 1px 1px rgba(100,100,100,.1);z-index:1001}.option_wrap .alarm_layer span{color:#009fd9}.option_wrap .alarm_layer:after{content:" ";position:absolute;bottom:-8px;left:50%;margin-left:-6px;width:12px;height:8px;background-position:-100px -280px}.broadcast_notice li:before,.cant_road button:before,.sns_share li a:before,.sns_share:after{content:''}.option_wrap .alarm_layer .alarm_close{display:block;position:absolute;top:9px;right:9px;width:22px;height:22px;background-position:right -30px}.cant_road{position:relative}.cant_road span{height:30px;line-height:30px;font-size:13px;color:#7b7b7b}.cant_road button{position:absolute;top:0;right:0;width:79px;padding:5px 0;border:1px solid #c5c5c5;background:#fff;font-size:12px;color:#7a7a7a;border-radius:3px;-webkit-border-radius:3px}.cant_road button:before{width:17px;height:12px;margin-right:5px;background-position:-180px -140px;vertical-align:-3px}.gift_delivery_wrapper{position:relative;min-height:16px;padding:6px 120px 9px 10px}.delivery_fees{position:absolute;top:6px;right:21px;font-size:12px}.delivery_fees strong{margin:0 1px 0 7px;font-size:14px;font-weight:400}.selected_item{margin:0 10px;overflow:hidden}.selected_item li p.gift_date .delete,.selected_item li p.item_price .delete{width:20px;height:21px;background-position:-170px -200px;position:absolute;margin-top:-1px}.selected_item li{position:relative;padding:12px 11px;overflow:hidden;border-bottom:1px solid #f0f0f0;background:#fcfcfc}.selected_item li:last-child{border:0}.selected_item li span{display:block;padding:0 25px 8px 0;font-size:13px;line-height:18px;word-break:break-all}.selected_item li span.only_soldout{padding:0}.selected_item li span.gift{padding:0 25px 0 0}.selected_item li p.item_number{float:left}.selected_item li p.item_number .minus{background-position:-113px -325px;width:24px;height:24px}.selected_item li p.item_number .plus{background-position:-176px -325px;width:24px;height:24px}.selected_item li p.item_number input{width:39px;height:22px;border:0;color:#333;font-size:14px;text-align:center;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background:#fff;vertical-align:top}.selected_item li p.item_price{float:right;font-size:12px;padding:2px 0 0;text-align:right;vertical-align:middle}.selected_item li p.item_price strong{font-size:16px;vertical-align:-1px;margin-right:1px}.selected_item li p.item_price .delivery{padding:0;font-size:11px;color:#969696}.selected_item li p.item_price .delete{top:10px;right:10px;margin-left:7px;vertical-align:middle}.selected_item li p.gift_date{padding:3px 0 0;font-size:11px;color:#959595}.selected_item li p.gift_date .delete{top:10px;right:10px;margin-left:7px;vertical-align:middle}.option_title{padding:5px 0;font-size:13px;font-weight:700;color:#333;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.gift_title{padding:0;font-size:12px;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.discount_list{padding:0 0 9px;border-bottom:1px solid #d9d9d9}.discount_list li{position:relative;padding:0 0 6px;color:#333;font-size:13px}.discount_list li span{position:absolute;top:0;right:0}.total_discount{position:relative;padding:15px 0 0;color:#333;font-size:13px;font-weight:700}.total_discount span{position:absolute;top:15px;right:0}.about_discount{margin:20px -30px -20px;padding:20px 30px;background:#f6f6f6;font-size:13px;color:gray}.layer_wrap.share .layer_inner .layer_cont{padding:20px 15px}.sns_share:after{display:block;clear:both}.sns_share{width:100%;margin:7px 0}.sns_share li{float:left;width:33.3%;padding-bottom:23px;text-align:center}.sns_share li:nth-child(4),.sns_share li:nth-child(5),.sns_share li:nth-child(6){padding:0}.sns_share li:nth-last-child(2):first-child,.sns_share li:nth-last-child(2):first-child~li{width:50%}.sns_share li a{position:relative;display:block;padding:65px 0 0;text-align:center;font-size:10px;color:#666}.sns_share li a:before{display:block;position:absolute;top:0;left:50%;width:57px;height:57px;margin-left:-28px;background-image:url(../img/sp_sns.png);background-size:172px 120px;background-repeat:no-repeat}.sns_share li a.kakaotalk:before{background-position:0 0}.sns_share li a.kakaostory:before{background-position:-57px 0}.sns_share li a.facebook:before{background-position:-115px 0}.sns_share li a.line:before{background-position:0 -60px}.sns_share li a.url_copy:before{background-position:-57px -60px}.sns_share li a.etc:before{background-position:-115px -60px}.full_layer{display:none;position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;background:#fff;z-index:1500;overflow-y:scroll;-webkit-overflow-scrolling:touch}.full_layer .header{position:relative;top:0;left:0;width:100%;height:43px;background:#00a9e0;text-align:center;z-index:1501}.full_layer .header h1{line-height:43px;color:#fff;font-size:17px;font-weight:400}.full_layer .header a,.full_layer .header a.close_full_layer{display:block;position:absolute;top:13px;right:12px;width:15px;height:15px;background:url(../img/btn_close_layer.png) no-repeat;background-size:15px 15px;color:transparent;overflow:hidden}.full_layer .header .history_back{position:absolute;top:0;left:0;display:block;width:32px;height:43px;background:url(../img/v2_btn_page_back.png) center center no-repeat;background-size:12px 20px;z-index:999}.full_layer .full_content{background:#fff}.full_layer .full-inner{width:100%}.full_layer.show{display:block}.broadcast_alarmy{position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;background:#f6f6f6;z-index:9999}.broadcast_alarmy:before{display:none}.broadcast_alarmy .alarmy_contents{background:#fff}.broadcast_alarmy .alarmy_contents .coupon_area{height:43px;padding:15px;background:#f6f6f6;text-align:center}.broadcast_alarmy .alarmy_contents .coupon_area .coupon_down{overflow:hidden;display:inline-block;position:relative;height:43px;padding:0 0 0 105px;font-size:13px;line-height:18px;color:#333}.broadcast_alarmy .alarmy_contents .coupon_area .coupon_down p{display:inline-block;padding-top:4px;font-size:13px;text-align:left}.broadcast_alarmy .alarmy_contents .coupon_area .coupon_down img{position:absolute;top:0;left:0;width:93px;height:43px}.broadcast_alarmy .alarmy_contents .coupon_area .coupon_down p span{font-size:11px;color:#009fd9}.broadcast_alarmy .alarmy_contents dl{padding:0 15px}.broadcast_alarmy .alarmy_contents dl:not(:first-child){border-top:1px solid #ccc;padding:5px 15px 0}.broadcast_alarmy .alarmy_contents dl dt{float:left;width:90px;height:33px;line-height:33px;padding:0 0 5px;font-size:12px;color:#666}.broadcast_alarmy .alarmy_contents dl dd{padding:0 0 5px 2px;min-height:33px;color:#333;font-size:13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.broadcast_alarmy .alarmy_contents dl dd .select_box{height:33px}.broadcast_alarmy .alarmy_contents dl dd span{display:block;padding-top:9px;line-height:1.2em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.broadcast_alarmy .alarmy_contents dl dd span.selbx{padding:0;border-radius:0}.broadcast_alarmy .alarmy_contents dl dd .radio_type{display:inline-block;height:33px;padding-top:0;vertical-align:middle;margin-left:-2px}.broadcast_alarmy .alarmy_contents dl dd .radio_type input[type="radio"]{position:relative;width:21px;height:21px;background-position:-179px -379px;vertical-align:middle;background-color:none;border:none}.broadcast_alarmy .alarmy_contents dl dd .radio_type input[type="radio"]:checked{position:relative;width:21px;height:21px;background-position:-179px -355px;vertical-align:middle;background-color:#fff;border:none}.broadcast_alarmy .alarmy_contents dl dd .radio_type label{padding:2px 0 0 5px;margin-right:7px;color:#666;font-size:13px;line-height:33px}.broadcast_alarmy .alarmy_contents dl dd .radio_type input[type="radio"]:checked+label{color:#009fd9}.broadcast_alarmy .alarmy_contents dl dd .btn_modify{display:inline-block;height:23px;padding:0 8px;line-height:23px;color:#666;border:1px solid #c5c5c5;border-radius:3px;vertical-align:middle}.broadcast_alarmy .alarmy_contents .mid_notice{padding:5px 15px 15px;font-size:11px;line-height:15px}.broadcast_alarmy .alarmy_contents .mid_notice a{color:#009fd9}.broadcast_alarmy .alarmy_contents .btn_area{margin:5px 15px 0}.broadcast_alarmy .alarmy_contents .btn_area:after{display:block;content:'';clear:both}.broadcast_alarmy .alarmy_contents .btn_area span a{display:block;padding:14px 0 12px;background:#009fd9;font-size:16px;font-weight:700;color:#fff;text-align:center;border-radius:3px}.broadcast_alarmy .alarmy_contents .btn_area span a:active{background:#005f87;color:#6cc4e0}.broadcast_notice{margin:15px 0 0;padding:15px 15px 0;background:#f6f6f6}.broadcast_notice li{position:relative;color:gray;padding:0 0 15px 7px;font-size:11px}.broadcast_notice li:before{position:absolute;top:4px;left:0;width:2px;height:2px;background-position:-110px -175px}.alarmy_done{height:100%;padding:0 15px;background:#fff}.alarmy_done .done{padding:105px 0 10px;text-align:center;font-size:20px;color:#333}.alarmy_done .done strong{color:#009fd9}.alarmy_done .title{padding:0 0 123px;text-align:center;font-size:14px;color:#666}.alarmy_done .will_text{text-align:center;font-size:12px;color:#999;line-height:1.4em}.alarmy_done .btn_area{padding:60px 0 0}.alarmy_done .btn_area a{display:block;padding:14px 0 12px;margin:0 0 10px;background:#009fd9;font-size:16px;color:#fff;text-align:center;border-radius:3px}.alarmy_done .btn_area a:active{background:#005f87;color:#6cc4e0}.alarmy_done .btn_area a:last-child{background:#959595}.alarmy_done .btn_area a:last-child:active{background:#4d4d4d;color:#a6a6a6}.prd_ques_layer{position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;background:#f6f6f6;z-index:1500;overflow-y:scroll}.qna_wrap .inner{padding:15px 15px 45px;background:#fff}.qna_wrap .choose_prd{padding:0 0 5px;font-size:12px;color:#666}.qna_wrap .option_select{margin:0 0 22px}.qna_wrap .qna_title{padding:3px 0 10px;font-size:12px;color:#333;line-height:1.3em}.qna_wrap .qna_textarea{border:1px solid #d9d9d9;padding:12px}.qna_wrap .qna_textarea textarea{width:100%;height:258px;border:0;padding:0;overflow:auto;color:#999;font-size:12px;outline-style:none;-webkit-appearance:none;appearance:none;border-radius:0;-webkit-border-radius:0}.qna_wrap .qna_textarea textarea:focus{color:#333}.qna_wrap .qna_info{padding:0 0 17px}.qna_wrap .qna_info span{font-size:12px;color:#959595}.qna_wrap .qna_info span:last-child:before{display:inline-block;content:'|';color:#e6e6e6;padding:0 7px 0 0}.bad_review .btn_area:after,.bad_review .btn_area:before,.bad_review .notice li:before,.discount_detail_list li .coupon_list li:before,.discount_detail_list li button.open_coupon:after,.discount_detail_list li dl:after,.gift_select .btn_area:before,.original_image .guide:before,.pre_calculate .payment_tab:after,.qna_notice ul li:before,.select_box:before{content:''}.qna_wrap .btn_wrap{padding:15px 0 0}.qna_wrap .btn_wrap span{float:left;width:50%}.qna_wrap .btn_wrap span a{display:block;text-align:center;background:#959595;font-size:16px;color:#fff;font-weight:700;padding:12px 0;margin-right:3px;border-radius:3px;-webkit-border-radius:3px}.qna_wrap .btn_wrap span a:active{background:#4d4d4d;color:#a6a6a6}.qna_wrap .btn_wrap span:last-child a{background:#009fd9;margin:0 0 0 5px}.qna_wrap .btn_wrap span:last-child a:active{background:#005f87;color:#6cc4e0}.qna_notice{background:#f6f6f6;padding:15px}.qna_notice ul li{position:relative;padding:0 0 0 7px;font-size:11px;color:gray;line-height:1.4em}.qna_notice ul li:before{position:absolute;top:4px;left:0;background-position:-140px -175px;width:2px;height:2px}.qna_notice ul li a{color:#009fd9;border-bottom:1px solid #009fd9}.pre_calculate{position:fixed;top:0;left:0;width:100%;height:100%;background:#f6f6f6;z-index:9999}.pre_calculate .header{position:fixed;top:0;left:0;width:100%;height:43px;background:#00a9e0;text-align:center}.pre_calculate .header h1{line-height:43px;color:#fff;font-size:17px}.pre_calculate .header a{position:absolute;top:13px;right:12px;width:15px;height:15px;background:url(../img/btn_close_layer.png) no-repeat;background-size:15px 15px;text-indent:-1000em;overflow:hidden}.pre_calculate .inner{padding:0 15px;background:#fff}.pre_calculate .total_prd_price{position:relative;height:41px;line-height:41px;font-size:12px;color:#333}.pre_calculate .total_prd_price strong{position:absolute;top:0;right:0;font-size:15px}.pre_calculate .total_prd_price strong span{font-size:12px;font-weight:400;vertical-align:1px}.pre_calculate .payment_tab:after{display:block;clear:both}.pre_calculate .payment_tab li{float:left;width:50%;background:#f6f6f6;box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #dedede;border-left:0;border-bottom:1px solid #00a9e0}.pre_calculate .payment_tab li.on{background:#fff;border:1px solid #00a9e0;border-bottom:1px solid #fff}.pre_calculate .payment_tab li:first-child{border-left:1px solid #dedede}.pre_calculate .payment_tab li:first-child.on{border-left:1px solid #00a9e0}.pre_calculate .payment_tab li a{display:block;padding:12px 0 10px;text-align:center;font-size:14px;color:#666;font-weight:700}.pre_calculate .payment_tab li.on a{color:#009fd9}.discount_detail_list li{position:relative}.discount_detail_list li dl{width:203px}.discount_detail_list li dl:after{display:block;clear:both}.discount_detail_list li dl dt{float:left;height:27px;padding:10px 0;font-size:12px;line-height:27px}.discount_detail_list li dl dd{float:right;height:27px;padding:10px 0;font-size:12px;line-height:27px}.discount_detail_list li dl dd strong{font-weight:400}.discount_detail_list li.active dl dd strong{font-weight:700}.discount_detail_list li button{display:block;position:absolute;top:10px;right:0;width:75px;height:27px;color:#fff;background:#009fd9;font-size:12px;border-radius:3px;-webkit-border-radius:3px;cursor:pointer}.discount_detail_list li button.cancel{background:#959595}.discount_detail_list li button.open_coupon{border:1px solid #009fd9;background:#fff;color:#009fd9}.discount_detail_list li button.open_coupon:after{width:9px;height:6px;margin-left:2px;background-position:-30px -370px;vertical-align:1px}.discount_detail_list li .coupon_list{margin:0 -15px;padding:0 15px;background:#f6f6f6}.discount_detail_list li .coupon_list li{position:relative;padding:12px 10px 8px;border-bottom:1px solid #e1e1e1}.discount_detail_list li .coupon_list li:before{position:absolute;top:21px;left:0;width:3px;height:3px;background-position:-120px -175px}.discount_detail_list li .coupon_list li .prd_name{font-size:12px;color:#666}.discount_detail_list li .coupon_list li ul li{padding:0;border:0}.discount_detail_list li .coupon_list li ul li:before{display:none}.discount_detail_list li .coupon_list li ul li .option_select{margin:9px 0 5px;width:70%}.discount_detail_list li .coupon_list li ul li .coupon_price{position:absolute;top:0;right:0;height:30px;line-height:30px;font-size:12px}.discount_detail_list li .coupon_list li ul li .coupon_price strong{font-weight:400;font-size:14px}.discount_detail_list li .coupon_list li ul li.active .coupon_price strong,.discout_sum li{font-weight:700}.discount_detail_list li .coupon_list .btn_area{padding:13px 10px}.discount_detail_list li .coupon_list .btn_area:after{display:block;content:'';clear:both}.discount_detail_list li .coupon_list .btn_area span{float:left;width:50%}.discount_detail_list li .coupon_list .btn_area span a{display:block;margin-right:5px;padding:9px 0 7px;background:#959595;font-size:16px;color:#fff;text-align:center;border-radius:3px}.discount_detail_list li .coupon_list .btn_area span a:active{background:#4d4d4d;color:#a6a6a6}.discount_detail_list li .coupon_list .btn_area span:last-child a{margin:0 0 0 5px;background:#009fd9}.discount_detail_list li .coupon_list .btn_area span:last-child a:active{background:#005f87;color:#6cc4e0}.discout_sum{border-top:1px solid #e1e1e1;padding:15px 0 47px}.discout_sum .inner{background:#f6f6f6}.discout_sum li{position:relative;padding:10px 0 0;font-size:12px}.discout_sum li span{position:absolute;top:7px;right:0;font-weight:400}.discout_sum li span strong{font-weight:700;font-size:16px}.discout_sum li.what_i_pay{color:#eb3671}.discout_sum li:first-child{padding:3px 0 0}.discout_sum li:first-child span{top:0}.discout_sum li.delevery{padding:8px 0 0;text-align:right;font-weight:400;font-size:11px;color:#666}.discout_sum .card_discount{position:relative;margin:12px 0 0;padding:12px 0 0;border-top:1px solid #e1e1e1}.discout_sum .card_discount .option_select{margin:0;width:145px}.discout_sum .card_discount .discount_amount{position:absolute;top:12px;right:0;height:30px;line-height:30px}.pre_calculate .fixed_btn{position:fixed;bottom:0;left:0;width:100%}.layer_wrap .layer_inner .layer_cont.bad_review{padding:15px 15px 0}.select_box{position:relative;display:block}.select_box select{width:100%;height:33px;padding-left:10px;border:1px solid #d9d9d9;background:#fff;font-size:13px;color:#333;-webkit-appearance:none;appearance:none}.select_box:before{display:block;position:absolute;top:12px;right:10px;width:14px;height:8px;background:url(//image.cjmall.net/s/cjmall/m2/img/sp_mom.png) -76px -105px no-repeat;background-size:100px 600px;text-indent:-1000px;overflow:hidden;color:transparent}.select_box.selected select{border:1px solid #009fd9;color:#009fd9}.select_box.selected:before{background-position:-76px -85px}.bad_review .bad_review_text{position:relative;margin:7px 0 0;border:1px solid #d9d9d9}.bad_review .bad_review_text textarea{width:95%;height:87px;border:0;padding:10px 0 10px 10px;-webkit-appearance:none;appearance:none;border-radius:0;-webkit-border-radius:0;resize:none}.bad_review .bad_review_text span{position:absolute;bottom:5px;right:9px;font-size:10px;color:#959595}.bad_review .bad_review_text span strong{margin-right:2px;font-weight:400;color:#009fd3}.bad_review .notice{padding:10px 0 0}.bad_review .notice li{position:relative;padding:0 0 7px 8px;font-size:11px;color:gray}.bad_review .notice li:before{position:absolute;top:4px;left:0;width:2px;height:2px;background-position:-130px -175px}.bad_review .btn_area{position:relative;margin:6px -15px 0;border-top:1px solid #e6e6e6}.bad_review .btn_area:before{display:block;position:absolute;top:10px;left:50%;width:1px;height:24px;background:#e6e6e6}.bad_review .btn_area:after{display:block;clear:both}.bad_review .btn_area a{float:left;width:50%;padding:14px 0 13px;text-align:center;font-size:14px;color:#666}.bad_review .btn_area a:last-child{color:#333}.layer_wrap .layer_inner .layer_cont.gift_select{padding:25px 15px 0}.gift_select p{padding:0 0 25px;text-align:center;font-size:16px;color:#333;line-height:1.3em}.gift_select p strong{color:#009fd9}.gift_select .btn_area{overflow:hidden;position:relative;margin:25px -10px 0;border-top:1px solid #e6e6e6}.gift_select .btn_area:before{display:block;position:absolute;top:10px;left:50%;width:1px;height:24px;background:#e6e6e6}.gift_select .btn_area a{float:left;width:50%;padding:14px 0 13px;text-align:center;font-size:14px;color:#666}.gift_select .btn_area a:last-child{color:#009fd9}.layer-pop.review{display:none}.original_image{position:relative}.original_image img{display:block;max-width:100%}.original_image .guide{position:absolute;top:20px;left:50%;margin-left:-105px;padding:12px 30px 10px 60px;background:rgba(255,255,255,.95);font-size:12px;color:#333;border:1px solid #d9d9d9;border-radius:50px;-webkit-border-radius:50px}@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}.fade-out{opacity:1;-webkit-animation-delay:3s}.quick-fade{opacity:1;-webkit-animation-delay:.7s}.original_image .guide:before{position:absolute;top:16px;left:24px;display:block;width:30px;height:21px;margin:0 5px 0 0;background-position:-130px -140px}.original_image .guide strong{font-weight:400;color:#009fd9}.childinfo{clear:both;margin-top:-1px}.childinfo .child_imgbx{overflow:hidden;float:left;width:28px;height:45px;padding-right:15px;background:url(../img/kcmark.gif) 0 2px no-repeat;background-size:28px 42px;vertical-align:top;line-height:999px}.childinfo .child_tit{margin-top:0}.childinfo .child_tit p{margin-top:2px;font-size:11px;color:#666;line-height:16px}.childinfo .child_tit strong{margin-right:12px;font-size:12px;color:#333}.childinfo .child_txtbx{overflow:hidden}.childinfo .child_txtbx ul{padding:4px 0 0}.childinfo .child_txtbx li{position:relative;padding-left:8px;font-size:11px;color:#666;line-height:16px}.childinfo .child_txtbx li:last-child{padding-bottom:0}.qna_write{position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;background:#f6f6f6;z-index:9999}.qna_write.app{position:relative}.qna_write:before{display:none}.qna_write .header{position:relative;top:0;left:0;width:100%;height:43px;background:#00a9e0;text-align:center}.qna_write .header h1{line-height:43px;color:#fff;font-size:17px;font-weight:400}.qna_write .header a{position:absolute;top:13px;right:12px;width:15px;height:15px;background:url(../img/btn_close_layer.png) no-repeat;background-size:15px 15px;text-indent:-1000em;overflow:hidden}.prd_review.bundle ul.bundle li:first-child .full_layer .reviewed_prd .img_wrap{top:10px}.full_layer .review_list{margin:0}.full_layer .premium_review{margin:0 -10px}.prd_review_layer{padding-bottom:40px}#imgHtml{min-width:100%}#imgHtml :not(iframe){width:auto!important}.promotionBnArea{margin:10px 0 -10px}.promotionBnArea img{width:100%}