@charset "utf-8";

.img_product_detail{position:relative;}

.img_product_detail .slide_live { position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); text-align:center; z-index:1; }
.img_product_detail .slide_live a { display:inline-block; margin:0px 5px; padding:10px; border-radius:100px; color:#fff; text-align:center; font-size: 1.1em; background-color:rgba(0, 0, 0, 0.5); }
.img_product_detail .slide_live a:before { content:''; display:inline-block; width:25px; height:25px; margin-right:5px; vertical-align:top; background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/onair/onair.png'); background-size:150px 150px; background-position:-14px -18px; background-repeat:no-repeat; vertical-align:middle; }
.img_product_detail .slide_live a.live_360:before { background-position:-44px -18px; }

.img_product_detail ul{ height:320px; overflow:hidden; }
.img_product_detail ul:after{content:""; display:block; clear:both;}
.img_product_detail ul li{float:left; position:relative;}
.img_product_detail .recommend-goods	{ position: absolute; right: 0; bottom: 10px; z-index: 100; width: 40px; height: 75px; font-size: 0; background-image: url(http://image.hyundaihmall.com/static/smart/2017/mobile/images/detail/butn_detail_recommend2.png); background-size: 40px; display: block }
.detail_flag{margin-bottom:8px;}
.detail_flag .flag{position:static; display:inline-block; padding:0px 6px; background-color: #7da1a0; font-size:10px; color: #fff; text-align: center; letter-spacing: -0.5px; line-height:15px; }
.detail_flag .flag.department{background-color: #cea24e;}
.detail_flag .flag_text{font-size:15px; color:#EA6250; }
.goodluck_mark{position:absolute; bottom:15px; left:17px; width:57px; height:57px; }
.detail_title_area{padding:18px 16.5px; border-bottom:1px solid #cccccc; background-color:#fff;}
.detail_title{font-size:18px; color:#2a282b;}
.detail_title_sub{font-size:15px; color:#777777; margin-top:5.5px;}

.sale_period_area{background-color:#fff; padding:18px 16.5px; border-bottom:1px solid #cccccc; background-color:#fff;}

.goodluck_dl{}
.dl_detail > *{padding-bottom:9px;}
.dl_detail > dd:last-child{padding-bottom:0px;}
.dl_detail{padding:18px 16.5px 9px 16.5px; border-bottom:1px solid #cccccc; background-color:#fff;}
.dl_detail dt{float:left; width:100px; font-size:14px; color:#2a282b; font-weight:bold; min-height:18px; line-height:18px}
.dl_detail dd{margin-left:100px; font-size:14px; color:#2a282b; line-height:1.4; letter-spacing:-0.5px; min-height:18px; }
.dl_detail dd .subCon, .dl1 dd .subCon{display:block; font-style:normal; font-size:14px; color:#999999;}
.dl_detail dd .subCon .black, .dl1 dd .subCon .black{color:#2a282b;}
.dl_detail dd > span > em{color:#ea6250;}
.dl_detail .couponLink{display:inline-block; width:125.5px; height:23px; line-height:23px; text-align:center; border:1px solid #b7b7b7; background:#fff url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/arrow_right.png") no-repeat 115px center ; color:#999;  font-size:13px; background-size:3px 7px;letter-spacing:-1.5px;  text-indent:-10px;}


.price_area{background-color:#f8f8f8; border-bottom:1px solid #ccc;}
.price_area .dl_detail{background-color:transparent; border-bottom:0; /*max-height:155px;*/overflow:hidden;}
.goodluck_price_area {background-color:#f8f8f8; border-bottom:1px solid #ccc;}
.goodluck_price_area .dl_detail{background-color:transparent; border-bottom:1px solid #e3e3e3; height:56px;overflow:hidden; }

.discount_money_area .dl_detail{height:0px; max-height:none; padding-top:0; padding-bottom:0;}

.dl_detail.open {height: auto; max-height:inherit; padding-bottom:9px;}
.department_tx_area.open {height: auto; }

.btn_info_open{display:block; height:35px; border-top:1px solid #e1e1e1; line-height:35px; text-align:center; font-size:12px; color:#999999; background-size:7px 3.5px}
.btn_info_open span {background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_arrow.png") no-repeat right center; background-size:7px 3.5px; padding-right:10px; }
.btn_info_open .open{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_arrow_up.png") no-repeat right center; background-size:7px 3.5px;}

/* .dl_detail .help{width:11px; height:11px; line-height:11px; border:1px solid #b8b8b8; background-color:#fff; font-size:9px; color:#9a9a9a; vertical-align:1px;} */

.dl_detail .price{font-size:19.5px; color:#ea6250; font-weight:bold;}
.dl_detail .price > span{font-size:13px; color:#2a282b; font-weight:normal}
.dl_detail .tx_countdown{font-size:14.5px; color:#333333; font-weight:bold;}
.dl_detail .tx_countdown > span{font-size:13px; color:#2a282b; margin-left:14.5px; vertical-align:1px;}

.tx_br{display:block;}

.detail_text_banner{display:block; border-bottom:1px solid #ccc; background-color:#fef3be; padding:19.5px 0; margin-top:5px;}
.detail_text_banner p{text-align:center; font-size:15px; color:#2a282b; font-weight:bold; }
.detail_text_banner p span{color:#f98070; }


.detail_share_area{background-color:#fff0e4; padding:19px 17.5px 17px; position:relative; border-bottom:1px solid #ccc;}
.share_title{font-size:15px; color:#1b1a1a; font-weight:bold; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_share.png") no-repeat left 3px; padding-left:20px;  background-size:15px 12.5px;}
.detail_share_area .detail_price{font-size:12px; color:#1b1a1a; text-align:right; margin-top:-15px; font-weight:bold;}
.detail_share_area .detail_price > em{font-size:15px; color:#ea564f; font-weight:bold; font-style:normal; margin-left:7px;}
.detail_share_area .detail_price > em > span{font-size:12px; vertical-align:1px;}

.friend_list{margin-top:14px;}
.friend_list:after{content:""; display:block; clear:both;}
.friend_list li{float:left; width:63.5px;}
.friend_list li > .heart_off{display:inline-block; width:26px; height:26px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_heart1_off.png") no-repeat left top; background-size:26px 26px; vertical-align:middle;}
.friend_list li > .heart_on{display:inline-block; width:26px; height:26px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_heart1_on.png") no-repeat left top; background-size:26px 26px; vertical-align:middle;}
.detail_share_area .btn{display:inline-block; width:73.5px; height:24px; line-height:24px; text-align:center; font-size:11px; color:#fff; background-color:#f98070; position:absolute; right:17.5px; top:48.5px;}
.friend_id{margin-left:4.5px; display:inline-block; width:27px; overflow:hidden;}

.detail_share_info{background-color:#fce0d1; border-bottom:1px solid #ccc; padding:18.5px 17.5px 12.5px;}
.detail_share_info strong{display:block; text-align:center; font-size:13px; color:#1b1a1a; font-weight:bold; }
.detail_share_info .share_ul:after{content:""; display:block; clear:both; }
.detail_share_info .share_ul li{width:50%; float:left;}
.share_ul{margin-top:3px;}
.share_ul li > img{float:left; width:43.5px; height:48px; margin-left:7px;}
.detail_share_info > p{font-size:12px; color:#1b1a1a; text-align:center; margin-top:5.5px; }

.share_ul > li > dl{float:left; margin-left:7px;}
.share_ul > li > dl dt{font-size:12.5px; color:#2a282b; font-weight:bold; }
.share_ul > li > dl dd{font-size:13px; color:#ea564f; font-weight:bold; margin-top:2px; }
.share_ul > li > dl dd > span{font-size:11px; display:inline-block;vertical-align:top;margin-left:2px; }
.share_ul > li > dl dd:first-child{font-size:12px; }

.product_code{height:38px; margin-bottom:5px; line-height:38px; background-color:#ffffff; font-size:13px; color:#989898; padding:0 15px; border-bottom:1px solid #ccc;}
.product_code:after{content:""; display:block; clear:both; }
.product_code span{float:left; font-weight:bold; font-size:12px; color:#989898; }
.product_code span strong{color:#333; font-weight:bold;}

.detail_info_area{border-bottom:1px solid #ccc; background-color:#fff; padding:19px 17px;}
.d_info_title{display:block; font-size:13px; color:#2a282b; font-weight:bold; margin-bottom:11px;}
.gift_photo_type{}
.gift_photo_type:after{content:""; display:block; clear:both; }
.gift_photo_type .gift_img{display:inline-block; float:left; margin-right:14px;}
.gift_photo_type .gift_img img{width:70px; width:70px;}
.gift_photo_type > .gift_text{float:left; display:inline-block; width:70%; line-height:1.3; position:relative;}
.gift_photo_type > .gift_text > em{font-size:13px; color:#2a282b; font-weight:normal; font-style:normal;}
.gift_photo_type > .gift_text > .gift_time{display:block; margin-top:12px; /*position:absolute; bottom:0; left:0;*/ font-size:12px; color:#2a282b; margin-right:14px; font-weight:normal;}
.gift_time > span{color:#949596;  color:#949596; margin-left:13px; vertical-align:-1px; letter-spacing:-0.7px; }
.d_info_tx{font-size:12px; color:#2a282b; line-height:1.3; margin-bottom:29px;}
.d_info_tb {width:100%; margin-bottom:10px;}
.d_info_tb thead tr th{background-color:#b8babc; border-left:1px solid #fff; padding:6.5px 0; font-size:12px; color:#fff;}
.d_info_tb thead tr th:first-child{border-left:0;}
.d_info_tb tbody tr td{background-color:#edeef0; border-left:1px solid #fff; border-top:1px solid #fff; padding:6.5px 0; text-align:center; font-size:12px; color:#252323;}
.d_info_tb tbody tr td:first-child{border-left:0;}

.gift_list_type {margin-bottom:28px; /* display:none; */} /* 2016-02-25 vegas09 : 사은품 영역 none처리되어 있음 */
.gift_list_type > em{font-size:12px; color:#2a282b; font-weight:bold; font-style:normal;}
.gift_list_type > ul{margin-top:11px;}
.gift_list_type > ul > li{font-size:13px; color:#414042; line-height:18px; margin-top:5px; padding-left:10px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/list_dot.png") no-repeat left 4px; background-size:2px; }
.gift_list_type > ul > li:first-child{margin-top:0;}
.gift_list_type > .gift_time{display:block; font-size:12px; color:#2a282b; font-weight:bold; margin-top:13.5px;}

.img_banner_detail{border-bottom:1px solid #ccc; margin-top:5px;}

.detail_tab_area{ margin-top:5px; position: relative; background-color:rgba(0, 0, 0, 0.1); }

.detail_tab_area > .group{position: absolute; border-bottom:1px solid #ccc; background-color:#fff; width:100%; z-index:100;}
.detail_tab_area > .group:after{content:""; display:block; clear:both;}
.detail_tab_area > .group li{float:left; width:25%;}
.detail_tab_area > .group a{display:block; width:100%; font-size:13px; color:#949596; font-weight:bold; height:43px; line-height:45px; text-align:center; }
.detail_tab_area > .group .on a{border-bottom:2.5px solid #231f20;  color:#2a282b;}
.detail_tab_area > .detail_tab_3 li{width:33.33333%;}

.group.fixed {position: fixed; top:46px; z-index: 600;}
.group.fixed_old {position: fixed; top:0px; z-index: 600;}
#wrap.kakao .group.fixed	{ top:0 }

.detail_tab_content {padding-top: 45px;}

.basic_info_cnt{padding:5px 7px; display:none;}
.item_box_area{border-bottom:1px solid #ccc; padding:15px 10px;background-color:#fff; /*margin-top:5px;*/}
.item_box_area:after{content:""; display:block; clear:both;}
.item_box_area .item_img{float:left; display:inline-block; width:88px; height:88px; }
.cnt_select{border:none; height: 35px; padding-left: 5px; padding-right: 45px; background: url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/select_arrow.jpg") no-repeat right top; background-size: 36px 38px; background-color: #fff; border-bottom:1px solid #cccccc; font-size: 12px; -webkit-box-sizing: border-box; color:#333333; width:100%; font-weight:bold;}
.item_txt_box{float:left; width:55%; margin-left:14px; position:relative; height:88px;}
.item_txt_box > strong{font-size:13px; color:#2a282b; line-height:1.3; font-weight:bold;}
.item_txt_box .txt_bottom{position:absolute; bottom:0 ; left:0;}
.txt_bottom .txt_item_code{display:block;font-size:11px; color:#949596;font-weight:bold;}
.txt_bottom .txt_item_code > span{ color:#949596; margin-left:7px;}
.txt_bottom .txt_item_price{display:block;font-size:11px; color:#e64548; font-weight:bold; margin-top:4px;}
.txt_bottom .txt_item_price > span{font-size:15px; margin-left:7px; margin-right:1px; vertical-align:-1px;}

.info_tx_area{background-color:#fff; border-bottom:1px solid #ccc; margin-top:5px; padding-bottom:32px;}
.info_tx_area .item_tit{border-bottom:1px solid #e3e3e3; height:38px; line-height:38px;  text-indent:16px; font-size:13px; color:#333333;}
.info_tx_area .item_tit > span{margin-left:5px; display:inline-block; vertical-align:-2px; background-image:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_detail_pack.png"); background-repeat:no-repeat; background-size:20px 90px; }
.icon_item01{width:16px; height:12px; background-position:0px 0px;}
.icon_item02{width:14.5px; height:12.5px; background-position:0px -25px;}
.icon_item03{width:15.5px; height:13px; background-position:0px -50px;}

.info_tx_area img{width:auto;}

.dl_info_tx{padding:15px 16px; line-height:1.4;}
.dl_info_tx dt{font-size:13px; color:#2a282b; font-weight:bold; margin-top:24.5px;}
.dl_info_tx dt:first-child{margin-top:0;}
.dl_info_tx dd{font-size:13px; color:#777777; margin-top:10px; line-height:1.3;}
.dl_info_tx dd.max { max-height:100px; overflow:auto; }
.dl_info_tx img, .dl_info_tx p img{width:auto;}
.dl_info_tx > img{float:left; margin-right:10px;}
.dl_info_tx em{display:block; font-style:normal;}
.ol_info_tx li{margin-top:3px; }
.li_tx_indent > li{padding-left:11px; text-indent:-11px; }
.li_tx_indent > li > ul{padding-left:11px;}
.p_info_tx{padding:15px 16px 0;font-size:13px; color:#777777; line-height:1.3;}
.hyphen_tx_indent > li{padding-left:4px; text-indent:-4px; margin-top:3px;}

.detail_info_cnt{ padding:0px 0px; /*border-bottom:1px solid #ccc;*/}
.buying_info_area{position:relative;}
.line_brown{display:inline-block; width:97px; height:25px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/box_line01.png") no-repeat left top; position:absolute; top:-3px; left:-3px; z-index:100; background-size:97px 25px;}

.cnt_tit {font-size:14px; color:#231f20; font-weight:bold; margin-bottom:12px; line-height:normal;}
.cnt_tit > img{display:none; float:right; width:46px; height:12px;}

.department_tx_list li{font-size:12px; color:#333333; line-height:1.4; padding-left:6px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/dot_list_brown.png") no-repeat left 5px; background-size:2px;
  margin-top:20px; letter-spacing: -0.5px;
}

.department_tx_list li:first-child{margin-top:0;}
.department_tx_list li .online_tx{display:inline-block; width:46px; height:13.5px; line-height:13.5px; text-align:center; background-color:#887665; color:#fff; font-size:10px; letter-spacing:-1.5px;}

.tx_important{margin-top:18px; font-size:11px; color:#666666; line-height:1.3; padding-left:8px; }
.tx_important > img{width:8.5px; height:8.5px; vertical-align:1px; }


.department_tx_area{padding:0; height:92px; overflow:hidden;}

.btn_tx_more{display:block; height:35px; background-color:#f6f6f6; border-top:1px solid #e6e7e7; border-bottom:1px solid #e6e7e7; margin:8px -8px 0;
  line-height:35px; text-align:center; font-size:12px; color:#999999;
}
.btn_tx_more span {background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_arrow.png") no-repeat right center; background-size:7px 3.5px; padding-right:10px; }
.btn_tx_more .open{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_arrow_up.png") no-repeat right center; background-size:7px 3.5px;}

.delivery_info_area	{ position:relative; padding:11px 8px 12px; border:3px solid #d4d5d6 }
.delivery_info_area .line	{ position:absolute; z-index:100; top:-3px; left:-3px; width:97px; height:25px; border-top:3px solid #2a2a2a; border-left:3px solid #2a2a2a; display:inline-block }
.delivery_info_area li	{ font-size:12px; color:#333333; line-height:1.4; padding-left:6px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/dot_list_black.png") no-repeat left 5px; background-size:2px; margin-bottom:5px; letter-spacing: -0.5px }
.delivery_info_area > img	{ display:block }

/* 170831 - 당일 출고 안내 - rlatkdals */
.theday-service	{ position:relative; padding:10px 90px 10px 15px; box-sizing:border-box; border:1px solid #ededed; background:#f5f5f5 }
.theday-service > .truck-img	{ position:absolute; top:50%; right:10px; width:80px; height:80px; font-size:0; margin-top:-40px; background-image:url('http://image.hyundaihmall.com/hmall/pd/img_truck.png'); background-size:80px; background-repeat:no-repeat }
.theday-service > p	{ letter-spacing:-0.5px; line-height:1.3em }
.theday-service .info-txt1	{ font-size:14px; color:#000; margin-bottom:8px }
.theday-service .info-txt1 > span	{ font-size:12px; color:#555 }
.theday-service .info-txt2	{ font-size:11px; color:#555 }

.inquiry_list {margin:12px 7.5px 0;}
.inquiry_list li:after{content:""; display:block; clear:both;}
.inquiry_list li{padding-left:6px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/dot_list_orange.png") no-repeat left 11px; background-size:2px 2px; font-size:11px; color:#666666;  margin-top:7px; line-height:22px;}
.inquiry_list li:first-child{margin-top:0;}
.inquiry_list li strong{font-size:11px; color:#ea6250; font-weight:normal; margin-right:12.5px;}
.inquiry_list li .btn_call{float:right; display:inline-block; width:66.5px; height:22px; line-height:22px; text-align:center; text-indent:-13px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_detail_pack.png") no-repeat 50px bottom; background-size:20px 90px; border:1px solid #ccc; }

.info_group_area > div{margin-top:10px;}
.info_group_area > div:first-child{margin-top:0;}

.notice_info_area{position:relative; border:3px solid #d4d5d6; padding:10px 7.5px 12px; margin-top:10px; font-size:13px; line-height:1.4;}
.notice_info_area em{font-style:normal;}
.line_orange{display:inline-block; width:97px; height:25px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/box_line02.png") no-repeat left top; position:absolute; top:-3px; left:-3px; z-index:100; background-size:97px 25px;}

.notice_tx{font-size:13px; color:#454444; line-height:1.3;}

.tabCon2 .info_group_area{padding:10px 7px; border-bottom:1px solid #ccc; padding-bottom:10px; background-color:#fff; overflow:hidden;}
.info_group_area .scoreCon{padding:0; border-bottom:0;}
.info_group_area .scoreCon ul{padding:0;}

.detail_info_cnt .info_group_area{padding:10px 7px;}

.product_package_area{padding:11px 0 12.5px; margin-bottom:10px; border-bottom:1px solid #ccc; background-color:#fff;}
.product_package_area h4{text-align:center; font-size:12px; color:#010101; margin-bottom:12px;}
.product_package_area em{display:block;padding:10px 0; text-align:center; font-size:11px; color:#010101; line-height:1.4; background-color:#f4f4f4;margin-bottom:12px;}
.product_package_area p{font-size:11px; color:#949596; line-height:1.4; margin-left:17px; margin-right:17px; letter-spacing:-1.7px;}

.img_zoome_area{position:relative; border-bottom:1px solid #ccc; margin-top:5px;}
.img_zoome_area .btn_zoom{position:absolute; right:0; top:0; display:inline-block; width:90px; height:29px; line-height:29px; text-align:center; font-size:13px; color:#fff; ; background:#ef6856 url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_zoom.jpg") no-repeat 5px center; background-size:19px 19.5px; text-indent:12px;}

.good_product{background-color:#fff; margin-top:5px; border-bottom:1px solid #ccc;}
.mytem_product{background-color:#fff;border-bottom:1px solid #ccc; }

.foot_link_list {background-color:#fff; display:table; width:100%;}
.foot_link_list dt{display:table-cell; width:31%;font-size:15px; color:#010101; font-weight:bold; text-indent:17px; border-bottom:1px solid #ccc;}
.foot_link_list dd{display:table-cell; width:69% ; border-bottom:1px solid #ccc;}
.foot_link_list d5:first-child{border-bottom:0;}
.foot_link_list dd:first-child{border-bottom:0;}
.foot_link_list dd > ul > li{ border-top:1px solid #e3d3e3;  padding:20px 0; }
.foot_link_list dd > ul > li a{font-size:14px; color:#777777;}
.foot_link_list dd > ul > li:first-child{ border-top:0 }
.foot_link_list dd > ul > li a > img{height:15px; width:auto;}

.option_select { /*visibility:hidden;*/ position: fixed; left: 0; right: 0; z-index: 101; width: 100%;bottom:0; }

.sel_btn{border-bottom:1px solid #b7b7b7; text-align:center; height:15.5px;}
.sel_btn a{display:inline-block; width:71px; height: 16.5px ; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_select_open.png") no-repeat center top; background-size:71px 16.5px ; margin:0 auto;}
.sel_btn a.open{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_select.png") no-repeat center top; background-size:71px 16.5px ;}

.easy_choice_area{ padding:7px 2.1875% 0; background-color:#fff; border-bottom:1px solid #b7b7b7; display: none;}

.choice_scrollY{max-height:307px; overflow-y:scroll;}

.btn_fix{/*position:fixed;*/ bottom:0px; left:0px;  width:100%; height:auto; z-index:9001; background-color:#fff;}
.btn_style{padding:7px 2.1875% 7px; position:relative;}
.btn_style:after{content:""; display:block; clear:both;}
.btn_style button{float:left; height:38px; margin-left:1.5625%; font-size:16px; color:#fff; line-height:36px; letter-spacing:-1.5px;}
.btn_style button:first-child{margin-left:0;}
.btnOrange{background-color:#ef6855; }
.btnGray{background-color:#949596}
.btnMint{background-color:#28c1bc}
.btnWhite{background-color:#fff; border:1px solid #acacac;  color:#949596 !important;  overflow:hidden;}
.btnLightGray{background-color:#edeef0; border:1px solid #cccccc;  color:#a0a1a2 !important; overflow:hidden;}

.wType1{width:100%; /* full size */}
.wType2{width:84.47712418300654%; /* 517px */}
.wType3{width:66.22222222%; /* 406 */}
.wType4{width:57.02614379084967%; /* 349px */}
.wType5{width:49.18300653594771%; /* 301px */}
.wType6{width:41.44444444444444%; /* 254px */}
.wType7{width:32.18954248366013%; /* 197px */}
.wType8{width:13.88888888888889%; /* 85px */}

.btn_easy_wish_on{background-image:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_easy_heart.png"); background-repeat: no-repeat; background-position:center -50px; background-size:19px 78.5px; text-indent:-999em; border:1px solid #ef6855;}
.btn_easy_wish_off{background-image:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_easy_heart.png"); background-repeat: no-repeat; background-position:center 11px; background-size:19px 78.5px; text-indent:-999em;}

.btn_layer_tx{position:absolute; top:-43px; left:7px; height:50px;
  font-size:13px; color:#ffffff; font-weight:bold;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_layer_tail.png") no-repeat 28px 41px; background-size:16px 10.5px;
  display:none;
}
.btn_layer_tx > span{float:left; width:306px; height:41px; line-height:41px; background:rgba(0, 0, 0, 0.6) ; z-index:1000;   border-radius:10px; text-indent:10px; }

.btn_layer_tx .btn_layer_x {float:right;width:41px; height:41px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_layer_x.png") no-repeat center center; background-size:13px 13px;}
.btn_layer_tx span:after{content:""; display:block; clear:both;}
.btn_layer_tx .btn_layer_x span{text-indent:-9999px; font-size:0; }

.choice_scrollY > ul > li{position:relative; margin-top: 5px;}
.choice_scrollY ul li:first-child{margin-top:1px;}

/* vegas09 add 2016-02-20 iscoll 구조를 만들기 위해 */
.choice_scrollY  ul.star_attr > li{position:relative; margin-top: 5px;}
.choice_scrollY ul.star_attr li:first-child{margin-top:1px;}

.easy_select a{display:block; width:auto; height:34px; line-height:34px; border:1px solid #ccc; font-size:14px; color:#555; font-weight:bold; text-indent:9.5px; overflow:hidden;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_select.png") no-repeat 97% 14px;  background-size:10px 46.5px;
}
.easy_select_on a{display:block; width:auto; height:34px; line-height:34px;border:1px solid #ef6855; font-size:14px; color:#555; font-weight:bold; text-indent:9.5px; overflow:hidden;  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_select.png") no-repeat 97% -26px; background-size:10px 46.5px;}


.combo_box_area{display:none; margin-top:-1px;width:100%; background-color:#fff; border:1px solid #ef6855; z-index:10000;  -webkit-box-sizing: border-box;
  height:270px;
   overflow-y:auto;
}
.combo_box_list{border-bottom:1px solid #e3e3e3;}
.combo_box_list li{ border-top:1px solid #e3e3e3;}
.combo_box_list li a{display:block; height:35px; line-height:35px; font-size:15px; color:#777777; text-indent:9px;}
.combo_box_list li:first-child{border-top:0; }


.num_box_area{margin-top:5px;}
.gray_box_list li{margin-top:1px; background-color:#ebecee; padding:9px 10px;}

.gray_box_list .easy_product_p{font-size:12px ;color:#666666; font-weight:bold; width:95%;}
.gray_box_list .easy_product_p .tx_basic_item{display:block; margin-top:8.5px;}


.quantity_box:after{content:""; display:block; clear:both;}

.choice_open .list1{padding:0 ; border:0;}
.choice_open .list1 li{margin-bottom:0; }
.choice_open .list1 li:after{content:""; display:block; clear:both;}
.choice_open .list1 li .second{float:left; margin-top:10px; margin-right:0; padding-right:0; width:100%;}
.choice_open .list1 li .cancel{float:right; margin-top:0;}
.choice_open .list1 li .second:after{content:""; display:block ;clear:both;}
.choice_open .list1 li .second .inputs{float:left; margin-left:0;}
.choice_open .list1 li .second .third{float:left; margin-top:7px; width:50.403%; text-align:right;}
.choice_open .list1 .quantity1 .inputs{height:30px; padding:0; /*width:113px;*/ width:100px; border:1px solid #ccc;}
.choice_open .list1 .quantity1 .inputs input{float:left; /*width:50px;*/ width:38px; height:30px; border:0; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.choice_open .list1 .inputs button{float:left; background-color:#fff; position:relative;}
.choice_open .list1 .inputs .minus{width:30px; height:30px; border-right:0; }
.choice_open .list1 .inputs .plus{width:30px; height:30px; border-left:0; }
.choice_open .list1 .inputs button:after{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596; position:absolute; left:50%; top:50%;}
.choice_open .list1 .inputs .plus:before{content:''; width:2px; height:10px; margin:-5px 0 0 -1px; background-color:#949596; position:absolute; left:50%; top:50%;}
.choice_open .list1 .quantity1 em{font-size:13px; color:#666666; font-style:normal;}
.choice_open .list1 .quantity1 b{font-size:17px; vertical-align:-1px; margin-right:2px;}
.choice_open .list1 .quantity1 .cancel{width:30px; height:30px; background-color:#fff; border:1px solid #ccc; position:relative;}
.choice_open .list1 .quantity1 .cancel:after{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596; -webkit-transform: rotate(45deg);
  position:absolute; left:50%; top:50%;
}
.choice_open .list1 .quantity1 .cancel:before{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596; -webkit-transform: rotate(-45deg);
  position:absolute; left:50%; top:50%;
}


.choice_open .list1 .quantity2 em{font-size:13px; color:#666666;}

.choice_open .list1 .quantity2 b{font-size:17px; vertical-align:-1px; margin-right:2px;}
.choice_open .list1 .quantity2 .cancel{width:30px; height:30px; background-color:#fff; border:1px solid #ccc; position:relative;}
.choice_open .list1 .quantity2 .cancel:after{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596; -webkit-transform: rotate(45deg);
  position:absolute; left:50%; top:50%;
}
.choice_open .list1 .quantity2 .cancel:before{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596; -webkit-transform: rotate(-45deg);
  position:absolute; left:50%; top:50%;
}

.delivery_charge{display:none;font-size:12px; color:#949596; margin-top:5.5px;}
.delivery_charge em{color:#ea6250; }

.etc_text{margin-top:10px; margin-bottom:10px; font-size:12px; color:#777777; }
.icon_mobile{width:auto; height:15px;}

/* 제품 상세페이지용 header */
#wrap .detail_header {position:fixed; top:0; left:0; z-index:100 ; width:100%; padding:0; border-bottom:0; box-shadow:0px 0px 0px 0px #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,000000+100&0.7+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(17,17,17,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(17,17,17,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(17,17,17,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3111111', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#wrap .detail_header .header_layout{background-color:transparent; border-bottom:0;}
.detail_header:after{content:""; display:block; clear:both;}
.detail_header .btn_back{float:left; display:inline-block;  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_back_white.png") no-repeat 50% 50%; background-size:20px; }
.detail_header .btn_home {float:left; display:inline-block; height:18px; padding:15px 0px; }
.main_header_fix .btn_home { display:none; }
.detail_header .btn_home img { width:auto; height:18px; }
.detail_header .btn_search_star{float:left; display:inline-block;  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_search_white.png") no-repeat left top; background-size:20px;}
.detail_header .btn_cart_star{float:left; display:inline-block;background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_cart_white.png") no-repeat left top; background-size:20px; }
.detail_header .btn_mypage_star{float:left; display:inline-block;  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_mypage_white.png") no-repeat left top; background-size:20px; }
.detail_header .header_category a{color:#fff; }

.detail_header_scroll{}
.detail_header_scroll .btn_back{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_back.png") no-repeat 50% 50%; background-size:20px; vertical-align:middle;}
.detail_header .header_category a{color:#000;}

.detail_header .header_category{display:none;}
.detail_header_scroll .header_category{display:block; width:40%;}

#wrap .main_header_fix{position:fixed; z-index:800; width:100%; background:#fff; border-bottom: 1px solid #ccc ;}
.main_header_fix .btn_search_star{ background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_search.png") no-repeat left top; background-size:20px;}
.main_header_fix .btn_cart_star{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_cart.png") no-repeat left top; background-size:20px; }
.main_header_fix .btn_mypage_star{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/header/btn_mypage.png") no-repeat left top; background-size:20px; }
/* 상품상세 간편선택 */

/* 2016-02-01 제품상세 */
.title1{padding:18px 17px; background-color:#fff; border-bottom:1px solid #ccc;}
.title1 h2{font-size:18px; color:#2a282b;}

.promotion{margin-bottom:8px; font-size:15px; color:#EA6250;}
.promotion span{display:inline-block; padding:0px 6px; background-color: #cea24e;
  font-size:10px; color: #fff; text-align: center; letter-spacing: -0.5px; line-height:15px;
}
.promotion span.type2{background-color:#7da1a0;}

.dl1{padding:18px 17px; background-color:#f8f8f8; border-bottom:1px solid #ccc;}
.dl1 dt{float:left; width:100px; font-size:13px; color:#2a282b; font-weight:bold; min-height:18px; line-height:18px;}
.dl1 dd{margin-left:100px; margin-bottom:9px; font-size:14px; color:#2a282b; line-height:1.4; letter-spacing:-0.5px; min-height:18px;}
.dl1 dd:last-child{margin-bottom:0;}

.dl_detail dd .price1, .dl1 dd .price1{width:auto; font-size:19px; color:#ea6250; line-height:20px;}

.calcul{float:right; display:inline-block; width:72px; height:19px;
  background:#ef6856 url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_calcul.jpg") no-repeat 3px 50%; background-size:13px;
  line-height:19px; text-align:center; text-indent:15px; font-size:11px; color:#fff; font-weight:bold; letter-spacing:-1px;
}

.dept_val{ float:right; display:inline-block; width:auto; height:19px; padding:0px 5px; background-color:#ef6856; line-height:19px; text-align:center; font-size:11px; color:#fff; font-weight:bold; letter-spacing:-1px; }

.pop_infobox .button2{width:100%; padding:15px 0; background-color:#f8f8f8; text-align:center;}
.button2 .bType1{width:100px; height:45px; background-color:#ef6856; font-size:16px; color:#fff;}

.button1{background-color:#fff;}
.button1 button{height:38px; /* margin-left:1.5625%;  */font-size:16px; color:#fff; font-weight:normal; line-height:36px;}
.button1 button:first-child{margin-left:0;}

.button1 .bType1{width:13.88888888888889%;}
.button1 .bType2{width:41.44444444444444%; background-color:#28c1bc;}
.button1 .bType3{width:41.44444444444444%; background-color:#ef6856;}

.sns_link{padding:0 17px; background-color:#fff; border-bottom:1px solid #ccc;}
.sns_link:after{content:""; display:block; clear:both;}

.code{float:left; font-size:13px; color:#989898; font-weight:bold; line-height:50px;}
.code span:before{content:" : ";}

.sns_icon{float:right;}
.sns_icon ul{}
.sns_icon ul:after{content:""; display:block; clear:both;}
.sns_icon li{float:left;}


/* 제품상세 탭 */
.itemTab{margin-top:5px;}
.itemTab > .group{width:100%; background-color:#fff; border-bottom:1px solid #ccc;}
.itemTab > .group:after{content:""; display:block; clear:both;}
.itemTab > .group > li{float:left; width:25%; border:0;}
.itemTab > .group > li.on{border:0;}
.itemTab > .group > li > a{display:block; border:0; background-color:#fff; font-size:13px; color:#949596; font-weight:bold; line-height:45px; text-align:center;}
.itemTab > .group > .on > a{border-bottom:2px solid #231f20; border-top:0; color:#2a282b;}

.tabCon .tabCon1{padding:5px 7px;}

.basic_info{padding:15px 16px; background-color:#fff; border-bottom:1px solid #ccc;}
.basic_info li{margin-top:25px;}
.basic_info li:first-child{margin-top:0;}
.basic_info em{display:block; font-size:13px; color:#2a282b; font-weight:bold; font-style:normal; line-height:18px;}
.basic_info p{margin-top:10px; font-size:13px; color:#777; line-height:18px;}

.basic_info2{padding:0; border-bottom:0;}
.basic_info2 p{margin-top:0; font-size:13px;}

.product_info2{margin-top:5px; background-color:#fff; border-bottom:1px solid #ccc;}
.product_info2 h5{padding:15px 16px; border-bottom:1px solid #e3e3e3; font-size:13px; color:#333; font-weight:bold;}
.product_info2 h5 span{display:block; margin-top:5px; font-weight:normal; line-height:18px;}
.product_info2 > div{padding:15px 16px; line-height:18px;}

.product_info2 dl{padding:15px 16px;}
.product_info2 dl dt{margin-top:25px; margin-bottom:10px; font-size:13px; color:#2a282b; font-weight:bold;}
.product_info2 dl dt:first-child{margin-top:0;}
.product_info2 dl dd{margin-top:0px; font-size:13px; color:#777; line-height:18px;}

.banner3{background-color:#fff; border-bottom:1px solid #ccc;}

.item_view{border-bottom:1px solid #ccc;}
#tab2.item_view img, #tab2.detail_info_cnt img, #item_detail_info.tabCon2.item_view img { width:auto !important; max-width:100% !important; }

.product_detail_img{margin-top:5px; background-color:#fff; position:relative;}

.item_detailZoom{display:inline-block; width:90px; height:29px;
  background:#ef6856 url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_zoom.jpg") no-repeat 5px center; background-size:19px;
  font-size:13px; color:#fff; line-height:29px; text-align:center; text-indent:16px;
  position:absolute; right:0; top:0;
}

.banner5{background-color:#fff; border-bottom:1px solid #ccc;}
.banner5:after{content:""; display:block; clear:both;}

.banner5 h5{float:left; width:31%; font-size:15px; color:#010101; font-weight:bold; text-indent:17px; line-height:50px;}
.banner5 ul{float:left; width:69%;}
.banner5 ul li{border-top:1px solid #e3e3e3; line-height:50px;}
.banner5 ul li:first-child{border-top:0;}
.banner5 ul li img{width:auto;}

.info_group_area{padding:15px 0 20px; border-bottom:1px solid #ccc; background-color:#fff; overflow:hidden; position:relative;}
.info_group_area .scoreCon{padding:0; border-bottom:0;}
.info_group_area .scoreCon ul{padding:0;}
.info_group_area .scoreCon li:first-child{float:none; width:auto; padding:0 7px 14px 17px; border-bottom:1px solid #ccc;}

.buying_info_area{padding:11px 8px 12px; border:3px solid #d4d5d6;}

.line_brown{display:inline-block; width:97px; height:25px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/box_line01.png") no-repeat left top; background-size:97px 25px;
  position:absolute; z-index:100;
}

.title_product_buy{}
.title_product_buy:after{content:""; display:block; clear:both;}
.title_product_buy em{float:left;}
.title_product_buy img{float:right; width:46px; height:12px;}

.delivery_info{background-color:#fff;}

/* 간편선택 */
.option_sel { visibility:hidden; position: fixed; left: 0; right: 0; z-index: 100; width: 100%; -webkit-transition: -webkit-transform 300ms; transiton: -webkit-transform 300ms; }
.option_sel .option_con { max-height:232px; border-top:1px #f2fafb solid; overflow:visible; background-color:#fff; }
.option_sel .list1.back9 { border-bottom: none; }
.option_sel .list1.back9.null { padding:0px 15px;}
#option_con { position: relative; overflow:visible; }

.sel_button {position:absolute; left:0; top:-46px; z-index:9002; width:100%; height:17px; border-bottom:1px solid #b7b7b7; }
.sel_button .sel_button_a{content:" "; width:71px; height:17px; margin-left: -35.5px; padding-right: 2px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_select_open.png") no-repeat center top; background-size:71px auto;
  text-align: center; color: #fff; line-height: 20px; font-size: 12px; -webkit-box-sizing: border-box;
  position: absolute; top:2px; left: 50%; z-index:9003;
}
.sel_button.on{top:-18px;}
.sel_button.on .sel_button_a{background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_select.png") no-repeat center top; background-size:71px auto;}

.bType2 a { display:block; height:45px; line-height:45px; color:#fff; }
.list1 .quantity1 .conten { padding-left: 18px;}
.list1 .quantity1 .conten:after { left: 6px; }
.list1 .quantity1 .conten.type2 { padding-left:58px; }
.list1 .quantity1 .conten.type2:after { left:46px; }
.list1 .quantity1 .quantity1_lv { color:#f03960; }
.list1 .quantity2 .select1 { background:#fff url(http://image.hyundaihmall.com/static/smart/2014/img/img_select1.png) no-repeat right 0px; background-size: 32px 31px; }

.option_sel .list1.option_select li { overflow:auto; }
.option_sel .list1.option_select li .section_selectbox { min-height:35px; height:auto; }
.option_sel .list1.option_select li .section_selectbox .optbox_list { position:relative; }

.option_sel .button1 {padding:7px 2.1875% 7px; border-top:1px solid #b7b7b7; z-index:10; background-color:#fff; }

.total_amount{padding:10px 2.1875% 8px; background-color:#fff;}
.total_amount dt{float:left; padding-left:10px; font-size:15px; color:#1b191a; font-weight:bold;}
.total_amount dd{float:right; padding-right:10px; color:#ea6250; font-size:15px; font-weight:bold;}
.total_amount dd span{font-size:20px;}

.easy_choice_area .total_amount:after{content:""; display:block; clear:both;}

.buy_btn2{border-top:1px solid #ccc !important;}

.total_amount_none{display:none !important;}


/* SELECT BOX */
.option_select > ul > li { overflow:visible; }
.section_selectbox, .section_selectbox a.optbox_sel { display:block; background-image:url('http://image.hyundaihmall.com/static/smart/2014/mobile/detail/selectbox_basic.png'); background-repeat:no-repeat; }
.section_selectbox { width:100%; height:35px; text-align:left; }
.section_selectbox a { display:block; min-height:35px; }

.section_selectbox .list_null { color:#777; font-weight:bold; }

.section_selectbox a.optbox_sel { position:relative; display:block; height:35px; margin-left:5px; background-color:#fff; background-position:right 0px; z-index:1; }

.section_selectbox a .optbox_title { width:auto; height:25px; padding:10px 10px 0px 5px; color:#818181; font-size:16px; line-height:16px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.section_selectbox a:visited .optbox_title { color:#818181; }

.section_selectbox .optbox_list { position:absolute; display:none; max-height:282px; overflow-y:scroll; background-color:#fff; border-bottom:1px #f5798c solid; border-left:1px #f5798c solid; border-right:1px #f5798c solid; z-index:10; }
#option_con .section_selectbox .optbox_list {height:232px; } /* JHS */
.section_selectbox .optbox_list a { display:block; border-bottom:1px #dbdbdb solid; }
.section_selectbox .optbox_list a:last-of-type { border-bottom:0px; }
.section_selectbox .optbox_list a .list_cont { min-height:25px; padding:10px 9px 0px 9px; color:#818181; font-size:14px; line-height:16px; text-decoration:none; overflow:hidden; }
.section_selectbox .optbox_list a:visited .list_cont { color:#818181; }
.section_selectbox .optbox_list a.selected { background-color:#f4f4f4; }

.section_selectbox .cont_title { display:block; float:left; width:100%; height:32px; overflow:hidden; }
.section_selectbox .list_cont.none .cont_title { height:auto; }
.section_selectbox .cont_price { display:block; float:left; width:auto; height:30px; padding-left:40px; line-height:26px; font-size:12px; color:#f03960; text-align:left; }
.section_selectbox .cont_price strong { position:relative; font-size:16px; }
.section_selectbox .cont_price.mobile strong:before { position:relative; display:inline-block; width:9px; height:15px; top:-1px; margin-right:5px; content:''; background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/icon/icon.png'); background-size:100px 100px; background-repeat:no-repeat; background-position:-25px 0px; vertical-align:middle; }
.section_selectbox a .optbox_title .cont_price { display:none; }
.section_selectbox .optbox_list a.selected .cont_title { color:#818181; text-decoration:none; }
.section_selectbox .optbox_list a.selected:hover .cont_title { background-color:#f4f4f4; }

.section_selectbox a .optbox_title .cont_title { width:90%; height:25px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.section_selectbox a .optbox_title .cont_price { width:auto; }

.section_selectbox .optbox_list a.soldout * { color:#e6e6e6; }
/* SELECT BOX */


.list1 {padding: 15px; background-color: #fff;}
.list1 li { margin-bottom: 15px; overflow: hidden; }
.list1 li:last-child { margin-bottom: 0 !important; }
.list1 label, .list1 dt { float: left; display: -webkit-box; -webkit-box-align: center; width: 140px; min-height: 35px; line-height: 1.2; font-size: 14px; }
.list1 dd { min-height: 35px; margin-left: 113px; line-height: 1.2; font-size: 14px; }
.list1 dd.text { display: -webkit-box; -webkit-box-align: center; }

.list1 select {width: 100%; height: 35px; margin: 0; padding: 0 35px 0 5px;
  background:#fff url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_select.png") no-repeat 97% 14px; background-size:10px;
  border:1px solid #ccc;
  font-size:14px; color:#777;
}
.ddAddSlitmCmpsNmArea { margin-bottom: 10px; }
.dtAddSlitmCmpsNmArea label { float: none; }

.option_select label, .option_select dt { width: 113px; }
.option_select .selects, .option_select .inputs { margin-left: 113px; }
.option_select .inputs input[type="date"] { height: 35px; border: 1px solid #ccc; line-height: 35px; }


.option_sel .list1{padding:7px 2.1875%;}

.inner_grayBox{padding:9px 10px; margin-top:1px; background-color:#ebecee;}
.inner_grayBox:first-child{margin-top:0;}

.inner_grayBox .quantity1{position:relative;}
.inner_grayBox .quantity1 > p{font-size:12px; color:#666; font-weight:bold;}

.inner_grayBox .second{margin-top:10px; margin-right:40px;}

.inputs{border:1px solid #ccc; background-color:#fff;}
.inputs:after{content:""; display:block; clear:both;}
.inputs button{float:left; width:30px; height:30px; background-color:#fff; position:relative;}
.inputs button:after{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596;
  position:absolute; left:50%; top:50%;
}
.inputs .plus:before{content:''; width:2px; height:10px; margin:-5px 0 0 -1px; background-color:#949596;
  position:absolute; left:50%; top:50%;
}

.inputs input{float:left; width:38px; height:30px; border:0; background-color:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc;
   line-height:32px;
 }

.inner_grayBox .third{width:52.403%; margin-top:7px; padding-right:1%; font-size:13px; color:#666; text-align:right;}
.inner_grayBox .third .verdana{margin-right:2px; font-size:17px; vertical-align:-1px;}

.inner_grayBox .cancel{width:30px; height:30px; background-color:#fff; border:1px solid #ccc;
  position:absolute; right:0; bottom:0;
}
.inner_grayBox .cancel:after{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596;
  -webkit-transform: rotate(45deg); position:absolute; left:50%; top:50%;
}
.inner_grayBox .cancel:before{content:''; width:10px; height:2px; margin:-1px 0 0 -5px; background-color:#949596;
  -webkit-transform: rotate(-45deg); position:absolute; left:50%; top:50%;
}


/*상품평*/
.tabCon .tabCon3{background-color:#fff;}
.scoreCon{padding:15px 7px; border-bottom:1px solid #ccc;}
.scoreCon:after{content:""; display:block; clear:both;}
.scoreCon ul{padding:0 10px; overflow:hidden;}
.scoreCon li{float:left; width:47%; margin-top:10px; overflow:hidden;}
.scoreCon li:first-child{width:100%; margin:0 0px 15px 0px; padding:0;}

.scoreCon li.type2{margin-bottom:0; padding-bottom:15px; border-bottom:1px solid #e1e1e1;}

.star_title{display:block; float:left; min-width:60px; margin-right:5px;}

.scoreCon .value{float:left; width:74%; padding-right:7px; margin-top:5px; font-size:12px; color:#999; position:relative;}
.scoreCon .score_star{float:left; width:85px; height:15px;
  background:url(http://image.hyundaihmall.com/static/smart/2014/img/img_score.png) no-repeat left top; background-size:85px 30px;
}
.scoreCon .score{display:block; width:90%; height:100%;
  background:url(http://image.hyundaihmall.com/static/smart/2014/img/img_score.png) no-repeat 0 -15px; background-size:85px 30px;
  overflow:hidden; text-indent:-9999px;
}

.scoreCon .value em{margin-left:10px; font-size:11px; color:#444; font-style:normal; vertical-align:1px;}
.scoreCon .value em span{font-size:15px; color:#333; vertical-align:middle; font-weight:bold;}
.scoreCon .value em:after{display:inline-block; content:" "; width:1px; height:7px; margin-left:3px; margin-right:5px; background-color:#b2b2b2; vertical-align:middle;}

.scoreCon li.evalStar{width:auto; font-size:12px; color:#666; font-weight:bold; line-height:15px;}
.scoreCon li.evalStar:nth-child(2n){margin-right:17px;}
.scoreCon li.evalStar .score_star{width:57px; height:10px; margin-top:2px; background-size:auto 20px;}
.scoreCon li.evalStar .score_star .score{background-position:left -10px; background-size:auto 20px;}

.tab_link{display:inline-block; width:80px; height: 36px; background-color: #ef6856;
  color: #fff; line-height: 36px; text-align: center;
}

.btnList2{padding:0 0 0 17px; border-bottom:1px solid #ccc;}
.btnList2:after{content:""; display:block; clear:both;}
.btnList2 li{display:inline; margin-left:10px;}
.btnList2 li:first-child{margin-left:0;}
.btnList2 li a{display:inline-block; background-color:#fff;
  font-size:12px; color:#888; line-height:40px; text-align:center;
}
.btnList2 .on a{color:#231f20; font-weight:bold;}

.btnList2 li:nth-child(2){}
.btnList2 li:nth-child(2):before{display:inline-block; content:" "; width:1px; height:10px; margin-right:12px; background-color:#c3c3c3; vertical-align:middle;}

.tabCon .value2{padding:15px 15px 0px 0;}

.tabCon .scoreCon > .value2{padding:51px 0 19px 17px; margin:0 -7px; border-bottom:1px solid #ccc; font-size:13px; color:#888;}

.get_point{width:290px; margin:0 auto; padding-bottom:20px;}
.get_point .flexCen{float:left; width:110px; height:110px; background-color:#fce0d1; border-radius:100px;
  -webkit-box-sizing: border-box; line-height: 1.4; font-size: 12px; text-align: center; color: #2a282b;
}
.get_point.dg_width_70 .flexCen { float:none; }
.get_point span{float:left; display:block; width:4.6%; height:86px; position:relative;}
.get_point span:after {content:''; width:14px; height:2px; margin:-1px 0 0 -7px; background-color:#2a282b;
   position:absolute; top:50%; left:50%;
}
.get_point span:before {content:''; width:2px; height:14px; margin:-7px 0 0 -1px; background-color:#2a282b;
  position:absolute; top:50%; left:50%;
}
.get_point em{display:inline-block; margin-top:5px; font-style:normal; color:#ec6860; font-size:13px;}

.list4 li { border-bottom:1px solid #ccc; }

.list4 .imgCon { display: block; float: left; width: 85px; padding-right: 15px; }
.list4 .imgCon img { border: 1px solid #ccc; -webkit-box-sizing: border-box; }

.list4 .review { overflow: hidden; }
.list4 .review > div{max-height:55px; overflow:hidden;}

.tabCon3 .list4 h4{padding:15px 17px 0; font-size:13px; color:#888; line-height:17px; font-weight:normal;}
.tabCon3 .list4 h4 span{display:inline-block; padding:0 6px; margin-right:5px; background-color:#f98070;
  font-size:11px; color:#fff; line-height:17px; vertical-align:middle;
}
.list4 .list4Con{padding:10px 17px 20px; overflow:hidden;}
.list4 .review p{font-size:13px; color:#444; line-height:18px;}
.list4 .review strong{display:block; margin-bottom:5px; font-size:13px; color:#999; font-weight:normal;}
.list4 .review img{display:none;}

.list4 .review em{display:block; margin-top:10px; font-size:13px; color:#666; font-style:normal; letter-spacing:0;}

.review_title{margin-top:10px; font-size:13px; color:#222; font-weight:bold;}

.list4 .review_on .imgCon{display:none;}
.list4 .review_on .review img{display:block;}

.list4 .review_on .review > div{height:auto; max-height:none;}

.only_title .review_title{margin-top:0;}

.list4 li.list_pic { position:relative; }
.list4 li.list_pic .pic_wrap { padding-left:100px; }
.list4 li.list_pic .pic_right { position:absolute; width:100px; left:10px; top:20px; }
.list4 li.list_pic.selected .pic_wrap { padding-left:0px; }
.list4 li.list_pic.selected .pic_right { position:relative; width:100%; top:0px; left:0px; }

.tabCon .tabCon4{background-color:#fff;}

.totalQ{padding:15px 7px;}
.totalQ dl dt{display:inline-block; margin-right:10px; font-size:14px; color:#646464; line-height:36px;}
.totalQ dl dd{display:inline-block; font-size:12px; color:#444; line-height:35px;}
.totalQ dl dd span{font-size:16px; color:#ef6856; vertical-align:bottom; line-height:36px;}

.qna_list{border-top:1px solid #ccc;}

.totalQ .detail_selectbox{margin-bottom:0;}

.totalQ .group li{margin-top:20px;}
.totalQ .group li:first-child{margin-top:0;}
.totalQ .group li.type2{padding:0 10px;}

.more{display:block; width:100%; background-color:#fef9f8; font-size:14px; color:#999; text-align:center; font-weight:bold; line-height:35px;}
.arrow_bottom{display:inline-block; width:0px; height:0px; margin-top:5px; margin-left:5px;
  border-color: #999 transparent transparent transparent; border-width:4px; border-style:solid;
  vertical-align:middle;
}


/* 제품상세 옵션형 */
.tabCon1 .value2{float:none; padding:0;}

.detail_selectbox{width:100%; height:35px; padding-left:5px; padding-right:45px; margin-bottom:5px; border-bottom:1px solid #ccc;
  background:#fff url(http://image.hyundaihmall.com/static/smart/2014/img/img_select1.png) no-repeat right 1px; background-size:32px 31px;
  font-size:12px; color:#333; font-weight:bold;
}
.detail_selectbox.type1{
  background:#fff url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/select_arrow.jpg") no-repeat right top; background-size:36px 38px;
}

.item_box_area{padding:15px 10px; margin-bottom:5px; position:relative;}
.item_box_area:after{content:""; display:block; clear:both;}
.item_box_area li{float:left; width:64%; margin-top:0; margin-left:14px;}
.item_box_area .img{width:88px; height:88px; margin-left:0;}
.item_box_area li p{margin-top:0;}
.item_box_area li p b{margin-right:3px; vertical-align:middle;}

.item_box_area .price_code_text{margin-left:0; position:absolute; left:112px; bottom:15px;}

.item_box_area li .option_title{font-size:13px; color:#2a282b; font-weight:bold; line-height:1.2;}
.item_box_area li .textCor1{color:#e64548;}
.item_box_area li .textCor3{color:#949596;}

.safe_info img{float:left; width:auto; margin-right:5px;}
.safe_info_type2 { display:table; }
.safe_info_type2 dt, .safe_info_type2 dd { display:table-cell; margin:0px; vertical-align:top; }
.safe_info_type2 dd { padding-left:10px; }
.safe_info_type2 dd .safe_result { display:inline-block; width:66.5px; height:22px; line-height:22px; text-align:center; margin-top:5px; border:1px solid #ccc; }

.detail_selectbox.type2{width:70%; border:1px solid #ccc; margin-bottom:0;}
.scoreCon > .tab_link.btn_itemEvalReg{float:right;}

.tabCon3 .type2:after, .tabCon4 .totalQ .type2:after{content:""; display:block; clear:both;}
.tabCon3 .type2 img, .tabCon4 .totalQ .type2 img{float:left; width:19.23076923076923%; margin-right:10px;}

.tabCon3 .str_title, .tabCon4 .str_title{display:block; padding-top:0px; line-height:18px;}

.tabCon4 .totalQ .value{width:100%; padding:10px 0 0 0;}
.tabCon4 .totalQ .value span{font-size:16px; color:#ef6856; vertical-align:middle;}


#detail_cont_4 li { border-bottom: 1px solid #cccacf; }

.tabCon4 h4 {min-height:20px; padding:0 17px 0 48px; margin-top:20px; background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_question.jpg") no-repeat 17px center; background-size:20px;
  line-height:18px; font-weight:bold; font-size:13px; color:#444; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.tabCon4 h4 span{display:block; font-size:13px; color:#999; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-weight:normal;}
.tabCon4 .question { display:none; width: 50px; height: 20px; margin-right: 10px; background-color: #818181; color: #fff; text-align: center; line-height: 20px; }
.tabCon4 .complete { background-color: #28c1bc;  }
.tabCon4 .Qcon { padding:10px 17px 20px 17px; -webkit-transform: translateZ(0); }
.tabCon4 .Qcon p {font-size: 13px; color:#444; line-height:18px;}
.tabCon4 em {display:block; margin-top:10px; font-style: normal; font-size: 13px; color:#999; letter-spacing: 0; }
.tabCon4 .Qcon em:first-child{margin-top:0;}
.tabCon4 em span{font-size:13px; color:#666;}

.tabCon4 .answer { margin-top: 17px; line-height: 1.4; /* display:none;*/ }
.tabCon4 .answerCon { padding:0; font-size: 12px; color: #818181; }
.tabCon4 .answerCon strong { display: block; min-height:20px; padding-left:38px; padding-top:2px;
  background: url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_answer.jpg") no-repeat 0 top; background-size:30px;
  font-size:13px; color:#444;
}
.tabCon4 .answerCon p{font-size:12px; color:#666;}
.tabCon4 .answerCon p, .tabCon4 .answerCon em { padding-left:9px; background: none; }
.tabCon4 .answerCon pre	{ white-space:pre-line }
.tabCon4 h4 p.secret { display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.tabCon4 h4 p.secret > span { margin-right:21px; }

.no_qna{padding-bottom:14px; padding-left:17px; padding-right:10px;}


/* 함께 본 다른 상품 */
.other_product_area{padding-top:20px; background-color:#fff;}
.title_good{margin-bottom:12px; padding-left:11px; font-size:15px; color:#111; text-align:left !important;}

.other_product_area .mytem_slide_star{margin-left:4.472222%;}
.other_product_area .mytem_slide_star:first-child{margin-left:0;}
.other_product_area .mytem_list_star li{margin-left:0;}

.detail_content{padding:0 !important;}


/*동영상 버튼*/
.media_play { position: absolute; top: 50%; left: 50%; z-index: 2; width: 64px; height: 64px; margin: -32px 0 0 -32px;
  background: url(http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_play.png) no-repeat center; background-size: 64px;
}


/*미리계산기*/
.pd303 .list7 .won { width:100%; color:#ef6856; margin-right:10px; text-align:right; font-weight:bold; }
.pd303 .list6 ul { border-bottom:1px solid #cbc7c6; }
.pd303 .list6 ul li { line-height:1.6; border-bottom:none; }


/* 미리계산기 정렬 */
.cost.type2 > strong, .cost.type2 > strong * { text-align:right; }
/* // 미리계산기 정렬 */


/* 추천 기획전 */
.banner4{background-color:#fff; border-bottom:1px solid #ccc;}
.banner4:after{content:""; display:block; clear:both;}
.banner4 h5{float:left; width:31%; font-size:15px; color:#010101; font-weight:bold; text-indent:17px; line-height:50px;}
.banner4 ul{float:left; width:69%;}
.banner4 ul li{border-top:1px solid #e3e3e3; line-height:50px;}
.banner4 ul li:first-child{border-top:0;}
.banner4 ul li a{font-size:14px; color:#777;}

.delivery_date{margin-top:5px;}
.delivery_date li:after{content:""; display:block; clear:both;}
.delivery_date label{float:left; display:inline-block; width: 110px; height:35px; line-height:35px; font-size: 14px; vertical-align:middle;}

.delivery_date input[type="date"]{float:right; width:62%; height:35px; padding:0; vertical-align:middle;}

/* 옵션형 상품 간편 선택 */
.option_product_select{background-color:#fff;}

.option_product_select .button1, .option_buy_btn{border-top:0; position:fixed; left:0; right:0; bottom:0; z-index:9000;}
.option_buy_btn{padding:7px 2.1875%;}

.option_product_select .total_amount dt, .option_product_select .total_amount dd{float:none;}
.option_product_select .option_select{width:auto; position:static;}

.option_product_select .section_selectbox, .option_product_select .section_selectbox a.optbox_sel{
  background-image:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_select.png");
  background-repeat:no-repeat; background-position:97% 14px !important;
  background-size:10px 46.5px;
  margin-left:0;
  font-size:14px; color:#777;
}

.option_product_select .section_selectbox{width:auto; border:1px solid #ccc; position:relative;}

.option_product_select .section_selectbox.selected{border:1px solid #ef6855; background-image:none;}
.option_product_select .section_selectbox.selected a.optbox_sel{
  background-image:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_select.png") ;
  background-repeat:no-repeat; background-position:97% -26px !important; background-size:10px 46.5px;
}
.option_product_select .section_selectbox .optbox_list{width:auto !important; border:0;}

.option_product_select .section_selectbox a .optbox_title{padding-left:10px; font-size:14px; color:#777; font-weight:bold;}
.option_product_select .section_selectbox.selected a .optbox_title .list_null{color:#555;}

.option_product_select .section_selectbox .optbox_list a .list_cont{font-size:13px; color:#777;}

.option_product_select .option_select > ul > li{margin-bottom:5px;}


.option_product_select .list1 .quantity1 .conten.type2{display:block; margin-top:9px; padding-left:0; font-weight:bold;}
.option_product_select .list1 .quantity1 .conten.type2:before{content:"ㄴ ";}


.option_product_select .section_selectbox .optbox_list a{border-bottom:1px solid #e3e3e3;}

.option_etc_hide .total_amount dt{display:none !important;}
.option_etc_hide .total_amount dd{display:none !important;}
.option_etc_hide .total_amount{border-bottom: none; height: 20px; z-index : 0;}
.option_etc_hide .option_buy_btn{height : 38px; z-index : 0;}
.option_etc_hide .option_buy_btn button{display : none;}
.option_product_select .second em{font-size:17px; color:#666; font-weight:bold; font-style:normal;}
.option_product_select .second em:after{content:"원"; margin-left:4px; font-size:13px; color:#666; font-weight:normal;}

.option_product_select .list1.option_select li{overflow:visible;}
.option_product_select .list1.option_select li .section_selectbox .optbox_list{position:absolute; top:35px !important; left:-1px !important; right:-1px; border:1px solid #ef6855;}


#opt_direct.button1 {position:fixed; bottom:0; left:0; right:0; z-index:200; padding:7px 2.1875% 7px; border-top:1px solid #ccc;
  font-size:13px; color:#ffffff; font-weight:bold;
}
.button1 .detail_balloon{height:41px; line-height:41px;
  background:rgba(0, 0, 0, 0.6);
  border-radius:10px; text-indent:10px;
  color:#fff; font-weight:bold;
  position:absolute; left:7px; top:-52px; right:7px;
}
.button1 .detail_balloon .balloon_close{float:right; display:inline-block; margin-right:10px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/btn_layer_x.png") no-repeat 95% center; background-size:13px;
}

.balloon_tail{display:inline-block; width:16px; height:10.5px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/icon/icon_layer_tail.png") no-repeat left top; background-size:16px 10.5px;
  position:absolute; left:28px; top:41px;
}


#opt_direct .width_50{width:49%;}
#opt_direct .layer_button{margin-left:0;}


/* 네이버,에누리,다나와 쿠폰 팝업 */
.coppon_layer { display:none; position: fixed; width:290px; height: 279px; margin: -139px 0 0 -145px; top: 50%; left: 50%; z-index: 10000; }
.coppon_layer a.close { position: absolute; display: block; top:0px; right:0px; width:14%; height:14%; }

.coppon_layer a.onedayclose { position: absolute; display: block; bottom:0px; left:0px; width:86%; height:14%; z-index:10; }
.coppon_layer a.closeN { position: absolute; display: block; bottom:0px; right:0px; width:14%; height:14%; z-index:10; }


/* 찜, 공유, 선물하기 */
.user_action_btn{padding:11px 0;background-color:#fff; border-bottom:1px solid #ccc; text-align:center;}
.user_action_btn button{background-color:#fff; margin:0 7px; font-size:13px; color:#989898; font-weight:bold;}
.user_action_btn button img{width:28px; margin-right:5px;}



.dl1 dd .subCon.textCor5{/*color:#2a282b;*/}

#itemPtcSub > div:first-child{margin-top:5px;}


.notSelectItem a{background-color:#f6f6f6 !important; border:1px solid #e3e3e3; color:#999;}

.detail_info_cnt .no_qna{padding:15px 10px 14px 17px;}


#tab3 .info_group_area{padding:15px 0 0px;}

.only_title{padding:14px 17px 0;}


.info_group_area .scoreCon .group li:first-child{padding-left:10px; padding-bottom:0; margin-bottom:0; border-bottom:0;}


.detail_info_cnt .info_group_area2{padding:10px 0 0;}

.btn_qna_area{padding:5px 7px 15px 17px; border-bottom:1px solid #ccc;}
.btn_qna_area:before{display:block; content:" ";}


.info_group_area .scoreCon .group li.no_satis{padding:0 7px 15px 17px; margin-bottom:14px; border-bottom:1px solid #ccc;}


.no_qna_area{padding:0 7px 19px 17px; color:#888;}

.no_qna_area2{padding:5px 7px 15px 17px;}
.no_qna_area2 + .qna_list2{border-top:0; margin-top:0;}


.info_group_area .comment_product_area{padding:0 7px 15px; border-bottom:1px solid #ccc;}
.info_group_area .scoreCon li:first-child.type2{margin-bottom:0; padding-bottom:15px; border-bottom:1px solid #e1e1e1;}

.info_group_area .comment_product_area ul{padding:0 10px;}

.info_group_area .comment_product_area .group li:first-child{padding:0 0 15px 0;}


.comment_product_area .value{float:none; width:68%;}
.comment_product_area .value em:after{display:none;}
.comment_product_area .score_star{margin-right:10px;}

.review_title span{display:inline-block; padding:0 6px; margin-right:5px; background-color:#f98070;
  font-size:11px; color:#fff; line-height:17px; vertical-align:middle; font-weight:normal;
}


.tabCon4 h4 p.secret > span.secret_text{font-size:13px; color:#444; font-weight:bold;}


.other_product_area .mytem_title_star dt{line-height:18px;}



/* 단일상품 상품평 */
.btn_comment_product{padding-right:7px; text-align:right;}
.info_group_area > .btn_comment_product{padding-top:5px;}

.info_group_area .comment_star_area{margin-top:15px; padding-top:15px;  border-top:1px solid #ccc; text-align:center;}
.score_star{float:left; width:85px; height:15px;
  background:url(http://image.hyundaihmall.com/static/smart/2014/img/img_score.png) no-repeat left top; background-size:85px 30px;
}
.score{display:block; width:90%; height:100%;
  background:url(http://image.hyundaihmall.com/static/smart/2014/img/img_score.png) no-repeat 0 -15px; background-size:85px 30px;
  overflow:hidden; text-indent:-9999px;
}

.comment_star_area .score_star{display:inline-block; float:none;}
.comment_star_area .score_num{margin-left:11px; font-size:11px; color:#444; font-style:normal; vertical-align:2px;}
.comment_star_area .score_num span{font-size:18px; font-weight:bold; vertical-align:-2px;}

.info_group_area .comment_star_area.bdTopNone { border-top:0px; padding:0px; text-align:left; }
.info_group_area .comment_star_area.bdTopNone .score_num { margin:0px; line-height:25px; }


.catagory_star_list{margin:0 30px 14px;}
.catagory_star_list li{float:left; width:50%; margin-top:9px; font-size:13px; text-align:center;}
.catagory_star_list .star_title{float:none; display:inline-block; text-align:center; font-weight:normal;}

.catagory_star_list .score_star{float:none; display:inline-block; width:57px; height:10px; background-size:auto 20px;}
.catagory_star_list .score{background-position:left -10px; background-size:auto 20px;}

.comment_product_star{border-bottom:1px solid #ccc;}

.deal_comment_area{padding:15px 7px; border-bottom:1px solid #ccc;}


.dg_wrap{background-color:#fff;}

.select_option_text{display:block; margin:5px 0; font-size:13px; color:#999; font-weight:normal;}

.detail_info_cnt .customer_satisfaction{padding:15px 0 0px;}

.dl2{margin:0 15px; padding:10px 0;}
.dl2 dt{margin-bottom:6px; margin-top:17px; font-size:13px; color:#2a282b; font-weight:bold;}
.dl2 dt:first-child{margin-top:0;}
.dl2 dd{font-size:13px; color:#777; line-height:18px;}

.info_group_area .customer_satisfaction_no{padding-bottom:15px;}

.product_detail_img table{width:100% !important;}

.mark_goodluck{position:absolute; left:17px; bottom:15px;}
.mark_goodluck img{width:57px;}

.satis_no_area{margin:0 -7px;}
.satis_no_area li.type2{padding-bottom:0; border-bottom:0;}


/* 동영상보기 */
.product_video_area{height:190px; margin-top:5px; overflow:hidden; position:relative;}
.product_video_area > img{margin-top:-38%; position:absolute; left:0; top:50%;}
.product_video_area a{display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.5); font-size:18px; color:#fff; text-align:center; position:absolute; left:0; top:0;}
.product_video_area span{display:block; width:100%; padding-top:65px; margin-top:-41.5px;
  background:url("http://image.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/icon_play.png") no-repeat center top; background-size:64px;
  text-align:center; position:absolute; left:0; top:50%;
}

.total_qna{float:left; margin-left:17px; font-size:13px; color:#888; line-height:36px;}
.total_qna span{color:#f16451;}

.btn_write_area{float:right;}

.btn_overseas_info{height:22px; padding:0 6px; margin-left:10px; background:#fff; border:1px solid #b7b7b7;
  font-size:12px; color:#9a9a9a; letter-spacing:-1px; vertical-align:middle;
}
.btn_overseas_info img{width:auto; height:12px; margin-left:6px;}


/* 쿠폰 리스트 */
.how_box{ background-color:#fff; }
.list_coupon li { clear:both; border-bottom:1px solid #ccc; }
.list_coupon li a { overflow:hidden; display:block; }
.list_coupon li span { display:block; }
.list_coupon li .red_coupon { float:left; width:96px; height:51px; margin-right:15px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/red_coupon.png) no-repeat; background-size: 95px 51px; }
.list_coupon li .blue_coupon { float:left; width:96px; height:51px; margin-right:15px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/blue_coupon.png) no-repeat; background-size: 95px 51px; }
.list_coupon li .sale { margin-top:10px; font-size:11px; color:#444; text-align:center; line-height:1.5; font-weight:bold; letter-spacing:-0.5px; }
.list_coupon li .sale em { font-size:16px;font-style:normal;}
.list_coupon li .part { font-size:7px; color:#818181; text-align:center; }
.list_coupon li .date { font-size:14px; color:#ef6856; font-weight:bold; }
.list_coupon li .txt { font-size:12px; color:#444; }
.list_coupon li .info_coupon { padding-top:5px; width:100%; min-height: 45px; }
.list_coupon li .info_coupon span { line-height:1.45; }
.pop_infobox .button2 { background-color:#f8f8f8; }


.qna_list2{margin-top:15px; border-top:1px solid #ccc;}


.paging_star{width:100%; text-align:center; position:absolute; left:0; bottom:5px; z-index:10;}
.paging_star li{display:inline;}
.paging_star button{display:inline-block; width:5px; height:5px; margin:0 2px; background-color:#fff; border:1px solid #979798; border-radius:10px; text-indent:-9999px;}
.paging_star .slick-active button{background-color:#949596; border-color:#949596;}

.paging_star1{width:100%; text-align:center; position:absolute; left:0; bottom:5px; z-index:10;}
.paging_star1 li{display:inline;}
.paging_star1 button{display:inline-block; width:5px; height:5px; margin:0 2px; background-color:#fff; border:1px solid #979798; border-radius:10px; text-indent:-9999px;}
.paging_star1 .slick-active button{background-color:#949596; border-color:#949596;}

.paging_star2{width:100%; text-align:center; position:absolute; left:0; bottom:5px; z-index:10;}
.paging_star2 li{display:inline;}
.paging_star2 button{display:inline-block; width:5px; height:5px; margin:0 2px; background-color:#fff; border:1px solid #979798; border-radius:10px; text-indent:-9999px;}
.paging_star2 .slick-active button{background-color:#949596; border-color:#949596;}

.other_product_area .mytem_list_star{padding-bottom:30px;}


/* 나의 공유 현황 */
.popup_sharelist { width:100%; }
.popup_sharelist th { height:35px; background-color:#e6f6fc; }
.popup_sharelist td { height:40px; border-top:1px #c8c8c8 solid; text-align:center; }
.popup_sharelist tr:nth-child(odd) td { background-color:#fafafa; }
.popup_sharelist tr.empty td { background-color:#fff; }
/* // 나의 공유 현황 */


.mb5{margin-bottom:5px;}

/* 자세히보기 */
.detail_subdetailwrap { background-color:#fff; }
.detail_subdetail { position:relative; width:100%; overflow:hidden; }
.detail_subdetail li { position:relative; overflow:hidden; border-bottom:1px solid #ddd; }
.detail_subdetail.type1 li, .detail_subdetail.type4 li { float:left; width:50%; }
.detail_subdetail.type2 li, .detail_subdetail.type3 li { width:100%; }
.detail_subdetail li a { position:absolute; display:flex; align-items:center; justify-content:center; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); overflow:hidden; z-index:10; }
.detail_subdetail li a.rel { background-color:transparent; }
.detail_subdetail li a strong { display:block; width:66px; height:66px; text-indent:-9999px; background-image:url('http://image.hyundaihmall.com/static/smart/2015/mobile/images/detail_subdetail.png'); background-size:200px 300px; }
.detail_subdetail li a.soldout strong { background-position:-71px 0px; }

.detail_subdetail.type3 li img { float:right; width:40%; height:170px }	/* 161108 - rlatkdals */
.detail_subdetail.type3 li dl { position:absolute; top:0; overflow:hidden; padding:0px 175px 0 10px; box-sizing:border-box; display:inline-block; } /* 170711 전인표 */
.detail_subdetail.type3 li dl dt { font-size:15px; }
.detail_subdetail.type3 li dl dt strong { float:left; display:block; margin-bottom:10px; padding:5px; color:#fff; font-size:13px; letter-spacing:0; background-color:#3a3a3a; }
.detail_subdetail.type3 li dl dt span { clear:both; display:block; }
.detail_subdetail.type3 li dl dd { margin-top:10px; font-size:15px; font-weight:bold; font-weight:bold; color:#eb5845; }
.detail_subdetail.type3 li dl dd span, .detail_subdetail.type4 li dl dd span { color:#666; font-size:12px; font-weight:normal; }

.detail_subdetail.type4 { border-top:1px #d9d9d9 solid; }
.detail_subdetail.type4 li dl { width:100%; padding:0px 10px; border-right:1px #fff solid; box-sizing:border-box; }
.detail_subdetail.type4 li { border-bottom:1px #d9d9d9 solid; }
.detail_subdetail.type4 li:nth-child(odd) dl { border-right:1px #d9d9d9 solid; }
.detail_subdetail.type4 li dl dt { position:relative; font-size:15px; text-align:center; }
/*.detail_subdetail.type4 li dl dt strong { position:absolute; top:5px; left:5px; display:block; padding:5px 10px; color:#fff; font-size:18px; line-height:15px; background-color:#f4614d; }*/
.detail_subdetail.type4 li dl dt strong { position:absolute; bottom:39px; left:0; display:block; padding:5px; color:#fff; font-size:13px; letter-spacing:0; background-color:#3a3a3a; }
.detail_subdetail.type4 li dl dt strong sub { font-size:10px; vertical-align:top; }
.detail_subdetail.type4 li dl dt img { width:100%; }
.detail_subdetail.type4 li dl dt span { line-height:17px; display:-webkit-box; height:34px; margin-top:5px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; }
.detail_subdetail.type4 li dl dd { padding:5px 0px; font-size:15px; font-weight:bold; font-weight:bold; color:#eb5845; }

.detailtype3_contents { border-bottom:1px #9b9b9b solid; border-top:1px #9b9b9b solid; font-size:18px; text-align:center; overflow:hidden; margin-top:-1px; }
.detailtype3_contents p { text-align:center; }
.detailtype3_contents strong { display:inline-block; margin:10px 0px; }
.detailtype3_contents strong.contents_price { padding:5px; border:1px #ccc solid; }
.detailtype3_contents strong span { color:#eb5845;}

.subdetail_popupwrap { width:100%; }
.subdetail_popupwrap .info_tx_area img	{ max-width:100% }
.subdetail_popup { position:relative; width:100%; overflow:hidden; background-color:#fff; }
.subdetail_popup .popup_slidebtn { position:fixed; width:26.5px; height:32.5px; top:50% !important; left:10px; z-index:1; }
.subdetail_popup .popup_slidebtn.next { left:inherit; right:10px; }

.subdetail_popup .popup_slidebtn a { display:block; width:100%; height:100%; background-image:url('http://image.hyundaihmall.com/static/smart/2015/mobile/images/main1_img.png'); background-size:200px 200px; background-repeat:no-repeat; background-position:0px 0px; text-indent:-9999px; overflow:hidden; }
.subdetail_popup .popup_slidebtn.next a { background-position:-37.5px 0px; }

.subdetail_popup .pop_contents { width:100%; overflow:hidden; }
.subdetail_popup .pop_contents .popup_slidewrap { position:relative; width:100%; overflow:hidden; }
.subdetail_popup .pop_contents .popup_slidewrap table	{ width:100% !important }

.subdetail_popup .pop_contents .popup_slide { overflow:hidden; }
.subdetail_popup .pop_contents .popup_slide li { float:left; width:100%; overflow:hidden; }

.detail_subdetail li:nth-child(2n-1) > ul.subdetail_btn { border-right:1px #d9d9d9 solid; }
.detail_subdetail li > ul.subdetail_btn { position:relative; width:100%; height:33px; box-sizing:border-box; border-top:1px #d9d9d9 solid; border-bottom:1px #d9d9d9 solid; background-color:#fafafa; overflow:hidden; z-index:1; }
.detail_subdetail li > ul.subdetail_btn li { float:left; width:50%; height:100%; box-sizing:border-box; border:0px; text-align:center; }
.detail_subdetail li > ul.subdetail_btn li a { display:block; width:100%; height:100%; line-height:33px; background-color:transparent; }
.detail_subdetail li > ul.subdetail_btn li a:before { content:''; display:inline-block; width:13px; height:10px; margin-right:5px; background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/detail/detail_icon.png'); background-size:150px 150px; background-repeat:no-repeat; background-position:0px 0px; }
.detail_subdetail li > ul.subdetail_btn li:last-of-type { border-left:1px #d9d9d9 solid; }
.detail_subdetail li > ul.subdetail_btn li:last-of-type a:before { background-position:-18px 0px; }
/* // 자세히보기 */

/* 옵션선택 20160404 */
.option_product_select.type201604 .section_selectbox .optbox_list a { position:relative; }
.option_product_select.type201604 .section_selectbox .optbox_list a img { position:absolute; width:60px; top:7px; left:5px; }
.option_product_select.type201604 .section_selectbox .optbox_list a .list_cont { padding-left:70px; }
.option_product_select.type201604 .section_selectbox .optbox_list a:first-of-type .list_cont, .option_product_select.type201604 .section_selectbox .optbox_list a .list_cont.none, .option_product_select.type201604 .list1 li .selecteditem_wrap.none { padding-left:10px; }
.option_product_select.type201604 .section_selectbox .cont_price { padding-left:0px; }

.option_product_select.type201604 .list1 li { position:relative; }
.option_product_select.type201604 .list1 li img { position:absolute; width:60px; }
.option_product_select.type201604 .list1 li .selecteditem_wrap { min-height:60px; padding:5px 0px 0px 70px; }
/* // 옵션선택 20160404 */

.showItemDetailsBtn{border-bottom:1px solid #ddd}
.border1px{border-width:1px !important; border-color:#9b9b9b}

.popup_slide .detailtype3_contents{border-bottom:none !important;}
.cont_price.soldout_price{color:#818181 !important; font-weight:normal !important; font-size:16px !important;}

/* 예약구매 안내 20160607 */
.noindent { padding:15px !important; }
.noindent p { text-indent:0 !important; }
.reserve_inner { max-height:200px;overflow-y:auto; }
.btnGray2 { background:#949596 !important; }

/* 20161107_ 별점추가 */
.flex { display:flex; display:-webkit-flex; flex-direction:row; -webkit-flex-direction:row; flex:auto; -webkit-flex:auto; width:100%; overflow:hidden; }
.flex .fix { flex:none; -webkit-flex:none; }
.flex .auto { flex-direction:row; -webkit-flex-direction:row; flex:auto; -webkit-flex:auto; }

.renewal2016_star .star, .renewal2016_star .star:before { display:block; background-image:url(http://image.hyundaihmall.com/static/smart/common/hmall/mobile/image_5.0/common_img.png); background-size:200px 200px; background-repeat:no-repeat; background-position:0px 0px; }

/* STAR */
.renewal2016_star .star.small { position:relative; width:66px; height:11px; background-position:0px -105px; }
.renewal2016_star .star.small:before { content:''; position:absolute; width:0px; height:11px; left:0px; top:0px; background-position:0px -121px; }
.renewal2016_star .star.big { position:relative; width:140px; height:24px; background-position:0px -46px; }
.renewal2016_star .star.big:before { content:''; position:absolute; width:0px; height:24px; left:0px; top:0px; background-position:0px -76px; }

/* 170313 - 별 반개 추가 - 전인표 */
.renewal2016_star .star.p10:before { width:10%; }
.renewal2016_star .star.p20:before { width:20%; }
.renewal2016_star .star.p30:before { width:30%; }
.renewal2016_star .star.p40:before { width:40%; }
.renewal2016_star .star.p50:before { width:50%; }
.renewal2016_star .star.p60:before { width:60%; }
.renewal2016_star .star.p70:before { width:70%; }
.renewal2016_star .star.p80:before { width:80%; }
.renewal2016_star .star.p90:before { width:90%; }
.renewal2016_star .star.p100:before { width:100%; }
/* STAR */

.renewal2016_star { padding:15px; }
.renewal2016_star .star_avgstar { margin-bottom:20px; text-align:center; }
.renewal2016_star .star_avgstar > * { display:inline-block; vertical-align:middle; }
.renewal2016_star .star_avgstar span { margin-left:5px; }

.renewal2016_star .star_wrap > li { display:none; padding:0px 10px; }
.renewal2016_star .star_wrap > li.selected { display:block; }
.renewal2016_star > ul.star_big, .renewal2016_star .star_wrap > li > ul { overflow:hidden; }
.renewal2016_star > ul.star_big { margin:0px 0px 10px 0px; }
.renewal2016_star > ul.star_big > li:first-child:nth-last-child(2), .renewal2016_star > ul.star_big > li:first-child:nth-last-child(2) ~ li, .renewal2016_star .star_wrap > li > ul > li:first-child:nth-last-child(2), .renewal2016_star .star_wrap > li > ul > li:first-child:nth-last-child(2) ~ li { width:50%; }
.renewal2016_star > ul.star_big > li:first-child:nth-last-child(3), .renewal2016_star > ul.star_big > li:first-child:nth-last-child(3) ~ li, .renewal2016_star .star_wrap > li > ul > li:first-child:nth-last-child(3), .renewal2016_star .star_wrap > li > ul > li:first-child:nth-last-child(3) ~ li { width:33%; }

.renewal2016_star > ul.star_big > li button, .renewal2016_star .star_wrap > li > ul > li button { width:100%; height:25px; border-radius:3px; color:#fff; box-sizing:border-box; text-align:center; line-height:25px; background-color:#c7c7cd; }
.renewal2016_star > ul.star_big > li button { height:35px; border-radius:0px; color:#5ebdc7; border:1px #5ebdc7 solid; line-height:35px; background-color:#fff; }
.renewal2016_star > ul.star_big > li.selected button, .renewal2016_star .star_wrap > li > ul > li.selected button { background-color:#5ebdc7; color:#fff; }

.renewal2016_star .star_wrap > li p.star_point { height:25px; margin-bottom:10px; }
.renewal2016_star .star_wrap > li p.star_point > span { height:25px; overflow:hidden; }
.renewal2016_star .star_wrap > li p.star_point .check1 { display:block; width:70px; }
.renewal2016_star .star_wrap > li p.star_point .check1 > * { float:right; }
.renewal2016_star .star_wrap > li p.star_point .check1 label { margin-right:10px; color:#3b3f4b; }
.renewal2016_star .star_wrap > li p.star_point .check1:first-of-type { float:right; width:90px; }
.renewal2016_star .star_wrap > li p.star_point .star { margin-top:6px; }
.renewal2016_star .star_wrap > li p.star_point .star_percentbar { display:block; height:5px; margin:9px 0px 0px 5px; border-radius:100px; background-color:#edeef0; overflow:hidden; }
.renewal2016_star .star_wrap > li p.star_point .star_percentbar span { display:block; height:5px; background-color:#5ebdc7; }
/* // 20161107_ 별점추가 */

/* 백화점 재고현황 */
.win_check table { width:100%; text-align:center; }
.win_check table th { background:#f2f2f2; padding:10px 0; border-bottom: 2px solid #d9d9d9; border-right:1px solid #d9d9d9; color:#818181; font-size:13px;}
.win_check table th:last-child {border-right:none}
.win_check table tbody tr { background:#fff; font-size:13px;}
.win_check table td { border-right:1px solid #d9d9d9; border-bottom: 1px solid #ccc; color:#818181; font-size:13px;padding:10px 0; }
.win_check table td:last-child { border-right:none}

.button2 .bType2 { width: 240px; height: 45px; background-color: #ef6856; font-size: 16px; color: #fff;  letter-spacing: -0.5px; }
/* // 백화점 재고현황 */

/* 20170314 - 전인표 - 디지랩 강제수정 */
.snsOpt0 .dg_wrap, .snsOpt1 .dg_wrap, .snsOpt2 .dg_wrap { overflow-y:auto !important; }

/* 20170407 상품상세 최적화, speedycat for ca */
#speedycat_container_root.speedycat_container_root_class .speedycat-container > img {width:100% !important;}

/* 20170510 - 사은품 이미지 슬라이드 적용 - 석수빈 */
.gift_photo_type .gift_img_list { display: inline-block; position: relative; float: left; margin-right: 10px; width: 70px; height: 70px; overflow: hidden; }
.gift_photo_type .gift_img_list .img_page_num{ position: absolute; left: 50%; bottom: 5px; width: 26px; height: 16px; margin-left: -13px; border-radius: 3px; background: rgba(0, 0, 0, 0.4); text-align: center; letter-spacing: 0px; color: #fff; font-weight: normal; line-height: 16px; font-size: 12px; }

/* 170706 - 상품평 적립금 혜택 안내 - 석수빈 */
.review_notice_area { margin-bottom: 15px; background-color: #EDEEF0; font-size: 13px; line-height: 17px; }
.review_notice_area > ul { border: 0 !important; margin: 5px 0 0 0 !important; padding: 0 !important; }
.review_notice_area > ul > li { list-style: disc; margin-left: 20px; }

.review_benefit_area { margin-top: 10px; background-color: #edeef0; overflow: hidden; }
.review_benefit_area .review_benefit_wrap { margin-bottom: 5px; border-bottom:1px solid #ccc; padding: 11px 12px; background-color: #f9f9f9; font-size: 12px; overflow: hidden; }
.review_benefit_area .review_benefit_wrap a { display: block; }
.review_benefit_area .review_benefit_wrap .review_benefit_label { display: block; font-size: 13px; color: #000000; }
.review_benefit_area .review_benefit_wrap .review_benefit_label > span { color: #ff5340; }
.review_benefit_area .review_benefit_wrap .review_benefit_sub_label { display: block; margin-top: 5px; color: #888888; }
.review_benefit_area .review_benefit_wrap .review_benefit_sub_label > img { width: 14px; }

.detail_info_cnt > .review_benefit_area, .tabCon3 > .review_benefit_area { margin-top: 0; }

.prd_wrap .info_group_area .scoreCon .group li.no_satis{ margin-bottom: 0; border-bottom: 0; } /* 1019 line 보정코드 */
.prd_wrap .review_wrap > .scoreCon { padding: 15px 7px 0 7px; }/* 676 line 보정 코드 */
.prd_wrap .scoreCon .review_benefit_area { margin-top: 0; }
.prd_wrap .scoreCon .review_benefit_area .review_benefit_wrap { margin-bottom: 0; border-bottom: 0; }

.benefit_info_modal { position: fixed; z-index: 10000; width: 90%; top: 50%; left:5%; margin-top: -50% !important; background-color: #fff; overflow: hidden; display: none; }
.benefit_info_modal .modal_header { padding: 11px 0; background-color: #ef6856; font-size: 18px; color: #ffffff; text-align: center; }
.benefit_info_modal .modal_header .benefit_modal_close_bt { float:right; width: 18px; margin-right: 10px; }
.benefit_info_modal .modal_content { padding: 31px 28px 22px 28px; font-size: 16px; }
.benefit_info_modal .modal_content .level_header { display: block; font-size: 18px; font-weight: bold; margin-bottom: 8px; }
.benefit_info_modal .modal_content .level_content { display: block; padding: 8px 0; font-size: 15px; line-height: 22px; }
.benefit_info_modal .modal_content .level_content:before { content: ''; background-image: url(http://image.hyundaihmall.com/static/smart/2016/mobile/images/mypage/mypage_img.png); background-size: 272px; background-repeat: no-repeat; display: inline-block; margin-right: 5px; width: 22px; height: 22px; vertical-align: top; }
.benefit_info_modal .modal_content .level4 > .highlight { color: #5d52c0; }
.benefit_info_modal .modal_content .level4:before { background-position: 0px -23px; }
.benefit_info_modal .modal_content .level3 > .highlight { color: #4a9cce; }
.benefit_info_modal .modal_content .level3:before { background-position: -48px 0px; }
.benefit_info_modal .modal_content .level2 > .highlight { color: #fea213; }
.benefit_info_modal .modal_content .level2:before { background-position: -24px 0px; }
.benefit_info_modal .modal_content .level1 > .highlight { color: #b5b4b4; }
.benefit_info_modal .modal_content .level1:before { background-position: 0px 0px; }