
/*상세설명*/
.dealTit {position: relative;margin:0;padding:0;line-height:1.4em;color:#999;font-size:13px;}
.dealTit dl{display:block;overflow:hidden;margin:10px 10px 0;padding:12px 15px 13px 15px;color:#666;font-size:13px;border:1px solid #e5e5e5;background:#fff;}
.dealTit dl:only-child{margin:10px;}
.dealTit dl + dl{margin:-11px 10px 10px;border-top:1px solid #fff;}
.dealTit .noti-wrapping + dl{margin:0 10px 10px;border-top-color:#e5e5e5;}
.dealTit dt{position:relative;padding:0 0 0 20px;font-size:14px;color:#111;line-height:19px;}
.dealTit dt:before{content:'';position:absolute;top:1px;width:16px;height:16px;margin-left:-18px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/img_prd_detail.png') no-repeat -67px -118px;background-size:200px auto;-webkit-background-size:200px auto;}
.dealTit dt.Tit-quick{font-weight:bold;color:#9ac913;}
.dealTit dt.Tit-quick:before{margin-left:-19px;background-position:-50px -118px;}
.dealTit dt.Tit-tvprd:before{top:2px;margin-left:-20px;background-position:-85px -118px;}
.dealTit dt.Tit-delivery:before{top:3px;margin-left:-20px;background-position:-66px -100px;}
.dealTit dt.Tit-global:before{top:2.5px;margin-left:-20px;background-position:-146px -118px;}
.dealTit dt.Tit-conv:before{top:3px;margin-left:-20px;background-position:-65px -137px;}
.dealTit dt.hidden{display:none;position:absolute;top:-1000em;left:-1000em;}
.dealTit dt .btn_link_url{display:inline-block;position:absolute;top:0;right:0;height:18px;font-size:12px;color:#999;line-height:18px;}
.dealTit dt .btn_link_url span:after{display:inline-block;content:'';width:6px;height:6px;margin-left:1px;border-right:1px solid #999;border-bottom:1px solid #999;vertical-align:1px;-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.dealTit dd{padding-top:2px;}
.dealTit dd .Info-delivery li{padding-top:8px;}
.dealTit dd li{padding-left:8px;}
.dealTit dd li:before {content:"\00af";position:absolute;margin:3px 0 0 -6px;font-size:12px;color:#999;}
.dealTit dd li:only-child{padding-left:0;}
.dealTit dd li:only-child:before{display:none;}
.dealTit dd ol li{padding-left:0;}
.dealTit dd ol li:before{display:none;}
.dealTit dd p{display:inline-block;line-height:15px;}
.dealTit dd p strong,.dealTit dd dfn{font-weight:normal;font-style:normal}
.dealTit dd .soldout{color:#ee1f60;}
.dealTit dd .date{color:#00a4b3;}
.dealTit dd .btn_link_url{margin-left:4px;color:#777;text-decoration:underline;}
.dealTit dd .btn_link_url span:after{display:inline-block;content:'';width:6px;height:6px;margin-left:1px;border-right:1px solid #777;border-bottom:1px solid #777;vertical-align:middle;-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.dealTit .noti-wrapping{margin:10px;padding:10px;border-color:#daf1b2;background:#f5f9e9;}
.dealTit .noti-wrapping dd{position:relative;padding-top:0;padding-left:26px;font-size:13px;color:#444;}
.dealTit .noti-wrapping dd:before{content:'';position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9.5px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/img_prd_detail.png') no-repeat -70px -70px;background-size:200px auto;-webkit-background-size:200px auto;}
.dealTit .noti-review dd{padding-top:0;}
.dealTit .red_note{color:#ee1f60;}
.dealTit .noti-review, .dealTit dl + .noti-review, .dealTit .noti-tvprd + dl{margin:10px;border-top:1px solid #e5e5e5;}
.dealTit .noti-tvprd, .dealTit dl + .noti-tvprd, .dealTit .noti-tvprd + dl{margin:10px;border-top:1px solid #e5e5e5;}
.dealTit .noti-tvprd{background:#f5f9e9;}
.dealTit h5{position:relative;padding:0 0 0 20px;color:#111;font-size:14px;font-weight:normal;line-height:19px;}
.dealTit .noti-review .swiper-wrapper{overflow:hidden;}
.dealTit .noti-review .swiper-pagination{position:absolute;right:0;top:0;padding-right:2px;}
.dealTit .noti-review .swiper-pagination em{color:#444;}
.dealTit .Tit-review{padding:0 0 5px 44px;}
.dealTit .Tit-review:before{content:'';position:absolute;top:2px;width:40px;height:16px;margin-left:-44px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/img_prd_detail.png') no-repeat -105px -118px;background-size:200px auto;-webkit-background-size:200px auto;}
.dealTit.foodNoti dl{margin:15px 15px 25px;padding:15px;}
.dealTit.foodNoti dd{position:relative;padding:0 0 0 20px;color:#444;font-size:14px;line-height:19px;}
.dealTit.foodNoti dd:before{content:'';position:absolute;top:1px;width:16px;height:16px;margin-left:-18px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/img_prd_detail.png') no-repeat -67px -118px;background-size:200px auto;-webkit-background-size:200px auto;}
.prdDesc .descriptionContents .htmlArea p{text-align:center;}
.prdDesc .descriptionContents .htmlArea img {clear:both;width:auto;max-width:100%;height:auto}
.prdDesc .descriptionContents .deal-htmlArea img {clear:both;width:100%;}

/*상품평*/
.prdReviewPoint{}
.prdReviewPoint .reviewhead {overflow:hidden;position:relative;padding:10px 0;text-align:center;font-family:arial}
.prdReviewPoint .reviewhead .reviewStar{display:inline-block;position:relative;top:1px;width:134px;height:24px;margin:0;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/i_b_star.png') no-repeat 0 -25px;background-size:134px auto;vertical-align:-6px}
.prdReviewPoint .reviewhead .reviewStar.noStar{margin:8px 0;}
.prdReviewPoint .reviewhead .reviewStar em{display:inline-block;position:absolute;left:0;top:0;width:100%;height:24px;margin:0;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/i_b_star.png') no-repeat 0 0;background-size:134px auto;}
.prdReviewPoint .reviewhead .reviewScore {font-size:32px;line-height:1.2em;display:inline-block;padding-left:10px;vertical-align:middle;}
.prdReviewPoint .reviewhead .scoreTotal {position:relative;top:-3px;font-size:22px;color:#999;vertical-align:-7px}
.prdReviewPoint .reviewhead .scoreTotal:before {content:'/';display:inline-block;padding:0 0 0 3px}

.reviewPointCont .prdListWarp .prdList li:first-child{border:1px solid #e5e5e5;}
.reviewPointCont .reviewPaging{width:100%;padding:0;text-align:center;margin-top:15px}
.reviewPointCont .reviewPaging a{position:relative;top:3px;display:inline-block;width:7px;height:13px;text-indent:-99px;color:transparent;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/blt_review.png') no-repeat 0 0;background-size:7px auto;}
.reviewPointCont .reviewPaging a.prev{padding-right:19px;}
.reviewPointCont .reviewPaging a.next{background-position:100% -13px;padding-left:19px;}
.reviewPointCont .reviewPaging em{display:inline-block;color:#111;margin: 0 2px}

.reviewPointCont .reviewWrap li {float:left;width:100%}
.reviewPointCont .reviewWrap li .reviewhead{margin:0;}
.reviewPointCont .reviewWrap .reviewTit {color:#999;font-size:14px;padding-bottom:2px;font-weight:normal}
.reviewPointCont .reviewWrap .reviewDetail {width:180px;margin:0 auto}
.reviewPointCont .reviewWrap .reviewDetail dl{margin-top:7px}
.reviewPointCont .reviewWrap .reviewDetail dl:after{display:block;clear:both;overflow:hidden;content:'';}
.reviewPointCont .reviewWrap .reviewDetail dt {float:left;margin-top:2px;font-size:14px;color:#444;}

.reviewPointCont .reviewWrap .popularDetail {margin:0 auto}
.reviewPointCont .reviewWrap .popularDetail .reviewTit + dl {margin-top:8px}
.reviewPointCont .reviewWrap .popularDetail dl{margin-top:6px;}
.reviewPointCont .reviewWrap .popularDetail dt {color:#444;font-size:12px;line-height:1.1em}
.reviewPointCont .reviewWrap .popularDetail dd{height:15px;line-height:15px}
.reviewPointCont .reviewWrap .popularDetail span.popularBar {width:100%;background-color:#ebebeb;height:9px;display:inline-block;overflow:hidden;margin-right:5px}
.reviewPointCont .reviewWrap .popularDetail span.popularBar em {background-color:#a4dd00;height:9px;display:inline-block;overflow:hidden;vertical-align:top}
.reviewPointCont .reviewWrap .popularDetail span.per {color:#999;font-size:13px}
.reviewPointCont .reviewWrap .popularDetail span.per strong {font-weight:normal}

.reviewContainer .prdListWarp .reviewBest:before, .reviewContainer .prdListWarp .reviewCommon:before{display:none;}
.prdListWarp .prdTit {overflow:hidden;padding:13px 10px 13px;position:relative;border-top:1px solid #d9d9d9;}
.prdListWarp .prdTit h2{font-size:16px;font-weight:normal;}
.prdListWarp .prdTit .btnListView {position:absolute;right:10px;top:0;height:45px;line-height:45px;}
.prdListWarp .prdTit .btnListView a:before {content:'더보기';color:#999;font-size:13px;}
.prdListWarp .prdTit .btnListView .imgIcon {width:5px;height:8px;padding-left:4px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/ico_review_more.png') no-repeat 100% 0;background-size:5px auto;}

.prdListWarp .prdList .listWrap {padding:10px 15px 0}
.prdListWarp .prdList .reviewCont {position:relative;clear:both;margin:15px 0;overflow:hidden;font-size:14px;}
.prdListWarp .prdList .reviewInfo {line-height:1.4em}
.prdListWarp .prdList .reviewContent {color:#444;font-size:13px;}
.prdListWarp .prdList .reviewContent img {width:100%;min-width:290px;height:auto;margin:10px auto;display:block}
.prdListWarp .prdList .reviewContent img:last-child {margin:10px auto 0}
.prdListWarp .prdList .reviewContent img + br, .prdListWarp .prdList .reviewContent img + br + br{display:none;height:0;margin:0;padding:0;line-height:0;}
.prdListWarp .prdList .reviewPoint {overflow:hidden;width:290px;margin:15px 0 10px;}
.prdListWarp .prdList .restrict .reviewPoint{margin:6px auto 10px;}
.prdListWarp .prdList .reviewPoint dl {float:left;width:50%}
.prdListWarp .prdList .reviewPoint dl dt {float:left;width:60px;line-height:20px;font-size:12px;}
.prdListWarp .prdList .reviewPoint dl dd {margin-left:62px;height:20px}
.prdListWarp .prdList .reviewUser,.prdListWarp .prdList li .reviewTime {position:relative;top:1px;color:#999;padding-left:6px;font-size:13px;}

/* 작성제한 상품평 추가 */
.prdListWarp .prdList .reviewPartner {margin:-15px 0 0;padding:10px 0 15px 10px;font-size:13px;}
.prdListWarp .prdList .partnerHead {position:relative;}
.prdListWarp .prdList .partnerHead .partnerTitle {display:inline-block;color:#111;font-weight:bold;font-size:12px;}
.prdListWarp .prdList .partnerHead .partnerTitle:before {position:absolute;left:-10px;top:3px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/img_prd_detail.png') no-repeat 0 -100px;background-size:200px auto;content:"";height:12px;width:12px}
.prdListWarp .prdList .partnerHead .partnerTitle:after{display:inline-block;content:'';position:relative;top:-3.5px;width:6px;height:6px;margin-left:6px;border-right:1px solid #444;border-bottom:1px solid #444;vertical-align:middle;background-image:none;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.prdListWarp .prdList .partnerContent {display:none;padding-top:13px;color:#444;}
.prdListWarp .prdList .partnerTime {display:block;padding-top:2px;color:#999;font-size:13px;}
.prdListWarp .prdList .active .partnerContent{display:block;}
.prdListWarp .prdList .active .partnerHead .partnerTitle:after{top:1px;-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}
.prdListWarp .prdList .partnerGuide {margin-top:8px;}
.prdListWarp .prdList .partnerGuide > p {display:inline-block;line-height:27px;color:#888;}
.prdListWarp .prdList .partnerGuide .complainReport {display:inline-block;height:25px;line-height:25px;margin-left:10px;padding:0 5px;background-color:#fff;border:1px solid #e5e5e5;color:#999;}
.prdListWarp .prdList .reviewOption{display: none;}
.prdListWarp .prdList .reviewHelp{display:inline-block;font-size:13px;color:#888;cursor:pointer;}
.prdListWarp .prdList .reviewHelp .count{display:inline-block;width:auto;height:30px;padding:0 20px;margin-left:8px;line-height:28px;color:#00a4b3;text-align:center;border:1px solid #00a4b3;border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;vertical-align:0px;}
.prdListWarp .prdList .reviewHelp.active .count{color:#fff;border-color:#00a4b3;background:#00a4b3;}
.prdListWarp .prdList .reviewReport{display:none}

.reviewBest li .reviewTitle, .reviewCommon li .reviewTitle {-webkit-line-clamp:4}
.reviewPointHead .photo.imgIcon{position:relative;top:2px;margin-left:6px;vertical-align:-1px}
.photo.imgIcon {background-position:-40px 0}

 .btnMore {display: none;}


/* 별점공통 */
.prdReviewPoint .reviewhead .reviewStar{background: url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/i_b_star.png') no-repeat 0 -25px;background-size:134px auto;-webkit-background-size:134px auto;}
.prdReview .starIcon, .prdListWarp .prdList .starIcon{width:80px;height:15px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/i_s_star.png')no-repeat 0 -15px;background-size:87px auto;-webkit-background-size:87px auto;vertical-align:middle;}
.prdReview .starIcon em, .prdListWarp .prdList .starIcon em{height:15px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/i_s_star.png')no-repeat 0 0;background-size:87px auto;-webkit-background-size:87px auto;}
/* 별점결과 */
.prdReviewPoint{padding:0;}
.prdReviewPoint .reviewhead .scoreTotal{top:0;}
.reviewPointCont.reviewBase{width:290px;margin:0 auto;padding:15px 0 20px;border-top:0 none;border-bottom:0 none;}
.reviewPointCont.reviewBase .reviewWrap{width:auto;height:auto;}
.prdReviewPoint .reviewhead + .reviewDetail{padding:15px 0 20px;}
.reviewPointCont .reviewWrap .reviewTit{padding-bottom:5px;text-align:center;font-size:13px;color:#444;}
.reviewPointCont .reviewWrap .reviewDetail{overflow:hidden;width:100%;}
.reviewPointCont .reviewWrap .reviewDetail dl{float:left;width:50%;margin-top:0;}
.reviewPointCont .reviewWrap .reviewDetail dt{width:60px;margin-top:2px;text-align:center;font-size:12px;}
.reviewPointCont .reviewWrap .reviewDetail dd{margin-left:62px;}
.reviewPointCont .reviewWrap .reviewDetail dd:after{display:block;clear:both;overflow:hidden;content:'';}
.reviewPointCont .reviewWrap .popularDetail{width:260px;}
.reviewPointCont .reviewWrap .popularDetail dl{position:relative;}
.reviewPointCont .reviewWrap .popularDetail span.per{display:block;position:absolute;right:0;top:0;}
.reviewPointCont .reviewWrap .popularDetail span.popularBar{margin-right:0;}
.reviewPointCont .reviewPaging{margin:0;}
.reviewPointCont .reviewPaging .paging span{display:inline-block;overflow:hidden;width:7px;height:7px;margin:0 4px;border-radius:7px;-webkit-border-radius:7px;background:#d9d9d9;}
.reviewPointCont .reviewPaging .paging span.swiper-active-switch{background:#a4dd00;}
.reviewPointCont .reviewPaging a{width:11px;height:22px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/i_new_review.png') no-repeat 0 -20px;background-size:100px auto;-webkit-background-size:100px auto;}
.reviewPointCont .reviewPaging a.prev{position:absolute;left:15px;top:50%;margin:-5px 0 0;padding:0;background-position:0 -20px;}
.reviewPointCont .reviewPaging a.next{position:absolute;right:15px;top:50%;margin:-5px 0 0;padding:0;background-position:-15px -20px;}

/* 상품평리스트 */
.prdReview .noEstimateTxt{padding:50px 0;text-align:center;color:#999;font-size:15px;line-height:initial;}
.prdReview .noEstimateTxt span:before{display:none;}
.prdReview .prdReviewBtn { display: none;}
.prdReview .prdReviewNoti{padding:12px 15px 0;font-size:12px;color:#666;background:#f4f4f4;}
.prdReview .prdReviewNoti:before{display:inline-block;content:'';width:12px;height:12px;margin-right:3px;line-height:12px;vertical-align:middle;position:relative;top:-2.5px;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/ui/gsshop/product/images/blt_noti.png') no-repeat 50% 50%;background-size:12px auto;}
.prdListWarp .reviewBest{background:#f4f6ef;}
.prdListWarp .reviewBest .prdList .btnMore_Best{height:auto;padding:0 15px 15px 0;text-align:right;line-height:initial;border-top:0 none;border-bottom:0 none;}
.prdListWarp .reviewBest .prdList .btnMore_Best p{display:inline-block;height:23px;padding:0 10px;line-height:23px;color:#444;font-size:12px;border:1px solid #cbd4b3;background:#e1ebc2;}
.prdListWarp:before{content:"";display:block;height:8px;border-top:1px solid #e5e5e5}
.prdListWarp .prdList_tab{ display: none;}
.prdList_sort_type{display: none;}

.prdListWarp .prdTit.hidden{display:none;position:absolute;top:-1000em;left:-1000em;}
.prdListWarp .prdList li{overflow:hidden;position:relative;clear:both;margin:0 10px;border-top:1px solid #ededed;}
.prdListWarp .prdList li:first-child{border-top:0 none;}
.prdListWarp .prdList .listWrap{padding:10px 0 0;}
.prdListWarp .prdList .reviewPointHead{padding-bottom:3px;}
/* iphone 5 이하대응 */
@media screen and (max-device-width : 320px) and (device-aspect-ratio: 40/71){
	.prdListWarp .prdList .reviewPointHead{overflow:hidden;margin-right:52px;white-space:nowrap;}
}
.prdListWarp .prdList .reviewCont{margin:10px 0;}
.prdListWarp .prdList .reviewThumb {overflow:hidden;position:relative;width:85px;height:85px;padding-top:5px;}
.prdListWarp .prdList .reviewThumb img {width:85px;height:85px;}
.prdListWarp .prdList .reviewThumb img + img{display:none;}
.prdListWarp .prdList .reviewThumb .count{display:none;}
.prdListWarp .prdList .reviewThumb.active{width:100%;height:auto;}
.prdListWarp .prdList .reviewThumb.active img{display:block;width:auto;max-width:100%;height:auto;margin-bottom:5px;}
.prdListWarp .prdList .reviewThumb.active img + img{display:block;}
.prdListWarp .prdList .reviewThumb.active img:last-child{margin-bottom:0;}
.prdListWarp .prdList .reviewThumb.active .count{display:none;}
.prdListWarp .prdList .vol_best{display:inline-block;overflow:hidden;width:37px;height:14px;margin-right:5px;color:transparent;text-indent:-99px;background-position:0 0;vertical-align:-3px;}
.prdListWarp .prdList .review_more{display:inline-block;overflow:hidden;width:11px;height:7px;margin-left:3px;background-position:-45px 0;vertical-align:0;}
.prdListWarp .prdList .prodSel{overflow:hidden;padding-bottom:3px;line-height:17px;font-size:13px;color:#999;}
.prdListWarp .prdList .prodSel_opt{overflow:hidden;padding-bottom:3px;font-size:13px;line-height:17px;color:#999;}
.prdListWarp .prdList .prodSel p,
.prdListWarp .prdList .prodSel_opt p{display:inline;}
.prdListWarp .prdList .reviewTitle{line-height:18px;}


.prdReview .starIcon,.prdListWarp .prdList .starIcon {display:inline-block;position:relative;width:82px;height:16px;margin:0;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/img_s_new_star.png') no-repeat 0 -16px;background-size:82px auto;vertical-align:middle}
.prdReview .starIcon em,.prdListWarp .prdList .starIcon em{display:inline-block;position:absolute;left:0;top:0;width:100%;height:16px;margin:0;background:url('http://thum.buzzni.com/unsafe/http://image.gsshop.com/mobile/mc/images/goods/img_s_new_star.png') no-repeat 0 0;background-size:82px auto}
