@charset "utf-8";

.swiper {position:relative;width:100%;overflow:hidden;}
/* 별점 */
[class*="star_point"] {position:relative;display:inline-block;width:150px;height:25px;background:url(http://m.lotteimall.com/resources/mimages/unity/icon_star_point.png) no-repeat 100% 0;background-size:300px;}
[class*="star_point"] > span {position:absolute;top:0;left:0;bottom:0;background:url(http://m.lotteimall.com/resources/mimages/unity/icon_star_point.png) no-repeat 0 0;background-size:300px;font:0/0 a;}

.star_point_small {width:80px;height:13px;background-size:160px;}
.star_point_small > span {background-size:160px;}


/* 상품 상세 */
.pd_detail {position:relative;padding-top:59px;}
.pd_detail .pd_detail_tab {position:absolute;top:0;right:0;left:0;border-top:10px solid #f0f0f0;}
.pd_detail.fixed .pd_detail_tab {position:fixed;top:47px;z-index:10;}
.pd_detail_tab .tab_menu {margin:0;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;background-color:#fff;}
.pd_detail_tab .tab_menu li {margin:0;border-bottom:1px solid #ddd;display:-webkit-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing: border-box;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-box-align:center;-webkit-box-pack: center;}
.pd_detail_tab .tab_menu li > a {position:relative;display:block;width:100%;height:48px;background:#fff;color:#111;box-sizing:border-box;text-align:center;}
.pd_detail_tab .tab_menu li.on > a {color:#ea493e;}
.pd_detail_tab .tab_menu li > a:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.pd_detail_tab .tab_menu li > a > span {display:inline-block;width:100%;padding-top:10px;vertical-align:top;font-weight:bold;}
.pd_detail_tab .tab_menu li.on > a > span:after {content:"";position:absolute;bottom:-1px;right:0;left:0;height:2px;background:#ea493e;}
.pd_detail_tab .tab_menu li > a > span span {display:block;font-size:11px;color:#666;line-height:1;font-weight:normal;}

.tab_wrap .pd_detail_content {display:block;position:fixed;right:0;left:0;z-index:-1;visibility:hidden;}
.tab_wrap .pd_detail_content.on {position:relative;z-index:1;visibility:visible;}

.pd_detail_content .ac_list {border-bottom:1px solid #ddd;}
.pd_detail_content .ac_list div:first-child {border-top:1px solid #ddd;}
.pd_detail_content .ac_list:before {content:"";display:block;height:10px;background:#f0f0f0;}

.pd_detail_content .ac_tit {border-top:1px solid #eee;}
.pd_detail_content .ac_list > div:first-child .ac_tit {border-top:0;}
.pd_detail_content .ac_tit .tit {display:block;}
.pd_detail_content .ac_tit.on .tit {overflow:inherit;height:auto;font-weight:bold;white-space:inherit;text-overflow:inherit;}
.pd_detail_content .ac_tit .date {display:block;padding-top:5px;font-size:12px;color:#666}
.pd_detail_content .ac_tit .ico_arr {position:absolute;right:12px;top:50%;width:13px;height:8px;margin-top:-4px;text-indent:-9999px;}
.pd_detail_content .ac_tit .ico_arr {background-position:0 0;}
.pd_detail_content .ac_tit.on .ico_arr {background-position:-25px 0;}
.pd_detail_content .ac_cont {display:none;padding:20px 18px;border-top:1px solid #eee;color:#666;}
.pd_detail_content .ac_cont.on {display:block;}
.pd_detail_content .ac_cont .tbl_type1 th {color:#666;font-size:14px;}
.pd_detail_content .ac_cont .tbl_type1 td {color:#111;font-size:14px;}

.pd_detail_content .pd_detail_tit {margin:20px 0 10px;color:#111;font-weight:bold;}
.pd_detail_content .pd_detail_tit:first-child {margin-top:0;}

.pd_detail_content .pd_info_alert {margin:20px 12px 0;padding:12px 10px;background:#f6f6f6;border-radius:7px;font-size:14px;}

.pd_detail_content .pd_info_table {width:100%;margin:15px 0;table-layout:fixed;font-size:13px;}
.pd_detail_content .pd_info_table th {padding:3px 12px;color:#666;text-align:left;vertical-align:top;}
.pd_detail_content .pd_info_table th:before {content:"";display:inline-block;width:3px;height:3px;margin:0 5px 0 0;background:#888;border-radius:50%;vertical-align:3px;}
.pd_detail_content .pd_info_table td {padding:3px 12px;text-align:left;}

.pd_detail_content .pd_info_table .page_go {font-size:13px;}
.pd_detail_content .pd_info_table .page_go:after {content:"";display:inline-block;width:6px;height:9px;margin:0 0 0 4px;background-position:-50px 0;}

.pd_detail_content .md_notice {margin:0 12px 12px;}
.pd_detail_content .md_notice strong {display:block;margin-bottom:3px;font-weight:bold;}
.pd_detail_content .md_notice img {width:100% !important; height:auto !important;}

.pd_detail_content .img_summary {margin:0 12px;overflow:hidden;overflow-x: auto;}
.pd_detail_content .img_summary img {width:100% !important;height:auto !important;}

.pd_detail_content .layer_scale_notice {display:none;position:fixed;top:120px;right:0;left:0;width:210px;height:56px;margin:0 auto;background:url(/resources/mimages/unity/img_zoom.png) no-repeat;background-size:cover;z-index:10;}

.pd_detail_content .img_statem {overflow-y:hidden;position:relative;padding:0 12px 20px;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-transition-property:-webkit-transform;
transition-property:transform;
transition-property:transform,-webkit-transform;
-webkit-touch-callout:none;
-webkit-user-select:none;
user-select:none;
-webkit-text-size-adjust:none;
text-size-adjust:none
}

.pd_detail_content .img_statem {overflow-y:hidden;position:relative;padding:0 12px 20px;}
.pd_detail_content .img_statem .swiper_slide {flex-shrink:0;}
.pd_detail_content .img_statem .swiper_wrap {position:relative;width:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:flex;}

.pd_detail_content .img_statem.short {height:1500px;overflow-y:hidden;}
.pd_detail_content .img_statem img {max-width:100% !important;height:auto !important;}

.pd_detail_content .pd_info_more {display:none;padding:0 12px 20px;}
.pd_detail_content .pd_info_more .btn_ltype1:after {content:"";display:inline-block;width:18px;height:8px;margin:0 0 0 8px;background-position:-75px 0;vertical-align:2px;}
.pd_detail_content .img_statem.short + .pd_info_more {display:block;margin:12px 0 0;}

.pd_detail_content .num_list .par {display:block;margin:10px 0 0;}

.pd_detail_content .tbl_type1 {table-layout:fixed;}
.pd_detail_content .mark_info th {background:#fff;vertical-align:middle;}
.pd_detail_content .mark_info + .mark_info {margin-top:10px;}
.pd_detail_content .mark_info tr:first-child th:first-child {text-align:center;background:#f1f1f1;}
.pd_detail_content .mark_info img {width:55px;}

.pd_detail_content .btn_area {margin:12px 12px 0;}

.pd_detail_content.tv_talk {padding:0;}

.recom_swiper .swiper_slide {width:40%;}

.pd_detail_content .btn_more {margin-bottom:20px;}

/*160219 상품기술서영역 개선*/
.guide_top {text-align:center}
.guide_top:after {content:"";display:block;clear:both}
.guide_top p {text-align:center;padding:10px 0;font-size:12px}
.guide_top li a.quality {overflow:hidden;display:inline-block;text-indent:-5000px;width:101px;height:30px;background:url("http://image.lotteimall.com/imall_mc/site/images/imall_mc/detail/btn_quality.png") no-repeat 0 0;background-size:contain}
.guide_top li a.clothing {overflow:hidden;display:inline-block;margin-left:10px;text-indent:-5000px;width:101px;height:30px;background:url("http://image.lotteimall.com/imall_mc/site/images/imall_mc/detail/btn_clothing.png") no-repeat 0 0;background-size:contain}
.guide_information {margin-top:-1px;border-top:2px solid #595959;}
.v_layer {text-align:center;width:100%;border-top:1px solid #ccc}
.v_layer li {display:inline-block;width:101px;padding:10px 0;}

.img_statem{overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;position:relative;min-height:400px;padding:10px 12px 0;color:#666;line-height:1.25em;}
.img_statem.dtl_exp_n {min-height:0;}
.img_statem h3,
.img_statem td,
.img_statem span,
.img_statem font,
.img_statem div,
.img_statem em,
.img_statem p,
.img_statem a,
.img_statem strong{font-size:12px !important;font-family:'Roboto','Droid Sans','Malgun Gothic' !important;text-align:left;}
.img_statem strong,.img_statem h3{font-weight:bold;}

.img_statem div,
.img_statem p {width:auto !important; min-width:0 !important; max-width:100% !important;}
.img_statem img {max-width:100% !important; min-width:0 !important; max-width:100% !important; height:auto !important;}
.img_statem table {border-collapse:collapse;width:100% !important; min-width:0 !important; max-width:auto !important;height:auto !important;}
.img_statem th,
.img_statem td{height:auto !important;}
.img_statem object{width:100%;}
.img_statem embed{width:100%;}
.img_statem embed[src*=".swf"]{display:none;}
.img_statem .goods_img {margin:0;}
.img_statem .btn_view_detail {position:absolute;top:50px;right:8px;z-index:100;border:none;margin:0;padding:0;background-color:transparent !important;}
.img_statem .btn_view_detail img {width:45px !important; height:45px !important;}

.img_statem iframe{width:800px;}
.img_statem iframe[src*="youtube.com"]{width:100% !important;}
.img_statem iframe[src*="vimeo.com"]{width:100% !important;}
.img_statem #nikeIframe{width:100%;}
.img_statem iframe.full_size{width:100% !important;}
.img_statem .ifr_cont{max-width:100%;overflow-x:scroll;-webkit-overflow-scrolling:touch;}

.img_statem .tit_sm{margin:14px 0 5px;color:#363b3f;font-weight:bold;font-size:13px;}
.img_statem .tit_sm:first-of-type{margin-top:24px;}
.img_statem .subt_sm{position:relative;margin:-2px 0 6px 1px;padding-left:7px;color:#666;font-weight:normal;font-size:12px;}
.img_statem .subt_sm:before{content:'';display:block;position:absolute;top:5px;left:0;width:4px;height:4px;background:#777;}

.img_statem .box_statem{margin:0;padding-bottom:10px}
.img_statem .img_statem{margin:0 0 -10px;max-width:none !important}

div.tb_statem_w{max-width:none !important;margin:0 0 13px;}
.tb_statem{width:100%;border-bottom:1px solid #d7d8d9;}
.tb_statem th{padding:7px 9px 6px;border-top:1px solid #d7d8d9;border-left:1px solid #d7d8d9;background:#ededed;color:#565b5e;font-size:12px;text-align:center;}
.tb_statem th:first-child{border-left:0}
.tb_statem td{padding:9px;border:1px solid #d7d8d9;color:#666;text-align:left;}
.tb_statem td:first-child{border-left:0}
.tb_statem td:last-child{border-right:0}
.tb_statem td.align_c{text-align:center;}
.tb_statem td.font11{font-size:11px;}
.tb_statem td.date{color:#434343;text-align:center;}
.tb_statem .col_value01{width:43px;}
.tb_statem .col_value02{width:69%;}
.tb_statem .col_value03{width:16%;}
.tb_statem .col_value04{width:15%;}

/* 구매 가격 상세 */
.price_info:first-of-type {margin:0 0 10px}
.price_info li {position:relative;}
.price_info li .sub {display:block;font-size:13px;color:#666;}
.price_info .price {position:absolute;top:0;right:0;text-align:right;}
.price_info .sale li {}
.price_info .sale li + li {margin:5px 0 0;}
.price_info .sale .total .price {top:0;}

.price_info .discount {margin:10px 0;padding:12px;background:#f6f6f6;border-radius:8px;}
.price_info .discount li {padding-left:6px;font-size:13px;}
.price_info .discount li:before {content:"";position:absolute;top:10px;left:0;width:2px;height:2px;border-radius:50%;background:#888;}
.price_info .discount li + li {margin:8px 0 0;}
.price_info .discount .price {top:0;color:#666;font-size:14px;}
.price_info .discount .price span {font-size:15px;}

.price_info .total_discount {margin:10px 0 0;padding:10px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.price_info .total_discount li + li {margin:10px 0 0;}
.price_info .total_discount .price {top:0;right:0;font-size:16px;}
.price_info .total_discount .price b {font-size:17px;}

.price_info .phone_sale {margin:10px 0 0;padding:10px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.price_info .phone_sale li:after {content:"";display:block;clear:both;}
.price_info .phone_sale li + li {margin:8px 0 0;}
.price_info .phone_sale .tit {float:left;}
.price_info .phone_sale .price {position:static;float:right;font-size:16px;}

.price_info .price {font-size:16px;}
.price_info .price b {font-size:17px;}

.price_info .sale2 .price {font-size:14px;}
.price_info .sale2 .price span {font-size:15px;}

.price_info .bul_ex {margin:10px 0 0;}

/* 무이자 할부 정보 */
.no_interes_tit {margin:0 -12px;padding:12px;background:#f6f6f6;color:#111;font-size:16px;font-weight:bold;}
.no_interes_tit span {color:#666;}
.no_interes_tit ~ .no_interes_tit {border-top:1px solid #eee;}

.no_interest_card li {position:relative;display:table;width:100%;min-height:68px;padding:12px 12px 12px 80px;border-bottom:1px solid #eee;box-sizing:border-box;}
.no_interest_card .name {position:absolute;top:50%;left:0;width:70px;transform:translateY(-50%);-webkit-transform:translateY(-50%);color:#666;border-radius:5px;text-align:center;font-size:12px;line-height:1.2;}
.no_interest_card .name img {width:70px;}
.no_interest_card .name:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.no_interest_card .case {display:table-cell;vertical-align:middle;}
.no_interest_card .case span {display:inline-block;}
.no_interest_card .case span span {color:#666;}
.no_interest_card ~ .bul_list {font-size:13px;color:#666;}
.no_interest_card ~ .bul_list li:before {background:#666;}

.no_interes_long {padding:10px 0;}
.no_interes_long:after {content:"";display:block;clear:both;}
.no_interes_long li {float:left;width:50%;margin:10px 0;padding:0 0 0 80px;box-sizing:border-box;border:0;}
.no_interes_long li:nth-of-type(2n) {border-left:1px solid #eee;}
.no_interes_long .case {display:block;margin-top:15px;}

.no_interes_txt {margin:10px 0;font-size:14px;color:#666;}

.brodcast_card {padding:10px 0;border:1px solid #eee;border-radius:9px;}
.brodcast_card:after {content:"";display:block;clear:both;}
.brodcast_card li {float:left;width:25%;height:50px;margin:10px 0;text-align:center;}
.brodcast_card li strong {display:inline-block;width:70px;font-size:12px;}
.brodcast_card li img {width:100%;}
.brodcast_card + .bul_ex {margin:15px 0 0;}

/* 구매정보 */
.buy_info_tbl {margin:12px 12px 20px;}
.buy_info_tbl .tit {margin:12px 0 0;font-weight:bold;}
.buy_info_tbl .tit:first-child {margin:0;}
.buy_info_tbl .dashed_box {margin:12px 0 0;padding:12px 0 0;border-top:1px dashed #ddd;}
.buy_info_tbl .dashed_box .link {display:inline-block;}
.buy_info_tbl .dashed_box .link:after {content:"";display:inline-block;width:6px;height:9px;margin:0 0 0 5px;background-position:-50px 0;}

/* 상품평 */
.top_review {padding:0 12px 30px;}
.none_top .top_review {display:none;}
.top_review .new_point {margin:42px 0 0;text-align:center;}
.top_review .star_point {vertical-align:-5px;}
.top_review .mark {display:inline-block;margin:0 0 0 2px;vertical-align:middle;font-size:15px;}
.top_review .mark b {font-size:30px;}
.top_review .satis_area {position:relative;margin:28px 0 0;padding:20px 0;background:#f6f6f6;border-radius:8px;}
.top_review .satis_area .satis_size {position:absolute;top:27px;left:18px;width:100px;}
.top_review .satis_area + .bul_ex {margin:10px 0 0;}
.top_review .satis_area .satis_stars li {height:23px;text-align:center;}

.satis_area .satis_size {font-weight:bold;font-size:13px;line-height:1.4;}
.satis_area .satis_size span {display:block;font-weight:normal;font-size:13px;color:#999;}
.satis_area .satis_graph {margin:0 0 0 100px;border-left:1px solid #ddd;}
.satis_area .satis_graph li {position:relative;height:10px;margin-top:10px;padding:0 76px 0 45px;font-size:13px;line-height:1.1em;color:#666;}
.satis_area .satis_graph li:first-child {margin-top:0}
.satis_area .satis_graph li:before {content:"";display:block;height:10px;background:#fff;border-radius:10px;}
.satis_area .satis_graph li .bar {display:block;height:10px;margin-top:-10px;background:#f5c542;border-radius:10px;}
.satis_area .satis_graph li .per {position:absolute;top:-2px;left:0;width:39px;text-align:right;line-height:1;}
.satis_area .satis_graph li .str {position:absolute;top:-2px;right:0;width:67px;line-height:1;}
.isAND .satis_area .satis_graph li .per {top:0;}
.isAND .satis_area .satis_graph li .str {top:0;}

.satis_area .satis_stars {margin-bottom:-8px;}
.satis_area .satis_stars:after {content:"";display:block;clear:both;}
.satis_area .satis_stars li {float:left;width:50%;box-sizing:border-box;}
.satis_area .satis_stars li .tit {display:inline-block;width:42px;margin-top:2px;vertical-align:top;font-size:13px;line-height:1;text-align:left;}
.satis_area .satis_stars li .star_point_small {vertical-align:top;}
.satis_area .satis_stars li .star_point_small > span {background-position:0 -15px;}

.reivew_filter {position:relative;padding:12px 12px 13px;border-top:1px solid #ddd;}
.none_top .reivew_filter {border-top:0;}
.reivew_filter [class*="sort_"] {display:inline-block;line-height:1;margin-top:3px;}
.reivew_filter [class*="sort_"] span {font-size:11px;color:#666;}
.reivew_filter [class*="sort_"] +  [class*="sort_"] {margin-left:8px;padding-left:12px;border-left:1px solid #ddd;}

.reivew_filter [class*="sort_"].active {color:#ea493e;font-weight:bold;}
.reivew_filter [class*="sort_"].active span {color:#666;font-weight:normal;}

.reivew_filter .sort_image span {color:#666;}

.reivew_filter .option_filter {position:absolute;top:10px;right:12px;}
.reivew_filter .option_filter.active:after {content:"";position:absolute;top:-5px;right:-5px;width:15px;height:15px;background:#f07f78 url(/resources/mimages/unity/sp_pd.png) no-repeat -150px -35px;background-size:250px;border-radius:50%;}

.review_wrap {border-top:1px solid #eee;}
.review_wrap .review_list {position:relative;padding:17px 12px;border-bottom:1px solid #eee;}
.review_wrap .review_list .name {margin:8px 0 0;overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:13px;color:#999;line-height:1.2;}
.on .review_wrap .review_list .name {padding:1px 0 0;}
.review_wrap .review_list > .star_point_small {position:absolute;top:16px;left:12px;}
.review_wrap .review_list .point_none {position:absolute;top:17px;font-size:13px;color:#999;line-height:1;}
.review_wrap .review_list .point_none + .info_pr {margin-left:70px;}
.review_wrap .review_list .point_none + .info_pr .user_id {padding-left:6px;border-left:1px solid #ddd;}

.review_wrap .review_list .info_pr {display:block;margin-left:90px;font-size:13px;color:#999;line-height:1;}

.review_wrap .review_list .info_pr .user_id {display:inline-block;max-width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;}
.review_wrap .review_list .date {display:inline-block;margin-left:2px;padding-left:6px;border-left:1px solid #ddd;vertical-align:top;}
.review_wrap .review_list .option {display:block;margin:10px 0 7px;color:#ee7b74;font-size:13px;line-height: 1.2;}
.review_wrap .review_list .name + .option {margin-top:3px;}

.review_wrap .review_list .review_cont {word-break:break-all;margin-top:10px;}
.review_wrap .review_list .swiper_slide {margin:14px 0 0;text-align:center;}
.review_wrap .review_list .swiper_slide img {width:100%;max-width:100%;}
.review_wrap .review_list .swiper_pagination {position:absolute;bottom:15px;left:50%;height:20px;padding:0 12px;box-sizing:border-box;background:rgba(0,0,0,.6);transform:translateX(-50%);-webkit-transform:translateX(-50%);border-radius:9px;font-size:13px;color:#fff;z-index:2;line-height:1.5;letter-spacing:-1px;}
.isAND .review_wrap .review_list .swiper_pagination {line-height:1.7;}


/* 바로 티비톡 */
.talk_date {overflow:auto;-webkit-overflow-scrolling:touch;border-bottom:1px solid #ddd;}
.talk_date ul {display:table;}
.talk_date li {display:table-cell;}
.talk_date li button {width:50px;height:25px;margin:10px 12px;color:#111;font-size:14px;border-radius:25px;}
.talk_date li.active button {background:#ea493e;color:#fff;font-weight:bold;}
.talk_date::-webkit-scrollbar {display:none;}

/* Q&A */
.pd_qna_top {padding:0 12px;}
.pd_qna_top .txt {padding:20px 0 10px;text-align:center;}
.pd_qna_top .btns {margin:12px 0;border:1px solid #bbb;border-radius:5px;overflow:hidden;}
.pd_qna_top .btns:after {content:"";display:block;clear:both;}
.pd_qna_top .btns [class*="btn_"] {float:left;width:50%;height:50px;background:#f6f6f6;line-height:50px;text-align:center;box-sizing:border-box;}
.pd_qna_top .btns [class*="btn_"] + [class*="btn_"] {border-left:1px solid #bbb;}
.pd_qna_top .btns [class*="btn_"]:before {content:"";display:inline-block;width:25px;height:25px;vertical-align:-7px;}
.pd_qna_top .btns [class*="btn_"]:only-child {width:100%;}
.pd_qna_top .btns .btn_qna1:before {background-position:0 -25px;}
.pd_qna_top .btns .btn_qna2:before {background-position:-25px -25px;}
.pd_qna_top .btns .btn_qna3:before {background-position:0 -50px;}

.pd_qna_write {margin:12px 12px 0;}
.pd_qna_write .textarea {height:100px;vertical-align:middle;}
.pd_qna_write .btn_area {margin:12px 0 0;}

.pd_detail_content .pd_qna_list {margin:12px 0 0;border-bottom:0 none;border-top: 1px solid #eee;word-break:break-all;}
.pd_detail_content .pd_qna_list:before {display:none;}
.pd_qna_list > li {position:relative;padding:12px 0 0;}
.pd_qna_list > li [class*="qna_status"] {position:absolute;top:10px;left:12px;padding:0 5px;background:#f6f6f6;border:1px solid #bbb;border-radius:2px;font-size:12px;color:#666;font-weight:bold;}
.pd_qna_list > li .qna_status_com {background:#fff1f0;border-color:#fec4c0;color:#ea493e;}
.pd_qna_list > li .info_pr {display:block;margin-left:80px;padding:2px 0 0;font-size:13px;color:#999;line-height:1;}
.pd_qna_list > li .info_pr .user_id {display:inline-block;max-width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.pd_qna_list > li .date {display:inline-block;padding-left:4px;border-left:1px solid #ddd;}

.pd_qna_list > li .ac_tit {position:relative;padding:10px 50px 15px 43px;border:0;}
.pd_qna_list > li .ac_tit .name {overflow:hidden;display:-webkit-box;margin:0 0 2px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:13px;color:#999;line-height:1.2;}
.pd_qna_list > li .ac_tit .tit:before,
.pd_qna_list > li .ac_cont:before {content:"";position:absolute;top:12px;left:12px;width:20px;height:20px;}
.pd_qna_list > li .ac_tit .tit {display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.on .pd_qna_list > li .ac_tit .name,
.on .pd_qna_list > li .ac_tit .tit {line-height:1.3;}
.pd_qna_list > li .ac_tit .ico_arr {top:-10px;}
.pd_qna_list > li .ac_tit.on .tit {display:block;font-weight:normal;}
.pd_qna_list > li .ac_tit .tit:before {background-position:-150px 0;}
.pd_qna_list > li .ac_cont {position:relative;padding:0 50px 12px 43px;background:#fff;color:#111;border-top:0;}
.pd_qna_list > li .ac_cont:before {top:4px;background-position:-175px 0;}

/* 관련 상품 */
.pd_recom {position: relative;z-index: 0;}
.pd_recom:before {content:"";display:block;height:10px;background:#f0f0f0;}
.pd_recom_section {margin:30px 0 0;border-top:1px solid #ddd;}
.pd_recom > div:first-child .pd_recom_section {margin:0;border-top:0;}
.pd_recom_section .title {padding:19px 12px 24px 12px;font-size:17px;line-height:1;}

/* 관련 동영상 */
.relation_video .swiper_slide > a {position:relative;display:block;height:91px;padding:0 12px 0 185px;}
.relation_video .thumb {overflow:hidden;position:absolute;top:0;left:12px;width:161px;height:89px;border:1px solid #eee;border-radius:8px;}
.relation_video .thumb img {width:100%;height:100%;}
.relation_video .thumb:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.3);}
.relation_video .thumb:before {content:"";position:absolute;top:50%;left:50%;width:19px;height:21px;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);background-size:94px;background-position:0 -75px;z-index:2;}
.relation_video .thumb .time {position:absolute;right:10px;bottom:8px;color:#fff;font-size:13px;z-index:2;}
.relation_video .cont {display:block;overflow:hidden;}
.relation_video .cont .cate_mobile {display:inline-block;color:#3563c9;font-size:13px;font-weight:bold;}
.relation_video .cont .txt {display:block;height:62px;margin:5px 0 0;overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.relation_video .swiper_pagination {height:7px;margin-top:12px;text-align:center;}
.relation_video .swiper-pagination-bullet {display:inline-block;width:7px;height:7px;margin:0 0.2em;background-color:#bbb;border-radius:4px;-webkit-transition:all 0.3s;transition:all 0.3s;vertical-align:top;}
.relation_video .swiper-pagination-bullet-active {width:17px;background-color:#666;}

.recom_swiper {padding:0 6px;box-sizing:border-box;}
.recom_swiper .prod_list {overflow:visible;}
.recom_swiper .prod_list a.prod_item .img_thumb {float:none;margin:0 0 10px;overflow:hidden;}
.recom_swiper .prod_list .img_thumb:after {content:"";display:block;padding-top:100%;}
.recom_swiper .prod_list a.prod_item .img_thumb img {position:absolute;top:0;left:0;width:100%;height:100%;}
.recom_swiper .prod_list li {padding:0 6px;}
.recom_swiper .prod_list a.prod_item {padding:0;}
.recom_swiper .prod_list .prod_price {margin-top:8px;}
.recom_swiper .prod_list .prod_price .real_price {color:#111;}

.recom_swiper .prod_list .show_img {display:block;border:1px solid #bbb;border-radius:8px;overflow:hidden;}
.recom_swiper .prod_list .show_img img {width:100%;}
.recom_swiper .prod_list .show_btn {position:absolute;bottom:10px;right:0;left:0;text-align:center;}
.recom_swiper .prod_list .show_btn .btn_broadcast:before {margin:0 4px 0 0;vertical-align:-4px;}

.plan_pd .prod_list a.prod_item {border:1px solid #eee;border-radius:9px;overflow:hidden;}
.plan_pd .prod_list a.prod_item .img_thumb img {border:none;border-radius:0;}
.plan_pd .prod_list .img_thumb {border-radius:0;border:0;border-bottom:1px solid #eee;}
.plan_pd .prod_list .info_thumb {padding:0 6px 12px;}
.plan_pd .prod_list .info_thumb .prod_tit {height:36px;}

/* 옵션별 상품평 보기 */
#reviewSortOption .layer_cont > .layer_sub_title:first-child {margin-top:0;}
#reviewSortOption .btn_radio_list label {padding-left:15%;text-align:left;}

/* 픽업 찾기 */
.pick_up_sel {padding:20px 0 0;}
.pick_up_sel .btn_area {margin:12px 0 0;}

.pick_up_store {display:none;}
.pick_up_store .btn_radio_list {border:0;margin:-6px;}
.pick_up_store .btn_radio_list li {width:33.33%;padding:6px;box-sizing:border-box;}
.pick_up_store .btn_radio_list li label {display:flex;display:-webkit-flex;height:50px;border:1px solid #ddd;border-radius:5px;line-height:1.2;align-items:center;-webkit-align-items:center;justify-content:center;-webkit-justify-content:center;}
.pick_up_store .btn_radio_list li input:checked + label {border-color:#ea493e;color:#ea493e;font-weight:bold;}
.pick_up_store .btn_radio_list li label:before {display:none;}

.sel_list {margin:10px 0 0;}
.sel_list li + li {margin:12px 0 0;}

/* 이미지 확대 보기 */
#pdGoodsImgFull,
#pdImgFull {/*display:block;*/position:fixed;left:0;right:0;display:none;z-index:-1;}
#pdGoodsImgFull.open,
#pdImgFull.open {position:static;display:block;}
#pdGoodsImgFull .layer_wrap,
#pdImgFull .layer_wrap {z-index:1004;}
.img_full {position:relative;margin:12px 0 6px;border:1px solid #eee;border-radius:9px;}
.img_full .swiper_slide {width:100%;overflow:hidden;border-radius:9px;}
.img_full img {width:100%;}
.img_full [class*="nav_"] {position:absolute;top:50%;width:30px;height:42.5px;margin-top:-21px;background:rgba(0,0,0,.2);z-index:2;font:0/0 a;}
.img_full [class*="nav_"]:before {content:"";display:block;width:12px;height:12px;margin:14px auto 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.img_full .nav_prev {left:-12px;border-radius:0 22px 22px 0;}
.img_full .nav_prev:before {border-left:1px solid #fff;border-bottom:1px solid #fff;}
.img_full .nav_next {right:-12px;border-radius:22px 0 0 22px;}
.img_full .nav_next:before {border-right:1px solid #fff;border-top:1px solid #fff;}
.img_full_thumb {overflow:auto;margin:0 -12px;-webkit-overflow-scrolling:touch;}
.img_full_thumb::-webkit-scrollbar {display:none;}
.img_full_thumb ul {display:table;table-layout:fixed;padding:0 6px;}
.img_full_thumb li {display:table-cell;padding:6px;}
.img_full_thumb span {display:block;width:93px;border:1px solid #eee;border-radius:9px;overflow:hidden;box-sizing:border-box;}
.img_full_thumb .active span {border:2px solid #ea493e;}
.img_full_thumb img {width:100%;}
.pd_name_area .name {position:relative;margin-left:12px;padding-left:10px;color:#666}
.pd_name_area .name:before {content:"";position:absolute;top:8px;left:0;width:3px;height:3px;background:#666;border-radius:50%;}
.pd_name_area .thumb + .name {margin-left:75px;padding:0;}
.pd_name_area .thumb + .name:before {display:none;}

/* 재입고 알림 신청 */
.restock_push .push_sel {}
.restock_push .push_sel .tit {display:inline-block;font-size:17px;vertical-align:0;}
.restock_push .push_sel .check_label {display:inline-block;margin:0 0 0 16px;vertical-align:0;}
.restock_push .gray_r_box {margin:12px 0 10px;}
.restock_push + .bul_list {margin:12px 6px 0;}
.restock_push + .bul_list li {margin:0;font-size:13px;color:#666;}

.restock_alert {margin:0 0 20px;text-align:center;}
.restock_alert + .tbl_type1 {margin:0 0 10px;}

/* 추가 혜택 확인 */
#moreBenefit .layer_wrap {z-index:1003;}
#moreBenefit .layer_sub_title {position:relative;margin:20px 0 10px;padding:15px 0 0 10px;border-top:1px dashed #ddd;font-size:16px;}
#moreBenefit .layer_sub_title:before {content:"";position:absolute;top:21px;left:0;border:3.5px solid transparent;border-left:5px solid #ea493e;}
#moreBenefit .layer_sub_title:first-child {border:0;padding-top:0;}
#moreBenefit .layer_sub_title:first-child:before {top:7px;}

.point_box:after {content:"";display:block;clear:both;}
.point_box > p {float:left;position:relative;padding:0 15px;box-sizing:border-box;text-align:left;}

.point_box > p:first-child,
.point_box > p:last-child {width:50%;}
.point_box > p:nth-of-type(3):nth-last-child(1),
.point_box > p:nth-of-type(2):nth-last-child(2),
.point_box > p:nth-of-type(1):nth-last-child(3) {width:33%;text-align:center;}
.point_box > p:nth-of-type(3):nth-last-child(1) .point,
.point_box > p:nth-of-type(2):nth-last-child(2) .point,
.point_box > p:nth-of-type(1):nth-last-child(3) .point {position:static;display:block;}
.point_box > p:first-child:last-child {width:100%;}
.point_box > p + p {border-left:1px solid #ddd;}
.point_box .point {position:absolute;top:0;right:15px;}

.coupon_list li {position:relative;overflow:hidden;}
.coupon_list li + li {margin-top:12px;}
.coupon_list li:before,
.coupon_list li:after {content:"";position:absolute;right:92px;width:16px;height:16px;background:#fff;border:1px solid #ea493e;border-radius:50%;z-index:2;}
.coupon_list li:before {top:-8px;}
.coupon_list li:after {bottom:-8px;}
.coupon_list .coupon {display:block;position:relative;overflow:hidden;padding:16px 0 11px 25px;border:1px solid #ea493e;border-radius:10px;}
.isAND .coupon_list .coupon {padding:17px 0 10px 25px;}
.coupon_list .price {display:block;margin:0 0 8px;color:#ea493e;font-size:17px;}
.coupon_list .price b {font-size:36px;}
.coupon_list .name,
.coupon_list .period {display:block;font-size:13px;line-height:1.4;}
.coupon_list .btn {position:absolute;top:0;right:0;bottom:0;width:100px;border-radius:0 8px 8px 0;border-left:1px dashed #fff;background:#ea493e;}
.coupon_list .btn:before {content:"";display:inline-block;width:26px;height:31px;background-position:-200px 0;}
.coupon_list .btn span {position:absolute;z-index:-1;}
.coupon_list li.disabled {}
.coupon_list li.disabled .coupon {border-color:#ddd;color:#999;}
.coupon_list li.disabled .coupon:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:2;}
.coupon_list li.disabled .price {color:#999;}
.coupon_list li.disabled:before,
.coupon_list li.disabled:after {border-color:#ddd;}
.coupon_list li.disabled .btn {background:#ddd;}
.coupon_list li.disabled .btn:before {display:none;}
.coupon_list li.disabled .btn span {position:static;color:#fff;font-size:20px;font-weight:bold;}

.list_benefit {margin:20px 0 0;text-align:center;}
.list_benefit img {max-width:100%;}
.list_benefit li + li {margin-top:12px;}

.list_benefit.type2:after {content:"";display:block;clear:both;}
.list_benefit.type2 {margin:-6px;}
.list_benefit.type2 li {float:left;width:50%;padding:6px;box-sizing:border-box;}
.list_benefit.type2 li + li {margin:0;}
.list_benefit.type2 li a {position:relative;display:block;overflow:hidden;padding-bottom:131.6%;border:1px solid #ddd;border-radius:5px;}
.list_benefit.type2 li a img {position:absolute;top:0;left:0;display:block;width:100%;border-radius:5px}
.list_benefit.type2 li a .title {position:absolute;top:62%;width:100%;text-align:center;padding:0 12px;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;-webkit-line-clamp:3;height:60px;box-sizing:border-box;font-weight:bold;}

/* .list_none .stxt {margin:8px 0 0;} */
.list_none .btn_mtype1 {margin:20px 0 0;}

/* 기획전 */
.product_detail .prod_thum_list {margin:20px 12px 30px;border:1px solid #eee;}
.product_detail .prod_thum_list .prod_list.thum {margin:0;overflow:hidden;}
.product_detail .prod_list.thum > li:nth-child(-n+2),
.product_detail .prod_thum_list li {margin:-1px 0 0 -1px;padding:7px 7px 10px;background:#fff;border-left:1px solid #eee;border-top:1px solid #eee;}
.product_detail .prod_thum_list.type_base .prod_list.thum > li:nth-child(-n+2),
.product_detail .prod_thum_list.type_base li {margin:0;padding:0;border:1px solid #eee;}
.product_detail .prod_thum_list.type_base li + li,
.product_detail .prod_thum_list.type_base .prod_list.thum > li + li:nth-child(-n+2) {margin-top:12px;}
.product_detail .prod_thum_list li:nth-of-type(2n) {padding:7px 7px 10px;}
.product_detail .prod_thum_list li .num {position:absolute;top:7px;left:7px;width:25px;line-height:25px;background:rgba(44,44,44,.9);color:#fff;font-size:13px;text-align:center;font-weight:bold;z-index:2;}
.product_detail .prod_thum_list li .info_etc {/* padding:3px 0 0 6px; */padding:5px 0 0 6px;}
.product_detail .prod_thum_list li .info_etc [class*="ico_delivery"] {position: relative;display: inline-block;position: absolute;font-size: 0;bottom: 35px;right: 6px;}
.product_detail .prod_thum_list.type_base li .info_etc [class*="ico_delivery"] {bottom: 2px;position: relative;display: inline-block; margin-left: 6px;padding-left: 6px;font-size: 12px;}

.product_detail .prod_thum_list li .info_etc [class*="ico_delivery"]:after {display:none;}
.product_detail .prod_thum_list [class*="ico_delivery"]:before {margin-left: 2px;width: 15px;height: 14px;background-position: 0 -90px;vertical-align: -3px;}
.product_detail .prod_thum_list.type_base li .info_etc [class*="ico_delivery"]:after {display:block;}
.product_detail .prod_thum_list .prd_soldout {width:auto;height:auto;top:12px;right:12px;bottom:12px;left:12px;}
/* .product_detail .prod_thum_list .link_prod {position:absolute;bottom:0;right:0;width:100%;height:100%;padding:160px 0 24px;font-size:0;line-height:1px;text-indent:-9999px;color:transparent;} */
 .product_detail .prod_thum_list .link_prod {position:absolute;bottom:0;right:0;width:100%;height:100%;padding:94% 0 24px;font-size:0;line-height:1px;text-indent:-9999px;color:transparent;}
 .product_detail .prod_thum_list.type_base .link_prod {top:0;bottom:auto;}

.tab_wrap .pd_detail_content.on .prod_thum_list .prod_tit {padding-top:9px;}

.product_detail .prod_thum_list .btns {display:flex;display:-webkit-flex;/* margin:12px 0 0; */margin:2px 0 0;overflow:hidden;background:#f6f6f6;border:1px solid #eee;border-radius:4px;}
.product_detail .prod_thum_list .btns span {-webkit-box-flex:1;box-flex:1;-webkit-flex:1;flex:1;}
.product_detail .prod_thum_list .btns span:nth-of-type(2) {border-left:1px solid #eee;}
.product_detail .prod_thum_list .btns [class*="btn_"] {display:block;width:100%;height:34px;box-sizing:border-box;margin-right:-4px;padding:4px 0 5px;text-align:center;line-height:1;font-size:12px;vertical-align:middle;}
.product_detail .prod_thum_list .btns [class*="btn_"]:before {content:"";display:inline-block;width:25px;height:25px;margin-left:-5px;vertical-align:-8px;}
.product_detail .prod_thum_list .btns .btn_pd_detail:before {background-position:-25px -50px;}
.product_detail .prod_thum_list .btns .btn_option:before {background-position:-50px -50px;}
.product_detail .prod_thum_list .btns .btn_restock:before {background-position:-75px -50px;}
.product_detail .prod_thum_list .btns .btn_restock.on:before {background-position:-100px -50px;}

.product_detail .type_base {border:0;}
.product_detail .type_base li {float:none;width:100%;margin:0;padding:0;background:#fff;border:1px solid #eee;border-radius:9px;overflow:hidden;}
.product_detail .type_base li + li {margin-top:12px;}
.product_detail .type_base li:nth-of-type(2n) {padding:0;}
.product_detail .type_base li .num {top:9px;left:9px;}
.product_detail .type_base li .img_thumb {position:absolute;top:9px;left:9px;width:130px;height:130px;}
.product_detail .type_base li .info_thumb {min-height:115px;margin-left:144px;}
.product_detail .type_base li .info_etc {text-align:left;border:0;margin-left:150px;padding:0;}
.product_detail .type_base li .info_etc [class*="ico_delivery"] {float:none;margin:0;}
.product_detail .type_base li .info_etc span + span {position:relative;padding-left:5px;}
.product_detail .type_base li .info_etc span + span:after {content:"";position:absolute;top:5px;left:0;width:1px;height:11px;background:#ddd;}
.product_detail .type_base li .info_etc .review {position:inherit;right:inherit;bottom:inherit;z-index:inherit;}

.product_detail .type_base li .info_thumb .btn_zzim {right:5px;bottom:-25px;}
.product_detail .type_base .btns {margin-top:8px;border:0;border-top:1px solid #eee;border-top-left-radius:0;border-top-right-radius:0;}
.product_detail .type_base .prod_list li .prod_price {bottom:14px;}
.product_detail .type_base .link_prod {padding:0 0 24px 150px;}

.pd_detail_content .pd_sel {margin:12px 12px 0;border-color:#bbb;}
.pd_detail_content .pd_sel.on {border-color:#444;}
.pd_detail_content .pd_sel_list {max-height:330px;overflow:auto;-webkit-overflow-scrolling:touch;}
.pd_detail_content .pd_sel_list .thumb {width:60px;height:60px;}
.pd_detail_content .pd_sel .pd_sel_list .thumb + .pd_area {padding-left:80px;min-height:60px;}

#pdPlanDetail .layer_title {line-height:1.2;font-size:14px;}
/* #pdPlanDetail .layer_cont {padding-bottom:80px;} */
#pdPlanDetail .layer_cont {padding:0;}
#pdPlanDetail .pd_price {padding-bottom:35px;}
#pdPlanDetail .pd_price .btn_plus {position:absolute;bottom:0;right:0;left:0;text-align:center;}
#pdPlanDetail .pd_info_table th {padding-right:0;}
#pdPlanDetail .pd_info_table td {padding-left:0;}
#pdPlanDetail .tbl_type1 {font-size:14px;}
#pdPlanDetail .zoom_area {width:100%;}
#pdPlanDetail .zoom_area img {-webkit-user-drag:none;}
#pdPlanDetail .zoom_cont {width:100%;padding:0 12px 80px;box-sizing:border-box;}

.layer_title .pd_sel {display:inline-block;margin:5px 0 0;text-align:left;}
.layer_title .pd_sel.on:before {content:"";position:fixed;top:51px;right:0;bottom:0;left:0;background:rgba(0,0,0,.7);z-index:2;}
.layer_title .pd_sel_btn button {width:auto;font-size:17px;font-weight:bold;color:#111;}
.layer_title .pd_sel_list {position:fixed;top:51px;right:0;left:0;max-height:365px;overflow:auto;-webkit-overflow-scrolling:touch;background:#fff;border-bottom:1px solid #ddd;z-index:3;border-top:0;z-index:1004;}

.plan_pd_top {position:relative; text-align:center;}
.plan_pd_top .pd_title {padding:20px 0 0;}
.plan_pd_top .pd_title .pd_name {display:block;height:auto;padding:0;}

.plan_pd_top .plan_pd_info {margin:12px 0 0;}
.plan_pd_top .plan_pd_info span {display:inline-block;font-size:12px;vertical-align:middle;}
.plan_pd_top .plan_pd_info span + span {position:relative;padding-left:6px;}
.plan_pd_top .plan_pd_info span + span:after {content:"";position:absolute;top:5px;left:0;width:1px;height:11px;background:#ddd;}

.plan_pd_top .plan_pd_price {display:flex;display:-webkit-flex;justify-content:center;-webkit-justify-content:center;}

.plan_pd_top .pd_price {margin:20px 0 0;text-align:left;}
.plan_pd_top .box_benefit {margin:20px 0 0;padding:12px;background:none;border-top:1px solid #eee;border-bottom:1px solid #eee;border-radius:0;text-align:left;}
.plan_pd_top .box_benefit p {padding:0 0 0 75px;}
.plan_pd_top .box_benefit p .cont {display:inline;}

.plan_pd_top .plan_pd_etc {position:relative;padding:15px 0 0;text-align:left;}
.plan_pd_top .plan_pd_etc .btn_review {font-size:13px;color:#666;}
.plan_pd_top .plan_pd_etc .btn_review .point_count {vertical-align:2px;}

.plan_pd_top .plan_pd_nav [class*="nav_"] {position:absolute;top:50%;width:30px;height:42.5px;margin-top:-21px;background:rgba(0,0,0,.2);z-index:2;font:0/0 a;}
.plan_pd_top .plan_pd_nav [class*="nav_"]:before {content:"";display:block;width:12px;height:12px;margin:3px auto 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.plan_pd_top .plan_pd_nav .nav_prev {left:-12px;border-radius:0 22px 22px 0;}
.plan_pd_top .plan_pd_nav .nav_prev:before {border-left:1px solid #fff;border-bottom:1px solid #fff;}
.plan_pd_top .plan_pd_nav .nav_next {right:-12px;border-radius:22px 0 0 22px;}
.plan_pd_top .plan_pd_nav .nav_next:before {border-right:1px solid #fff;border-top:1px solid #fff;}

.plan_pd_review .floating {bottom:12px;}

.layer_cont .pd_detail_content .img_pd_detail img {max-width:100%;height:auto;}
.layer_cont .pd_detail_content .btn_area {margin:12px 0 0;}
.layer_cont .pd_detail_content .pd_detail_tit:first-child {margin-top:20px;}

#pdReturnInfo .layer_sub_title {font-size:16px;}
#pdReturnInfo .bul_list li:before {background:#666;}
#pdReturnInfo .help_txt {color:#666;}

#pickUpStore .layer_wrap {z-index:1003;}

/* 구매 상세 공통 */
.help_txt {margin:10px 0 0;font-size:13px;line-height:1.2;}

.str_txt {margin:20px 0 0;font-weight:bold;color:#111;}
.str_txt .btn_stype1 {margin:5px 0 0;padding:0;background:none;border:0;font-weight:bold;}
.str_txt .btn_stype1:after {content:"";display:inline-block;margin-left:2px;width:7px;height:7px;border-top:1px solid #111;border-right:1px solid #111;transform:scale(1,.8) rotate(45deg);-webkit-transform:scale(1,.8) rotate(45deg);vertical-align:1px;}

.dashed_section {margin:12px 0 0;border-top:1px dashed #eee;}

.layer_full .line_section:before {margin:15px -12px 0;}

.num_list .ico_delivery_pick {vertical-align:0;}

#pdImgFull .swiper {}
.product_detail .layer_full .layer_wrap {top:0;z-index:1003;}
.product_detail #pdPlanDetail.layer_full .layer_wrap {z-index:1001;}
.product_detail #pdPlanDetail.list_on .layer_wrap:before {content:"";position:fixed;top:50px;right:0;left:0;bottom:0;background:rgba(0,0,0,0.3);z-index:1002;}
.product_detail .layer_full .layer_wrap .layer_title {height:50px;padding:0;text-align:center;}
.product_detail .layer_full .layer_wrap .close {left:auto;right:22px;width:16px;height:16px;background-position:0 0;}
.product_detail .layer_full .img_full,
#pdImgFull .swiper {border:0;}
.product_detail .layer_full .img_full .swiper .swiper-zoom-container {height:100%;text-align:center;font-size:0;}
.product_detail .layer_full .img_full .swiper .swiper-zoom-container:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.product_detail .layer_full .img_full .swiper img {width:auto;max-width:100%;max-height:100%;vertical-align:middle;border:1px solid #eee;border-radius:9px;box-sizing:border-box;}
.product_detail .layer_full .layer_cont {top:51px;}


@media screen and (min-width:340px) {
	.product_detail .layer_full .img_full .swiper,
	.product_detail .layer_full .img_full .swiper .swiper_wrap {height:100%;}
	.product_detail .layer_full .img_full {position:absolute;top:0;right:12px;left:12px;bottom:171px;}
	.product_detail .layer_full .img_full_thumb {position:fixed;bottom:70px;left:12px;right:12px;}
	.product_detail .layer_full .img_full ~ .btn_area {position:fixed;left:12px;right:12px;bottom:12px;}
}
@media screen and (max-width:360px) {
	/* 가격 */
	.pd_price .percent .num {font-size:34px;}
	.pd_price .sale .num {font-size:20px;}
	.btn_share_product button + button {margin:0 0 0 15px;}
	.product_detail .prod_thum_list:not(.type_base) .btns .btn_option:before, .pd_qna_top .btns .btn_qna1:before {display:none;}
	.pd_detail_content .mark_info {table-layout:auto;}
	/* 상품혜택정보 */
	.pd_benefit_info li .list_inner,
	.pd_benefit_info li a.list_inner {padding:13px 42px 13px 75px;}
	.pd_benefit_info .list_inner .tit:last-child {position:static;margin-left:-65px;}
}