@charset "utf-8";

/* 상세이미지 */
.goods_list{margin:0 10px;padding-top:10px;}/*@@@ 2015-04-20 ak상품주문시 추가*/
.goods_list p{font-size:15px;color:#565656;padding-bottom:10px;}/*@@@ 2015-04-20 ak상품주문시 추가*/
.goods_img .img_all{text-align: center;padding: 15px 10px 0;}
.goods_img .img_all span{font-size: 11px;color:#898989 }
.goods_img .img_all a{display: block;}
.goods_img .img_all a em{display: inline-block;width:13px;height: 12px;vertical-align: middle ;margin-right: 5px;background-position: -182px -55px;background-image: url(http://image.hnsmall.com/images/mobile2014/goods/ico_goods1.png);background-repeat: no-repeat;background-size:200px 100px;overflow: hidden;text-indent: -1000px;}

.goods_img .img_wrap{}
.goods_img .ovh{height: 500px; overflow: hidden;}
.goods_img .img_wrap img{width:100%;}
.goods_img .img_wrap h2{padding: 5px 10px;color: #dd1032;}
.goods_img .img_wrap p{padding: 5px 10px;}
.goods_img .more{text-align: center;padding: 15px 10px;}
.goods_img .more a{display: block;}
.goods_img .more a em{display: inline-block;width:7px;height: 4px;vertical-align: middle ;margin-left: 5px;background-position: -182px -70px;background-image: url(http://image.hnsmall.com/images/mobile2014/goods/ico_goods1.png);background-repeat: no-repeat;background-size:200px 100px;overflow: hidden;text-indent: -1000px;}

.goods_img  h3.title{border-top: 1px solid #d5d5d5; background: #f6f6f6;padding: 10px;position: relative;margin-top: 20px;border-bottom: 1px solid #d5d5d5;}
.goods_img .goos_info{padding: 10px;}
.goods_img .goos_info table{ width: 100%}
.goods_img .goos_info th{width: 85px;vertical-align: top;text-align: left;font-size: 14px;padding:5px;border-bottom: 1px solid #eee;font-weight: normal;color: #868686;}
.goods_img .goos_info td{padding-right: 10px;vertical-align: top;text-align: left;font-size: 14px;padding:5px;color: #666;border-bottom: 1px solid #eee;}
.goods_img .goos_info td span{color: #12a5cb;}
.goods_img .goos_info tr:last-child td,.goods_img .goos_info tr:last-child th{border-bottom: none;}

.img_detail_wrap{position: relative;}
.img_detail_wrap .img_detail img{width: 100%;}
.img_detail_wrap .img_detail h2{padding: 5px 10px;color: #dd1032;}
.img_detail_wrap .img_detail p{padding: 5px 10px;}

.img_detail_wrap  h3.title{border-top: 1px solid #d5d5d5; background: #f6f6f6;padding: 10px;position: relative;margin-top: 20px;border-bottom: 1px solid #d5d5d5;}
.img_detail_wrap .goos_info{padding: 10px; box-sizing: border-box;}
.img_detail_wrap .goos_info table{ width: 100%}
.img_detail_wrap .goos_info th{width: 85px;vertical-align: top;text-align: left;font-size: 14px;padding:5px;border-bottom: 1px solid #eee;font-weight: normal;color: #868686;}
.img_detail_wrap .goos_info td{padding-right: 10px;vertical-align: top;text-align: left;font-size: 14px;padding:5px;color: #666;border-bottom: 1px solid #eee;}
.img_detail_wrap .goos_info td span{color: #12a5cb;}
.img_detail_wrap .goos_info tr:last-child td,.img_detail_wrap .goos_info tr:last-child th{border-bottom: none;}

.img_detail_wrap .arrow{}
.img_detail_wrap .arrow .prev a{z-index:100;display: block;position:fixed;top:50%;left: 0;width: 33px;height: 53px;margin-top: -45px;background-image: url(http://thum.buzzni.com/unsafe/http://image.hnsmall.com/images/mobile2014/common/ico_side2.png);background-repeat: no-repeat;background-size:200px 100px;background-position:0 -25px;overflow: hidden;text-indent: -1000px}
.img_detail_wrap .arrow .next a{z-index:100;display: block;position:fixed;top:50%;right: 0;width: 33px;height: 53px;margin-top: -45px;background-image: url(http://thum.buzzni.com/unsafe/http://image.hnsmall.com/images/mobile2014/common/ico_side2.png);background-repeat: no-repeat;background-size:200px 100px;background-position:-35px -25px;overflow: hidden;text-indent: -1000px}
.img_detail_wrap .bx-controls{display: none;}

div.goods_info_size{padding:0 8px;}
div.goods_info_size h2{padding-left:0 !important;}
div.goods_info_size .goodsinforBox{border:1px solid #dddddd; background:#f5f5f5;padding:15px 7px}
div.goods_info_size .goodsinforBox h2{padding-left: 0 !important;}
div.goods_info_size .goodsinforBox h3{color:#474b56;font-weight:bold;font-size:13px;padding-bottom:10px}/*@@@ 2015-05-29 수정*/
div.goods_info_size .goodsinforBox h3 img{width:191px;padding-bottom:10px}
div.goods_info_size .goodsinforBox ul.step3{display:inline-block;border:1px solid #c5c5c5;border-radius:3px;-webkit-border-radius:3px;background:#ffffff;margin-bottom:10px;width:100%}/*@@@ 2015-05-29 수정*/
div.goods_info_size .goodsinforBox ul.step3 li{float:left;font-size:13px;width:94px;text-align:center;color:#666;padding:0;border-right:1px solid #c5c5c5;width:33%;line-height:28px}/*@@@ 2015-05-29 수정*/
div.goods_info_size .goodsinforBox ul.step3 li:last-child{border-right:none;}
div.goods_info_size .goodsinforBox ul.step3 li.chek{display:inline-block;color:#fff;background:#dd1032;}
div.goods_info_size .goodsinforBox ul.step3 li:nth-child(1).chek{border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;}/*@@@ 2015-05-29 추가*/
div.goods_info_size .goodsinforBox ul.step3 li:nth-child(3).chek{border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;}/*@@@ 2015-05-29 추가*/

div.goods_info_size .goodsinforBox ul.step4{display:inline-block;border:1px solid #c5c5c5;background:#ffffff;margin-bottom:10px;width:100%}
div.goods_info_size .goodsinforBox ul.step4 li{float:left;font-size:11px;width:70px;text-align:center;color:#666;padding:0;border-right:1px solid #c5c5c5;width:33%;line-height:20px}
div.goods_info_size .goodsinforBox ul.step4 li:last-child{border-right:none;}
div.goods_info_size .goodsinforBox ul.step4 li.chek{display:inline-block;color:#fff;background:#dd1032;}

div.goods_info_size .goodsinforBox p.total{font-size:12px;font-weight: normal;line-height:15px;padding-left: 0 !important;}

.goods_satisfaction.goods_satisfaction_v2 {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}.goods_satisfaction {
    width: 100%;
}.goods_satisfaction.goods_satisfaction_v2 .total {
    padding: 10px 0;
}.goods_satisfaction .total {
    margin: auto;
    width: 161px;
    height: 53px;
    position: relative;
}.goods_satisfaction.goods_satisfaction_v2 .total em.verywell {
    background-position: 0 0;
}.goods_satisfaction.goods_satisfaction_v2 .total em {
    width: 51px;
    background: url(http://image.hnsmall.com/images/mobile2014/goods/ico_satisfaction_v2.png) no-repeat;
    background-size: 231px 127px;
}.goods_satisfaction .total em.verywell {
    background-position: 0 0;
}.goods_satisfaction .total em {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    overflow: hidden;
    background: url(http://image.hnsmall.com/images/mobile2014/goods/ico_satisfaction.png) no-repeat;
    background-size: 230px 105px;
    text-indent: -1000px;
    vertical-align: bottom;
}.goods_satisfaction .total em:after {
    content: "";
    display: block;
    clear: both;
}.goods_satisfaction.goods_satisfaction_v2 .total em .blind {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-indent: -9999em;
}.goods_satisfaction .total em {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    overflow: hidden;
    background: url(http://image.hnsmall.com/images/mobile2014/goods/ico_satisfaction.png) no-repeat;
    background-size: 230px 105px;
    text-indent: -1000px;
    vertical-align: bottom;
}.goods_satisfaction .total em:after {
    content: "";
    display: block;
    clear: both;
}.goods_satisfaction.goods_satisfaction_v2 .total .com_point div.score .scoreNum {
    margin-top: -8px;
}.goods_satisfaction .total .com_point div.score .scoreNum {
    display: inline-block;
    font-size: 40px;
    color: #000;
    margin-top: -6px;
}.goods_satisfaction .total .com_point div.score * {
    vertical-align: top;
}.goods_satisfaction .total .com_point div.score strong {
    display: inline-block;
    width: 30px;
    height: 24px;
    background-position: 0 0;
    margin-top: -8px;
    background-image: url(http://image.hnsmall.com/images/mobile2014/goods/comment_point03.png);
    background-size: 25px 24px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -1000px;
}.goods_satisfaction .total .com_point div.score * {
    vertical-align: middle;
}.goods_satisfaction .total .scorebase {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 200px;
    padding-top: 3px;
    font-size: 13px;
    color: #939393;
}.goods_satisfaction.goods_satisfaction_v2 .total .scorebase {
    bottom: 12px; line-height: 12px;
}.gd_satisfact_copy{display: none;}
 .bestComtWrap {
    background: #e9e8e8;
}.bestComtWrap .customEvaluatTab {
   display: none;
}.bestComtWrap .bestComtSearchWrap {
    display: none;
}.bestComtWrap .btnWrapR {
    display: none;
}.bestComtWrap .totalcom_list .btnMore {
    display: none;
}
 .bestComtWrap .comment_list2 li .writerInfo .normal {
    width: 35px;
    background-position: -105px -69px;
}.bestComtWrap .comment_list2 li .writerInfo .dissatisfaction {
    width: 43px;
    background-position: -149px -69px;
}

.comment_info2 {
    font-size: 14px;
    color: #666;
    padding: 20px 10px 20px 28px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.bestComtWrap .comment_list2 {
    padding: 0;
    background: #e9e8e8;
}.bestComtWrap .comment_list2 li:first-child {
    border-top: 0;
}.bestComtWrap .comment_list2 li {
    background: #fff;
    position: relative;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0;
}.bestComtWrap .comment_list2 li .comment_cons2 {
    min-height: 93px;
    padding: 13px 10px;
}.bestComtWrap .comment_list2 li .writerInfo {
    min-height: 24px;
    margin: 0 0 10px;
}.comment_list2 li .comment_cons2 p {
    color: #898989;
    overflow: hidden;
    font-size: 13px;
    padding-top: 2px;
}.bestComtWrap .comment_list2 li .writerInfo .verywell {
    width: 52px;
    background-position: 0 -69px;
}.bestComtWrap .comment_list2 li .writerInfo em, .bestComtWrap .comment_list2 li .writerInfo span {
    display: inline-block;
    line-height: 21px;
    font-size: 12px;
    color: #898989;
    vertical-align: middle;
}.bestComtWrap .comment_list2 li .writerInfo em span {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999em;
}.comment_list2 li .comment_cons2 p span:last-child {
    position: absolute;
    right: 16px;
    top: 19px;
}.comment_list2 li .comment_cons2 p span:first-child {
    padding-left: 10px;
}.bestComtWrap .comment_list2 li .writerInfo em, .bestComtWrap .comment_list2 li .writerInfo span {
    display: inline-block;
    line-height: 21px;
    font-size: 12px;
    color: #898989;
    vertical-align: middle;
}.bestComtWrap .comment_list2 li .writerInfo .date {
    position: static;
    margin: 0 0 0 2px;
    padding: 0 0 0 6px;
    background: url(http://image.hnsmall.com/images/mobile2014/goods/bg_best_comt_bar.gif) no-repeat;
    background-size: 1px 11px;
    background-position: left center;
}.comment_list2 li .comment_cons2 p span:last-child {
    position: absolute;
    right: 16px;
    top: 19px;
}.bestComtWrap .comment_list2 li .cons_stain_op {
    margin: 0 0 10px;
    padding: 0 80px 0 0;
    font-size: 12px;
    color: #898989;
}.bestComtWrap .comment_list2 li .cons {
    overflow: hidden;
    min-height: 60px;
    max-height: 60px;
    padding: 0 80px 0 0;
    line-height: 20px;
    letter-spacing: -1px;
    font-size:13px;
}.bestComtWrap .comment_list2 li .img_wrap {
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: 13px;
    width: 65px;
    height: 65px;
}.comment_list2 li .comment_cons2 .img_wrap {
    padding: 10px 0 0;
}.bestComtWrap .comment_list2 li .img_wrap a {
    display: block;
    width: 65px;
    height: 65px;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}.bestComtWrap .comment_list2 li .img_wrap a img {
    width: 65px;
    height: 65px;
}.bestComtWrap .comment_list2 li .writerInfo em {
    height: 22px;
    background: url(http://image.hnsmall.com/images/mobile2014/goods/ico_satisfaction_v2.png) no-repeat;
    background-size: 231px 127px;
}.bestComtWrap .comment_list2 li .writerInfo .well {
    width: 35px;
    background-position: -61px -69px;
}.comment_list2 li .comment_cons2 p em.well {
    background-position: -45px -70px;
}.bestComtNotifyAlert{ display: none;}

 .goods_graph {
    padding-top: 20px;
    margin: 20px 10px 20px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.goods_graph p {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.goods_graph p span {
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -36px;
    font-size: 11px;
    font-weight: normal;
    color: #939393;
}
.goods_graph ul {
    height: 100px;
    margin: 30px 10px 40px;
    padding: 20px 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    list-style: none;
}
.goods_graph ul:after {
    display: block;
    clear: both;
    content: ""}
.goods_graph li {
    display: inline;
    float: left;
    position: relative;
    width: 21%;
    height: 100%;
    margin: 0 6%;
    background: #eee;
    text-align: center;
    white-space: nowrap;
}
.goods_graph em {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e51937;
}
.goods_graph em.chek10 {
    height: 10%}
.goods_graph em.chek20 {
    height: 20%}
.goods_graph em.chek30 {
    height: 30%}
.goods_graph em.chek40 {
    height: 40%}
.goods_graph em.chek50 {
    height: 50%}
.goods_graph em.chek60 {
    height: 60%}
.goods_graph em.chek70 {
    height: 70%}
.goods_graph em.chek80 {
    height: 80%}
.goods_graph em.chek90 {
    height: 90%}
.goods_graph em.chek100 {
    height: 100%}
.goods_graph .g_txt {
    display: inline-block;
    position: absolute;
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
    font-weight: bold;
    color: #767676;
}
.goods_graph .g_num {
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    color: #767676;
    font-weight: bold;
}
.goods_graph .g_numR {
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    color: #e51937;
    font-weight: bold;
}
.graph_tip, .graph_tip2 {
    padding: 15px 0 18px;
    font-size: 13px;
    font-weight: bold;
    background: #f7f7f7;
}
.graph_tip div {
    position: relative;
    width: 73%;
    margin: 0 auto;
    text-align: justify;
}
.graph_tip div em, .graph_tip2 div em {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(http://image.hnsmall.com/images/mobile2014/common/ico_side3.png) 0 -100px no-repeat;
    background-size: 300px 200px;
    text-indent: -1000px;
    vertical-align: middle;
}
.graph_tip div span {
    position: absolute;
    top: 1px;
    left: 34px;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
.graph_tip div.tip_line {
    width: 80%;
    padding-bottom: 15px;
}
.graph_tip2 {
    padding: 15px 0;
}
.graph_tip2 div {
    text-align: center;
}
.graph_tip2 div span {
    margin-left: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.goods_img .img_wrap p{    padding: 5px 10px;}
.one_minute .one_minute_logo {
    height: 0px;
}
.one_minute .one_minute_logo img {
    height: 28px!important;
    width: auto!important;
    display: none;
}
.one_minute .viewBox {
    overflow: hidden;
    position: relative;
}
.one_minute .viewBox:before {
    display: block;
    content: "";
    position: relative;
    padding: 56% 0 0;
}
.one_minute .viewBox .viewInnerBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
.bestComtWrap .comment_list2.addDate li .date {
    position: static;
    margin: 0;
    padding: 0;
    color: #888;
    font-size: 12px;
}
.comment_list2.addDate li .comment_cons2 p span:last-child {
    position: static;
}