
.tab {font-size: 15px;padding:13px 0 11px 0;min-height:15px; line-height:14px; background: #f7f7f7;  border-bottom: 1px solid #eee;}
.tab.on {background: #fff; color: #ea1b27; font-weight: bold; border-bottom: 1px solid #fff;}

.titletag { font-size: 11px; opacity:0.8;color: #fff; background: #2eb8b6; line-height: 9px; padding: 5px 6px 4px 6px;  font-weight: normal;  display: inline-block; position: relative; top:-3px; margin:6px 0 -4px 0; border-radius: 1px;}
.owl-carousel .owl-item {}
.owl-carousel .owl-item img {width:auto;}
.owl-theme .owl-controls{ margin-top:-20px; position: absolute; left:50%; width:240px; margin-left:-120px; z-index:99;}
.owl-theme .owl-dots .owl-dot span{background:#000; opacity: 0.4; width:8px;height:8px;margin:0px; border-radius: 8px;margin:2px 4px;  border:1px solid #fff;}
.owl-theme .owl-dots .owl-dot.active span{background:#fff; opacity: 1; border:1px solid rgba(0,0,0,0.4);}
.po{color:#000;font-size:13px;background: #feffc6; padding:1px 1px 0 1px; }
.ne{color:#000;font-size:13px; background: #feffc6; }

.event_sale_bt {display:block; text-align:center; font-size:16px; letter-spacing:-1px; margin:0px auto 9px auto; width:100%; box-sizing: border-box; color:#fff; background:#e8549d; height:38px; box-sizing:border-box; padding:10px; border-radius: 0px;}

.sharing {width:93px; height:36px;  border:1px solid #c2c2c2;  border-radius: 18px;background: url('http://cache.m.ui.hsmoa.com/media/img/icon_share.svg') no-repeat 86% 50%; background-size:18px 18px; text-align: left; padding:12px 0px 10px 11px; line-height: 12px; color:#666; }
.like {width:78px; height:34px;   border:1px solid #c2c2c2;  border-radius: 18px;background: url('http://cache.m.ui.hsmoa.com/media/img/like_off.png') no-repeat 83% 48%;
    background-size:19px 19px; text-align: left; padding:11px 0px 9px 11px; line-height: 12px; color:#666; }
.like.on {background-image: url('http://cache.m.ui.hsmoa.com/media/img/like_on.png') !important;  border:1px solid #ff8899;  color: #dd1133;  }

.goos_info table { border: 1px solid #ddd !important;}
.goos_info th {min-width: 80px !important;}
.goos_info th, .goos_info th {border-bottom: 1px solid #eee !important; text-align:left !important; padding:5px !important; }

input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle + label {display: block;position: relative;background: #ccc url('http://cache.m.ui.hsmoa.com/media/img/ico_alarm_white.png') no-repeat 80% 50%; background-size:15px 15px; line-height: 20px;height: 30px;width: 60px;border-radius: 15px;background-repeat: no-repeat;}
input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: #ccc ;-moz-transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;}
input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle:checked + label:before {width: 60px; background: #ea1b27 url('http://cache.m.ui.hsmoa.com/media/img/ico_alarm_white.png') no-repeat 20% 50%;background-size:15px 15px; background-repeat: no-repeat;}
input.toggle:checked + label:after { left: 30px;border: 1px solid #ea1b27;}

/* 상품상세 최적화 */

#block_info_detail {max-width:720px;margin:0 auto; overflow: hidden;display: block; text-align: left !important;}

#block_info_detail, #block_info_detail *{ font-size:14px !important; }
#block_info_detail li {list-style-type: none !important;}
#block_info_detail p {-webkit-margin-before: 0em; -webkit-margin-after: 0em;}
#block_info_detail img {width:auto; max-width:100% !important;height:auto !important;line-height: 0px !important;  }
#block_info_detail .dl2{margin:0 15px; padding:10px 0;}
#block_info_detail .dl2 dt{margin-bottom:6px; margin-top:17px; font-size:13px; color:#2a282b; font-weight:bold;}
#block_info_detail .dl2 dt:first-child{margin-top:0;}
#block_info_detail .dl2 dd{font-size:13px; color:#777; line-height:18px;}
#block_info_detail dd{ -webkit-margin-start: 0;}
#block_info_detail.cjmall div {width:100% !important;}
#block_info_detail.hmall .item_detailZoom{display:none;}
#block_info_detail.hmall p > span{display:inline-block; padding: 0 10px;}
#block_info_detail.hmallplus .item_detailZoom{display:none;}
#block_info_detail.hmallplus p > span{display:inline-block; padding: 0 10px;}
#block_info_detail.cjmall {padding:10px !important; line-height:19px; }
#block_info_detail.cjmallplus {padding:10px !important; line-height:19px; }
#block_info_detail.nsmall {padding:10px !important; line-height:19px; }

.bt-basic {border-radius: 20px; font-size:13px; padding: 11px 20px 9px 20px; line-height:14px; height:auto; background: #f7f7f7; cursor: pointer;}

#bt_up {bottom: 55px !important;}
.list-similar { float:left; width:33%;}


/*알림광고용 개인정보취급방침*/
.box-lottery .checkbox {
    -webkit-appearance:none; float:right; margin:-2px 5px 0 0; background: #fff; -webkit-background-size: 18px 18px;
    border: 1px solid #ddd; box-sizing: border-box; border-radius: 5px; display: inline-block; height: 18px;
    width: 18px; position: relative; -webkit-appearance: none;
}
.box-lottery .checkbox:checked {
    -webkit-appearance:none;
    background:#fff url('http://cache.m.ui.hsmoa.com/media/img/checkbox_on.png') no-repeat 50% 50%;
    -webkit-background-size: 20px 20px;
}
.box-lottery .btn-policy-detail {background: none; border:0; height:auto; padding:0px;line-height: 15px;}
.box-lottery .policy-detail-contents {color: #666; line-height: 15px; padding: 3px 0; border: none;}
