
#share_block .kakaotalk {background:#ffed32 url('http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_kakaotalk.png') no-repeat 50% 50%;}
#share_block .kakaostory {background:#FAD530 url('http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_kakaostory.png') no-repeat 50% 50%;}
#share_block .facebook {background:#41629F url('http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_facebook.png') no-repeat 50% 50%;}
#share_block .line {background:#00C600 url('http://thum.buzzni.com/unsafe/94x94/smart/http://m.ui.hsmoa.com/media/img/share_line.png') no-repeat 50% 50%;}
#share_block .band {background:#54545F url('http://thum.buzzni.com/unsafe/94x94/smart/http://m.ui.hsmoa.com/media/img/share_band.png') no-repeat 50% 50%;}
#share_block .email {background:#e54b2c url('http://thum.buzzni.com/unsafe/94x94/smart/http://m.ui.hsmoa.com/media/img/share_mail.png') no-repeat 50% 50%;}
#share_block .clipboard {background:#47aec6 url('http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_clipboard.png') no-repeat 50% 50%;}
#share_block .sms {background:#F17A37 url('http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_sms.png') no-repeat 50% 50%;}
#share_block .share {margin:2px 6px 2px 0; border: 0; height: 38px; width: 38px; border-radius: 22px;-webkit-background-size:38px 38px !important;}
