html {
    touch-action: manipulation;
}

body {
    background: #e7e7e7;
    padding-top: 10px;
}

/* style tab main */
#list_scroll {
    padding: 10px 0 20px;
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
}

#no_result {
    width: 100%;
    max-width: 100%;
    height: 80px;
    padding-top: 20px;
    min-height: 100px;
    color: #999;
    font-weight: bold;
    text-align: center;
}

#filters li {
    list-style: none;
    min-width: 80px;
    padding: 0 8px;
    text-align: center;
    color: #4a4a4a;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
}

#filters #btn_filter {
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    display: table-cell;
    padding: 10px 10px 9px;
    transition: .5s;
}

#btn_filter span {
    font-size: 14px;
}

#filters #btn_filter.dark {
    padding: 8px 12px;
}

#btn_filter_end i {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.product {
    vertical-align: top;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 4px;
    list-style: none;
    max-width: 50%;
    min-width: 50%;
    position: relative;
    min-height: 290px;
}

.product.content {
    height: 400px;
}

.product.content .product_comp {
    background: #ff8e94;
    margin-top: 40%;
    text-align: center;
}

.product.content .banner_title {
    font-size: 20px;
    font-weight: 300;
    color: #fff;

}

.product .listbox {
    overflow: hidden;
    border-radius: 2px;
}

.product .listbox {
    overflow: hidden;
}

.product .b-white {
    background: transparent !important;
}

.product .thum {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    min-height: 0;
}

.product .thum canvas {
    opacity: 1 !important
}

.product .compare_info{
    background: #fff;
    position:relative;
    display: block;
    color:#19bdc4;
    font-weight: bold;
    padding:4px 0 0;
}
.product .compare_info:before {
    content:"판매처";
    color:#999;
    font-weight: normal;
}
.product .thum:before {
    content: '';
    padding-top: 100%;
    display: block;
    width: 100%;
    z-index: 10;
    position: relative;
    display: none;
}

.product img {
    position: relative;
    opacity: 1;
}

.product img.hide {
    opacity: 0;
    transition: .3s;
}

.product img.gifs {

}

.product img.gifs.show {
    /*opacity: 1;*/
    /*transition: .3s;*/
}

.product .thum {
    background: #e9e9e9;
    background-size: cover;
    background-position: center;
    min-height: 0;
}

.product .thum img {
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.product .time {
    border-top: 1px solid #f2f2f2;
    line-height: 12px;
    padding: 9px 9px 7px;
    color: #888;
    letter-spacing: -1px;
}

.product .time span {
    display: none;
}

.product .time span:last-child {
    display: inline-block;
    float: right;
    font-size: 11px;
    letter-spacing: -1px;
    color: #aaa;
}

.product .time img {
    height: 18px;
    vertical-align: top;
    margin: -3px 3px -7px 0;
}

.product .price {
    margin:0 0;
    line-height: 1.2em;
}

.product .price s {
    display: none;
}

.product .name {
    font-size: 15px;
    line-height: 1.3em;
    height: 2.4em;
    font-weight: 300;
    overflow: hidden;
}

.product .alarm-bt {
    bottom: 6px !important;
    right: 7px !important;
}

#filter_wrap2 {
    width: 100%;
    position: relative;
    /*top: 10px;*/
    /*left: 0;*/
    margin: 10px 0 0;
    text-align: center;
}

#float_filter {
    width: 100%;
    z-index: 100010;
    position: fixed;
    top: 10px;
    left: 0;
    margin: 10px 0 0;
    text-align: center;
    display: none;
    transition: .3s;
}

#float_filter.dark {
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
    position: fixed;
    text-align: center;

}

#float_filter.dark .btn_filter > small {
    display: none;
}

#float_filter.dark .sort {
    display: none;
}

#float_filter .filters {
    display: inline-block;
}

#float_filter.dark .btn_filter {
    color: #fff;
    border-radius: 50em;
    background: rgba(0, 0, 0, .7);
    display: flex;
    height: 28px;
    width: 80px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#float_filter.dark .btn_filter i{
    position: relative;
    top:1px;
}

#float_filter.dark .btn_filter i, #float_filter.dark .btn_filter span{
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 1em;
}

#cate_ball {
    background: #fff;
    width:100%;
}

#cate_ball.floating{
    position: fixed;
    z-index: 1000;
    top:0;
    background: rgba(255,255,255,0.95);
    box-shadow:0 1px 1px rgba(0,0,0,0.23);
    transition: .3s;
}

#filter_wrap2.floating{
    margin-bottom:88px;
}

#cate_ball .cate_ball_female, #cate_ball .cate_ball_male {
    width: 98%;
    padding: 4px 1% 4px;
    display: flex;
    height: auto;
    margin: 0 0 0px;
    display: none;
}

#cate_ball ul.active {
    display: flex;
}

#cate_ball .cate_ball_female li,
#cate_ball .cate_ball_male li {
    flex: 10;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    color: #666;
    cursor: pointer;
}

#cate_ball .cate_ball_female li.active,
#cate_ball .cate_ball_male li.active {
    color: #f00;
    font-weight: bold;
    transition: .5s;
}
#cate_ball .cate_ball_male li.active {
    color: #2ac8d8;
}

#cate_ball li img, #cate_ball li .thum {
    border-radius: 50em;
    width: 84%;
    margin: 0 6%;
    height: inherit;
    padding-top: 85%;
    background: #f9f9f9;
    margin-bottom: 2px;
    -webkit-transform: scale(0.8);
    transition: .3s;
}

#cate_ball li.active img, #cate_ball li.active .thum {
    -webkit-transform: scale(1);
    box-shadow:0 0 0 3px rgba(0,0,0,0.2) inset;
}

#filter_wrap {
    width: 100%;
    height: 244px;
    overflow-x: scroll;
    over-flow-y: hidden;
    position: relative;
    z-index: 100;
    top: 0;
    box-shadow: 1px 1px 3px 0 rgba(55, 93, 153, 0.23), 0 4px 4px rgba(90, 67, 163, 0.15), 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

#filters {
    width: 100%;
    max-width: 1020px;
    height: 36px;
    display: flex;
    position: relative;
    box-shadow: 0 0 1px rgba(113, 140, 255, 0.4), 4px 4px 8px 0 rgba(94, 155, 255, 0.15);
}

#btn_filter_end {
    background: #fff;
    width: 50%;
    margin: 10px auto 0;
    padding: 11px 0;
    border: 1px solid #666;
    color: #666;
    border-radius: 2px;
    font-size: 14px;
}
#filters .filter_gender{
    display: flex;
    min-width:30px;
    padding: 0 6px;
    border-radius: 0;
    font-size:14px;
    text-align: center;
    background: #fff;
    position: relative;
    align-items: center;
    justify-content:center;
}

.section_title.main{
    color:#666;
    bold:bolder;
    padding:0;
    margin:0;
}
.section_title.main i{
    position: relative;
    top:1px;
}

#filters #filter_age {
    display: flex;
    padding: 3px 6px 0;
    border-radius: 0;
    font-size:14px;
    align-items: center;
    justify-content: center;
    min-width:50px;
    text-align: right;
    background: #fff;
    position: relative;
}


#filters #filter_age.active {
    color: #ff5a5a;
}


#filters .filter_gender span{
    transition: .3s;
    background: none;
    color:#333;
    padding:4px 8px 3px;
    background: rgba(0,0,0,0.05);
    border-radius: 2px;
    font-size:14px;
    line-height: 1;
}
#filters .filter_gender.active span{
    background: #f0888e;
    color:#fff;
}

#filters .filter_gender.gender_male.active span{
    background: #2ac8d8;
}
#filters .filter_gender.active:after {
    content: "";
    width: 60%;
    position: absolute;
    z-index: 10;
    height: 1px;
    /*background: #ff5a5a;*/
    left: 20%;
    bottom: 0;
}


#age_list{
    position: absolute;
    z-index: 100009;
    background: #fff;
    padding: 0 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.15);
    border-radius: 4px;
    right: 10px;
    top: -4px;
    display: none;
}

#age_list .filter_age {
    width: 50px;
    text-align: center;
    margin: 14px 0;
    font-size: 14px;
    display: block;
}

#age_list .filter_age.active{
    color:#ff5a5a;
}

#btn_filter.active {
    color: #f03d41;
}

#btn_filter small i {
    float: right;
}

.btn_filter_bottom {
    width: 50%;
    text-align: center;
    float: left;
    height: 2em;
    padding-top: 1em;
    font-size: 16px;
    margin: 14px auto 0;
    line-height: 1.25em;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.btn_filter_close {
    background: #d9dce6;
    left: 0;
    color: rgba(0, 0, 0, 0.5);
}

.btn_filter_done {
    background: #f77580;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset;
    right: 0;
}

#scroll_start, #scroll_end {
    color: #ccc;
}

#scroll_start img {
    height: 8px;
}

.cate_list li, .cate_gender li, .cate_sort li {
    display: table-cell;
    line-height: 1;
    width: 80px;
    border-right: 1px solid rgba(90, 67, 163, 0.1);
    padding: 0 8px 4px;
    text-align: center;
    color: #4a4a4a;
    font-size: 12px;
    border-radius: 0;
    vertical-align: middle;
}

.cate_gender li.gender_all {
    width: 80px;
}

.cate_list, .cate_gender, .cate_sort {
    width: 98%;
    height: 44px;
    PADDING: 0 1% 1%;
    margin-top: 10px;
}

.cate_gender {
    width: 56%;
    float: left;
}

.cate_sort {
    width: 40%;
    float: right;
    text-align: right
}

.cate_list {
    clear: both;
    padding-top: 10px;
    display: none;
}

.cate_list.active {
    display: block;
}

.cate_list li, .cate_gender li, .cate_sort li {
    display: block;
    width: 37px;
    border: none;
    padding: 13px 0 5px;
    float: left;
    margin: 4px 1%;
    height: 18px;
    line-height: 1;
    BOX-SHADOW: 0 0 2PX RGBA(0, 0, 0, 0.15), 1px 1px 4PX RGBA(0, 0, 0, 0.05);
    border-radius: 50em;
}

.cate_list li {
    width: 23%;
}

.cate_sort li {
    float: right;
    width: 50px;

}

.cate_list li.active, .cate_gender li.active, .cate_sort li.active {
    color: #f03d41;
    background: #fff;
    transition: .3s;
    BOX-SHADOW: 0 0 0 1PX #f03d41 inset, 0 0 2PX rgba(0, 0, 0, 0.15), 1px 1px 4PX rgba(0, 0, 0, 0.15);
    BOX-SHADOW: 0 0 0 1PX #f03d41 inset, 0 0 2PX rgba(245, 100, 100, 0.15), 1px 1px 4PX rgba(247, 107, 107, 0.23);
}

.cate_title {
    text-align: left;
    margin: 12px 0;
    line-height: 1em;
    color: #4a4a4a;
    padding: 0 24px;
}

.cate_gender {
    display: table;
}

.cate3 li {
    display: block;
    width: 33%;
    padding: 8px 0;
    float: left;
}

.cate2 li.active, .cate3 li.active {
    color: #00a4b3;
    font-weight: bold;
}

#cate_detail {
    width: 96%;
    position: relative;
    min-height: 34px;
    margin: 10px 1% 10px;
    display: none;
    background: #fff;
    padding: 6px 1% 4px;
    text-align: left;
    border-radius: 4px;
}

#cate_detail li {
    list-style: none;
    cursor: pointer;
    /*float: left;*/
    width: auto;
    background: #fff;
    display: inline-block;
    text-align: left;
    padding: 6px 6px 5px;
    margin: 4px 2px;
    border-radius: 2px;
    height: 1em;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    -webkit-transition: .3s;
}

#cate_detail li:before{
    content:"";
    position: absolute;
    display: block;
    width: 1px;
    height:50%;
    background: #e9e9e9;
    left:0;
    top:25%;
}

#cate_detail li.active:before{
    background: transparent;
}

#cate_detail li.active {
    color: #f0888e;
    font-weight: 400;
    color: #f0888e;
    box-shadow: 0 0 0 1px #f0888e inset;
}

#cate_detail li.active.male{
    color: #2ac8d8;
    box-shadow: 0 0 0 1px #2ac8d8 inset;
}

#filter_list {
    display: none;
    width: 96%;
    max-width: 480px;
    height: 260px;
    background: rgba(255, 255, 255, 0.95);
    top: 8px;
    left: 50%;
    margin-left: -48%;
    position: fixed;
    overflow: hidden;
    z-index: 100010;
    border-radius: 0;
    box-shadow: 0 0 1px 0 rgba(113, 140, 255, 0.30), 1px 1px 2px 0 rgba(94, 155, 255, 0.15);
}

#filters .ic-category, #filters .ic-angle-bottom {
    font-size: 16px;
    position: relative;
    top: 4px;
}

#filters .ic-angle-bottom {
    margin-left: 4px;
}

#filters .ic-angle-right {
    font-size: 12px;
    font-wieght: bold;
}

#filter_list h2 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    margin-top: 12px;
}

#filters i.ic-category {
    font-size: 14px;
}

#filters li i {
    display: block;
    margin-bottom: 4px;
}

.product .product_comp {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    display: block;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.23);*/
    /*border:1px solid rgba(0,0,0,0.1);*/
}

.product .detail {
    position: relative;
    background: #fff;
    z-index: 10;
    min-height: 12px;
    padding: 8px;
}

.product .detail .name {
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    height: 1em;
    position: relative;
    margin: 0 0 0;
    line-height: 1.1em;
}

.product .detail .brand, .product .detail .cat_block {
    margin: 8px 0 4px;
    color: #999;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    position: relative;
}

.product .detail .cat_block {
    color: #bbb;
    background: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    padding: 4px;
    margin-right: 4px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 1.1em;
}

.product .name:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 14px;
    z-index: 10;
    border-radius: 0 0 2px 0;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    line-height: 1em !important;
    width: 50px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding-top: 13px;
}

.product .heart, #container .heart {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    border-radius: 0 0 2px 0;
    color: #ccc;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    line-height: 1 !important;
    padding: 0;
    width: 55px;
    height: 55px;
}

.product .heart .ic-heart {
    display: inline-block;
}

.product .heart .ic-heart-o {
    display: inline-block;
}

.product .heart.active .ic-heart-o {
    display: inline-block;
}

.product .heart.active .ic-heart {
    display: inline-block;
}

.product .heart i {
    position: relative;
    top: 18px;
    right: 0;
    pointer-events: none;
}

.product .heart.active {
    color: #fe626a;
    text-shadow: 4px 4px 14px rgba(255, 138, 138, 0.15), 0 0 2px rgba(226, 41, 41, 0.4);
}

.heart.active.ani {
    animation: heart_ani .2s ease-in alternate;
}

.poduct.dummy, .product.dummy .product_comp {
    min-height: 270px;
}

.product.dummy .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, #e8e7ef 50%);
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes heart_ani {
    0% {
        transform: scale(5)
    }
    100% {
        transform: scale(1)
    }
}

.heart i {
    line-height: 1em;
    font-weight: bold;
}

.product .detail .price {
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 18px;
    height: 18px;
    font-family: avenir, 'Lato', 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 8px;
}

#wish_dim, .dim {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#banner_wrap {
    width: 100%;
    height: 150px;
    display: table;
    background: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    max-width: 1016px;
    margin: 0 auto 0;
}

#banner_wrap span {
    font-size: 13px;
    padding: 0;
    font-weight: 400;
    z-index: 1;
    color: #4a4a4a;
    position: relative;
    float: right;
    top: -30px;
    right: 20px;
}

#banner_wrap .title_wrap {
    padding: 0;
    margin: 0;
    color: #4a4a4a;
    z-index: 1;
    text-align: left;
    max-width: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    display: table;
    opacity: 0;
    transition: 0s;
    -webkit-transform: translateY(10px);
}

#banner_wrap .title_wrap.show {
    opacity: 1;
    transition: .5s;
    -webkit-transform: translateY(0px);
}

#banner_wrap h1 {
    vertical-align: middle;
    font-size: 2.2em;
    font-weight: 200;
    padding: 4px 0 10px;
    margin: 0;
    line-height: 1.2em;
}

#banner_wrap small {
    font-size: 13px;
    font-weight: bold;
}

#banner .banner_gradient {
    width: 100%;
    height: 100%;
    top: 0;
    left: 22%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    transition: .3s;
}

#btn_banner_all {
    position: relative;
    display: inline-block;
    float: right;
    top: -20px;
    margin-bottom: -10px;
    background: #333;
    color: #fff;
    padding: 4px 8px 3px;
    border-radius: 1px;
    font-size: 11px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

#btn_banner_all i {
    font-weight: bold;
    position: relative;
    top: 0;
    font-size: 10px;
}

#banner {
    display: table-cell;
    vertical-align: middle;
}

#banner h1 {
    font-weight: 400;
    padding: 0;
}

#banner h2 {
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 8px;
    line-height: 1.4em;
    height: 1.2em;
    overflow: hidden;
}

#banner .button {
    background: #e36262;
    color: #fff;
    padding: 6px 12px 4px;
    border-radius: 50em;
    font-size: 16px;
    position: relative;
    right: 0;
    display: inline-block;
    z-index: 10;
    width: auto;
}

#banner img {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    opacity: 0;
    transition: 0s;
    -webkit-transform: scale(1.1);
}

#banner img.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transition: .5s;
}

.bottom_banner{
    position: relative;
    padding:0;
    min-height: auto !important;
    width:100%;
    background: #fff;
    display: block;
    height:auto;
    line-height: 0;
    text-align: center;
    margin:10px 0 80px;
    font-size:34px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.bottom_banner h1{
    font-size:24px;
    font-weight: 200;

}
.clear-9, .dim {
    display: none;
}

.sarah_pick {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 3px 4px;
    color: rgba(255, 100, 100, 0.8);
    background: #fff;
    z-index: 3;
    font-weight: 400;
    line-height: 1em;
    font-family: serif;
}

/* style tab main */

/* middle page */

#proudct_wrap {
    padding: 0 10px;
}

.proudct_wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#similar_style_list li {
    position: relative;
    display: inline-block;
    width: 48%;
    min-height: 80px;
    background: #fff;
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    max-height: 110px;
}

#reco_list li {
    width: 32%;
    margin: 0 0.5% !important;
    min-height: 200px;
}

#reco_list li img {
    min-height: 100px;
}

.product .price {
    font-size: 20px;
    font-family: avenir;
    font-weight: 900;
    color: #333;
}

.product .price:before {
    font-family: 'hsmoa-style';
    content: "\e911";
    font-size: 10px;
    position: relative;
    top: -3px;
    margin-right: 0;
}

.product small.name, li a.site {
    margin: 0 10px;
    border-top: none;
    text-align: left;
    max-height: 2em;
    height: 2em;
    overflow: hidden;
    margin-bottom: 10px;
    color: #666;
    display: block;
    line-height: 2em;
}

li a.site {
    height: 1em;
    margin-bottom: 0;
}

li.swiper-slide img {
    opacity: 0;
}

li.swiper-slide .product_wrap {
    position: relative;
    background: #e9e9e9;
}

.product_wrap .ic-similar-style {
    font-size: 28px;
    font-weight: lighter;
}

.product_wrap .ic-arrow-right {
    font-size: 18px;
    line-height: 1em;
    margin-top: 3px;
}

li.swiper-slide.show img {
    opacity: 1;
    transition: .3s;
    position: relative;
    z-index: 1;
}

li.swiper-slide {
    position: relative;
}

li.swiper-slide canvas {
    /*max-height:120px;*/
}

li.swiper-slide a {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.swiper-wrapper {
    min-height: 200px;
    /*max-height:340px;*/
}

.dummy {

}

.dummy div, .dummy .site, .dummy .name {
    -webkit-animation: blink 2s infinite;
    min-height: 100px;
    background: #999;
    opacity: 1;
}

.dummy div.loading {
    opacity: .3;
    transition: 3s;
}

.dummy .price, .dummy .site, .dummy .name {
    background: #ccc;
    color: transparent;
    display: inline-block;
    margin: 10px;
    padding: 0;
    border-radius: 2px;
}

.dummy .site {
    height: 1em;
    margin: 0 10px 10px
}

.dummy .name {
    height: 1em;
    margin: 0 10px 10px
}

.dummy i {
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    position: absolute;
    margin-left: -0.5em;
    margin-top: -0.5em;
    line-height: 1em;
    color: #ccc;
}

.section_title {
    padding: 4px 0 2px;
    margin: 20px 0 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.section_title .more {
    color: #fff;
    padding: 3px 4px 2px;
    line-height: 1em;
    border-radius: 2px;
    background: #666;
    float: right;
    font-size: 10px;
}

#container {
    background-size: cover;
    width: 100%;
    min-height: 100px;
    max-width: 414px;
    position: relative;
    margin: 40px 0 0;
    /*border-radius: 8px;*/
    overflow: hidden;
    background-position: top;
}

.tooltip {
    background: rgba(240, 136, 142, 0.9);
    width: auto;
    position: fixed;
    left: 10px;
    top: 55px;
    color: #fff;
    font-size:14px;
    padding: 10px;
    z-index: 1000;
    display: none;
    box-shadow:2px 2px 4px rgba(0,0,0,0.5);
}

.tooltip.show {
    display: block;
}

.tooltip:after {
    width: 10px;
    height: 10px;
    background: #f0888e;
    -webkit-transform: rotate(45deg);
    position: absolute;
    content: "";
}

.tooltip.left:after {
    left: -5px;
    top: 50%;
    margin-top: -5px;
}

.tooltip.right:after {
    right: -5px;
    top: 50%;
    margin-top: -5px;
}

.tooltip.top:after {
    left: 50%;
    margin-left: -5px;
    top: -5px;
}
.tooltip.top-right:after {
    left: 90%;
    margin-left: -5px;
    top: -5px;
}
.tooltip.bottom-right:after {
    left: 90%;
    margin-left: -5px;
    bottom: -4px;
}

#tooltip_age{
    left:inherit;
    right:10px;
    z-index: 10009;
    top:-55px;
    width:auto;
    position: absolute;

}
.ask .product_comp {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    min-height: 260px;
    text-align: center;
}

.ask .ask_img{
    background: url('../../media/img/home/style/style_feedback.png') no-repeat;
    background-size:100%;
    width:54px; height:54px;
    display: inherit;
    margin:30px auto 0;
}
.ask .ask_title {
    font-size: 16px;
    text-align: center;
    color: rgb(240,140,147);
    margin: 10px 0;
    font-weight: normal;
}

.ask .ask_list {
    display: inline-flex;
    font-size: 15px;
    margin: 5% auto 5%;
    padding: 8px 8px 6px;
    transition: .3s;
    background: rgb(240,140,147);
    color:#fff;
    width:auto;
    border-radius: 50em;
    cursor: pointer;
    text-align: center;
}

.ask .ask_list.active {
    color: #f03d41;
}

.ask small {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 4% 0;
    margin:0 6%;
    border-top:1px solid #e9e9e9;
    width: 83%;
    display: block;
    position: absolute;
    bottom: 10px;
}

#no_result_container {
    width: 100%;
    position: relative;
    height: 200px;
    display: table;
    background: url('http://thum.buzzni.com/unsafe/4x0/http://www.osiya.co.kr/web/product/big/201701/395_shop1_773960.gif') no-repeat;
    background-size: cover;
}

.no_result_inner {
    background: rgba(0, 0, 0, 0.5);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    padding-top: 30px;
    height: 170px;
}

.no_result_inner .title {
    font-size: 28px;
    margin: 8px 0;
}

.no_result_inner .btn_wrap {
    display: table;
    width: 48%;
    height: 30px;
    margin: 20px auto 0;
}

.no_result_inner .btn_wrap div {
    display: table-cell;
    width: 10px;
}

.no_result_inner a {
    color: #333;
    background: #fff;
    border: 1px solid #fff;
    padding-top: 2px;
    vertical-align: middle;
    display: table-cell;
    line-height: 1;
    border-radius: 50em;
}

.no_result_inner a i {
    font-weight: bold;
}

.sub_title {
    font-size: 13px;
}

.section_title small {
    font-family: avenir, sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.section_title span {
    font-weight: bold;
}

#container .btn_home {
    cursor: pointer;
    line-height: 1em;
    width: 70px;
    height: 30px;
    display: table;
    border-radius: 50em;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0 rgba(55, 93, 153, 0.23), 2px 4px 8px 0 rgba(90, 67, 163, 0.23), 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 14px;
    left: 14px;
    z-index: 100;
    border-radius: 50em;
}

#container .btn_home .btn_home_inner {
    cursor: pointer;
    line-height: 1em;
    font-size: 18px;
    display: table-cell;
    width: 70px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

.btn_home_inner .ic-home {
    position: relative;
    top: 2px;
}

#container .btn_home div {
    font-size: 11px;
    bottom: 1px;
    position: relative;
    height: 1em;
    line-height: 1em;
    display: inline-block;
}

#container img {
    width: 100%;
    max-width: inherit;
    height: auto;
}

#similar_style_list, #reco_list {
    padding: 10px 10px 26px;
    margin: 10px auto 0;
    background: #fff;
}

#similar_style_list li {
    min-height: auto;
    position: relative;
}

#similar_style_list .price:before {
    font-family: 'hsmoa-style';
    content: "\e911";
    font-size: 10px;
    position: relative;
    pointer-events: none;
    top: -2px;
    font-weight: bold;
}

#similar_style_list .price {
    position: absolute;
    font-family: Avenir, roboto, sans-serif;
    font-weight: 600;
    z-index: 20;
    bottom: 4px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
}

#similar_style_list li img {
    pointer-events: none;
}

#similar_style_list li {
    width: 100%;
    position: relative;
}

#similar_style_list li .proudct_wrap {
    margin: 0;
    position: relative;
    min-width: inherit;
    min-height: inherit;
    overflow: hidden;
    border-radius: 1px;
    padding: 100% 8px 0;
}

#similar_style_list .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.05) linear-gradient(180deg, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%);
    display: block;
    pointer-events: none;
}

#similar_style_list li.more_wrap {

}

#similar_style_list .more_style {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

#container .gradient {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.6) 100%);
    transition: .3s;
}

#container .detail {
    width: auto;
    padding: 4px 8px;
    position: absolute;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 10;
    transition: .3s;
    background: #fff;
    margin: 4%;
}

#container .link, #container .link_vs {
    bottom: 18px;
    right: 10px;
    padding: 7px 8px 5px;
    font-weight: 300;
    z-index: 10;
    border-radius: 2px;
    font-size: 16px;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23), 0 0 3px rgba(0, 0, 0, 0.15);
}

#container .link_vs {
    bottom: inherit;
    top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #f23d3d;
    border-radius: 50em;
    padding: 11px 18px 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.23), 4px 8px 12px rgba(0, 0, 0, 0.15);
}

#container .link_vs i {
    font-size: 14px;
    margin-bottom: 2px;
    display: inline-block;
}

#container .price {
    font-family: 'avenir', 'roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #4a4a4a;
    display: inline-block;
    margin-bottom: -4px;
}

#container .price:after {
    font-family: 'hsmoa-style';
    content: "\e911";
    font-size: 10px;
    position: relative;
    top: -2px;
    font-weight: bold;
}

#container .brand_info {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    margin-bottom: 0;
    display: inline-block;
}

#mall_info {
    list-style: none;
    padding: 4px 2% 0;
    display: flex;
    width: 100%;
    cursor: pointer;
}

#mall_info .thum {
    margin-right: 10px;
}

#mall_info .name {
    color: #333;
    font-weight: 300;
    font-size: 13px;
    max-height: 1em;
    line-height: 1.1em;
    margin-bottom: 2px;
    overflow: hidden;
}

#mall_info .brand {
    color: #999;
    font-weight: 300;
    font-size: 13px;
}

#mall_info .genre2_logo {
    height: 22px;
    top: -2px;
    position: relative;
}

#mall_info .genre2_tag {
    background: #333;
    color: #666;
    border: 1px solid #e9e9e9;
    padding: 3px 4px 2px;
    border-radius: 1px;
}

#mall_info td {
    padding: 4px 0;
    /*border-bottom:1px solid rgba(0,0,0,0.05);*/
}

#mall_info .mall_header {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    padding: 20px 0 8px;
    border-bottom: 1px solid #ccc;
}

#mall_info .genre {
    font-size: 15px;
    font-family: avenir, sans-serif;
    font-weight: 400;
    padding: 4px 0 0;
}

#mall_info .price {
    width: 50%;
    /*display: table-cell;*/
    font-weight: 600;
    color: #333;
    font-size: 18px;
    font-family: Avenir, Sans-Serif;
    line-height: 1.1em;
    /*text-align: right;*/
}

#mall_info .price:before {
    font-family: 'hsmoa-style';
    content: "\e911";
    font-size: 10px;
    position: relative;
    top: -4px;
    margin-right: -4px;
    font-weight: bold;
}

#container .name {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    margin-top: 0;
    display: table;
    overflow: hidden;
    height: auto;
    max-height: 2.4em;
    display: block;
    line-height: 1.2em;
}

#container .main_heart .heart.active {
    color: #f77580;
}

#footer_wrap, #footer_wrap2 {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#footer_wrap {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: rgba(255,255,255,0.95);
    z-index: 10000;
    position:fixed;
    top:0;
    left:0;
}

.product_info {
    padding: 8px;
    background: #fff;
    display: flex;
}

.product_info .link {
    display: flex;
    flex: 2.5;
    line-height: 1;
    height: 39px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size:14px;
    color:#fff;
    background: #333;
    cursor: pointer;
    border-radius: 2px;
}

.product_info .heart {
    display: flex;
    flex: 1;
    font-size:22px;
    min-width:40px;
    height: 40px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color:#999;
    background: #fff;
    box-shadow:0 0 0 1px #ccc inset;
    border-radius: 2px;
}

.product_info .price {
    font-weight: bold;
    font-family: Avenir, Sans-Serif;
    font-size: 20px;
    line-height: 1.1em;
}

.product_info .genre2_logo {
    height: 18px;
    position: relative;
    top: -4px;
}

.product_info .price:before {
    font-family: 'hsmoa-style';
    content: "\e911";
    font-size: 10px;
    position: relative;
    top: -6px;
    margin-right: -4px;
    font-weight: bold;
}

.product_info .name {
    font-size: 13px;
    line-height: 1.1em;
    height: 1em;
    margin-right:8px;
    margin-bottom:2px;
    overflow: hidden;
}

.product_info .mall {
    color: #999;
}

.link_top {
    border-left: 1px solid #e9e9e9;
}

#footer2 {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    letter-spacing: -0.05px;
    height: 44px;
    bottom: 0;
    left: 0;
}

.footer .ic-purchase, #footer2 .ic-purchase {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

#footer_wrap2 {
    left: 0;
    bottom: 0;
    position: fixed;
    /*-webkit-transform: translateY(100%);*/
    z-index: 1000;
    border:none;
    transition: .5s;
}

#footer_wrap2.overlay {
    -webkit-transform: translateY(0);
}

#footer_wrap2 #mall_info{
    -webkit-transform: translateY(100%);
    /*display: none;*/
    opacity: 0;
    padding-top:0;
    height:0;
    transition: .5s;
}

#footer_wrap2.overlay #mall_info{
    -webkit-transform: translateY(0);
    padding:0;
    height:auto;
    display: flex;
    opacity: 1;
    width:100%;
    margin:0;
    border-radius: 2px;
    padding:4px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}

#scroll_top {
    width: 37px;
    height: 37px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #f03d41;
    color: #f03d41;
    font-size: 20px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0 rgba(55, 93, 153, 0.23), 2px 4px 4px 0 rgba(90, 67, 163, 0.23), 0 0 3px rgba(0, 0, 0, 0.1);
    z-index: 30000;
    text-align: center;
    cursor: pointer;
}

#scroll_top i {
    position: relative;
    top: 10px;
}

#bt_up {
    -webkit-transform: translateY(0px);
}

#bt_up.overlay {
    -webkit-transform: translateY(0px);
    transition: .3s;
}

.footer .link {
    width: calc(56% - 280px);
    background: #fff;
    border: 1px solid #ccc;
    color: #999;
    font-size: 16px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
}

.footer > div {
    width: 4px;
    display: table-cell;
}

#footer2 > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
    color: #fff;
    height: 100%;
    font-size: 16px;
    line-height:1;
    font-weight: 900;
}

#footer2 a.link {
    background: #333;
    flex:2;

}

#footer2 a.link_buy {
    background:#EA1B27;
    flex:3;
}

.footer {
    width: 100%;
    padding: 6px 0;
    height: 28px;
    display: flex;
}

.footer > a {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 2px;
    line-height: 1;
    color: #666;
}

.footer > a span, .footer > a i {
    pointer-events: none;
    position: relative;
}

.footer .share_kakao {
}

.footer .share_kakao i {
    font-size: 24px;
    top:-1px;
}

.footer .share_kakao span {
    margin-left:4px;
}

.footer .btn_home {
    width: 33.33%;
    border-right: 1px solid #e9e9e9;
}

.footer .btn_home i {
    font-size: 20px;
    top: -2px;
}

.footer .btn_home span {
    position: relative;
    margin-left:4px;
}

.footer .heart {
    border-radius: 2px;
    border-left: 1px solid #e9e9e9;
}

.footer .heart.active {
    color: #f77580;
}

.footer .heart i {
    font-size: 16px;
    pointer-events: none;
    position: relative;
    top: -1px;
    font-weight: bold;
    -webkit-transform: scale(1.2);
}

.footer .heart span {
    position: relative;
    margin-left:4px;
}

.footer .heart.ani {
    -webkit-animation: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 6px;
}

.swiper-pagination-bullet {
    transition: .3s;
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.swiper-pagination-bullet-active {
    background: #f03d41;
    width: 20px;
}

#container .detail, #container .gradient {
    opacity: 0;
    -webkit-transform: scale(0);
}

/*#container .detail.show, #container .gradient.show{*/
#container .detail.show {
    opacity: 1;
    box-shadow: 1px 1px 3px 0 rgba(55, 93, 153, 0.23), 5px 10px 4px 0 rgba(90, 67, 163, 0.23), 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1);
    border-radius: 50em;
    padding: 4px 14px;
    overflow: hidden;
}

.tag_soho {
    /* 런칭시 제외, 테스트용 */
    color: #fe626a;
    padding: 2px 4px 1px;
    top: 8px;
    left: 8px;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    width:100px;
    display: none;
}

.age_rate {
    display: block;
    position: relative;
    margin-bottom: 2px;
    background: #fff;
    height: 4px;
    background: #fe626a;
    border-radius: 10px;
    max-width: 100%;

}

.age_rate > div {
    position: absolute;
    display: inline-block;
    width: 70px;
    color: #fff;
    padding-left: 4px;
}

/* middle page */

#btn_admin {
    position: relative;
    border-left: 1px solid #e9e9e9;
}

#btn_admin .content {
    width: 150%;
}

#btn_admin .content * {
    font-weight: bold;
}

#btn_admin.active {
    color: #7a7ad6;
}

#btn_admin i {
    margin: 0 4px;
}


#compare_price{
    margin-top:10px;
}

#compare_price li{
    display: flex;
    list-style: none;
    background: #fff;
    border-bottom:1px solid #e9e9e9;
    padding:10px 20px;
    height:36px;
    align-items: center;
}

#compare_price li span{
    flex:5;
    height:100%;
}

#compare_price li .img{
    flex:2;
}

#compare_price li .genre2_logo{
    height:20px;
}
#compare_price li img{
    height:100%;
}

#compare_price li .genre2{
    display: flex;
    align-items: center;
    justify-content: left;
    flex:3;

}

.alert_msg{
    display: flex;
    width:100%;
    background: #fff;
    height:40px;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #ccc;
}
#compare_price li:first-child .price{
    color:#f03d41;
}
#compare_price li:first-child .price:before{
    content: "최저가";
    margin-right:4px;
}

#compare_price li .price{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    flex:5;
}

#compare_price li .price a{
    font-family: Avenir, Sans-Serif;
    font-weight: 900;
    color:#4a4a4a;
    font-size:16px;
}
#compare_price li .price a:after{
    content:"원";
}

#admin_only {
    padding: 0 10px 4px;
    background: #a7a4d6;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0.7));
    border:4px solid #FFF;
    position: fixed;
    top: 50px;
    right: 8px;
    z-index: 100000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
}

#admin_only .section_title{
    color:#ffcc3b;
    margin:10px 0 0;
}

#admin_only div {
    margin: 14px 0;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#admin_only span {
    padding: 2px 8px 3px;
    line-height: 1.1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.05em;
    border-radius: 50em;
}

#admin_only .key_search{
    background: #ffcc3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    margin-top:10px;
}

#admin_only hr{
    border:none;
    border-top:1px solid rgba(255,255,255,0.3);
    margin:20px 0;
}
#admin_only div b {
    font-family: avenir, sans-serif;
    font-weight: 600;
    color:#ffcc3b;
}

#admin_only #genre_id{
    border:1px solid rgba(255,255,255,0.5);
}

#admin_only .section_title i {
    float: right;
    color: rgba(0, 0, 0, 0.6);
}

#admin_only::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: -5px;
    right:24px;
    margin-left: -5px;
    z-index: 100;
    -webkit-transform: rotate(45deg);
}

#admin_only #cat_wrap {
    margin: 10px 0;
}

#keyword_wrap{
    margin: 0;
    padding: 4px 2% 0;
    background: #fff;
    display: flex;
    width: 96%;
    height: 32px;
    border-bottom:1px solid rgba(0,0,0,0.25);
    overflow: hidden;
    position: relative;
}

#keyword_wrap li{
    list-style: none;
    background: #f9f9f9;
    color: rgba(255, 118, 135, 0.91);
    font-size: 14px;
    text-shadow: none;
    line-height: 1.2em;
    border-radius: 2px;
    margin: 5px 4px 14px;
    margin-right: 6px;
    display: inline-block;
    padding: 2px 4px 0;
    align-items: center;
    height: 19px;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.05);
}

#keyword_wrap li:before{
    content: "";
    font-family: hsmoa-style;
    position: relative;
    margin-left:0;
    font-size:1em;
    top:-2px;
    width:8px;
    height:1em;
}

#admin_only #cat_wrap .cat1, #admin_only #cat_wrap .cat2, #admin_only #cat_wrap .cat3 {
    border: 1px solid rgba(255,255,255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    padding: 4px 4px 2px;
    color: #fff;
    text-shadow: none;
    line-height: 1.2em;
    border-radius: 2px;
    margin: 0 1px 4px;
}

.btn_send_wrong_cat {
    width: 200px;
    display: block;;
    background: #ffcc3b;
    color: #4a4a4a;
    border-radius: 50em;
    margin: 10px auto;
    border: none;
    padding: 12px 8px 11px;
}

@media screen and (max-width: 320px) {
    .product {
        min-height: 170px;
    }

    #banner_wrap {
        height: 130px;
    }

    #banner h2 {
        font-size: 11px;
    }
}

@media screen and (min-width: 321px) {
    .product {
        min-height: 170px;
    }
}

@media screen and (min-width: 375px) {
    .product {
        min-height: 170px;
    }
}

@media screen and (min-width: 414px) {
    .product {
        min-height: 170px;
    }
}

@media screen and (min-width: 580px) {
    .product {
        width: 33.33%;
    }
}

@media screen and (min-width: 760px) {
    .product {
        min-width: 33.33%;
        width: 33.33%;
        max-width: 33.33%;
    }

    #banner_wrap {
        height: 250px;
    }

    #banner h1 {
        font-weight: bold;
    }

    #banner h2 {
        font-size: 11px;
    }

    #banner .title_wrap {
        -webkit-transform: scale(1.6) translateX(30px) !important;
    }

    #banner .banner_gradient {
        -webkit-transform: translateX(-20px);
    }

    #banner img.show {
        /*-webkit-transform:scale(1.2) translate(10px, 10px);*/
    }

    #container {
        background: #333;
        max-width: 55%;
        min-height: 50%;
        float: left;
    }

    #container img {
        max-width: 100%;
        box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.15) inset;
    }

    #container .detail, #container .gradient, #container .link {
        display: none !important;
    }

    #for_tablet {
        display: block !important;
        float: left;
        width: 45%;
        height: 422px;
        position: relative;
        background: #fff;
        box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.15) inset;
    }

    #for_tablet .detail {
        position: absolute;
        top: 50px;
        max-width: 90%;
        padding: 10px;
    }

    #for_tablet .detail .brand_info span {
        font-size: 14px;
        color: #999;
    }

    #for_tablet .detail .name {
        font-size: 17px;
        line-height: 1.4em;
        font-weight: 300;
    }

    #for_tablet .detail .price {
        margin-top: 10px;
        font-weight: 900;
        font-family: avenir, sans-serif;
        font-size: 28px;
    }

    #for_tablet .detail .price:before {
        font-family: 'hsmoa-style';
        content: "\e911";
        font-size: 10px;
        position: relative;
        top: -4px;
        margin-right: -4px;
        font-weight: bold;
    }

    #for_tablet .main_heart {
        bottom: 6px;
        left: 6px;
        padding: 8px 9px 4px;
        font-size: 24px;
        display: block;
        text-align: center;
        position: absolute;
        background: #fff;
        box-shadow: 0 0 0 1px #ccc inset;
        color: #999;
        border-radius: 0;
    }

    #for_tablet .main_heart.active {
        color: #ff5a5a;
        box-shadow: 0 0 0 1px #ff5a5a inset;
    }

    #for_tablet .link {
        width: 286px;
        text-align: center;
        font-size: 16px;
        margin: 0 2%;
        background: #333;
        color: #fff;
        display: inline-block;
        padding: 10px 0;
        position: absolute;
        bottom: 6px;
        right: 0;
    }

    #footer_wrap {
        width: 45%;
        float: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .section_title {
        font-size: 16px;
    }

    .swiper-wrapper {
        max-height: 440px;
    }

    #container .detail {
        position: absolute;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    .product {
        width: 20%;
        max-width: 20%;
        min-width: 20%;
    }
}

@font-face {
    font-family: 'hsmoa-style';
    src: url('../font/hsmoa-style.ttf?hl6h9x') format('truetype'),
    url('../font/hsmoa-style.woff?hl6h9x') format('woff'),
    url('../font/hsmoa-style.svg?hl6h9x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*[class^="ic-"], [class*=" ic-"] {*/
/*!* use !important to prevent issues with browser extensions that change fonts *!*/
/*font-family: 'hsmoa-style' !important;*/
/*speak: none;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*font-variant: normal;*/
/*text-transform: none;*/
/*line-height: 1;*/
/*font-size:inherit;*/
/*transform:scale(1.4);*/
/*display: inline-block;*/

/*!* Better Font Rendering =========== *!*/
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*}*/

.ic {
    display: inline-block;
    font: normal normal normal 14px/1 hsmoa-style;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ic-spin {
    -webkit-animation: ic-spin 2s infinite linear;
    animation: ic-spin 2s infinite linear
}

.ic-pulse {
    -webkit-animation: ic-spin 1s infinite steps(8);
    animation: ic-spin 1s infinite steps(8)
}

@-webkit-keyframes ic-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.ic-2x {
    font-size: 2em;
}

.ic-3x {
    font-size: 3em;
}

.ic-similar-style:before {
    content: "\e916";
}

.ic-angle-bottom:before {
    content: "\e900";
}

.ic-angle-left:before {
    content: "\e901";
}

.ic-angle-right:before {
    content: "\e902";
}

.ic-angle-top:before {
    content: "\e903";
}

.ic-arrow-bottom:before {
    content: "\e904";
}

.ic-arrow-left:before {
    content: "\e905";
}

.ic-arrow-right:before {
    content: "\e906";
}

.ic-arrow-top:before {
    content: "\e907";
}

.ic-category:before {
    content: "\e908";
}

.ic-close:before {
    content: "\e909";
}

.ic-delete:before {
    content: "\e90a";
}

.ic-delivery:before {
    content: "\e90b";
}

.ic-heart-full:before {
    content: "\e90c";
}

.ic-heart-open:before {
    content: "\e90d";
}

.ic-heart:before {
    content: "\e90e";
}

.ic-home:before {
    content: "\e90f";
}

.ic-kakaotalk:before {
    content: "\e910";
}

.ic-krw:before {
    content: "\e911";
}

.ic-plus:before {
    content: "\e912";
}

.ic-purchase:before {
    content: "\e913";
}

.ic-question-mark:before {
    content: "\e914";
}

.ic-refresh:before {
    content: "\e915";
}