.list-board { margin:1px 7px; background: #fff;}
.list-board:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px;}
.list-board:last-child { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.list-board .listbox { padding:9px; display:block;}
.list-board .title { font-size: 14px; max-height: 36px; line-height: 18px; overflow: hidden; word-break: break-all;}

.list-special {float: left; width:50%; margin-bottom:8px; box-sizing:border-box; padding:0 7px 0 7px ;}
.list-special .listbox { background:#fff; box-shadow: 0 0 2px rgba(0,0,0,0.1); border-radius: 4px; display:block;}
.list-special .thum {width:100%; min-height:120px; }
.list-special .thum img { border-radius: 4px 4px 0 0;}
.list-special .detail { padding:11px; }
.list-special .title { font-size:15px; height:18px;line-height:18px; overflow:hidden; word-break:break-all;}
.list-special .price { text-align: left; margin-bottom: -3px; }
.list-special .price .sale { font-size:11px; letter-spacing:-1px; margin-left:4px;}
.list-special .price .num { font-size:16px;  }


.list-live { box-sizing:border-box; position:relative; background:#fff; border-radius: 0px; position: relative;}
.list-live .listbox { display:block;}
.list-live .thum { border-radius: 0px;}
.list-live .logo { height:30px;margin-top:-1px; position: absolute; left:9px; top:3px; }
.list-live .detail { position: absolute; bottom: 0px; left:0px;  background: #fff; border-radius: 0; border-top: 1px solid #e91d27;}
.list-live .detail > div { vertical-align: middle;}
.list-live .title { font-size:15px; line-height:17px;height:17px; overflow:hidden; word-break:break-all;}
.list-live .price { margin-top: 3px; }
.list-live .price .sale { font-size:10px; letter-spacing:-1px; }
.list-live .price .num { font-size:15px; }
.list-live .livetime { width: 62px; border-left:1px solid #e2e2e2; padding:2px 9px; }
.list-live .bt-play {position: absolute; z-index:99; top:50%;margin-top:-50px;width:50px;height:50px;left:50%;margin-left:-25px;}

.list-tvshop {margin:7px; box-sizing:border-box; position:relative; background:#fff; border-radius: 5px;}
.list-tvshop .listbox { display:block;}
.list-tvshop .rank {text-align:center;position:absolute; width:34px; padding:7px 0; border-radius:5px 0 0 0; opacity:0.93;font-size:16px; letter-spacing:-1px; color:#fff;}
.list-tvshop .thum {width:145px; }
.list-tvshop .thum img {margin:5px; border-radius: 3px; width:130px;}
.list-tvshop .logo { height:22px;margin-top:-1px; }
.list-tvshop .detail { border-top:1px solid #f3f3f3;width:96%;border-bottom:1px solid #f3f3f3; height:36px; padding:9px 0;}
.list-tvshop .title { font-size:14px; line-height:18px;height:36px; overflow:hidden; word-break:break-all;}
.list-tvshop .price { margin-top: 16px; }
.list-tvshop .price .sale { font-size:10px;  }
.list-tvshop .price .num { font-size:15px; margin-top:1px; }
.list-tvshop .bt-alarm{ position:absolute; right:9px; bottom:9px; }
.list-tvshop.timeline {margin:0px; margin-left: -12px; border-radius: 0px;}
.list-tvshop.timeline:first-child {border-top-left-radius: 5px ; border-top-right-radius: 5px; }
.list-tvshop.timeline:last-child {border-bottom-left-radius: 5px ; border-bottom-right-radius: 5px; }
.list-tvshop.timeline .thum {width:152px; height:146px; }
.list-tvshop.timeline .thum img {margin:5px; border-radius: 3px; width:136px;}
.list-tvshop.timeline .price { margin-top: 20px; }
.list-tvshop.search .thum {width:130px; }
.list-tvshop.search .thum img {margin:5px; border-radius: 3px; width:115px;}

.list-visit { margin: 7px; background: #ffffff; position: relative;}
.list-visit .listbox { display: block}
.list-visit .thum {width:130px; }
.list-visit .thum img {width:130px;}
.list-visit .logo { height:20px;margin-top:-2px; }
.list-visit .title { font-size:14px; line-height:19px;height:38px; overflow:hidden; word-break:break-all;}
.list-visit .price { margin-top: 16px; }
.list-visit .price .sale { font-size:10px; letter-spacing:-1px; }
.list-visit .price .num { font-size:15px; margin-top:1px; }
.list-visit .bt-close { position:absolute; right:-2px; top:-2px; }

.bt-play {content:url("http://cache.m.ui.hsmoa.com/media/img/ic_play_live.png");  }

.bt-alarm {height:26px;width:55px;}
.bt-alarm.off{content:url("http://cache.m.ui.hsmoa.com/media/img/alarm_off.png"); }
.bt-alarm.on {content:url("http://cache.m.ui.hsmoa.com/media/img/alarm_on.png");  }

.bt-close {padding:9px;width:22px;height:22px;}
.bt-close:before {display:block; content:"";border:1px solid #eee;border-radius:20px;width:20px;height:20px;background: url("http://cache.m.ui.hsmoa.com/media/img/ic_close.png"); background-size: 20px 20px;}

.tag-border {margin: 0;padding: 3px 5px 3px 5px;border: 0px solid #c6cdd2;}
.wtab-off{border-bottom:1px solid #ddd;border-top:1px solid #eee;background:#fafafa;}
.wtab-on{background:#fff;color:#333;border:1px solid #ddd;border-bottom:0;}
.tab-on{background:#e91d27;color:#fff;}
.like.on {width:30px; height:30px; border: 0px; background: url('http://cache.m.ui.hsmoa.com/media/img/like_on.png') no-repeat ; background-size:30px 30px; }
.like.off {width:30px; height:30px; border: 0px; background: url('http://cache.m.ui.hsmoa.com/media/img/like_off.png') no-repeat ; background-size:30px 30px; }
.sale-rate{background: url('http://cache.m.ui.hsmoa.com/media/img/sale_rate.png') no-repeat;width: 40px;height: 42px;-webkit-background-size: 40px 42px;}
.box-shadow{box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1), 0px 1px 1px 0px rgba(0,0,0,0.05);}
.whitetab-select{color:#666;overflow:hidden;height:36px;line-height:36px;padding:0px;margin:0px;border:0px;-webkit-appearance:none;width:100%;padding-left:9px;background:url('http://cache.m.ui.hsmoa.com/media/img/ic_select_down.png') no-repeat right 50%;-webkit-background-size:20px 9px;}
/* bar */
.top-bar{height:38px; box-shadow: 0 1px 0 rgba(40,40,40,0.14); z-index: 999;}
.top-bar-border{border-right:1px solid #eee;line-height:25px;}
.top-select{padding-left:7px;padding-right:15px;height:28px;border:0;-webkit-appearance:none;background:url('http://cache.m.ui.hsmoa.com/media/img/ic_select_down.png') no-repeat right 50%;-webkit-background-size: 20px 9px;color:#666;}

.section {background: #f2f2f2; padding: 0 5px; border:1px solid #ddd; max-height: 104px; box-sizing: border-box; color:#666; overflow-y: scroll; border-radius:3px 3px 0 0 ; line-height: 16px;}
.agreement {font-size:14px; border:1px solid #ddd; border-top:0px; margin:0; display: table; width: 100%; box-sizing: border-box; padding:7px 9px; border-radius: 0 0 3px 3px; }

.setting-box {margin:9px; }
.setting-list {padding: 10px 12px 9px 12px;margin-bottom: 1px; background: #fff; box-sizing: border-box; width:100%; display: table; color: #666;font-size:13px; line-height: 21px;}
.setting-list.title { color: #444; font-size:15px;}
.setting-list:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px;}
.setting-list:last-child { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}

.time-graph { display: table; width:100%;}
.time-graph li { display: table-cell; width:1%; }
.time-graph li{ height:12px; background: #eee; border-right:1px solid #fff; }
.time-graph li:first-child{background: #fff;}
.time-graph li:last-child{background: #fff;}
.time-graph li:nth-child(6n-5){ border-right:1px solid #aaa; }
.time-graph li:last-child { border-right:0; }
.time-graph li.on{ background: #ccc; }
.time-graph.on li.on{ background: #ec3b3b; }

.time-table { display: table; width:98%; margin:0 1%;}
.time-table li { color:#aaa; display: table-cell; width:1%; text-align: center; font-size:10px; line-height: 13px; letter-spacing:-2px;}

input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle + label {display: block;position: relative;background: #e2e2e2;line-height: 20px;height: 30px;width: 50px;border-radius: 15px;}
input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: rgba(233,29,39,0);-moz-transition: .25s ease-in-out;-webkit-transition: .25s ease-in-out;transition: .25s ease-in-out;}
input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid rgba(233,29,39,1); box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle:checked + label:before {width: 50px; background: rgba(233,29,39,1);}
input.toggle:checked + label:after { left: 20px;}

input.toggle-mini {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle-mini + label {display: block;position: relative;background: #e2e2e2;line-height: 20px;height: 30px;width: 50px;border-radius: 15px;}
input.toggle-mini + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: rgba(233,29,39,0);-moz-transition: .25s ease-in-out;-webkit-transition: .25s ease-in-out;transition: .25s ease-in-out;}
input.toggle-mini + label:after { content: ""; color:#F00000; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid rgba(233,29,39,1);  box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle-mini:checked + label:before {width: 50px; background: rgba(233,29,39,1);}
input.toggle-mini:checked + label:after { left: 20px;}

input.radiobtn {float:right; margin:0px; background: #eee; border: 1px solid #fff; border-radius: 10px; display: inline-block; height: 20px; width: 20px; position: relative; -webkit-appearance: none;}
input.radiobtn:after {background: #fff; border-radius: 25px; content: ''; display: block; height: 10px;width: 10px; left: 4px; position: relative; top: 4px;}
input.radiobtn:checked { border: 1px solid #f66; background: #fff;}
input.radiobtn:checked:after { background: #e91d27;}

input.checkbox {float:right; margin:0px; background: url('http://cache.m.ui.hsmoa.com/media/img/checkbox_off.png') no-repeat 50% 50%;-webkit-background-size: 20px 20px;
    border: 2px solid #ddd; box-sizing: border-box; border-radius: 5px; display: inline-block; height: 22px; width: 22px; position: relative; -webkit-appearance: none;}
input.checkbox:checked { border: 2px solid #f66; background: url('http://cache.m.ui.hsmoa.com/media/img/checkbox_on.png') no-repeat 50% 50%;-webkit-background-size: 20px 20px;}