{% load humanize %}
{% load filters %}

{% if result.promotion_groups|length > 0 %}
<style>
    .list-swipe-alarm {position:relative; overflow:hidden; width:140px; display:inline-block; margin:1px 5px 5px 0; border-radius:2px; box-shadow:0 0 1px #ddd;}
    .list-swipe-alarm item {background-color:#fff;}
    .list-swipe-alarm thum {padding-top:100%; position:relative;}
    .list-swipe-alarm thum img { position:absolute; top:0;left:0;right:0;bottom:0;}
    .list-swipe-alarm detail { padding:6px 10px 8px; width:auto; text-align:left;}
    .list-swipe-alarm site img {height:18px; }
    .list-swipe-alarm time {font-size:11px; position:absolute; right:8px; top:150px; letter-spacing:-0.5px;}
    .list-swipe-alarm name { display:block; font-size:12px; text-align:left; line-height:1.3em; margin-top:4px; height:2.4em; overflow:hidden; white-space:normal;}
    .list-swipe-alarm sale {font-size:28px;display:inline-block;margin:7px 0 0; }
    .list-swipe-alarm price { margin-top:14px;}
    .list-swipe-alarm price s { display:none;}
    .list-swipe-alarm price num { font-size:15px; display:block;font-weight:bold;}
    .list-swipe-alarm price num:after {content:"원"; font-size:0.7em;}
    .list-swipe-more { position:relative; overflow:hidden; width:80px; height:246px;box-sizing:border-box; margin:1px 1px 5px 0; border-radius:2px; box-shadow:0 0 1px #ddd;
        display:inline-block; vertical-align:top;}
    #item_more_wrapper {vertical-align:top; width:70px;height:100%;text-align:center;}
    .list-swipe-alarm end { position:absolute; bottom:0; left:0; right:0; background:rgba(0, 0, 0, 0.25); color:#fff; font-size:13px; padding:5px 10px; text-align:center; z-index:99;}
    @media screen and (min-width:540px) {
        .list-swipe-alarm { width:170px;}
        .list-swipe-alarm time {top:180px; }
        .list-swipe-more {height:266px;}
    }
</style>
    {% for promotion_group in result.promotion_groups %}
        {% for entity in promotion_group.entities.promotion_entities %}
            {% if entity.status != 0 %}
                {% if entity.detail.live_status == 2 %}
                    <div class="list-swipe-alarm">
                        <item class="link-service"
                              url-path="item"
                              data-entity_id="{{ entity.detail.id }}"
                              data-site="{{ entity.detail.genre2 }}"
                              data-rank="{{ forloop.counter }}"
                              data-live="{{ entity.detail.live_status }}"
                              data-price="{{ entity.detail.price }}"
                              data-from="event_alarm">
                            <thum>
                                <img src="{{ thum320 }}/{{ entity.detail.img }}"
                                     onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'"/>
                            </thum>
                            <detail>
                                <site>
                                    <img src="{{ media }}/hsmoa/logo/logo_{{ entity.genre2 }}.png"/>
                                </site>
                                <time class="c-gray-3">
                                    {{ entity.detail.date|time_format:'md' }} {{ entity.detail.start_time }}
                                </time>
                                <name>{{ entity.detail.name }}</name>
                                <price>
                                    {% if entity.detail.price|get_int < 9 %}
                                        <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                                    {% else %}
                                        <num class="c-red-3">{{ entity.detail.price|intcomma }}</num>
                                    {% endif %}
                                </price>
                            </detail>
                        </item>
                        <alarm class="mini alarm-entity {% if entity.detail.alarm_action_id > 0 %}on{% endif %}"
                               alarm_action_id="{{ entity.detail.alarm_action_id }}"
                               data-entity_id="{{ entity.detail.id }}"
                               data-name="{{ entity.detail.name }}"
                               data-price="{{ entity.detail.price }}"
                               data-genre2="{{ entity.detail.genre2 }}"
                               data-img="{{ entity.detail.img }}"
                               data-start_time="{{ entity.detail.start_time }}"
                               data-end_time="{{ entity.detail.end_time }}"
                               data-from="event_alarm"
                               style=" position:absolute; bottom:7px; right: 7px; z-index: 99;"/>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
