{% load humanize %}
{% load filters %}

<style>
    .list-swipe { border-radius: 4px; margin-top:3px; background:#fff; position: relative; border: 1px solid #AAA5BC; }
    .list-swipe rank {position:absolute; z-index:100; left:10px; top:-5px; font-size:21px; width: 46px; height: 38px; padding: 5px 5px 0 0 ; color:#fff;
        line-height: 28px; text-align: center; vertical-align: middle; background: url('{{ cdn_img }}/moaweek/rank.png') 50% 50% no-repeat; background-size:cover;}
    .list-swipe thum { position: relative; padding-top: 100%;}
    .list-swipe thum img { border-radius: 3px 3px 0 0; position: absolute; top:0; left: 0; width: 100%; height: 100%;}
    .list-swipe detail { padding:6px 12px 9px; text-align:left;}
    .list-swipe site img {width:56px; vertical-align: middle;}
    .list-swipe time {font-size: 11px; position:absolute; right:8px; bottom:80px; letter-spacing: -0.5px;}
    .list-swipe name { display: block; font-size: 15px; line-height: 1.35em; margin-top: 3px; max-height: 1.4em; overflow: hidden;}
    .list-swipe price {font-size:18px;}
    .list-swipe price s { font-size:11px; color: #bbb;}
    .list-swipe price num {margin-top:3px; display: block;font-weight: bold; font-size: 1em;white-space:nowrap;overflow:hidden;}
    .list-swipe price num:after {content:"원";  font-size: 0.7em;}
    .list-swipe price span { font-weight:bold; font-size: 0.9em;}
    {#.list-swipe .description {padding:8px 0;font-weight:bold;color:#fff;font-size:15px;position:absolute;top:37%;left:50%;transform:translate(-50%,-50%);word-break:keep-all;}#}
    {#.list-swipe .description span {display:inline;background:rgba(55,63,76,0.8);padding:3px 0;line-height:26px;box-shadow:6px 0 0 rgba(55,63,76,0.8),-6px 0 0 rgba(55,63,76,0.8);font-style:italic;}#}
    .list-swipe thum .description {font-weight:bold;color:#fff;font-size:15px;word-break:keep-all;position:absolute;top:0;bottom:0;right:0;left:0;z-index:1000;padding:0 10px;}
    .list-swipe thum .description .display-table {display:table;width:100%;height:100%;}
    .list-swipe thum .description .display-table  .display-table-cell {display:table-cell;vertical-align:middle;text-align:center;}
    .list-swipe thum .description span {display:inline;background:rgba(55,63,76,0.8);padding:3px 0;line-height:26px;box-shadow:6px 0 0 rgba(55,63,76,0.8),-6px 0 0 rgba(55,63,76,0.8);font-style:italic;}

    .eg-flick-container {padding-top:100%;padding-bottom:120px;}
    .eg-flick-container .item-wrapper {padding:0 7px;}
</style>

{% if result.promotion_groups %}
    <div id="flick-contents" class="flick" style="position:relative;">
        {% for group in result.promotion_groups %}
            {% for entity in group.entities.promotion_entities %}
                {% with entity.detail as re %}
                    {% if re.url %}
                        <div class="item-wrapper">
                            <item class="list-swipe link-buy"
                                url-path="promotion_click"
                                data-url="{{ re.url }}"
                                data-pid="{{ re.pid }}"
                                data-id="{{ re.pid }}"
                                data-site="{{ re.site }}"
                                data-price="{{ re.price }}"
                                data-from="{{ request.GET.flag }}"
                                data-is_search_item="{{ entity.code }}">
                                <thum>
                                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                                    {% if re.is_soldout == 1 %}
                                        <soldout/>
                                    {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                                        <soldout class="onlive"/>
                                    {% endif %}

                                    {% if re.id == 8780344 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"상상 그 이상의 팩트!<br>파운데이션 절대 강자"</span></div></div>
                                        </div>
                                    {% elif re.id == 8756371 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"기미/색소 침착까지 싹 가리는<br>커버력 갑 연예인 파데"</span></div></div>
                                        </div>
                                    {% elif re.id == 8777656 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"말이 필요없는 매진 제조기<br>기초 스킨케어 끝판왕"</span></div></div>
                                        </div>
                                    {% elif re.id == 8767206 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"피부 속부터 탄력있게 채우는<br>7일의 기적"</span></div></div>
                                        </div>
                                    {% elif re.id == 8775488 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"숱과 결을 동시에,<br>스파 케어 기능성 트리트먼트"</span></div></div>
                                        </div>
                                    {% elif re.id == 8772914 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"인생 클렌져<br>브라이트닝 + 세정력 + 수분밸런스까지"</span></div></div>
                                        </div>
                                    {% elif re.id == 8771962 %}
                                        <div class="description">
                                            <div class="display-table"><div class="display-table-cell"><span>"무향의 전신 보습제로 자극없이<br>오래오래 촉촉해요"</span></div></div>
                                        </div>
                                    {% endif %}
                                </thum>
                                <detail>
                                    <site>
                                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                                    </site>
                                    <name>{{ re.name }}</name>
                                    <time class="c-gray-3">
                                        {{ re.date|time_format:'md' }} {{re.start_time }}
                                    </time>
                                    <price>
                                        <s {% if re.org_price|get_int <= re.price|get_int %}style="opacity:0;"{% endif %}>{{ re.org_price|intcomma }}원</s>
                                        {% if re.price|get_int < 9 %}
                                            <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                                        {% else %}
                                            <num class="c-red-3">{{ re.price|intcomma }}</num>
                                        {% endif %}
                                    </price>
                                </detail>
                            </item>
                            {% if re|get_live_status == 2 %}
                                <alarm class="mini alarm-entity {% if entity.detail.alarm_action_id > 0 %}on{% endif %}"
                                       alarm_action_id="{{ entity.detail.alarm_action_id }}"
                                       data-entity_id="{{ entity.detail.id }}"
                                       data-name="{{ entity.detail.name }}"
                                       data-price="{{ entity.detail.price }}"
                                       data-genre2="{{ entity.detail.genre2 }}"
                                       data-img="{{ entity.detail.img }}"
                                       data-start_time="{{ entity.detail.start_time }}"
                                       data-end_time="{{ entity.detail.end_time }}"
                                       data-from="event_alarm"
                                       style=" position:absolute;bottom:40px;right:15px;z-index:99;"/>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
