{% load humanize %}
{% load filters %}

<style>
    .list-swipe { border-radius: 4px; margin-top:3px; background:#fff; position: relative; border: 1px solid #AAA5BC; }
    .list-swipe rank {position:absolute; z-index:100; left:10px; top:-5px; font-size:21px; width: 46px; height: 38px; padding: 5px 5px 0 0 ; color:#fff;
        line-height: 28px; text-align: center; vertical-align: middle; background: url('{{ cdn_img }}/moaweek/rank.png') 50% 50% no-repeat; background-size:cover;}
    .list-swipe thum { position: relative; padding-top: 100%;}
    .list-swipe thum img { border-radius: 3px 3px 0 0; position: absolute; top:0; left: 0; width: 100%; height: 100%;}
    .list-swipe detail { padding:6px 12px 9px; text-align: center;  }
    .list-swipe name { display: block; font-size: 15px; line-height: 1.35em; margin-top: 3px; max-height: 1.4em; overflow: hidden;}
    .list-swipe price { margin-top:6px; font-size:18px; }
    .list-swipe price s { font-size:11px; color: #bbb;}
    .list-swipe price num {margin-top:3px; display: block;font-weight: bold; font-size: 1em;white-space:nowrap;overflow:hidden;}
    .list-swipe price num:after {content:"원";  font-size: 0.7em;}
    .list-swipe price span { font-weight:bold; font-size: 0.9em;}

    .eg-flick-container {padding-top:100%;padding-bottom:90px;}
    .eg-flick-container .item-wrapper {padding:0 7px;}
</style>

{% if result.promotion_groups %}
    <div id="flick-contents" class="flick" style="position:relative;">
        {% for group in result.promotion_groups %}
            {% for entity in group.entities.promotion_entities %}
                {% with entity.detail as re %}
                    {% if re.url %}
                        <div class="item-wrapper">
                            <item class="list-swipe link-buy"
                                url-path="buyclick"
                                data-url="{{ re.url }}"
                                data-pid="{{ re.pid }}"
                                data-site="{{ re.site }}"
                                data-price="{{ re.price }}"
                                data-from="{{ request.GET.flag }}"
                                data-is_search_item="{{ entity.code }}">
                                <thum>
                                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                                </thum>
                                <detail>
                                    <name>{{ re.name }}</name>
                                    <price>
                                        <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가 </span> {{ re.org_price|default:re.price|intcomma }}</num>
                                        {% if re.price < 9 %}
                                            <span class="c-gray-2">상담/렌탈</span>
                                        {% else %}
                                            <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">최종혜택가 </span>{{ re.low_price|default:re.price|intcomma }}</num>
                                        {% endif %}
                                    </price>
                                </detail>
                            </item>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
