{% load humanize %}
{% load filters %}
{% load filters_test %}

{% if result.data|length > 0 %}
    {% for re in result.data|price_filter %}
        {% if re.is_soldout != 1 and request.GET.source == 'future' or re.is_soldout == 0 and request.GET.source == 'past' %}
            {% if re.status == 1 and re.price|get_int > 9 and re.cate1 != '보험' and not re.name|in_list_substring:'온열매트,질경이 데일리,비발디파크,가족권,시즌권,충주사과,저먼 에어샷,생쥴랑,큐티폴,세라젬,진도끌레베 휘메일,진도끌레베 밍크 휘메일,진도끌레베 엘레강스,진도쉬본,진도끌레베 풀스킨,진도끌레베 후드 휘메일,진도끌레베 하이넥 집업,안나수이,마리앤잭,몽블랑,베즐리 피자,보국,ORT,헤리티지캐시미어 하이넥,신명란,휠라 filativa,휠라 Filativa,고래사,파이어플레이스,엘리사브,팔레오,브리츠,원더브라,애프터샥,골전도,푸마 프리미엄,푸마 2018 NEW 코튼 트렁크,푸마 드라이 ,카처 스팀청소기,베리떼,엘렌실라 프로폴리스,비비안라인핏,라바쥬,비비안 기능성 압박스타킹,송워랕월,신일,퍼즐매트,자이글,엘리자베스 스튜어트,드림스파,카밀리안트,시즌2 아이넥스,홍삼정,베스파(Vespa),첼시스니커즈,첼시부츠,푸마 기능성 긴팔형 브라탑,아메리칸투어리스터,델키,린찐,뱅앤울룹슨,뱅앤올룹슨,야나두,엠포리오아르마니,휴스톰,퀵스티머,비디비치,에뜨레벨,스윙 진공,하임셰프,에브리원 무선청소기,에트로,보테가베네타,발렌티노,안디아타,니키콜롬보,바자르 히트웜,일월 극세사 워셔블 온열매트,메노포즈,휴롬,아키 컴포트,아키 풍기인견,아키 리프팅,아키 프리미엄,아키 노와이어,아키 조끼형,아키 인견,아키 올인원,아키 라이크라,발레리 라이크라,아키 데일리,일룸 슬로우 토퍼 매트리스,포나리나,내 아이를 위한,시디즈,의자,소파스킨스,침대,마블_링고,로얄다이아몬드,엠프리오아르마니,따사마루,에어포스,아리스토우,조이너스 웜라이트,비제바노,에코 무스탕 라이더 재킷,시네쿠아논,헤리티지캐시미어 남성 터틀넥,헤리티지캐시미어 우븐 양면 머플러,헤리티지캐시미어 후디 롱 니트코트,임패리얼오션,위닉스,공기청정기,냉장고,TV,아이스티머,삼성 파워건,TS샴푸,TS,시원스쿨,삼성,LG,AHC,구찌,쿠진,피오리오,소어비,파세르,나담,순금,24K,18K,14K,블랑코르,임페리얼오션,한샘,송도순,핀즐,퀵스티머 엑세스 스팀,테팔 휴대용 멀티 다리미판,라씨엔토 밍크 풀스킨,이지스팀백,신일 초절전 에코히터,로얄너츠,저스트마이사이즈,에크루 헹롱,살다리니,펜디,정호영 ,오토싱,경동나비엔,아이챌린지,두배로,쿠쿠,루체오르,타카바스,피지오겔,씰리,온열요,왕혜문,숀리 스쿼트,퓨리케어,A.S.98,아이스티머,쿠쿠,아이챌린지,쿠쿠,타카바스,삼성 H9000,삼성 양문형,삼성 T9000,DIOS 전기레인지,삼성 파워스틱,삼성 액티브워시,삼성 애드워시,삼성 건조기,삼성 파워모션,삼성 파워봇,삼성 핸디청소기,삼성 드럼세탁기,AHC 레드세럼,프라다,버버리,페라가모,발렌시아가,삼성 공기청정기,삼성노트북,삼성 UHD,삼성 Full HD,트롬 스타일러,트롬 전기식,트롬 대용량 의류건조기,트롬 세탁기,캐리어 클라윈드,바디프랜드,야드로 나오램프,견미리팩트,에이지투웨니스' %}
                <div class="list-interest position-relative">
                    {% if re|get_live_status == 2 %}
                    <alarm class="alarm-entity {% if re.alarm_action_id > 0 %}on{% endif %}"
                           alarm_action_id="{{ re.alarm_action_id }}"
                           data-entity_id="{{ re.id }}"
                           data-name="{{ re.name }}"
                           data-price="{{ re.price }}"
                           data-genre2="{{ re.genre2 }}"
                           data-img="{{ re.img }}"
                           data-start_time="{{ re.start_time }}"
                           data-end_time="{{ re.end_time }}"
                           data-from="{{ request.GET.flag|default:'event_event,hmall_20181224' }}"/>
                    {% endif %}
                    <item class="list-basic link-buy"
                          url-path="buyclick"
                          data-url="{{ re.url }}"
                          data-entity_id="{{ re.id }}"
                          data-site="{{ re.genre2 }}"
                          data-cate="{{ re.cate1 }}"
                          data-rank="{{ re.rank }}"
                          data-price="{{ re.price }}"
                          data-live="{{ re|get_live_status }}"
                          data-query="{{ request.GET.query }}"
                          data-alarm_action_num="{{ re.alarm_action_num }}"
                          data-from="{{ request.GET.flag|default:'event_event,hmall_20181224' }}">
                        <thum>
                            {% if re|get_live_status == 1 %}<play></play>{% endif %}
                            <img class="ribbon" style="position: absolute; left:4px; top:4px; z-index: 999; width:60px; height:auto;"
                                 src="http://thum.buzzni.com/unsafe/https://s3-ap-northeast-1.amazonaws.com/hsmoa-image/product-manager/2018/12/21/5bc5ae18-6ee3-492d-8634-7da25c91a82a.png" onerror="this.style.display='none'"/>
                            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                            {% if re.is_soldout == 1 %}
                                <soldout></soldout>
                            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                                <soldout class="onlive"></soldout>
                            {% endif %}
                        </thum>
                        <detail style="text-align:left;">
                            <site>
                                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                            </site>
                            {% if request.GET.source == 'future' %}
                                <time class="c-gray-3">
                                    {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                                </time>
                            {% endif %}
                            <name>{{ re.name }}</name>
                            <price>
                                <s>{% if re.org_price|get_int > re.price|get_int %}{{ re.org_price|intcomma }}원{% endif %}</s>

                                {% if re.price|get_int < 9 %}
                                    <span class="c-gray-2">상담/렌탈</span>
                                {% else %}
                                    <num class="c-red-3">{{ re.price|intcomma }}</num>
                                {% endif %}
                            </price>
                        </detail>
                    </item>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}