{% load humanize %}
{% load filters %}

{% if request.GET.page == '1' or request.GET.page == '' %}
<style>

    .list-swipe {position:relative; overflow:hidden; width:140px; display:inline-block; margin:1px 5px 5px 0; border-radius:2px; box-shadow:0 0 1px #ddd;}
    .list-swipe item {background-color:#fff;}
    .list-swipe thum {padding-top:100%; position:relative;}
    .list-swipe thum img { position:absolute; top:0;left:0;right:0;bottom:0;}
    .list-swipe detail { padding:6px 10px 8px; width:auto; text-align:left;}
    .list-swipe site img {height:18px; }
    .list-swipe time {font-size:11px; position:absolute; right:8px; top:150px; letter-spacing:-0.5px;}
    .list-swipe name { display:block; font-size:12px; text-align:left; line-height:1.3em; margin-top:4px; height:2.4em; overflow:hidden; white-space:normal;}
    .list-swipe sale {font-size:28px;display:inline-block;margin:7px 0 0; }
    .list-swipe price { margin-top:14px;}
    .list-swipe price s { display:none;}
    .list-swipe price num { font-size:15px; display:block;font-weight:bold;}
    .list-swipe price num:after {content:"원"; font-size:0.7em;}
    .list-swipe-more { position:relative; overflow:hidden; width:80px; height:246px;box-sizing:border-box; margin:1px 1px 5px 0; border-radius:2px; box-shadow:0 0 1px #ddd;
        display:inline-block; vertical-align:top;}
    #item_more_wrapper {vertical-align:top; width:70px;height:100%;text-align:center;}
    .list-swipe end { position:absolute; bottom:0; left:0; right:0; background:rgba(0, 0, 0, 0.25); color:#fff; font-size:13px; padding:5px 10px; text-align:center; z-index:99;}
    @media screen and (min-width:540px) {
        .list-swipe { width:170px;}
        .list-swipe time {top:180px; }
        .list-swipe-more {height:266px;}
    }
</style>
{% endif %}

{% for re in result.data %}
    {% if re.price >= 9 %}
        <div class="list-swipe">
            <item class="link-service"
                  url-path="item"
                  data-entity_id="{{ re.id }}"
                  data-site="{{ re.genre2 }}"
                  data-rank="{{ forloop.counter }}"
                  data-live="{{ re.live_status }}"
                  data-price="{{ re.price }}"
                  data-from="{{ request.GET.flag }}">
                <thum>
                    <img src="{{ thum320 }}/{{ re.img }}"
                         onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'"/>
                </thum>
                <detail>
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                    </site>
                    <time class="c-gray-3">
                        {{ re.date|time_format:'md' }} {{ re.start_time }}
                    </time>
                    <name>{{ re.name }}</name>
                    <price>
                        {% if re.price|get_int < 9 %}
                            <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                        {% else %}
                            <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                </detail>
            </item>
            {% if re.live_status == 2 %}
                <alarm class="mini alarm-entity {% if re.alarm_action_id > 0 %}on{% endif %}"
                       alarm_action_id="{{ re.alarm_action_id }}"
                       data-entity_id="{{ re.id }}"
                       data-name="{{ re.name }}"
                       data-price="{{ re.price }}"
                       data-genre2="{{ re.genre2 }}"
                       data-img="{{ re.img }}"
                       data-start_time="{{ re.start_time }}"
                       data-end_time="{{ re.end_time }}"
                       data-from="{{ request.GET.flag }}"
                       style="position:absolute;bottom:7px;right:7px;z-index:99;"/>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}