{% load humanize %}
{% load filters %}
<!--
entity가 있으면서 미분류로 분류되지 않는 상품을 순위별로 출력합니다.
-->
{% if result.promotion_groups %}
    {% for group in result.promotion_groups %}
        <div class="promotion-group group-{{ group.name }}">
        {% for entity in group.entities.promotion_entities %}
            {% with entity.detail as re %}
                {% if re.url %}
                    <item class="link-buy list-basic"
                        url-path="promotion_click"
                        data-url="{{ re.url }}"
                        data-pid="{{ re.pid }}"
                        data-id="{{ re.pid }}"
                        data-site="{{ re.site }}"
                        data-price="{{ re.price }}"
                        data-from="{{ request.GET.flag }}"
                        data-is_search_item="{{ entity.code }}">
                        <thum>
                            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        </thum>
                        <detail>
                            <site>
                                <img src="{{ media }}/hsmoa/logo/logo_{{ entity.genre2 }}.png"/>
                            </site>
                            <name>{{ re.name }}</name>
                            <price>
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s>{{ re.org_price|intcomma }}원</s>
                                {% endif %}
                                {% if re.price < 9 %}
                                <span class="c-gray-2">상담/렌탈</span>
                                {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                                {% endif %}
                            </price>
                        </detail>
                    </item>
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    {% endfor %}
{% endif %}
