{% load humanize %}
{% load filters %}
{% if request.GET.page == '1' or request.GET.page == '' %}
    <style>

        .tag {position: absolute; right:0; top:0; line-height: 13px;  padding: 3px 6px 2px 6px;  text-align: center;  color: #fff;  font-size: 11px;  }
        .tag.tvshop { background:#43bee2; border-radius: 0 0 0 2px;}

        .grid-box .list-basic {margin-bottom: 0px;}
        .grid-box .list-basic thum {width:128px; height:128px; left:8px; top:8px; border-radius: 2px; overflow: hidden;}
        .grid-box .list-basic detail {padding-left: 148px; padding-top: 6px;}
        .grid-box .list-basic .meta {margin-top: 7px; font-size: 12px;}
        
        .grid-box {margin-bottom: 10px; }
        .list-basic .meta .review-rate { top:-3px;}

        .grid-style .grid-box {display: inline-block; margin-bottom:0px; background: #fff; width: 50%; padding: 10px 10px 0px 10px; box-sizing:border-box; position: relative; vertical-align: top; }
        .grid-style .grid-box:nth-child(2n){}
        .grid-style .grid-box:nth-child(2n+1){}

        .grid-style .grid-box .list-basic { background:#fff; position: relative; display: block; border-radius: 2px;}
        .grid-style .grid-box .list-basic .tag {border-radius: 0 2px 0 0;}
        .grid-style .grid-box .list-basic thum { padding-top: 100%; position: relative; width: 100%; left:0; top:0;}
        .grid-style .grid-box .list-basic thum img { position: absolute; top:0; left:0;}
        .grid-style .grid-box .list-basic detail {text-align:left;padding:6px 0;width:auto;height:auto;position:static;}
        .grid-style .grid-box .list-basic site img {width:48px; vertical-align: middle; margin-top: -1px; }
        .grid-style .grid-box .list-basic name { display: block; font-size: 15px; text-align: left; line-height: 1.3em; margin-top: 2px; max-height: 2.4em; height:auto; overflow: hidden;}
        .grid-style .grid-box .list-basic price { margin-top: 8px; position: static;}
        .grid-style .grid-box .list-basic price s { display: none;}
        .grid-style .grid-box .list-basic price num { font-size:16.5px; display: block;font-weight: bold;}
        .grid-style .grid-box .list-basic price num:after {content:"원";  font-size: 0.7em;}
        .grid-style .grid-box .list-basic .meta {display:none;opacity: 0; position: absolute; z-index: 3; width:100%; left: 0; bottom:2px; font-size: 11px; box-sizing: border-box; padding:0; height:20px; line-height: 20px;}
        .grid-style .grid-box .list-basic .meta .review-rate {top:1px;}

        .grid-style .grid-box.first { width: 100%;}
        .grid-style .grid-box.first { width: 100%;}
        .grid-style .grid-box.first .list-basic thum { padding-top: 57%; position: relative; width: 100%; left:0; top:0; text-align: center;}
        .grid-style .grid-box.first .list-basic thum img { position: absolute; top:0; left:0; width: 100%;}
        .grid-style .block-hide {display: none;}


        @media screen and (max-width: 359px) {
            .grid-style .list-basic .meta .trans {letter-spacing: -1px}
        }

    </style>

{% endif %}
{% if result.data|length > 0 %}
    {% for re in result.data %}<div class="grid-box">
            <item class="list-basic link-buy"
                  url-path="promotion_click"
                  data-from="{{ request.GET.flag }}"
                  data-id="{{ re.goods_id }}"
                  data-url="{{ re.url }}"
                  data-site="{{ re.genre2 }}"
                  data-img="{{ re.img }}"
                  data-query="{{ request.GET.query }}"
                  data-rank="{{ re.rank }}"
                  data-name="{{ re.name }}"
                  data-price="{{ re.price }}"
                  data-is_ad="{{ re.is_ad }}"
                  data-has_live="0">
                <thum>
                    {% if ".gif" in re.img or ".GIF" in re.img %}
                        <img src="{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                    {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                    {% endif %}
                </thum>
                <detail>
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.name }}</name>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative" style="display: inline-block;height:13px;">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate" >{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px;">|</span> {% endif %}
                        {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                        {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                    </div>
                    {% endif %}
                    <price >
                        {% if re.org_price|get_int > re.price|get_int %}
                            <s>{{ re.org_price|intcomma }}원</s>
                        {% endif %}
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                </detail>
            </item>
    </div>{% endfor %}
{% endif %}