{% load humanize %}
{% load filters %}
{% if request.GET.page == '1' or request.GET.page == '' %}
    <style>

        .list-basic rank { border-radius: 30px; background: #F25862; opacity: 0.9; color: #fff; margin: -6px; width: 36px; height: 36px; font-size: 18px; line-height: 36px; padding: 1px 0 0 1px;}
        .list-basic rank:after { content:"위"; font-size:0.4em;}
    </style>

{% endif %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        {% if forloop.counter0 < request.GET.num|add:0|default:10 %}
            <div>
                <item class="list-basic link-buy"
                      url-path="searchclick"
                      data-from="{{ request.GET.flag }}"
                      data-id="{{ re.goods_id }}"
                      data-url="{{ re.url }}"
                      data-site="{{ re.genre2 }}"
                      data-img="{{ re.img }}"
                      data-query="{{ request.GET.query }}"
                      data-rank="{{ re.rank }}"
                      data-name="{{ re.name }}"
                      data-price="{{ re.price }}"
                      data-is_ad="{{ re.is_ad }}"
                      style="text-align:left;">
                    <rank>{{ forloop.counter }}</rank>
                    <thum>
                        {% if ".gif" in re.img or ".GIF" in re.img %}
                            <img src="{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        {% else %}
                            <img src="{{ thum320 }}/{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        {% endif %}
                        {% if re.soldout %}<soldout/>{% endif %}
                        {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                            <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                                <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                            </div>
                        {% endif %}
                    </thum>
                    <detail class="compare">
                        <site>
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.compare_info.genre2 }}.png" onerror="this.src='{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png'" />
                        </site>
                        <name>{{ re.name_simple|default:re.name }}</name>
                        <price>
                            {% if re.org_price|default:re.price|get_int > re.low_price|get_int %}
                                <s>{{ re.org_price|default:re.price|intcomma }}원</s>
                            {% endif %}
                            {% if re.price < 9 %}
                                <span class="c-gray-2">상담/렌탈</span>
                            {% else %}
                                <num class="c-red-3">{{ re.low_price|default:re.price|intcomma }}</num>
                            {% endif %}
                        </price>
                        {% if re.review_rate > 0 or re.review_num > 0 %}
                        <div class="meta c-gray-3" style="margin-top:6px;">
                            {% if re.review_rate > 0 %}
                                <span class="review-rate position-relative">
                                    <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                    <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                            width: {% widthratio re.review_rate 1 20 %}%;"></span>
                                </span>
                                <span class="review-rate-num" >{{ re.review_rate|get_string|slice:':3' }}</span>
                            {% else %}
                                <span class="review-rate position-relative" style="width: 1px; margin: 0 -2px;"><span></span></span>
                            {% endif %}
                            {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-1" style="margin:0px 1px;">|</span> {% endif %}
                            {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                            {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                        </div>
                        {% endif %}
                    </detail>
                </item>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}