{% load humanize %}
{% load filters %}

{% for story in result.data %}
    <div class="story-wrapper">
        <div class="story story-{{ story.id }}" data-story_author="{{ story.user_id }}" data-story_no="story-{{ story.id }}">
            <div class="main">
                <div class="main-header">
                    <div class="story-author">{{ story.value.nickname }}</div>
                    <div class="story-tag">
                        <div class="story-category">
                            {% if story.value.category == '추억거리' %}
                                <img src="{{ thum }}/smart/https://i.imgur.com/t9A0ruS.png">
                            {% elif story.value.category == '고민거리' %}
                                <img src="{{ thum }}/smart/https://i.imgur.com/og8F5F6.png">
                            {% elif story.value.category == '웃음거리' %}
                                <img src="{{ thum }}/smart/https://i.imgur.com/uH7GyRn.png">
                            {% elif story.value.category == '행복거리' %}
                                <img src="{{ thum }}/smart/https://i.imgur.com/GXETnzq.png">
                            {% else %}
                                <img src="{{ thum }}/smart/https://i.imgur.com/uH7GyRn.png">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="main-body">
                    {{ story.value.body }}
                </div>
                <div class="main-footer">
                    <div class="recommend-item link-service" url-path="item"
                    {% if story.value.recommend_product == '톰슨 에어프라이어' %}
                        data-entity_id="8656198"
                    {% elif story.value.recommend_product == '견미리팩트' %}
                        data-entity_id="8657704"
                    {% elif story.value.recommend_product == 'AHC 아이크림' %}
                        data-entity_id="8658743"
                    {% elif story.value.recommend_product == '홍샷 파운데이션' %}
                        data-entity_id="8654832"
                    {% elif story.value.recommend_product == '퍼실 세제' %}
                        data-entity_id="8652894"
                    {% elif story.value.recommend_product == '차앤박 마데카소사이드 크림' %}
                        data-entity_id="8658381"
                    {% elif story.value.recommend_product == '비엔엑스 트렌치코트' %}
                        data-entity_id="8656153"
                    {% elif story.value.recommend_product == 'TS샴푸' %}
                        data-entity_id="8654163"
                    {% elif story.value.recommend_product == '종근당건강 락토핏 생유산균' %}
                        data-entity_id="8651732"
                    {% elif story.value.recommend_product == '소유 현아의 연홍이 연녹이 세트' %}
                        data-entity_id="8655494"
                    {% endif %}
                        data-from="event_event,story1_20180912">
                        {{ story.value.recommend_product }}
                    </div>
                    <div class="btn-group">
{#                        <div class="btn-wrapper btn-comment"><div class="icon comment"></div><div class="count">{{ story.value.comments|length }}</div></div>#}
                        <div class="btn-wrapper btn-like {% if request.GET.xid in story.value.like_users %}active{% endif %}">
                            <div class="icon like {% if request.GET.xid in story.value.like_users %}active{% endif %}"></div>
                            <div class="count">{{ story.value.like_users|length }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-wrapper">
                <div class="comment-form">
                    <div class="input-comment"><textarea maxlength="28"></textarea></div>
                    <div class="btn-submit-comment"><button>등록</button></div>
                </div>
                <div class="comment-list">

                    {% if story.value.comments|length > 0 %}
                        {% for comment in story.value.comments %}
                            {% if request.GET.num == '123' or forloop.counter < 4 %}
                                <div class="comment">
                                    <div class="comment-author">{{ comment.author }}</div>
                                    <div class="comment-body">{{ comment.body }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="no-comment">댓글이 없습니다. 첫 댓글을 남겨보세요!</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}