{% load humanize %}
{% load filters %}
{% if result.data %}
    <div class="mark-date">{{ request.GET.date|get_string|slice:"4:6" }}월 {{ request.GET.date|get_string|slice:"6:8" }}일 방송상품</div>
    {% for result in result.data %}
        {% for re in result.data %}
            {% if re.cate1 != "보험" and re.price > 9 and not re.is_mileage %}
                {% if re.genre2 == 'gsmyshop' and re.cate1 != "여행·레저" %}
                    <div id="list_{{ re.id }}" class="timelinelist position-relative b-white shadow-light" style="margin:7px;" >
                        <a href="javascript:buy_click('{{ re.url }}', '{{ re.id }}', '{{ re.genre2 }}', '{{ re.price }}', '{{ re.cate1 }}', '{{ request.GET.flag1 }}', '{{ re.live_status }}');">
                            <div class="display-table position-relative">
                                <div class="table-cell" style="width:142px;height:142px; ">
                                    {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                                    <img src="{{ thum }}/320x320/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/{{ cdn_img }}/noimg.png';" />
                                </div>
                                <div class="table-cell-9" style="width:12px;"></div>
                                <div class="table-cell">
                                    <div class="clear-9"></div>
                                    <img src="{{ cdn_img }}/logo/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                                    <span class="font-10" style="color:#eee;margin:0 3px 0 3px;">|</span>
                                    {% if re.live_status == 1 %}
                                        <span class="c-lion">현재방송중</span>
                                    {% else %}
                                        <span class="font-11 c-gray spacing">{{ request.GET.date|slice:'4:6' }}월 {{ request.GET.date|slice:'6:8' }}일 {{re.start_time}}</span>
                                    {% endif %}
                                    <div class="clear-9"></div>
                                    <div class="font-16 overflow word-break" style="height:36px;line-height:18px;">
                                        {% if re.name|length < 33 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                                    </div>
                                    <div class="clear-9"></div>
                                    <div class="clear-9"></div>
                                    <div class="clear-9"></div>
                                    <div class="overflow word-break position bottom-9">
                                        {% if re.price > 0 %}
                                            {% if re.org_price > re.price %}
                                                <s class="sale c-gray font-11" style="line-height: 13px;">{{re.org_price|intcomma}}원</s>
                                            {% else %}
                                            {% endif %}
                                            <div class="clear"></div>
                                            <span class="c-lion strong font-16" style="line-height: 18px;">{{re.price|intcomma}}원</span>
                                        {% endif %}
                                    </div>
                                    <div class="block-hide">
                                        <span class="margin-right c-light">◎ {{ re.alarm_action_num|intcomma }}</span>
                                    </div>
                                </div>
                                <div class="table-cell-9"></div>
                            </div>
                        </a>
                        {% if re.id > 0 and re.live_status == 2 %}
                            <div class="position right-7 bottom-9 ">
                                <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                                       onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                                <label class="" for="alarm_action_{{ re.id }}"></label>
                                <div class="clear-2"></div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
