{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if request.GET.flag == re.user.id %}
        <div id="comment_{{ re.id }}" class="list-cmt my ">
            <div class="info">
                <div class="nick-name">{% if re.user.nickname %}{{ re.user.nickname }}(나){% else %}손님(나){% endif %}</div>
{#                        <time class="datetime timeago" datetime="{{ re.create_date|timeago }}"></time>#}
                <div class="speech-bubble">
                    <img src="{{ cdn_img }}/2016/ic_balloon_tail_yellow.png" class="tail"/>
                    <p>{% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}</p>
                    <div class="bottom">
                    </div>
                    {% if request.GET.flag == "E3lwdxbBug" or request.GET.flag == re.user_id %}
                        <button class="bt" onclick="commentRemove('{{ re.id }}',this)" style="margin:6px;background: none; color: #777;">
                            <img src="{{ cdn_img }}/2016/ic_delete_grey.png" style="width: 10px; margin-top: -3px;"  />
                            삭제</button>
                    {% endif %}
                </div>
            </div>
            <div class="profile">
                <img src="{% if re.user.img %}{{ thum }}/120x120/smart/{{ re.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ thum }}/120x120/smart/{{ img }}/ev/olympic/face_{{ re.user.id|get_profile_index }}.png'">
            </div>
        </div>
        {% else %}
        <div id="comment_{{ re.id }}" class="list-cmt ">
            <div class="profile">
                <img src="{% if re.user.img %}{{ thum }}/120x120/smart/{{ re.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ thum }}/120x120/smart/{{ img }}/ev/olympic/face_{{ re.user.id|get_profile_index }}.png'">
            </div>
            <div class="info">
                <div class="nick-name">{% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}</div>
{#                        <time class="datetime timeago" datetime="{{ re.create_date|timeago }}"></time>#}
                <div class="speech-bubble">
                    <img src="{{ cdn_img }}/2016/ic_balloon_tail_white2.png" class="tail"/>
                    <p>{% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}</p>
                    <div class="bottom">
                    </div>
                    {% if request.GET.flag == "E3lwdxbBug"  %}
                        <button class="bt" onclick="commentRemove('{{ re.id }}',this)" style="margin:6px;background: none;">
                            <img src="{{ cdn_img }}/2016/ic_delete_grey.png" style="width: 10px; margin-top: -3px;"  />
                            삭제</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="clear-3"></div>
    {% endfor %}
{% endif %}
