{% load humanize %}
{% load filters %}
{% load filters_test %}

{% if result.data|length > 0 %}
    {% for re in result.data|price_filter %}
        {% if re.status == 1 and re.is_soldout == 0 and re.price|get_int >= 9 %}
            <div class="position-relative">
                {% if re|get_live_status == 2 %}
                <alarm class="alarm-entity {% if re.alarm_action_id > 0 %}on{% endif %}"
                       alarm_action_id="{{ re.alarm_action_id }}"
                       data-entity_id="{{ re.id }}"
                       data-name="{{ re.name }}"
                       data-price="{{ re.price }}"
                       data-genre2="{{ re.genre2 }}"
                       data-img="{{ re.img }}"
                       data-start_time="{{ re.start_time }}"
                       data-end_time="{{ re.end_time }}"
                       data-from="{{ request.GET.flag|default:'event_event,wshop_20181029' }}"
                       style=" position:absolute; top:104px; right:10px; z-index: 99;" />
                {% endif %}
                <item class="list-basic link-service"
                      url-path="item"
                      data-entity_id="{{ re.id }}"
                      data-site="{{ re.genre2 }}"
                      data-cate="{{ re.cate1 }}"
                      data-rank="{{ re.rank }}"
                      data-price="{{ re.price }}"
                      data-live="{{ re|get_live_status }}"
                      data-query="{{ request.GET.query }}"
                      data-from="{{ request.GET.flag|default:'event_event,wshop_20181029' }}">
                    <thum>
                        {% if re|get_live_status == 1 %}<play></play>{% endif %}
                        {% if re.is_mileage == 2 %}
                            <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                                 src="{{ re.ribbon_img }}" onerror="this.style.display='none'"/>
                        {% endif %}
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        {% if re.is_soldout == 1 %}
                            <soldout></soldout>
                        {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                    </thum>
                    <detail style="text-align:left;">
                        <site>
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                        </site>
                        {% if request.GET.source == 'future' %}
                            <time class="c-gray-3">
                                {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                            </time>
                        {% endif %}
                        <name>{{ re.name }}</name>
                        <price>
                            {% if re.org_price|get_int > re.price|get_int %}
                                <s>{{ re.org_price|intcomma }}원</s>
                            {% endif %}
                            {% if re.price|get_int < 9 %}
                                <span class="c-gray-2">상담/렌탈</span>
                            {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                            {% endif %}
                        </price>
                    </detail>
                </item>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}