{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% if request.GET.page == '1' or request.GET.page == '' %}
    <style>
        .list-more {margin:0 10px 20px 10px;font-size:15px;}
        .list-more #item_more_btn {padding:15px;text-align:center;border-radius:4px;border:1px solid #bbbbbb;box-sizing:border-box;font-weight:normal;}
        .list-more #item_more_btn span {font-weight:bold;}

        item detail name {word-break:keep-all;white-space:normal;}
        end {position:absolute; bottom:0; left:0; right:0; background: rgba(0,0,0,0.4); color: #fff; font-size: 13px; padding: 5px 10px; text-align: center; z-index: 99;}

        .sametime-block { margin: -11px 0 10px;}
        .sametime-block .sametime-toggle .arrow-up { display: none; }
        .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
        .sametime-block .sametime-list { display: none;}
        .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
        .sametime-block.on .sametime-toggle .arrow-down { display: none; }
        .sametime-block.on .sametime-list { display: block;}
    </style>
    {% endif %}
    {% for re in result.data|slice:":7"|price_filter %}
    {% if re.date_title %}
        <div class="mark-date c-white {% if request.GET.source == 'past' %}b-coolgray-4{% else %}b-mint-2{% endif %}">
            {% if re.diff_day == 0 %}오늘{% elif re.diff_day == 1 %}내일{% elif re.diff_day == 2 %}모레{% elif re.diff_day == -1 %}어제{% elif re.diff_day == -2 %}그제{% endif %}
            {{ re.date|time_format:'md' }}</div>
    {% endif %}
    <div class="position-relative">
        {% if re.live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style=" position:absolute; top:104px; right:10px; z-index: 99;" />
        {% endif %}
        <item class="list-basic big link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate1 }}"
              data-rank="{{ forloop.counter }}"
              data-price="{{ re.price }}"
              data-query="{{ request.GET.query }}"
              data-live="{{ re.live_status }}"
              data-is_ad="{{ re.is_ad }}"
              data-abtest="{{ request.GET.abtest }}"
              data-from="search"
              data-test_id="hsmoa1221,tvshop_click">
            <thum>
                {% if re.live_status == 1 %}<play/>{% elif request.GET.source == 'past' and re.live_status == 0 %}{% endif %}
                {% if re.is_mileage == 2 %}
                    {% if request.GET.abtest == 'a' %} {# 동그라미디자인  #}
                        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:54px;"
                             src="{{ thum }}/smart/https://i.imgur.com/sV3fb7d.png" onerror="this.style.display='none'"/>
                    {% elif request.GET.abtest == 'b' %} {# 기존리본 #}
                        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                             src="{{ re.ribbon_img }}" onerror="this.style.display='none'"/>
                    {% else %} {# 할인쿠폰멘트 #}
                        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                             src="{{ thum }}/smart/https://i.imgur.com/TZjvbqR.png" onerror="this.style.display='none'"/>
                    {% endif %}
                {% endif %}
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price|get_int < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
        {% if re.same_time_item %}
        <div class="sametime-block">
            <div class="line-bottom"></div>
            <div class="sametime-list">
                {% for item in re.same_time_item %}
                    <item class="list-mini link-service"
                          url-path="searchclick"
                          data-url="{{ item.url }}"
                          data-entity_id="{{ item.id }}"
                          data-site="{{ item.genre2 }}"
                          data-cate="{{ item.cate1 }}"
                          data-rank="{{ forloop.counter }}"
                          data-price="{{ item.price }}"
                          data-query="{{ request.GET.query }}"
                          data-live="{{ item.live_status }}"
                          data-is_ad="{{ item.is_ad }}"
                          data-abtest="{{ request.GET.abtest }}"
                          data-from="search"
                          data-test_id="hsmoa1221,tvshop_sametime_click">
                        <thum>
                            <img src="{{ thum320 }}/{{ item.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        </thum>
                        <detail>
                            <name>{{ item.name }}</name>
                            <price class="c-red-3">
                                {% if item.price < 9 %}
                                <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                                {% else %}
                                <num class="">{{ item.price|intcomma }}</num>
                                {% endif %}
                            </price>
                        </detail>
                    </item>
                    <div class="line-bottom"></div>
                {% endfor %}
            </div>
            <div class="sametime-toggle b-white c-gray-3 align-center" data-id style="height: 32px; line-height: 32px; font-size: 12px;">
                같은 시간대 방송상품 <span class="c-black">{{ re.same_time_item|length }}</span>개
                <img class="arrow-down" src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                <img class="arrow-up" src="{{ media }}/hsmoa/icon/arrow_up.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="list-more">
        <div id="item_more_btn" class="link-service b-white"
                url-path="search/timeline"
                data-tab="{{ request.GET.source }}"
                data-query="{{ request.GET.query }}"
                data-from="search"
                data-abtest="{{ request.GET.abtest }}"
                data-test_id="hsmoa1221,tvshop_more_click"
                style="width:100%;">
            <span>편성표 상품</span> 더보기 >
        </div>
    </div>
    <script>
        //같은시간대 방송상품
        $.Fastclick(".sametime-toggle", function() {
            $(this).parent().toggleClass("on");
        });
    </script>
{% endif %}