{% load humanize %}
{% load filters %}
<!-- 대체어 사용 시 문구 출력 -->
{% if request.GET.page == '1' and result.is_replace and result.replace_query|length > 1 %}
    <div id="fixquery" class="c-gray-4 align-center" style="font-size: 14px; margin: 0 0 10px; line-height: 1.3em; background: #f5f6f8; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px; ">
        수정된 검색어 <span class="c-black strong">"{{ result.replace_query }}"</span>의<br/>검색결과를 보여드립니다.
    </div>
{% endif %}
{% if result.data|length > 0 %}
<style>
    .list-swipe-alarm { position: relative; overflow: hidden; width: 164px; display: inline-block; margin: 1px 5px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd; vertical-align:bottom;}
    .list-swipe-alarm .mark-date {margin: 5px auto 10px;}
    .list-swipe-alarm item { background:#fff; position:relative;}
    .list-swipe-alarm thum { padding-top: 100%; position: relative;}
    .list-swipe-alarm thum img { position: absolute; top:0;}
    .list-swipe-alarm detail { padding:6px 10px 8px; width:auto;}
    .list-swipe-alarm site img {height:18px; }
    .list-swipe-alarm time {font-size: 11px; position:absolute; right:8px; top:174px; letter-spacing: -0.5px;}
    .list-swipe-alarm name { display: block; font-size: 13px; text-align: left; line-height: 1.3em; margin-top: 4px; height: 2.4em; overflow: hidden; white-space:normal;}
    .list-swipe-alarm sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
    .list-swipe-alarm price { margin-top: 14px;}
    .list-swipe-alarm price s { display: none;}
    .list-swipe-alarm price num { font-size:15px; display: block;font-weight: bold;}
    .list-swipe-alarm price num:after {content:"원";  font-size: 0.7em;}
    .list-swipe-more { position: relative; overflow: hidden; width: 80px; height:260px;box-sizing: border-box; margin: 1px 1px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd;
        display: inline-block; vertical-align: bottom;}
    #item_more_wrapper {vertical-align: top; width:70px;height:100%;text-align: center;}

    .list-swipe-alarm end { position: absolute; bottom:0; left:0; right:0; background: rgba(0,0,0,0.4); color: #fff; font-size: 13px; padding: 5px 10px; text-align: center; z-index: 99;}

    @media screen and (min-width: 540px) {
        .list-swipe-alarm {width: 187px;}
        .list-swipe-alarm time {top:197px; }
        .list-swipe-more {height:283px;}
    }

    .list-more {margin:0 10px 20px 10px;font-size:15px;}
    .list-more #item_more_btn {padding:15px;text-align:center;border-radius:4px;border:1px solid #bbbbbb;box-sizing:border-box;font-weight:normal;}
    .list-more #item_more_btn span {font-weight:bold;}
</style>
    <!-- API로 불러올 영역 -->
    <div id="tvshop_result" style="width:100%; box-sizing:border-box; padding:0 10px 5px 10px; overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling: touch; white-space: nowrap; min-height: 260px;">
        {% for re in result.data|price_filter %}
        {% if forloop.counter < 11 %}
        <div class="list-swipe-alarm" >
        {% if re.date_title %}
            <div class="mark-date c-white {% if request.GET.source == 'past' %}b-coolgray-4{% else %}b-mint-2{% endif %}">
                {% if re.diff_day == 0 %}오늘 방송{% elif re.diff_day == 1 %}내일 방송{% elif re.diff_day == 2 %}모레 방송{% elif re.diff_day == -1 %}어제 방송{% elif re.diff_day == -2 %}그제 방송
                {% else %}{{ re.date|time_format:'md' }}{% endif %}</div>
        {% endif %}
            <item class="link-service"
                url-path="item"
                data-entity_id="{{ re.id }}"
                data-site="{{ re.genre2 }}"
                data-rank="{{ forloop.counter }}"
                data-cate="{{ re.cate1 }}"
                data-live="{{ re.live_status }}"
                data-price="{{ re.price }}"
                data-query="{{ request.GET.query }}"
                data-is_ad="{{ re.is_ad }}"
                data-abtest="b"
                data-from="search"
                data-test_id="hsmoa1221,tvshop_click">
                <thum>
                    {% if re.live_status == 1 %}<play/>{% elif request.GET.source == 'past' and re.live_status == 0 %}{% endif %}
                    {% if re.is_mileage == 2 %}
                        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                             src="{{ re.ribbon_img }}"
                            onerror="this.style.display='none'"/>
                    {% endif %}
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                </thum>
                <detail>
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                    </site>
                    <time class="c-gray-3">
                        {% if re.live_status == 1 %}<span class="c-red-1" style="opacity:0.8;">현재방송중</span>{% else %}{{ re.date|time_format:'md' }} {{re.start_time }}{% endif %}
                    </time>
                    <name>{{ re.name }}</name>
                    <price>
                        {% if re.price|get_int < 9 %}
                            <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                        {% else %}
                            <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                </detail>
            </item>
            {% if re.live_status == 2 %}
            <alarm class="mini alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                alarm_action_id="{{ re.alarm_action_id }}"
                data-entity_id="{{ re.id }}"
                data-name="{{ re.name }}"
                data-price="{{ re.price }}"
                data-genre2="{{ re.genre2 }}"
                data-img="{{ re.img }}"
                data-start_time="{{ re.start_time }}"
                data-end_time="{{ re.end_time }}"
                style=" position:absolute; bottom:7px; right: 7px; z-index: 99;" />
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="list-swipe-more b-white">
            <div id="item_more_wrapper" class="link-service"
                    url-path="search/timeline"
                    data-tab="{{ request.GET.source }}"
                    data-query="{{ request.GET.query }}"
                    data-from="search_more_middle"
                    data-abtest="b"
                    data-test_id="hsmoa1221,tvshop_more_middle_click"
                    style="width:100%;">
                <img src="{{ thum }}/120x90/top/smart/{{ img }}/content_more.png" style="margin:80px auto 8px; width:64px;">
                <div class="c-gray-4" style="font-size: 12px; line-height: 1.3em;">예정/이전<br/>방송보기</div>
            </div>
        </div>
    </div>
{% endif %}