{% load humanize %}
{% load filters %}
{% if request.GET.page == '1' or request.GET.page == '' %}
    <style>
        #quality_cs_set {margin-top: 10px;}

        .tag {position: absolute; right:0; top:0; line-height: 13px;  padding: 3px 6px 2px 6px;  text-align: center;  color: #fff;  font-size: 11px;  }
        .tag.tvshop { background:#43bee2; border-radius: 0 0 0 2px;}

        .grid-box .list-basic {margin-bottom: 0px;}
        .grid-box .list-basic thum {width:128px; height:128px; left:8px; top:8px; border-radius: 2px; overflow: hidden;}
        .grid-box .list-basic detail {padding-left: 148px; padding-top: 6px;}
        .grid-box .list-basic .meta {margin-top: 7px; font-size: 12px;}
        
        .grid-box {margin-bottom: 10px; }
        .list-basic .meta .review-rate { top:-3px;}

        .grid-style .grid-box {display: inline-block; margin-bottom: 0px; background: #fff; width: 50%; padding: 10px 10px 0px 10px; box-sizing:border-box; position: relative; vertical-align: top; border-bottom: 1px solid #eaedef;}
        .grid-style .grid-box:nth-child(2n){border-right:1px solid #fff;}
        .grid-style .grid-box:nth-child(2n+1){border-left:1px solid #eaedef;}

        .grid-style .grid-box .list-basic { background:#fff; position: relative; display: block; border-radius: 2px;}
        .grid-style .grid-box .list-basic .tag {border-radius: 0 2px 0 0;}
        .grid-style .grid-box .list-basic thum { padding-top: 100%; position: relative; width: 100%; left:0; top:0;}
        .grid-style .grid-box .list-basic thum img { position: absolute; top:0; left:0;}
        .grid-style .grid-box .list-basic detail { padding:6px 0; width:auto; height:120px; position:static;}
        .grid-style .grid-box .list-basic site img {width:52px; vertical-align: middle; margin-top: -1px; }
        .grid-style .grid-box .list-basic name { display: block; font-size: 15px; text-align: left; line-height: 1.3em; margin-top: 2px; max-height: 2.4em; height:auto; overflow: hidden;}
        .grid-style .grid-box .list-basic price { margin-top: 8px; position: static;}
        .grid-style .grid-box .list-basic price s { display: none;}
        .grid-style .grid-box .list-basic price num { font-size:16.5px; display: block;font-weight: bold;}
        .grid-style .grid-box .list-basic price num:after {content:"원";  font-size: 0.7em;}
        .grid-style .grid-box .list-basic .meta {position: absolute; z-index: 3; width:100%; left: 0; bottom:2px; box-sizing: border-box; padding:0; height:20px; line-height: 20px;}
        .grid-style .grid-box .list-basic .meta .review-rate {top:1px;}
        
        /* 비슷한 상품 그룹핑*/

        .grid-box .compare-btn { background: white; padding: 10px 0; }
        .grid-box .compare-text { text-align: center; font-size:13px;}
        .grid-style .grid-box .line-bottom {display: none;}        
        .grid-style .grid-box .compare-btn {display: none;}

        @media screen and (max-width: 359px) {
            .grid-style .list-basic .meta .trans {letter-spacing: -2px}                        
            .grid-style .list-basic .meta .review-ct {letter-spacing: -1px}        
        }

        @media screen and (min-width: 540px) {
            .grid-style .grid-box { width:33.33%;}
            .grid-style .grid-box:nth-child(3n+1){border-right:1px solid #fff; border-left:0;}
            .grid-style .grid-box:nth-child(3n+2){border-left:1px solid #eaedef; border-right:0;}
            .grid-style .grid-box:nth-child(3n){border-left:1px solid #eaedef; border-right:0;}
        }
        @media screen and (min-width: 720px) {
            .grid-style .grid-box { width:25%;}
            .grid-style .grid-box:nth-child(4n) { border-right:1px solid #fff; border-left:0;}
            .grid-style .grid-box:nth-child(4n+1) { border-left:1px solid #eaedef; border-right:0;}
            .grid-style .grid-box:nth-child(4n+2) {border-left:1px solid #eaedef; border-right:0;}
            .grid-style .grid-box:nth-child(4n+3) {border-left:1px solid #eaedef; border-right:0;}
        }
    </style>
    <script>
        // 검색결과 갯수 추가
        $("#numGoods").html("<strong>{{ result.count|intcomma }}</strong>개 상품");
        $("#block_meta").show();

        //연관검색어를 중간에 추가
        if ($(".grid-box").length > 11 && $("#relatequery_scroll").length == 1) {
            $(".grid-box").eq(11).after("<div class='relate-box'></div>");
            $(".relate-box").html($("#relatequery_scroll").html());
            if($(window).width()<540){
                $(".grid-box").eq(11).after($("<div></div>"));
            }else if($(window).width()<720){
                $(".grid-box").eq(11).after($("<div></div><div></div>"));
            }else if($(window).width()>=720){
                $(".grid-box").eq(11).after($("<div></div><div></div><div></div>"));
            }
        }
    </script>
{% endif %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <div class="grid-box">
        {% if re.compare_info.pids_cnt > 1 and request.GET.is_compare_search %}
            {% if re.compare_info.genre2 %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                    data-from="search"
                    data-id="{{ re.compare_info.goods_id }}"
                    data-url="{{ re.compare_info.rep_url }}"
                    data-site="{{ re.compare_info.genre2 }}"
                    data-img="{{ re.compare_info.thumbnail }}"
                    data-query="{{ request.GET.query }}"
                    data-rank="{{ re.rank }}"
                    data-name="{{ re.compare_info.rep_name }}"
                    data-price="{{ re.compare_info.rep_price }}"
                    data-is_ad="{{ re.is_ad }}"
                    data-flag="{{ re.group_id }}" 
                    data-genre2="{{ request.GET.genre2 }}">
            {% else %}
            <item class="list-basic link-buy"
            url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.compare_info.rep_url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.compare_info.thumbnail }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-price="{{ re.compare_info.rep_price }}"
                data-is_ad="{{ re.is_ad }}"
                data-flag="{{ re.group_id }}"
                data-genre2="{{ request.GET.genre2 }}">
            {% endif %}
                <thum>
                    {% if ".gif" in re.compare_info.thumbnail or ".GIF" in re.compare_info.thumbnail %}
                        <img src="{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if "성인용품" in re.compare_info.rep_name or "자위" in re.compare_info.rep_name or "남성용품" in re.compare_info.rep_name or "명기" in re.compare_info.rep_name or "오나홀" in re.compare_info.rep_name or "딜도" in re.compare_info.rep_name or "야한" in re.compare_info.rep_name or "공기인형" in re.compare_info.rep_name or "에어돌" in re.compare_info.rep_name or "안나뮤" in re.compare_info.rep_name or "레그에비뉴" in re.compare_info.rep_name %}
                    <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                        <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                    </div>
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                </thum>
                <detail class="compare">
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.compare_info.genre2 }}.png" onerror="this.src='{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png'" />
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.compare_info.rep_name }}</name>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative" style="display: inline-block;height:13px;">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px; font-size:12px">|</span> {% endif %}
                        {% if re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>{% endif %}
                    </div>
                    {% endif %}
                    <price>
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.compare_info.rep_price|intcomma }}</num>
                        {% endif %}
                    </price>
                </detail>
            </item>
            <div class="line-bottom"></div>
            <div class="link-service compare-btn"
                url-path="group"
                data-from="search" 
                data-id="{{ re.compare_info.goods_id }}" 
                data-site="{{ re.compare_info.genre2 }}"
                data-group_id="{{ re.group_id }}" 
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-flag="{{ re.group_id }}" 
                data-genre2="{{ request.GET.genre2 }}">
                <div class="compare-text">
                    판매처 <b>{{ re.compare_info.pids_cnt }}</b>개 더보기 <span style="opacity:0.8; padding-left:6px;">〉</span>
                </div>
            </div>
        {% else %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.img }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.name }}"
                data-price="{{ re.price }}"
                data-is_ad="{{ re.is_ad }}"
                data-genre2="{{ request.GET.genre2 }}">
                <thum>
                    {% if ".gif" in re.img or ".GIF" in re.img %}
                        <img src="{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                    {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                    {% endif %}
                </thum>
                <detail>
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.name }}</name>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative" style="display: inline-block;height:13px;">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px; font-size:12px">|</span> {% endif %}
                        {% if re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>{% endif %}
                    </div>
                    {% endif %}
                    <price >
                        {% if re.org_price|get_int > re.price|get_int %}
                            <s>{{ re.org_price|intcomma }}원</s>
                        {% endif %}
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                    
                </detail>
            </item>
        {% endif %}
        {% if forloop.counter == 1 and exposed %}
            <script>
                // 현재 검색결과에 노출된 아이템들을 로깅한다
                logExposedItem('{{ exposed.user_id }}', '{{ exposed.query }}', '{{ exposed.entities|safe }}', {{ exposed.create_date }}, {{ request.GET.page }});

                //검색결과 뷰 통계
                sendStat("search/tvshopSearch", {query:'{{ request.GET.query }}', from:User.sfrom, page:'{{ request.GET.page }}', num:'{{ request.GET.num }}'});
            </script>
        {% endif %}
    </div>{% endfor %}
{% endif %}