{% load humanize %}
{% load filters %}
<!-- 대체어 사용 시 문구 출력 -->
{% if request.GET.page == '1' and result.is_replace and result.replace_query|length > 1 %}
    <div id="fixquery" class="c-gray-4 align-center" style="font-size: 14px; margin: 0 0 10px; line-height: 1.3em; background: #f5f6f8; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px; ">
        수정된 검색어 <span class="c-black strong">"{{ result.replace_query }}"</span>의<br/>검색결과를 보여드립니다.
    </div>
{% endif %}
{% if result.data|length > 0 %}
<style>
    .list-more {margin:0 10px 20px 10px;font-size:15px;}
    .list-more #item_more_btn {padding:15px;text-align:center;border-radius:4px;border:1px solid #bbbbbb;box-sizing:border-box;font-weight:normal;}
    .list-more #item_more_btn span {font-weight:bold;}


    item detail name {word-break:keep-all;white-space:normal;}
    end {position:absolute; bottom:0; left:0; right:0; background: rgba(0,0,0,0.4); color: #fff; font-size: 13px; padding: 5px 10px; text-align: center; z-index: 99;}

    .sametime-block { margin: -11px 0 10px;}
    .sametime-block .sametime-toggle .arrow-up { display: none; }
    .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
    .sametime-block .sametime-list { display: none;}
    .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
    .sametime-block.on .sametime-toggle .arrow-down { display: none; }
    .sametime-block.on .sametime-list { display: block;}
</style>
    <!-- API로 불러올 영역 -->
    <div id="tvshop_result" style="width:100%; box-sizing:border-box;overflow-x:auto;-webkit-overflow-scrolling: touch; white-space: nowrap; min-height: 260px;">
        {% for re in result.data %}
        {% if forloop.counter < 4 %}
        <div class="position-relative" >
        {% if re.live_status == 2 %}
            <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                   alarm_action_id="{{ re.alarm_action_id }}"
                   data-entity_id="{{ re.id }}"
                   data-name="{{ re.name }}"
                   data-price="{{ re.price }}"
                   data-genre2="{{ re.genre2 }}"
                   data-img="{{ re.img }}"
                   data-start_time="{{ re.start_time }}"
                   data-end_time="{{ re.end_time }}"
                   style="position:absolute; right:10px; margin-top:112px; z-index: 99;"/>
            {% endif %}
            <item class="list-basic big link-buy"
                  url-path="searchclick"
                  data-url="{{ re.url }}"
                  data-entity_id="{{ re.id }}"
                  data-site="{{ re.genre2 }}"
                  data-cate="{{ re.cate1 }}"
                  data-rank="{{ forloop.counter }}"
                  data-price="{{ re.price }}"
                  data-query="{{ request.GET.query }}"
                  data-live="{{ re.live_status }}"
                  data-is_ad="{{ re.is_ad }}"
                  data-abtest="b"
                  data-from="search"
                  data-test_id="hsmoa995,tvshop_click">
                <thum>
                    {% if re.live_status == 1 %}<play/>{% elif request.GET.source == 'past' and re.live_status == 0 %}<end>방송종료</end>{% endif %}
                    {% if re.is_mileage == 2 %}
                        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                             src="{{ re.ribbon_img }}"
                            onerror="this.style.display='none'"/>
                    {% endif %}
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                </thum>
                <detail>
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                    </site>
                    <time class="c-gray-3">
                        {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
                    </time>
                    <name>{{ re.name }}</name>
                    <price>
                        {% if re.org_price|get_int > re.price|get_int %}
                            <s>{{ re.org_price|intcomma }}원</s>
                        {% endif %}
                        {% if re.price|get_int < 9 %}
                            <span class="c-gray-2">상담/렌탈</span>
                        {% else %}
                            {% if re.is_mileage == 2 and is_allinweek.status %}
                                <num class="c-red-3">{{ re.promotion_price|get_int|intcomma }}</num>
                            {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                            {% endif %}
                        {% endif %}
                    </price>
                </detail>
                <div class="line-bottom"></div>

                {% if not re.same_time_item %}
{#                <div class="b-white" style="margin-bottom:12px;font-size: 12px; padding:10px 12px; ">#}
{#                    <span class="c-gray-3">1,111명 관심</span>#}
{#                    {% widthratio re.alarm_num 1 7 as score %}{{ score|add:1111|intcomma }} #}
{#                    {% if 1 %}#}
{#                    <span class="pull-right"><span class="c-mint-2" style="margin-right:5px;">10%카드할인</span> <span class="c-purple">무료배송</span></span>#}
{#                    {% endif %}#}
{#                </div>#}
                {% endif %}

            </item>
            {% if re.same_time_item %}
            <div class="sametime-block">
                <div class="line-bottom"></div>
                <div class="sametime-list">
                    {% for item in re.same_time_item %}
                        <item class="list-mini link-buy"
                              url-path="searchclick"
                              data-url="{{ item.url }}"
                              data-entity_id="{{ item.id }}"
                              data-site="{{ item.genre2 }}"
                              data-cate="{{ item.cate1 }}"
                              data-rank="{{ forloop.counter }}"
                              data-price="{{ item.price }}"
                              data-query="{{ request.GET.query }}"
                              data-live="{{ item.live_status }}"
                              data-is_ad="{{ item.is_ad }}"
                              data-abtest="b"
                              data-from="search"
                              data-test_id="hsmoa995,tvshop_sametime_click">
                            <thum>
                                <img src="{{ thum320 }}/{{ item.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                            </thum>
                            <detail>
                                <name>{{ item.name }}</name>
                                <price class="c-red-3">
                                    {% if item.price < 9 %}
                                    <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                                    {% else %}
                                    <num class="">{{ item.price|intcomma }}</num>
                                    {% endif %}
                                </price>
                            </detail>
                        </item>
                        <div class="line-bottom"></div>
                    {% endfor %}
                </div>
                <div class="sametime-toggle b-white c-gray-3 align-center" data-id style="height: 32px; line-height: 32px; font-size: 12px;">
                    같은 시간대 방송상품 <span class="c-black">{{ re.same_time_item|length }}</span>개
                    <img class="arrow-down" src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                    <img class="arrow-up" src="{{ media }}/hsmoa/icon/arrow_up.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="list-more">
            <div id="item_more_btn" class="link-service b-white"
                    url-path="search/timeline"
                    data-tab="{{ request.GET.source }}"
                    data-query="{{ request.GET.query }}"
                    data-from="search"
                    data-abtest="b"
                    data-test_id="hsmoa995,tvshop_more_click"
                    style="width:100%;">
                <span>편성표 상품</span> 더보기 >
            </div>
        </div>
    </div>
    <div class="line-bottom"></div>
    <script>
        //같은시간대 방송상품
        $.Fastclick(".sametime-toggle", function() {
            $(this).parent().toggleClass("on");
        });
    </script>
{% endif %}