<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex" />
        <meta name="format-detection" content="telephone=no"><!-- iOS 웹에서 전화번호를 자동으로 링크로 바꾸는걸 막음 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
{#		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,width=device-width,height=device-height">#}
        {% block meta %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ cdn_img }}/favicon.ico?v=1">
        <link rel="shortcut icon" href="{{ cdn_img }}/favicon.png" type="image/png" />
		<title>{% block title %}{{request.GET.title}}{% endblock %}</title>
        <script type="text/javascript" src="{{ media }}/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
            if (typeof jQuery == 'undefined') { document.write('<script type="text/javascript" src="' + "{{ media }}/jquery-2.1.0.min.js?v="+ Math.floor(Math.random() * 999) + '"></scr' + 'ipt>'); }
            var user_id = "{{ request.META.HTTP_XID }}";
            var user_token = "{{ request.META.HTTP_TOKEN }}";
            var user_app_version = "{{ request.META.HTTP_V }}" || "{{ request.GET.app_version }}";
            if(user_app_version == "") user_app_version = "9.0.5";
            var app_version_count = parseInt(user_app_version.split(".")[0])*10000 + parseInt(user_app_version.split(".")[1])*100  + parseInt(user_app_version.split(".")[2]) ;
            var user_adid = "{{ request.META.HTTP_ADID }}";
            if( user_id == "" ){
                user_id = "{{request.session.user.id}}";
                user_token = "{{request.session.user.token}}";
            }
            if (user_id == ""){
                user_id = "{{request.GET.xid}}";
                user_token = "{{request.GET.token}}";
            }
            var locationHref = "{{ request.META.PATH_INFO }}";
            locationHref = locationHref.replace(/\//gi, "_").substr(1, locationHref.length);<!-- 현재 url path 정보 -->
            var superFrom = "{{ request.GET.from }}"; <!-- 어디로부터 왔는지에 대한 from값 정보 -->
            var abtest = get_abtest(user_id, 3);<!-- AB테스트용 -->
            function get_abtest(_user_id, _count){
                if (_user_id == "") return "a";
                var _ascii = 0;
                var _list = ["a", "b", "c", "d"];
                for(var i=0;i<_user_id.length;i++){
                    _ascii += _user_id.charCodeAt(i);
                }
                return _list[(_ascii % _count)];
            }
        </script>
        {% block css_core %}
            <link rel="stylesheet" href="{{ media }}/native.css?v=8">
            <style>
                .ic-time{ width:14px;height:14px; background: url({{ cdn_img }}/2016/timeline_dot_normal.png) no-repeat 50% 50%; background-size:14px 14px; display: inline-block;}
                .ic-arrow-next{ width:5px;height:10px; background: url({{ cdn_img }}/2016/icon_next.png) no-repeat 50% 50%; background-size:5px 10px; opacity:0.5; display: inline-block;}
                .ic-arrow-white{ width:11px;height:11px; background: url({{ cdn_img }}/2016/icon_next_white.png) no-repeat 50% 50%; background-size:11px 11px; display: inline-block; margin: -1px -2px -1px 0px; }
            </style>
        {% endblock %}
		{% block css_basic %}{% endblock %}
		{% block css %}{% endblock %}
    </head>
	<body>
        {% block container %}{% endblock %}
        {% block bt_up %}
            <div id="bt_up" class="block-hide z-index" style="bottom:4px;right:0px; position:fixed;">
                <a href="javascript:move_to_up();"><img src="{{ cdn_img }}/2016/bt_top.png" style="height:50px;height:50px;"></a>
            </div>
            <script type="text/javascript">
                $(function(){
                    {% if request.META.HTTP_V > "8.8.9" and agent == "android" %}
                        if(locationHref.indexOf("native_home") >= 0 || locationHref == "native_trends" ||locationHref == "native_hotdeal" ||locationHref == "native_tvrank" || locationHref == "native_my_event" ) {
                            if(superFrom != "home"){
                                $(window).scroll(function () {
                                    if ($(this).scrollTop() > 320) { $("#bt_up").show(); } else { $("#bt_up").hide(); }
                                });
                            }
                        }else{
                            $(window).scroll(function () {
                                if ($(this).scrollTop() > 320) { $("#bt_up").show(); } else { $("#bt_up").hide(); }
                            });
                        }
                    {% else %}
                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 150) { $("#bt_up").show(); } else { $("#bt_up").hide(); }
                        });
                    {% endif %}
                });
                function move_to_up(){
                    if ( $(window).scrollTop() > 3000 ){
                        $('html,body').animate({scrollTop: $('body').offset().top}, 0);
                    }else{
                        $('html,body').animate({scrollTop: $('body').offset().top}, 300);
                    }
                }
            </script>
        {% endblock %}
        <script type="text/javascript" src="{{ media }}/native.js?v=2"></script>
        <script type="text/javascript">
        $(function(){
           if(user_id == ""){
               ajax_get("/stat/noxid",{"from":locationHref, "sfrom":superFrom, "appversion":user_app_version, "url":location.href}, function (re) { });
           }
        });
        $("body").on("click", "a" ,function(){
            var _href = $.trim($(this).attr("href"));
            if (_href.search("^(http|javascript|market|tel:|rtsp:|#|/inner/out/link|$|/out/link|$)") == -1 ) {
                var _idx = _href.search(/[\?|&]v=\d+/i);
                if (_idx < 0) {
                    if (_href.search(/\?/i) >= 0) { _href += "&";} else { _href += "?";}
                    _href += "xid=" + user_id;
                }
                $(this).attr("href", _href);
            }
        });
        //ajax get callback
        function ajax_get(url,data,callback,sync){
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                data:_data,
                url:url,
                async:sync,
                success: callback
            });
        }
        //ajax post callback
        function ajax_post(url,data,callback,sync){
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                type:"post",
                data:_data,
                url:url,
                async:sync,
                success: callback
            });
        }
        //ajax post with timeout callback
        function ajax_post_timeout(url,data,callback,sync) {
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                type:"post",
                data:_data,
                url:url,
                async:sync,
                success: callback,
                timeout: 1000,
                error: function() {
                    $.get('/stat/timeout?xid='+user_id+'&url='+url, callback);
                }
            });
        }

        //ajax json callback
        function ajax_json(url,data,callback,type){
            if (type == "" || type == undefined) type = "GET";
            var _url = "http://rpc.hsmoa.com/"+url;
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                type: type,
                beforeSend: function(jqXHR, settings){
                    jqXHR.setRequestHeader("X-Auth-Token", user_token);
                },
                dataType:"json",
                data:_data,
                url:_url,
                success: callback
            });
        }
        //link
        function location_href(url) {
            var _rand = "rand" + Math.floor(Math.random() * 1000000);
            var _trigger = "<a href='"+url+"'><input class='block-hide' id='"+_rand+"' /></a>";
            $("body").append(_trigger);
            $("#"+_rand).trigger("click");
        }
        function location_outlink(url) {
            var _rand = "rand" + Math.floor(Math.random() * 1000000);
            if (is_android_app() || is_ios_app()){
                var trigger = "<a href='/out/link?url="+url+"'><input class='block-hide' id='"+_rand+"' /></a>";
                $("body").append(trigger);
                $("#"+_rand).trigger("click");
            } else {
                location.href=url;
            }
        }
        //광고 통계용
        function location_outlink_stat(url, info) {
            ajax_get("/stat/outlink",{"flag":info, "url":url}, function (re) {
                var _rand = "tvshop" + Math.floor(Math.random() * 1000000);
                if (is_android_app() || is_ios_app()) {
                    var trigger = "<a href='/out/link?url=" + url + "'><input class='block-hide' id='"+_rand+"' /></a>";
                    $("body").append(trigger);
                    $("#" + _rand).trigger("click");
                } else {
                    location.href = url;
                }
            });
        }
        //보드클릭
        function board_click(board_id, cate, title){
            location_href("/native/"+cate+"/info?title="+title+"&board_id="+board_id+"&cate="+cate+"&new_window=yes");
        }

        //구매 link 관리
        function is_inapp_link(site) {
            var _site_list = ["gsshop", "gsmyshop", "ssgshop"];
            var _site_list2 = [ 'cjmall', 'cjmallplus', 'hnsmall', 'immall', 'shopnt' ];
            var version_count = parseInt(user_app_version.split(".")[0])*10000 + parseInt(user_app_version.split(".")[1])*100  + parseInt(user_app_version.split(".")[2]) ;

            if( is_ios_app() && _site_list.indexOf(site)>=0 && version_count >= 90005){
                return true
            }else if( is_android_app() && _site_list.indexOf(site)>=0 && version_count >= 90108){
                return true
            }else if( is_ios_app() && _site_list2.indexOf(site)>=0 && version_count >= 10000000){
                return true
            }else if( is_android_app() && _site_list2.indexOf(site)>=0 && version_count >= 90120){
                return true
            }else{
                return false
            }
        }
        //상품클릭
        var clicked_entity_id = "";
        function item_click(entity_id, site, price, cate, from, live, query) {
            clicked_entity_id = entity_id;
            // live 필드는 yes/off ->  0(지난방송), 1(생방송), 2(방송예정)으로 변경
            // query 필드 추가, 검색결과에서 '아토팜'검색 후 방송상품 클릭시 해당 검색어를 qeury필드로 전달
            if(typeof live === 'undefined' || query === null){
                live = '';
            }
            if (typeof query === 'undefined' || query === null){
                location_href("/native/item?entity_id=" + entity_id + "&site=" + site + "&price=" + price + "&cate=" + cate + "&from=" + from + "&live=" + live + "&sfrom=" + superFrom);
            }else{
                location_href("/native/item?entity_id=" + entity_id + "&site=" + site + "&price=" + price + "&cate=" + cate + "&from=" + from + "&live=" + live + "&sfrom=" + superFrom + "&query=" + query);
            }
        }
        function view_item(entity_id, query) {
            clicked_entity_id = entity_id;
            location_href("/native/item?entity_id=" + entity_id + query + "&sfrom=" + superFrom);
        }
        //구매클릭
        var check_buyclick = false;
        function buy_click(url, entity_id, site, price, cate, from, live){
            {% if datetime > "201801180110" and datetime < "201801180700" %}
            if(site == "immall"){
                alert("공영홈쇼핑 시스템 점검으로 접속이 불가합니다. 오전 7시 이후 다시 시도해주세요.");
                return;
            }
            {% endif %}

            if(check_buyclick) return;
            else check_buyclick = true;

            if (url){
                var _is_inapp = is_inapp_link(site);

                var _dict ={"url": url, "entity_id":entity_id, "site":site, "price":price, "cate":cate, "from":from, "live":live, "sfrom": superFrom, "adid": user_adid, "inapp": _is_inapp};
                if (typeof aid_query === 'undefined' || aid_query === null){}else{$.extend(_dict,{"query":aid_query});}//상품상세에서 검색어알람이 있을 경우 통계에 추가

                ajax_get("/stat/buyclick",_dict, function (re) {
                    check_buyclick = false;
                    if (is_ios_app() && site == "hnsmall"){
                        location_href("/out/link?url=http://hsmoa.kr/redirect?hsuri="+encodeURIComponent(url));
                    }else if(_is_inapp){
                        location_href("/inner/out/link?url="+url);
                    }else if(is_android_app() || is_ios_app()){
                        location_href("/out/link?url="+url);
                    }else{
                        location_href(url);
                    }
                });
            } else {
                native_send_toast("해당 상품은 생방송 중에 주문가능합니다");
            }
        }
        //검색클릭
        var check_searchclick = false;
        function search_click(url, site, price, from, query, rawquery, is_ad, goods_id, rank, is_compare, img, name){
            {% if datetime > "201801180110" and datetime < "201801180700" %}
            if(site == "immall"){
                alert("공영홈쇼핑 시스템 점검으로 접속이 불가합니다. 오전 7시 이후 다시 시도해주세요.");
                return;
            }
            {% endif %}

            if(check_searchclick) return;
            else check_searchclick = true;

            var _is_inapp = is_inapp_link(site);

            ajax_get("/stat/searchclick",{"url":url, "site":site, "price":price, "from":from, "sfrom":superFrom, "query":query, "rawquery":rawquery, "is_ad":is_ad, "id":goods_id, "rank":rank, "is_compare": is_compare, "name": name, "adid":user_adid, "abtest": abtest, "inapp": _is_inapp}, function (re) {
                ajax_post_timeout("http://rpc.hsmoa.com/user_search_click/save",{"url":url, "site_name":site, "pid": goods_id, "price":price, "query":query, "img": img, "name": name}, function (re) {
                    check_searchclick = false;
                    if (is_ios_app() && site == "hnsmall"){
                        location_href("/out/link?url=http://hsmoa.kr/redirect?hsuri="+encodeURIComponent(url));
                    }else if(_is_inapp){
                        location_href("/inner/out/link?url="+url);
                    }else if(is_android_app() || is_ios_app()){
                        location_href("/out/link?url="+url);
                    }else{
                        location_href(url);
                    }

                    if(locationHref == "native_search_result"){
                        re = "<img src='http://thum.buzzni.com/unsafe/320x320/center/smart/"+img+"' class='visit_preview'>";
                        $("#bt_history a .visit_preview").remove();
                        $("#bt_history a").append(re);
                    }
                });
            });
        }
        function search_visit_click(url, site, price, from, query, rawquery, is_ad, goods_id, rank, is_compare, img, name){
            if(check_searchclick) return;
            else check_searchclick = true;

            var _is_inapp = is_inapp_link(site);

            ajax_get("/stat/searchclick",{"url":url, "site":site, "price":price, "from":from, "sfrom":superFrom, "query":query, "rawquery":rawquery, "is_ad":is_ad, "id":goods_id, "rank":rank, "is_compare": is_compare, "name": name, "adid":user_adid, "abtest": abtest, "inapp": _is_inapp}, function (re) {
                check_searchclick = false;
                if(is_ios_app() && site == "hnsmall"){
                    location_href("/out/link?url=http://hsmoa.kr/redirect?hsuri="+encodeURIComponent(url));
                }else if(_is_inapp){
                    location_href("/inner/out/link?url="+url);
                }else if(is_android_app() || is_ios_app()){
                    location_href("/out/link?url="+url);
                }else{
                    location_href(url);
                }
            });
        }
        //오늘의딜 클릭
        var is_todaydeal_click = false;
        function todaydeal_click(url, site, price, from, id, crawl_id, rank, cate1){
            {% if datetime > "201710200100" and datetime < "201710200300" %}
            if(site == "11st"){
                alert("오전 3시까지 11번가 시스템 점검으로 접속이 불가합니다.");
                return;
            }
            {% endif %}

            if(is_todaydeal_click) return;
            else is_todaydeal_click = true;

            var _is_inapp = is_inapp_link(site);

            ajax_get("/stat/todaydealclick",{"url":url, "site":site, "price":price, "from":from, "id":id, "crawl_id":crawl_id, "rank":rank, "cate1": cate1, "inapp": _is_inapp}, function (re) {
                is_todaydeal_click=false;
                if(is_ios_app() && site == "hnsmall"){
                        location_href("/out/link?url=http://hsmoa.kr/redirect?hsuri="+encodeURIComponent(url));
                }else if(_is_inapp){
                    location_href("/inner/out/link?url="+url);
                }else if(is_android_app() || is_ios_app()){
                    location_href("/out/link?url="+url);
                }else{
                    location_href(url);
                }
            });
        }
        var check_promotion_click = false;
        function promotion_click(url, pid, site, price, from, is_search_item){
            if(check_promotion_click) return;
            check_promotion_click = true;

            var _is_inapp = is_inapp_link(site);

            if (site == "gsshop" || site == "gsmyshop"){
                // gsmyshop과 gsshop은 기획전에서 LKi라는 공통 매체코드를 갖는다.
                url = url.replace("media=LAr", "media=LKi");
                url = url.replace("media=LDG", "media=LKi");
                url = url.replace("media=LGx", "media=LKi");
            }

            var _dict ={"url":url, "pid":pid, "id":pid, "site":site, "price":price, "from":from, "sfrom":superFrom, "is_search_item": is_search_item, "inapp": _is_inapp};
            ajax_get("/stat/promotion_click",_dict, function (re) {
                check_promotion_click = false;
                if(is_ios_app() && site == "hnsmall"){
                    location_href("/out/link?url=http://hsmoa.kr/redirect?hsuri="+encodeURIComponent(url));
                }else if(_is_inapp && site != 'gsshop' && site != 'gsmyshop'){
                    location_href("/inner/out/link?url="+url);
                }else if(is_android_app() || is_ios_app()){
                    location_href("/out/link?url="+url);
                }else{
                    location_href(url);
                }
            });
        }
        //검색결과 페이지 이동
        function view_search(query, from, tab) {
            var _url = "/native/search";
            if(app_version_count > 99999){
                _url = "/hsmoa/search";
            }

            if (query == '' || query == undefined) {
                _url += "?title=검색";
            } else {
                _url += "/result?title=검색결과&query=" + encodeURIComponent(query) ;
            }
            if (from == '' || from == undefined) {
            } else {
                _url += "&from=" + from;
            }
            if (tab == '' || tab == undefined) {
            } else {
                _url += "&tab=" + tab;
            }
            location_href(_url);
        }
        //상품노출로깅
        function logExposedItem(userId, query, entities, createDate, page, type) {
            ajax_get('/rpc/search/logExposedItems', {user_id: userId, query: query, entities: entities, create_date: createDate, page: page, "adid": user_adid, "type":type}, function (re) {});
        }

        //쿠폰, 할인 계산기
        var skimData = {
            coupon: {
                /*--- 04.09. ~ 04.16. ---*/
                cjmall: [{sale_ratio: 0.1, sale_limit: 20000, price_range: [0, 0]}],
                /*************************/

                /*--- 03.26. ~ 04.02. ---*/
                kshop: [{sale_ratio: 0.1, sale_limit: 20000, price_range: [30000, 0]}],
                /*************************/

                lottemall: [{sale_ratio: 0.1, sale_limit: 50000, price_range: [10000, 0]}],
                lotteonetv: [{sale_ratio: 0.1, sale_limit: 200000, price_range: [30000, 0]}],
                wshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [30000, 0]}],
                ssgshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [0, 0]}],
                bshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [16000, 0]}],
                hmall: [{sale_ratio: 0.1, sale_limit: 0, price_range: [10000, 0]}],
                shopnt: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [0, 0]}]
            },
            card: {
                /*--- 04.09. ~ 04.16. ---*/
                cjmall: [{sale_ratio: 0.05, sale_limit: 200000, price_range: [0, 0]}],
                /*************************/

                /*--- 03.26. ~ 04.02. ---*/
                kshop: [{sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0]}],
                /*************************/

                lottemall: [{sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 149999]},{sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0]}],
                lotteonetv: [{sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 149999]},{sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0]}],
                wshop: [{sale_ratio: 0.05, sale_limit: 10000, price_range: [50000, 0]}],
                ssgshop: [{sale_ratio: 0.15, sale_limit: 0, price_range: [0, 0]}],
                bshop: [{sale_ratio: 0.05, sale_limit: 0, price_range: [50000, 0]}],
                hmall: [],
                shopnt: []
            }
        };
        var sale_calculater = function(_type, _site, _price){
            var _sale = 0;
            var _skim = skimData[_type][_site];

            for(var i in _skim){
                if( _price >= _skim[i].price_range[0] ){
                    if( _price <= _skim[i].price_range[1] || 0 == _skim[i].price_range[1] ){
                        var _a = Math.floor(_skim[i].sale_ratio * _price);
                        if(_skim[i].sale_limit > 0 ){
                            _sale += Math.min(_a, _skim[i].sale_limit);
                        }else{
                            _sale += _a;
                        }
                        _price -= _sale;
                    }
                }
            }

            //console.log(_price, _sale, _type, _site);
            return _sale;
        };
        var sale_ratio = function(_type, _site, _price){
            var _ratio = "";
            var _skim = skimData[_type][_site];
            for(var i in _skim){
                if( _price >= _skim[i].price_range[0] ){
                    if( _price <= _skim[i].price_range[1] || 0 == _skim[i].price_range[1] ){
                        if(_ratio == ""){
                            _ratio = parseInt(_skim[i].sale_ratio*100)+"%";
                        }else{
                            _ratio += "+" + parseInt(_skim[i].sale_ratio*100)+"%";
                        }
                    }
                }
            }
            return _ratio;
        };
        Number.prototype.intcomma = function(){
            if(this==0) return 0;

            var reg = /(^[+-]?\d+)(\d{3})/;
            var n = (this + '');

            while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

            return n;
        };
        </script>
        {% block js_core %}{% endblock %}
        {% block js_basic %}{% endblock %}
		{% block js %}{% endblock %}
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46031772-1', 'auto');
          ga('send', 'pageview');
          ga('set', '&uid', user_id);
        </script>

	</body>
</html>
