{% extends "native/__basic.html" %}
{% block container %}
    <div id="container" >
        {% block tab %}{% endblock %}
        {% block list_start %}{% endblock %}
        {% block list_scroll %}
            <div id="list_scroll" ></div>
            {% block list_after %}{% endblock %}
            <div id="scroll_start" class="align-center padding-9 clear" style="margin: 5px 0 34px 0;">
                <img src="{{ cdn_img }}/scroll_start.gif" style="height:9px;"/>
            </div>
            <div id="no_result" class="block-hide">
                {% block no_result %}
                {% endblock %}
           </div>
            {% block list_scroll_end %}
                <div id="scroll_end" class="align-center padding-9 block-hide clear " style="margin: 5px 0 24px 0;">
                    <img src="{{ cdn_img }}/scroll_end.png" style="height:7px;"/>
                </div>
            {% endblock %}
        {% endblock %}
        {% block list_end %}
        {% endblock %}
    </div>
{% endblock %}
{% block js_core %}
    <script type="text/javascript" src="{{ media }}/list.js?v=22"></script>
{% endblock %}
