{% extends "native/_list.html" %}
{% load filters %}
{% block css %}
    <style>
        html{-webkit-user-select:text;}
        table, td, th {
            background: #fff;
            border-color: #aaa;
            border-style: solid;
            border-collapse: collapse;
        }
        th{font-size: 14px;}
        th, td { padding:7px 5px; }
        tr.today {background: #eee; color: #FFFF00; }
        td span {opacity: 0.6;}
        tr.today span {opacity: 1;}
    </style>
{% endblock %}
{% block tab %}
    <div class="block-hide">
        <div class="clear-9"></div>
        <table border="1">
            <tr class="strong">
                <td class="table-cell align-middle" style="width:80px;">
                    성함
                </td>
                <td class="table-cell align-middle " style="width:80px;">
                    연락처
                </td>
                <td class="table-cell align-middle " style="width:50px;">
                    나이
                </td>
                <td class="table-cell align-middle " style="width:80px;">
                    홈쇼핑시간
                </td>
                <td class="table-cell align-middle " style="width:80px;">
                    홈쇼핑구매횟수
                </td>
                <td class="table-cell align-middle " style="width:120px;">
                    주 구매상품
                </td>
                <td class="table-cell align-middle " style="width:80px;">
                    참여희망시간
                </td>
                <td class="table-cell align-middle " style="width:240px;">
                    참여희망이유
                </td>
            </tr>
        </table>
    </div>
    <button onclick="all_remove()">전체 삭제</button>
    <button onclick="all_cmt_remove()">전체 댓글 삭제</button>
    <span>신청인원: <span id="count"></span>명</span>
    <button onclick="getWinner()">당첨자명단 다운로드</button>


    <div class="clear-9"></div>
{% endblock %}
{% block list_scroll_end %}
{% endblock %}
{% block js %}
    <script src="/media/js/csvToArray.v2.1.min.js"></script>
    <script src="/media/js/node_modules/lodash/index.js"></script>
    <script type="text/javascript">
        var date = "{{ date2 }}";
        //var site = "{{ request.GET.site }}";
        //if(site=="" || site=="all") site="nsmall";
        var cate = "{{ request.GET.cate }}";
        var subcate = "{{ request.GET.subcate }}";
        var skin = "{{ request.GET.skin }}";
        var service = "{{ request.GET.service }}";
        var comment_key = "{{ request.GET.comment_key }}";//25338
        var user_id = "{{ request.GET.user_id }}";


        if(cate == "")cate = "alarm";
        if(subcate == "")subcate = "alarm170109";
        if(skin == "")skin = "_ad_board_list";
        if(service == "")service = "";
        if(user_id == "")user_id = "";
        var comments=[];

        var survey_box = [];

        function Survey(title, type, limit,question){
            this.title = title;
            this.type = type;
            this.limit = limit;
            this.question = question;
        }

        function all_remove(){
            var is_confirm = confirm("삭제하시겠습니까?");
            if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
            if(is_confirm){
                ajax_json("board/getList", {"page":1, "num":1000000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service}, function(re) {
                    re.result.data.forEach(function(board){
                        console.log(board.id);
                        ajax_json("board/remove", { "board_id": board.id}, function (re) {
                            if (re.success == true) {
                                console.log(re.success,board.id);
                            } else {
                                console.log("fail",re.msg);
                            }
                        });
                    });
                });
            }
        }

        function all_cmt_remove(){

            var board_id = "{{ request.GET.board_id }}"||0;
            if (board_id==0){
                alert("board_id를 찾을수 없습니다.");
                return;
            }
            var is_confirm = confirm("삭제하시겠습니까?");
            if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
            if(is_confirm){
                var temp_cmt = [];

                ajax_json("board/getList", {"page":1, "num":1000000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service}, function(re) {
                    board_id = re.result.data[0].id;
                    ajax_json("cmtary/getList", { "table": "board", "table_id": board_id, "order": "create_date desc", "page": 1, "num": 1000000000}, function (re) {
                        re.result.data.forEach(function(cmt){
                            temp_cmt.push(cmt.id);
                            if (cmt.child_count>0){
                                ajax_json("cmtary/getList", { "table": "cmtary", "table_id": cmt.id, "order": "create_date"}, function (sub_cmt) {
                                    sub_cmt.result.data.forEach(function(item){
                                        //console.log(item);
                                        temp_cmt.push(item.id);
                                    });
                                },false);
                            }
                        });
                        temp_cmt.forEach(function(item){
                            ajax_json("cmtary/remove", { "cmtary_id" : item}, function (re) {
                                if (re.success != true) {
                                    console.log(re.msg);
                                }else{
                                    console.log(re);
                                }
                            });
                        });
                    });

                });



            }
        }

        function list_scroll() {
            ajax_skin("board/getList", { "skin":"{{ native_skin }}/_board_event_control_list", "page":page, "num":1000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service, "target_id":user_id}, function(re){
                list_result(re);
            });
            ajax_skin("board/getList", { "page":page, "num":1, "cate":cate, "subcate":subcate, "order":'create_date', "service":service, "target_id":user_id}, function(re){
                $("#count").text(re.result.count);
            });
        }


        $(function(){
            //get_event_user();
            //csvToObj();

            /* 특정아이디 게시글 전체삭제기능
             ajax_json("board/getList", {"target_id":"hy6kst2nkn", "page":page, "num":1000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service, }, function(re){
             console.log(re);
             re.result.data.forEach(function(i){
             console.log(i.content,i.user_id,i.id);
             ajax_json("board/remove", { "board_id": i.id}, function (re) {
             if (re.success == true) {
             console.log(re.success,i.id);
             } else {
             console.log("fail",re.msg);
             }
             });
             });
             });
             */
        });

        function list_merged_download(){
            csvToObj();
        }

        var getWinner = function(){
            ajax_json("board/getList", { "page":1, "num":50000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service, "target_id":user_id}, function(re){
                console.log(re);
                var result = re.result.data;
                var temp = [];
                result.forEach(function(data){
                    temp.push({
                       user_id: data.user_id,
                       phone: data.content
                    });
                });
                var csvString = JSON2CSV(temp);
                window.open("data:text/csv;charset=utf-8,"+encodeURIComponent(csvString));
            });
        };

        /* 카카오톡 공유이벤트 2015.12.17 @ricky
         * 초대받은 사람과 초대한사람을 nginx로그로 남겨논다음 kibana에서 data를 가져온뒤 신청명단이 있는 database와 취합하여 csv로 다운로드한다.
         * locash.js 최초 사용
         * */
        function shared_user(){
            var query = {
                "highlight": {
                    "pre_tags": [
                        "@kibana-highlighted-field@"
                    ],
                    "post_tags": [
                        "@/kibana-highlighted-field@"
                    ],
                    "fields": {
                        "*": {}
                    },
                    "fragment_size": 2147483647
                },
                "query": {
                    "filtered": {
                        "query": {
                            "query_string": {
                                "analyze_wildcard": true,
                                "query": "allinweek_share_event"
                            }
                        },
                        "filter": {
                            "bool": {
                                "must": [
                                    {
                                        "range": {
                                            "@timestamp": {
                                                "gte": 1448895600000,
                                                "lte": 1451573999999
                                            }
                                        }
                                    }
                                ],
                                "must_not": []
                            }
                        }
                    }
                },
                "size": 5000,
                "sort": [
                    {
                        "@timestamp": {
                            "order": "desc",
                            "unmapped_type": "boolean"
                        }
                    }
                ],
                "aggs": {
                    "2": {
                        "date_histogram": {
                            "field": "@timestamp",
                            "interval": "12h",
                            "pre_zone": "+09:00",
                            "pre_zone_adjust_large_interval": true,
                            "min_doc_count": 0,
                            "extended_bounds": {
                                "min": 1448895600000,
                                "max": 1451573999999
                            }
                        }
                    }
                },
                "fields": [
                    "*",
                    "_source"
                ],
                "script_fields": {},
                "fielddata_fields": [
                    "@timestamp"
                ]
            };
            var month = subcate.split(cate)[1].slice(2,4);
            var url = "http://kibana.buzzni.net:9201/logstash-2015."+month+".*/_search?q=allinweek_share_event";

            var stack = [];
            $.get( url,query ,function( data ) {
                data.hits.hits.forEach(function(item){
                    var obj = {
                        inviter:item._source.inviter,
                        invitee:item._source.invitee,
                        counter:0,
                        phone:"",
                        genre2:item._source.genre2,
                        name:item._source.name,
                        price:item._source.price
                    };
                    stack.push(obj);
                });

                var invitee_stack =_.uniq(stack,function(obj){
                    return obj.invitee;
                });

                var inviter_stack =_.uniq(stack,function(obj){
                    return obj.inviter;
                });

                var inviter_countBy = _.countBy(invitee_stack,function(obj){
                    return obj.inviter;
                });
                ajax_json("board/getList",{"page":1, "num":10000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service}, function(re){
                    _.forEach(inviter_stack,function(person){
                        //데이터베이스 명단과 로그의 명단을 대조하여 유효값을 도출해낸다.
                        var temp = _.find(re.result.data,function(t1){
                            return t1.user_id == person.inviter;
                        });
                        if(temp != undefined){
                            person.phone = temp.content;
                            person.counter = inviter_countBy[person.inviter];
                        }
                    });
                    var result = _.remove(invitee_stack,function(obj,key){
                        return obj.phone != "";
                    });

                    var csvString = JSON2CSV(result);
                    window.open("data:text/csv;charset=utf-8,"+encodeURIComponent(csvString));
                });
            });
        }

        /* JSON 2 CSV function */
        function JSON2CSV(objArray) {
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';
            var line = '';
            var head = array[0];

            for (var index in array[0]) {
                var value = index + "";
                line += '"' + value.replace(/"/g, '""') + '",';
            }

            line = line.slice(0, -1);
            str += line + '\r\n';

            for (var i = 0; i < array.length; i++) {
                var line = '';

                for (var index in array[i]) {
                    var value = array[i][index] + "";
                    line += '"' + value.replace(/"/g, '""') + '",';
                }

                line = line.slice(0, -1);
                str += line + '\r\n';
            }
            return str;
        }


        function list_download(){
            ajax_json("board/getList", {"page":1, "num":100000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service}, function(re){
                var result = re.result.data;
                var result_arr = result[0].content.split(",");
                var title = [];
                var total_list = re.result.data;
                var data = [title];
                var temp = [];
                var comments = [];
                title.push("xid");
                result_arr.forEach(function(value,key){
                    if(key+1 == result_arr.length){
                        title.push("phone");
                    }else if(value=="yes" || value == "no"){
                        title.push("Y/N");
                    }else{
                        title.push(String(key+1));
                    }
                });

                if(comment_key!=""){
                    title.push("comment_xid");
                    title.push("nickname");
                    title.push("comment");
                    ajax_json("cmtary/getList", {
                        "xid": user_id,
                        "table": "board",
                        "table_id": comment_key,
                        "order": "create_date+desc",
                        "page": 1,
                        "num": 10000
                    }, function (re) {
                        re.result.data.forEach(function (arr, idx) {
                            comments.push({
                                "xid": arr.user_id,
                                "comment": arr.content.replace(/"/g, ""),
                                "nickname": arr.user_id,
                            });
                        });
                    },false);
                }




                //rpc/cmtary/getList?xid=E3lwdxbBug&table=board&table_id=25338&order=create_date+desc&page=1&num=1000


                total_list.forEach(function(value,key){
                    temp.push(value.user_id);
                    value.content.split(",").forEach(function(v1){
                        temp.push(v1);
                        if(v1=="no")temp.push("");
                    });
                    if(comment_key!=""){
                        comments.forEach(function(v1,k1){
                            if(value.user_id==v1.xid){
                                temp.push(v1.xid);
                                temp.push(v1.nickname);
                                temp.push(v1.comment);
                            }
                        });
                    }
                    data.push(temp);
                    temp = [];
                });
                var csvString = JSON2CSV(data);
                window.open("data:text/csv;charset=utf-8,"+encodeURIComponent(csvString));
            });
        }

        function get_event_user(target_id){
            ajax_json("board/getList", { "target_id": target_id, "page":1, "num":500, "cate":cate, "order":'create_date', "service":service, "fields": fields_board, "in_user_fields": fields_user}, function(re){
                $("#event_user_info").text("응모횟수 : 총 "+re.result.count+"회").show();

            });
        }

        function csvToObj(){
            //csv To Obj
            $.ajax({
                url: "/media/csv/"+subcate+".csv",
                dataType: 'text',
                cache: false
            }).done(function(csvAsString){

                var csvAsArray = csvAsString.csvToArray();
                var title,type,limit;
                var question = [];
                csvAsArray.forEach(function(item,key){
                    if(item.join("") != ""){
                        if(item[0].match(/Q/i)){
                            title = item[1];
                            question = [];
                        }else if(item[0].match(/type/)){
                            type = item[1];
                        }else if(item[0].match(/limit/)){
                            limit = item[1];
                        }else if(item[0] == ""){
                            question.push({key:item[1],count:0,ratio:0});
                        }
                    }else{
                        survey_box.push(new Survey(title,type,parseInt(limit),question));
                    }
                });

                ajax_json("board/getList", {"page":1, "num":100000, "cate":cate, "subcate":subcate, "order":'create_date', "service":service}, function(re){
                    var result = re.result.data;
                    var result_arr = result[0].content.split("_");
                    var title = [];
                    var total_list = re.result.data;
                    var data = [];
                    var temp = [];
                    var comments = [];
                    //title.push("xid");

                    total_list.forEach(function(value,key){
                        value.content.split(",").forEach(function(v1,k1){
                            if(k1<survey_box.length-1){
                                temp.push(v1);
                            }
                        });
                        data.push(temp);
                        temp = [];
                    });
                    console.log(data);

                    data.forEach(function(v1,k1){
                        v1.forEach(function(v2,k2){
                            var gender, age, value;
                            if(k2 == 0){
                                age = parseInt(v2.split('_')[0])-1;
                                gender = parseInt(v2.split('_')[1])-1;
                                survey_box[k2].question[age].count = survey_box[k2].question[age].count+1;
                                survey_box[k2+1].question[gender].count = survey_box[k2+1].question[gender].count+1;
                            }else{
                                value = v2.split('_');
                                value.forEach(function(t1){
                                    survey_box[k2+1].question[t1-1].count = survey_box[k2+1].question[t1-1].count+1;
                                });
                            }
                        });
                    });
                    console.log(survey_box);

                    //비율 계산

                    survey_box.forEach(function(survey,key){
                        var sum = 0;
                        survey.question.forEach(function(question_element,key_1){
                            sum+=question_element.count;
                        });
                        survey.question.forEach(function(question_element,key_1){
                            question_element.ratio = (question_element.count/sum*100).toFixed(1);
                        });
                    });
                    //결과값
                    console.log(survey_box);

                    csvAsArray.unshift(["순서","문항","총합","비율"]);



                    var csvContent = "\xEF\xBB\xBFdata:text/csv;charset=euc-kr,";
                    var csvContent = "data:text/csv;charset=utf-8,";


                    var survey_box_index = -1;
                    csvAsArray.forEach(function(infoArray,index){

                        if(infoArray[0]=="" && infoArray[1]!=""){
                            survey_box[survey_box_index].question.forEach(function(question){
                                if((question.key == infoArray[1] && infoArray[0] == "")){
                                    infoArray.push(question.count);
                                    infoArray.push(question.ratio);
                                }
                            });

                        }

                        if(infoArray[0].match(/limit/)){
                            survey_box_index++;
                        }

                        var dataString = infoArray.join(",");
                        csvContent += index < data.length ? dataString+ "\n" : dataString;
                    });



                    var encodedUri = encodeURI(csvContent);
                    console.log(encodedUri);

                    var link = document.createElement("a");
                    link.setAttribute("href", encodedUri);
                    link.setAttribute("download", subcate+"_result.csv");
                    link.click();

                });

            });

        }

        function board_remove(board_id){
            if (confirm("삭제하시겠습니까?")){
                ajax_json("board/remove", { "board_id": board_id}, function (re) {
                    if (re.success == true) {
                        native_send_toast("삭제되었습니다.");
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }
        }

        function reset_event_user(user_id){

            //var static_code = "event_invite4_pudding_E3lwdxbBug";
            var static_code = "";
            console.log(user_id);
            ajax_json("user/getInfo",{"target_id":user_id},function(re){
                console.log(re.result);
            });

            ajax_json("user/update",{"fld":"phone","value":"","xid":user_id},function(re){
                console.log(re);
            });
            ajax_json("user/update",{"fld":"status","value":"0","xid":user_id},function(re){
                console.log(re);
            });
            ajax_json("user/update",{"fld":"referer","value":static_code,"xid":user_id},function(re){
                console.log(re);
            });
            ajax_json("user/update",{"fld":"referer_cate","value":static_code,"xid":user_id},function(re){
                console.log(re);
            });
            ajax_json("user/update",{"fld":"verify_date","value":"0","xid":user_id},function(re){
                console.log(re);
            });
            var fields_board = "id,title,create_date,cmt_num,user,img";
            var fields_user = "id,nickname,img";
            ajax_json("board/getList", { "target_id": user_id, "page":1, "num":500, "cate":cate, "order":'create_date', "service":'', "fields": fields_board, "in_user_fields": fields_user}, function(re){
                re.result.data.forEach(function(data){
                    console.log(data);
                    if(user_id == data.user_id){
                        ajax_json("board/remove", { "board_id": data.id}, function (re) {
                            if (re.success == true) {
                                //native_send_toast("삭제되었습니다.");
                                alert("초기화 완료");
                                location.reload();
                            } else {
                                native_send_toast(re.msg);
                            }
                        });
                    }
                });
            });

        }
    </script>
{% endblock %}