{% extends "native/_list.html" %}
{% load filters %}
{% block css_basic %}
    <style>
        body{background:#fff;}
        .like.on {width:36px;height:36px;border:0px;background:url('{{ cdn_img }}/like_on.png') no-repeat ;background-size:36px 36px;}
        .like.off {width:36px;height:36px;border:0px;background:url('{{ cdn_img }}/like_off.png') no-repeat ;background-size:36px 36px;}

        p {font-size: 16px;}
        h2 {font-size: 16px;}
    </style>
{% endblock %}
{% block tab %}
    <div class="border-bottom padding-9">
        <div class="padding-9">
            <div class="font-20 c-black" style="line-height: 26px;">{{ re.result.title }}</div>
            <div class="clear-9"></div>
            <div class="clear-9"></div>
            <div class="display-table">
                <div class="table-cell" style="width:36px; line-height: 15px;vertical-align: top;">
                    <a href="{% if request.session.user.id == "E3lwdxbBug" %}/native/my/info?target_id={{ re.result.user.id }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="c-blue font-14 ">
                        <img class="border  {% if re.result.user.img %}{% else %}padding{% endif %}"
                             style='{% if re.result.user.img %}height:30px;{% else %}height:15px;{% endif %}border-radius:30px;vertical-align:top; margin: -9px 5px 0px -1px; '
                             src="{% if re.result.user.img %}{{ thum }}/120x120/smart/{{re.result.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}">
                        {% if re.result.user.nickname %}{{ re.result.user.nickname }}{% else %}손님{% endif %}
                    </a>
                <span class="c-gray margin-left font-11">
                    {{ re.result.create_date|get_string|slice:'4' }}-{{ re.result.create_date|get_string|slice:'4:6' }}-{{ re.result.create_date|get_string|slice:'6:8' }}
                    {{ re.result.create_date|get_string|slice:'8:10' }}:{{ re.result.create_date|get_string|slice:'10:12' }}
{#                    | {{ re.result.visit_num }}#}
                </span>
                </div>
                <div class="table-cell-line"></div>
                <div class="table-cell-9"></div>
            </div>
        </div>
    </div>
    <div class="padding-9 border-bottom">
        {% block content_block %}
            <div class="font-16 padding-9" style="min-height:120px;line-height:24px;">
                {% autoescape off %}{{ re.result.content|linebreaksbr }}{% endautoescape %}
            </div>
        {% endblock %}
        {% if re.result.img_list.1 and re.result.cate != "trends" %}
            <div class="padding-9">
                {% for src in re.result.img_list|slice:"1:" %}
                    <img src="{{ src }}" /></br>
                {% endfor %}
            </div>
        {% endif %}
        {% block plus_block %}{% endblock %}
        {% if re.result.cate != "notice" and re.result.cate != "opn" %}
            <div class="margin-9 padding-9 align-center {% block like_block %}{% endblock %}">
                <button onclick="like_save('board', '{{ re.result.id }}');" style="width:80px;height:80px;border-radius:40px;background:#f7f7f7;border:1px solid #ccc;">
                    <div id="like_board_{{ re.result.id }}_bt" class="like off margin-auto"></div>
                    <div>좋아요  <span id="like_board_{{ re.result.id }}_num">{{ re.result.like_num }}</span></div>
                </button>
            </div>
        {% endif %}
        {% if request.session.user.id == re.result.user_id or request.META.HTTP_XID == re.result.user_id or request.session.user.id == "E3lwdxbBug"  %}
            <div class="clear-9"></div>
            <div class="align-right margin">
                {% block edit_block %}
                    <a href="/native/board/save?title=수정&board_id={{ re.result.id }}" class="padding"><u>수정</u></a>
                {% endblock %}
                <a href="javascript:board_remove('{{ re.result.id }}');" class="padding"><u>삭제</u></a>
            </div>
        {% endif %}
    </div>
    {% if re.result.cate != "notice" %}
        <div class="padding-9">
            <div class="padding">
                <form id="cmt_submit" method="get">
                    <div class="margin-auto radius border padding">
                        <textarea id="cmt" autocomplete="off" spellcheck="false" style="height:60px;"></textarea>
                    </div>
                    <div class="clear-5"></div>
                    <div class="align-right">
                        <button type="submit" id="cmt_btn" class="bt bt-red"> 댓글등록 </button>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="margin-left"><div class="margin-left">
                댓글 <span id="cmt_num">{{ re.result.cmt_num }}</span>개
            </div></div>
            <div class="clear-9"></div>
        </div>
        <div id="cmt_block"></div>
    {% endif %}
{% endblock %}
{% block no_result %}
    {% if re.result.cate != "notice" %}
        <div class="padding-9 align-center">
            <div class="clear-9"></div>
            <div class="c-midgray font-14">등록된 댓글이 없습니다.</div>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var board_id = '{{ re.result.id }}';
        var cmt_num = parseInt('{{ re.result.cmt_num }}');
        var cate = "{{ re.result.cate }}";

        //리스트를 호출 초기 1번만 한다.
        function list_check(){
            if (scroll_start == false) {
                if (scroll_end == false) {
                    if ($(window).scrollTop() + $(window).height() > $(document).height() - 111) {
                        list_scroll();
                    }
                }
            }
        }

        var comment_status = false;
        function list_scroll() {
            var scrolltop = $(window).scrollTop();
            if( (scrolltop >= $(document).height() - $(window).height() - 20 )){
                comment_status = true;
                if(cate != "notice"){
                    ajax_skin("cmtary/getList", {"skin": "{{ native_skin }}/_cmtary_list", "table": "board", "table_id": board_id, "order": "create_date desc", "page": page, "num": num}, function (re) {
                        list_result(re);
                    });
                }else{
                    list_end();
                }
            }else if (comment_status){
                if(cate != "notice"){
                    ajax_skin("cmtary/getList", {"skin": "{{ native_skin }}/_cmtary_list", "table": "board", "table_id": board_id, "order": "create_date desc", "page": page, "num": num}, function (re) {
                        list_result(re);
                    });
                }else{
                    list_end();
                }
            }
        }


        $(function(){

            ajax_json("like/checkExist",{"action":"board", "action_id": board_id},function(re){
                if(re.result.data) {
                    if (re.result.data == true) {
                        $('#like_board_' + board_id + "_bt").removeClass("off").addClass("on").data("is_liked", true).attr("is_liked", true);
                    }
                }
            });


            $("body").on("focus", "#cmt", function (event) {
                event.preventDefault();//클릭시 페이지 이동방지
                $('body').animate({
                    scrollTop: $("#cmt").offset().top-15
                }, 900);
            });

            $("#cmt_submit").submit(function(event) {
                event.preventDefault();//클릭시 페이지 이동방지
                if ($("#cmt").val() == ""){
                    native_send_toast('댓글을 입력해주세요.');
                    $("#cmt").focus();
                } else {
                    //check_status('cmt_save()');
                    cmt_save();
                }
            });
            //조회수 저장
            //visit_save("board", board_id);
        });
        function cmt_save(){
            $("#cmt_btn").attr("disabled", "disabled");
            ajax_json("cmtary/save", { "content": $("#cmt").val(), "table": "board", "table_id": board_id}, function (re) {
                if (re.success == true) {
                    $("#cmt").val("");
                    cmt_num++;
                    $("#cmt_num").text(cmt_num);
                    cmt_add(re.result.data);
                    $("#cmt_btn").removeAttr("disabled");
                } else {
                    native_send_toast(re.msg);
                    $("#cmt_btn").removeAttr("disabled");
                }
            }, 'POST');
        }
        function cmt_add(cmtary_id){
            ajax_get("/rpc/cmtary/getInfo", {"skin": "{{ native_skin }}/_cmtary_info", "cmtary_id": cmtary_id}, function (re) {
                $("#cmt_block").prepend(re);
            });
        }
        function cmt_remove(cmtary_id){
            var is_confirm = confirm("삭제하시겠습니까?");
            if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
            if(is_confirm){
                ajax_json("cmtary/remove", { "cmtary_id" : cmtary_id}, function (re) {
                    if (re.success == true) {
                        native_send_toast("삭제되었습니다.");
                        cmt_num--;
                        $("#cmt_num").text(cmt_num);
                        $("#cmt_"+cmtary_id).hide();
                        list_check();
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }
        }
        function board_remove(board_id){
            var is_confirm = confirm("삭제하시겠습니까?");
            if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
            if(is_confirm){
                ajax_json("board/remove", { "board_id": board_id}, function (re) {
                    if (re.success == true) {
                        native_send_toast("삭제되었습니다.");
                        setTimeout("native_move_back('1')", 999);
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }
        }

        //글쓰기 좋아요
        function like_save(action, action_id){
            var is_liked = $('#like_'+action+"_"+action_id+"_bt").data('is_liked');
            if ( is_liked ){
                ajax_json("like/getInfo", {"action": "board", "action_id": board_id}, function (re) {
                    if (re.success == true) {
                        if (re.result.status >= 0) {
                            var likeId = re.result.id;
                            like_remove(action, action_id, likeId);
                        }
                    }
                });
            } else {
                $('#like_'+action+"_"+action_id+"_bt").attr("disabled", "disabled");
                ajax_json("like/save", { "action": action, "action_id": action_id, "score": 1, "service": "tvshop"}, function (re) {
                    if (re.success == true) {
                        //alert(JSON.stringify(re));
                        $('#like_'+action+"_"+action_id+"_bt").removeClass("off").addClass("on").data('is_liked', true);
                        $('#like_'+action+"_"+action_id+"_num").text($("#like_"+action+"_"+action_id+"_num").text()-(-1));
                        if(action=="entity"){
                            native_send_toast("상품을 찜하였습니다.");
                        }
                    } else {
                        native_send_toast(re.msg);
                    }
                    $('#like_'+action+"_"+action_id+"_bt").removeAttr("disabled");
                });
            }
        }
        function like_remove(action, action_id, like_id){
            $('#like_' + action + "_" + action_id + "_bt").attr("disabled", "disabled");
            ajax_json("like/remove", {"like_id": like_id}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    $("#list_" + like_id).hide(200);
                    $('#like_' + action + "_" + action_id + "_bt").removeClass("on").addClass("off").data('is_liked', false);
                    $('#like_' + action + "_" + action_id + "_num").text($("#like_" + action + "_" + action_id + "_num").text() - 1);
                } else {
                    native_send_toast(re.msg);
                }
                $('#like_' + action + "_" + action_id + "_bt").removeAttr("disabled");
            });
        }
    </script>
{% endblock %}
