{% extends "native/__basic.html" %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block container %}
    <div class="padding-9">
{#        <input type="text" value="{{ re.result.title }}" id="title" class="font-14 border th-1 padding-9" placeholder="제목을 입력해주세요"/>#}
        <textarea name="title" id="title" cols="30" rows="2" class="font-14 border th-1 padding-9" placeholder="제목을 입력해주세요" style="text-align: center">
            {{ re.result.title }}
        </textarea>
        <div class="clear-5"></div>
        {% if re.result.cate == "notice" %}
            <select style="display:inline-block; background: #fff; border:1px solid #ccc; width: 50%; margin:10px; " id="notice_option">
                <option>이벤트 선택 </option>
            </select>
        {% endif %}
        <textarea id="content" class="font-14 border th-1 padding-9" style="height:150px;line-height:18px;" placeholder="내용을 10자 이상 입력해주세요">{{ re.result.content }}</textarea>
        <div class="clear-5"></div>
        <button id="board_save" class="bt font-15 th-1 bt-red" style="height:36px;" onclick="board_save();">
            {% if re.result.id > 0 %}수정하기{% else %}글쓰기{% endif %}
        </button>
    </div>
{% endblock %}
{% block js %}
    <script src="http://o.buzzni.com/media/js/jquery.form.min.js"></script>
    <script type="text/javascript">
        var board_id= "{{ re.result.id }}";
        var cate= "{{ re.result.cate }}";
        var indexed_event_id = "";


        if (cate.match("notice")){
            ajax_json('board/getList',{"page":1, "num":50, "cate":"event", "order":"create_date"},function(event){
                var selected = "";
                event.result.data.forEach(function(e){
                    if (e.negative_text.match(board_id)) {
                        selected = "selected";
                        indexed_event_id = String(e.id);
                    }else{
                        selected = "";
                    }
                    var dom = "<option id='"+ e.id +"' value='{{ request.GET.board_id }}' "+selected+">"+e.title+" ("+ e.content+")</option>";
                    $("#notice_option").append(dom);
                });
            });
        }

        function ajax_post_json(url,data,callback,sync){
            var _url = "http://rpc.hsmoa.com/"+url;
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                type:"POST",
                beforeSend: function(jqXHR, settings){
                    jqXHR.setRequestHeader("X-Auth-Token", user_token);
                },
                dataType:"json",
                data:_data,
                url:_url,
                async:sync,
                success: callback
            });
        }

        function board_save() {
            var title = $("#title").val();
            var content = $("#content").val();
            var user_img_list = "";
            var notice_id =$("#notice_option option:selected").val();
            var event_id = $("#notice_option option:selected").attr("id");
            /*
             * 기존 공지사항에 등록된 이벤트로 등록된 이벤트를 선택시 기존 이벤트에 연동된 공지사항을 해지한다.
             * 이벤트 선택을 안하면 이벤트 리스트쪽에 공지사항을 연동시키지 않는다.
             * @ricky 2016.06.08
             * */
            if (event_id != undefined && indexed_event_id == event_id){
                ajax_post_json('board/updateFields',{"board_id":event_id,"negative_text": notice_id},function(re) {
                    if (re.success == false) {
                        native_send_toast(re.msg);
                    }
                });
            }else if(event_id != undefined && indexed_event_id != event_id){
                ajax_post_json('board/updateFields',{"board_id":event_id,"negative_text": notice_id},function(re) {
                    if (re.success == false) {
                        native_send_toast(re.msg);
                    }
                });
                if (indexed_event_id != ""){
                    ajax_post_json('board/updateFields',{"board_id":indexed_event_id,"negative_text": " "},function(re) {
                        if (re.success == false) {
                            native_send_toast(re.msg);
                        }
                    });
                }
            }

            $('.user_img').each(function(i) {
                user_img_list += $(this).attr('src')+",";
            });
            user_img_list = user_img_list.substr(0,user_img_list.length-1);

            if (board_id > 0){
                $("#board_save").attr("disabled", "disabled").text("처리중...");
                ajax_post_json('board/updateFields',{"title":title, "content": content, "cate":cate, "board_id":board_id },function(re) {
                    if (re.success == true) {
                        native_send_toast("완료하였습니다.");
                        setTimeout("native_move_back('1')", 299);
                    } else {
                        $("#board_save").removeAttr("disabled").text("수정하기");
                        native_send_toast(re.msg);
                    }
                });
            } else {
                //글쓰기
                if (title == "") {
                    native_send_toast("제목을 입력해주세요");
                    $('#title').focus();
                } else if (content == "" || content.length < 10 ) {
                    native_send_toast("내용을 10자 이상 입력해주세요");
                    $('#content').focus();
                }

                $("#board_save").attr("disabled", "disabled").text("처리중...");
                ajax_post_json('board/save', {"title": title, "content":content, "img_list": user_img_list,  "cate":cate}, function (re) {
                    if (re.success == true) {
                        native_send_toast("완료하였습니다");
                        setTimeout("native_move_back('1')", 299);
                    } else {
                        $("#board_save").removeAttr("disabled").text("글쓰기");
                        native_send_toast(re.msg);
                    }
                });

            }
        }
    </script>
{% endblock %}
