{% extends "native/_list.html" %}
{% load filters %}
{% block css %}
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.css">
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.theme.css">
<style>

.list-search { margin: 11px 0px 0px 0px;}
.list-search .listbox { display: table; position: relative; background: #fff; width: 100%; table-layout: fixed; }
.list-search .listbox > div { display: table-cell;vertical-align: top;}
.list-search .thum, .list-search .thum img {width:140px;height:140px;}
.list-search .detail {padding:9px 11px;}
#list_scroll .logo { height:22px;margin-top:-4px; }
#list_scroll .title { margin-top:7px; font-size:16px; color:#000; line-height:20px; word-break:break-all;}
#list_scroll .price { position: absolute; bottom:9px;}
#list_scroll .price .sale { font-size:12px; line-height: 14px; }
#list_scroll .price .num { font-size:16px; line-height: 18px; margin-top: 1px;}

.goodstag {position:absolute; z-index: 99; right:0px; }
.goodstag > div {height:20px;line-height: 22px; padding: 0 6px; text-align:center; color:#fff; font-size:12px;}
.goodstag .tvshop {background: #53a6d9;}
.goodstag .live {background: #fa426d;}
.goodstag .soldout {background: #93939d;}
.goodstag .hold {background: #93939d;}


#list_scroll .list-compare {border-top: 1px solid #f2f2f2; background: #ffffff; height:90px;  position: relative;}
#list_scroll .list-compare .thum {width: 120px;} .list-compare .thum img {width: 114px; margin:3px;}
#list_scroll .list-compare .title { font-size :13px; line-height: 15px; margin: 7px 0px; color: #444;}
#list_scroll .list-compare .price { margin-top:5px ; font-size :14px; line-height: 15px; height:15px; overflow: hidden; margin: 7px 0px;}
#list_scroll .list-compare-toggle {  font-size:14px; line-height: 14px; padding:6px 0 5px 0; margin:5px 7px; width: 94px; border: 1px solid #5aa5f8; box-sizing: border-box; background: #f6f6f8; border-radius: 3px;}
#list_scroll .list-compare-toggle.off {  border: 1px solid #aaa;  }


.owl-item { border-bottom: 1px solid #f2f2f2; margin-bottom: 18px;}
.owl-theme .owl-controls{position:absolute;left:50%;width:300px;margin-left:-150px;bottom:5px;z-index:99;}
.owl-theme .owl-dots .owl-dot span{background:#ccc;width:8px;height:8px;margin:0px;border-radius:6px;margin:0px 3px;}
.owl-theme .owl-dots .owl-dot.active span{background:#f03838;width:8px;height:8px;margin:0px;border-radius:8px;margin:0px 3px;}

.border-right {border-right: 1px solid #ddd;}

.searchad {padding: 5px 0;  border-bottom:1px solid #eee; margin-bottom: -1px;}
.searchad:last-child { border-bottom:0;}

#filter_category .skinbox {width: 100%; }
.catetag-list { width:100%;overflow-x: hidden; border-bottom: 1px solid #f2f2f2; }
.backmove { opacity: 0.8;  border:1px solid #43afad; border-radius:3px;width:26px;height:26px;background:#fff url("{{ cdn_img }}/ico_back.png") no-repeat 50% 50%; background-size: 14px 14px; margin:6px 3px 0 14px; vertical-align: top;}
.catetag{display:inline-block; letter-spacing:-1px; font-size:14px; line-height:16px; border:0;background:#fff;color:#43afad;line-height:14px;margin: 9px 2px 9px 7px; padding: 4px 0 1px 0; border-bottom: 1px solid #43afad; cursor: pointer;}
.catemark {display: inline-block; font-size: 14px; line-height:14px;  color: #aaa;margin: 9px 2px 9px 7px; padding: 4px 0 1px 0; }

.cateselect {font-size: 14px; color:#555; margin:0; padding: 10px 5px 8px 14px;box-sizing: border-box;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;word-break: break-all; display: inline-block; width:50%; line-height: 16px;  cursor:pointer; border-bottom: 1px solid #f2f2f2;}
.cateselect:last-child {border-bottom: none;}
.cateselect:nth-last-child(2):nth-child(even) {border-bottom: none;}

.catelist{  margin:0; padding: 9px 5px 8px 14px;box-sizing: border-box;float: left; width:50%; cursor:pointer; border-top: 1px solid #f2f2f2;}
.catelist .name{font-size: 14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;word-break: break-all;  line-height: 16px; border-bottom:1px solid #fff;}
.catelist.on .name{border-bottom:1px solid #43afad; color: #43afad; font-weight: bold;}


</style>
{% endblock %}
{% block tab %}
<div id="yes_result">
    <div id="filter_category" class="filter-block b-white" >
        <div class="skinbox" style="line-height: 0; "></div>
    </div>
</div>
{% endblock %}
{% block no_result %}
{% endblock %}
{% block list_start %}
<div id="no_result2" class="c-midgray align-center  block-hide">
    <div class="padding font-14" >
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        검색 결과가 없습니다.<br/>
        검색어나 조건을 바꿔 다시 시도해보세요.
    </div>
    {% if request.GET.query %}
    <img class="alarmguide" src="{{ cdn_img }}/coach/coach_keyword_alarm.png" style="margin-top:-38px;width:88%;left:6%;">
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ media }}/js/OwlCarousel/owl.carousel.min.js"></script>
<script type="text/javascript">

var tab = "meta";
var subtab = "";

var query_decode = decodeURIComponent("{{ request.GET.query }}".replace('&amp;', '&')); $("#alarm_query").text('"'+query_decode+'"');
var query = "{{ request.GET.query }}";
query = query_decode;
var rawquery = query.trim().replace(/\s+/g, '_');//띄여쓰기 없는 키워드
var beforequery = "{{ request.GET.beforequery }}";

var is_keyword_alram = false;
var cate = "";
var order = ""

var relatequery_count = 0;
var price_min = 0;
var price_max = 0;
var channel= "";

var ncate1_id = "{{ request.GET.ncate1_id }}";
var ncate2_id = "{{ request.GET.ncate2_id }}";
var ncate3_id = "{{ request.GET.ncate3_id }}";
var nextcate = "cate2";
var ncate1 = "{{request.GET.ncate1}}";
if(is_ios_app()) ncate1 = decodeURIComponent(ncate1.replace('&amp;', '&'));
var ncate2 = "{{request.GET.ncate2}}";
var ncate3 = "{{request.GET.ncate3}}";
var ncate4 = "{{request.GET.ncate4}}";

var catedict;

var tab_click = true;
var is_first = true;
var is_asked = false;
var ajax_stack ="";
var subtab = "category";

//검색클릭
function search_click(url, site, price, from, query, rawquery, is_ad, goods_id, rank, is_compare, img, name){
    ajax_get("/stat/searchclick",{"url":url, "site":site, "price":price, "from":from, "sfrom":superFrom, "beforequery":beforequery, "query":query, "rawquery":rawquery, "is_ad":is_ad, "id":goods_id, "rank":rank, "is_compare": is_compare, "name": name, "adid":user_adid }, function (re) {
        var _cateinfo = ncate1;
        if(ncate2 != "") _cateinfo += "," + ncate2;
        if (ncate3 != "") _cateinfo += "," + ncate3;
        if (ncate4 != "") _cateinfo += "," + ncate4;
        ajax_post("http://rpc.hsmoa.com/user_search_click/save",{"url":url, "site_name":site, "pid": goods_id, "price":price, "query":_cateinfo, "img": img, "name": name}, function (re) {
            if (is_android_app() || is_ios_app()){
                location_href("/out/link?url="+url);
            } else {
                location_href(url);
            }
        });
    });
}

function list_scroll() {
    ajax_skin("search/tvshopSearch", {"skin":"native/skin/_search_category_list", "ncate1":ncate1, "ncate2":ncate2, "ncate3":ncate3, "ncate4":ncate4, "source":"meta","flag":tab, "page":page, "num":20, "is_compare_search":"False" }, function(re){
        list_result(re);
    });
}

$(function() {
    load_category();

        $("body").on("click", ".cateselect", function () {
            if( $(this).attr("ncate4") ){ ncate1 = $(this).attr("ncate1");ncate2 = $(this).attr("ncate2");ncate3 = $(this).attr("ncate3");ncate4 = $(this).attr("ncate4"); }
            else if( $(this).attr("ncate3") ){ ncate1 = $(this).attr("ncate1");ncate2 = $(this).attr("ncate2");ncate3 = $(this).attr("ncate3"); }
            else if( $(this).attr("ncate2") ){ ncate1 = $(this).attr("ncate1");ncate2 = $(this).attr("ncate2"); }
            else if( $(this).attr("ncate1") ){ ncate1 = $(this).attr("ncate1");}
            //alert( ncate1 + " : " +ncate2 + " : "+ncate3 + " : "+ncate4 + " : ")
            list_reset();
        });
        $("body").on("click", ".catetag", function () {
            if(query =="" || query ==undefined){
                if( $(this).hasClass("ncate0") ){ ncate1="";ncate3="";ncate2=""; nextcate="cate1"; load_category();  list_reset(); }
                else if( $(this).hasClass("ncate1") ){ ncate3="";ncate2="";nextcate="cate2"; load_category(); list_reset(); }
                else if( $(this).hasClass("ncate2") ){ }
                else if( $(this).hasClass("ncate3") ){ }
                else if( $(this).hasClass("ncate4") ){ }
            }else{
                if( $(this).hasClass("ncate0") ){ ncate1 ="";ncate2="";ncate3="";ncate4="";}
                else if( $(this).hasClass("ncate1") ){ ncate1 = $(this).text();ncate2="";ncate3="";ncate4="";}
                else if( $(this).hasClass("ncate2") ){ ncate2 = $(this).text();ncate3="";ncate4="";}
                else if( $(this).hasClass("ncate3") ){ ncate3 = $(this).text();ncate4="";}
                else if( $(this).hasClass("ncate4") ){ ncate4 = $(this).text();}
                list_reset();
            }
        });


        $("body").on("click", ".catelist", function () {
            if( $(this).attr("ncate3") ){
                ncate3_id = $(this).attr("ncate_id");
                nextcate = "cate3";
                $(".catelist").removeClass("on");
                $(this).addClass("on");
                ncate1 = $(this).attr("ncate1");ncate2 = $(this).attr("ncate2");ncate3 = $(this).attr("ncate3");
            }
            else if( $(this).attr("ncate2") ){
                ncate2_id = $(this).attr("ncate_id");
                nextcate = "cate3";
                ncate1 = $(this).attr("ncate1");ncate2 = $(this).attr("ncate2");
                load_category();
            }
            else if($(this).attr("ncate1") ){
                ncate1_id = $(this).attr("ncate_id");
                nextcate = "cate2";
                ncate1 = $(this).attr("ncate1");
                load_category();
            }
            list_reset();
        });

});

function load_category(){

    if(query=="" || query==undefined){
        var re2 = "";

        if(ncate1 != "") re2+="<button class='backmove' onclick='category_back2()'></button><span class='catetag ncate1'>" + ncate1 + "</span>";
        if(ncate2 != "") re2+="<span class='catemark'>></span><span class='catetag ncate2'>" + ncate2 + "</span>";
        if(ncate3 != "") re2+="<span class='catemark'>></span><span class='catetag ncate3'>" + ncate3 + "</span>";
        if(ncate4 != "") re2+="<span class='catemark'>></span><span class='catetag ncate4'>" + ncate4 + "</span>";

        var nowcate_id="";
        if(nextcate == "cate2") nowcate_id = ncate1_id;
        else if(nextcate == "cate3") nowcate_id = ncate2_id;
        ajax_get("/rpc/search/getCateList",{"skin":"native/skin/_ncate_list", "cate": nextcate, "parent_id": nowcate_id}, function (re) {
            re2 += re;
            $("#filter_category .skinbox").empty().append(re2);
            $(".filter-block").hide();
            $("#filter_"+subtab).show();
            swipe_slide();
        });
    }else if(catedict != null){
        var re="";
        var re2="";

        if(ncate1 == "" && catedict.ncate1.length > 1 ) re2+="<span class='margin-left'> </span><span class='catetag'>전체 카테고리</span>";
        if(ncate1 != "") re2+="<button class='backmove' onclick='category_back()'></button><span class='catetag ncate1'>" + ncate1 + "</span>";//<span class='catetag ncate0'>전체</span><span class='catemark'>></span>
        if(ncate2 != "") re2+="<span class='catemark'>></span><span class='catetag ncate2'>" + ncate2 + "</span>";
        if(ncate3 != "") re2+="<span class='catemark'>></span><span class='catetag ncate3'>" + ncate3 + "</span>";
        if(ncate4 != "") re2+="<span class='catemark'>></span><span class='catetag ncate4'>" + ncate4 + "</span>";


        if(catedict.ncate1.length > 1 ){
            for ( var i=0; i < catedict.ncate1.length; i++){
                re+="<div class='cateselect' ncate1='"+catedict.ncate1[i].name+"'>" + catedict.ncate1[i].name + "</div>";
            }
        }else if(catedict.ncate2.length > 1){
            for ( var i=0; i < catedict.ncate2.length; i++){
                re+="<div class='cateselect' ncate1='"+catedict.ncate2[i].ncate1+"' ncate2='"+catedict.ncate2[i].name+"'>" + catedict.ncate2[i].name + "</div>";
            }
        }else if(catedict.ncate3.length > 1){
            for ( var i=0; i < catedict.ncate3.length; i++){
                re+="<div class='cateselect' ncate1='"+catedict.ncate3[i].ncate1+"' ncate2='"+catedict.ncate3[i].ncate2+"' ncate3='"+catedict.ncate3[i].name+"'>" + catedict.ncate3[i].name + "</div>";
            }
        }else if(catedict.ncate4.length > 1){
            for ( var i=0; i < catedict.ncate4.length; i++){
                re+="<div class='cateselect' ncate1='"+catedict.ncate4[i].ncate1+"' ncate2='"+catedict.ncate4[i].ncate2+"' ncate3='"+catedict.ncate4[i].ncate3+"' ncate4='"+catedict.ncate4[i].name+"'>" + catedict.ncate4[i].name + "</div>";
            }
        }else {
            if( ncate1 == "" ) re +="<div class='padding-9 font-14 c-gray margin-left' style='line-height:16px'>카테고리 분류 없음</div>";
        }
        $("#filter_category .skinbox").html(re);
        $("#filter_category .skinbox").prepend("<div class='catetag-list'></div>");
        $("#filter_category .skinbox .catetag-list").html(re2);

    }else{
        $("#filter_category .skinbox").append("<div class='padding-9 font-14 c-gray margin-left' style='line-height:16px'>카테고리 분류 없음</div>");
    }
}

function category_back(){
    if(ncate4 != ""){ ncate4=""; list_reset();}
    else if(ncate3 != ""){ ncate3=""; list_reset();}
    else if(ncate2 != ""){ ncate2=""; list_reset();}
    else if(ncate1 != ""){ ncate1=""; list_reset();}
}
function category_back2(){
    if(ncate4 != ""){ ncate4=""; list_reset();}
    else if(ncate3 != ""){ ncate3="";ncate2="";nextcate="cate2"; load_category(); list_reset();}
    else if(ncate2 != ""){ ncate2="";nextcate="cate2"; load_category(); list_reset();}
    else if(ncate1 != ""){ return;}
}
// 가격 검색후 콤마를 넣는 함수
function commify(n) {
  var reg = /(^[+-]?\d+)(\d{3})/;   // 정규식
  n += '';                          // 숫자를 문자열로 변환

  while (reg.test(n))
    n = n.replace(reg, '$1' + ',' + '$2');

  return n;
}

function swipe_slide(){
    if ($("#categoty_swipe").children().length > 1){
        $("#categoty_swipe").owlCarousel({
            loop:true,
            items:1,
            margin:0,
            stagePadding:0
        });
    }
}

</script>
{% endblock %}