{% extends "native/__basic.html" %}
{% block title %}의견 남기기{% endblock %}
{% block css %}
    <style>
    html, body {background: #fff; height: 100%; }

    .survey-item {display: block; margin:9px 0; font-size:15px;}
    input.radio {-webkit-appearance:none; margin:-1px 6px 0 0; top:-1px; background: #ccc; border:0; border-radius: 10px; height: 15px; width: 15px; position: relative; -webkit-appearance: none;}
    input.radio:after {background: #fff; border: 2px solid #fff; border-radius: 25px; content: ''; display: block; height: 7px;width: 7px;position: relative; top: 2px; left: 2px; }
    input.radio:checked { border:0;  background: #ccc;}
    input.radio:checked:after { background: #ea1b27;border: 2px solid #fff; }

    #bt_send {opacity: 0.7}
    #bt_send:disabled {opacity: 0.3}
    </style>
{% endblock %}
{% block container %}
<div id="quality_analysis" class="" style="padding: 20px;">

<div class="name font-13 c-darkgray" style="line-height: 1.3em;">
    홈쇼핑모아{% if request.GET.from == "home_style" %} 스타일탭을 이용하면서 들었던 생각을 남겨주세요.{% else %}를 이용하면서 어떤 점이 아쉬웠는지 남겨주시면,{% endif %} 더 좋은 서비스를 만드는 데 도움이 됩니다 :)
</div>
<div class=" border-bottom" style="margin: 10px 0 2px;">
</div>
    <div>
        <div class="clear-2"></div>
        {% if request.GET.from == "home_style" %}
        <label class="survey-item" for="radio1"><input type="radio" id="radio1" class="radio" name="radios">마음에 드는 상품이 없어요.</label>
        <label class="survey-item" for="radio2"><input type="radio" id="radio2" class="radio" name="radios">기능 개선이 필요해요.</label>
        <label class="survey-item" for="radio3"><input type="radio" id="radio3" class="radio" name="radios">버그/오류가 발생했어요.</label>
        <label class="survey-item" for="radio4"><input type="radio" id="radio4" class="radio" name="radios">사용하기가 어려워요.</label>
        <label class="survey-item" for="radio5"><input type="radio" id="radio5" class="radio" name="radios">좋아요, 응원할게요.</label>
        <label class="survey-item" for="radio6"><input type="radio" id="radio6" class="radio" name="radios">기타</label>
        {% else %}
        <label class="survey-item" for="radio1"><input type="radio" id="radio1" class="radio" name="radios">좋은 상품이 없어요.</label>
        <label class="survey-item" for="radio2"><input type="radio" id="radio2" class="radio" name="radios">기능 개선이 필요해요.</label>
        <label class="survey-item" for="radio3"><input type="radio" id="radio3" class="radio" name="radios">버그/오류가 발생했어요.</label>
        <label class="survey-item" for="radio4"><input type="radio" id="radio4" class="radio" name="radios">사용하기가 어려워요.</label>
        <label class="survey-item" for="radio5"><input type="radio" id="radio5" class="radio" name="radios">좋아요, 응원할게요.</label>
        <label class="survey-item" for="radio6"><input type="radio" id="radio6" class="radio" name="radios">기타</label>
        {% endif %}
        <div class="clear-1"></div>
    </div>
    <div class=" align-center textfield block-hide" style="padding-top:0;">
        <textarea id="survey_text" autocomplete="off" spellcheck="false" class=" font-13"  maxlength="100" placeholder="(선택) 더 자세한 내용을 적어주세요. "
                  style="border:1px solid #bbb; -webkit-appearance:none; width: 100%; padding:6px; line-height: 1.3em; height:90px; border-radius: 2px;"></textarea>

    </div>
    <div class="clear-9"></div>
    <button id="bt_send" onclick="send_feedback();" disabled class="bt-red strong pull-right" style=" width:100%; font-size:16px; border-radius: 2px; padding:7px; height:auto; margin:0 auto; background: #ea1b27; ">의견 보내기</button>
    <div class="clear"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var feedback_mention = "";
var feedback_position = "{{ request.GET.from }}";
if (feedback_position == "") feedback_position = "timeline";

$(function(){
    $('input[type=radio][name=radios]').change(function() {
        $("#quality_analysis .textfield").slideDown(250);
        feedback_mention = $(this).parent().text();
        $("#bt_send").removeAttr("disabled");
    });
});
function send_feedback(elem){
    $("#bt_send").attr("disable",true);
    $(".quality_analysis").slideUp(300);
    ajax_get("/stat/feedback", {"from":feedback_position, "name":feedback_mention, "flag": $("#survey_text").val(), "app_version": user_app_version}, function (re) {
        native_send_toast('소중한 의견 감사드립니다.\n더 좋은 서비스로 보답하겠습니다.');
        setTimeout("native_move_back('1')", 2000);
    });
}
</script>
{% endblock %}