{% extends "native/__basic.html"%}
{% load humanize %}
{% load filters %}

{% block title %}가격비교{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ media }}/css/item.css?v=12">
    <link rel="stylesheet" href="{{ media }}/css/share.css?v=3">
    <style>
        .buy-lowest-contents { font-size:15px; line-height:19px; height:19px; display: inline-block; color:#fff; letter-spacing: 0px; }
        .buy-lowest-top { font-size:13px; font-weight:bold;line-height:19px; height:19px; display: inline-block; letter-spacing: 0px; margin:0px 0px -5px 0 }
        .buy-lowest-bottom { font-size:16px; line-height:19px; height:19px; display: inline-block; color:#fff; letter-spacing: 0px; }
        .mall-sort { font-size:15px; padding:0px 2px; color:#999 }
        .mall-sort.selected { font-weight:bold; color:#111;}
        .entire-mall-sort { font-size:15px; padding:0px 2px; color:#999 }
        .entire-mall-sort.selected { font-weight:bold; color:#111;}
        #list_scroll .logo { height:18px;margin-top:-3px; vertical-align: top; }
        #list_scroll .title { margin-top:3px; font-size:16px; color:#222; line-height: 1.3em; max-height:2.5em; overflow: hidden; word-break:break-all;}
        #list_scroll .price { position: absolute; bottom:7px;}
        #list_scroll .price .sale { font-size:11px; line-height: 12px; color:#aaa;}
        #list_scroll .price .num { font-size:17.5px; line-height: 18px; margin-top: 1px; font-weight: bold;}
        #list_scroll .price .num:after {content: '원'; font-size:12px; font-weight:bold;}

        #list_scroll .meta {margin-top: 8px; line-height: 1.2em;}
        #list_scroll .review-ct {font-size:12px; color: #aaa; }
        #list_scroll .review-rate {font-size:12px; color: #aaa; }

        iframe {
            display: none;
        }
    </style>
{% endblock %}

{% block container %}
    <!-- 상품 정보 -->
    <div id="block_entity_title" class="b-white border-bottom" >
        <div class="clear-7"></div>
        <div class="display-table">
            <div class="table-cell" style="width:130px; padding:10px 5px 10px 15px;">
                <img src="{{ thum }}/320x320/center/smart/{{re.img}}">
            </div>
            <div class="table-cell position-relative" style="padding:10px 12px;">
                <div class="strong" style="line-height: 1.3em; font-size: 17px; text-align:left; word-break:break-all; max-height: 3.9em; overflow:hidden;" >{{ re.name }}</div>
                <div class="clear-9"></div>
                <div class="clear-2"></div>
                <div class="font-20 strong c-red" style="line-height: 20px; text-align:left;">
                    {{ re.price|intcomma }}<span class="font-15">원</span>
                </div>
                <div class="clear-9"></div>       
                <div style=" box-sizing:border-box; width:100%;">
                    <button onclick="javascript:search_click('{{ re.url }}','{{ re.genre2 }}','{{ re.price }}','group_top', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '1', '{{ re.group_id }}', '{{ re.img }}', '{{ re.name }}');"
                            class="bt c-red font-15" style="width:100%;border:1px solid #f05c65;  margin:0;  border-radius:4px; padding: 6px 12px 5px; ">
                            <div class="c-darkgray font-11"> {{re.genre2|get_genre}}에서</div> 바로 구매하기
                    </button>
                </div>
            </div>
        </div>
        <div class="clear-5"></div>
    </div>

    <div class="clear-9"></div>

    <!-- 전체 상품 정보 -->
    <div id="block_mall_total" class="b-white block position-relative" style="overflow: hidden;min-height:45px;">
        <!-- 상단 정렬 버튼 -->
        <div style="height:20px;"></div>
        <div id="block_mall_num" style="float:left;">
            <span style="font-size:16px;font-weight:bold;padding:0px 0px 0px 17px;">비슷한 상품</span>
            <span class="c-midgray margin-left" style="font-size:16px;font-weight:bold">{{ pids_cnt }}</span>
        </div>
        <div id="block_entire_mall_sort" style="float:right; padding:0px 14px">
            <span class="entire-mall-sort" order="price" id="entire_group_price_order">가격순</span>                
            <span class="c-gray" style="font-size:11pt;">|</span>
            <span class="entire-mall-sort selected" order="rel" id="entire_group_rel_order">인기순</span>
        </div>
        <div class="clear-9"></div>
    </div>

    <div id="list_scroll"></div>

    <!-- 하단 전체상품 로딩 및 완료 이미지 -->
    <div id="scroll_start" class="align-center padding-9 clear" style="margin: 10px 0 54px 0;">
        <img src="{{ cdn_img }}/scroll_start.gif" style="height:9px;"/>
    </div>
    <div id="scroll_end" class="align-center padding-9 block-hide clear " style="margin: 0px 0 54px 0;">
        <img src="{{ cdn_img }}/scroll_end.png" style="height:7px;"/>
    </div>

    <div id="reco_part">
        <div id="block_reco" class="b-white th-1 block-hide" style="border-bottom:1px solid #ddd; margin:9px 0;">
            <div class="clear-9"></div>
            <div class="font-15 padding-12">
                이 상품은 어때요?
                <span class="c-gray margin-left">다른 사람들이 함께 본 상품입니다</span>
            </div>
            <div class="clear-2"></div>
            <div id="group_reco_list" style="min-height: 110px;" ></div>
        </div>
    </div>
{% endblock %}
{% block bt_up %}
    <!-- 하단 구매하기 버튼 -->
    <div id="bt_purchase" class="position-bottom th-1" style="z-index:9999;">
        <img src="{{ cdn_img }}/shadow_bot.png" style="width:100%; height:4px; margin:0; vertical-align: bottom;">
        <div class="display-table">
            <button onclick="javascript:search_click('{{ re.compare_info.rep_url }}','{{ re.compare_info.genre2 }}','{{ re.compare_info.rep_price }}','group_bottom', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.compare_info.is_ad }}', '{{ re.compare_info.goods_id }}', '1', '{{ request.GET.group_id }}', '{{ re.compare_info.thumbnail }}', '{{ re.compare_info.rep_name}}');"
                    class="bt font-16 th-1 strong" style="height:44px; width:100%;padding:0;background: #EA1B27;">
                <span class='buy-lowest-bottom'>구매하기</span>
            </button>
        </div>
    </div>

    <div id="bt_up" class="block-hide" style="margin-bottom:-10px; right:0px; position:fixed; z-index: 99999;">
        <a class="disblock" style="margin-bottom: -5px;" href="javascript:snsShare('kakaotalk','new');"><img src="{{ cdn_img }}/2016/bt_sharekakao.png" style="height:50px;height:50px;opacity: 0.83;"></a>
        <a class="disblock" href="javascript:move_to_up();"><img src="{{ cdn_img }}/2016/bt_top.png" style="height:50px;height:50px;"></a>
    </div>
    <script type="text/javascript">
        $(function(){
            $(window).scroll(function () {
                if ($(this).scrollTop() > 90){
                    $("#bt_up").show();
                }else{
                    $("#bt_up").hide();
                }
            });
        });

        function move_to_up(){
            if ( $(window).scrollTop() > 3000 ){
                $('html,body').animate({scrollTop: $('body').offset().top}, 0);
            }else{
                $('html,body').animate({scrollTop: $('body').offset().top}, 300);
            }
        }
    </script>
{% endblock %}
{% block js %}
    <script src="{{ media }}/js/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ media }}/list.js?v=22"></script>
    <script type="text/javascript" src="{{ media }}/js/kakao.custom.js?v=6"></script>
    <script type="text/javascript">
        var page = 1;
        var group_id = "{{ request.GET.group_id}}";
        var order = "rel";
        var agent = "{{ agent }}";
        var beforequery = "{{ request.GET.beforequery }}";
        var datetime_now = "{{ date2 }}"+"{{ time2 }}"+"00";
        var flag = "{{ request.GET.flag }}";
        var low_price = "{{ re.compare_info.rep_price }}";
        var group_name ="{{ re.compare_info.rep_name }}";
        var query = "{{ request.GET.query }}";
        var appname = "[홈쇼핑모아] 이 상품 어때요?";
        var desc = "{{ re.compare_info.rep_name}}\n http://hsmoa.com/s?group_id={{ request.GET.group_id }}";
        var init_scroll = 0;

        // 정렬버튼
        $(document).ready(function(){
            // 전체상품 정렬
            $(".entire-mall-sort").on("click", function () {            
                order = $(this).attr("order");
                tag = $(this).attr("id");
                if ($(this).hasClass("selected")){
                }else{
                    $(".entire-mall-sort").removeClass("selected");
                    $(this).addClass("selected");
                    list_reset();
                }
            });
        });
        function list_scroll() {
            ajax_skin("search/getCompareList", {"skin":"native/skin/_group_all_list","group_id": group_id,"page":page, "num":20,"order":order, "flag":query}, function(re){
                list_result(re);
                if( $(".list-tvshop").length > 1){
                    load_group_reco();
                }
            });
        }

        function load_group_reco() {
            if ( $("#list_scroll #block_reco").length){
                return;
            }else{
                if( $(".list-tvshop").length < 6){
                    $(".list-tvshop").eq(-1).after($("#reco_part").html())
                }else{
                    $(".list-tvshop").eq(5).after($("#reco_part").html())
                }
                ajax_get("/rpc/outer", {url: "http://shot.buzzni.com:6015/reco/item", skin: "native/skin/_group_reco", site_name: "compare", pid: group_id }, function(re){
                    if (re.length > 100){
                        $("#block_reco").show();
                        $("#group_reco_list").append(re);
                    }
                });
            }
        }

        Kakao.init('7c306230b90605de8182a56318479985');
        var snsType= {
            "kakaotalk":{
                "app_name_ios":"kakaotalk",
                "app_name_android":"com.kakao.talk",
                "ios_key":"id362057947"
            },
            "kakaostory":{
                "app_name_ios":"kakaostory-2.9.0",
                "app_name_android":"com.kakao.story",
                "ios_key":"id486244601"
            }
        };
        var snsKey = "";
        var share_param = "";
        function appCheck(type){
            snsKey = type;
            var app_name = "";
            if ((is_android_app() && app_version_count >= 90100) || is_ios_app() && app_version_count >= 90005){
                if(is_android_app()){
                    app_name = snsType[type].app_name_android;
                    window.BuzzniHybrid.checkApp(app_name, 'native_check_app_callback'); // window.HybridApp.sendMessage(msg);
                }else if(is_ios_app()){
                    app_name = snsType[type].app_name_ios;
                    var re = "{'app_name':'"+app_name+"','callback':'native_check_app_callback'}";
                    document.location = "BuzzniHybrid:checkApp:"+re;
                }
            }else{
                if(snsKey=="kakaotalk"){
                    send_kakaotalk(share_param);
                }else if(snsKey=="band"){
                    send_band();
                }
            }
        }

        function snsShare(type,param){
            share_param = param;
            appCheck(type);
        }

        //공유기능 콜백
        function native_check_app_callback(info){
            if(info=="false" || info == false){
                if(is_android_app()){
                    window.location = "market://details?id="+snsType[snsKey].app_name_android;
                }else if(is_ios_app()){
                    window.location = "http://itunes.apple.com/app/"+snsType[snsKey].ios_key;
                }
            }else{
                if(snsKey=="kakaotalk"){
                    send_kakaotalk(share_param);
                }else if(snsKey=="kakaostory"){
                    send_kakaostory();
                }
            }
        }

        function send_sms(){
            ajax_get("/stat/share/group",{"cate":"sms", "query": group_name, "price": low_price, "group_id": group_id}, function (re) {
                native_send_sms('',appname+"\n"+desc+"&from=share_sms");
            });
        }

        function send_kakaotalk(flag) {
            ajax_get("/stat/share/group",{"cate":"kakaotalk", "query": group_name, "price": low_price, "group_id": group_id, "from": flag}, function (re) {
                var short_url_app = "http://o.buzzni.com/native/group?group_id="+group_id+"&from=share_kakao";
                Kakao.Link.sendTalkLink({
                    label:"[{{re.compare_info.rep_name}}]\n최저가 {{ re.compare_info.rep_price|intcomma }}원",
                    image: {
                        src: '{% if re.compare_info.thumbnail %}{{ re.compare_info.thumbnail }}{% else %}{{ img }}/noimg3.png{% endif %}',
                        width: '640',
                        height: '640'
                    },
                    appButton: {
                        text: "홈쇼핑모아에서 확인",
                        execParams:{
                            iphone:{
                                nav:"hide",
                                tabbar:"hide",
                                title:"상품정보",
                                next_url:short_url_app
                            },
                            ipad:{
                                nav:"hide",
                                tabbar:"hide",
                                title:"상품정보",
                                next_url:short_url_app
                            },
                            android:{
                                'shoppingmoa://com.buzzni.android.subapp.shoppingmoa':"&next_url="+short_url_app
                            }
                        },
                        marketParams:{
                            android:{
                                referrer:"share_kakao_item_"+group_id
                            }
                        }
                    }
                });
            });
        }

        function send_facebook(){
            ajax_get("/stat/share/group",{"cate":"facebook", "query": group_name, "price": low_price, "group_id": group_id}, function (re) {});
            var link = "http://hsmoa.com/s?group_id="+group_id+"&from=share_facebook";
            var p = "https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(link);
            location_href("/out/link?url="+p);
        }

        function send_kakaostory(){
            ajax_get("/stat/share/group",{"cate":"kakaostory", "query": group_name, "price": low_price, "group_id": group_id}, function (re) {
                var url = "http://hsmoa.com/s?group_id="+group_id+"&from=share_kakaostory";
                Kakao.Story.open({
                    url: url,
                    text: appname,
                    urlInfo: {
                        title: '[{{re.compare_info.rep_name}}] 가격비교',
                        desc: '{{ re.compare_info.rep_price|intcomma }}원',
                        images: ['{% if re.compare_info.thumbnail %}{{ re.compare_info.thumbnail }}{% else %}{{ img }}/noimg3.png{% endif %}']
                    }
                });
            });
        }
    </script>
{% endblock %}