{% extends "native/__basic.html" %}
{% block title %}Sarah's Choice{% endblock %}
{% block css %}

    {#    <link rel="stylesheet" href="{{ meida }}/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ media }}/css/style_tab.css?v={{ datetime }}">
    <script src="{{ media }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ media }}/js/jQuery.fastClick.js"></script>
    <script src="{{ media }}/js/js.cookie.js"></script>
    {#    <script src="{{ media }}/js/style_list.js?v={{ datetime }}"></script>#}
    <style>
        #wish_list {
            width: 100%;
            left: 0;
        }
    </style>
{% endblock %}

{% block container %}

    <h1>배너보기용 임시 기획전 ID : 178</h1>
    <a id="banner_wrap">
        <div id="banner">
            <div class="title_wrap">
                <h1></h1>
                <h2></h2>
                <div class="button">보러가기 <i class="ic ic-arrow-right"></i></div>
            </div>
            <img src="" alt="">
            <div class="banner_gradient"></div>
        </div>
    </a>
{% endblock %}

{% block js %}
    <script>

        console.log('hoho');
        $(document).ready(function () {

            {#        begin_style_tab();#}
            get_style_promotion(178);
        });

        //기획전 배너 생성
        function get_style_promotion(_id) {
            var promotion_id = _id;
            var promotion_info_url = "/rpc/promotion/getInfo";
            ajax_get(promotion_info_url,
                {"promotion_id": promotion_id, "is_cache_use": 0},
                function (re) {
                    if (re && re.result.content) {
                        $('#banner_wrap').show();
                        var _title = re.result.name;
                        var _fontsize, _btn_color, _bg_color, _txt_color;
                        var $banner = $('#banner');
                        var $banner_title = $('#banner_wrap h1');
                        var $banner_sub = $('#banner_wrap h2');
                        var _p_content = re.result.content.replace(/\'/g, '"');
                        _p_content = JSON.parse(_p_content);
                        var meta = JSON.parse(re.result.meta).share;

                        var _img = "http://thum.buzzni.com/unsafe/480x480/" + _p_content.banner_image;
                        _btn_color = _p_content.banner_button_color;
                        _bg_color = _p_content.banner_background_color;
                        var _gra1 = hexToRGB("#" + _bg_color, 0.0);
                        var _gra2 = hexToRGB("#" + _bg_color, 1);

                        var _gra = 'linear-gradient(90deg, ' + _gra1 + ',' + _gra2 + ' 15%, ' + _gra2 + ' 100%)';
                        $('#banner .banner_gradient').css('background', _gra);
                        _txt_color = _p_content.banner_txt_color;

                        var banner_width = $('#banner').width();
                        if (banner_width < 420 && banner_width > 380) {
                            var mul = 0.65;
                        }
                        else if (banner_width < 381 && banner_width > 320) {
                            var mul = 0.65;
                        }
                        else if (banner_width < 321) {
                            var mul = 0.6;
                        }
                        else if (banner_width > 759) {
                            var mul = 0.7;
                        }

                        _fontsize = (banner_width * mul / _title.length / 12).toFixed(1);
                        if (_fontsize > 2.1) _fontsize = 2.1;

                        $('#banner_wrap img').attr('src', _img).removeClass('show');
                        $('#banner_wrap .button').css('background', '#' + _btn_color).css('color', '#' + _bg_color);

                        if (_bg_color == 'ffffff') {
                            $('#banner .banner_gradient').hide();
                        }
                        else {
                            $('#banner .banner_gradient').show();
                        }
                        $banner_sub.text(meta);
                        $banner.css('background', '#' + _bg_color);

                        $banner_title.html(_title).css('font-size', _fontsize + 'em')
                            .css('color', '#' + _txt_color);
                        $banner_sub.css('color', '#' + _txt_color).css('opacity', '0.7');
                        $('#banner .title_wrap').removeClass('show')
                            .css('width', $(document).width() / 2 + 30 + 'px')
                            .css('left', '40%')
                            .css('top', ($banner.height() / 2) + 'px')
                            .css('margin-top', ($('#banner .title_wrap').height() / 2 * -1) + 'px');
                        var _url = 'style/promotion?loop_cnt=1&promotion_id=' + promotion_id + "&from=style";
                        $('#banner_wrap').attr('href', _url);
                        setTimeout(function () {
                            $('#banner_wrap img').addClass('show');
                        }, 300);
                        setTimeout(function () {
                            $('#banner .title_wrap').addClass('show');
                        }, 450);
                    }
                    else {
                        $('#banner_wrap').hide();
                        // console.warn('프로모션 content 필드가 비어있습니다. 배너가 감춰집니다.')
                    }
                    //스크롤을 최상단으로
                    $(window).scrollTop(0);
                });
        }

        //hex에서 rgb값 추출
        function hexToRGB(hex, alpha) {
            var r = parseInt(hex.slice(1, 3), 16),
                g = parseInt(hex.slice(3, 5), 16),
                b = parseInt(hex.slice(5, 7), 16);
            return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
        }

    </script>
{% endblock %}