{% extends "native/__basic.html" %}
{% load filters %}
{% block css %}
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.css">
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.theme.css">
<style>

    .b-red { background: #ea1b27;} .c-red { color:#ea1b27; }.c-lion { color:#ea1b27; }
    .border-right {border-right: 1px solid #ddd;}
    .bt-more { display: block; color:#888; padding:7px; line-height: 13px; font-size: 13px; }
    .header {position: fixed; width: 100%; z-index: 99999; left:0px; top:0px;}
    .navigation .table-cell {padding:10px;}
    .navigation img {height:23px;}
    .navigation img.logo {height:25px;}
    .search {margin:0 10px 8px;  height: 32px;padding: 0px 10px 0px 6px;}
    .search input { -webkit-appearance:none; border:0; height:32px; padding: 0; width: 100%; font-size: 14px;line-height:19px; background:url("/media/img/mobile/nav_search_p.png") no-repeat 100% 50%; background-size: 16px 16px;}

    .menubar > div {display: inline-block; padding: 11px 10px 8px; min-width:24px; text-align: center; margin-left:6px; border-bottom: 2px solid #fff;font-size: 15px;  line-height: 15px;}

    .section { background: #fff; box-shadow: 0 0px 1px rgba(0,0,0,0.1); margin-bottom: 11px; min-height: 100px;}
    .section .title {font-weight: bold; font-size:16px;}
    .section.ad { background: #fff; box-shadow: 0 0px 1px rgba(0,0,0,0.1); margin-bottom: 11px; min-height: 48px;}
    .titletag { font-size: 10px; opacity:0.8;color: #fff; background: #2eb8b6; line-height: 9px; padding: 3px 4px 2px 4px;  font-weight: normal;  display: inline-block; position: relative; top:-3px; margin-right:4px; border-radius: 1px;}


    #callcenter .channel { border-top: 1px solid #eee; box-sizing: border-box; padding:5px; height:43px;}
    #callcenter .logo {width:62px; margin-top: 5px; }
    #callcenter button {float:right; height:31px; background: #5fb8b7; color:#444; border-radius:0px; padding: 0; padding-top:3px; line-height: 18px; border-radius: 4px; width:72px; font-size: 14px;}

    .cate-item {cursor:pointer; width: 100%; height:50px; background-size:100% 100% !important; }
    .show-item {cursor:pointer; width: 100%; height:50px; background-size:100% 100% !important; border: 1px solid #fff; box-sizing: border-box;}

    .swipeitem {display: none; position: absolute; width: 100%; height:100%; top:0; left:0;}
    .swipeitem:first-child {position: static; display:block;}
    .swipe-bt {-webkit-appearance: none; font-weight: bold; background: #666; opacity: 0.7; color: #fff; width:19px; height:19px; font-size:11px; line-height: 12px; padding-top:3px; border: 0; margin:1px;}
    .swipe-bt.on {background: #ea7f95;opacity: 1; }

     #wrap {max-width: 420px; margin: 0 auto;}
@media screen and (min-width: 640px) {
     #wrap {display: table; width: 100%; max-width: 840px;}
    .container { display: table-cell; width: 50%; vertical-align: top; padding:4px;}
    .first.clear {height:5px;}
}
</style>
{% endblock %}
{% block container %}
<div id="wrap">
    <div class="container">
    <div class="section ad position-relative">
        <div class="position c-white z-index " style="background: rgba(90,90,90,0.8); line-height: 12px; margin:6px; padding: 6px 6px 5px 6px;">오늘의 추천</div>
        <div id="swipe" class="" >

        </div>
    </div>


    <div class="section position-relative" style="border: 3px solid #fff;">
        <div class="title" style="padding:13px 10px 7px 8px;">
            인기 프로그램
            <div class="titletag" >PROGRAM</div>
        </div>
        <div class=" position right-3" style="top:8px;">
            <a href="/native/showlist?from=native_home" class="bt-more">더보기 <span class="ic-arrow-next"></span></a>
        </div>
        <div class="clear-5"></div>
        <div class="display-table">
            <div class="table-cell"><div class="show-item" query="왕영은의 톡톡톡"  style="background: url('{{ cdn_img }}/program/show_왕영은.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="show-item" query="쇼미더트렌드"  style="background: url('{{ cdn_img }}/program/show_쇼미더트렌드.png') no-repeat 50% 50%; "></div></div>
        </div>
        <div class="display-table">
            <div class="table-cell"><div class="show-item" query="최화정쇼" style="background: url('{{ cdn_img }}/program/show_최화정쇼.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="show-item" query="유난희, 홍석천의 라메종" style="background: url('{{ cdn_img }}/program/show_라메종.png') no-repeat 50% 50%; "></div></div>
        </div>
        <div class="display-table">
            <div class="table-cell"><div class="show-item" query="최유라쇼" style="background: url('{{ cdn_img }}/program/show_최유라쇼.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="show-item" query="Jung Show" style="background: url('{{ cdn_img }}/program/show_정쇼.png') no-repeat 50% 50%; "></div></div>
        </div>
    </div>

    <div class="section">
        <div class="title" style="padding:14px 11px 9px;">오늘 관심집중
            <div class="titletag" >HOT ITEM</div></div>
        <div id="recoitem" style="padding:0 7px 7px;">

        </div>
    </div>


</div>
<div class="container">


    <div class="section ad">
        <div class="display-table">
            <div class="table-cell"><div class="cate-item" ncate1="패션의류" ncate2="여성의류" ncate1_id="4398" ncate2_id="1848" style="background: url('{{ cdn_img }}/2016/home_cate01.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="패션잡화" ncate2="" ncate1_id="4397" ncate2_id="" style="background: url('{{ cdn_img }}/2016/home_cate02.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="생활/건강" ncate2="" ncate1_id="4407" ncate2_id="" style="background: url('{{ cdn_img }}/2016/home_cate03.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="식품" ncate2="" ncate1_id="4400" ncate2_id=""   style="background: url('{{ cdn_img }}/2016/home_cate04.png') no-repeat 50% 50%; "></div></div>
        </div>
        <div class="display-table">
            <div class="table-cell"><div class="cate-item" ncate1="화장품/미용" ncate2="" ncate1_id="4403" ncate2_id=""   style="background: url('{{ cdn_img }}/2016/home_cate05.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="디지털/가전" ncate2="" ncate1_id="4402" ncate2_id=""   style="background: url('{{ cdn_img }}/2016/home_cate06.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="출산/육아" ncate2="" ncate1_id="4404" ncate2_id=""  style="background: url('{{ cdn_img }}/2016/home_cate07.png') no-repeat 50% 50%; "></div></div>
            <div class="table-cell"><div class="cate-item" ncate1="여행/문화" ncate2="여행/항공권" ncate1_id="4401" ncate2_id="1767"   style="background: url('{{ cdn_img }}/2016/home_cate08.png') no-repeat 50% 50%; "></div></div>
        </div>
    </div>
    <div class="section block-hide">
        <div class="title font-15" style="padding:1px 3px 0px;"></div>
        <div id="hottrend" style="margin:4px 12px;"></div>
    </div>


    <div class="section position-relative">
        <div class="title" style="padding:15px 11px 4px;">
            이번주 인기상품 <div class="titletag" >BEST</div>
        </div>
        <div class=" position right-5" style="top:10px;">
            <a href="/native/tvrank?from=native_home" class="bt-more">더보기 <span class="ic-arrow-next"></span></a>
        </div>
        <div id="bestitem" class="margin">

        </div>
    </div>


    <div class="section ad " style="color: #444;">
        <div class="display-table" style="border-bottom: 1px solid #eee; ">
            <div class="table-cell align-middle align-center th3-1 font-14 " style="border-right:1px solid #eee; height:41px;">
                <a class="disblock"  href="/native/my/sale?from=native_home" style="color: #ea1b27;font-size: 14px;padding:10px 0;">
                    <img style="width:19px;vertical-align: top; margin:-2px 1px 0 -1px; border-radius: 2px;" src="{{ thum }}/72x72/{{ img }}/2016/hsmoa_icon.png">홈쇼핑 혜택
                </a>
            </div>
            <div class="table-cell align-middle align-center th3-1 font-14 " >
                <a class="disblock"  href="/native/my/shipping?from=native_home" style="color: #444;font-size: 14px;padding:10px 0;">
                    배송조회
                </a>
            </div>
        </div>
        <div class="display-table">
            <div class="table-cell align-middle align-center th3-1 font-14 " style="border-right:1px solid #eee; height:41px;">
                <a class="disblock" href="/native/my/help?from=native_home" style="color: #444;font-size: 14px;padding:10px 0;">
                    1:1 의견건의
                </a>
            </div>
            <div class="table-cell align-middle align-center th3-1 font-14 " >
                <a class="disblock"  href="javascript:location_stat('https://facebook.com/profile.php?id=367777350033695', 'home_facebook')" style="color: #3c60a9;font-size: 14px;padding:10px 0;">
                <img style="width:13px;vertical-align: top; margin:1px 0 0 -1px; border-radius: 2px;" src="{{ thum }}/72x72/https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_(square).png/240px-Facebook_logo_(square).png"> 공식 페이스북
                </a>
            </div>
        </div>
    </div>

    <div class="section visit position-relative block-hide padding">
        <div class="title" style="padding:9px 6px 4px; text-align:center;">최근 본 상품</div>
        <div id="visititem" style="margin:0 auto; max-width: 480px; ">

        </div>
        <div class=" position right-5" style="top:10px;">
            <a href="/native/my/visit?from=native_home" class="bt-more">더보기 <span class="ic-arrow-next"></span></a>
        </div>
    </div>

    <div class="section block-hide">
        <div class="title" style="padding:12px 11px 10px; ">방송상품 바로주문</div>
        <div id="callcenter" >
        </div>
    </div>
</div>
</div>
<div class="font-12 c-gray align-center" style="margin:26px auto; line-height: 16px; width:84%; max-width: 400px;">
    홈쇼핑모아를 운영하는 (주)버즈니는 결제정보의 중개서비스 또는 통신판매중개시스템의 제공자로서,통신판매의 당사자가 아니며 상품의 주문, 배송 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
    <div class="clear-9"></div>
    <div class="clear-2"></div>
    <div class="font-12 c-midgray">Copyright ©BUZZNI Corp. All Rights Reserved.</div>
    <div class="c-midgray">제휴문의 : hsmoa@buzzni.com</div>
</div>
<div class="clear" style="height:22px;"></div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/OwlCarousel/owl.carousel.min.js"></script>
<script type="text/javascript">
//홈쇼핑/분류선택
var select_cate = "";
var select_genre = ""; //선택홈쇼핑
var date = "{{ date }}"; //서버 오늘날짜
var select_date = date; //선택날짜
var time = "{{ time }}"; //서버 현재시간
var begin_time = time; //선택시간
var is_begin_time = true; //현재시간부터 시작
//리스트 불러오기
var swipe_num = 1;
function set_size(){
    var vw = $(".container").width();
    $(".cate-item").css({"height": vw/24*5});
    $(".show-item").css({"height": vw/14*2});
    $("#swipe").css({"height": vw/2});
    $(".swipeitem").css({"height": vw/2});
    $("#video").css({"width":vw, "height":vw/16*9});
    $("#video").parent().css({"height":vw/16*9});
}

$(function() {
    set_size();

    load_frist();

    $(".cate-item").on("click", function(){
        location_href('/native/category?from=native_home&ncate1='+$(this).attr("ncate1")+"&ncate2="+$(this).attr("ncate2")+"&ncate1_id="+$(this).attr("ncate1_id")+"&ncate2_id="+$(this).attr("ncate2_id")+"&title=카테고리 상품");
    });

    $(".show-item").on("click", function(){
        location_href('/native/program?from=native_home&program_query='+$(this).attr("query"));
    });
    $( window ).resize(function() {
        set_size();
    });


    setTimeout(load_second(), 1000);
});

function load_frist(){
    ajax_get("/rpc/popular_entity/getList", {"skin":"native/skin/_home_recoitem","page":1, "num": 6, "ad": 1, "cate":"패션"}, function (re) {
        $("#recoitem").html(re);
        $("#swipeitem").appendTo("#swipe");
        loop_swipe();
        $(".swipe-bt").on("click", function(){
            swipe_num = $(this).text();
            if (swipe_num == 1){
                $(".swipeitem:nth-child(1)").fadeIn(250);
                $(".swipeitem:nth-child(3)").fadeOut(300);
                $(".swipeitem:nth-child(2)").fadeOut(300);
                $(".swipe-bt").removeClass("on");
                $(".swipe-bt:nth-child(1)").addClass("on");
                swipe_num = 2;
            }else if (swipe_num == 2){
                $(".swipeitem:nth-child(2)").fadeIn(250);
                $(".swipeitem:nth-child(1)").fadeOut(300);
                $(".swipeitem:nth-child(3)").fadeOut(300);
                $(".swipe-bt").removeClass("on");
                $(".swipe-bt:nth-child(2)").addClass("on");
                swipe_num = 3;
            }else if (swipe_num == 3){
                $(".swipeitem:nth-child(3)").fadeIn(250);
                $(".swipeitem:nth-child(2)").fadeOut(300);
                $(".swipeitem:nth-child(1)").fadeOut(300);
                $(".swipe-bt").removeClass("on");
                $(".swipe-bt:nth-child(3)").addClass("on");
                swipe_num = 1;
            }
        });
    });


}

function loop_swipe(){
    if (swipe_num == 1){
        $(".swipeitem:nth-child(1)").fadeIn(250);
        $(".swipeitem:nth-child(3)").fadeOut(300);
        $(".swipe-bt").removeClass("on");
        $(".swipe-bt:nth-child(1)").addClass("on");
        swipe_num = 2;
    }else if (swipe_num == 2){
        $(".swipeitem:nth-child(2)").fadeIn(250);
        $(".swipeitem:nth-child(1)").fadeOut(300);
        $(".swipe-bt").removeClass("on");
        $(".swipe-bt:nth-child(2)").addClass("on");
        swipe_num = 3;
    }else if (swipe_num == 3){
        $(".swipeitem:nth-child(3)").fadeIn(250);
        $(".swipeitem:nth-child(2)").fadeOut(300);
        $(".swipe-bt").removeClass("on");
        $(".swipe-bt:nth-child(3)").addClass("on");
        swipe_num = 1;
    }
    setTimeout(function(){
        loop_swipe();
    }, 3000);
}

function load_second(){


   // ajax_get("/rpc/board/getList", {"skin":"native/skin/_home_hottrend", "cate":"trends", "order":'create_date', "page": 1, "num":2}, function(re){
    //    $("#hottrend").html(re);set_size();
   // });

    ajax_get("/rpc/popular_entity/getList", {"skin":"native/skin/_home_bestitem","page":1, "num": 6, "ad": 1}, function (re) {
        $("#bestitem").html(re);
        set_size();
        //setTimeout(load_visit(), 1500);
    });

}


function load_visit(){

    ajax_get("/rpc/visit/getList", {"skin":"native/skin/_home_visititem","page":1, "num": 3,"action": "entity","order": "update_date desc"}, function (re) {
        if(re.length>200){
            $("#visititem").parent().show();
            $("#visititem").html(re);
        }set_size();
    });
}

//광고 통계용
function location_stat(url, info) {
    ajax_get("/stat/outlink",{"flag":info, "url":url}, function (re) {
        var ran = "tvshop" + Math.floor(Math.random() * 1000000);
        if (is_android_app() || is_ios_app()) {
            var trigger = "<a href='/out/link?url=" + url + "'><input class='block-hide' id='" + ran + "' /></a>";
            $("body").append(trigger);
            $("#" + ran).trigger("click");
        } else {
            location.href = url;
        }
    });
}
</script>
{% endblock %}
