{% extends "native/__basic.html" %}
{% block title %}비주얼 서치{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../../../media/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>
    <script>

    </script>
        <style>
    body{
        background: #fff;
    }
    #list_scroll{
        text-align: center;
    }
{#        #list_scroll li:first-child{#}
{#             display:block;#}
{#            width:200px;#}
{#            height:200px;#}
{#            border-radius: 50em;#}
{#            overflow: hidden;#}
{#            min-height: auto;#}
{#            margin:0 auto 20px;#}
{#            box-shadow: 0 0 0 1px rgba(0,0,0,0.23) inset, 4px 10px 12px rgba(0,0,0,0.15);#}
{#        }#}
{##}
{#        #list_scroll li:first-child img{#}
{#            width:100%;#}
{#            margin:0;#}
{#            min-height: auto;#}
{#        }#}
{##}
{#        #list_scroll li:first-child:before{#}
{#            padding-top:100%;#}
{#            width:100%;#}
{#            position:relative;#}
{#            background: #00a4b3;#}
{#        }#}

        li img{
            width:98%;
            margin:1%;
            min-height: 190px;
            border-radius: 2px;
        }
        li img:before{
            width:100%;
            padding-top:100%;
            position:absolute;
            background: #ccc;

            top:0;
            left:0;
        }
        li{
            position: relative;
            display:inline-block;
            width:48%;
            min-height:290px;
            background: #fff;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.23) inset, 0 0px 4px rgba(0,0,0,0.15);
            text-align: left;
            margin:0 0.5% 2% 1%;
            border-radius: 4px;
            overflow: hidden;
        }

        li:nth-child(even){
            margin:0 1% 2% 0.5%;
        }


        #reco_list li{
            width:32%;
            margin:0 0.5% !important;
            min-height:200px;
        }

        #reco_list li img{
            min-height:100px;
        }

        li div{
            height:auto;
            padding:8px;
            min-height:1.9em;
            max-height:1.9em;
            margin-bottom:0;
            overflow: hidden;
            color:#4a4a4a;
        }
        li div.price{
            font-size:20px;
            font-family: avenir;
            font-weight: 900;
            color:#333;
            min-height:1em;
            max-height: 1em;
        }
        li .price:after{
            content:"w";
            font-size:12px;
        }
        li small.name, li a.site{
            margin:0 10px;
            border-top:none;
            text-align: left;
            max-height: 2em;
            height:2em;
            overflow: hidden;
            margin-bottom:10px;
            color:#666;
            display:block;
            line-height:2em;
        }

        li a.site{
            height:1em;
            margin-bottom:0;
        }
        li a{
            width:90%;
            margin:0 5%;
            color: #2d8bd2;
            border-top:1px solid #eee;
            display: block;
            padding:8px 0 8px;
            text-align: center;
            content:"비슷한 스타일 찾기"
        }

        h1{
            text-align: center !important;
            color:#fff;
            background:#948e8e;
            font-weight: normal;
            display: inline-block;
            margin:0 auto;
            padding:2px 8px 1px;
            border-radius: 50em;
            margin-bottom:12px;
            position: fixed;
            z-index: 10;
        }

        .btn_bad{
            padding:0;
            color:#333;
            margin:0;
            width: 36px;
            height:36px;
            background: #fff;
            box-shadow:0 2px 2px rgba(0,0,0,0.23),0 0 1px rgba(0,0,0,0.15);
            border-radius: 50em;
            bottom:110px;
            right:10px;
            position: absolute;
            z-index: 10;
        }

        .btn_bad i{
            margin-top:10px;
            color:#ccc;
            font-size:18px;
            transition: 1s;
        }
        .btn_bad.liked i{
            color:#fe626a;
        }
        .dummy_thum{
            padding:0;
            width:100%;
            padding-top:80%;
            height:0;
            background: #ccc;
            position: relative;
        }
        .dummy .btn_bad{
            bottom:90px;
        }
    .dummy div, .dummy i, .dummy .site, .dummy .name{
        -webkit-animation: blink 2s infinite;
    }
    .dummy .price, .dummy .site, .dummy .name{
        background: #ccc;
        color:transparent;
        display: inline-block;
        margin:10px;
        padding:0;
        border-radius: 2px;
    }
    .dummy .site{ height:1em; margin:0 10px 10px}
    .dummy .name{ height:1em; margin:0 10px 10px}

    @-webkit-keyframes blink{
        0%{ opacity: 1}
        50%{ opacity: 0.6}
        100%{ opacity: 1}
    }
    input{
        display: block;
        width:90%;
        padding:12px 8px 10px;
        border-radius: 4px;
        margin:10px auto;
        border:none;
        box-shadow: 4px 4px 8px rgba(0,0,0,0.05), 0 0px 2px rgba(0,0,0,0.15);

    }

    .btn_shot{
        display: block;
        width:50%;
        background: #ff6f83;
        box-shadow: 4px 4px 8px rgba(255,111,131, 0.3);
        color:#fff;
        border:0;
        padding:8px 4px;
        font-size:18px;
        font-weight: bold;
        margin:10px auto;
        border-radius: 50em;
        font-weight: 300;
        text-align: center;
    }
    h2{
        font-size:60px;
        font-family: Avenir;
        font-weight: 900;
        height:1em;
        margin:0;
        text-align: center;
    }
    button{
        display: inline-block;
        padding:10px 20px 8px;
        background: #666;
        border:0;
        border-radius: 50em;
        color:#fff;
        font-size:14px;
    }

    button.active{
        background: #00a4b3;
    }
    .btn_wrap{
        width:100%;
        margin:20px 0;
        text-align: center;
    }
    h4{
        text-align: left;
{#        border:1px solid #e9e9e9;#}
        padding:4px 10px 2px;
{#        background: #f7f7f7;#}
        color:rgba(0,0,0,0.8);
        font-size:12px;
    }

    #container{
        background: url('{{ request.GET.img }}') no-repeat;
        background-size:100%;
        width:100%;
        max-width:414px;
        margin:0 auto;
    }
    #list_scroll{
        width:100%;
        max-width: 414px;
        margin:0 auto;
    }
    </style>
{% endblock %}

{% block container %}
    <input class="input_url" type="text" placeholder="이미지 주소를 입력하세요">
    <a class="btn_shot" href="javascript:get_shotping($('.input_url').val(),'','','','')">
        <i class="fa fa-search"></i>
        비슷한 스타일 찾기
    </a>
    <div class="btn_wrap">
        <button class="cate1 active">신발/잡화</button>
        <button class="cate2">의류</button>
    </div>

<div id="container"></div>
  <script>
  var ww;
  var hh;
  var xx;
  var yy;

    var width = window.innerWidth;
    width = $('#container').width();
    function update(activeAnchor,num) {
        if(num == 1){
            var group = activeAnchor;
        }else{
            var group = activeAnchor.getParent();
        }

        var topLeft = group.get('.topLeft')[0];
        var topRight = group.get('.topRight')[0];
        var bottomRight = group.get('.bottomRight')[0];
        var bottomLeft = group.get('.bottomLeft')[0];
        var image = group.get('Image')[0];
        var rects = group.get('Rect')[0];
        var anchorX = activeAnchor.getX();
        var anchorY = activeAnchor.getY();
        // update anchor positions
        {#        if(anchorY < 0) anchorY = anchorY0;#}
        {#        if(anchorX < 0) anchorX = anchorX;#}
        {#        if(anchorX > width) anchorX = anchorX;#}
        {#        if(anchorY > width) anchorY = anchorY;#}
        switch (activeAnchor.getName()) {
            case 'topLeft':
                topRight.setY(anchorY);
                bottomLeft.setX(anchorX);
                break;
            case 'topRight':
                topLeft.setY(anchorY);
                bottomRight.setX(anchorX);
                break;
            case 'bottomRight':
                bottomLeft.setY(anchorY);
                topRight.setX(anchorX);
                break;
            case 'bottomLeft':
                bottomRight.setY(anchorY);
                topLeft.setX(anchorX);
                break;
        }
        //image.position(topLeft.position());
        rects.position(topLeft.position());
        var width = topRight.getX() - topLeft.getX();
        var height = bottomLeft.getY() - topLeft.getY();
        if(width && height) {
            //image.width(width);
            //image.height(height);
            rects.width(width);
            rects.height(height);
        }
        var window_width = window.innerWidth;
        ww = width;
        hh = height;

        console.log(ww,hh,'-----');
        if( num ==1 ){
            xx = group.attrs.x/window_width;
            yy = group.attrs.y/window_width;
        }else{
            xx = topLeft.getX()/window_width;
            yy = topLeft.getY()/window_width;
        }
        ww = xx + width/window_width;
        hh = yy + height/window_width;


        xx = xx.toFixed(2);
        yy = yy.toFixed(2);
        ww = ww.toFixed(2);
        hh = hh.toFixed(2);
    }
    function addAnchor(group, x, y, name) {
        var stage = group.getStage();
        var layer = group.getLayer();
        var anchor = new Konva.Circle({
            x: x,
            y: y,
            stroke: 'rgba(0,0,0,0.23)',
            fill: '#fff',
            strokeWidth: 10,
            radius: 8,
            name: name,
            draggable: true,
            dragOnTop: false
        });

        anchor.on('dragmove', function() {
            update(this,0);
            layer.draw();
        });

        anchor.on('mousedown touchstart', function() {
            group.setDraggable(false);
            this.moveToTop();
        });

        anchor.on('dragend', function() {
            group.setDraggable(true);
            layer.draw();
            console.log('drag_End!!',"x",xx,"y",yy,"w",ww,"h",hh);
            var _url = '{{ request.GET.img }}';
            get_shotping(_url,'',xx,yy,ww,hh);
        });


        group.on('dragmove', function(){
           update(this,1);
           layer.draw();
        });

        group.on('mousedown touchstart', function() {
{#            group.setDraggable(false);#}
            this.moveToTop();
        });

        group.on('dragend', function(){
{#            group.setDraggable(true);#}
            update(this,1);
            layer.draw();
{#            var _url = '{{ request.GET.img }}';#}
{#            get_shotping(_url,'',xx,yy,ww,hh);#}
{#            console.log('Move!!',"x",xx,"y",yy,"w",ww,"h",hh);#}
        });
{#        // add hover styling#}
{#        anchor.on('mouseover', function() {#}
{#            var layer = this.getLayer();#}
{#            document.body.style.cursor = 'pointer';#}
{#            this.setStrokeWidth(4);#}
{#            layer.draw();#}
{#        });#}
{#        anchor.on('mouseout', function() {#}
{#            var layer = this.getLayer();#}
{#            document.body.style.cursor = 'default';#}
{#            this.setStrokeWidth(2);#}
{#            layer.draw();#}
{#        });#}
        group.add(anchor);
    }
    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: width
    });
    var layer = new Konva.Layer();
    stage.add(layer);
    // darth vader
    var darthVaderImg = new Konva.Image({
        width: 150,
        height: 150
    });

    var rects = new Konva.Rect({
            x: 0,
            y: 0,
            width:150,
            height:150,
            stroke: '#fff',
            strokeWidth: 3,
            fill: 'rgba(0,0,0,0.23)'
        });

    var darthVaderGroup = new Konva.Group({
{#        x: width/2-(150/2),#}
{#        y: width/2-(150/2),#}
        x: 0,
        y: 0,
        draggable: true
    });
    layer.add(darthVaderGroup);

    darthVaderGroup.add(darthVaderImg);
    darthVaderGroup.add(rects);

    addAnchor(darthVaderGroup, 0, 0, 'topLeft');
    addAnchor(darthVaderGroup, 150, 0, 'topRight');
    addAnchor(darthVaderGroup, 150, 150, 'bottomRight');
    addAnchor(darthVaderGroup, 0, 150, 'bottomLeft');


    var imageObj1 = new Image();
    imageObj1.onload = function() {
        //darthVaderImg.image(imageObj1);
        layer.draw();
    };
    imageObj1.src = 'http://itemimage.cjmall.com/goods_images/33/884/33059884L.jpg';



  </script>


    <h4>비슷한 스타일 상품</h4>
    <div id="list_scroll"></div>
    <h4>추천 상품</h4>
    <div id="reco_list"></div>
{% endblock %}
{% block js_basic %}
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
{% block js %}
    <script>


        $('.input_url').val('{{ request.GET.img }}');
        var dummy = '<li class="dummy"><div class="dummy_thum"></div><a class="btn_bad" href="javascript:bad_goods(3)"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a><div class="price">123400</div><a class="site" href="#">site_name <i class="fa fa-caret-right"></i></a><small class="name">product_name</small></li>';

        var img= '{{ request.GET.img }}';
        console.log("IMG_URL : "+img);

        var port = 6008;



        $('.cate1').click(function(){
           port = 6008;
           $('button').removeClass('active');
           $(this).addClass('active');
        });

        $('.cate2').click(function(){
           port = 6030;
           $('button').removeClass('active');
           $(this).addClass('active');
        });

        get_shotping(img,'','','','','');
        get_reco();
        get_content();



        //상품상세
        function get_content() {
            var pid = '{{ request.GET.pid }}';
            console.log("PID : " + pid);
        }

        //추천 검색상품
        function get_reco(){
            var pid = '{{ request.GET.pid }}';
            var url = 'http://57.buzzni.com:8890/recoSearch?pid='+pid+'&num='+3;


            ajax_get("/rpc/outer",{url:url},
                    function(raw){

                        var re = JSON.parse(raw);
                        console.log("HO", raw);
                        var len = re.result.data.length;
                        $('.dummy').fadeOut(300);
                        for(var i = 0; i<len; i++){
                            if(re.result.data[i].img || re.result.data[i].url){

                                var img_block = "<img src='"+re.result.data[i].img+"'>";
                                var content_block = "<small class='name'>"+re.result.data[i].name+"</small>";
                                var price_block = "<div class='price'>"+re.result.data[i].price+"</div>";
                                var more_block = "<a id=a_"+i+" href='javascript:shot("+i+")'><i class='fa fa-search'></i> 비슷한 스타일 찾기</a>";
                                var site_block = "<a class='site' href='"+re.result.data[i].url+"'>"+re.result.data[i].site_name+" <i class='fa fa-caret-right'></i>"+"</a>";
                                var btn_bad = "<a class='btn_bad' href='javascript:bad_goods("+i+")'><i class='fa fa-heart fa-2x' aria-hidden='true'></i></a>";
                                var wrap = "<li data-pid='"+re.result.data[i].pid+"'>"+img_block+price_block+site_block+content_block+"</li>";

                                $('#reco_list').append(wrap);
                            }
                        }
                    }
                );
        }
        //유사이미지
        function get_shotping(_img_url, _site,x1,y1,x2,y2){
            $('#list_scroll').html('');
            var url ='http://shot.buzzni.com:'+port+'/img/searchByUrl';

{#            var port = 9307;#}
{#            var url ='http://shot.buzzni.com:9307/img/searchByUrl';#}
{#            var url ='http://shot.buzzni.com:'+port+'/img/searchByUrl';#}

            console.log(_img_url);

            //$('#list_scroll').append("<li><img src='"+_img_url+"'></li>");

            $('#list_scroll').append(dummy);
            $('#list_scroll').append(dummy);
            $('#list_scroll').append(dummy);
            $('#list_scroll').append(dummy);
            $('#list_scroll').append(dummy);
            $('#list_scroll').append(dummy);

            ajax_get(url,
                {'img_url':_img_url, 'page':1, 'num':6,
                    'crop_x1':x1, 'crop_y1':y1,
                    'crop_x2':x2, 'crop_y2':y2},
                    function(re){

                        var len = re.result.data.length;
                        $('.dummy').fadeOut(300);
                        for(var i = 0; i<len; i++){

                            if(re.result.data[i].img || re.result.data[i].url){
                                var datas = re.result.data[i].img;
                                target = 'http://thum.buzzni.com/unsafe/320x320/center/smart/';
                                datas = datas.replace(target,'');
                                target = 'http://thum.buzzni.com/unsafe/640x640/center/';
                                datas = datas.replace(target,'');

                                var img_block = "<img src='"+datas+"'>";
                                var content_block = "<small class='name'>"+re.result.data[i].name+"</small>";
                                var price_block = "<div class='price'>"+re.result.data[i].price+"</div>";
                                var more_block = "<a id=a_"+i+" href='javascript:shot("+i+")'><i class='fa fa-search'></i> 비슷한 스타일 찾기</a>";
                                var site_block = "<a class='site' href='"+re.result.data[i].url+"'>"+re.result.data[i].site_name+" <i class='fa fa-caret-right'></i>"+"</a>";
                                var btn_bad = "<a class='btn_bad' href='javascript:bad_goods("+i+")'><i class='fa fa-heart fa-2x' aria-hidden='true'></i></a>";
                                var wrap = "<li data-pid='"+re.result.data[i].pid+"'>"+img_block+btn_bad+price_block+site_block+content_block+more_block+"</li>";

                                $('#list_scroll').append(wrap);
                            }
                        }
                    }
                );
        }

        function shot(id){
            move_to_up();
            var _url = $("#a_"+id).parent().find('img').attr('src');
            var _site = $('#a_'+id).parent().find('.site').text().trim();

{#            _url = _url.replace(/320x320/g, '640x640');#}
            target = 'http://thum.buzzni.com/unsafe/320x320/center/smart/';
            _url = _url.replace(target,'');
            target = 'http://thum.buzzni.com/unsafe/640x640/center/';
            _url = _url.replace(target,'');
            console.log("HOHO!!",_url, "SITE",_site);
            //console.log("URL: ",_url);
            get_shotping(_url, _site,'','','','');
        }

        $('body').bind('click', '.btn_bad', function(){
            bad_goods();
        });


        function bad_goods(id){
            $('#a_'+id).parent().find('.btn_bad').addClass('liked');
        }




    </script>
{% endblock %}