{% extends "native/__basic.html" %}
{% load humanize %}
{% load filters %}
{% load name_refiner_fashiontab %}

{% block title %}홈쇼핑모아 스타일{% endblock %}

{% block css %}
    <script src="{{ media }}/js/swiper.jquery.min.js"></script>
    <script src="{{ media }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ media }}/js/jQuery.fastClick.js"></script>
    <script src="{{ media }}/js/js.cookie.js"></script>

    <link rel="stylesheet" href="{{ media }}/css/swiper.min.css?v={{ datetime }}">
    <link rel="stylesheet" href="{{ media }}/css/style_tab.css?v={{ datetime }}">

    <script src="{{ media }}/js/style_list.js?v={{ datetime }}"></script>
    <style>
        body {
            padding-top: 0;
        }

        {% if agent == 'android' %}
            #bt_up {
                display: none;
            }
        {%  endif %}

        #container .bg {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        {#            background:url('{{ re.img }}') no-repeat;#} background-size: cover;
            background-position: top;
            -webkit-transform: scale(1.0);
            z-index: 1;
            position: absolute;
        }

        #container .bg.to_bottom {
            background-position: center;
            transition: 0s;
        }

        #container img {
            position: relative;
            z-index: 9;
        }

        #admin_only {
            display: none;
        }

        {% if request.GET.admin_mode == "true" %}
            #admin_only {
                display: none;
            }
        {% else %}
            #admin_only {
                display: none;
            }
        {% endif %}

        #wish {
            -webkit-transform: translateY(48px);
            -webkit-transform: translateY(0);
            -webkit-transition: .3s;
        }

        #wish.overlay {
            -webkit-transform: translateY(-44px);
        }

        #scroll_top {
            -webkit-transition: .3s;
            -webkit-transform: translateY(10px);
            z-index: 900;
        }

        #scroll_top.overlay {
            -webkit-transform: translateY(-41px);
            z-index: 1001;
        }

        #wish.show {
            -webkit-transform: translateY(0px);
            transition: .3s;
        }

        #container .heart {
            top: 0;
            right: 0;
        }

        #container .heart i {
            margin-top: 14px;
            pointer-events: none;
        }

        #no_result_container {
            display: none;
            background: url('{{ thum }}/10x10/{{ re.img }}') no-repeat;
            background-size: cover;
        }

        .bbox {
            position: absolute;
            z-index: 10;
            transition: .3s;
        }

        .bbox.active {
            background: rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 0 20px #fff;

        }

        .bbox.active.loading {
            background: rgba(0, 0, 0, 0.1);

        }

        .bbox.active .loading {
            opacity: 0;
            transition: .3s;
        }

        .bbox.active.loading .loading {
            opacity: 1;
            position: absolute;
            border-radius: 4px;
            z-index: 10;
            width: 90%;
            top: 5%;
            left: 5%;
            animation: loading_box 1.3s linear infinite;
            background: #fff;
            height: 2px !important;
            box-shadow: 0 -2px 10px #fff, 0 -2px 5px 1px #fff;
        }

        @keyframes loading_box {
            0% {
                top: 5%;
                opacity: 0
            }
            10% {
                top: 10%;
                opacity: 1
            }
            90% {
                top: 90%;
                opacity: 1
            }
            100% {
                top: 95%;
                opacity: 0
            }
        }

        .bbox_point {
            position: absolute;
            z-index: 190;
            width: auto;
            min-width: 40px;
            height: 40px;
            margin-left: -13.5px;
            margin-top: -13.5px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 2px #fff inset;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50em;
            text-align: center;
            font-size: 11px;
            color: #fff;
            padding: 0;
            font-weight: bold;
            font-family: avenir, Sans-Serif;
            line-height: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: .3s;
        }

        .bbox_point.active {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            background: #fff;
            color: #ED5C5C;
            opacity: 0;
        }

        .dimbox {
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            z-index: 10;
            -webkit-transition: .05s;
        }

        #list_scroll {
            padding-bottom: 80px;
        }

        .spin {
            display: flex;
            z-index: 20;
            position: absolute;
            color: #fff;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            animation: pulse 1s ease-out infinite;
            box-shadow: 0 0 0 2px #fff inset;
            border-radius: 50em;
        }

        @keyframes pulse {
            0% {
                -webkit-transform: scale(1);
                opacity: 1;
            }
            100% {
                -webkit-transform: scale(1.5);
                opacity: 0;
            }
        }

        .bbox .guide {
            transition: .5s;
        }

        .bbox .guide.lt {
            left: 30%;
            top: 30%;
        }

        .bbox .guide.tl {
            left: 30%;
            top: 30%;
        }

        .bbox .guide.rt {
            right: 30%;
            top: 30%;
        }

        .bbox .guide.tr {
            right: 30%;
            top: 30%;
        }

        .bbox .guide.lb {
            left: 30%;
            bottom: 30%;
        }

        .bbox .guide.bl {
            left: 30%;
            bottom: 30%;
        }

        .bbox .guide.rb {
            right: 30%;
            bottom: 30%;
        }

        .bbox .guide.br {
            right: 30%;
            bottom: 30%;
        }

        .bbox.active .guide {
            position: absolute;
            background: #fff;
        }

        .bbox.active .guide.tl {
            width: 16px;
            height: 4px;
            top: -4px;
            left: -4px;
        }

        .bbox.active .guide.lt {
            width: 4px;
            height: 16px;
            top: -4px;
            left: -4px;
        }

        .bbox.active .guide.bl {
            width: 16px;
            height: 4px;
            bottom: -4px;
            left: -4px;
        }

        .bbox.active .guide.lb {
            width: 4px;
            height: 16px;
            bottom: -4px;
            left: -4px;
        }

        .bbox.active .guide.tr {
            width: 16px;
            height: 4px;
            top: -4px;
            right: -4px;
        }

        .bbox.active .guide.rt {
            width: 4px;
            height: 16px;
            top: -4px;
            right: -4px;
        }

        .bbox.active .guide.br {
            width: 16px;
            height: 4px;
            bottom: -4px;
            right: -4px;
        }

        .bbox.active .guide.rb {
            width: 4px;
            height: 16px;
            bottom: -4px;
            right: -4px;
        }
    </style>
{% endblock %}

{% block container %}
    <div id="no_result_container">
        <div class="no_result_inner">
            <div class="title">저런!..</div>
            <small class="sub_title">찾으시는 상품정보가 존재하지 않습니다.</small>
            <div class="btn_wrap">
                <a href="javascript:stat_back();">
                    <i class="ic ic-arrow-left"></i> 뒤로가기
                </a>
                <div></div>
                <a href="javascript:stat_refresh();">
                    <i class="ic ic-refresh"></i> 새로고침
                </a>
            </div>
        </div>
    </div>
    <div id="footer_wrap">
        <div id="{{ re.genre2 }}_{{ re.goods_id }}" class="footer">
            {#        {% if request.GET.loop_cnt|get_int >= 1 %}#}
            <a class="btn_home">
                <i class="ic ic-home"></i>
                <span>메인</span>
            </a>
            {#        {% endif %}#}
            {#        {% if agent != 'android' %}#}
            <a class="share_kakao" href="javascript:snsShare('kakaotalk','home_style');">
                <i class="ic ic-kakaotalk"></i>
                <span>공유</span>
            </a>
            {#        {% endif %}#}
            <a id="heart_{{ re.goods_id }}" href="" class="heart {% if re.like_id %}active{% endif %}">
                <i class="ic ic-heart-full"></i>
                <span>위시담기</span>
            </a>
            {% if isAdmin == True %}
                <a id="btn_admin">
                    ADMIN
                </a>
            {% endif %}
        </div>
    </div>

    <div id="container">
        {#        <div id="{{ re.genre2 }}_{{ re.goods_id }}" class="main_heart">#}
        {#            <a id="heart_{{ re.goods_id}}" class="heart{% if re.like_id != 0%} active{% else %}{% endif %}">#}
        {#                <i class="ic ic-heart-full"></i>#}
        {#            </a>#}
        {#        </div>#}
        {#        {% if request.GET.loop_cnt|get_int > 2 %}#}
        {#            <div class="btn_home">#}
        {#                <div class="btn_home_inner">#}
        {#                    <i class="ic ic-home"></i>#}
        {#                    <div>메인</div>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endif %}#}
        <div class="gradient"></div>

        {% if 'gif' in re.img %}
            <img src="{{ re.img }}" alt=""
                 onerror="$('this, #container, #footer_wrap').hide();$('#no_result_container').show();">
        {% else %}
            <img src="{{ thum }}/640x0/{{ re.img }}" alt=""
                 onerror="$('this, #container, #footer_wrap').hide();$('#no_result_container').show();">
        {% endif %}

        <div class="bg"></div>
    </div>
    <div id="{{ re.genre2 }}_{{ re.goods_id }}" class="product_info">
        <div style="flex:7">
            <div class="name">
                {{ re.name|filter_for_refine_name:re.brand }}
            </div>
            <span class="price">
                {{ re.price|intcomma }}
            </span>

            {% if re.genre2_ko %}
                <span class="mall">
                    {{ re.genre2_ko }}
                </span>
            {% else %}
                {% if re.genre2 in "gsshop cjmall hnsmall hmall ssg ssgshop lotte lotteimall nsmall gsmyshop auction 11st gmarket wshop kshop immall hmallplus cjmallplus shopnt" %}
                    <img class="genre2_logo" src="{{ media }}/logo/logo_{{ re.genre2 }}.png" alt="">
                {% else %}
                    <span class="mall">
                    {{ re.genre2 }}
                </span>
                {% endif %}
            {% endif %}
        </div>
        <a href=
                   "javascript:style_buy_click(
                   '{{ re.url|urlencode }}',
                   '{{ re.genre2 }}_{{ re.goods_id }}',
                   '{{ re.genre2 }}',
                   '{{ re.price }}',
                   '',
                   'flag_style_top',
                   '');"
           class="link" style="margin-right:4px">
            상세보기 <i class="ic ic-angle-right"></i>
        </a>
    </div>

    <div id="footer_wrap2">
        <div id="mall_info">
            <div class="thum">
                <img src="{{ thum }}/40x40/{{ re.img }}" onload="freeze_gif(this)" alt="">
            </div>
            <div class="genre">
                <div class="name">
                    {{ re.name|filter_for_refine_name:re.brand }}
                </div>
                <div class="brand">
                    <span class="price"> {{ re.price|intcomma }}</span> {{ re.brand|filter_for_refine_name }}
                    {% if re.genre2_ko %}
                        {{ re.genre2_ko }}
                    {% else %}
                        {% if re.genre2 in "gsshop cjmall hnsmall hmall ssg ssgshop lotte lotteimall nsmall gsmyshop auction 11st gmarket wshop kshop immall hmallplus cjmallplus shopnt" %}
                            <img class="genre2_logo" src="{{ media }}/logo/logo_{{ re.genre2 }}.png" alt="">
                        {% else %}
                            {{ re.genre2 }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="footer2">
            <a href="javascript:style_buy_click(
            '{{ re.url|urlencode }}','{{ re.genre2 }}_{{ re.goods_id }}',
            '{{ re.genre2 }}',
            '{{ re.price }}',
            '',
            'flag_style_bottom',
            '');"
               class="link">
                상세보기
            </a>
            <a href="javascript:style_buy_click('{{ re.url|urlencode }}',
            '{{ re.genre2 }}_{{ re.goods_id }}',
            '{{ re.genre2 }}',
            '{{ re.price }}',
            '',
            'flag_style_bottom_buy','');"
               class="link_buy">
                구매하기
            </a>
        </div>
    </div>
    <div class="clear"></div>

    {% if re.cat1 %}
        <div class="clear"></div>
    {% endif %}

    {% if isAdmin == True and request.GET.xid != "" %}
        <div id="admin_only">
            <h4 class="section_title">관리자용 정보 영역 <i class="ic ic-close"></i></h4>
            <div>
                <span id="genre_id">{{ request.GET.genre2 }}_{{ request.GET.pid }}</span>
            </div>
            <div>
                <small>shop type : {{ re.shop_type }}</small>
            </div>
            <div id="cat_wrap">
                {% if re.cat1 %}
                    <small class="cat1">{{ re.cat1 }} </small>
                    <small class="cat2">{{ re.cat2 }} </small>
                    <small class="cat3">{{ re.cat3 }} </small>
                {% else %}
                    <small>이 상품은 카테고리 정보가 없습니다.</small>
                {% endif %}
            </div>

            <hr>
            <div>
                <i class="ic ic-refresh"></i> 이전페이지 체류시간 <b>{{ request.GET.elapsed_time }}</b>초
                <br>
                <i class="ic ic-delivery"></i> 총 체류시간 <b>{{ request.GET.total_time }}</b>분
            </div>

            <hr>
            <input class="key_genre2" type="text" placeholder="genre2">
            <input class="key_pid" type="text" placeholder="pid">
            <a href="javascript:admin_move();" class="key_search">
                상품바로가기
            </a>
            <hr>
            <div>
                <button class="btn_send_wrong_cat">
                    신고하기 <i class="ic ic-angle-right"></i>
                </button>
                <small>
                    <i class="ic ic-question-mark"></i> 카테고리가 맞지않는 상품인 경우 제보 버튼을 터치해주세요
                </small>
            </div>
        </div>
    {% endif %}

    {#  가격비교  #}
    {#    <h4 class="section_title">판매처 <span id="compare_count"></span></h4>#}
    {#    <div id="compare_price"></div>#}
    {#    <div class="alert_msg">쇼핑몰에서 정확한 가격과 상품정보를 꼭 확인하세요</div>#}

    <h4 class="section_title similar">비슷한 스타일 추천</h4>
    <div id="similar_style_list" class="swiper-container">
        {#        <h4 class="section_title">비슷한 스타일 상품#}
        {#            <a href="" class="more"><i class="fa fa-search"></i> 더보기</a>#}
        {#        </h4>#}
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
    </div>



    <h4 class="section_title" style="padding:0 10px 0;">같은 카테고리 상품들</h4>
    <div id="list_scroll">

    </div>

    <div id="list_promotion"></div>
    <div id="scroll_start" class="align-center padding-9 clear" style="margin: 5px 0">
        <img src="{{ media }}/img/scroll_start.gif" alt="">
    </div>
    <div id="scroll_top"><i class="ic ic-arrow-top"></i></div>


{% endblock %}
{% block js_basic %}
    {% include "native/wish.html" %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ media }}/js/kakao.custom.js?v=6"></script>
    <script>
        var loop_cnt = parseInt('{{ request.GET.loop_cnt }}') || 0;

        var user_gender;
        var user_age;
        var user_info_url = "/rpc/user/getInfo";
        var user_info_param = {"target_id": user_id};

        var mySwiper = '';

        var product_img = '{{ re.img }}';
        var product_genre2 = '{{ request.GET.genre2 }}';
        var product_pid = '{{ request.GET.pid }}';
        var group_id = '{{ request.GET.group_id }}';
        var product_shop_type = '{{ re.shop_type }}';
        var product_cat1 = '{{ re.cat1 }}';
        var product_cat2 = '{{ re.cat2 }}';
        var product_cat3 = '{{ re.cat3 }}';
        var product_name = '{{ re.name|filter_for_refine_name }}';
        var filter_age = '{{ request.GET.filter_age }}'
        var from = '{{ request.GET.from }}';

        var product_page = '{{ product_page }}';

        if (product_cat1 == '') {
            product_cat1 = '{{ request.GET.cat1 }}'
        }
        ;
        if (product_cat2 == '') {
            product_cat2 = '{{ request.GET.cat2 }}'
        }
        ;
        if (product_cat3 == '') {
            product_cat3 = '{{ request.GET.cat3 }}'
        }
        ;

        var dummy = '<li class="swiper-slide dummy"><div class="dummy_thum"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></li>';
        var dummy_list = [];
        var swiper_wrap = $('#similar_style_list .swiper-wrapper');
        for (var i = 0; i < 9; i++) {
            dummy_list.push(dummy);
            swiper_wrap.append(dummy);
        }
        swiper_wrap.append(dummy_list.join(''));
        swiper_wrap.find('div').addClass('loading');


        var $container = $('#container');
        var $footer_wrap = $('#footer_wrap');
        var $product_info = $('.product_info');
        var poster_height;

        //추적하기
        var isPush = "";
        {% if request.GET.isPush == "1" %}
            isPush = "&isPush=1";
        {% endif %}

        var slides_per_column = 3;
        var slides_count = 26;

        if (from == "middle_similar") {
            slides_per_column = 4;
            slides_count = 33;
        }
        var slides_per_view = 3;
        if ($(window).width() > 759) {
            slides_per_view = 5;
        }
        mySwiper = new Swiper('#similar_style_list', {
            speed: 300,
            slidesPerView: slides_per_view,
            slidesPerColumn: slides_per_column,
            spaceBetween: 4,
            slidesPerGroup: 3,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            paginationType: 'bullets'
        });

        var shopping;


        $(document).ready(function () {
            shopping = new SarahShopping();
            shopping.setup_cate();

            shopping.page = '{{ request.GET.page }}';
            shopping.cat1 = product_cat1;
            shopping.cat2 = product_cat2;
            shopping.cat3 = product_cat3;
            shopping.filter_age = filter_age;
            shopping.uri_prefix = "middle?";
            shopping.from = "middle_list";
            {#            console.log("FILTERAGE", shopping.filter_age);#}
            {#            console.log('ready..');#}
            {#            console.log('this is', shopping.from, '\n-------');#}
            shopping.set_shopping_id();

            ajax_get(user_info_url, user_info_param, function (re) {
                if (re && re.result.gender) {
                    var user_info = re.result;
                    user_gender = user_info.gender;
                    var user_birth = user_info.birth;
                    var now = new Date();
                    user_age = now.getFullYear() - parseInt(String(user_birth).substr(0, 4));
                }
            });

            //키워드
            var keyword_list = product_name.split(' ');
            {#            console.log(keyword_list);#}
            keyword_list.forEach(function (val) {
                {#                $('#keyword_wrap').append('<li class="keyword">' + val + '</li>');#}
            });


            set_my_wish_count();
            settingEvent();
            get_similar_style(product_img, product_genre2, product_pid, product_shop_type);

            list_scroll();
            $('body').scrollTop(0);
            setTimeout(function () {
                $('#container .detail, #container .gradient').addClass('show');
                {% if isAdmin == True and request.GET.xid != "" %}
                    detect_obj(product_img);
                {% endif %}
            }, 500);

            if (group_id != "" || group_id != "0") {
                {#                get_compare_info();#}
            }
        });

        {#        $('#container .gradient, #container .detail, #container .bg').bind('click', function () {#}
        $('#container .gradient, #container .detail, #container .bg, #container img').fastClick(function () {
            $('#container .detail, #container .gradient').toggleClass('show');
        });


        //오브젝트 디텍션
        function detect_obj(_img_url) {
            var _param = {
                "url": "http://shot.buzzni.com:6031/object_detection",
                "img_url": "{{ thum }}/" + $(document).width() + "x0/" + _img_url
            };
            ajax_get("/rpc/outer", _param, function (re) {
                if (re) {
                    var data = JSON.parse(re);
                    var cw = $('#container > img').width();
                    var ch = $('#container > img').height();

                    $('#container').append('<div class="dimbox db_l" style="left:0; top:0;"></div>');
                    $('#container').append('<div class="dimbox db_r" style="right:0;top:0;"></div>');
                    $('#container').append('<div class="dimbox db_t" style="top:0;"></div>');
                    $('#container').append('<div class="dimbox db_b" style="bottom:0;"x></div>');

                    var categories = [
                        '배경',
                        '원피스',
                        '바지',
                        '반바지',
                        '스커트',
                        '상의',
                        '아우터',
                        '가방',
                        '신발',
                        '스카프',
                        '모자',
                        '넥타이',
                        '선글<br>라스',
                        '시계'];

                    data.coordinates.forEach(function (i, val) {
                        if (i.score < 0) {
                            return;
                        }
                        $('#container').append(
                            '<div class="bbox bbox_' + val + '" data-cat="' + categories[i.category] +
                            '"><div class="loading"></div><div class="guide tl"></div>' +
                            '<div class="guide lt"></div><div class="guide tr"></div><div class="guide rt">' +
                            '</div><div class="guide lb"></div><div class="guide bl"></div><div class="guide rb">' +
                            '</div><div class="guide br"></div></div>');
                        $('#container').append('<div class="bbox_point bbox_point_' + val + '">' + ' ' +
                            categories[i.category] + '<div class="spin"></i></div></div>');

                        $('#container .bbox_' + val).css('left', parseInt(i.x1 * cw))
                            .css('top', parseInt(i.y1 * ch))
                            .css('width', parseInt(i.x2 * cw - i.x1 * cw))
                            .css('height', parseInt(i.y2 * ch - i.y1 * ch));

                        var _left = parseInt((i.x1 * cw + i.x2 * cw) / 2);
                        var _top = parseInt((i.y1 * ch + i.y2 * ch) / 2);

                        $('#container .bbox_point_' + val).css('left', _left + 10);
                        $('#container .bbox_point_' + val).css('top', _top - 10);
                        console.log(categories[i.category], i.score.toFixed(2));
                        if (i.score.toFixed(2) < 0.85) {
                            var opa = 0.5;
                        } else if (i.score.toFixed(2) < 0.6) {
                            var opa = 0.05;
                        }
                        $('.bbox_point').eq(val).css('opacity', opa);

                        $('.bbox_point_' + val).fastClick(function () {
                            if (!$(this).hasClass('active')) {
                                $('.bbox').removeClass('active').removeClass('loading');
                                $('.bbox_point').removeClass('active');
                                $(this).addClass('active');
                                $('.bbox').addClass('loading');
                                $('.db_l').width($('.bbox_' + val).css('left'));
                                $('.db_l').height('100%');
                                $('.bbox_' + val).addClass('active');
                                $('.db_t, .db_b').css('left', $('.bbox_' + val).css('left'));
                                $('.db_t, .db_b').width($('.bbox_' + val).width());
                                $('.db_t').height($('.bbox_' + val).css('top'));
                                $('.db_b').height($('#container').height() - $('.bbox_' + val).height() -
                                    $('.bbox_' + val).css('top').replace('px', ''));
                                $('.db_r').width($('#container').width() - $('.bbox_' + val)
                                        .css('left').replace('px', '') - $('.bbox_' + val).width());
                                $('.db_r').height('100%');
                                $('.section_title.similar').text("선택하신 " + $(this).text() + "와 비슷한 스타일 추천");

                                $('#container .bbox_' + val).css('left', parseInt(i.x1 * cw));
                                $('#container .bbox_' + val).css('top', parseInt(i.y1 * ch));
                                $('#container .bbox_' + val).css('width', parseInt(i.x2 * cw - i.x1 * cw));
                                $('#container .bbox_' + val).css('height', parseInt(i.y2 * ch - i.y1 * ch));

                                var _x1 = i.x1;
                                var _y1 = i.y1;
                                var _x2 = i.x2;
                                var _y2 = i.y2;

                                get_similar_style(
                                    product_img,
                                    product_genre2,
                                    product_pid,
                                    product_shop_type,
                                    _x1,
                                    _y1,
                                    _x2,
                                    _y2);
                            }
                        });

                        $('.dimbox').fastClick(function () {
                            $('.bbox, .dimbox').fadeOut(100).remove();
                            $('.bbox_point').removeClass('active');
                            get_similar_style(product_img, product_genre2, product_pid, product_shop_type);
                        });
                    });
                }
            });
        }


        function get_compare_info() {
            var _param = {
                "group_id": group_id,
                "page": 1,
                "num": 20,
                "order": "price",
                "flag": "style"
            };

            ajax_get("/rpc/search/getCompareList", _param, function (re) {

                $('#compare_count').text(re.result.count);
                var compare_list = re.result.data;
                compare_list.forEach(function (i, val) {

                    var com_img = '<span class="img"><img src="' + i.img + '"></span>';
                    var com_genre2 = '<span class="genre2"><img class="genre2_logo" ' +
                        'src="{{ media }}/logo/logo_' + i.genre2 + '.png" alt=""></span>';
                    var com_price = '<span class="price"><a href="' + i.url + '">' + i.low_price + '</a></span>';
                    $('#compare_price').append('<li>' + com_img + com_genre2 + com_price + '</li>');
                });
            });
        }

        //비슷한 스타일 상품 리스트
        function get_similar_style(_img_url, _site_name, _pid, _shop_type, _x1, _y1, _x2, _y2) {
            scroll_start = true;
            var __site_name = _site_name;

            {# 비주얼서치의 로딩속도를 빠르게 하기 위한 처리#}
            {# shop_type이 "sohofashion"인 경우 site_name은 "sohofashion"으로 한다. #}
            {#  아닌 경우, site_name은 genre2로 한다. #}
            {#  pid는 genre2 + _ + goods_id로 한다. #}

            if (_shop_type == 'sohofashion') {
                __site_name = 'sohofashion';
            }
            else {
                __site_name = _site_name
            }


            var _param = {
                "skin": "native/skin/_similar_list_slim",
                "url": "http://shot.buzzni.com:6031/similar_items",
                "img_url": _img_url,
                "offset": 0,
                "num": slides_count,
                "site_name": __site_name,
                "pid": _site_name + '_' + _pid,
                "restrict": true,
                "crop_x1": _x1,
                "crop_y1": _y1,
                "crop_x2": _x2,
                "crop_y2": _y2,
                //"cat1":product_cat1,
                "client": "hsmoa"
                {#                "cat2":product_cat2,#}
                {#                "cat3":product_cat3,#}
                {#                "is_test":true#}
            }

            ajax_get("/rpc/outer", _param, function (re) {
                try {
                    var re = JSON.parse(re);
                } catch (err) {
                    //alert(err)
                }
                if (re && re.length > 30) {
                    $('#similar_style_list .swiper-wrapper').html(re);

                    update_similar_list();

                    var $slide = $('.swiper-slide');

                    $slide.css('max-height', $slide.width() + 'px');
                    if (loop_cnt === 0 || loop_cnt === "0") {
                        mySwiper.slideTo(3, 0);
                        setTimeout(function () {
                            mySwiper.slideTo(1, 2000);
                            mySwiper.on('slideChangeStart', function () {
                                var _index = mySwiper.activeIndex;
                                if (mySwiper.isEnd) {
                                    _index = "-1";
                                }
                                ajax_get("/stat/style/similar_swipe", {"index": _index});
                            });
                        }, 300);
                    }

                    $('li.swiper-slide .product_wrap').height($slide.width());
                    {% if 'gif' in re.img %}
                    {% else %}
                        $('.first-slide, .last-slide')
                            .css('background', 'url("{{ thum }}/10x10/{{ re.img }}") no-repeat')
                            .css('background-size', 'cover');
                    {% endif %}

                    if (_x1) {
                        poster_height = ( $footer_wrap.height() + $container.height() + $product_info.height() + 20);
                        $('body').animate({scrollTop: poster_height}, '500');
                        $('.bbox').removeClass('loading');
                    }

                }
                else {
                    $('#similar_style_list').hide();
                }

                logExExposedposedItems();
            });

            $('.first-slide').css('background', 'url("{{ thum }}/10x10/{{ re.img }}") no-repeat')
                .css('background-size', 'cover');

        }

        //노출로그 남기기
        function logExExposedposedItems() {
            var exposed_similar_list = [];
            $('.swiper-slide').each(function (i) {
                var _id = $('.swiper-slide').eq(i).attr('id');
                exposed_similar_list.push(_id);
            });
            ajax_get("/rpc/search/logExposedItems", {"entities": exposed_similar_list.join(','), "type": "style"});
        }

        function update_similar_list() {
            mySwiper.update({
                speed: 300,
                slidesPerView: slides_per_view,
                slidesPerColumn: slides_per_column,
                spaceBetween: 4,
                slidesPerGroup: 3,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationType: 'bullets',
                freeMode: true
            });

            setTimeout(function () {
                $('.swiper-slide').addClass('show');
            }, 500);

        }

        //다음 미들페이지 가기
        function change_product(_genre2, _pid, _cat1, _cat2, _cat3) {
            var current_scroll = $(window).scrollTop();
            var total_height = $(document).height();
            var page = shopping.page;

            if ($('body').hasClass('wish_opened')) {
                wish_close();
            }
            var timeInfo = getElapsedTime();
            location_href("middle?" +
                '&genre2=' + _genre2 +
                '&pid=' + _pid +
                '&loop_cnt=' + (loop_cnt + 1) +
                '&scroll=' + current_scroll +
                "&total_height=" + total_height +
                "&page=" + page +
                "&from=middle_similar" +
                '&cat1=' + product_cat1 +
                '&cat2=' + product_cat2 +
                '&cat3=' + product_cat3 +
                "&current_time=" + timeInfo.current_time +
                "&elapsed_time=" + timeInfo.elapsed_time +
                "&total_time=" + (timeInfo.total_time) +
                isPush
            );
        }

        var check_buyclick = false;

        //구매이동
        function style_buy_click(url, entity_id, site, price, cate, from, live) {
            var shop_list = [
                'gsshop', 'cjmall', 'hnsmall',
                'hmall', 'ssg', 'ssgshop', 'lotte',
                'lotteimall', 'nsmall', 'gsmyshop',
                'auction', '11st', 'gmarket', 'wshop',
                'kshop', 'immall', 'hmallplus',
                'cjmallplus', 'shopnt'];

            if (check_buyclick) return;
            else check_buyclick = true;

            {#            console.log(url);#}

            if (url) {
                if (site == "cjmall") {
                    url = url.replace("app_cd=HMOAOC", "app_cd=HMOA_PROD");
                } else if (site == "gsshop") {
                    url = url.replace("media=LDG", "media=LKh");
                } else if (site == 'ssg') {
                    site = 'ssgshop';
                }
                var _is_inapp = is_inapp_link(site);
                var _dict = {
                    "url": url,
                    "entity_id": entity_id,
                    "site": site,
                    "price": price,
                    "cate": cate,
                    "from": from,
                    "sfrom": superFrom,
                    "adid": user_adid,
                    "inapp": _is_inapp,
                    "loop_cnt": loop_cnt,
                    "elapsed_time": getElapsedTime().elapsed_time,
                    "user_gender": user_gender,
                    "user_age": user_age
                };

                if (typeof aid_query === 'undefined' || aid_query === null) {
                } else {
                    $.extend(_dict, {"query": aid_query});
                }//상품상세에서 검색어알람이 있을 경우 통계에 추가
                ajax_get("/stat/style_buyclick", _dict, function (re) {
                    check_buyclick = false;
                    {#                    console.log(_dict)#}
                    {#                    console.log(url);#}
                    if ($.inArray(site, shop_list) == -1) {
                        location_href("/inner/out/link?url=" + url);
                    } else if (_is_inapp || site == "") {
                        location_href("/inner/out/link?url=" + url);
                    } else if (is_android_app() || is_ios_app()) {
                        location_href("/out/link?url=" + url);
                    } else {
                        alert("normal");
                        location_href(url);
                    }
                });
            } else {
                native_send_toast("해당 상품은 생방송 중에 주문가능합니다");
            }
        }

        //스크롤시 구매하기 버튼 토글
        {#        $(window).off().scroll(function () {#}
        $(window).scroll(function () {
            list_check();
            var _scroll_top = $(document).scrollTop();
            var _wh = $footer_wrap.height() + $container.height() + $product_info.height() + 20;

            if (_scroll_top >= _wh) {
                $('#footer_wrap2, #wish').addClass('overlay');
                setTimeout(function () {
                    $('#scroll_top').addClass('overlay');
                }, 100);
            }
            else if (_scroll_top < _wh) {
                $('#footer_wrap2, #scroll_top, #wish').removeClass('overlay');
            }
        });

        //메인버튼 클릭
        $('.btn_home').fastClick(function () {
            ajax_get("/stat/style/btn_home", {"loop_cnt": loop_cnt});
            {% if agent == 'web' %}
                location_href();
            {% else %}
                native_move_back((loop_cnt + 1));
            {% endif %}
        });

        //관리자용 영역 닫기
        $('#admin_only .section_title i').click(function () {
            $('#admin_only').hide();
            $('#btn_admin').removeClass('active');
        });

        //관리자용 영역 토글
        $('#btn_admin').click(function () {
            $(this).toggleClass('active');
            $('#admin_only').fadeToggle(150);
        });

        Kakao.init('7c306230b90605de8182a56318479985');
        var snsType = {
            "kakaotalk": {
                "app_name_ios": "kakaotalk",
                "app_name_android": "com.kakao.talk",
                "ios_key": "id362057947"
            }
        };

        var snsKey = "";
        var share_param = "";
        function appCheck(type) {
            snsKey = type;
            var app_name = "";

            var version = user_app_version.split("_")[0];
            {#            if ((is_android_app() && version >= "9.1.0") || is_ios_app() && version >= "9.0.5") {#}
            {#                if (is_android_app()) {#}
            if ((is_android_app() && app_version_count >= 90100) || is_ios_app() && app_version_count >= 90005) {
                if (is_android_app()) {
                    app_name = snsType[type].app_name_android;
                    window.BuzzniHybrid.checkApp(app_name, 'native_check_app_callback');
                    send_kakaotalk(share_param);
                } else if (is_ios_app()) {
                    app_name = snsType[type].app_name_ios;
                    var re = "{'app_name':'" + app_name + "','callback':'native_check_app_callback'}";
                    document.location = "BuzzniHybrid:checkApp:" + re;
                }
            } else {
                if (snsKey == "kakaotalk") {
                    send_kakaotalk(share_param);
                }
            }
        }

        function snsShare(type, param) {
            share_param = param;
            appCheck(type);
        }

        //공유기능 콜백
        function native_check_app_callback(info) {
            if (info == "false" || info == false) {
                if (is_android_app()) {
                    window.location = "market://details?id=" + snsType[snsKey].app_name_android;
                } else if (is_ios_app()) {
                    window.location = "http://itunes.apple.com/app/" + snsType[snsKey].ios_key;
                }
            } else {
                if (snsKey == "kakaotalk") {
                    send_kakaotalk(share_param);
                }
            }
        }

        function send_sms() {
            ajax_get("/stat/share/item", {
                "cate": "sms",
                "query": entity_name,
                "price": entity_price,
                "entity_id": entity_id
            }, function (re) {
            });
            native_send_sms('', appname + "\n" + desc + "&from=share_sms");
        }

        var event_label = '[스타일탭]\n요즘 유행하는 옷부터,\n내가 좋아하는 스타일까지 바로추천!\n쇼핑앱의 알파고, 홈쇼핑모아 스타일.\n\n' +
            $('#mall_info .name').text().trim() + '\n' + $('#mall_info .price').text().trim() + '원';

        function send_kakaotalk(flag) {
            var img_w = $('#container img').width();
            var img_h = $('#container img').height();
            ajax_get("/stat/style/share/item",
                {
                    "cate": "kakaotalk",
                    "query": "{{ re.name }}",
                    "price": "{{ re.price }}",
                    "entity_id": "{{ re.genre2 }}_{{ re.goods_id }}",
                    "from": flag
                }, function (re) {
                    var short_url_app = "http://o.buzzni.com/native/home/style/middle?genre2={{ re.genre2 }}"+
                        "&pid={{ re.goods_id }}&loop_cnt=0&from=share_kakao";
                    Kakao.Link.sendTalkLink({
                        label: event_label.replace(/&amp;/g, '&'),
                        image: {
                            src: '{% if re.img %}{{re.img}}{% else %}{{ img }}/noimg3.png{% endif %}',
                            width: img_w,
                            height: img_h
                        },
                        appButton: {
                            text: "홈쇼핑모아 스타일탭가기",
                            execParams: {
                                iphone: {
                                    nav: "hide",
                                    tabbar: "hide",
                                    title: "상품정보",
                                    next_url: short_url_app
                                },
                                ipad: {
                                    nav: "hide",
                                    tabbar: "hide",
                                    title: "상품정보",
                                    next_url: short_url_app
                                },
                                android: {
                                    'shoppingmoa://com.buzzni.android.subapp.shoppingmoa': "&next_url=" + short_url_app
                                }
                            },
                            marketParams: {
                                android: {
                                    // referrer:"share_kakao_item_"+entity_id
                                    referrer: "share_kakao_item_" + "{{ re.genre2 }}" + "{{ re.goods_id }}"
                                }
                            }
                        }
                    });
                });
        }

        function admin_move() {
            var key_genre2 = $('.key_genre2').val();
            var key_pid = $('.key_pid').val();
            location_href('middle?genre2=' + key_genre2 + "&pid=" + key_pid);
        }

        //잘못된 카테고리정보 제보 전송
        $('.btn_send_wrong_cat').click(function () {
            var _msg = prompt('잘못된 카테고리를 제보합니다.\n 추가의견이 있다면 적어주세요');
            ajax_get("/stat/style/wrong_cat", {
                "genre2": product_genre2,
                "pid": product_pid,
                "name": name,
                "cat1": product_cat1,
                "cat2": product_cat2,
                "cat3": product_cat3,
                "msg": _msg
            });
        });

        $('#mall_info').fastClick(function () {
            $('body').scrollTop(0);
            ajax_get("/stat/style/scroll_top", {"type": "mall_info", "from": shopping.from});
        });

        $('body').on('click', '.keyword', function () {
            var select_keyword = $(this).text().trim();
            view_search(product_name, 'home_style');
        });

        //이미지 평균 RGB값 구하기
        function getAverageRGB(imgEl) {
            var blockSize = 5, // only visit every 5 pixels
                defaultRGB = {r: 0, g: 0, b: 0}, // for non-supporting envs
                canvas = document.createElement('canvas'),
                context = canvas.getContext && canvas.getContext('2d'),
                data, width, height,
                i = -4,
                length,
                rgb = {r: 0, g: 0, b: 0},
                count = 0;

            if (!context) {
                return defaultRGB;
            }

            height = canvas.height = imgEl.naturalHeight || imgEl.offsetHeight || imgEl.height;
            width = canvas.width = imgEl.naturalWidth || imgEl.offsetWidth || imgEl.width;

            context.drawImage(imgEl, 0, 0);

            try {
                data = context.getImageData(0, 0, width, height);
            } catch (e) {
                return defaultRGB;
            }

            length = data.data.length;

            while ((i += blockSize * 4) < length) {
                ++count;
                rgb.r += data.data[i];
                rgb.g += data.data[i + 1];
                rgb.b += data.data[i + 2];
            }

            // ~~ used to floor values
            rgb.r = ~~(rgb.r / count);
            rgb.g = ~~(rgb.g / count);
            rgb.b = ~~(rgb.b / count);

            return rgb;
        }


    </script>
{% endblock %}
