{% extends "native/__basic.html" %}
{% block title %}홈쇼핑모아 스타일{% endblock %}
{% block css %}
    <script src="{{ media }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ media }}/js/jQuery.fastClick.js?v={{ datetime }}"></script>
    <script src="{{ media }}/js/js.cookie.js"></script>
    <script src="{{ media }}/js/style_list.js?v={{ datetime }}"></script>

    <link rel="stylesheet" href="{{ media }}/css/style_tab.css?v={{ datetime }}">
{#    <script src="http://192.168.1.186:8080/target/target-script-min.js#anonymous?v={{ datetime }}"></script>#}
    <style>

        #wish{
            -webkit-transform: translateY(48px);
        }
        #wish.overlay{
            -webkit-transform: translateY(0px);
        }

        {% if agent == 'android' %}
            #scroll_top, #bt_up {
                display: none !important;
            }
            #wish{
                -webkit-transform: translate(-4px, 0);
            }
            #wish.overlay{
                -webkit-transform: translate(-4px, 0);
            }
        {%  endif %}
    </style>
{% endblock %}

{% block container %}
    {#    <div id="wish_scroll_backup" class="block-hide" style="height:100px"></div>#}
    <div class="clear-9"></div>
    <div id="filter_wrap"></div>
    <a id="banner_wrap">
        <div id="banner">
            <div class="title_wrap">
                <h1></h1>
                <h2></h2>
                <div class="button">보러가기 <i class="ic ic-arrow-right"></i></div>
            </div>
            <img src="" alt="">
            <div class="banner_gradient"></div>
        </div>
    </a>
    <div id="btn_banner_all"><i class="i ic ic-plus"></i> 더보기</div>


    <div id="filter_wrap2">
        <ul id="filters">
{#            <li id="btn_filter">#}
{#                <div class="ic ic-category"></div>#}
{#                <span>전체필터</span>#}
{#            </li>#}
            <li class="filter_gender active gender_female" data-gender="female">
                <span>여성</span>
            </li>
            <li class="filter_gender gender_male" data-gender="male">
                <span>남성</span>
            </li>
            <li style="flex:7; background: #fff"></li>
            <li id="filter_age" data-age="">
                연령선택<i class="ic ic-angle-bottom"></i>
            </li>
{#            <li class="filter_age f_20 active" data-age="20">#}
{#                20대#}
{#            </li>#}
{#            <li class="filter_age f_30" data-age="30">#}
{#                30대#}
{#            </li>#}
{#            <li class="filter_age f_40" data-age="40">#}
{#                40대#}
{#            </li>#}
            <div id="tooltip_age" class="tooltip bottom-right">연령대별 상품을 찾아보세요</div>
            <ul id="age_list">
                <li class="filter_age age_all active" data-age="20,30,40">
                    연령전체
                </li>
                <li class="filter_age age_20" data-age="20">
                    20대
                </li>
                <li class="filter_age age_30" data-age="30">
                    30대
                </li>
                <li class="filter_age age_40" data-age="40">
                    40대
                </li>
            </ul>
        </ul>
    </div>

    <div id="float_filter">
        <div class="filters">
            <div class="btn_filter">
                <i class="ic ic-category"></i>
                <span>전체필터</span>
            </div>
        </div>
    </div>

    <div id="cate_ball" class="cate_ball_male">
        <ul class="cate_ball_male">
            <li class="c_all" data-name="all" >
                <div class="thum"></div>
                <span>최신</span>
            </li>
            <li class="c_top" data-name="top">
                <div class="thum"></div>
                <span>상의</span>
            </li>
            <li class="c_bottom" data-name="bottom">
                <div class="thum"></div>
                <span>하의</span>
            </li>
{#            <li class="c_outer" data-name="outer">#}
{#                <img src="{{ thum }}/60x60/http://image.nsmall.com/itemimg/6/23/646/23719646_N.jpg" alt="">#}
{#                아우터#}
{#            </li>#}
            <li class="c_dress" data-name="dress">
                <div class="thum"></div>
                <span>수트</span>
            </li>
            <li class="c_bag" data-name="bag">
                <div class="thum"></div>
                <span>가방</span>
            </li>
            <li class="c_shoes" data-name="shoes">
                <div class="thum"></div>
                <span>신발</span>
            </li>
            <li class="c_acc" data-name="acc">
                <div class="thum"></div>
                <span>악세사리</span>
            </li>
        </ul>
        <ul class="cate_ball_female active">
            <li class="c_all active" data-name="all">
                <div class="thum"></div>
                <span>최신</span>
            </li>
            <li class="c_top" data-name="top">
                <div class="thum"></div>
                <span>상의</span>
            </li>
            <li class="c_bottom" data-name="bottom">
                <div class="thum"></div>
                <span>하의</span>
            </li>
{#            <li class="c_outer" data-name="outer">#}
{#                <img src="{{ thum }}/60x60/http://image2.lotteimall.com/goods/72/12/01/1216011272_1.jpg" alt="">#}
{#                아우터#}
{#            </li>#}
            <li class="c_dress" data-name="dress">
                <div class="thum"></div>
                <span>드레스</span>
            </li>
            <li class="c_bag" data-name="bag">
                <div class="thum"></div>
                <span>가방</span>
            </li>
            <li class="c_shoes" data-name="shoes">
                <div class="thum"></div>
                <span>신발</span>
            </li>
            <li class="c_acc" data-name="acc">
                <div class="thum"></div>
                <span>악세사리</span>
            </li>
        </ul>
    </div>

    <div id="cate_detail"></div>

    <div class="section_title main">
        <i class="ic ic-category"></i> <span>남성</span> <i class="ic ic-angle-right"></i> <span>악세사리</span> <i class="ic ic-angle-right"></i> <span>전체</span> ・ <span>4000</span>
    </div>
    <div id="list_scroll"></div>

    <div class="clear-9"></div>
    <div id="scroll_start" class="align-center padding-9 clear" style="margin: 5px 0">
        <img src="{{ media }}/img/scroll_start.gif" alt="">
    </div>
    <div id="scroll_end" class="align-center padding-9 block-hide clear " style="margin: 5px 0 24px 0;">
        <i class="fa thumbs-up"></i>
    </div>

    <div id="filter_list">
        <h2>카테고리 선택</h2>
        <ul class="cate_gender">
            <li class="c_gender gender_female active" data-gender="female">
                <span>여성</span>
            </li>
            <li class="c_gender gender_male" data-gender="male">
                <span>남성</span>
            </li>
        </ul>

        <ul class="cate_sort">
            <li class="c_rank" data-name="rank">인기 순</li>
            <li class="c_recent active" data-name="recent">최신 순</li>
        </ul>

        <ul class="cate_list cate_list_female">
            <li class="c_all" data-name="all">ALL</li>
            <li class="c_top" data-name="top">상의</li>
            <li class="c_bottom" data-name="bottom">하의</li>
{#            <li class="c_outer" data-name="outer">아우터</li>#}
            <li class="c_dress" data-name="dress">드레스</li>
            <li class="c_shoes" data-name="shoes">신발</li>
            <li class="c_bag" data-name="bag">가방</li>
            <li class="c_acc" data-name="acc">악세사리</li>
        </ul>

        <ul class="cate_list cate_list_male">
            <li class="c_all" data-name="all">ALL</li>
            <li class="c_top" data-name="top">상의</li>
            <li class="c_bottom" data-name="bottom">하의</li>
{#            <li class="c_outer" data-name="outer">아우터</li>#}
            <li class="c_dress"  data-name="dress">수트</li>
            <li class="c_shoes" data-name="shoes">신발</li>
            <li class="c_bag" data-name="bag">가방</li>
            <li class="c_acc" data-name="acc">악세사리</li>
        </ul>

        <div class="btn_filter_bottom btn_filter_close">취소</div>
        <div class="btn_filter_bottom btn_filter_done">선택적용</div>
    </div>

    <div id='wish_container'></div>
    <div class="dim"></div>
    <div id="scroll_top"> <i class="ic ic-arrow-top"></i></div>

    <div id="tooltip_filter" class="tooltip top">필터로 원하는 상품을 찾아보세요</div>
    <div id="tooltip_wish" class="tooltip top">마음에 드는 상품을 위시해보세요 </div>
    <div id="tooltip_wish_list" class="tooltip top">위시한 상품은 위시리스트에서 찾으실 수 있어요</div>
    <div id="tooltip_promotion" class="tooltip top">다양한 기획전을 찾아보세요</div>


{% endblock %}
{% block js_basic %}
    {% include "native/wish.html" %}
{% endblock %}

{% block js %}
    <script>
    var isPush = "";
    {% if request.GET.isPush == 1 or request.GET.isPush == "1" %}
        isPush = "&isPush=1";
    {% endif %}
        $(document).ready(function () {

            if (typeof user_id === 'undefined') user_id = "";
            if (typeof user_token === 'undefined') user_token = "";

            //유저 성별 정보를 불러와서 성별 카테고리를 세팅한다
            begin_style_tab();
        });

    </script>

{% endblock %}
