{% extends "native/__basic.html" %}
{% load humanize %}
{% load filters %}
{% block title %}기획전{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ media }}/css/style_tab.css?v={{ datetime }}">
    <script src="{{ media }}/js/js.cookie.js"></script>
    <script src="{{ media }}/js/jQuery.fastClick.js"></script>
    <script src="{{ media }}/js/style_list.js?v={{ datetime }}"></script>

<style>
    body{
        background: #f7f7f7;
        padding-top:0;
    }

    #wish.overlay{
        -webkit-transform:translateY(50px);
    }

    .clear-9, .dim, #wish_list, #wish_list_tail{ display: none}
    .more_block{
        position: relative;
        padding:0;
        text-align: center;
        font-size:24px;
        width:98%;
        margin-top:10px;
        border-top:1px solid #e9e9e9;

    }
    .more_block a{
        color: #6e5af8;
    }
    #poster{
        position: relative;
        width:100%;
        padding-top:100%;
        display: none;
    }
    #poster img{
        position:absolute;
        top:0;
        width:100%;
        z-index:1;
    }
    #poster .title_wrap{
        position: absolute;
        top:0;
        height:240px;
        max-height:240px;
        z-index: 10;
        display:table;
        width:80%;
        left:10%;
    }
    #poster h1{
        display:table-cell;
        vertical-align: bottom;
        text-align: center;
        font-weight:300;
        text-shadow:0 0 3px rgba(0,0,0,0.3);
        width:100%;
        color:#fff;
        z-index: 10;
        font-size:2.4em;
        font-weight:900;
        font-family: avenir, sans-serif;
    }
    #poster h3{
        position: absolute;
        top:55%; text-shadow:0 0 3px rgba(0,0,0,0.5);
        font-size:16px; font-weight:300; line-height:1.6em;
        width:80%;
        left:10%;
        color:#fff;
        z-index:10;
    }
    .product .detail{
        min-height:20px;
    }

    .product .more_block{
        bottom:10px;
        left:3%;
        width:94%;
        position: absolute;
        z-index:10;
    }

    h3.product{
        width:100%;
        height:30px; margin-top: 10px;
        font-size:14px; font-family: avenir, sans-serif;
        text-align: center;
        min-height:30px;
    }
    .poster-dim{
        position:absolute;
        width:100%; height:100%; background: rgba(0,0,0,0.4);
        display:block;
        top:0;
        z-index: 10;
    }
    .full-width{
        width:100% !important;
        max-width:100%;
        color:rgba(0,0,0,0.8);
    }
    {% if agent == 'android' %}
        #bt_up {
            display: none !important;
        }
    {%  endif %}

    #banner_wrap{
        height:100px !important;
        margin:0 !important;
    }

    #banner .title_wrap{
        width:100%;
        left:0 !important;
    }
    #banner_wrap{
        box-shadow: none;
    }
    #banner h1{
        text-align: center;
    }
    #banner h2{
        margin:0;
        text-align: center;
    }
    #banner img{
        display: none;
    }
    #banner .title_wrap{
        left:8%;
    }

    #scroll_start{
        display: none !important;
    }

    @media screen and (max-width: 759px) {
        body{
{#            padding-top:75px;#}
        }

        #banner_wrap {
            height: 200px;
            top: 0;
{#            position: fixed;#}
            z-index: 100;
            margin:0 auto 10px;
        }

        #banner img {
            left:-50%;
            top:-50%;
            display: block;
            height:180%;

{#            top: -50%;#}
            -webkit-filter: blur(0px)
        }

        #banner .title_wrap {
{#            left: 0 !important;#}
            left:40%;
            width: 100% !important;
            max-width: inherit;
        }

        #banner h1 {
            font-size: 1.8em !important;
            padding:0;
        }

        #banner h2 {
            margin: 0;
            width: 100%;
            left: 0;
            font-size: 12px !important;
            padding:0;
        }

        #banner .banner_gradient {
            width: 100%;
            left: 60px;
        }
    }

#list_promotion{
    max-width:1024px;
    margin:0 auto;
}

    </style>
{% endblock %}


{% block container %}
    <div id="banner_wrap">
        <div id="banner">
            <div class="title_wrap">
                <h1></h1>
                <h2></h2>
            </div>
            <img src="" alt="">
            <div class="banner_gradient"></div>
        </div>
    </div>
    <div id="poster">
        <div class="poster-dim"></div>
    </div>
    <div id="list_promotion"></div>

    <div id="list_scroll"></div>
    {% if request.GET.isPush == 1 or request.GET.isPush == "1"  %}
    <div class="product full-width bottom_banner">
        <a href="/native/home/style?from=promotion&isPush=1">
            <img src="http://thum.buzzni.com/unsafe/640x0/center/smart/https://s3-ap-northeast-1.amazonaws.com/media.buzzni.net/2017/07/04/1499134629_a1d9375484114b85fa4a77c586fa847c.png" alt="">
        </a>
    </div>
    {% endif %}

    <div class="clear-9"></div>

    <div id="scroll_start" class="align-center padding-9 clear" style="margin: 5px 0 34px 0;">
        <img src="{{ media }}/img/scroll_start.gif" alt="">
    </div>
    <div id="scroll_end" class="align-center padding-9 block-hide clear " style="margin: 5px 0 24px 0;">
        <i class="fa thumbs-up"></i>
    </div>
    <div id="scroll_top">
        <i class="ic ic-arrow-top"></i>
    </div>


    {% include "native/wish.html" %}

{% endblock %}

{% block js_basic %}
    <script src="{{ media }}/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block js %}
    <script>
        var page = '{{ request.GET.page }}';
        if(page == ''){page = 1;}
        var num = 3;
        var scroll_start = false;
        var scroll_end = false;
        var list_count = 0;
        var scroll_container = document.querySelector( '#list_promotion' );
        var loop_cnt = parseInt('{{ request.GET.loop_cnt }}')+1;
        var product_info = {};

        //푸시로 들어온 경우 추적용
        var isPush = "";
        {% if request.GET.isPush == "1" %}
            isPush = "&isPush=1";
        {% endif %}

        $(document).ready(function(){


            shopping = new SarahShopping();
            shopping.from = "style_promotion";
            shopping.uri_prefix= "middle?";


            product_info.cat1= '{{ request.GET.cat1 }}';
            product_info.cat2= '{{ request.GET.cat2 }}';
            product_info.cat3= '{{ request.GET.cat3 }}';

            set_my_wish_count();
            var promotion_id = "{{ request.GET.promotion_id }}";
            var promotion_info_url = "/rpc/promotion/getInfo";
            var _param = {"promotion_id":promotion_id, "is_cache_use":"false"};

            ajax_get(promotion_info_url, _param, function(re){
                if(re && re.result.content){
                    var _p_content= re.result.content.replace(/\'/g,'"');
                    _p_content = JSON.parse( _p_content);
                    var _img = "http://thum.buzzni.com/unsafe/640x640/"+_p_content.banner_image;
                    var _title = re.result.name;
                    var _meta = JSON.parse(re.result.meta).share;

                    $('#poster').append('<img src="'+_img+'"/>');
                    $('#poster').append('<div class="title_wrap"><h1 style="text-align:center">'+_title+'</h1></div>');
                    $('#poster').append('<h3 style="text-align:center">'+_meta+'</h3>');
                }
            });

            load_promotion(promotion_id);
            settingEvent();

        });
        //이 함수는 무한스크롤에서만 사용한다. 그외에는 ajax_get("/rpc/... 꼴 사용
        function ajax_skin(url,data,callback,sync){
            scroll_start = true;
            var _url = url;
            ajax_get(_url,data,callback,sync);
        }

        (function($) {
            var origAppend = $.fn.append;

            $.fn.append = function () {
                return origAppend.apply(this, arguments).trigger("append");
            };
        })(jQuery);

        //리스트 결과값 json 받아오기
        function list_result_promotion(re){
            scroll_start = true;
            $('#list_promotion').append(re);
            var _txt_color = $('#banner h1').css('color');
            $('.more_block a').css('color', _txt_color);

            if ($('.product').length % num == 0 && re.length > 99) {
                page++;
                scroll_start = false;
                list_check_promotion();
                console.log("TOTAL", page, "GROUP");
            } else {
                list_end();
            }

            if( $('.product').length % num == 0 && re.length > 99){
                page ++;
                scroll_start = false;
                list_check();
            }else{
                list_end();
            }

            logExposedItems();
        }


        $(window).scroll(function () {
            var _scroll_top = $(document).scrollTop();

            if (_scroll_top >= 230) {
                $('#scroll_top').show();
                $('#wish').removeClass('overlay');
            }
             else {
               $('#scroll_top').hide();
               $('#wish').addClass('overlay');
            }

        });
        //리스트를 호출 판단
        function list_check_promotion(){
            if (scroll_start == false) {
                if (scroll_end == false) {
                    if ($(window).scrollTop() + $(window).height() > $(document).height() - 700) {
                        list_scroll();
                    }
                }
            }
        }

        function list_end(){
            scroll_end = true;
            $('#scroll_start').hide();
            $('#scroll_end').show();
        }

        //리스트 다시시작
        function list_reset() {
            $("#list_scroll").empty();
            $('#scroll_start').show();
            $('#scroll_end').hide();
            $("#no_result").hide();
            page = 1;
            scroll_start = false;
            scroll_end = false;
            list_count = 0;
            list_scroll();
        }

        var promotion_status = true;
        function load_promotion(_id){
            if(promotion_status){
                promotion_status = false;
                var _promotion_url = "http://shot.buzzni.com:6019/promotion_entity/getGroupedList";
                var _ajax_url = "/rpc/outer";

                scroll_start = true; //스크롤 중복 로드를 막기 위함
                ajax_get(_ajax_url,
                    {
                        "url":_promotion_url,
                        "skin":"native/skin/_promotion_style",
                        "promotion_id": _id,
                        "flag": "{{ request.GET.cat }}"
                    },
                    function (re) {
                        list_result_promotion(re);
                    });
            }
        }

        var scroll_container = document.querySelector('#list_promotion');
        var msnry = new Masonry(scroll_container, {
            itemSelector: '.product'
        });



        //상품클릭
        function style_promotion_click(genre2, pid){
            var current_scroll = $(window).scrollTop();
            var total_height = $(document).height();

            location_href("middle?" +
                "&genre2="+genre2+
                "&pid="+pid+
                "&id="+pid+
                "&cat1="+product_info.cat1+"&cat2="+product_info.cat2+"&cat3="+product_info.cat3+
                "&loop_cnt="+loop_cnt+"&page="+page+"&from=promotion"+"&flag={{ request.GET.promotion_id }}"+
                isPush
            );
        };

        //구매이동
        function style_buy_click(url, entity_id, site, price, cate, from, live) {
            var shop_list = ['gsshop', 'cjmall', 'hnsmall', 'hmaefll', 'ssg', 'ssgshop', 'lotte', 'lotteimall', 'nsmall', 'gsmyshop', 'auction', '11st', 'gmarket', 'wshop', 'kshop', 'immall', 'hmallplus', 'cjmallplus', 'shopnt'];

            if (check_buyclick) return;
            else check_buyclick = true;

            if (url) {
                if (site == "cjmall") {
                    url = url.replace("app_cd=HMOAOC", "app_cd=HMOA_PROD");
                } else if (site == "gsshop") {
                    url = url.replace("media=LDG", "media=LKh");
                } else if (site == 'ssg') {
                    site = 'ssgshop';
                }
                var _is_inapp = is_inapp_link(site);
                var _dict = {
                    "url": url,
                    "entity_id": entity_id,
                    "site": site,
                    "price": price,
                    "cate": cate,
                    "from": from,
                    "live": live,
                    "sfrom": superFrom,
                    "adid": user_adid,
                    "inapp": _is_inapp
                };
                console.log(url)
                if (typeof aid_query === 'undefined' || aid_query === null) {
                } else {
                    $.extend(_dict, {"query": aid_query});
                }//상품상세에서 검색어알람이 있을 경우 통계에 추가
                ajax_get("/stat/style_buyclick", _dict, function (re) {
                    check_buyclick = false;
                    if ($.inArray(site, shop_list) == -1) {
                        location_href("/inner/out/link?url=" + url);
                    } else if (_is_inapp || site == "") {
                        location_href("/inner/out/link?url=" + url);
                    } else if (is_android_app() || is_ios_app()) {
                        location_href("/out/link?url=" + url);
                    } else {
                        alert("normal");
                        location_href(url);
                    }
                });
            } else {
                native_send_toast("해당 상품은 생방송 중에 주문가능합니다");
            }
        }

        get_style_promotion('{{ request.GET.promotion_id }}');

        {% if request.GET.xid in 'l3fMtNeS5J 3LoHkeOviI 29W9SnIdmb m1dVAMeIxy 2NHGByO4Pe Nzw8EyruwW Cz7tjZUMZQ IKWNiWASq6 zswuu8LoiI yRqMZJWRH0 1mMEbof3Wb 07m82LTPkU OogNBrRjYE Lc8441YrV0 2mQnepoymp r1RaUxrod8 J90Sugkgnl sSqKOpY2RO 6I9TUXKrqt slZAFVwyV3 l2RgCt71GE kIbcWHYxzf p2izGFySxf 5ghnNhnB5c 2Zke4C43lA fc4fiqjL99 8ar8lD4orM M0U9pI79B5' %}
        var banner_admin_cnt = 0;
        $('.title_wrap').fastClick(function(){
           banner_admin_cnt ++;
           if(banner_admin_cnt > 5){
               banner_admin_cnt = 0;
               location_href('wish');
           }
           console.log(banner_admin_cnt);
        });
        {% endif %}

        //노출로그 남기기
        function logExposedItems(){
            var exposed_promotion_list = [];
            $('.product').each(function(i){
                var _id = $('.product').eq(i).attr('id');
                exposed_promotion_list.push(_id);
            });
            ajax_get("/rpc/search/logExposedItems", { "entities": exposed_promotion_list.join(','), "type":"style"});
        }

</script>
{% endblock %}