{% extends "native/_list.html" %}
{% block title %}오늘의딜{% endblock %}
{% block css %}
<style>
.position-fixed {position: fixed; top:0px; left:0; z-index: 99; }
.menubar {width:100% !important; background: #fff; box-shadow: 0 0px 3px rgba(0,0,0,0.2);height:38px; }
.menubar img {max-height: 32px;}

.navigation{position:absolute;box-sizing: border-box; width:100%;  z-index: 999;  }
.navigation-after {height:49px;}
.navigation.on{position: fixed; top:0; left:0;  margin-top: 0; }

.nav {position: fixed; left:0px; top:0px; height:58px; z-index: 999; width: 100%;box-shadow: 0px 1px 1px rgba(0,0,0,0.15);box-sizing: border-box;  background: #fff;}

.nav_tab {
    position: relative;
    height: 52px; max-height: 52px; overflow:hidden; font-size: 13px; opacity: 0.4;
}
.nav_tab:last-child{border-right: 0;}
.nav_tab.on {opacity: 1; color: #19bdc4; background: #fff; }

.nav_tab > img { width: 26px; height: 26px;margin:0 auto; margin-bottom: 1px;}
.nav_tab .cate_off {display: block; }
.nav_tab .cate_on {display: none; }
.nav_tab.on .cate_off {display: none;}
.nav_tab.on .cate_on {display: block;}
.menu-bt {width: 30px;color: #b6dfec; font-weight: bold; font-size: 20px; vertical-align: middle;}

.list-special {margin-bottom: 10px; background:#fff; box-shadow: 0 0 2px rgba(0,0,0,0.1);  position: relative;}
.list-special .listbox {display:block;}
.list-special .thum {width:100%; min-height:120px; text-align: center; background: #fff;}
.list-special .detail { padding:7px 12px 0px 12px; text-align: left; }

.list-special .title {
    font-size: 17px;
    line-height: 1.3em; text-align: center;
    height:1.15em; overflow: hidden;
}
.list-special .price { width: auto; display: inline-block; margin:0 auto;  height:39px; }
.list-special .price .sale { font-size:11px;line-height:12px;  letter-spacing:-1px;}
.list-special .price .num { font-size:18px;line-height:18px;  }
.list-special .price .num:after {content:"원"; font-size:12px;line-height:17px;  }

.genre-bt {position: absolute; left:5px; top:5px; width: 42px; height: 42px; border-radius: 50%; border: 0; font-size:11px; line-height: 12px; opacity: 0.9; letter-spacing: -1px; padding: 0; padding-top: 2px; color: #fff;}

#list_scroll{position: relative;}
</style>
{% endblock %}
{% block tab %}
    <div class="clear-9"></div>
    <div id="navigation" class="display-table-fixed align-center navigation" style="box-shadow: 0 0 1px #ddd; border-bottom: 1px solid #ccc; padding: 0 ; box-sizing: border-box;line-height: 17px; background: #f9f9f9;">
        <div ncate1="" class="nav_tab on table-cell th6-1 align-middle align-center" style=" font-size: 17px;"><div class="clear-2"></div> 전체</div>
        <div ncate1="패션" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate01.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate01_on.png" class="cate_on">패션</div>
        <div ncate1="뷰티" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate09.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate09_on.png" class="cate_on">뷰티</div>
        <div ncate1="생활" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate04.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate04_on.png" class="cate_on">생활</div>
        <div ncate1="가전" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate07.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate07_on.png" class="cate_on">가전</div>
        <div ncate1="식품" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate08.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate08_on.png" class="cate_on">식품</div>
        <div ncate1="유아" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate06.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate06_on.png" class="cate_on">유아</div>
    </div>
    <div class="navigation-after"></div>
    <div style="height:14px;"></div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var tab = "";
var tab_number = 1;
var price_start = "";
var price_end = "";
var query = "";
var cate1 = "";
var order = "reco_score desc";

var select_cate = ""; //선택카테고리
var select_genre = "{{request.GET.site}}"; //선택홈쇼핑
var date = "{{ date2 }}"; //서버 오늘날짜
var select_date = date; //선택날짜
var select_week = ''; //선택요일
var time = "{{ time2|slice:'0:2' }}"; //서버 현재시간
var begin_time = time; //선택시간
var is_begin_time = true; //현재시간부터 시작


function list_scroll() {
    var contentsHeight = parseInt($(window).width()/2);
    if (contentsHeight > 320) contentsHeight=320;
    ajax_skin("entity_deal/getList",{"skin":"native/skin/_hotdeal_list", "page":page, "num":num, "cate1":tab}, function (re) {
        list_result(re);
    });
}
$(function(){
    $(".nav_tab").on("click", function(){
        tab_number = parseInt($(this).index()+1);
        tab = $(this).attr("ncate1");
        $(".nav_tab").removeClass("on");
        $(this).addClass("on");
        list_reset();
    });

    $(window).scroll(function () {  check_scroll(); });
});

    function check_scroll(){
        var _y = $(this).scrollTop();
        if(_y < $("#list_scroll").offset().top-53){
            $(".navigation").removeClass("on");
            return;
        }

        if(_y >= $("#list_scroll").offset().top-53){
            $(".navigation").addClass("on");
            return;
        }
    }
</script>

{% endblock %}
