{% extends "native/item.html" %}
{% load humanize %}
{% load filters %}

{% block banner %}
{% endblock %}

{% block allinweek_calculator %}
    {% if re.result.is_mileage == 2 %}
        <div id="discount_block" style=" font-size:14px; line-height: 20px; border: 1px solid #e7e7e7; background: #f9f9f9; padding: 9px 12px 3px 12px;; margin:9px 0 3px; color: #444;">
            <div class="display-table" >
                <div class="table-cell">{{ re.result.genre2|get_genre }} 판매가 (일시불 할인가)</div>
                <div class="table-cell align-right" id="price1">{{ re.result.price|intcomma }}원</div>
            </div>
            <div class="display-table" >
                <div class="table-cell" id="name1"></div>
                <div class="table-cell align-right" id="sale1"></div>
            </div>
            <div class="display-table" >
                <div class="table-cell" id="name2"></div>
                <div class="table-cell align-right" id="sale2"></div>
            </div>
            <div class="display-table" style="border-top: 1px dotted #bbb; padding: 9px 0 3px; margin-top: 7px;">
                <div class="table-cell font-17 c-mint strong" id="save_point" style="line-height:19px; ">최종혜택가</div>
                <div class="table-cell font-17 c-mint strong align-right" id="price3"></div>
            </div>
            <div>
                <button class="bt-red th-1 font-16 strong b-mint" style="padding: 7px 0; margin:3px 0; height: auto; background: #19bdc4;"
                        onclick="buy_click('{{ re.result.url }}', '{{ re.result.id }}', '{{ re.result.genre2 }}', '{{ re.result.price }}', '{{ re.result.cate1 }}', 'allinweek_item_banner', '{{ re.result.live_status }}');">
                    쿠폰받고 구매하기
                </button>
            </div>
            <div class="c-gray" style="font-size: 11px;">※편성에 따라 할인 쿠폰 적용이 변동될 수 있음을 말씀드립니다.</div>
        </div>

        <script>
            $(function(){
                var _price = entity_price;
                if(entity_genre == 'lottemall' || entity_genre == 'lotteonetv'){
                    _price = {{ re.result.org_price }};
                    $("#price1").text(_price.intcomma() + "원");
                }
                var sale1 = sale_calculater('coupon', entity_genre, _price);

                if ( entity_genre != 'lotteonetv' && skimData.coupon[entity_genre][0].sale_limit > 0){
                    $("#name1").text("모아위크 "+sale_ratio('coupon', entity_genre, _price-sale1)+" 할인 (최대 "+skimData.coupon[entity_genre][0].sale_limit.intcomma()+"원)");
                }else{
                    $("#name1").text("모아위크 "+sale_ratio('coupon', entity_genre, _price-sale1)+" 할인");
                }
                $("#sale1").text("- "+sale1.intcomma()+"원");


                var sale2 = 0;
                if($(".card-discount-ratio").length>0){
                    sale2 = sale_calculater('card', entity_genre, _price-sale1);
                    if( sale2 > 0){
                        $("#name2").text("신용카드 "+sale_ratio('card', entity_genre, _price-sale1)+" 청구할인");
                        $("#sale2").text("- "+sale2.intcomma()+"원");
                    }
                }

                $("#price3").text( (_price-sale1-sale2).intcomma()+"원");
            });
        </script>
    {% endif %}
{% endblock %}
