{% extends "native/__basic.html" %}
{% load humanize %}
{% load filters %}
{% block title %}상품정보{% endblock %}
{% block container %}

    {% if request.GET.entity_id == "-1" %}
        <div class="b-white  padding-9 align-center" style="min-height:300px;">
            <div class="clear-9" style="height:50px;"></div>
            <img src="{{ cdn_img }}/noimg.png" style="height:120px;"/>
            <br/><span class="c-gray">현재 방송중인 상품의 상세정보가 없습니다.</span>
            <br/>
            <br/>

        </div>
        <div class="clear-9"></div>
    {% else %}
        <div class="b-white  padding-9 align-center" style="min-height:600px;">
            <div class="clear-9" style="height:64px;"></div>
            <img src="{{ cdn_img }}/noimg.png" style="height:120px;"/>
            <br/><span class="c-gray">상품상세정보를 가져올 수 없습니다.</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <button onClick="javascript:location.reload()" class="font-15 c-darkgray"
                    style="color:#333;padding:5px 10px;border-radius:5px;background:#fff;border:1px solid #cfcfcf">다시 가져오기</button>

        </div>
        <div class="clear-9"></div>
    {% endif %}

{% endblock %}
