{% extends "native/__basic.html" %}
{% load humanize %}
{% load filters %}
{% block title %}상품정보{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ media }}/css/share.css?v=3">
    <link rel="stylesheet" href="{{ media }}/css/item.css?v=12">
    <style>
        .live-status { font-size:11px; line-height:19px; height:19px; display: inline-block; color:#fff; background: #888; padding:1px 8px 0; position:relative; margin: 0 4px 0 0; top:-1px; border-radius: 16px;  border: 1px solid #ccc; }
        .live-status.status0 { background: #aaa; border: 1px solid #999;}
        .live-status.status1 { background: #ea5a6a; border: 1px solid #cf4958;}
        .live-status.status2 { background: #6ccace; border: 1px solid rgba(0,0,0,0.15);}

        .banner > * {margin: 3.5%; width:93%; border-radius: 2px; box-shadow: 0 0.5px 2px #bbb; overflow: hidden; }

        .relatedquery { font-size:13px; line-height:19px; height:19px; display: inline-block; color:#000; letter-spacing: -1px; padding:4px 10px; border: 1px solid #666; position:relative; background:#fff; border-radius:3px; margin: 0 6px 5px 0; top:-1px; }
        .sold-out-list {}
        .sold-out-list.on {}

    </style>
{% endblock %}

{% block container %}
    <!-- 구매하기 버튼 및 화면 밑 전화정보 담당 -->

    {% if request.META.HTTP_V > "8.8.9" and request.GET.f == '1' %}
    {% elif request.GET.f == '1' %}
        {% include "native/parts/item_buy_button.html" %}
        {% include "native/parts/item_phone.html" %}
    {% else %}
        {% include "native/parts/item_buy_button.html" %}
        {% include "native/parts/item_img_carousel.html" %}
    {% endif %}

    <div id="block_history" style="height:100%; width:280px; background: #ffffff; top:0; right:-280px; position: fixed; z-index: 999999; ">
        <div class=" align-center th-1 " style="box-sizing: border-box; border-bottom: solid 1px #ccc;">
            <a href="javascript:hide_similarentity();" class="pull-left">
                <img src="{{ cdn_img }}/ic_close.png" style="height:32px;padding:3px; opacity: 0.7;" />
            </a>
            <span class="font-15 padding disline" style="line-height: 18px; margin: 6px 4px 4px 4px;">상품 가격비교</span>
            <img src="{{ cdn_img }}/ic_close.png" class="pull-right" style="height:32px;padding:3px; opacity: 0;" />
        </div>
        <div id="similarentity_list" style="overflow-y: scroll; height:100%; box-sizing:border-box;padding-bottom: 38px;-webkit-overflow-scrolling: touch;">

        </div>
    </div>
    <div class="dim" style="display: none; position: fixed; z-index: 100000; width: 100%; top:0; padding:3px 0; height:100%; background: #333; opacity: 0.5;"></div>

    <div id="block_entity_title" class="b-white" style="padding:13px 13px 9px;border-bottom: 1px solid #eee;">
        <!-- 키워드알람 시 키워드 노출 -->
        <div id="keyword_alarm_block"></div>

        <img style="height:21px;vertical-align: top; margin-top: -4px;" src="{{ logo }}/logo_{{ re.result.genre2 }}.png"/>

        <!-- 방송 정보 -->
        <span class="margin-both c-gray">| </span>
        <span class="font-12 c-midgray"> {{ re.result.date|get_string|slice:'4:6'|get_int }}월 {{ re.result.date|get_string|slice:'6:8'|get_int }}일 {{ re.result.start_time }}
                    {% if re.result.start_time != re.result.end_time %}~ {{ re.result.end_time }}{% endif %}</span>
        <div class="clear"></div>
        <div style="line-height: 1.3em; font-size: 18px; margin:5px 0; word-break: break-all;">{{ re.result.name }}</div>

        <div class="display-table">
            <div class="table-cell">
                <div class="clear-9"></div>
                {% if re.result.org_price > re.result.price %}
                    <s class="font-12 c-gray" style="line-height: 14px;">{{ re.result.org_price|intcomma }}원</s>
                {% endif %}
                <div class="font-20 strong c-red" style="line-height: 20px; margin-top: 1px;">
                    {% if re.result.price > 9 %}{{ re.result.price|intcomma }}원{% else %}상담주문{% endif %}
                </div>

            </div>
        {% if re.result.url %}
            <div class="table-cell align-right " style="vertical-align: bottom;" >
                <button onclick="buy_click('{{ re.result.url }}', '{{ re.result.id }}', '{{ re.result.genre2 }}', '{{ re.result.price }}', '{{ re.result.cate1 }}', 'item_detail', '{{ re.result.live_status }}');"
                        class="bt c-red font-13 " style="border:1px solid #f05c65;  margin:2px 0 0 0;  border-radius:4px; padding: 6px 9px 5px; line-height: 15px;">
                    상세보기
                </button>
            </div>
        {% endif %}
        </div>

        <div class="clear-5"></div>
        {% if re.result.live_status != 0 %}
        {% for card in re.result.card_list %}
            <div class="c-darkgray pull-left disline" style="margin:4px 4px 0px 0; line-height:13px;padding: 5px 8px 4px 0px;" >
                <img  src="{{ thum }}/60x0/smart/{{ img }}/cardsale.png" style="width:14px;height:17px; vertical-align: top; margin-top: -3px; opacity: 0.6;"/>
                <span class="card-name font-12">{{ card.card_name }}</span> <span class="card-discount-ratio font-12">{{ card.discount_ratio }}</span>%
            </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
        <!-- 최저가계산기 -->
        {% block allinweek_calculator %}{% endblock %}
    </div>

    <!-- 공유 -->
    <div class="b-white"  style="border-bottom: 1px solid #ddd; margin-bottom: 12px;">
        <div  style="padding:11px 0px; border-bottom: 1px solid #eee; ">
            {% block share %}
                <div  class="display-table" style="box-sizing: border-box; padding: 0 11px 0 13px; ">
                    <div class="table-cell">
                        <div id="share_block" class=" position">
                            <button class="share kakaotalk" onclick="snsShare('kakaotalk','old');" ></button>
                            <button class="share kakaostory" onclick="snsShare('kakaostory','');"></button>
                            <button class="share facebook" onclick="send_facebook();"></button>
                            <button class="share sms" onclick="send_sms();"></button>
                        </div>
                    </div>

                    <div class="table-cell align-right" >
                        <button id="like_entity_{{ re.result.id }}_bt" onclick="like_save('entity', '{{ re.result.id }}');" class="like off " like_id="" style="width: auto; height:38px; padding: 13px 34px 11px 12px; margin-top: 1px; border-radius: 20px;">찜하기</button>
                    </div>
                </div>

                <div class="clear-3"></div>

            {% endblock %}
        </div>

        <div id="block_entity_etc">

            <!-- 인기프로그램 배너 -->
            {% if re.result.program_name %}
                <div class="banner" onclick="location_href('/native/program?program_query={{ re.result.program_name|program_dict:'id' }}&from=native_item&title={{ re.result.program_name|program_dict:'id' }}');" >
                    <div style="background: {{ re.result.program_name|program_dict:'color' }}; text-align: center;">
                        <img src="{{ cdn_img }}/program/show_{{ re.result.program_name|program_dict:'id' }}.png?v=6" style="width: 60%;">
                    </div>
                </div>
            {% endif %}

            <!-- 올인위크 할인 띠배너 등등 -->
            {% block banner %}
                {% if re.result.cate1 != "보험" and re.result.price > 9 %}
                    {% include "native/parts/item_banner.html" %}
                {% endif %}
            {% endblock %}

        </div>
    </div>



    <div id="similar_block" class=" b-white th-1 block-hide" style="border-bottom: 1px solid #ddd; margin-bottom: 12px;">
        <div class="clear-2"></div>
        <div class="font-15 padding-12">같은 시간대 판매상품</div>
        <div class="clear-2"></div>
        <div id="similar_list" class="" ></div>
    </div>

    <div id="review_menu" class="b-white block-hide" style="width:100%;">
        <div class="display-table align-center">
            <div class="table-cell th3-1  border-right">
                <a href="javascript:void(0);" id="info"  class="disblock tab on">상세정보</a>
            </div>
            <div class="table-cell th3-1">
                <a href="javascript:void(0);" id="review" class="disblock tab ">
                    상품평
                </a>
            </div>
        </div>
    </div>
    <div id="block_review" class="b-white th-1 block block-hide" style="min-height:400px; margin-bottom: 9px; ">
        <div class="padding-12 c-gray align-center border-bottom">*{{ re.result.genre2|get_genre }}의 상품평 정보를 보여드리고 있습니다.</div>
        <div class="skinbox board_list">
        </div>
        <div id="review_loading" style="padding:30px 0;" class="align-center">
            <img src="{{ cdn_img }}/scroll_start.gif" style="height:9px !important;width:72px !important; margin: -20px auto;"/>
        </div>
    </div>
    <div id="block_info" class="b-white th-1 block  position-relative" style="max-height: 1500px; overflow: hidden; min-height:400px;border-bottom: 1px solid #ccc; margin-bottom: 9px; ">
        {% block mileage %}
        {% endblock %}
        {% if request.GET.f == '1' %}
            <img src="{{ thum }}/640x640/center/smart/{{ re.result.img }}" onerror='this.style.display = "none"'>
        {% endif %}
        {% if re.result.detail_html|length > 0 %}
            {% if re.result.genre2 in "cjmall gsshop cjmallplus gsmyshop hnsmall lottemall lotteonetv hmall hmallplus" %}
            <link rel="stylesheet" href="{{ media }}/css/info_{{ re.result.genre2 }}.css?v=26">
            {% endif %}
            <div id="block_info_detail" class="{{ re.result.genre2 }}"  style="min-height:400px;">
                <div id="detail_loading" class=" align-center"  >
                    <div class="c-darkgray font-13 spacing" style="margin: 30px auto;">아래로 스크롤하시면 상품정보를 보실 수 있습니다</div>
                    <button id="bt_showdetail" onclick="detailEvent();" class="bt-basic font-14" style="margin: 0 auto; padding:10px 34px;border-top:1px solid #ddd; ">
                        상세정보 보기 <img src="{{ cdn_img }}/player_select.png" style="height: 7px !important; vertical-align: top; margin-top: 4px; margin-left: 4px;">
                    </button>
                </div>
                <div id="real_detail_html" class="block-hide">
                    {% autoescape on %}
                        {{ re.result.detail_html }}
                    {% endautoescape %}
                </div>
            </div>
            <div id="bt_detail_more" style="background: url('{{ thum }}/smart/{{ img }}/white_gradient.png') repeat-x 0 -2px; background-size: 1px 206px; height:203px; width:100%; position: absolute; top:1300px; left:0; z-index: 999; cursor: pointer;">
                <div style="height:136px"></div>
                <div class="align-center font-15 margin-12" style="box-shadow:0 1px 3px rgba(0,0,0,0.1); border:1px solid #ccc; background: #fafafa; line-height: 38px; height:38px;">상세정보 더보기 <img src="{{ cdn_img }}/player_select.png" style="height: 6px !important; vertical-align: top; margin-top:15px; margin-left: 3px;"></div>
{#                <div class="align-center font-15" style="border-top:1px solid #ccc; line-height: 40px; height:40px;">더 보기 <img src="{{ cdn_img }}/player_select.png" style="height: 7px !important; vertical-align: middle; margin-top: -2px; margin-left: 3px;"></div>#}
            </div>
        {% else %}
            <div class="align-center">
                <div class="clear-9" style="height:50px;"></div>
                <span class="c-gray font-13">상품상세정보가 없습니다.</span><br/>
                <img src="{{ cdn_img }}/noimg.png" style="height:120px;"/>
            </div>
        {% endif %}
    </div>

    <div id="block_recoentity" class="b-white th-1" style="border-bottom: 1px solid #ddd;margin-bottom: 9px; ">
        <div class="clear-2"></div>
        <div class="font-15 padding-12">이 상품은 어때요? <span class="c-gray margin-left">다른 사람들이 같이 본 상품입니다.</span></div>
        <div class="clear-2"></div>
        <div id="recoentity_list" style=" opacity: 0; min-height: 110px;" ></div>
    </div>

    {% if re.result.live_status == 0 and re.result.is_soldout == 2 %}
    {% else %}
    <div id="block_relatedquery" class="b-white th-1" style="border-bottom: 1px solid #ddd;margin-bottom: 9px;">
        <div class="clear-2"></div>
        <div class="font-15 padding-12">추천 검색어 <span class="c-gray margin-left">더 많은 상품을 찾아보세요.</span></div>
            <div id="relatedquery_list" style="opacity:0;margin: 0 30px 10px 10px;"></div>
        </div>
        <div class="clear-2"></div>
    </div>
    {% endif %}

    {% if re.result.live_status == 0 and re.result.is_soldout == 2 %}
    <div class="bottom-spacing" style="height:72px;"></div>
    {% else %}
    <div class="bottom-spacing" style="height:44px;"></div>
    {% endif %}


{% endblock %}
{% block bt_up %}
    <div id="bt_up" class="block-hide" style="margin-bottom:-10px; right:0px; position:fixed; z-index: 99999;">
        <a class="disblock" style="margin-bottom: -5px;" href="javascript:snsShare('kakaotalk','new');"><img src="{{ cdn_img }}/2016/bt_sharekakao.png" style="height:50px;height:50px;opacity: 0.83;"></a>
        <a class="disblock" href="javascript:move_to_up();"><img src="{{ cdn_img }}/2016/bt_top.png" style="height:50px;height:50px;"></a>
    </div>
    <script type="text/javascript">
        $(function(){
            if (!is_relatedquery_load && is_soldout==2){
                is_relatedquery_load = true;
                load_relatedquery();
            }

            $(window).scroll(function () {
                if ($(this).scrollTop() > 90) { $("#bt_up").show(); } else { $("#bt_up").hide(); }

                if (!is_recoentity_load && is_detail_load ){
                    if( $(document).height() - $(this).scrollTop() - $(window).height() < 1000  ){
                        is_recoentity_load = true;
                        load_recoentity();
                    }
                }

                if (!is_relatedquery_load && is_recoentity_load ){
                    if( $(document).height() - $(this).scrollTop() - $(window).height() < 900  ){
                        is_relatedquery_load = true;
                        load_relatedquery();
                    }
                }

                if (is_detail_load && is_recoentity_load){  // 상품길이가 일정이하이면 상품영역을 축소해 보여주지 않음
                    if($("#bt_detail_more").is(":visible") && $(this).scrollTop() > 900 && $("#block_info_detail").height() > 1200 && $("#block_info_detail").height()-$("#block_info").height() < 400 ){
                        $("#block_info").css("max-height", '');
                        $("#bt_detail_more").hide();
                    }
                }

                if(recoentity_count > 0 && $('#recoentity_list').css("opacity")==0){
                    if( $(document).height() - $(this).scrollTop() - $(window).height() < $("#block_recoentity").height() + $("#block_relatedquery").height() - 20){
                        recoentity_count = -100;
                        $('#recoentity_list').fadeTo(300, 1);
                        ajax_get("/stat/item/recoentity/show", {"live":live_status, "entity_id": entity_id, "sfrom":superFrom, "cate": entity_cate, "abtest":abtest}, function (re) {});
                    }
                }
                
                if($('#relatedquery_list').css("opacity")==0){
                    if( $(document).height() - $(this).scrollTop() - $(window).height() < $("#block_relatedquery").height()-10){
                        $('#relatedquery_list').fadeTo(450, 1);
                    }
                }

            });
        });
        function move_to_up(){
            if ( $(window).scrollTop() > 3000 ){
                $('html,body').animate({scrollTop: $('body').offset().top}, 0);
            }else{
                $('html,body').animate({scrollTop: $('body').offset().top}, 300);
            }
        }
    </script>
{% endblock %}
{% block js %}
    <script src="{{ media }}/js/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ media }}/js/kakao.custom.js?v=6"></script>
{#    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>#}
    <script type="text/javascript">
        var agent = "{{ agent }}";
        var keyword_alarm_id = "{{ request.GET.aid }}";
        var entity_id = "{{re.result.id}}";
        var pid = "{{ re.result.genre2 }}_{{ re.result.crawl_id }}";
        alarm_target_id = entity_id;
        var entity_name = "{{ re.result.name }}";
        entity_name = $('<textarea />').html(entity_name).text();
        var entity_genre = "{{ re.result.genre2 }}";
        var entity_price = "{{ re.result.price }}";
        var entity_crawlid = "{{ re.result.crawl_id }}";
        var entity_cate="{{ re.result.cate1 }}";
        var entity_cate2="{{ re.result.cate2 }}";
        var cmtary_num = 0;
        var site = "{{re.result.genre2}}";
        var live_status = "{{ re.result.live_status }}";
        var is_soldout = "{{ re.result.is_soldout }}";
        var appname = "[홈쇼핑모아] 이 상품 어때요?";
        var desc = "{{ re.result.name}}\n http://hsmoa.com/s?id={{ re.result.id }}";
        var kakao_desc ="{{ re.result.name}}\n";
        var datetime_now = "{{ date2 }}"+"{{ time2 }}"+"00";
        datetime_now = datetime_now - (100);
        var flag = "{{ request.GET.flag }}";
        var schedule = "{{ re.result.date|get_string|slice:'4:6' }}월 {{ re.result.date|get_string|slice:'6:8' }}일"+
            "{{ re.result.start_time|get_string|slice:'2' }}:{{ re.result.start_time|get_string|slice:'3:5' }} 방송시작";
        var benefit = "";
        var label = "[{{ re.result.genre2|get_genre }}]\n" + schedule + "\n" + entity_name;

        /* 이벤트 관련 자바스트립트 */
        var price = parseInt("{{ re.result.price }}");
        var event_label = label;

        var what_kakao_button = "";
        var is_kakao_load = false;
        var is_alarmguide_show = false;
        var is_recoentity_load = false;
        var is_relatedquery_load = false;
        var recoentity_count = -1;
        var is_detail_load = false;
        
        
        //상품 기본정보
        var Item = {
            entity_id : "{{ re.result.id }}",
            url : "{{ re.result.url }}",
            cate : "{{ re.result.cate1 }}",
            site : "{{ re.result.genre2 }}",
            price : "{{ re.result.price }}",
            program : "{{ re.result.program_name }}",
            img : "{{ re.result.img }}",
            name : "{{ re.result.name }}",
            date : "{{ re.result.date }}",
            startTime : "{{ re.result.start_time }}",
            live : "{{ re.result.live_status }}",
            status : "{{ re.result.status }}",
            like_id : 0,
            alarm_action_id : 0,
            alarm_id : "{{ request.GET.aid }}",
            crawl_id : "{{ re.result.crawl_id }}",
            f: "{{ request.GET.f }}" || "0",
            from : "{{ request.GET.from }}",
            flag : "{{ request.GET.flag }}",
            menu : "{{ request.GET.menu }}",
            is_ad : "{{ request.GET.is_ad }}",
            rank : "{{ request.GET.rank }}"
        };

        //생방송전화주문
        function call_click(site, type, flag) {
            var _dict = {
                "cjmall":{call:"0800005504",ars:"0800005503"},
                "gsshop":{call:"0809974545",ars:"0809984545"},
                "hnsmall":{call:"0808091111",ars:"0808681111"},
                "nsmall":{call:"0805007700",ars:"0808947700"},
                "immall":{call:"0808177777",ars:"0808117777"},
                "cjmallplus":{call:"0800005554",ars:"0800005553"},
                "gsmyshop":{call:"0805034545",ars:"0805024545"},
                "hmallplus":{call:"0808510000",ars:"0808210000"},
                "ssgshop":{call:"0809878989",ars:"0809868989"},
                "wshop":{call:"0803132222",ars:"0803022222"},
                "shopnt": {call: "0801335000", ars: "0801335002"},
                "bshop": {call: "0808221313", ars: "0808321313"},
                "kshop": {call: "0802588837", ars: "0802588836"},
                "lottemall": {call: "0807124000", ars: "0807124000"},
                "lotteonetv": {call: "0809904000", ars: "0809904000"}
            };

            if(site == "" || site == undefined || _dict[site][type] == undefined){
                native_send_toast("없는 번호입니다.");
            }else{
                ajax_get("/stat/callclick",{"site":site, "type":type, "from":locationHref, "flag": flag, "sfrom": superFrom, "entity_id":entity_id}, function (re) {
                    window.location = 'tel:'+_dict[site][type];
                });
            }
        }

        function toggle_guide(id){
            if(user_app_version >= "8.9.0"){
                $("#guide_"+id).css({"top":"-1px"});
            }
            if($("#guide_"+id).is(":visible")){
                $("#guide_"+id).fadeOut(0);
                ajax_get("/stat/alarmguide/hide",{"flag":id, "from":locationHref, "entity_id": entity_id}, function (re) {});
            }else{
                $("#guide_"+id).fadeIn(200);
                is_alarmguide_show = true;
                ajax_get("/stat/alarmguide/show",{"flag":id, "from":locationHref, "entity_id": entity_id}, function (re) {});
                setTimeout(function(){
                    $("#guide_"+id).fadeOut(200);
                },3000);
            }
        }
        function show_alarmguide(){
            if(live_status == 2){
                alert('방송중에만 주문가능한 상품입니다.');
                toggle_guide('alarm');
            }else{
                alert('판매 종료된 상품입니다.');
            }
        }
        function load_relatedquery(){
            // 관련 검색어 보여주기
            ajax_get("/rpc/goods_query_info/getList", {"skin":"native/skin/_related_word","goods_id":entity_id, "flag":{{re.result.is_soldout}}},function(re){
                    // 관련 검색어가 있는 경우
                    if(re.length > 100){
                        $("#relatedquery_list").append(re).show();
                        $("#block_simplename").hide();
                    }else{
                        $("#block_relatedquery").hide();
                        $("#relatedquery_list").hide();
                        // 품절 시, simple name 표기
                        if (is_soldout == '2'){
                            $("#block_simplename").fadeTo(0,1);
                        }
                    }
                }
            );
        }
        function load_recoentity(){
            //상품 추천 보여주기
            var param ={
                'a':{url:"/rpc/entity_reco/getList", data:{"skin":"native/skin/_item_recoentity","entity_id":entity_id, "num":6, "flag": "a"}},
                'b':{url:"/rpc/entity_reco/getList", data:{"skin":"native/skin/_item_recoentity","entity_id":entity_id, "num":6, "flag": "b"}},
                'c':{url:"/rpc/entity_reco/getList", data:{"skin":"native/skin/_item_recoentity","entity_id":entity_id, "num":6, "flag": "c"}},
            };

            ajax_get(param[abtest]['url'],param[abtest]['data'], function (re) {
                if(re.length>100){
                    $('#recoentity_list').append(re);
                    $("#block_recoentity").show();
                    recoentity_count = 1;
                    if( $(document).height() - $(window).scrollTop() - $(window).height() < $("#block_recoentity").height()-120 ){
                        recoentity_count = -100;
                        $('#recoentity_list').fadeTo(300, 1);
                        ajax_get("/stat/item/recoentity/show", {"live":live_status, "entity_id": entity_id, "sfrom":superFrom, "cate": entity_cate, "abtest":abtest}, function (re) {});
                    }
                }else{
                    $("#block_recoentity").hide();
                    ajax_get("/stat/item/recoentity/noresult", {"entity_id": entity_id, "sfrom":superFrom, "cate": entity_cate, "abtest":abtest}, function (re) {});
                }
            });

        }
        function detailEvent() {
            $(window).unbind("scroll", detailEvent);
            $("#detail_loading").hide();

            $("#block_info_detail").html($("#real_detail_html").text());

            is_detail_load=true;

            ajax_get("/stat/item/detail_load", {"entity_id": entity_id, "live": live_status, "sfrom":superFrom, "cate": entity_cate}, function (re) {});

            $("#bt_detail_more").on("click",function(){
                $("#block_info").css("max-height", '');
                $("#bt_detail_more").hide();
                ajax_get("/stat/item/detail_show", {"entity_id": entity_id, "live": live_status, "sfrom":superFrom, "cate": entity_cate, "type":"manual"}, function (re) {});
            });
        }

        $(function () {
            //상품상세이미지 카로셀
            if( $("#swipe_img").children("div").length > 1 ){
                $("#swipe_img").owlCarousel({items:1, merge:true, loop:true, margin:0, center:true, autoplay:true, autoplayTimeout:3000});
            }else{
                $("#swipe_img").show();
            }

            //상품상세 이벤트 트리거
            {% if re.result.detail_html %}
                $(window).bind("scroll", detailEvent);
            {% else %}
                is_detail_load=true;
            {% endif %}

            //봤다는걸 저장
            ajax_json("visit/save", { "action": "entity", "action_id": entity_id, "service": "tvshop", "delay": false}, function (re) {});

            //알람, 좋아요 체크
            ajax_json("entity/userInfo", {"entity_id": entity_id}, function (re) {
                if (re.success == true) {
                    var like_id = re.result.like_id;
                    var alarm_action_id = re.result.alarm_action_id;
                    if (like_id > 0) {
                        $('#like_entity_' + entity_id + "_bt").removeClass("off").addClass("on").attr("like_id", like_id);
                    }
                    if (alarm_action_id > 0) {
                        $('#alarm_action_'+entity_id).attr('alarm_action_id',alarm_action_id);
                        $('#alarm_action_'+entity_id).prop('checked',true);
                    }else if(live_status == "2"){
                        ajax_json("alarm_action/hasFutureAlarm", {}, function (re) {
                            if (re.success && re["result"]["data"] == false){
                                setTimeout(function(){toggle_guide("alarm");}, 500);
                            }
                        });
                    }
                }
            });

            //검색어알람이면
            if (keyword_alarm_id > 0) {
                ajax_get("/rpc/alarm/getInfo", {"skin": "native/skin/_alarm_keyword_getinfo", "alarm_id": keyword_alarm_id, "user_id": user_id}, function (re) {
                    $("#keyword_alarm_block").append(re);
                });
            }

            if( live_status == '1') countdown_server(Number("{{re.result.date}}{{re.result.end_time|slice:'2'}}{{re.result.end_time|slice:'3:5'}}00"), "countdown", datetime_now);
            else countdown_server(Number("{{re.result.date}}{{re.result.start_time|slice:'2'}}{{re.result.start_time|slice:'3:5'}}00"), "countdown", datetime_now);

            if(superFrom.indexOf("alarm_")>=0 || superFrom.indexOf("home_")>=0 )
            if ("{{ re.result.status }}" == "2" && live_status == '1') {
                setTimeout(function(){
                    alert("현재 같은 시간대의 다른 상품이 생방송중입니다.\n이 상품은 다른 방송이 끝난 후 방송이 시작됩니다.");
                }, 300);
            }

            //같은 시간대 판매상품 로드
            ajax_get("/rpc/entity/getSameTimeItemList", {"skin":"native/skin/_sametime_list", "entity_id":entity_id}, function(re){
                if(re.length>100){
                    $('#similar_list').append(re);
                    $("#similar_block").show();
                }
            });

            //상품을 조회했다는 것을 표기
            ajax_get("/stat/viewitem", Item);

            //내용이 빈 요소 제거
            if( $("#block_entity_etc img").length == 0 ){
                $("#block_entity_etc").hide();
            }

        });


        <!-- 상품상세 리뷰 스크립트 -->
        var tab = 'info';
        var reviewDict = {
            "gsshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "gsmyshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "hnsmall": ["http://m.hnsmall.com/goods/comment/######/0"],
            "lottemall": ["http://m.lotteimall.com/goods/searchGdasListAjax.lotte?pageIdx=1&rowsPerPage=10&goods_no=######&md_gsgr_no=1100&opt_desc=&multi="],
            "ssgshop" : ["http://m.shinsegaetvshopping.com/comment/list-html?goodsCode=######"],
            // "shopnt" : ["https://www.shoppingntmall.com/comment/list-html?goodsCode=######"], 쇼핑앤티 리뷰가 너무 적어 일단 퇴출
            "cjmall" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"],
            "cjmallplus" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"]
        };
        var jsonList = ["ssgshop", "shopnt", "cjmall","cjmallplus"];

        if (reviewDict[entity_genre] && entity_cate != "보험") {
            $("#review_menu").show();
            $(".tab").on("click", function () {
                if (tab != this.id) {
                    tab = this.id;
                    $('.tab').removeClass("on");
                    $('#' + tab).addClass("on");
                    $('.block').hide();
                    $('#block_' + tab).show();
                    if (tab == "review") load_review();
                }
            });
        }
        function load_review() {
            if ($("#block_review .skinbox").text().length > 100) return;

            $("#review_loading").show();

            for (var i = 0; i < reviewDict[entity_genre].length; i++) {
                var _url = reviewDict[entity_genre][i].replace(/######/, entity_crawlid);
                if (jsonList.indexOf(entity_genre) >= 0){
                    load_var = {"skin": "native/skin/_item_review", "genre2":entity_genre , "url": _url, "entity_id":entity_id }
                } else {
                    load_var = {"url": _url, "entity_id":entity_id}
                }            
                $.get("/review/load", load_var, function(re){
                    if (re == "fail" || re.length < 500) {
                        $("#block_review .skinbox").html("<div class='align-center padding-12 font-14 c-darkgray'><br/><br/>등록된 상품평이 없습니다.<br/><br/></div>");
                        $("#review_loading").hide();
                        ajax_get("/stat/reviewload/fail", {"from": "native_item","entity_id": entity_id,"cate": entity_cate,"site": entity_genre,"crawl_id": entity_crawlid}, function () {});                        
                    } else {
                        $("#block_review .skinbox").delay(i * 1000).append(re);
                        $("#block_review img.lazy").each(function (i) {
                            $(this).attr("src", $(this).attr("data-original"))
                        });
                        $("#review_loading").hide();
                        ajax_get("/stat/reviewload/success", {"from": "native_item","entity_id": entity_id,"cate": entity_cate,"site": entity_genre,"crawl_id": entity_crawlid}, function () {});
                    }
                });
            }
        }

        //좋아요
        function like_save(action, action_id){
            var like_id = $('#like_'+action+"_"+action_id+"_bt").attr('like_id');
            if ( like_id > 0  ){
                like_remove(action, action_id, like_id);
            } else {
                $('#like_'+action+"_"+action_id+"_bt").attr("disabled", "disabled");
                ajax_json("like/save", { "action": action, "action_id": action_id, "service": "tvshop", "score": 1}, function (re) {
                    if (re.success == true) {
                        $('#like_'+action+"_"+action_id+"_bt").removeClass("off").addClass("on").attr('like_id', re.result.data);
                        native_send_toast("상품을 찜하였습니다.");
                        ajax_get("/stat/like/save", {"action":"entity", "sfrom":superFrom, "entity_id":entity_id, "genre":entity_genre, "cate":entity_cate, "price":entity_price, "name":entity_name});
                    } else {
                        native_send_toast(re.msg);
                    }
                    $('#like_'+action+"_"+action_id+"_bt").removeAttr("disabled");
                });
            }
        }
        function like_remove(action, action_id, like_id){
            $('#like_' + action + "_" + action_id + "_bt").attr("disabled", "disabled");
            ajax_json("like/remove", {"like_id": like_id}, function (re) {
                if (re.success == true) {
                    $('#like_' + action + "_" + action_id + "_bt").removeClass("on").addClass("off").attr('like_id', '0');
                } else {
                    native_send_toast(re.msg);
                    ajax_get("/stat/like/remove", {"action":"entity", "sfrom":superFrom, "entity_id":entity_id, "genre":entity_genre, "cate":entity_cate, "price":entity_price, "name":entity_name});
                }
                $('#like_' + action + "_" + action_id + "_bt").removeAttr("disabled");
            });
        }

        //countdown
        function countdown_server(datetime, play, datetime_now) {
            var re = "";
            if (typeof datetime == 'number'){
                var date_now = new Date(datetime_now.toString().substring(0,4), datetime_now.toString().substring(4,6)-1, datetime_now.toString().substring(6,8), datetime_now.toString().substring(8,10), datetime_now.toString().substring(10,12), datetime_now.toString().substring(12,14));
                var date_end = new Date(datetime.toString().substring(0,4), datetime.toString().substring(4,6)-1, datetime.toString().substring(6,8), datetime.toString().substring(8,10), datetime.toString().substring(10,12));
                var left_time = date_end.getTime()-date_now.getTime();
                var left_second = parseInt(left_time / 1000);
                var left_day = Math.floor(left_second / (60 * 60 * 24));
                var left_hour = Math.floor((left_second - left_day * 24 * 60 * 60) / 3600);
                var day = Math.floor((left_second) / (3600*24) );
                if (day <= 0 ) day = 0;
                var hour = Math.floor((left_second - left_day * 24 * 60 * 60 ) / 3600);
                if (hour <= 0) hour = 0;
                if (left_day < 0) hour = left_hour;
                var minute = Math.floor((left_second - left_day * 24 * 60 * 60 - left_hour * 3600) / 60);
                var second = Math.floor(left_second - left_day * 24 * 60 * 60 - left_hour * 3600 - minute * 60);

                if( day==0 && hour ==0){
                    re = minute + "분 " ;
                } else if ( day==0 && hour >0 ) {
                    re = hour + "시간 " + minute + "분";
                }else if (left_time > 0) {
                    re = day + "일 " + hour + "시간 " + minute + "분" ;
                } else {
                    re = 0 + "일 " + 0 + "시간 " + 0 + "분";
                }
            } else {
                re = "datetime error";
            }
            if (play){
                if(re == "0분 " && second == 0 && live_status == '1'){
                    $("#"+play).parent().html('<span class="live-status status0">방송종료</span> ');
                    //native_send_toast("해당 상품의 홈쇼핑 생방송이 종료되었습니다.");
                }else if(re == "0분 " && second == 0 && live_status == '2'){
                    $("#"+play).parent().html('<span class="live-status status1">현재방송중</span> ');
                    countdown_server(Number("{{re.result.date}}{{re.result.end_time|slice:'2'}}{{re.result.end_time|slice:'3:5'}}00"), "countdown", datetime_now);
                    //native_send_toast("해당 상품의 홈쇼핑 생방송이 시작되었습니다.");
                }else{
                    if(re.length <10 ) $("#"+play).text(re+ " " + second + "초" + " 남음");
                    else $("#"+play).text(re + " 남음");
                    setTimeout(countdown_server, 1000, datetime, play, datetime_now-(-1));
                }
            } else {
                return re;
            }
        }


        Kakao.init('7c306230b90605de8182a56318479985');
        var snsType= {
            "kakaotalk":{
                "app_name_ios":"kakaotalk",
                "app_name_android":"com.kakao.talk",
                "ios_key":"id362057947"
            },
            "kakaostory":{
                "app_name_ios":"kakaostory-2.9.0",
                "app_name_android":"com.kakao.story",
                "ios_key":"id486244601"
            }
        };
        var snsKey = "";
        var share_param = "";
        function appCheck(type){
            snsKey = type;
            var app_name = "";
            if ((is_android_app() && app_version_count >= 90100) || is_ios_app() && app_version_count >= 90005){
                if(is_android_app()){
                    app_name = snsType[type].app_name_android;
                    window.BuzzniHybrid.checkApp(app_name, 'native_check_app_callback'); // window.HybridApp.sendMessage(msg);
                }else if(is_ios_app()){
                    app_name = snsType[type].app_name_ios;
                    var re = "{'app_name':'"+app_name+"','callback':'native_check_app_callback'}";
                    document.location = "BuzzniHybrid:checkApp:"+re;
                }
            }else{
                if(snsKey=="kakaotalk"){
                    send_kakaotalk(share_param);
                }else if(snsKey=="kakaostory"){
                    send_kakaostory();
                }else if(snsKey=="band"){
                    send_band();
                }
            }
        }

        function snsShare(type,param){
            share_param = param;
            appCheck(type);
        }

        //공유기능 콜백
        function native_check_app_callback(info){
            if(info=="false" || info == false){
                if(is_android_app()){
                    window.location = "market://details?id="+snsType[snsKey].app_name_android;
                }else if(is_ios_app()){
                    window.location = "http://itunes.apple.com/app/"+snsType[snsKey].ios_key;
                }
            }else{
                if(snsKey=="kakaotalk"){
                    send_kakaotalk(share_param);
                }else if(snsKey=="kakaostory"){
                    send_kakaostory();
                }
            }
        }

        function send_sms(){
            ajax_get("/stat/share/item",{"cate":"sms", "query": entity_name, "price": entity_price, "entity_id": entity_id}, function (re) {});
            native_send_sms('',appname+"\n"+desc+"&from=share_sms");
        }

        function send_kakaostory(){
            ajax_get("/stat/share/item",{"cate":"kakaostory", "query": entity_name, "price": entity_price, "entity_id": entity_id}, function (re) {
                var url = "http://hsmoa.com/s?id={{ re.result.id }}&from=share_kakaostory";
                Kakao.Story.open({
                    url: url,
                    text: appname,
                    urlInfo: {
                        title: '[{{ re.result.genre2|get_genre }}] {{ re.result.name }}',
                        desc: '{{ re.result.price|intcomma }}원',
                        name: '방송시간 : '+schedule,
                        images: ['{% if re.result.img %}{{re.result.img}}{% else %}{{ img }}/noimg3.png{% endif %}']
                    }
                });
            });
        }
        function send_kakaotalk(flag) {
            ajax_get("/stat/share/item",{"cate":"kakaotalk", "query": entity_name, "price": entity_price, "entity_id": entity_id, "from": flag}, function (re) {
                var short_url_app = "http://o.buzzni.com/native/item?entity_id={{re.result.id}}&from=share_kakao&sfrom="+superFrom;
                Kakao.Link.sendTalkLink({
                    label: event_label,
                    image: {
                        src: '{{ thum }}/640x640/center/smart/{% if re.result.img %}{{re.result.img}}{% else %}{{ img }}/noimg3.png{% endif %}',
                        width: '640',
                        height: '640'
                    },
                    appButton: {
                        text: "홈쇼핑모아에서 확인",
                        execParams:{
                            iphone:{
                                nav:"hide",
                                tabbar:"hide",
                                title:"상품정보",
                                next_url:short_url_app
                            },
                            ipad:{
                                nav:"hide",
                                tabbar:"hide",
                                title:"상품정보",
                                next_url:short_url_app
                            },
                            android:{
                                'shoppingmoa://com.buzzni.android.subapp.shoppingmoa':"&next_url="+short_url_app
                            }
                        },
                        marketParams:{
                            android:{
                                referrer:"share_kakao_item_"+entity_id
                            }
                        }
                    }
                });
            });
        }
        function send_facebook(){
            //fbid = 1552436168327778
            ajax_get("/stat/share/item",{"cate":"facebook", "query": entity_name, "price": entity_price, "entity_id": entity_id}, function (re) {});
            var link = "http://hsmoa.com/s?id={{ re.result.id }}&from=share_facebook";
            var p = "https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(link);
            location_href("/out/link?url="+p);
        }

    </script>
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
