{% extends "native/_list.html" %}
{% block title %}masonry sample{% endblock %}

{% block tab %}
<style>
    .grid-item {
        float: left;
        width: 50%;
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ media }}/js/masonry.pkgd.min.js"></script>
<script type="text/javascript">

    function list_scroll() {
        ajax_skin("search/styleSearch", { "skin":"{{ native_skin }}/_masonry_list", "num":20, "page":page, "site_name":"sarah_pick", "sarah_pick_flag":2}, function(re){
            if (page == 1){
{#                new Masonry(document.querySelector('#list_scroll'), {#}
{#                    columnWidth: ( $(window).width() / 2 ),#}
{#                    itemSelector: '.grid-item',#}
{#                    speed: 300#}
{#                });#}
            } else {
        ajax_skin("search/styleSearch", { "skin":"{{ native_skin }}/_masonry_list", "num":10, "page":page, "site_name":"sarah_pick", "sarah_pick_flag":2}, function(re){

                new Masonry(document.querySelector('#list_scroll'), {
                    columnWidth: ( $(window).width() / 2 ),
                    itemSelector: '.grid-item'
                });

            list_result(re);
        });
    }
</script>
{% endblock %}
