{% extends "native/_list.html" %}
{% block title %}알람센터{% endblock %}
{% block css %}
<style>
    .bt-alarm{ margin:12px 4px 2px; border: 1px solid #ef8d93; border-radius: 30px; background: #fff; color: #F25862; padding:8px 14px; line-height: 1em; font-size:13px; }
    .list-alarmkeyword > a { border-bottom: 1px solid #eee; }
    .list-alarmkeyword:last-child  > a { border-bottom:0; }
    .timeline { background: #ccc; width: 2px; height: 100%; position: fixed; margin-left:19px; z-index:-1}
    .c-mint { color: #1ab3ba}
    #query_result {width: 180px; background: #fff; box-shadow: 0 2px 3px rgba(0,0,0,0.3);}
    #query_result > div { line-height: 15px; font-size:14px; padding:7px 9px; cursor:pointer;}



input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle + label {display: block;position: relative;background: #ccc url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 80% 50%; background-size:15px 15px; line-height: 20px;height: 30px;width: 60px;border-radius: 15px;background-repeat: no-repeat;}
input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: #ccc ;-moz-transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;}
input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle:checked + label:before {width: 60px; background: #ea1b27 url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 20% 50%;background-size:15px 15px; background-repeat: no-repeat;}
input.toggle:checked + label:after { left: 30px;border: 1px solid #ea1b27;}

</style>
{% endblock %}
{% block tab %}
<div class="timeline"></div>
<div class="position-top shadow-light" style="background: #fff; border-bottom: 1px solid #bbb; padding:10px; box-sizing: border-box;">
    <form id="form">
    <div class="display-table ">
        <div class="table-cell">
            <input id="add_alarm_input" type="text" placeholder="알람받을 검색어 입력"
               style="background: #fff; -webkit-appearance:none; width: 100%;border-radius: 2px; font-size: 15px; padding:10px 10px; line-height: 15px;  border: 1px solid #ef878d; height:35px; box-sizing: border-box; background: #fff;" >
        </div>
        <div class="table-cell-9"></div>
        <div class="table-cell" style="width:74px;">
            <button  id="alarm_99" alarm_id="" class="bt strong" onclick="add_alarm();" style="vertical-align:top;  height:35px; font-size:14px; line-height:14px; ">
                <img src="{{ cdn_img }}/2016/bt_alarm_keyword.png" style="vertical-align: top;height:35px;">
            </button>
            <input type="submit" style="visibility: hidden; position:absolute;">
        </div>
    </div>
    </form>
    <div class="position block-hide" id="query_result"></div>
</div>
<div style="height:65px"></div>
<div id="block_alarm" class="" >
    <div class="display-table" style="padding:10px 5px; box-sizing: border-box;">
        <div class="table-cell font-15  c-darkgray " style="line-height: 15px;">
            <img src="{{ cdn_img }}/2016/timeline_dot_alarm.png" style="height: 16px;margin:-3px 5px 1px 7px;vertical-align: bottom;">검색어알람
            <a href="javascript:toggle_guide('keyword')" id="guide_keyword" class="position-relative">
                <img src="{{ cdn_img }}/2016/icon_question_n.png" style="height: 15px;margin:-3px 5px 0 -3px; padding:2px 4px; vertical-align: bottom;">
                <div class="block-hide position font-13 " style="width:160px; padding:9px 9px 6px; box-shadow: 0 1px 4px rgba(0,0,0,0.2); border: 1px solid #5dcacf; background: #fff; z-index: 9; left:0px; line-height: 17px;">
                    <div class="pull-right" style="margin:-6px; "><img src="{{ cdn_img }}/ic_close.png" style="height:24px; opacity: 0.55;" /></div>
                    <div class="font-14 strong">검색어알람? </div>
                    <div class="clear-3"></div>
                    검색어를 등록하면 해당 상품을 방송알람으로 알람받는 기능입니다.
                    <div class="clear-3"></div>
                    <div class="font-12 c-midgray">예2)'크림하우스'등록 -> 크림하우스 방송시 알람 </div>
                    <div class="clear-3"></div>
                    <div class="font-12 c-midgray">예1)'냉장고'등록 -> 냉장고(디오스, 지펠 등) 방송시 알람  </div>
                </div>
            </a>
        </div>
        <div class="table-cell align-right ">
            <a href="javascript:remove_all('alarm');"style="color: #888; font-size: 13px; line-height: 13px; text-decoration: underline;padding:3px 5px;">전체삭제</a>
        </div>
    </div>
    <div id="list_alarmkeyword">

    </div>
    <div class="c-midgray block-hide no-keyword align-center b-white font-14" style="padding:20px 4px; line-height:19px;">
        등록된 검색어알람이 없습니다.<br/>인기 검색어를 등록해보세요!</br>
    </div>
</div>
<div style="height:25px"></div>
<div id="block_alarmaction" class="" >
    <div class="display-table" style="padding:10px 5px; box-sizing: border-box;">
        <div class="table-cell font-15 c-darkgray  " style="line-height: 15px;">
            <img src="{{ cdn_img }}/2016/timeline_dot_alarm.png" style="height: 16px;margin:-3px 5px 1px 7px;vertical-align: bottom;">방송알람
            <a href="javascript:toggle_guide('entity')" id="guide_entity" class="position-relative">
                <img src="{{ cdn_img }}/2016/icon_question_n.png" style="height: 15px;margin:-3px 5px 0 -3px; padding:2px 4px; vertical-align: bottom;">
                <div class="block-hide position font-13 " style="width:160px; padding:9px 9px 6px; box-shadow: 0 1px 4px rgba(0,0,0,0.2); border: 1px solid #5dcacf; background: #fff; z-index: 9; left:0px; line-height: 17px;">
                    <div class="pull-right" style="margin:-6px; "><img src="{{ cdn_img }}/ic_close.png" style="height:24px; opacity: 0.55;" /></div>
                    <div class="font-14 strong">방송알람? </div>
                    <div class="clear-3"></div>
                    편성표, 상품정보, 검색어알람 등에서 설정된 상품이 방송할 때 알람받는 기능입니다.
                </div>
            </a>
        </div>
        <div class="table-cell align-right " >
            <a href="/native/my/alarm/past?title=지난 방송알람" class="margin-left c-red" style="font-size: 13px; line-height: 13px; text-decoration: underline;padding:3px;">지난방송</a>
            <a href="javascript:alarm_remove_all('alarm_action', 'future');" style="color: #888; font-size: 13px; line-height: 13px; text-decoration: underline;padding:3px 5px;">전체삭제</a>
        </div>
    </div>
</div>
{% endblock %}
{% block no_result %}
    <div class="">
        <div class="padding-9 font-14 trans b-white align-center" >
            <div class="clear-9"></div>
            등록된 방송알람이 없습니다.<br/>
            아래의 인기상품들을 알람설정해보세요!
            <div class="clear-9"></div>
        </div>
            <div class="clear-7"></div>
        <div class="position-relative" style="width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; ">
            <div id="item_reco_banner" class="position-relative" style=" width:1840px; margin:0 5px; vertical-align: top;"></div>
        </div>
    </div>
{% endblock %}
{% block js_basic %}
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    var tab = "alarm_future";
    var chk_load_alarmaction = false;
    var chk_load_alarm = false;
    var page_alarmaction = 1;
    var page_alarm = 1;

    function list_scroll() {
        $('.line').removeClass("b-lion");
        $('#line_'+tab).addClass("b-lion");
        $(".block").hide();
        $(".block_"+tab).show();
        if (page==1){
            load_alarm_keyword();
        }
        ajax_skin("alarm_action/getList", {"skin":"native/skin/_alarm_action_list", "flag": "alarm_action", "service": "tvshop", "action": "entity", "source": "future", "order": "create_date desc", "num": 15, "page":page }, function (re) {
            list_result(re);
            if($("#list_scroll").text().length < 99){
                $("#no_result").show();
                load_item();
            }else{
                $("#no_result").hide();
            }
            if(re.length < 99){
            }
        });
    }

    function load_item(){
        ajax_get("/rpc/popular_entity/getList", {"skin":"{{native_skin}}/_item_top_banner_alarm","page":1, "num":10, "flag":"my_alarm", "abtest":"b"}, function (re) {
            $("#item_reco_banner").html(re);
            $("#reco_block").fadeTo(300, 1);
        });
    }

    function load_alarm_keyword(){
        ajax_get("/rpc/alarm/getList", {"skin":"native/skin/_alarm_keyword_list","flag": "alarm","service": "tvshop", "action": "keyword","order": "create_date desc","num": 50, "page":page_alarm}, function (re) {
            $("#list_alarmkeyword").html(re);
            if($("#list_alarmkeyword").text().length < 130){

                if($(".bt-alarm").length==0){
                    ajax_get("/rpc/query_log/getTopQueryList",{page:1,num:10,ago:1}, function (re) {
                        for(var i =0; i< 3; i++){
                            $(".no-keyword").append('<button class="bt-alarm" onclick="set_alarm(97,\''+re.result.data[i].name+'\');">#'+re.result.data[i].name+'</button>')
                        }
                    });
                }

                $(".no-keyword").show();
            }else{
                $(".no-keyword").hide();
            }
            if(re.length < 99){
            }
        });
    }

    function toggle_guide(id){
        $("#guide_"+id+" > div").slideToggle(0);
        var img =$("#guide_"+id+" > img").attr("src");
        if(img.match("_n.png")){
            img = img.replace(/_n.png/, "_p.png");
            $("#guide_"+id+" > img").attr("src", img);
            ajax_get("/stat/alarmguide/show",{"flag":id, "from":locationHref}, function (re) {});

            if (id == 'keyword' && $("#guide_entity > div").is(":visible")){
                $("#guide_entity > div").slideToggle(0);
                img = img.replace(/_p.png/, "_n.png");
                $("#guide_entity > img").attr("src", img);
            }else if (id == 'entity' && $("#guide_keyword > div").is(":visible")){
                $("#guide_keyword > div").slideToggle(0);
                img = img.replace(/_p.png/, "_n.png");
                $("#guide_keyword > img").attr("src", img);
            }
        }else{
            img = img.replace(/_p.png/, "_n.png");
            $("#guide_"+id+" > img").attr("src", img);

            ajax_get("/stat/alarmguide/hide",{"flag":id, "from":locationHref}, function (re) {});
        }

    }

    function alarm_remove_all(action, source){
        var comment = {"future":"알림예정인 방송알람을",
                        "past":"알림완료된 방송알람을"};
        var is_confirm = confirm(comment[source] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm){
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop", "source": source}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    list_reset();
                    if( is_ios_app() && user_app_version >= "8.9.9" ){
                        document.location = "BuzzniHybrid:removeAlarmActionAll:";
                    }
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
    function remove_all(action){
        var comment = {"keyword":"최근 검색어를",
            "alarm":"검색어 알람을",
            "alarm_action":"생방송 알람을",
            "visit":"조회한 상품을",
            "like": "찜한 상품을"};

        var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm) {
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    list_reset();
                    if( is_ios_app() && app_version_count >= 90000  ){
                        document.location = "BuzzniHybrid:removeAlarmActionAll:";
                    }
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }




function add_alarm(){
    var keyword =  $("#add_alarm_input").val();
    if(keyword == "" || keyword == " " || keyword == "  "){
        native_send_toast("알람설정할 검색어를 입력해주세요.");
        $("#add_alarm_input").focus();
    }else if(keyword == "." || keyword == ","){
        native_send_toast("알람설정할 검색어를 정확히 입력해주세요.");
        $("#add_alarm_input").focus();
    }else{
        document.activeElement.blur();
        $("#alarm_99").attr("disabled", true);
        set_alarm(98,keyword);
        //ajax_get("/stat/directalarm/touch",{"query":keyword, "from":locationHref, "sfrom":superFrom}, function (re) {});
        setTimeout(function(){
            $("#alarm_99").attr("disabled", false);
        },300);
    }
}

//네이티브 알람설정 콜백
function setAlarmChanged(alarm_id){
    if(alarm_id > 0){
        if (alarm_target_id <= 100) {
            ajax_get("/stat/setalarm/keyword",{"query":alarm_target_query, "flag":alarm_id, "from":locationHref, "sfrom":superFrom}, function (re) {});
            $('#alarm_'+alarm_target_id).attr('alarm_id',alarm_id);
            $('#alarm_'+alarm_target_id).prop('checked',true);
            $('#alarm_'+alarm_target_id).addClass('on');
            $('#alarm_'+alarm_target_id+" span").text('알람취소');
        }else if (alarm_target_id > 100) {
            ajax_get("/stat/setalarm/entity",{"entity_id":alarm_target_id, "flag":alarm_id, "from":locationHref, "sfrom":superFrom}, function (re) {});
            $('#alarm_action_'+alarm_target_id).attr('alarm_action_id',alarm_id);
            $('#alarm_action_'+alarm_target_id).prop('checked',true);
        }
        if(alarm_target_id == 98 || alarm_target_id == 97 ){
            $('#query_result').hide();
            $("#alarm_99").attr("disabled", false);
            $("#add_alarm_input").val("").text("");
            ajax_get("/stat/directalarm/add",{"query":alarm_target_query, "from":locationHref, "sfrom":superFrom}, function (re) {});
            if(is_ios_app()) native_send_toast("검색어알람을 설정하였습니다.");
            setTimeout(function(){
                list_reset();
                load_alarm_keyword();
            },2000)
        }
    }

}
$(function(){
    if(is_ios_app()){
      $("#add_alarm_input").bind("focus", function(){
          if($(window).scrollTop() > 0)
            $(".position-top").css("position", "absolute");
        });
       $("#add_alarm_input").bind("blur",function(){
            $(".position-top").css("position", "fixed");
       });
    }

    $("#form").submit(function(e){
        e.preventDefault;
        return false;
    });
    //알림을 잘 받았는지 체크하는 로직
    ajax_json("visit/getUpdateDiffSeconds", {"action":"check_5", "user_id":user_id, "hour":23}, function (re) {
        if(re.success){
            //alert(re.result.data);
            if( re.result.data < 0){
                ajax_json("user/getInfo", {"target_id": user_id, "fields": "push_error_user"}, function(re){
                     if (re.result.push_error_user == 1){
                        ajax_json("visit/save", {"action":"check_5", "action_id": 1}, function (re) {
                            //alert(JSON.stringify(re));
                            if(confirm("최근 알람을 잘 받지 못하셨다면 '확인'버튼을 눌러주세요!")){
                                ajax_get("/stat/check/push",{"from":"my_alarm", "user_id":user_id}, function (re) {});
                                //ajax_json("visit/save", {"action":"check_user", "action_id": 55}, function (re) {
                                    //alert(JSON.stringify(re));
                                //});
                            }
                        });
                    }
                });
            }
        }
    });

});



    (function() {
        $("body").on("click", ".auto-query", function(){
            $('#add_alarm_input').val($(this).text()).text($(this).text()).focus();
            autocomplete($('#add_alarm_input').val(), function(){});
            ajax_get("/stat/directalarm/autoquery",{"query":$(this).text(), "from":locationHref, "sfrom":superFrom}, function (re) {});
        });
        $('#add_alarm_input').on('keyup',function(e) {
            autocomplete($('#add_alarm_input').val(), function(){});
        });

        /*
        if(is_ios_app()){
            document.addEventListener('touchstart', function(e) {   // 아이폰에서 웹뷰 스크롤 할때 키보드 내려가도록
                if (!isTextInput(e.target) && isTextInput(document.activeElement)) {
                    if(e.target.className != "auto-query"){
                        document.activeElement.blur();
                    }
                }
            }, false);
        }
        */
    })();




    function autocomplete (query, callback) {
        $.get('/autocomplete', {'query': query}, function(res) {
            var L = new Array();
            for(var i in res.result){
                L.push('<div class="auto-query" >' + res.result[i] + '</div>');
            }

            $('#query_result').html(L.join('')).show();

            callback();
        }, 'json');

    }

</script>
{% endblock %}
