{% extends "native/_list.html" %}
{% block title %}지난 방송알람{% endblock %}
{% block css %}
<style>
    .bt-alarm{vertical-align:top; padding-top:4px;width:88px; border-radius: 5px; background: #ef4d57; color: #fff; height:32px; font-size:14px; line-height:14px; box-shadow: 0 2px 0 #c80e19;}
    .list-alarmkeyword > a { border-bottom: 1px solid #eee; }
    .list-alarmkeyword:last-child  > a { border-bottom:0; }
    .timeline { background: #aaa; width: 2px; height: 100%; position: fixed; margin-left:19px; z-index:-1}
</style>
{% endblock %}
{% block tab %}
<div class="timeline"></div>
<div style="height:12px"></div>
<div id="block_alarmaction" class="position-relative" >
    <div class="display-table" style="padding:10px 5px; box-sizing: border-box;">
        <div class="table-cell font-15 c-darkgray  " style="line-height: 16px;">
            <img src="{{ cdn_img }}/2016/timeline_dot_alarm.png" style="height: 16px;margin:-2px 5px 0 7px;vertical-align: top;">지난 방송알람
        </div>
        <div class="table-cell align-right ">
            <a href="javascript:alarm_remove_all('alarm_action', 'past');" style="color: #888; font-size: 13px; line-height: 13px; text-decoration: underline;padding:3px 5px;">전체삭제</a>
        </div>
    </div>
</div>
{% endblock %}
{% block no_result %}
    <div class=" c-gray align-center b-white position-relative">
        <div class="padding-9 font-14" >
            <div class="clear-9"></div>
            등록된 방송알람이 없습니다.
            <div class="clear-9"></div>
        </div>
    </div>
{% endblock %}
{% block js_basic %}
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    var tab = "alarm_future";
    var chk_load_alarmaction = false;
    var chk_load_alarm = false;
    var page_alarmaction = 1;
    var page_alarm = 1;
    //load_alarm_keyword();
    function list_scroll() {
        $('.line').removeClass("b-lion");
        $('#line_'+tab).addClass("b-lion");
        $(".block").hide();
        $(".block_"+tab).show();
        ajax_skin("alarm_action/getList", {"skin":"native/skin/_alarm_action_list", "flag": "alarm_action", "service": "tvshop", "action": "entity", "source": "past", "order": "create_date desc", "num": 15, "page":page }, function (re) {
            list_result(re);
            $(".timeline").css("height", $(document).height());
        });
    }

    function load_alarm_keyword(){
        ajax_skin("alarm/getList", {"skin":"native/skin/_alarm_keyword","flag": "alarm","service": "tvshop", "action": "keyword","order": "create_date desc","num": 50, "page":page_alarm}, function (re) {
            $("#list_alarmkeyword").html(re);
            if($("#list_alarmkeyword").text().length < 130){
                $(".no_keyword").show();
            }else{
                $(".no_keyword").hide();
            }
            if(re.length < 99){
            }
        });
    }

    function alarm_remove_all(action, source){
        var comment = {"future":"알림예정인 방송알람을",
                        "past":"알림완료된 방송알람을"};
        var is_confirm = confirm(comment[source] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm){
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop", "source": source}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    list_reset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }

    function remove_all(action){
        var comment = {"keyword":"최근 검색어를",
            "alarm":"검색어 알람을",
            "alarm_action":"생방송 알람을",
            "visit":"조회한 상품을",
            "like": "찜한 상품을"};

        var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm) {
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    list_reset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
function add_alarm(){
    var keyword =  $("#add_alarm_input").val();
    if(keyword == "" || keyword == " " || keyword == "  "){
        native_send_toast("알람설정할 검색어를 입력해주세요.");
    }else if(keyword == "." || keyword == ","){
        native_send_toast("알람설정할 검색어를 정확히 입력해주세요.");
    }else{

        $("#alarm_99").attr("disabled", true);
        set_alarm(98,keyword);
        //ajax_get("/stat/directalarm/touch",{"query":keyword, "from":locationHref, "sfrom":superFrom}, function (re) {});
        setTimeout(function(){
            $("#alarm_99").attr("disabled", false);
        },300);
    }
}

//네이티브 알람설정 콜백
function setAlarmChanged(alarm_id){
    if(alarm_id > 0){
        if (alarm_target_id <= 100) {
            ajax_get("/stat/setalarm/keyword",{"query":alarm_target_query, "flag":alarm_id, "from":locationHref, "sfrom":superFrom}, function (re) {});
            $('#alarm_'+alarm_target_id).attr('alarm_id',alarm_id);
            $('#alarm_'+alarm_target_id).prop('checked',true);
            $('#alarm_'+alarm_target_id).addClass('on');
            $('#alarm_'+alarm_target_id+" span").text('알람취소');
        }else if (alarm_target_id > 100) {
            ajax_get("/stat/setalarm/entity",{"entity_id":alarm_target_id, "flag":alarm_id, "from":locationHref, "sfrom":superFrom}, function (re) {});
            $('#alarm_action_'+alarm_target_id).attr('alarm_action_id',alarm_id);
            $('#alarm_action_'+alarm_target_id).prop('checked',true);
        }
        if(alarm_target_id == 98){
            list_reset();
            load_alarm_keyword();
            $("#alarm_99").attr("disabled", false);
            $("#add_alarm_input").val("").text("");
            ajax_get("/stat/directalarm/add",{"query":alarm_target_query, "from":locationHref, "sfrom":superFrom}, function (re) {});
        }
    }

}
$(function(){
    if(is_ios_app()){
      $("#add_alarm_input").bind("focus", function(){
          if($(window).scrollTop() > 0)
            $(".position-top").css("position", "absolute");
        });
       $("#add_alarm_input").bind("blur",function(){
            $(".position-top").css("position", "fixed");
       });
    }

    $("#add_alarm_input").focusout(function() {
        var keyword =  $("#add_alarm_input").val();
        //ajax_get("/stat/directalarm/input",{"query":keyword,  "from":locationHref, "sfrom":superFrom}, function (re) {});
    });
});

</script>
{% endblock %}
