{% extends "native/_list.html" %}
{% block title %}이벤트{% endblock %}
{% block css %}
    <style>
        .trans-dark {width:100%;display: inline-block;position: absolute;height:100%;left:0;top:0;background: #000;opacity:0.5}
        .event-list {position:relative;display: block;}
        .more-wrap {position: relative;text-align: center;display: block;}
        .btn-more {position:relative;display: block;margin:0 auto;font-size: 16px;padding:20px;opacity: 0.5;font-weight: bold;background: transparent;border:0px;margin:0 auto;margin-bottom:50px}

    </style>

{% endblock %}
{#{% block container %}#}
{#    <div class="clear-9" ></div>#}
{#    <div id="event_block"></div>#}
{#{% endblock %}#}
{% block container %}

    <div id="event_head" class="align-center" style="box-shadow: 0 0 2px rgba(0,0,0,0.1); background:{% if datetime < "201606010000" %}#fff3cd;{% endif %} ">
        <a href="/native/my/sale?from=event" class="disblock">
            <img src="{{ cdn_img }}/mysale/mysale_month_{{ mysale_list.month }}.png?v=1" style="min-height:70px; width: 100%; margin:0 auto;" class="th-1" >
        </a>
    </div>
    <section >
        <section id="event_list" class="event-list"></section>
        <button onclick="appendEvent();" class="btn-more">↓ 더보기</button>
    </section>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        var tab = "event";
        var num = 15;
        function ended_event(url,category,event){
            if (url.match("allinweek?") != null){
                event.preventDefault();
                native_send_toast("종료된 올인위크 입니다. 다음 올인위크를 기대해주세요.");
            }else if (url.match("promotion?") != null){
                event.preventDefault();
                native_send_toast("종료된 기획전 입니다.");
            }else if (url.match("survey?") != null){
                event.preventDefault();
                native_send_toast("종료된 설문조사 입니다.");
            }else if (category.match("심리테스트") == null){
                event.preventDefault();
                native_send_toast("종료된 이벤트 입니다.");
            }
        }

        /*
         * 종료된 이벤트는 무조건 아래로 내릴수 있도록 수정한다.
         */
        function appendEvnetHead(){
            var dump = [], temp_dom = $(".live_list");
            for(var i=0;i<temp_dom.length;i++){
                dump.push($(temp_dom[i]));
                $(temp_dom[i]).remove();
            }
            $("#event_head").append(dump);
        }

        function appendEvent(){
            ajax_skin("board/getList", {"skin": "native/skin/_event_list", "cate":"event", "page": page, "num": num, "order":'create_date', "flag":"{{ datetime }}"}, function (re) {
                if (re.length > 99) {
                    $("#event_list").append(re);
                    appendEvnetHead();
                    page++;
                }else{
                    $(".btn-more").hide();
                }
            });
        }

        $(function(){
            appendEvent();
        });

    </script>
{% endblock %}
