{% extends "native/__basic.html" %}
{% block title %}자주묻는질문{% endblock %}
{% block css %}
    <style>
    .arrow {width: 14px;vertical-align: top; margin-top:5px;-webkit-transition: all 0.3s ease; -webkit-transform: rotate(0deg);}
        .callcenter { line-height: 20px;  color: #555; margin:0; }
        .callcenter a { background: #fff; border:1px solid #ccc; border-radius: 3px; box-sizing: border-box; margin:3px; display: block; padding:11px 5px 10px 5px; font-size: 13px;}
        .callcenter img {height:22px;vertical-align: top; margin: -2px 3px 0 5px;}
        .callcenter .pull-right {margin-right: 6px;font-size: 14px; color: #888; }
     .callcenter .pull-right:after{content:''; width:12px; height:12px; background: #ccc}
    .faq_head{ border-bottom:0; border-left:0; border-right:0;}
    .faq_head:last-child {border-bottom:1px solid #ccc}
    .faq_head .display-table{height:60px; }

    .table-cell{ vertical-align: middle}
    .table-cell:first-child{ width:40px !important; text-align: center}

    .hidden_link{
        width:100%;
        position: absolute;
        height:50px;
        left:0; bottom:0;
    }
    </style>
{% endblock %}
{% block container %}
    <div class="clear-9"></div>
    <div id="faq_block">
        {% if agent == 'android' %}
        <div class="faq_head b-white border" id="list_1434">
            <a class="disblock" href="javascript:toggle_faq('1434')">
                <div class="display-table" style="padding:12px 15px 12px 0;; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-left font-16 strong c-red" style="width:36px;">
                        공지
                    </div>
                    <div class="table-cell font-16" style="">
                        [갤럭시] 최근 알람이 안와요
                    </div>
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1434" class="arrow" src="{{ cdn_img }}/player_select.png" style="">
                    </div>
                </div>
            </a>
            <div id="list_content_1434" class="list-content block-hide"  style="border-top:1px solid #ddd; background: #f7f7f7;">
                <div class="font-14" style="line-height: 19px;">
                    <img src="{{ cdn_img }}/faq_smart_manager_off.png" alt="">
                    <a href="/native/my/help?title=의견건의&from=my_faq">
                        <img src="{{ cdn_img }}/faq_smart_manager_off_btn.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="faq_head b-white  border" id="list_1436">
            <a class="disblock" href="javascript:toggle_faq('1436')">
                <div class="display-table" style="padding:12px 15px 12px 0; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-left font-16 strong c-mint" style="width:36px;">
                        Q
                    </div>
                    <div class="table-cell font-16" style="">
                        방송알람이 안와요
                    </div>
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1436" class="arrow" src="{{ cdn_img }}/player_select.png" style="">
                    </div>
                </div>
            </a>
            <div id="list_content_1436" class="list-content block-hide"  style="border-top:1px solid #ddd; padding:9px; background: #f7f7f7;">
                <div class="font-14" style="margin:5px; line-height: 19px;">
                    {% if agent == 'iphone' or agent == 'ipad' %}
                        아이폰의 경우 아이폰의 설정 -> 알림 -> 홈쇼핑모아 로 들어가셔서 알림 허용을 "ON"하시면 알람을 받아보실 수 있습니다.
                        <div class="margin-9">
                            <img src="/media/img/2016/faq_ios_alarm.png" >
                        </div>
                        이렇게 설정하신 후에도 알람이 오지 않으시면 의견건의로 문의주시길 바랍니다.
                    {% else %}
                        상품 편성표를 보시다가 방송알람이 되지 않는 경우는 내부 알람 시스템 상의 문제가 있을 수도 있으나, 실제로 편성표가 수정되어 해당 상품이 방영되지 않는 경우일 수도 있습니다. <br>그러나 알람을 설정해둔 상품이 실제로 홈쇼핑에서 방송한 상품인데 방송알람이 뜨지 않는다면, 상품명과 해당 상품의 방송일시가 언제인지, 이용하고 계시는 스마트기기가 무엇인지 의견건의 게시판에 말씀해주시면 문제확인에 도움을 드릴 수 있습니다<br>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="faq_head b-white border" id="list_1438">
            <a class="disblock" href="javascript:toggle_faq('1438')">
                <div class="display-table" style="padding:12px 15px 12px 0; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-left font-16 strong c-mint" style="width:36px;">
                        Q
                    </div>
                    <div class="table-cell font-16" style="">
                        ○○○ 상품 방송 언제하나요?
                    </div>
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1438" class="arrow" src="{{ cdn_img }}/player_select.png" style="">
                    </div>
                </div>
            </a>
            <div id="list_content_1438" class="list-content block-hide"  style="border-top:1px solid #ddd; padding:9px; background: #f7f7f7;">
                <div class="font-14" style="margin:5px; line-height: 19px;">
                    홈쇼핑모아 앱은 각 홈쇼핑의 상품방송 정보를 모아서 보여주고, 또 해당 상품의 정보를 모아 보여주는 서비스만을 하고 있습니다.
                    따라서 어느 상품이 언제 편성될 것인지에 대한 정보는 홈쇼핑모아 측에서도 알 수가 없습니다ㅠ.ㅠ<br>
                    그렇지만 저희 홈쇼핑모아의 “검색어 알람” 서비스를 이용하시면 저희 홈쇼핑모아가 고객님이 원하는 상품 방송시 알람으로 알려드리겠습니다^^


                    <div class="" style="margin:9px;">
                        <a class='disblock' href="/native/my/alarm?title=알람센터&from=my_faq" >
                            <div class='display-table  c-white' style="padding:12px 15px; box-sizing: border-box;line-height: 20px; background: #e8444d;">
                                <div class="table-cell align-center strong font-16" style="">
                                    검색어알람 설정하기
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_head b-white border" id="list_1444" >
            <a class="disblock" href="javascript:toggle_faq('1444')">
                <div class="display-table" style="padding:12px 15px 12px 0; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-left font-16 strong c-mint" style="width:36px;">
                        Q
                    </div>
                    <div class="table-cell font-16" style="">
                        상품 구매취소/결제취소/교환/반품하고 싶어요
                    </div>
                    <div class="table-cell-line"></div>
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1444" class="arrow" src="{{ cdn_img }}/player_select.png" style="">
                    </div>
                </div>
            </a>
            <div id="list_content_1444" class="list-content block-hide" style="border-top:1px solid #ddd; padding:9px; background: #f7f7f7;">
                <div class="font-14" style="margin: 5px; line-height: 19px;">
                    홈쇼핑모아에서는 직접 결제 시스템을 제공하고 있지 않으며, 네이버 지식쇼핑처럼 단지 상품의 정보를 모아서 제공하고 있는 점 양해 부탁드립니다.<br>상품의 구매/결제/구매취소/교환/반품 등은 모두 해당 홈쇼핑에서 진행하고 있으므로 아래의 홈쇼핑사 중 고객님이 상품을 구매하신 홈쇼핑사로 문의해주시기 바랍니다.
                </div>
                    <div class="align-center c-mint font-14 padding" style="margin-top:7px;">
                        쇼핑사별 고객센터 전화하기
                    </div>
                <div class="" >
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('hnsmall')">
                            <img src="{{ media }}/hsmoa/logo/logo_hnsmall.png"> <div class="pull-right spacing1" style="letter-spacing: 0px;">1666-1111</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('cjmall')">
                            <img src="{{ media }}/hsmoa/logo/logo_cjmall.png"><div class="pull-right">1644-2525</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('lottemall')">
                            <img src="{{ media }}/hsmoa/logo/logo_lottemall.png"> <div class="pull-right">1899-4000</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('gsshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_gsshop.png"><div class="pull-right">1899-4500</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('immall')">
                            <img src="{{ media }}/hsmoa/logo/logo_immall.png"> <div class="pull-right">1566-7770</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('nsmall')">
                            <img src="{{ media }}/hsmoa/logo/logo_nsmall.png"> <div class="pull-right">1688-7700</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('ssgshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_ssgshop.png"> <div class="pull-right">1800-0850</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('hmallplus')">
                            <img src="{{ media }}/hsmoa/logo/logo_hmallplus.png"> <div class="pull-right">1600-0000</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('kshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_kshop.png"> <div class="pull-right">1899-2211</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('cjmallplus')">
                            <img src="{{ media }}/hsmoa/logo/logo_cjmallplus.png"> <div class="pull-right">1644-2525</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('lotteonetv')">
                            <img src="{{ media }}/hsmoa/logo/logo_lotteonetv.png"> <div class="pull-right">1899-4000</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('gsmyshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_gsmyshop.png"><div class="pull-right">1899-4500</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('shopnt')">
                            <img src="{{ media }}/hsmoa/logo/logo_shopnt.png"> <div class="pull-right">080-130-1010</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('wshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_wshop.png"> <div class="pull-right">1644-4949</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('bshop')">
                            <img src="{{ media }}/hsmoa/logo/logo_bshop.png"> <div class="pull-right">1566-0106</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('nsmallplus')">
                            <img src="{{ media }}/hsmoa/logo/logo_nsmallplus.png"> <div class="pull-right">1688-7700</div>
                        </a>
                    </div>
                    <div class="callcenter">
                        <a href="javascript:supportcall_click('hmall')">
                            <img src="{{ media }}/hsmoa/logo/logo_hmall.png"> <div class="pull-right">1600-0000</div>
                        </a>
                    </div>
                    <div class="clear-3"></div>
                </div>
            </div>
        </div>

        <script>
            var selected_faq = "";
            function toggle_faq(id){
                if (selected_faq == id){
                    $("#list_content_"+id).slideToggle(310);
                    $("#arrow_"+id).css("-webkit-transform", "rotate(0deg)");
                    selected_faq = "";
                }else{
                    $(".list-content:not(#list_content_"+id+")").slideUp(200);
                    $("#list_content_"+id).slideToggle(310);
                    $(".arrow:not(#arrow_"+id+")").css("-webkit-transform", "rotate(0deg)");
                    $("#arrow_"+id).css("-webkit-transform", "rotate(-180deg)");
                    selected_faq = id;
                }
            }
        </script>
    </div>
    <div class="" style="margin:11px 9px;">
    </div>

    <div class="hidden_link"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        //고객센터 전화
        function supportcall_click(site) {
            var _dict = {
                "hnsmall":"16661111",
                "cjmall":"16442525",
                "lottemall":"18994000",
                "gsshop":"18994500",
                "immall":"15667770",
                "nsmall":"16887700",
                "ssgshop":"18000850",
                "hmallplus":"16000000",
                "kshop":"18992211",
                "cjmallplus":"16442525",
                "lotteonetv":"18994000",
                "gsmyshop":"18994500",
                "shopnt":"0801301010",
                "wshop":"16444949",
                "bshop":"15660106",
                "nsmallplus":"16887700",
                "hmall":"16000000",
            };
            if(site == "" || site == undefined || _dict[site] == undefined){
                alert("없는 번호입니다.");
            }else{
                ajax_get("/stat/supportcall",{"site":site, "from":locationHref}, function (re) {
                    window.location = 'tel:'+_dict[site];
                });
            }
        }

        var touch_count = 0;
        $('.hidden_link').on('touchend', function(){
            touch_count ++;
            console.log(touch_count);
            if(touch_count > 10){
                touch_count = 0;
                location_href('/native/home/style');
            }
        });
    </script>
{% endblock %}