{% extends "native/__basic.html" %}
{% block title %}자주묻는질문{% endblock %}
{% block css %}
    <style>
    body{
        background: #f7f7f7;
    }
    .arrow {width: 14px;vertical-align: top; margin-top:5px;-webkit-transition: all 0.3s ease; -webkit-transform: rotate(0deg);}
        .callcenter { line-height: 20px;  color: #555; margin:0; }
        .callcenter a { background: #fff; border:1px solid #ccc; border-radius: 3px; box-sizing: border-box; margin:3px; display: block; padding:11px 5px 10px 5px; font-size: 13px;}
        .callcenter img {height:22px;vertical-align: top; margin: -2px 3px 0 5px;}
        .callcenter .pull-right {margin-right: 6px;font-size: 14px; color: #888; }
     .callcenter .pull-right:after{content:''; width:12px; height:12px; background: #ccc}


    .faq_head .display-table{height:60px; }

    .table-cell{ vertical-align: middle}
    .table-cell:first-child{ width:40px !important; text-align: center}

    .btn_cs{
            margin: 0 auto;
            display: table;
            background: #2DBAC1;
            color: #fff;
            text-align: center;
            padding: 13px 67px 11px;
            margin-top: 22px;
            font-size: 17px;
            border-radius: 2px;
        }

    .faq_head a{
        border:1px solid #B9BDCD; margin:0; margin-top:-1px;
    }
    .faq_head:last-child a{
        border-bottom:1px solid #B9BDCD;
    }
    .list-content { margin-top:-1px; border:.5px solid #B9BDCD; padding:10px; background: #F1F1F1;  }
    .list-content b{  font-size:16px;  }
    </style>
{% endblock %}
{% block container %}

    <div style="height:24px;"></div>
    <div id="faq_block padding-9" style="margin:0 22px;">

        <div class="faq_head b-white" id="list_1436">
            <a class="disblock" href="javascript:toggle_faq('1436')">
                <div class="display-table" style="padding:12px 15px 12px 0; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1436" class="arrow" src="http://cache.m.ui.hsmoa.com/media/img/player_select.png" style="">
                    </div>
                    <div class="table-cell font-16" style="">
                        인증문자가 오지 않아요. 어떻게 하나요?
                    </div>
                </div>
            </a>
            <div id="list_content_1436" class="list-content">
                <div class="font-14" style="margin:5px; line-height: 19px;">
                    <b>1. 입력한 전화번호를 다시 확인해주세요.</b> <br>
                    입력하신 전화번호로 4자리 숫자로 이루어진 인증번호를 문자 메시지로 보내드립니다. <br><br>
                    전화번호를 올바르게 입력하셨는지 다시 한번 확인해주세요.
                    전화번호 입력창에는 국가번호를 제외한 본인의 휴대폰 전화번호를 입력해 주셔야 합니다.
                    <br><br>
                    <b>2. 특정 지역 또는 통신사의 일시적인 지연</b> <br>
                    일부 국가 또는 지역의 경우 통신사 사정에 따라 인증번호가 도착하기까지 다소 시간이 걸릴 수 있습니다. <br>
                    또한 '인증번호 받기' 후 30초가 경과하면 '재발송'을 통해 입력하신 번호로 다시 인증번호를 받아보실 수 있습니다. <br><br>
                    일정 시간을 두고 재발송을 시도해주세요. 재발송 했음에도 인증번호를 받지 못하셨다면 아래 '문의하기'를 통해 접수 부탁드려요.
                </div>
            </div>
        </div>

        <div class="faq_head b-white" id="list_1438">
            <a class="disblock" href="javascript:toggle_faq('1438')">
                <div class="display-table" style="padding:12px 15px 12px 0; box-sizing: border-box;line-height: 20px;">
                    <div class="table-cell align-center font-16 strong c-mint" style="width:16px;">
                        <img id="arrow_1438" class="arrow" src="http://cache.m.ui.hsmoa.com/media/img/player_select.png" style="">
                    </div>
                    <div class="table-cell font-16" style="">
                        인증이 실패했다고 합니다. 어떻게 하나요?
                    </div>
                </div>
            </a>
            <div id="list_content_1438" class="list-content block-hide">
                <div class="font-14" style="margin:5px; line-height: 19px;">
                    인증번호를 요청하실 때 마다 4자리의 인증번호를 새로이 생성하여 보내드리고 있는데, <br>
                    아마도 전화번호를 입력하고 인증번호를 요청하는 과정에서 정해진 횟수 이상 요청이 있었던 것 같습니다. <br><br>
                    인증번호는 5회까지만 발송되며, 5회 초과 시에는 24시간 이후에 시도 가능합니다. <br><br>
                    나쁜 의도를 가진 경우를 막기 위해 불가피하게 제한을 하면서 불편을 드리게 되어 죄송합니다. <br>
                    24시간이 지난 후에 다시 인증번호 요청을 하시면 정상적으로 진행할 수 있습니다.
                </div>
            </div>
        </div>

        <a href="/native/my/help?from=faq" class="btn_cs">
            문의하기
        </a>

        <script>
            var selected_faq = "";
            function toggle_faq(id){
                if (selected_faq == id){
                    $("#list_content_"+id).slideToggle(310);
                    $("#arrow_"+id).css("-webkit-transform", "rotate(0deg)");
                    selected_faq = "";
                }else{
                    $(".list-content:not(#list_content_"+id+")").slideUp(200);
                    $("#list_content_"+id).slideToggle(310);
                    $(".arrow:not(#arrow_"+id+")").css("-webkit-transform", "rotate(0deg)");
                    $("#arrow_"+id).css("-webkit-transform", "rotate(-180deg)");
                    selected_faq = id;
                }
            }
        </script>
    </div>
    <div class="" style="margin:11px 9px;"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript">


        //고객센터 전화
        function supportcall_click(site) {
            var _dict = {"gsshop":"18994500",
                "cjmall":"16442525",
                "lottemall":"18994000",
                "hmall":"16000000",
                "nsmall":"16887700",
                "hnsmall":"16661111",
                "gsmyshop":"18994500",
                "kshop":"18992211",
                "ssgshop":"18000850",
                "wshop":"16444949",
                "immall":"15667770",
                "hmallplus":"16000000",
                "cjmallplus":"1644-2525",
                "shopnt":"080-130-1010",
            };
            if(site == "" || site == undefined || _dict[site] == undefined){
                alert("없는 번호입니다.");
            }else{
                ajax_get("/stat/supportcall",{"site":site, "from":locationHref}, function (re) {
                    window.location = 'tel:'+_dict[site];
                });
            }
        }
    </script>
{% endblock %}