{% extends "native/_list.html" %}
{% block title %}찜한 상품{% endblock %}
{% block tab %}
<div class="display-table">
    <div class="table-cell align-middle font-14 c-midgray " style="line-height: 16px; padding: 14px 10px;">
        내가 찜한 방송상품<span id="visit_num" class="c-red block-hide font-15" style="line-height: 16px;">0</span>
    </div>
    <div class="table-cell align-middle align-right ">
        <a href="javascript:remove_all('like');"><img src="{{ cdn_img }}/2016/bt_all_delete.png" style="height: 26px;"></a>
    </div>
    <div class="table-cell-9"></div>
</div>
{% endblock %}
{% block no_result %}
<div class=" b-white align-center ">
    <div class="padding-9 c-gray font-14" >
        <div class="clear-9" style="height:30px;"> </div>
        <img src="{{ img }}/2016/icon_like.png" style="height: 54px;">
        <div class="clear-9" > </div>
        <span class="c-red  font-15">찜한 상품</span><span class="c-black font-15">이 없습니다.</span>
        <div class="clear-3" > </div>
        상품을 찜하시면 이곳에서 보실 수 있습니다.
        <div class="clear-9" style="height:35px;"> </div>
    </div>
</div>
{% endblock %}
{% block list_end %}
<div id="reco_block" class="" style="min-height:50px; opacity: 0;">
    <div class="padding-7 align-center font-15 ">
        실시간 홈쇼핑 인기상품
    </div>
    <div class="position-relative" style="width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; ">
        <div id="item_reco_banner" class="position-relative" style=" width:1840px; margin:0 5px; vertical-align: top;"></div>
    </div>
</div>
<div class="clear-9" style="height:24px;"> </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var data = {
        "skin":"native/skin/_visit_list",
        "flag": "like",
        "service": "tvshop",
        "action": "entity",
        "order": "create_date desc",
        "page": page,
        "num": num
    };
    function list_scroll() {
        data.page = page;
        ajax_skin("like/getList", data, function (re) {
            list_result(re);
            if(re.length < 300) load_item();
        });
    }
    function load_item(){
        ajax_get("/rpc/popular_entity/getList", {"skin":"{{native_skin}}/_item_top_banner","page":1, "num":10, "flag":"my_like", "abtest":"b"}, function (re) {
            $("#item_reco_banner").html(re);
            $("#reco_block").fadeTo(300, 1);
        });
    }
    function like_remove(action, action_id, like_id){
        var is_confirm = confirm("찜한상품 목록에서 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if (is_confirm ) {
            $('#like_' + action + "_" + action_id + "_bt").attr("disabled", "disabled");
            ajax_json("like/remove", {"like_id": like_id}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    $("#list_"+like_id).fadeTo(150,0).slideUp(150, function(){
                    $("#list_"+like_id).remove();
                    if( $("#list_scroll").children().length < 1){
                        $("#no_result").show();
                    }
                });
                } else {
                    native_send_toast(re.msg);
                }
                $('#like_' + action + "_" + action_id + "_bt").removeAttr("disabled");
            });
        }
    }
    function remove_all(action){
        var comment = {"keyword":"최근 검색어를",
            "alarm":"검색어 알람을",
            "alarm_action":"생방송 알람을",
            "visit":"조회한 상품을",
            "like": "찜한 상품을"};

        var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm) {
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    list_reset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
</script>
{% endblock %}