{% extends "native/__basic.html" %}
{% block title %}서비스 이용약관{% endblock %}
{% block container %}
<div class="margin-12 padding-12" >
    <div class="font-15">서비스 이용약관</div>
    <div class="font-13" style="line-height:18px;">
        {% include "native/in/_in_tvshop_policy.html" %}
    </div>
</div>
{% endblock %}