{% extends "native/__basic.html" %}
{% block title %}개인정보 보호정책{% endblock %}
{% block container %}
<div class="margin-12 padding-12" >
    <div class="font-15">개인정보 보호정책</div>
    <div class="font-13" style="line-height:18px;">
        {% include "native/in/_in_privacy_policy.html" %}
    </div>
</div>
{% endblock %}