{% extends "native/_list.html" %}
{% load filters %}
{% block title %}{{ request.GET.program_query|program_dict:'name' }}{% endblock %}
{% block css %}
    <style>
input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
input.toggle + label {display: block;position: relative;background: #ccc url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 80% 50%; background-size:15px 15px; line-height: 20px;height: 30px;width: 60px;border-radius: 15px;background-repeat: no-repeat;}
input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
    background: #ccc ;-moz-transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;}
input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
    border-radius: 15px; background: white; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out;}
input.toggle:checked + label:before {width: 60px; background: #ea1b27 url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 20% 50%;background-size:15px 15px; background-repeat: no-repeat;}
input.toggle:checked + label:after { left: 30px;border: 1px solid #ea1b27;}

.tab {font-size: 15px;padding:12px 0 11px 0; line-height:15px; background: #f7f7f7; }
.tab.on {background: #fff; color: #ea1b27; font-weight: bold;}

.mark-date {margin: 18px auto 0 auto; line-height: 13px; width:130px; background: #f9f9f9; padding:6px 0; border-radius: 20px; border: 1px solid #bbb; text-align: center; color: #666;}

#container {max-width: 420px; margin: 0 auto;}
.show-main { box-shadow: 0 1px 3px rgba(0,0,0,0.15); z-index: 99; text-align: center;}
.show-main img {width:100%;}
.show-time {position: absolute; background: rgba(120,120,120,0.5); width: 100%; left:0; bottom :0; padding:9px 0; color:#fff; font-size:14px; line-height: 1.2em;}
    </style>
{% endblock %}
{% block tab %}
    <div class="show-main  position-relative">
        <img src="{{ cdn_img }}/program/show_main_{{ request.GET.program_query|urldecode }}.png?v=6">
        <div class="show-time">
            {{ request.GET.program_query|program_dict:'time' }}
            <div class="font-10 trans">*방송사의 사정에 따라 편성 시간이 변경될 수 있습니다.</div>
        </div>
    </div>
{% endblock %}
{% block list_end %}
    {% if request.GET.from != "showlist" %}
        <div class="margin-9">
            <a href="javascript:location_href('/native/showlist?from=program');">
                <div class="display-table" style="padding:11px 15px; box-sizing: border-box;line-height: 20px; background: #f25059; color:#fff; opacity: 0.8;">
                    <div class="table-cell align-left font-16 strong c-mint" style="width:20px;">

                    </div>
                    <div class="table-cell  align-center font-15 strong" style="">
                        <div class="clear-2"></div>
                        더 많은 프로그램 보기
                    </div>
                    <div class="table-cell align-center font-18 strong c-white " style="width:20px;">
                        <div class="clear-2"></div>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
{% include "native/script/_script_alarm.html" %}
<script type="text/javascript">
    var program = "{{ request.GET.program_query|urldecode }}";
    var tab = "future";
    var live = 1;
    var tab_click=true;

    function list_scroll() {
        ajax_skin("entity/getProgramList", {"skin":"{{native_skin}}/_program_list","name": program,"num": 30,"page": page, "live": 1, "flag": "program,"+program}, function (re) {
            $("#list_scroll").append(re);
            ajax_skin("entity/getProgramList", {"skin":"{{native_skin}}/_program_list","name": program,"num": 30,"page": page, "live": 0, "flag": "program,"+program}, function (re) {
                $("#list_scroll").append(re);
                list_end();
            });
        });
    }

    function reload(){
        if(clicked_entity_id != ""){
            ajax_json("entity/userInfo", {"entity_id": clicked_entity_id}, function (re) {
                if (re.success == true) {
                    var alarm_action_id = re.result.alarm_action_id;
                    if (alarm_action_id > 0) {
                        $('#alarm_action_'+clicked_entity_id).attr('alarm_action_id',alarm_action_id);
                        $('#alarm_action_'+clicked_entity_id).prop('checked',true);
                    }else{
                        $('#alarm_action_'+clicked_entity_id).attr('alarm_action_id',"0");
                        $('#alarm_action_'+clicked_entity_id).prop('checked',false);
                    }
                }
            });
        }
    }

</script>
{% endblock %}
