{% extends "native/_list.html" %}
{% block title %}내 추천상품{% endblock %}
{% block tab %}
<div class="display-table">
    <div class="table-cell align-middle font-14 c-midgray " style="line-height: 16px; padding: 14px 10px;">
        최근 본 상품을 바탕으로 자동추천된 상품입니다.
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function list_scroll() {
        ajax_skin("reco/recoEntity", {"skin":"native/skin/_item_reco_personal_list", "num":20, "abtest":get_abtest(user_id, 2)}, function (re) {
            list_result(re);
            list_end();
        });
    }
</script>
{% endblock %}