{% extends "native/__basic.html" %}
{% block css %}
    <style>
    .list-query { border-bottom: 1px solid #f2f2f2; background: #fff;}
    .list-query:last-child {border-bottom: 0 !important;}
    .gradient-left {position:absolute;left:0; top:0; font-size: 14px; z-index: 99; background: #fff; background: linear-gradient(to right, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    padding: 14px 15px 12px 12px;   margin:0;box-sizing: border-box;word-break: break-all; display: inline-block; line-height: 16px; }
    .gradient-right{position:absolute; right:0; top:0; z-index: 99; background: #fff; background: linear-gradient(to left, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
    height:42px; width: 18px; margin:0;box-sizing: border-box; display: inline-block; }
    .bt-recoquery {margin: 0 auto; font-size:17px; color:#444; background: #fff; border-radius: 30px; height:44px; line-height: 44px; padding: 0 25px 0 27px; border: 1px solid #ccc;}
    .bt-recoquery span {font-weight: bold; font-size:17px; color:#000;}
    .tag-date {
        position: absolute; right:0; top:0; z-index: 9; color:#fff; border-radius: 10px; font-size:11px;
        padding:0 7px; padding-top: 1px; line-height: 18px; height:18px; margin:4px; background: #666; background: rgba(70,70,70,0.8);
    }
    </style>
{% endblock %}
{% block container %}
<div id="resultlist">

</div>
<div id="recoquery" class="align-center block-hide" style="margin: 25px 0;">

</div>
<div id="visitblock" class="block-hide " style="bottom:0; left:0; width:100%;">
    <div id="visititem" style="background: #f7f7f7; border-bottom: 1px solid #ccc;">

    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var reco_query = "";
$(function() {
    ajax_get("/rpc/query_log/getTopQueryWithUserKeyword",{"skin":"native/skin/_query_realtime_list"}, function (re) {
        $("#resultlist").append(re);
        var _width = 50;
        $(".query-realtime").each(function(){
            _width += $(this).width()+4;
        });
        $("#block_realtime").css("width", _width+"px");
        load_visit();
        if ( $(".recent-query").length == 0 ){
            ajax_get("/rpc/reco/recoQuery", {}, function (re) {
                if(re.success){
                    reco_query = re.result.query;
                    $("#recoquery").append("<button class='bt-recoquery' onclick=\"view_search(reco_query, 'search_recoquery,"+re.result.source+"')\"><span>\""+reco_query+"\"</span> 상품보기 〉</button>");
                    $("#recoquery").show();
                }
            });
        }
    });

    if(1 == 2){
        var touch_position;
        var scroll_position;
        $("body").on("click", ".search-visit-item a", function(e){
            e.preventDefault();
        });
        $("body").on("touchstart", ".search-visit-item a", function(e){
            scroll_position = $("#scroller_visit").scrollLeft();
            //var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
            //touch_position = touch.screenY;
        });
        $("body").on("touchend", ".search-visit-item a", function(e){
            if( scroll_position == $("#scroller_visit").scrollLeft()){
                var _href = $(this).attr("href");
                if (_href.indexOf("javascript") >= 0 ){
                    eval(_href);
                }else{
                    location_href(_href);
                }
            }
        });
    }
});

function load_visit(){
    ajax_get("/rpc/user_search_click/getList", {"skin":"native/skin/_search_visititem", "page":1, "num":10}, function (re) {
        if(re.length>800){
            $("#visitblock").show();
            $("#visititem").append(re);
            var _width = 0;
            $(".search-visit-item").each(function(){
                _width += $(this).width()+5;
            });
            $("#block_visitlist").css("width", _width+"px");
        }else{
        }
    });
}
function keyword_remove(id){
    ajax_json("keyword/remove", { "keyword_id": id, "service": "tvshop"}, function (re) {
        if (re.success == true) {
            //alert(JSON.stringify(re));
            $("#list_"+id).fadeTo(150,0).slideUp(150);
        } else {
            native_send_toast(re.msg);
        }
    });
}
function remove_all(action){
    var comment = {"keyword":"최근 검색어를",
        "alarm":"검색어 알람을",
        "alarm_action":"생방송 알람을",
        "visit":"조회한 상품을",
        "like": "찜한 상품을"};

    var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
    if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
    if(is_confirm) {
        ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
            if (re.success == true) {
                ajax_get("/rpc/keyword/getList",{"skin":"native/skin/_query_recent_list", "flag": "recent", "service": "tvshop", "page": 1, "num": 5, "order":"update_date"}, function (re) {
                    $("#block_recent").html(re);
                });
            } else {
            }
        });
    }
}

</script>
{% endblock %}
