{% extends "native/__basic.html" %}
{% load filters %}
{% block title %}인기 쇼호스트 방송{% endblock %}
{% block css %}
    <style>
.show-item {margin:12px 9px;padding:1px 1px 8px;background: #fff; cursor: pointer; box-shadow: 0 1px 3px rgba(0,0,0,0.15)}
.tab {font-size: 15px;padding:12px 0 11px 0; line-height:15px; background: #f7f7f7; }
.tab.on {background: #fff; color: #ea1b27; font-weight: bold;}
    </style>
{% endblock %}
{% block container %}
    <div class="">
    {% for re in program_list %}
        <div class="show-item" query="{{ re.id }}" title="{{ re.id }}">
            <div class="display-table">
                <div class="table-cell align-center" >
                    <img src="{{ cdn_img }}/program/show_{{ re.id }}.png?v=6">
                    <div class="clear-9"></div>
                    <div class="font-15" style="line-height: 15px;">{{ re.name }} <span class="c-darkgray font-13">[{{ re.genre2|get_genre }}]</span></div>
                    <div class="clear-2"></div>
                    <div class="font-11 c-gray" style="line-height: 12px;">{{ re.time }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block js_basic %}
{% endblock %}
{% block js %}
{% include "native/script/_script_alarm.html" %}
<script type="text/javascript">
    $(function(){
        $("body").on('click', ".tab", function () {
            if(tab_click){
                tab_click = false;
                tab = this.id;
                list_reset();
            }
        });
        $(".show-item").on("click", function(){
            var query = $(this).attr("title");
            location_href('/native/program?from=showlist&program_query='+query);
        });
    });

</script>
{% endblock %}
