{% extends "native/__basic.html" %}
{% load humanize %}
{% load filters %}
{% block title %}상품정보{% endblock %}
{% block css %}
    <script src="{{ media }}/js/swiper.jquery.min.js"></script>
    <script src="{{ media }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ media }}/js/jQuery.fastClick.js"></script>
    <script src="{{ media }}/js/js.cookie.js"></script>

    <link rel="stylesheet" href="{{ media }}/css/swiper.min.css?v={{ datetime }}">
    <link rel="stylesheet" href="{{ media }}/css/style_tab.css?v={{ datetime }}">

    <script src="{{ media }}/js/style_list.js?v={{ datetime }}"></script>
    <style>
        body{
            padding:0;
        }
        {% if agent == 'android' %}
            #bt_up {
                display: none;
            }
        {%  endif %}

        #wish{
            bottom:8px !important;
            -webkit-transform:translateY(48px);
            -webkit-transform:translateY(0);
            -webkit-transition:.3s;
        }

        #wish.overlay{
            -webkit-transform:translateY(-44px);
        }
    </style>
{% endblock %}
{% block container %}

    <div id="no_result_container">
        <div class="no_result_inner">
            <div class="title">저런!..</div>
            <small class="sub_title">찾으시는 상품정보가 존재하지 않습니다.</small>
            <div class="btn_wrap">
                <a href="javascript:stat_back();">
                     <i class="ic ic-arrow-left"></i> 뒤로가기
                </a>
                <div></div>
                <a href="javascript:stat_refresh();">
                    <i class="ic ic-refresh"></i> 새로고침
                </a>
            </div>
        </div>
    </div>

    <div class="section_title">
        그러나 아직
        <small>-</small>개의 상품이 있습니다.
    </div>

    <div id="list_scroll"></div>
    <div id="scroll_top"> <i class="ic ic-arrow-top"></i></div>
    {% include "native/wish.html" %}

{% endblock %}
{% block js %}
    <script>
        var isPush = "";
        var loop_cnt = parseInt('{{ request.GET.loop_cnt }}');
        var mySwiper = '';
        var isAdmin = '{{ request.GET.isAdmin }}';

        var product_img = '{{ re.img }}';
        var product_genre2 = '{{ request.GET.genre2 }}';
        var product_pid = '{{ request.GET.pid }}';
        var product_shop_type = '{{ re.shop_type }}';
        var user_cat1 = Cookies.get('user_cat1');
        var user_cat2 = Cookies.get('user_cat2');
        var user_cat3 = Cookies.get('user_cat3');

        var dummy = '<li class="swiper-slide dummy"><div class="dummy_thum"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></li>';
        var dummy_list = [];
        var swiper_wrap = $('#similar_style_list .swiper-wrapper');
        for (var i = 0; i < 9; i++) {
            dummy_list.push(dummy);
            swiper_wrap.append(dummy);
        }
        swiper_wrap.append(dummy_list.join(''));
        swiper_wrap.find('div').addClass('loading');

        var _slides_per_view = 3.5;
        if($(window).width()>759){
            _slides_per_view = 5;
        }

        var shopping;
        shopping = new SarahShopping();
        shopping.setup_cate();

        shopping.page = '{{ request.GET.page }}';
        shopping.cat1 = user_cat1;
        shopping.cat2 = user_cat2;
        shopping.cat3 = user_cat3;
        shopping.uri_prefix = "middle?";
        shopping.from = "no_result";

        $(document).ready(function () {
            console.log('ready..');
            console.log('this is', shopping.from, '\n-------');
            shopping.set_shopping_id();
            set_my_wish_count();
            settingEvent();
{#            get_similar_style(product_img, product_genre2, product_pid, product_shop_type);#}
            list_scroll();
            $('body').scrollTop(0);
            setTimeout(function () {
                $('#container .detail, #container .gradient').addClass('show');
            }, 500);

            get_goods_cnt();
        });

        function get_goods_cnt(){
            var goods_cnt = 0;
            ajax_get("/rpc/search/styleSearch", {
                "page":1,
                "num":1,
                "site_name":"sarah_pick",
                "sarah_pick_flag":2,
                "abtest":"b",
                "cat1":user_cat1,"cat2":user_cat2,"cat3":user_cat3
            },function(re){
                goods_cnt += re.result.count;
                    ajax_get("/rpc/search/styleSearch", {
                    "page":1,
                    "num":1,
                    "site_name":"sarah_pick",
                    "sarah_pick_flag":4,
                    "abtest":"b",
                    "cat1":user_cat1,"cat2":user_cat2,"cat3":user_cat3
                },function(re){
                    goods_cnt += re.result.count;
                    $('.section_title small').text( goods_cnt);
                });
            });
        }

        function stat_back(){
            var _genre2 = '{{ request.GET.genre2 }}';
            var _pid = '{{ request.GET.pid }}';
            ajax_get('/stat/style/noresult_back', { "genre2":_genre2, "pid":_pid });
            native_move_back(-1);
        }
        function stat_refresh(){
            var _genre2 = '{{ request.GET.genre2 }}';
            var _pid = '{{ request.GET.pid }}';
            ajax_get('/stat/style/noresult_refresh', { "genre2":_genre2, "pid":_pid });
            location.reload();
        }

    </script>
{% endblock %}