{% extends "native/__basic.html" %}
{% block title %}사진 미리보기{% endblock %}
{% block css %}

    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=2">
{% endblock %}

{% block container %}
<style>
    #scroll_start{display: none;}
    html, body{ background: #e7e7e7; }
    .img{width:100%; }
</style>
    <img class="img" src="{{ request.GET.img_url }}" alt="">
{% endblock %}
{% block js %}
{% endblock %}