{% extends "native/_list.html" %}
{% load filters %}
{% block css %}
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel/assets/owl.carousel.theme.css">
    <style>
        body {background: #e2e2e2;}
        .owl-carousel {margin:-3px 0;}
        .owl-item {box-shadow:0 1px 2px rgba(0,0,0,0.09);margin:3px 0;}
        .owl-theme .owl-controls{position: absolute;left:50%;width:300px;margin-left:-150px;top:-5px;z-index:9999;}
        .owl-theme .owl-dots .owl-dot span{background:#000; opacity:0.35; width:6px;height:6px;margin:0px;border-radius:6px;margin:1px 3px;}
        .owl-theme .owl-dots .owl-dot.active span{background:#f03838;width:8px;height:8px;margin:0px;border-radius:8px;margin:0px 3px; opacity:1;}

        .time-line{width:25px;border-right:2px solid #a2a2a2;}
        .recotoday-block{border:1px solid #34495e;width:300px;height:105px;bottom:10px;left:50%;margin-left:-150px;}

        .recotoday-bar{height:25px;line-height:25px;background:#34495e;}
    .tab-select{color:#666;overflow:hidden;height:36px;line-height:36px;padding:0px;margin:0px;border:0px;-webkit-appearance:none;width:100%;padding-left:9px;background:url('{{ cdn_img }}/ic_select_down.png') no-repeat right 50%;-webkit-background-size:20px 9px;}
    </style>
{% endblock %}
{% block tab %}

    <div class="clear" style="height:30px"></div>
    <div  class="position-fixed b-white z-index shadow" style="left:0; top:0px; width:100%;">
        <div class="display-table th-1">
            <div class="table-cell th3-1 border-right">
                <select class="tab-select spacing" id="select_genre">
                    <option value="">전체 홈쇼핑</option>
                    <option value="cjmall">CJ오쇼핑</option>
                    <option value="gsshop">GS홈쇼핑</option>
                    <option value="hnsmall">홈&쇼핑</option>
                    <option value="hmall">현대홈쇼핑</option>
                    <option value="lottemall">롯데홈쇼핑</option>
                    <option value="nsmall">NS홈쇼핑</option>
                    <option value="immall">아임쇼핑</option>
                    <option value="cjmallplus">CJ오쇼핑플러스</option>
                    <option value="gsmyshop">GSMYSHOP</option>
                    <option value="hmallplus">현대홈쇼핑+SHOP</option>
                    <option value="kshop">K쇼핑</option>
                    <option value="ssgshop">신세계쇼핑</option>
                    <option value="wshop">W쇼핑</option>
                    <option value="shopnt">쇼핑엔티</option>
                </select>
            </div>
            <div class="table-cell th3-1 border-right">
                <select class="tab-select spacing" id="select_cate">
                    <option value="">전체 카테고리</option>
                    <option value="패션·잡화">패션·잡화</option>
                    <option value="화장품·이미용">화장품·미용</option>
                    <option value="생활·주방">생활·주방</option>
                    <option value="유아·아동">유아·아동</option>
                    <option value="가전·디지털">가전·디지털</option>
                    <option value="식품·건강">식품·건강</option>
                    <option value="여행·레저">여행·레저</option>
                </select>
            </div>
            <div class="table-cell th3-1">
                <select class="tab-select spacing" id="select_date">
                </select>
            </div>
        </div>
    </div>


{% endblock %}

{% block list_scroll_end %}
    <div id="scroll_end" class="align-center block-hide">
        <div class="clear-9"></div>
        <button onclick="show_nextday();" style="width:200px;" class="bt-red margin-auto font-13">다음날 편성표 보기</button>
        <div class="clear-9"></div>
        <div class="margin-auto border-top border-left" style="width:300px;">
            {% for re in date_list.result.data|slice:":12" %}<button onclick="show_nextday('{{ re.date }}');" class="bt b-white {% if re.date|get_string == date2|get_string %}c-blue{% endif %}" style="width:100px;height:30px;border-bottom:1px solid #ddd;border-right:1px solid #ddd;">
                ({% if date2 == re.date %}오늘{% else %}{{re.week}}{% endif %}){{ re.date|slice:'4:6' }}월{{ re.date|slice:'6:8' }}일
            </button>{% endfor %}
        </div>
        <div class="clear-9" style="height:30px;"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ media }}/js/OwlCarousel/owl.carousel.min.js"></script>
    <script type="text/javascript">

        var select_cate = ""; //선택카테고리
        var select_genre = "{{request.session.genre}}"; //선택홈쇼핑
        var date = "{{ date2 }}"; //서버 오늘날짜
        var select_date = date; //선택날짜
        var date_str = "(오늘){{ date2|slice:'4:6' }}월{{ date2|slice:'6:8' }}일";
        var select_date_str = date_str;
        var time = "{{ time2|slice:'0:2' }}"; //서버 현재시간
        var begin_time = time; //선택시간
        var is_begin_time = true; //현재시간부터 시작
        var app_version = "{{ request.session.device.app_version }}";

        $(function() {
            $("body").on("change", "#select_cate", function(){
                select_cate = $("#select_cate").val();
                list_reset();
            });
            $("body").on("change", "#select_genre", function(){
                select_genre = $("#select_genre").val();
                list_reset();
            });
            $("body").on("change", "#select_date", function(){
                select_date = $("#select_date").val();
                list_reset();
            });

            for(var i = -7; i<7; i++){
                $("#select_date").append("<option value="+get_days(date, i)+">"+get_days(date, i)+"</option>");
            }
            $("#select_date").val(date);
        });

        function list_scroll() {
            if (page == 1){
                if (select_date == date && is_begin_time == true){
                    begin_time = time;
                } else {
                    begin_time = '00';
                }
            }
            ajax_skin("tvshop/live/getList",{"skin":"native/skin/_tvshop_timeline", "flag": is_begin_time, "page":page, "num": num, "version": 9, "cate1": select_cate, "genre2": select_genre, "date": select_date, "flag1": date, "begin_time": begin_time}, function (re) {
                list_result(re);
                if (page == 2){
                    swipe_slide();
                }
            });
        }
        //생방송 돌리기
        var is_swipe_play = true;
        function swipe_slide(){
            var owl = $("#swipe_slide");
            owl.owlCarousel({
                items:1,
                loop:true,
                margin:7,
                center:true,
                stagePadding:16,
                autoplay:true,
                autoplayTimeout:3500
            });
        }

        //오늘 편성표 전체보기
        function show_today_all(){
                is_begin_time = false;
                select_date = date;
                list_reset();
        }
        //현재 편성표 보기
        function show_today_now(){
                is_begin_time = true;
                select_date = date;
                list_reset();
        }

        //다음날 편성표 보기
        function show_nextday(date) {
            if (date){
                select_date = date;
                if (select_date == "{{ date2 }}" ) is_begin_time = true;
                else is_begin_time = false;
                $("#select_date").val(select_date);
                list_reset();
            } else {
                select_date = get_days(select_date, 1);
                is_begin_time = false;
                $("#select_date").val(select_date);
                list_reset();
            }
        }

        function get_days(_date, days) {
            var _interval = 1000 * 60 * 60 * 24 * days; // two weeks in milliseconds
            var _today = new Date(_date.substring(0,4), _date.substring(4,6) - 1, _date.substring(6,8), '12', '00', '00');
            var _total = _today.getTime() + _interval;
            var _date = new Date(_total);

            return _date.toISOString().split(".")[0].replace(/[T:-]/gi, "").substring(0,8);
        }

    </script>
{% endblock %}
