{% extends "native/__basic.html" %}
{% load filters %}
{% block css %}
    <style>
        body {background: #f2f2f2;}
        input.checkbox {-webkit-appearance:none; margin:0px; background: #fff;-webkit-background-size: 20px 20px; display: table-cell;
            border: 1px solid #ccc; box-sizing: border-box; border-radius: 5px; display: inline-block; height: 20px; width: 20px; position: relative; -webkit-appearance: none;}
        input.checkbox:checked {-webkit-appearance:none; background:#fff url('{{ cdn_img }}/checkbox_on.png') no-repeat 50% 50%;-webkit-background-size: 20px 20px;}
        input, textarea {-webkit-appearance:none;}
        .user_img {background-size:60px 60px !important;width:60px;height:60px; margin-right: 5px;}
        .content-field {border:1px solid #ddd;width:100%;box-sizing:border-box;padding:7px;height:140px; max-width:100%; line-height: 17px;border-radius: 0;}
        .loading {display:none;width:100%;height:10000px;position: fixed;top:0;left:0;background: #333;opacity:0.5;z-index: 999;}
        .loading p{font-size:100px;color:#fff;margin:50% 0;text-align: center;}
    </style>
{% endblock %}
{% block container %}
    <div class="loading">
        <p>Loading :)</p>
    </div>
    <div id="review-save-wrap" class="padding margin-9">
        <div class="trends-wrap">
            <input type="text" value="{{ re.result.title }}" id="title" class="c-black font-14"
                   style="border:1px solid #ddd;width:100%;box-sizing:border-box;height:36px;padding:7px;border-radius: 0;" placeholder="제목을 입력해주세요"/>
            <div class="clear-7"></div>
            <textarea id="content" class="c-black font-14 content-field" placeholder="내용">{{ re.result.content }}</textarea>
        </div>
        <div class="b-white padding-9 c-darkgray font-14" style="border: 1px solid #ddd; ">
            <div class="clear-7"></div>
            <div id="img_block" class="pull-left" >
                {% if re.result.img_list %}
                    {% for img in re.result.img_list %}
                        <button id='user_img_id_{{forloop.counter}}' style='background:url({{img}});' class='user_img bt' src='{{img}}'></button>
                    {% endfor %}
                {% endif %}
            </div>
            {% if re.result.img_list %}
                <button onclick="upload_photo()" class="bt upload_photo pull-left" id="upload_photo"><img src="http://ui.buzzni.com/images/camera.png" style="width:60px;height:60px;"/></button>
            {% else %}
                <button onclick="upload_photo()" class="bt upload_photo pull-left" id="upload_photo"><img src="http://ui.buzzni.com/images/camera.png" style="width:60px;height:60px;"/></button>
            {% endif %}
            <div class="clear"></div>
            {% if agent == "web"  %}
                <div class="clear-7"></div>
                <form class="c-gray " name="form" id="imgform" method="POST" enctype="multipart/form-data" action="/img/upload">
                    이미지업로드 :<input type="file" id="file" name="file" class="hide" onChange="file_add();">
                </form>
            {% endif %}
        </div>
    </div>
    <div style="margin:1px 14px;">
        <button class="bt" style="color:#fff; font-size:16px; font-weight: bold; width:100%;padding: 11px 0 9px 0; background:#ee4d64; letter-spacing: 0px; border-radius: 0; margin-bottom:10px" onclick="board_action();">
            {% if re.result.id > 0 %}
                수정 완료
            {% else %}
                글쓰기 완료
            {% endif %}
        </button>
    </div>
{% endblock %}
{% block list_scroll_end %}
{% endblock %}
{% block js %}
    <script src="http://o.buzzni.com/media/js/jquery.form.min.js"></script>
    <script type="text/javascript">
        var cate = "{{ request.GET.cate }}";
        if (cate == "") cate = "{{ re.result.cate }}";
        var board_id= "{{ re.result.id }}";
        //리뷰할 상품 리스트 끝
        function board_action() {
            var content = "";
            var user_img_list = [];
            $('.user_img').each(function () {
                user_img_list.push($(this).attr('src'));
            });

            var board_fields = {
                "title": $("#title").val(),
                "content": content,
                "cate": cate,
                "service": "tvshop",
                "img_list": user_img_list.toString()
            };

            board_fields.content = $("#content").val();
            if (board_fields.title == "") {
                native_send_toast("제목을 입력해주세요");
                $('#title').focus();
                return;
            }

            if (board_id > 0) {
                board_modify(board_fields);
            } else {
                board_save(board_fields);
            }
        }

        //글 작성
        function board_save(params) {
            $("#board_save").attr("disabled", "disabled");
            ajax_json('board/save', params, function (re) {
                if (re.success == true) {
                    setTimeout(function() {
                        location.href="/native/community?tabs=trends";
                    }, 299);
                } else {
                    $("#board_save").removeAttr("disabled");
                    native_send_toast(re.msg);
                }
            }, "POST");
        }

        //글 수정
        function board_modify(params) {
            $("#board_save").attr("disabled", "disabled");
            var p = {
                "user_id": "{{re.result.user.id}}",
                "board_id": parseInt("{{ re.result.id }}")
            };
            $.extend(p,params);
            ajax_json('board/updateFields',p,function(re) {
                if (re.success == true) {
                    ajax_json("board/getInfo",{"board_id": p.board_id,"is_refresh":true}, function (re) {});
                    native_send_toast("완료하였습니다");
                   //setTimeout("history.go(-1)", 299);
                } else {
                    $("#board_save").removeAttr("disabled");
                    native_send_toast(re.msg);
                }
            }, "POST");
        }

        function upload() {
            board_save();
        }

        function upload_photo() {
            if (is_ios_app()) {
                native_upload_photo();
            } else {
                window.BuzzniHybrid.uploadPhoto('normal,940');
            }
        }

        function setPictureUrl(url) {
            var url_ext = url.split(",");
            var img_code = url_ext[0];
            var img_width = url_ext[1];
            var img_height = url_ext[2];
            var img_ext = img_code.split("");
            var user_img = "http://img.buzzni.com/"+img_ext[0]+"/"+img_ext[1]+"/"+img_ext[2]+"/"+img_code;
            var user_img_id = "tvshop" + Math.floor(Math.random() * 1000000);

            $("#img_block").append("<button id='"+user_img_id+"'></button>");
            $("#"+user_img_id).attr("src",user_img);
            $("#"+user_img_id).css("background","url('"+user_img+"')");
            $("#"+user_img_id).addClass("user_img").addClass("bt");
            $("#content").val($("#content").val()+"\r\n"+"<img src=\"http://thum.buzzni.com/unsafe/670x0/"+user_img+"\" />"+"\r\n");
            $("#content").focus();
            $(".loading").hide();
        }

        function file_add() {
            $(".loading").show();
            $('#imgform').submit();
        }

        function file_callback(data) {
            if (data) {
                setPictureUrl(data);
            }
        }

        $(function () {
            $("#scroll_start").hide();
            $("#scroll_end").hide();

            if(is_ios_app()){
                document.location = "Buzznihybrid:refreshRemove";
            }
            $(".select-item-background").click(function(){
                $(".item-select-group").hide();
            });

            $("body").on("click", ".user_img", function(){
                var is_confirm = confirm("사진을 삭제하시겠습니까?");
                if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
                if(is_confirm) {
                    $(this).remove();
                    $("#file").val("");
                    var user_img_num = $(".user_img").length;
                    if (user_img_num < 3){ // User can upload maximum 5 image.
                        $(".upload_photo").show();
                    }
                }
            });
            $("#imgform").ajaxForm(file_callback);
        });
    </script>
{% endblock %}
