{% extends "native/_list.html" %}
{% block title %}{% if request.GET.title %}{{ request.GET.title }}{% else %}홈쇼핑 TOP100{% endif %}{% endblock %}
{% block css %}
    <style>

        .bt-play {position: absolute; left:0; background:rgba(60,60,60,0.08) url('{{ thum }}/{{ img }}/2016/timeline_dot_play.png') 50% 50% no-repeat; width:150px; height:150px; background-size:44px 44px; }

        .bt-rank {position: absolute; border: 0; margin:0px; padding:0; left:0px; color: #fff; font-size:14px; width: 26px; height: 26px;   opacity: 0.8 ; }

        .tag-age {  z-index: 99;  background: #fff;  color: #19bdc4;  border: 1px solid #19bdc4;  height: 24px;  line-height: 24px;  border-right: 0;  border-top: 0;  position: absolute; z-index: 99; right:0; top:0px; padding: 1px 6px 0 8px;  -webkit-appearance: none;}
        .tag-age span{font-weight:bold;}

        .position-fixed {position: fixed; top:0px; left:0; z-index: 99; }
        .menubar {width:100% !important; background: #fff; box-shadow: 0 0px 3px rgba(0,0,0,0.2);height:38px; }
        .menubar img {max-height: 32px;}

        .titletag {  font-size: 11px;  opacity: 0.8;  color: #fff;  background: #19bdc4;  line-height: 9px;  padding: 5px 6px 4px 6px;  font-weight: normal;  display: inline-block;  position: relative;  top: -3px;  margin: 6px 0 -3px 0;  border-radius: 1px;  }
        .nav {position: fixed; left:0px; top:0px; height:58px; z-index: 999; width: 100%;box-shadow: 0px 1px 1px rgba(0,0,0,0.15);box-sizing: border-box;  background: #fff;}

        .navigation{position:absolute;box-sizing: border-box; width:100%;  z-index: 999; top:9px;box-shadow: 0 0 1px rgba(0,0,0,0.2); border-bottom: 1px solid #ccc; box-sizing: border-box;line-height: 17px; background: #f9f9f9;}
        .navigation-after {height:60px;}
        .navigation.on{position: fixed; top:0; left:0;   }

        .nav_tab {
            position: relative;
            height: 52px; max-height: 52px; overflow:hidden; font-size: 13px; opacity: 0.4;
        }
        .nav_tab:last-child{border-right: 0;}
        .nav_tab.on {opacity: 1; color: #19bdc4; background: #fff; }

        .nav_tab > img { width: 26px; height: 26px;margin:0 auto; margin-bottom: 1px;}
        .nav_tab .cate_off {display: block; }
        .nav_tab .cate_on {display: none; }
        .nav_tab.on .cate_off {display: none;}
        .nav_tab.on .cate_on {display: block;}

        input.toggle {    position: absolute;max-height: 0;max-width: 0;opacity: 0;}
        input.toggle + label {display: block;position: relative;background: #ccc url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 80% 50%; background-size:15px 15px; line-height: 20px;height: 30px;width: 60px;border-radius: 15px; background-repeat: no-repeat;}
        input.toggle + label:before {content: "";position: absolute;display: block;height: 30px;width: 30px;top: 0;left: 0;border-radius: 15px;
            background: #ccc ;-webkit-transition: 0s !important;}
        input.toggle + label:after { content: ""; position: absolute; display: block; height: 30px; width: 30px; top: 0; left: 0px;
            border-radius: 15px; background: white; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,.2);
            box-sizing: border-box;-webkit-box-sizing: border-box; -webkit-transition: 0s !important;}
        input.toggle:checked + label:before {width: 60px; background: #ea1b27 url('{{ cdn_img }}/ico_alarm_white.png') no-repeat 20% 50%;background-size:15px 15px;  background-repeat: no-repeat;}
        input.toggle:checked + label:after { left: 30px;border: 1px solid #ea1b27;}

        .todayitem { display: table-cell; width:20%; cursor: pointer; padding:7px 7px 0 7px;}
        .todayitem .title {font-size:13px; color:#333; line-height: 1.2em; height:2.3em; overflow: hidden; margin-top: 5px;}
        .todayitem .price { font-size:13px; line-height: 1.2em; margin-top: 2px; font-weight: bold; color:#ea1b27;}
        .todayitem .price:after {content: '원'; font-size:11px; font-weight:bold;}

        .show-item {float: left; width:50%; cursor: pointer; }
    </style>
{% endblock %}
{% block tab %}
    <div id="navigation" class="navigation display-table-fixed align-center " >
        <div id="tab_all" cate1="" class="nav_tab on table-cell th6-1 align-middle align-center" style=" font-size: 17px;"><div class="clear-2"></div> 전체</div>
        <div id="tab_fashion" cate1="패션" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate01.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate01_on.png" class="cate_on">패션</div>
        <div id="tab_beauty" cate1="뷰티" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate09.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate09_on.png" class="cate_on">뷰티</div>
        <div id="tab_living" cate1="생활" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate04.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate04_on.png" class="cate_on">생활</div>
        <div id="tab_digital" cate1="가전" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate07.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate07_on.png" class="cate_on">가전</div>
        <div id="tab_food" cate1="식품" class="nav_tab table-cell th6-1 align-middle align-center"><img src="{{ cdn_img }}/2016/cate08.png" class="cate_off"><img src="{{ cdn_img }}/2016/cate08_on.png" class="cate_on">식품</div>
    </div>
    <div class='navigation-after '></div>


    <div class="clear-9"></div>

    <div id="block_program" class="b-white  block-hide position-relative" style="border-top:1px solid #ddd; border-bottom:1px solid #ddd; line-height: 1.3em;">
        <div class="font-15 strong" style="padding:13px 10px 7px 8px; width:auto; margin: 0 auto;">
            지금 인기있는 쇼호스트는?
        </div>
        <div class="position" style="top:5px; right:0; margin:8px;">
            <a href="/native/showlist?from=tvrank" class="bt-more">더보기 <span class="ic-arrow-next"></span></a>
        </div>
    </div>

    <div class="clear-5"></div>

    <div class="c-gray" style="margin:9px 9px 1px; line-height: 14px;">
        <img src="{{ cdn_img }}/2016/timeline_dot_last.png" style="opacity: 0.6; height:12px;vertical-align: top; margin-top:0px;"> 알람/구매 횟수와 방송까지 남은 시간을 반영하여 매일 업데이트 됩니다.
    </div>

    <div id="list_before" >

    </div>

    <div id="block_age" class="b-white padding-7 block-hide" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
        <div class="align-center font-16 padding-7 strong">연령별 가장 많이 본 상품</div>
        <div class=" clear-2"></div>
        <div class=" border-bottom border-top" style="width:282px; margin: 0 auto;">
            <div class="display-table  align-center">
                <div class="table-cell  th4-1 age-tab" data-age="20"><span>20대</span></div>
                <div class="table-cell  th4-1 age-tab on" data-age="30"><span>30대</span></div>
                <div class="table-cell  th4-1 age-tab" data-age="40"><span>40대</span></div>
                <div class="table-cell  th4-1 age-tab" data-age="50"><span>50대</span></div>
            </div>
        </div>
        <div class=" clear-2"></div>
        <div class="age-block age20"></div>
        <div class="age-block age30"></div>
        <div class="age-block age40"></div>
        <div class="age-block age50"></div>
    </div>

    <div id="block_reco_presonal" class="b-white position-relative padding block-hide" style="line-height: 1.3em;">
        <div style="margin:7px 9px;">
            <div class=" font-16 strong">이 상품을 추천합니다.</div>
            <div class="clear-2"></div>
            <div class=" font-12 c-gray">최근 본 상품을 바탕으로 자동추천</div>
        </div>
        <div class=" position" style="top:18px;right:12px;">
            <a href="/native/recolist?from=tvrank" class="bt-more">더보기 <span class="ic-arrow-next"></span></a>
        </div>
        <div class="margin-7 border-bottom "></div>
        <div class="skinbox">

        </div>
    </div>
{% endblock %}
{% block js_basic %}
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    var _cate = "{{ request.GET.cate }}";
    var tab = "";
    var is_first = true;
    var is_init = false;
    ab = "b";

    //첫 홈화면 로드 부하를 줄이기 위해 딜레이를 준다.
    {% if request.GET.from == 'home' %}
        setTimeout(function(){
            init();
            list_scroll();
        }, 100);
    {% else %}
        init();
    {% endif %}

    function init(){
        if(_cate!=""){  //뷰티 TOP100같은 서브카테고리 애들일 때
            $(".nav_tab").removeClass("on");
            $("#tab_"+_cate).addClass("on");
            tab = $("#tab_"+_cate).attr("cate1");
            $("#tab_"+_cate).addClass("on");

            $(".navigation, .navigation-after").hide();
        }else{ //기본 TOP100일 때
            load_program();
        }
        is_init = true;
    }

    $(function(){
        $(".nav_tab").on("click", function(){
            tab = $(this).attr("cate1");
            $(".nav_tab").removeClass("on");
            $(this).addClass("on");

            $("#block_age").hide();
            $('#list_scroll').after( $("#block_age") );
            list_reset();
            $('html,body').animate({scrollTop:0}, 0);
        });

        $(".age-tab").on("click", function(){
            $(".age-tab").removeClass("on");
            $(this).addClass("on");
            load_age($(this).attr("data-age"));
        });

        $(window).scroll(function () {  check_scroll(); });

    });

    function list_scroll() {
        if(!is_init) return;

        if(page==1){
            $("#list_before").empty();
        }
        if(page > 5){ // 전체 카테고리의 경우는 100위까지 노출
            list_end();
        }else {
            ajax_skin("popular_entity/getList", {"skin":"{{native_skin}}/_item_top_list","page":page, "num": 20, "cate": tab, "flag":"tvrank{% if request.GET.cate %}_{{ request.GET.cate }}{% endif %}"}, function (re) {
                list_result(re);
                if(page == 2) {
                    $("#list_before").append( $('.product:nth-child(1), .product:nth-child(2), .product:nth-child(3), .product:nth-child(4), .product:nth-child(5), .product:nth-child(6), .product:nth-child(7), .product:nth-child(8), .product:nth-child(9), .product:nth-child(10)'));
                }
                if(user_id==""){
                    $("input.toggle + label").hide();
                }
            });
        }
    }

    var item_num = 3;
    if ($(window).width() > 440 && $(window).width() < 720) num = 4;
    else if ($(window).width() >= 720) item_num = 5;
    function load_reco(){
        ajax_get("/rpc/reco/recoEntity", {"skin":"native/skin/_item_reco_personal", "num":6, "flag":item_num}, function (re) { //, "abtest":get_abtest(user_id, 2)
            if(re.length>100){
                $('#block_reco_presonal .skinbox').html(re);
                $("#block_reco_presonal").show();
                //노출 통계
            }
        });
    }

    function load_program(){
        var re2="";
        ajax_get("/rpc/entity/getTopProgramList", {"skin":"native/skin/_item_program"}, function (re) {
            if(re.length>100){
                $('#block_program').append(re).show();
            }
        });
    }
    $("body").on("click", ".show-item", function(){
        location_href('/native/program?from=tvrank&program_query='+$(this).attr("query"));
    });


    function reload(){
        if(clicked_entity_id != ""){
            ajax_json("entity/userInfo", {"entity_id": clicked_entity_id}, function (re) {
                if (re.success == true) {
                    var alarm_action_id = re.result.alarm_action_id;
                    if (alarm_action_id > 0) {
                        $('#alarm_action_'+clicked_entity_id).attr('alarm_action_id',alarm_action_id);
                        $('#alarm_action_'+clicked_entity_id).prop('checked',true);
                    }else{
                        $('#alarm_action_'+clicked_entity_id).attr('alarm_action_id',"0");
                        $('#alarm_action_'+clicked_entity_id).prop('checked',false);
                    }
                }
            });
            load_recoentity(clicked_entity_id);
        }
    }

    
    var $reco_persenal = $("#block_reco_presonal");
    function check_scroll(){

        var _y = $(this).scrollTop();

        if(_y < $("#list_before").offset().top-53){
            $(".navigation").removeClass("on");
        }else if(_y >= $("#list_before").offset().top-53){
            $(".navigation").addClass("on");
            if(is_first){
                is_first=false;
                load_reco();
            }
        }

        //상품추천영역이 보이는 상태에서, 해당영역이 화면안에 들어오면 최초일 경우 노출 통계 추가
        var _top = $(window).scrollTop();
        var _bot = _top + $(window).height();

        

        if( $reco_persenal.length > 0){
            if(_top <= $reco_persenal.offset().top+$reco_persenal.height() && $reco_persenal.offset().top <= _bot && $reco_persenal.is(":visible")){
                $reco_persenal ="";
                ajax_get("/stat/tvrank/recopersonal/show", {}, function(){});
            }
        }
    }

    function list_end(){
        scroll_end = true;
        $('#scroll_start').hide();
        $('#scroll_end').show();
    }

    function load_recoentity(entity_id){
        if($("#reco_"+entity_id).length>0) return;
            //상품 추천 보여주기
            ajax_get("/rpc/entity_reco/getList",{"skin":"native/skin/_item_recoentity_tvrank","entity_id":entity_id}, function (re) {
                if(re.length>100){
                    if($(".tvrank-reco").length > 0 ){
                        $(".tvrank-reco").remove();
                        $("html,body").scrollTop($(window).scrollTop()-$(".tvrank-reco").eq(0).height());
                    }
                    $('#item_'+entity_id).after(re);
                    $(".tvrank-reco").hide().slideDown(150);
                    ajax_get("/stat/tvrank/recoentity/show", {"entity_id": entity_id, "sfrom":superFrom}, function (re) {});
                }
            });
        }
</script>

{% endblock %}
