{% extends "native/__basic.html" %}
{% load filters %}
{% block title %}프로필 편집{% endblock %}
{% block css %}
<style>
html, body {}
#container {margin:30px;   }

.desc { font-size: 14px; color:#666; font-weight: bold; margin-bottom: 15px; text-align: center;}

#input {box-shadow: 0 1px 1px #ccc; border: 0; -webkit-appearance: none; border-radius: 2px; height:44px; line-height: 44px; font-size: 16px; width: 100%; padding: 1px 38px 0 12px;}

select.birth {box-shadow: 0 1px 1px #ccc; border: 0; -webkit-appearance: none; border-radius: 2px; height:44px; line-height: 44px; font-size: 20px; width: 100%; padding: 1px 0 0 10px; text-align: center;
    background: #fff url('{{ img }}/ic_select_down.png') 97% 50% no-repeat; background-size: 20px 9px;}
select.basic {box-shadow: 0 1px 1px #ccc; border: 0; -webkit-appearance: none; border-radius: 2px; height:44px; line-height: 44px; font-size: 18px; width: 100%; padding: 1px 0 0 14px; text-align: center;
    background: #fff url('{{ img }}/ic_select_down.png') 97% 50% no-repeat; background-size: 26px 12px;}

#submit{ height:44px; line-height: 44px; width: 100%; background: #4bbfc4; border: 0; color: #fff; font-size: 17px; border-radius: 2px; border-bottom:1px solid #179aa0;  -webkit-appearance: none;}

.text-clear {background: url(http://cache.m.ui.hsmoa.com/media/img/ic_close.png) no-repeat center center; border:0; background-size: 28px 28px; width:28px; height:28px; position: absolute; right:6px; margin-top: 8px; opacity: 0.7; display: none;}
.text-count {color:#999; font-weight: bold; margin-top: 6px; font-size: 13px;   }
.text-count.error {color:#ea5a6a; }


input.gender{width: 100px; height: 100px; background-size:100px 100px !important; opacity: 0.4; border: 3px solid #f7f7f7; border-radius: 60px; margin:15px;}
input.gender:checked { opacity:1; border: 3px solid #fff;}
input.male { -webkit-appearance: none; background: url('{{ thum }}/https://s30.postimg.org/518clplg1/male.png') 50% 50% no-repeat; }
input.female { -webkit-appearance: none; background: url('{{ thum }}/https://s30.postimg.org/74irtdl8x/female.png') 50% 50% no-repeat; }
</style>
{% endblock %}
{% block container %}
<div id="container" class="position-relative">
    {% if request.GET.field == "nickname" %}
    <div class="desc">
        닉네임을 입력해주세요.
    </div>
    <button class="text-clear"></button>
    <form id="profile">
    <input id="input" name="profile" type="text" value="{{ request.GET.value }}" placeholder="" maxlength="10">
    <div class="text-count pull-right">{{ request.GET.value|length }} / 10</div>
    {% elif request.GET.field == "gender" %}
    <div class="desc">
        본인의 성별을 선택해주세요.
    </div>
    <div class="align-center">
        <label for="option1"><input class="gender female" type="radio" id="option1" value="female" name="selector"></label>
        <label for="option2"><input class="gender male" type="radio" id="option2" value="male" name="selector"></label>
        <div class="clear-9"></div>
    </div>
    <form id="profile">
    {% elif request.GET.field == "birth" %}
    <div class="desc">
        본인의 생일을 입력해주세요.
    </div>
    <form id="profile">
    <div class="clear-9"></div>
    <div class="display-table  align-center" style="width: 260px; margin: 0 auto; table-layout: fixed;">
        <div class="table-cell th2-1">
            <div class="c-midgray font-13">연도</div>
            <div class="clear-5"></div>
            <select class="birth year" >
            </select>
        </div>
        <div class="table-cell-line"></div>
        <div class="table-cell th4-1">
            <div class="c-midgray font-13">월</div>
            <div class="clear-5"></div>
            <select class="birth month">
              <option value="01">01</option><option value="02">02</option><option value="03">03</option>
              <option value="04">04</option><option value="05">05</option><option value="06">06</option>
              <option value="07">07</option><option value="08">08</option><option value="09">09</option>
              <option value="10">10</option><option value="11">11</option><option value="12">12</option>
            </select>
        </div>
        <div class="table-cell-line"></div>
        <div class="table-cell th4-1 ">
            <div class="c-midgray font-13">일</div>
            <div class="clear-5"></div>
            <select class="birth day">
              <option value="01">01</option><option value="02">02</option><option value="03">03</option>
              <option value="04">04</option><option value="05">05</option><option value="06">06</option>
              <option value="07">07</option><option value="08">08</option><option value="09">09</option>
              <option value="10">10</option><option value="11">11</option><option value="12">12</option>
              <option value="13">13</option><option value="14">14</option><option value="15">15</option>
              <option value="16">16</option><option value="17">17</option><option value="18">18</option>
              <option value="19">19</option><option value="20">20</option><option value="21">21</option>
              <option value="22">22</option><option value="23">23</option><option value="24">24</option>
              <option value="25">25</option><option value="26">26</option><option value="27">27</option>
              <option value="28">28</option><option value="29">29</option><option value="30">30</option>
              <option value="31">31</option>
            </select>
        </div>
    </div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    {% elif request.GET.field == "cate" %}
    <div class="desc">
        본인의 직업을 선택해주세요.
    </div>
    <div class="align-center">
        <div class=" align-center" style="">
            <div class="clear-5"></div>
            <select class="basic" >
                <option value="">직업을 선택해주세요</option>
                <option value="주부">주부</option>
                <option value="공무원">공무원</option>
                <option value="군인">군인</option>
                <option value="청소년">청소년</option>
                <option value="대학(원)생">대학(원)생</option>
                <option value="직장인">직장인</option>
                <option value="IT">IT</option>
                <option value="언론">언론</option>
                <option value="서비스">서비스</option>
                <option value="교육">교육</option>
                <option value="경제금융">경제금융</option>
                <option value="의료">의료</option>
                <option value="유통">유통</option>
                <option value="예술문화">예술문화</option>
                <option value="법률">법률</option>
                <option value="건설">건설</option>
                <option value="제조">제조</option>
                <option value="부동산">부동산</option>
                <option value="기타">기타</option>
            </select>
            <div class="clear-9"></div>
        </div>
    </div>
    <form id="profile">
    {% elif request.GET.field == "prov" %}
    <div class="desc">
        본인의 거주지역을 선택해주세요.
    </div>
    <div class="align-center">
        <div class=" align-center" style="">
            <div class="clear-5"></div>
            <select class="basic" >
                <option value="">지역을 선택해주세요</option>
                <option value="경기도">경기도</option>
                <option value="서울특별시">서울특별시</option>
                <option value="부산광역시">부산광역시</option>
                <option value="인천광역시">인천광역시</option>
                <option value="대구광역시">대구광역시</option>
                <option value="경상북도">경상북도</option>
                <option value="경상남도">경상남도</option>
                <option value="충청북도">충청북도</option>
                <option value="충청남도">충청남도</option>
                <option value="전라북도">전라북도</option>
                <option value="전라남도">전라남도</option>
                <option value="대전광역시">대전광역시</option>
                <option value="광주광역시">광주광역시</option>
                <option value="울산광역시">울산광역시</option>
                <option value="제주특별자치도">제주특별자치도</option>
                <option value="세종특별자치시">세종특별자치시</option>
            </select>
            <div class="clear-9"></div>
        </div>
    </div>
    <form id="profile">
    {% endif %}
    <div class="clear-9"></div>
    <input id="submit" name="profile" type="submit" value="확인">
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    var field = "{{ request.GET.field }}";
    var org_value = "{{ request.GET.value }}";
    var value = org_value;
    $(document).on("ready", function(){
        if(field=="nickname"){
            if(value!="") $(".text-clear").show();

            $("#input").focus();

            $(".text-clear").on("click",function(){
                $("#input").val("").focus();
                $(".text-clear").hide();
                $(".text-count").text("0 / 10").removeClass("error");
            });

            $("#input").on("change paste keyup", function(){
                var l = $("#input").val().length;
                re = /[~!@\#$%^&*\()\-=+_'"`{}<>?]/gi;
                if( l > 0){
                    $(".text-clear").show();
                }else{
                    $(".text-clear").hide();
                }

                if( l > 10){
                    $(".text-count").text("닉네임은 10자를 넘을 수 없습니다.").addClass("error");
                }else if(re.test($("#input").val())){
                    $(".text-count").text("닉네임은 한글/영문/숫자 만 가능합니다.").addClass("error");
                }else{
                    $(".text-count").text(l + " / 10").removeClass("error");
                }

            });
            $( "#profile" ).submit(function( event ) {
                event.preventDefault();
                value = $("#input").val();
                re = /[~!@\#$%^&*\()\-=+_'"`{}<>?]/gi;

                if(value == "") {
                    alert("닉네임을 입력해주세요"); $("#input").focus();
                }
                else if(value.length < 2){
                    alert("최소 2자 이상 입력해주세요."); $("#input").focus();
                }else if(value.length > 10){
                    alert("닉네임은 10자를 넘을 수 없습니다."); $("#input").focus();
                }else if(re.test(value)){
                    alert("닉네임은 한글/영문/숫자 만 가능합니다."); $("#input").focus();
                }else{
                    if( value == org_value) user_profile_update();
                    else{
                        ajax_json("user/existNickname", {"nickname":value}, function(re){
                            if(re.success){
                                if (re.result.data){
                                    alert("이미 사용중인 닉네임입니다.");
                                }else{
                                    user_profile_update();
                                }
                            }
                        });
                    }
                }
            });
        }else if(field=="birth"){
            $(".birth.year").empty();
            for(var i = 1915; i < 2015; i++){
                $(".birth.year").append("<option value='"+i+"'>"+i+"</option>");
            }
            if(value.length < 8){
                $(".birth.year").val("1980");
            }else{
                $(".birth.year").val(value.slice(0,4));
                $(".birth.month").val(value.slice(4,6));
                $(".birth.day").val(value.slice(6,8));
            }


            $( "#profile" ).submit(function( event ) {
                event.preventDefault();
                var year = $(".birth.year").val();
                var month = $(".birth.month").val();
                var day = $(".birth.day").val();

                value = year+month+day;

                if(value.length != 8){
                    alert("생년월일을 정확히 선택해주세요.");
                    if(year.length < 4) $(".birth.year").focus();
                    else if(month.length < 2) $(".birth.month").focus();
                    else if(day.length < 2) $(".birth.day").focus();
                }
                else{
                    user_profile_update();
                }
            });

        }else if(field=="prov" || field=="cate"){
            $("select.basic").val(value);

            $( "#profile" ).submit(function( event ) {
                event.preventDefault();

                value = $("select.basic").val();

                if(value == ""){
                    if(field=="prov") alert("지역을 정확히 선택해주세요.");
                    else if (field=="cate") alert("직업을 정확히 선택해주세요.");
                }
                else{
                    user_profile_update();
                }
            });

        }else{
            $('input[value="'+value+'"]').prop("checked",true);

            $( "#profile" ).submit(function( event ) {
                event.preventDefault();
                value = $('input[name=selector]:checked').val();
                if(value == "") {
                    return;
                }else{
                    user_profile_update();
                }
            });
        }
    });

    var is_update = false;
    function user_profile_update(){
        if( is_update ) return;

        is_update = true;
        ajax_json("user/update", {"fld":field,"value":value}, function(re){
            if (re.success == true){
                native_move_back('1');
                setTimeout(function(){
                    is_update = false;
                }, 100);
            }else{
                alert(re.msg);
            }
        });
    }
</script>
{% endblock %}