{% extends "native/_list.html" %}
{% block title %}홈쇼핑 상품 추천{% endblock %}
{% block css %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>

.tab {font-size: 15px;padding:12px 0 11px 0; line-height:15px; background: #f7f7f7; }
.tab.on {background: #fff; color: #ea1b27; font-weight: bold;}
.org-price{font-weight: bold; color:#999; font-size:14px; margin-bottom:4px; }
.price{font-weight: 900; font-family: avenir, sans-serif; color:#4a4a4a; font-size:24px;}
    .price::after{content:"원"; font-size:12px; font-weight: bold;}
    .bt-dislike{
{#        border:1px solid #0A6F40;#}
        border-radius: 50em;
        background: #fff;
        display: table;
        width:40px;
        height:40px;
        text-align: center;
    }
    .bt-like{
{#        border:1px solid #fe4040;#}
        border-radius: 50em;
        background: #fff;
        text-align: center;
        display: table;
        width:40px;
        height:40px;
    }
    .bt-like, .bt-dislike { background:rgba(250,250,250,0.95); box-shadow: 1px 1px 3px rgba(0,0,0,0.3), 0 1px 0 #fff inset}
    .bt-dislike i, .bt-like i{ font-size:18px; color:#999;}
    .bt-dislike i.active{ color:#0A6F40; }
    .bt-like i.active{ color: #fe4040; }
    .bt-dislike a,.bt-like a{ line-height:0.8em;display: table-cell; vertical-align: middle;}
    .left-12{ left:22px;}
    .right-12{ right:22px;}
    .top-12{ bottom:116px;}
    .bottom-12{ bottom:12px;}
    </style>
{% endblock %}
{% block tab %}
<div class="position-fixed z-index b-white shadow" style="width:100%;left:0;top:0;">
    <div class="display-table align-center">
        <div class="table-cell th3-1  border-right">
            <a href="javascript:void(0);" id="entity"  class="disblock tab on">
                추천방송상품
            </a>
        </div>
        <div class="table-cell th3-1 ">
            <a href="javascript:void(0);" id="search" class="disblock tab ">
                추천검색상품
            </a>
        </div>
    </div>
</div>

<div style="height:43px;"></div>
<div id="block_search" class="block block-hide">
    <div class="display-table">
        <div class="table-cell align-middle font-14 c-midgray " style="line-height: 16px; padding: 14px 10px;">
            추천 검색상품
        </div>
        <div class="table-cell align-middle align-right c-gray ">
        </div>
        <div class="table-cell-9"></div>
    </div>
</div>
{% endblock %}
{% block no_result %}
<div class=" b-white align-center ">
    <div class="padding-9 c-gray font-14" >
        <div class="clear-9" style="height:30px;"> </div>
        <img src="{{ cdn_img }}/2016/icon_visit.png" style="height: 54px;">
        <div class="clear-9" > </div>
        <span class="c-red  font-15">최근 본 상품</span><span class="c-black font-15">이 없습니다.</span>
        <div class="clear-3" > </div>
        최근 본 상품들을 이곳에서 보실 수 있습니다.
        <div class="clear-9" style="height:35px;"> </div>
    </div>
</div>
{% endblock %}
{% block list_end %}
<div id="reco_block" class="" style="min-height:50px; opacity: 0;">
    <div class="padding-7 align-center font-15 ">
        실시간 홈쇼핑 인기상품
    </div>
    <div class="position-relative" style="width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; ">
        <div id="item_reco_banner" class="position-relative" style=" width:1840px; margin:0 5px; vertical-align: top;"></div>
    </div>
</div>
<div class="clear-9" style="height:24px;"> </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var tab = "{{ request.GET.tab }}";
    if (tab=="") tab = "entity";
    var is_cache_use = false;
    var tab_click= true;
    $("body").on('click', ".tab", function () {
        if(tab_click){
            tab_click = false;
            tab = this.id;
            list_reset();
            setTimeout(function(){
                tab_click = true;
            }, 400)
        }
    });
    function list_scroll() {
        if(page ==1) {
            $('.tab').removeClass("on");
            $('#' + tab).addClass("on");
            $('.block').hide();
            $('#block_' + tab).show();
        }
        if(tab == "entity"){
            var check = "";
            if(is_cache_use && page == 1){
                check = "0";
            }else{
                check = "";
            }
            ajax_skin("visit/getList", {"skin":"{{native_skin}}/_reco_list","flag": "visit","action": "entity","order": "update_date desc","num": num,"page": page, "is_cache_use": check}, function (re) {
                is_cache_use = false;
                list_result(re);
                if(re.length < 300) load_item();
            });
        }else{
            ajax_get("/rpc/user_search_click/getList", {"skin":"native/skin/_visit_searchitem", "num": num,"page": page}, function (re) {
                list_result(re);
            });
        }
    }
    function load_item(){
        ajax_get("/rpc/popular_entity/getList", {"skin":"{{native_skin}}/_item_top_banner","page":1, "num":10, "flag":"my_visit"}, function (re) {
            $("#item_reco_banner").html(re);
            $("#reco_block").fadeTo(300, 1);
        });
    }
    function visit_remove(action, action_id, visit_id){
        ajax_json("visit/remove", { "visit_id": visit_id}, function (re) {
            if (re.success == true) {
                //alert(JSON.stringify(re));
                $("#list_"+visit_id).fadeTo(150,0).slideUp(150, function(){
                    $("#list_"+visit_id).remove();
                    if( $("#list_scroll").children().length < 1){
                        $("#no_result").show();
                    }
                });
            } else {
                native_send_toast(re.msg);
            }
        });
    }
    function remove_all(action){
        var comment = {"keyword":"최근 검색어를",
            "alarm":"검색어 알람을",
            "alarm_action":"생방송 알람을",
            "visit":"조회한 상품을",
            "like": "찜한 상품을"};

        var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
        if( is_ios_app() && app_version_count < 90000 ){is_confirm = !is_confirm;}
        if(is_confirm) {
            ajax_json( action + "/remove", { "is_all": true, "service": "tvshop"}, function (re) {
                if (re.success == true) {
                    //alert(JSON.stringify(re));
                    is_cache_use = true;
                    list_reset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
</script>
{% endblock %}
