{% extends "native/__basic.html" %}
{% block css %}
<style>
    body{background:#fff;}
</style>
{% endblock %}
{% block container %}
<div class="align-center">
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div id="step_1">
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <img src="{{ cdn_img }}/hsmoa_logo.png" style="height:35px;" />
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <form id="phone_submit" method="get">
            <input id="phone_number" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="전화번호" value=""
                   style="width:300px;font-size:24px;text-align: center;border:0;border-bottom:1px solid #ccc;" />
            <div class="clear-9"></div>
            <div class="clear-9"></div>
            <input type="submit" value="간편회원가입"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
        <div style="font-size:13px;color:#aaa;">입력하신 번호로 4자리의 인증번호를 보내드립니다.</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <button id="user_login" style="height:40px;width:130px;background:#fff;border:1px solid #aaa;font-size:13px;color:#aaa;border-radius:20px;">이미 회원이신가요?</button>
        <div class="clear-9"></div>
    </div>
    <div id="step_2" style="display:none;">
        <div class="font-15" id="phone"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="font-15">입력하신 번호로 간편가입을 시작합니다.<br/>전송받은 인증번호를 입력해주세요</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <form id="code_submit" method="get">
            <input id="code_number" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="인증번호" value=""
                   style="width:300px;font-size:24px;text-align: center;border:0;border-bottom:1px solid #ccc;" />
            <div class="clear-9"></div>
            <div class="clear-9"></div>
            <input type="submit" value="다음"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
        <div style="font-size:13px;color:#aaa;">인증번호가 60초 이내로 도착합니다.</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <button id="code_reset" style="height:40px;width:150px;background:#aaa;border:0;font-size:13px;color:#fff;">인증번호 다시받기</button>
        <div class="clear-9"></div>
        <u style="font-size:13px;color:#aaa;">인증문자를 받지 못하셨나요?</u>
        <div class="clear-9"></div>
    </div>
    <div id="step_3" style="display:none;">
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="font-15">로그인 시 사용할<br/>비밀번호를 입력해주세요.</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <form id="password_submit" method="get">
            <input id="password" type="text" placeholder="" value=""
                   style="width:300px;font-size:24px;text-align: center;border:1px solid #ccc;height:50px;" />
            <div class="clear-9"></div>
            <div style="font-size:13px;color:#aaa;">5~15자리로 비밀번호를 입력하세요.</div>
            <div class="clear-9"></div>
            <input type="submit" value="다음"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
    </div>
    <div id="step_4" style="display:none;">
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="font-15">닉네임과 프로필 사진을 설정해주세요.</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <button style="height:80px;width:80px;border-radius:40px;border:1px solid #ccc;background:#fff;"></button>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <form id="name_submit" method="get">
            <input id="name" type="text" placeholder="" value=""
                   style="width:300px;font-size:24px;text-align: center;border:1px solid #ccc;height:50px;" />
            <div class="clear-9"></div>
            <div style="font-size:13px;color:#aaa;" id="name_check">3~10자리로 닉네임을 입력하세요.</div>
            <div class="clear-9"></div>
            <input type="submit" value="동의하고 회원가입 완료"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
        <div style="font-size:13px;color:#aaa;"><u>이용약관</u>과 <u>개인정보정책</u>을 확인하였으며 동의합니다.</div>
        <div class="clear-9"></div>
    </div>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/media/js/sha1.min.js"></script>
<script>
var Join = (function(){
    //변수
    var xid = "1f6VdZ6DJx";
    var phone_number = "";
    var code_number = "";
    var timestamp = "";
    var hashed_code = "";
    var password = "";
    var nickname = "";
    //함수
    var user_phone = function(){
        ajax_get("/rpc/outer",{"url":"http://dev.buzzni.com:9020/user/getVerificationCode?xid="+xid+"&phone="+phone_number}, function (re) {
            var json_re = JSON.parse(re);
            if (json_re.success == true){
                console.log(re);
                $('#step_1').hide();
                $('#step_2').show();
                $('#phone').text(phone_number);
                $("#code_number").focus();
                timestamp = json_re.result.timestamp;
                hashed_code = json_re.result.hashed_code;
            } else {
                alert(json_re.msg);
            }
        });
    }
    var user_name = function(){
        ajax_get("/rpc/outer",{"url":"http://dev.buzzni.com:9020/user/existNickname?nickname="+nickname}, function (re) {
            var json_re = JSON.parse(re);
            if (json_re.result.data == false){
                user_regist();
                $('#name_check').html("");
            } else {
                $('#name_check').html("<span style='color:red;'>이미 사용중인 닉네임입니다.</span>");
            }
        });
    }
    var user_regist = function(){
        console.log(password+","+phone_number+","+nickname+","+xid+",");
        ajax_get("/rpc/outer",{"url":"http://dev.buzzni.com:9020/account/regist?xid="+xid+"&phone="+phone_number+"&pwd="+password+"&nickname="+nickname}, function (re) {
            var json_re = JSON.parse(re);
            if (json_re.success == true){
                alert("안녕?축하!");
                location_href("/service");
            } else {
                alert(json_re.msg);
            }
        });
    }
    var user_password = function(){
        $('#step_3').hide();
        $('#step_4').show();
        $("#name").focus().val("");
    }
    //리스너
    var listener = function(){
        $("#phone_number").focus().val("01051471984");
        $('body').on("click", "#user_login", function(){
            location_href("/native/user/login");
        });
        $('body').on("click", "#code_reset", function(){
            user_phone();
            alert("인증번호 재전송 완료");
            $("#code_number").focus().val("");
        });
        $('body').on("submit", "#phone_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            phone_number = $("#phone_number").val();
            if (phone_number == ""){
                alert('전화번호를 입력해주세요.');
                $("#phone_number").focus().val("");
            } else {
                //if(confirm(phone_number+"번호로 발송하시겠습니까?")){
                    user_phone();
                //}
            }
        });
        $('body').on("submit", "#password_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            password = sha1($("#password").val());
            if (password == ""){
                alert('비밀번호를 입력해주세요.');
                $("#password").focus().val("");
            } else {
                user_password();
            }
        });
        $('body').on("submit", "#name_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            nickname = $("#name").val();
            if (nickname == ""){
                alert('닉네임을 입력해주세요.');
                $("#name").focus().val("");
            } else {
                user_name();
            }
        });
        $('body').on("submit", "#code_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            code_number = $("#code_number").val();
            if (code_number == ""){
                alert('인증코드를 입력해주세요.');
                $("#code_number").focus().val("");
            } else {
                console.log(sha1(xid+'$'+timestamp+'$'+phone_number+'$'+code_number));
                if (hashed_code == sha1(xid+'$'+timestamp+'$'+phone_number+'$'+code_number)){
                    alert("인증이 완료되었습니다.");
                    $('#step_2').hide();
                    $('#step_3').show();
                    $("#password").focus().val("");
                } else {
                    alert("잘못된 코드입니다.");
                    $("#code_number").focus().val("");
                }
            }
        });
    }
    //리턴
    return {
        init : function(){
            listener();
        }
    }
})();

$(document).ready(function(){
    Join.init();
});

</script>
{% endblock %}
