{% extends "native/__basic.html" %}
{% block css %}
<style>
    body{background:#fff;}
</style>
{% endblock %}
{% block container %}
<div class="align-center">
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="font-20">로그인</div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div id="phone_login">
        <form id="phone_login_submit" method="get">
            <input id="phone_number" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="전화번호" value=""
                   style="width:300px;font-size:20px;text-align: center;border:1px solid #ccc;height:50px;" /><br/>
            <input id="password" type="password" placeholder="비밀번호" value=""
                   style="width:300px;font-size:20px;text-align: center;border:1px solid #ccc;border-top:0;height:50px;" />
            <div class="clear-9"></div>
            <div class="clear-9"></div>
            <input type="submit" value="로그인"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="align-right" style="width:300px;margin: auto;"><u class="font-15 c-gray">비밀번호 재설정</u></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <button id="phone_login_btn" style="height:40px;width:130px;background:#fff;border:1px solid #aaa;font-size:13px;color:#aaa;border-radius:20px;">이메일 로그인</button>
        <div class="clear-9"></div>
    </div>
    <div id="email_login" style="display:none;">
        <form id="email_login_submit" method="get">
            <input id="email" type="text" placeholder="이메일" value=""
                   style="width:300px;font-size:20px;text-align: center;border:1px solid #ccc;height:50px;" /><br/>
            <input id="email_password" type="password" placeholder="비밀번호" value=""
                   style="width:300px;font-size:20px;text-align: center;border:1px solid #ccc;border-top:0;height:50px;" />
            <div class="clear-9"></div>
            <div class="clear-9"></div>
            <input type="submit" value="이메일 로그인"
                   style="height:50px;width:300px;background:red;border:0;font-size:18px;color:#fff;border-radius:3px;"/>
        </form>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="align-right" style="width:300px;margin: auto;"><u class="font-15 c-gray">비밀번호 재설정</u></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <button id="email_login_btn" style="height:40px;width:130px;background:#fff;border:1px solid #aaa;font-size:13px;color:#aaa;border-radius:20px;">휴대폰 로그인</button>
        <div class="clear-9"></div>
    </div>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/media/js/sha1.min.js"></script>
<script type="text/javascript" src="/media/js/md5.js"></script>
<script>
var Join = (function(){
    //변수
    var xid = "";
    var phone_number = "";
    var password = "";
    var email = "";
    var email_password = "";
    //함수
    var phone_login = function(){
        console.log(phone_number+","+password);
        ajax_get("/rpc/outer",{"url":"http://dev.buzzni.com:9020/account/login?phone="+phone_number+"&pwd="+password}, function (re) {
            var json_re = JSON.parse(re);
            console.log(json_re);
            if (json_re.success == true) {
                user_session(json_re.result.user_id, json_re.result.token);
            } else {
                alert(json_re.msg);
            }
        });
    }
    var email_login = function(){
        console.log(email+","+email_password);
        ajax_get("/rpc/outer",{"url":"http://dev.buzzni.com:9020/account/login?email="+email+"&pwd="+email_password}, function (re) {
            var json_re = JSON.parse(re);
            console.log(json_re);
            if (json_re.success == true) {
                user_session(json_re.result.user_id, json_re.result.token);
            } else {
                alert(json_re.msg);
            }
        });
    }
    var user_session = function(user_id, user_token){
        user_id = user_id;
        user_token = user_token;
        ajax_get("/session/user", {"fld":'id', "val": user_id}, function(re){
            ajax_get("/session/user", {"fld":'token', "val": user_token}, function(re){
                alert('안녕하세요^^\n 홈쇼핑모아에 오신걸 환영합니다.');
                location_href("/service");
            });
        });
    }
    //리스너
    var listener = function(){
        $("#phone_number").val("01051471984");
        $("#password").focus();
        $('body').on("submit", "#phone_login_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            phone_number = $("#phone_number").val();
            password = sha1($("#password").val());
            if (password == ""){
                alert('비밀번호를 입력해주세요.');
                $("#password").focus().val("");
            } else {
                phone_login();
            }
        });
        $('body').on("submit", "#email_login_submit", function(){
            event.preventDefault();//클릭시 페이지 이동방지
            email = $("#email").val();
            email_password = hex_md5($("#email_password").val());
            if (email_password == ""){
                alert('비밀번호를 입력해주세요.');
                $("#email_password").focus().val("");
            } else {
                email_login();
            }
        });
        $('body').on("click", "#phone_login_btn", function(){
            $("#phone_login").hide();
            $("#email_login").show();
        });
        $('body').on("click", "#email_login_btn", function(){
            $("#phone_login").show();
            $("#email_login").hide();
        });
    }
    //리턴
    return {
        init : function(){
            listener();
        }
    }
})();

$(document).ready(function(){
    Join.init();
});

</script>
{% endblock %}
