{% extends "tvshop/_list.html" %}
{% block css %}
<style>
body{background:#fff;}
.bt-red{cursor:pointer;}
</style>
{% endblock %}
{% block tab %}
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="margin-auto" style="width:300px;">
    <div class="clear-9"></div>
	<input type="text" value="" id="login_email" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;margin-bottom:3px;" placeholder="이메일" />
	<div class="clear-9"></div>
    <button id="forgot_password" onclick="forgot_password();" class="bt-red font-14 strong" style="width:295px; height:40px;">비밀번호 찾기</button>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/md5.js"></script>
<script type="text/javascript">
function list_scroll() {
    list_end();
}
$(function() {
	$('#login_email').keypress(function(event) {
	  if (event.keyCode == '13') {
	        $('#forgot_password').trigger('click');
	    }
	});
    $('#login_email').focus();
});

function forgot_password(){
    var login_email = $("#login_email").val();
    login_email = login_email.toLowerCase();
    if (login_email == ""){
        native_send_toast("계정을 입력해주세요");
        $('#login_email').focus();
    } else {
        $("#forgot_password").attr("disabled", "disabled").text("처리중입니다...");
        ajax_json("account/forgotPassword", {"email":login_email}, function (re) {
            if (re.success == true) {
                native_send_toast('비밀번호 초기화 메일을 "' + login_email + '" 로 발송했습니다.');
                setTimeout("native_move_back('1,true')", 1000);
            } else {
                native_send_toast(re.msg);
                $("#forgot_password").removeAttr("disabled");
            }
        });
    }
}
</script>
{% endblock %}
