{% extends "tvshop/_list.html" %}
{% block css %}
<style>
body{background:#fff;}
.bt-red{cursor:pointer;}
</style>
{% endblock %}
{% block tab %}
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="margin-auto" style="width:300px;">
    <div class="clear-9"></div>
	<input type="password" value="" id="password" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;margin-bottom:3px;" placeholder="새 비밀번호" />
	<input type="password" value="" id="password_re" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;" placeholder="새 비밀번호 재확인" />
	<div class="clear-9"></div>
    <button id="reset_password" onclick="reset_password();" class="bt-red font-14 strong" style="width:295px; height:40px;">비밀번호 재설정</button>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/platform.js"></script>
<script type="text/javascript" src="{{ media }}/js/md5.js"></script>
<script type="text/javascript">
function list_scroll() {
    list_end();
}
$(function() {
	$('#password_re').keypress(function(event) {
	  if (event.keyCode == '13') {
	        $('#reset_password').trigger('click');
	    }
	});
    $('#password').focus();
});

function reset_password(){
	var password = $("#password").val();
	var password_re = $("#password_re").val();
    if (password == ""){
        alert("변경하실 비밀번호를 입력해주세요.");
        $('#password').focus();
    } else {
        if (password_re == ""){
            alert("변경할 비밀번호가 일치하지 않습니다.");
            $('#password_re').focus();
        } else {
            if (password_re == password){
                $("#reset_password").attr("disabled", "disabled").removeClass('bt-red').addClass('bt-gray').text("처리중입니다...");
                ajax_json("account/resetPassword", {"email": "{{ email }}", "nonce": "{{ nonce }}", "password":hex_md5(password)}, function (re) {
                    if (re.success == true) {
                        alert('비밀번호를 초기화했습니다. 앱으로 이동해 로그인 해주세요.');
                        $("#reset_password").text("완료");

                        var os = platform.os.family;
                        if (-1 < os.indexOf('iOS'))
                            window.location = 'hsmoa://';
                        //else if (-1 < os.indexOf('Android'))
                            //window.location = 'shoppingmoa://com.buzzni.android.subapp.shoppingmoa?type=';
                    } else {
                        alert(re.msg);
                        $("#reset_password").removeAttr("disabled").removeClass('bt-gray').addClass('bt-red').text("변경하기");
                    }
                });
            } else {
                alert("변경할 비밀번호가 일치하지 않습니다.");
                $('#password_re').focus();
            }
        }
    }
}
</script>
{% endblock %}
