{% extends "tvshop/_list.html" %}
{% load filters %}
{% block css %}
<style>
body{background:#fff;}
.forgot_password { text-align: center; }
.forgot_password a { color: #E91C27; }
</style>
{% endblock %}
{% block tab %}
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="margin-auto" style="width:300px;">
    <input type="hidden" id="login_show_alert" value="1"/>
    <div class="clear-9"></div>
	<input type="text" value="" id="login_email" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;margin-bottom:3px;" placeholder="이메일" />
	<input type="password" value="" id="login_password" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;" placeholder="비밀번호" />
	<div class="clear-9"></div>
    <button id="account_login" onclick="account_login();" class="bt-red font-14 strong" style="width:295px; height:40px;">로그인</button>
    <div class="clear-9"></div>
    <div class="clear-9"></div>
    <div class="forgot_password">
        <a href="/user/forgot_password">비밀번호를 잃어버리셨나요?</a>
    </div>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/md5.js"></script>
<script type="text/javascript">
function list_scroll() {
    list_end();
}
$(function() {
	$('#login_password').keypress(function(event) {
	  if (event.keyCode == '13') {
	        $('#account_login').trigger('click');
	    }
	});
    $('#login_email').focus();
});
function account_login(){
    var login_show_alert = $('#login_show_alert').val();
	var login_email = $("#login_email").val();
    login_email = login_email.toLowerCase();
	var login_password = $("#login_password").val();
	if (login_email == ""){
		native_send_toast("계정을 입력해주세요");
		$('#login_email').focus();
	} else {
		if (login_password == ""){
			native_send_toast("비밀번호를 입력해주세요");
			$('#login_password').focus();
		} else {
			$("#account_login").attr("disabled", "disabled").text("처리중입니다...");
            ajax_json("account/login", {"email":login_email, "pwd":hex_md5(login_password)}, function (re) {
                if (re.success == true) {
                    if (re.result.user_id && re.result.token){
                        var user_id_x = re.result.user_id;
                        var user_token_x = re.result.token;
                        if (is_android_app() || is_ios_app()){
                            ajax_json("device/connect", {"target_id":re.result.user_id, "service":'tvshop', "device_id":'{{ request.session.device.code }}', "ios_adid":'{{ request.session.device.advertisingId }}', "ios_idfv":'{{ request.session.device.ios_idfv }}'}, function (re) {
                                if (re.success == true) {
                                        user_id = user_id_x;
                                        user_token = user_token_x;
                                        ajax_get("/session/user", {"fld":'id', "val": user_id}, function(re){
                                            ajax_get("/session/user", {"fld":'token', "val": user_token}, function(re){
                                                native_set_userid(user_id);
                                                native_set_token(user_token);
                                                native_send_toast('완료하였습니다.');
                                                setTimeout("native_move_back('1,true')", 1000);
                                            });
                                        });
                                } else {
                                    native_send_toast(re.msg);
                                    $("#account_login").removeAttr("disabled").text("로그인");
                                }
                            });
                        } else {
                            user_id = user_id_x;
                            user_token = user_token_x;
                            ajax_get("/session/user", {"fld":'id', "val": user_id}, function(re){
                                ajax_get("/session/user", {"fld":'token', "val": user_token}, function(re){
                                    if (login_show_alert == "1") {
                                        native_send_toast('안녕하세요^^\n 홈쇼핑모아로 오신걸 환영합니다.');
                                        setTimeout("native_move_back('1,true')", 1000);
                                    } else {
                                        window.location.href = '/';
                                    }
                                });
                            });
                        }
                    } else {
                        native_send_toast('account_login_user_id_token');
                        ajax_get("/error/account_login_user_id_token");
                        $("#account_login").removeAttr("disabled").text("로그인");
                    }
                } else {
                    native_send_toast(re.msg);
                    $("#account_login").removeAttr("disabled").text("로그인");
                }
            });
		}
	}
}
</script>
{% endblock %}
