{% extends "tvshop/_list.html" %}
{% load filters %}
{% block css %}
<style>
body{background:#fff;}
</style>
{% endblock %}
{% block tab %}
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="margin-auto" style="width:300px;">
    <div class="clear-9"></div>
	<input type="password" value="" id="password_old" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;margin-bottom:3px;" placeholder="기존 비밀번호" />
	<input type="password" value="" id="password" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;margin-bottom:3px;" placeholder="새 비밀번호" />
	<input type="password" value="" id="password_re" style="border:1px solid #ddd;width:285px;height:40px;padding-left:9px;-webkit-background-size:24px 24px;" placeholder="새 비밀번호 재확인" />
	<div class="clear-9"></div>
    <button id="account_password" onclick="account_password();" class="bt-red strong" style="width:295px;">변경하기</button>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/md5.js"></script>
<script type="text/javascript">
function list_scroll() {
    list_end();
}
$(function() {
	$('#password_re').keypress(function(event) {
	  if (event.keyCode == '13') {
	        $('#account_password').trigger('click');
	    }
	});
});
function account_password(){
	var password_old = $("#password_old").val();
	var password = $("#password").val();
	var password_re = $("#password_re").val();
	if (password_old == ""){
		native_send_toast("기존 비밀번호를 입력해주세요");
		$('#password_old').focus();
	} else {
		if (password == ""){
			native_send_toast("변경하실 비밀번호를 입력해주세요");
			$('#password').focus();
		} else {
            if (password_re == ""){
                native_send_toast("변경하실 비밀번호를 다시 입력해주세요");
                $('#password_re').focus();
            } else {
                if (password_re == password){
                        $("#account_password").attr("disabled", "disabled").text("처리중입니다...");
                        ajax_json("account/updatePwd", {"old_pwd":hex_md5(password_old), "new_pwd":hex_md5(password)}, function (re) {
                            if (re.success == true) {
                                native_send_toast('완료하였습니다.');
                                setTimeout("native_move_back('1,true')", 1000);
                            } else {
                                native_send_toast(re.msg);
                                $("#account_password").removeAttr("disabled").text("변경하기");
                            }
                        });
                } else {
                    native_send_toast("변경할 비밀번호가 일치하지 않습니다.");
                    $('#password_re').focus();
                }
            }
		}
	}
}
</script>
{% endblock %}
