{% load filters %}
<!-- 전체상품 검색결과 -->
<div id="block_meta" style="margin: 0 0 1px 0; display: none; ">
    <!-- 리스트 정렬, 필터-->
    <div id="meta_top" class="b-white display-table-fixed" style="font-size:15px;height:40px; ">
        <!-- 전체 상품 수 -->
        <div id="numGoods" class="table-cell align-middle" style=" padding:0px 12px;font-size:13px;">
        </div>
        <!-- 정렬 버튼 -->
        <div class="table-cell" style=" width:96px;border-right: 1px solid #eee; ">
            <select id="orderButton"
                    style="width:84%; margin: 0 8%; height:39px; border:0;border-bottom: 1px solid #fff; border-radius:0; background: url('{{ media }}/hsmoa/icon/arrow_down.png') 100% 48% no-repeat; background-size:16px 16px;-webkit-appearance: none;-moz-appearance: none;appearance: none;">
                <option value="rel">인기순</option>
                <option value="price asc">낮은가격순</option>
                <option value="price desc">높은가격순</option>
            </select>
        </div>
        <!-- 그리드 버튼 -->
        <div id="gridButton" class="table-cell"
             style="width:42px;height:40px; text-align: center; border-right: 1px solid #eee;">
            <img src="{{ thum }}/https://d30y9cdsu7xlg0.cloudfront.net/png/707653-200.png"
                 style="width:30px; margin: 5px auto 2px; opacity: 0.7;">
            <img src="{{ thum }}/https://d30y9cdsu7xlg0.cloudfront.net/png/1271846-200.png"
                 style="width:22px; margin: 9px auto 2px; opacity: 0.7;">
        </div>
        <!-- 필터 버튼 -->
        <div id="filterButton" class="table-cell bt-filter" style="width:44px; text-align: center; ">
            <div></div>
            <img src="{{ media }}/hsmoa/button/search_filter_on.png" style="display: none !important;">
        </div>
    </div>
    <div class="line-top"></div>
</div>

<div id="no_result_meta" class="align-center b-coolgray-1 c-gray-3 block-hide"
     style="display: none; font-size: 15px; line-height: 1.5em; padding: 30px 0;">
    <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div><span class="c-black">"{{ query }}"</span> 검색결과가 없습니다.</div>
    <div>검색어나 조건을 바꿔 다시 시도해보세요.</div>
    <div class="filter-reset">조건 초기화</div>
</div>
<div id="scroller" style="font-size: 0;"></div>

<!-- 필터 영역 -->
<div id="dim"></div>
<div id="filter_block" >
    <div class="title">
        <div class="filter-reset">초기화</div>
        <div id="filter_title">상세검색</div>
        <div class="close-filter-button">
            <img style="height:24px;padding:10px;"src="{{ media }}/hsmoa/button/close_gray.png" />
        </div>
    </div>
    <div id="filter_container"></div>
    <div class="close-filter-button">적용하기</div>
</div>

<script>
var SearchParams = {
    skin: "hsmoa/skin/_search_result_meta",
    order: "",
    ncate1: "",
    ncate2: "",
    ncate3: "",
    ncate4: "",
    genre2: "",
    price_min: 0,
    price_max: 0,
    is_compare_search: true,
    source: "meta",
    abtest: User.abtest,
    query: "{{ request.GET.query|urldecode }}",
    rawquery: "{{ request.GET.query|urldecode }}"
};

//전체상품 불러오기
var $scroller = $("#scroller");
function initScroller(){
    /***** A/B Test *****/
    //SearchParams.abtest = "c";

    sendStat("test/hsmoa1432", {query: Search.query, from: User.from, abtest: User.abtest, test_id: "hsmoa1432,search"});
    if(SearchParams.abtest === "a") {
        SearchParams.skin = "hsmoa/test/hsmoa1432/skin/_search_result_meta_a";
    } else if(SearchParams.abtest === "b") {
        SearchParams.skin = "hsmoa/test/hsmoa1432/skin/_search_result_meta_b";
    } else if(SearchParams.abtest === "c") {
        SearchParams.skin = "hsmoa/test/hsmoa1432/skin/_search_result_meta_c";
    }
    /**----------------**/


    // 최초 한번만 실행되도록
    if(Search.init) return;

    // Scroller
    $scroller.Scroller({
        defaults: {
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            minDataLength : 100,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data: SearchParams,
        url: "rpc/search/tvshopSearch",
        scrolling: function (re) {
            Search.page += 1;
            if (Search.page == 5 && !Search.cs_asked){
                show_cs_quality();
            }
            $scroller.append(re);
        },
        scrollEnd: function () {
            //결과없을 때 결과없음 영역
            if ($scroller.children(".grid-box").length == 0) {
                sendStat("search/noresult", SearchParams);
                $("#no_result_meta").show();
                if($(".bt-filter").hasClass("on")){
                    $("#no_result_meta .filter-reset").show();
                }else{
                    $("#no_result_meta .filter-reset").hide();
                }
            }
        },
        scrollReset: function () {
            $scroller.empty();
            $("#no_result_meta").hide();
        }
    });

    Search.init = true;
    initScrollerFunctions();
}


//검색상품 영역 기능
function initScrollerFunctions(){
    var $body = $("body");
    var $dim = $("#dim");
    var $filterBlock = $("#filter_block");
    var $filterContainer = $("#filter_container");

    //1. 정렬 기능
    $body.on("change", "#orderButton", function(){
        Search.page = 0;
        SearchParams.order = $(this).val();
        $scroller.Scroller.listReset();

        //정렬바꿈 통계
        sendStat("search/order", {query:this.query, flag:SearchParams.order, from:$("option[value='"+$(this).val()+"']").text()});
    });

    //2. 그리드뷰 기능
    $.Fastclick($("#gridButton"), function(){
        Search.grid();
    });

    //3. 필터 기능
    //필터 세부 hsmoa/part/search_meta_filter.html
    $.Fastclick($(".bt-filter"), function(){
        if ($filterContainer.children().length == 0){
            $filterContainer.append($("#filter_content_block").html());
        }
        filter(true);
    });


    // 필터 클릭 이벤트 (클릭 시 열림)
    $.Fastclick(".filter-open", function() {
        var _for = $(this).attr("for");

        $("."+_for).slideToggle(100);
        $(this).toggleClass("on");

        if( _for == 'filter-price'){
            //가격대 클릭시 맨 끝으로 스크롤 되게
            $("#filter_container").scrollTop(5000);
        }
    });

    // 필터 클릭 이벤트 (클릭 시 적용)
    $.Fastclick(".filter-set", function(){
        Search.page = 0;
        var $this = $(this);
        var $filterGroup = $this.parents(".filter-group");
        $filterGroup.find(".filter-set").removeClass("on");
        $filterGroup.find(".filter-open-set").removeClass("on");
        $this.addClass("on");
        $.extend(SearchParams, $this.data());
        $scroller.Scroller.listReset();

        $(".bt-filter").addClass("on");

        //필터통계
        if($this.attr("url-path")){
            sendStat($this.attr("url-path"), $.extend({query:Search.query, from:$this.text()}, $this.data()));
        }
    });

    // 필터 클릭 이벤트 (클릭 시 열리면서 적용)
    $.Fastclick(".filter-open-set", function() {
        Search.page = 0;
        var $this = $(this);
        var $filterGroup = $this.parents(".filter-group");
        $filterGroup.find(".filter-set").removeClass("on");
        $filterGroup.find(".filter-open-set").removeClass("on");
        $this.addClass("on");
        $.extend(SearchParams, $this.data());
        $scroller.Scroller.listReset();

        $(".bt-filter").addClass("on");
        var $sub = $("."+$this.attr("for"));
        $sub.slideToggle(100);

        //필터통계
        if($this.attr("url-path")){
            sendStat($this.attr("url-path"), $.extend({query:Search.query, from:$this.text()}, $this.data()));
        }
    });

    // 가격 수동 필터 이벤트
    $.Fastclick("#filter_price_button", function(){
        Search.page = 0;
        var $filter_price = $(this).parent();
        var price_min = parseInt($filter_price.find("#min").val());
        var price_max = parseInt($filter_price.find("#max").val());
        if (price_min < 0 || price_max <0 || (price_min > price_max)){
            alert("올바른 가격대를 입력해주세요");
            return;
        } else {
            var price_data = {price_min: price_min,
                              price_max: price_max};
            $(this).parent().siblings("li").removeClass("on");
            $(".bt-filter").addClass("on");
            $.extend(SearchParams, price_data);
            $scroller.Scroller.listReset();
        }
    });

    // 필터 초기화 이벤트
    $.Fastclick(".filter-reset", function(){
        Search.page = 0;
        $.extend(SearchParams, {ncate1: "",
                                ncate2: "",
                                ncate3: "",
                                ncate4: "",
                                genre2: "",
                                price_min:0,
                                price_max:0});
        $("#filter_block li").removeClass("on");
        $("#filter_block li.default").addClass("on");
        $("ul .inner").slideUp(100);
        $scroller.Scroller.listReset();
        $(".bt-filter").removeClass("on");

        //필터통계
        sendStat("search/filter/reset", {query:this.query});
    });

    //닫기 버튼 클릭 시, filter 숨기기
    $.Fastclick(".close-filter-button", function(){
        checkFilterEveryOn();
        filter(false);
    });

    //바깥 클릭 시, filter 숨기기
    $dim.on("click scrollstart scroll", function () {
        if($dim.css('opacity') >= 0.4){
            checkFilterEveryOn();
            filter(false);
        }
    });

    // 필터 영역 모두에 전체 버튼이 클릭 되어 있을 경우 검색결과 버튼 off
    function checkFilterEveryOn(){
        var filterStatus = true;
        $("#filter_block li.default").each(function(i){
            filterStatus = filterStatus && $(this).hasClass("on");
        });
        if(filterStatus) $(".bt-filter").removeClass("on");
    }

    // 필터 숨기는 func
    function filter(status){
        if(status){
            $filterBlock.css({"display":"block"});
            $dim.css({"display":"block"});
            $body.css({overflow:"hidden"});
            setTimeout(function(){
                $dim.css({"opacity": 0.5});
                $filterBlock.css({"right": 0});
            },10);
        }else{
            $body.css({overflow:"auto"});
            $dim.css({"opacity": 0});
            $filterBlock.css({"right": -280});

            setTimeout(function(){
                $filterBlock.css({"display":"none"});
                $dim.css({"display":"none"});
            }, 210);
        }

        //필터통계
        sendStat("search/filter/"+(status ? "show" : "close"), {query:this.query});
    }
}
</script>