{# [광고]상품상세 썸네일 영역 - 퀴즈 #}

{% load humanize %}
{% load filters %}
<style>
    .agreement .checkbox {
        -webkit-appearance:none; margin:-4px 3px 0 0;vertical-align:top; background:#fff; -webkit-background-size:18px 18px;
        border:1px solid #ddd; box-sizing:border-box; border-radius:5px; display:inline-block; height:18px;
        width:18px; position:relative; -webkit-appearance:none;
        vertical-align:bottom;
    }
    .agreement .checkbox:checked {
        -webkit-appearance:none;
        background:#fff url('http://cache.m.ui.hsmoa.com/media/img/checkbox_on.png') no-repeat 50% 50%;
        -webkit-background-size:20px 20px;
    }

    #ad-event-wrapper {background-color:{{ ad_event.template_data.background.color }};position:relative;}
    #ad-img {padding-top:100%;position:relative;}
    #ad-img img {width:100%;position:absolute;top:0;left:0;}
    #ad-event {position:absolute;bottom:0;left:0;right:0;width:100%;padding:0 15px 4% 15px;box-sizing:border-box;display:table;}
    #ad-event .ad-content {display:table-cell;width:100%;height:100%;font-size:16px;text-align:center;overflow:hidden;box-sizing:border-box;background-color:#fff;border-radius:5px;box-shadow:0px 1px 6px rgba(50,50,50,0.5);}
    #ad-event .ad-content .content-top {height:50%;min-height:45px;padding:3% 5%;border-bottom:1px solid #ccd2da;box-sizing:border-box;width:100%;display:table;}
    #ad-event .ad-content .content-top>div {vertical-align:middle;}
    #ad-event .ad-content .content-bottom {height:51%;min-height:45px;}
    #ad-event .ad-content .content-bottom::after {content:"";display:block;clear:both;}
    #ad-event .ad-content .content-bottom .content-bottom-left {width:70%;height:100%;float:left;position:relative;}
    #ad-event .ad-content .content-bottom .content-bottom-left #input-ad-answer {z-index:1000009;font-size:15px;position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;box-sizing:border-box;padding:3px 15px;border:0;background:rgba(255, 255, 255, 0);letter-spacing:2px;font-weight:bold;color:#222;text-align:center;}
    #ad-event .ad-content .content-bottom .content-bottom-right {width:30%;height:100%;float:right;position:relative;}
    #ad-event .ad-content .content-bottom .content-bottom-right #btn-ad-submit {width:100%;height:100%;padding:0;font-size:15px;font-weight:normal;}
    #ad-event .ad-content .text-apply-done {height:100%;vertical-align:middle;color:#000;padding:3% 5%;line-height:1.3em;}

    .modal {position:absolute;z-index:100000;width:100%;height:100%;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,0.5);}
    .modal .modal-box {width:80%;margin:50px auto;border-radius:10px;background-color:#fff;padding:15px;box-sizing:border-box;border:1px solid #999;position:relative;}
    .modal .modal-box .btn-close-modal {width:30px;height:30px;border-radius:30px;background-color:#000;color:#ddd;position:absolute;top:-12px;right:-12px;padding:8px;box-sizing:border-box;}

    #event-policy {padding:0 5% 3px 5%;}
    .agreement {font-size:12px;color:#777;white-space:nowrap;}
    .text-show-policy {font-size:12px;color:#bbb;white-space:nowrap;}
    .policy-detail-title {font-size:18px;color:#555;font-weight:bold;padding:10px;}
    .policy-detail-contents {color:#777;line-height:17px;border-radius:5px;padding:10px;text-align:left;font-size:15px;}

    #quiz-question {font-size:14px;line-height:1.5em;color:#555;word-break:keep-all;}

    input[type="text"]::-webkit-input-placeholder {
        color:gray;
    }
</style>
<div id="ad-event-wrapper" class="b-coolgray-2">
    <div id="ad-img">
        <img src="{{ ad_event.template_data.image }}"/>
    </div>
    <div id="ad-event">
{#        block-hide#}
        <div class="ad-content">
            <div class="content-top">
                <div id="quiz-question" class="table-cell"><b>Q. </b>{{ ad_event.template_data.quiz }}</div>
                <div id="event-policy" class="font-13 c-gray-5 block-hide">
                    <div class="display-table align-left mtop-5">
                        <label class="agreement" for="checkbox-policy">
                            <input type="checkbox" id="checkbox-policy" class="checkbox agree">
                            개인정보 수집과 이벤트 약관 동의
                        </label>
                        <div class="table-cell align-right">
                            <button id="btn-show-policy" class="text-show-policy">
                                원문보기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-bottom display-table">
                <div class="content-bottom-left">
                    <input type="text" id="input-ad-answer" placeholder="답변 입력"/>
                </div>
                <div class="content-bottom-right">
                    <button id="btn-ad-submit" class="font-15 strong b-red-1 c-white">등록하기</button>
                </div>
            </div>
            <div class="text-apply-done block-hide">
                응모가 완료되었습니다.<br>
                당첨자 발표는 {{ ad_event.template_data.announce_date|time_format:"md" }} 입니다.
            </div>
        </div>
    </div>
</div>
{#class="block-hide"#}
<div id="modal-policy-detail" class="modal block-hide">
    <div class="modal-box">
        <div class="modal-head"><div class="policy-detail-title">개인정보 수집과 이벤트 약관</div></div>
        <div class="modal-body">
            <div class="policy-detail-contents">
                ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.<br>
                <div style="padding-left:10px;font-size:0.9em;">
                    1) 개인정보를 제공받는자: (주)버즈니, {{ ad_event.template_data.vendor }}<br>
                    2) 개인정보를 제공받는 자의 이용목적:  생방송 알림설정을 통한 이벤트 당첨확인 및 경품발송 진행<br>
                    3) 수집하는 개인정보 항목 : 핸드폰 번호<br>
                    4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간: 이벤트 당첨발표일로부터 3개월(고객문의 대응 목적) 후 완전삭제
                </div>
                <div class="clear-5"></div>
                ※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.
            </div>
        </div>
        <div class="btn-close-modal"><svg viewBox="0 0 100 100">
            <line x1="15" y1="15" x2="85" y2="85" stroke="#fff" stroke-width="15" stroke-linecap="round" />
            <line x1="85" y1="15" x2="15" y2="85" stroke="#fff" stroke-width="15" stroke-linecap="round" />
        </svg></div>
    </div>
</div>
<script type="text/javascript">
    var answerData = {answer:'', phone:''};

    $(function(){
        var event_id = "{{ ad_event.stat_id }}".split('.')[2];
        var event_type = "quiz";
        var $input_ad_answer = $('#input-ad-answer');
        var $btn_ad_submit = $('#btn-ad-submit');

        sendStat("ad/event/show", {entity_id:Item.entity_id, from:"item", type:event_type});

        // 아이폰에서 placeholder 가 안 보이는 버그 해결
        setTimeout(function() {
            $input_ad_answer.prop('placeholder', "답변 입력");
        }, 100);

        checkAdEventApply();

        $.Fastclick($('#btn-show-policy'), function() {
            console.log('btn-show-policy');
            $('#modal-policy-detail').show();
            $('html, body').css('overflow', 'hidden');
        });

        $('#modal-policy-detail').click(function() {
            var $target = $(event.target);
            if($target.attr('id') === 'modal-policy-detail'
                || $target.hasClass('btn-close-modal')
                || $target.parents('.btn-close-modal').length
            ) {
                $('#modal-policy-detail').hide();
                $('html, body').css('overflow', 'auto');
            }
            event.preventDefault();
            event.stopPropagation();
        });

        $.Fastclick($("#btn-ad-submit"), function(){
            var answer = $input_ad_answer.val();

            if(answerData.answer === '') {
                if(answer.trim() === '') {
                    native_send_toast("답변을 입력해주세요^^");
                    $('#input-ad-answer').focus();
                    return;
                }
                answerData.answer = answer.trim();

                native_send_toast("답변이 등록되었습니다!\n\n 연락처를 입력해주시면 \n응모가 완료됩니다.");

                $('#quiz-question').hide();
                $('#event-policy').css('display', 'table-cell');

                $input_ad_answer.val('010-');
                $input_ad_answer.prop('placeholder', "010-").prop('type', 'tel');
                $input_ad_answer.focus();
                $input_ad_answer.keyup(function() {
                    var v = this.value.match(/\d*/g).join('');
                    if(v.length > 10)
                        v = v.match(/(\d{0,3})(\d{0,4})(\d{0,4})/).slice(1).join('-');
                    else
                        v = v.match(/(\d{0,3})(\d{0,3})(\d{0,4})/).slice(1).join('-');
                    this.value = v.replace(/-*$/g, '');
                });


                /*

                    if(v.length == 3)
                        v += '-';
                    else if(v.length > 10)
                        v = v.match(/(\d{0,3})(\d{0,4})(\d{0,4})/).slice(1).join('-').replace(/-*$/g, '');
                    else
                        v = v.match(/(\d{0,3})(\d{0,3})(\d{0,4})/).slice(1).join('-').replace(/-*$/g, '');
                    this.value = v;

                 */
                $btn_ad_submit.html('응모하기');
            } else {
                // 약관 동의 검사
                var checkedPolicy = $('#checkbox-policy').prop("checked");
                if(!checkedPolicy) {
                    native_send_toast("개인정보의 수집 및 이용에 동의해주세요. \n동의하지 않을 시 이벤트 참여가 불가능합니다.");
                    return;
                }

                // 연락처 유효성 검사
                var phone = answer.replace(/-/g, '');
                if(!phone) {
                    native_send_toast("연락처를 입력해주세요^^");
                    return false;
                } else if(!(phone.match(/^\d+$/) && phone.length >= 10)) {
                    native_send_toast("정확한 연락처를 입력해주세요.");
                    return false;
                }
                answerData.phone = phone;

                sendApi('event_answer/save', {
                    event_id: event_id,
                    type: 'answer',
                    start_date: "{{ ad_event.start_time }}".substring(0, 8),
                    value: JSON.stringify(answerData)
                }, function(re) {
                    if(re.success && re.result.data !== 0) {
                        sendStat("ad/event", {entity_id:Item.entity_id, from:"item", type:event_type, answer:JSON.stringify(answerData)});

                        native_send_toast("{{ ad_event.template_data.submit_message }}");
                        doneAdEventApply();
                    } else {
                        native_send_toast("오류가 발생하였습니다. 다시 시도해주세요.");
                    }
                });
            }
        });

        $input_ad_answer.on("focus", function() {
            $('#float_bt').hide();
            $('.item-bottom').hide();
        }).on("focusout", function() {
            $('#float_bt').show();
            $('.item-bottom').show();
        });

        function checkAdEventApply() {
            sendApi("event_answer/getInfo", {
                event_id: event_id,
                type: "answer"
            }, function(re) {
                console.log(re);
                var data = re.result.data;
                if(data.length === 1) {
                    var answer = (data[0].value_type === 'dict' ? data[0].value : JSON.parse(data[0].value));
                    doneAdEventApply();
                    console.log(answer);
                }
            });
        }

        function doneAdEventApply() {
            $(".content-top, .content-bottom").hide();
            $("#event-policy, .content-bottom-left, .content-bottom-right").hide();
            $(".text-apply-done").show();
        }
    });
</script>