{% load humanize %}
{% load filters %}
<!-- 상품상세 할인/적립 혜택 배너 -->
<div class="
    {% if item.genre2 == "hmall" and datetime >= '201812241000' and datetime <= '201812311000' %}
        link-service banner
    {% else %}
        link-buy banner
    {% endif %}
        "
    {% if item.genre2 == "hmall" and datetime >= '201812241000' and datetime <= '201812311000' %}
        url-path="event/event"
        data-id="hmall_20181224"
    {% else %}
        url-path="buyclick"
        data-url="{{ item.url }}"
        data-entity_id="{{ item.id }}"
    {% endif %}
    data-from="item_banner"
    data-site="{{ item.genre2 }}"
    data-cate="{{ item.cate1 }}"
    data-price="{{ item.price }}"
    data-live="{{ item.live_status }}">
    {% if item.genre2 == "lottemall" %}
        <img src="{{ thum }}/smart/https://i.imgur.com/sxFjzK4.png" alt="5%할인" />
    {% endif %}
    {% if item.genre2 == "lotteonetv" %}
    {# <img src="{{ thum }}/smart/https://i.imgur.com/jlqGtCV.png" alt="7%할인"/> #}
        <img src="{{ thum }}/smart/https://i.imgur.com/WcDorG3.png" alt="5%할인" />
    {% endif %}
    {% if item.genre2 == "gsmyshop" %}
        {% if date2 == '20181213' %}
            <img src="{{ thum }}/smart/https://i.imgur.com/7MmkGQl.png"/>
        {% endif %}
    {% endif %}
    {% if item.genre2 == "gsshop" %}
        {% if date2 == '20181213' %}
            <img src="{{ thum }}/smart/https://i.imgur.com/7MmkGQl.png"/>
        {% else %}
            <img src="{{ thum }}/smart/https://i.imgur.com/kNPOC4v.png"/>
        {% endif %}
    {% endif %}
    {% if item.genre2 == "hnsmall" %}
        {% if date2 < 20190101 %}
            <img src="{{ thum }}/smart/https://i.imgur.com/NNnQUvz.png"/>
        {% endif %}
    {% endif %}
    {% if item.genre2 == "hmall" %}
        {% if datetime >= '201812241000' and datetime <= '201812311000' %}
            <img src="{{ thum }}/smart/https://i.imgur.com/mSulptu.png"/>
        {% endif %}
    {% endif %}
    {% if item.genre2 == "ssgshop" %}
    {# <img src="{{ thum }}/smart/https://s1.postimg.org/58i97ir67/image.jpg"/> #}
    {% endif %}
    {% if item.genre2 == "kshop" %}
        {% if date2 < '20190101' %}
            <img src="{{ thum }}/smart/https://i.imgur.com/oOhANdC.jpg"/>
        {% else %}
            <img src="{{ thum }}/smart/https://i.imgur.com/Ve0TnlV.jpg"/>
        {% endif %}
    {% endif %}
    {% if item.genre2 == "wshop" %}
        <img src="{{ thum }}/smart/https://i.imgur.com/DZ9YBRb.png"/>
    {% endif %}
    {% if item.genre2 == "immall" %}
        {% if date2 > '20181209' and date2 < '20190101' %}
            <img src="https://i.imgur.com/dzlwLzC.png" alt="주말/평일 10% 할인"/>
        {% endif %}
    {% endif %}
</div>