{# 광고 - 상품 알람등록 #}
<style>
    .box-lottery .checkbox {
    -webkit-appearance:none; margin:-4px 3px 0 0;vertical-align: top; background: #fff; -webkit-background-size: 18px 18px;
    border: 1px solid #ddd; box-sizing: border-box; border-radius: 5px; display: inline-block; height: 18px;
    width: 18px; position: relative; -webkit-appearance: none;
}
.box-lottery .checkbox:checked {
    -webkit-appearance:none;
    background:#fff url('http://cache.m.ui.hsmoa.com/media/img/checkbox_on.png') no-repeat 50% 50%;
    -webkit-background-size: 20px 20px;
}
.box-lottery .btn-policy-detail {background: none; border:0; height:auto; padding:0px;line-height: 15px;}
.box-lottery .policy-detail-contents {color: #666; line-height: 15px; padding: 3px 0; border: none;}

</style>
<div id="alarm_event" class=" b-coolgray-2">
    <div id="alarm_img" style="padding-top: 40.3%; position: relative;">
        <img src="{{ thum }}/720x0/center/smart/{{ alarm.img }}" style="width: 100%; position: absolute; top:0; left:0;" />
    </div>
    <div class="alarm-event" style=" min-height:124px; ">
        <div class="ad_block block-hide" style="font-size: 13px; text-align: center;padding: 16px;">
            <div class="font-13 c-gray-5">응모하시면 자동으로 알람이 설정됩니다.</div>
            <div style="width:280px; margin: 8px auto; text-align:left;">
                <input type="tel" value="" id="phone"
                       style="border:1px solid #ccc;width:170px; display:inline-block;height:34px; line-height: 34px; padding:0 8px;font-size:15px; font-weight:bold; border-radius: 3px;-webkit-appearance: none;" placeholder="경품받을 연락처 입력"/>
                <button id="submitPhone" class="font-15 strong b-red-1 c-white" style="display:inline-block;width:80px; height:36px; line-height: 36px; padding:0; border-radius: 3px; margin-left:3px;">응모하기</button>
            </div>
            <div class="clear-9"></div>
            <div id="block_lottery" class="box-lottery align-left " style="width:280px;margin:0 auto;line-height: 12px; font-size: 12px;">
                <div>
                    <input type="checkbox" id="event_policy" class="checkbox" name="" style="">
                    <label for="event_policy" class=" c-gray-4 spacing ">개인정보의 수집 및 이용에 동의합니다.</label>
                    <a href="javascript:$('#policy_detail').slideToggle(250);" class="font-12 spacing  c-gray-4">(원문보기)</a>
                </div>
                <div id="policy_detail" class="block-hide">
                    <div class="align-left spacing policy-detail-contents" style="line-height:1.3em; ">
                        ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.<br>
                        1) 개인정보를 제공받는자: (주)버즈니, {{ alarm.vendor }}<br>
                        2) 개인정보를 제공받는 자의 이용목적:  생방송 알림설정을 통한 이벤트 당첨확인 및 경품발송 진행<br>
                        3) 수집하는 개인정보 항목 : 핸드폰 번호<br>
                        4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간: 이벤트 당첨발표일로부터 3개월(고객문의 대응 목적) 후 완전삭제
                        <div class="clear-5"></div>
                        ※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="c-gray-4 font-14 align-center ad_block_over block-hide font-15  " style="padding:40px 0; line-height: 1.3em; ">
            경품에 응모되었습니다.<br/>좋은 하루 되세요~
        </div>
    </div>
</div>
<script type="text/javascript">
    var alarmEvent = function(){
        console.log("ALARM EVENT SET :", Item.alarm_action_id);

        if (Item.alarm_action_id > 0) {
            $(".ad_block").hide();
            $(".ad_block_over").fadeIn(200);
        } else {
            $(".ad_block").fadeTo(200, 1);
            $(".ad_block_over").hide();
        }

        if(!is_ios_app()){
            $("#phone").on("click", function(){
                $("body").scrollTop($("#alarm_img").height());
            });
        }

        $(document).on('keyup','#phone', function(e) {
            var t = $(this).val().replace(/-/gi, "");
            if( $(this).val().length >= 4 && $(this).val().length <= 8){
                $(this).val( t.substr(0,3) + "-" + t.substr(3,100) );
            }else if ($(this).val().length > 9){
                $(this).val( t.substr(0,3) + "-" + t.substr(3,4) + "-" + t.substr(7,100) );
            }
        });

        $.Fastclick($("#submitPhone"), function(){
            var phone = $('#phone').val();
            var isPolicy = $('#event_policy').prop("checked");
            if(!isPolicy) {
                native_send_toast("개인정보의 수집 및 이용에 동의해주세요. \n동의하지 않을 시 이벤트 참여가 불가능합니다.");
                return;
            }
            if (phone){
                if (phone.length > 9){
                    sendStat("ad/alarm", {entity_id:Item.entity_id, from:"item", flag:phone}, function(re){
                        sendApi("user/update", {fld:"phone", value:phone}, function(re){
                            if (re.success == true){
                                sendApi("alarm_action/save", {action:'entity', action_id:Item.entity_id, service:"tvshop", status:0, is_force: true}, function(re){
                                    if (re.success == true) {
                                        $(".ad_block").hide();
                                        $(".ad_block_over").fadeIn(200);
                                        native_send_toast("완료되었습니다. 감사합니다^^");
                                    } else {
                                        native_send_toast("오류가 발생하였습니다. 다시 시도해주세요.");
                                    }
                                });
                            }
                        });
                    });
                } else {
                    native_send_toast("정확한 연락처를 입력해주세요^^");
                    $('#phone').focus();
                }
            } else {
                native_send_toast("경품 받으실 연락처를 입력해주세요^^");
                $('#phone').focus();
            }
        });
    }
</script>