<button id="move_up" class="fix-image-quality"
        style="background: url('{{ media }}/hsmoa/button/move_up.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0;
                bottom:{% if bottom %}{{ bottom }}{% else %}4px{% endif %};right:2px; position:fixed;z-index:99999;">
</button>
<script>
$.Fastclick("#move_up", function(){
    $("#float_bt").hide();
    window.scrollTo(0, 0);
});
</script>