<style>
    #quality_cs_set {margin-bottom: 10px;}
    #quality_cs_set .cs-btn {font-size:15px;display:inline-block; margin:10px 15px 5px; padding: 10px 17px;color:#fff; background:#19bdc4; border-radius:19px }
    #quality_cs_set #quality_cs {background: #fff; padding: 5px 0 15px 0; border: 5px solid #fff; overflow: hidden;}
    #quality_cs_set #quality_cs #quality_cs_guide {font-weight:bold; margin:13px 0px 5px 0px; text-align:center; font-size:14px; -moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;}
    #quality_cs_set #quality_cs #quality_cs_guide_after{text-align:center; font-size:12px; color: #666;}
    
    #quality_cs_set #accordion ,#accordion ul {list-style-type: none;}
    #quality_cs_set #accordion { background: #fff; margin: 12px 10px 9px 10px;}
    #quality_cs_set #accordion .link { cursor: pointer; margin-top:4px; border:1px solid black; display: block;	padding: 13px 0px 13px 15px;	color: #4D4D4D;	font-size: 13px; font-weight: 700; position: relative;-webkit-transition: all 0.2s ease;	-o-transition: all 0.2s ease;transition: all 0.2s ease;}
    #quality_cs_set #accordion li.open .link {color: white;background: #666; border:0px}
    
    #quality_cs_set .submenu {display: none;background: #fff;font-size: 13px;}
    #quality_cs_set .submenu li {border-left: 1px solid #ccc; border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
    #quality_cs_set .submenu li span {display: block;cursor:pointer;text-decoration: none;color: black;padding: 11px;padding-left: 25px;}
    #quality_cs_set .submenu li:last-child {border-bottom: 1px solid #ccc;}
    #quality_cs_set #survey_text {border-radius:0; border:1px solid #bbb; -webkit-appearance:none; width: 94%; padding:6px; line-height: 17px; height:70px;}
</style>

<div id="quality_cs_set" class="block-hide">
    <div id="quality_cs">
        <div id="quality_cs_guide">검색결과가 마음에 드셨나요?</div>
        <div id="quality_cs_select" style="text-align:center">
            <div id="cs_good_btn" class="cs-btn">만족해요</div>
            <div id="cs_bad_btn" class="cs-btn">아쉬워요</div>
        </div>
        <div id="quality_cs_guide_after" style="margin:14px 0px 4px">여러분의 소중한 의견은 더 좋은 서비스를 만드는데 사용됩니다</div>
        <ul id="accordion" class="block-hide">
            <li>
                <div class="link" data-type="search">+ 상품 찾기가 어려워요</div>
                <ul class="submenu" data-type="main">
                    <li><span data-order="1">관련 없는 상품이 나와요</span></li>
                    <li><span data-order="2">원하는 사이즈/색상/브랜드가 없어요</span></li>
                    <li><span data-order="3">기타</span></li>
                </ul>
            </li>
            <li>
                <div class="link" data-type="function">+ 기능이 불편해요</div>
                <ul class="submenu" data-type="main">
                    <li><span data-order="1">필터가 마음에 안들어요</span></li>
                    <li><span data-order="2">정렬이 마음에 안들어요</span></li>
                    <li><span data-order="3">연관 검색어가 도움이 안돼요</span></li>
                    <li><span data-order="4">기타</span></li>
                </ul>
            </li>
            <li>
                <div class="link" data-type="etc">+ 기타/의견건의</div>
                <ul class="submenu" data-type="etc">
                    <li>
                        <div data-type="etc" class="cs_specific disblock textfield" style="margin:0px 0px 30px 0px; padding:4px 15px 7px 20px">
                            <div class="cs_text">
                                <textarea id="survey_text" autocomplete="off" spellcheck="false" class="font-13"  maxlength="100" placeholder="의견을 자유롭게 말해주세요."></textarea>
                            </div>
                            <div class="clear-5"></div>                                                
                            <button onclick="send_cs_quality('etc');" class="bt-red strong pull-right" style="width:100%; font-size:13px; color: white; background: #19bdc4;height:30px; line-height:30px;">의견 보내기</button>
                        </div>
                    </li>   
                </ul>
            </li>
        </ul>

        <div data-type="main" class="cs_specific textfield block-hide" style="margin:0px 0px 30px 0px; padding:4px 15px 7px 20px">
            <div class="cs_text">
                <textarea id="survey_text" autocomplete="off" spellcheck="false" class=" font-13"  maxlength="100" placeholder=""></textarea>
            </div>
            <div class="clear-5"></div>
            <button onclick="send_cs_quality('main');" class="bt-red strong pull-right" style="width:100%; font-size:13px; color: white; background: #19bdc4;height:30px; line-height:30px;">의견 보내기</button>
        </div>
    </div>
</div>

<script>
//SEARCH CS init function
function show_cs_quality(){
    $quality_cs_set = $("#quality_cs_set");
    $quality_cs_set.appendTo("#scroller").show();
    $window_width = $(window).width();
    if($window_width<540){
        $quality_cs_set.after($("<div></div>"));
    }else if($window_width<720){        
        $quality_cs_set.after($("<div></div><div></div>"));
    }else if($window_width>=720){       
        $quality_cs_set.after($("<div></div><div></div><div></div>"));
    }
    Search.cs_asked = true;
    cs_quality();
}

//SEARCH CS action function
function cs_quality(){
    var cs_example = {
        "search":{
            "1":"[선택사항] \n예) ○○○을 검색했는데 △△△가 나와요",
            "2":"[선택사항] \n예) ○○○이 없어요",
            "3":"의견을 자유롭게 말해주세요"
        },
        "function":{
            "1":"[선택사항] \n예) ○○○ 할 수 있는 필터를 추가해주세요",
            "2":"[선택사항] \n예) ○○○ 할 수 있는 정렬을 추가해주세요, 낮은 가격순이 안보여요",
            "3":"[선택사항] \n예) 연관 검색어가 다양했으면 좋겠어요",
            "4":"의견을 자유롭게 말해주세요"
        }
    };
    // 마음에 들어요 버튼 클릭 시,
    $("#cs_good_btn").click(function(){
        sendStat("search/quality", {"from": "good", "query": Search.query, "flag": "만족해요"}, function (re) {});
        native_send_toast('소중한 의견 감사드립니다.\n더 좋은 서비스로 보답하겠습니다.');
        $("#quality_cs_set").fadeOut(400);
    });
    // 마음에 안들어요 버튼 클릭 시,
    $("#cs_bad_btn").click(function(){
        sendStat("search/quality", {"from": "bad", "query": Search.query, "flag": "아쉬워요"}, function (re) {});        
        //cs 목록 출력
        $("#quality_cs_guide").text("어떤 점이 불편했는지 알려주세요");
        $("#quality_cs_guide_after").hide();
        $("#quality_cs_select").hide();
        $("#accordion").fadeIn(300);

        $("#accordion").find('.link').click(function() {
            cs_cate1_txt = $(this).text();
            cs_cate1 = $(this).data('type');
            
            if (cs_cate1 == 'etc'){
                cs_cate2 = "";
                cs_cate2_txt = "";
            }
            //cs 2단계 목록 오픈
            var $submenu = $(this).next(); //submenu
            var $li = $(this).parent(); //li
            $li.toggleClass("open");
            $submenu.slideToggle();
            $("#accordion").find('.submenu').not($submenu).slideUp().parent().removeClass('open');
        });

        //2단계 클릭시 의견 제출 버튼 및 상세 의견 입력창 노출
        $('.submenu').find('span').click(function() {
            var $submenu = $(this).parent().parent();
            var $type = $submenu.data('type');
            //클릭한 데이터 종류
            cs_cate2=$(this).data('order');
            cs_cate2_txt = $(this).text();      
            //타입에 맞는 텍스트 입력창 select
            var $cs_specific = $('.cs_specific[data-type="'+$type+'"]');
            //텍스트 입력창 예시 채워넣기
            $cs_specific.find('#survey_text').attr("placeholder",cs_example[cs_cate1][cs_cate2]); 

            $submenu.find('li').removeClass('open');
            $(this).parent().addClass('open');
            $cs_specific.appendTo($(this).parent()).hide().fadeIn("fast");
        });
    });   
}

//SEARCH CS send function
function send_cs_quality(type){
    var $cs_specific = $('.cs_specific[data-type="'+type+'"]');    
    var detail_text = $cs_specific.find('#survey_text').val();
    
    
    if (cs_cate1 == 'etc' || (cs_cate1 == 'search' && cs_cate2 == '3') || (cs_cate1 == 'function' && cs_cate2 == '4')){
        if (detail_text == ''){
            alert("의견을 입력해주세요");
            return;
        }
    }

    $("#quality_cs_set").fadeOut(400);
    var survey_text = cs_cate1_txt+"|"+cs_cate2_txt+"|"+detail_text;
    sendStat("search/quality", {"from": cs_cate1+cs_cate2, "query": Search.query, "flag": survey_text}, function (re) {});
    native_send_toast('소중한 의견 감사드립니다.\n더 좋은 서비스로 보답하겠습니다.');
}
</script>