{% load humanize %}
{% load filters %}
<ul>
    {% if result.filter.filter_category %}
    <li class="filter-group">
        <div class="filter-open title" for="filter-category">
            카테고리
        </div>
        <div class="line-top"></div>
        <ul class="inner filter-category">
            <li class="filter-set default on"
                url-path="search/cate"
                    data-ncate1=""
                    data-ncate2=""
                    data-ncate3=""
                    data-ncate4="">전체 카테고리</li>
            {% for item in result.filter.filter_category %}
            <li class="filter-set"
                url-path="search/cate"
                data-ncate1="{{ item.ncate1 }}"
                data-ncate2="{{ item.ncate2 }}"
                data-ncate3="{{ item.ncate3 }}"
                data-ncate4="{{ item.ncate4 }}">{{ item.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if result.filter.filter_genre2 %}
    <li class="filter-group">
        <div class="filter-open title" for="filter-site">쇼핑몰</div>
        <div class="line-top"></div>
        <ul class="inner filter-site">
            <li class="filter-open-set default on" for="filter-{{ item.genre2 }}"
                url-path="search/channel"
                data-genre2="{{ item.genre2 }}">전체 쇼핑몰</li>
            {% for item in result.filter.filter_genre2 %}
            <li class="filter-open-set" for="filter-{{ item.genre2 }}"
                url-path="search/channel"
                data-genre2="{{ item.genre2 }}">{{ item.name }}</li>
                <ul class="inner filter-{{ item.genre2 }}">
                    {% for re in item.sub_genre2 %}
                    <li class="filter-set"
                        url-path="search/channel"
                        data-genre2="{{ re.genre2 }}">{{ re.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if result.filter.filter_pricerange %}
    <li class="filter-group">
        <div class="filter-open title" for="filter-price">가격대</div>
        <div class="line-top"></div>
        <ul class="inner filter-price">
            <li class="filter-set default on"
                url-path="search/price"
                data-price_min="0"
                data-price_max="0">전체 가격대</li>
            {% for item in result.filter.filter_pricerange %}
            <li class="filter-set"
                url-path="search/price"
                data-price_min="{{ item.start|price_round }}"
                data-price_max="{{ item.end|price_round }}">
                {% if item.start == 0 %}{{ item.end|price_round|intcomma }}원 이하
                {% elif item.end == 0 %}{{ item.start|price_round|intcomma }}원 이상
                {% else %} {{ item.start|price_round|intcomma }}원 ~ {{ item.end|price_round|intcomma }}원 {% endif %}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
</ul>