{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}{{ re.title }}{% endblock %}
{% block meta %}
    <meta property="fb:app_id" content="1552436168327778" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ re.title }}" />
    <meta property="og:image" content="{{ thum }}/smart/{{ re.share_img }}" />
    <meta property="og:description" content="{{ re.share_title }}" />
    <meta property="og:url" content="http://o.buzzni.com/event/event?id={{ re.event_id }}" />
{% endblock %}
{% block css %}
    <style>
        html, body {background: {{ re.background_color }};}
        input[type="text"], input[type="tel"], input[type="number"], textarea {width: 100%;padding: 10px 15px 7px 15px;font-size: 1.1rem;margin: 5px 0;border: 1px solid #d0d0d0;border-radius: 5px;box-sizing: border-box;}
        input.checkbox {-webkit-appearance: none; float: left; margin: -1px 7px; background: #fff; border: 1px solid #ccc;
            border-radius: 5px; display: block; width: 16px; height: 16px; position: relative;
        }
        .wrapper-policy {padding-bottom: 5px;padding-top: 5px;font-size: 0.8rem;}
        .wrapper-policy .policy {background: rgba(225, 225, 225, 0.5);margin: 10px 10px 20px 10px;color: #777;line-height: 15px;border-radius: 5px;padding: 10px;text-align: left;display: none;}
        .wrapper-policy .policy p {padding-left: 10px;}
        .wrapper-policy .policy ol.event-context {list-style-type: none;padding: 0;margin: 10px;line-height: 18px;}
        .wrapper-policy .policy ol.event-context li {margin: 10px 0px;}
        .wrapper-policy .policy ol.event-context ul {padding: 0px 10px;}
        .wrapper-policy .agreement {color: #fce7d9;font-weight: normal;line-height: 20px}
        .wrapper-policy .agreement input.checkbox:checked {border: 1px solid #ccc; background: #fff url('{{ thum }}/smart/{{ img }}/checkbox_on.png') no-repeat 50% 50%; -webkit-background-size: 16px 16px;}
        .wrapper-policy .agreement input.checkbox.agree {border: 1px solid #ccc; border-radius: 5px; width: 20px; height: 20px; background: #fff;float: left;}
        .wrapper-policy .agreement input.checkbox.agree:checked {border: 1px solid #ccc;background: #fff url('{{ thum }}/smart/{{ img }}/checkbox_on.png') no-repeat 50% 50%; -webkit-background-size: 20px 20px;}
        .wrapper-policy .show-text {color: #ffe3ab;background: none; border: 0; border-bottom: 1px solid #ffe3ab; height: auto; padding: 0px;}
        .header img {width: 100%;text-align: center;}
        .main {padding: 0;text-align: center;}
        .main .wrapper-img-method img {width: 300px;}
        .main .wrapper-step {
            width: 100%;
        }
        .main .wrapper-step .step {
            margin: 15px 0 15px 0;
        }
        .main .wrapper-step .step .step-title {
            padding: 10px 0 2px 0;
        }
        .main .wrapper-step .step .step-content {
            padding: 5px 15px 5px 15px;
        }
        .main .wrapper-step .step .step-content .wrapper-item {
            padding: 10px 0 25px 0;
            white-space: nowrap;
        }
        .main .wrapper-step .step .step-content .wrapper-item::after {
            content: "";
            display: block;
            clear: both;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-text {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-text label {
            vertical-align: bottom;
            font-size: 0.95em;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-text.direction-vertical {
            display: block;
            text-align: left;
            line-height: 1.6em;
            margin-left: 5px;
            margin-bottom: 5px;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-text.direction-vertical input[type="checkbox"] {
            vertical-align: top;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-text.direction-vertical label {
            color: #555;
            display: inline-block;
            white-space: normal;
            vertical-align: top;
            box-sizing: border-box;
            word-break: keep-all;
            width: calc(100% - 20px);
            line-height: 1.1em;
            margin: 3px 0;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-img {
            float: left;
            padding: 5px 5px 10px 5px;
            vertical-align: top;
            display: inline-block;
            box-sizing: border-box;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-img .img-wrapper {
            position: relative;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-img.selected .img-wrapper::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: url('{{ media }}/img/tick.svg');
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .main .wrapper-step .step .step-content .wrapper-item .item-img label {
            font-size: 3.5vw;
            line-height: 3.8vw;
            margin-top: 5px;
            font-weight: bold;
            display: block;
        }
        .main .wrapper-step .step .step-content .wrapper-select::after {
            content: "▼";
            position: absolute;
            right: 10px;
            top: 34%;
            color: #545454;
        }
        .main .wrapper-step .step .step-content .wrapper-select {
        {% comment %} margin:5px auto; {% endcomment %}{% comment %} width:70%; {% endcomment %} width: 100%;
            box-sizing: border-box;
            position: relative;
        }
        .main .wrapper-step .step .step-content select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px 10px 10px 20px;
            box-sizing: border-box;
            background-color: #f5f5f5;
            border: 1px solid #d0d0d0;
            border-radius: 5px;
            font-family: inherit;
            font-size: 1.1rem;
        }
        .main .wrapper-step .step .step-content .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }
        .main .wrapper-step .step .step-content .embed-container iframe,
        .main .wrapper-step .step .step-content .embed-container object,
        .main .wrapper-step .step .step-content .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .main .wrapper-step .step .step-content .group-share {
            margin: 5px 0;
        }
        .main .wrapper-step .step .step-content .group-share .btn-share {
            width: 54px;
            height: 54px;
            border-radius: 27px;
            background-size: 65px 65px;
            margin-right: 12px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .main .wrapper-step .step .step-content .group-share .btn-share.btn-kakaotalk {
            background-color: #ffed32;
            background-image: url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/hsmoa/button/kakaotalk.png');
        }
        .main .wrapper-step .step .step-content .group-share .btn-share.btn-kakaostory {
            background-color: #FAD530;
            background-image: url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_kakaostory.png');
        }
        .main .wrapper-step .step .step-content .group-share .btn-share.btn-facebook {
            background-color: #41629F;
            background-image: url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_facebook.png');
        }
        .main .wrapper-step .step .step-content .group-share .btn-share.btn-sms {
            background-color: #F17A37;
            background-image: url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_sms.png');
        }
        .main .wrapper-step #wrapper-alarm-items {position: relative;background-color: rgba(0, 0, 0, 0.2);overflow-x: auto;-webkit-overflow-scrolling: touch;margin: 0;}
        .spinner-circle {
            box-sizing: border-box;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 5px solid rgba(255, 255, 255, 0.2);
            border-top-color: #FFF;
            animation: spin 1s infinite linear;
            margin: 30px auto 40px auto;
        }
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
        #phone::placeholder, #name::placeholder {
            color: #999999;
        }
        #shop {
            margin: 5px 0;
        }
        #shop select {
            padding: 10px 15px 7px 15px;
        }
    </style>
    <style>
        {{ re.custom_css|safe }}
    </style>
{% endblock %}

{% block container %}
    <div class="kakaotalk" style="background: #ffed32; color:#3f2223; position: fixed; bottom:9px; z-index:99999; font-size: 15px; line-height: 1.2em; cursor:pointer;
        left:50%; margin-left: -100px; width: 200px; border:1px solid #c3b71a; border-radius:20px; padding: 10px 0; text-align: center; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2);">
        <div style="display: inline-block; overflow: hidden; width: 20px; height: 18px; margin-bottom: -3px;">
            <img src="{{ media }}/hsmoa/button/kakaotalk.png" style="width: 32px;margin: -6px -7px; max-width: 300%;">
        </div>
        카카오톡 공유하기
    </div>
    <div class="header">
        {% for img_url in re.header_imgs %}
            <img src="{{ thum }}/smart/{{ img_url }}"/>
        {% endfor %}
    </div>
    <div class="main">
        <div class="wrapper-step">
            {% for step in re.steps %}
                <div id="step{{ forloop.counter }}"
                     class="{% if step.name%}step-{{ step.name }}{% endif %} step {{ step.type }} {% if step.option.required %}required{% elif step.option.remind %}remind{% endif %}"
                     data-item_type="{{ step.option.item_type|default:"" }}"
                     data-input_type="{{ step.option.input_type|default:"" }}"
                     data-alert_msg="{{ step.option.alert_msg }}"
                     data-confirm_msg="{{ step.option.confirm_msg }}"
                     data-max_select="{{ step.option.max_select|default:"" }}"
                     data-submit_msg="{{ step.option.submit_msg }}">
                    {% if 'content_only' not in step.option or not step.option.content_only %}
                        <div class="step-title">{{ step.title|safe }}</div>
                    {% endif %}
                    <div class="step-content" style="{% if step.option.content_only %}padding-left:0;padding-right:0;{% endif %}">
                        {% if step.type == 'select' %}
                            <div class="wrapper-item">
                                {% if step.option.item_type == 'text' %}
                                    {% for item in step.items %}
                                        <div class="item item-text direction-vertical">
                                            <input type="{{ step.option.input_type }}" id="input-step{{ forloop.parentloop.counter }}-{{ forloop.counter }}" name="step{{ forloop.parentloop.counter }}-{{ step.option.input_type }}" value="{{ forloop.counter }}"/>
                                            <label style="color:{{ step.option.item_text_color }};" for="input-step{{ forloop.parentloop.counter }}-{{ forloop.counter }}">{{ item }}</label>
                                        </div>
                                    {% endfor %}
                                {% elif step.option.item_type == 'img' %}
                                    {% for item in step.items %}
                                        <div class="item item-img" id="item-step{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-value="{{ forloop.counter }}" style="width:calc(100% / {{ step.option.item_column|default:"2" }});">
                                            <div class="img-wrapper">
                                                <img src="{{ thum }}/smart/{{ item.img }}">
                                            </div>
                                            <label style="color:{{ step.option.item_text_color }};">{{ item.text|safe }}</label>
                                        </div>
                                        {% if forloop.counter|divisibleby:step.option.item_column %}
                                            <div style="clear:both;"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% elif step.type == 'dropdown' %}
                            <div class="wrapper-select">
                                <select>
                                    {% for item in step.items %}
                                        {% if forloop.first %}
                                            <option value="{{ forloop.counter0 }}" disabled selected hidden>{{ item }}</option>
                                        {% else %}
                                            <option value="{{ forloop.counter0 }}">{{ item }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif step.type == 'alarm' %}
                            <div id="wrapper-alarm-items" style="{% if step.option.box_color != '' %}background-color:{{ step.option.box_color|default:"" }}{% endif %}">
                                <input type="hidden" id="api-params" {{ step.option.api_params|to_data_attr }} />
                                <input type="hidden" id="more-params" {{ step.option.more_params|to_data_attr }} />
                                <div id="alarm-items" data-api_url="{{ step.option.api_url }}" data-more_url="{{ step.option.more_url }}" style="position:relative;margin:0;vertical-align:top;white-space:nowrap;overflow-y:hidden;padding:10px 10px 2px 10px;">
                                    <div class="spinner-circle"></div>
                                </div>
                            </div>
                            <div style="padding-top:10px;font-size:0.9em;color:{{ step.option.color|default:'#000' }};">※ 방송 전 알람을 해지하시면 응모가 취소됩니다.</div>
                        {% elif step.type == 'user_info' %}
                            {% for item in step.items %}
                                {% if item == "phone" %}
                                    <input type="tel" id="phone" class="input-area" placeholder="010-0000-0000" value="010-" minlength="9" maxlength="14"/>
                                {% elif item == "shop" %}
                                    <div id="shop" class="wrapper-select">
                                        <select>
                                            <option value="0" disabled selected hidden>구매 쇼핑사</option>
                                            <option value="immall">공영홈쇼핑</option>
                                            <option value="lottemall">롯데홈쇼핑</option>
                                            <option value="lotteonetv">롯데OneTV</option>
                                            <option value="shopnt">쇼핑엔티</option>
                                            <option value="ssgshop">신세계TV쇼핑</option>
                                            <option value="hmall">현대홈쇼핑</option>
                                            <option value="hmallplus">현대홈쇼핑플러스샵</option>
                                            <option value="hnsmall">홈앤쇼핑</option>
                                            <option value="cjmall">CJ오쇼핑</option>
                                            <option value="cjmallplus">CJ오쇼핑플러스</option>
                                            <option value="gsshop">GSSHOP</option>
                                            <option value="gsmyshop">GSMYSHOP</option>
                                            <option value="kshop">K쇼핑</option>
                                            <option value="nsmall">NS홈쇼핑</option>
                                            <option value="nsmallplus">NS홈쇼핑샵플러스</option>
                                            <option value="bshop">SK스토아</option>
                                            <option value="wshop">W쇼핑</option>
                                        </select>
                                    </div>
                                {% elif item == "order_number" %}
                                    <input type="text" id="order_number" class="input-area" placeholder="주문번호" width="50%" />
                                {% elif item == "name" %}
                                    <input type="text" id="name" class="input-area" placeholder="성함" width="50%" />
                                {% elif item == "agreement" %}
                                    <div class="wrapper-policy">
                                        <div class="display-table align-left mtop-5">
                                            <label class="agreement" for="personal_policy" {% if step.option.color %}style="color:{{ step.option.color }}"{% endif %}>
                                                <input type="checkbox" id="personal_policy" class="checkbox agree"/>
                                                개인정보의 수집 및 이용에 동의
                                            </label>
                                            <div class="table-cell align-right">
                                                <button class="btn-policy-toggle font-12 spacing strong show-text"
                                                        data-target="policy_personal_detail"
                                                        {% if step.option.color %}style="color:{{ step.option.color }};border-color:{{ step.option.color }};"{% endif %}>
                                                    원문보기
                                                </button>
                                            </div>
                                        </div>
                                        <div id="policy_personal_detail" class="policy">
                                            <h1>※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.</h1>
                                            <ol class="event-context">
                                                <li>1) 개인정보를 제공받는 자 : ㈜버즈니{% if step.option.company %}, {{ step.option.company }}{% endif %}</li>
                                                <li>2) 개인정보를 제공받는 자의 이용목적 : 이벤트 경품 발송</li>
                                                <li>3) 수집하는 개인정보 항목 : 핸드폰 번호</li>
                                                <li>4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 : 본 이벤트 완전종료 시</li>
                                            </ol>
                                            <div class="clear-5"></div>
                                            <h1>※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.</h1>
                                        </div>

                                        <div class="display-table align-left mtop-9">
                                            <label class="agreement" for="event_policy" {% if step.option.color %}style="color:{{ step.option.color }}"{% endif %}>
                                                <input type="checkbox" id="event_policy" class="checkbox agree" />
                                                이벤트 참여 약관에 동의
                                            </label>
                                            <div class="table-cell align-right">
                                                <button class="btn-policy-toggle font-12 spacing strong show-text"
                                                        data-target="policy_event_detail"
                                                        {% if step.option.color %}style="color:{{ step.option.color }};border-color:{{ step.option.color }};"{% endif %}>
                                                    원문보기
                                                </button>
                                            </div>
                                        </div>
                                        <div id="policy_event_detail" class="policy">
                                            <h1>
                                                ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 및 이용방침과 이벤트 약관에 동의 하셔야 응모가 완료 됩니다.
                                            </h1>
                                            <br>
                                            <h3>이벤트 유의사항</h3>
                                            <ol class="event-context">
                                                <li>1) 본 이벤트는 "개인정보 수집 및 이용방침"과 "이벤트 참여 약관"에 동의하신 분들에 한하여 참여가 가능하고 경품 지급 대상이 됩니다.
                                                </li>
                                                <li>2) 이벤트 응모시 입력한 개인정보를 기준으로 경품이 지급됩니다.</li>
                                                <li>3) 개별 사정으로 인한 경품 변경 불가합니다.</li>
                                                <li>4) 온라인 해킹 등 기타 부정한 방법으로 참여한 경우 경품이 모두 취소되며, 법적 책임을 질 수 있습니다.</li>
                                                <li>
                                                    5) 경품 발송 불가의 경우는 아래와 같습니다.
                                                    <ul>
                                                        <li>-참여 시 기입한 고객 정보의 오류로 인한 오발송</li>
                                                        <li>-참여 시 기입한 정보가 허위이거나 온라인 해킹 등 기타 부정한 방법으로 참여한 경우</li>
                                                        <li>-통신 사의 설정으로 MMS가 스팸 메시지로 분류된 경우</li>
                                                    </ul>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% elif step.type == 'submit' %}
                            <button id="btn-submit" class="btn btn-submit" style="width:65%;">
                                <img src="{{ thum }}/smart/{{ step.option.btn_img }}" alt="입력완료"/>
                            </button>
                        {% elif step.type == 'img' %}
                            {% for item in step.items %}
                                <img src="{{ thum }}/smart/{{ item }}" style="padding:0 0 5px 0;">
                            {% endfor %}
                        {% elif step.type == 'link_btn' %}
                            <button class="link-service"
                                    url-path="{{ step.option.link_url }}"
                                    data-from="event_event,{{ re.event_id }}"
                                    {{ step.option.link_params|to_data_attr }}
                                    style="width:{{ step.option.width|default:'60%' }};margin:15px 0 0 0;">
                                <img src="{{ thum }}/smart/{{ step.option.btn_img }}">
                            </button>
                        {% elif step.type == 'video' %}
                            <div class="embed-container">
                                {{ step.items|safe }}
{#                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/v8GtbpiWLAM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
                            </div>
                        {% elif step.type == 'share' %}
                            <div class="group-share">
                                <button class="btn-share btn-kakaotalk"></button>
                                <button class="btn-share btn-kakaostory"></button>
                                <button class="btn-share btn-facebook"></button>
                                <button class="btn-share btn-sms"></button>
                            </div>
                        {% elif step.type == 'custom' %}
                            {{ step.content|safe }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="padding-bottom:70px;"></div>
    </div>
{% endblock %}

{% block list_scroll_end %}
{% endblock %}
{% block js_basic %}
    {% include "native/script/_script_alarm.html" %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ media }}/js/egjs/flicking.pkgd.min.js"></script>
    <script type="text/javascript">
        (function() {
            {% if re.event_id == 'story_20180912' or re.event_id == 'story1_20180912' %}
                {% if request.GET.share_type == 'my_story_share' %}
                    var share_type = true;
                    var share_xid = '{{ request.GET.from }}'.split('_')[1];
                {% else %}
                    var share_type = false;
                {% endif %}
            {% endif %}

            var app_version = '{{ request.session.device.app_version }}';
            var event_id = '{{ re.event_id }}';
            var start_date = '{{ re.start_at }}';
            var domain = '{{ re.domain }}';
            var SHARE_IMG = '{{ re.share_img }}';
            var SHARE_TITLE = '{{ re.share_title }}';
            
            var EVENT_ANSWER_SAVE_API = 'event_answer/save';
            var EVENT_ANSWER_GET_INFO_API = 'event_answer/getInfo';
            var EVENT_ANSWER_UPDATE_API = 'event_answer/update';

            function bind($step, stepId) {
                if($step.hasClass('select')) {
                    var maxSelect = $step.data('max_select');
                    var $item = $step.find('.item');
                    if($step.data('item_type') === 'text') {
                        var $checkboxs = $item.find('input[type=checkbox]');
                        $item.find('input[type=checkbox]').change(function() {
                            if($checkboxs.filter('input:checked').length > maxSelect) {
                                $(this).prop('checked', false);
                                native_send_toast("최대 " + maxSelect + "개까지 선택해주세요.");
                            }
                        });
                    } else if($step.data('item_type') === 'img') {
                        $.Fastclick($step.find('.item'), function() {
                            var $this = $(this);
                            if(maxSelect === 1) {
                                $item.removeClass('selected');
                            } if($item.filter('.selected').length >= maxSelect && !$this.hasClass('selected')) {
                                return;
                            }
                            $this.toggleClass('selected');
                        });
                    }
                } else if($step.hasClass('dropdown')) {
                } else if($step.hasClass('alarm')) {
                    var apiUrl = $step.find('#alarm-items').data('api_url');
                    var apiParams = $step.find('#api-params').data();
                    apiParams.skin = "event/skin/_alarm_event_item";
                    var moreUrl = $step.find('#alarm-items').data('more_url');
                    var moreParams = $step.find('#more-params').data();
                    sendApi(apiUrl, apiParams, function (re) {
                        if(re.trim() === "") {
                            // 불러오기 에러
                            $("#alarm-items").css("min-height", 0);
                            alert("상품을 불러오지 못 했습니다.\n다시 시도해주세요.");
                            return;
                        }
                        $("#alarm-items").html(re);
                    });
                } else if($step.hasClass('user_info')) {
                    if($step.find('#phone').length) {
                        $step.find("#phone").keyup(function() {
                            var v = this.value.match(/\d*/g).join('');
                            if(v.length > 10)
                                v = v.match(/(\d{0,3})(\d{0,4})(\d{0,4})/).slice(1).join('-');
                            else
                                v = v.match(/(\d{0,3})(\d{0,3})(\d{0,4})/).slice(1).join('-');
                            this.value = v.replace(/-*$/g, '');
                        });
                    }
                    if($step.find('.wrapper-policy').length) {
                        $.Fastclick($step.find('.btn-policy-toggle'), function() {
                            var target = $(this).data('target');
                            $('#' + target).slideToggle(0);
                        });
                    }
                } else if($step.hasClass('submit')) {
                    $.Fastclick($step.find('#btn-submit'), function() {
                        var submitData = {};
                        var requiredStep = $('.step.required, .step.remind');
                        for(var i = 0; i < requiredStep.length; i++) {
                            var data = validate($(requiredStep[i]), requiredStep[i].id);
                            if(!data)
                                return;
                            else
                                submitData[requiredStep[i].id] = data;
                        }
                        if(!beforeSubmit())
                            return;
                        submit(submitData);
                    });
                } else if($step.hasClass('link_btn')) {
                    $step.find('.link-service')
                } else if($step.hasClass('share')) {
                    var _shareWebUrl = "http://o.buzzni.com/deeplink?url=event/event?id=" + event_id;

                    $.Fastclick($(".btn-sms"), function(){
                        sendStat("share/event", {cate:"_sms", from:"event_event", id:event_id}, function(){
                            $.Share.sms({
                                num: '',
                                msg: SHARE_TITLE + " \\n"+ _shareWebUrl+"&from=_share_sms_" + event_id + "_" + User.id
                            });
                        });
                    });
                    $.Fastclick($(".btn-facebook"), function(){
                        sendStat("share/event", {cate:"_facebook", from:"event_event", id:event_id}, function(){
                            $.Share.facebook(_shareWebUrl+"&from=_share_facebook_" + event_id + "_" + User.id);
                        });
                    });
                    $.Fastclick($(".btn-kakaostory"), function(){
                        sendStat("share/event", {cate:"_kakaostory", from:"event_event", id:event_id}, function(){
                            $.Share.kakaostory({
                                url: _shareWebUrl+"&from=_share_kakaostory_" + event_id + "_" + User.id,
                                text: SHARE_TITLE
                            });
                        });
                    });
                    $.Fastclick($(".btn-kakaotalk"), function(){
                        sendStat("share/event", {cate:"_kakaotalk", from:"event_event", id:event_id}, function(){
                            $.Share.kakaotalk({
                                templateId: 5968,
                                templateArgs:{
                                    imageUrl: 'http://thum.buzzni.com/unsafe/smart/' + SHARE_IMG,
                                    title: SHARE_TITLE,
                                    description: '',
                                    buttonTitle: '이벤트 보기',
                                    iosScheme: 'shoppingmoa://next_url=http://' + domain + '/event/event?id=' + event_id + '&from=_kakaotalk',
                                    androidScheme: 'shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://' + domain + '/event/event?id=' + event_id + '&from=_share_kakaotalk',
                                    iosMarket: '',
                                    androidMarket: 'referrer=_share_kakaotalk_event_' + event_id + '_' + User.id
                                },
                                installTalk:true
                            });
                        });
                    });
                } else if($step.hasClass('custom')) {
                }
            }

            function beforeSubmit() {
                {% for step in re.steps %}
                    {% if step.type == 'submit' and step.option.before_submit %}
                        {{ step.option.before_submit|safe }}
                    {% endif %}
                {% endfor %}
                return true;
            }

            function submit(data) {
                console.log('submit', data);
                sendApi('event_answer/save', {
                    event_id: event_id,
                    type: 'answer',
                    start_date: start_date,
                    value: JSON.stringify(data)
                }, function(re) {
                    if(re.success && re.result.data !== 0) {
                        var submit_msg = $('.step.submit').data('submit_msg') || '응모가 완료되었습니다.';

                        alert(submit_msg.replace('\\n','\n'));

                        $('input, textarea, select').prop('disabled', true).css('opacity', 0.7);
                        $('.item-img').css('opacity', 0.7).off();
                        submit_msg = '응모가 완료되었습니다.';
                        $('.step.submit .step-content').html('<div style="padding:22px 20px 20px 20px;width:60%;margin:auto;background-color:rgba(255,255,255,0.7);border-radius:50px;color:#6d6d6d;font-size:0.9em;line-height:17px;">' + submit_msg + '</div>');
                        {% for step in re.steps %}
                            {% if step.type == 'submit' and 'after_submit' in step.option %}
                                {{ step.option.after_submit|safe }}
                            {% endif %}
                        {% endfor %}
                    } else {
                        native_send_toast(re.msg);
                    }
                });
            }

            function validate($step, stepId) {
                var data = {};
                var result = false;
                if($step.hasClass('select')) {
                    if($step.data('item_type') === 'text') {
                        data = $step.find('input:checked').map(function(index, value) { //checked
                            return $(value).val();
                        }).get();
                    } else if($step.data('item_type') === 'img') {
                        var maxSelect = $step.data('max_select');
                        var $item = $step.find('.item');
                        data = $step.find('.item.selected').map(function(index, value) { //checked
                            return $(value).data('value');
                        }).get();
                    }
                    if(!data.length) {
                        if($step.hasClass('remind'))
                            result = confirm($step.data('confirm_msg').replace('\\n','\n'));
                        else
                            native_send_toast($step.data('alert_msg').replace('\\n','\n') || stepId + " 항목을 선택해주세요!");
                        return result;
                    }
                } else if($step.hasClass('dropdown')) {
                    data = $step.find('select').val();
                    if(data === "0" || data === null) {
                        if($step.hasClass('remind'))
                            result = confirm($step.data('confirm_msg').replace('\\n','\n')) ? "0" : false;
                        else
                            native_send_toast($step.data('alert_msg').replace('\\n','\n') || stepId + " 항목을 선택해주세요!");
                        return result;
                    }
                } else if($step.hasClass('user_info')) {
                    if($step.find('#shop').length) {
                        data.shop = $step.find('select').val();
                    }

                    if($step.find('#name').length) {
                        data.name = $step.find('#name').val();
                    }

                    if($step.find('#order_number').length) {
                        data.order_number = $step.find('#order_number').val();
                    }

                    if($step.find('#phone').length) {
                        data.phone = $step.find('#phone').val().replace(/-/g, '');
                    }

                    var personalPolicy, eventPolicy;
                    if($step.find('.wrapper-policy').length) {
                        personalPolicy = $step.find('#personal_policy').prop("checked");
                        eventPolicy = $step.find('#event_policy').prop("checked");
                    }

                    var isExistButInvalid = {
                        shop: data.hasOwnProperty('shop') && !data.shop,
                        name: data.hasOwnProperty('name') && !data.name,
                        order_number: data.hasOwnProperty('order_number') && !data.order_number,
                        phone: data.hasOwnProperty('phone') && !(data.phone.match(/^\d+$/) && data.phone.length >= 10),
                        personalPolicy: personalPolicy === false,
                        eventPolicy: eventPolicy === false,
                    };
                    if(isExistButInvalid.shop
                        || isExistButInvalid.order_number
                        || isExistButInvalid.name
                        || isExistButInvalid.phone
                        || isExistButInvalid.personalPolicy
                        || isExistButInvalid.eventPolicy) {
                        if($step.hasClass('remind')) {
                            result = confirm($step.data('confirm_msg').replace('\\n', '\n'));
                        } else {
                            if(isExistButInvalid.shop) {
                                native_send_toast('구매하신 쇼핑사를 선택해주세요.');
                                return false;
                            }
                            if(isExistButInvalid.order_number) {
                                native_send_toast("정확한 주문번호를 입력해주세요.");
                                return false;
                            }
                            if(isExistButInvalid.name) {
                                native_send_toast($step.data('alert_msg').replace('\\n','\n') || "성함을 입력해주세요.");
                                return false;
                            }
                            if(isExistButInvalid.phone) {
                                native_send_toast("정확한 연락처를 입력해주세요.");
                                return false;
                            }
                            if(isExistButInvalid.personalPolicy) {
                                native_send_toast("개인정보의 수집 및 이용에 동의해주세요.\n동의하지 않을 시 이벤트 참여가 불가능합니다.");
                                return false;
                            }
                            if(isExistButInvalid.eventPolicy) {
                                native_send_toast("이벤트 참여 약관에 동의해주세요.\n동의하지 않을 시 이벤트 참여가 불가능합니다.");
                                return false;
                            }
                        }
                        return result;
                    }
                } else if($step.hasClass('custom')) {
                    data = $step.find('.step-value').val() || false;
                    if(!data) {
                        native_send_toast($step.data('alert_msg').replace('\\n','\n') || "빈 항목이 있습니다.");
                        return false;
                    }
                }

                return data;
            }

            function bt_top() {
                $('html,body').animate({scrollTop: $('body').offset().top}, 300);
            }

            function checkApply() {
                sendApi("event_answer/getInfo", {
                    event_id: event_id,
                    type: "answer",
                    page: 1,
                    num: 1
                }, function(re) {
                    var data = re.result.data;
                    if(data.length === 1) {
                        var answer = (data[0].value_type === 'dict' ? data[0].value : JSON.parse(data[0].value));
                        console.log(answer);
                        var allStep = $('.step');
                        for(var i = 0; i < allStep.length; i++) {
                            var $step = $(allStep[i]);
                            var stepId = allStep[i].id;

                            if(typeof answer[stepId] !== 'boolean' || !$step.hasClass('remind')) {
                                if($step.hasClass('select')) {
                                    if($step.data('item_type') === 'text') {
                                        $.each(answer[stepId], function(key, value) {
                                            $step.find('#input-' + stepId + '-' + value).prop('checked', true);
                                        });
                                    } else if($step.data('item_type') === 'img') {
                                        $.each(answer[stepId], function(key, value) {
                                            $step.find('#item-' + stepId + '-' + value).addClass('selected');
                                        });
                                    }
                                } else if($step.hasClass('dropdown')) {
                                    $step.find('select').val(answer[stepId]);
                                } else if($step.hasClass('user_info')) {
                                    $.each(answer[stepId], function(key, value) {
                                        if(key === 'name')
                                            $step.find('#name').val(answer[stepId].name);
                                        if(key === 'phone')
                                            $step.find('#phone').val(answer[stepId].phone);
                                        if(key === 'order_number')
                                            $step.find('#order_number').val(answer[stepId].order_number);
                                        if(key === 'shop') {
                                            $step.find('#shop option[value="0"]').remove();
                                            $step.find('#shop option[value=' + answer[stepId].shop + ']').attr('selected', 'selected');
                                        }
                                    });
                                    $step.find('input[type="checkbox"]').prop('checked', true);
                                } else if($step.hasClass('custom')) {
                                    $step.find('.step-value').val(answer[stepId]);
                                } else if($step.hasClass('submit')) {
                                    {% comment %} var submit_msg = $('.step.submit').data('submit_msg') || '응모가 완료되었습니다.'; {% endcomment %}
                                    var submit_msg = '응모가 완료되었습니다.';
                                    $('.step.submit .step-content').html('<div style="padding:22px 20px 20px 20px;width:60%;margin:auto;background-color:rgba(255,255,255,0.7);border-radius:50px;color:#6d6d6d;font-size:0.9em;line-height:17px;">' + submit_msg.replace('\\n', '<br>') + '</div>');
                                }
                            }
                        }

                        $('input, textarea, select').prop('disabled', true).css('opacity', 0.7);
                        $('.item-img').css('opacity', 0.7).off();

                        {% for step in re.steps %}
                            {% if step.if_applied %}
                                {{ step.if_applied|safe }}
                            {% endif %}
                        {% endfor %}
                    }
                });
            }

            $(function() {
                /* 각 스텝 컨텐츠 이벤트 바인딩 */
                var allStep = $('.step');
                for(var i = 0; i < allStep.length; i++) {
                    bind($(allStep[i]), allStep[i].id);
                }
                {% for step in re.steps %}
                    {% if step.type == 'custom' and step.bind %}
                        {{ step.bind|safe }}
                    {% endif %}
                {% endfor %}

                /* 이벤트 참여 여부 확인 */
                checkApply();

                /* 공유 버튼이 입력 상자를 가리지 안도록 토글 */
                $("input[type=tel], input[type=text], textarea, select").on("focus", function() {
                    $(".kakaotalk").hide();
                    $("#move_up").hide();
                }).on("focusout", function() {
                    $(".kakaotalk").show();
                    $("#move_up").show();
                });
                $("select").change(function() {
                    $(this).focusout();
                });

                /* 카카오톡 공유 */
                var kakaoShareData = {
                    imageUrl: '{{ thum }}/smart/' + SHARE_IMG,
                    title: SHARE_TITLE,
                    description: '',
                    buttonTitle: '이벤트 보기',
                    iosScheme: 'shoppingmoa://next_url=http://' + domain + '/event/event?id=' + event_id + '&from=kakaotalk' + '_' + User.id,
                    androidScheme: 'shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://' + domain + '/event/event?id=' + event_id + '&from=kakaotalk' + '_' + User.id,
                    iosMarket: '',
                    androidMarket: 'referrer=share_kakao_event_' + event_id + '_' + User.id
                };

                $.Fastclick($(".kakaotalk"), function() {
                    sendStat("share/event", {cate: "kakaotalk", id: event_id}, function() {
                        $.Share.kakaotalk({
                            templateId: 5968,
                            templateArgs: kakaoShareData,
                            installTalk: true
                        });
                    });
                });
            });
        })();
    </script>
{% endblock %}