{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}모아위크{% endblock %}
{% block css %}
{#    <link rel="stylesheet" href="{{ media }}/hls/flowplayer.skin.css">#}
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <style>
        html,body{
            background: none;
        }
        #container {max-width: 640px; margin: 0 auto;}
        .c-moaweek { color: {{ is_allinweek.color }}; }
        .b-moaweek { background: {{ is_allinweek.color }}; }

        #best {position: relative;}
        #best:before { content:''; position:absolute; left:0; top:0; display: block; width: 100%; height: 100%; background:{{ is_allinweek.color }}; opacity: 0.1; z-index: -1; }
        #list {position: relative;}
        #list:before { content:''; position:absolute; left:0; top:0; display: block; width: 100%; height: 100%; background:{{ is_allinweek.color }}; opacity: 0.24; z-index: -1; }

        section {margin: 0;}
        section > h4 { font-size: 13px; font-weight: normal; text-align: center; color:#fff; padding: 20px 0 2px; opacity: 0.8; }
        section > h1 { font-size: 34px; font-weight: bold; text-align: center; color:#fff; padding: 2px 0 12px; letter-spacing: 1px; }
        section.light > h4 { color:{{ is_allinweek.color }}; }
        section.light > h1 { color:{{ is_allinweek.color }}; }

        #live {
            position:relative;
        }

        .flowplayer.is-playing .player-detail {display: none;}
        .flowplayer > a {visibility: hidden;}

    
        .list-swipe-best { border-radius: 4px; margin-top:3px; background:#fff; position: relative; border: 1px solid #AAA5BC; }
        .list-swipe-best rank {position:absolute; z-index:100; left:10px; top:-5px; font-size:21px; width: 46px; height: 38px; padding: 5px 5px 0 0 ; color:#fff;
            line-height: 28px; text-align: center; vertical-align: middle; background: url('{{ cdn_img }}/moaweek/rank.png') 50% 50% no-repeat; background-size:cover;}
        .list-swipe-best thum img { border-radius: 3px 3px 0 0; }
        .list-swipe-best detail { padding:6px 12px 9px; text-align: center;  }
        .list-swipe-best name { display: block; font-size: 15px; line-height: 1.35em; margin-top: 3px; max-height: 1.4em; overflow: hidden;}
        .list-swipe-best price { margin-top:6px; font-size:18px; }
        .list-swipe-best price s { font-size:11px; color: #bbb;}
        .list-swipe-best price num {margin-top:3px; display: block;font-weight: bold; font-size: 1em;}
        .list-swipe-best price num:after {content:"원";  font-size: 0.7em;}
        .list-swipe-best price span { font-weight:bold; font-size: 0.9em;}
        .list-swipe-best price { display: none;}
        .list-swipe-best price.block-hide { display: block;}
        .list-swipe-best play, .list-swipe-best site, .list-swipe-best s, .list-swipe-best time, .list-swipe-best .display-table, .list-swipe-best .line-bottom { display: none;}

        .owl-theme .owl-controls {margin-top: 6px; padding-bottom: 6px;}
        .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background:{{ is_allinweek.color }}; opacity: 1;  }
        .owl-theme .owl-dots .owl-dot span { background:#000; opacity: 0.3;  }

        .list-basic {border-radius: 2px; overflow: hidden;}

        .sametime-block {}
        .sametime-block .sametime-toggle {margin: -9px 0 10px;}
        .sametime-block .sametime-toggle:before {content:'같은 시간대 방송상품 더보기 '}
        .sametime-block .sametime-toggle .arrow-up { display: none; }
        .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
        .sametime-block .sametime-list item { display: none;}
        .sametime-block .sametime-list item:nth-child(1) { display: block;}
        .sametime-block .sametime-list item:nth-child(2) { display: block;}
        .sametime-block .sametime-list item:nth-child(3) { display: block;}
        .sametime-block.on .sametime-toggle:before {content:'같은 시간대 방송상품 닫기 '}
        .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
        .sametime-block.on .sametime-toggle .arrow-down { display: none; }
        .sametime-block.on .sametime-list item { display: block;}

        .moaweek-focus {margin-bottom:10px; border-radius:2px; border:6px solid {% if is_allinweek.color %}{{ is_allinweek.color }}{% else %}#eb5557{% endif %};}
        .moaweek-focus .focus-bg {  display: block; height:50px; background-size: 320px 50px !important; }
        .moaweek-focus item { margin-bottom: 0;}
        .moaweek-focus alarm { top: 154px !important;}

        @media screen and (max-width:320px){
            {# 작은기기에서 가격이 넘침 #}
            .list-basic thum {position:absolute; left:0; top:0; width:134px; height:134px; }
            .list-basic detail { padding:6px 12px 8px 146px; width:auto; height:134px; position: relative;}
            .list-basic price { font-size:16.5px;  }
            alarm {margin-top: -10px;}
        }
    </style>
{% endblock %}
{% block container %}
    <div class="kakaotalk" style="background: #ffed32; color:#3f2223; position: fixed; bottom:9px; z-index:99999; font-size: 15px; line-height: 1.2em; cursor:pointer;
    left:50%; margin-left: -100px; width: 200px; border:1px solid #c3b71a; border-radius:20px; padding: 10px 0; text-align: center; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2);">
        <div style="display: inline-block; overflow: hidden; width: 20px; height: 18px; margin-bottom: -3px;">
            <img src="{{ media }}/hsmoa/button/kakaotalk.png" style="width: 32px;margin: -6px -7px; max-width: 300%;">
        </div>
        카카오톡 공유하기
    </div>

    <section id="main">
        <div class="position-relative">
            <img src="{{ cdn_img }}/moaweek/{{ is_allinweek.name }}/event1.png?v={{ is_allinweek.start }}2" />
            <button class="bt"
                    onclick="$('.main-toggle').slideToggle(250);"
                    style="position: absolute;z-index: 99; bottom:0; height:12%; z-index: 99; width: 100%; left:0; right:0;">
            </button>
        </div>
        <div class="main-toggle block-hide">
            <img src="{{ cdn_img }}/moaweek/{{ is_allinweek.name }}/event2.png?v={{ is_allinweek.start }}2" />
        </div>
    </section>

    <section id="live" class=" block-hide" style="background: #192866; padding:0 14px 14px;">
        <h4>현재 방송 중</h4>
        <h1>LIVE</h1>

        <div id="player"></div>
    </section>

    <section id="best" class="light block-hide" >
        <h4>고민하지 말자</h4>
        <h1>BEST</h1>
        <div id="swipe"></div>
    </section>

    <section id="list" class="light" style="padding:0 12px 27px; min-height: 500px; ">
        <h4>할인상품을 한눈에</h4>
        <h1>SALE</h1>
        <div id="scroller"></div>
    </section>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ media }}/hsmoa/jquery-migrate-1.4.1.min.js?v=7"></script>
    <script src="{{ media }}/js/OwlCarousel2/dist/owl.carousel.min.js"></script>
{#    <script src="{{ media }}/hls/flowplayer.min.js"></script>#}
{#    <script src="{{ media }}/hls/flowplayer.hls.js"></script>#}
    <script>
        $(function(){
            alert("모아위크 진행중이 아닙니다. 다음 모아위크를 기대해주세요.")
            return;
            var scroll_entity_id = "{{ request.GET.flag }}";
            var target_site = "{{ is_allinweek.genre2 }}";
            var site_list = "{{ is_allinweek.genre2_list }}";
            var promotion_id = "{{ is_allinweek.promotion }}";
            var _today = new Date('{{ datetime|slice:'0:4' }}-{{ datetime|slice:'4:6' }}-{{ datetime|slice:'6:8' }}T00:00:00Z');
            var buyclickFrom = "allinweek";
            {% if request.GET.from == 'home' %}
                buyclickFrom = "allinweek_tab";
            {% endif %}

            /**
             * 모아위크 배경색이 너무 밝을 경우 톤 다운
             */
            (function() {
                var r = 1;
                var r_txt = 0.015;
                var bg_hex = "{{ is_allinweek.color }}".replace("#", "");
                var color_red = parseInt(bg_hex.slice(0,2), 16);
                var color_green = parseInt(bg_hex.slice(2,4), 16);
                var color_blue = parseInt(bg_hex.slice(4,6), 16);
                var bg_bright =  color_red + color_green + color_blue;
                if( bg_bright/3.0 > 200){
                    $("#list").css("background-color", "#" + parseInt(color_red*r).toString(16) + parseInt(color_green*r).toString(16) + parseInt(color_blue*r).toString(16) + "33");
                    $("#list h1, #list h4").css("color", "#" + darken(color_red,r_txt) + darken(color_green,r_txt) + darken(color_blue,r_txt));
                }

                function darken(a, b){
                    return parseInt(a - (255-a)*(255-a) * b).toString(16);
                }
            }());

            var kakaoShareData = {
                imageUrl: "{{ cdn_img }}/moaweek/{{ is_allinweek.name }}/kakaotalk.png?v={{ is_allinweek.start }}", //  "/media/img/moaweeek/cjmall/kakaotalk.png"
                title: "단 7일간, 오직 홈쇼핑모아에서만 최대 {{ is_allinweek.salerate }}% 즉시할인",
                description: '',
                buttonTitle: '상품보기',
                iosScheme:"shoppingmoa://next_url=http://o.buzzni.com/event/moaweek?from=kakaotalk" ,
                androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://o.buzzni.com/event/moaweek?from=kakaotalk",
                iosMarket:"",
                androidMarket:"referrer=allinweek_{{ is_allinweek.name }}_{{ datetime|slice:'0:6' }}"
            };

            $.Fastclick($(".kakaotalk"), function(){
                sendStat("share/allinweek", {"cate": "kakaotalk"}, function(){
                    $.Share.kakaotalk({
                        templateId: 5968,
                        templateArgs:kakaoShareData,
                        installTalk:true
                    });
                });
            });

            //같은시간대 방송상품
            $.Fastclick(".sametime-toggle", function() {
                $(this).parent().toggleClass("on");
            });

            function saleCalculate () {
                $(".sale-calculator").each(function () {
                    var $el = $(this);
                    var _price = $el.data("price");
                    var _site = $el.data("site");

                    /*
                    if(_site == 'lottemall' || _site == 'lotteonetv'){
                        _price = $el.data("org_price");
                    }
                    */

                    var _sale = sale_calculater('coupon', _site, _price );
                    //if($el.data("card")){
                    _sale += sale_calculater('card', _site, _price-_sale);
                    //}

                    $el.find(".price").text((_price-_sale).intcomma());
                    $el.find(".sale").text('('+_sale.intcomma()+'원 할인)');
                    $el.removeClass("sale-calculator");
                });
            }

            // 생방송 재생 기능 제거
            // loadLive();
            // loadBest();
            loadList();

            //live
            function loadLive (){
                sendApi('rpc/tvshop/timeline/getLiveList',
                    { skin:'hsmoa/skin/_moaweek_live', genre2: site_list , version : ApiVersion, flag:buyclickFrom+"_live" },
                    function (re) {
                        $("#live").append(re);

                        saleCalculate();
                    }
                );
            }

            //promotion
            function loadPromotion(){
                if(promotion_id.length > 0){
                    sendApi('rpc/promotion_entity/getGroupedList',
                        { skin:'hsmoa/skin/_moaweek_promotion', promotion_id: promotion_id, flag:buyclickFrom+"_promotion" },
                        function (re) {
                            $("#scroller").append(re);
                            saleCalculate();
                        }
                    );
                }
            }


            //list
            function loadList(){
                var $scroller = $("#scroller");
                var dayCount = 0;
                var params = {skin:"hsmoa/skin/_moaweek_timeline", genre2: site_list, date: days_after(dayCount), flag:buyclickFrom, version: ApiVersion};
                $scroller.Scroller({
                    defaults:{
                    },
                    data:params,
                    pageUse : false,
                    url:"rpc/tvshop/live/getTimeGroupList",
                    scrolling:function(re){console.log(params.date);
                        $scroller.append(re);
                        params.date = days_after(++dayCount);
                        saleCalculate();

                        if(dayCount < 2){
                            // 다음날 편성표 까지 불러온다.
                            $scroller.Scroller.listForce();
                        }else if (dayCount == 2){
                            // 다음날 편성표 까지 불러온 후 베스트 상품 추출
                            loadBest();
                        }
                    },
                    scrollEnd:function(re){
                        if(dayCount < 2 && $scroller.find('item').length == 0) {
                            params.date = days_after(++dayCount);
                            $scroller.Scroller.listReset();
                        }

                        //편성표상품이 끝나면 기획전을 불러온다
                        loadPromotion();
                    },
                    scrollReset:function(){
                        $scroller.empty();
                    }
                });

                function days_after(days) {
                    var _interval = 1000 * 60 * 60 * 24 * days; // two weeks in milliseconds
                    var _total = _today.getTime() + _interval;
                    var _date = new Date(_total);

                    return _date.toISOString().split("T")[0].replace(/[-]/gi, "");
                }
            }


            //best
            function loadBest(){
                if($(".list-interest").length < 10) return;

                var arr = [];
                $(".list-interest").each(function(i){
                    arr.push($(this));
                });

                arr.sort(function(a, b){
                    return parseInt(b.data('interest')) - parseInt(a.data('interest'))
                });


                for (var i in arr ){
                    if( i < 5) {
                        // string replace가  jquery 엘리먼트 탐색 후 속성 교체 보다 빠르므로 ..
                        var a = arr[i].html();
                        a = a.replace('<img src="http://thum.buzzni.com/unsafe/320x320/center', '<img src="http://thum.buzzni.com/unsafe/640x320/top');
                        a = a.replace('list-basic','list-swipe-best');
                        a = a.replace(buyclickFrom,buyclickFrom+'_best');
                        $("#swipe").append(a);
                    }
                }
                $("#swipe .list-swipe-best").each(function(i){
                    $(this).find('thum').append("<rank>"+ (i+1) +"</rank>");
                    //var a = $(this).find('thum img');
                    //var b = $(this);
                    //a.attr('src', a.attr('src').replace('320x320/center', '640x320/top'));
                    //b.data('from', b.data('from')+"_best");
                });
                $("#swipe alarm").remove();

                $("#best").show();

                saleCalculate();

                if( User.agent == 'android' && User.versionCount < 100000 && User.sfrom == 'home'){
                    // 9버전 스와이프 메뉴안에서는 스와이프 기능 제거
                    $("#swipe").css("padding", "0 14px 1px");
                    $(".list-swipe-best").css("margin-bottom", "14px");
                }else{
                    $("#swipe").owlCarousel({items:1, merge:true, loop:true, margin:14, center:true, stagePadding:54, autoplay:true, autoplayTimeout:4000});
                }

                var $target = $("#scroller item[data-entity_id='"+scroll_entity_id+"']");
                if( $target.length > 0 && !$target.parent().hasClass('moaweek-focus')){
                    $target.parent().addClass("moaweek-focus");
                    $("<div/>", {
                        class:"focus-bg",
                        style:"background:{{ is_allinweek.color }} url({{ cdn_img }}/moaweek/{{ is_allinweek.name }}/search_banner_" + $target.data('site') + ".png?v={{ is_allinweek.start }}) 50% 0% no-repeat;"
                    }).prependTo($target.parent());

                    $("html, body").animate({scrollTop:$target.offset().top-64}, 0);
                }
            }


            //best
            function loadBest_old(){
                sendApi('rpc/popular_entity/getList',
                    { skin:"hsmoa/skin/_moaweek_best", cate:"", num:50, page:1, flag:buyclickFrom+"_best" },
                    function (re) {
                        $("#swipe").append(re);
                        $("#best").show();

                        saleCalculate();

                        if( User.agent == 'android' && User.versionCount < 100000 && User.sfrom == 'home'){
                            // 9버전 스와이프 메뉴안에서는 스와이프 기능 제거
                            $("#swipe").css("padding", "0 14px 1px");
                            $(".list-swipe-best").css("margin-bottom", "14px");
                        }else{
                            $("#swipe").owlCarousel({items:1, merge:true, loop:true, margin:14, center:true, stagePadding:54, autoplay:true, autoplayTimeout:4000});
                        }

                    }
                );
            }

        });
    </script>
{% endblock %}
