{% extends "hsmoa/__base.html" %}
{% load filters %}
{% load humanize %}
{% block title %}홈쇼핑 뷰티 최강전{% endblock %}
{% block meta %}
    <meta property="fb:app_id" content="1552436168327778" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="홈쇼핑 뷰티 최강전" />
    <meta property="og:image" content="{{ thum }}/640x640/top/https://i.imgur.com/jz5LwkV.png" />
    <meta property="og:description" content="[연말결산] 2018 올해의 홈쇼핑 뷰티 최강자는?" />
    <meta property="og:url" content="http://o.buzzni.com/event/prom2?date=20181220" />
{% endblock %}
{% block css %}
    <style>
    body{background: #fff;}

    .video-box {position:relative;width: 100%; padding-top: 56.25%; border-radius: 4px; overflow: hidden;}
    iframe{position:absolute; left:0; top:0; width: 100% !important; height: 100% !important; vertical-align: top; }

    img.lazy {opacity: 0; transition: opacity 0.25s linear;}
    img.lazy.load {opacity: 1;}

    /* header */
    nav{ position: fixed; z-index:99999; top:0; left:0; width: 100%; right:0; height: 40px; background: rgba(255,255,255,0.9); box-shadow: 0 0 2px rgba(0,0,0,0.2);padding: 5px 10px;box-sizing: border-box;overflow-y:hidden;overflow-x:auto;}
    nav table{width: 100%;}
    nav td {height: 30px; line-height: 30px;text-align: center; font-size: 14px; padding: 0 5px; opacity: 0.7;white-space:nowrap;min-width:40px;border:2px solid rgba(234,27,39,0);transition:border 0.6s ease-in;}
    nav td.on {opacity:1; border-bottom:2px solid #ea1b27; color:#ea1b27; font-weight: bold; border-radius: 20px;}

    /* section */
    section{min-height:100px;padding:5% 3%;position:relative;text-align:center;}
    section h1 {text-align: center;font-size: 5.4vw;line-height: 1.6;margin:2px 0; }
    section h2 {text-align: center;font-size: 4.6vw;line-height: 1.6;margin:2px 0;  }
    section h4 {text-align: center;font-size: 3.3vw;line-height: 1.3; font-weight: normal;}
    section p {text-align: center;font-size: 3vw;line-height: 1.3;opacity: 0.8;margin: 12px 0; }

    section.header {padding: 0; text-align: left;}

    section.dark {color:#fff;}
    section:last-child { padding-bottom: 70px !important;}

    .bt-more {text-align:center; font-size: 15px; opacity: 0.7; padding: 14px 0 0 ; border-top: 1px solid #eee; width: 100%;}

    .filter-group {display: block; text-align: center;border-bottom: 1px solid #eeeeee;margin:0 10px 10px 10px;}
    .filter-set {opacity:0.7; font-size: 13px; display: inline-block;padding:0 3px 3px 1px; letter-spacing: -0.5px;margin:5px 4px 10px 4px}
    .filter-set.on {opacity: 1; color:#43bee2; font-weight: bold;border-bottom:1px solid #43bee2;}

    action {display: block; min-height:200px;}
    action.loading:after {content:'불러오는 중...'; display:block; width:100%; text-align: center; padding:100px 0; box-sizing: border-box; opacity: 0.4;}

    .promotion-group {height:164px; padding-top: 100%; position: relative;  }
    .promotion-group item { position: absolute; bottom:10px; width: 94%; left:3%; right:3%; box-shadow: 0 1px 3px #ccc; border-radius: 2px; overflow: hidden;}
    .group-1 {background: url('{{ thum }}/smart/https://i.imgur.com/SP7kapm.png') 0% 0% no-repeat;background-size:contain;padding-top:52%;}
    .group-2 {background: url('{{ thum }}/smart/https://i.imgur.com/AbJP9OM.png') 0% 0% no-repeat;background-size:contain;padding-top:52%;}
    .group-3 {background: url('{{ thum }}/smart/https://i.imgur.com/vt1biJh.png') 0% 0% no-repeat;background-size:contain;padding-top:52%;}

    /* 알람 스타일 */
    .alarm {
        background: #ccd2da;
        line-height: 20px;
        height: 0;
        width: 24%;
        padding-bottom: 12%;
        border-radius: 30px;
        position: absolute;
        right: 4%;
        z-index: 99;
        bottom: 18%;
        transform: translateY(-50%);
    }
    .alarm::after {
        position: absolute;
        content: "";
        padding-bottom: 47%;
        width: 47%;
        top: 1px;
        left: 0%;
        border-radius: 30px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
        transition:left 0.3s ease;
    }
    .alarm.on {
        background: #f25862;
    }
    .alarm.on::after {
        left: 52%;
    }

    .reco-query {
        font-size: 13px;
        display: inline-block;
        letter-spacing: -1px;
        padding: 7px 10px;
        border: 1px solid #666;
        background: #fff;
        border-radius: 30px;
        margin: 0 5px 10px 0;
    }


    .group-share {
        padding: 15px 0 15px 0;
        text-align: center;
    }
    .group-share .btn-share {
        width: 45px;
        height: 45px;
        background-size: 60px 60px;
        margin-right: 2%;
        border-radius: 50px;
        background-repeat:no-repeat;
        background-position:center;
    }
    </style>
{% endblock %}
{% block container %}
    <section class="header" style="background:#eee;position:relative;">
        <img src="{{ thum }}/smart/https://i.imgur.com/jz5LwkV.png" style="width: 100%;">
        <div class="kakaotalk" style="background: #ffed32; color:#3f2223; position: fixed; bottom:9px; z-index:99999; font-size: 15px; line-height: 1.2em; cursor:pointer;
        left:50%; margin-left: -100px; width: 200px; border:1px solid #c3b71a; border-radius:20px; padding: 10px 0; text-align: center; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2);">
            <div style="display: inline-block; overflow: hidden; width: 20px; height: 18px; margin-bottom: -3px;">
                <img src="{{ media }}/hsmoa/button/kakaotalk.png" style="width: 32px;margin: -6px -7px; max-width: 300%;">
            </div>
            카카오톡 공유하기
        </div>
    </section>
    <section style="background:#fff;padding:4% 0%;">
        <h2>2018 올해의 뷰티 상품</h2>
        <p></p>
        <div id="flick-contents-wrapper"></div>
    </section>
    <section style="background:#fbddf8">
        <div style="text-align:left;">
            <h2 style="padding:14px 10px 0 10px;font-size:15px;text-align:left;">
                이런 상품 어때요?
            </h2>
            <div style="padding:10px;">
                <div class="link-service reco-query" url-path="search/result" data-query="팩트" data-from="prom2_20181220">#팩트</div>
                <div class="link-service reco-query" url-path="search/result" data-query="수분크림" data-from="prom2_20181220">#수분크림</div>
                <div class="link-service reco-query" url-path="search/result" data-query="홍진영" data-from="prom2_20181220">#홍진영</div><br>
                <div class="link-service reco-query" url-path="search/result" data-query="달팽이팩" data-from="prom2_20181220">#달팽이팩</div>
                <div class="link-service reco-query" url-path="search/result" data-query="리리코스" data-from="prom2_20181220">#리리코스</div>
                <div class="link-service reco-query" url-path="search/result" data-query="피지오겔" data-from="prom2_20181220">#피지오겔</div><br>
                <div class="link-service reco-query" url-path="search/result" data-query="데싱디바" data-from="prom2_20181220">#데싱디바</div>
                <div class="link-service reco-query" url-path="search/result" data-query="차앤박" data-from="prom2_20181220">#차앤박</div>
                <div class="link-service reco-query" url-path="search/result" data-query="프로폴리스" data-from="prom2_20181220">#프로폴리스</div>
            </div>
        </div>
    </section>
    <section style="background: #fff;padding: 4% 2%;">
        <!-- 정렬 버튼 -->
        <ul class="filter-group">
            <li class="filter-set on" data-query="기초세트">#기초세트</li>
            <li class="filter-set" data-query="앰플">#앰플</li>
            <li class="filter-set" data-query="마스크팩">#마스크팩</li><br>
            <li class="filter-set" data-query="파운데이션">#파운데이션</li>
            <li class="filter-set" data-query="마스카라">#마스카라</li>
            <li class="filter-set" data-query="트리트먼트">#트리트먼트</li>
        </ul>
        <action type="api"
                urlpath="rpc/search/tvshopSearch"
                class="grid-style"
                data-genre2="homeshopping"
                data-skin="event/skin/_prom_search"
                data-flag="prom2_20181220"
                data-query="기초세트"
                data-page="1"
                data-num="20"
                data-is_compare_search="true"
                data-source="meta"></action>
        <button class="bt-more bt">더 보기 ↓</button>
    </section>

    <section style="background:#fbddf8;">
        <style>
            .moareview-banner {background-color:#ffffff;text-align:left;white-space:nowrap; box-shadow: 0 1px 5px rgba(0,0,0,0.07); border-radius: 4px; overflow: hidden;}
            .moareview-banner .wrapper-thumb {display:inline-block;vertical-align:middle;margin:1.5%;position:relative;width:80px;padding-top:54px;}
            .moareview-banner .wrapper-thumb .thumb {position:absolute;top:0;left:0;bottom:0;right:0;background-size:cover;background-position:center;}
            .moareview-banner .wrapper-title {font-size:14px; display:inline-block;vertical-align:middle; width:100%; padding-right:110px; box-sizing:border-box;text-align:left;line-height:1.3rem;padding-top:5px;}
            .moareview-banner .wrapper-title .main-title{ width: 100%; white-space: normal;}
            .moareview-banner .wrapper-title .sub-title {font-size:0.8em;color:#8e8e8e;}

            @media screen and (max-width: 350px) {
                .moareview-banner {font-size:0.8em;}
            }
        </style>
        <h2>이런 기획전은 어때요?</h2>
        <div class="align-center link-service" url-path="event/promotion" data-from="prom2_20181220" data-id="619" style="margin-top:10px;">
            <div class="moareview-banner">
                <img src="{{ thum }}/720x0/smart/https://i.imgur.com/JFXO6hm.png">
            </div>
        </div>
        <br/>
        <h2>실시간 ’뷰티' 인기상품 찾으세요?</h2>
        <div class="align-center link-service" url-path="tvrank" data-from="prom2_20181220" data-cate="뷰티" style="margin-top:10px;">
            <div class="moareview-banner">
                <img src="{{ thum }}/smart/https://i.imgur.com/7RpMI6l.png">
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script type='text/javascript'>

        var $window = $(window);
        var $btMore = $(".bt-more");
        $(function(){
            init();

            $.Fastclick( $("td"), function(){
                var idx = $(this).index();
                $("html, body").stop().animate({scrollTop:$("section").eq(idx).offset().top-40}, 300, function() {
                });
            });

            $.Fastclick( $btMore, function(){
                var $el = $(this).parent().find("action").eq(0);
                if( $el.attr('type') == 'api'){
                    var page = parseInt($el.data('page'));
                    page++;
                    $el.data('page', page).addClass('loading');
                    sendApi( $el.attr('urlpath'), $el.data(), function(re){
                        $el.append(re).removeClass('loading');
                    });

                    if(page == 2) {
                        $btMore.hide();
                    }
                }
            });

            $.Fastclick( $(".filter-set"), function(){
                $(".filter-set").removeClass("on");
                $(this).addClass("on");
                var $el = $(this).parent().parent().find("action").eq(0);
                if( $el.attr('type') == 'api'){
                    $el.data('page', 1);
                    $el.data('query', $(this).data('query') );
                    $el.empty().addClass('loading');
                    sendApi( $el.attr('urlpath'), $el.data(), function(re){
                        $el.append(re).removeClass('loading');
                    });

                    $btMore.show();
                }
            });

            sendApi('rpc/promotion_entity/getGroupedList', {
                promotion_id: 618,
                skin: 'event/skin/_carousel_promotion_alarm',
                flag: 'prom2_20181220',
            }, function(re) {
                $('#flick-contents-wrapper').html(re);

                $.Flicking('#flick-contents', {
                    previewPadding: [54, 54],
                    circular: true,
                    duration: 150,
                    threshold: 8,
                    thresholdAngle: 50,
                    deceleration: 0.0015,
                    dots: true,
                    autoplay: true,
                    autoplayTimeout: 6000,
                });
            });

            $('#orderButton').on("change", function(){
                var $this = $(this);
                var order = $this.val();
                var $el = $this.parent().parent().find("action").eq(0);
                $el.html('');
                if( $el.attr('type') == 'api'){
                    $el.data('order', order).data('page', 1).addClass('loading');
                    sendApi( $el.attr('urlpath'), $el.data(), function(re){
                        $el.html(re).removeClass('loading');
                    });
                }

                sendStat("prom2/changeOrder", {query:$el.data('query'), flag:order, from:'prom2_20181220'});
            });
        });

        function init(){
            lazyHandler();
            markDownHandler();

            $window.on("scroll touchmove", function() {
                lazyHandler();
                markDownHandler();

                //상단메뉴 자동이동
                var isFirst = false;
                $("section").map(function(i){
                    var $this = $(this);
                    var _top = $window.scrollTop()+41;
                    if(_top < $this.offset().top+$this.height()) {
                        if (!isFirst) {
                            isFirst = true;
                            $("nav td").removeClass("on");
                            $("nav td").eq(i).addClass("on");
                        }
                    }
                });

            });
        }

        /* item image lazy load */
        function lazyHandler(){
            var _top = $window.scrollTop();
            var _bot = _top + $window.height();
            $(".lazy:not(.load)").each(function(i){
                var $this = $(this);
                if(_top <= $this.offset().top + $this.height() && $this.offset().top <= _bot && $this.is(":visible")){
                    $this.attr("src", $this.data("src"));
                    $this.addClass('load');
                }
            });
        }
        function markDownHandler(){
            var _top = $window.scrollTop();
            var _bot = _top + $window.height();
            $("section:not(.load)").map(function(i){
                var $this = $(this);
                if(_top <= $this.offset().top + $this.height() && $this.offset().top <= _bot){

                    // markdonw action
                    var $action = $this.find("action");

                    $action.map(function(i){
                        var $el = $(this);

                        if( $el.attr('type') == 'api'){
                            sendApi( $el.attr('urlpath'), $el.data(), function(re){
                                $el.append(re);
                            });
                        }
                    });


                    $this.addClass('load');
                }
            });
        }

        /* 이벤트 푸시 */
        var exist_data = false;
        var is_push_on = false;
        var is_alarm_on = false;
        var event_id = 'prom2_20181220';
        checkPush();
        checkAlarm();

        $.Fastclick('.alarm', function(){
            if(is_alarm_on) {
                removeAlarm();
            } else {
                if(is_push_on) {
                    setAlarm();
                } else {
                    if(confirm("푸시 수신이 꺼져있습니다.\n푸시 수신에 동의하시고 알림을 받으시겠습니까?")) {
                        pushOn();
                        setAlarm();
                    }
                }
            }
        });

        function setAlarm() {
            sendApi('event_answer/' + (exist_data ? 'update' : 'save'), {
                event_id: event_id,
                type: 'alarm',
                value: JSON.stringify({xid: User.id, alarm: true})
            }, function(re) {
                if(re.success && re.result.data !== 0) {
                    $('.alarm').addClass('on');
                    is_alarm_on = true;
                    native_send_toast("알림이 정상적으로 등록되었습니다.");
                } else {
                    native_send_toast(re.msg);
                }
            });
        }

        function removeAlarm() {
            sendApi('event_answer/' + (exist_data ? 'update' : 'save'), {
                event_id: event_id,
                type: 'alarm',
                value: JSON.stringify({xid: User.id, alarm: false})
            }, function(re) {
                if(re.success && re.result.data) {
                    $('.alarm').removeClass('on');
                    is_alarm_on = false;
                    native_send_toast("알림이 정상적으로 해제되었습니다.");
                } else {
                    native_send_toast(re.msg);
                }
            });
        }

        function checkAlarm() {
            sendApi('event_answer/getInfo', {
                event_id: event_id,
                type: 'alarm'
            }, function(re) {
                if(re.success && re.result.data.length !== 0) {
                    var data = re.result.data[0].value_type == 'dict' ? re.result.data[0].value : JSON.parse(re.result.data[0].value);
                    is_alarm_on = data.alarm || false;
                    if(is_alarm_on)
                        $('.alarm').addClass('on');
                    exist_data = true;
                } else {
                    exist_data = false;
                }
               console.log('is_alarm_on', is_alarm_on);
            });
        }

        function checkPush() {
            sendApi('user/getInfo', {
                "target_id": User.id
            }, function (re) {
                if (re.success == true) {
                    is_push_on = re.result.is_event_push;
                }
                console.log('is_push_on', is_push_on);
            });
        }

        function pushOn() {
            sendApi("user/update", {fld:"is_event_push",value:true}, function(re){
                if (re.success == true){
                    is_push_on = true;
                }else{
                    alert("네트워크 오류로 중단되었습니다. 잠시 후 다시 시도해주세요.");
                }
            });
        }

        /* 카카오톡 공유 */
        var promotion_id = 'prom2_20181220';
        var promotion_img = "{{ thum }}/640x640/top/https://i.imgur.com/jz5LwkV.png";
        var promotion_title = "홈쇼핑 뷰티 최강전";
        var promotion_desc = "[연말결산] 2018 올해의 홈쇼핑 뷰티 최강자는?";
        var next_url = "http://o.buzzni.com/event/prom2?date=20181220&from=kakaotalk";
        var domain = "o.buzzni.com";
        $.Fastclick($(".kakaotalk"), function(){
            sendStat("share/promotion", {cate:"kakaotalk", id: promotion_id}, function(){
                $.Share.kakaotalk({
                    templateId: 5968,
                    templateArgs:{
                        imageUrl: promotion_img,
                        title: promotion_title,
                        description: promotion_desc,
                        buttonTitle: '기획전 보러가기',
                        iosScheme:"shoppingmoa://next_url="+next_url,
                        androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url="+next_url,
                        iosMarket:"",
                        androidMarket:"referrer=share_kakao_"+promotion_id+"_"+User.id
                    },
                    installTalk:true
                });
            });
        });
    </script>
{% endblock %}