{% extends "hsmoa/__base.html" %}
{% load filters %}
{% load humanize %}
{% block title %}{{ promotion.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ media }}/css/share.css?v=1">
    <style>
        html, body {background:#e9e9e9;}
        button {border:0;padding:0;}
        .goods-list {padding-bottom:0px;}
        .hidden {display:none;}
        .padding-top-45 {padding-top:45px;}
        .banner {position:relative;}
        .banner .main-img {width:100%;}
        .lazy {opacity:0; transition:opacity 0.25s linear;}
        .lazy.load {opacity:1;}

        nav {position: absolute; top: 0px; left: 0px; width: 100%; height: 45px; background: #3DBAC0; z-index: 100001;}
        nav .nav-title {width: 100%; height: 45px; text-align: center; color: #fff; font-size: 16px; line-height: 45px;}
        nav .btn-dropdown {width: 45px; height: 45px; position: absolute; right: 0px; top: 0; transition: transform 0.3s; z-index: -1;}
        nav .btn-dropdown .arrow{transition: transform 0.3s;}

        nav .dropdown-menu {margin: 10px 15px 0px 15px; background-color: #fff; padding: 5px 10px 5px 10px; border-radius: 5px; opacity: 0; transform: translateY(-8%);
            -webkit-transition: all 0.3s linear, transform 0.6s ease;
            -moz-transition: all 0.3s linear, transform 0.6s ease;
            -o-transition: all 0.3s linear, transform 0.6s ease;
            -ms-transition: all 0.3s linear, transform 0.6s ease;
            transition: all 0.3s linear, transform 0.6s ease;}
        nav .dropdown-menu .menu-item {font-size: 16px; padding: 15px 0px 10px 0px; text-align: center; color: #4a4a4a; font-weight: bold; border-bottom: 1px solid #e6e6e6; cursor: pointer;}
        nav .dropdown-menu .menu-item:last-of-type {border-bottom: 0;}

        nav.opened .btn-dropdown .arrow {transform:rotate(180deg);-webkit-transform:rotate(180deg);}
        nav.opened .dropdown-menu {opacity: 1; transform: translateY(0%);}

        item thum img {height: 100%;}
        item detail tag {position: absolute; right: 0; top: 0; line-height: 13px; padding: 3px 6px 2px 6px; text-align: center; color: #fff; font-size: 12px; background: #53a6d9; z-index: 10;}
        item detail airtime {position: absolute; right: 0; top: 0; color: #999; font-size: 11px; padding: 11px;}

        .dim {background: #000; opacity: 0; width:100%; height:100%; position: absolute; top:0; left:0; z-index: 100000;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
            display: block;
        }
        .dim.active {opacity: 0.6;}
        .dim.hidden {display: none;}

        .group-title {margin-bottom: 10px; text-align: center;}
        .group-title span{font-size: 16px; line-height: 16px; color:#fff; background: #3DB9C0; padding:10px 14px 8px;
            font-weight: normal; border-bottom:1px solid #C8C8C8; border-radius: 50px; text-align: center;
            border-bottom:1px solid #308C92; display: inline-block; }
        #group_title_1 {visibility: hidden; margin-top: -45px;}
    </style>
{% endblock %}
{% block container %}
    {% if promotion.img %}
        <section class="banner">
            <img src="{{ thum }}/smart/{{ promotion.img }}" onerror='this.style.display="none"' id="main_img" class="main-img" />
            {% if promotion.id == 541 %}
                <div style="position:absolute;padding:0 5.8%;top:49.5%;">
                    <img class="link-service" src="{{ thum }}/smart/https://i.imgur.com/xNRap6z.png" style="width:100%;margin-bottom:10px;"
                        url-path="trends/info"
                        data-board_id="1353807"
                        data-from="event_promotion_541" />
                    <img class="link-service" src="{{ thum }}/smart/https://i.imgur.com/UN0vHex.png" style="width:100%;margin-bottom:10px;"
                        url-path="trends/info"
                        data-board_id="1353641"
                        data-from="event_promotion_541" />
                    <img class="link-service" src="{{ thum }}/smart/https://i.imgur.com/vc1ax1O.png" style="width:100%;"
                        url-path="trends/info"
                        data-board_id="1354010"
                        data-from="event_promotion_541" />
                </div>
            {% endif %}
        </section>
    {% endif %}
        <section class="goods-list {% if group.name == "미분류" or group.entities.promotion_entities|length == 0 %} padding-top-45 {% endif %}" style="position: relative" >
            <div class="dim hidden"></div>
            <nav>
                <div class="nav-title"></div>
                <button class="btn-dropdown">
                    <div class="arrow">
                        <img src="http://thum.buzzni.com/unsafe/smart/http://m.ui.hsmoa.com/media/img/promotion_nav_arrow.png" />
                    </div>
                </button>
                <div class="dropdown-menu hidden">
                    {% if promotion_groups|length > 0 %}
                        {% for group in promotion_groups %}
                            {% if group.name != "미분류" and group.entities.promotion_entities|length > 0 %}
                                <div class="menu-item" data-group_no="{{ forloop.counter }}">{{ group.name }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </nav>
            {% for group in promotion_groups %}
                {% if group.name != "미분류" and group.entities.promotion_entities|length > 0 %}
                    <div id="group_title_{{ forloop.counter }}" class="group-title">
                        <span>{{ group.name }}</span>
                    </div>
                    {% for item in group.entities.promotion_entities %}
                        {% if item.detail.url %}  {# code:1 -> 검색상품이므로, 방송시간과 'tv상품'임을 표기 #}

                            <div class="position-relative">
                                <item class="link-buy list-basic"
                                    url-path="promotion_click"
                                    data-url="{{ item.detail.url }}"
                                    data-pid="{{ item.pid }}"
                                    data-id="{{ item.pid }}"
                                    data-site="{{ item.genre2 }}"
                                    data-price="{{ item.detail.price }}"
                                    data-from="promotion_id_{{ promotion.id }}"
                                    data-is_search_item="{{ item.code }}">
                                    <thum>
                                        {% if item.detail.is_mileage == 2 %}
                                            <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;height:auto;"
                                                 src="{{ item.detail.ribbon_img }}" onerror="this.style.display='none'"/>
                                        {% endif %}
                                        <img class="lazy" data-src="{{ thum320 }}/{{item.detail.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                                        {% if item.detail.is_soldout == 1 %}
                                            <soldout/>
                                        {% elif item.detail.is_soldout == 2 and item.detail|get_live_status != 1 %}
                                            <soldout class="onlive"/>
                                        {% endif %}
                                    </thum>
                                    <detail>
                                        <site>
                                            <img src="{{ media }}/hsmoa/logo/logo_{{ item.genre2 }}.png"/>
                                        </site>
                                        {% if item.code == 0 %}  {# code:1 -> 검색상품, 0 -> tv상품 #}
                                            <time class="c-gray-3">{{ item.detail.date|get_string|slice:'4:6' }}월 {{ item.detail.date|get_string|slice:'6:8' }}일 {{ item.detail.start_time }}</time>
                                        {% endif %}
                                        <name>{{ item.detail.name }}</name>
                                        <price>
                                            {% if item.detail.org_price|default:item.detail.price|get_int > item.detail.low_price|get_int %}
                                                <s>{{ item.detail.org_price|default:item.detail.price|intcomma }}원</s>
                                            {% endif %}
                                            {% if item.detail.price < 9 %}
                                                <span class="c-gray-2">상담/렌탈</span>
                                            {% elif 'promotion_price' in item.detail %}
                                                <num class="c-red-3">{{ item.detail.promotion_price|floatformat:0|intcomma }}</num>
                                            {% else %}
                                                <num class="c-red-3">{{ item.detail.low_price|default:item.detail.price|intcomma }}</num>
                                            {% endif %}
                                        </price>
                                    </detail>
                                </item>

                                {% if item.detail|get_live_status == 2 %}
                                    <alarm class="alarm-entity {% if item.detail.alarm_action_id > 0 %}on{% endif %}"
                                           alarm_action_id="{{ item.detail.alarm_action_id }}"
                                           data-entity_id="{{ item.detail.id }}"
                                           data-name="{{ item.detail.name }}"
                                           data-price="{% if 'promotion_price' in item.detail %}{{ item.detail.promotion_price|floatformat:0 }}{% else %}{{ item.detail.low_price|default:item.detail.price }}{% endif %}"
                                           data-genre2="{{ item.detail.genre2 }}"
                                           data-img="{{ item.detail.img }}"
                                           data-start_time="{{ item.detail.start_time }}"
                                           data-end_time="{{ item.detail.end_time }}"
                                           data-promotion_id="{{ promotion.id }}"
                                           style="position:absolute;top:104px;right:10px;z-index:99;"/>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </section>
        <div class="spinner end" style="margin:35px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>
{% endblock %}
{% block float_bt %}
    <button class="kakaotalk fix-image-quality" data-from="new" style="background: url('{{ thum }}/96x0/smart/http://m.ui.hsmoa.com/media/hsmoa/button/kakaotalk.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0;
        bottom:54px;right:2px; position:fixed;z-index:99999;"></button>
    {# 위로가기버튼 위치를 조정할 때 bottom을 바꿔준다. #}
    {% include "hsmoa/part/move_up.html" %}
{% endblock %}
{% block js %}
    <script type='text/javascript'>
        $(function(){
            var promotion_title = "{{ promotion.name }}";
            var promotion_desc = decodeURIComponent("{{ promotion.meta }}");
            var promotion_img = "{{ thum }}/660x0/{{ promotion.img }}";
            var promotion_id = "{{ request.GET.id }}";
            var promotion_key = "promotion_id_"+promotion_id;
            var next_url = "http://o.buzzni.com/event/promotion?id="+promotion_id+"&from=share_kakao";
            var $nav = $("nav");
            var $dim = $(".dim");

            lazyHandler();
            setNavTitleByScroll();

            /* gsshop code change */
            $("item").each(function(){
               var site = $(this).data("site");
               var url = $(this).data("url");
                if (site == "gsshop" || site == "gsmyshop"){
                    // gsmyshop과 gsshop은 기획전에서 LKi라는 공통 매체코드를 갖는다.
                    $(this).data("url", url.replace("media=LAr", "media=LKi").replace("media=LDG", "media=LKi").replace("media=LGx", "media=LKi"));
                    $(this).attr("data-url", url.replace("media=LAr", "media=LKi").replace("media=LDG", "media=LKi").replace("media=LGx", "media=LKi"));
                }
            });

            /* 스크롤 이벤트 */
            $(window).on("scroll touchmove", function() {
                var nav_position = $nav.css("position");
                var scrollTop = $(document).scrollTop();
                if(nav_position == "absolute" && $(".goods-list").offset().top <= scrollTop)
                    $nav.css("position", "fixed");
                else if(nav_position == "fixed" && $(".goods-list").offset().top > scrollTop)
                    $nav.css("position", "absolute");

                lazyHandler();
                setNavTitleByScroll(scrollTop);
            });

            /* item image lazy load */
            function lazyHandler(){
                var $window = $(window);
                var _top = $window.scrollTop();
                var _bot = _top + $window.height();
                $(".lazy:not(.load)").each(function(i){
                    var $this = $(this);
                    if(_top <= $this.offset().top + $this.height() && $this.offset().top <= _bot && $this.is(":visible")){
                        $this.attr("src", $this.data("src"));
                        $this.addClass('load');
                    }
                });
            }

            function setNavTitleByScroll(scrollTop) {
                var title = "";
                var $group_title = $(".group-title");
                for(var i=0; i < $group_title.length; i++){
                    if(scrollTop >= $group_title.eq(i).offset().top){
                        title = $group_title.eq(i).text();
                    }
                }
                $nav.find(".nav-title").text(title || $group_title.eq(0).text());
            }
            $(".dim, nav").on('scroll touchmove mousewheel', function(e){
                e.preventDefault();
                e.stopPropagation();
                return false;
            });

            /* 네비게이션 */
            $.Fastclick($(".nav-title"), function() {
                if ($nav.hasClass("opened")) {
                    closeNav();
                    sendStat("promotion/closeMenu", {"cate": "event", "from": "promotion?id=" + promotion_id, "xid": User.id});
                } else {
                    openNav();
                    sendStat("promotion/openMenu", {"cate": "event", "from": "promotion?id=" + promotion_id, "xid": User.id});
                }
            });
            $.Fastclick($dim, function() {
                closeNav();
                sendStat("promotion/closeMenu", {"cate": "event", "from": "promotion?id=" + promotion_id, "xid": User.id});
            });
            $.Fastclick($(".menu-item"), function(){
                $('html,body').animate({scrollTop: $("#group_title_"+$(this).data("group_no")).offset().top}, 300, function(){
                    closeNav();
                });
                sendStat("promotion/clickMenu", {"cate": "event", "from": "promotion?id=" + promotion_id, "xid": User.id, "menu_no": $(this).data("group_no")});
            });

            function closeNav(){
                $("body").css("overflow", "initial");
                $nav.removeClass("opened");
                $dim.removeClass("active");
                setTimeout(function(){
                    $dim.addClass("hidden");
                    $(".dropdown-menu").addClass("hidden");
                },350);
            }

            function openNav() {
                $("body").css("overflow", "hidden");
                var activateDim = function() {
                    $dim.removeClass("hidden").addClass("active");
                };
                $(".dropdown-menu").removeClass("hidden");
                if ($(".goods-list").offset().top > $(document).scrollTop()){
                    $('html,body').animate({scrollTop: $(".goods-list").offset().top}, 300,function(){
                        activateDim();
                    });
                }else{
                    activateDim();
                }
                $nav.addClass("opened");
            }

            /* 카카오톡 공유 */
            $.Fastclick($(".kakaotalk"), function(){
                sendStat("share/promotion", {cate:"kakaotalk", id: promotion_id}, function(){
                    $.Share.kakaotalk({
                        templateId: 5968,
                        templateArgs:{
                            imageUrl: promotion_img,
                            title: promotion_title,
                            description: promotion_desc,
                            buttonTitle: '기획전 보러가기',
                            iosScheme:"shoppingmoa://next_url="+next_url,
                            androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url="+next_url,
                            iosMarket:"",
                            androidMarket:"referrer=share_kakao_promotion_"+promotion_id+"_"+User.id
                        },
                        installTalk:true
                    });
                });
            });
        });
    </script>
{% endblock %}