{% if result.data|length > 1 %}
    <style>
        #relatequery_top {width: 100%; padding:6px 8px 8px 8px; box-sizing: border-box; 
                          white-space: wrap; height: 63px; overflow:hidden;}
        .relate { display: table; }
        
        .relatequery{ vertical-align:top; display: inline-block; font-size: 13px;
                      padding: 7px 5px 7px 10px; color: #3c55ec; border-radius: 2px;}
        .relatequery-title-top { display: inline-block; font-size: 13px; 
                                 padding: 7px 5px 7px 10px; color: #3c55ec; border-radius: 2px;  }
        .relatequery-title-top:before { content:'연관'}

        .relatequery-btn-more { padding: 0px 0px 0px 16px; display: inline-block; 
                                position:absolute; right: 12px; top: 36px; 
                                background: linear-gradient(to right, rgba(255,255,255,0), #fff 25%)}
        
        .relatequery-open { display: table; }
        .relatequery-open .relatequery-btn-more {top: 10px; transform: rotate(180deg); 
                                                -webkit-transform: rotate(180deg);
                                                padding: 0px 16px 0px 0px;}
        .relatequery-open .relatequery-title-top  { width: 100%; }   
        .relatequery-open .relatequery-title-top:before { content:'연관검색어'; padding: 0px 0px 4px 0px; }
             
        .relatequery-open .relatequery { float:left; width: 45%; overflow: hidden;
                                        white-space: nowrap; text-overflow: ellipsis;}
        .relatequery-open .relatequery:nth-child(3) { width: 36% }
                                        
        .relatequery-open .relatequery:before {display: inline-block; width: 2px;
                                               height: 2px; margin: 2px 7px 0 0;
                                               border-radius: 2px; background: #3c55ec;
                                               content: ''; vertical-align: 4px;}                                               

        .relate-box {margin: 10px 0;}
        .relatequery-scroll { background: #fff; margin-bottom:1px; padding-bottom: 5px;}
        .relatequery-scroll .relatequery-title-scroll { font-weight: bold; font-size: 13px; 
                                                        margin-bottom: 0; padding: 18px 6px 10px 12px; }
        .relatequery-scroll .relatequery { margin:1px 4px 1px 8px; padding:9px 6px; }
    </style>
    <div id="relatequery_top" class="b-white">
        <div class="relatequery-title-top" style="color:#666666;"></div>
        {% for re in result.data %}
            <div class="relatequery link-service"
                 url-path="search/result"
                 data-test_id="hsmoa1728"
                 data-query="{{ re.query }}"
                 data-rank="{{ forloop.counter }}"
                 data-from="relate" 
                 data-flag="{{ request.GET.query }}" >
                {{ re.query }}  
            </div>
        {% endfor %}
        <div class="relatequery-btn-more">
            <img src="/media/hsmoa/icon/arrow_down.png" style="width:20px;" />
        </div>
    </div>
    <div class="line-top"></div>

    <div id="relatequery_scroll" class="block-hide">
        <div class="b-white relatequery-scroll">
            <div class="relatequery-title-scroll">"{{ request.GET.query }}" 연관검색어</div>
            <div >
            {% for re in result.data %}
                {% if forloop.counter < 13 %}
                <div class="relatequery link-service"
                     url-path="search/result"
                     data-query="{{ re.query }}"
                     data-rank="{{ forloop.counter }}"
                     data-from="relate_scroll" 
                     data-flag="{{ request.GET.query }}" >
                    {{ re.query }}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var r_open = false;
        $.Fastclick($(".relatequery-btn-more"), function(){
            $("#relatequery_top").toggleClass("relatequery-open");
            r_open = r_open ? false : true;
            sendStat("test/hsmoa1728/toggleRelatequery", {query:Search.query, abtest:User.abtest, test_id:"hsmoa1728,"+r_open.toString()});
        });
    </script>
{% endif %}