{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="list-alarmkeyword b-white position-relative" id="list_{{ re.id }}" style="line-height: 16px;" >
            <a href="javascript:view_search('{{ re.keyword.name }}','my_alarm', 'future');" class="disblock" >
            <div class="display-table">
                <div class="table-cell-9" style="width:38px;"></div>
                <div class="table-cell align-middle " style="line-height: 16px; height:41px;">
                    <div class="clear-2"></div>
                    <span class="font-16 strong" id="alarm_{{ re.id }}" data-keyword="{{ re.keyword.name }}">"{{ re.keyword.name }}"</span>
                    {% if re.alarm_count < 1 %}
                    <span class="margin-both font-14 c-midgray">방송예정 없음</span>
                    {% else %}
                    <span class="margin-both font-14 c-midgray ">방송예정 <span class="c-mint font-14 ">{{ re.alarm_count }}건</span>  </span>
                    {% endif %}
                </div>
                <div class="table-cell align-middle  align-left font-16 strong c-mint" style="width:20px;">
                    <img id="arrow_{{ re.id }}" class="arrow" src="{{ img }}/player_select.png" style="opacity:0.5; width: 13px;vertical-align: top; margin-top:5px;-webkit-transition: all 0.3s ease; -webkit-transform: rotate(-90deg);vertical-align: top;">
                </div>
            </div>
            </a>
            <div class="position top-0" style="left:1px;">
                <a href="javascript:alarm_remove('{{ re.id }}', '{{ re.id }}', '{{ re.keyword.name }}');" style="display: block; padding:7px 5px; ">
                    <img src="{{ img }}/ic_close.png" style="height:27px; opacity: 0.55;vertical-align: top;" />
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}