{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="{{ re.keyword }}" id="list_{{ re.entity.id }}" >
            <div class="position-relative b-white ">
            <a class='disblock' href="javascript:item_click('{{ re.entity.id }}','{{ re.entity.genre2 }}','{{ re.entity.price }}','{{ re.entity.cate1 }}','my_alarm','{{ re.entity.live_status }}','{{ re.keyword }}');">
                <div class=" font-13 " style="padding:10px 28px 8px 12px; line-height: 18px; color:#777;">
                    {% if re.keyword %}<span id="alarm_{{ re.id }}" class=" font-14 strong c-black " style="letter-spacing: 0; background: #fff6ae;" data-alarm_id="{{ re.alarm_id }}" data-keyword="{{ re.keyword }}">"{{ re.keyword }}"</span> - {% endif %}
                {% if re.entity.live_status == 1 %}
                    <span class="font-13 c-red">현재 방송중입니다.</span>
                {% else %}
                    {% if re.entity.date|get_string|slice:'0:8' == datetime|slice:'0:8' %}
                        오늘
                    {% elif re.entity.date|add:'-1'|get_string|slice:'0:8' == datetime|slice:'0:8' %}
                        내일
                    {% else %}
                        {{ re.entity.date|get_string|slice:'4:6'|get_int }}월 {{ re.entity.date|get_string|slice:'6:8'|get_int }}일,
                    {% endif %}
                     <span class="font-13">
                         {% if re.entity.start_time > 2159 %}
                         오후 {{re.entity.start_time|add:'-1200'|get_string|slice:'0:2' }}시 {{re.entity.start_time|get_string|slice:'2:4'|get_int }}분
                         {% elif re.entity.start_time > 1259 %}
                         오후 {{re.entity.start_time|add:'-1200'|get_string|slice:'0:1' }}시 {{re.entity.start_time|get_string|slice:'2:4'|get_int }}분
                         {% elif re.entity.start_time > 999 %}
                         오전 {{re.entity.start_time|get_string|slice:'0:2' }}시 {{re.entity.start_time|get_string|slice:'2:4'|get_int }}분
                         {% elif re.entity.start_time > 99 %}
                         오전 {{re.entity.start_time|get_string|slice:'0:1' }}시 {{re.entity.start_time|get_string|slice:'1:3'|get_int }}분
                         {% else %}
                         오전 0시 {{re.entity.start_time }}분
                         {% endif %}</span>
                    {% if re.status == 0 %}알람{% else %}방송, {% if re.status > 59 %}{% widthratio re.status 60 1 %}시간 전{% else %}{{ re.status }}분 전{% endif %} 알람 {% endif %}
                {% endif %}
                </div>
                <div class="" style="margin:0 7px; height:1px; background: #eee;"></div>
                <div class='display-table' >
                    <div class="table-cell" style="width:80px; height:80px; padding:7px;">
                        <img src='{{ thum320 }}/{{ re.entity.img }}' onerror="this.src='{{ cdn_img }}/noimg3.png';"/>
                    </div>
                    <div class='table-cell padding '>
                        <div class="clear-3"></div>
                        <img src="{{ logo }}/logo_{{ re.entity.genre2 }}.png" style="height:17px;margin-top: -2px;vertical-align: top;"/>
                        <div class="clear-7"></div>
                        <div class="word-break font-15 overflow" style="line-height:1.2em; height:2.3em; ">
                            {{re.entity.name}}
                        </div>
                    </div>
                    <div class="table-cell-line"></div>
                </div>
            </a>
                <div class="position " style="top:0px; right:0px;" >
                <a href="javascript:alarm_action_remove('{{ re.entity.id }}', '{{ re.id }}');">
                    <img src="{{ img }}/ic_close.png" style="height:28px;padding:3px; opacity: 0.55;" />
                </a>
                </div>
            </div>
        <div class="clear-9"></div>
        </div>
    {% endfor %}
{% endif %}