{% if result %}
        <div class="list-alarmkeyword b-white position-relative" id="list_{{ re.id }}" style="line-height: 16px; border:1px solid #27bcc5; margin: 6px 0 14px; border-radius: 4px;">
            <a href="/native/my/alarm?from=item_info" class="disblock" >
            <div class="display-table">
                <div class="table-cell align-middle font-15 c-midgray padding-9 " style="line-height: 18px; height:21px;">
                    <div class="clear-1"></div>
                    <span class="font-15 strong c-black" style="">"{{ result.name }}"</span> 검색어알람 상품입니다.
                </div>
                <div class="table-cell align-middle  align-left font-16 strong c-mint" style="width:20px;">
                    <img id="arrow_{{ re.id }}" class="arrow" src="{{ img }}/player_select.png" style="opacity:0.7; width: 13px;vertical-align: top; margin-top:4px;-webkit-transition: all 0.3s ease; -webkit-transform: rotate(-90deg);vertical-align: top;">
                </div>
            </div>
            </a>
        </div>
    <script>
        var aid_query = "{{ result.name }}";
    </script>
{% endif %}