{# 문의내역 리스트 #}

{% load humanize %}
{% load filters %}

{% if result.data %}
    {% for re in result.data %}
        <div class="b-white border-bottom" id="list_{{ re.id }}">
            <a class='disblock' href="javascript:location_href('/native/talk/info?title=상세정보&board_id={{ re.id }}&cate={{ re.cate }}')" >
                <div class='display-table' style="padding:11px 12px 0; box-sizing: border-box;line-height: 17px;">
                    <div id="status_block_{{ re.id }}" class="table-cell align-left font-10 strong" style="width:50px">
{#                       <div class="talk_user_thumb">#}
                           {% if re.like_num == 0 %}
                               <div class="talk_user_thumb alert">확인중
                           {% else %}
                               <div class="talk_user_thumb">완료
                           {% endif %}
                       </div>
                    </div>

                    <div class="table-cell font-15">
                        <div class="clear-2"></div>
                        {% if request.session.user.id == "E3lwdxbBug" or request.session.source == "opn_auto_comment" or opn_auto_comment == 1 or opn_auto_comment == 3000 %}
                            <span class="list_title font-15" >
                                {{ re.title|slice:'30' }}
                                {% if re.rating == 0 %}
                                {% else %}
                                    <span class="star badge">★ {{ re.rating }}</span>
                                {% endif %}
                            </span>
                            <small class="align-right align-top" style="float:right; width:70px; opacity: 0.7">
{#                                {{ re.create_date|time_format:'ymd'}}#}
                            </small>

                        {% else %}
                            <span class="list_title font-15 line1">
                                {{ re.title }}
                            </span>
                            <small class="align-right align-top" style="float:right; width:70px; opacity: 0.7">
{#                                {{ re.create_date|time_format:'ymd'}}#}
                            </small>
                        {% endif %}
                        <div id="cmt_block_{{ re.id }}" class="c-gray">{{ re.create_date|time_format:'ymd' }}</div>
                    </div>

                    <div class="table-cell-9"></div>
                </div>
            </a>
        </div>

        <script>

          if (user_id == 'E3lwdxbBug'){
            cmt_load('{{re.id}}');
          }
          
          //status_load('{{re.id}}');
        </script>

    {% endfor %}
{% endif %}
