{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if re.rank == 1 and re.status != 5 %}
            <div id="feature_wrap">
                <div class="position-relative b-white feature_card " id="feature_{{ re.id }}">
                    <a class='disblock'
                       href="javascript:location_href('/native/trends/info?title=쇼핑톡&from=trends_first&board_id={{ re.id }}&cate={{ re.cate }}');">
                        {% if re.img_list %}
                            <div class="thumb_wrap">
                                <div class="thumb"
                                     style="background:url('http://thum.buzzni.com/unsafe/640x0/smart/{{ re.img_list.0 }}') no-repeat center center;"></div>
                            </div>
                        {% endif %}
                        <div class='display-table'>
                            <div class="title">
                                <span class="new_badge">NEW</span>
                                <p>{{ re.title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <script>$("#hot_wrap").before($("#feature_wrap"));</script>
        {% endif %}
        {% if re.status == 0 or re.status == 5 %}
            <div id="b{{ re.status }}_{{ re.rank }}"
                 class="position-relative b-white list_card {% if re.status == 5 or re.create_date >= datetime %}hide{% endif %} st_{{ re.user.id }} "
                 style="margin:9px 6px;  border-radius:2px; ">
                <a class='disblock'
                   href="javascript:location_href('/native/trends/info?title=쇼핑톡&from=trends_list&board_id={{ re.id }}&cate={{ re.cate }}&new_window=yes');">
                    <div class="thumb_wrap">
                        {% if re.title != '*'%}
                        <div class="dim"></div>
                        {% endif %}
                        <div class="thumb" style="background:url('http://thum.buzzni.com/unsafe/414x260/smart/{{ re.img_list.0 }}') no-repeat; background-size:cover; background-position:center center">
                            <h1>
                                {% if re.create_date >= datetime %}
                                    <time class="datetime booked_time" datetime="{{ re.create_date|timeago}}">{{ re.create_date|timeago}}</time>
                                {% endif %}
                                {% if re.status == 5 %}
                                    <small>[비공개글]</small><br>
                                {% endif %}
                                {% if re.title != '*'%}
                                        {{ re.title|linebreaksbr }}
                                    {% if re.create_date|is_day_before:'24' %}
                                        <img src='http://thum.buzzni.com/unsafe/100x0/smart/{{ img }}/ico_new.png' style=";width:15px;line-height: 22px;margin:5px 0;vertical-align: top" class="new-ico"/>
                                    {% endif %}
                                {% endif %}
                            </h1>
                        </div>
                    </div>
                </a>

                <div class="" style="display:table; width:100%; ">
                    <div class="padding-9" style="display:table; background: #fff; box-shadow:0 1px 1px rgba(0,0,0,0.05)">
                         <div class="table-cell md_thumbs" data-md="{{ re.subcate }}" style="width:10%; min-width:40px">
                             {% if re.user.nickname == '패션MD' or re.subcate == '패션MD'%}
                                 <img src="{{ cdn_img }}/shoppingtalk/md_fashion.png" alt="">
                             {% elif re.user.nickname == '생활MD' or re.subcate == '생활MD'%}
                                 <img src="{{ cdn_img }}/shoppingtalk/md_life.png" alt="">
                             {% elif re.user.nickname == '뷰티MD' or re.subcate == '뷰티MD'%}
                                 <img src="{{ cdn_img }}/shoppingtalk/md_beauty.png" alt="">
                             {% elif re.user.nickname == '식품MD' or re.subcate == '식품MD'%}
                                 <img src="{{ cdn_img }}/shoppingtalk/md_food.png" alt="">
                             {% elif re.user.nickname == '월간홈쇼핑' or re.subcate == '월간홈쇼핑'%}
                                 <img src="{{ cdn_img }}/thmb_mhs.png" alt="">
                             {% elif re.user.nickname == '홈쇼핑모아' or re.subcate == '홈쇼핑모아'%}
                                <img src="{{ thum }}/120x120/smart/http://cdn.image.buzzni.com/2018/01/25/T6Tbe5FdSO.jpg" alt="" >
                             {% elif re.user.nickname == '홈쇼핑모아연구소' or re.subcate == '홈쇼핑모아연구소'%}
                                <img src="{{ cdn_img }}/shoppingtalk/md_hsmoa_lab.png" alt="">
                             {% else %}
                                <img src="{{ thum }}/120x120/smart/{{re.user.img}}" alt="" >
                             {% endif %}
                         </div>
                        <div class="table-cell" style="vertical-align: middle; padding-left:10px;">
                            <strong class="font-16">
                                {%if re.subcate %}
                                    {{re.subcate|linebreaksbr}}
                                {%else%}
                                    {{ re.user.nickname|linebreaksbr }}
                                {% endif %}
                            </strong>
                            <br>
                            <div class="c-gray">
                                {% if re.user.nickname == '뷰티MD' or re.subcate == '뷰티MD'  %}
                                    꿀피부 되는 꿀팁을 알려드려요!
                                {% elif re.user.nickname == '패션MD' or re.subcate == '패션MD'   %}
                                    요즘 핫한 패션은 무엇?
                                {% elif re.user.nickname == '생활MD' or re.subcate == '생활MD'   %}
                                    삶을 더 풍성하게 ♡
                                {% elif re.user.nickname == '식품MD' or re.subcate == '식품MD'  %}
                                    냠냠냠냠 냠냠냠~
                                {% elif re.user.nickname == '월간홈쇼핑' or re.subcate == '월간홈쇼핑'  %}
                                    홈쇼핑 알짜소식 전해드려요~
                                {% elif re.user.nickname == '홈쇼핑모아' or re.subcate == '홈쇼핑모아' %}
                                    모든 홈쇼핑을 한눈에!
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-cell" style="width:15%; text-align:center; vertical-align: middle;font-family:Avenir, sans-serif; color:#999">
                            <div style="color:#999; font-weight: 200">좋아요</div>
                            <div>{{ re.like_num }}</div>
                        </div>
                        <div class="table-cell" style="width:15%; text-align:center; vertical-align: middle; font-family:Avenir, sans-serif; color:#999">
                            <div style="color:#999; font-weight: 200">댓글</div>
                            <div>{{ re.cmt_num }}</div>
                        </div>
{#                        <div class="table-cell" style="width:4%"></div>#}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
