{% load humanize %}
{% load filters %}
{% block css%}
{% if request.GET.page == '1' %}
<style>
    .list-board {background: #fff;box-shadow: 0 0 1px #666;}
    .list-board .table-cell {padding: 12px 4px;}
    .list-board .subcate { color: #888; font-size: 13px; width: 50px; padding-right: 5px;}
    .list-board .title { font-size: 16px; line-height: 19px; word-break: break-all; color: #000;}
    .tag { border:1px solid #ccc; background: none; border-radius: 12px; height:24px;padding:0 10px;}
</style>
{% endif %}
{% endblock %}
{% if result.data %}
    {% for re in result.data %}
        <div class="list-board" id="list_{{ re.id }}">
            <a class='disblock' href="/native/board/info?board_id={{ re.id }}" >
                <div class='display-table'>
                    <div class="table-cell-line"></div>
                    <div class="table-cell subcate align-left th3-1">
                        <div class='clear-1'></div>
                        {{ re.user_id }}
                    </div>
                    <div class="table-cell-9"></div>
                    <div class='table-cell  th3-1'>
                        <div class="title">
                            {{ re.title }}
                        </div>
                        <div class='clear-3'></div>
                        <div class="title">
                            {{ re.content }}
                        </div>
                        <div class='clear-3'></div>

                        <div class="title">
                            {{ re.positive_text }}
                        </div>
                        <div class="negative-text">
                            {{ re.negative_text }}
                        </div>
                        <div class='c-gray font-13'>
                            {{ re.create_date }}
                        </div>
                    </div>
                    <div class="table-cell-line"></div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}

