{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="position-relative b-white feature_card {% if re.status == 5%}hide{% endif%}" id="feature_{{ re.id }}">
            <a class='disblock' href="javascript:location_href('/native/trends/info?title=쇼핑톡&board_id={{ re.id }}&cate={{ re.cate }}');">
                {% if re.img_list %}
                    <div class="thumb_wrap">
                        <div class="thumb" style="background:url('http://thum.buzzni.com/unsafe/640x0/smart/{{ re.img_list.0 }}') no-repeat center center;"></div>
                    </div>
                {% endif %}
                <div class='display-table'>
                    <div class="title">
                        <span class="new_badge">NEW</span>
                        <p>{{ re.title }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}
