{% load humanize %}
{% load filters %}
{% if result.data %}
    <div class="display-table-fixed">
        <div class="table-cell" style="width:3px"></div>
        {% for re in result.data %}
            <div class="hot_card" id="hot_{{ re.id }}">
                <div class="cardbox">
                    <a class='disblock'
                       href="javascript:location_href('/native/trends/info?title=쇼핑톡&from=trends_hot&board_id={{ re.id }}&cate={{ re.cate }}&new_window=yes');">
                        <div class="thumb_wrap" data-swiper-parallax="0">
                            {% if re.img_list %}
                                <div class="ranking">{{ forloop.counter }}</div>
                                <div class="thumb"
                                     style="background:url('http://thum.buzzni.com/unsafe/414x260/smart/{{ re.img_list.0 }}') no-repeat; background-size:cover;">
                                </div>
                            {% endif %}
                        </div>
                        <div class="title margin-7" style="">
                            {{ re.title|linebreaksbr }}
                        </div>
                        <div class="clear-1"></div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="table-cell" style="width:3px"></div>
    </div>
{% endif %}
