{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="b-white border-bottom" id="list_{{ re.id }}">
            <a class='disblock' href="javascript:board_click('{{ re.id }}', 'board', '상세내용')" style="padding:14px 14px 10px;">
            <div class="display-table">
                <div class="table-cell font-17" style="line-height: 21px;">
                    {{ re.title }}
                    <div class="clear-2"></div>
                    <span class="c-mint font-14 margin-right">[{{ re.subcate }}]</span>
                    <span class="c-gray font-14 ">
                        {{ re.create_date|get_string|slice:'4' }}년
                        {{ re.create_date|get_string|slice:'4:6' }}월
                        {{ re.create_date|get_string|slice:'6:8' }}일
                    </span>
                </div>
                <div class="table-cell-9"></div>
                <div class="table-cell align-center align-middle font-16 strong c-mint" style="width:18px;">
                    <img id="arrow_{{ re.id }}" class="arrow" src="{{ img }}/player_select.png" style="width: 13px;vertical-align: top; margin-top:5px;-webkit-transition: all 0.3s ease; -webkit-transform: rotate(-90deg);">
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
{% endif %}