{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data|object_array_filter:"{'key':'is_soldout','value':0}" %}
        {% if forloop.counter0 < request.GET.num|get_int %}
            <div class="item" data-query="{{ request.GET.query }}" data-datetime="{{ re.date }} {{ re.start_time }}" data-live_status="{{ re.live_status }}" data-is_soldout="{{ re.is_soldout }}">
                <a href="javascript:item_click_with_from('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ re.live_status }}','{{ request.GET.query }}');" class="list_card"
                   data-url="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ re.live_status }}','{{ request.GET.query }}');">
                    <div class="thumb" style="background:url('{{ re.img }}') no-repeat;background-size:cover;background-position:center"></div>
                    <detail>
                        <site class="genre"><img src="http://m.ui.hsmoa.com/media/logo/logo_{{ re.genre2 }}.png" alt=""></site>
                        <time class="c-gray-3">{{ re.date|time_format:'md' }} {{re.start_time }}</time>
                        <name class="sim-product sim-row-edit" data-type="product" data-product-id="{{ re.id }}">{{ re.simple_name }}</name>
                        <price>
                            {% if re.price|get_int <= 9 %}
                                <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                            {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                            {% endif %}
                        </price>
                    </detail>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
