{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div id="cmt_{{ re.id }}" class="border-bottom b-white">
            <div class='display-table'>
                <div class='table-cell align-right' style='width:40px;'>
                    <div class="clear-7"></div>
                    <img class="border {% if re.user.img %}{% else %}padding{% endif %}" style='{% if re.user.img %}height:30px;{% else %}height:15px;{% endif %}border-radius:30px;' src="{% if re.user.img %}{{ thum }}/120x120/smart/{{re.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}"/>
                </div>
                <div class='table-cell padding-9'>
                    <div>
                        <a href="{% if request.session.user.id == 'E3lwdxbBug' %}/native/my/info?target_id={{ re.user.id }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="c-blue font-14">
                        {% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}
                        </a>
                        <div class="c-gray font-11">
                        {{ re.create_date|get_string|slice:'4' }}-{{ re.create_date|get_string|slice:'4:6' }}-{{ re.create_date|get_string|slice:'6:8' }}
                        </div>
                    </div>
                    <div class='clear-9'></div>
                    <div class="overflow word-break font-14" style="line-height:20px;">
                        {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}
                    </div>
                    <div class="clear-5"></div>
                </div>
               {% if request.session.user.id == re.user_id or request.META.HTTP_XID == re.user_id or request.session.user.id == "E3lwdxbBug"  %}
                     <div class='table-cell' style="width:30px;">
                        <div class='clear-9'></div>
                        <a href="javascript:cmt_remove('{{ re.id }}');"><u class="font-11">삭제</u></a>
                     </div>
               {% endif %}
                <div class='table-cell-9'></div>
            </div>
        </div>
    {% endfor %}
{% endif %}