{% load humanize %}
{% load filters %}
<ul class="main-comments" style="padding-bottom:0px;" id="main_comments">
    {% if result.data %}
        {% for re in result.data %}
            <li id="comment_{{ re.id }}" class="{% if re.child_count %}bottom-line{% endif %}">
                <section class="parent-comment">
                    <div class="face">
                        <img src="{% if re.user.img %}{{ re.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ cdn_img }}/ev/olympic/face_{{ re.user.id | get_profile_index }}.png'">
                    </div>
                    <div class="info">
                        <span class="nick-name">{% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}</span>
                        <time class="datetime timeago" datetime="{{ re.create_date|timeago }}"></time>
                        <div class="speech-bubble">
                            <img src="{{ cdn_img }}/2016/ic_balloon_tail_white2.png" class="tail"/>
                            <p>
                                {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}
                            </p>
                            <div style="width:100%;display: inline-block;text-align: center">
                                <button class=" btn-cmt" onclick="moreSubCommentList('{{ re.id }}')">
                                    <img src="{{ cdn_img }}/2016/ic_comment_grey.png" class="add-icon"  />
                                    댓글달기
                                </button>
                                {% if request.session.user.id == re.user_id or request.META.HTTP_XID == re.user_id or request.session.user.id == "E3lwdxbBug"  %}
                                    <button class=" btn-cmt" onclick="commentRemove('{{ re.id }}',this)">
                                        <img src="{{ cdn_img }}/2016/ic_delete_grey.png" class="delete-parent-icon" />
                                        삭제</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
                <section id="sub_comments_{{ re.id }}" class="sub-comments {% if not re.child_count %}hide{% endif %}" >
{#                    <img src="{{ cdn_img }}/2016/ic_section_tail.png" class="sub-comments-icon" />#}
                    <div class="arrow"></div>
                    <ul class="sub-comments-list block-hide" id="sub_comments_list_{{ re.id }}">
                    </ul>
                    {% if re.child_count %}
                        <div style="text-align: center" id="more_{{ re.id }}" class="more" onclick="moreSubCommentList('{{ re.id }}')">
                            <button class="btn-more">댓글 {{ re.child_count }}개 보기</button>
                        </div>
                    {% endif %}
                    <div class="sub-comment-input-area hide" id="subForm_{{ re.id }}">
                        <textarea class="" id="sub_comment_{{ re.id }}" placeholder="댓글을 입력해 주세요." cols="5" rows="1"></textarea>
                        <button class="btn-comment-submit" onclick="subCommentSave('{{ re.id }}',this)">댓글달기</button>
                    </div>
                </section>
            </li>
        {% endfor %}
    {% endif %}
</ul>
