{% load humanize %}
{% load filters %}
{% if result %}
    <li id="sub_comments_item_{{ result.id }}" class="block-hide">
        <section class="child-comments">
            <div class="face">
                <img src="{% if result.user.img %}{{ result.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ cdn_img }}/ev/olympic/face_{{ result.user.id | get_profile_index }}.png'">
            </div>

            <div clacc="info">
                <span class="nick-name">{% if result.user.nickname %}{{ result.user.nickname }}{% else %}손님{% endif %}</span>
                <time class="datetime timeago" datetime="{{ result.create_date|timeago }}"></time>
                <div class="speech-bubble">
                    <img src="{{ cdn_img }}/2016/ic_balloon_tail_white.png" class="tail"/>
                    <p>
                        {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}
                    </p>
                </div>
            </div>
        </section>
        {% if request.session.user.id == result.user_id or request.META.HTTP_XID == result.user_id or request.session.user.id == "E3lwdxbBug"  %}
            <button class=" btn-subcmt-delete" onclick="subCommentRemove('{{ result.id }}',this)">
                <img src="{{ cdn_img }}/2016/ic_delete_white.png" class="delete-parent-icon" />
                삭제
            </button>
        {% endif %}
    </li>
{% endif %}