{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data reversed%}
        <li>
            <section class="child-comments">
                <div class="face">
                    <img src="{% if re.user.img %}{{ re.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ cdn_img }}/ev/olympic/face_{{ re.user.id | get_profile_index }}.png'">
                </div>
                <div clacc="info">
                    <span class="nick-name">{% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}</span>
                    <time class="datetime timeago" datetime="{{ re.create_date|timeago }}"></time>
                    <div class="speech-bubble">
                        <img src="{{ cdn_img }}/2016/ic_balloon_tail_white2.png" class="tail"/>
                        <p>
                            {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}

                        </p>
                    </div>
                </div>
            </section>
            {% if request.session.user.id == re.user_id or request.META.HTTP_XID == re.user_id or request.session.user.id == "E3lwdxbBug"  %}
                <button class=" btn-subcmt-delete" onclick="subCommentRemove('{{ re.id }}',this)">
                    <img src="{{ cdn_img }}/2016/ic_delete_white.png" class="delete-parent-icon" />
                    삭제
                </button>
            {% endif %}
        </li>
    {% endfor %}

{% endif %}