{% load humanize %}
{% load filters %}
{% if result %}
    <li id="comment_{{ result.id }}" class="{% if re.child_count %}bottom-line{% endif %} block-hide">
        <section class="parent-comment">
            <div class="face">
                <img src="{% if result.user.img %}{{ result.user.img }}{% endif %}" alt="xid" class="profile-img" onerror="this.src='{{ cdn_img }}/ev/olympic/face_{{ result.user.id | get_profile_index }}.png'">
            </div>
            <div class="info">
                <span class="nick-name">{% if result.user.nickname %}{{ result.user.nickname }}{% else %}손님{% endif %}</span>
                <time class="datetime timeago" datetime="{{ re.create_date|timeago }}"></time>
                <div class="speech-bubble">
                    <img src="{{ cdn_img }}/2016/ic_balloon_tail_white.png" class="tail"/>
                    <p>
                        {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}

                    </p>
                    <div style="width:100%;display: inline-block;text-align: center">
                        <button class=" btn-cmt" onclick="moreSubCommentList('{{ result.id }}')">
                            <img src="{{ cdn_img }}/2016/ic_comment_grey.png" class="add-icon"  />
                            댓글달기
                        </button>
                        {% if request.session.user.id == result.user_id or request.META.HTTP_XID == result.user_id or request.session.user.id == "E3lwdxbBug"  %}
                            <button class=" btn-cmt" onclick="commentRemove('{{ result.id }}',this)">
                                <img src="{{ cdn_img }}/2016/ic_delete_grey.png" class="delete-parent-icon" />
                                삭제</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section id="sub_comments_{{ result.id }}" class="sub-comments {% if not result.child_count %}hide{% endif %}" >
            <img src="{{ cdn_img }}/2016/ic_section_tail.png" class="sub-comments-icon" />
            <ul class="sub-comments-list block-hide" id="sub_comments_list_{{ result.id }}">
            </ul>
            {% if result.child_count %}
                <div style="text-align: center" id="more_{{ result.id }}" class="more" onclick="moreSubCommentList('{{ result.id }}')">
                    <button class="btn-more">댓글 {{ result.child_count }}개 더보기</button>
                </div>
            {% endif %}
            <div class="sub-comment-input-area" id="subForm_{{ result.id }}">
                <textarea class="" id="sub_comment_{{ result.id }}" placeholder="댓글을 입력해 주세요." cols="5" rows="1"></textarea>
                <button class="btn-comment-submit" onclick="subCommentSave('{{ result.id }}',this)">댓글달기</button>
            </div>
        </section>
    </li>
{% endif %}