{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if re.meta.start_date <= request.GET.flag %}
            <div class="position-relative b-white {% if request.GET.flag <= re.meta.end_date %}live_list{% endif %}" id="list_{{ re.id }}" style="margin:11px 0; box-shadow: 0 0 2px rgba(0,0,0,0.1);">
            <label style="position: absolute;left:0;top:5%;width:60px;z-index: 1000">
                {% if "survey" in re.url %}
                <img src="{{ thum }}/smart/{{ img }}/ev/common/survey.png" >
                {% elif "promotion" in re.url %}
                <img src="{{ thum }}/smart/{{ img }}/ev/common/promotion.png" >
                {% else %}
                <img src="{{ thum }}/smart/{{ img }}/ev/common/event.png" >
                {% endif %}
            </label>
            {% if request.GET.flag >= re.meta.end_date and re.negative_text != " " and re.negative_text != ""%}
                <button class="bt-alert" style="z-index: 10;bottom:10px;right:10px;position: absolute;background: white" onclick="location_href('/native/board/info?title=상세내용&board_id={{ re.negative_text }}&cate=board&from=event');">당첨자 확인</button>
            {% endif %}
            <a href="{{ re.url }}" class='disblock' {% if request.GET.flag > re.meta.end_date %}onclick="ended_event('{{ re.url }}','{{ re.subcate }}',event)"{% endif %}>
                <div class="{% if request.GET.flag <= re.meta.end_date %}{% else %}trans-dark{% endif %}">
                </div>
                {% if re.img_list %}
                    <img src="{{ thum }}/640x360/{{ re.img_list.0 }}" style="min-height:70px;" class="th-1" onerror="this.src='{{ thum }}/{{ img }}/noimg2.png'">
                {% elif re.img %}
                    <img src="{{ thum }}/640x360/{{ re.img }}" style="min-height:70px;" class="th-1" onerror="this.src='{{ thum }}/{{ img }}/noimg2.png'">
                {% endif %}
                <div class="display-table">
                    <div class="table-cell padding-9 font-13" style="line-height:18px;text-align: left;">
                        <span class="c-midgray font-13">안내 : </span> <span class="font-13"> {{ re.title }}</span>
                        <br/>
                        <span class="c-midgray font-13">기간 : </span><span class="font-13">{{ re.content }}</span>
                    </div>
                    <div class="table-cell-9"></div>
                </div>
            </a>
            {% if re.meta.include and request.GET.flag <= re.meta.end_date %}
                {% include re.meta.include %}
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
{% endif %}

{##}
{##}
{#@register.filter#}
{#def event_label(url):#}
{#    if url.find('allinweek') > 0:#}
{#        return 'allinweek'#}
{#    elif url.find('survey') > 0:#}
{#        return 'survey'#}
{#    elif url.find('promotion') > 0:#}
{#        return 'promotion'#}
{#    else:#}
{#        return 'event'#}