{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
        {% for re in result.data %}
            <div class="list-tvshop b-white position-relative border-top" >
                <a href="javascript:search_click('{{ re.url }}','{{ re.genre2 }}','{{ re.low_price }}','group_all_{% if order %}{{ order }}{% else %}{{ request.GET.order }}{% endif %}', '{{ request.GET.query }}', '','{{ re.is_ad }}', '{{ re.goods_id }}', '{{ re.rank }}', '{{ re.group_id }}', '{{ re.img }}', '{{ re.name }}');">
                    <div class="display-table" style="table-layout: fixed;">
                        <div class="table-cell thum position-relative" style="width:110px; height:110px;padding:10px;">
                            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/http://ui.buzzni.com/i/noimg.png';" />
                            {% if "성인용품" in rep.name or "자위" in rep.name or "남성용품" in rep.name or "명기" in rep.name or "오나홀" in rep.name or "딜도" in rep.name or "야한" in rep.name or "공기인형" in rep.name or "에어돌" in rep.name or "안나뮤" in rep.name or "레그에비뉴" in rep.name %}
                            <div class="position" style="top:0; left:0; height:100%; width:100%; background: #bbb;">
                                <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                            </div>
                            {% endif %}
                        </div>
                        <div class="table-cell" style="width:12px;"></div>
                        <div class="table-cell  position-relative" style="padding:0 3px 0 0">
                            <div class="clear-9"></div>
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:16px;margin-top:-2px;"/>
                            <div class="clear-2"></div>
                            <div class="title" style="font-size:15px;">{{re.name}}</div>
                            {% if re.review_rate > 0 or re.review_num > 0 %}
                            <div class="meta" style="margin-top:4px;">
                                {% if re.review_rate > 0 %}
                                    <span class="review-rate position-relative" style="display: inline-block;">
                                        <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                        <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                                width: {% widthratio re.review_rate 1 20 %}%;"></span>
                                    </span>
                                    <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                                {% endif %}
                                {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px;font-size:12px">|</span> {% endif %}
                                {% if re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>{% endif %}
                            </div>
                            {% endif %}
                            <price>
                                <num class="{% if re.rank == 1 %}tag {{ request.GET.order }}{% endif %}">{{re.price|intcomma}}</num>
                            </price>
                            {% if re.goods_type == "tvshop" %}
                                <div class="tag tvshop" >TV상품</div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            
        {% endfor %}
{% endif %}
