{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    <div style="margin:0 6px; ">
    {% for re in result.data %}
        {% if forloop.counter < 7 %}
        <div id='reco_item_{{ re.genre2 }}_{{ re.goods_id }}' class="pull-left list-recoitem " style="width:33%;" >
            <a class="position-relative disblock" href="javascript:search_click('{{ re.url }}','{{ re.genre2 }}','{{ re.low_price }}','group_reco', '{{ request.GET.query }}', '','1', '{{ re.goods_id }}', '{{ forloop.counter }}', '{{ request.GET.pid }}', '{{ re.img }}', '{{ re.name }}');">                        
                <div class='b-white position-relative' style="margin:0 6px 6px 6px;">
                <div class='position-relative'>
                    <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}"
                        onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                    {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #bbb;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                    {% endif %}
                </div>
                <div style="padding:12px 0px 0px 0px; height:53px;">
                    <div class="font-12 overflow" style="line-height:1.2em; height:2.3em;">
                        {{re.name}}
                    </div>
                    <div class="clear-2"></div>
                    {% if re.price > 9 %}
                    <div style="line-height:23px;" ><span class="font-13 strong c-black"> {{re.price|intcomma}}<span class="font-11 strong">원</span></span></div>
                    {% else %}
                    <div class="font-12 c-gray " style="line-height:23px;" >상담/렌탈</div>
                    {% endif %}
                </div>
            </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear-3"></div>
    </div>
{% endif %}