{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="" id="list_{{ re.id }}" style="width: 33%; float:left; box-sizing: border-box; padding:8px; ">
            <a class='disblock' href="javascript:item_click('{{ re.entity.id }}','{{ re.entity.genre2 }}','{{ re.entity.price }}','{{ re.entity.cate1 }}','home_visititem','{{ re.entity.live_status }}');">
                <div class="position-relative" >
                    <img src='{{ thum }}/320x320/smart/{% if re.entity.img %}{{re.entity.img}}{% else %}{{ cdn_img }}/noimg.png{% endif %}' onerror="this.src='http://thum.buzzni.com/unsafe/320x320/smart/{{ cdn_img }}/noimg.png';" style="border-radius: 50%;"/>
                    <div class="position z-99" style="width: 100%; height:100%; left:0; top:0; border: 1px solid #000; border-radius: 50%; box-sizing: border-box; opacity: 0.07;"></div>
                </div>
                <div class='' style="padding:7px 1px 4px;">
                    <div class="word-break font-13 overflow align-center " style="line-height:16px;max-height:16px;">
                       {{ re.entity.name }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="clear"></div>
{% endif %}