{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
    <div class="product-list" style=" ">
        <a class='disblock ' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag1 }}','{{ re.live_status }}');">
        <div class="position-relative b-white listbox">
            <div class="thum">
                {% if re.live_status == 1 %}<div class="bt-play "></div>{% endif %}
                <img src='{{ thum }}/{{ request.GET.flag }}x{{ request.GET.flag }}/center/smart/{{ re.img }}' onerror="this.src='{{ cdn_img }}/noimg3.png';"/>
            </div>
            <div class="time">
                <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="">
                <span class="margin-right c-gray font-12">|</span>
                <span>
                {{ re.date|get_string|slice:'4:6'|get_int }}월 {{ re.date|get_string|slice:'6:8'|get_int }}일
                {{ re.start_time }}
                </span>
            </div>
            <div  class="detail">
                <div class="name">{% if re.simple_name|length > 3 %}{{ re.simple_name }}{% else %}{{ re.name }}{% endif %}</div>
                <div class="price">
                {%  if re.price > 9 %}
                    <span class="num" >{{re.price|intcomma}}</span>
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s class="c-gray font-12 margin-left" style="line-height: 12px;">{{re.org_price|intcomma}}원</s>
                    {% endif %}
                {% else %}
                    <span class="num block-hide" >{{re.price|intcomma}}</span>
                {% endif %}
                </div>
            </div>
            {% if re.live_status == 2 %}
            <div class="alarm-bt position right-9 align-center" style="bottom:8px; line-height: 14px;">
                <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                       onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                <label class="" for="alarm_action_{{ re.id }}"></label>
            </div>
            {% endif %}
        </div>
        </a>
    </div>
    {% endfor %}
{% endif %}
