{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if forloop.counter < 4 %}
        {% if forloop.counter == 1 %}
            <div id="swipeitem">
        {% endif %}
        <div class="swipeitem" id="swipe_{{ re.id }}" >
        <a class='disblock' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','home_swipeitem','{{ re.live_status }}');" style="height: 100%; width:100%;">
            <div class=" c-white  position" style="background: rgba(245,146,166,0.85); display: inline-block; padding:8px 10px 8px 10px;bottom:40px; left:0; line-height: 15px;">
                <div class="clear-2"></div>
                <div class=" font-11" style="  ">{{ re.genre2|get_genre }}</div>
                <div class=" font-14" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; ">{{ re.name|slice:'0:20'  }}</div>
                <div class="clear-9"></div>
                <div class="strong font-18" style=" ">{{ re.price|intcomma }}원</div>
                <div class="clear-2"></div>
            </div>
            <img src="{{ thum }}/640x320/smart/{{re.img}}">
        </a>
        </div>
        {% if forloop.counter == 3 %}
            <div class="position z-99 right-5 bottom-5">
                <button class="swipe-bt on">1</button><button class="swipe-bt">2</button><button class="swipe-bt">3</button>
            </div>
            </div>
        {% endif %}
        {% elif forloop.counter < 7 %}
        {% if forloop.counter == 4 %}<div class="display-table">{% endif %}
        <div class="table-cell th3-1 padding-3 reco-item" id="list_{{ re.id }}" >
            <a class='disblock' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','home_recoitem','{{ re.live_status }}');">
                <div class="position-relative" >
                    <img src='{{ thum }}/320x320/smart/{% if re.img %}{{re.img}}{% else %}{{ cdn_img }}/noimg.png{% endif %}' onerror="this.src='http://thum.buzzni.com/unsafe/320x320/smart/{{ cdn_img }}/noimg.png';"/>
                    <button class="position c-white" style="background:-webkit-gradient(linear,left top,left bottom,color-stop(0,transparent),color-stop(100%,rgba(0,0,0,.4)));
                    bottom:0px; left:0px; border: 0; margin:0px; padding:0 5px; font-size:13px; width: 100%;  line-height: 15px; padding:40px 6px 4px; text-align:left; display: inline-block; word-break: normal;">
                        {{ re.name|slice:"0:20"}}
                    </button>
                    <div class="position z-99" style="width: 100%; height:100%; left:0; top:0; border: 1px solid #000; box-sizing: border-box; opacity: 0.1;"></div>
                </div>
            </a>
        </div>
        {% if forloop.counter == 6 %}</div>{% endif %}
        {% endif %}
    {% endfor %}

{% endif %}
