{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
            {# 소호몰은 장르 대신에 site_name#}
            <li id='{{ re.genre2 }}_{{ re.goods_id }}' class="product-list"
                genre2="{{ re.genre2 }}" url="{{ re.url }}"
                genre2_ko="{{ re.genre2_ko }}">

{#                <div class='sarah_pick'>Sarah's Pick</div>#}

                <div id='heart_{{ re.goods_id }}' class="heart {% if re.like_id %}active{% endif %}" like_status="-1">
                    <i class="fa fa-heart"></i>
                </div>
                <a class='disblock ' href="javascript:shotping_click('{{ re.img }}', '{{ re.genre2 }}_{{ re.goods_id }}','{{ re.brand }}','{{ re.genre2 }}','{{ re.shop_type }}', '{{ re.genre2_ko }}', '{{ re.price }}', '{{ re.name }}', '{{ re.url }}');">
{#                <div class="position-relative  b-white listbox">#}
                    <div class="thum position-relative">
                        {% if re.img|slice:"::-1"|slice:"3"|slice:"::-1" != 'gif' %}
{#                              <img class="gifs" data-src='{{ re.img }}' />#}
                            <img class="gifs" data-src='{{ re.img }}' onerror="document.getElementById('{{ re.genre2 }}_{{ re.goods_id }}').style.display='none';" />
{#                            <img class="gifs" data-src='{{ thum }}/320x0/{{ re.img }}' onerror="this.src='{{ re.img }}'" />#}
                        {% else %}
{#                              <img class="gifs" data-src='{{ re.img }}' />#}
                            <img class="gifs" data-src='{{ re.img }}' onerror="document.getElementById('{{ re.genre2 }}_{{ re.goods_id }}').style.display='none';"/>
{#                            <img class="gifs" data-src='{{ thum }}/320x0/{{ re.img }}' onerror="this.src='{{ re.img }}'"/>#}
                        {% endif %}
                    </div>
                    <div class="detail">
                        <div class="price">
{#                        {% if re.img|slice:"::-1"|slice:"3"|slice:"::-1" != 'gif' %} GIF {% endif %}#}
                        {%  if re.price > 9 %}
{#                            {% if re.org_price > re.price %}#}
{#                                <s class="c-gray font-12" style="line-height: 1em; position: absolute; top: 3px; font-weight: 500;">{{re.org_price|intcomma}}</s>#}
{#                            {% endif %}#}
                            <span class="num" >{{re.price|intcomma}}</span>
                            {% if re.org_price|get_int > re.price|get_int %}
                            {% endif %}
                        {% else %}
                            <span class="num block-hide" >{{re.price|intcomma}}</span>
                        {% endif %}
                        </div>

                        <div class="name">
                                {{ re.name|cut_brand_name:re.brand}}
                            {% if re.simple_name|length > 3 %}
        {#                        {{ re.simple_name }}#}
                            {% else %}
        {#                        {{ re.name }}#}
                            {% endif %}
                        </div>

{#                        {% if re.brand %}#}
                        <div class="brand">
                            {% if re.genre2_ko %}
                                {{ re.genre2_ko }}
                            {% else %}
                                {{ re.genre2|cut_special_char }}
                            {% endif %}
{#                            {{ re.brand|cut_special_char }}#}
                        </div>
{#                        {% endif %}#}
                    </div>
                    {% if re.live_status == 2 %}
                    <div class="alarm-bt position right-9 align-center" style="bottom:8px; line-height: 14px;">
                        <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                               onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                        <label class="" for="alarm_action_{{ re.id }}"></label>
                    </div>
                    {% endif %}
{#                </div>#}
                </a>
            </li>
    {% endfor %}
{% endif %}
