{% load humanize %}
{% load filters %}
{% if result.data %}
    <div class="display-table">
    {% for re in result.data %}
        <div class="table-cell th2-1 padding-7" id="list_{{ re.id }}" >
            <a class='disblock' href="javascript:board_click('{{ re.id }}', '{{ re.cate }}', '쇼핑톡');">
                <div class="position-relative" style="width: 100%;">
                    {% if re.img_list %}
                        <img src='http://thum.buzzni.com/unsafe/320x200/smart/{{ re.img_list.0 }}' onerror="this.src='{{ cdn_img }}/noimg3.png';"/>
                    <div class="position z-99" style="width: 100%; height:100%; left:0; top:0; border: 1px solid #000; box-sizing: border-box; opacity: 0.07;"></div>
                    {% endif %}
                </div>
                <div class="word-break font-14 overflow" style="line-height:1.2em; height:2.3em; margin:5px 1px;">
                    {{ re.title }}
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}