{% load humanize %}
{% load filters %}
{% if result.data %}
    <div class="display-table">
    {% for re in result.data %}
        {% if forloop.counter == 4 %}</div><div class="display-table">{% endif %}
         <div class="best-item table-cell padding th3-1" >
            <a class='disblock' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','home_bestitem','{{ re.live_status }}');">
                <div class="position-relative" >
                    <img src='{{ thum320 }}/{{re.img}}' onerror="this.src='{{ thum320 }}/{{ img }}/noimg.png';"/>
                    <div class="position z-99" style="width: 100%; height:100%; left:0; top:0; border: 1px solid #000; box-sizing: border-box; opacity: 0.07;"></div>
                    <button class="position spacing " style="top:0px; left:0px; border: 0; margin:0px; padding:0;background: #555; color: #fff; font-size:13px; width: 21px; height: 21px; line-height: 21px;  opacity: 0.8;">
                        {{ re.rank }}
                    </button>
                </div>
                <div class='' style="padding:5px 1px 4px;">
                    <div class="word-break font-13 overflow overflow" style="line-height:1.2em; height:2.3em; ">
                       {{ re.name }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
     </div>
{% endif %}
