{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
            <div class="list-special" id="list_{{ re.id }}" >
                <a class="listbox " href="javascript:todaydeal_click('{{ re.url }}', '{{ re.genre2 }}', '{{ re.price }}', 'todaydeal', '{{ re.id }}', '{{ re.crawl_id }}', '{{ re.rank }}', '{{ re.ncate1 }}');">
                    <div class="thum position-relative " >
                        {% if re.rank < 11 %}
                        <button class="position  b-red" style="border: 0; margin:0px; padding:0; left:0px; color: #fff; font-size:17px; width: 30px; height: 30px; line-height: 30px; opacity: 0.8 ; ">
                            {{ re.rank }}
                        </button>
                        {% endif %}
                        {% if re.genre2 == 'gsshop' %}
                        <img src="{{ thum }}/smart/{{re.img}}" onerror="this.src='{{ thum }}/640x320/smart/{{ cdn_img }}/noimg2.png'" />
                        {% else %}
                        <img src="{{ thum }}/smart/{{re.img}}" onerror="this.src='{{ thum }}/640x320/smart/{{ cdn_img }}/noimg2.png'" style="max-width: 50%;" />
                        {% endif %}

                        {% if re.buy_num > 9 %}
                        <div class="font-12 align-center position b-mint c-white z-99" style="right:0; bottom:0; line-height: 20px; height:20px; padding: 1px 6px 0; opacity: 0.85;" >
                            구매 <span class="strong" >{{ re.buy_num|intcomma }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div style="height:1px; background: #000; opacity: 0.08; margin-top: -1px;"></div>
                    <div class="detail">
                        <div class="clear-2"></div>
                        <div class="font-11 align-center {{ re.genre2 }}" style="line-height: 11px; color:#aaa;">{{ re.genre2|get_genre }}</div>
                        <div class="clear-1"></div>
                        <div class="title " >{{ re.name }}</div>
                        <div class="clear-3"></div>
                        <div class="display-table" style="width: auto; margin:  0 auto;">
                        {% if re.sale_rate > 9 %}
                            <div class="table-cell " style=" ">
                                <div class="c-red pull-left" style="font-size: 28px;  line-height: 34px; margin-top: 2px;">
                                    {{ re.sale_rate }}<span class="font-14">%</span>
                                </div>
                                <div class="price pull-left" style="margin-left:11px;line-height: 15px;" >
                                    {% if re.org_price|get_int > re.price|get_int %}
                                        <s class="sale c-gray">{{ re.org_price|intcomma }}원</s>
                                    {% else %}
                                        <div class="sale c-white">오늘의 가격</div>
                                    {% endif %}
                                    <div class="num strong">{{ re.price|intcomma }}</div>
                                </div>
                            </div>
                        {% else %}
                            <div class="table-cell " style=" ">
                                <div class="c-red pull-left" style="font-size: 22px;  line-height: 34px; margin-top: 2px;">
                                    특가
                                </div>
                                <div class="price pull-left" style="margin-left:11px;line-height: 15px;" >
                                    {% if re.org_price|get_int > re.price|get_int %}
                                        <s class="sale c-gray">{{ re.org_price|intcomma }}원</s>
                                    {% else %}
                                        <div class="sale c-white">오늘의 가격</div>
                                    {% endif %}
                                    <div class="num strong">{{ re.price|intcomma }}</div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </a>
            </div>
    {% endfor %}
{% endif %}