{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    <div id="totalScore" class="align-top b-white position-relative"  style="text-align:center;line-height:75px; height:75px;">
        {% with result.avgstar|divide:20|get_string as star %}
            {% for i in "01234" %}
                {% if i|add:'.5'|get_string < star|get_string %}
                <img src="http://thum.buzzni.com/unsafe/http://m.ui.hsmoa.com/media/img/star_on.png" style="width:25px; vertical-align:top; margin: 23px -2px 0;">
                {% else %}
                <img src="http://thum.buzzni.com/unsafe/http://m.ui.hsmoa.com/media/img/star_off.png" style="width:25px; vertical-align:top; margin: 23px -2px 0;">
                {% endif %}
            {% endfor %}
        {% endwith %}
        <span style="font-size:30px;font-weight:bold; margin:2px 0px 2px 5px; display:inline-block;">{{ result.avgstar }}</span><span>점</span>
    </div>
    {% for re in result.data %}
    <div class="b-white position-relative border-top padding-12">
        <div >
            <div style="float:right">
                <span class=" font-13 c-gray" >{{ re.user }} | {{ re.date }}</span>
            </div>
            <div style="min-width:90px;">
                {% for i in "01234" %}
                    {% if i|add:'.5'|get_string < re.star|get_string %}
                    <img src="http://thum.buzzni.com/unsafe/http://m.ui.hsmoa.com/media/img/star_on.png" style="width:15px; vertical-align:top; margin: 1px -2px;">
                    {% else %}
                    <img src="http://thum.buzzni.com/unsafe/http://m.ui.hsmoa.com/media/img/star_off.png" style="width:15px; vertical-align:top; margin: 1px -2px;">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="clear-9"></div>
        <div style="line-height:1.4em;  ">
            {{ re.comment }}
        </div>
    </div>
    {% endfor %}
{% endif %}