{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div id="item_{{ re.id }}" class="b-white product position-relative " style="margin:10px 0;">
            <a class='disblock' href="javascript:view_item('{{ re.id }}', '&site={{ re.genre2 }}&live={{ re.live_status }}&cate={{ request.GET.cate }}&rank={{ re.rank }}&from={{ request.GET.flag }}&abtest={{ request.GET.abtest }}');">
                {% if re.age|get_int > 10 %}
                    <button class=" tag-age " ><span>{{ re.age }}대</span> 인기</button>
                {% endif %}
                <div class='display-table '>
                    <div class="table-cell" style="width:150px;height:150px;">
                        {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                        <button class="bt-rank {% if re.rank <= 20 %}b-red{% else %}b-darkgray{% endif %}" >
                            {{ re.rank }}
                        </button>
                        <img src='{{ thum }}/320x320/center/smart/{% if re.img %}{{re.img}}{% else %}{{ img }}/noimg.png{% endif %}' onerror="this.src='http://thum.buzzni.com/unsafe/320x320/smart/{{ img }}/noimg.png';"/>
                    </div>
                    <div class='table-cell position-relative ' style="padding:9px 13px;">
                        <div class="clear-3"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:19px;margin-top:-3px; margin-left:-1px; vertical-align: top;"/>
                        <div class="clear-7"></div>
                        <div class=" word-break font-17 overflow " style="line-height:1.3em; height:2.6em; ">{{ re.name }}</div>
                        <div class="clear-9" style="height:27px;"></div>
                        <div class="price position bottom-9">
                        {% if re.program_name|length > 1 %}
                            <div class="titletag" >{{ re.program_name|program_dict:'id' }} </div>
                        {% elif re.org_price|get_int > re.price|get_int %}
                            <s class="c-gray font-11" style="line-height: 12px;">{{re.org_price|intcomma}}원</s>
                        {% endif %}
                        {%  if re.price > 9 %}
                            <div class="font-18 c-red strong" style="line-height: 1.1em;">
                                {{re.price|intcomma}}<span>원</span>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="c-midgray  font-13" style="border-top: 1px solid #f2f2f2; line-height : 30px; height:29px; padding: 1px 11px 0 11px;">
                    {% if re.live_status == 1 %}<span class="c-red font-13 ">현재방송중</span>{% else %}
                            <span class="c-gray font-13 ">{{ re.date|get_string|slice:'6:8'|get_int }}일 {{re.start_time }} 방송</span>
                    {% endif %}
                    <span class="pull-right c-gray-3"><span class="c-gray-5">{% widthratio re.alarm_num 1 7 as score %}{{ score|add:1111|intcomma }}</span>명 관심</span>
                </div>
            </a>
            {% if re.live_status == 2 %}
            <div class="alarm-bt position right-9 align-center" style="top:109px; line-height: 14px;">
                <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                       onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                <label class="" for="alarm_action_{{ re.id }}"></label>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
