{% load filters %}
{% load humanize %}
{% if result.data|length > 2 %}
    <div class="margin-3">
    {% for re in result.data %}
        {% if forloop.counter < 5 %}
        <div class="show-item" query="{{ re.program_name }}" >
            <div class="padding-3 position-relative">
                <img src="{{ cdn_img }}/program/show_{{ re.program_name }}.png?v=6">
            </div>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear"></div>
    </div>
{% endif %}