{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    <div style="margin:0 6px; ">
    {% for re in result.data %}
        {% if forloop.counter < 7 %}
        <div id='item_{{ re.id }}' class="pull-left list-recoentity " style="width:33%;" >
            <a href="javascript:view_item('{{ re.id }}', '&from=reco_entity&abtest={{ request.GET.flag }}&rank={{ forloop.counter }}');"
               class="disblock">
                <div class='b-white position-relative' style="margin:0 6px 6px 6px;">
                    <img src="{{ thum320 }}/{{ re.img }}"
                         onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                    <div style="padding:5px 0; height:50px;">
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:15px;vertical-align: top; margin-top: -1px;">
                        <div class="font-13 overflow" style="line-height:1.4em; max-height:1.3em;">
                            {% if re.simple_name|length > 1 %}{{re.simple_name}}{% else %}{{re.name}}{% endif %}
                        </div>
                        <div class="clear-2"></div>
                        {% if re.price > 9 %}
                        <div class="font-13 c-black strong" style="line-height:16px;" >{{re.price|intcomma}}<span class="font-11">원</span></div>
                        {% else %}
                        <div class="font-13 c-gray " style="line-height:16px;" >상담/렌탈</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear-3"></div>
    </div>
{% endif %}