{% load filters %}
{% load humanize %}
{% if result.data|length > 2 %}
    <div class="display-table-fixed">
    {% for re in result.data %}
        {% if forloop.counter <= request.GET.flag|get_int %}
        <div class="table-cell" style="width:20%;" >
            <a href="javascript:view_item('{{ re.id }}', '&from=tvrank_reco&rank={{ forloop.counter }}&abtest={{ request.GET.abtest }}');" class="disblock">
                <div class='b-white position-relative' style="margin:0 6px 6px 6px;">
                    <div>
                        <img class="position" src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                        <div style="padding-bottom: 100%;"></div>
                    </div>
                    <div style="padding:6px 0 0;">
                        <div class="font-13 overflow" style="line-height:1.2em; height:2.3em;">
                            {% if re.simple_name|length > 6 %}{{re.simple_name}}{% else %}{{re.name}}{% endif %}
                        </div>
                        <div class="clear-2"></div>
                        {% if re.price > 9 %}
                        <div class="font-13 c-black strong" style="line-height:16px;" >{{re.price|intcomma}}원</div>
                        {% else %}
                        <div class="font-13 c-white strong" style="line-height:16px;" >{{re.price|intcomma}}원</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}