{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="reco-item"  style="margin: 4px; display: inline-block; width:154px;">
            <div class='b-white shadow-light position-relative' >
                <button class="position spacing b-lion " style="border: 0; opacity: 0.96; margin:0px; padding:1px 0 0 0 ; color: #fff; font-size:15px; width: 30px; height: 30px; line-height: 30px; border-radius: 0 0 2px 0;">
                    {{ re.rank }}
                </button>
                <a class='disblock ' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag }}','{{ re.live_status }}');">
                    <img src='{{ thum320 }}/{{re.img}}' onerror="this.src='{{ thum320 }}/{{ img }}/noimg.png';"/>
                </a>

                <div class='  ' style="padding:8px 10px;display: block;border-top:1px solid #F0F0F0">
                    <img  src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:18px;margin-top:-2px;  vertical-align: top;float:left"/>
                    <div class="clear-3"></div>
                    <div class="word-break font-14 overflow " style="line-height:1.3em;height:2.6em;text-align: left">
                        {% autoescape off %}
                            {% if re.name|length < 28 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                        {% endautoescape %}
                    </div>
                    <div class="clear-9"></div>
                    <div class="clear-5"></div>
                    <div class="price ">
                        <div class="font-15 c-lion" style="line-height: 20px;">
                            {%  if re.price > 9 %}
                                {{re.price|intcomma}}원
                            {% endif %}
                        </div>
                    </div>
                    <div class="clear-5"></div>
                    <div class="position" style="right:5px; bottom:8px;">
                        <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                               onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                        <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                        <div class="clear-2"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="position align-center  c-darkgray" style="margin: 4px; top:50%; margin-top: -21px; width:154px; display: inline-block; width:160px;">
        <a class="font-14" href="javascript:location_href('/native/tvrank?title=홈쇼핑 TOP100&from={{ request.GET.flag }}')";>
            홈쇼핑 인기상품 더보기
            <div class="clear-5"></div>
            <button class="bt-basic" style="width: 42px; height:42px; border-radius: 30px;padding:0;">
                <img src='{{ thum }}/smart/{{ img }}/arrow_right.png' style="width: 18px;margin-left: 3px;vertical-align: top; margin-top: 5px;">
            </button>
        </a>
    </div>
{% endif %}