{% load humanize %}
{% if result.data|length > 2 %}
    <div id="reco_{{ request.GET.entity_id }}" class="tvrank-reco block-hide b-white position-relative z-99"  style="padding:6px 8px 0; margin-top: -38px; width: 100%; box-sizing: border-box;">
        <div class="font-14 c-darkgray " style="margin-left: 6px;">연관 추천상품</div>
        <div class="clear-2"></div>
    {% for re in result.data %}
        {% if forloop.counter < 4 %}
        <div class="pull-left list-recoentity" style="width:33%;" >
            <a href="javascript:view_item('{{ re.id }}', '&from=tvrank_reco_entity&before_entity={{ request.GET.entity_id }}&rank={{ forloop.counter }}');"  class="disblock">
                <div class='b-white' style="margin:0 8px 5px 8px;">
                    <div class=" position-relative">
                        <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                        {% if re.price > 9 %}
                        <div class="font-13 c-white  position" style="line-height:20px; height:20px; bottom:0; background: rgba(66,66,66,0.5);  width:100%; left:0; padding-left: 6px; box-sizing: border-box;" >
                            {{re.price|intcomma}}<span class="font-11">원</span>
                        </div>
                        {% endif %}
                    </div>
                    <div style="padding:6px 0; ">
                        <div class="font-13 overflow" style="line-height:1.3em; height:2.4em;">
                            {% if re.simple_name|length > 1 %}{{re.simple_name}}{% else %}{{re.name}}{% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear"></div>
    </div>
{% endif %}