{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class=""  style="margin: 4px; display: inline-block; width:154px;">
            <a class='disblock ' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag }}','{{ re.live_status }}');">
                <div class='b-white shadow-light position-relative'>
                    <button class="position spacing b-lion " style="border: 0; margin:0px; padding:0; color: #fff; font-size:15px; width: 35px; height: 33px; line-height: 33px; border-radius: 0 0 3px 0; padding-top:1px; font-weight: bold;">
                        {{ re.rank }}<span class="font-12" style="position:relative; font-weight:normal; top: -1px; left:1px;">위</span>
                    </button>
                    <img src='{{ thum320 }}/{{re.img}}' onerror="this.src='{{ thum320 }}/{{ img }}/noimg.png';"/>
                    <div class=' align-center ' style="padding:8px 10px; ">
                        <div class="clear-2"></div>
                        <img  src="{{ logo }}/logo_big_{{ re.genre2 }}.png" style="height:18px;margin-top:-2px;  vertical-align: top;"/>
                        <div class="clear-3"></div>
                        <div class="word-break font-15 overflow" style="line-height:1.2em; height:2.3em; ">
                            {% autoescape off %}
                                {% if re.name|length < 28 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                            {% endautoescape %}
                        </div>
                        <div class="clear-7"></div>
                        <div class="price ">
                            <div class="font-15 c-red" style="line-height: 20px;">
                                    {{re.price|intcomma}}원
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
        <div class="position align-center  c-darkgray" style="margin: 4px; top:50%; margin-top: -21px; width:154px; display: inline-block; width:160px;">
            <a class="font-14" href="javascript:location_href('/native/tvrank?title=홈쇼핑 TOP100&from={{ request.GET.flag }}')";>
            홈쇼핑 인기상품 더보기
            <div class="clear-5"></div>
            <button class="bt-basic" style="width: 42px; height:42px; border-radius: 30px;padding:0;">
                <img src='{{ thum }}/smart/{{ img }}/arrow_right.png' style="width: 18px;margin-left: 3px;vertical-align: top; margin-top: 5px;">
            </button>
            </a>
        </div>
{% endif %}