{% load humanize %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <div class=" position-relative b-white" id="list_{{ re.id }}" style="border-bottom: 1px solid #e2e2e2;">
            <a href="javascript:view_item('{{ re.id }}', '&from=recolist&rank={{ forloop.counter }}');"  class="disblock padding-9">
                <div class='display-table '>
                    <div class="table-cell position-relative" style="width:120px;height:120px;">
                        <img class="" src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                    </div>
                    <div class='table-cell ' style="padding:0px 12px;">
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:16px;vertical-align: top; margin-top: -1px;">
                        <div class="clear-5"></div>
                        <div class="word-break font-16 overflow" style="line-height:1.3em;height:2.5em; ">
                            {{re.name}}
                        </div>
                        <div class="position bottom-9">
                            {% if re.price > 9 %}
                            <div class="font-17 c-black strong" style="line-height:16px;" >{{re.price|intcomma}}<span class="font-12">원</span></div>
                            {% else %}
                            <div class="font-17 c-white strong" style="line-height:16px;" >{{re.price|intcomma}}<span class="font-12">원</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}