{% load humanize %}
{% load filters %}
{% load name_refiner_fashiontab %}
{% if result.data %}
    {% for re in result.data %}
        {% if "아동" in  re.name %}
        {% else %}
            <li class="product" id="{{re.genre2}}_{{re.goods_id}}" data-age20="{{ re.age20_rate }}" data-age30="{{ re.age30_rate }}" data-age40="{{ re.age40_rate }}" data-group_id="{{ re.group_id }}">
                <div id='heart_{{ re.goods_id }}' data-like-id='{{ re.like_id }}'
                     class="heart {% if re.like_id > 0 %}active{% endif %}">
                    <i class='ic ic-heart-full'></i>
                </div>
                <a class="product_comp" href="javascript:style_click('{{ re.genre2 }}','{{ re.goods_id }}');">
                    <div class="thum">
                        <img class="gifs" data-src="{{ thum }}/480x0/{{re.img}}"
                             onload=""
                             onerror="$('#{{ re.genre2 }}_{{ re.goods_id }}').hide();list_masonry();">
                    </div>
                    <div class="detail">
                        {% if re.brand %}
                            {% if re.name|filter_for_refine_name != " " %}
                                <div class="name">{{ re.name|filter_for_refine_name:re.brand  }}</div>
                            {% endif %}
{#                        <div class="brand">{{ re.brand|cut_brand_name:"" }}</div>#}
                        {% else %}
                                <div class="name">{{ re.name|filter_for_refine_name:re.brand }}</div>
                        {% endif %}
                        {% if re.compare_info %}
                            <div class="compare_info">
                                {{ re.compare_info.pids_cnt }}
                            </div>
                        {% else %}
                        {% endif %}
                        <div class="price">{{ re.price|intcomma }}</div>
                    </div>
{#                {% if request.GET.xid in 'l3fMtNeS5J 3LoHkeOviI 29W9SnIdmb m1dVAMeIxy 2NHGByO4Pe Nzw8EyruwW Cz7tjZUMZQ IKWNiWASq6 zswuu8LoiI yRqMZJWRH0 1mMEbof3Wb 07m82LTPkU OogNBrRjYE Lc8441YrV0 2mQnepoymp r1RaUxrod8 J90Sugkgnl sSqKOpY2RO 6I9TUXKrqt slZAFVwyV3 l2RgCt71GE kIbcWHYxzf p2izGFySxf 5ghnNhnB5c 2Zke4C43lA fc4fiqjL99 8ar8lD4orM M0U9pI79B5' %}#}
{#                    <div class="tag_soho">#}
{#                        <div class="age_rate" style="background:darksalmon;width:{{ re.age40_rate }}%"></div>#}
{#                    <div class="age_rate" style="width:{{ re.age30_rate }}%"></div>#}
{#                        <div class="age_rate" style="background:#ffcc3b;width:{{ re.age20_rate }}%"> </div>#}
{#                    </div>#}
{#                {% endif %}#}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
{#{% if exposed %}#}
{#    <script>#}
{#        // 현재 검색결과에 노출된 아이템들을 로깅한다#}
{#        logExposedItem('{{ exposed.user_id }}', '', '{{ exposed.entities|safe }}', {{ exposed.create_date }}, {{ request.GET.page }}, 'style');#}
{#    </script>#}
{#{% endif %}#}