{% load humanize %}
{% load filters %}



{% if result.data %}

    {% for re in result.data %}
        
        {% if re.user.id == 'E3lwdxbBug' %}
        
{#관리자#}
        <div id="cmt_{{ re.id }}">
            <div class='display-table'>
                <div class='table-cell align-right' style='width:40px;'>
                    <div class="clear-7"></div>
                    <img class="border {% if re.user.img %}{% else %}padding{% endif %}" style='{% if re.user.img %}height:30px;{% else %}height:15px;{% endif %}' src="{% if re.user.img %}{{ thum }}/120x120/smart/{{re.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}"/>
                </div>
                <div class='table-cell padding-9'>
                    <div>
                        <a href="{% if request.session.user.id == 'E3lwdxbBug' %}/native/my/info?target_id={{ re.user.id }}
                            {% else %}javascript:void(0);{% endif %}" target="_blank" class="font-12 bold">
                            {% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}
                        </a>
                    </div>
                    <div class='clear-2'></div>

                    <div class="balloon overflow word-break font-15" style="line-height:20px;">
                        {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}
                    </div>

                    <span class="c-grey">{{ re.create_date|time_format:'min' }}</span>
                    <div class="clear-5"></div>
                </div>

                     <div class='table-cell' style="width:30px;">
                        <div class='clear-9'></div>
                        <a href="javascript:cmt_remove('{{ re.id }}');"><u class="font-11">삭제</u></a>
                     </div>
                    {% endif %}
                <div class='table-cell-9'></div>
            </div>
        </div>

{#문의자#}
        {% else %}
            <div id="cmt_{{ re.id }}">
                <div class='display-table'>

                    <div class='right-cmtary table-cell padding-9'>
                        <div class='clear-2'></div>

                        <div class="balloon msg overflow word-break font-15" style="line-height:20px;">
                            {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}

                            <span class="c-grey msg">
                                    {{ re.create_date|time_format:'min' }}
                                    {{ re.create_date|time_format:'ymd' }}
                            </span>
                        </div>
                        <div class="clear-5"></div>
                    </div>
{#                   {% if request.session.user.id == re.user_id or request.META.HTTP_XID == re.user_id or request.session.user.id == "E3lwdxbBug"  %}#}
                   {% if re.id == "E3lwdxbBug"  %}
                         <div class='table-cell' style="width:30px;">
                            <div class='clear-9'></div>
                            <a href="javascript:cmt_remove('{{ re.id }}');"><u class="font-11">삭제</u></a>
                         </div>
                   {% endif %}
                    <div class='table-cell-2'></div>

{#                {% if re.user.id == 'E3lwdxbBug' %}#}
{#                    <div class='table-cell align-right' style='width:40px;'>#}
{#                        <div class="clear-7"></div>#}
{#                        <img class="border {% if re.user.img %}{% else %}padding{% endif %}" style='{% if re.user.img %}height:30px;{% else %}height:15px;{% endif %}border-radius:30px;' src="{% if re.user.img %}{{ thum }}/120x120/smart/{{re.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}"/>#}
{#                    </div>#}
{#                {% endif %}#}
                </div>
         </div>
        {% endif %}


    {% endfor %}
{% endif %}