{# 코멘트 직접입력시 #}
{% load humanize %}
{% load filters %}
{% if result %}



    {% if result.user.id == 'E3lwdxbBug' %}

        <div id="cmt_{{ result.id }}" style="display:block !important" class="cmt-list ">
            <div class='display-table'>
                <div class='table-cell align-right' style='width:40px;'>
                    <div class="clear-7"></div>
                    <img class="border {% if result.user.img %}{% else %}padding{% endif %}" style='{% if result.user.img %}height:30px;{% else %}height:15px;{% endif %}' src="{% if result.user.img %}{{ thum }}/120x120/smart/{{result.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}"/>
                </div>
                <div class='table-cell padding-9'>
                    <div>
                        <a href="{% if request.session.user.id == 'E3lwdxbBug' %}/native/my/info?target_id={{ result.user.id }}
                            {% else %}javascript:void(0);{% endif %}" target="_blank" class="font-12 bold">
                            {% if result.user.nickname %}{{ result.user.nickname }}{% else %}손님{% endif %}
                        </a>
                    </div>
                    <div class='clear-2'></div>
                    <div class="balloon overflow word-break font-14" style="line-height:20px;">
                        {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}
                    </div>
                    <span class="c-grey">{{ result.create_date|time_format:'min' }}</span>
                    <div class="clear-5"></div>
                </div>

                {% if result.source_id == 1 %}
                    <img src="http://hsmoa.com/media/img/web/logo_hsmoa.png" alt="">
                {% endif %}
               {% if request.session.user.id == result.user_id or request.META.HTTP_XID == result.user_id or request.session.user.id == "E3lwdxbBug"  %}
                     <div class='table-cell' style="width:30px;">
                        <div class='clear-9'></div>
                        <a href="javascript:cmt_remove('{{ result.id }}');"><u class="font-11">삭제</u></a>
                     </div>
               {% endif %}
                <div class='table-cell-9'></div>
            </div>
        </div>
        {% else %}
        <div id="cmt_{{ result.id }}" style="display:block !important" class="cmt-list user">
                        <div class='display-table'>

                            <div class='{% if result.source_id != 1 %}right-cmtary{% endif %} table-cell padding-9'>

                                <div class='clear-2'></div>

                                <div class="balloon msg overflow word-break font-14" style="line-height:20px;">
                                    {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}
                                </div>

                                <span class="c-grey msg">
                                        {{ result.create_date|time_format:'min' }}
                                </span>
                                <div class="clear-5"></div>
                            </div>
                           {% if request.session.user.id == result.user_id or request.META.HTTP_XID == result.user_id or request.session.user.id == "E3lwdxbBug"  %}

                           {% endif %}
                            <div class='table-cell-2'></div>
                        </div>
                 </div>
    {% endif %}
{% endif %}