{% load humanize %}
{% load filters %}
{% if result %}
{#        <div id="cmt_{{ result.id }}" class="border-bottom">#}
{#            <div class='display-table'>#}
{#                <div class='table-cell align-right' style='width:40px;'>#}
{#                    <div class="clear-7"></div>#}
{#                    <img class="border {% if result.user.img %}{% else %}padding{% endif %}" style='{% if result.user.img %}height:30px;{% else %}height:15px;{% endif %}border-radius:30px;' src="{% if result.user.img %}{{ thum }}/120x120/smart/{{result.user.img}}{% else %}{{ cdn_img }}/i_cmt.png{% endif %}"/>#}
{#                </div>#}
{##}
{#                <div class='table-cell padding-9'>#}
{#                    <a href="{% if request.session.user.id == 'E3lwdxbBug' %}/native/my/info?target_id={{ result.user.id }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="font-14"#}
{#                        {% if result.user.nickname %} style="color:#4a4a4a;font-weight:bold">{{ result.user.nickname }}#}
{#                        {% else %} style="color:#666">손님<small style="font-size:9px; color:#999">{{ result.user_id|get_string|slice:'2' }}</small>{% endif %}#}
{#                    </a>#}
{#                    <div class='clear-5'></div>#}
{#                    <div class="balloon overflow word-break font-14" style="line-height:20px;">#}
{#                        {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}#}
{#                    </div>#}
{##}
{#                    <div class="clear-5"></div>#}
{#                    <div>#}
{#                        <div class="font-10" style="color:rgba(0,0,0,0.4)">#}
{#                        {{ result.create_date|get_string|slice:'2:4' }}.{{ result.create_date|get_string|slice:'4:6' }}.{{ result.create_date|get_string|slice:'6:8' }}. {{ result.create_date|get_string|time_format:'min' }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="clear-5"></div>#}
{#                </div>#}
{#               {% if request.session.user.id == result.user_id or request.META.HTTP_XID == result.user_id or request.session.user.id == "E3lwdxbBug"  %}#}
{#                     <div class='table-cell' style="width:30px;">#}
{#                        <div class='clear-9'></div>#}
{#                        <a href="javascript:cmt_remove('{{ result.id }}');"><u class="font-11">삭제</u></a>#}
{#                     </div>#}
{#               {% endif %}#}
{#                <div class='table-cell-9'></div>#}
{#            </div>#}
{#        </div>#}


        <div id="cmt_{{ result.id }}">
            <div class='display-table'>
                <div class='table-cell align-right' style='width:40px;'>
                    <div class="clear-7"></div>
                    <img class="border b-white {% if result.user.img %}{% else %}padding{% endif %}"
                         style='margin-top:1px;width:30px;height:auto;border-radius:50em;'
                         src="{% if result.user.img %}{{ thum }}/120x120/smart/{{result.user.img}}{% else %}{{ cdn_img }}/ev/olympic/face_{{ result.user.id | get_profile_index }}.png{% endif %}"
                        onerror="this.src='{{ cdn_img }}/ev/olympic/face_{{ result.user.id | get_profile_index }}.png'"/>
                </div>
                <div class='table-cell padding-7'>
                    <a href="{% if request.GET.flag == 'E3lwdxbBug' %}/native/my/info?target_id={{ result.user.id }}&new_window=yes{% else %}javascript:void(0);{% endif %}" target="_blank" class="font-12"
                        {% if result.user.nickname %} style="color:#4a4a4a;font-weight:bold">{{ result.user.nickname }}
                        {% else %} style="color:#666">손님
                        {% endif %}
                        {% if request.GET.flag  == 'E3lwdxbBug' or request.session.user_id%}
                        <small style="font-size:9px; font-weight:light; color:#fff; background:#aaa; padding:1px 4px 0; border-radius:2px;">
                            {{ result.user_id }}
                        </small>
                        {% endif %}
                    </a>
                    <div class='clear-1'></div>
                    <div class="balloon overflow word-break font-14" style="line-height:20px;">
                        {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}

                        <div class="clear-2"></div>
                        <div class="font-10" style="color:rgba(0,0,0,0.4); position: absolute;text-align: right;
                        bottom: -2px; width:80px; right: -50px; z-index:10; line-height:1.2em; ">

                        <!-- / {{request.session.user.id}} / {{result.user_id}} / XID: {{ request.META.HTTP_XID}} -->

                        {% if request.GET.flag  == 'E3lwdxbBug'%}
                            {{ result.create_date|get_string|slice:'2:4' }}.{{ result.create_date|get_string|slice:'4:6' }}.{{ result.create_date|get_string|slice:'6:8' }}.<br>
                        {% endif %}
                            {{ result.create_date|get_string|time_format:'min' }}
                        </div>
                    </div>
                    <div class="clear-5"></div>
                </div>
               {% if request.GET.flag == result.user_id or request.META.HTTP_XID == result.user_id or request.GET.flag  == 'E3lwdxbBug' or request.session.user.id == "E3lwdxbBug"  %}
                     <div class='table-cell cmt cmt_{{ result.user_id }}' style="width:50px; vertical-align:middle">
                        <div class='clear-9'></div>
                        <a href="javascript:cmt_remove('{{ result.id }}');">
                            <img src="{{media}}/img/ic_trash.png" alt="" style="width:14px; position:relative; margin:-2px 2px 0"/>삭제
                        </a>
                     </div>
               {% endif %}
                <div class='table-cell-9'></div>
            </div>
        </div>
{% endif %}