{# 가장 최근댓글이 유저가 남긴것인지 관리자가 남긴것인지 구분하여 완료 / 확인중 처리 #}

{# 3000 : 사진 #}

{% if result %}
    {% for re in result.data %}
        <div class="well">
            {% if re.source_id != 3000 %}
                <p> {{re.content|slice:'20'}} … </p>
            {% else %}
                <p> [ 사진 ] {{ re.source_id }}</p>
            {% endif %}

        </div>
    {% endfor %}
{% endif %}
