{% if result %}
    <div id="categoty_swipe">
        <div class="swipe-block">
            {% for re in result.data %}

                {% if request.GET.cate == "cate1" %}<div class="catelist" ncate1="{{ re.cate1 }}" ncate_id="{{ re.cate1_id }}"><span class="name">{{ re.cate1 }}</span></div>
                {% elif request.GET.cate == "cate2" %}<div class="catelist" ncate1="{{ re.cate1 }}" ncate2="{{ re.cate2 }}" ncate_id="{{ re.cate2_id }}"><span class="name">{{ re.cate2 }}</span></div>
                {% elif request.GET.cate == "cate3" %}<div class="catelist" ncate1="{{ re.cate1 }}" ncate2="{{ re.cate2 }}" ncate3="{{ re.cate3 }}" ncate_id="{{ re.cate3_id }}"><span class="name">{{ re.cate3 }}</span></div>
                {% elif request.GET.cate == "cate4" %}<div class="catelist" ncate1="{{ re.cate1 }}" ncate2="{{ re.cate2 }}" ncate3="{{ re.cate3 }}" ncate4="{{ re.cate4 }}" ncate_id="{{ re.cate4_id }}"><span class="name">{{ re.cate4 }}</span></div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}{% else %}
                    {% if forloop.revcounter == 1 %}<div class="catelist"> </div>{% endif %}
                {% endif %}
                {% if forloop.counter|divisibleby:8 and forloop.revcounter > 1 %}
                    <div class="clear"></div>
                    </div><div class="swipe-block">
                {% endif %}
            {% endfor %}
                <div class="clear"></div>
        </div>
    </div>
{% endif %}
