{% load humanize %}
{% load filters %}
<!--
상단에는 각 카테고리로 이동되는 네비게이션 바를 그룹이름 별로 출력하고,
하단부터 미분류가 아닌 상품만 그룹별로 출력합니다.
-->
{% if result.data %}
    {% for group in result.data %}
        {{ groupp.group_name }}
        {% if group.group_name != "미분류" %}
            <h1 id="title_{{ forloop.counter }}" class="sticky">{{ group.group_name }}</h1>
        {% endif %}
        {% for re in group.data %}
            {% if re.entity.price > 9 and re.entity and group.group_name != "미분류" %}
                <div id="list_{{ re.id }}" class="timelinelist position-relative b-white shadow-light {% if forloop.counter == group.data|length %}no-border{% endif %}" data-starttime = "{{ re.entity.start_time }}" data-enddate = "{{ re.entity.date }}" data-endtime="{{ re.entity.end_time }}" data-enddatetime = "{{ re.entity.date }}{{ re.entity.end_time }}">
                    <a href="javascript:item_click('{{ re.entity.id }}','{{ re.entity.genre2 }}','{{ re.entity.price }}','{{ re.entity.cate1 }}','{{ re.promotion_name }}','{{ re.code }}');">
                        <div class="display-table position-relative">
                            <div class="table-cell" style="width:142px;height:142px; ">
                                <img src="{{ thum }}/220x0/smart/{{re.entity.img}}" onerror="this.src='{{ thum }}/220x0/smart/{{ cdn_img }}/noimg.png';" />
                            </div>
                            <div class="clear-9"></div>

                            <div class="table-cell-9" style="width:12px;"></div>
                            <div class="table-cell">
                                <div class="clear-9"></div>
                                <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                                <!--
                                <span class="font-10" style="color:#eee;margin:0 3px 0 3px;">|</span>
                                <span class="font-11 c-gray spacing">
                                    {{ re.entity.date|get_string|slice:'4:6' }}월 {{ re.entity.date|get_string|slice:'6:8' }}일 {{ re.entity.start_time }} ~ {{ re.entity.end_time }}
                                </span>
                                -->
                                <div class="clear-9"></div>
                                <div class="font-14 overflow word-break" style="height:36px;line-height:18px;">{{re.entity.name}}
                                </div>
                                <div class="clear-9"></div>
                                <div class="clear-9"></div>
                                <div class="clear-9"></div>
                                <div class="overflow word-break position bottom-9">
                                    {% if re.entity.price > 0 %}
                                        <div class="clear"></div>
                                        <span class="c-lion font-16">{{re.entity.price|intcomma}}원</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="table-cell-9"></div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
     <h1 id="title_end" class="block-hide" >종료된 방송상품</h1>
     <div id="title_end_list" ></div>

{% endif %}
