{% load humanize %}
{% load filters %}
{% load name_refiner_fashiontab %}
<!--
entity가 있으면서 미분류로 분류되지 않는 상품을 순위별로 출력합니다.
-->
{% if result.promotion_groups %}
    {% for group in result.promotion_groups %}
            <h3 class="product full-width" >
                {{ group.name }}
            </h3>
        {% for entity in group.entities.promotion_entities %}
            {% with entity.detail as re %}
            {% if re.url and re.img %}
            <li class="product" id='{{ entity.genre2 }}_{{ entity.pid }}'>
                <div id='heart_{{ entity.pid }}' class="heart {% if entity.like_id %}active{% endif %}" like_status="-1">
                    <i class="ic ic-heart-full {% if entity.like_id %} active {% endif %}"></i>
                </div>

                <a class="product_comp" href="javascript:style_promotion_click('{{ entity.genre2 }}', '{{ entity.pid }}');">
                    <div class="thum">
                        {% if re.img|slice:"::-1"|slice:"3"|slice:"::-1" != 'gif' %}
                            <img class="gifs"
                                 src='{{ thum }}/480x{% if request.GET.flag in "shoes bag acc" %}480{% else %}640{% endif %}/smart/{{ re.img }}'
                                 data-src='{{ thum }}/480x{% if request.GET.flag in "shoes bag acc" %}480{% else %}640{% endif %}/smart/{{ re.img }}'
                                 onload="freeze_gif(this);"
                                 onerror="$('#{{ entity.genre2 }}_{{ entity.pid }}').hide();"/>
                        {% else %}
                            <img class="gifs"
                                 src='{{ thum }}/480x{% if request.GET.flag in "shoes bag acc" %}480{% else %}640{% endif %}/smart/{{ re.img }}'
                                 data-src='{{ thum }}/480x{% if request.GET.flag in "shoes bag acc" %}480{% else %}640{% endif %}/smart/{{ re.img }}'
                                 onload="freeze_gif(this);"
                                 onerror="$('#{{ entity.genre2 }}_{{ entity.pid }}').hide();"/>
                        {% endif %}
                    </div>

                    <div class="detail">
                        <div class="name">
                            {{ re.name|filter_for_refine_name }}
                        </div>
                        <div class="price">
                        {%  if re.price > 9 %}
                            {{re.price|intcomma}}
                        {% else %}
                            <span class="num block-hide" >{{re.price|intcomma}}</span>
                        {% endif %}
                        </div>
{#                        {% if re.brand %}#}
{#                        <div class="brand">#}
{#                            {% if re.genre2_ko %}#}
{#                                {{ re.genre2_ko }}#}
{#                            {% else %}#}
{#                                {{ re.genre2|cut_special_char }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        {% endif %}#}
                    </div>
                </a>

{#                <div class="more_block">#}
{#                    <a href="javascript:style_buy_click('{{ re.url }}','{{ entity.pid }}','{{ entity.genre2 }}','{{ re.price }}','','flag_style_promotion');">#}
{#                        사러가기#}
{#                    </a>#}
{#                </div>#}

{#                    {% if re.live_status == 2 %}#}
{#                    <div class="alarm-bt position right-9 align-center" style="bottom:8px; line-height: 14px;">#}
{#                        <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}#}
{#                               onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >#}
{#                        <label class="" for="alarm_action_{{ re.id }}"></label>#}
{#                    </div>#}
{#                    {% endif %}#}
            </li>
            {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endif %}