{% load humanize %}
{% load filters %}
{% if result.data %}
    {% if request.GET.live == '0' %}
        <div class=" mark-date" >
                이전방송 상품
        </div>
    {% elif request.GET.live == '1' %}
        <div class=" mark-date" >
                방송예정 상품
        </div>
    {% endif %}
    {% for re in result.data %}
        <div class="position-relative b-white list-program" id="list_" style="margin:9px 0px;">
            <a class='disblock ' href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag }}','{{ re.live_status }}');">
                <div class='display-table '>
                    <div class="table-cell position-relative" style="width:140px;height:140px;">
                        <img src='{{ thum320 }}/{{re.img}}' onerror="this.src='{{ cdn_img }}/noimg3.png';"/>
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class='table-cell '>
                        <div class="clear-9"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:18px;margin-top: -2px;px;vertical-align: top;"/>
                        <span class="font-11 c-midgray" style="line-height: 12px; margin:0 3px;">| </span>
                        {% if re.live_status == 1 %}
                        <span class="font-11 c-red" style="line-height: 12px;">
                            현재방송중
                        </span>
                        {% else %}
                        <span class="font-11 c-midgray" style="line-height: 12px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월 {{ re.date|get_string|slice:'6:8'|get_int }}일
                            {{ re.start_time }}
                        </span>
                        {% endif %}
                        <div class="clear-7"></div>
                        <div class="word-break font-16 overflow" style="line-height:1.3em; height:2.5em;">
                            {{re.name}}
                        </div>
                        <div class="position bottom-9" style="line-height: 16px;">
                            {% if re.org_price|get_int > re.price|get_int %}
                                <s class="c-gray font-11">{{re.org_price|intcomma}}원</s>
                            {% else %}
                                <span class="c-white font-11">홈쇼핑 특가</span>
                            {% endif %}
                            {%  if re.price > 9 %}
                                <div class="font-16 c-red strong">{{re.price|intcomma}}원</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                </div>
            </a>
            {% if re.live_status == 2 %}
            <div class="position right-7 " style="bottom:11px;">
                <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                       onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                <div class="clear-2"></div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{% if result.data|length < 1 and request.GET.page == '1' %}
    {% if request.GET.live == '1' %}
    <div class="align-center font-14 c-midgray " style="margin:3px 9px 9px 9px;padding:20px; border-bottom: 1px solid #ccc;">
            방송예정 상품이 없습니다.
    </div>
    {% endif %}
{% endif %}