{% load humanize %}
{% load filters %}
<!--
entity가 있으면서 미분류로 분류되지 않는 상품을 순위별로 출력합니다.
-->
{% if result.promotion_groups %}
    {% for group in result.promotion_groups %}
        {% for entity in group.entities.promotion_entities %}
            {% with entity.detail as re %}
            {% if re.url %}
            <div id="list_{{ re.id }}" class="timelinelist position-relative b-white" style="margin:9px 0;" >
                <a id="link_list_{{ data.id }}" href="javascript:promotion_click('{{ re.url }}','{{ entity.pid }}','{{ entity.genre2 }}','{{ re.price }}','{{ request.GET.flag }}','{{ entity.code }}');">
                    <div class="display-table position-relative">
                        <div class="table-cell" style="width:140px;height:140px; ">
                            {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';" />
                        </div>
                        <div class="table-cell-9" style="width:12px;"></div>
                        <div class="table-cell">
                            <div class="clear-9"></div>
                            <img src="{{ logo }}/logo_{{ entity.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                            <div class="clear-5"></div>
                            <div class="font-16 overflow word-break" style="line-height: 1.3em; height:2.4em;">
                                {% if re.name|length < 23 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                            </div>
                            <div class="overflow word-break position bottom-9" style="line-height:1.1em;">
                                {% if re.org_price > re.price %}
                                    <s class="sale c-gray font-11">{{re.org_price|intcomma}}원</s>
                                {% else %}
                                {% endif %}
                                <div class="clear"></div>
                                <span class=" font-17 strong" style="line-height:1.2em;">{{re.price|intcomma}}<span class="font-12">원</span></span>
                            </div>
                        </div>
                        <div class="table-cell-9"></div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endif %}
