{% load filters %}
{% if result %}
        <div id="list_{{ re.id }}" class="list-query position-relative ">
            <div class="display-table-fixed" style="line-height: 17px;">
                <div class="table-cell" style="width:14px;"></div>
                <div class="table-cell align-middle font-14 c-midgray " style=" height:39px;line-height: 17px; ">
                   최근 검색어
                </div>
            </div>
        </div>
    {% for re in result.data %}
        <div id="list_{{ re.id }}" class="list-query position-relative ">
            <a href="javascript:view_search('{{re.name}}','{{ request.GET.flag }}');" class="disblock">
                <div class="display-table-fixed" style="line-height: 17px;">
                    <div class="table-cell" style="width:14px;"></div>
                    <div class="table-cell align-middle font-15 " style=" height:39px;line-height: 17px; ">
                       {{re.name}}
                    </div>
                </div>
            </a>
            <div class="position right-3 top-3" >
            <a href="javascript:keyword_remove('{{ re.id }}');">
                <img src="{{ img }}/ic_close.png" style="height:26px;padding:4px 4px; opacity: 0.5;" />
            </a>
            </div>
        </div>
    {% endfor %}
    {% if result.data|length > 3 %}
        <div class="list-query " >
            <a href="javascript:remove_all('keyword');" class="disblock">
                <div class="display-table-fixed" style="line-height: 16px;">
                    <div class="table-cell align-middle align-center font-13 c-midgray " style=" height:35px; line-height: 17px; ">
                        최근검색어 전체삭제
                    </div>
                </div>
            </a>
        </div>
    {% elif result.data|length == 0 %}
        <div id="list_{{ re.id }}" class="list-query " >
            <div class="display-table-fixed" style="line-height: 16px;">
                <div class="table-cell align-middle align-center " style=" height:109px; ">
                    <div class="font-14 overflow c-midgray " style="height:17px; line-height: 17px;">최근검색어가 없습니다.</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}