{% if result %}
    {% for re in result.data %}
        <div id="list_{{ re.id }}" class="list-query position-relative " style="box-sizing: border-box; border-bottom: 1px solid #f2f2f2; ">
                <a href="javascript:view_search('{{re.name}}','{{ request.GET.flag }}');" class="disblock">
                    <div class="display-table-fixed" style="line-height: 16px;">
                        <div class="table-cell-line"></div>
                        {% if request.GET.flag != "recent"%}
                        <div class="table-cell align-center c-mint font-14 align-middle" style="width:28px; line-height: 17px; ">
                             {{re.rank}}
                        </div>
                        {% else %}
                        <div class="table-cell-9"></div>
                        {% endif %}
                        <div class="table-cell align-middle " style=" height:39px; ">
                            <div class="font-14 overflow " style="height:17px; line-height: 17px;">{{re.name}}</div>
                        </div>
                    </div>
                </a>
                {% if request.GET.flag == "recent" %}
                    <div class="position right-0 top-3" >
                    <a href="javascript:keyword_remove('{{ re.id }}');">
                        <img src="{{ img }}/ic_close.png" style="height:26px;padding:3px 4px; opacity: 0.5;" />
                    </a>
                    </div>
                {% endif %}
        </div>
    {% endfor %}
    <div class="clear"></div>
{% endif %}