{% load filters %}
{% if result.query %}
<div class="b-white" style="border-bottom: 1px solid #ccc;">
    <div class='gradient-left c-red' ><img src="{{ cdn_img }}/2016/tabbar_search.png" style="height:12px; vertical-align: top; margin: 1px 4px 0 0;">인기</div>
    <div style="box-sizing:border-box; width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; padding-top: 1px; padding-left: 60px;">
        <div id="block_realtime" style="width:800px">
                {% for re in result.query %}
                    {% if forloop.counter < 11 %}
                    <div class="query-realtime"  style=" padding:8px 3px; float:left; ">
                        <a href="/native/search/result?title=검색결과&query={{re.name|urlencode}}&from=realtime&rank={{ forloop.counter }}" class="disblock">
                            <div class="b-white strong font-14" style="line-height: 16px; padding:5px; width: auto;  ">
                                {{re.name}}
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
        </div>
    </div>
    <div class='gradient-right' ></div>
</div>
{% endif %}
{% if result.keyword %}
<div  style="border-bottom: 1px solid #ccc;">
    <div id="block_recent" class="b-white" >
    {% for re in result.keyword %}
        {% if forloop.counter < 6 %}
        <div id="list_{{ re.id }}" class="list-query position-relative recent-query ">
            <a href="/native/search/result?title=검색결과&query={{ re.name|urlencode }}&from=recent&rank={{ forloop.counter }}" class="disblock">
                <div class="display-table-fixed" style="line-height: 17px;">
                    <div class="table-cell" style="width:14px;"></div>
                    <div class="table-cell align-middle font-15 " style=" height:39px;line-height: 17px; ">
                       {{re.name}}
                    </div>
                    <div class="table-cell align-middle align-right " style="width:54px;height:39px;line-height: 13px; color:#ccc;">
                        <div class="clear-2"></div>
                        {{re.update_date|get_string|slice:"4:6" }}.{{re.update_date|get_string|slice:"6:8" }}
                    </div>
                    <div class="table-cell" style="width:42px;"></div>
                </div>
            </a>
            <div class="position right-0 top-0" >
            <a href="javascript:keyword_remove('{{ re.id }}');">
                <img src="{{ cdn_img }}/ic_close.png" style="height:25px;padding:7px; opacity: 0.5;" />
            </a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% if result.keyword|length > 2 %}
        <div class="list-query " >
            <a href="javascript:remove_all('keyword');" class="disblock">
                <div class="display-table-fixed" style="line-height: 16px;">
                    <div class="table-cell align-middle align-center font-14 c-gray " style=" height:39px; line-height: 17px; ">
                        최근검색어 전체삭제
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
    </div>
</div>
{% endif %}
