{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="position-relative" id="list_{{ re.id }}">
            <a class='disblock padding-9' href="javascript:item_click('{{ re.entity.id }}','{{ re.entity.genre2 }}','{{ re.entity.price }}','{{ re.entity.cate1 }}','{{ request.GET.flag }}','{{ re.entity.live_status }}');">
                <div class="b-white padding-9 table-cell position-relative" style="width:100%;height:auto;">
                    <img src='{{ thum }}/640x640/smart/{% if re.entity.img %}{{re.entity.img}}{% else %}{{ cdn_img }}/noimg.png{% endif %}' onerror="this.src='{{ cdn_img }}/noimg3.png';"/>
                </div>
                <div class='b-white disblock ' style="height:120px">
                    <div class='table-cell padding-9'>
                        <div class="clear-3"></div>
                        <img src="{{ logo }}/logo_{{ re.entity.genre2 }}.png" style="height:18px;margin-top: -2px;px;vertical-align: top;"/>
                        <span class="font-11 c-midgray" style="line-height: 12px; margin:0 3px;">| </span>
                        <span class="font-11 c-midgray" style="line-height: 12px;">
                            {{ re.entity.date|get_string|slice:'4:6'|get_int }}월 {{ re.entity.date|get_string|slice:'6:8'|get_int }}일 {{ re.entity.start_time }}{{re.entity.start_time|get_string|slice:'0:2' }}:{{re.entity.start_time|get_string|slice:'2:4' }}
                        </span>
                        <div class="clear-5"></div>
                        <div class="word-break font-16 overflow" style="line-height:1.3em;height:2.5em; ">
                            {{re.entity.name}}
                        </div>
                        <div class="position" style="line-height: 15px; bottom:11px;">
                            {% if re.entity.org_price|get_int > re.entity.price|get_int %}
                                <s class="org-price c-gray font-11">{{re.entity.org_price|intcomma}}</s>
                            {% endif %}
                            {%  if re.entity.price > 9 %}
                               <div class="price font-17 c-red" >{{re.entity.price|intcomma}}</div>
                            {% endif %}
                            <div class="clear-9"></div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="bt-dislike position left-9 left-12 top-12" >
                <a class="" href="javascript:{{ request.GET.flag }}_remove('entity', '{{ re.entity.id }}', '{{ re.id }}');">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="bt-like position right-9 right-12 top-12" >
                <a class="" href="javascript:console.log('좋아요');">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}