{% load humanize %}
{% if result.data %}
<div class="inline-block query_list" style="line-height:2.8em">
{% for re in result.data %}
    {% if forloop.counter < 5 %}
        {% if request.GET.flag == "2" %}
            <a href="/native/search/result?title=검색결과&query={{re.name|urlencode}}&from=entity_query_soldout&before_entity={{request.GET.goods_id}}"><span class="relatedquery">#{{re.name}}</span></a>
        {% else %}
            <a href="/native/search/result?title=검색결과&query={{re.name|urlencode}}&from=entity_query&before_entity={{request.GET.goods_id}}"><span class="relatedquery">#{{re.name}}</span></a>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endif %}
