{% load humanize %}
{% load filters %}
<div class="list-visit select b-white" id="list_{{ result.id }}" style="height:auto; margin-top:9px;">
    <a class="disblock" href="javascript:item_click('{{ result.id }}','{{ result.genre2 }}','{{ result.price }}','{{ result.cate1 }}','profile','{{ result.live_status }}');" >
        <div class="display-table ">
            <div class="table-cell thum" style="width:120px;" >
                <img src="{{ thum }}/280x280/smart/{% if result.img %}{{result.img}}{% else %}{{ cdn_img }}/noimg.png{% endif %}"
                     onerror="this.src='{{ cdn_img }}/noimg.png'" />
            </div>
            <div class="table-cell" style="width:11px;"></div>
            <div class="table-cell">
                <div class="clear-9"></div>
                <img src="{{ logo }}/logo_{{ result.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                <span class="font-11 spacing" style="color:#ddd;margin:0 2px;">|</span>
                            <span class="font-11 c-darkgray spacing">
                                {{ result.date|get_string|slice:'4:6' }}월 {{ result.date|get_string|slice:'6:8' }}일
                                {{result.start_time }}
                            </span>
                <div class="clear-5"></div>
                <div class="title font-15" style="line-height: 17px;">{{result.name}}</div>
                <div class="clear-9"></div>
                <div class="clear-5"></div>
                <div class="num c-red font-15" style="line-height: 17px;">{{result.price|intcomma}}원</div>
            </div>
            <div class="table-cell-9"></div>
        </div>
    </a>
</div>