{% load humanize %}
{% if result.count > 0 %}
    <div style="margin:0 6px; ">
    {% for re in result.data %}
        <div class="list-similar {% if forloop.counter > 3 %}hideblock block-hide{% endif %}" id="list_sametime_{{ re.id }}" style="width: 33%;">
            <a href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','sametime','{{ re.live_status }}');" class="disblock">
                <div class='b-white position-relative' style="margin:0 6px;">
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                    <div style="padding:6px 0;">
                        <div class="font-13 overflow" style="line-height:1.4em;height:1.3em;">{{re.simple_name}}</div>
                        <div class="clear-1"></div>
                        {% if re.price > 9 %}
                        <div class="font-13 c-black strong" style="line-height:16px;" >{{re.price|intcomma}}원</div>
                        {% else %}
                        <div class="font-13 c-white strong" style="line-height:16px;" >{{re.price|intcomma}}원</div>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% if re.status == 1 %}
                <button class="b-lion block-hide c-white position left-9 top-9 spacing" style="border:0; padding:3px; height:34px; width: 34px; border-radius: 20px; font-size:10px;  ">생방송</button>
            {% endif %}
        </div>
    {% endfor %}
    <div class="clear-2"></div>
    </div>
    {% if result.data|length > 3 %}
        <div class="sametime-load" >
            <a href="javascript:$('.hideblock').show();$('.sametime-load').hide();">
            <div class="c-darkgray font-14 align-center padding-9" style="width:100%;box-sizing: border-box; border-top: 1px solid #eee; ">
                같은시간대 판매상품 더보기 <img src="{{ cdn_img }}/player_select.png" style="height: 8px; vertical-align: top; margin-top: 4px; margin-left: 4px;">
            </div>
            </a>
        </div>
        <div class="hideblock block-hide">
            <a href="javascript:$('.hideblock').hide();$('.sametime-load').show();">
            <div class="c-darkgray font-14 align-center padding-9" style="width:100%;box-sizing: border-box; border-top: 1px solid #eee; background: #fafafa;">
                같은시간대 판매상품 접기 <img src="{{ cdn_img }}/player_select.png" style="height: 8px; vertical-align: top; margin-top: 4px; margin-left: 4px; -webkit-transform: rotate(-180deg);">
            </div>
            </a>
        </div>
    {% endif %}
{% endif %}

