{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
    <div class="listcheker block-hide item-{{ re.id }}" data-id="{{ re.id }}">
        <div class="list-tvshop b-white position-relative" >
            <a href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag }}','{{ re.live_status }}','{{ request.GET.query }}');" class="">
                <div class="goodstag">
                    <div class=" "  style="background: #bbb;"> AD </div>
                </div>
                <div class="display-table" style="table-layout: fixed;">
                    <div class="table-cell thum" style="width:140px; height:140px;">
                        {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                        <img src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/{{ img }}/noimg3.png';" />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative">
                        <div class="clear-5"></div>
                        <div class="clear-5"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                        <span class="font-11 spacing" style="color:#ddd;margin:0 3px;">|</span>
                        {% if re.live_status == 1 %}
                        <span class="c-lion" style="height:22px;line-height: 17px; ">현재방송중</span>
                        {% else %}
                        <span class="c-midgray "  style="height:22px;line-height: 17px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월{{ re.date|get_string|slice:'6:8'|get_int }}일 {% if re.start_time %}{{re.start_time}}{% endif %}
                        </span>
                        {% endif %}
                        <div class="title ">{{re.name}}</div>
                        <div class="price">
                            {% if re.price|get_int > 9 %}
                                {% if re.program_name|length > 1 and re.program_name|program_dict:'title'|length > 1 %}
                                    <div class="titletag" >{{ re.program_name|program_dict:'title' }} </div>
                                {% elif re.org_price|get_int > re.price|get_int %}
                                    <s class="sale c-gray">{{re.org_price|intcomma}}</s>
                                {% else %}
                                {% endif %}
                                <div class="num c-red ">{{re.price|intcomma}}</div>
                            {% else %}
                                <span class=" c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                                <div class="clear-5"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-cell-line"></div>
                </div>
            </a>
            {% if re.live_status == 2 %}
                <div class="position right-7 " style="bottom:9px;">
                    <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                           onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                    <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                    <div class="clear-2"></div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endif %}