{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for item in result.data %}
        {% if forloop.counter0 > 0 %}
        <div class="list-compare" id="list_{{ item.goods_id }}">
            <a href="javascript:search_click('{{ item.url }}', '{{ item.site_name }}', '{{ item.price }}', 'search', '{{ request.GET.flag }}', '{{ request.GET.flag }}','{{ item.is_ad }}', '{{ item.goods_id }}', '{{ item.rank }}', '{{ item.title }}');">
            <div class="display-table">
                <div class="table-cell thum" >
                    <img src="{{ thum320 }}/{{ item.img }}" onerror="this.src='{{ cdn_img }}/noimg3.png';" >
                </div>
                <div class="table-cell ">
                    <div class="title"><span class="font-14 c-gray">{{ item.site_name|get_genre }} | </span>{{ item.name }}</div>
                    <div class="price c-lion">{{item.low_price|intcomma}}원</div>

                </div>
            </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
