{% load humanize %}
{% if request.GET.page == '1' %}
    {% if request.GET.query and result.cate_dict  %}
        <script>
            var catedictstring = "{{ result.cate_dict|safe }}".replace(/u'/gi, "'").replace(/'/gi, '"');
            catedict = $.parseJSON( catedictstring );
            load_category();
            {% if result.cate_dict.ncate1.0.name == "패션의류" or result.cate_dict.ncate1.0.name == "패션잡화" or result.cate_dict.ncate1.0.name == "가구/인테리어" %}
                {% if result.cate_dict.ncate2.0.name == "여성언더웨어/잠옷" or result.cate_dict.ncate2.0.name == "남성언더웨어/잠옷" or result.cate_dict.ncate2.0.name == "아동언더웨어/잠옷" or result.cate_dict.ncate2.0.name == "DIY자재/용품" %}
                    $(".ui-list").show();
                    $(".ui-grid").hide();
                    $("#list_scroll").removeClass("grid");
                {% else %}
                    $(".ui-grid").show();
                    $(".ui-list").hide();
                    $("#list_scroll").addClass("grid");
                    ajax_get("/stat/search/uitest",{"query":"{{ request.GET.query }}", "flag":"grid"}, function (re) {});
                {% endif %}
            {% else %}
                $(".ui-list").show();
                    $(".ui-grid").hide();
                    $("#list_scroll").removeClass("grid");
            {% endif %}
        </script>
    {% endif %}
{% endif %}
{% if result.data %}
    {% for re in result.data %}
        <div class="list-search" id="list_{{ re.id }}">
            <a class="position-relative disblock" href="javascript:search_click('{{ re.url }}', '{{ re.genre2 }}', '{{ re.price }}', 'search', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '{{ re.rank }}', '', '{{ re.img }}', '{{ re.name }}');">
                <div class="goodstag">
                    {% if re.goods_type == "tvshop" %}
                        <div class=" tvshop" >TV상품</div>
                    {% endif %}
                    {% if re.goods_flag == "live" %}
                        <div class=" live" >생방송 구매</div>
                    {% elif re.goods_flag == "soldout" %}
                        <div class=" soldout" >품절상품</div>
                    {% elif re.goods_flag == "hold" %}
                        <div class=" hold" >일시품절</div>
                    {% endif %}
                </div>
                <div class="listbox">
                    <div class="thum">
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';" />
                    </div>
                    <div class="detail position-relative">
                        <img class="logo" src="{{ logo }}/logo_{{ re.genre2 }}.png" />
                        <div class="title">{{re.name}}</div>
                        {% if re.price > 9 %}
                        <div class="price">
                            {% if re.org_price > re.price %}
                                <s class="sale c-gray">{{re.org_price|intcomma}}원</s>
                            {% else %}
                                <s class="sale c-white">{{re.org_price|intcomma}}원</s>
                            {% endif %}
                            <div class="num c-red">{{re.price|intcomma}}원</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% if re.compare_list|length > 0 %}
                <div class="position-relative ">
                    <div class="" style="margin-top: 1px; background: #fff; text-align: right;">
                        <div class="pull-left c-gray padding margin-7 font-13" style="line-height: 15px;">{{ re.compare_list|length }}개 같은상품 판매중</div>
                        <button onclick="$('.compare_{{ re.master_id }}').hide();" class="compare_{{ re.master_id }} list-compare-toggle block-hide position z-index c-darkgray">가격비교 닫기</button>
                        <button onclick="compare_with('{{ re.master_id }}')" class="list-compare-toggle c-blue">
                            가격비교 {{ re.compare_list|length }}개
                        </button>
                    </div>
                    <div id="list_compare_{{ re.master_id }}" class="compare_{{ re.master_id }} block-hide">
                        {% for item in re.compare_list %}
                            <div class="list-compare " id="list_{{ item.goods_id }}">
                                <a href="javascript:search_click('{{ item.url }}', '{{ item.site_name }}', '{{ item.low_price }}', 'search', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ item.is_ad }}', '{{ item.goods_id }}', '{{ item.rank }}', '1', '{{ item.img }}', '{{ item.name }}');">
                                    <div class="display-table">
                                        <div class="table-cell align-middle align-center" style="width: 90px;">
                                            <img class="logo" src="{{ thum }}/320x320/{{ item.img }}" />
                                        </div>
                                        <div class="table-cell padding-9">
                                            <img src="{{ logo }}/logo_{{ item.site_name }}.png" style="vertical-align: top;height:16px;margin-top:-2px;"/>
                                            <div class="title" >{{ item.name }}</div>
                                            <div class="price c-lion">{{item.low_price|intcomma}}원</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{% if result.data|length == 0 and request.GET.page == '1' %}
    <script>
        //페이지가 1이고 데이터가 없으면 검색결과 없음.
        if("{{ request.GET.source }}"=="meta") $("#no_result2 .alarmguide").hide();
        else $("#no_result2 .alarmguide").show();
        list_end();
        $("#no_result2").show();$("#fixquery").hide();
        ajax_get("/stat/search/noresult",{"query":query}, function (re) {});
    </script>
{% endif %}
