{% load humanize %}
{% load filters %}
{% if request.GET.page == '1' %}
    {% if request.GET.flag == 'true' %}
        {% include "native/parts/search_meta_filter.html" %}
    {% endif %}
    <script>
        {% if result.grid_style %}
            $("#list_scroll").addClass("grid");
        {% else %}
            $("#list_scroll").removeClass("grid");
        {% endif %}
        {% if result.cate_dict %}
            qcate1 = "{{ result.cate_dict.ncate1.0.name }}";
            qcate2 = "{{ result.cate_dict.ncate2.0.name }}";
        {% endif %}
        {% if result.filter_category  %}
            var catedictstring = "{{ result.filter_category|safe }}".replace(/u'/gi, "'").replace(/'/gi, '"');
            catedict = $.parseJSON( catedictstring );
        {% endif %}
        {% if result.filter_pricerange %}
            var pricedictstring = "{{ result.filter_pricerange|safe }}".replace(/u'/gi, "'").replace(/'/gi, '"');
            pricedict = $.parseJSON( pricedictstring );
        {% endif %}
        {% if result.flag != "" and result.flag|length > 2 %}
            ajax_get("/stat/search/{{ result.flag }}",{"query":query}, function (re) {});
        {% endif %}
        {% if result.is_replace %}
            ajax_get("/stat/search/replacequery",{"query":query,"replacequery":"{{ result.replace_query }}"}, function (re) {});
        {% endif %}
    </script>
    {% if request.GET.page == '1' and result.is_replace and result.replace_query|length > 1 %}
        <div id="fixquery" class="font-14 c-midgray align-center margin-7" style=" line-height: 1.3em; background: #fafafa; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px;">
            수정된 검색어 <span class="c-black strong font-14 ">"{{ result.replace_query }}"</span>의<br/>검색결과를 보여드립니다.
        </div>
    {% elif request.GET.page == '1' and result.flag == 'fixquery' %}
        <div id="fixquery" class="font-14 c-midgray align-center margin-7" style=" line-height: 1.3em; background: #fafafa; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px;">
            <span class="c-black strong font-14 ">"{{ request.GET.query }}"</span>의 검색결과가 없어<br/>유사한 상품의 검색결과를 보여드립니다.
        </div>
    {% endif %}
{% endif %}
{% if result.data %}
    {% for re in result.data %}
        {% if re.compare_info.pids_cnt > 1 and request.GET.is_compare_search == 'True' %}
        <div class="list-search" pid="{{ re.group_id }}" rank="{{ re.rank }}">
            <a class="position-relative disblock" href="/native/group?group_id={{ re.group_id }}&from=search&query={{request.GET.query}}&flag={{ re.group_id }}&abtest={{request.GET.abtest}}&rank={{re.rank}}&id={{re.compare_info.goods_id}}&site={{re.compare_info.genre2}}&name={{re.compare_info.rep_name}}">
                <div class="goodstag">
                    {% if re.goods_type == "tvshop" %}
                        <div class=" tvshop" >TV상품</div>
                    {% endif %}
                    {% if re.goods_flag == "live" %}
                        <div class=" live" >생방송 구매</div>
                    {% elif re.goods_flag == "soldout" %}
                        <div class=" soldout" >품절상품</div>
                    {% elif re.goods_flag == "hold" %}
                        <div class=" hold" >일시품절</div>
                    {% endif %}
                </div>
                <div class="listbox">
                    <div class="thum position-relative">
                        {% if "성인용품" in re.compare_info.rep_name or "자위" in re.compare_info.rep_name or "남성용품" in re.compare_info.rep_name or "명기" in re.compare_info.rep_name or "오나홀" in re.compare_info.rep_name or "딜도" in re.compare_info.rep_name or "야한" in re.compare_info.rep_name or "공기인형" in re.compare_info.rep_name or "에어돌" in re.compare_info.rep_name or "안나뮤" in re.compare_info.rep_name or "레그에비뉴" in re.compare_info.rep_name %}
                            <div class="position" style="top:0; left:0; height:100%; width:100%; background: #bbb;">
                                <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                            </div>
                        {% endif %}
                        <img src="{{ thum }}/320x320/center/smart/{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum }}/320x320/{{ img }}/noimg3.png';" />
                    </div>
                    <div class="detail position-relative">
                        <img class="logo" src="{{ logo }}/logo_{{ re.compare_info.genre2 }}.png" onerror="this.src='{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png'" />                        
                        <div class="title ">{{ re.compare_info.rep_name }}</div>
                        {% if re.review_rate > 0 and re.review_num > 0  %} 
                            <div class="meta" >
                                    <span class="review-rate position-relative" style="display: inline-block;">
                                        <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                        <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                                width: {% widthratio re.review_rate 1 20 %}%;"></span>
                                    </span>
                                    <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                                <span class="c-gray-2 trans" style="margin:0px 1px 0px 1px; font-size:12px">|</span>
                                <span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>
                        </div>
                        {% endif %}                        
                        <div class="price">
                        {% if re.compare_info.rep_price > 9 %}
                            <div class="compare">판매처<span class="margin-left" style="font-weight: 600; font-size: 13px;">{{ re.compare_info.pids_cnt }}</span></div>                                                    
                            <span class="num c-red">{{re.compare_info.rep_price|intcomma}}</span>
                        {% else %}
                            <span class="c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                            <div class="clear-2"></div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <div class="list-search" pid="{{ re.genre2 }}_{{ re.goods_id }}" rank="{{ re.rank }}">
            <a class="position-relative disblock" href="javascript:search_click('{{ re.url }}', '{{ re.genre2 }}', '{{ re.price }}', 'search', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '{{ re.rank }}', '', '{{ re.img }}', '{{ re.name }}');">
                <div class="goodstag">
                {% if re.goods_type == "tvshop" %}
                    <div class=" tvshop" >TV상품</div>
                {% endif %}
                {% if re.goods_flag == "live" %}
                    <div class=" live" >생방송 구매</div>
                {% elif re.goods_flag == "soldout" %}
                    <div class=" soldout" >품절상품</div>
                {% elif re.goods_flag == "hold" %}
                    <div class=" hold" >일시품절</div>
                {% endif %}
                </div>
                <div class="listbox">
                    <div class="thum position-relative">
                        <img src="{% if re.img %}{{ thum }}/320x320/center/smart/{{re.img}}{% else %}{{ thum }}/320x320/{{ img }}/noimg3.png{% endif %}" onerror="this.src='{{ thum }}/320x320/{{ img }}/noimg3.png';" />
                        {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                            <div class="position" style="top:0; left:0; height:100%; width:100%; background: #bbb;">
                                <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                            </div>
                        {% endif %}
                    </div>
                    <div class="detail position-relative">
                        <img class="logo" src="{{ logo }}/logo_{{ re.genre2 }}.png" />
                        <div class="title ">{{re.name}}</div>
                        {% if re.review_rate > 0 or re.review_num > 0 %}
                        <div class="meta" >
                            {% if re.review_rate > 0 %}
                                <span class="review-rate position-relative" style="display: inline-block;">
                                    <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                    <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                            width: {% widthratio re.review_rate 1 20 %}%;"></span>
                                </span>
                                <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                            {% endif %}
                            {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px; font-size:12px">|</span> {% endif %}
                            {% if re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>{% endif %}
                        </div>
                        {% endif %}
                        <div class="price">
                        {% if re.price > 9 %}
                            {% if re.org_price > re.price %}
                                <s class="sale">{{re.org_price|intcomma}}원</s><br/>
                            {% endif %}
                            <span class="num c-red">{{re.price|intcomma}}</span>
                        {% else %}
                            <span class="c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                            <div class="clear-2"></div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if result.data|length == 0 and request.GET.page == '1' %}
    {% if request.GET.price_min == 0 and request.GET.price_max == 0 %}
    <script>
        // no result시, future 탭에 상품이 있는지 확인한다
        ajax_skin("search/tvshopSearch", {"skin":"native/skin/_search_noresult", "ncate1":ncate1, "ncate2":ncate2, "ncate3":ncate3, "ncate4":ncate4, "is_compare_search":"True", "genre2": channel, "abtest": abtest,
            "order":order, "source":"future","flag":"no_result_future", "query":query, "rawquery":rawquery, "page":page, "num":num, "price_min":price_min, "price_max":price_max}, function(re){
            list_result(re);
        });
    </script>
    {% else %}
    <div id="no_result2" class="c-midgray align-center  block-hide">
        <div class="padding margin-12 font-14" style="line-height: 18px;" >
            <div class="clear-9"></div>
            검색 결과가 없습니다.<br/>
            검색어나 조건을 바꿔 다시 시도해보세요.<br/>
            {% if request.GET.price_max > '0' or request.GET.price_min > '0' or request.GET.ncate1 != '' or request.GET.genre2 != '' %}
                <button class="font-13" onclick="reset_filter();" style="margin:10px 0 0; border: 1px solid #aaa; background: #fff; padding: 0; border-radius: 20px; width: 110px; height: 34px; line-height: 34px; color: #666;">조건 초기화</button>
            {% endif %}
        </div>
    </div>
    <script>
        ajax_get("/stat/search/noresult",{"query":query,"ncate1":ncate1,"ncate2":ncate2,"ncate3":ncate3,"ncate4":ncate4,"site":channel, "price":price_min+"~"+price_max}, function (re) {});
        list_end();
        //페이지가 1이고 데이터가 없으면 검색결과 없음.
        $("#no_result2 .alarmguide").hide();
        $("#no_result2").show();$("#fixquery").hide();
    </script>
    {% endif %}
{% endif %}
{% if exposed %}
    <script>
        // 현재 검색결과에 노출된 아이템들을 로깅한다
        logExposedItem('{{ exposed.user_id }}', '{{ exposed.query }}', '{{ exposed.entities|safe }}', {{ exposed.create_date }}, {{ request.GET.page }});

        //has통계용
        ajax_get("/stat/search/tvshopSearch",{"query": "{{ request.GET.query }}", "page":"{{ request.GET.page }}", "num": "{{ request.GET.num }}", "abtest":"{{ request.GET.abtest }}"}, function (re) {});
    </script>
{% endif %}
