{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if forloop.counter == 1 %}
        <div id="item_explanation" style="width:100%; padding:15px 9px 15px 22px; text-align:left;background:#fff;color:black;">
            <div style="font-size:13px">{{ re.date_title|get_string|slice:'4:6'|get_int }}월 {{ re.date_title|get_string|slice:'6:8'|get_int }}일에 방송 예정인 상품입니다.</div>
            <div style="font-size:13px"><span style="font-weight:bolder;font-size:13px">알람</span>을 설정하시면 다음 방송 때 알려드립니다.</div>
        </div>
        <div class="listcheker item-{{ re.id }}" data-id="{{ re.id }}">
        <div class="list-tvshop b-white position-relative" >
            <a href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','{{ request.GET.flag }}','{{ re.live_status }}','{{ request.GET.query }}');" class="">
                <div class="display-table" style="table-layout: fixed;">
                    <div class="table-cell thum position-relative" style="width:140px; height:140px;">
                        {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
{#                        {% if re.is_soldout == 2 %}#}
{#                            <div class="bt-soldout" ></div>#}
{#                        {% endif %}#}
                        <img src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/{{ img }}/noimg3.png';" />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative">
                        <div class="clear-5"></div>
                        <div class="clear-5"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                        <span class="font-11 spacing" style="color:#ddd;margin:0 3px;">|</span>
                        {% if re.live_status == 1 %}
                        <span class="c-lion" style="height:22px;line-height: 17px; ">현재방송중</span>
                        {% else %}
                        <span class="c-midgray "  style="height:22px;line-height: 17px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월{{ re.date|get_string|slice:'6:8'|get_int }}일 {% if re.start_time %}{{re.start_time}}{% endif %}
                        </span>
                        {% endif %}
                        <div class="title ">{{re.name}}</div>
                        <div class="price">
                            {% if re.price|get_int > 9 %}
                                {% if re.program_name|length > 1 and re.program_name|program_dict:'title'|length > 1 %}
                                    <div class="titletag" >{{ re.program_name|program_dict:'title' }} </div>
                                {% elif re.org_price|get_int > re.price|get_int %}
                                    <s class="sale c-gray">{{re.org_price|intcomma}}</s>
                                {% else %}
                                {% endif %}
                                <div class="num c-red ">{{re.price|intcomma}}</div>
                            {% else %}
                                <span class=" c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                                <div class="clear-5"></div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="table-cell-line"></div>
                </div>
            </a>
            {% if re.live_status == 2 %}
                <div class="position right-7 " style="bottom:9px;">
                    <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                           onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                    <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                    <div class="clear-2"></div>
                </div>
            {% endif %}
        </div>
        {% if re.same_time_item %}
            <div class="position-relative sametime" style="">
                <div class="sametime_{{ re.id }} block-hide">
                {% for item in re.same_time_item %}
                    <div class="list-sametime" id="list_{{ item.id }}">
                        <a href="javascript:item_click('{{ item.id }}','{{ item.genre2 }}','{{ item.price }}','{{ item.cate1 }}','{{ reqeust.GET.flag }}','{{ item.live_status }}','{{ request.GET.query }}');" class="disblock">
                        <div class="display-table">
                            <div class="table-cell thum"><img src="{{ thum }}/320x320/center/smart/{{item.img}}" onerror="this.src='{{ thum }}/320x320/{{ img }}/noimg3.png';" /></div>
                            <div class="table-cell ">
                                <div class="title">{{ item.name }}</div>
                                <div class="clear-3"></div>
                                {% if item.price|get_int > 9 %}
                                <div class="price c-red ">{{item.price|intcomma}}원</div>
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <button onclick="$('.sametime_{{ re.id }}').hide();" class="sametime_{{ re.id }} list-sametime-toggle block-hide position" style="z-index: 9;">같은 시간대 방송상품 닫기</button>
                <button onclick="$('.sametime_{{ re.id }}').show();" class="list-sametime-toggle">
                    같은 시간대 방송상품 <span class="c-lion strong">{{ re.same_time_item|length }}</span>개 더보기
                </button>
            </div>
        {% endif %}
        </div>
        <script>
            ajax_get("/stat/search/noresult_future",{"query":query}, function (re) {});
            list_end();
        </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% if result.data|length == 0 and request.GET.page == '1' %}
    <div id="no_result2" class="c-midgray align-center  block-hide">
        <div class="padding margin-12 font-14" style="line-height: 18px;" >
            <div class="clear-9"></div>
            검색 결과가 없습니다.<br/>
            검색어나 조건을 바꿔 다시 시도해보세요.<br/>
            {% if request.GET.price_max > '0' or request.GET.price_min > '0' or request.GET.ncate1 != '' or request.GET.genre2 != '' %}
                <button class="font-13" onclick="reset_filter();" style="margin:10px 0 0; border: 1px solid #aaa; background: #fff; padding: 0; border-radius: 20px; width: 110px; height: 34px; line-height: 34px; color: #666;">조건 초기화</button>
            {% endif %}
        </div>
    </div>
    <script>
        ajax_get("/stat/search/noresult",{"query":query,"ncate1":ncate1,"ncate2":ncate2,"ncate3":ncate3,"ncate4":ncate4,"site":channel, "price":price_min+"~"+price_max}, function (re) {});
        list_end();
        //페이지가 1이고 데이터가 없으면 검색결과 없음.
        $("#no_result2 .alarmguide").hide();
        $("#no_result2").show();$("#fixquery").hide();
    </script>
{% endif %}