{% load humanize %}
{% load filters %}
{% if result.data %}
    <div id="scroller_visit" style="box-sizing:border-box; width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; ">
    <div id="block_visitlist" style="width:900px; padding: 4px 0 4px 4px;">
        <div class="search-visit-item align-center" style="width: 80px; float:left; box-sizing: border-box; padding-right:3px; ">
            <div class="clear-3"></div>
            <div class="font-12 strong margin" style="line-height: 1.2em;">최근 본<br/>검색상품</div>
            <a href="/native/my/visit?from=search&tab=search"
                    class="disblock font-13 spacing padding c-midgray bt-basic" style="margin:0 auto; height:28px; border-radius: 15px; width: 68px; padding:0;">
                더보기 <span class="ic-arrow-next"></span>
            </a>
        </div>
    {% for re in result.data %}
        <div class="search-visit-item" id="list_{{ re.id }}" style="width: 80px; float:left; box-sizing: border-box; padding:2px; ">
            <a class='disblock' href="javascript:search_visit_click('{{ re.url }}', '{{ re.site_name }}', '{{ re.price }}', 'history_search', '{{ re.query }}', '', '0', '{{ re.pid }}', '{{ re.rank }}', '', '{{ re.img }}', '{{ re.name }}');">
                <div class="position-relative" >
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                    <div class="tag-date" style="">{{ re.update_date|get_string|slice:'4:6' }}.{{ re.update_date|get_string|slice:'6:8' }}</div>
                    <div class="position z-99" style="width: 100%; height:100%; left:0; top:0; border: 1px solid #000;  box-sizing: border-box; opacity: 0.07;"></div>
                </div>
                <div class='block-hide' style="padding:7px 1px 4px;">
                    <div class="word-break font-13 align-center  overflow" style="line-height:1.2em; height:2.3em; ">
                       {{ re.name }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
        <div class="clear"></div>
    </div>
    </div>
{% endif %}