{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if forloop.counter == 1 %}
        <div class="list-tvshop b-white position-relative " >
            <a href="javascript:promotion_click('{{ re.url }}','{{ re.goods_id }}','{{ re.genre2 }}','{{ re.price }}','{{ request.GET.flag }}','1');">
                <div class="display-table" style="table-layout: fixed;">
                    <div class="table-cell thum position-relative" style="width:140px; height:140px;">
                        {% if re.live_status == 1 %}
                        <div class="bt-play"></div>
                        {% endif %}
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative">
                        <div class="clear-5"></div>
                        <div class="clear-5"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                        {% if re.live_status == 1 %}
                        <span class="c-lion" style="height:22px;line-height: 17px; ">현재방송중</span>
                        {% elif re.date %}
                        <span class="font-11 spacing" style="color:#ddd;margin:0 3px;">|</span>
                        <span class="c-midgray "  style="height:22px;line-height: 17px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월{{ re.date|get_string|slice:'6:8'|get_int }}일 {% if re.start_time %}{{re.start_time}}{% endif %}
                        </span>
                        {% endif %}
                        <div class="title ">{{re.name}}</div>
                        <div class="price">
                            {% if re.price|get_int > 9 %}
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s class="sale c-gray">{{re.org_price|intcomma}}원</s>
                                {% else %}
                                {% endif %}
                                <div class="num c-red ">{{re.price|intcomma}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-cell-9"></div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}