{% load humanize %}
{% load filters %}
{% if goods %}
    {% for re in goods %}
        {% if re.price > 0 %}
            <li class="swiper-slide" id="{{re.site_name}}_{{re.pid|urldecode}}">
                <div class="product_wrap" >
                    <a href="javascript:change_product('{{ re.site_name }}','{{ re.pid|urldecode }}')">
                        <img data-src="{{ re.img }}" src="{{ thum }}/320x320/{{ re.img }}" alt=""
                             onerror="$('#{{ re.site_name }}_{{ re.pid|urldecode }}').remove(); update_similar_list();"
                             onload="{% if "gif" in re.img %}freeze_gif(this);{% endif %} $('#{{ re.site_name }}_{{ re.pid|urldecode }}').addClass('show');" >
                        <span class="gradient"></span>
                        <div class="price">{{ re.price|intcomma }}</div>
                    </a>
                </div>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}