{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <li id="{{ re.genre2 }}_{{ re.pid }}" class="product" url="{{ re.url }}" cat1="{{ re.cat1 }}" cat2="{{ re.cat2 }}" cat3="{{ re.cat3 }}">
            <div id="heart_{{ re.pid }}" data-like-id="{{ re.like_id }}"
                 class="heart {% if like_id %}active{% endif %}"
                 like_status="{% if !like_id %}-{% endif %}1"></div>
            <a href="javascript:style_click('{{ re.img }}','{{ re.pid }}','{{ re.brand }}','{{ re.genre2 }}','{{ re.genre2_ko }}','{{ re.price }}','{{ re.name }}','{{ re.url }}','{{ re.like_id }}', '{{ re.cat1 }}', '{{ re.cat2 }}','{{ re.cat3 }}');" class="product_comp">
                <div class="thum">
                    <img data-src="{{ re.img }}" src="" onerror="javascript:this.parentElement.parentElement.style.display='none'" alt="" class="gifs">
                    <div class="detail">
                        <div class="price">{{ re.price|intcomma }}</div>
                        <div class="name">{{ re.name|cut_brand_name }}</div>
                        <div class="brand   ">{{ re.brand }}</div>
                    </div>
                </div>
            </a>
        </li>

    {% endfor %}
{% endif %}
{% if result.data|length == 0 and request.GET.page == '1' %}
    <div id="no_result2" class="c-midgray align-center block-hide">
        <div class="padding font-14" style="line-height: 18px;" >
            <div class="clear-5"></div>
            결과가 없습니다.<br/>
            다시 시도해보세요.
        </div>
        <img class="alarmguide" src="{{ cdn_img }}/coach/coach_keyword_alarm.png" style="margin-top:-50px;width:88%;left:6%;">
    </div>
{% endif %}