{# 문의내역 말풍선 리스트 #}
{% load humanize %}
{% load filters %}


{% if result.data %}

    {% for re in result.data reversed %}

{#        <div class="date_{{ re.create_date|get_string|slice:"0:8" }} first-date date_row "> {{ re.create_date|time_format:'ymd' }}</div>#}

        {% if re.user.id == 'E3lwdxbBug' or re.source == 'opn_auto_comment' and re.source_id == 1 %}
        {#관리자#}

        <div id="cmt_{{ re.id }}" class="cmt-list">
            <div class='display-table'>

                <div class='table-cell padding-9'>
                    <div>
                        <a href="{% if request.session.user.id == 'E3lwdxbBug' %}/native/my/info?target_id={{ re.user.id }}
                            {% else %}javascript:void(0);{% endif %}" target="_blank" class="font-12 bold">
{#                            홈쇼핑모아#}
                            <img class="hsmoa_img" src="http://hsmoa.com/media/img/web/logo_hsmoa.png" alt="" width="60px"; style="margin-bottom:4px;">
                        </a>
                    </div>
                    <div class='clear-2'></div>
                    <div class="balloon overflow word-break font-14" style="line-height:20px;">
                        {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}
                    </div>
                    <span class="c-grey">{{ re.create_date|time_format:'min' }}
{#                        <br><span class="badge"> aid {{ re.action_id}} </span>#}
                    </span>
                    <div class="clear-5"></div>
                </div>
               {% if request.session.user.id == "E3lwdxbBug"  %}
{#               {% if request.session.user.id == re.user_id or request.META.HTTP_XID == re.user_id or request.session.user.id == "E3lwdxbBug"  %}#}
                     <div class='table-cell' style="width:30px;">
                        <div class='clear-9'></div>
                        <a href="javascript:cmt_remove('{{ re.id }}');"><u class="font-11">삭제</u></a>
                     </div>
               {% endif %}
                <div class='table-cell-9'></div>
            </div>
        </div>

        {#문의자#}
        {% else %}
            <div id="cmt_{{ re.id }}" class="cmt-list user">
                <div class='display-table'>

                    <div class='right-cmtary table-cell padding-9'>
                        <div class='clear-2'></div>

                        <div class="balloon msg overflow word-break font-14" style="line-height:20px;">
                            {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}

                            <span class="c-grey msg">
                                    {{ re.create_date|time_format:'min' }}
                            </span>
{#                            <br><span class="badge"> aid {{ re.action_id}} </span>#}
                        </div>
                        <div class="clear-5"></div>
                    </div>
                    <div class='table-cell-2'></div>
                </div>
         </div>
        {% endif %}

        <style>
            .date_{{ re.create_date|get_string|slice:"0:8" }}{ display:none; }
            .date_{{ re.create_date|get_string|slice:"0:8" }}:first-child{ display:block !important; }
        </style>


    {% endfor %}
        <style>

            .date_row{ text-align: center;}
        </style>
{% endif %}