{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for result in result.data %}
        {% for re in result.data %}
            {% if re.genre2 == request.GET.genre2 and re.price > 9 and re.is_mileage !=  True  %}
                <div class="timelinelist position-relative b-white " style="margin:9px 0;" >
                    <a href="javascript:buy_click('{{ re.url }}', '{{ re.id }}', '{{ re.genre2 }}', '{{ re.price }}', '{{ re.cate1 }}', '{{ request.GET.flag1 }}', '{{ re.live_status }}');">
                        <div class="display-table position-relative">
                            <div class="table-cell" style="width:142px;height:142px; ">
                                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                            </div>
                            <div class="table-cell-9" style="width:12px;"></div>
                            <div class="table-cell">
                                <div class="clear-9"></div>
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                                <span class="font-10" style="color:#eee;margin:0 3px 0 3px;">|</span>
                                {% if re.live_status == 1 %}
                                    <span class="c-lion">현재방송중</span>
                                {% else %}
                                    <span class="font-11 c-gray spacing">{{ request.GET.date|slice:'4:6' }}월 {{ request.GET.date|slice:'6:8' }}일 {{re.start_time}}</span>
                                {% endif %}
                                <div class="clear-9"></div>
                                <div class="font-16 overflow word-break" style="line-height: 1.3em; height:2.5em;">
                                    {% if re.name|length < 33 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                                </div>
                                <div class="position bottom-9">
                                    {% if re.price > 0 %}
                                        {% if re.org_price > re.price %}
                                            <s class="sale c-gray font-11" style="line-height: 11px">{{re.org_price|intcomma}}원</s>
                                        {% else %}
                                        {% endif %}
                                        <div class="clear-2"></div>
                                        <span class="c-red font-17 strong" style="line-height: 16px;">{{re.price|intcomma}}<span class="font-12">원</span></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="table-cell-9"></div>
                        </div>
                    </a>
                    {% if re.id > 0 and re.live_status == 2 %}
                    <div class="position right-7 bottom-9 ">
                        <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                               onclick="set_alarm_action('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                        <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                        <div class="clear-2"></div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
