{% load humanize %}
{% load filters %}
{% if result.data.live|length > 0 %}
    {% for re in result.data.live.0.data %}
        {% if re.genre2 in request.GET.genre2 and re.price > 9 and re.is_mileage != True %}
            <div  class="timelinelist position-relative b-white" style="margin:9px 0;" >
                <a href="javascript:buy_click('{{ re.url }}', '{{ re.id }}', '{{ re.genre2 }}', '{{ re.price }}', '{{ re.cate1 }}', '{{ request.GET.flag }}', '{{ re.live_status }}');">
                    <div class="display-table position-relative">
                        <div class="table-cell" style="width:140px;height:140px; ">
                            {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                            <img src="{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/{{ img }}/noimg3.png';" />
                        </div>
                        <div class="table-cell-9" style="width:12px;"></div>
                        <div class="table-cell">
                            <div class="clear-9"></div>
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                            <span class="font-11" style="color:#eee;margin:0 3px 0 3px;">|</span>
                            {% if re.live_status == 1 %}
                                <span class="c-red">현재방송중</span>
                            {% else %}
                                <span class="font-12 c-gray ">{{ request.GET.date|slice:'4:6'|get_int }}월 {{ request.GET.date|slice:'6:8'|get_int }}일 {{re.start_time}}</span>
                            {% endif %}
                            <div class="clear-5"></div>
                            <div class="font-16 overflow word-break" style="line-height: 1.3em; height:2.4em;">
                                {% if re.name|length < 23 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                            </div>
                            <div class="overflow word-break position bottom-9" style="line-height:1.1em;">
                                {% if re.org_price > re.price %}
                                    <s class="sale c-gray font-11">{{re.org_price|intcomma}}원</s>
                                {% else %}
                                {% endif %}
                                <div class="clear"></div>
                                <span class=" font-17 strong" style="line-height:1.2em;">{{re.price|intcomma}}<span class="font-12">원</span></span>
                            </div>
                        </div>
                        <div class="table-cell-9"></div>

                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if result.data.after_live|length > 0 %}
    {% for group in result.data.after_live %}
    {% for re in group.data %}
        {% if re.genre2 in request.GET.genre2 and re.price > 9 and re.is_mileage !=  True  %}
            <div  class="timelinelist position-relative b-white" style="margin:9px 0;" >
                <a href="javascript:buy_click('{{ re.url }}', '{{ re.id }}', '{{ re.genre2 }}', '{{ re.price }}', '{{ re.cate1 }}', '{{ request.GET.flag }}', '{{ re.live_status }}');">
                    <div class="display-table position-relative">
                        <div class="table-cell" style="width:140px;height:140px; ">
                            {% if re.live_status == 1 %}<div class="bt-play"></div>{% endif %}
                            <img src="{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/{{ img }}/noimg3.png';" />
                        </div>
                        <div class="table-cell-9" style="width:12px;"></div>
                        <div class="table-cell">
                            <div class="clear-9"></div>
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                            <span class="font-11" style="color:#eee;margin:0 3px 0 3px;">|</span>
                            {% if re.live_status == 1 %}
                                <span class="c-red">현재방송중</span>
                            {% else %}
                                <span class="font-12 c-gray ">{{ request.GET.date|slice:'4:6'|get_int }}월 {{ request.GET.date|slice:'6:8'|get_int }}일 {{re.start_time}}</span>
                            {% endif %}
                            <div class="clear-5"></div>
                            <div class="font-16 overflow word-break" style="line-height: 1.3em; height:2.4em;">
                                {% if re.name|length < 23 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                            </div>
                            <div class="overflow word-break position bottom-9" style="line-height:1.1em;">
                                {% if re.org_price > re.price %}
                                    <s class="sale c-gray font-11">{{re.org_price|intcomma}}원</s>
                                {% else %}
                                {% endif %}
                                <div class="clear"></div>
                                <span class=" font-17 strong" style="line-height:1.2em;">{{re.price|intcomma}}<span class="font-12">원</span></span>
                            </div>
                        </div>
                        <div class="table-cell-9"></div>

                    </div>
                </a>
                {% if re.id > 0 and re.live_status == 2 %}
                <div class="position right-7" style="top:100px">
                    <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                           onclick="set_alarm_action('{{ re.id }}','{{ re.simple_name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                    <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                    <div class="clear-2"></div>
                </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% endfor %}
{% endif %}