{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for result in result.data %}
        {% if forloop.counter == 1 and request.GET.page == '1' and request.GET.flag == 'true' %}
            <ul class="inline">
                <li class="align-center align-top time-line"></li>
                <li>
                    <div class="clear-9"></div>
                    <div class="clear-7"></div>
                    <div class="c-gray" style="margin-left:-7px;">
                        <div class="display-table">
                            <div class="table-cell align-middle" style="width: 15px;">
                                <button class="bt" style="border-radius:6px; height:12px;width:12px;background:#fff;border:2px solid #f75559; margin-top:-3px;"></button>
                            </div>
                            <div class="table-cell align-middle">
                                <span class="strong c-lion font-13" style="display: inline-block; height:15px;">현재 TV생방송 상품</span>
                            </div>
                            <div class="table-cell align-right">
                                <a href="javascript:show_today_all();" class="c-gray margin-7">
                                    <u>오늘전체보기</u>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear-5"></div>
                </li>
            </ul>
            <div id="swipe_slide" class="overflow" style="max-height:360px;">
                {% for re in result.data %}
                    <div id="swipe_{{ re.genre2 }}" style="min-height: 150px;">
                        <a href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','timeline','{{ re.live_status }}')">
                            <img src="{{ thum }}/640x360/smart/{% if re.img %}{{re.img}}{% else %}{{ img }}/noimg3.png{% endif %}" onerror="this.src='{{ thum }}/640x360/smart/{{ img }}/noimg3.png'" />
                            <div class="display-table-fixed position bottom-0 b-white" style="opacity: 0.93;">
                                <div class="table-cell align-left align-middle" style="padding:4px 10px; height:46px;">
                                    <div class="clear-2"></div>
                                    <div class="font-16 overflow word-break" style="height:17px;line-height:17px;">
                                        {% if re.name|length < 33 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                                    </div>
                                    <div class="clear-3"></div>
                                    {% if re.price > 9 %}
                                    <div class="c-lion font-16 pull-right" style="height:17px;line-height: 20px; margin-top: 1px;">{{re.price|intcomma}}원</div>
                                    {% endif %}
                                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:18px; width:auto;">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <ul class="inline">
                <li class="time-line"></li>
                <li>
                    <div class="clear-3"></div>

                    <div id="notice_alarm" class="block-hide position-relative" style="margin:7px 6px 0 -12px;">
                        <button onclick="close_notice();" class="z-index bt disblock position" style="right:9px;top:0; width: 40px; height: 40px; background: none;"></button>
                            <img src="{{ cdn_img }}/notice_alarm.png">
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="inline">
                <li class="align-center align-top time-line"></li>
                <li>
                    <div class="clear-9"></div>
                    <div class="clear-5"></div>
                    <div class="c-gray" style="margin-left:-7px;">
                        <div class="display-table">
                            <div class="table-cell" style="width: 15px;">
                                <button class="bt" style="border-radius:6px; height:12px;width:12px;background:#fff;border:2px solid #777;margin-top:-3px;"></button>
                            </div>
                            <div class="table-cell align-middle">
                                <span class="strong font-13 c-darkgray" style="display: inline-block; height:15px;">
                                    {% if result.time|slice:'2' >= '19' %}저녁{% elif result.time|slice:'2' >= '13' %}오후{% elif result.time|slice:'2' >= '12' %}점심{% elif result.time|slice:'2' >= '06' %}오전{% elif result.time|slice:'2' >= '0' %}새벽{% endif %}
                                    {% if result.time|slice:'2' >= '13' %}{{ result.time|slice:'2'|add:'-12' }}{{ result.time|slice:'2:5' }}{% else %}{{ result.time }}{% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% for re in result.data %}
                        <div class="clear-5"></div>
                        <div class="position-relative b-white list-timeline" style="margin:0px 8px 0 -19px;" >
                            <a href="javascript:item_click('{{ re.id }}','{{ re.genre2 }}','{{ re.price }}','{{ re.cate1 }}','timeline','{{ re.live_status }}')">
                                <div class="display-table position-relative">
                                    <div class="table-cell" style="width:142px;height:142px; ">
                                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                                    </div>
                                    <div class="table-cell-9" style="width:12px;"></div>
                                    <div class="table-cell">
                                        <div class="clear-9"></div>
                                        <div class="clear-3"></div>
                                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="height:18px;margin-top:-2px;vertical-align: top;"/>
                                        <span class="font-10" style="color:#ddd;margin:0 5px;">|</span>
                                        <span class="c-gray" >{{re.start_time}}-{{re.end_time}}</span>
                                        <div class="clear-9"></div>
                                        <div class="font-16 overflow word-break" style="height:36px;line-height:18px;">
                                            {% autoescape off %}
                                                {% if re.name|length < 33 or re.simple_name|length < 6 %}{{re.name}}{% else %}{{ re.simple_name }}{% endif %}
                                            {% endautoescape %}
                                        </div>
                                        <div class="clear-9"></div>
                                        <div class="clear-9"></div>
                                        <div class="clear-9"></div>
                                        <div class="overflow word-break position bottom-9">
                                            {% if re.price > 9 %}
                                                {% if re.org_price > re.price %}
                                                    <s class="sale c-gray font-11" style="height:13px;line-height: 14px;">{{re.org_price|intcomma}}원</s>
                                                {% else %}
                                                {% endif %}
                                                <div class="clear"></div>
                                                <div class="c-lion font-16" style="height:18px;line-height: 19px;">{{re.price|intcomma}}원</div>
                                            {% endif %}
                                        </div>
                                        <div class="block-hide">
                                            <span class="margin-right c-light">◎ {{ re.alarm_action_num|intcomma }}</span>
                                        </div>
                                    </div>
                                    <div class="table-cell-9"></div>
                                </div>
                            </a>
                        </div>
                        <div class="clear-2"></div>
                    {% endfor %}
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}
