{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <div class="position-relative b-white" id="list_{{ re.id }}" style="border-bottom: 1px solid #eee;">
            <a class='disblock padding-9' href="javascript:search_visit_click('{{ re.url }}', '{{ re.site_name }}', '{{ re.price }}', 'history_result', '{{ re.query }}', '', '0', '{{ re.pid }}', '{{ re.rank }}', '', '{{ re.img }}', '{{ re.name }}');">
                <div class='display-table '>
                    <div class="table-cell position-relative" style="width:90px;height:90px;">
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                        <div class="position" style="width: 100%; height:90px; box-sizing: border-box; border:1px solid #000; opacity:0.06; left:0; top:0;"></div>
                    {% if re.soldout %}
                        <div class="position z-99 align-center" style="width: 100%; padding:4px 0; height:14px; font-size:12px; line-height:1.3em; color:#fff; left:0; bottom:0; background: rgba(90,90,90,0.6); ">판매종료</div>
                    {% endif %}
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class='table-cell '>
                        <div class="clear-2"></div>
                        <img src="{{ logo }}/logo_{{ re.site_name }}.png" style="height:14px;margin-top: -2px;vertical-align: top;"/>
                        <div class="clear-2"></div>
                        <div class="word-break font-14 overflow " style="line-height:1.3em; max-height: 2.5em;">
                            {{re.name}}
                        </div>
                        <div class="clear-9"></div>
                        <div class="position" style="line-height: 14px; bottom:12px;">
                            {% if re.org_price|get_int > re.price|get_int %}
                                <s class="c-gray font-12 ">{{re.org_price|intcomma}}원</s>
                            {% endif %}
                            {%  if re.price > 9 %}
                               <div class="font-14 c-red" >{{re.price|intcomma}}원</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            <div class="position right-0 top-0" >
            <a href="javascript:search_remove('{{ re.id }}');">
                <img src="{{ cdn_img }}/ic_close.png" style="height:24px;padding:3px; opacity: 0.4;" />
            </a>
            </div>
        </div>
    {% endfor %}
    <a href="/native/my/visit?from=native_search_result&tab=search&type=bottom">
    <div class="align-center c-darkgray font-13" style="padding:12px 0; background: #f7f7f7;">
        최근 본 상품 더보기 <span class="ic-arrow-next"></span>
    </div></a>

{% else %}
    <div class="align-center c-midgray font-13" style="padding:40px 0;border-bottom: 1px solid #eee; ">
        최근 본 검색상품이 없습니다.
    </div>
{% endif %}