{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class="position-relative b-white" id="list_{{ re.id }}" style="border-bottom: 1px solid #e2e2e2;">
            <a class='disblock padding-9' href="javascript:search_visit_click('{{ re.url }}', '{{ re.site_name }}', '{{ re.price }}', 'history_visit', '{{ re.query }}', '', '0', '{{ re.pid }}', '{{ re.rank }}', '', '{{ re.img }}', '{{ re.name }}');">
                <div class='display-table '>
                    <div class="table-cell position-relative" style="width:120px;height:120px;">
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                        <div class="position" style="width: 100%; height:120px; box-sizing: border-box; border:1px solid #000; opacity:0.06; left:0; top:0;"></div>
                    {% if re.soldout %}
                        <div class="position z-99 align-center" style="width: 100%; padding:4px 0; height:16px; font-size:14px; line-height:1.3em; color:#fff; left:0; bottom:0; background: rgba(90,90,90,0.6); ">판매종료</div>
                    {% endif %}
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class='table-cell '>
                        <div class="clear-3"></div>
                        <img src="{{ logo }}/logo_{{ re.site_name }}.png" style="height:18px;margin-top: -2px;vertical-align: top;" onerror="this.style.display = 'none'"/>
                        <div class="clear-5"></div>
                        <div class="word-break font-16 overflow" style="line-height:1.3em;height:2.5em; ">
                            {{re.name}}
                        </div>
                        <div class="position" style="line-height: 15px; bottom:12px;">
                            {% if re.org_price|get_int > re.price|get_int %}
                                <s class="c-gray font-12 ">{{re.org_price|intcomma}}원</s>
                            {% endif %}
                            {%  if re.price > 9 %}
                               <div class="font-17 c-red" >{{re.price|intcomma}}원</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            <div class="position right-0 top-0" >
            <a href="javascript:search_remove('{{ re.id }}');">
                <img src="{{ cdn_img }}/ic_close.png" style="height:28px;padding:2px; opacity: 0.5;" />
            </a>
            </div>
        </div>
    {% endfor %}
{% endif %}