{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div class=" position-relative b-white" id="list_{{ re.id }}" style="border-bottom: 1px solid #e2e2e2;">
            <a class="disblock padding-9" href="javascript:view_item('{{ re.entity.id }}', '&site={{ re.entity.genre2 }}&from={{ request.GET.flag }}&cate={{ re.entity.cate1 }}&rank={{ re.rank }}');" >
                <div class='display-table '>
                    <div class="table-cell position-relative" style="width:120px;height:120px;">
                        <img src="{{ thum320 }}/{{re.entity.img}}" onerror="this.src='{{ cdn_img }}/noimg3.png';"  />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class='table-cell '>
                        <div class="clear-3"></div>
                        <img src="{{ logo }}/logo_{{ re.entity.genre2 }}.png" style="height:18px;margin-top: -2px;px;vertical-align: top;"/>
                        <span class="font-11 c-midgray" style="line-height: 12px; margin:0 3px;">| </span>
                        <span class="font-11 c-midgray" style="line-height: 12px;">
                            {{ re.entity.date|get_string|slice:'4:6'|get_int }}월 {{ re.entity.date|get_string|slice:'6:8'|get_int }}일 {{re.entity.start_time|get_string|slice:'0:2' }}:{{re.entity.start_time|get_string|slice:'2:4' }}
                        </span>
                        <div class="clear-7"></div>
                        <div class="word-break font-16 overflow" style="line-height:1.3em;height:2.5em; ">
                            {{re.entity.name}}
                        </div>
                        <div class="position" style="line-height: 15px; bottom:11px;">
                            {% if re.entity.org_price|get_int > re.entity.price|get_int %}
                                <s class="c-gray font-11">{{re.entity.org_price|intcomma}}원</s>
                            {% endif %}
                            {%  if re.entity.price > 9 %}
                               <div class="font-17 c-red strong" >{{re.entity.price|intcomma}}원</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            <div class="position right-0 top-0" >
            <a href="javascript:{{ request.GET.flag }}_remove('entity', '{{ re.entity.id }}', '{{ re.id }}');">
                <img src="{{ cdn_img }}/ic_close.png" style="height:28px;padding:2px; opacity: 0.5;" />
            </a>
            </div>
        </div>
    {% endfor %}
{% endif %}