
{% load humanize %}
{% load filters %}
{% load name_refiner_fashiontab %}

{% if result.data %}

    {% for re in result.data %}
        <li class="position-relative b-white" id="wishlist_{{ re.id }}" style="border-bottom: 1px solid #e9e9e9;">
            <div class='display-table'>
            <a class='dflex padding-9' href="javascript:style_click(
{% if re.search_goods.site_name %}
'{{ re.search_goods.site_name}}',
{% else %}
'{{ re.search_goods.genre2}}',
{% endif %}
'{{ re.search_goods.pid }}', 'wish');">
                    <div class="position-relative" style="flex:5; overflow: hidden; background: #e9e9e9">
                        <img data-src='{{re.search_goods.img }}' src='{% if re.search_goods.img %}http://thum.buzzni.com/unsafe/320x320/smart/{{re.search_goods.img }}{% else %}{{ cdn_img }}/noimg.png{% endif %}' onerror="this.src='{{ cdn_img }}/noimg3.png';" onload="freeze_gif(this);"/>
                    </div>
                    <div style="flex:1;"></div>
                    <div style="flex:8">
                        <span class="strong">
                            {% if re.search_goods.site_name in "gsshop cjmall hnsmall hmall ssg ssgshop lotte lotteimall nsmall gsmyshop auction 11st gmarket wshop kshop immall hmallplus cjmallplus shopnt" %}
                                <img class="genre2_logo" src="{{ media }}/logo/logo_{{ re.search_goods.site_name }}.png" alt="">
                            {% else %}
                                {{ re.search_goods.site_name }}
                            {% endif %}
                        </span>
                        <div class="clear-7"></div>
                        <div class="word-break font-14 overflow" style="line-height:1.3em;height:2.5em; ">
                            {{ re.search_goods.name|filter_for_refine_name }}
                        </div>
                        <div class="position" style="line-height: 15px; bottom:11px;">
                            {% if re.search_goods.org_price|get_int > re.search_goods.price|get_int %}
                                <s class="c-gray font-11">{{re.search_goods.org_price|intcomma}}</s>
                            {% endif %}
                            {%  if re.search_goods.price > 9 %}
                               <div class="font-17 price strong" >{{re.search_goods.price|intcomma}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <a class="btn_buy_wish" href="javascript:style_buy_click('{{ re.search_goods.url }}','{{ re.search_goods.pid }}','{{ re.search_goods.site_name }}','{{ re.search_goods.price }}','{{ re.search_goods.cat1 }}','flag_style')">구매하기</a>
                </a>
            </div>
            <div class="position" style="right:10px; top:10px">
                <a class="btn_del c-gray" href="javascript:like_remove('search_goods', '{{ re.action_id }}', '{{ re.id }}' );">
                    <i class="ic ic-delete"></i> 삭제
                </a>
            </div>
        </li>
    {% endfor %}
{% endif %}
