{# 광고 - 상품 알람등록 #}
{# 에그팩 #}
<div class="egg align-center ad_block margin-9 " style="margin-bottom: 0px;">
    <div class="radius" style="background:#eee;">
        <div class="clear-9"></div>
        <span class="spacing margin-right font-13">이벤트 연락처</span>
        <input type="tel" type="text"  value="" id="phone_egg" style="border:1px solid #ccc;width:160px;height:25px; margin-top:-2px; padding:4px;font-size:14px;border-radius: 3px;" placeholder="'-'없이 번호만"/>
        <div class="clear-3"></div>
        <span class="font-10 c-gray">*휴대폰번호는 이벤트에만 사용됩니다.</span>
        <div class="clear-9"></div>
        <div class="align-center">
            <button onclick="alarm_add_egg();" id="alarm_add_egg" class="font-13 bt-red" style="width:220px;height:33px; padding:4px 0; border-radius: 4px;">방송알림 설정하고 경품응모</button>
        </div>
        <div class="clear-9"></div>
    </div>
        <div class="clear-9"></div>
</div>

<div class="egg align-center ad_block_over margin-9 block-hide" style="margin-bottom: 0px;">
    <div class="radius b-basic">
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="c-gray font-14 align-center ">알림이 설정되었습니다. <br/> 좋은 하루 되세요~</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
    </div>
    <div class="clear-9"></div>
</div>
<script type="text/javascript">
    var egg_id = '7703762';
    $(function() {
        ajax_json("entity/userInfo",{"entity_id":egg_id}, function (re) {
            if (re.success == true && re.result.alarm_action_id > 0) {
                $(".egg.ad_block").hide();
                $(".egg.ad_block_over").show();
            } else {
                $(".egg.ad_block").show();
                $(".egg.ad_block_over").hide();
            }
        });
    });
    function alarm_add_egg(){
        var phone = $('#phone_egg').val();
        if (phone){
            if (phone.length > 9){
                $("#alarm_add_egg").attr("disabled", "disabled").text("처리중입니다...");
                ajax_json("user/update", {"fld":"phone","value":phone}, function(re){
                    if (re.success == true){
                        ajax_json("alarm_action/save", {"action":'entity', "action_id":egg_id, "service":"tvshop", "status":0, "is_force": true}, function(re){
                            if (re.success == true) {
                                $(".egg.ad_block").hide();
                                $(".egg.ad_block_over").show();
                                $('#alarm_action_'+egg_id).attr('alarm_action_id',re.result.data);
                                $('#alarm_action_'+egg_id).prop('checked',true);
                                native_send_toast("완료되었습니다. 감사합니다^^");
                            } else {
                                native_send_toast("오류가 발생하였습니다. 다시 시도해주세요.");
                            }
                            $("#alarm_add_egg").removeAttr("disabled").text("방송알림 받고 이벤트 참여하기");
                        });
                    }
                });
            } else {
                native_send_toast("정확한 연락처를 입력해주세요^^");
                $('#phone_egg').focus();
            }
        } else {
            native_send_toast("경품 받으실 연락처를 입력해주세요^^");
            $('#phone_egg').focus();
        }
    }
</script>