{# 광고 - 올인위크 상품공유 이벤트 : 상품을 카카오톡으로 공유시 해당 레퍼러로 체크해서 공유횟수를 판단하여 경품을 줌 by.ricky #}
{# 에그팩 #}
{% block css %}
    <style>
        /* 올인위크 공유이벤트용 css */
        .share-event {width:90%;text-align: center;display:block;background: #65C3CD;border-radius: 10px;margin:0 auto;padding:5px;margin-bottom:15px;}
        .share-event .comment {color:#391716;padding:0;margin:5px;font-size:14px;}
        .agreement {color:#333;font-weight: bold;}
        input.checkbox {-webkit-appearance:none; float:left; margin:-1px 7px; background: #fff; border: 1px solid #79A1A4;
            border-radius: 5px; display:block; width: 16px; height: 16px; position:relative;
        }
        input.checkbox:checked { border: 1px solid #ccc; background: #fff url('{{ cdn_img }}/checkbox_on.png') no-repeat 50% 50%;  -webkit-background-size: 16px 16px;}
        input.checkbox.agree {border: 1px solid #79A1A4; border-radius: 1px; width: 15px; height: 15px; background: #fff;float:left;}
        input.checkbox.agree:checked { border: 1px solid #ccc;   background: #fff url('{{ cdn_img }}/checkbox_on.png') no-repeat 50% 50%;  -webkit-background-size: 15px 15px;}
        .policy-guide {margin-top:10px;margin-bottom:10px;color: #777; line-height: 15px; background: #fff;border-radius: 5px;padding:10px;text-align: left;display: none}
        .policy-guide p {padding-left:10px}
        ol.event-context {list-style-type: none;padding:0;margin:10px;line-height: 18px;}
        ol.event-context li {margin:10px 0px}
        ol.event-context  ul {padding:0px 10px;}
        .share-event .btn-block{display: block;padding:10px;}
        .cancel {background: #434343;color:#fff;font-size:15px;padding:10px 20px;border:0px;border-radius: 10px;width:37%}
        .response {background: #434343;color:#fff;font-size:15px;padding:10px 20px;border:0px;border-radius: 10px;width:37%}
        .view-full-text {background: none; border:0; border-bottom:1px solid #2F3334; height:auto; padding:0px;color:#2F3334}
        .share-event-phone-number {border:1px solid #120000;width:85%;padding:10px;display:block;margin:0 auto;font-size:15px}
        .share-event-phone-number::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }
    </style>
{% endblock %}
<div id="share_event" class="share-event " style="display: none">
    <a href="/event/share?date=20151214&tabbar=hide&title=올인위크 공유이벤트">
        <img src="{{ cdn_img }}/ev/share_151214_title.png" alt="" style="width:80%;padding:10px;">
    </a>
    <p class="comment">경품 수령을 위해 연락처를 남겨주세요.</p>
    <input type="tel" id="phone_number" class="share-event-phone-number" placeholder="휴대폰 번호입력" >
    <div style="width:80%;display: inline-block;text-align: center;padding:10px;">
        <div class='display-table'>
            <label class='agreement' for='personal_policy' style='padding:0; border:0;'>
                <input class='checkbox agree' id='personal_policy' type='checkbox' name='' style='margin: -2px 0 0 -2px;'>
                <div class='table-cell-line'></div>
                <div class='font-13 table-cell align-middle align-left spacing' style="color:#2F3334;font-weight:normal">
                    개인정보의 수집 및 이용에 동의
                </div>
            </label>
            <div class='table-cell align-right'>
                <button onclick="$('#policy_personal_detail').slideToggle(0);" class=' font-12 spacing c-lion strong view-full-text' >전문보기</button>
            </div>
            <div class='table-cell-line'></div>
        </div>
        <div id="policy_personal_detail" class="policy-guide">
            <h1>※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.</h1>
            <ol class="event-context">
                <li>1) 개인정보를 제공받는 자 : ㈜버즈니</li>
                <li>2) 개인정보를 제공받는 자의 이용목적 : 구매내역 확인을 통한 이벤트 당첨확인 진행</li>
                <li>3) 수집하는 개인정보 항목 : 핸드폰 번호</li>
                <li>4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 : 본 이벤트 완전종료 시</li>
            </ol>
            <div class="clear-5"></div>
            <h1>※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.</h1>
        </div>
        <div class='display-table' style="margin-top:5px;">
            <label class='agreement' for='event_policy' style='padding:0; border:0;'>
                <input class='checkbox agree' id='event_policy' type='checkbox' name='' style='margin: -2px 0 0 -2px;'>
                <div class='table-cell-line'></div>
                <div class='font-13 table-cell align-middle align-left spacing' style="color:#2F3334;font-weight:normal">
                    이벤트 참여 약관에 동의
                </div>
            </label>
            <div class='table-cell align-right'>
                <button onclick="$('#policy_event_detail').slideToggle(0);" class=' font-12 spacing c-lion strong view-full-text'>전문보기</button>
            </div>
            <div class='table-cell-line'></div>
        </div>
        <div id="policy_event_detail" class="policy-guide">
            <h1>
                ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 및 이용방침과 이벤트 약관에 동의 하셔야 응모가 완료 됩니다.
            </h1>
            <h1>
                [공유 이벤트] 이벤트 약관 
            </h1>
            <h1>1. 이벤트 개요</h1>
            <ol class="event-context">
                <li>1) 이벤트 기간 : 2015년 12월 14일 ~ 2015년 12월 21일</li>
                <li>2) 대상 : 홈쇼핑모아 유저</li>
                <li>3) 경품: 던킨도너츠 맨하탄 드립 커피&도넛</li>
                <li>4) 경품발송 : 2015년 12월 23일</li>
            </ol>
            <h1>2. 응모방법</h1>
            <p>
                본 이벤트에 응모하고자 하는 이용자는 이벤트 기간(2015년 12월 14일 ~  2015년 12월 21일) 중 홈쇼핑모아에서 상품 상세정보를 카카오톡을 통해 공유해야 합니다. 
            </p>
            <h1>3. 이벤트 유의사항
            </h1>
            <ol class="event-context">
                <li>1) 본 이벤트는 "개인정보 수집 및 이용방침"과 "이벤트 참여 약관"에 동의하신 분들에 한하여 참여가 가능하고 경품 지급 대상이 됩니다.</li>
                <li>2) 이벤트 응모시 입력한 개인정보를 기준으로 경품이 지급됩니다. </li>
                <li>3) 이벤트 기간 내, 홈쇼핑모아 앱을 통해 상품공유를 한 경우만 유효한 것으로 확인됩니다. </li>
                <li>4) 홈쇼핑모아를 통해 공유하지 않은 링크는 무효처리됩니다. </li>
                <li>5) 홈쇼핑모아를 통해 공유했다 하더라도 공유 상대가 공유 메시지의 링크를 클릭해 홈쇼핑모아로 접속하지 않은 경우 무효처리됩니다. </li>
                <li>6) 개별 사정으로 인한 경품 변경 불가합니다.</li>
                <li>7) 온라인 해킹 등 기타 부정한 방법으로 참여한 경우 경품이 모두 취소되며, 법적 책임을 질 수 있습니다.</li>
                <li>
                    8) 경품 발송 불가의 경우는 아래와 같습니다.
                    <ul>
                        <li>-참여 시 기입한 고객 정보의 오류로 인한 오발송</li>
                        <li>-참여 시 기입한 정보가 허위이거나 온라인 해킹 등 기타 부정한 방법으로 참여한 경우</li>
                        <li>-통신 사의 설정으로 MMS가 스팸 메시지로 분류된 경우</li>
                    </ul>
                </li>
            </ol>
            <h1>※ 본 이벤트 약관을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.</h1>
        </div>
    </div>
    <div class="btn-block">
        <button id="btn_cancel" class="cancel" onclick="share_evnet_cancel();">다음에</button>
        <button id="btn_response" class="response" onclick="share_event_submit();">응모 완료</button>
    </div>
</div>
