{# 광고 - 상품 알람등록 #}
{# 스칸맘 #}
{% block css %}
    <style>
        /*알림광고용 개인정보취급방침*/
        .checkbox {
            -webkit-appearance:none; float:right; margin:-2px 5px 0 0; background: #fff; -webkit-background-size: 18px 18px;
            border: 1px solid #ddd; box-sizing: border-box; border-radius: 5px; display: inline-block; height: 18px;
            width: 18px; position: relative; -webkit-appearance: none;
        }
        .checkbox:checked {
            -webkit-appearance:none;
            background:#fff url('{{ img }}/checkbox_on.png') no-repeat 50% 50%;
            -webkit-background-size: 20px 20px;
        }
        .btn-policy_detail {background: none; border:0; height:auto; padding:0px;}
        .policy-detail-contents {color: #666; line-height: 15px; padding: 3px 0;}
    </style>
{% endblock %}
<div class="real align-center ad_block margin-9 " style="margin-bottom: 0px;">
    <div class="radius" style="background:#eee;">
        <div class="clear-9"></div>
        <span class="spacing margin-right font-13">이벤트 연락처</span>
        <input type="tel" type="text"  value="" id="phone_real" style="border:1px solid #ccc;width:160px;height:25px; margin-top:-2px; padding:4px;font-size:14px;border-radius: 3px;" placeholder="'-'없이 번호만"/>
        <div class="clear-3"></div>
        <span class="font-10 c-gray">*휴대폰번호는 이벤트에만 사용됩니다.</span>
        <div class="clear-9"></div>
        <div class="align-center">
            <button onclick="alarm_add_real();" id="alarm_add_real" class="font-13 bt-red" style="width:220px;height:33px; padding:4px 0; border-radius: 4px;">방송알림 설정하고 경품응모</button>
        </div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div id="block_lottery" class="box-lottery" style="width:260px;text-align: center;margin:0 auto">
            <div class="box-lottery-form ">
                <div class="display-table">
                    <div class="table-cell align-middle box-checkbox">
                        <input type="checkbox" id="event_policy" class="checkbox" name="">
                    </div>
                    <div class="table-cell align-middle box-agree">
                        <label class="agreement" for="event_policy" class="font-12 align-middle align-left spacing ">
                            개인정보의 수집 및 이용에 동의합니다.</label>
                    </div>
                    <div class="table-cell align-right">
                        <button onclick="$('#policy_detail').slideToggle(300);" class=" font-12 spacing c-lion strong btn-policy_detail">원문보기</button>
                    </div>
                    <div class="table-cell-line"></div>
                </div>
                <div id="policy_detail" class="block-hide">
                    <div class="font-12 align-left c-lion spaciㅇng policy-detail-contents" style="line-height:20px">
                        ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.<br>
                        1) 개인정보를 제공받는자: (주)버즈니, (주)셀트리온스킨큐어<br>
                        2) 개인정보를 제공받는 자의 이용목적:  생방송 알림설정을 통한 이벤트 당첨확인 및 경품발송 진행<br>
                        3) 수집하는 개인정보 항목 : 핸드폰 번호<br>
                        4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간: 이벤트 당첨발표일로부터 3개월(고객문의 대응 목적) 후 완전삭제
                        <div class="clear-5"></div>
                        ※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.
                    </div>
                </div>
            </div>
            <div class="clear-9"></div>
        </div>
    </div>
    <div class="clear-9"></div>

</div>

<div class="real align-center ad_block_over margin-9 block-hide" style="margin-bottom: 0px;">
    <div class="radius b-basic">
        <div class="clear-9"></div>
        <div class="clear-9"></div>
        <div class="c-gray font-14 align-center ">알림이 설정되었습니다. <br/> 좋은 하루 되세요~</div>
        <div class="clear-9"></div>
        <div class="clear-9"></div>
    </div>
    <div class="clear-9"></div>
</div>
<script type="text/javascript">
    var real_id = '7878694';
    $(function() {
        ajax_json("entity/userInfo",{"entity_id":real_id}, function (re) {
            if (re.success == true && re.result.alarm_action_id > 0) {
                $(".real.ad_block").hide();
                $(".real.ad_block_over").show();
            } else {
                $(".real.ad_block").show();
                $(".real.ad_block_over").hide();
            }
        });
        $("input").click(function(){
            var scroll_position = $($(this).parent().parent().parent()[0]).offset().top;
            $("body").scrollTop( scroll_position+150);
        });
    });
    function alarm_add_real(){
        var phone = $('#phone_real').val();
        var isPolicy = $('#event_policy').prop("checked");
        if(!isPolicy) {
            native_send_toast("개인정보의 수집 및 이용에 동의해주세요. \n동의하지 않을 시 이벤트 참여가 불가능합니다.");
            return;
        }
        if (phone){
            if (phone.length > 9){
                $("#alarm_add_real").attr("disabled", "disabled").text("처리중입니다...");
                ajax_json("user/update", {"fld":"phone","value":phone}, function(re){
                    if (re.success == true){
                        ajax_json("alarm_action/save", {"action":'entity', "action_id":real_id, "service":"tvshop", "status":0, "is_force": true}, function(re){
                            if (re.success == true) {
                                $(".real.ad_block").hide();
                                $(".real.ad_block_over").show();
                                $('#alarm_action_'+real_id).attr('alarm_action_id',re.result.data);
                                $('#alarm_action_'+real_id).prop('checked',true);
                                native_send_toast("완료되었습니다. 감사합니다^^");
                            } else {
                                native_send_toast("오류가 발생하였습니다. 다시 시도해주세요.");
                            }
                            $("#alarm_add_real").removeAttr("disabled").text("방송알림 받고 이벤트 참여하기");
                        });
                    }
                });
            } else {
                native_send_toast("정확한 연락처를 입력해주세요^^");
                $('#phone_real').focus();
            }
        } else {
            native_send_toast("경품 받으실 연락처를 입력해주세요^^");
            $('#phone_real').focus();
        }
    }
</script>