{#<div id="allinweek_card" class=" z-index" style="{% if request.GET.f != '1' %}margin-top: -32px; position: absolute;display: inline-block;{% else %}{% endif %}">#}
{#    <div class="display-table align-center b-white" style="width: auto; margin: -9px 5px 5px 0px; line-height: 13px;">#}
{#        <div class="table-cell c-white align-middle" style="padding: 3px 5px; background: #757c84;">#}
{#            <div class="font-12" id="cardsalename" class="cardsalename"></div>#}
{#            <div style="font-size: 9px; letter-spacing: -1px; opacity: 0.8;">청구할인</div>#}
{#        </div>#}
{#        <div class="table-cell align-middle" style="border: 1px solid #757c84; padding:2px 5px;">#}
{#            <span class="font-16 strong" id="cardsalerate"></span><span class="font-10">% </span>할인#}
{#        </div>#}
{#    </div>#}
{#</div>#}
