{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    <style>
        .list-live { border-radius: 4px; background:#fff; position: relative; margin: 10px; overflow: hidden; box-shadow: 0 0.5px 2px rgba(0,0,0,0.1); }
        .list-live thum { padding-top: 56.25%; overflow: hidden; position: relative;}
        .list-live thum > img { border-radius: 3px 3px 0 0; position: absolute; top:0; left:0; width: 100%;}
        .list-live play { height:100%;}
        .list-live detail { padding:6px 12px 9px;  position: relative; z-index: 2; background: #fff;}
        .list-live name { display: block; font-size: 15px; line-height: 1.35em; margin-top: 3px;overflow: hidden;}
        .list-live price { margin-top:6px; font-size:18px; }
        .list-live price s { font-size:11px; color: #bbb; margin-left: 5px;}
        .list-live price num {margin-top:3px; display: inline-block;font-weight: bold; font-size: 1em;}
        .list-live price num:after {content:"원";  font-size: 0.7em;}
        .list-live price span { font-weight:bold; font-size: 0.9em;}
        .list-live site{ position: absolute; right:5px; top:2px; z-index: 99; display: block;width:62px;  }
        .list-live site img {width:62px; vertical-align: middle;  }

        @media screen and (min-width:540px){
            .list-live thum { padding-top: 294px; overflow: hidden; position: relative;}
            .list-live thum > img { border-radius: 3px 3px 0 0; position: absolute; top:0; left:50%; width: 294px; margin-left: -147px;}
        }

        .sametime-block { margin: -11px 0 10px;}
        .sametime-block .sametime-toggle .arrow-up { display: none; }
        .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
        .sametime-block .sametime-list { display: none;}
        .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
        .sametime-block.on .sametime-toggle .arrow-down { display: none; }
        .sametime-block.on .sametime-list { display: block;}
    play {  background: rgba(0,0,0,0.1) url({{ media }}/hsmoa/icon/play.png) 50% 50% no-repeat;  width: 100%;  height: 100%;  background-size: 48px 48px; opacity: 0.9; }
    play::before {  display: none; }
    </style>
    {% for re in result.data|slice:"1" %}
        <div class="mark-date c-white b-red-1">현재방송중</div>
        <item class="list-live link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-live="{{ re.live_status }}"
              data-query="{{ request.GET.query }}"
              data-from="search_site">
            <thum>
                {% if re.live_status == 1 %}<play></play>{% endif %}
                {% if re.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.ribbon_img }}" onerror="this.style.display='none'"/>
                {% endif %}
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_big_{{ re.genre2 }}.png"/>
                </site>

                <img src="{{ thum640 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            </thum>
            <detail>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.price|get_int < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        <num >{{ re.price|intcomma }}</num>
                    {% endif %}
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                </price>
            </detail>
        </item>
    {% endfor %}
    <div class="link-service b-red-1 c-white "
        url-path="search/timeline"
        data-query="{{ result.data.0.genre2|get_genre }}"
        data-from="search_more_site" style="margin: 10px;text-align: center; padding: 14px 0; border-radius: 4px; font-size: 15px;">
        <b>{{ result.data.0.genre2|get_genre }}</b> 편성표 더보기 <span class="margin-left"> </span> 〉
    </div>
{% endif %}