{% if result.data|length > 2 %}
<div class="b-white" style="font-size: 0; margin:20px 0;">
    <div class="c-gray-4 " style="padding:14px; font-size: 15px; ">
        지금 인기있는 쇼호스트
        <button class="link-service" url-path="showlist" data-from="tvrank"
             style="float: right; margin: -2px -4px 0 0; background: url('{{ media }}/hsmoa/icon/arrow_right.png') 50% 50% no-repeat; background-size:18px 18px; width: 18px; height: 18px;">
        </button>
    </div>
    <div style="padding:0 9px 7px;">
    {% for re in result.data %}
        {% if forloop.counter < 7 %}<div class="link-service"
             url-path="program"
             data-program_query="{{ re.program_name }}"
             data-from="search"
             style="float:left; width: 50%; padding:0 3px 6px 3px; box-sizing: border-box;">
            <img src="{{ cdn_img }}/program/show_{{ re.program_name }}.png?v=6" style="border-radius: 2px;">
        </div>{% endif %}
    {% endfor %}
    </div>
    <div class="clear-7"></div>
</div>
{% endif %}