
<!-- 방송상품 결과 없음 -->
<div id="no_result_tvshop" class="align-center b-coolgray-1  c-gray-3" style="display: none;margin:0 0 10px;box-shadow: 0 0 1px #ccc; font-size: 15px; line-height: 1.3em; padding: 20px 0;">
    <div>편성된 <span class="">방송상품</span>이 없습니다.</div>
</div>

<!-- 방송상품 검색결과 -->
<div id="tvshop_block" class="block-hide" style="background: none; margin: 10px 0 0 !important;">
</div>


<!-- 인기 쇼프로그램 -->
<div id="program"></div>

<script>

    //방송상품 불러오기
    var query_type = "{{ query_type }}";
    var $tvshop_block = $("#tvshop_block");
    function loadTvshopResult(source){
        var tvshopParams = {
            skin: "hsmoa/test/hsmoa1014/_search_result_tvshop_program",
            page: 1,
            num: 20,
            query: Search.query,
            source: source,
            flag : query_type
        };

        if(query_type == 'program'){
            tvshopParams.skin = "hsmoa/test/hsmoa1014/_search_result_tvshop_program";
        }else{
            tvshopParams.skin = "hsmoa/test/hsmoa1014/_search_result_tvshop_live";
        }

        sendApi("rpc/search/tvshopSearch", tvshopParams, function(re){
            if(re.length>400){
                $tvshop_block.append(re);
                $tvshop_block.find(".tvshop-title").data("tab", source);
                $tvshop_block.before($("#fixquery"));
                $tvshop_block.show();
                sendStat("searchTimeline/show", {query: Search.query, type: source, from: User.from, type:query_type });
            }else if(source=='future'){
                //방송예정이 없으면, 이전방송 불러온다.
                loadTvshopResult('past');
            }else{
                //방송예정, 이전방송이 없을 시
                if (re.length>100){
                    // 대체어가 있으면 대체어 보여주기
                    $("#relate_query").after(re);
                } else {
                    // 대체어 마저도 없다면..
                    $("#no_result_tvshop").show();
                }
                sendStat("searchTimeline/noresult", {query:Search.query, type:source, from:User.from});
            }

        });

        //같은시간대 방송상품
        $.Fastclick(".sametime-toggle", function() {
            $(this).parent().toggleClass("on");
        });

        if(query_type == 'program'){
            return;
            //인기 프로그램
            sendApi("rpc/entity/getTopProgramList", {skin:"hsmoa/test/hsmoa1014/_tvrank_program"}, function(re){
                if(re.length>100){
                    $("#program").html(re).show();
                }
            });
            $(".bt-filter").remove();
        }else{
            //전체방송상품 불러오기
            initScroller();
        }
    }
</script>