{% load filters %}

<!-- 방송상품 결과 없음 -->
<div id="no_result_tvshop" class="block-hide">
    <div id="no_result_guide" class="align-center b-coolgray-1 " style="margin:0 0 10px;box-shadow: 0 0 1px #ccc; font-size: 15px; line-height: 1.3em; padding: 12px 24px;">
        <div class="c-gray-3">편성된 방송상품이 없습니다.</div>
        <div class="display-table-fixed" style="margin: 9px 0;">
            <!-- 검색어알람 -->
            <div class="alarm-keyword bt-alarm b-white" alarm_id="0" data-query="{{ query }}">
                <img src="{{ thum }}/http://cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm_black.png"/>
                <span>"{{ query }}"</span>
            </div>
        </div>
        <div class="c-gray-4" style="font-size: 12px;">
            검색어 알람을 설정하면, 방송이 편성됐을 때 알람이 발송됩니다.
        </div>
    </div>
</div>

<!-- 방송상품 검색결과 -->
<div id="tvshop_block" class="block-hide" style="background: none; margin: 4px 0 0 !important;">
</div>

<!-- 인기 쇼프로그램 -->
<div id="program">
</div>

<script>

    //방송상품 불러오기
    var query_type = "";
    var $tvshop_block = $("#tvshop_block");
    function loadTvshopResult(source){
        var tvshopParams = {
            skin: "hsmoa/test/hsmoa4151/skin/_search_result_tvshop",
            page: 1,
            num: 20,
            query: Search.query,
            source: source,
            abtest: User.abtest,
            flag : query_type
        };

        sendApi("rpc/search/tvshopSearch", tvshopParams, function(re){

            if(re.length > 400){
                $tvshop_block.append(re);
                $tvshop_block.find(".tvshop-title").data("tab", source);
                $tvshop_block.before($("#fixquery"));
                $tvshop_block.show();

                // 예정/이전 방송보기 버튼 사이즈 정확히 맞추기
                $(".list-swipe-more").css('height', $(".list-swipe-alarm:first-child").height());

                //방송알람이 설정되어있으면반영
                if(Search.alarm_id > 0 ){
                    $(".bt-alarm").attr("alarm_id", Search.alarm_id).addClass("on");
                }

                /***** ABTEST (HSMOA-2591) *****/
                if(source === 'future')
                    hasTvshop = 1;
                else // past
                    hasTvshop = 2;

                if($tvshop_block.find('item:first').data('live') == 1) {
                    hasLive = 1;
                    $tvshop_block.find('item').data('has_live', hasLive);
                    $("#scroller").find('item').data('has_live', hasLive);
                    $tvshop_block.find('item').data('has_tvshop', hasTvshop);
                    $("#scroller").find('item').data('has_tvshop', hasTvshop);
                } else {
                    hasLive = 0;
                    $tvshop_block.find('item').data('has_live', hasLive);
                    $("#scroller").find('item').data('has_live', hasLive);
                    $tvshop_block.find('item').data('has_tvshop', hasTvshop);
                    $("#scroller").find('item').data('has_tvshop', hasTvshop);
                }
                /*************** ***************/


                if($('.moareview-banner').length)
                    hasMoareview = $('.moareview-banner').parent().data('board_id');
                else
                    hasMoareview = 0;
                $tvshop_block.find('item').data('has_moareview', hasMoareview);

                // 일부 ABTEST (HSMOA-2591)
                sendStat("searchTimeline/show", {query: Search.query, type: source, from: User.from, flag:query_type, has_live: hasLive, has_tvshop: hasTvshop, has_moareview: hasMoareview});
            }else if(source === 'future'){
                //방송예정이 없으면, 이전방송 불러온다.
                loadTvshopResult('past');
            }else{
                /***** ABTEST (HSMOA-2591) *****/
                hasLive = 0;
                hasTvshop = 0;
                /*************** ***************/

                //방송예정, 이전방송이 없을 시
                if (re.length > 100){
                    // 대체어가 있으면 대체어 보여주기
                    $("#relate_query").after(re);
                } else {
                    // 대체어 마저도 없다면..
                    $("#no_result_tvshop").show();
                }
                sendStat("searchTimeline/noresult", {query:Search.query, type:source, from:User.from, flag:query_type, has_live: hasLive, has_tvshop: hasTvshop});
            }

            if(query_type !== 'program'){
                //전체방송상품 불러오기
                initScroller();
            }
        });

        //같은시간대 방송상품
        $.Fastclick(".sametime-toggle", function() {
            $(this).parent().toggleClass("on");
        });
    }
</script>
<style>
    {# HSMOA-4106 abtest #}
    {# 비디오 컨텐츠 CSS #}
    .embed-container {
        position:relative;
        padding-bottom:56.25%;
        height:0;
        overflow:hidden;
        max-width:100%;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .video-wrapper {
        padding:10px;
        background-color:#fff;
        margin-bottom:10px;
    }
    .video-wrapper .video-content-title {
        font-weight:bold;
        font-size:15px;
        padding:7px 0 12px 0;
        float:left;
    }
    .video-wrapper .video-content-right-btn {
        float:right;
        font-size:13px;
        padding:5px 0 12px 0;
    }
    .video-wrapper .video-content-right-btn img {
        width:16px;
        vertical-align:middle;
    }
</style>