{% load humanize %}
{% load filters %}

<div class="mall-list" id="price_order">
    {% for re in re.result.price_order %}
        <div id='group_{{ re.goods_id }}' class="border-top" style="padding: 0px 16px 0px 18px">
            <a href="javascript:search_click('{{ re.url }}','{{ re.genre2 }}','{{ re.low_price }}','group_site_price', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '{{ forloop.counter }}', '{{ request.GET.group_id }}', '{{ re.img }}', '{{ re.name }}');"
               class="disblock">
                <div class='b-white position-relative'>
                    <div class="display-table">
                        <div class="table-cell align-middle" style="height:45px">
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="margin:0 3px;height:22px">
                        </div>
                        <div class="table-cell align-middle" style="height:45px;text-align:right">
                            {% if forloop.counter == 1 %}
                                <span class="font-13 c-red">최저가 </span><span class="font-15 c-red strong">{{re.low_price | intcomma}}</span><span class="font-12 c-red strong">원</span>
                            {% else %}
                                <span class="font-15 c-black strong">{{re.low_price | intcomma}}</span><span class="font-12 c-black strong">원</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<div class="mall-list block-hide" id="rel_order">
    {% for re in re.result.rel_order %}
        <div id='group_{{ re.goods_id }}' class="border-top" style="padding: 0px 16px 0px 18px">
            <a href="javascript:search_click('{{ re.url }}','{{ re.genre2 }}','{{ re.low_price }}','group_site_rel', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '{{ forloop.counter }}', '{{ request.GET.group_id }}', '{{ re.img }}', '{{ re.name }}');"
               class="disblock">
                <div class='b-white position-relative'>
                    <div class="display-table">
                        <div class="table-cell align-middle" style="height:45px">
                            <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="margin:0 3px;height:22px">
                        </div>
                        <div class="table-cell align-middle" style="height:45px;text-align:right">
                            <span class="font-15 c-black strong">{{re.low_price | intcomma}}</span><span class="font-12 c-black strong">원</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
