{# 광고 - 상품 알람등록 #}

<div id="alarm_img" class="position-relative" style="overflow: hidden; width: 100%; height:auto;">
    <img src="{{ thum }}/720x0/center/smart/{{ alarm.img }}" style="width:100%;"/>
</div>
<div class="alarm-event align-center " style="box-sizing: border-box; padding:0 ; ">
    <div class="ad_block  z-index" style="background: #f0f0f0;width:100%; ">
            <div class="clear-9"></div>
            <div class="clear-3"></div>
            <div class="font-13 c-darkgray">응모하시면 자동으로 알람이 설정됩니다.</div>
            <div class="clear-9"></div>
            <div class="display-table" style="width:262px; margin: 0 auto;">
                <div class="table-cell" style="width:60%;">
                    <input type="tel" value="" id="phone" style="border:1px solid #ccc;width:100%;height:36px; line-height: 36px; padding:4px 8px;font-size:15px; font-weight:bold; border-radius: 3px;-webkit-appearance: none;" placeholder="경품받을 연락처 입력"/>
                </div>
                <div class="table-cell" style="width:3%;"></div>
                <div class="table-cell" style="width:25%;">
                    <button onclick="submitPhone();" id="submit-phone" class="font-15 strong bt-red" style="width:100%;height:36px; line-height: 36px; padding:0; border-radius: 4px;">응모하기</button>
                </div>
            </div>
            <div class="clear-9"></div>
            <div id="block_lottery" class="box-lottery" style="width:270px;text-align: center;margin:0 auto">
                <div class="display-table">
                    <div class="table-cell align-middle box-checkbox">
                        <input type="checkbox" id="event_policy" class="checkbox" name="" style="line-height: 12px; ">
                    </div>
                    <div class="table-cell align-middle align-left box-agree" style="line-height: 12px; ">
                        <label for="event_policy" class="agreement font-12 c-midgray align-left spacing ">개인정보의 수집 및 이용에 동의합니다.</label>
                        <a href="javascript:$('#policy_detail').slideToggle(300);" class="font-12 spacing  c-midgray">(원문보기)</a>
                    </div>
                </div>
                <div id="policy_detail" class="block-hide">
                    <div class="font-12 align-left spacing policy-detail-contents" style="line-height:16px">
                        ※ 본 이벤트에 참여하기 위해서는 개인정보 수집 활용 및 제공에 대한 동의를 하셔야 응모가 완료 됩니다.<br>
                        1) 개인정보를 제공받는자: (주)버즈니, {{ alarm.vendor }}<br>
                        2) 개인정보를 제공받는 자의 이용목적:  생방송 알림설정을 통한 이벤트 당첨확인 및 경품발송 진행<br>
                        3) 수집하는 개인정보 항목 : 핸드폰 번호<br>
                        4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간: 이벤트 당첨발표일로부터 3개월(고객문의 대응 목적) 후 완전삭제
                        <div class="clear-5"></div>
                        ※ 본 이벤트에 대하여 개인정보 제공을 거부할 권리가 있으며, 동의하지 않을 시 이벤트 참여가 불가능합니다.
                    </div>
                </div>
            </div>
            <div class="clear-9"></div>
            <div class="clear-5"></div>
    </div>
    <div class="c-darkgray font-14 align-center ad_block_over block-hide font-15  " style="padding:40px 0; line-height: 1.3em; background: #f9f9f9;">경품에 응모되었습니다.<br/>좋은 하루 되세요~</div>
</div>

<script type="text/javascript">
    var alarmEntityId = {{ re.result.id }};

    $(document).on('keyup ','#phone', function(e) {
        var t = $(this).val().replace(/-/gi, "");

        if( t.length >= 4 && t.length < 8){
            $(this).val( t.substr(0,3) + "-" + t.substr(3,100) );
        }else if (t.length >= 8){
            $(this).val( t.substr(0,3) + "-" + t.substr(3,4) + "-" + t.substr(7,100) );
        }
    });

    $(function() {
        ajax_json("entity/userInfo",{"entity_id":alarmEntityId}, function (re) {
            if (re.success == true && re.result.alarm_action_id > 0) {
                $(".ad_block").hide();
                $(".ad_block_over").fadeIn(200);
            } else {
                $(".ad_block").fadeTo(200, 1);
                $(".ad_block_over").hide();
            }
        });
        $(function(){

        });

        if(!is_ios_app()){
            $("#phone").on("click", function(){
                $("body").scrollTop($("#alarm_img").height());
            });
        }
    });
    function submitPhone(){
        var phone = $('#phone').val();
        var isPolicy = $('#event_policy').prop("checked");
        if(!isPolicy) {
            native_send_toast("개인정보의 수집 및 이용에 동의해주세요. \n동의하지 않을 시 이벤트 참여가 불가능합니다.");
            return;
        }
        if (phone){
            if (phone.length > 9){
                $("#submit-phone").attr("disabled", "disabled");
                ajax_get("/stat/ad/alarm", {"entity_id":alarmEntityId,"from":"item","flag":phone}, function(re){
                    ajax_json("user/update", {"fld":"phone","value":phone}, function(re){
                        if (re.success == true){
                            ajax_json("alarm_action/save", {"action":'entity', "action_id":alarmEntityId, "service":"tvshop", "status":0, "is_force": true}, function(re){
                                if (re.success == true) {
                                    $(".ad_block").hide();
                                    $(".ad_block_over").fadeIn(200);
                                    $('#alarm_action_'+alarmEntityId).attr('alarm_action_id',re.result.data);
                                    $('#alarm_action_'+alarmEntityId).prop('checked', true);
                                    native_send_toast("완료되었습니다. 감사합니다^^");
                                } else {
                                    native_send_toast("오류가 발생하였습니다. 다시 시도해주세요.");
                                }
                                $("#submit-phone").removeAttr("disabled")
                            });
                        }
                    });
                });
            } else {
                native_send_toast("정확한 연락처를 입력해주세요^^");
                $('#phone').focus();
            }
        } else {
            native_send_toast("경품 받으실 연락처를 입력해주세요^^");
            $('#phone').focus();
        }
    }
</script>
