{% load filters %}

<div class="position-top th-1 " style="z-index:9999;">
    <div class="display-table" style="background:rgba(250,250,250,0.95);">
        <div class="table-cell align-middle" style="height: 38px; padding-left: 12px; line-height: 1.2em;">
            <div class="clear-3"></div>
                {% if re.result.live_status == 0 %}
                    <span class=" live-status status0">방송종료 </span>
                    <span  class="font-14 c-midgray" id="diff_date">
                        {{ re.result.date|get_string|slice:'4' }}년 {{ re.result.date|get_string|slice:'4:6' }}월 {{ re.result.date|get_string|slice:'6:8' }}일
                        {{ re.result.end_time|get_string|slice:'2' }}시 {{ re.result.end_time|get_string|slice:'3:5' }}분
                    </span>
                {% elif re.result.live_status == 1 %}
                    <span class="live-status status1">현재방송중</span> <span class=" font-14 c-darkgray" id="countdown"></span>
                {% elif re.result.live_status == 2 %}
                    {% if re.result.status == 0 %}
                    <span class="live-status status0">방송취소</span> <span class=" font-14 c-darkgray">방송이 취소되었습니다</span>
                    {% else %}
                    <span class="live-status status2">방송예정</span> <span class=" font-14 c-darkgray" id="countdown"></span>
                    {% endif %}
                {% endif %}
        </div>
        {% if request.META.HTTP_V < "8.8.9" and re.result.live_status == 2 %}{# 2015버전용 #}
            <div class="table-cell " style="width:62px;">
                <div class="clear-2"></div>
                <div class="clear-2"></div>
                <input type="checkbox" name="toggle" id="alarm_action_{{ re.result.id }}" alarm_action_id="0" class="toggle"
                       onclick="set_alarm_action('{{ re.result.id }}','{{ re.result.name }}','{{ re.result.price }}','{{ re.result.genre2 }}','{{ re.result.img }}','{{ re.result.start_time }}','{{ re.result.end_time }}');" >
                <label class="alarm-toggle" for="alarm_action_{{ re.result.id }}"></label>
            </div>
        {% endif %}
        <a href="javascript:toggle_guide('alarm')">
            <div id="guide_alarm" class="position block-hide" style="right:2px; top:35px; z-index: 99;">
                <img src="{{ cdn_img }}/2016/alarm_msg3.png" style="height:50px;">
            </div>
        </a>
        <div class="table-cell-9"></div>
    </div>
    <img src="{{ cdn_img }}/shadow_top.png" style="width:100%; height:4px; margin:0; vertical-align: top;">
</div>
<div class="clear" style="height:38px;"></div>


<div id="block_itemimg" class="b-white position-relative" style="min-height: 240px;">
    {% if is_alarm_event_entity %}
        {% include "native/parts/item_alarm_event.html" %}
    {% elif re.result.id == 8142945 %}
        <div class="align-center position-relative">
            <img class="margin-auto" style="width: 100%; max-width: 425px;"
                 src="{{ thum }}/640x640/center/smart/http://cdn.image.buzzni.com/2017/03/30/e1WbMWy1Vk.jpg"
                 onerror="this.src='{{ cdn_img }}/noimg3.png'">
            <button onclick="$(this).fadeOut(200);" class="bt position right-0 top-0 font-14" style="background: none;">
                <img src="{{ thum }}/https://s1.postimg.org/riv3aj133/wonderbra.png" style="width:215px;">
            </button>
        </div>
    {% else %}
        <div class="align-center block-hide" id="swipe_img" >
            {% if re.result.img_list|length > 2 %}
                {% for img in re.result.img_list|slice:'3' %}
                    <div class=" align-center ">
                        <img class="margin-auto" style="width: 100%; max-width: 425px;"
                             src="{{ thum }}/640x640/center/smart/{{ img }}" onerror="this.src='{{ cdn_img }}/noimg3.png'">
                    </div>
                {% endfor %}
            {% else %}
                <div class="align-center">
                    <img class="margin-auto" style="width: 100%; max-width: 425px;"
                         src="{{ thum }}/640x640/center/smart/{{ re.result.img }}"
                         onerror="this.src='{{ cdn_img }}/noimg3.png'">
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="position bottom-0 left-0 z-99" style="background: #000; opacity: 0.07; height:1px; width: 100%; "></div>
</div>
