{% comment %}
<div class="banner"
     onclick="buy_click('{{ re.result.url }}', '{{ re.result.id }}', '{{ re.result.genre2 }}', '{{ re.result.price }}', '{{ re.result.cate1 }}', 'item_banner', '{{ re.result.live_status }}');">
    {% if re.result.genre2 == "lottemall" %}
        <img src="{{ thum }}/smart/https://i.imgur.com/qWKlVFX.png" alt="롯데홈쇼핑 할인혜택"/>
    {% endif %}
    {% if re.result.genre2 == "lotteonetv" %}
{#        <img src="{{ thum }}/smart/https://i.imgur.com/xuxd0hI.png" alt="7%할인"/>#}
        <img src="{{ thum }}/smart/https://i.imgur.com/B21t6OQ.png" alt="5%할인" />
    {% endif %}
    {% if re.result.genre2 == "hmallplus" %}
        <img src="{{ thum }}/smart/https://s26.postimg.org/mhu7r32uh/hmallplus_banner.png"/>
    {% endif %}
    {% if re.result.genre2 == "gsshop" %}
        <img src="{{ thum }}/smart/https://s26.postimg.org/cykixmfc9/gsshop_banner.png"/>
    {% endif %}
    {% if re.result.genre2 == "hnsmall" %}
        <img src="{{ thum }}/smart/https://s24.postimg.org/q2xcx84yd/image.png"/>
    {% endif %}
    {% if re.result.genre2 == "ssgshop" %}
        <img src="{{ thum }}/smart/https://s1.postimg.org/58i97ir67/image.jpg"/>
    {% endif %}
    {% if re.result.genre2 == "kshop" and date2 <= '20180114' %}
        <img src="{{ thum }}/smart/https://i.imgur.com/43wkYZT.jpg"/>
    {% endif %}
    {% if re.result.genre2 == "immall" %}
        <img src="{{ thum }}/smart/https://i.imgur.com/gtu159u.jpg"/>
    {% endif %}
    {% if re.result.genre2 == "kshop" %}
        <img src="{{ thum }}/smart/https://i.imgur.com/sWVH6h8.jpg"/>
    {% endif %}
</div>
{% endcomment %}