<div class="position-bottom th-1 " style="z-index:9999;">
    <img src="{{ cdn_img }}/shadow_bot.png" style="width:100%; height:4px; margin:0; vertical-align: bottom;">
    <div class="display-table">
        {% if re.result.url %}
            {% if re.result.live_status == 1 %}
                {% if re.result.genre2 in "cjmall cjmallplus gsshop gsmyshop wshop ssgshop immall hnsmall shopnt bshop kshop lottemall lotteonetv" or re.result.genre2 == "hmallplus" %}
                    <div class="table-cell" style="width:25%; min-width:90px; border-right:1px solid #6C1419;">
                        <button onclick="call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"
                                class="bt font-16 th-1 strong" style="height:44px; width:100%;padding:0;background: #9d2027; border-radius: 0;">
                            <img src="{{ cdn_img }}/bt_ars.png" style=" vertical-align: top; width:90px; ">
                        </button>
                    </div>
                    <div class="table-cell " style=" width:25%; min-width:90px; border-right:1px solid #6C1419;">
                        <button onclick="call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"
                                class="bt font-16 th-1 strong" style="height:44px; width:100%; padding:0;background: #9d2027; border-radius: 0; ">
                            <img src="{{ cdn_img }}/bt_call.png" style=" vertical-align: top; width:90px; ">
                        </button>
                    </div>
                {% elif re.result.genre2 == 'nsmall'%}
                    <div class="table-cell" style=" width:25%; min-width:90px; border-right:1px solid #6C1419;">
                        <button onclick="call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"
                                class="bt font-16 th-1 strong" style="height:44px; width:100%;  padding:0; background: #9d2027; border-radius: 0; ">
                            <img src="{{ cdn_img }}/bt_ars.png" style=" vertical-align: top; width:90px; ">
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            {% if re.result.live_status == 2 and re.result.is_soldout == 2 %}
                <div class="table-cell">
                    <button class="b-darkgray c-white th-1 font-16 spacing strong"
                            style="margin:0; border:0; width:100%; height:44px;padding-top: 1px; "
                            onclick="native_send_toast('생방송중에만 주문가능합니다.');">
                        생방송 중 전화로 주문가능
                    </button>
                </div>
            {% elif re.result.live_status == 0 and re.result.is_soldout == 2 %}
                <div class="table-cell b-basic th4-3 block_soldout">
                    <div class="c-midgray padding-7 align-center" style="border-top:1px solid #ccc; line-height: 1.2em;">
                        <div class="font-12 c-midgray margin-3">판매 종료된 상품입니다. 클릭해서 다른 상품을 검색해보세요. </div>
                        <div class="clear-5"></div>
                        <div id="relatedquery_list" class="block-hide" style=" overflow-y:hidden;  height:35px;" ></div>
                        <div id="block_simplename" style="opacity: 0;">
                            <button class=" bt font-14 strong c-black " onclick="view_search('{{ re.result.simple_name }}','item_soldout');"
                                    style="padding:10px 12px 9px 12px; line-height: 13px; width:100%;border: 1px solid #eb8c92;border-radius: 3px; background:#fff;">
                                <img src="{{ cdn_img }}/2016/nav_search.png" style="height: 16px;margin:-2px 0px 0 -16px; vertical-align: top; float:right">
                                {% if re.result.simple_name|length > 18 %}{{ re.result.simple_name|slice:'0:18' }}...{% else %}{{ re.result.simple_name }}{% endif %} <span class="font-14 c-darkgray spacing" style="font-weight: normal; ">검색하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% elif re.result.genre2 == "gsshop" and re.result.cate1 == "보험" %}
                <div class="table-cell">
                    <button class="b-darkgray c-white th-1 font-16 spacing strong"
                            style="margin:0; border:0; width:100%; height:44px;padding-top: 1px; "
                            onclick="native_send_toast('생방송중에만 주문가능합니다.');">
                        생방송 중 전화로 주문가능
                    </button>
                </div>
            {% else %}
            <div class="table-cell  ">
                <button onclick="buy_click('{{ re.result.url }}', '{{ re.result.id }}', '{{ re.result.genre2 }}', '{{ re.result.price }}', '{{ re.result.cate1 }}', 'item_info', '{{ re.result.live_status }}');"
                        class=" font-18 bt-red strong " style="background:#EA1B27; margin:0;width:100%; height:44px; border-radius:0; padding-top: 2px; line-height: 18px;">
                    {% if not re.result.price %}상담신청{% else %}구매하기{% endif %}
                </button>
            </div>
            {% endif %}
        {% else %}
            <div class="table-cell">
                <button class="b-darkgray c-white th-1 font-16 spacing strong"
                        style="margin:0; border:0; width:100%; height:44px;padding-top: 1px; "
                        onclick="native_send_toast('생방송중에만 주문가능합니다.');">
                    생방송 중 전화로 주문가능
                </button>
            </div>
        {% endif %}
    </div>
</div>
