{% load filters %}

<div class="position-top th-1 " style="z-index:9999;background: #3e3e40;">
    <div class="display-table" style="padding-top: 1px;">
        <div class="table-cell-9"></div>
        <div class="table-cell align-middle padding " style="line-height: 12px; padding:5px 0;">
            {% if re.result.genre2 == 'cjmall' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-000-5503</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-000-5504</span></a>
                </div>
            {% elif re.result.genre2 == 'gsshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-998-4545</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-997-4545</span></a>
                </div>
            {% elif re.result.genre2 == 'gsmyshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-502-4545</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-503-4545</span></a>
                </div>
            {% elif re.result.genre2 == 'nsmall' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-894-7700</span></a>
                </div>
            {% elif re.result.genre2 == 'wshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-302-2222</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-313-2222</span></a>
                </div>
            {% elif re.result.genre2 == 'ssgshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-986-8989</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-987-8989</span></a>
                </div>
            {% elif re.result.genre2 == 'immall' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-811-7777</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-817-7777</span></a>
                </div>
            {% elif re.result.genre2 == 'hmallplus' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-821-0000</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-851-0000</span></a>
                </div>
            {% elif re.result.genre2 == 'hnsmall' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-868-1111</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-809-1111</span></a>
                </div>
            {% elif re.result.genre2 == 'cjmallplus' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-000-5553</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-000-5554</span></a>
                </div>
            {% elif re.result.genre2 == 'shopnt' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-133-5000</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-133-5002</span></a>
                </div>
            {% elif re.result.genre2 == 'bshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-832-1313</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-822-1313</span></a>
                </div>
            {% elif re.result.genre2 == 'kshop' %}
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd; margin-right: 9px;" >
                    자동 <a href="javascript:call_click('{{ re.result.genre2 }}', 'ars', 'item_info_live')"><span class="c-white font-11  strong">080-258-8836</span></a>
                </div>
                <div class="font-11 pull-left" style=" line-height: 13px;  color: #ddd;" >
                    상담 <a href="javascript:call_click('{{ re.result.genre2 }}', 'call', 'item_info_live')"><span class="c-white font-11  strong">080-258-8837</span></a>
                </div>
            {% else %}
                <span class="font-11" style="line-height: 13px; color: #ddd;">{{ re.result.genre2|get_genre }}</span>
            {% endif %}
        </div>
        <div class="table-cell-line"></div>
        <div class="table-cell align-right align-middle c-white spacing " style="line-height: 13px; width: 94px; padding:5px 0;">
            <div class=" font-11 overflow" style="height:13px; line-height: 13px; "><span class="font-11 " id="countdown" style="color: #ffef00"></span></div>
        </div>
        <div class="table-cell-9"></div>
    </div>
</div>
<div class="clear" style="height:24px;"></div>
