{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
{% if result.data.0.price|get_int > 9 %}
    <div class="search-test" style="margin: 10px 0;">
        <div class="align-center" >
        </div>
        {% with re=result.data|first %}
            <div class="list-tvshop b-white position-relative " style="margin:0 8px 8px 8px; box-shadow: 0 1px 2px rgba(0,0,0,0.2);">
                {% if re.live_status != 1 %}    
                <div id="item_explanation" style="padding:15px 9px 15px 22px; text-align:left;background:#fff;color:black;border-bottom:1px solid#f2f2f2;">
                        <div style="font-size:13px">{{ re.date_title|get_string|slice:'4:6'|get_int }}월 {{ re.date_title|get_string|slice:'6:8'|get_int }}일에 방송 예정인 상품입니다.</div>
                        <div style="font-size:13px"><span style="font-weight:bolder;font-size:13px">알람</span>을 설정하시면 다음 방송 때 알려드립니다.</div>
                </div>
                {% endif %}                
                <a href="javascript:search_click('{{ re.url }}', '{{ re.genre2 }}', '{{ re.price }}', 'search_item_test', '{{ request.GET.query }}', '{{ request.GET.rawquery }}','{{ re.is_ad }}', '{{ re.goods_id }}', '0', '', '{{ re.img }}', '{{ re.name }}');">
                    <div class="display-table" style="margin-top:10px;table-layout: fixed;">
                    <div class="table-cell thum" style="width:132px; height:132px;">
                        {% if re.live_status == 1 %}<div class="bt-play" style="width: 132px;"></div>{% endif %}
                        <img src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/http://ui.buzzni.com/i/noimg.png';" />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative">
                        <div class="clear-5"></div>
                        <div class="clear-5"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                        <span class="font-11 spacing" style="color:#ddd;margin:0 3px;">|</span>
                        {% if re.live_status == 1 %}
                        <span class="c-lion" style="height:22px;line-height: 17px; ">현재방송중</span>
                        {% else %}
                        <span class="c-midgray "  style="height:22px;line-height: 17px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월{{ re.date|get_string|slice:'6:8'|get_int }}일 {% if re.start_time %}{{re.start_time}}{% endif %}
                        </span>
                        {% endif %}
                        <div class="title ">{{re.name}}</div>
                        <div class="price">
                            {% if re.price|get_int > 9 %}
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s class="sale c-gray">{{re.org_price|intcomma}}</s>
                                {% else %}
                                {% endif %}
                                <div class="num c-red ">{{re.price|intcomma}}</div>
                            {% else %}
                                <span class=" c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                                <div class="clear-5"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-cell-9"></div>
                </div>
                </a>
                {% if re.live_status == 2 %}
                <div class="position right-7 " style="bottom:9px;">
                    <input type="checkbox" name="toggle" id="alarm_action_{{ re.id }}" alarm_action_id="{{ re.alarm_action_id }}" class="toggle" {% if re.alarm_action_id > 0  %}checked{% endif %}
                           onclick="set_alarm_action_test('{{ re.id }}','{{ re.name }}','{{ re.price }}','{{ re.genre2 }}','{{ re.img }}','{{ re.start_time }}','{{ re.end_time }}');" >
                    <label class="alarm-toggle" for="alarm_action_{{ re.id }}"></label>
                    <div class="clear-2"></div>
                </div>
                {% endif %}
            </div>
        {% endwith %}
    </div>
{% endif %}
{% endif %}