{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
{% if result.data.0.price|get_int > 9 and result.data.0.is_mileage == 2 %}
    <div class="search-allinweek" style="margin: 10px -3px;background: #eb5557;">
        {% with re=result.data|first %}
            <div class="list-tvshop b-white position-relative " style="margin:0 10px 8px 10px; box-shadow: 0 0 3px rgba(0,0,0,0.3); border-radius: 2px; overflow: hidden;">
                <a href="javascript:buy_click('{{ re.url }}', '{{ re.id }}', '{{ re.genre2 }}', '{{ re.price }}', '{{ re.cate1 }}', 'search_allinweek', '{{ re.live_status }}');">
                    <div class="display-table" style="table-layout: fixed;">
                    <div class="table-cell thum" style="width:132px; height:132px;">
                        {% if re.live_status == 1 %}<div class="bt-play" style="width: 132px;"></div>{% endif %}
                        <img src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/http://ui.buzzni.com/i/noimg.png';" />
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative">
                        <div class="clear-5"></div>
                        <div class="clear-5"></div>
                        <img src="{{ logo }}/logo_{{ re.genre2 }}.png" style="vertical-align: top;height:18px;margin-top:-2px;"/>
                        <span class="font-11 spacing" style="color:#ddd;margin:0 3px;">|</span>
                        {% if re.live_status == 1 %}
                        <span class="c-lion" style="height:22px;line-height: 17px; ">현재방송중</span>
                        {% else %}
                        <span class="c-midgray "  style="height:22px;line-height: 17px;">
                            {{ re.date|get_string|slice:'4:6'|get_int }}월{{ re.date|get_string|slice:'6:8'|get_int }}일 {% if re.start_time %}{{re.start_time}}{% endif %}
                        </span>
                        {% endif %}
                        <div class="title ">{{re.name}}</div>
                        <div class="price">
                            {% if re.price|get_int > 9 %}
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s class="sale c-gray">{{re.org_price|intcomma}}</s>
                                {% else %}
                                {% endif %}
                                <div class="num">{{re.price|intcomma}}</div>
                            {% else %}
                                <span class=" c-gray font-14" style="line-height: 1.3em;">상담/렌탈</span>
                                <div class="clear-5"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-cell-9"></div>
                </div>
                </a>
            </div>
            <div class="c-white align-center " style="margin:7px 9px;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);"> ※ 일부 특가상품 제외 (구매 시 할인여부 확인 필수)</div>
        {% endwith %}
        <div class="clear-1"></div>
    </div>
    <script>
        $(".sale-calculator").each(function () {
            var $el = $(this);
            var _price = $el.data("price");
            var _site = $el.data("site");

            if(_site == 'lottemall' || _site == 'lotteonetv'){
                _price = $el.data("org_price");
            }

            var _sale = sale_calculater('coupon', _site, _price );
            if($el.data("card")){
                _sale += sale_calculater('card', _site, _price-_sale);
            }

            $el.find(".price").text((_price-_sale).intcomma());
            $el.find(".sale").text('('+_sale.intcomma()+'원 할인)');
            $el.removeClass("sale-calculator");
        });
    </script>
{% endif %}
{% endif %}