{% load humanize %}
{% load filters %}
<div  id="search_meta_filter" style="margin:8px; border: 1px solid #ddd;border-radius: 2px; overflow: hidden;" >
<div>
    <div class="display-table-fixed b-white">
        <div id="order" class="filter-tab ">
            <img src="http://thum.buzzni.com/unsafe/90x90/https://d30y9cdsu7xlg0.cloudfront.net/png/557131-200.png" style="width:18px; margin:1px;">
            <div>정렬</div>
        </div>
        <div id="channel" class="filter-tab ">
            <img src="http://thum.buzzni.com/unsafe/90x90/https://d30y9cdsu7xlg0.cloudfront.net/png/467746-200.png" style="width:26px; margin:-3px;">
            <div>쇼핑사</div>
        </div>
        <div id="category" class="filter-tab " style="letter-spacing: -1px;">
            <img src="http://thum.buzzni.com/unsafe/90x90/https://d30y9cdsu7xlg0.cloudfront.net/png/90572-200.png" style="width:22px; margin:-1px;">
            <div>카테고리</div>
        </div>
        <div id="price" class="filter-tab ">
            <img src="http://thum.buzzni.com/unsafe/90x90/https://d30y9cdsu7xlg0.cloudfront.net/png/433030-200.png" style="width:20px; margin:0px;">
            <div>가격대</div>
        </div>
        <div id="toggle_ui" class="table-cell align-center align-middle" style="width:44px;">
            <a href="javascript:toggle_ui();" style=" padding:10px 0; display: block;">
                <div class="ui-list {% if result.grid_style %}block-hide{% endif %}" >
                    <img src="{{ cdn_img }}/2016/search_ui_list.png" style="width:18px; opacity: 0.7; margin:1px;">
                </div>
                <div class="ui-grid {% if not result.grid_style %}block-hide{% endif %}">
                    <img src="{{ cdn_img }}/2016/search_ui_grid.png" style="width:18px; opacity: 0.7; margin:1px;">
                </div>
            </a>
        </div>
    </div>
    <div id="filter_order" class="filter-block block-hide b-white">
        <div class="skinbox" style="line-height: 0; ">
        <div class="order-table">
            {% for re in result.filter.filter_order %}
                <div class="order {% if re.order == 'rel' %}on{% endif %}" id="{{ re.order }}">{{ re.name }}</div>
            {% endfor %}
        </div>
        </div>
    </div>
    <div id="filter_category" class="filter-block block-hide b-white">
        <div class="skinbox" style="line-height: 0; ">
            <div class="cateselect on" ncate1="all">전체</div>
            {% for re in result.filter.filter_category %}
                <div class="cateselect" ncate1="{{ re.ncate1 }}" ncate2="{{ re.ncate2 }}" ncate3="{{ re.ncate3 }}" ncate4="{{ re.ncate4 }}">{{ re.name }}</div>
            {% endfor %}
        </div>
    </div>
    <div id="filter_channel" class="filter-block block-hide b-white">
        <div class="skinbox display-table th-1">
            <div class="table-cell th2-1 border-right">
                <div class="channel-item on" data-channel="">전체</div>
            {% for re in result.filter.filter_genre2 %}
                <div class="channel-item" data-channel="{{ re.genre2 }}">{{ re.name }}<span class="font-11 trans"> ({{ re.count|intcomma }})</span></div>
            {% endfor %}
            </div>
            <div class="table-cell th2-1">
                {% for re in result.filter.filter_genre2 %}
                <div class="site-block {{ re.genre2 }} block-hide">
                        <div class="site-item" data-channel="{{ re.genre2 }}">{{ re.name }} 전체</div>
                    {% for res in re.sub_genre2 %}
                        <div class="site-item" data-channel="{{ res.genre2 }}">{{ res.name }}<span class="font-11 trans"> ({{ res.count|intcomma }})</span></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="filter_price" class="filter-block block-hide b-white">
        <div class="skinbox" style="padding:14px 12px 14px 12px;">
            <div class="pricerange-table">
                <div class="pricerange on" price_min="0" price_max="0">전체가격대</div>
                {% for re in result.filter.filter_pricerange %}
                <div class="pricerange" price_min="{{ re.start }}" price_max="{{ re.end }}">
                    {% if re.start > 0 %}{{ re.start|intcomma }}{% endif %} ~ {% if re.end > 0 %}{{ re.end|intcomma }}{% endif %}
                </div>
                {% endfor %}
            <div class="clear"></div>
            </div>
        </div>
        <div class="pricerange-input">
            <div class="clear-2"></div>
            <div class="c-darkgray font-13">원하는 가격대 직접 입력하기</div>
            <div class="clear-3"></div>
            <div class="display-table">
                <div class="table-cell"><input type="tel" id="price_min" placeholder="최소 가격"></div>
                <div class="table-cell align-center align-middle c-gray font-15" style="width: 28px; line-height: 24px;">~</div>
                <div class="table-cell"><input type="tel" id="price_max" placeholder="최대 가격"></div>
                <div class="table-cell align-center" style="width: 15px;"></div>
                <div class="table-cell align-right" style="width: 72px;">
                    <button style="border: 1px solid #f06969;background: #fff; color: #ea1b27;" onclick="pricerange_change();">적용</button>
                </div>
            </div>
        </div>
        <div class="clear-9"></div>
        <div class="clear-2"></div>
    </div>
</div>
<div id="filter_now" style="background: #f9f9f9;"></div>
</div>