<!DOCTYPE html>
<html lang="ko">
<!-- head start -->
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
        {% block meta %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ cdn_img }}/favicon.ico">
        <link rel="shortcut icon" href="{{ cdn_img }}/favicon.png" type="image/png">
		<title>{% block title %}{{request.GET.title}}{% endblock %}</title>
        <link rel="stylesheet" href="{{ media }}/hsmoa/hsmoa.css?v=20181126">
        {% block css %}{% endblock %}
		<script type="text/javascript">
            //기본 세션정보 세팅
            var ApiVersion = 9;
            var User = new function(){
                this.id = "{{ request.META.HTTP_XID }}" || "{{ request.session.user.id }}" || "{{ request.GET.xid }}"; //사용자를 구별하는 unique id
                this.token = "{{ request.META.HTTP_TOKEN }}" || "{{ request.session.user.token }}" || "{{ request.GET.token }}"; // 사용자 인증을 위한 token
                this.sfrom = "{{ request.GET.from }}"; //해당 페이지가 어디로부터 왔는지 from값
                this.from = "{{ request.META.PATH_INFO }}".replace(/\//gi, "_").replace('_hsmoa_', '').replace('_event', 'event'); // 현재 url path
                this.abtest = getAbtest(this.id);  //유저를 abtest시 사용하는 그룹명
                this.version = "{{ request.META.HTTP_V }}" || "10.1.8";  //앱 버전
                this.versionCount = getVersionCount(this.version);
                this.agent = "{{ agent }}";  // 기기 종류 android, iphone, web
                this.os = getOS(this.agent);  // ios_web, android_web
                this.adid = "{{ request.META.HTTP_ADID }}";

                function getAbtest(_user_id){
                    if(_user_id == "") return "a";
                    var _ascii = 0;
                    var _list = ["a", "b", "c"];
                    for(var i=0;i<_user_id.length;i++){
                        _ascii += _user_id.charCodeAt(i);
                    }
                    return _list[(_ascii % _list.length)];
                }
                function getVersionCount(_app_version){
                    var _arr = _app_version.split(".");
                    return parseInt(_arr[0])*10000 + parseInt(_arr[1])*100  + parseInt(_arr[2]) ;
                }
                function getOS(_agent){
                    if(_agent == "android"){
                        return "android_web";
                    }else if(_agent == "iphone" || _agent == "ipad"){
                        return "ios_web";
                    }else{
                        return "";
                    }
                }
            };
            {% if ":15001" in request.META.HTTP_HOST and not request.session.user.id %}
                if(User.id == ""){
                    // 디버그 시 자동으로 유저세팅
                    User.id = "J90Sugkgnl";
                    User.token = "fb7e47dc-d634-11e6-a304-0627744c04b0";
                    User.abtest = "c";
                }
            {% endif %}
        </script>
        <script type="text/javascript" src="{{ media }}/hsmoa/jquery-3.2.1.min.js?v=7"></script>
        <script type="text/javascript" src="{{ media }}/hsmoa/egjs/flicking.pkgd.min.js"></script>
        <script type="text/javascript" src="{{ media }}/hsmoa/bundle.js?v=20180917"></script>
        <script>
            // 해당 script 영역은 홈쇼핑모아 기본 라이브러리에 대한 특정 요소를 override할 때에만 사용 (201804290155)
            {% if datetime >= "201807040200" and datetime < "201807040500" %}
                if(typeof buyDisableDict === 'object'){
                    buyDisableDict['hnsmall'] = "홈앤쇼핑 시스템 점검으로 접속이 불가합니다. 오전 5시 이후 다시 시도해주세요.";
                }
            {% elif datetime >= "201811010000" and datetime < "201811010200" %}
                if(typeof buyDisableDict === 'object'){
                    buyDisableDict['immall'] = "공영홈쇼핑 시스템 점검으로 접속이 불가합니다. 오전 2시 이후 다시 시도해주세요.";
                }
            {% endif %}

            //쿠폰, 할인 계산기
            var skimData = {
                coupon: {
                    /*--- 01.07. ~ 01.14. ---*/
                    ssgshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [0, 0]}],
                    /*************************/

                    /*--- 12.17. ~ 12.24. ---*/
                    lottemall: [{sale_ratio: 0.1, sale_limit: 50000, price_range: [10000, 0]}],
                    lotteonetv: [{sale_ratio: 0.1, sale_limit: 100000, price_range: [30000, 0]}],
                    /*************************/

                    /*--- 12.10. ~ 12.17. ---*/
                    kshop: [{sale_ratio: 0.10, sale_limit: 20000, price_range: [0, 0]}],
                    /*************************/

                    /*--- 11.26. ~ 12.03. ---*/
                    bshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [16000, 0]}],
                    wshop: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [30000, 0]}],
                    /*************************/

                    /*--- 04.09. ~ 04.16. ---*/
                    cjmall: [{sale_ratio: 0.1, sale_limit: 20000, price_range: [0, 0]}],
                    /*************************/

                    hmall: [{sale_ratio: 0.1, sale_limit: 0, price_range: [10000, 0]}],
                    shopnt: [{sale_ratio: 0.15, sale_limit: 20000, price_range: [0, 0]}]
                },
                card: {
                    /*--- 01.07. ~ 01.14. ---*/
                    ssgshop: [
                        {sale_ratio: 0.1, sale_limit: 400000, price_range: [50000, 0], card_name: '국민'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: '국민'},
                        {sale_ratio: 0.1, sale_limit: 400000, price_range: [50000, 0], card_name: 'KB국민'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'KB국민'},
                    ],
                    /*************************/

                    /*--- 12.17. ~ 12.24. ---*/
                    lottemall: [
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'KB국민'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'KB국민'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: '현대'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: '현대'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH농협'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: '농협'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: '농협'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH'},
                    ],
                    lotteonetv: [
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'KB국민'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'KB국민'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: '현대'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: '현대'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH농협'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: '농협'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: '농협'},
                        {sale_ratio: 0.05, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH'},
                        {sale_ratio: 0.07, sale_limit: 280000, price_range: [150000, 0], card_name: 'NH'},
                    ],
                    /*************************/

                    /*--- 12.10. ~ 12.17. ---*/
                    kshop: [
                        {sale_ratio: 0.07, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.07, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH농협'},
                        {sale_ratio: 0.07, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH카드'},
                        {sale_ratio: 0.07, sale_limit: 200000, price_range: [50000, 0], card_name: '농협'},
                        {sale_ratio: 0.07, sale_limit: 200000, price_range: [50000, 0], card_name: 'NH'},
                    ],
                    /*************************/

                    /*--- 11.26. ~ 12.03. ---*/
                    bshop: [
                        {sale_ratio: 0.05, sale_limit: 0, price_range: [50000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.05, sale_limit: 0, price_range: [50000, 0], card_name: '농협'},
                        {sale_ratio: 0.05, sale_limit: 0, price_range: [50000, 0], card_name: 'NH'},
                    ],
                    wshop: [
                        {sale_ratio: 0.05, sale_limit: 10000, price_range: [50000, 0], card_name: 'NH농협카드'},
                        {sale_ratio: 0.05, sale_limit: 10000, price_range: [50000, 0], card_name: '농협'},
                        {sale_ratio: 0.05, sale_limit: 10000, price_range: [50000, 0], card_name: 'NH'},
                    ],
                    /*************************/

                    /*--- 04.09. ~ 04.16. ---*/
                    cjmall: [{sale_ratio: 0.05, sale_limit: 200000, price_range: [0, 0]}],
                    /*************************/

                    hmall: [],
                    shopnt: []
                }
            };
            var sale_calculater = function (_type, _site, _price) {
                var _sale = 0;
                var _skim = skimData[_type][_site];

                for (var i in _skim) {
                    if (_price >= _skim[i].price_range[0]) {
                        if (_price <= _skim[i].price_range[1] || 0 == _skim[i].price_range[1]) {
                            var _a = Math.floor(_skim[i].sale_ratio * _price);
                            if (_skim[i].sale_limit > 0) {
                                _sale += Math.min(_a, _skim[i].sale_limit);
                            } else {
                                _sale += _a;
                            }
                            _price -= _sale;
                        }
                    }
                }

                //console.log(_price, _sale, _type, _site);
                return _sale;
            };
            var sale_ratio = function (_type, _site, _price) {
                var _ratio = "";
                var _skim = skimData[_type][_site];
                for (var i in _skim) {
                    if (_price >= _skim[i].price_range[0]) {
                        if (_price <= _skim[i].price_range[1] || 0 == _skim[i].price_range[1]) {
                            if (_ratio == "") {
                                _ratio = parseInt(_skim[i].sale_ratio * 100) + "%";
                            } else {
                                _ratio += "+" + parseInt(_skim[i].sale_ratio * 100) + "%";
                            }
                        }
                    }
                }
                return _ratio;
            };
        </script>
    </head>
<!-- head end -->
	<body class="{{ agent }}">
<!-- container start -->
        <div id="container">
            {% block container %}
            {# 메인 컨텐츠 영역 #}
            {% endblock %}
        </div>
        <div id="float_bt" style="display: none;">
        {% block float_bt %}
        {# 우측하단에 고정으로 떠있는 버튼들 #}
            {% include "hsmoa/part/move_up.html" %}
        {% endblock %}
        </div>
        <div id="tooltip" class="block-hide">모든 방송상품 보기</div>
        <style>
            #tooltip {position: absolute; color:#fff; box-sizing: border-box; line-height: 1.3em; font-size: 13px; background: #364569;opacity: 0.87; border-radius: 3px; padding:9px 24px 8px 10px; text-align:left; height:34px; z-index:999999; box-shadow: 0 1px 5px rgba(0,0,0,0.5); width:auto;}
            #tooltip:before {content:'';width:12px; height:12px; position:absolute; right:5px; bottom: 18px; background: url('{{ media }}/hsmoa/button/close_white.png') 50% 50% no-repeat; background-size:14px 14px;}
            #tooltip:after {content:''; position:absolute; left:12px; bottom: 32px;  border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #364569;}
            #tooltip.left:after {content:''; position:absolute; left:-16px; bottom: 10px; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #364569;}
            #tooltip.top-right {text-align: right;}
            #tooltip.top-right:after {content:''; position:absolute; right:12px; left:auto; bottom: 32px;  border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #364569;}
            #tooltip.noClose:before { width:0px; height: 0px; background: none;}
            #tooltip.noClose {padding: 9px 10px 8px 10px}
        </style>
        <div id="debug" class="block-hide" style="position: fixed; margin-left:10%; width:80%;box-sizing: border-box; height:auto; line-height: 1.3em; font-size: 12px; color:#fff; background: #000; bottom:10px; border-radius: 5px; padding:10px; z-index:999999;"></div>
<!-- container end -->
<!-- javascript start -->
        {% block js %}{% endblock %}
<!-- javascript end -->
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46031772-1', 'auto');
          ga('send', 'pageview');
          ga('set', '&uid', User.id);
        </script>
	</body>
</html>
