{% extends "hsmoa/__base.html" %}
{% block title %}상품상세정보{% endblock %}
{% block css %}
    <style>
        #itemDetailHtml img {height:auto !important; }
        #itemDetailHtml table { width: 100% !important;}
        #itemDetailHtml iframe { max-width: 100% !important; max-height: 56.25vw !important;}
        .guide-pinch-zoom {border-bottom:1px solid #eee; text-align: center; position: relative; z-index: 99; background: #fff; margin-top: -1px;}
        .guide-pinch-zoom > img{max-width: 260px;margin:8px auto; }
    </style>
{% endblock %}
{% block container %}
    <div id="container">
        <div class='guide-pinch-zoom'><img src='{{ media }}/hsmoa/icon/pinchzoom.png'/></div>
        <div id="pinchZoom" style="overflow: hidden;">
            <div id="itemDetailHtml">

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ media }}/hsmoa/iscroll-zoom.js?v=2"></script>
    <script>
        (function() {
            var ENTITY_GET_INFO = 'entity/getInfo';

            var agent = "{{ agent }}";
            var site = '{{ request.GET.site }}';
            var entityId = decodeURIComponent('{{ request.GET.data }}'); 

            var $itemDetailHtml = $('#itemDetailHtml');
            var $temporaryHtml = $('<div id="temporaryHtml" class="block-hide"></div>');
            $itemDetailHtml.append($temporaryHtml);
            
            sendApi(ENTITY_GET_INFO, {
                xid: User.id,
                entity_id: entityId
            }, function(response) {
                $temporaryHtml.append(response.result.detail_html);

                var $imgs = $itemDetailHtml.find("img");
                $itemDetailHtml.append($imgs);
            });
            
            var pz = new IScroll("#pinchZoom", {
                zoom: true,
                scrollX: true,
                scrollY: true,
                eventPassthrough: false,
                preventDefault: false,
                lockDirection: false,
                bounce: false,
                zoomMax: 2.5
            });
        })();
    </script>
{% endblock %}
