{% extends "hsmoa/__base.html" %}
{% load humanize %}
{% load filters %}
{% block title %}홈쇼핑 뷰티{% endblock %}
{% block css %}
<style>
    body {padding-top: 60px;}
    nav{position:fixed;box-sizing: border-box; width:100%; padding:0; z-index: 99999; top:0; display:table; height: 50px; box-shadow: 0 0 2px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
    .nav-item { position: relative; display: table-cell; vertical-align:middle; text-align: center; width:14%; height: 50px; overflow:hidden; font-size: 12px; line-height:1.3em; opacity: 0.4;  }
    .nav-item:first-child{font-size: 15px;}
    .nav-item.on {opacity: 1; color: #000; background: #fff; }
    .nav-item img { width: 26px; height: 26px;margin:0 auto; margin-bottom: 1px; display: block;}
</style>
{% endblock %}
{% block container %}
<nav>
    <div class="nav-item on" data-name="" data-cate="">베스트</div>
    <div class="nav-item" data-name="스킨케어" data-cate="스킨케어,선케어,남성화장품">
        <img src="{{ thum }}/104x104/smart/{{ img }}/icon/beauty_cream.png" class="cate_off">스킨케어</div>
    <div class="nav-item" data-name="메이크업" data-cate="베이스메이크업,색조메이크업,네일케어" >
        <img src="{{ thum }}/104x104/smart/{{ img }}/icon/beauty_cover.png" class="cate_off">메이크업</div>
    <div class="nav-item" data-name="헤어/바디"  data-cate="헤어케어,바디케어,헤어스타일링" >
        <img src="{{ thum }}/104x104/smart/{{ img }}/icon/beauty_dry.png" class="cate_off">헤어/바디</div>
    <div class="nav-item" data-name="마스크/팩"  data-cate="마스크/팩" >
        <img src="{{ thum }}/104x104/smart/{{ img }}/icon/beauty_mask.png" class="cate_off">마스크/팩</div>
    <div class="nav-item" data-name="클렌징" data-cate="클렌징" >
        <img src="{{ thum }}/104x104/smart/{{ img }}/icon/beauty_clean.png" class="cate_off">클렌징</div>
</nav>
<div id="brand"></div>
<div id="scroller" style="font-size:0;"></div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var cateList = ['스킨케어','메이크업','헤어/바디','마스크/팩','클렌징'];
    var cate = "{{ request.GET.cate|urldecode }}";
    cate = cateList.indexOf(cate) >= 0 ? cate : "";
    
    var $navItem = $(".nav-item");
    if(cate) {
        $navItem.removeClass("on");
        $navItem.filter('[data-name="' + cate + '"]').addClass('on');
        $("#brand").hide();
    }

    var cardDump;
    var cardCount = 0;
    //인기브랜드 +인기키워드
    sendApi("rpc/tab_search_keyword/getAllList", {skin:"hsmoa/skin/_home_brand_beauty", tab_id:8, live:2, num:100000, flag:"home_beauty"}, function(re){
        if(re.length>100){
            $("#brand").html(re);
            cardDump = $("#brand .card").clone();
        }
        init();
    });

    //init();

    // 상품 리스트 무한스크롤
    function init(){
        var $scroller = $("#scroller");
        cate = $navItem.filter('[data-name="' + cate + '"]').data('cate');
        var params = {skin:"hsmoa/skin/_home_product_list", version:ApiVersion, cate1:"화장품·미용", cate2:cate, num:20, flag:"home_beauty"};
        $scroller.Scroller({
            defaults:{
                //scrollEventHeight: 600,
                //ajaxType:'POST'
                //maxPage:0,
                //autoStart: true,
                //minDataLength : 300,
                //ajaxType : 'GET',
                //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
            },
            data:params,
            url:"rpc/tvshop/live/getFutureList",
            scrolling:function(re){
                $scroller.append(re);
                if(params.cate2 === "") {
                    setCard();
                }
            },
            scrollEnd:function(){

            },
            scrollReset:function(){
                $scroller.empty();
            }
        });
        $.Fastclick($(".nav-item"), function(){
            params.cate2 = $(this).data('cate');
            $(".nav-item.on").removeClass("on");
            $(this).addClass("on");

            if(params.cate2 ==""){
                $("#brand .card").remove();
                $("#brand").append(cardDump).show();
                cardCount = 0;
            }else{
                $("#brand").hide();
            }
            $scroller.Scroller.listReset();
        });
    }
    function setCard(){
        if( $("#brand .card").length > 0){
            var _height1 = $("#scroller .grid-box").eq(0).height();
            var _height2 = $("#scroller .grid-box").eq(0).children(".list-grid").height();
            console.log(_height1, _height2);
            $("#brand .card").each(function(){
                var $this = $(this);
                if( $("#scroller .grid-box").length > (cardCount+1)*4-2 ){
                    $("#scroller .grid-box").eq((cardCount+1)*4-2).after( $this );
                    $this.children(".list-grid").css({height:_height2 });
                    $this.css({height:_height1 }).show();

                    cardCount++;
                }
            });
        }
    }
});
</script>
{% endblock %}