{% extends "hsmoa/__base.html" %}
{% block title %}홈쇼핑 언더웨어{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block container %}
<div id="brand"></div>
<div class="scroll-title align-center c-gray-5 padding-12 block-hide">
    <div style="font-size:18px; font-weight: bold; border-bottom: 1px solid #666; width:auto; display: inline-block; margin: 10px auto 0;">오늘의 추천 언더웨어</div>
</div>
<div id="scroller" style="font-size: 0;"></div>
{% endblock %}
{% block js %}
<script>
$(function(){
    //인기브랜드 + 인기키워드
    sendApi("rpc/tab_search_keyword/getAllList", {skin:"hsmoa/skin/_home_brand_underwear", tab_id:10, live:2, num:100000, flag:"home_underwear"}, function(re){
        if(re.length>100){
            $("#brand").html(re);
            $(".brand").each(function(i){
                var _this = $(this);
                setTimeout(function(){
                    _this.fadeIn(250);
                }, i*250);
            });
        }
        init();
    });
    //init();
    // 상품 리스트 무한스크롤
    function init(){
        var $scroller = $("#scroller");
        var params = {skin:"hsmoa/skin/_home_product_list", version:ApiVersion, cate1:"패션·잡화", cate2:"여성언더웨어/잠옷,남성언더웨어/잠옷,아동언더웨어/잠옷", num:20, flag:"home_underwear"};
        $scroller.Scroller({
            defaults:{
                //scrollEventHeight: 600,
                //ajaxType:'POST'
                //maxPage:0,
                //autoStart: true,
                //minDataLength : 300,
                //ajaxType : 'GET',
                //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
            },
            data:params,
            url:"rpc/tvshop/live/getFutureList",
            scrolling:function(re){
                $scroller.append(re);
                $(".scroll-title").show();
                setCard();
            },
            scrollEnd:function(){

            },
            scrollReset:function(){
                $scroller.empty();
            }
        });
    }

    var timer;
    var cardCount = 0;
    function setCard(){
        //초기 상품 세팅
        if( $("#scroller #liveItem").length == 1){
            $("#liveItem").appendTo($(".brand ").eq(0));

            var timer_end = "";
            if($("#liveItem").data('live') == '1'){
                $("#countdown_text").text("방송종료");
                timer_end = $("#liveItem").data("time_end")
            }else{
                $("#countdown_text").text("방송시작");
                timer_end = $("#liveItem").data("time_start")
            }
            if(!timer) {
                timer = new countTimer("{{ datetime }}00", timer_end, {
                    timeEvent: function () {
                        $("#countdown").text(this.remain_time_str);
                    }
                });
                timer.start();
            }
        }
        if( $("#scroller .list-table").length > 0){
            $("#scroller .list-table").appendTo($(".brand .skinbox"));
        }

        //스크롤 중간 카드 등록
        if( $("#brand .card").length > 0){
            var _height1 = $("#scroller .grid-box").eq(0).height();
            var _height2 = $("#scroller .grid-box").eq(0).children(".list-grid").height();
            console.log(_height1, _height2);
            $("#brand .card").each(function(){
                var $this = $(this);
                if( $("#scroller .grid-box").length > (cardCount+1)*4-2 ){
                    $("#scroller .grid-box").eq((cardCount+1)*4-2).after( $this );
                    $this.children(".list-grid").css({height:_height2 });
                    $this.css({height:_height1 }).show();

                    cardCount++;
                }
            });
        }
    }
});
</script>
{% endblock %}