{% extends "hsmoa/__base.html" %}
{% block title %}모아리뷰{% endblock %}
{% block css %}
<style>


</style>
{% endblock %}
{% block container %}
    <div class="kakaotalk" style="background: #ffed32; color:#3f2223; position: fixed; bottom:9px; z-index:99999; font-size: 15px; line-height: 1.2em; cursor:pointer;
    left:50%; margin-left: -100px; width: 200px; border:1px solid #c3b71a; border-radius:20px; padding: 10px 0; text-align: center; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2);">
        <div style="display: inline-block; overflow: hidden; width: 20px; height: 18px; margin-bottom: -3px;">
            <img src="{{ media }}/hsmoa/button/kakaotalk.png" style="width: 32px;margin: -6px -7px; max-width: 300%;">
        </div>
        카카오톡 공유하기
    </div>
<div id="scroller"></div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var $scroller = $("#scroller");
    var params = {
        skin: "hsmoa/skin/_home_review_list",
        cate: "trends",
        subcate: "홈쇼핑모아연구소",
        order: 'create_date',
        num: 10};
    $scroller.Scroller({
        defaults:{
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 300,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data:params,
        url:"rpc/board/getList",
        scrolling:function(re){
            $scroller.append(re);
            var wt = $("body, html").scrollTop();
            var wh = $(window).height();

            $(".list-review").each(function(i) {
                var $this = $(this);
                if ($this.css('opacity') == 0 ) {
                    setTimeout(function () {
                        $this.css({'opacity': 1, 'margin-top': 0});
                    }, (i % 20) * 200)
                }
            });
        },
        scrollEnd:function(){

        },
        scrollReset:function(){
            $scroller.empty();
        }
    });

    /*
    $(window).scroll(function(){
       var wt = $(window).scrollTop();
       var wh = $(window).height();
       setImageAnimation(wt,wh);
    });
*/



    $.Fastclick($(".kakaotalk"), function(){
        sendStat("share/review/list", {cate:"kakaotalk"}, function(){
            $.Share.kakaotalk({
                templateId: 8290,
                templateArgs:{
                    iosScheme:"shoppingmoa://next_url=http://o.buzzni.com/hsmoa/home/review?from=share_kakao",
                    androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://o.buzzni.com/hsmoa/home/review?from=share_kakao",
                    iosMarket:"",
                    androidMarket:"referrer=share_kakao_review_list",
                    listImg1: $(".list-review img.main-img").eq(0).attr("src").replace("http://thum.buzzni.com/unsafe/640x0/center/smart/", ""),
                    listName1: $.trim($(".list-review name").eq(0).text()),
                    listImg2: $(".list-review img.main-img").eq(1).attr("src").replace("http://thum.buzzni.com/unsafe/640x0/center/smart/", ""),
                    listName2: $.trim($(".list-review name").eq(1).text()),
                    listImg3: $(".list-review img.main-img").eq(2).attr("src").replace("http://thum.buzzni.com/unsafe/640x0/center/smart/", ""),
                    listName3: $.trim($(".list-review name").eq(2).text()),
                },
                installTalk:true
            });
        });
    });
});
</script>
{% endblock %}