{% extends "hsmoa/__base.html" %}
{% block title %}오늘의딜{% endblock %}
{% block css %}
<style>
    body {padding-top: 58px;}
    nav{position:fixed;box-sizing: border-box; width:100%;  z-index: 999; top:0; display: table; table-layout: fixed;box-shadow: 0 0.5px 1px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
    .nav-item {  position: relative; display: table-cell; vertical-align:middle; text-align: center; width:14%;  height: 48px; max-height: 48px; overflow:hidden; font-size: 13px; opacity: 0.4;  }
    .nav-item:first-child{font-size: 17px; line-height: 48px;}
    .nav-item.on {opacity: 1; color: #19bdc4; background: #fff; }
    .nav-item img { width: 26px; height: 26px;margin:0 auto; margin-bottom: 1px;}
    .nav-item .img-off {display: block; }
    .nav-item .img-on {display: none; }
    .nav-item.on .img-off {display: none;}
    .nav-item.on .img-on {display: block;}
</style>
{% endblock %}
{% block container %}

<nav>
    <div class="nav-item on" data-cate="">전체</div>
    <div class="nav-item" data-cate="패션"><img src="{{ cdn_img }}/2016/cate01.png" class="img-off"><img src="{{ cdn_img }}/2016/cate01_on.png" class="img-on">패션</div>
    <div class="nav-item" data-cate="뷰티"><img src="{{ cdn_img }}/2016/cate09.png" class="img-off"><img src="{{ cdn_img }}/2016/cate09_on.png" class="img-on">뷰티</div>
    <div class="nav-item" data-cate="생활"><img src="{{ cdn_img }}/2016/cate04.png" class="img-off"><img src="{{ cdn_img }}/2016/cate04_on.png" class="img-on">생활</div>
    <div class="nav-item" data-cate="가전"><img src="{{ cdn_img }}/2016/cate07.png" class="img-off"><img src="{{ cdn_img }}/2016/cate07_on.png" class="img-on">가전</div>
    <div class="nav-item" data-cate="식품"><img src="{{ cdn_img }}/2016/cate08.png" class="img-off"><img src="{{ cdn_img }}/2016/cate08_on.png" class="img-on">식품</div>
    <div class="nav-item" data-cate="유아"><img src="{{ cdn_img }}/2016/cate06.png" class="img-off"><img src="{{ cdn_img }}/2016/cate06_on.png" class="img-on">유아</div>
</nav>
<div id="scroller"></div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var $scroller = $("#scroller");
    var params = {skin:"hsmoa/skin/_hotdeal_list", cate1:"", num:20};
    $scroller.Scroller({
        defaults:{
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 300,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data:params,
        url:"rpc/entity_deal/getList",
        scrolling:function(re){
            $scroller.append(re);
        },
        scrollEnd:function(){

        },
        scrollReset:function(){
            $scroller.empty();
        }
    });
    $(".nav-item").click(function(){
        params.cate1 = $(this).data('cate');
        $(".nav-item.on").removeClass("on");
        $(this).addClass("on");
        $scroller.Scroller.listReset();
    });
});
</script>
{% endblock %}