{% extends "hsmoa/__base.html" %}
{% block title %}상품정보{% endblock %}
{% block css %}
<style>
    html, body { background: #ffffff; }
</style>
{% endblock %}
{% block container %}
    {% if request.GET.entity_id == "-1" %}
        <div class="b-white  padding-9 align-center" style="min-height:300px;">
            <div class="clear-9" style="height:50px;"></div>
            <img src="{{ cdn_img }}/noimg.png" style="height:140px;"/>
            <br/><span class="c-gray-3">현재 방송중인 상품의 정보가 없습니다.</span>
            <br/>
        </div>
        <div class="clear-9"></div>
    {% else %}
        <div class="b-white  padding-9 align-center" style="min-height:300px;">
            <div class="clear-9" style="height:50px;"></div>
            <img src="{{ cdn_img }}/noimg.png" style="height:140px;"/>
            <br/><span class="c-gray-3">상품상세정보를 가져올 수 없습니다.</span>
            <br/>
            <br/>
        </div>
        <div class="clear-9"></div>
    {% endif %}
{% endblock %}