{% extends "hsmoa/item.html" %}
{% load filters %}
{% load humanize %}
{% block price %}
    {% if item.org_price|intcomma > item.price|intcomma %}
    <s class="c-gray-3" style=" font-size: 15px;"><span style="font-size: 1em;">정상가</span> {{ item.org_price|intcomma }}<span style="font-size: 1em;">원</span></s>
    <div class="clear-5"></div>
    {% endif %}
    <price class="c-gray-4" style="font-size: 15px;"><span style="font-size: 1em;">판매가</span> {{ item.price|intcomma }}<span style="font-size: 1em;">원</span></price>
    <div class="clear-3"></div>
    <price class="c-red-3" style="font-weight: bold; font-size: 20px;">
        <span style="font-size: 0.7em;">모아위크가</span>
        <span id="sale_price"></span><span style="font-size: 0.7em;">원</span>
    </price>
{% endblock %}
{% block ribbon %}
    {% if request.GET.f != '1' %}
        <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 9999; width:80px;"
             src="{{ item.ribbon_img }}"
             onerror="this.style.display='none'"/>
    {% endif %}
{% endblock %}
{% block banner %}
    <!-- 모아위크 상품은 기타 혜택 제거 -->
{% endblock %}

{% block sale_calculator %}
    <style>
        #sale_calculator td {
            line-height: 1em;
            padding: 8px 0;
        }

        #sale_calculator td:last-child {
            text-align: right;
        }
    </style>
    <div id="sale_calculator" class="block-hide b-coolgray-2 c-gray-4"
         style="font-size:15px; line-height: 20px; padding:10px;">
        <div class="b-white" style="border-radius: 5px; box-shadow: 0 1px 3px #ccc; padding: 6px 12px;">
            <table style="width: 100%">
                <tr>
                    <td>상품가격 (일시불 할인가)</td>
                    <td id="price1" class="c-black">{{ item.price|intcomma }}원</td>
                </tr>
                <tr>
                    <td id="name1"></td>
                    <td id="sale1" class="c-black"></td>
                </tr>
                <tr>
                    <td id="name2"></td>
                    <td id="sale2" class="c-black"></td>
                </tr>
            </table>
        </div>
        <div style="border-top:2px dotted #ddd; margin:0 5px;background: #fff;"></div>
        <div class="b-white" style="border-radius: 5px; box-shadow: 0 1px 3px #ccc; padding: 6px 12px;">
            <table style="width: 100%">
                <tr style=" font-size: 18px;">
                    <td class="c-mint-3 ">최종혜택가</td>
                    <td id="price3" class="c-mint-3 strong"></td>
                </tr>
            </table>
            <div class="link-buy b-mint-2 c-white strong"
                 url-path="buyclick"
                 data-from="allinweek_item_banner"
                 data-entity_id="{{ item.id }}"
                 data-url="{{ item.url }}"
                 data-site="{{ item.genre2 }}"
                 data-cate="{{ item.cate1 }}"
                 data-price="{{ item.price }}"
                 data-live="{{ item.live_status }}"
                 style="text-align: center; border-radius: 3px;padding: 10px 0; font-size: 16.5px; margin:3px 0 5px 0; ">
                쿠폰받고 구매하기
            </div>
            <div class="c-gray-3" style="font-size: 11px;">※편성에 따라 할인 쿠폰 적용이 변동될 수 있습니다.</div>
        </div>
    </div>
    <div class="line-top"></div>
    <script>
        $(function () {
            var _price = Item.price;

            if (0) {
                _price = {{ item.org_price }};
                $("#price1").text(_price.intcomma() + "원");
            }

            var sale1 = sale_calculater('coupon', Item.site, _price);

            if (skimData.coupon[Item.site][0].sale_limit > 0) {
                $("#name1").text("모아위크 " + sale_ratio('coupon', Item.site, _price - sale1) + " (최대 " + skimData.coupon[Item.site][0].sale_limit.intcomma() + "원)");
            } else {
                $("#name1").text("모아위크 " + sale_ratio('coupon', Item.site, _price - sale1) + " ");
            }
            $("#sale1").text("- " + sale1.intcomma() + "원");
            $("#sale_price").text( (_price - sale1).intcomma() );

            /**
             * 상품별로 카드 청구할인 정보가 다른 경우 필터링
             */
            var _skim = skimData.card[Item.site];
            for(var i in _skim) {
                if(_skim[i].hasOwnProperty('card_name')) {
                    if([{% for card in item.card_list %}'{% if '국민' in card.card_name or 'KB' in card.card_name %}KB국민{% else %}{{ card.card_name }}{% endif %}{{ card.discount_ratio }}',{% endfor %}]
                            .indexOf(_skim[i].card_name + parseInt(_skim[i].sale_ratio * 100)) < 0) {
                        _skim[i] = {};
                        continue;
                    }
                }
                if(_price < _skim[i].price_range[0] || (_skim[i].price_range[1] != 0 && _price > _skim[i].price_range[1])) {
                    _skim[i] = {};
                }
            }
            skimData.card[Item.site] = $.grep(_skim, function(value) {
                return !$.isEmptyObject(value);
            });

            if(skimData.card[Item.site].length > 0) {
                var best_card = {sale_ratio: 0};
                for(var i in skimData.card[Item.site]) {
                    if(best_card.sale_ratio < skimData.card[Item.site][i].sale_ratio) {
                        best_card = skimData.card[Item.site][i];
                    }
                }
                skimData.card[Item.site] = [best_card];
            }

            console.log(skimData.card[Item.site]);

            var sale2 = 0;
            if ($(".card-sale").length > 0) {
                sale2 = sale_calculater('card', Item.site, _price - sale1);
                if (sale2 > 0) {
                    $("#name2").text("청구할인 " + sale_ratio('card', Item.site, _price - sale1) + " ");
                    $("#sale2").text("- " + sale2.intcomma() + "원");
                } else {
                    $("#name2").hide();
                    $("#sale2").hide();
                }
            } else {
                $("#name2").hide();
                $("#sale2").hide();
            }

            $("#price3").text((_price - sale1 - sale2).intcomma() + "원");
            $("#sale_calculator").show();
        });

    </script>
{% endblock %}
{% block descrption %}
    <div style="margin: 0 auto 1px; width: 90%; max-width: 608px;">
        <img src="{{ cdn_img }}/moaweek/item_coupon_{{ moaweek_data.moaweek_info_dict|get_dict_value:item.genre2|get_dict_value:'discount' }}.png?v={{ moaweek_data.start_datetime }}"/>
        <div class="link-buy"
             url-path="buyclick"
             data-from="allinweek_item_coupon"
             data-entity_id="{{ item.id }}"
             data-url="{{ item.url }}"
             data-site="{{ item.genre2 }}"
             data-cate="{{ item.cate1 }}"
             data-price="{{ item.price }}"
             data-live="{{ item.live_status }}">
            <div class="align-center font-15 strong c-white b-red-1" style="border-radius:3px; width: 90%;padding:12px 0; margin:-10px auto 15px; position:relative; ">즉시할인 받기</div>
        </div>
    </div>
{% endblock %}