{% extends "hsmoa/__base.html" %}
{% load humanize %}
{% load filters %}
{% block title %}상품정보{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.carousel.min.css?v=1">
<link rel="stylesheet" href="{{ media }}/js/OwlCarousel2/dist/assets/owl.theme.default.min.css?v=1">
<style>
    nav{display:table; width:100%; line-height: 17px; background: #f9f9f9; }
    .nav-tab {display: table-cell;width:25%; text-align: center; font-size: 15px; padding: 12px 0; background: #f7f7f7; cursor: pointer; box-shadow: inset 0 -1px 3px #ddd; }
    .nav-tab.on {background: #fff; color: #ea1b27; font-weight: bold; box-shadow: 0 0 0 #fff; }

    .block {margin-bottom: 14px; background: #fff; }

    .item-bottom {z-index:99999;position: fixed; bottom:0; left:0; right:0; padding:0; width:100%; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); height: 44px;}
    .item-bottom .display-table-fixed > div {display: table-cell; vertical-align: top;height: 44px;}
    .link-call {height:100%; width:100%; border:0; font-size:18px; border-right:1px solid #AC0000; background: #D91414;border-radius: 0;}
    .bt-buy {height:100%; width:100%; border:0; font-size:18px; font-weight:bold; color:#fff;  border-radius: 0; }
    .bt-buy.disable { font-size:15px;  }
    .bt-detail { border-radius: 3px; border: 1px solid #eb3e3e; padding:8px 0; line-height: 1; width: 80px; font-size: 13px; margin-top: 4px;}

    .bt-like {background: url('{{ media }}/hsmoa/button/like_off.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0; float:right; margin: -3px -3px 0 0;}
    .bt-like.on {background: url('{{ media }}/hsmoa/button/like_on.png') 50% 50%; background-size:50px 50px; }

    .thum {padding-top: 100%; position: relative;}
    .thum > img {position: absolute; top:0; left:0; right:0; bottom:0;}

    .banner img {margin: 3.5%; width:93%; border-radius: 2px; display: block;  box-shadow: 0 0.5px 2px #bbb; overflow: hidden; }
    .card-sale {display:inline-block; font-size:12px; line-height: 13px; height: 12px; color: #000;  opacity: 0.5;  margin: 11px 12px 0 -2px; background: url('{{ media }}/hsmoa/icon/credit_card.png') 0 50% no-repeat;  background-size: 20px 20px;  padding-left: 23px;}

    #alarmKeyword {opacity:0; font-size: 15px;width: 100%;position: relative;display: table; table-layout: fixed; padding: 10px 0;}

    #alarmKeyword .alarm-text {padding: 0 0 0 14px;display: table-cell; vertical-align:middle; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; box-sizing: border-box;}
    #alarmKeyword .alarm-img {width: 86px;display: table-cell; padding: 0 14px;}

    #itemDetailHtml img {height:auto !important; }
    #itemDetailHtml table { width: 100% !important;}
    #itemDetailHtml iframe { max-width: 100% !important; max-height: 56.25vw !important;}

    {% if item.genre2 == 'nsmall' or item.genre2 == 'nsmallplus'%}
        #itemDetailHtml {padding:0 15px;}
    {% endif %}

    #swipe.flick {position:absolute;width:100%;height:100%;top:0;overflow:hidden;}
    #swipe.flick .flick-dots {bottom:8px;position:absolute;left:50%;width:240px;margin-left:-120px;z-index:5000;}
    #swipe.flick .flick-dots .flick-dot span {background:#000;opacity:0.5;width:8px;height:8px;border-radius:8px;margin:2px 4px;}
    #swipe.flick .flick-dots .flick-dot.active span {background:#fff;opacity:1;box-shadow:0 0 2px rgba(0, 0, 0, 0.4);}

    @media screen and (min-width:640px){
        .thum {padding-top: 640px; }
        .thum > img {position: absolute; top:0; left:50%; margin-left: -320px;}
        #swipe { max-width: 640px; left: 50%; margin-left: -320px;}
    }
</style>
{% endblock %}
{% block float_bt %}
    <button class="kakaotalk fix-image-quality" data-from="new" style="background: url('{{ thum }}/96x0/smart/http://m.ui.hsmoa.com/media/hsmoa/button/kakaotalk.png') 50% 50%; background-size:50px 50px; width:50px; height:50px; -webkit-appearance: none; border:0;
        bottom:94px;right:2px; position:fixed;z-index:99999;"></button>
    {# 위로가기버튼 위치를 조정할 때 bottom을 바꿔준다. #}
    {% include "hsmoa/part/move_up.html" with bottom='45px' %}
{% endblock %}
{% block container %}
<div class="block item-info">
    {% if item.status == 0 %}
    <!-- 방송편성취소 안내 표시  -->
    <div class="c-white align-center" style="position: fixed; top:0; left:0; right:0; height:32px; line-height: 32px; background: rgba(0,0,0,0.5); z-index: 99999; font-size: 13px; ">
        방송 편성이 취소된 상품입니다.
    </div><div style="height: 32px"></div>
    {% endif %}

    <!-- 검색어알람 정보  -->
    {% if request.GET.aid and request.GET.aid != '0' %}
        <div id="alarmKeyword" class="link-service b-white"
                url-path="my/alarm" data-from="item_info" data-query="" >
            <div class="alarm-text">
                "<span id="alarmKeywordInfo" style="font-weight: bold;" ></span>" 검색어알람 상품입니다.
            </div>
            <div class="alarm-img">
                <img src="{{ media }}/hsmoa/button/item_keyword_alarm.png">
            </div>
        </div>
        <div class="line-bottom"></div>
    {% endif %}

    {% if request.GET.f == '1' %}
        <!--생방송일 땐 썸네일 표시를 생략 -->
{#        ad_event #}
    {% elif ad_event %}
        {% if "alarm" in ad_event.template.uname %}
            {% include "hsmoa/part/item_thum_ad_alarm.html" %}
        {% elif "quiz" in ad_event.template.uname %}
            {% include "hsmoa/part/item_thum_ad_quiz.html" %}
        {% endif %}
    {% else %}
    <!-- 대표이미지 -->
    <div class="thum b-coolgray-1 position-relative">
        {% block ribbon %}
        {% endblock %}
        {% if item.img_list|length > 1 %}
        <!-- 대표이미지 여러장 스와이프 -->
        <div id="swipe" class="flick">
            {% for each in item.img_list %}
                {% if forloop.counter < 4 %}
                    <div class="thum-wrapper"><img src="{{ thum }}/640x640/center/smart/{{ each }}" onerror="this.src='{{ thum640 }}/{{ img }}/noimg3.png'"></div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <img src="{{ thum }}/640x640/center/smart/{{ item.img }}" onerror="this.src='{{ thum640 }}/{{ img }}/noimg3.png'">
        {% endif %}
        <div class="line-bottom"></div>
    </div>
    {% endif %}

    <!-- 기본정보 -->
    <div class="detail" style="padding:14px; ">
        <div style="margin-top: -5px;">
            <img src="{{ media }}/hsmoa/logo/logo_{{ item.genre2 }}.png" style="width:65px;vertical-align: middle; ">
            <span class="item-time" style="color: #999; font-size:12px; ">{{ item.date|time_format:'ymd' }} {{ item.start_time }}~{{ item.end_time }}</span>
        </div>
        <name style="font-size:18px; line-height:1.3;margin:5px 0 15px; ">{{ item.name }}</name>
        <div>
            <div style=" margin-top: auto;float:left;">
            {% block price %}
                {% if item.org_price > item.price %}
                    <s style="font-size:12px; color: #bbb; display: block; line-height: 1.3em;">{{ item.org_price|intcomma }}원</s>
                {% else %}
                    <s style="font-size:12px; color: #fff; display: block; line-height: 1.3em;">.</s>
                {% endif %}
                {% if item.price < 9 %}
                    <price class="c-gray-2" style="font-weight: bold; font-size: 18px;">상담/렌탈</price>
                {% else %}
                        <price class="c-red-3" style="font-weight:bold;font-size:20px;">{{ item.price|intcomma }}<span style="font-size: 0.7em;">원</span></price>
            {% endif %}
            {% endblock %}
            </div>
            <div style="text-align:right;float:right;">
                 <button class="link-buy bt-detail c-red-2 "
                         url-path="buyclick"
                         data-from="item_detail"
                         data-entity_id="{{ item.id }}"
                         data-query="{{ request.GET.query|urldecode }}"
                         data-url="{{ item.url }}"
                         data-site="{{ item.genre2 }}"
                         data-cate="{{ item.cate1 }}"
                         data-price="{{ item.price }}"
                         data-live="{{ item|get_live_status }}">
                    상세보기
                </button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="card-sale-list">
{#          HSMOA-4113 : 쇼핑엔티 카드청구할인 데이터 문제로 인해 임시 제거 #}
            {% if 'shopnt' != item.genre2 %}
                {% for card in item.card_list %}
                    <span class="card-sale">
                        {{ card.card_name }} {{ card.discount_ratio }}%
                    </span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="line-bottom"></div>
    {% block sale_calculator %}
    {% endblock %}
    <!-- 공유 -->
    <div class="share" style="padding:14px 14px 12px; vertical-align: top;">
        <button class="bt-share kakaotalk" data-from="old"></button>
        <button class="bt-share kakaostory"></button>
        <button class="bt-share facebook"></button>
        <button class="bt-share sms"></button>
        <button class="bt-like"></button>
        <img src="{{ media }}/hsmoa/button/like_on.png" style="display: none;" /> <!-- 좋아요 이미지를 미리 불러온다 -->
    </div>
    <div class="line-bottom"></div>

    <!-- 배너 -->
    <div class="banner-list">

        <!-- 인기프로그램 배너 -->
        {% if item.program_name and item.program_name|program_dict:'display' %}
            <div class="banner-img link-service"
                 url-path="program"
                 data-program_query="{{ item.program_name|program_dict:'id' }}"
                 data-from="item"
                 style="margin:3.5%;">
                <div style="background: {{ item.program_name|program_dict:'color' }}; text-align: center;box-shadow: 0 0 3px #ccc; border-radius: 2px;">
                    <img src="{{ cdn_img }}/program/show_{{ item.program_name|program_dict:'id' }}.png?v=6" style="width: 60%;">
                </div>
            </div>
        {% endif %}

        <!-- 기타제휴 배너 -->
        {% block banner %}
            {% if item.cate1 != "보험" and item.price > 9 %}
                {% include "hsmoa/part/item_banner.html" %}
            {% endif %}
        {% endblock %}

        <div class="line-bottom"></div>
    </div>
</div>

<div id="itemSametime" class="block block-hide">
    <div class="line-bottom"></div>
</div>

<nav id="itemMenu" class="block-hide">
    <div data-tab="Description" class="disblock nav-tab on" id="tab_description">상세정보</div>
    <div data-tab="Review" class="disblock nav-tab" id="tab_review">상품평</div>
</nav>

<div id="itemReview" class="block block-hide board_list review_wrap" style="min-height: 200px;">
    <div class="padding-12 c-gray-3 align-center border-bottom" style="font-size:13px;">*{{ item.genre2|get_genre }}의 상품평 정보를 보여드리고 있습니다.</div>
</div>

<div id="itemDescription" class="block {{ item.genre2 }} " style="min-height:400px; overflow: hidden;position: relative;max-height: 1500px;">
    <!-- 상품상세 html -->
    {% if item.detail_html|length > 0 %}
        {% if item.genre2 in "cjmall gsshop cjmallplus gsmyshop hnsmall lottemall lotteonetv hmall hmallplus" %}
        <link rel="stylesheet" href="{{ media }}/css/info_{{ item.genre2 }}.css?v=28">
        {% endif %}
        <!-- <div class='guide-pinch-zoom block-hide'><img src='{{ media }}/hsmoa/icon/pinchzoom.png'/></div> -->
        <div id="bt_detail_zoom"
             style="font-size:15px; border:1px solid #ccc; margin: 14px;text-align: center; padding:12px; border-radius: 2px; ">
            <img src="{{ media }}/hsmoa/icon/zoom_in.png" style="width: 15px;vertical-align: top; margin:0 5px 0 0;">상품이미지 확대보기
        </div>
        <div id="pinchZoom" style="overflow: hidden;">
            <div>
                <!-- 상품상세 상단 영역 -->
                {% block descrption %}
                {% endblock %}
                <div id="itemDetailHtml" class="{{ item.genre2 }}" style="">
                    <div id="itemDetailLoading" class=" align-center"  >
                        <div class="c-gray-3 spacing" style="padding: 30px; font-size: 13px;">아래로 스크롤하시면 상품정보를 보실 수 있습니다</div>
                        <button id="btDetailLoad" class="b-coolgray-1" style="margin: 0 auto; padding:10px 34px;border:1px solid #ddd; border-radius: 30px;">
                            상세정보 보기 <img src="{{ cdn_img }}/player_select.png" style="height: 7px !important; vertical-align: top; margin-top: 4px; margin-left: 4px;">
                        </button>
                    </div>
                    <div id="itemDetailHtmlOriginal" class="block-hide">
                        {% autoescape on %}
                            {% if item.genre2 == 'nsmall' or item.genre2 == 'nsmallplus' %}
                                {{ item.detail_html|replace:"TEXT-ALIGN: center->margin:0 -15px;text-align:center;" }}
                            {% else %}
                                {{ item.detail_html }}
                            {% endif %}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        <div id="bt_detail_more" style="background: url('{{ media }}/hsmoa/gradient/whiteBottom.png') repeat-x 0 -2px; background-size: 1px 206px; height:200px; width:100%; position: absolute; bottom:0; left:0; z-index: 999; cursor: pointer;">
            <div style="height:136px"></div>
            <div class="align-center c-gray-4 b-white" style="font-size:15px; margin:14px; box-shadow:0 1px 3px rgba(0,0,0,0.1); border:1px solid #ccc; border-radius: 2px;padding: 12px;">
                상세정보 더보기
                <img src="{{ cdn_img }}/player_select.png" style="height: 6px !important; vertical-align: top; margin:5px 0 0 3px;">
            </div>
            <div class="line-bottom"></div>
        </div>
    {% endif %}

    <div id="detailNoResult" class="block-hide align-center b-coolgray-1" style="padding: 195px 0; margin: 14px;border-radius: 3px;">
        <div class="c-gray-2 font-13">상품상세정보가 없습니다.</div>
    </div>
</div>

<div id="itemRecoEntity" class="block" style=" min-height: 200px;">

</div>



<div id="itemMoaweek" class="block block-hide" >

</div>


<div id="itemRecoQuery" class="block block-hide" >

</div>


<div style="height:44px;"></div>
{% if request.GET.f == '1' %}{% else %}
<!-- 하단 구매버튼 -->
<div class="item-bottom">
    <div class="display-table-fixed" style="height: 44px;">
    {% if item.is_soldout == 2 and item|get_live_status != 1 %}
        <div><button onclick="alert('생방송중에만 주문 가능합니다.')" class="bt-buy disable b-gray-4" >생방송 중 구매가능</button></div>
    {% elif item.is_soldout == 1 %}
        <div><button onclick="alert('품절된 상품입니다.')" class="bt-buy disable b-gray-4" >품절</button></div>
    {% else %}
        {% if item|get_live_status == 1 %}
            {% if item.genre2 in "cjmall cjmallplus gsshop gsmyshop wshop ssgshop immall hnsmall shopnt bshop kshop lotteonetv lottemall" or re.result.genre2 == "hmallplus" %}
                <div style="width: 100px;"><button class="link-call"
                        url-path="callclick"
                        data-query="{{ request.GET.query|urldecode }}"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_ars"
                        data-flag="ars"
                        data-from="item">
                    <img src="{{ media }}/hsmoa/button/live_buy_ars.png" style=" vertical-align: top; width:100px; ">
                </button></div>
                <div style="width: 100px;"><button class="link-call"
                        url-path="callclick"
                        data-query="{{ request.GET.query|urldecode }}"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_call"
                        data-flag="call"
                        data-from="item">
                    <img src="{{ media }}/hsmoa/button/live_buy_call.png" style=" vertical-align: top; width:100px; ">
                </button></div>
            {% elif item.genre2 == 'nsmall'%}
                <div style="width: 140px;"><button class="link-call"
                        url-path="callclick"
                        data-query="{{ request.GET.query|urldecode }}"
                        data-site="{{ item.genre2 }}"
                        data-cate="{{ item.cate1 }}"
                        data-price="{{ item.price }}"
                        data-type="portrait_ars"
                        data-flag="ars"
                        data-from="item"
                        style="height:44px;width:90px; border-right:1px solid #900000; background: #9d2027; border-radius: 0;">
                    <img src="{{ cdn_img }}/bt_ars.png" style=" vertical-align: top; width:90px;">
                </button></div>
            {% endif %}
        {% endif %}
        <div><button class="link-buy bt-buy b-red-2"
                     url-path="buyclick"
                     data-from="item"
                     data-entity_id="{{ item.id }}"
                     data-query="{{ request.GET.query|urldecode }}"
                     data-url="{{ item.url }}"
                     data-site="{{ item.genre2 }}"
                     data-cate="{{ item.cate1 }}"
                     data-price="{{ item.price }}"
                     data-live="{{ item|get_live_status }}">
            <span>{% if item.price < 9 %}상담신청{% else %}구매하기{% endif %}</span>
        </button></div>
    {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
{% block js %}
<!--<script type="text/javascript" src="{{ media }}/hsmoa/iscroll-zoom.js?v=2"></script>-->
<script src="{{ media }}/js/OwlCarousel2/dist/owl.carousel.min.js?v=1"></script>
<script>
    //상품 기본정보
    var Item = {
        entity_id : "{{ item.id }}",
        url : "{{ item.url }}",
        cate : "{{ item.cate1 }}",
        site : "{{ item.genre2 }}",
        price : "{{ item.price }}",
        program : "{{ item.program_name }}",
        img : "{{ item.img }}",
        name : "{{ item.name }}",
        date : "{{ item.date }}",
        startTime : "{{ item.start_time }}",
        live : "{{ item|get_live_status }}",
        status : "{{ item.status }}",
        like_id : 0,
        alarm_action_id : 0,
        alarm_id : "{{ request.GET.aid }}",
        crawl_id : "{{ item.crawl_id }}",
        f: "{{ request.GET.f }}" || "0",
        from : "{{ request.GET.from }}",
        flag : "{{ request.GET.flag }}",
        menu : "{{ request.GET.menu }}",
        is_ad : "{{ request.GET.is_ad }}",
        rank : "{{ request.GET.rank }}"
    };
    var $like = $(".bt-like");
    var shareTitle = "[{% autoescape off %}{{ item.genre2|get_genre }}] {{ item.name }}{% endautoescape %}";
    var shareDesc = "{{ item.date|time_format:'ymd' }} {{ item.start_time }} 방송\n{{ item.price|intcomma }}원";
    var shareWebUrl = "http://hsmoa.com/i?id="+Item.entity_id;
    console.log("VIEW ITEMPAGE :", Item);

    $(function(){
        (function init(){
            // 섬네일 카로셀
            if( $("#swipe").length == 1 ){
                $.Flicking('#swipe', {
                    circular: true,
                    duration: 150,
                    threshold: 8,
                    thresholdAngle: 50,
                    deceleration: 0.0015,
                    dots: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                });
            }

            // 상품상세정보 있을 때, 텍스트로 임시저장해두고 스크롤시 html화 하여 불러온다
            if($("#itemDetailHtml").length == 1){
                if(Item.f == 1) itemDetailLoad();
                else{
                    $.Fastclick($("#btDetailLoad"), itemDetailLoad);
                    $(window).bind("touchmove scroll", itemDetailLoad);
                }

                $.Fastclick($("#bt_detail_zoom"), itemDetailZoom);
            }else{
                $("#detailNoResult").show();
            }

            // 상품조회 저장
            sendApi("visit/save", {action:"entity", action_id:Item.entity_id, service:"tvshop", delay:false});
            // 상품조회 통계
            sendStat("viewitem", Item);

            //방송알람, 좋아요 기능
            sendApi("entity/userInfo", {"entity_id":Item.entity_id}, function (re) {
                if (re.success == true) {
                    Item.like_id = re.result.like_id;
                    Item.alarm_action_id = re.result.alarm_action_id;

                    if(Item.like_id > 0) $like.addClass("on");


                    if($("#alarm_event").length > 0){
                        //알람이벤트인 경우, 알람이벤트 작동
                        alarmEvent();
                    }
                }
                $.Fastclick($like, function(){
                    if( Item.like_id > 0){
                        sendApi("like/remove", {like_id:Item.like_id}, function(re){
                            Item.like_id = 0;
                            $like.removeClass("on");
                            sendStat("like/remove", $.extend({action: "entity"}, Item));
                        });
                    }else{
                        sendApi("like/save", {action: "entity", action_id:Item.entity_id, service:"tvshop", "score": 1}, function(re){
                            Item.like_id = re.result.data;
                            $like.addClass("on");
                            sendStat("like/save", $.extend({action: "entity"}, Item));
                            native_send_toast("상품을 찜하였습니다.");
                        });
                    }
                });
            });

            // url에 aid값이 있으면, 검색어알람 정보 가져오기
            if (Item.alarm_id > 0) {
                $("#alarmKeyword").show(0).fadeTo(0,0);
                sendApi("alarm/getInfo", {"alarm_id": Item.alarm_id}, function (re) {
                    if(typeof re.result.name === 'string'){
                        $("#alarmKeywordInfo").prepend(re.result.name);
                        $("#alarmKeyword").data("query", re.result.name).fadeTo(200,1);

                        $("#tooltip").addClass('top-right');
                        $("#tooltip").text("알람 설정, 삭제를 할 수 있어요").css({
                            "top":$(".alarm-img").offset().top+36, "right":14
                        }).delay(250).fadeIn(150);
                        setTimeout(function(){
                            $("#tooltip").fadeOut(250);
                        }, 4000);
                    }else{
                        $("#alarmKeyword").hide();
                    }
                });
            }

            // 아래로 스크롤 시 연관상품 + 연관키워드 로드
            $(window).bind("scroll", itemRecoEntity);

            //같은시간대 판매상품 불러오기
            setTimeout(function(){itemSametime();}, 100);

            //배너 공백 조절
            $(".banner").each(function(){
                if($(this).children("img").length==0){
                    $(this).remove();
                }
            });

            //편성취소된 상품
            if(Item.live == '2' && Item.status == '0'){
                //alert("방송 편성이 취소된 상품입니다.")
            }
        })();


        //상품 상세정보
        function itemDetailLoad(){
            if(tab == "Review") return;

            $(window).unbind("touchmove scroll", itemDetailLoad);
            $("#itemDetailLoading").remove();

            var _rawHtml = $("#itemDetailHtmlOriginal").text();

            //_rawHtml = _rawHtml.replace(/width=/gi, "widthold=").replace(/src="/gi, 'src="{{ thum }}/smart/').replace(/src='/gi, "src=\'{{ thum }}/smart/").replace(/smart\/\/\//gi, "smart/http://");
            $("#itemDetailHtml").html(_rawHtml);

            if(navigator.userAgent.indexOf("iPad") > -1){
                //홈앤쇼핑에서 아이패드 유튜브 재생시 먹통됨 HSMOA-3531
                $(".hnsmall .viewBox").remove();
                $("iframe").remove();
            }

            if ($("#itemDetailHtml").text().replace(/ /g,'').length < 10 && $("#itemDetailHtml").find("img").length == 0){
                //상품상세 html에서 텍스트가 10자 이하이고  img엘레먼트가 하나도 없으면 상품정보가 없는것으로 판단
                $("#itemDetailHtml").hide();
                $("#detailNoResult").show();
                return;
            }

            //홈앤쇼핑 iframe 주소 에러 오류 수정
            var $iframe = $("iframe");
            $iframe.map(function(){
                var $this = $(this);
                $this.attr('src', decodeURIComponent($this.attr('src')));
            });

            sendStat("item/detail_load", $.extend({type:"auto"}, Item), function(re){});

            $.Fastclick($("#bt_detail_more"), function(){
                $("#itemDescription").css("max-height", '');
                $("#bt_detail_more").hide();
                sendStat("item/detail_show", $.extend({type:"manual"}, Item), function(re){});
            });

            /* pinch줌 주석처리
            var pz = new IScroll("#pinchZoom", {
                zoom: true,
                scrollX: true,
                scrollY: true,
                eventPassthrough: false,
                preventDefault: false,
                lockDirection: false,
                bounce: false,
                zoomMax: 2.5
            });
            $(".guide-pinch-zoom").show();
            */
        }

        function itemDetailZoom(){
            sendStat("item/zoom", Item, function(){
                locationHref('detail/view' 
                            + '?name=' + encodeURIComponent(Item.name) 
                            + '&site=' + Item.site 
                            + '&data=' + encodeURIComponent(Item.entity_id));
            });
        }


        //같은시간대 판매상품
        function itemSametime(){
            if(Item.f == 1 && is_android()){
                sendApi("rpc/entity/getSameTimeItemList", {skin:"hsmoa/skin/_item_sametime_grid", entity_id:Item.entity_id}, function(re){
                    $("#itemSametime").html(re).show();
                });
            }else{
                sendApi("rpc/entity/getSameTimeItemList", {skin:"hsmoa/skin/_item_sametime", entity_id:Item.entity_id}, function(re){
                    var $itemSametime = $("#itemSametime");
                    $itemSametime.html(re);
                    if($itemSametime.find('item').length > 0)
                        $itemSametime.show();
                });
            }
        }

        //연관 추천상품
        var isItemRecoEntity = true;
        function itemRecoEntity(){
            var _scroll = $(window).scrollTop();
            if(isItemRecoEntity){
                if( _scroll > 800 || $(document).height() - _scroll - 800 < $(window).height() ){ console.log(isItemRecoEntity);
                    isItemRecoEntity = false;
                    sendApi("rpc/entity_reco/getList", {skin:"hsmoa/skin/_item_reco_entity", entity_id: Item.entity_id, num:6}, function(re){
                        if(re.length > 100){
                            $("#itemRecoEntity").html(re);
                        }else{
                            $("#itemRecoEntity").hide();
                            sendStat("item/recoentity/noresult", {entity_id: Item.entity_id, live: Item.live, cate: Item.cate}, function(re){});
                            $(window).unbind("scroll", itemRecoEntity);
                        }
                    });
                    sendApi("rpc/goods_query_info/getList", {skin:"hsmoa/skin/_item_reco_query", goods_id: Item.entity_id}, function(re){
                        if(re.length > 100){
                            $("#itemRecoQuery").html(re).show();
                        }else{
                            $("#itemRecoQuery").hide();
                        }
                    });
                }
            }else{
                // 실제로 눈에 보여질 때 통계
                if( $("#itemRecoEntity").offset().top < _scroll + $(window).height()-100 ) {
                    $(window).unbind("scroll", itemRecoEntity);
                    sendStat("item/recoentity/show", {entity_id: Item.entity_id, live: Item.live, cate: Item.cate}, function(re){});
                }
            }
        }

        //상품상세 리뷰

        <!-- 상품상세 리뷰 스크립트 -->
        var reviewDict = {
            "gsshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "gsmyshop": ["http://m.gsshop.com/prd/prdrevw.gs?prdid=######"],
            "hnsmall": ["http://m.hnsmall.com/goods/comment/######/0"],
            "lottemall": ["http://m.lotteimall.com/goods/searchGdasListAjax.lotte?pageIdx=1&rowsPerPage=10&goods_no=######"],
            "ssgshop" : ["http://m.shinsegaetvshopping.com/comment/list-html?goodsCode=######"],
            //"shopnt" : ["https://www.shoppingntmall.com/comment/list-html?goodsCode=######"], 쇼핑앤티 리뷰가 너무 적어 일단 퇴출
            "cjmall" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"],
            "cjmallplus" : ["http://base.cjmall.com/api/item/######/premium-list.json?page=1&option1Cd=&option2Cd=&sortGbn=1&imgYn=N"]
        };
        var reviewParam = {};
        var tab = "Description";
        var jsonList = ["ssgshop", "shopnt", "cjmall","cjmallplus"];
        if (reviewDict[Item.site] && Item.cate != "보험") {
            $("#itemMenu").show();
            // 탭 전환
            $.Fastclick($(".nav-tab"), function () {
                $('#item' + tab).hide();
                tab = $(this).data('tab');
                $(".nav-tab").removeClass("on");
                $(this).addClass("on");
                $('#item' + tab).show();

                if(tab == "Review") load_review();
            });
        }
        function load_review() {
            if ($("#itemReview").text().length > 100) return;

            $("#reviewLoading").show();

            for (var i = 0; i < reviewDict[Item.site].length; i++) {
                var _url = reviewDict[Item.site][i].replace(/######/, Item.crawl_id);
                if (jsonList.indexOf(Item.site) >= 0){
                    reviewParam = {skin: "hsmoa/skin/_item_review", genre2:Item.site , url: _url, entity_id:Item.entity_id}
                } else {
                    reviewParam = {url: _url, entity_id:Item.entity_id};
                }
                $.get("/review/load", reviewParam, function(re){
                    if (re == "fail" || re.length < 1000) {
                        $("#itemReview").html("<div class='align-center padding-12 c-gray-4'><br/><br/>등록된 상품평이 없습니다.<br/><br/></div>");
                        $("#reviewLoading").hide();
                        sendStat("reviewload/fail", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site:Item.site, crawl_id:Item.crawl_id}, function () {});
                    } else {
                        $("#itemReview ").delay(i * 1000).append(re);
                        $("#itemReview img.lazy").each(function (i) {
                            $(this).attr("src", $(this).attr("data-original"))
                        });
                        $("#review_loading").hide();
                        sendStat("reviewload/success", {from:"hsmoa_item", entity_id: Item.entity_id, cate:Item.cate, site: Item.site, crawl_id:Item.crawl_id}, function () {});
                    }

                    /* 식품 상품에 대해서 정책적으로 리뷰 내용 안 보여줌 (HSMOA-4262) */
                    if(Item.cate == "식품·건강" && ['hnsmall', 'cjmall', 'cjmallplus', 'lottemall', 'gsshop', 'gsmyshop'].indexOf(Item.site) >= 0) {
                        if(Item.site == 'hnsmall') {
                            $('#itemReview .bestComtWrap .comment_list2 li .cons').hide();
                            $('#itemReview .comment_list2 li .comment_cons2 .img_wrap').hide();
                            $('#itemReview .bestComtWrap .comment_list2 li .comment_cons2').css('min-height', '50px');
                        } else if(Item.site == 'cjmall' || Item.site == 'cjmallplus') {
                            $('#itemReview .b-white.position-relative.border-top.padding-12 > div:nth-of-type(2)').hide();
                            $('#itemReview .b-white.position-relative.border-top.padding-12 > div:nth-of-type(3)').hide();
                        } else if(Item.site == 'lottemall') {
                            $('#itemReview .review_wrap .review_list .review_cont').hide();
                        } else if(Item.site == 'gsshop' || Item.site == 'gsmyshop') {
                            $('#itemReview .prdListWarp .prdList .reviewCont').hide();
                            $('#itemReview .prdListWarp .prdList .reviewPointHead').css('margin-bottom', '8px');
                        }
                    }
                });
            }
        }


        //공유
        $.Fastclick($(".sms"), function(){
            sendStat("share/item", {cate:"sms", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.sms({
                    num: '',
                    msg: shareTitle + " \n"+ shareWebUrl+"&from=share_sms"
                });
            });
        });
        $.Fastclick($(".facebook"), function(){
            sendStat("share/item", {cate:"facebook", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.facebook(shareWebUrl+"&from=share_facebook");
            });
        });
        $.Fastclick($(".kakaostory"), function(){
            sendStat("share/item", {cate:"kakaostory", query: Item.name, price: Item.price, entity_id: Item.entity_id}, function(){
                $.Share.kakaostory({
                    url: shareWebUrl+"&from=share_kakaostory",
                    text: shareTitle + "\n\n" + shareDesc
                });
            });
        });
        $.Fastclick($(".kakaotalk"), function(){
            sendStat("share/item", {cate:"kakaotalk", query: Item.name, price: Item.price, entity_id: Item.entity_id, from:$(this).data('from')}, function(){
                $.Share.kakaotalk({
                    templateId: 5968,
                    templateArgs:{
                        imageUrl: Item.img,
                        title: shareTitle,
                        description: shareDesc,
                        buttonTitle: '상품보기',
                        iosScheme:"shoppingmoa://next_url=http://o.buzzni.com/hsmoa/item?entity_id="+Item.entity_id+"&from=share_kakao",
                        androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://o.buzzni.com/hsmoa/item?entity_id="+Item.entity_id+"&from=share_kakao",
                        iosMarket:"",
                        androidMarket:"referrer=share_kakao_"+User.id+"_item_"+Item.entity_id,
                        desktopUrl:"i?from=share_kakao&id="+Item.entity_id
                    },
                    installTalk:true
                });
            });
        });

    });
</script>
{% endblock %}