{% extends "hsmoa/__base.html" %}
{% block title %}알람센터{% endblock %}
{% block css %}
<style>
nav{display:table; table-layout: fixed; box-sizing: border-box; width:100%;  z-index: 99999; top:0; box-shadow: 0 0.5px 1px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
.nav-tab {display:table-cell; width: 25%; text-align: center; font-size: 15px; padding: 12px 0; background: #f7f7f7; cursor: pointer; }
.nav-tab.on {background: #fff; color: #ea1b27; font-weight: bold;}

input {-webkit-appearance: none;}
#input_alarm_keyword {width:100%;box-sizing:border-box; margin:0; background: #fff; padding-left:10px; border: 1px solid #f25862;border-radius: 3px;
    line-height: 35px; height: 35px;font-size: 15px;}
#submit_alarm_keyword {width:70px; text-align:center; border:0; margin-left:5px; border-radius: 3px;font-size: 15px; height: 35px;  }

#query_result {position:absolute; z-index:999;left:14px;padding:4px 0; display: none; margin-top: -8px; width: 176px; background: #fff; box-shadow: 0 2px 3px rgba(0,0,0,0.3); border-radius: 2px;}
#query_result > div { line-height: 15px; font-size:14px; padding:8px 12px; cursor:pointer;}
#query_result > div b{ font-weight: normal; color:#d91414;}

.bt-delete-all { float:right; border-radius: 2px; font-size:12px; padding:5px; color:#f25862; margin: -5px -5px 0 0;}
.bt-delete-all::after {content: '전체삭제';}
.bt-alarm {margin: 12px 4px 2px;  border: 1px solid #666;  border-radius: 30px;  background: #fff;  color: #000;  padding: 8px 14px;  line-height: 1em;  font-size: 15px;}

.section {margin:20px 0 15px;}
</style>
{% endblock %}
{% block container %}
<!-- 검색어알람 입력창 -->
<nav>
    <div class="display-table-fixed" style="padding:8px 14px;">
        <div class="table-cell">
            <form id="form_alarm_keyword" action=".">
                <input id="input_alarm_keyword" type="text" autocomplete="off" placeholder="알람받을 검색어 입력"><input type="submit" class="block-hide">
            </form>
        </div>
        <div class="table-cell-line"></div>
        <div class="table-cell" style="width: 74px;" >
            <button id="submit_alarm_keyword" class="bt b-red-1 c-white">
                <img src="{{ media }}/hsmoa/icon/alarm.png" style="width: 14px; margin-bottom:1px; vertical-align: middle">
                <span style="display: inline-block; vertical-align : middle;">알람</span>
            </button>
        </div>
    </div>
    <div id="query_result"></div>
</nav>

<div class="c-gray-3" style="margin:14px; line-height: 14px; font-size:12px;">
    <span style="font-size:14px;position: relative; top:1px;">ⓘ</span>
    검색어알람을 기간제한 없이 이용할 수 있습니다.
</div>
<!-- 검색어알람 리스트 -->
<div id="block_alarm_keyword" class="section">
    <div class="c-gray-4" style="padding:10px 14px; font-size: 15px;">
        검색어알람
        <button onclick="remove_all('alarm')" class="bt bt-delete-all"></button>
    </div>
    <!-- No result시-->
    <div class="line-top"></div>
    <div id="no_result_keyword" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 13px; line-height: 1.3em; padding: 0 0 20px; min-height: 100px;">
        <div style="padding-top: 20px;">검색어알람이 없습니다.</div>
        <div>인기 홈쇼핑 상품들을 정기적으로 안내받으세요.</div>
    </div>
    <div id="alarm_keyword_list" class=" b-white"></div>
    <div class="line-bottom"></div>
</div>

<div id="block_alarm_entity"  class="section">
    <div class="c-gray-4" style="padding:10px 14px; font-size: 15px; border-bottom: 1px solid #eee;">
        방송알람
        <button onclick="remove_all('alarm_action')" class="bt bt-delete-all"></button>
    </div>
    <!-- 상단 Tab 메뉴 -->
    <div class="line-top"></div>
    <nav style="box-shadow: 0 0 0;">
        <div data-tab="future" class="disblock nav-tab on" id="tab_entity"><span>방송예정</span></div>
        <div data-tab="past" class="disblock nav-tab" id="tab_search"><span>이전방송</span></div>
    </nav>
    <div class="line-bottom"></div>
</div>
    <!-- 방송알람 결과 없을 때 -->
    <div id="no_result_entity" class="no-result align-center block-hide c-gray-3" style="font-size: 13px; line-height: 1.3em; padding:10px 0 10px; min-height: 100px;">
        <div>방송알람이 없습니다.</div>
        인기 홈쇼핑 상품들을 생방송 때 알람받으세요.
        <div class="link-service b-red-1 c-white "
            url-path="tvrank"
            data-from="my_alarm" style="margin: 10px;text-align: center; padding: 12px 0; border-radius: 4px; font-size: 16px; font-weight: bold; ">
            홈쇼핑 인기상품 &nbsp;〉
        </div>
    </div>
    <!-- 방송알람 리스트 -->
    <div id="scroller"></div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var lastQuery = "";
$(function(){
    //페이지 시작
    loadAlarmKeyword();
    //방송예정상품 불러오기
    initScroller();

    //알람설정
    $("#form_alarm_keyword").submit(function (event) {
        event.preventDefault();
        alarmKeywordAction();
    });
    $.Fastclick( $("#submit_alarm_keyword"), function(){
        alarmKeywordAction();
    });

    //인기검색어 알람버튼
    $.Fastclick(".bt-alarm", function(){
        lastQuery = $(this).data("query");
        native_set_alarm(lastQuery);
    });

    //검색어알람 연장버튼
    $.Fastclick(".alarm-keyword-extend", function(event){

        _data = $(this).data();
        lastQuery = _data.query;
        var keyword_id = _data.keyword_id;

        if(confirm("알람 기한을\n연장하시겠습니까?")) {
            sendApi("alarm/save", {action:"keyword", service:"tvshop", action_id:keyword_id, status:"-4"}, function (re) {
                native_send_toast("알람을 연장했습니다.");
                sendStat("test/alarm/keyword/extend", _data, function(){});
                refresh();
            });
        }
    });

    //검색어알람 개별삭제
    $.Fastclick(".alarm-keyword-remove", function(){

        if(confirm("검색어알람을\n해제하시겠습니까?")) {
            var _action_id = $(this).data("id");
            var _query = $(this).data("query");
            var $target = $(this).parent();

            sendApi("alarm/remove", {alarm_id: _action_id}, function (re) {
                if (re.success == true) {
                    $target.fadeTo(150, 0).slideUp(150).remove();
                    sendStat("removealarm/keyword", {query:_query, flag:_action_id, from:User.from}, function (re) {});

                    //검색어알람 0개 남으면 인기검색어 추천
                    if( $(".alarm-keyword-remove").length == 0){
                        $("#no_result_keyword").show();
                        loadTopQuery($("#no_result_keyword"));
                    }

                    native_send_toast("알람을 삭제했습니다.");

                    //검색어알람 변동이 방송알람에 변경된 후 방송알람 결과 리스트 리셋 ( 1~2초 정도 걸림)
                    setTimeout(function(){
                        $scroller.Scroller.listReset();
                    }, 2000);
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    });

    //방송알람 개별삭제
    $.Fastclick(".alarm-entity-remove", function(){
        var $this = $(this);
        var msg = {
            future: "방송알람을\n해제하시겠습니까?",
            past:"이전 알람내역을\n삭제하시겠습니까?"
        };

        if(confirm(msg[$this.data('source')])) {
            var _action_id = $(this).data("id");
            var _entity_id = $(this).data("entity_id");
            var $target = $(this).parent();

            sendApi("alarm_action/remove", {alarm_action_id: _action_id}, function (re) {
                if (re.success == true) {
                    $target.fadeTo(150, 0).slideUp(150).remove();
                    native_remove_alarm_action(_entity_id, _action_id);

                    sendStat("removealarm/entity", {entity_id:_entity_id, flag:_action_id, from:User.from}, function (re) {});

                    setTimeout(function(){
                        native_send_toast("알람을 삭제했습니다.");
                    }, 100);

                    $(".mark-date").each(function(){
                        if( $(this).next().hasClass('mark-date') ){
                            $(this).remove();
                        }else if( $(this).next().length == 0 ){
                            $(this).remove();
                        }

                    });
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    });


    function alarmKeywordAction(){
        lastQuery =  $("#input_alarm_keyword").val();
        if(lastQuery.length == 0 || lastQuery.length == ""){
            native_send_toast("검색어가 너무 짧습니다.");
        }else{
            native_set_alarm(lastQuery);
        }
    }


    //검색어 자동완성
    $(window).scroll(function(){
        if( $(window).scrollTop() > 50 ){
            $("#input_alarm_keyword").blur().focusout();
            $('#query_result').hide();
        }
    });
    $.Fastclick(".auto-query", function(){
        lastQuery = $(this).text();
        $('#input_alarm_keyword').val(lastQuery);
        $('#query_result').hide();
        native_set_alarm(lastQuery);
    });
    $('#input_alarm_keyword').on('keyup',function(e) {
        autocomplete($('#input_alarm_keyword').val(), function(){});
    });
    $("#input_alarm_keyword").on('focusout', function(e){
        setTimeout(function(){
            $('#query_result').hide();
        }, 100);
    });
    function autocomplete (query, callback) {
        $.get('/autocomplete', {'query': query}, function(res) {
            if(res.result.length > 0 ){
                var re = "";
                for(var i in res.result){
                    if (i<10){
                        var str = res.result[i].replace(query, "<b>"+query+"</b>");
                        re+='<div class="auto-query" >' + str + '</div>';
                    }
                }
                $('#query_result').css("width", $('#form_alarm_keyword').width());
                $('#query_result').html(re).show();
            }else if(query == ''){
                $('#query_result').html('').hide();
            }
            callback();
        }, 'json');
    }


});


//방송예정상품
var $scroller = $("#scroller");
var scrollResetDelay = false;
function initScroller(){
    var params = {
        skin: "hsmoa/skin/_my_alarm_entity_list",
        num: 20,
        action: "entity",
        service: "tvshop",
        source: "future",
        flag: "alarm",
        order: "create_date desc"
    };
    // Scroller
    $scroller.Scroller({
        defaults: {
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            minDataLength : 100,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data: params,
        url: "rpc/alarm_action/getList",
        scrolling: function (re) {
            if(scrollResetDelay){
                $("#no_result_entity").hide();
                $scroller.empty();
                scrollResetDelay = false;
            }
            $scroller.append(re);
        },
        scrollEnd: function (re) {
            if(scrollResetDelay){
                $scroller.empty();
                scrollResetDelay = false;
                $scroller.append(re);
            }
            if ($scroller.children().length == 0) {
                $("#no_result_entity").show()
            }
        },
        scrollReset: function () {
            scrollResetDelay = true;
        }
    });


    // 탭 전환
    $.Fastclick($(".nav-tab"), function () {
        params.source = $(this).data('tab');
        $("#no_result_entity").hide();
        $(".nav-tab").removeClass("on");
        $(this).addClass("on");

        $scroller.Scroller.listReset();
    });
}


function loadAlarmKeyword(){
    //검색어알람 불러오기
    sendApi("rpc/alarm/getList", {skin: "hsmoa/skin/_my_alarm_keyword_list", num: 50, action: "keyword", service: "tvshop", order: "create_date desc"}, function(re){
        $("#no_result_keyword").hide();
        $("#alarm_keyword_list").empty();
        if(re.length>100){
            $("#alarm_keyword_list").html(re);
        }else{
            //결과 없으면 인기검색어 추천
            $("#no_result_keyword").show();
            loadTopQuery($("#no_result_keyword"));
        }
    });
}

function loadTopQuery($target){
    if($(".bt-alarm").length == 0){
        sendApi("query_log/getTopQueryList", {page:1, num:10, ago:1}, function(re){
            if(re.success){
                for(i in re.result.data){
                    if( i < 3){
                        $("<button/>", {
                            text:re.result.data[i].name,
                            class: "bt-alarm",
                            "data-query":re.result.data[i].name
                        }).appendTo($target)
                    }
                }
            }
        });
    }
}

function refresh(){
    $('#query_result').hide();
    //서버에서 알람이 자동등록되는걸 기다린다 1~2초 정도 걸림
    setTimeout(function(){
        loadAlarmKeyword();
        $scroller.Scroller.listReset();
    }, 2500);
}
function reload(){
    $('#query_result').hide();
    if (typeof lastData.entity_id === "number") {
        sendApi("entity/userInfo", {entity_id: lastData.entity_id}, function (re) {
            if (re.success == true) {
                var _action_id = re.result.alarm_action_id;
                var $target = $('.list-alarmaction[data-entity_id="'+lastData.entity_id+'"]').parent();

                if (_action_id == 0) {
                    $target.fadeTo(150, 0).slideUp(150).remove();

                    $(".mark-date").each(function(){
                        if( $(this).next().hasClass('mark-date') ){
                            $(this).remove();
                        }else if( $(this).next().length == 0 ){
                            $(this).remove();
                        }
                    });
                }
            }
        });
    }else if (typeof lastData.id === "number") {
        //검색어알람 상태가 off로 변경되면 상태적용
        sendApi("alarm/getInfo", {"alarm_id": lastData.id}, function (re) {
            if (typeof re.result.name === 'undefined') {
                var $target = $('.list-query[data-id="'+lastData.id+'"]').parent();
                $target.fadeTo(150, 0).slideUp(150).remove();


                if( $(".alarm-keyword-remove").length == 0){
                    $("#no_result_keyword").show();
                    loadTopQuery($("#no_result_keyword"));
                }

                $scroller.Scroller.listReset();
            }
        });
    }
}


//검색어알람 등록시 native app callback함수,  리스트를 리셋하고 검색어알람 리스트를 새로 불러온다.
function setAlarmChanged(_action_id){
    sendStat("setalarm/keyword",{query:lastQuery, flag:_action_id, from:User.from}, function (re) {});
    refresh();
    lastQuery = "";
    $('#input_alarm_keyword').val('');

    $("#input_alarm_keyword").blur().focusout();
}


// 전체 삭제
function remove_all(action, source){
    var _source = '';

    var comment = {
        keyword:"최근 검색어를",
        alarm:"검색어알람을",
        alarm_action_future:"방송알람을",
        alarm_action_past:"이전 알람내역을",
        search:"최근 본 검색상품을",
        visit:"최근 본 상품을",
        like: "찜한 상품을"
    };

    var _name = ''
    if (action == 'alarm_action'){
        var _source = $(".nav-tab.on").data("tab");
        _name = comment[action+"_"+_source];
    }else{
        _name = comment[action];
    }

    var data = {
        keyword: { is_all:true, service:"tvshop"},
        alarm: { is_all:true, service:"tvshop"},
        alarm_action: { is_all:true, service:"tvshop", source:_source},
        search: { is_all:true, service:"tvshop"},
        visit: { is_all:true, service:"tvshop"},
        like: { is_all:true, service:"tvshop"}
    };

    var is_confirm = confirm(_name + "\n모두 삭제하시겠습니까?");
    if(is_confirm) {
        sendApi(action+"/remove", data[action], function(re){
            if (re.success == true) {
                refresh();

                //방송알람 전체삭제 시
                if( action == 'alarm_action' ){
                    document.location = "BuzzniHybrid:removeAlarmActionAll:";
                }

                setTimeout(function(){
                    native_send_toast(_name + " 삭제하였습니다.");
                }, 100);
            } else {
                native_send_toast(re.msg);
            }
        });
    }
}
</script>
{% endblock %}
