{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}내 검색어알람{% endblock %}
{% block css %}
<style>
    body{padding-bottom: 60px;}
    /* 알람 버튼  <span style="color:#f25862">알람 받기</span> */
    .bt-alarm {display: table-cell; position: relative; font-weight:normal; border-radius:2px; text-align: center; vertical-align: middle; height: 32px;line-height: 1; font-size: 14px; max-width: 60%; border:1px solid #f25862; }
    .bt-alarm > * {display:inline-block; vertical-align: top; height:13px;}
    .bt-alarm > span:nth-child(2) {font-weight:bold; max-width:60%; text-overflow:ellipsis; height:1em; overflow: hidden; white-space:nowrap; margin: 0px 0px 0px 3px;}
    .bt-alarm > img {width:14px;height:14px; display: inline-block; vertical-align:middle; margin-top: -2px;}
    .bt-alarm:after {content: '알람받기'; display:inline-block; letter-spacing: -1px;}
    .bt-alarm.on { border:0; box-shadow: 0 1px 0 #ccc; border:1px solid #fff; }
    .bt-alarm.on:after {content: '알람 중'; color:#d91414;}
    .bt-alarm.on:before {content: ''; display:block; position:absolute; right:7px; top:7px; z-index:9;width: 18px; height: 18px; background: url({{ media }}/hsmoa/button/close_gray.png) 50% 50% no-repeat; background-size: 18px 18px;}

</style>
{% endblock %}
{% block float_bt %}
    {% include "hsmoa/part/move_up.html" with bottom='46px' %}
{% endblock %}
{% block container %}

    <div class="margin-12">
        <div class="display-table-fixed">
            <!-- 검색어알람 -->
            <div class="alarm-keyword bt-alarm b-white" alarm_id="0" data-query="{{ request.GET.query }}">
                <img src="{{ thum }}/http://cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm_black.png"/>
                <span>"{{ request.GET.query }}"</span>
            </div>
        </div>
        <div class="c-gray-4" style="font-size: 13px; margin-top: 10px; line-height: 1.3;">
            {% if request.GET.status|get_int < 5 %}
                방송시작 시 알람
            {% elif request.GET.status == '1440' %}
                24시간 전 알람
            {% elif request.GET.status == '60' %}
                1시간 전 알람
            {% else %}
                {{ request.GET.status }}분 전 알람
            {% endif %}
            <br/>
        </div>
    </div>

    <!-- No result시-->
    <div id="no_result_future" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
        <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
        <div>현재 편성된 방송상품이 없습니다.</div>
    </div>
    <div id="no_result_past" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
        <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
        <div>이전 방송상품이 없습니다.</div>
    </div>

    <!-- List -->
    <div id="scroller"></div>

    <!-- 하단 버튼 -->
    <div class="link-service c-white b-gray-5"
         url-path="search/result"
         data-from="my_alarm_keyword"
         data-query="{{ request.GET.query }}"
         style="text-align: center; padding: 12px 0; opacity:0.8; font-size: 16px;position: fixed; z-index: 99999; line-height: 1; bottom:0; left:0; right:0; width:100%; box-shadow: 0 0 3px rgba(0,0,0,0.3);">
        <b>"{{ request.GET.query }}"</b> 검색하기 &nbsp;〉
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
var SearchParams = {
    skin: "hsmoa/skin/_my_alarm_timeline",
    order: "",
    site: "",
    source: "future",
    flag: "{{ request.GET.id }}",
    query: "{{ request.GET.query }}"
};

$(function(){
    //검색어 저장 및 알람 확인
    sendApi("keyword/save", {name:SearchParams.query, service:"tvshop"}, function(re){
        if (re.result.alarm_id > 0) {
            $(".bt-alarm").attr("alarm_id", re.result.alarm_id).addClass("on");
            SearchParams.flag = re.result.alarm_id;
        }
    });

    $("#tab_" + SearchParams.source).addClass("on");


    // Scroller
    var $scroller = $("#scroller");
    $scroller.Scroller({
        defaults: {
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 100,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data: SearchParams,
        url: "rpc/search/tvshopSearch",
        scrolling: function (re) {
            $scroller.append(re);
        },
        scrollEnd: function () {
            if ($scroller.children().length == 0) {
                if(SearchParams.source == "future"){
                    $("#no_result_future").show();
                }else{
                    $("#no_result_past").show();
                }
            }
        },
        scrollReset: function () {
            $scroller.empty();
        }
    });

    //같은시간대 방송상품
    $.Fastclick(".sametime-toggle", function() {
        $(this).parent().toggleClass("on");
    });


});
    
</script>

{% endblock %}