{% extends "hsmoa/__base.html" %}
{% block title %}이전 방송알람{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block container %}

<!-- 방송알람 리스트 -->
<div id="block_alarm_entity">
    <div style=" padding:10px 10px 5px;">
        <a href="javascript:remove_all_alarm('alarm_action', 'past');">
        <div class="c-red-1 pull-right" style="line-height:26px;height:26px;font-size: 13px;text-decoration: underline;">
            전체삭제
        </div>
        </a>
        <div class="c-gray-4 " style="line-height:26px;height:26px;font-size: 13px;">
            이전 방송알람
        </div>
    </div>
    <div id="no_result_entity" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0 10px; min-height: 100px;">
        <div><span class="c-red-2">방송알람</span>이 없습니다.</div>
        인기 홈쇼핑 상품들을 생방송 때 알람받으세요.
        <div class="link-service b-red-1 c-white "
            url-path="tvrank"
            data-from="my_alarm" style="margin: 10px 20px;text-align: center; line-height: 44px; height: 44px; border-radius: 4px; font-size: 18px; font-weight: bold;">
            홈쇼핑 인기 TOP100 보기
        </div>
    </div>
    <div id="scroller"></div>
</div>



{% endblock %}

{% block js %}
<script type="text/javascript">
var lastQuery = "";
$(function(){

    //알람 불러오기
    initScroller();

    //방송알람 개별삭제
    $.Fastclick(".alarm-entity-remove", function(){
        if(confirm("해당 알람을 삭제하시겠습니까?")) {
            var _action_id = $(this).data("id");
            var _entity_id = $(this).data("entity_id");
            var $target = $(this).parent();

            sendApi("alarm_action/remove", {alarm_action_id: _action_id}, function (re) {
                if (re.success == true) {
                    $target.fadeTo(150, 0).slideUp(150);
                    sendStat("removealarm/keyword", {entity_id:_entity_id, flag:_action_id, from:User.from}, function (re) {});
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    });

    function alarmKeywordAction(){
        $("#input_alarm_keyword").blur().focusout();

        lastQuery =  $("#input_alarm_keyword").val();
        if(lastQuery.length == 0 || lastQuery.length == ""){
            native_send_toast("검색어가 너무 짧습니다.");
        }else{
            native_set_alarm(lastQuery);
        }
    }


});



//방송예정상품
var $scroller = $("#scroller");
function initScroller(){
    var params = {
        skin: "hsmoa/skin/_my_alarm_entity_list",
        num: 20,
        action: "entity",
        service: "tvshop",
        source: "past",
        flag: "alarm",
        order: "create_date desc"
    };
    // Scroller
    $scroller.Scroller({
        defaults: {
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            minDataLength : 100,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data: params,
        url: "rpc/alarm_action/getList",
        scrolling: function (re) {
            $scroller.append(re);
        },
        scrollEnd: function () {
            if ($scroller.children().length == 0) {
                $("#no_result_entity").show()
            }
        },
        scrollReset: function () {
            $("#no_result_entity").hide();
            $scroller.empty();
        }
    });
}

function refresh(){
    //서버에서 알람이 자동등록되는걸 기다린다 1~2초 정도 걸림
    setTimeout(function(){
        $scroller.Scroller.listReset();
    }, 1500);
}



// 전체 삭제
function remove_all_alarm(_action, _source){
    var comment = {"keyword":"최근 검색어를",
        "alarm":"검색어 알람을",
        "alarm_action":"생방송 알람을",
        "search":"최근 본 검색상품을",
        "visit":"최근 본 상품을",
        "like": "찜한 상품을"};

    var is_confirm = confirm(comment[_action] + "\n모두 삭제하시겠습니까?");
    if(is_confirm) {
        sendApi(_action+"/remove", {is_all:true, service:"tvshop", source:_source}, function(re){
            if (re.success == true) {
                refresh();
            } else {
                native_send_toast(re.msg);
            }
        });
    }
}


    
</script>

{% endblock %}