{% extends "hsmoa/__base.html" %}
{% block title %}이벤트{% endblock %}
{% block css %}
    <style>
        .trans-dark {width:100%;display: inline-block;position: absolute;height:100%;left:0;top:0;background: #000;opacity:0.5; z-index: 9;}
        .event-list {position:relative;display: block;}
        .event-list .event-list-item .event-title{color: #444; font-weight: bold; font-size: 1.3em; line-height: 1.3em;}
        .event-list .event-list-item .event-subtitle{color: #999; font-weight: normal;}
        .event-list-item thum  {position: relative; padding-top:50%; background: #f5f6f7;}
        .event-list-item thum img {position: absolute; left:0; right:0; top:0; width: 100%;}

        .bt-alert {border:1px solid #e54b5d; background: none; border-radius: 15px;height: 30px; padding: 0 12px; color: #e54b5d; font-weight: 500;}
        .more-wrap {position: relative;text-align: center;display: block;}
        .btn-more {position:relative;display: block;margin:0 auto;font-size: 16px;padding:20px;opacity: 0.5;font-weight: bold;background: transparent;border:0;margin-bottom:50px}

    </style>

{% endblock %}
{#{% block container %}#}
{#    <div class="clear-9" ></div>#}
{#    <div id="event_block"></div>#}
{#{% endblock %}#}
{% block container %}

    <div id="event_head" class="align-center" style="box-shadow: 0 0 2px rgba(0,0,0,0.1); ">
        <a class="link-service" url-path="my/sale" data-from="event">
            <img src="{{ cdn_img }}/mysale/mysale_month_{{ mysale_list.month }}.png?v=1" style="min-height:70px; width: 100%; margin:0 auto;" class="th-1" >
        </a>
    </div>
    <section>
        <section id="live_event_list" class="event-list"></section>
        <section id="dead_event_list" class="event-list"></section>
        <button onclick="appendEvent();" class="btn-more">↓ 더보기</button>
    </section>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ media }}/list.js?v=22"></script>
    <script type="text/javascript">
        var tab = "event";
        var num = 7;
        function ended_event(url, category){
            var _msg = {
                moaweek : "종료된 모아위크 입니다. 다음 모아위크를 기대해주세요.",
                promotion : "종료된 기획전 입니다.",
                survey : "종료된 설문조사 입니다."
            };

            for (var key in _msg){
                if(url.match(key) != null){
                    native_send_toast(_msg[key]);
                    return;
                }
            }

            native_send_toast("종료된 이벤트 입니다.");
        }

        /*
         * 종료된 이벤트는 무조건 아래로 내릴수 있도록 수정한다.
         */
        function moveLiveEventToUp(){
            var dump = [], temp_dom = $(".live-event");
            for(var i=0;i<temp_dom.length;i++){
                dump.push($(temp_dom[i]));
                $(temp_dom[i]).remove();
            }
            $("#live_event_list").append(dump);
        }

        function appendEvent(){
            sendApi("rpc/board/getList", {skin: "hsmoa/skin/_event_list", cate:"event", page: page, num: num, order:'create_date'}, function (re) {
                if (re.length > 99) {
                    $("#dead_event_list").append(re);
                    moveLiveEventToUp();
                    page++;
                }else{
                    $(".btn-more").hide();
                }
            });
        }

        $(function(){
            appendEvent();
        });

    </script>
{% endblock %}
