{% extends "hsmoa/__base.html" %}
{% block title %}찜한 상품{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block container %}

<div id="block_entity" class="block" style=" padding:10px; ">
    <a href="javascript:remove_all('like');">
        <img src="{{ media }}/hsmoa/button/delete_all.png" style="height: 26px;vertical-align: top;float:right;">
    </a>
    <div class="c-gray-3" style="line-height:26px;height:26px;font-size: 13px;">
        찜한 방송상품
    </div>
</div>

<!-- No result시-->
<div id="no_result" class="b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
    <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div><span class="c-red-2">찜한 상품</span>이 없습니다.</div>
</div>

<div id="scroller"></div>

<!-- List End -->

{% endblock %}

{% block js %}
<script type="text/javascript">
var tab = "{{ request.GET.tab }}" || "entity";
$("#tab_" + tab).addClass("on");
var is_cache_use = "";
var params = {
    skin: "hsmoa/skin/_my_like_entity_list",
    num: 20,
    action: "entity",
    service: "tvshop",
    flag: "visit",
    order: "create_date desc"
};

// Scroller
var $scroller = $("#scroller");
$scroller.Scroller({
    defaults: {
        //scrollEventHeight: 600,
        //ajaxType:'POST'
        //maxPage:0,
        //autoStart: true,
        //minDataLength : 100,
        //ajaxType : 'GET',
        //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
    },
    data: params,
    url: "rpc/like/getList",
    scrolling: function (re, page) {
        is_cache_use = "";
        $scroller.append(re);
    },
    scrollEnd: function () {
        if ($scroller.children().length == 0) {
            $("#no_result").show()
        }
    },
    scrollReset: function () {
        $scroller.empty();
    }
});

// 찜한상품 삭제
function like_remove(_action_id, _target){
    sendApi("like/remove", {like_id: _action_id}, function(re){
        if (re.success == true) {
            var $target = $('#'+_target);
            $target.fadeTo(150,0).slideUp(150, function(){
                $target.remove();
                if( $("#scroller").children().length == 0){
                    $("#no_result").show();
                }
            });
        } else {
            native_send_toast(re.msg);
        }
    });
}


// 방문기록 전체 삭제
function remove_all(action){
    var comment = {"keyword":"최근 검색어를",
        "alarm":"검색어 알람을",
        "alarm_action":"생방송 알람을",
        "search":"최근 본 검색상품을",
        "visit":"최근 본 상품을",
        "like": "찜한 상품을"};

    var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
    if(is_confirm) {
        sendApi(action+"/remove", {"is_all":true, "service":"tvshop"}, function(re){
            if (re.success == true) {
                $scroller.Scroller.listReset();
            } else {
                native_send_toast(re.msg);
            }
        });
    }
}


    
</script>

{% endblock %}