{% extends "hsmoa/__base.html" %}
{% block title %}홈쇼핑 고객센터{% endblock %}
{% block css %}
    <style>

        .bt-support {-webkit-appearance: none; background: none; border:1px solid rgba(232,68,77,0.5); color: #e8444d; font-size:13px; line-height:13px; padding:9px 0 8px;width: 76px; border-radius: 4px; margin-top:-2px; }
        .bt-delivery {-webkit-appearance: none; background: none; border:1px solid rgba(39,180,193,0.5); color: #28b3c0; font-size:13px;  padding:9px 0 8px;line-height:13px; width: 76px; border-radius: 4px; margin-top:-2px;}
        .shipping-list .item{border-bottom:1px solid #eee; padding:10px 12px;}
        .shipping-list .item:last-child{border-bottom:0px}
        .shipping-list .item > img{height:28px;}


    </style>
{% endblock %}
{% block container %}
    <div class="align-center c-gray-4" style="line-height: 1.3em; margin:24px;font-size: 15px;">
        주문하신 상품의 배송/반품/환불은 해당 홈쇼핑사에서 담당하고 있습니다.
        자세한 배송/상품 관련 정보는 각 쇼핑사에 문의 바랍니다.
    </div>
    <div class="b-white shipping-list">
    {% for item in genre2_list %}
        {% if item.type == 'homeshopping' %}
        <div class="item">
            <button data-site="{{ item.id }}" class="bt-support pull-right">고객센터</button>
            <button data-site="{{ item.id }}" class="bt-delivery pull-right margin-right">배송조회</button>
            <img src="{{ media }}/hsmoa/logo/logo_{{ item.id }}.png"  />
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="clear-9"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $.Fastclick(".bt-support", function(){
            supportcall_click($(this).data('site'));
        });
        $.Fastclick(".bt-delivery", function(){
            delivery_clcik($(this).data('site'));
        });

        function delivery_clcik(site){
            var _dict = {
                "gsshop":"http://m.gsshop.com/mygsshop/myOrderList.gs",
                "cjmall":"http://mw.cjmall.com/m/mycj/order.jsp",
                "lottemall":"https://securem.lotteimall.com/mypage/searchOrderListFrame.lotte",
                "lotteonetv":"https://securem.lotteimall.com/mypage/searchOrderListFrame.lotte",
                "hmall":"http://m.hyundaihmall.com/front/smOrderPeriodL.do",
                "nsmall":"http://m.nsmall.com/NSMypageBaseAccessCmd?tabIndex=0&monthly=&pageidx=",
                "nsmallplus":"http://m.nsmall.com/NSMypageBaseAccessCmd?tabIndex=0&monthly=&pageidx=",
                "hnsmall":"http://m.hnsmall.com/mypage/order/list",
                "gsmyshop":"http://m.gsshop.com/mygsshop/myOrderList.gs",
                "kshop":"http://m.kshop.co.kr/orderlist/list?wise_area=mc_leftmenu_orderlist",
                "ssgshop":"https://m.shinsegaetvshopping.com/member/login?forwardUrl=/orderlist/list",
                "wshop":"http://m.w-shopping.co.kr/mypage/order/list",
                "immall":"https://m.immall.co.kr/mypage/selectOrderM.do?tab=2",
                "hmallplus":"http://m.hyundaihmall.com/front/smOrderPeriodL.do",
                "cjmallplus":"https://mw.cjmall.com/m/mycj/order.jsp",
                "shopnt":"https://m.shoppingntmall.com/mypage/order/list",
                "bshop":"http://m.skstoa.com/mypage/order/list"
            };
            if(site == "" || site == undefined || _dict[site] == undefined){
                alert("없는 주소입니다.");
            }else{
                sendStat("delivery", {"site":site, "from":User.from}, function (re) {
                    locationHref("/out/link?url=" + _dict[site] );
                });
            }
        }
        //고객센터 전화
        function supportcall_click(site) {
            var _dict = {
                "gsshop":"1899-4500",
                "cjmall":"1644-2525",
                "lottemall":"1899-4000",
                "hmall":"1600-0000",
                "nsmall":"1688-7700",
                "nsmallplus":"1688-7700",
                "hnsmall":"1666-1111",
                "gsmyshop":"1899-4500",
                "kshop":"1899-2211",
                "ssgshop":"1800-0850",
                "wshop":"1644-4949",
                "immall":"1566-7770",
                "hmallplus":"1600-0000",
                "cjmallplus":"1644-2525",
                "lotteonetv":"1899-4000",
                "shopnt":"080-130-1010",
                "bshop":"1566-0106"
            };
            if(site == "" || site == undefined || _dict[site] == undefined){
                native_send_toast("없는 번호입니다.");
            }else{
                sendStat("supportcall",{"site":site, "from":User.from}, function (re) {
                    window.location = 'tel:'+_dict[site];
                });
            }
        }
    </script>
{% endblock %}