{% extends "hsmoa/__base.html" %}
{% block title %}최근 본 상품{% endblock %}
{% block css %}
<style>
body {padding-top: 40px;}
nav{display:table; table-layout: fixed; position:fixed;box-sizing: border-box; width:100%;  z-index: 99999; top:0; box-shadow: 0 0.5px 1px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
.nav-tab {display:table-cell; width: 25%; text-align: center; font-size: 15px; padding: 12px 0; background: #f7f7f7; cursor: pointer; }
.nav-tab.on {background: #fff; color: #ea1b27; font-weight: bold;}
</style>
{% endblock %}
{% block container %}
<!-- 상단 Tab 메뉴 -->
<nav>
    <div data-tab="entity" class="disblock nav-tab" id="tab_entity">방송상품</div>
    <div data-tab="search" class="disblock nav-tab" id="tab_search">검색상품</div>
</nav>

<div id="block_entity" class="block" style=" padding:10px; ">
    <a href="javascript:remove_all('visit');">
        <img src="{{ media }}/hsmoa/button/delete_all.png" style="height: 26px;vertical-align: top;float:right;">
    </a>
    <div class="table-cell align-middle c-gray-3 " style="line-height:26px;height:26px;font-size: 13px;">
        최근 본 방송상품
    </div>
</div>
<div id="block_search" class="block block-hide" style=" padding:10px; ">
    <a href="javascript:remove_all('search');">
        <img src="{{ media }}/hsmoa/button/delete_all.png" style="height: 26px;vertical-align: top;float:right;">
    </a>
    <div class="table-cell align-middle c-gray-3 " style="line-height:26px;height:26px;font-size: 13px;">
        최근 본 검색상품
    </div>
</div>

<!-- No result시-->
<div id="no_result" class="b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
    <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div><span class="c-red-2">최근 본 상품</span>이 없습니다.</div>
</div>


<div id="scroller"></div>

<!-- List End -->

{% endblock %}

{% block js %}
<script type="text/javascript">
var tab = "{{ request.GET.tab }}" || "entity";
$("#tab_" + tab).addClass("on");
$('.block').hide();
$('#block_' + tab).show();
var is_cache_use = "";
var params = {
    entity: {
        skin: "hsmoa/skin/_my_visit_entity_list",
        num: 20,
        action: "entity",
        flag: "visit",
        order: "update_date desc",
        is_cache_use: is_cache_use
    },
    search: {skin: "hsmoa/skin/_my_visit_search_list", num: 20}
};
var urls = {
    entity: "rpc/visit/getList",
    search: "rpc/user_search_click/getList"
};

// Scroller
var $scroller = $("#scroller");
$scroller.Scroller({
    defaults: {
        //scrollEventHeight: 600,
        //ajaxType:'POST'
        //maxPage:0,
        //autoStart: true,
        //minDataLength : 100,
        //ajaxType : 'GET',
        //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
    },
    data: params[tab],
    url: urls[tab],
    scrolling: function (re, page) {
        is_cache_use = "";
        $scroller.append(re);
    },
    scrollEnd: function () {
        if ($scroller.children().length == 0) {
            $("#no_result").show()
        }
    },
    scrollReset: function () {
        $scroller.empty();
    }
});

// 탭 전환
$.Fastclick($(".nav-tab"), function () {
    tab = $(this).data('tab');
    $('#no_result').hide();    
    $(".nav-tab").removeClass("on");
    $(this).addClass("on");
    $('.block').hide();
    $('#block_' + tab).show();

    $scroller.Scroller.listReset({
        data: params[tab],
        url: urls[tab]
    });
});

// 방송상품 방문기록 삭제
function visit_remove(_action_id, _target){
    sendApi("visit/remove", {visit_id: _action_id}, function(re){
        if (re.success == true) {
            var $target = $('#'+_target);
            $target.fadeTo(150,0).slideUp(150, function(){
                $target.remove();
                if( $("#scroller").children().length == 0){
                    $("#no_result").show();
                }
            });
        } else {
            native_send_toast(re.msg);
        }
    });
}

// 검색상품 방문기록 삭제
function visit_search_remove(id){
    sendApi("user_search_click/remove", {item_id: id}, function(re){
        if (re.success == true) {
            var $target = $('[data-id='+id+']').parent();
            $target.fadeTo(150,0).slideUp(150, function(){
                $target.remove();
                if( $("#scroller").children().length == 0){
                    $("#no_result").show();
                }
            });
        } else {
            native_send_toast(re.msg);
        }
    });
}

// 방문기록 전체 삭제
function remove_all(action){
    var comment = {"keyword":"최근 검색어를",
        "alarm":"검색어 알람을",
        "alarm_action":"생방송 알람을",
        "search":"최근 본 검색상품을",
        "visit":"최근 본 상품을",
        "like": "찜한 상품을"};

    var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
    if(is_confirm) {
        if(action == "search"){
            sendApi("user_search_click/removeAll", {}, function(re){
                if (re.success == true) {
                    $scroller.Scroller.listReset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }else{
            sendApi(action+"/remove", {"is_all":true, "service":"tvshop"}, function(re){
                if (re.success == true) {
                    params['entity']['is_cache_use'] = 0;
                    $scroller.Scroller.listReset();
                } else {
                    native_send_toast(re.msg);
                }
            });
        }
    }
}


    
</script>

{% endblock %}