{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}{{ request.GET.program_query|program_dict:'name' }}{% endblock %}
{% block css %}
<style>
.show-main { box-shadow: 0 1px 3px rgba(0,0,0,0.15); z-index: 99; text-align: center; position: relative; margin-bottom:10px;}
.show-main img {width:100%;}
.show-time {position: absolute; z-index:9; background: rgba(120,120,120,0.5); width: 100%; left:0; bottom :0; padding:9px 0; color:#fff; font-size:13px; line-height: 1.2em; }
</style>
{% endblock %}
{% block container %}
<div class="show-main">
    <img src="{{ cdn_img }}/program/show_main_{{ request.GET.program_query|urldecode }}.png?v=6">
    <div class="show-time">
        {{ request.GET.program_query|program_dict:'time' }}
        <div style="opacity: 0.6; font-size: 11px;">*방송사의 사정에 따라 편성 시간이 변경될 수 있습니다.</div>
    </div>
</div>
<div id="scroller"></div>

{% if request.GET.from != "showlist" %}
    <div class="link-service b-red-1 c-white "
        url-path="showlist"
        data-from="program" style="margin: 10px;text-align: center; padding: 14px 0; border-radius: 4px; font-size: 15px; font-weight: bold;">
        더 많은 인기 프로그램 보기
    </div>
{% endif %}

{% endblock %}
{% block js %}
<script>
$(function(){
    var program_name = "{{ request.GET.program_query|urldecode }}";

    var $scroller = $("#scroller");
    var params = {skin:"hsmoa/skin/_program_list", cate:"", num:20, name: program_name, live: 1, flag:"program,"+program_name};
    $scroller.Scroller({
        defaults:{
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 300,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data:params,
        url:"rpc/entity/getProgramList",
        scrolling:function(re){
            $scroller.append(re);
        },
        scrollEnd:function(){
            if(params.live == 1){
                params.live = 0;
                sendApi("rpc/entity/getProgramList", $.extend({page:1},params), function(re){
                    $("#scroller").append(re);
                });
            }
        },
        scrollReset:function(){
            $scroller.empty();
        }
    });
});
</script>
{% endblock %}