{% extends "hsmoa/__base.html" %}
{% block title %}당신을 위한 추천 상품{% endblock %}
{% block css %}
<style>
.relatequery-title {line-height:28px;height:28px;font-weight:bold;font-size:13px;display:block;margin:3px 7px; }
.relatequery {cursor:pointer;display:inline-block;line-height:28px;height:28px;font-size:13px;padding:0 7px;border-radius:2px;margin:5px 10px 5px 0;}
.relatequery:nth-of-type(1n+12) {display:none;}
.bt-star {display:inline-block; border:0; margin:10px 0; width:40px; height:0; padding:40px 0 0; background:url("{{ cdn_img }}/star_off.png") no-repeat 50% 50%; background-size:110% 110%; -webkit-appearance:none;}
.bt-star.on { background:url("{{ cdn_img }}/star_on.png") no-repeat 50% 50%; background-size:110% 110%; }
.banner-img {
    box-shadow:0 0.5px 1.5px #ccc;
    margin:10px;
    border-radius:3px;
    overflow:hidden;
}
.list-basic { margin-bottom:0px; }
.grid-box { margin-bottom:8px; }

compare {
    display:block;
    height:32px;
    line-height:32px;
    color:#666;
    background:white;
    text-align:center;
    position:relative;
    font-size:13px;
}

</style>
{% endblock %}
{% block container %}
<div class="c-gray-4" style="font-size:15px;margin:16px;line-height:15px;position:relative;">
    {% if request.GET.query %}
        홈쇼핑모아가 <b class="c-black">"{{ request.GET.query }}"</b> 상품을 찾아봤어요.
        <a href="javascript:toggle_guide('keyword')" id="guide_keyword">
            <img src="{{ media }}/img/2016/icon_question_n.png" style="height: 16px;margin:-3px 5px 0 -3px; padding:2px 4px; vertical-align: top;">

            <div class="block-hide position" style="width:80%;line-height:1.3em;font-size:13px;padding:9px 9px 6px;border-radius:2px;box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 4px;border:1px solid rgb(93,202,207);background:#fff;z-index:1000;right:5%;top:120%;">
                <div class="pull-right" style="margin:-6px; "><img src="{{ media }}/img/ic_close.png" style="height:24px; opacity: 0.55;"></div>
                <div class="strong">추천상품은?</div>
                <div class="clear-3"></div>
                고객님이 검색하신 상품을 바탕으로 연관도가 높은 상품을 추천해 드립니다.
                <div class="clear-3"></div>
                <div class=" c-gray-4" style="font-size: 12px;">만약 수신을 원하지 않을 경우, 앱 내에서 설정 > 광고푸시받기를 해제해 주세요.</div>
            </div>
        </a>
    {% endif %}
</div>
<div id="scroller"></div>
<div id="relatequery" style="background: #fff; margin: 10px 0 0 0; padding:9px; max-height: 148px; overflow: hidden; display: none;">
    <div class="relatequery-title">
        {{ request.GET.query }} 연관검색어
    </div>
</div>

{% if moaweek_main_banner %}
    <div style="margin:16px;line-height:15px;">
        <div style="margin-bottom:8px;font-weight:bold;font-size:13px;">합리적인 쇼핑 찬스! 놓치지 마세요!</div>
        <div class="link-service" url-path="event/moaweek" data-query="{{ request.GET.query }}" data-from="reco_keyword{% if request.GET.content_type == 'tvshop' %}_tvshop{% endif %}">
            <img src="{{ moaweek_main_banner.img }}?v={{ moaweek_main_banner.start_date }}" style="width:100%;">
        </div>
    </div>
{% endif %}

<div id="rating" class="b-white align-center" style="padding:24px 16px 34px ; margin:10px 0 0; line-height: 1.3em; display: none;">
    <div class="c-gray-5 ">추천상품 마음에 드셨나요?</div>
    <div class="c-gray-3" style="font-size: 12px;">(고객님의 의견은 서비스 품질향상에 도움이 됩니다.)</div>
    <div>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
    </div>
    <div class="rating-feedback c-mint-3" style="font-size: 13px; opacity: 0;">소중한 의견 감사드립니다.</div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var site="{{ request.GET.site }}";
    var pid="{{ request.GET.id }}";
    var query="{{ request.GET.query }}";
    var entityId="{{ request.GET.flag|default:'' }}";
    var contentType="{{ request.GET.content_type|default:'' }}";

    var $scroller = $("#scroller");

    var params;
    if(contentType !== 'tvshop' || entityId == '') {
        params = {
            url: "http://shot.buzzni.com:6015/reco/item",
            skin: "hsmoa/skin/_reco_keyword_list",
            site_name: site,
            pid: pid,
            query: query,
            num: 20,
        };
    } else {
        sendApi("rpc/entity/getInfo", {entity_id: entityId, skin: "hsmoa/skin/_reco_keyword_one"}, function(re){
            $scroller.prepend(re);
        });
        console.log('{{ request.GET.num }}');
        params = {
            skin: "hsmoa/skin/_reco_keyword_list",
            num: {{ request.GET.num|default:10 }},
            page: 1,
            entity_id: entityId,
            is_cache_use: 'False'
        };
    }
    $scroller.Scroller({
        defaults:{
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 300,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data:params,
        url: (contentType !== 'tvshop' || entityId == '' ? "rpc/outer" : "rpc/entity_reco/getList"),
        scrolling:function(re){
            $scroller.append(re);
            $("#rating").show();
            $scroller.Scroller.listEnd();
        },
        scrollEnd:function(){
            relateQuery();

            {#if(contentType === 'tvshop' && entityId !== '') {#}
            {#    $('#scroller > .grid-box').sort(function(a, b) {#}
            {#        if($(a).find('item').data('entity_id') === '8699580')#}
            {#            return -1;#}
            {#        else if($(b).find('item').data('entity_id') === '8699580')#}
            {#            return 1;#}
            {#        if($(a).find('item').data('site') === site)#}
            {#            return -1;#}
            {#        else if($(b).find('item').data('site') === site)#}
            {#            return 1;#}
            {#        return 0;#}
            {#    }).appendTo('#scroller');#}
            {# }#}
        },
        scrollReset:function(){
            $scroller.empty();
        }
    });

    var relateQuery = function(){
        sendApi("search/relatequery", {query:query}, function(re){
            var $relatequery = $("#relatequery");
            $relatequery.append("<button class='relatequery c-mint-3 link-service' url-path='search/result' data-query='"+query+"'"+" data-from='reco_keyword"+(contentType?','+contentType:'')+"'>"+query+"</button>");
            for(var i in re.result.data){
                var _query = re.result.data[i].query;
                $relatequery.append("<button class='relatequery c-mint-3 link-service' url-path='search/result' data-query='"+_query+"'"+" data-from='reco_keyword"+(contentType?','+contentType:'')+"'>"+_query+"</button>");
                $relatequery.show();
            }
        });
    };


    var $star = $(".bt-star");
    var isRating = false;
    $star.on("click", function(){
        if(isRating) return;

        isRating = true;
        var _num = $(this).index()+1;
        $star.each(function(i){
            if(i < _num){
                $(this).addClass("on");
            }else{
                $(this).removeClass("on");
            }
        });

        var rating_params;
        if(contentType !== 'tvshop' || entityId == '') {
            rating_params = {
                from: 'bottom_box',
                query: query,
                flag: _num
            };
        } else {
            rating_params = {
                from: 'bottom_box_tvshop',
                query: query,
                flag: _num,
                entity_id: entityId,
                contentType: contentType,
            };
        }

        sendStat("reco/keyword/rating", rating_params, function(re){
            isRating = false;
            $(".rating-feedback").fadeTo(250,1);
            //native_send_toast("소중한 의견 감사합니다.");
        });
    });

});


    function toggle_guide(id){
        $("#guide_"+id+" > div").slideToggle(0);
        var img =$("#guide_"+id+" > img").attr("src");
        if(img.match("_n.png")){
            img = img.replace(/_n.png/, "_p.png");
            $("#guide_"+id+" > img").attr("src", img);

            if (id == 'keyword' && $("#guide_entity > div").is(":visible")){
                $("#guide_entity > div").slideToggle(0);
                img = img.replace(/_p.png/, "_n.png");
                $("#guide_entity > img").attr("src", img);
            }else if (id == 'entity' && $("#guide_keyword > div").is(":visible")){
                $("#guide_keyword > div").slideToggle(0);
                img = img.replace(/_p.png/, "_n.png");
                $("#guide_keyword > img").attr("src", img);
            }
        }else{
            img = img.replace(/_p.png/, "_n.png");
            $("#guide_"+id+" > img").attr("src", img);

        }
    }

</script>
{% endblock %}