{% extends "hsmoa/__base.html" %}
{% block title %}홈쇼핑모아 추천상품{% endblock %}
{% block css %}
<style>
.relatequery-title { line-height: 28px; height: 28px;font-weight: bold; font-size: 13px; display: block; margin: 3px 7px; }
.relatequery{  cursor: pointer; display: inline-block; line-height: 28px; height: 28px; font-size: 13px; padding: 0 7px;  border-radius: 2px; margin:5px 10px 5px 0;  }
.relatequery:nth-of-type(1n+12) {display: none;}

.bt-star{display:inline-block; border: 0; margin:10px 0; width:40px; height:0; padding: 40px 0 0; background: url("{{ cdn_img }}/star_off.png") no-repeat 50% 50%; background-size: 110% 110%;  -webkit-appearance: none;}
.bt-star.on{ background: url("{{ cdn_img }}/star_on.png") no-repeat 50% 50%; background-size: 110% 110%; }
</style>
{% endblock %}
{% block container %}

<div class="c-gray-3" style="margin:10px; line-height: 14px; font-size:13px;">최근 본 상품을 바탕으로 추천된 상품입니다.</div>
<div id="scroller"></div>
<div id="rating" class="b-white align-center" style="padding:24px 16px 34px ; margin:10px 0 0; line-height: 1.3em; display: none;">
    <div class="c-gray-5 ">추천상품 마음에 드셨나요?</div>
    <div class="c-gray-3" style="font-size: 12px;">(고객님의 의견은 서비스 품질향상에 도움이 됩니다.)</div>
    <div>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
        <button class="bt-star"></button>
    </div>
    <div class="rating-feedback c-mint-3" style="font-size: 13px; opacity: 0;">소중한 의견 감사드립니다.</div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){

    var $scroller = $("#scroller");
    sendApi("rpc/reco/recoEntity", {skin:"hsmoa/skin/_reco_entity_list", num:20}, function(re){
        $scroller.append(re);
        $("#rating").show();
    });

    var $star = $(".bt-star");
    var isRating = false;
    $.Fastclick($star, function(){
        if(isRating) return;

        isRating = true;
        var _num = $(this).index()+1;
        $star.each(function(i){
            if(i < _num){
                $(this).addClass("on");
            }else{
                $(this).removeClass("on");
            }
        });

        sendStat("reco/entity/rating",{from:User.from, flag:_num}, function(re){
            isRating = false;
            $(".rating-feedback").fadeTo(250,1);
        });
    });

});
</script>
{% endblock %}