{% extends "hsmoa/__base.html" %}
{% load filters %}
{% load filters_test %}
{% block title %}검색 결과{% endblock %}

{% block css %}
    {% include "hsmoa/search/search_css.html" %}
{% endblock %}

{% block container %}
    {% block search_banner_top %}
        {% include "hsmoa/search/search_banner_top.html" with query=request.GET.query|urldecode %}
    {% endblock %}

    {% block tvshop_result %}
        {% if request.GET.f_abtest == 'b' and request.GET.type == 'sentence_placehold' and 'comment' in request.GET and request.GET.comment != '' %}
            {# FRONT-10 [Place Holder 기획] 검색결과 화면 개발 및 테스트 #}
            {% include "hsmoa/test/front10/search/tvshop_result.html" with query=request.GET.query|urldecode %}
        {% else %}
            {% include "hsmoa/search/tvshop_result.html" with query=request.GET.query|urldecode %}
        {% endif %}
    {% endblock %}

    {% block search_banner_middle %}
        {% include "hsmoa/search/search_banner_middle.html" with query=request.GET.query|urldecode %}
    {% endblock %}

    {% block meta_result %}
        {# SEARCH-96 그리드뷰 테스트 (meta_result.html 파일 내에서 abtest 분기) #}
        {% include "hsmoa/search/meta_result.html" with query=request.GET.query|urldecode %}
    {% endblock %}

    {% block cs_report %}
        {% include "hsmoa/search/search_cs.html" %}
    {% endblock %}
{% endblock %}

{% block js %}
<script>
    /***** ABTEST (HSMOA-2591) *****/
    var hasLive = -1;
    var hasTvshop = -1;
    /*************** ***************/
    var hasMoareview = -1;

    var Search = {
        init: false,
        query: "{{ request.GET.query|urldecode }}",
        alarm_id: 0,
        page: 0,
        cs_asked: false,
        grid: function (isGrid) {
            if (isGrid === undefined) {
                $("body").toggleClass("grid-style");
                //그리드전환 통계
                sendStat("search/uichange", {query: this.query, flag: ($("body").hasClass("grid-style") ? 'grid' : 'list')});
            } else {
                if (isGrid) $("body").addClass("grid-style");
                else $("body").removeClass("grid-style");
            }
        },
        save: function () {
            //검색어 저장 및 알람 확인
            sendApi("keyword/save", {name: this.query, service: "tvshop"}, function (re) {
                if (typeof re.result !== 'undefined' &&  re.result.alarm_id > 0) {
                    Search.alarm_id = re.result.alarm_id;
                    $(".bt-alarm").attr("alarm_id", Search.alarm_id).addClass("on");
                }
            });
        },
        relate: function () {
            sendApi("rpc/search/relatequery", {skin: "hsmoa/skin/_search_relate_query", query: Search.query}, function(re){
                if(re.length>100){
                    sendStat("showRelatequery", {query: Search.query});
                    $("#container").prepend("<div id='relate_query'></div>");
                    $("#relate_query").html(re);
                }
            });
        }
    };

    $(function () {
        // 마케팅 유입 시 '홈쇼핑, 홈쇼핑방송편성표, 홈쇼핑모아' 3개 키워드는 편성표로 이동
        {% if request.GET.from == 'marketing' %}
            if( Search.query == '홈쇼핑' || Search.query == '홈쇼핑모아' || Search.query == '홈쇼핑방송편성표' || Search.query == 'hsmoa' ){
                // move_back하여 편성표화면으로 이동시킨다
                native_move_back(1);
            }
        {% endif %}

        // 홈&쇼핑 검색시 검색어가 "홈&amp;쇼핑" 로 인식됨
        Search.query = Search.query.replace(/&amp;/gi, '&');
        Search.query = Search.query.replace("홈&쇼핑", "홈앤쇼핑");
        SearchParams.query = Search.query;

        //최근검색어로 저장하기 & 검색어알람 확인하기 & 통계 쌓기
        Search.save();

        //연관검색어 불러오기
        Search.relate();

        //특정 키워드 교체
        if (Search.query.indexOf('모아위크') >= 0) {
            Search.query = "{{ moaweek_data.main_mall|get_genre }}";
            SearchParams.query = "{{ moaweek_data.main_mall|get_genre }}";
        }

        //방송상품 불러오기
        loadTvshopResult('future');

        //필터기능 세팅
        //initScrollerFunctions();
    });
</script>
{% endblock %}

{% block float_bt %}
    <button class="bt-filter"
            style="background: url('{{ media }}/hsmoa/button/float_blank.png') 50% 50%; background-size:50px 50px;
                    width:50px; height:50px; -webkit-appearance: none; border:0;bottom:54px;right:2px; position:fixed;z-index:99999; padding:0;">
        <div class="fix-image-quality" style="position: relative; top:-3px;"></div>
    </button>
    {# 위로가기버튼 위치를 조정할 때 bottom을 바꿔준다. #}
    {% include "hsmoa/part/move_up.html" %}
{% endblock %}
