{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}방송 검색결과{% endblock %}
{% block css %}
<style>
    body {padding-top: 40px;}
    nav{-webkit-transform: translate3d(0, 0, 0); display:table; table-layout: fixed; position:fixed; box-sizing: border-box; width:100%;  z-index: 99999; top:0; box-shadow: 0 0.5px 1px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
    .nav-tab {display:table-cell; width: 25%; text-align: center; font-size: 15px; padding: 12px 0; background: #f7f7f7; cursor: pointer; }
    .nav-tab.on {background: #fff; color: #ea1b27; font-weight: bold;}

    /* 알람 버튼  <span style="color:#f25862">알람 받기</span> */
    .bt-alarm {display: table-cell; position: relative; font-weight:normal; border-radius:2px; text-align: center; vertical-align: middle; height: 32px;line-height: 1; font-size: 14px; max-width: 60%; border:1px solid #f25862; }
    .bt-alarm > span:nth-child(2) {font-weight:bold; max-width:55%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin: 0px 0px 0px 3px;}
    .bt-alarm > img {width:14px;height:14px; display: inline-block; vertical-align:middle; margin-top: -2px;}
    .bt-alarm:after {content: '알람받기'; padding: 1px 0; display:inline-block; letter-spacing: -1px;}
    .bt-alarm.on { box-shadow: 0 1px 0 #ccc; border:1px solid #fff; }
    .bt-alarm.on:after {content: '알람 중'; color:#d91414;}
    .bt-alarm.on:before {content: ''; display:block; position:absolute; right:7px; top:7px; z-index:9;width: 18px; height: 18px; background: url({{ media }}/hsmoa/button/close_gray.png) 50% 50% no-repeat; background-size: 18px 18px;}

    .marker {position: relative; z-index: 2;}
    .mark-date-header {top:36px; position:fixed; left:50%; margin-left:-60px; z-index: 99; display: none;}
</style>
{% endblock %}
{% block container %}
<!-- 상단 Tab 메뉴 -->
<nav>
    <div data-tab="future" class="disblock nav-tab" id="tab_future">방송예정</div>
    <div data-tab="past" class="disblock nav-tab" id="tab_past">이전방송</div>
</nav>

<!-- 상단 고정 날짜 -->
<div class="mark-date-header">
    <div class="mark-date on c-white b-mint-2"></div>
</div>

<div class="margin-12">
    <div class="display-table-fixed">
        <!-- 검색어알람 -->
        <div class="alarm-keyword bt-alarm b-white" alarm_id="0" data-query="{{ request.GET.query }}">
            <img src="{{ thum }}/http://cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm_black.png"/>
            <span>"{{ request.GET.query }}"</span>
        </div>
    </div>
    <div class="c-gray-4" style="font-size: 12px; margin-top: 10px; line-height: 1.3;">
        검색어 알람을 설정하면, 방송할때마다 알람이 발송됩니다.
    </div>
</div>

<!-- No result시-->
<div id="no_result_future" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
    <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div>편성된 방송상품이 없습니다.</div>
</div>
<div id="no_result_past" class="no-result b-white align-center block-hide c-gray-3" style="font-size: 15px; line-height: 1.3em; padding: 30px 0;">
    <img src="{{ media }}/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div>이전 방송상품이 없습니다.</div>
</div>
<div id="scroller"></div>

<!-- List End -->

{% endblock %}

{% block js %}
<script type="text/javascript">
var SearchParams = {
    skin: "hsmoa/skin/_search_timeline",
    order: "",
    site: "",
    source: "{{ request.GET.tab }}" || "future",
    query: "{{ request.GET.query }}",
    abtest: User.abtest
};

$(function(){
    // 홈&쇼핑 검색시 검색어가 "홈&amp;쇼핑" 로 인식됨
    SearchParams.query = SearchParams.query.replace(/&amp;/gi, '&');
    SearchParams.query = SearchParams.query.replace("홈&쇼핑", "홈앤쇼핑");


    //검색어 저장 및 알람 확인
    sendApi("keyword/save", {name:SearchParams.query, service:"tvshop"}, function(re){
        if (re.result.alarm_id > 0) {
            $(".bt-alarm").attr("alarm_id", re.result.alarm_id).addClass("on");
        }
    });

    $("#tab_" + SearchParams.source).addClass("on");

    //검색결과 뷰 통계
    sendStat("searchTimeline/detail/show", {query: SearchParams.query, type: SearchParams.source, from: User.from});


    // Scroller
    var $scroller = $("#scroller");
    $scroller.Scroller({
        defaults: {
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 100,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data: SearchParams,
        url: "rpc/search/tvshopSearch",
        scrolling: function (re) {
            $scroller.append(re);

            // 중복 시간표기 제거
            var arr = [];
            $(".mark-date").each(function(i){
                if(i>1){
                    if( $(this).data('date') == $(".mark-date").eq(i-1).data('date') ){
                        arr.push(this);
                    }
                }
            });
            for(var i in arr){
                $(arr[i]).remove();
            }
        },
        scrollEnd: function () {
            if ($scroller.children().length == 0) {
                if(SearchParams.source == "future"){
                    $("#no_result_future").show();
                }else{
                    $("#no_result_past").show();
                }
                sendStat("searchTimeline/detail/noresult", {query: SearchParams.query, type: SearchParams.source, from: User.from});
            }
        },
        scrollReset: function () {
            $scroller.empty();
        }
    });

    // 탭 전환
    $.Fastclick($(".nav-tab"), function () {
        SearchParams.source = $(this).data('tab');
        $('.no-result').hide();
        $(".nav-tab").removeClass("on");
        $(this).addClass("on");
        $('.block').hide();
        $('#block_' + SearchParams.source).show();

        $scroller.Scroller.listReset();
        $topBox.fadeOut(0);
    });

    //같은시간대 방송상품
    $.Fastclick(".sametime-toggle", function() {
        $(this).parent().toggleClass("on");
    });


    //마커 상단고정
    var toph = 50.0;
    var gap = 35.0;
    var minh = -35;
    var $topBox = $(".mark-date-header");
    var $top = $(".mark-date.on");
    var $window = $(window);
    var lastEvent = new Date();
    var lastScroll = $window.scrollTop();
    $window.on("scroll touchmove touchend", markerAnimation);

    function markerAnimation(event){
        var now = new Date();
        if(typeof event === "undefined" && (now - lastEvent) < 10 ){
            return;
        }

        if($(".mark-date").length < 2) return;

        //스크롤위치가 변하지않으면 패스
        if( lastScroll == $window.scrollTop() ) return;
        else {
            lastScroll = $window.scrollTop();
        }

        var $first = $(".mark-date:not('.on')").eq(0);

        //상단고정마커와 가장 가까운 마커 2개를 찾는다
        var prev = [0, -999999 ];
        var next = [0, 999999];
        $(".mark-date:not('.on')").each(function(i){
            var $this = $(this);
            var distance = $this.offset().top - ($window.scrollTop()+toph);
            if(distance <= 0 && distance > prev[1]){
                prev = [$this, distance];
            }else if (distance > 0 && distance < next[1]){
                next = [$this, distance];
            }
        });

        //상단고정마커를 보여줄지 여부 && 가장가까운 이전마커의 택스트와 속성에 맞추기
        if(prev[0] == 0){
            $topBox.hide();
        }else if(prev[0] != 0){
            $topBox.show();
            $top.text( prev[0].text() );
            $top.attr('class', $first.attr('class') ).addClass("on");
        }

        if(next[0] != 0 && next[1] <= gap){
            //다음 가까운마커가 상단마커를밀어내기
            console.log('밀어내기', gap, 1-(gap-next[1])/gap);
            $topBox.css('opacity', 1-(gap-next[1])/gap );
            next[0].css('opacity', 1 );
        }else if(prev[0] != 0 && prev[1] >= minh){
            //가까운마커가 상단마커와 겹치고 상단으로 완전히 사라지기 사이의 처리
            console.log('겹쳐지기', prev[1], (minh-prev[1])/minh);
            $topBox.css('opacity', 1 );
            prev[0].css('opacity', 1-(minh-prev[1])/minh );
        }else{
            //나머지 경우엔 상단마커와 다음마커를 제대로 보이게 해준다
            $topBox.css('opacity', 1 );
            next[0].css('opacity', 1 );
        }

        //스크롤이 끝난후 한번더 보정해준다

        var now = new Date();
        if(typeof event !== "undefined" && lastEvent < now){
            lastEvent = now;
            setTimeout(markerAnimation, 300);
        }

        return;

            /*
            if(distance <= th && distance >= sh){
                //마커 밀어내기
                //$top.css('-webkit-transform', 'translate3d(0px,'+ (distance-th) +'px,0px)' );
                if(i == 0){
                    $this.css('opacity', 1);
                    return false;
                }
                $top.text( $this.text() );
                $this.css('opacity', 1-(th-distance)/(th-sh) );
                return false;
            }else if(distance < sh && distance >= rh ){console.log(2)
                //마커 밀어내기2
                //밀어낸후 어색한시점에 기존마커를 아래로 내린다.
                //$top.css('-webkit-transform', 'translate3d(0px,'+ (distance-th) +'px,0px)' );
                //$this.css('-webkit-transform', 'translate3d(0px,'+ (sh-distance) +'px,0px)' );
                $top.text( $this.text() );
                $this.css('opacity', 1-(th-distance)/(th-sh) );
                return false;
            }else if(distance < rh && distance > -80){console.log(3)
                // 마커를 완전히 밀어낸후 교체
                //$top.css('-webkit-transform', 'translate3d(0px,0px,0px)' );
                //$top.text( $this.text() );
                //$this.css('-webkit-transform', 'translate3d(0px,0px,0px)' );
                $top.text( $this.text() );
                $this.css('opacity', 1 );
            }else if(distance > th ){
                //고정마커보다 아래있는 마커는 보여준다
                $this.css('opacity', 1 );
                $this.css('-webkit-transform', 'translate3d(0px,0px,0px)' );
            }else if(distance <= -80){
                //고정마커보다 바로 위에있는 마커의 텍스트로 고정마커 변경
                //$top.css('-webkit-transform', 'translate3d(0px,0px,0px)' );
                $top.text( $this.text() );
            }
            */
    }

});

</script>

{% endblock %}