{% extends "hsmoa/__base.html" %}
{% load filters %}
{% block title %}인기 쇼호스트 방송{% endblock %}
{% block css %}
<style>
body{padding-bottom: 60px;}

.show-item {padding: 14px 14px 10px; background: #fff; margin-bottom: 1px; box-sizing: border-box;}
.show-item > div {line-height:1.2em; cursor: pointer; text-align: left;}
.show-item thum { border-radius: 2px;margin-bottom:8px; text-align: center; overflow: hidden;}
.show-item .logo {margin:-4px 12px 0 0; float: left; border-radius: 50px; width: 42px; height:42px;overflow: hidden; background-size: 50px 19px !important;}


@media screen and (min-width: 630px) {
    .show-item {float:left; width: 50%; }
    .show-item:nth-child(odd){border-right:1px solid #eaedef;}
}
</style>
{% endblock %}
{% block container %}

    <div id="list">
    {% for re in program_list %}
        {% if re.display %}
            <div class="show-item" data-program="{{ re.name }}" data-time="{{ re.time }}">
                <div class=" link-service" url-path="program" data-program_query="{{ re.id }}" data-from="showlist" data-name="{{ re.id }}">
                    <thum>
                        <img src="{{ thum }}/600x160/center/smart/{{ img }}/program/show_{{ re.id }}.png?v=10">
                    </thum>
                    <div  class="logo" style="background: url('{{ media }}/hsmoa/logo/logo_big_{{ re.genre2 }}.png') 50% 50% no-repeat;">
                    </div>
                    <div style="font-size: 16px;">{{ re.name }}</div>
                    <div class="c-gray-3" style="font-size: 12px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ re.time }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="kakaotalk" style="background: #ffed32; color:#3f2223; position: fixed; bottom:9px; z-index:99999; font-size: 15px; line-height: 1.2em; cursor:pointer;
    left:50%; margin-left: -100px; width: 200px; border:1px solid #c3b71a; border-radius:20px; padding: 10px 0; text-align: center; font-weight: bold; box-shadow: 0 1px 3px rgba(0,0,0,0.2);">
        <div style="display: inline-block; overflow: hidden; width: 20px; height: 18px; margin-bottom: -3px;">
            <img src="{{ media }}/hsmoa/button/kakaotalk.png" style="width: 32px;margin: -6px -7px; max-width: 300%;">
        </div>
        카카오톡 공유하기
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(function(){
    var days = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'];
    var today = new Date();
    var hour = (parseInt(today.getHours()/12) ? '오전 ':'오후 ') + today.getHours()%12 + '시';
    var now_day = today.getDay();

    var start_index = 99;
    var start_position = 99;

    var programs = [];

    $(".show-item").map(function(i){
        var time = $(this).data('time').split(" / ");
        programs.push( $(this).data('program') );

        // 날짜가 여러날 방송하는경우
        var chk = -99;
        time.map(function(a, b){
            var day = a.split(" ")[0];
            if(days.indexOf(day)-now_day > chk && chk < 0){
                chk = days.indexOf(day)-now_day;
                if(chk < 0) chk += 7;
            }
        });

        $(this).data('index', chk);
        if(start_index > chk){
            start_index = chk;
            start_position = i;
        }
    });

    $(".show-item").map(function(i){

        if( i < start_position ){
            $(this).appendTo($('#list'));
        }

    });

    var kakaoShareData = {
        imageUrl: '',
        title: "인기 쇼호스트 방송 모아보기",
        description: programs.join(", "),
        buttonTitle: '쇼호스트 방송보기',
        iosScheme:"shoppingmoa://next_url=http://o.buzzni.com/hsmoa/showlist?from=kakaotalk" ,
        androidScheme:"shoppingmoa://com.buzzni.android.subapp.shoppingmoa&next_url=http://o.buzzni.com/hsmoa/showlist?from=kakaotalk",
        iosMarket:"",
        androidMarket:"referrer=share_kakao_showlist_"+User.id
    };

    $.Fastclick($(".kakaotalk"), function(){

        var imgUrl = $(".show-item thum img").eq(0).attr("src").replace("http://thum.buzzni.com/unsafe/600x160/center/smart/", "").replace("show_", "show_main_");
        try{
            var idx = Math.floor($(".show-item").length * Math.random());
            imgUrl = $(".show-item thum img").eq(idx).attr("src").replace("http://thum.buzzni.com/unsafe/600x160/center/smart/", "").replace("show_", "show_main_");
        }catch (err){

        }

        kakaoShareData.imageUrl = imgUrl;

        sendStat("share/showlist", {cate:"kakaotalk"}, function(){
            $.Share.kakaotalk({
                templateId: 5968,
                templateArgs:kakaoShareData,
                installTalk:true
            });
        });
    });
});
</script>
{% endblock %}
