{% extends "native/__basic.html" %}
{% block title %}추석 음식 고칼로리 BEST 7{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ media }}/css/share.css?v=1">
<style>
body,html {background: #fff;}
#container {margin: 0 auto; max-width: 662px;}

.bt-search {position: relative; text-align: center; margin:-4% 5% 9% 5%; display: block; height:48px; line-height: 48px; border-radius: 30px; background: #894a11;  box-shadow: 1px 3px 0 rgba(135,74,26,0.3); border: 0; -webkit-appearance: none; width: 90%;
 color: #fff; font-weight: bold; font-size: 18px;}
.bt-search:after {content:' 보러가기'; font-weight: normal;}
.bt-search:before {content:'〉'; font-weight: normal; position: absolute; right:20px; }

.b1{background: #fde0c9;}
.b2{background: #fcc695;}
.b3{background: #f4e9d1;}

.bt-rb{position: absolute; right:5%; bottom:13%; width:90%; height:10%; background: none; border: 0; -webkit-appearance: none;}
.bt-tag{display:inline-block; margin:16px 4px 24px; border:0; color:#fff;  font-size:13px; border-radius:20px; line-height: 13px; padding: 7px 13px 6px 13px; -webkit-appearance: none; box-shadow: 0 0.5px 3px #777;background: #ca434e;}

.bt-star{display:inline-block; border: 0; margin:10px 0; width:12%; height:0; padding: 12% 0 0; background: url("{{ thum }}/{{ img }}/star_off.png") no-repeat 50% 50%; background-size: 110% 110%;  -webkit-appearance: none;}
.bt-star.on{ background: url("{{ thum }}/{{ img }}/star_on.png") no-repeat 50% 50%; background-size: 110% 110%; }

.lazy {opacity: 0; min-height: 160px;}
</style>
{% endblock %}
{% block bt_up %}
    <div id="bt_up" class="" style="margin-bottom:-10px; right:0px; bottom: 12px; position:fixed; z-index: 99999;">
        <a class="disblock" style="margin-bottom: -5px;" href="javascript:snsShare('kakaotalk','scroll');"><img src="{{ cdn_img }}/2016/bt_sharekakao.png" style="height:50px;height:50px;opacity: 0.83;"></a>
        <a class="disblock" href="javascript:move_to_up();"><img src="{{ cdn_img }}/2016/bt_top.png" style="height:50px;height:50px;"></a>
    </div>
    <script type="text/javascript">
        function move_to_up(){
            if ( $(window).scrollTop() > 3000 ){
                $('html,body').animate({scrollTop: $('body').offset().top}, 0);
            }else{
                $('html,body').animate({scrollTop: $('body').offset().top}, 300);
            }
        }
    </script>
{% endblock %}
{% block container %}
<div id="container">



    <a href="/event/moaweek?xid={{ request.META.HTTP_XID }}&token={{ request.META.HTTP_TOKEN }}&app_version={{ request.META.HTTP_V }}" >
    테스트 {{ request.META.HTTP_V }}
    </a>

    <div class="position-relative">
        <img src="{{ thum }}/smart/https://s26.postimg.org/5bxay91q1/image.png">
    </div>
    <iframe width="410" height="230" src="https://www.youtube.com/embed/9lf3prgn58k" frameborder="0" allowfullscreen></iframe>
    <div class="lazy position-relative b1" data-img="{{ thum }}/smart/https://s26.postimg.org/fai9kqb5l/image.png">
        <img class="lazy-load">
        <button class="bt-search" onclick="view_search('스테비아', event_name)">스테비아</button>
        <div class="clear-1"></div>
    </div>
    <div class="lazy position-relative b2" data-img="{{ thum }}/smart/https://s26.postimg.org/4dgxvyoe1/image.png">
        <img class="lazy-load">
        <button class="bt-search" onclick="view_search('보이차', event_name)">보이차</button>
        <div class="clear-1"></div>
    </div>
    <div class="lazy position-relative b3" data-img="{{ thum }}/smart/https://s26.postimg.org/k0879c261/image.png">
        <img class="lazy-load">
        <button class="bt-search" onclick="view_search('풋사과', event_name)">풋사과</button>
        <div class="clear-1"></div>
    </div>
    <div class="lazy position-relative" data-img="{{ thum }}/smart/https://s26.postimg.org/ojkfuuk1l/image.png">
        <img class="lazy-load">
        <div class=" align-center" style="padding:20px; margin:20px ; border-radius: 15px; background: #fafafa;">
            <div class="font-15 c-black strong">추석 음식 칼로리 확~ 잡아주는 꿀팁,<br/>도움되셨나요?</div>
            <div>
                <button class="bt-star"></button>
                <button class="bt-star"></button>
                <button class="bt-star"></button>
                <button class="bt-star"></button>
                <button class="bt-star"></button>
            </div>
            <button class="bt-star on" style="display: none;"></button>
        </div>
    </div>
</div>
    <section class="sns-share" style="padding:5px;">
        <button onclick="snsShare('kakaotalk','button');" id="share_block" class=" align-center font-18 strong"
                style="position: relative;background: #ffed32;height:48px; line-height: 48px; margin:5%; width: 90%; border: 0; -webkit-appearance: none; box-shadow: 1px 3px 0 rgba(135,74,26,0.3); border-radius: 30px;">
            친구에게 알려주기
            <img src="http://thum.buzzni.com/unsafe/96x0/smart/http://m.ui.hsmoa.com/media/img/share_kakaotalk.png" style="width:38px; vertical-align: top; margin: 2px -18px 0 0; ">
        </button>
    </section>

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ media }}/js/kakao.custom.js?v=4"></script>
<script>
    var event_name = "contents_20171003";
    var disScroll;
    var is_star = false;
    var star_count = 0;

    $(window).scroll(function(){
        disScroll = true;
    });
    setInterval(function () {
        if(disScroll){
            disScroll = false;
            $(".lazy").each(function(i){
                if ($(this).offset().top - $(window).scrollTop() - $(window).height() < 300 && $(this).css("opacity") == 0){
                    $(this).children("img.lazy-load").attr("src", $(this).attr("data-img"));
                    $(this).fadeTo(0,1);
                    return;
                }
            });
        }
    },100);


    $(".bt-star").on("click", function(){
        $(".bt-star").attr("disable", true);
        var num = $(this).index()+1;
        $(".bt-star").each(function(i){
            if(i < num){
                $(this).addClass("on");
            }else{
                $(this).removeClass("on");
            }
        });

        ajax_get("/stat/event/"+event_name,{"cate":"star", "type":num}, function(re){
            if(!is_star){
                is_star=true;
                native_send_toast("소중한 의견 감사합니다.");
                $(".bt-star").removeAttr("disable");
            }
        });
    });


        Kakao.init('7c306230b90605de8182a56318479985');
        var snsType= {
            "kakaotalk":{
                "app_name_ios":"kakaotalk",
                "app_name_android":"com.kakao.talk",
                "ios_key":"id362057947"
            }
        };
        var snsKey = "";
        var share_param = "";
        function appCheck(type){

            snsKey = type;
            var app_name = "";
            var version = user_app_version.split("_")[0];
            if ((is_android_app() && version >= "9.1.0") || is_ios_app() && version >= "9.0.5"){
                if(is_android_app()){
                    app_name = snsType[type].app_name_android;
                    window.BuzzniHybrid.checkApp(app_name, 'native_check_app_callback'); // window.HybridApp.sendMessage(msg);
                }else if(is_ios_app()){
                    app_name = snsType[type].app_name_ios;
                    var re = "{'app_name':'"+app_name+"','callback':'native_check_app_callback'}";
                    document.location = "BuzzniHybrid:checkApp:"+re;
                }
            }else{
                if(snsKey=="kakaotalk"){
                    send_kakaotalk(share_param);
                }
            }
        }

        function snsShare(type,param){
            share_param = param;
            appCheck(type);
        }

        //공유기능 콜백
        function native_check_app_callback(info){
            if(info=="false" || info == false){
                if(is_android_app()){
                    window.location = "market://details?id="+snsType[snsKey].app_name_android;
                }else if(is_ios_app()){
                    window.location = "http://itunes.apple.com/app/"+snsType[snsKey].ios_key;
                }
            }else{
                send_kakaotalk(share_param);
            }
        }

        var domain = "http://o.buzzni.com";
        var short_url_app = domain+"/event/"+event_name.split("_")[0]+"?date="+event_name.split("_")[1]+"&from=kakaotalk";
        var talk_desc = "칼로리 폭발 추석 음식! 확~ 잡는 꿀팁, 궁금하다면?";
        function send_kakaotalk(flag) {
            ajax_get("/stat/event/"+event_name,{"cate":"share_kakao", "flag":flag}, function(re){
                Kakao.Link.sendTalkLink({
                    label: talk_desc,
                    image: {
                        src: '{{ thum }}/smart/https://s26.postimg.org/oamv4x795/kakao.png',
                        width: '660',
                        height: '554'
                    },
                    appButton: {
                        text: "꿀팁 보러가기",
                        execParams:{
                            iphone:{
                                nav:"hide",
                                tabbar:"hide",
                                title: talk_desc,
                                next_url: short_url_app
                            },
                            ipad:{
                                nav:"hide",
                                tabbar:"hide",
                                title: talk_desc,
                                next_url:short_url_app
                            },
                            android:{
                                'shoppingmoa://com.buzzni.android.subapp.shoppingmoa':"&next_url="+short_url_app
                            }
                        },
                        marketParams:{
                            android:{
                                referrer:"share_kakao_"+event_name
                            }
                        }
                    }
                });
            });
        }
</script>
{% endblock %}