{% extends "hsmoa/__base.html" %}
{% load humanize %}
{% load filters %}
{% block title %}인기 TOP100{% endblock %}
{% block css %}
<style>
    body {padding-top: 50px;}
    nav{position:fixed;box-sizing: border-box; width:100%; padding:0; z-index: 99999; top:0; display:table; height: 50px; box-shadow: 0 0 2px rgba(0,0,0,0.2); line-height: 17px; background: #f9f9f9; }
    .nav-item { position: relative; display: table-cell; vertical-align:middle; text-align: center; width:14%; height: 50px; overflow:hidden; font-size: 13px; line-height:1.3em; opacity: 0.4;  }
    .nav-item:first-child{font-size: 17px;}
    .nav-item.on {opacity: 1; color: #19bdc4; background: #fff; }
    .nav-item img { width: 26px; height: 26px;margin:0 auto; margin-bottom: 1px;}
    .nav-item .img-off {display: block; }
    .nav-item .img-on {display: none; }
    .nav-item.on .img-off {display: none;}
    .nav-item.on .img-on {display: block;}
</style>
{% endblock %}
{% block container %}
<nav>
    <div class="nav-item on" data-cate="">전체</div>
    <div class="nav-item" data-cate="패션"><img src="{{ cdn_img }}/2016/cate01.png" class="img-off"><img src="{{ cdn_img }}/2016/cate01_on.png" class="img-on">패션</div>
    <div class="nav-item" data-cate="뷰티"><img src="{{ cdn_img }}/2016/cate09.png" class="img-off"><img src="{{ cdn_img }}/2016/cate09_on.png" class="img-on">뷰티</div>
    <div class="nav-item" data-cate="생활"><img src="{{ cdn_img }}/2016/cate04.png" class="img-off"><img src="{{ cdn_img }}/2016/cate04_on.png" class="img-on">생활</div>
    <div class="nav-item" data-cate="가전"><img src="{{ cdn_img }}/2016/cate07.png" class="img-off"><img src="{{ cdn_img }}/2016/cate07_on.png" class="img-on">가전</div>
    <div class="nav-item" data-cate="식품"><img src="{{ cdn_img }}/2016/cate08.png" class="img-off"><img src="{{ cdn_img }}/2016/cate08_on.png" class="img-on">식품</div>
</nav>

<div id="program"></div>
<div class="c-gray-3" style="margin:10px; line-height: 14px; font-size:11px;">순위는 알람/구매 횟수와 방송시간을 반영하여 매일 업데이트 됩니다.</div>
<div id="scroller"></div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var $scroller = $("#scroller");
    var cateList = ['패션','뷰티','생활','가전','식품'];
    
    var cate = "{{ request.GET.cate|urldecode }}";
    cate = cateList.indexOf(cate) >= 0 ? cate : "";

    var params = {skin:"hsmoa/skin/_tvrank_list", cate:cate, num:20, abtest:'a'};
    if(cate == "") {
        $('nav div:nth-child(1)').addClass('on');
    } 
    else {
        var $navItem = $('.nav-item');
        $navItem.removeClass('on');
        $navItem.filter('[data-cate="' + cate + '"]').addClass('on');
    } 
    
    $scroller.Scroller({
        defaults:{
            //scrollEventHeight: 600,
            //ajaxType:'POST'
            //maxPage:0,
            //autoStart: true,
            //minDataLength : 300,
            //ajaxType : 'GET',
            //loader:'<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div><div class="bounce4"></div><div class="bounce5"></div></div>'
        },
        data:params,
        url:"rpc/popular_entity/getList",
        scrolling:function(re){
            $scroller.append(re);
            if(params.cate == ''){
                //1페이지 불러온후 10번째 ~11번째 사이에 추천상품 노출
                loadReco();
            }
        },
        scrollEnd:function(){

        },
        scrollReset:function(){
            $scroller.empty();
        }
    });
    $.Fastclick($(".nav-item"), function(){
        params.cate = $(this).data('cate');
        $(".nav-item.on").removeClass("on");
        $(this).addClass("on");
        $scroller.Scroller.listReset();
    });

    //ab테스트 통계
    sendStat("test/hsmoa4207/show", {
        abtest: User.abtest
    });

    //인기 프로그램
    sendApi("rpc/entity/getTopProgramList", {skin:"hsmoa/skin/_tvrank_program"}, function(re){
        if(re.length>100){
            $("#program").html(re).show();
        }
    });


    var loadReco = (function () {
        var _data = "";
        var _isLoad = false;

        var load = function () {
            if ( _isLoad ) {
                insert();
                return;
            }

            _isLoad = true;
            sendApi("rpc/reco/recoEntity",
                {skin:"hsmoa/skin/_tvrank_reco", num:6, flag:Math.ceil($(window).width()/150)},
                function(re){
                 _data = re;
                 insert();
            } );
        };

        var insert = function () {
            if( _data.length > 100 ){
                if( $('#scroller').children().length > 9 && $('#scroller .tvrank-reco-block').length == 0 ){
                    $('#scroller').children().eq(9).after( _data );
                }
            }
        };

        return load;
    })();

});
</script>
{% endblock %}