{% extends "hsmoa/__base.html" %}
{% block title %}내 프로필{% endblock %}
{% block css %}
<style>
    {# 개인정보 profile section #}
    .profile {background: #fff; box-shadow: 0 1px 1px rgba(0,0,0,0.15);}

    .right-pencil { position: relative;}
    .right-pencil:after { content: ""; position: absolute; background-image: url(http://thum.buzzni.com/unsafe/60x0/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/687044-200.png); left: 100%; width: 16px; height: 16px; background-size: contain; opacity: 0.4; bottom: 3px; margin-left: 5px;}

    .section {display:table; table-layout: fixed; width:100%; box-sizing: border-box; border-top: 1px solid #eee;padding:0 18px; }

    .section > div { display: table-cell; vertical-align: middle; height: 44px; width: 50%; }
    .section > div:first-child { color:#333; font-size:15px;}
    .section > div:nth-child(2) { text-align: right;}
    .section .icon {width:15px; height:15px; vertical-align: top; opacity: 0.4; margin: 0 8px 0 -2px;}
    .section .arrow {width:22px; background: url('{{ cdn_img }}/2016/icon_next.png') 100% 50% no-repeat; background-size: 6px 14px; opacity: 0.4;}

    .info-normal{color:#999; font-size:14px;}

    .info-gender:after {content:""; color:#999; font-size:14px;}
    .info-gender.female:after {content:"여성"; }
    .info-gender.male:after {content:"남성"; }

    {# 활동정보 card #}
    .maintitle { font-size: 14px; padding: 18px 14px 0 14px; text-align: center; opacity: 0.7; font-weight: bold; }
    .maintitle .icon {width:15px; height:15px; vertical-align: top;  margin: 0 3px 0 -2px;}

    .card{
        min-height:100px; background: #fff; margin: 12px; padding:9px; color: #666; font-size: 14px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        animation: animationFrames ease-out 0.6s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode:forwards; /*when the spec is finished*/
        -webkit-animation: animationFrames ease-out 0.6s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    }
    .card .action { font-size: 13px; padding:2px;line-height: 1.3em;}
    .card .more { display:none; background: url('{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/712377-200.png') 50% 50% no-repeat; background-size:16px 16px;
        height:22px; margin-top: -3px; width:22px; padding:3px; border: 0; -webkit-appearance: none; float: right; opacity: 0.4;}

    .msg-outlink {color:#888; float:right; margin: 7px 0 0 8px;}

    .product {  margin-top:8px; width:100%;  position:relative; }
    .product:before {content:""; box-sizing: border-box; display: block !important; width:100%; height:100%; border:1px solid #000; position: absolute; top:0; left:0; opacity: 0.1}
    .product .table {display: table; table-layout: fixed;width:100%;}
    .product .thum {width:80px;height:80px; display: table-cell; vertical-align: middle;}
    .product .detail { padding:10px; display: table-cell; vertical-align: middle;}
    .product .name { font-size: 14px; color:#333; line-height: 1.25em; max-height:2.4em; overflow: hidden; word-break: break-all;}
    .product .price { font-size: 14px; color:#000; font-weight: bold; margin-top: 5px; float:left; line-height: 1.2em;}
    .product .price:after { content:"원"; font-size: 11px; color:#000; font-weight: bold; }

    @keyframes animationFrames{
      0% {
        opacity:0;
        transform:  translate(0px,70px)  ;
      }
      100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
      }
    }

    @-webkit-keyframes animationFrames {
      0% {
        opacity:0;
        -webkit-transform:  translate(0px,70px)  ;
      }
      100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
      }
    }

    .dim { display: none; position: fixed; z-index: 99999; width: 100%; top:0; height:100%; padding:3px 0; background: #111;  }
    #photo_popup { display: none; position: fixed; z-index: 100000; width: 280px; left:50%; margin-left:-140px; background:#fff; border-radius: 5px; overflow: hidden;  height:200px; top:50%; margin-top: -90px; opacity: 0; }
    #photo_popup .list {text-align: center; height:48px; line-height: 48px; font-size: 17px; box-shadow: 0 -1px 0 #ddd; padding: 0 20px;}
    #photo_popup .list.title {font-size:20px; font-weight: bold; height:56px; line-height: 56px; }
    #photo_profile {display: none; position: fixed; z-index: 100001; width: 90%; top: 50%; left:5%; margin-top: -50%; background-color: #000000; padding-bottom: 100%; background-size: cover;}
</style>
{% endblock %}
{% block container %}
<div id="photo_popup" class="position-relative">
    <a class="bt-close position z-99 right-7 top-7 padding" href="javascript:$('.dim, #photo_popup').fadeOut(300);"><img src="{{ cdn_img }}/ic_close.png" style="height:30px;" /></a>
    <div class="list title">프로필 사진</div>
    <div class="list edit">사진 변경</div>
    <div class="list show">사진 보기</div>
    <div class="list delete">사진 삭제</div>
</div>
<div id="photo_profile"></div>
<div class="dim"></div>
<div class="profile">
    <div class="position-relative " style="">
        <div class="position" style="z-index: 0;width:100%; height:50%; background: url('{{ thum }}/smart/http://cdn.wallpapersafari.com/6/77/ojQBPk.jpg') 50% 50%; background-size: 414px auto;">
        </div>
        <div class="position" style="z-index: 1;width:100%; height:100%; background: #fff; opacity: 0.4;"></div>
        <div class="align-center position-relative" style="z-index: 2">
            <div class="clear-9" style="height:72px;"></div>
            <div>
                <a href="javascript:upload_photo();">
                <div class="overflow shadow-light" style="display:inline-block; border-radius:90px;height:100px;width:100px;  background: #fff;">
                    <img id="user_img" src="" onerror='this.src="{{ thum }}/240x0/smart/http://dergipark.gov.tr/assets/app/images/buddy_sample.png"'>
                </div>
                <button class="bt" style="border: 1px solid #ddd; border-radius: 50%; background: #f7f7f7 url('{{ thum }}/60x0/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/476-200.png') 50% 47% no-repeat;
                                background-size:14px 14px; height:28px; width:28px; position: absolute; margin:72px 0 0 -26px;"></button>
                </a>
            </div>
            <div class="clear-9"></div>
            <div class="clear-3"></div>
                <div class="margin-auto">
                    <span id="info_nickname" class="link-service right-pencil c-black font-20 strong" url-path="user/profile/edit" data-from="profile" data-field="nickname" data-value=""></span>
                </div>
            <div class="clear-5"></div>
            <div class="clear-9"></div>
            <div class="clear-9"></div>
        </div>
    </div>

    <div class="section link-service" url-path="user/profile/edit" data-from="profile" data-field="gender" data-value="">
        <div><img class="icon" src="{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/684405-200.png">성별</div>
        <div id="info_gender" class="info-gender"></div>
        <div class="arrow"></div>
    </div>
    <div class="section link-service" url-path="user/profile/edit" data-from="profile" data-field="birth" data-value="">
        <div><img class="icon" src="{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/15082-200.png">생일</div>
        <div id="info_birth" class="info-normal"></div>
        <div class="arrow"></div>
    </div>
    <div class="section link-service" url-path="user/profile/edit" data-from="profile" data-field="cate" data-value="">
        <div><img class="icon" src="{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/17269-200.png">직업</div>
        <div id="info_cate" class="info-normal"></div>
        <div class="arrow"></div>
    </div>
    <div class="section link-service" url-path="user/profile/edit" data-from="profile" data-field="prov" data-value="">
        <div><img class="icon" src="{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/626096-200.png">지역</div>
        <div id="info_prov" class="info-normal"></div>
        <div class="arrow"></div>
    </div>
</div>
<div id="history">
    <div class="maintitle"> <img class="icon" src="{{ thum }}/90x90/smart/https://d30y9cdsu7xlg0.cloudfront.net/png/534759-200.png"> 내 활동내역</div>
</div>
<div class="clear-5"></div>
{% endblock %}
{% block js %}
<script>
var profile_img = "";
var nickname = "";
var gender = "";
var birth = "";
var cate = "";
var prov = "";
var last_action = "";
var user_history = {};
var Profile = (function(){
    //variables
    var times = [];
    var complete_api = 0;

    //함수
    var load_user_history = function(){
        sendApi("visit/getList", {"action": "entity","order": "update_date desc","num": 20,"page": 1}, function (re) {
            if(re.result.data ){
                if(re.result.data.length> 0 ) {
                    var data = re.result.data[0];
                    data["api_name"] = "entity_visit";
                    user_history[data.update_date] = data;
                    times.push(re.result.data[0].update_date);
                }
            }
            complete_api++;
            load_card();
        });
        sendApi("alarm_action/getList", {"service": "tvshop", "action": "entity", "source": "future", "order": "create_date desc", "num": 15,"page": 1}, function (re) {
            if(re.result.data ){
                if(re.result.data.length> 0 ){
                    var data = re.result.data[0];
                    data["api_name"] = "alarm_action";
                    data.update_date = data.update_date || data.create_date;
                    user_history[data.update_date] = data;
                    times.push(re.result.data[0].update_date);
                }
            }
            complete_api++;
            load_card();
        });
        sendApi("user_search_click/getList", {"num": 1,"page": 1}, function (re) {
            if(re.result.data ){
                if(re.result.data.length> 0 ) {
                    var data = re.result.data[0];
                    data["api_name"] = "search_visit";
                    user_history[data.update_date] = data;
                    times.push(re.result.data[0].update_date);
                }
            }
            complete_api++;
            load_card();
        });
    };
    var load_card = function(){
        if(complete_api < 3) return;
        if(times.length == 0){
            $("#history").append("<div class='margin-9 align-center padding-12 c-gray font-13'>최근 활동내역이 없습니다.</div>")
            return;
        }
        for (var i = 0; i< times.length; i++){
            //console.log(user_history[times.sort().reverse()[i]]); //첫번째 행동 데이터
            var data = user_history[times.sort().reverse()[i]];
            if(data.api_name == "search_visit"){
                markup_searchvisit(data);
            }else if(data.api_name == "entity_visit"){
                markup_entityvisit(data);
            }else if(data.api_name == "alarm_action"){
                markup_alarmaction(data);
            }

            $(".card img").attr("onerror", "this.src='http://thum.buzzni.com/unsafe/640x0/center/smart/http://cache.m.ui.hsmoa.com/media/img/noimg3.png'");
        }
    };
    var markup_searchvisit = function(data){
        var re = "<div class='card'>";
        re += "<button class='more'></button>";
        re += "<div class='action'>"+toDateString(data.update_date)+" 검색상품을 봤어요.</div>";
        re += "<div class='product link-buy' url-path='searchclick' data-from='user_profile' data-id='"+data.pid+"' data-url='"+data.url+"' data-site='"+data.site_name+"' data-img='"+data.img+"' data-query='"+data.query+"' data-name='"+data.name+"' data-price='"+data.price+"'><div class='table'>";
        re += "<div class='thum'><img src='{{ thum320 }}/"+data.img+"'></div>";
        re += "<div class='detail'>";
        re += "<div class='name'>"+data.name+"</div>";
        re += "<div class='price'>"+commify(data.price)+"</div>";
        re += "<div class='msg-outlink'>*클릭 시 브라우저로 이동</div>";
        re += "</div></div></div></div>";

        $("#history").append(re);
    };

    var markup_entityvisit = function(data){
        var re = "<div class='card'>";
        re += "<button class='more'></button>";
        re += "<div class='action'>"+toDateString(data.update_date)+" 방송상품을 봤어요.</div>";
        re += "<div class='product link-service' url-path='item' data-from='user_profile' data-entity_id='"+data.entity.id+"' data-site='"+data.entity.genre2+"' data-price='"+data.entity.price+"' data-cate='"+data.entity.cate1+"' data-live=''><div class='table'>";
        re += "<div class='thum'><img src='{{ thum320 }}/"+data.entity.img+"'></div>";
        re += "<div class='detail'>";
        re += "<div class='name'>"+data.entity.name+"</div>";
        re += "<div class='price'>"+commify(data.entity.price)+"</div>";
        re += "</div></div></div></div>";

        $("#history").append(re);
    };
    var markup_alarmaction = function(data){
        var re = "<div class='card'>";
        re += "<button class='more'></button>";
        re += "<div class='action'>"+toDateString(data.update_date)+" 알람을 설정했어요.</div>";
        re += "<div class='product link-service' url-path='item' data-from='user_profile' data-entity_id='"+data.entity.id+"' data-site='"+data.entity.genre2+"' data-price='"+data.entity.price+"' data-cate='"+data.entity.cate1+"' data-live=''><div class='table'>";
        re += "<div class='thum'><img src='{{ thum320 }}/"+data.entity.img+"'></div>";
        re += "<div class='detail'>";
        re += "<div class='name'>"+data.entity.name+"</div>";
        re += "<div class='price'>"+commify(data.entity.price)+"</div>";
        re += "</div></div></div></div>";

        $("#history").append(re);

    };
    var toDateString = function(_time){
        var _t = _time.toString();
        var _d1 = new Date(_t.slice(4,6) + "/" + _t.slice(6,8) + "/"+_t.slice(0,4) );
        var _d2 = new Date();
        var _timeDiff = Math.abs(_d1.getTime() - _d2.getTime());
        var diffday = parseInt(_timeDiff/(1000*3600*24));
        if(diffday == 0){
            return "오늘"
        }else if(diffday == 1){
            return "어제"
        }else if(diffday < 30){
            return diffday+ "일 전 "
        }else{
            return _t.slice(0,4) + "년 " + _t.slice(4,6) + "월 " + _t.slice(6,8) + "일 "
        }
    };
    var commify = function(n) {
      var reg = /(^[+-]?\d+)(\d{3})/;   // 정규식
      n += '';                          // 숫자를 문자열로 변환

      while (reg.test(n))
        n = n.replace(reg, '$1' + ',' + '$2');

      return n;
    };
    //리스너
    var listener = function(){
    };
    //리턴
    return {
        init : function(){
            reload();
            load_user_history();
            listener();
        }
    }
})();

$(document).ready(function(){
    Profile.init();
});

function reload(){
    if(last_action == "photo"){
        last_action = "";
    }else{
        sendApi("user/getInfo", {target_id:User.id}, function(re){
            if(re.success){
                var data = re.result;

                profile_img = "{{ thum }}/640x640/center/" + data.img;
                gender = data.gender || '';
                birth = data.birth || '';
                cate = data.cate || '';
                prov = data.prov || '';
                nickname = data.nickname || '';

                $("#user_img").attr("src", "{{ thum }}/320x320/smart/" + data.img);
                $("#info_nickname").data('value', data.nickname);
                $(".section[data-field=gender]").data('value', gender);
                $(".section[data-field=birth]").data('value', birth);
                $(".section[data-field=cate]").data('value', cate);
                $(".section[data-field=prov]").data('value', prov);

                $("#info_gender").removeClass("male female").addClass(gender);
                $("#info_birth").text( formatBirth(birth) );
                $("#info_cate").text(cate);
                $("#info_prov").text(prov);
                $("#info_nickname").text(nickname || "손님");
            }
        });
    }
    function formatBirth(date){
        var s = date.toString();
        return (s === "" ? "" : s.slice(0, 4)+"."+s.slice(4, 6)+"."+s.slice(6,8));
    }
}

    $(".dim").on("click", function() {
        $(".dim").fadeOut(300);
        $("#photo_popup").fadeOut(300);
        $("#photo_profile").fadeOut(300);
    });
    $("#photo_popup .list").on("click", function(){
        var $this = $(this);

        $("#photo_popup").fadeOut(300);
        if($this.hasClass("edit")){
            $(".dim").fadeOut(300);
            last_action = "photo";
            native_upload_photo();
        }else if($this.hasClass("show")){
            last_action = "photo";
            $(".dim").fadeTo(300, 0.85);
            $("#photo_profile").css('background-image', 'url('+(profile_img || "{{ thum }}/240x0/smart/http://dergipark.gov.tr/assets/app/images/buddy_sample.png")+')');
            $("#photo_profile").fadeIn(300);
        }else if($this.hasClass("delete")){
            $(".dim").fadeOut(300);
            sendApi("user/update", {"fld":"img","value":""}, function(re){
                if (re.success == true){
                    $("#user_img").attr("src", "");
                    profile_img = "";
                }else{
                    alert("네트워크 오류로 중단되었습니다. 잠시 후 다시 시도해주세요.");
                }
            });
        }
    });
    function upload_photo() {
        $(".dim").fadeTo(300, 0.6);
        $("#photo_popup").fadeTo(300, 1);
    }

    function setPictureUrl(url) {
        var url_ext = url.split(",");
        var img_code = url_ext[0];
        var img_ext = img_code.split("");
        var user_img = "http://img.buzzni.com/"+img_ext[0]+"/"+img_ext[1]+"/"+img_ext[2]+"/"+img_code;

        sendApi("user/update", {"fld":"img","value":user_img}, function(re){
            if (re.success == true){
                profile_img = "{{ thum }}/640x640/center/" + user_img;
                $("#user_img").attr("src", "{{ thum }}/320x320/smart/"+user_img);
            }else{
                alert("사진 업로드에 실패하였습니다. 잠시 후 다시 시도해주세요.");
            }
        });
    }
</script>
{% endblock %}