/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;  padding: 0;  border: 0;  outline: 0;  font-size: 100%;  vertical-align: baseline;  background: transparent;  }
ol, ul, li {  list-style: none;  }

/* remember to define focus styles! */
:focus {  outline: 0;  }

/* remember to highlight inserts somehow! */
ins {  text-decoration: none;  }
del {  text-decoration: line-through;  }
/* tables still need 'cellspacing="0"' in the markup */
table {  border-collapse: collapse;  border-spacing: 0;  }
* {  font-size:13px;  font-family: inherit;  }
html{  line-height: 1;  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;  -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none;  }
body{-webkit-touch-callout:none;border:0;margin:0;padding:0;background:#eaedef;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none}
img{max-width: 100%; vertical-align: top; border:0;}
button {-webkit-appearance: none; border:0; background: none; padding:0; margin:0; }

/* service&buy link */
.link-buy, .link-service, .alarm-keyword, .alarm-entity {cursor: pointer !important;}

/* custom element */
thum, price, name, detail, item, alarm, rank { display: block; box-sizing: border-box;}
site {display: inline-block;}
name {width: 100%; white-space: normal; word-break: break-word;} /* safari에서 name이 잘리는 현상 fix */

/* fix */
.fix-image-quality:after{ font-size:1px;color:transparent;content:'.';} /* fixed엘리먼트 이미지깨짐방지 */

/* table */
.display-table{display:table;width:100%; box-sizing: border-box;}
.display-table-fixed{display:table;width:100%;table-layout:fixed;box-sizing: border-box;}
.table-cell{display:table-cell;vertical-align:top;}
.table-cell-line{display:table-cell;vertical-align:top;width:5px;}
.table-cell-9{display:table-cell;vertical-align:top;width:9px;}

/* th */
.th3-1{width:33%;}.th3-2{width:66%;}.th4-1{width:25%;}.th4-3{width:75%;}.th5-1{width:20%;}.th5-2{width:40%;}.th5-3{width:60%;}.th5-4{width:80%;}.th2-1{width:50%;}.th-1{width:100%;}.th6-1{width:17%;}.th6-2{width:34%;}.th6-3{width:50%;}.th6-4{width:67%;}.th6-5{width:84%;}.th7-1{width:14%;}

/* block */
.padding-0{padding:0;}
.margin-0{margin:0;}
.padding{padding:5px;}
.margin{margin:5px;}
.padding-1{padding:1px;}
.padding-3{padding:3px;}
.padding-7{padding:7px;}
.padding-9{padding:9px;}
.padding-12{padding:12px;}
.margin-1{margin:1px;}
.margin-3{margin:3px;}
.margin-7{margin:7px;}
.margin-9{margin:9px;}
.margin-12{margin:12px;}
.margin-left{margin-left:5px;}
.margin-right{margin-right:5px;}
.margin-both{margin-left:5px;margin-right:5px;}
.margin-auto{margin:auto;}
.overflow{overflow:hidden;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-bottom{vertical-align:bottom;}
.align-top{vertical-align:top;}
.align-middle{vertical-align:middle;}
.pull-right{float:right;}
.pull-left{float:left;}
.radius-3{border-radius:3px;}
.radius{border-radius:5px;}
.radius-9{border-radius:9px;}
.radius-top{border-radius:5px 5px 0 0;}
.radius-bottom{border-radius: 0 0 5px 5px;}
.radius-left{border-radius:5px 0 0 5px ;}
.radius-right{border-radius: 0 5px 5px 0;}
.border-0{border:0;}
.border{border:1px solid #dddddd;}
.border-bottom{border-bottom:1px solid #dddddd;}
.border-top{border-top:1px solid #dddddd;}
.border-right{border-right:1px solid #dddddd;}
.border-left{border-left:1px solid #dddddd;}
.line-bottom{background: #ddd; height:1px; margin-top: -1px;
    -webkit-transform: scale(1,.5);-webkit-transform-origin: 50% 100%;
    transform: scale(1,.5);transform-origin: 50% 100%;}
.line-top{background: #ddd; height:1px; margin-bottom: -1px;
    -webkit-transform: scale(1,.5);-webkit-transform-origin: 50% 0%;
    transform: scale(1,.5);transform-origin: 50% 0%;}

/* clear */
.clear{clear:both;}
.clear-1{clear:both;height:1px;}
.clear-2{clear:both;height:2px;}
.clear-3{clear:both;height:3px;}
.clear-5{clear:both;height:5px;}
.clear-7{clear:both;height:7px;}
.clear-9{clear:both;height:9px;}
/* display */
.disblock{display:block;}
.disline{display:inline-block;}
.block-hide{display:none;}
.block-show{display:block;}
/* font */
.strong{font-weight:bolder;}

.b-black{ background:#000000;}
.b-white{ background:#ffffff;}

.b-red-1{ background:#f25862;}
.b-red-2{ background:#eb3e3e;}
.b-red-3{ background:#d91414;}
.b-red-4{ background:#ac0000;}

.b-mint-1{ background:#5ecfd6;}
.b-mint-2{ background:#38b9c1;}
.b-mint-3{ background:#2cabb3;}

.b-gray-1{ background:#dddddd;}
.b-gray-2{ background:#bbbbbb;}
.b-gray-3{ background:#999999;}
.b-gray-4{ background:#666666;}
.b-gray-5{ background:#333333;}

.b-coolgray-1{ background:#f5f6f8;}
.b-coolgray-2{ background:#eaedef;}
.b-coolgray-3{ background:#ccd2da;}
.b-coolgray-4{ background:#98a1af;}

.b-purple{ background:#ae5af8;}

/* textcolor */
.c-black{ color:#000000;}
.c-white{ color:#ffffff;}

.c-red-1{ color:#f25862;}
.c-red-2{ color:#eb3e3e;}
.c-red-3{ color:#d91414;}
.c-red-4{ color:#ac0000;}

.c-mint-1{ color:#5ecfd6;}
.c-mint-2{ color:#38b9c1;}
.c-mint-3{ color:#2cabb3;}

.c-gray-1{ color:#dddddd;}
.c-gray-2{ color:#bbbbbb;}
.c-gray-3{ color:#999999;}
.c-gray-4{ color:#666666;}
.c-gray-5{ color:#333333;}

.c-coolgray-1{ color:#f5f6f8;}
.c-coolgray-2{ color:#eaedef;}
.c-coolgray-3{ color:#ccd2da;}
.c-coolgray-4{ color:#98a1af;}

.c-purple{ color:#ae5af8;}

/* position */
.position-relative{position:relative;}
.position{position:absolute;}
.position-fixed{position:fixed;}
.position-top{position:fixed;top:0;width:100%;z-index:998;}
.position-bottom{position:fixed;bottom:0;width:100%;z-index:997;}
.z-index{z-index:996;}
.z-index-1{z-index:1001;}
.right-0{right:0px;}
.right-3{right:3px;}
.right-5{right:5px;}
.right-7{right:7px;}
.right-9{right:9px;}
.left-0{left:0px;}
.left-3{left:3px;}
.left-5{left:5px;}
.left-7{left:7px;}
.left-9{left:9px;}
.top-0{top:0px;}
.top-3{top:3px;}
.top-5{top:5px;}
.top-7{top:7px;}
.top-9{top:9px;}
.bottom-0{bottom:0px;}
.bottom-3{bottom:3px;}
.bottom-5{bottom:5px;}
.bottom-7{bottom:7px;}
.bottom-9{bottom:9px;}
.mtop-5{margin-top:5px;}
.mtop-9{margin-top:9px;}
.height-100{height:100%;}

/* share */
.bt-share {margin:0 8px 0 0; border: 0; height: 40px; width: 40px; border-radius: 20px; background-size:40px 40px !important;}
.bt-share.kakaotalk {background:#ffed32 url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/hsmoa/button/kakaotalk.png') no-repeat 50% 40%; background-size:52px 52px !important;}
.bt-share.kakaostory {background:#FAD530 url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_kakaostory.png') no-repeat 50% 50%;}
.bt-share.facebook {background:#41629F url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_facebook.png') no-repeat 50% 50%;}
.bt-share.line {background:#00C600 url('http://thum.buzzni.com/unsafe/94x94/smart/m.ui.hsmoa.com/media/img/share_line.png') no-repeat 50% 50%;}
.bt-share.band {background:#54545F url('http://thum.buzzni.com/unsafe/94x94/smart/m.ui.hsmoa.com/media/img/share_band.png') no-repeat 50% 50%;}
.bt-share.email {background:#e54b2c url('http://thum.buzzni.com/unsafe/94x94/smart/m.ui.hsmoa.com/media/img/share_mail.png') no-repeat 50% 50%;}
.bt-share.clipboard {background:#47aec6 url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_clipboard.png') no-repeat 50% 50%;}
.bt-share.sms {background:#F17A37 url('http://thum.buzzni.com/unsafe/96x0/smart/m.ui.hsmoa.com/media/img/share_sms.png') no-repeat 50% 50%;}

/* loading */
.spinner {  margin: 10px auto;  width: 50px;  text-align: center;  }
.spinner > div {  width: 6px;  height: 6px;  background-color: #000;  opacity: 0.3;  margin:2px 1px;  border-radius: 100%;  display: inline-block;  -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;  animation: sk-bouncedelay 1s infinite ease-in-out both;  }
.spinner .bounce1 {  -webkit-animation-delay: -0.4s;  animation-delay: -0.4s;  }
.spinner .bounce2 {  -webkit-animation-delay: -0.3s;  animation-delay: -0.3s;  }
.spinner .bounce3 {  -webkit-animation-delay: -0.2s;  animation-delay: -0.2s;  }
.spinner .bounce4 {  -webkit-animation-delay: -0.1s;  animation-delay: -0.1s;  }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0) }
  40% { -webkit-transform: scale(1.0); transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);  transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);  transform: scale(1.0);
  }
}
.spinner.end {  }
.spinner.end > div {  -webkit-animation: inherit;  animation: inherit;  border-radius: 0;  width: 8px; height:1px;  opacity: 0.25;  margin: 2px -1px;  -webkit-transform: rotate(-45deg);  transform: rotate(-45deg);  }


.ic-arrow {  width: 12px;  height: 12px;  background: url(http://thum.buzzni.com/unsafe/cache.m.ui.hsmoa.com/media/hsmoa/icon/arrow_right.png) no-repeat 50% 50%;  background-size: 16px 16px;  display: inline-block;  margin: 0 -2px -1px 0;  }
.ic-arrow-white {  width: 11px;  height: 11px;  background: url(http://thum.buzzni.com/unsafe/cache.m.ui.hsmoa.com/media/img/2016/icon_next_white.png) no-repeat 50% 50%;  background-size: 11px 11px;  display: inline-block;  margin: -1px -2px -1px 0px;  }



/* alarm */
alarm {-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out; position:relative;background:#ccd2da url('http://thum.buzzni.com/unsafe/smart/cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm.png') 84% 50% no-repeat ;background-size:16px 16px;line-height:20px;height:30px;width:56px;border-radius:15px;}
alarm:after {-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out; position:absolute;content:"";height:28px;width:28px;top:1px;left:1px;border-radius:18px;background:white;box-shadow:0 2px 4px rgba(0,0,0,.2);}
alarm.on {background:#f25862 url('http://thum.buzzni.com/unsafe/smart/cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm.png') 18% 50% no-repeat;background-size:16px 16px;}
alarm.on:after {left:27px;}

alarm.mini {background-size:14px 14px;background-position:84% 50%; line-height:16px;height:26px;width:49px;border-radius:15px;}
alarm.mini:after {height:24px;width:24px;top:1px;left:1px;border-radius:18px;background:white;box-shadow:0 1px 3px rgba(0,0,0,.2);}
alarm.mini.on {background-position: 17% 50%;background-size:14px 14px;}
alarm.mini.on:after {left:24px;}

/* list 공토요소 */
play { position:absolute; display:block; left:0; top:0; z-index:99; background:rgba(60, 60, 60, 0.08) url(http://thum.buzzni.com/unsafe/cache.m.ui.hsmoa.com/media/img/2016/timeline_dot_play.png) 50% 50% no-repeat; width:100%; height:100%; background-size:44px 44px; }
play:before { content:"LIVE"; color:#fff; background:#F25862; display:inline-block; padding:3px 6px 2px; line-height:1em; font-size:11px; border-radius:0 0 2px 0; }
soldout {position:absolute;display:table;z-index:99; text-align:center; width:100%; padding:6px 0;line-height:1.2em; font-size:12px; color:#fff; left:0; bottom:0; background:rgba(73, 85, 105, 0.6); word-break:keep-all;}
soldout:before {content:"품절";display:table-cell;vertical-align:middle;}
soldout.onlive:before {content:"생방송 중 구매가능";word-break:keep-all;}
soldout.cover {box-sizing:border-box;height:100%;top:0;padding:0;}
soldout.cover:before {padding:0 10px;}
.mark-date { margin:15px auto 10px; line-height:25px; height:25px; font-size:12px; width:120px; border-radius:20px; text-align:center; box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);}

/* list-basic 표준 상품 리스트 */
.list-basic { margin-bottom: 10px; background:#fff; position: relative;}
.list-basic rank {position:absolute; z-index:100; left:0; top:0; border-radius: 0 0 2px 0; font-size:15px; width: 26px; height: 26px; line-height: 28px; opacity: 0.9; text-align: center; vertical-align: middle;}
.list-basic rank+play:before {opacity: 0;} /* 재생버튼 LIVE글씨와 순위표시가 겹치지않게 */
.list-basic thum {position:absolute; left:0; top:0; width:144px; height:144px; }
.list-basic detail { padding:6px 12px 8px 156px; width:auto; height:144px; position: relative;}
.list-basic site img {width:56px; vertical-align: middle; }
.list-basic time {font-size: 11px; margin:6px 0 0 0;float:right; }
.list-basic name { display: block; font-size: 15px; text-align: left; line-height: 1.35em; margin-top: 3px; max-height: 2.5em; overflow: hidden;}
.list-basic price { position: absolute; bottom:10px; font-size:18px;  }
.list-basic price s { font-size:11px; color: #bbb;}
.list-basic price num {display: block;font-weight: bold; font-size: 1em;}
.list-basic price num:after {content:"원";  font-size: 0.7em;}
.list-basic price span { font-weight:bold; font-size: 0.9em;}
/* list-basic.big tvrank용 */
.list-basic.big thum {width: 154px; height:154px;}
.list-basic.big detail { padding:6px 12px 6px 166px; width:auto; height:154px;}
/* 같은 시간대 판매상품 용 */
.list-mini {background:#fff;position: relative;}
.list-mini thum { width:64px; height:64px; margin:4px; position: absolute; left:0; top:0; }
.list-mini detail { padding:4px 12px 4px 80px; height:72px;}
.list-mini site img {width:48px; vertical-align: middle; margin-top: -1px;}
.list-mini name { display: block; font-size: 13px; text-align: left; line-height: 1.25em; margin-top:4px; max-height: 2.4em; overflow: hidden;}
.list-mini sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
.list-mini price { margin-top:6px; }
.list-mini price s { font-size:11px; color: #bbb;}
.list-mini price num { font-size:15px; display: block;font-weight: bold;}
.list-mini price num:after {content:"원";  font-size: 0.7em;}

/* list-table (테이블형식으로 상품을 보여줄 때) */
.list-table {display:table-cell; padding: 0 5px; vertical-align: top;}
.list-table thum { position: relative; padding-top: 100%; }
.list-table thum img { border-radius: 2px; position: absolute; left:0; top:0; right:0; bottom:0;}
.list-table detail { padding:1px 0 10px; }
.list-table name { font-size: 13px; text-align: left; line-height: 1.3em; margin: 4px 0; max-height: 2.4em; overflow: hidden; white-space: pre-wrap; word-break: break-all;}
.list-table price {display: block; font-size:15px; font-weight: bold;}
.list-table price:after {content:"원";  font-size: 0.7em;}


/* list-inline (인라인형식 상품을 보여줄 때 2~3줄까지 가능) 기본 줄당3개, 태블릿에서 최대 6개까지 */
.list-inline {display:inline-block; padding: 0 5px; vertical-align: top; width: 33.33%;}
.list-inline thum { position: relative; padding-top: 100%; }
.list-inline thum img { border-radius: 2px; position: absolute; left:0; top:0; right:0; bottom:0;}
.list-inline detail { padding:1px 0 10px; }
.list-inline name { font-size: 13px; text-align: left; line-height: 1.3em; margin: 4px 0; max-height: 2.4em; overflow: hidden; white-space: pre-wrap; word-break: break-all;}
.list-inline price {display: block; font-size:15px; font-weight: bold;}
.list-inline price:after {content:"원";  font-size: 0.7em;}
@media screen and (min-width:540px){
    .list-inline {width: 25%; }
}
@media screen and (min-width:720px){
    .list-inline {width: 16.66%; }
}