.flick .flick-dots {
	margin:0 0 10px 0;
	text-align:center;
}
.flick .flick-dots .flick-dot {
	display:inline-block;
}
.flick .flick-dots .flick-dot span {
	width:11px;
	height:11px;
	margin:5px 7px;
	background:#000;
	display:block;
	-webkit-backface-visibility:visible;
	transition:opacity .2s ease;
	border-radius:30px;
	opacity:0.3;
}
.flick .flick-dots .flick-dot.active span {
	opacity:0.75;
}