<div>
    <ul>
        <li class="tl">
            <img src="{{ media }}/img/logo/logo_cjmall.png" alt="">
        </li>
        <li>
            <img src="{{ media }}/img/logo/logo_gsshop.png" alt="">
        </li>
        <li>
            <img src="{{ media }}/img/logo/logo_hnsmall.png" alt="">
        </li>
        <li class="tr">
            <img src="{{ media }}/img/logo/logo_hmall.png" alt="">
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="bl"></li>
        <li></li>
        <li></li>
        <li class="br"></li>
    </ul>
</div>