{% load humanize %}
{% load filters %}
{% load filters_test %}

{% if request.GET.page == '1' or request.GET.page == '' %}
    {# HSMOA-4106 abtest #}
    {% if request.GET.abtest != 'a' or request.GET.query|is_video_contents_keyword != 'main_keyword' %}
        <script>
            var video_html_a =
                '<div class="embed-container" style="background:url(https://img.youtube.com/vi/{{ request.GET.query|get_video_value:'video_id' }}/0.jpg) center / cover no-repeat;">' +
                '<div id="player"></div>' +
                '<div class="video-end-dim" style="position:absolute;top:0;left:0;right:0;bottom:0;z-index:9001;background:rgba(0,0,0,0.6);display:none;">' +
                    '<div style="display:table;height:100%;width:100%;">' +
                        '<div style="display:table-cell;vertical-align:middle;text-align:center;">' +
                            '<div>' +
                                '<button class="btn-video-replay" style="width:9%;">' +
                                    '<img src="{{ media }}/hsmoa/icon/reload_white.svg">' +
                                '</button>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '</div>';
            var video_html_b =
                '<div class="video-wrapper">' +
                '<div><div class="video-content-title">' +
                    {% if request.GET.query|is_video_contents_keyword == 'cate_keyword' %}
                        '이런 상품은 어떠세요?' +
                    {% elif request.GET.query|is_video_contents_keyword == 'other_domain_keyword' %}
                        '함께 보기에 좋은 상품을 추천해요!' +
                    {% endif %}
                '</div>' +
                '<div class="video-content-right-btn link-service"' +
                '   url-path="search/result" ' +
                '   data-query="{{ request.GET.query|get_video_value:'item' }}"' +
                '   data-from="search_result_video_link,{{ request.GET.query }}"' +
                '   data-abtest="{{ request.GET.abtest }}"' +
                '   data-is_video_played="0"' +
                '>상품보기 <img src="{{ media }}/hsmoa/icon/arrow_right.png"></div></div>' +
                '<div style="clear:both"></div>' +
                '<div class="embed-container" style="background:url(https://img.youtube.com/vi/{{ request.GET.query|get_video_value:'video_id' }}/0.jpg) center / cover no-repeat;">' +
                '<div class="video-play-dim" style="position:absolute;top:50px;left:0;right:0;bottom:42px;z-index:9000;"></div>' +
                '<div class="video-end-dim" style="position:absolute;top:0;left:0;right:0;bottom:0;z-index:9001;background:rgba(0,0,0,0.6);display:none;">' +
                    '<div style="display:table;height:100%;width:100%;">' +
                        '<div style="display:table-cell;vertical-align:middle;text-align:center;">' +
                            '<div style="margin:20px 0;">' +
                                '<button class="link-service"' +
                                '       url-path="search/result"' +
                                '       data-query="{{ request.GET.query|get_video_value:'item' }}"' +
                                '       data-from="search_result_video_end_link,{{ request.GET.query }}"' +
                                '       data-abtest="{{ request.GET.abtest }}"' +
                                '       style="padding:16px 20px 14px 20px;border-radius:30px;border:2px solid #fff;color:#fff;">' +
                                '   "{{ request.GET.query|get_video_value:'item' }}" 상품 보기 <img style="margin-left:8px;" src="{{ media }}/hsmoa/icon/search_white.svg">' +
                                '</button>' +
                            '</div>' +
                            '<div>' +
                                '<button class="btn-video-replay" style="width:9%;">' +
                                    '<img src="{{ media }}/hsmoa/icon/reload_white.svg">' +
                                '</button>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div id="player"></div></div>' +
                '</div>';

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '100%',
                    width: '100%',
                    videoId: '{{ request.GET.query|get_video_value:'video_id' }}',
                    // playsinline 을 쓰려면 네이티브에서 allowsInlineMediaPlayback: true 설정 필요
                    playerVars: {
                        playsinline: 1,
                        rel: 0,
                        fs: 1,
                        showinfo: 1,
                        controls: 2,
                        enablejsapi: 1,
                        hl: 'ko',
                        modestbranding: 1,
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }
            function insertYoutubeScript() {
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            }

            var playCount = 0;
            var isVideoPlayed = false;
            var isVideoExposed = false;
            var playTime = 0;
            var replayCount = 0;
            var timer;
            function onPlayerStateChange(event) {
                if(event.data === 1) { // 재생
                    $('.video-end-dim').hide();
                    $('#player').css('opacity', 1);
                    timer = setInterval(function() {
                        playTime += 200;
                    }, 200);
                    playCount++;
                    if(!isVideoPlayed) {
                        sendStat("test/hsmoa4151/videoPlay", {
                            query: '{{ request.GET.query }}',
                            from: 'search_result',
                            abtest: '{{ request.GET.abtest }}'
                        });
                        isVideoPlayed = true;
                    }
                } else if(event.data === 2) { // 일시정지
                    clearInterval(timer);
                } else if(event.data === 0) { // 종료
                    $('#player').css('opacity', 0);
                    $('.video-end-dim').show();
                }
            }
            function onPlayerReady(event) {
                $('.link-service, .link-buy').click(function(event) {
                    $(this).data('play_time', playTime);
                    $(this).data('replay_count', replayCount);
                    $(this).data('is_video_played', isVideoPlayed ? '1' : '0');
                    playTime = playCount = replayCount = 0;
                    isVideoPlayed = false;
                });

                $.Fastclick($('.video-play-dim'), function() {
                    var _status = player.getPlayerState();
                    if(_status === 1 || _status === 3) {
                        player.pauseVideo();
                    } else {
                        player.playVideo();
                    }
                });

                $.Fastclick($('.btn-video-replay'), function() {
                    player.playVideo();
                    replayCount++;
                    sendStat("test/hsmoa4151/videoReplayed", {
                        query: '{{ request.GET.query }}',
                        from: 'search_result',
                        abtest: '{{ request.GET.abtest }}'
                    });
                });
            }
            function setVideoLogger() {
                $(window).on("scroll touchmove", function() {
                    var $player = $('#player');
                    var $window = $(window);
                    var playerTop = $player.offset().top;
                    var playerBottom = playerTop + $player.height();
                    var scrollTop = $window.scrollTop();
                    var scrollBottom = scrollTop + $window.height();

                    if(!isVideoExposed && scrollTop < playerTop && playerBottom < scrollBottom) {
                        sendStat("test/hsmoa4151/videoExposed", {
                            query: '{{ request.GET.query }}',
                            from: 'search_result',
                            abtest: '{{ request.GET.abtest }}'
                        });
                        isVideoExposed = true;
                    }
                });
            }
        </script>
    {% endif %}
    <script>
        // 검색결과 갯수 추가
        $("#numGoods").html("<strong>{{ result.count|intcomma }}</strong>개 상품");
        $("#block_meta").show();

        //연관검색어를 중간에 추가
        if ($(".grid-box").length > 11 && $("#relatequery_scroll").length == 1) {
            $(".grid-box").eq(11).after("<div class='relate-box'></div>");
            $(".relate-box").html($("#relatequery_scroll").html());
            if($(window).width()<540){
                $(".grid-box").eq(11).after($("<div></div>"));
            }else if($(window).width()<720){
                $(".grid-box").eq(11).after($("<div></div><div></div>"));
            }else if($(window).width()>=720){
                $(".grid-box").eq(11).after($("<div></div><div></div><div></div>"));
            }
        }
    </script>

    {# HSMOA-4106 abtest #}
    {% if request.GET.abtest == 'a' and request.GET.query|is_video_contents_keyword == 'other_domain_keyword' %}
        <script>
            if($(".grid-box").length > 11) {
                $(".grid-box").eq(11).after(video_html_b);
                insertYoutubeScript();
                setVideoLogger();
            }
        </script>
    {% elif request.GET.abtest == 'b' and request.GET.query|is_video_contents_keyword == 'main_keyword' %}
        <script>
            if($(".grid-box").length > 11) {
                $(".grid-box").eq(11).after(video_html_a);
                insertYoutubeScript();
                setVideoLogger();
            }
        </script>
    {% elif request.GET.abtest == 'c' and request.GET.query|is_video_contents_keyword == 'cate_keyword' %}
        <script>
            if($(".grid-box").length > 11) {
                $(".grid-box").eq(11).after(video_html_b);
                insertYoutubeScript();
                setVideoLogger();
            }
        </script>
    {% endif %}
{% elif request.GET.page == '2' %}
    {% if request.GET.abtest == 'c' and request.GET.query|is_video_contents_keyword == 'other_domain_keyword' %}
        <script>
            if($(".grid-box").length > 23) {
                $(".grid-box").eq(23).after(video_html_b);
                insertYoutubeScript();
                setVideoLogger();
            }
        </script>
    {% endif %}
{% endif %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <div class="grid-box">
        {% if re.compare_info.pids_cnt > 1 and request.GET.is_compare_search %}
            {% if re.compare_info.genre2 %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                    data-from="search"
                    data-id="{{ re.compare_info.goods_id }}"
                    data-url="{{ re.compare_info.rep_url }}"
                    data-site="{{ re.compare_info.genre2 }}"
                    data-img="{{ re.compare_info.thumbnail }}"
                    data-query="{{ request.GET.query }}"
                    data-rank="{{ re.rank }}"
                    data-name="{{ re.compare_info.rep_name }}"
                    data-price="{{ re.compare_info.rep_price }}"
                    data-is_ad="{{ re.is_ad }}"
                    data-flag="{{ re.group_id }}" 
                    data-has_live="0"
                    data-genre2="{{ request.GET.genre2 }}">
            {% else %}
            <item class="list-basic link-buy"
            url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.compare_info.rep_url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.compare_info.thumbnail }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-price="{{ re.compare_info.rep_price }}"
                data-is_ad="{{ re.is_ad }}"
                data-flag="{{ re.group_id }}"
                data-has_live="0"
                data-genre2="{{ request.GET.genre2 }}">
            {% endif %}
                <thum>
                    {% if ".gif" in re.compare_info.thumbnail or ".GIF" in re.compare_info.thumbnail %}
                        <img src="{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if "성인용품" in re.compare_info.rep_name or "자위" in re.compare_info.rep_name or "남성용품" in re.compare_info.rep_name or "명기" in re.compare_info.rep_name or "오나홀" in re.compare_info.rep_name or "딜도" in re.compare_info.rep_name or "야한" in re.compare_info.rep_name or "공기인형" in re.compare_info.rep_name or "에어돌" in re.compare_info.rep_name or "안나뮤" in re.compare_info.rep_name or "레그에비뉴" in re.compare_info.rep_name %}
                    <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                        <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                    </div>
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                </thum>
                <detail class="compare">
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.compare_info.genre2 }}.png" onerror="this.src='{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png'" />
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.compare_info.rep_name }}</name>
                    <price>
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.compare_info.rep_price|intcomma }}</num>
                        {% endif %}
                    </price>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate-num" >{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% else %}
                            <span class="review-rate position-relative" style="width: 1px; margin: 0 -2px;"><span></span></span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-1" style="margin:0px 1px;">|</span> {% endif %}
                        {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                        {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                    </div>
                    {% endif %}
                </detail>
            </item>
            <div class="line-bottom"></div>
            <div class="link-service compare-btn"
                url-path="group"
                data-from="search"
                data-id="{{ re.compare_info.goods_id }}"
                data-site="{{ re.compare_info.genre2 }}"
                data-group_id="{{ re.group_id }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-flag="{{ re.group_id }}"
                data-genre2="{{ request.GET.genre2 }}">
                <div class="compare-text">
                    판매처 <b>{{ re.compare_info.pids_cnt }}</b>개 더보기 <span style="opacity:0.8; padding-left:6px;">〉</span>
                </div>
            </div>
        {% else %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.img }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.name }}"
                data-price="{{ re.price }}"
                data-is_ad="{{ re.is_ad }}"
                data-has_live="0"
                data-genre2="{{ request.GET.genre2 }}">
                <thum>
                    {% if ".gif" in re.img or ".GIF" in re.img %}
                        <img src="{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                    {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                    {% endif %}
                </thum>
                <detail>
                    <site>
                        {% if 'site_logo_img' in re and re.site_logo_img != '' %}
                            <img src="{{ re.site_logo_img}}" />
                        {% else %}
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png" />
                        {% endif %}
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.name }}</name>
                    <price>
                        {% if re.org_price|get_int > re.price|get_int %}
                            <s>{{ re.org_price|intcomma }}원</s>
                        {% endif %}
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate-num" >{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% else %}
                            <span class="review-rate position-relative" style="width: 1px; margin: 0 -2px;"><span></span></span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-1" style="margin:0px 1px;">|</span> {% endif %}
                        {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                        {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                    </div>
                    {% endif %}
                </detail>
            </item>
        {% endif %}
        {% if forloop.counter == 1 and exposed %}
            <script>
                // 현재 검색결과에 노출된 아이템들을 로깅한다
                logExposedItem('{{ exposed.user_id }}', '{{ exposed.query }}', '{{ exposed.entities|safe }}', {{ exposed.create_date }}, {{ request.GET.page }});

                //검색결과 뷰 통계
                sendStat("search/tvshopSearch", {query:'{{ request.GET.query }}', from:User.sfrom, page:'{{ request.GET.page }}', num:'{{ request.GET.num }}'});
            </script>
        {% endif %}
    </div>{% endfor %}
{% endif %}