{% load humanize %}
{% load filters %}
{% load filters_test %}

{% if request.GET.page == '1' and result.data|length > 0 %}
    {#  검색 배너(모아위크, 모아리뷰)  #}
    <div id="search_banner">
        {% if is_allinweek.genre2|get_genre == request.GET.query|urldecode  %}
            <div class="align-center link-service" url-path="event/moaweek" data-from="search" style="margin-top: 10px;{% if is_allinweek.color %}background: {{ is_allinweek.color }};{% else %}background: #eb5557;{% endif %}">
                <img src='{{ cdn_img }}/moaweek/{{ is_allinweek.name }}/search_banner_{{ is_allinweek.genre2 }}.png?v={{ is_allinweek.start }}' style="width:86%; margin:3px auto; "/>
            </div>
        {% elif request.GET.query|is_video_contents_keyword == 'main_keyword' %} {# HSMOA-4106 abtest #}
            {% if request.GET.abtest == 'a' %}
                <div class="embed-container" style="border-radius:0;background:url(https://img.youtube.com/vi/{{ request.GET.query|get_video_value:'video_id' }}/0.jpg) center / cover no-repeat;">
                    <div class="video-play-dim" style="position:absolute;top:50px;left:0;right:0;bottom:42px;z-index:9000;"></div>
                    <div class="video-end-dim" style="position:absolute;top:0;left:0;right:0;bottom:0;z-index:9001;background:rgba(0,0,0,0.6);display:none;">
                        <div style="display:table;height:100%;width:100%;">
                            <div style="display:table-cell;vertical-align:middle;text-align:center;">
                                <div>
                                    <button class="btn-video-replay" style="width:9%;">
                                        <img src="{{ media }}/hsmoa/icon/reload_white.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="player"></div>
                </div>
                <script>
                    var player;
                    var tag = document.createElement('script');

                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                            height: '100%',
                            width: '100%',
                            videoId: '{{ request.GET.query|get_video_value:'video_id' }}',
                            playerVars: {
                                playsinline: 1,
                                rel: 0,
                                fs: 1,
                                showinfo: 1,
                                controls: 2,
                                enablejsapi: 1,
                                hl: 'ko',
                                modestbranding: 1,
                            },
                            events: {
                                'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange
                            }
                        });

                        function videoExposedHandler() {
                            var $player = $('#player');
                            var $window = $(window);
                            var playerTop = $player.offset().top;
                            var playerBottom = playerTop + $player.height();
                            var scrollTop = $window.scrollTop();
                            var scrollBottom = scrollTop + $window.height();

                            if(!isVideoExposed && scrollTop < playerTop && playerBottom < scrollBottom) {
                                sendStat("test/hsmoa4151/videoExposed", {
                                    query: '{{ request.GET.query }}',
                                    from: 'search_result',
                                    abtest: '{{ request.GET.abtest }}'
                                });
                                isVideoExposed = true;
                            }

                        }
                        videoExposedHandler();
                        $(window).on("scroll touchmove", videoExposedHandler);
                    }

                    var playCount = 0;
                    var isVideoPlayed = false;
                    var isVideoExposed = false;
                    var playTime = 0;
                    var replayCount = 0;
                    var timer;
                    function onPlayerStateChange(event) {
                        if(event.data === 1) { // 재생
                            $('.video-end-dim').hide();
                            $('#player').css('opacity', 1);
                            timer = setInterval(function() {
                                playTime += 200;
                            }, 200);
                            playCount++;
                            if(!isVideoPlayed) {
                                sendStat("test/hsmoa4151/videoPlay", {
                                    query: '{{ request.GET.query }}',
                                    from: 'search_result',
                                    abtest: '{{ request.GET.abtest }}'
                                });
                                isVideoPlayed = true;
                            }
                        } else if(event.data === 2) { // 일시정지
                            clearInterval(timer);
                        } else if(event.data === 0) { // 종료
                            $('#player').css('opacity', 0);
                            $('.video-end-dim').show();
                        }
                    }
                    function onPlayerReady(event) {
                        $('.link-service, .link-buy').click(function(event) {
                            $(this).data('play_time', playTime);
                            $(this).data('replay_count', replayCount);
                            $(this).data('is_video_played', isVideoPlayed ? '1' : '0');
                            playTime = playCount = replayCount = 0;
                            isVideoPlayed = false;
                        });

                        $.Fastclick($('.video-play-dim'), function() {
                            var _status = player.getPlayerState();
                            if(_status === 1 || _status === 3) {
                                player.pauseVideo();
                            } else {
                                player.playVideo();
                            }
                        });

                        $.Fastclick($('.btn-video-replay'), function() {
                            player.playVideo();
                            replayCount++;
                            sendStat("test/hsmoa4151/videoReplayed", {
                                query: '{{ request.GET.query }}',
                                from: 'search_result',
                                abtest: '{{ request.GET.abtest }}'
                            });
                        });
                    }
                </script>
            {% elif request.GET.abtest == 'b' %}
            {% elif request.GET.abtest == 'c' %}
            {% endif %}
        {% elif result.contents_id != 0 %}
            {% if result.contents_id in moareview_list %}
                <div class="align-center link-service" url-path="trends/info" data-abtest="{{ request.GET.abtest }}" data-from="search" data-board_id="{{ result.contents_id }}" style="margin-top:10px;">
                    <div class="moareview-banner">
                        <div class="wrapper-thumb">
                            <div class="thumb" style="background-image:url('{{ thum }}/140x90/center/smart/{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'img_url' }}')"></div>
                        </div>
                        <div class="wrapper-title">
                            <div class="main-title">{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'main_title' }}</div>
                            <div class="sub-title">{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'sub_title' }}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endif %}
        {% elif datetime >= "201809140000" and datetime <= "201809200000" %}
            {% if request.GET.query|in_list:"추석선물,추석 선물,추석선물세트,추석,la갈비,LA갈비" or request.GET.query|urldecode|in_list:"추석선물,추석 선물,추석선물세트,추석,la갈비,LA갈비" %}
                <div class="align-center link-service" url-path="event/promotion" data-id="554" data-from="search_banner" data-query="{{ request.GET.query|urldecode }}" style="margin-top:10px;background:#212C5B;">
                    <img src='{{ thum }}/smart/https://i.imgur.com/VGE9ErB.png' style="width:86%; margin:3px auto; "/>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {#  테스트 종료시 별도의 파일로 CSS 분리  #}
    <style>
        .moareview-banner {background-color:#ffffff;text-align:left;white-space:nowrap;}
        .moareview-banner .wrapper-thumb {display:inline-block;vertical-align:middle;margin:1.5%;position:relative;width:18%;padding-top:11.5%;}
        .moareview-banner .wrapper-thumb .thumb {
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background-size:cover;
            background-position:center;
        }
        .moareview-banner .wrapper-title {display:inline-block;vertical-align:middle;padding-left:1.5%;text-align:left;line-height:1.3rem;padding-top:5px;}
        .moareview-banner .wrapper-title .main-title{font-weight:bold;}
        .moareview-banner .wrapper-title .sub-title {font-size:0.8em;color:#8e8e8e;}

        @media screen and (max-width: 350px) {
            .moareview-banner {font-size:0.8em;}
        }
    </style>
{% endif %}

{% if result.program_show %}
    {% include "hsmoa/skin_search_result_tvshop_program.html" %}
{% elif result.data|is_query_site and request.GET.source == "future" %}
    {% include "hsmoa/skin/_search_result_tvshop_live.html" %}
{% else %}
    {% if result.data|length > 0 %}

        <!-- 대체어 사용 시 문구 출력 -->
        {% if request.GET.page == '1' and result.is_replace and result.replace_query|length > 1 %}
            <div id="fixquery" class="c-gray-4 align-center" style="font-size: 14px; margin: 0 0 10px; line-height: 1.3em; background: #f5f6f8; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px; ">
                수정된 검색어 <span class="c-black strong">"{{ result.replace_query }}"</span>의<br/>검색결과를 보여드립니다.
            </div>
        {% endif %}

        <div class="title strong display-table-fixed" style="padding:7px 10px; ">
            <div id="bt_tvshop" class="link-service strong c-gray-5 tvshop-title table-cell align-middle "
                    url-path="search/timeline"
                    data-query="{{ request.GET.query }}"
                    data-from="search_more_top"
                    style="width: 130px;font-size: 15px; text-align:left;">
                <img src="{{ media }}/hsmoa/button/search_timeline_text.png" style="height: 15px; vertical-align:middle; margin:0 0 0 0;">
            </div>
            <!-- 검색어알람 -->
            <div class="alarm-keyword bt-alarm b-white block-hide" alarm_id="0" data-query="{{ request.GET.query }}">
                <img src="{{ media }}/hsmoa/icon/alarm_black.png"/>
                <span>"{{ request.GET.query }}"</span>
            </div>
        </div>
        <style>
            .list-swipe-alarm { background:#fff; position: relative; overflow: hidden; width: 150px; display: inline-block; margin: 1px 5px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd;}
            .list-swipe-alarm thum { padding-top: 100%; position: relative;}
            .list-swipe-alarm thum img { position: absolute; top:0;}
            .list-swipe-alarm detail { padding:6px 10px 8px; width:auto;}
            .list-swipe-alarm site img {height:18px; }
            .list-swipe-alarm time {font-size: 11px; position:absolute; right:8px; top:160px; letter-spacing: -0.5px;}
            .list-swipe-alarm name { display: block; font-size: 13px; text-align: left; line-height: 1.3em; margin-top: 4px; height: 2.4em; overflow: hidden; white-space:normal;}
            .list-swipe-alarm sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
            .list-swipe-alarm price { margin-top: 14px;}
            .list-swipe-alarm price s { display: none;}
            .list-swipe-alarm price num { font-size:15px; display: block;font-weight: bold;}
            .list-swipe-alarm price num:after {content:"원";  font-size: 0.7em;}
            .list-swipe-more { position: relative; overflow: hidden; width: 80px; height:246px;box-sizing: border-box; margin: 1px 1px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd;
                display: inline-block; vertical-align: top;}
            #item_more_wrapper {vertical-align: top; width:70px;height:100%;text-align: center;}

            .list-swipe-alarm end { position: absolute; bottom:0; left:0; right:0; background: rgba(0,0,0,0.25); color: #fff; font-size: 13px; padding: 5px 10px; text-align: center; z-index: 99;}

            @media screen and (min-width: 540px) {
                .list-swipe-alarm {  width: 170px;}
                .list-swipe-alarm time {top:180px; }
                .list-swipe-more {height:266px;}
            }
        </style>
        <!-- API로 불러올 영역 -->
        <div id="tvshop_result" style="width:100%; box-sizing:border-box; padding:0 10px 0 10px; overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling: touch; white-space: nowrap; min-height: 260px;">
            {% for re in result.data|price_filter %}
            {% if forloop.counter < 11 %}
            <div class="list-swipe-alarm" >
                <item class="link-service"
                    url-path="item"
                    data-entity_id="{{ re.id }}"
                    data-site="{{ re.genre2 }}"
                    data-rank="{{ forloop.counter }}"
                    data-live="{{ re.live_status }}"
                    data-price="{{ re.price }}"
                    data-query="{{ request.GET.query }}"
                    data-from="search">
                    <thum>
                        {% if re.live_status == 1 %}<play/>{% endif %}
                        {% if re.is_mileage == 2 %}
                            <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                                 src="{{ re.ribbon_img }}"
                                 onerror="this.style.display='none'"/>
                        {% endif %}
                        {% if re.is_soldout == 1 %}
                            <soldout></soldout>
                            {% elif re.is_soldout == 2 and re.live_status != 1 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    </thum>
                    <detail>
                        <site>
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                        </site>
                        <time class="c-gray-3">
                            {{ re.date|time_format:'md' }} {{re.start_time }}
                        </time>
                        <name>{{ re.name }}</name>
                        <price>
                            {% if re.price|get_int < 9 %}
                                <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                            {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                            {% endif %}
                        </price>
                    </detail>
                </item>
                {% if re.live_status == 2 %}
                <alarm class="mini alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                    alarm_action_id="{{ re.alarm_action_id }}"
                    data-entity_id="{{ re.id }}"
                    data-name="{{ re.name }}"
                    data-price="{{ re.price }}"
                    data-genre2="{{ re.genre2 }}"
                    data-img="{{ re.img }}"
                    data-start_time="{{ re.start_time }}"
                    data-end_time="{{ re.end_time }}"
                    style=" position:absolute; bottom:7px; right: 7px; z-index: 99;" />
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="list-swipe-more  b-white">
                <div id="item_more_wrapper" class="link-service"
                        url-path="search/timeline"
                        data-tab="{{ request.GET.source }}"
                        data-query="{{ request.GET.query }}"
                        data-from="search_more_middle"
                        style="width:100%;">
                    <img src="{{ thum }}/120x90/top/smart/{{ img }}/content_more.png" style="margin:80px auto 8px; width:64px;">
                    <div class="c-gray-4" style="font-size: 12px; line-height: 1.3em;">예정/이전<br/>방송보기</div>
                </div>
            </div>
        </div>
        <div class="line-bottom"></div>
    {% endif %}
{% endif %}