{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if re.id != 2368 %}
        <div class="list-board" id="list_{{ re.id }}">
            <a class='listbox' href="/tvshop/board/info?title={% if request.GET.cate == 'opn' %}의견건의{% elif request.GET.cate == 'notice' %}공지사항{% elif request.GET.cate == 'free' %}자유게시판{% endif %}&board_id={{ re.id }}&tabbar=hide" >
                <div class='display-table '>
                    <div class='table-cell align-middle'>
                        <div class="title">
                            {% if re.subcate %}
                                <span class="c-gray font-12">[{{ re.subcate }}]</span>
                            {% endif %}
                            {{ re.title }}
                        </div>
                        <div class='clear-3'></div>
                        <div class='c-gray font-11'>
                            {{ re.create_date|get_string|slice:'4' }}-{{ re.create_date|get_string|slice:'4:6' }}-{{ re.create_date|get_string|slice:'6:8' }}
                        </div>
                    </div>
                    <div class='table-cell-9 align-middle'><button class="tag">{{ re.cmt_num }}</button></div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}