{% load humanize %}
{% load filters %}
{% if result %}
        <div id="cmt_{{ result.id }}"  class="border-bottom b-white">
                <div class='display-table'>
                    <div class='table-cell align-right' style='width:52px;'>
                    <div class="clear-7"></div>
                    <a href="javascript:show_user('{{ result.user.id }}','cmtary');" class='disblock '>
                        <img class="b-white" style='width:40px;border-radius:30px;border:1px solid #eee;' src="{{ thum }}/240x240/{% if result.user.img %}{{result.user.img}}{% else %}{{ cdn_img }}/nocamera.png{% endif %}"/>
                    </a>
                    </div>
                    <div class='table-cell padding-9'>
                        <div class="c-cyan font-12">
                            {% if result.user.nickname %}{{ result.user.nickname }}{% else %}손님{% endif %}
                            <span class="c-gray margin-left font-11">{{ result.create_date|get_string|slice:'4' }}-{{ result.create_date|get_string|slice:'4:6' }}-{{ result.create_date|get_string|slice:'6:8' }}</span>
                        </div>
                        <div class='clear-5'></div>
                        <div class="overflow word-break font-14" style="line-height:18px;-webkit-user-select:auto;">
                            {% autoescape off %}{{ result.content|linebreaksbr }}{% endautoescape %}
                        </div>
                    </div>
                    {% if result.user_id != "" %}
                    {% if result.user_id == request.session.user.id %}
                    <div class='table-cell align-middle align-center' style='width:32px;'>
                        <button class="bt c-lion" onclick="cmt_remove('{{ result.id }}')" style="background: none;">삭제</button>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class='table-cell-9'></div>
                </div>
        </div>
{% endif %}