{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        <div id="cmt_{{ re.id }}"  class="border-bottom b-white">
                <div class='display-table'>
                {% if re.user.id %}
                    <div class='table-cell align-right' style='width:46px;'>
                    <div class="clear-7"></div>
                    <a href="javascript:show_user('{{ re.user.id }}','cmtary');" class='disblock '>
                        <img class="b-white" style='width:34px;border-radius:30px;border:1px solid #eee;' src="{{ thum }}/240x240/{% if re.user.img %}{{re.user.img}}{% else %}{{ cdn_img }}/nocamera.png{% endif %}"/>
                    </a>
                    </div>
                {% endif %}
                    <div class='table-cell padding-9'>
                        <div class="c-cyan font-12">
                            {% if re.user.nickname %}{{ re.user.nickname }}{% else %}손님{% endif %}
                            <span class="c-gray margin-left font-11">{{ re.create_date|get_string|slice:'4' }}-{{ re.create_date|get_string|slice:'4:6' }}-{{ re.create_date|get_string|slice:'6:8' }}</span>
                        </div>
                        <div class='clear-5'></div>
                        <div class="overflow word-break font-14" style="line-height:18px;-webkit-user-select:auto;">
                            {% autoescape off %}{{ re.content|linebreaksbr }}{% endautoescape %}
                        </div>
                    </div>
                    {% if re.user_id == request.session.user.id and request.session.user.id %}
                    <div class='table-cell align-middle align-center' style='width:32px;'>
                        <button class="bt c-lion" onclick="cmt_remove('{{ re.id }}')" style="background: none;">삭제</button>
                    </div>
                    {% elif request.session.user.id == "E3lwdxbBug" %}
                    <div class='table-cell align-middle align-center' style='width:32px;'>
                        <button class="bt c-lion" onclick="cmt_remove('{{ re.id }}')" style="background: none;">삭제</button>
                    </div>
                    {% endif %}
                    <div class='table-cell-9'></div>
                </div>
        </div>
    {% endfor %}
{% endif %}