{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if request.GET.flag >= re.meta.start_date  %}
        {% if request.GET.flag <= re.meta.end_date  %}
        <div class="margin-9 b-white radius" id="board_{{ re.id }}">
            <a href="{{ re.url }}" class='disblock'>
            {% if re.img_list %}
                <img src="{{ thum }}/640x360/{{ re.img_list.0 }}" style="width:100%; min-height:70px; border-radius: 5px 5px 0 0;"
                        {% if request.GET.flag <= re.meta.end_date %}{% else %} class="trans" {% endif %} >
            {% elif re.img %}
                <img src="{{ thum }}/640x360/{{ re.img }}" style="width:100%; min-height:70px; border-radius: 5px 5px 0 0;"
                        {% if request.GET.flag <= re.meta.end_date %}{% else %} class="trans" {% endif %} >
            {% endif %}
            <div class="display-table">
                <div class="table-cell middle padding-9">
                    <div class="font-12 " >
                        <span class="c-gray">안내 : </span> {{ re.title }}
                    </div>
                    <div class='clear-5'></div>
                    <div class=" font-12">
                        <span class="c-gray">기간 : </span>
                        {% if re.content  %}
                            {{ re.content }}
                        {% endif %}
                    </div>
                </div>
                <div class="table-cell  align-right" style="width:74px; padding:7px 5px 7px 0; ">
                    {% if re.meta.btn_comment  %}
                        <button class="{% if request.GET.flag <= re.meta.end_date %}btn-info{% else %} btn-warning {% endif %} strong">
                            {{ re.meta.btn_comment }}
                        </button>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            </a>
            {% if re.meta.include and request.GET.flag <= re.meta.end_date %}
                {% include re.meta.include %}
            {% endif %}
        </div>
            {% if request.session.user.id == re.result.user_id or request.session.user.id == "E3lwdxbBug" %}
                {% if request.session.user.id %}
                <div class="align-right" style="margin:-5px 10px;">
                    <a href="/tvshop/event/save?title=수정하기&btn=upload&cate=event&board_id={{ re.id }}">
                        <img src='{{ img }}/mini_modify.png' class="padding" style="height:14px;"/>
                    </a>
                    <a href="javascript:board_remove('{{ re.id }}');">
                        <img src='{{ img }}/mini_delete.png' class="padding" style="height:14px;"/>
                    </a>
                </div>
                {% endif %}
            {% endif %}

        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}