{% load humanize %}
{% load filters %}
{% if result.data %}
    {% if request.GET.page == "1" %}
                    <div class='clear-1'></div>
            <div class="margin-9 align-center c-gray endpoint">---------- 종료된 이벤트 ----------</div>
    {% endif %}
    {% for re in result.data %}
        {% if request.GET.flag >= re.meta.start_date  %}
        {% if request.GET.flag > re.meta.end_date  %}
        <div class="margin-9 b-white radius" id="board_{{ re.id }}">
            <a href="{{ re.url }}" class='disblock'>
                {% if re.img %}
                <img src="{{ thum }}/640x360/{{ re.img }}" style="width:100%; min-height:70px; border-radius: 5px 5px 0 0;"
                            {% if request.GET.flag <= re.meta.end_date %}{% else %} class="trans" {% endif %} >
                {% elif re.img_list %}
                    <img src="{{ thum }}/640x360/{{ re.img_list.0 }}" style="width:100%; min-height:70px; border-radius: 5px 5px 0 0;"
                            {% if request.GET.flag <= re.meta.end_date %}{% else %} class="trans" {% endif %} >
                {% endif %}
            <div class="display-table">
                <div class="table-cell middle padding-9">
                    <div class="font-12 " >
                        <span class="c-gray">안내 : </span> {{ re.title }}
                    </div>
                    <div class='clear-5'></div>
                    <div class=" font-12">
                        <span class="c-gray">기간 : </span>
                        {% if re.content  %}
                            {{ re.content }}
                        {% endif %}
                    </div>
                </div>
                <div class="table-cell align-right" style="width:76px; padding:7px 5px 7px 0; ">
                        <button class=" btn-warning  strong">
                            이벤트 마감
                        </button>
                </div>
            </div>
            </a>
        </div>
            {% if request.session.user.id == re.result.user_id or request.session.user.id == "E3lwdxbBug" %}
                <div class="align-right" style="margin:-5px 10px;">
                    <a href="/tvshop/event/save?title=수정하기&btn=upload&cate=event&board_id={{ re.id }}">
                        <img src='{{ img }}/mini_modify.png' class="padding" style="height:14px;"/>
                    </a>
                    <a href="javascript:board_remove('{{ re.id }}');">
                        <img src='{{ img }}/mini_delete.png' class="padding" style="height:14px;"/>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}