{% load humanize %}
{% load filters %}
{% if result.data %}
    {% for re in result.data %}
        {% if re.meta.start_date <= datetime %}
            <div class="position-relative b-white event-list-item {% if datetime <= re.meta.end_date %}live-event{% else %}dead-event{% endif %}" id="list_{{ re.id }}" style="margin:10px 0; box-shadow: 0 0 2px rgba(0,0,0,0.1);">
                {% if datetime >= re.meta.end_date and re.negative_text != " " and re.negative_text != ""%}
                    <button class="bt-alert link-service" url-path="board/info" data-from="event" data-title="당첨자 발표" data-board_id="{{ re.negative_text }}" data-cate="board" style="z-index: 10;bottom:15px;right: 10px; position: absolute;background: white">당첨자 확인</button>
                {% endif %}
                <a {% if datetime > re.meta.end_date %}
                        href="javascript:ended_event('{{ re.url }}','{{ re.subcate }}')"
                    {% else %}href="{{ re.url }}"{% endif %}>
                    <div class="{% if datetime <= re.meta.end_date %}{% else %}trans-dark{% endif %}">
                    </div>
                    <thum>
                    {% if re.img_list %}
                        <img src="{{ thum }}/720x360/{{ re.img_list.0 }}" style="min-height:70px;" class="th-1" onerror="this.src='{{ thum }}/{{ img }}/noimg2.png'">
                    {% elif re.img %}
                        <img src="{{ thum }}/720x360/{{ re.img }}" style="min-height:70px;" class="th-1" onerror="this.src='{{ thum }}/{{ img }}/noimg2.png'">
                    {% endif %}
                    </thum>
                </a>
                {% if re.meta.include and datetime <= re.meta.end_date %}
                    {% include re.meta.include %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
