{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    <style>
        .list-recoitem {float:left; width: 33%;}
        .list-recoitem item{margin: 0 6px 6px 6px;}
        .list-recoitem thum{position: relative; padding-top: 100%; }
        .list-recoitem thum img{position: absolute; top:0; left:0; right:0; bottom:0;}
        .list-recoitem:nth-child(3n+2) {margin:0 0.5%;}
        .list-recoitem img{ border-radius: 2px; }
        .list-recoitem price{ font-size: 13px; font-weight: bold; margin-top: 3px; }
        .list-recoitem price:after{ content:'원'; font-size: 0.7em; }
    </style>
    <div style="margin: 0 5px;">
    {% for re in result.data %}
        {% if forloop.counter < 7 %}
        <div id='reco_item_{{ forloop.counter }}' class="list-recoitem" >
            <item class="list-item link-buy" 
                url-path="searchclick" 
                data-from="group_reco" 
                data-is_ad="{{ re.is_ad }}" 
                data-id="{{ re.goods_id }}" 
                data-url="{{ re.url }}" 
                data-site="{{ re.genre2 }}" 
                data-img="{{ re.img }}" 
                data-query="{{ request.GET.query }}" 
                data-rank="{{ forloop.counter }}" 
                data-name="{{ re.name }}" 
                data-price="{{ re.low_price }}" 
                data-is_compare="{{ request.GET.pid }}">
                <thum>
                <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}"
                        onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                    <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                        <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                    </div>
                {% endif %}
                </thum>
                <div style="padding:8px 0px 0px 0px; height:53px;">
                    <div class="overflow" style="line-height:1.2em; height:2.3em; font-size:12px;">
                        {% if re.name_simple|length > 1 %}{{ re.name_simple }}{% else %}{{re.name}}{% endif %}
                    </div>
                    <div class="clear-2"></div>
                    {% if re.price > 9 %}
                    <price > {{re.price|intcomma}}</price>
                    {% else %}
                    <div class="font-13 c-gray " style="line-height:16px;" >상담/렌탈</div>
                    {% endif %}
                </div>
            </item>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear-3"></div>
    </div>
{% endif %}