<style>
    .list-compare .logo { height:18px;margin-top:-3px; vertical-align: top; }
    .list-compare .title { margin-top:3px; font-size:16px; color:#222; line-height: 1.3em; max-height:2.5em; overflow: hidden; word-break:break-all;}
    .list-compare price { position: absolute; bottom:7px; }
    .list-compare price sale { font-size:11px; line-height: 12px; color:#aaa;}
    .list-compare price num { font-size:17.5px; line-height: 18px; margin-top: 1px; font-weight: bold;}
    .list-compare price num:after {content: '원'; font-size:12px; font-weight:bold;}
    .list-compare price num.tag:before { content:'인기'; display:inline-block; padding:1px 4px 0; line-height: 14px; height:14px; 
                                        border:1px solid #f25862; color:#f25862; border-radius:2px; 
                                        vertical-align: top; margin:-1px 3px 0 0; 
                                        font-size: 0.61em; font-weight:bold; }
    .list-compare price num.tag.price:before { content:'최저'; }

    .list-compare .tag.tvshop {position: absolute; right:0; top:0; 
                            line-height: 13px;  padding: 3px 6px 2px 6px; 
                            text-align: center;  color: #fff;  font-size: 11px; 
                            background:#43bee2; border-radius: 0 0 0 2px; }

    .meta {margin-top: 8px; line-height: 1.2em;}
    .review-ct {font-size:12px; color: #aaa; }
    .review-rate {font-size:12px; color: #e1aa00; }
</style>
{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <div class="list-compare b-white position-relative " >
            <item class="list-item link-buy" 
                    url-path="searchclick" 
                    data-from="group_all_{% if order %}{{ order }}{% else %}{{ request.GET.order }}{% endif %}"
                    data-is_ad="{{ re.is_ad }}" 
                    data-id="{{ re.goods_id }}" 
                    data-url="{{ re.url }}" 
                    data-site="{{ re.genre2 }}" 
                    data-img="{{ re.img }}" 
                    data-query="{{ request.GET.query }}" 
                    data-rank="{{ re.rank }}" 
                    data-name="{{ re.name }}" 
                    data-price="{{ re.low_price }}" 
                    data-is_compare="{{ re.group_id }}">
                <div class="display-table" style="table-layout: fixed;">
                    <div class="table-cell thum position-relative" style="width:110px; height:110px;padding:10px;">
                        <img src="{{ thum }}/320x320/center/smart/{{re.img}}" onerror="this.src='{{ thum }}/320x320/smart/http://ui.buzzni.com/i/noimg.png';" />
                        {% if "성인용품" in rep.name or "자위" in rep.name or "남성용품" in rep.name or "명기" in rep.name or "오나홀" in rep.name or "딜도" in rep.name or "야한" in rep.name or "공기인형" in rep.name or "에어돌" in rep.name or "안나뮤" in rep.name or "레그에비뉴" in rep.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                        {% endif %}
                    </div>
                    <div class="table-cell" style="width:12px;"></div>
                    <div class="table-cell  position-relative" style="padding:0 3px 0 0">
                        <div class="clear-9"></div>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png" style="vertical-align: top;width:50px;margin-top:-2px;"/>
                        <div class="clear-2"></div>
                        <div class="title" style="font-size:15px;">{{re.name}}</div>
                        {% if re.review_rate > 0 or re.review_num > 0 %}
                        <div class="meta" style="margin-top:2px;">
                            {% if re.review_rate > 0 %}
                                <span class="review-rate position-relative" style="display: inline-block;">
                                    <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                    <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 1px; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                            width: {% widthratio re.review_rate 1 20 %}%;"></span>
                                </span>
                                <span class="review-rate" style="margin-left: 1px;">{{ re.review_rate|get_string|slice:':3' }}</span>
                            {% endif %}
                            {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-2 trans" style="margin:0px 1px 0px 1px; font-size:12px">|</span> {% endif %}
                            {% if re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }} </span>{% endif %}
                        </div>
                        {% endif %}
                        <price>
                            <num class="{% if re.rank == 1 %}tag {{ request.GET.order }}{% endif %}">{{re.price|intcomma}}</num>
                        </price>
                        {% if re.goods_type == "tvshop" %}
                            <div class="tag tvshop" >TV상품</div>
                        {% endif %}
                    </div>
                </div>
            </item>
            <div class="line-bottom"></div>
        </div>
        
    {% endfor %}
{% endif %}
