{% load humanize %}
{% load filters %}
{% if request.GET.page == '1' %}
<style>
    .list-review {background: #fff; margin-bottom:14px; margin-top:0px; box-shadow: 0 1px 3px #ccc; }
    .list-review thum { position: relative; overflow: hidden; padding-top: 80%; width: 100%;}
    .list-review .main-img { width:100%; position: absolute; left: 0; bottom:0; right:0; }
    .list-review dim { display: block; position: absolute; left:0; top:0; width: 100%; height: 100%; background: #1d2b54; opacity: 0.3; }
    .list-review:nth-child(2n+1) dim { background: #465c61;opacity: 0.3; }
    .list-review name {color:#fff;font-weight:bold;position: absolute; left:9%; top:9%; width: 77%; word-break: keep-all; display: block; z-index: 3; font-size:6.5vw; line-height: 1.4em; text-shadow: 1px 1px 2px #57658f;}
    .list-review detail {color:#fff;position: absolute; left:9%; bottom:9%; width: 280px; line-height: 1.2em; word-break: keep-all; display: block; z-index: 3; font-size: 13px;}

</style>
{% endif %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        <item class="list-review link-service"
            url-path="trends/info"
            data-board_id="{{ re.id }}"
            data-cate="{{ re.cate }}"
            data-from="home_review">
            <thum>
                <img class="main-img" src="{{ re.img_list.0 }}" style="margin-top:-20%;"/>
                <dim></dim>
                <name>
                    {{ re.title|linebreaksbr }}
                </name>
                <detail>
                    <div style="height:1px; background: #fff; width:110px; margin:8px 0 8px; "></div>
                    <div>좋아요 {{ re.like_num }} <span style="margin:0 3px; opacity: 0.3;"> | </span> 댓글 {{ re.cmt_num }}</div>
                    <div class="clear-2"></div>
                    <div style="opacity: 0.7; font-size: 11px;">{{ re.create_date|time_format:'ymd' }}</div>
                </detail>
                <img src="{{ media }}/hsmoa/button/more_white.png" style="width:48px; z-index: 9; position: absolute; right:8%; bottom:9%;opacity: 0.75;">
            </thum>
        </item>
    {% endfor %}
{% endif %}