{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
    {% if forloop.counter == 1 %}
    <div style="position: absolute;width:100%;box-sizing: border-box; padding:10px 10px 0; left:0; bottom:0; z-index: 2;">
        {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style=" position:absolute; bottom:20px;right:20px; z-index: 99;" />
        {% endif %}
        <item class="list-basic link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-from="{{ request.GET.flag }}"
            style=" box-shadow: 0 1px 3px rgba(0,0,0,0.2); border-radius: 2px; overflow: hidden;">
            <thum >
                {% if re.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.ribbon_img }}"
                        onerror="this.style.display='none'"/>
                {% endif %}
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                    {% elif re.is_mileage == 2 %}
                        <num class="c-red-3">{{ re.promotion_price|get_int|intcomma }}</num>
                    {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    <script>
    if($("#countdown_text").length == 1){
        {% if re|get_live_status == 1 %}
            $("#countdown_text").text("방송종료");
            countdown_server(Number("{{re.date}}{{re.end_time|slice:'2'}}{{re.end_time|slice:'3:5'}}00"), "countdown", "{{ date2 }}"+"{{ time2 }}"+"00");
        {% else %}
            $("#countdown_text").text("방송시작");
            countdown_server(Number("{{re.date}}{{re.start_time|slice:'2'}}{{re.start_time|slice:'3:5'}}00"), "countdown", "{{ date2 }}"+"{{ time2 }}"+"00");
        {% endif %}
    }
    </script>
    {% endif %}
    {% endfor %}
{% endif %}