{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
{% if request.GET.page == '1' or request.GET.page == '' %}
<style>
    .grid-box {display: inline-block; width: 50%; box-sizing:border-box; position: relative; vertical-align: top;}
    .grid-box:nth-child(2n) .list-grid{margin: 0 5px 10px 0;border-radius: 0 2px 2px 0;}
    .grid-box:nth-child(2n+1) .list-grid{margin: 0 0 10px 5px;border-radius: 2px 0 0 2px;}
    .grid-box:nth-child(2n) alarm{right:13px;}
    .grid-box:nth-child(2n+1) alarm{right:8px;}

    .list-grid { background:#fff; position: relative; overflow: hidden;}
    .list-grid thum { padding-top: 100%; position: relative;}
    .list-grid thum img { position: absolute; top:0;}
    .list-grid detail { padding:6px 10px; width:auto;}
    .list-grid site img {height:18px; vertical-align: middle; }
    .list-grid time {font-size: 11px; margin:4px 0; float:right;}
    .list-grid name { display: block; font-size: 15px; text-align: left; line-height: 1.3em; margin-top: 4px; height: 2.4em; overflow: hidden;}
    .list-grid sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
    .list-grid price { margin-top: 14px;}
    .list-grid price s { display: none;}
    .list-grid price num { font-size:18px; display: block;font-weight: bold;}
    .list-grid price num:after {content:"원";  font-size: 0.7em;}

    @media screen and (min-width: 540px) {
        .grid-box { width:33.33%;}
        .grid-box:nth-child(3n+2) .list-grid { margin: 0 6px 10px 0; border-radius:  0 2px 2px 0;}
        .grid-box:nth-child(3n) .list-grid{ margin:0 3px 10px 3px; border-radius: 2px 2px 2px 2px;}
        .grid-box:nth-child(3n+1) .list-grid { margin:0 0 10px 6px;border-radius: 2px 0 0 2px;}
        .grid-box:nth-child(3n+2) alarm{right:14px !important;}
        .grid-box:nth-child(3n) alarm{right:11px !important;}
        .grid-box:nth-child(3n+1) alarm{right:8px !important;}
    }
    @media screen and (min-width: 720px) {
        .grid-box { width:25%;}
        .grid-box:nth-child(4n+2) .list-grid { margin: 0 6px 10px 0; border-radius:  0 2px 2px 0;}
        .grid-box:nth-child(4n+3) .list-grid{ margin:0 4px 10px 2px; border-radius: 2px 2px 2px 2px;}
        .grid-box:nth-child(4n) .list-grid { margin:0 2px 10px 4px; border-radius: 2px 2px 2px 2px;}
        .grid-box:nth-child(4n+1) .list-grid { margin:0 0 10px 6px;border-radius: 2px 0 0 2px;}
        .grid-box:nth-child(4n+2) alarm{right:14px !important;}
        .grid-box:nth-child(4n+3) alarm{right:11px !important;}
        .grid-box:nth-child(4n) alarm{right:11px !important;}
        .grid-box:nth-child(4n+1) alarm{right:8px !important;}
    }
</style>
{% endif %}
{% for re in result.data|price_filter %}<div class="grid-box">
    {% if re|get_live_status == 2 %}
    <alarm class="mini alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
           alarm_action_id="{{ re.alarm_action_id }}"
           data-entity_id="{{ re.id }}"
           data-name="{{ re.name }}"
           data-price="{{ re.price }}"
           data-genre2="{{ re.genre2 }}"
           data-img="{{ re.img }}"
           data-start_time="{{ re.start_time }}"
           data-end_time="{{ re.end_time }}"
           style=" position:absolute; bottom:17px; z-index: 99;" />
    {% endif %}
    <item class="list-grid link-service"
          url-path="item"
          data-entity_id="{{ re.id }}"
          data-site="{{ re.genre2 }}"
          data-cate="{{ re.cate1 }}"
          data-rank="{{ re.rank }}"
          data-live="{{ re|get_live_status }}"
          data-price="{{ re.price }}"
          data-from="{{ request.GET.flag }}">
        <thum>
            {% if re|get_live_status == 1 %}<play/>{% endif %}
            {% if re.is_mileage == 2 %}
                <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                     src="{{ re.ribbon_img }}"
                    onerror="this.style.display='none'"/>
            {% endif %}
            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            {% if re.is_soldout == 1 %}
                <soldout/>
            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                <soldout class="onlive"></soldout>
            {% endif %}
        </thum>
        <detail>
            <site>
                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
            </site>
            <time class="c-gray-3">
                {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
            </time>
            <name>{{ re.name }}</name>
            <price>
                {% if re.org_price|get_int > re.price|get_int %}
                    <s>{{ re.org_price|intcomma }}원</s>
                {% endif %}
                {% if re.price < 9 %}
                    <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                {% else %}
                    <num class="c-red-3">{{ re.price|intcomma }}</num>
                {% endif %}
            </price>
        </detail>
    </item>
</div>{% endfor %}{% endif %}


{% if request.GET.page == '1' and request.GET.flag == 'home_underwear' %}
    <!-- 언더웨어 데이터 재활용 -->
    {% for re in result.data|price_filter %}
        {% if forloop.counter == 1 %}
            <div id="liveItem"
                 data-live="{{ re|get_live_status }}"
                 data-time_end="{{re.date}}{{re.end_time|slice:'2'}}{{re.end_time|slice:'3:5'}}00"
                 data-time_start="{{re.date}}{{re.start_time|slice:'2'}}{{re.start_time|slice:'3:5'}}00"
                 style="position: absolute;width:100%;box-sizing: border-box; padding:10px; left:0; bottom:0; z-index: 2;">
                {% if re|get_live_status == 2 %}
                <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                       alarm_action_id="{{ re.alarm_action_id }}"
                       data-entity_id="{{ re.id }}"
                       data-name="{{ re.name }}"
                       data-price="{{ re.price }}"
                       data-genre2="{{ re.genre2 }}"
                       data-img="{{ re.img }}"
                       data-start_time="{{ re.start_time }}"
                       data-end_time="{{ re.end_time }}"
                       style=" position:absolute; bottom:30px;right:20px; z-index: 99;" />
                {% endif %}
                <item class="list-basic link-service"
                      url-path="item"
                      data-entity_id="{{ re.id }}"
                      data-site="{{ re.genre2 }}"
                      data-cate="{{ re.cate }}"
                      data-rank="{{ re.rank }}"
                      data-live="{{ re|get_live_status }}"
                      data-price="{{ re.price }}"
                      data-from="{{ request.GET.flag }}_live"
                    style=" box-shadow: 0 1px 3px rgba(0,0,0,0.2); border-radius: 2px; overflow: hidden;">
                    <thum >
                        {% if re|get_live_status == 1 %}<play/>{% endif %}
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        {% if re.is_soldout == 1 %}
                            <soldout/>
                        {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                    </thum>
                    <detail>
                        <site>
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                        </site>
                        <time class="c-gray-3">
                            {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
                        </time>
                        <name>{{ re.name }}</name>
                        <price>
                            {% if re.org_price|get_int > re.price|get_int %}
                                <s>{{ re.org_price|intcomma }}원</s>
                            {% endif %}
                            {% if re.price < 9 %}
                                <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                            {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                            {% endif %}
                        </price>
                    </detail>
                </item>
            </div>
        {% elif re.cate2 == '여성언더웨어/잠옷' and rank_sub < 3 %}
            <item class="list-table link-service"
                  url-path="item"
                  data-entity_id="{{ re.id }}"
                  data-site="{{ re.genre2 }}"
                  data-cate="{{ re.cate }}"
                  data-rank="{% cycle 1 2 3 as rank_sub %}"
                  data-price="{{ re.price }}"
                  data-from="{{ request.GET.flag }}_today">
                <thum style="box-shadow: 0 1px 3px rgba(0,0,0,0.2); border-radius: 2px;overflow: hidden;">
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                </thum>
            </item>
        {% endif %}
    {% endfor %}
{% endif %}