{% load humanize %}
{% load filters %}
{% if result.data.banner|length > 0 %}
    <style>
        .brand {max-width: 420px; min-height: 130px;max-height: 350px;  margin: 0 auto; position: relative; overflow: hidden;}
        .brand:last-child{ margin-bottom: 10px;}
        .bt-brand { background: #E1AAAB;  position: absolute;  left: 20%;  bottom: 20%;  width: 60%;  height: 38px; padding-bottom: 1px;  color: #fff;  font-size: 15px;  border-radius: 50px;  z-index: 9; }
        .bt-card { background: #fff;  position: absolute;  left: 50%; top:50%; margin-left: -50px; width: 100px;  height: 38px;   font-size: 13px;  border-radius: 50px;  z-index: 9;  }
        .ic-arrow-white {width:13px; height:13px; background-size:13px 13px;}
        .brand .live-title {position: absolute; top:15%; font-size: 24px; width: 100%; left:0;}


        @media screen and (max-width: 330px){
            .brand .live-title {position: absolute; top:11%; font-size: 24px; width: 100%; left:0;}
        }

    </style>
    {% for re in result.data.banner %}
        <div class="brand block-hide" data-query="{{ re.keyword }}" >
            <img src="{{ thum }}/{{ re.img_url }}"/>
        {% if forloop.counter == 1 %}
            <div class="c-white strong align-center live-title" >
                언더웨어 LIVE
                <div style="font-size: 15px; margin-top: 2%; font-weight: normal;"><span id="countdown_text"></span> <span id="countdown" style="color: #ffff00;"></span>전</div>
            </div>
        {% elif forloop.counter == 2 %}
            <div class="skinbox" style="display:table; position: absolute; bottom:0; left:0; right:0; width:100%; box-sizing: border-box; padding:10px 5px;
                                        background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.7) 100%)">

            </div>
        {% elif forloop.counter == 3 %}
            <button class="bt-brand link-service"
                    url-path="search/result"
                    data-query="{{ re.keyword }}"
                    data-from="{{ request.GET.flag }}"
                    style="background:#{{ re.btn_color }};">
                <strong>{{ re.keyword }}</strong> 상품보기 <span class="ic-arrow-white"></span>
            </button>
        {% endif %}
        </div>
    {% endfor %}
    {% for re in result.data.card %}
        <div class="card grid-box link-service"
                    url-path="search/result"
                    data-query="{{ re.keyword }}"
                    data-from="{{ request.GET.flag }}" style="display: none;" >
            <button class="bt-card c-gray-4" style="background:#{{ re.btn_color }};">
                상품보기 <span class="ic-arrow"></span>
            </button>
            <div class="list-grid" style="background: url('{{ re.img_url }}') 50% 50% no-repeat; background-size: cover !important;">
            </div>
        </div>
    {% endfor %}
{% endif %}