{% load humanize %}
{% load filters %}
{% if result.data.banner|length > 0 %}
    <style>
        .brand {max-width: 420px; margin: 0 auto; margin-bottom: 10px; position: relative; max-height: 350px; overflow: hidden;}
        .bt-brand { background: #E1AAAB;  position: absolute;  left: 4%;  bottom: 176px;  width: 130px;  height: 38px; padding-bottom: 1px;  color: #fff;  font-size: 13px;  border-radius: 50px;  z-index: 9; }

        .bt-card { background: #fff;  position: absolute;  left: 50%; top:50%; margin-left: -50px; width: 100px;  height: 38px;   font-size: 13px;  border-radius: 50px;  z-index: 9;  }
    </style>
    {% for re in result.data.banner %}
        <div class="brand " data-query="{{ re.keyword }}" >
            <button class="bt-brand link-service"
                    url-path="search/result"
                    data-query="{{ re.keyword }}"
                    data-from="{{ request.GET.flag }}"
                    style="background:#{{ re.btn_color }}">
                브랜드 상품보기 <span class="ic-arrow-white"></span>
            </button>
            <img src="{{ thum }}/{{ re.img_url }}"/>
        </div>
    {% endfor %}
    {% for re in result.data.card %}
        <div class="card grid-box link-service"
                    url-path="search/result"
                    data-query="{{ re.keyword }}"
                    data-from="{{ request.GET.flag }}" style="display: none;">
            <button class="bt-card c-gray-4" style="background:#{{ re.btn_color }};cursor:pointer;">
                상품보기 <span class="ic-arrow"></span>
            </button>
            <div class="list-grid" style="background: url('{{ re.img_url }}') 50% 50% no-repeat; background-size: cover !important;">
            </div>
        </div>
    {% endfor %}
    <script>
        $(function(){
            $(".brand").each(function(i){
                var $this = $(this);
                var _query = $this.data('query');
                sendApi("rpc/search/tvshopSearch", {skin:"hsmoa/skin/_home_search_item", source:"future", query:_query, "page": 1, "num":20, flag:"home_beauty_brand"}, function(re){
                    $this.append(re);
                });
            });
        });
    </script>
{% endif %}