{% load humanize %}
{% load filters %}
{% if result.data %}
{% if request.GET.page == '1' or request.GET.page == '' %}
<style>
    .list-wide {margin-bottom: 10px; background:#fff; display: block;  position: relative;}
    .list-wide thum {width:100%; min-height:120px; text-align: center;  background: #fff;  display: block; }
    .list-wide rank {position:absolute; left:0; top:0; font-size:17px; width: 30px; height: 30px; line-height: 30px; opacity: 0.9;  text-align: center;}
    .list-wide tag {position:absolute; right:12px; bottom:10px; font-size: 11px; }
    .list-wide detail { padding:7px 12px; text-align: left; display: block;}
    .list-wide site {display: block; font-size: 11px; }
    .list-wide name { display: block; font-size: 17px; height:1.2em; overflow: hidden; line-height: 1.3em}
    .list-wide sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
    .list-wide price { width: auto; display: inline-block; margin: 0 0 0 5px; font-weight: bold; line-height: 1.2em;}
    .list-wide price s { font-size:11px; color: #bbb; position:relative; bottom: -4px; }
    .list-wide price num { font-size:18px; display: block;}
    .list-wide price num:after {content:"원";  font-size: 0.7em;}
</style>
{% endif %}
{% for re in result.data %}
<item class="link-buy list-wide"
      url-path="todaydealclick"
      data-url="{{ re.url }}"
      data-from="todaydeal"
      data-site="{{ re.genre2 }}"
      data-price="{{ re.price }}"
      data-id="{{ re.id }}"
      data-crawl_id="{{ re.crawl_id }}"
      data-rank="{{ re.rank }}"
      data-cate1="{{ request.GET.cate1 }}" >
    <thum>
        {% if re.rank < 11 %}<rank class=" b-red-2 c-white" >{{ re.rank }}</rank>{% endif %}
        <img src="{{ thum }}/smart/{{re.img}}" onerror="this.src='{{ thum }}/640x320/smart/{{ img }}/noimg2.png'" {% if re.genre2 != 'gsshop' %}style="max-width: 50%;"{% endif %} />
    </thum>
    <div class="line-top"></div>
    <detail>
        <site class="c-gray-3">{{ re.genre2|get_genre }}</site>
        <name>{{ re.name }}</name>
        {% if re.sale_rate > 9 %}<sale class="c-red-2">{{ re.sale_rate }}%</sale>{% else %}<sale class="c-red-2" style="font-size: 24px;">특가</sale>{% endif %}
        <price class=" "  >
            {% if re.org_price|get_int > re.price|get_int %}<s>{{ re.org_price|intcomma }}원</s>{% endif %}
            <num>{{ re.price|intcomma }}</num>
        </price>
        {% if re.buy_num > 9 %}<tag class=" c-gray-2">구매 {{ re.buy_num|intcomma }}</tag>{% endif %}
    </detail>
</item>
{% endfor %}
{% endif %}