{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
<style>
    .list-swipe {display: inline-block; width:112px;  margin: 14px 0 0 5px; background:#fff; vertical-align: top;}
    .list-swipe thum { position: relative; padding-top: 100%; }
    .list-swipe thum img { border-radius: 2px; position: absolute; left:0; top:0; right:0; bottom:0;}
    .list-swipe detail { padding:4px 0 8px; width:auto; height:70px;}
    .list-swipe name { font-size: 13px; text-align: left; line-height: 1.3em; margin: 4px 0; max-height: 2.4em; overflow: hidden; white-space: pre-wrap; word-break: break-all;}
    .list-swipe sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
    .list-swipe price { font-size:15px; display: block;font-weight: bold;}
    .list-swipe price:after {content:"원";  font-size: 0.7em;}
</style>
<div class="c-gray-4" style="padding: 14px 0 0 14px; font-size: 15px; ">
    같은시간대 판매상품
    <div class="c-gray-2" style="font-size: 11px; margin-top: 3px;">방송사의 재량에 따라 방송되는 상품 및 순서는 변경될 수 있습니다.</div>
</div>
<div style="width:100%; box-sizing:border-box; padding:0 12px 1px 8px; overflow-x:auto;-webkit-overflow-scrolling: touch; white-space: nowrap; ">
    {% for re in result.data %}
        {% if re.status != 0 %}
            <item class="list-swipe link-service"
                  url-path="item"
                  data-entity_id="{{ re.id }}"
                  data-site="{{ re.genre2 }}"
                  data-rank="{{ forloop.counter }}"
                  data-price="{{ re.price }}"
                  data-from="item_sametime">
                <thum>
                    <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% if re.is_soldout == 1 %}
                        <soldout/>
                    {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                        <soldout class="onlive"/>
                    {% endif %}
                </thum>
                <detail>
                    <name>{{ re.name }}</name>
                    {% if re.is_mileage == 2 %}
                        <price>{{ re.promotion_price|get_int|intcomma }}</price>
                    {% elif re.price > 9 %}
                        <price>{{ re.price|intcomma }}</price>
                    {% endif %}
                </detail>
            </item>
        {% endif %}
    {% endfor %}
</div>
<div class="line-bottom"></div>
{% endif %}