{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
<div class="c-gray-5" style="padding: 14px; font-size: 15px; ">
    다른 고객들이 같이 본 상품
</div>
<div style="padding: 0 9px;">
    {% for re in result.data %}<item class="list-inline link-service"
          url-path="item"
          data-entity_id="{{ re.id }}"
          data-site="{{ re.genre2 }}"
          data-rank="{{ forloop.counter }}"
          data-price="{{ re.price }}"
          data-from="item_reco_entity">
        <thum>
            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            {% if re.soldout %}<soldout/>{% endif %}
        </thum>
        <detail>
            <name>{{ re.name }}</name>
            {% if re.is_mileage == 2 %}
                <price>{{ re.promotion_price|get_int|intcomma }}</price>
            {% elif re.price > 9 %}
                <price>{{ re.price|intcomma }}</price>
            {% endif %}
        </detail>
    </item>{% endfor %}
</div>
<div class="line-bottom"></div>
{% endif %}