{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
<div class="c-gray-4" style="padding: 14px 0 0 14px; font-size: 15px; ">
    같은시간대 판매상품
    <div class="c-gray-2" style="font-size: 11px; margin-top: 3px;">방송사의 재량에 따라 방송되는 상품 및 순서는 변경될 수 있습니다.</div>
</div>
<div id="sametime_list" style="width:100%; box-sizing:border-box; padding:12px 8px 2px;transition: all 0.3s ease;">
    <div>
    {% for re in result.data %}<item class="list-inline link-service"
          url-path="item"
          data-entity_id="{{ re.id }}"
          data-site="{{ re.genre2 }}"
          data-rank="{{ forloop.counter }}"
          data-price="{{ re.price }}"
          data-from="item_sametime"
        {% if forloop.counter > 3 %}style="display: none;"{% endif %}>
        <thum>
            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            {% if re.is_soldout == 1 %}
                <soldout/>
            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                <soldout class="onlive"></soldout>
            {% endif %}
        </thum>
        <detail>
            <name>{{ re.name }}</name>
            {% if re.is_mileage == 2 %}
                <price>{{ re.promotion_price|get_int|intcomma }}</price>
            {% elif re.price > 9 %}
                <price>{{ re.price|intcomma }}</price>
            {% endif %}
        </detail>
    </item>{% endfor %}
    </div>
</div>
<div class="line-bottom"></div>
{% endif %}
{% if result.data|length > 3 %}
<button onclick="$('.list-inline').show(); $(this).hide();" class="align-center c-gray-3" style="height: 40px; width: 100%; font-size: 13px; ">
    같은시간대 방송상품 <span class="c-black">{{ result.data|length }}개</span> <img src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 16px;">
</button>
<div class="line-bottom"></div>
{% endif %}