{% load humanize %}
{% load filters %}
{% if result.after_live|length > 2 %}
<div class="tvrank-reco-block b-white" style="font-size: 0; margin-bottom: 12px;">
    <div class="c-gray-5 " style="padding:14px; font-size: 15px; ">
        모아위크 {{ is_allinweek.salerate }}%할인
        <button class="link-service" url-path="event/moaweek" data-from="item_moaweek_list"
             style="float: right; margin: -2px -4px 0 0; background: url('{{ media }}/hsmoa/icon/arrow_right.png') 50% 50% no-repeat; background-size:18px 18px; width: 18px; height: 18px;">
        </button>
    </div>
    <div class="display-table-fixed" style="padding: 0 8px;">
    {% for group in result.after_live %}
        {% for re in group.data %}
            {% if re.is_mileage == 2 %}
                <item class="list-table link-service"
                      url-path="item"
                      data-entity_id="{{ re.id }}"
                      data-site="{{ re.genre2 }}"
                      data-rank="{% cycle 1 2 3 4 5 6 7 8 9 as rank_count %}"
                      data-price="{{ re.price }}"
                      data-from="item_moaweek_list">
                    <thum>
                        {% if re.is_mileage == 2 %}
                            <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:52px;"
                                 src="{{ re.ribbon_img }}"
                                onerror="this.style.display='none'"/>
                        {% endif %}
                        <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    </thum>
                    <detail>
                        <name class="c-gray-5">{{ re.name }}</name>
                        {% if re.is_mileage == 2 %}
                            <price>{{ re.promotion_price|get_int|intcomma }}</price>
                        {% elif re.price > 9 %}
                            <price>{{ re.price|intcomma }}</price>
                        {% endif %}
                    </detail>
                </item>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endif %}
