{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
<style>
.reco-query {
    font-size: 13px;
    display: inline-block;
    letter-spacing: -1px;
    padding: 7px 10px;
    border: 1px solid #666;
    background: #fff;
    border-radius: 3px;
    margin: 0 5px 10px 0;
}
</style>
<div class="c-gray-5" style="padding: 14px 0 0 14px; font-size: 15px; ">
    다른 사람들이 검색한 키워드
</div>
<div style="padding:14px;">
    <div style=" max-height: 70px; overflow: hidden;">
        {% for re in result.data %}
            <div class="link-service reco-query"
                url-path="search/result"
                data-query="{{ re.name }}"
                data-before_entity="{{ request.GET.goods_id }}"
                data-from="item_reco_query" >
                {{ re.name }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="line-bottom"></div>
{% endif %}