{% load humanize %}
{% load filters %}
{% spaceless %}
{% for group in result.data.live %}
    {% for re in group.data %}
        {% if re.status != 0 %}
            {% if re.is_mileage == 2 %}
                <div class="position-relative list-interest" data-interest="{{ re.alarm_action_num }}" data-pid="{{ re.genre2 }}_{{ re.crawl_id }}">
                    <item class="list-basic link-buy"
                          url-path="buyclick"
                          data-from="{{ request.GET.flag }}"
                          data-entity_id="{{ re.id }}"
                          data-url="{{ re.url }}"
                          data-site="{{ re.genre2 }}"
                          data-cate="{{ re.cate1 }}"
                          data-price="{{ re.price }}"
                          data-live="{{ re|get_live_status }}"
                          data-rank="{{ re.rank }}">
                        <thum>
                            <play/>
                            <img src="{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                            {% if re.is_soldout == 1 %}
                                <soldout/>
                            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                                <soldout class="onlive"></soldout>
                            {% endif %}
                        </thum>
                        <detail>
                            <site>
                                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                            </site>
                            <time class="c-red-2">
                                현재 방송 중
                            </time>
                            <name>{{ re.name }}</name>
                            <price>
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s>{{ re.org_price|intcomma }}원</s>
                                {% endif %}
                                <num class="c-gray-5">{{ re.price|intcomma }}</num>
                            </price>
                            <price class="block-hide sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list|jsonify }}" >
                                <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가</span> {{ re.price|intcomma }}</num>
                                <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">최종혜택가</span> <span class="price" style="font-size: 18px;"> {{ re.price|intcomma }}</span></num>
                            </price>
                        </detail>
                        <div class="line-bottom"></div>
                        <div class="display-table sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list|jsonify }}" style="padding: 10px 0 8px;">
                            <div class="table-cell align-middle align-center">
                                <span class="c-red-3 " style="line-height: 13px; opacity: 0.8;">최종혜택가 </span>
                                <span class="price c-red-3 strong" style="line-height: 18px;font-size: 18px;"></span><span class="font-12 c-red-3 ">원</span>
                                <span class="sale c-gray-3" style="line-height: 13px;"></span>
                            </div>
                        </div>
                    </item>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for group in result.data.after_live %}
    {% for re in group.data %}
        {% if re.status != 0 %}
            {% if re.is_mileage == 2 and re.price >= 9 %}
                <div class="position-relative list-interest" data-interest="{{ re.alarm_action_num }}" data-pid="{{ re.genre2 }}_{{ re.crawl_id }}">
                    {% if re|get_live_status == 2 %}
                    <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                           alarm_action_id="{{ re.alarm_action_id }}"
                           data-entity_id="{{ re.id }}"
                           data-name="{{ re.name }}"
                           data-price="{{ re.price }}"
                           data-genre2="{{ re.genre2 }}"
                           data-img="{{ re.img }}"
                           data-start_time="{{ re.start_time }}"
                           data-end_time="{{ re.end_time }}"/>
                    {% endif %}
                    <item class="list-basic link-buy"
                          url-path="buyclick"
                          data-from="{{ request.GET.flag }}"
                          data-entity_id="{{ re.id }}"
                          data-url="{{ re.url }}"
                          data-site="{{ re.genre2 }}"
                          data-cate="{{ re.cate1 }}"
                          data-price="{{ re.price }}"
                          data-live="{{ re|get_live_status }}"
                          data-rank="{{ re.rank }}">
                        <thum>
                            <img src="{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                            {% if re.is_soldout == 1 %}
                                <soldout/>
                            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                                <soldout class="onlive"></soldout>
                            {% endif %}
                        </thum>
                        <detail>
                            <site>
                                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                            </site>
                            <time class="c-gray-3">
                                {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                            </time>
                            <name>{{ re.name }}</name>
                            <price >
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s>{{ re.org_price|intcomma }}원</s>
                                {% endif %}
                                <num class="c-gray-5">{{ re.price|intcomma }}</num>
                            </price>
                            <price class="block-hide sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list|jsonify }}" >
                                <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가 </span> {{ re.price|intcomma }}</num>
                                <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">최종혜택가 </span> <span class="price" style="font-size: 18px;">{{ re.price|intcomma }}</span></num>
                            </price>
                        </detail>
                        <div class="line-bottom"></div>
                        <div class="display-table sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list|jsonify }}" style="padding: 10px 0 8px;">
                            <div class="table-cell align-middle align-center">
                                <span class="c-red-3 " style="line-height: 13px; opacity: 0.8;">최종혜택가 </span>
                                <span class="price c-red-3 strong" style="line-height: 18px;font-size: 18px;"></span><span class="font-12 c-red-3 ">원</span>
                                <span class="sale c-gray-3" style="line-height: 13px;"></span>
                            </div>
                        </div>
                    </item>
                </div>
                {% if re.same_time_item|length > 0 %}
                <div class="sametime-block">
                    <div class="sametime-list">
                        {% for item in re.same_time_item %}
                            {% if item.is_mileage == 2 and request.GET.date|get_int == re.date %}
                                <item class="list-mini link-buy"
                                      url-path="buyclick"
                                      data-from="{{ request.GET.flag }}_sametime"
                                      data-entity_id="{{ item.id }}"
                                      data-url="{{ item.url }}"
                                      data-site="{{ item.genre2 }}"
                                      data-cate="{{ item.cate1 }}"
                                      data-price="{{ item.price }}"
                                      data-live="{{ re|get_live_status }}"
                                      data-cate="{{ item.cate1 }}"
                                      data-rank="{{ item.rank }}" style="margin: -9px 0 10px; border-radius: 2px;">
                                    <thum>
                                        <img src="{{ item.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                                        {% if item.is_soldout == 1 %}
                                            <soldout class="cover"/>
                                        {% elif item.is_soldout == 2 and re|get_live_status != 1 %}
                                            <soldout class="cover onlive"/>
                                        {% endif %}
                                    </thum>
                                    <detail>
                                        <name style="max-height: 1.3em;">{{ item.name }}</name>
                                        <price>
                                            <s>{{ item.price|intcomma }}원</s>
                                            <div class="sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ item.price }}" data-org_price="{{ item.org_price }}" data-card="{{ item.card_list|jsonify }}">
                                                <span class="c-red-3 " style="line-height: 13px; opacity: 0.8; font-size: 11px;">최종혜택가 </span>
                                                <num class="price c-red-3 strong" style="display: inline-block;"></num>
                                            </div>
                                        </price>
                                    </detail>
                                </item>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if re.same_time_item|length > 3 %}
                        <div class="sametime-toggle b-white c-gray-3 align-center" data-id style="height: 32px; line-height: 32px; font-size: 12px;">
                            <img class="arrow-down" src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                            <img class="arrow-up" src="{{ media }}/hsmoa/icon/arrow_up.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                        </div>
                    {% endif %}

                </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endspaceless %}