{% load humanize %}
{% load filters %}
{% if result.promotion_groups %}
    {% for group in result.promotion_groups %}
        {% for entity in group.entities.promotion_entities %}
            {% with entity.detail as re %}
                {% if re.url %}
                    <div class="position-relative">
                        <item class="list-basic link-buy"
                              url-path="buyclick"
                              data-from="{{ request.GET.flag }}"
                              data-entity_id="{{ re.id }}"
                              data-url="{{ re.url }}"
                              data-site="{{ re.genre2 }}"
                              data-cate="{{ re.cate1 }}"
                              data-price="{{ re.price }}"
                              data-live="{{ re|get_live_status }}"
                              data-cate="{{ re.cate1 }}"
                              data-rank="{{ re.rank }}">
                            <thum>
                                <img src="{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                            </thum>
                            <detail>
                                <site>
                                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                                </site>
                                <name>{{ re.name }}</name>
                                <price >
                                    {% if re.org_price|get_int > re.price|get_int %}
                                        <s>{{ re.org_price|intcomma }}원</s>
                                    {% endif %}
                                    <num class="c-gray-5">{{ re.price|intcomma }}</num>
                                </price>
                                <price class="block-hide sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list }}" >
                                    <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가</span> {{ re.price|intcomma }}</num>
                                    <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">최종혜택가</span> <span class="price" style="font-size: 18px;">{{ re.price|intcomma }}</span></num>
                                </price>
                            </detail>
                            <div class="line-bottom"></div>
                            <div class="display-table sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list }}" style="padding: 10px 0 8px;">
                                <div class="table-cell align-middle align-center">
                                    <span class="c-red-3 " style="line-height: 13px; opacity: 0.8;">최종혜택가 </span>
                                    <span class="price c-red-3 strong" style="line-height: 18px;font-size: 18px;"></span><span class="font-12 c-red-3 ">원</span>
                                    <span class="sale c-gray-3" style="line-height: 13px;"></span>
                                </div>
                            </div>
                        </item>
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endif %}
