{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        {% if re.is_mileage == 2 and rank_count < 5 %}
            <div class="position-relative">
                <div class="clear-3"></div>
                <item class="list-swipe-best link-buy"
                      url-path="buyclick"
                      data-from="{{ request.GET.flag }}"
                      data-entity_id="{{ re.id }}"
                      data-url="{{ re.url }}"
                      data-site="{{ re.genre2 }}"
                      data-cate="{{ re.cate1 }}"
                      data-price="{{ re.price }}"
                      data-live="{{ re|get_live_status }}"
                      data-cate="{{ re.cate1 }}"
                      data-rank="{% cycle 1 2 3 4 5 as rank_count %}">
                    <rank>{{ rank_count }}</rank>
                    <thum>
                        <img src="{{ thum }}/640x320/top/{{re.img}}" onerror="this.src='{{ thum }}/640x320/top/{{ img }}/noimg2.png'" />
                    </thum>
                    <detail>
                        <name>{{ re.name }}</name>
                        <price class="sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list }}" >
                            <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가</span> {{ re.price|intcomma }}</num>
                            <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">최종혜택가</span> <span class="price" style="font-size: 18px;">{{ re.price|intcomma }}</span></num>
                        </price>
                    </detail>
                </item>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}