{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
        {% if re.is_mileage == 2 %}
            <script>
                flowplayer("#player", {
                    autoplay: true,
                    poster: '{{ thum }}/{{ re.img_wide }}',
                    aspectRatio: "16:9",
                    clip: {sources: [{ type: "application/x-mpegurl", src:'{{ re.ios_video }}' }]}
                });

                $("#live").show();
            </script>
            <item class="list-swipe-best link-buy"
                  url-path="buyclick"
                  data-from="{{ request.GET.flag }}"
                  data-entity_id="{{ re.id }}"
                  data-url="{{ re.url }}"
                  data-site="{{ re.genre2 }}"
                  data-cate="{{ re.cate1 }}"
                  data-price="{{ re.price }}"
                  data-live="{{ re|get_live_status }}"
                  data-cate="{{ re.cate1 }}"
                  data-rank="{{ re.rank }}"
                  style="border-radius: 0 0 4px 4px; border:0; margin-top: -8px;">
                <rank class="block-hide" >{% cycle 1 as rank_count %}</rank>
                <detail style="text-align: left;">
                    <name>{{ re.name }}</name>
                    <div style="text-align:right;float:right;">
                         <button class="bt b-red-2 c-white strong " style="padding: 8px 24px; border-radius: 3px; margin-top: 8px; font-size: 15px;">
                            바로구매
                        </button>
                    </div>
                    <price class="sale-calculator" data-site="{{ re.genre2 }}" data-price="{{ re.price }}" data-org_price="{{ re.org_price }}" data-card="{{ re.card_list }}" >
                        <num class="c-moaweek "><span style="font-weight: normal; font-size: 0.7em;">정상가</span> {{ re.price|intcomma }}</num>
                        <num class="c-red-3"><span style="font-weight: normal; font-size: 0.7em;">모아위크가</span> <span class="price" style="font-size: 21px;">>{{ re.price|intcomma }}</span></num>
                    </price>
                </detail>
            </item>

        {% endif %}
    {% endfor %}
{% endif %}