{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% if request.GET.page == '1' or request.GET.page == '' %}
    <style>
        .sametime-block { margin: -11px 0 10px;}
        .sametime-block .sametime-toggle .arrow-up { display: none; }
        .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
        .sametime-block .sametime-list { display: none;}
        .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
        .sametime-block.on .sametime-toggle .arrow-down { display: none; }
        .sametime-block.on .sametime-list { display: block;}
    </style>
    {% endif %}
    {% for re in result.data %}
    {% if re.date_title %}
        <div class="mark-date c-white {% if request.GET.source == 'past' %}b-coolgray-4{% else %}b-mint-2{% endif %}">
            {% if re.diff_day == 0 %}오늘{% elif re.diff_day == 1 %}내일{% elif re.diff_day == 2 %}모레{% elif re.diff_day == -1 %}어제{% elif re.diff_day == -2 %}그제{% endif %}
            {{ re.date|time_format:'md' }}</div>
    {% endif %}
    <div class="position-relative">
        {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style=" position:absolute; top:104px; right:10px; z-index: 99;" />
        {% endif %}
        <item class="list-basic link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-live="{{ re|get_live_status }}"
              data-query="{{ request.GET.query }}"
               data-aid="{{ request.GET.flag }}"
              data-from="my_alarm_keyword">
            <thum>
                {% if re|get_live_status == 1 %}<play></play>{% endif %}
                {% if re.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.ribbon_img }}" onerror="this.style.display='none'"/>
                {% endif %}
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout == 1 %}
                    <soldout/>
                {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                    <soldout class="onlive"></soldout>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price|get_int < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        {% if re.is_mileage == 2 %}
                            <num class="c-red-3">{{ re.promotion_price|get_int|intcomma }}</num>
                        {% else %}
                            <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    {% endfor %}
{% endif %}