{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% if request.GET.page == '1' or request.GET.page == '' %}
    <style>
        .list-basic time {position:absolute; float: inherit; white-space: nowrap;}
    </style>
    {% endif %}
    {% for re in result.data %}
    <div id="target_{{ re.id }}">
        <!-- 히스토리 제거 버튼 -->
        <button onclick="like_remove('{{ re.id }}', 'target_{{ re.id }}');" style="position:absolute; right:0; margin: 5px; width:20px; height:20px;z-index:9;" >
            <img src="{{ media }}/hsmoa/button/close_gray.png"/>
        </button>
        <item class="list-basic link-service"
              url-path="item"
              data-entity_id="{{ re.entity.id }}"
              data-site="{{ re.entity.genre2 }}"
              data-cate="{{ re.entity.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.entity.price }}"
              data-from="like">
            <thum>
                {% if re.entity|get_live_status == 1 %}<play></play>{% endif %}
                {% if re.entity.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.entity.ribbon_img }}"
                        onerror="this.style.display='none'"/>
                {% endif %}
                <img src="{{ thum320 }}/{{re.entity.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.entity.is_soldout == 1 %}
                    <soldout/>
                {% elif re.entity.is_soldout == 2 and re.entity|get_live_status != 1 %}
                    <soldout class="onlive"></soldout>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.entity.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.entity.date|get_string|time_format:'md' }}
                    {% if re.entity.start_time > 999 %}
                        {{re.entity.start_time|get_string|slice:'0:2' }}:{{re.entity.start_time|get_string|slice:'2:4' }}
                    {% elif re.entity.start_time > 99 %}
                        {{re.entity.start_time|get_string|slice:'0:1' }}:{{re.entity.start_time|get_string|slice:'1:3' }}
                    {% elif re.entity.start_time > 9 %}
                        00:{{re.entity.start_time }}
                    {% else %}
                        00:0{{re.entity.start_time }}
                    {% endif %}
                </time>
                <name>[{{ re.entity.start_time }}]{{ re.entity.name }}</name>
                <price >
                    {% if re.entity.org_price|get_int > re.entity.price|get_int %}
                        <s>{{ re.entity.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.entity.price < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                    {% elif re.entity.is_mileage == 2 %}
                        <num class="c-red-3">{{ re.entity.promotion_price|get_int|intcomma }}</num>
                    {% else %}
                        <num class="c-red-3">{{ re.entity.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    {% endfor %}

{% endif %}