{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% for re in result.data %}
    <div>
        <!-- 히스토리 제거 버튼 -->
        <button onclick="visit_search_remove('{{ re.id }}');" style="position:absolute; right:0; margin: 5px; width:20px; height:20px;z-index: 5;" >
            <img src="{{ media }}/hsmoa/button/close_gray.png"/>
        </button>
        <item class="list-basic link-buy"
              url-path="searchclick"
              data-from="history_visit"
              data-id="{{ re.id }}"
              data-url="{{ re.url }}"
              data-site="{{ re.site_name }}"
              data-img="{{ re.img }}"
              data-query="{{ re.query }}"
              data-rank="{{ re.rank }}"
              data-name="{{ re.name }}"
              data-is_ad="0">
            <thum>
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout %}<soldout/>{% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.site_name }}.png" onerror="this.style.display = 'none'"/>
                </site>
                <name>{{ re.name }}</name>
                <price >
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price|get_int < 9 %}
                    <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                    {% else %}
                    <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    {% endfor %}
{% endif %}