{% load filters %}
{% if result.data|length > 0 %}
    <style>

    .list-query {display: table; width: 100%; table-layout: fixed;}

    .query-name {display: table-cell; vertical-align: middle; padding:14px;font-size:14px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
    .query-date {display: table-cell; vertical-align: middle;  width:140px; font-size:12px;box-sizing: border-box; text-align: right; padding-right: 44px;padding-top:2px; white-space: nowrap; }
    .alarm-keyword-remove {position:absolute; top:0; right:0; width:42px; height:100%; background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat; background-size: 18px 18px;}


    .query-count {position: absolute; left:10px; top:10px;  width:36px; height:36px; border-radius:24px; line-height: 1;padding-top: 1px; font-size: 18px;}

    .alarm-expired {position: absolute; left: 0; top:1%; right:0; bottom:1%; z-index: 90; background:#fff; opacity: 0.7; display: block; width: 100%; height: 98%;}
    .alarm-keyword-extend {position: absolute; z-index: 99; height:24px; padding: 0 8px; font-size: 12px; border: 1px solid #64d8db; border-radius: 2px; right:36px; top: 50%; margin-top: -12px; }
    </style>
    {% for re in result.data %}
        {% if forloop.counter == 11 %}
            <button class="bt c-gray-3" onclick="$('#keyword_more_block').show();$(this).hide();" style="width:100%; padding: 12px 0;">
                검색어알람 더보기 <img src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 15px; ">
            </button>
            <div id="keyword_more_block" class="block-hide">
        {% endif %}

        <div id="list_{{ re.id }}" style="position: relative;">
            <div class="link-service list-query"
                 url-path="my/alarm/keyword"
                 data-query="{{ re.keyword.name }}"
                 data-from="my_alarm"
                 data-id="{{ re.id }}"
                 data-status="{{ re.status }}"
                 data-date="{{ re.status }}"
                 data-flag="{{ re.alarm_expire_date }}"
                 data-rank="{{ forloop.counter }}">
                <div class="query-name">
                    "{{ re.keyword.name }}"
                </div>
                <div class="query-date c-gray-2">
                     방송예정 <span class="c-mint-2">{{ re.alarm_count }}</span>
                </div>
            </div>
            <div class="alarm-keyword-remove" data-id="{{ re.id }}" data-query="{{ re.keyword.name }}" >
            </div>
        </div>
        <div class="line-bottom" style="margin-right: 14px;margin-left: 14px;"></div>

        {% comment %}
            {% if re.alarm_expire_date < date2|get_int %}
                <button class="bt alarm-expired" onclick='alert("만료된 검색어알람 입니다. 다시 알람받으시려면 연장하기 버튼을 눌러주세요.")'></button>
            {% endif %}
                <button class="bt alarm-keyword-extend c-mint-2"
                      data-query="{{ re.keyword.name }}"
                      data-keyword_id="{{ re.keyword.id }}"
                      data-flag="{{ re.alarm_expire_date }}"
                      data-type="{% if re.alarm_expire_date < date2|get_int %}expired{% else %}active{% endif %}">
                    연장
                </button>
        {% endcomment %}


        {% if result.data|length > 10 and forloop.revcounter == 1 %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
