{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% if request.GET.page == '1' or request.GET.page == '' %}
    <style>
        .alarm-action {background: #fff; margin-bottom: 10px; position: relative;}
        .alarm-action time {margin:4px 0; font-size: 12px; }
        .alarm-entity-remove {position:absolute; top:0; right:0; width:40px; height:100%; background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat; background-size: 16px 16px;}
        .list-alarmaction {background:#fff;position: relative;}
        .list-alarmaction thum { width:84px; height:84px;position: absolute; left:14px; top:8px; border-radius: 2px; overflow: hidden; }
        .list-alarmaction play { background-size:30px 30px; background-color: rgba(0,0,0,0);}
        .list-alarmaction detail { padding:8px 12px 8px 108px; height:100px;}
        .list-alarmaction site img {width:48px; vertical-align: middle; margin-top: -1px;}
        .list-alarmaction time {float:right;}
        .list-alarmaction name { display: block; font-size: 13px; text-align: left; line-height: 1.3em; margin-top: 3px; max-height: 2.4em; overflow: hidden;}
        .list-alarmaction sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
        .list-alarmaction price { position: absolute; bottom:12px; }
        .list-alarmaction price s { font-size:11px; color: #bbb;}
        .list-alarmaction price num { font-size:15px; display: block;font-weight: bold;}
        .list-alarmaction price num:after {content:"원";  font-size: 0.7em;}
        .alarm-entity-remove {position:absolute; right:0; top:-2px; z-index: 5; width:42px; height:40px; background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat; background-size: 18px 18px;}
    </style>
    {% endif %}
    {% for re in result.data %}
    {% if re.date %}
        <div class="mark-date c-white {% if request.GET.source == 'past' %}b-coolgray-4{% else %}b-mint-2{% endif %}">
            {% if re.diff_day == 0 %}오늘{% elif re.diff_day == 1 %}내일{% elif re.diff_day == 2 %}모레{% elif re.diff_day == -1 %}어제{% elif re.diff_day == -2 %}그제{% endif %}
            {{ re.date|time_format:'md' }}
        </div>
    {% endif %}
    <div id="target_{{ re.id }}" class="alarm-action">
        <div style=" padding:12px;font-size: 12px; ">
            {% if re.keyword %}
                <span class="c-gray-6 strong" >"{{ re.keyword }}" </span>
            {% endif %}
            <time class="c-gray-4" style="margin-left:3px;">
                {{ re.entity.date|time_format:'md' }} {{ re.entity.start_time|time_format:'time' }}
                -
                {% if re.entity|get_live_status == 1 %}
                    <span class="c-red-1">현재 방송중입니다.</span>
                {% else %}
                    {% if re.status < 1 %}방송 시{% elif re.status > 59 %}{% widthratio re.status 60 1 %}시간 전{% else %}{{ re.status }}분 전{% endif %} 알람
                {% endif %}
            </time>
        </div>
        <div class="line-bottom" style="margin-right: 14px;margin-left: 14px;"></div>
        <!-- 알람 제거 버튼 -->

        <button class="alarm-entity-remove" data-id="{{ re.id }}" data-entity_id="{{ re.entity.id }}" data-source="{{ request.GET.source }}"></button>
        <item class="list-alarmaction link-service"
              url-path="item"
              data-entity_id="{{ re.entity.id }}"
              data-site="{{ re.entity.genre2 }}"
              data-cate="{{ re.entity.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.entity.price }}"
              data-query="{{ re.keyword }}"
              {% if re.alarm_id > 0 %}data-aid="{{ re.alarm_id }}"{% endif %}
              data-from="my_alarm">
            <thum>
                {% if re.entity|get_live_status == 1 %}<play/>{% endif %}
                <img src="{{ thum320 }}/{{re.entity.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.entity.is_soldout == 1 %}
                    <soldout class="cover"/>
                {% elif re.entity.is_soldout == 2 and re.entity|get_live_status != 1 %}
                    <soldout class="cover onlive"/>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.entity.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {% if re.entity.start_time > 999 %}
                        {{re.entity.start_time|get_string|slice:'0:2' }}:{{re.entity.start_time|get_string|slice:'2:4' }}
                    {% elif re.entity.start_time > 99 %}
                        {{re.entity.start_time|get_string|slice:'0:1' }}:{{re.entity.start_time|get_string|slice:'1:3' }}
                    {% elif re.entity.start_time > 9 %}
                        00:{{re.entity.start_time }}
                    {% else %}
                        00:0{{re.entity.start_time }}
                    {% endif %} ~
                    {% if re.entity.end_time > 999 %}
                        {{re.entity.end_time|get_string|slice:'0:2' }}:{{re.entity.end_time|get_string|slice:'2:4' }}
                    {% elif re.entity.end_time > 99 %}
                        {{re.entity.end_time|get_string|slice:'0:1' }}:{{re.entity.end_time|get_string|slice:'1:3' }}
                    {% elif re.entity.end_time > 9 %}
                        00:{{re.entity.end_time }}
                    {% else %}
                        00:0{{re.entity.end_time }}
                    {% endif %}
                </time>
                <name>{{ re.entity.name }}</name>
                <price >
                    {% if re.entity.price < 9 %}
                    <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                    {% elif re.entity.is_mileage == 2 %}
                        <num>{{ re.entity.promotion_price|get_int|intcomma }}</num>
                    {% else %}
                        <num>{{ re.entity.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    {% endfor %}
{% endif %}