{% load humanize %}
{% load filters %}
{% if result.data|length > 0 %}
    {% if request.GET.live == '1' and request.GET.page == '1' %}
        <div class="mark-date b-mint-2 c-white">방송예정 상품</div>
    {% elif request.GET.page == '1' %}
        <div class="mark-date b-coolgray-4 c-white">이전방송 상품</div>
    {% endif %}
    {% for re in result.data %}
    <div>
        {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style="position:absolute; right:10px; margin-top:102px; z-index: 99;"/>
        {% endif %}
        <item class="list-basic link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-from="{{ request.GET.flag }}">
            <thum>
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout == 1 %}
                    <soldout/>
                {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                    <soldout class="onlive"/>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price|get_int > re.price|get_int %}<s>{{ re.org_price|intcomma }}원</s>{% endif %}
                    {% if re.price < 9 %}
                    <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                    <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
    </div>
    {% endfor %}
{% endif %}