{% load humanize %}
{% load filters %}
<!--
entity가 있으면서 미분류로 분류되지 않는 상품을 순위별로 출력합니다.
-->
{% if result.promotion_groups %}
    {% for group in result.promotion_groups %}
        {% for entity in group.entities.promotion_entities %}
            {% with entity.detail as re %}
                {% if re.url %}
                    <item class="link-buy list-basic"
                        url-path="promotion_click"
                        data-url="{{ re.url }}"
                        data-pid="{{ re.pid }}"
                        data-id="{{ re.pid }}"
                        data-site="{{ re.site }}"
                        data-price="{{ re.price }}"
                        data-from="{{ request.GET.flag }}"
                        data-is_search_item="{{ entity.code }}">
                        <thum>
                            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        </thum>
                        <detail>
                            <site>
                                <img src="{{ media }}/hsmoa/logo/logo_{{ entity.genre2 }}.png"/>
                            </site>
                            <name>{{ re.name }}</name>
                            <price>
                                {% if re.org_price|get_int > re.price|get_int %}
                                    <s>{{ re.org_price|intcomma }}원</s>
                                {% endif %}
                                {% if re.price < 9 %}
                                <span class="c-gray-2">상담/렌탈</span>
                                {% else %}
                                <num class="c-red-3">{{ re.price|intcomma }}</num>
                                {% endif %}
                            </price>
                        </detail>
                    </item>
                    {% if is_allinweek %}
                        {% if entity.genre2 in is_allinweek.genre2_array %}
                            <div class="display-table sale-calculator" data-site="{{ re.genre2 }}"
                                 data-price="{{ re.price }}" data-card="{{ re.card_list }}"
                                 data-org_price="{{ re.org_price }}"
                                 style="background: #fff; border-top: 1px solid #eee;">
                                <div class="table-cell align-middle align-right"
                                     style="width:142px;height:33px; "><span class="font-13 c-darkgray "
                                                                             style="line-height: 13px;">모아위크 최저가 :</span>
                                </div>
                                <div class="table-cell align-middle " style="height:33px; padding-left: 10px; ">
                                    <span class="price font-17 c-red strong"
                                          style="line-height: 18px;"></span><span
                                        class="font-12 c-red ">원</span>
                                    <span class="sale font-13 c-darkgray " style="line-height: 13px;"></span>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endif %}
