{% load humanize %}
{% load filters %}
{% if result.query_goods.name %}
    {% with result.query_goods as re %}
    <div class="grid-box">
        <item class="list-basic link-buy"
            url-path="searchclick"
            data-from="reco_keyword_visited{% if request.GET.entity_id %}_tvshop{% endif %}"
            data-id="{{ re.goods_id }}"
            data-url="{{ re.url }}"
            data-site="{{ re.genre2 }}"
            data-img="{{ re.img }}"
            data-query="{{ request.GET.query }}"
            data-rank="0"
            data-name="{{ re.name }}"
            data-is_ad="0">
            <thum >
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'"  />
                {% if re.soldout %}<soldout/>{% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <name >{{ re.name }}</name>
                <price>
                    {% if re.org_price|default:re.price|get_int > re.low_price|get_int %}
                        <s>{{ re.org_price|default:re.price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        <num class="c-red-3">{{ re.low_price|default:re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
        {% if re.compare_info and re.group_id != 0 %}
        <div class="line-bottom"></div>
        <compare
            class="link-service"
            url-path="group"
            data-from="search"
            data-id="{{ re.compare_info.goods_id }}"
            data-site="{{ re.compare_info.genre2 }}"
            data-group_id="{{ re.group_id }}"
            data-query="{{ request.GET.query }}"
            data-rank="{{ re.rank }}"
            data-name="{{ re.compare_info.rep_name }}"
            data-flag="{{ re.group_id }}">
            판매처 <b>{{ re.compare_info.pids_cnt }}</b>개 더보기<span style="opacity:0.8; padding-left:6px;">〉</span>
        </compare>
        {% endif %}
    </div>
    {% endwith %}
{% endif %}
{% for re in result.data %}
<div class="grid-box position-relative">
    {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style=" position:absolute; top:104px; right:10px; z-index: 99;" />
    {% endif %}
    <item class="list-basic link-buy"
        url-path="searchclick"
        data-from="reco_keyword_list{% if request.GET.entity_id %}_tvshop{% endif %}"
        data-id="{{ re.goods_id }}"
        data-url="{{ re.url }}"
        data-site="{{ re.genre2 }}"
        data-img="{{ re.img }}"
        data-query="{{ request.GET.query }}"
        data-rank="{{ forloop.counter }}"
        data-name="{{ re.name }}"
        data-is_ad="0">
        <thum>
            {% if re|get_live_status == 1 %}<play></play>{% endif %}
            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'"/>
            {% if re.is_soldout == 1 %}
                <soldout></soldout>
            {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                <soldout class="onlive"></soldout>
            {% endif %}
        </thum>
        <detail>
            <site>
                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
            </site>
            {% if 'date' in re %}
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }}
                    {% if re.start_time > 999 %}
                        {{re.start_time|get_string|slice:'0:2' }}:{{re.start_time|get_string|slice:'2:4' }}
                    {% elif re.start_time > 99 %}
                        {{re.start_time|get_string|slice:'0:1' }}:{{re.start_time|get_string|slice:'1:3' }}
                    {% elif re.start_time > 9 %}
                        00:{{re.start_time }}
                    {% else %}
                        00:0{{re.start_time }}
                    {% endif %}
                </time>
            {% endif %}
            <name>{{ re.name }}</name>
            <price>
                {% if re.org_price|default:re.price|get_int > re.low_price|get_int %}
                    <s>{{ re.org_price|default:re.price|intcomma }}원</s>
                {% endif %}
                {% if re.price < 9 %}
                    <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                {% else %}
                    <num class="c-red-3">{{ re.low_price|default:re.price|intcomma }}</num>
                {% endif %}
            </price>
        </detail>
    </item>
    {% if re.compare_info and re.group_id != 0 %}
    <div class="line-bottom"></div>
    <compare
        class="link-service"
        url-path="group"
        data-from="search"
        data-id="{{ re.compare_info.goods_id }}"
        data-site="{{ re.compare_info.genre2 }}"
        data-group_id="{{ re.group_id }}"
        data-query="{{ request.GET.query }}"
        data-rank="{{ re.rank }}"
        data-name="{{ re.compare_info.rep_name }}"
        data-flag="{{ re.group_id }}">
        판매처 <b>{{ re.compare_info.pids_cnt }}</b>개 더보기<span style="opacity:0.8; padding-left:6px;">〉</span>
    </compare>
    {% endif %}
</div>
{% endfor %}