{% load humanize %}
{% load filters %}
{% for re in result.data %}
<div>
    {% if re|get_live_status == 2 %}
    <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
           alarm_action_id="{{ re.alarm_action_id }}"
           data-entity_id="{{ re.id }}"
           data-name="{{ re.name }}"
           data-price="{{ re.price }}"
           data-genre2="{{ re.genre2 }}"
           data-img="{{ re.img }}"
           data-start_time="{{ re.start_time }}"
           data-end_time="{{ re.end_time }}"
           style="position:absolute; right:10px; margin-top:102px; z-index: 99;"/>
    {% endif %}
    <item class="list-basic link-service"
          url-path="item"
          data-entity_id="{{ re.id }}"
          data-site="{{ re.genre2 }}"
          data-cate="{{ re.cate1 }}"
          data-rank="{{ forloop.counter }}"
          data-price="{{ re.price }}"
          data-from="reco_entity_list">
        <thum>
            <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
            {% if re.soldout %}<soldout/>{% endif %}
        </thum>
        <detail>
            <site>
                <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
            </site>
            <time class="c-gray-3">
                {{ re.date|get_string|time_format:'md' }} {{re.start_time|get_string|slice:':-2' }}:{{re.start_time|get_string|slice:'-2:' }}
            </time>
            <name>{{ re.name }}</name>
            <price>
                {% if re.org_price|get_int > re.price|get_int %}
                    <s>{{ re.org_price|intcomma }}원</s>
                {% endif %}
                {% if re.price < 9 %}
                <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                {% else %}
                <num class="c-red-3">{{ re.price|intcomma }}</num>
                {% endif %}
            </price>
        </detail>
    </item>
</div>
{% endfor %}