{% load humanize %}
{% load filters %}
{% if result.data %}
<style>
    {#.scroller-visit {box-sizing:border-box; padding:4px;width:100%; overflow-x:auto;-webkit-overflow-scrolling: touch; white-space: nowrap;}#}
    .scroller-visit {padding: 5px 5px 5px 9px; display: table; table-layout: fixed; width: 100%; box-sizing: border-box;}
    .search-visit-item {display:table-cell; width: 25%; padding-top:100%; padding:5px; vertical-align: top; position: relative;}
     .search-visit-item img {border-radius: 2px;}
    #recent_item {margin:10px 5px 5px 5px; font-size:12px; font-weight:bold; line-height: 1.2em;}
    .more-btn {letter-spacing:-1px;font-size:13px;margin:5px auto 3px; height:28px; border-radius: 15px;
        width: 68px; padding:0;border:0;background:#fff;height:30px;line-height:28px;
        color:#666;border:1px solid #ddd;cursor:pointer;}
    .tag-date {
        position: absolute; right:5px; bottom:5px; z-index: 9; color:#fff; border-radius: 2px; font-size:11px;
        padding:3px 5px;background: #666; background: rgba(73,85,105,0.6)
    }
</style>
<div id="scroller_visit" class="b-white" style="border-top: 1px solid #ddd;">
    <div class="c-red-2" style="font-size:13px;padding:12px 14px 1px 14px;">최근 본 검색상품</div>
    <div class="scroller-visit">
        <!-- 최근 본 검색 상품 출력 -->
        {% for re in result.data %}
            {% if forloop.counter <= request.GET.flag|get_int %}
        <div class="search-visit-item link-buy"
             url-path="searchclick"
             data-url="{{ re.url }}"
             data-site="{{ re.site_name }}"
             data-price="{{ re.price }}"
             data-from="history_search"
             data-query="{{ re.query }}"
             data-is_ad="0"
             data-id="{{ re.pid }}"
             data-rank="{{ re.rank }}"
             data-name="{{ re.name }}">
            <img src='{{ thum320 }}/{% if re.img %}{{re.img}}{% else %}{{ cdn_img }}/noimg.png{% endif %}' onerror="this.src='{{ thum320 }}/{{ cdn_img }}/noimg.png';" />
            <div class="tag-date" style="">{{ re.update_date|get_string|slice:'4:6' }}.{{ re.update_date|get_string|slice:'6:8' }}</div>
        </div>
            {% endif %}
        {% endfor %}
        <div class="search-visit-item align-center">
            <div class="link-service" url-path="my/visit" data-from="search" data-tab="search">
                <img src="{{ thum }}/120x90/top/smart/{{ img }}/content_more.png" style="margin:10% auto 2%; width:80%;">
                <div class="c-gray-4" style="font-size: 12px; line-height: 1.3em;">더보기</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line-bottom"></div>
</div>
{% endif %}