{% load filters %}
<style>
    .list-popular-query {
        display: table;
        width: 100%; 
        table-layout: fixed;
        height: 40px;
        padding-top: 8px;
        background: #ffffff;
    }
    .list-popular-query .rank-num {
        display: table-cell;
        vertical-align: middle; 
        padding-left: 16px;
        padding-right: 10px;
        font-size: 18px;
        color: #eb3e3e;
        font-weight: bold;
        width: 20px;
    }
    .list-popular-query .query-popular {
        display: table-cell;
        vertical-align: middle;
        color: #263238;
        font-size: 15px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    }
    .list-popular-query:last-child {
        margin-bottom: 16px;
    }
    .list-popular-query:last-child .query-popular {
        border-bottom: none;
    }    
    .list-popular-query:after {
        display: table-cell;
        width: 16px;
        content: ""
    }
</style>
{% if result.data %}
<!-- 인기 검색어 -->
<div id="blockPopularQuery">
    {% for query in result.data %}
        {% if forloop.counter < 11 %}
        <div id="popularQuery_{{ forloop.counter }}" class="list-popular-query">
            <div class="rank-num"> {{ forloop.counter }} </div>
            <div class="query-popular link-service"
                url-path="search/result"
                data-query="{{ query }}"
                data-from="popular_query"
                data-rank="{{ forloop.counter }}">
                {{ query }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}