{% load humanize %}
{% load filters %}
<script>
    query_type = 'program';
</script>
<style>
    .sametime-block { margin: -11px 0 10px;}
    .sametime-block .sametime-toggle .arrow-up { display: none; }
    .sametime-block .sametime-toggle .arrow-down { display: inline-block; }
    .sametime-block .sametime-list { display: none;}
    .sametime-block.on .sametime-toggle .arrow-up { display: inline-block; }
    .sametime-block.on .sametime-toggle .arrow-down { display: none; }
    .sametime-block.on .sametime-list { display: block;}

    .show-main { z-index: 99; text-align: center; position: relative; margin:10px 0;  }
    .show-main > img {width:100%; max-width: 480px; display: block; margin: 0 auto;}
    .show-time {position: absolute;  z-index: 9;  background: rgba(120,120,120,0.5);  width: 100%;  left: 0;  bottom: 0;  padding: 9px 0;  color: #fff;  font-size: 13px;  line-height: 1.2em;}
</style>
{% with result.program_show|replace:'최은경의 w->최은경의W' as program_name %}
    <div class="show-main" style="background:#222;">
        <img src="{{ thum }}/600x500/{{ img }}/program/show_main_{{ program_name }}.png?v=10">
        <div class="show-time">
            {{ program_name|program_dict:'time' }} 방송
        </div>
    </div>
    <div style="margin:10px">
        <div class="display-table">
            <div class="alarm-keyword bt-alarm b-white block-hide" alarm_id="0" data-query="{{ program_name|program_dict:'name' }}" style="max-width: 1000px;margin:0;">
                <img src="{{ thum }}/http://cache.m.ui.hsmoa.com/media/hsmoa/icon/alarm_black.png"/>
                <span>"{{ program_name|program_dict:'name' }}</span><span>"</span>
            </div>
        </div>
    </div>
{% endwith %}
{% for re in result.data|price_filter %}
    {% if re.date_title %}
        <div class="mark-date c-white {% if request.GET.source == 'past' %}b-coolgray-4{% else %}b-mint-2{% endif %}">
            {% if re.diff_day == 0 %}오늘{% elif re.diff_day == 1 %}내일{% elif re.diff_day == 2 %}모레{% elif re.diff_day == -1 %}어제{% elif re.diff_day == -2 %}그제{% endif %}
            {{ re.date|time_format:'md' }}</div>
    {% endif %}
    <div class="position-relative">
        {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style=" position:absolute; top:104px; right:10px; z-index: 99;" />
        {% endif %}
        <item class="list-basic link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate1 }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-live="{{ re|get_live_status }}"
              data-query="{{ request.GET.query }}"
              data-from="search_program">
            <thum>
                {% if re|get_live_status == 1 %}<play></play>{% endif %}
                {% if re.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.ribbon_img }}" onerror="this.style.display='none'"/>
                {% endif %}
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout == 1 %}
                    <soldout></soldout>
                {% elif re.is_soldout == 2 and re|get_live_status == 2 %}
                    <soldout class="onlive"></soldout>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{ re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price|get_int > re.price|get_int %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price|get_int < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
            </detail>
        </item>
        {% if re.same_time_item %}
        <div class="sametime-block">
            <div class="line-bottom"></div>
            <div class="sametime-list">
                {% for item in re.same_time_item %}
                    <item class="list-mini link-service"
                          url-path="item"
                          data-entity_id="{{ item.id }}"
                          data-site="{{ item.genre2 }}"
                          data-cate="{{ item.cate1 }}"
                          data-price="{{ item.price }}"
                          data-from="search_program_sametime">
                        <thum>
                            <img src="{{ thum320 }}/{{ item.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                        </thum>
                        <detail>
                            <name>{{ item.name }}</name>
                            <price class="c-red-3">
                                {% if item.price < 9 %}
                                <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                                {% else %}
                                <num class="">{{ item.price|intcomma }}</num>
                                {% endif %}
                            </price>
                        </detail>
                    </item>
                    <div class="line-bottom"></div>
                {% endfor %}
            </div>
            <div class="sametime-toggle b-white c-gray-3 align-center" data-id style="height: 32px; line-height: 32px; font-size: 12px;">
                같은 시간대 방송상품 <span class="c-black">{{ re.same_time_item|length }}</span>개
                <img class="arrow-down" src="{{ media }}/hsmoa/icon/arrow_down.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
                <img class="arrow-up" src="{{ media }}/hsmoa/icon/arrow_up.png" style="width: 15px;vertical-align: top; margin:8px 0 0 3px;">
            </div>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% if result.data|length == 0 %}
    <div class="align-center c-gray-3" style="margin:0 0 10px; font-size: 13px; line-height: 1.3em; padding: 14px 0;">
        <div>편성된 방송상품이 없습니다.<br/>
        알람을 설정하고 정기적으로 안내받으세요.</div>
    </div>
{% endif %}

<div class="link-service b-red-1 c-white "
    url-path="showlist"
    data-from="search_more_program" style="margin: 10px;text-align: center; padding: 14px 0; border-radius: 4px; font-size: 15px;">
    <b>더 많은 인기 프로그램 보기</b> <span class="margin-left"> </span> 〉
</div>