{% load humanize %}
{% load filters %}
{% load filters_test %}
{% if request.GET.page == '1' or request.GET.page == '' %}
    <script>
        // 검색결과 갯수 추가
        $("#numGoods").html("<strong>{{ result.count|intcomma }}</strong>개 상품");
        $("#block_meta").show();

        if ($(".row-divider").length > 6 && $("#relatequery_scroll").length == 1){
            $(".row-divider").eq(6).after("<div class='relate-box'></div>");
            $(".relate-box").html($("#relatequery_scroll").html());
        }
    </script>
{% endif %}
{% if result.data|length > 0 %}
    {% if exposed %}
    <script>
        // 현재 검색결과에 노출된 아이템들을 로깅한다
        logExposedItem('{{ exposed.user_id }}', '{{ exposed.query }}', '{{ exposed.entities|safe }}', {{ exposed.create_date }}, {{ request.GET.page }});

        //검색결과 뷰 통계
        sendStat("search/tvshopSearch", {query:'{{ request.GET.query }}', from:User.sfrom, page:'{{ request.GET.page }}', num:'{{ request.GET.num }}'});
    </script>
    {% endif %}
    <div class="row-divider">
    {% for re in result.data %}
        <div class="grid-box">
        {% if re.compare_info.pids_cnt > 1 and request.GET.is_compare_search %}
            {% if re.compare_info.genre2 %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                    data-from="search"
                    data-id="{{ re.compare_info.goods_id }}"
                    data-url="{{ re.compare_info.rep_url }}"
                    data-site="{{ re.compare_info.genre2 }}"
                    data-img="{{ re.compare_info.thumbnail }}"
                    data-query="{{ request.GET.query }}"
                    data-rank="{{ re.rank }}"
                    data-name="{{ re.compare_info.rep_name }}"
                    data-price="{{ re.compare_info.rep_price }}"
                    data-is_ad="{{ re.is_ad }}"
                    data-flag="{{ re.group_id }}" 
                    data-has_live="0"
                    data-genre2="{{ request.GET.genre2 }}">
            {% else %}
            <item class="list-basic link-buy"
            url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.compare_info.rep_url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.compare_info.thumbnail }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-price="{{ re.compare_info.rep_price }}"
                data-is_ad="{{ re.is_ad }}"
                data-flag="{{ re.group_id }}"
                data-has_live="0"
                data-genre2="{{ request.GET.genre2 }}">
            {% endif %}
                <thum>
                    {% if ".gif" in re.compare_info.thumbnail or ".GIF" in re.compare_info.thumbnail %}
                        <img src="{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.compare_info.thumbnail }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if "성인용품" in re.compare_info.rep_name or "자위" in re.compare_info.rep_name or "남성용품" in re.compare_info.rep_name or "명기" in re.compare_info.rep_name or "오나홀" in re.compare_info.rep_name or "딜도" in re.compare_info.rep_name or "야한" in re.compare_info.rep_name or "공기인형" in re.compare_info.rep_name or "에어돌" in re.compare_info.rep_name or "안나뮤" in re.compare_info.rep_name or "레그에비뉴" in re.compare_info.rep_name %}
                    <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                        <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                    </div>
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                </thum>
                <detail class="compare">
                    <site>
                        <img src="{{ media }}/hsmoa/logo/logo_{{ re.compare_info.genre2 }}.png" onerror="this.src='{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png'" />
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.compare_info.rep_name }}</name>
                    <price>
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.compare_info.rep_price|intcomma }}</num>
                        {% endif %}
                    </price>
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate-num" >{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% else %}
                            <span class="review-rate position-relative" style="width: 1px; margin: 0 -2px;"><span></span></span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-1" style="margin:0px 1px;">|</span> {% endif %}
                        {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                        {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                    </div>
                </detail>
            </item>
            <div class="line-bottom"></div>
            <div class="link-service compare-btn"
                url-path="group"
                data-from="search"
                data-id="{{ re.compare_info.goods_id }}"
                data-site="{{ re.compare_info.genre2 }}"
                data-group_id="{{ re.group_id }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.compare_info.rep_name }}"
                data-flag="{{ re.group_id }}"
                data-genre2="{{ request.GET.genre2 }}">
                <div class="compare-text">
                    판매처 <b>{{ re.compare_info.pids_cnt }}</b>개 더보기 <span class="price-compare-arrow" style="opacity:0.8; padding-left:6px;">〉</span>
                </div>
            </div>
        {% else %}
            <item class="list-basic link-buy"
                url-path="searchclick"
                data-from="search"
                data-id="{{ re.goods_id }}"
                data-url="{{ re.url }}"
                data-site="{{ re.genre2 }}"
                data-img="{{ re.img }}"
                data-query="{{ request.GET.query }}"
                data-rank="{{ re.rank }}"
                data-name="{{ re.name }}"
                data-price="{{ re.price }}"
                data-is_ad="{{ re.is_ad }}"
                data-has_live="0"
                data-genre2="{{ request.GET.genre2 }}">
                <thum>
                    {% if ".gif" in re.img or ".GIF" in re.img %}
                        <img src="{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% else %}
                        <img src="{{ thum320 }}/{{ re.img }}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                    {% endif %}
                    {% if re.soldout %}<soldout/>{% endif %}
                    {% if "성인용품" in re.name or "자위" in re.name or "남성용품" in re.name or "명기" in re.name or "오나홀" in re.name or "딜도" in re.name or "야한" in re.name or "공기인형" in re.name or "에어돌" in re.name or "안나뮤" in re.name or "레그에비뉴" in re.name %}
                        <div class="position" style="top:0; left:0; height:100%; width:100%; background: #ccc;">
                            <img src="{{ cdn_img }}/no19.png" style="width: 40%; height: 40%; margin: 30%;">
                        </div>
                    {% endif %}
                </thum>
                <detail>
                    <site>
                        {% if 'site_logo_img' in re and re.site_logo_img != '' %}
                            <img src="{{ thum }}/smart/{{ re.site_logo_img }}" />
                        {% else %}
                            <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png" />
                        {% endif %}
                    </site>
                    {% if re.goods_type == "tvshop" %}
                        <div class="tag tvshop" >TV상품</div>
                    {% endif %}
                    <name>{{ re.name }}</name>
                    <price >
                        {% if re.org_price|get_int > re.price|get_int %}
                            <s>{{ re.org_price|intcomma }}원</s>
                        {% endif %}
                        {% if re.price|get_int < 9 %}
                        <span class="c-gray-2" style="font-weight:bold; font-size: 16.2px;">상담/렌탈</span>
                        {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                        {% endif %}
                    </price>
                    {% if re.review_rate > 0 or re.review_num > 0 %}
                    <div class="meta c-gray-3" >
                        {% if re.review_rate > 0 %}
                            <span class="review-rate position-relative">
                                <span style="background:url('{{ thum }}/{{ img }}/star_off.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; width: 65px;"></span>
                                <span style="background:url('{{ thum }}/{{ img }}/star_on.png') 0 0;vertical-align: top; background-size:13px 13px; display: inline-block; height: 13px; position: absolute; left: 0; top:0; z-index: 3;
                                        width: {% widthratio re.review_rate 1 20 %}%;"></span>
                            </span>
                            <span class="review-rate-num" >{{ re.review_rate|get_string|slice:':3' }}</span>
                        {% else %}
                            <span class="review-rate position-relative" style="width: 1px; margin: 0 -2px;"><span></span></span>
                        {% endif %}
                        {% if re.review_rate > 0 and re.review_num > 0 %}<span class="c-gray-1" style="margin:0px 1px;">|</span> {% endif %}
                        {% if re.review_num > 9999 %}<span class="review-ct">리뷰 1만+</span>
                        {% elif re.review_num > 0 %}<span class="review-ct">리뷰 {{ re.review_num|intcomma }}</span>{% endif %}
                    </div>
                    {% endif %}
                </detail>
            </item>
        {% endif %}
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
            </div>
            <div class="row-divider">
        {% endif %}
    {% endfor %}
    </div>
{% endif %}