{% load humanize %}
{% load filters %}

{% if result.program_show %}
    {% include "hsmoa/skin/_search_result_tvshop_program.html" %}
{% elif result.data|is_query_site and request.GET.source == "future" %}
    {% include "hsmoa/skin/_search_result_tvshop_live.html" %}
{% else %}
    {% if result.data|length > 0 %}
        <!-- 대체어 사용 시 문구 출력 -->
        {% if request.GET.page == '1' and result.is_replace and result.replace_query|length > 1 %}
            <div id="fixquery" class="c-gray-4 align-center" style="font-size: 14px; margin: 0 0 10px; line-height: 1.3em; background: #f5f6f8; box-shadow: 0 0 1px #ccc; padding:13px 10px 12px; ">
                수정된 검색어 <span class="c-black strong">"{{ result.replace_query }}"</span>의<br/>검색결과를 보여드립니다.
            </div>
        {% endif %}

        <div class="title strong display-table-fixed" style="padding:7px 10px; ">
            <div id="bt_tvshop" class="link-service strong c-gray-5 tvshop-title table-cell align-middle "
                    url-path="search/timeline"
                    data-query="{{ request.GET.query }}"
                    data-from="search_more_top"
                    style="width: 130px;font-size: 15px; text-align:left;">
                <img src="{{ media }}/hsmoa/button/search_timeline_text.png" style="height: 15px; vertical-align:middle; margin:0 0 0 0;">
            </div>
            <!-- 검색어알람 -->
            <div class="alarm-keyword bt-alarm b-white block-hide" alarm_id="0" data-query="{{ request.GET.query }}">
                <img src="{{ media }}/hsmoa/icon/alarm_black.png"/>
                <span>"{{ request.GET.query }}</span><span>"</span>
            </div>
        </div>
        <style>
            .list-swipe-alarm { background:#fff; position: relative; overflow: hidden; width: 150px; display: inline-block; margin: 1px 5px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd;}
            .list-swipe-alarm thum { padding-top: 100%; position: relative;}
            .list-swipe-alarm thum img { position: absolute; top:0;}
            .list-swipe-alarm detail { padding:6px 10px 8px; width:auto;}
            .list-swipe-alarm site img {height:18px; }
            .list-swipe-alarm time {font-size: 11px; position:absolute; right:8px; top:160px; letter-spacing: -0.5px;}
            .list-swipe-alarm name { display: block; font-size: 13px; text-align: left; line-height: 1.3em; margin-top: 4px; height: 2.4em; overflow: hidden; white-space:normal;}
            .list-swipe-alarm sale {font-size: 28px;display: inline-block;margin: 7px 0 0;  }
            .list-swipe-alarm price { margin-top: 14px;}
            .list-swipe-alarm price s { display: none;}
            .list-swipe-alarm price num { font-size:15px; display: block;font-weight: bold;}
            .list-swipe-alarm price num:after {content:"원";  font-size: 0.7em;}
            .list-swipe-more { position: relative; overflow: hidden; width: 80px; height:246px;box-sizing: border-box; margin: 1px 1px 5px 0; border-radius: 2px; box-shadow: 0 0 1px #ddd;
                display: inline-block; vertical-align: top;}
            #item_more_wrapper {vertical-align: top; width:70px;height:100%;text-align: center;}

            .list-swipe-alarm end { position: absolute; bottom:0; left:0; right:0; background: rgba(0,0,0,0.25); color: #fff; font-size: 13px; padding: 5px 10px; text-align: center; z-index: 99;}

            @media screen and (min-width: 540px) {
                .list-swipe-alarm {  width: 170px;}
                .list-swipe-alarm time {top:180px; }
                .list-swipe-more {height:266px;}
            }
        </style>
        <!-- API로 불러올 영역 -->
        <div id="tvshop_result" style="width:100%; box-sizing:border-box; padding:0 10px 0 10px; overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling: touch; white-space: nowrap; min-height: 260px;">
            {% for re in result.data|price_filter %}
                {% if forloop.counter < 11 %}
                    <div class="list-swipe-alarm" >
                        <item class="link-service"
                            url-path="item"
                            data-entity_id="{{ re.id }}"
                            data-site="{{ re.genre2 }}"
                            data-rank="{{ forloop.counter }}"
                            data-live="{{ re|get_live_status }}"
                            data-price="{{ re.price }}"
                            data-query="{{ request.GET.query }}"
                            data-from="search">
                            <thum>
                                {% if re|get_live_status == 1 %}<play/>{% endif %}
                                {% if re.is_mileage == 2 %}
                                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                                         src="{{ re.ribbon_img }}"
                                         onerror="this.style.display='none'"/>
                                {% endif %}
                                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                                {% if re.is_soldout == 1 %}
                                    <soldout/>
                                {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                                    <soldout class="onlive"></soldout>
                                {% endif %}
                            </thum>
                            <detail>
                                <site>
                                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                                </site>
                                <time class="c-gray-3">
                                    {{ re.date|time_format:'md' }} {{re.start_time }}
                                </time>
                                <name>{{ re.name }}</name>
                                <price>
                                    {% if re.price|get_int < 9 %}
                                        <span class="c-gray-2" style="font-weight:bold; font-size: 14px;">상담/렌탈</span>
                                    {% else %}
                                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                                    {% endif %}
                                </price>
                            </detail>
                        </item>
                        {% if re|get_live_status == 2 %}
                            <alarm class="mini alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
                                alarm_action_id="{{ re.alarm_action_id }}"
                                data-entity_id="{{ re.id }}"
                                data-name="{{ re.name }}"
                                data-price="{{ re.price }}"
                                data-genre2="{{ re.genre2 }}"
                                data-img="{{ re.img }}"
                                data-start_time="{{ re.start_time }}"
                                data-end_time="{{ re.end_time }}"
                                style=" position:absolute; bottom:7px; right: 7px; z-index: 99;" />
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="list-swipe-more  b-white">
                <div id="item_more_wrapper" class="link-service"
                        url-path="search/timeline"
                        data-tab="{{ request.GET.source }}"
                        data-query="{{ request.GET.query }}"
                        data-from="search_more_middle"
                        style="width:100%;">
                    <img src="{{ thum }}/120x90/top/smart/{{ img }}/content_more.png" style="margin:80px auto 8px; width:64px;">
                    <div class="c-gray-4" style="font-size: 12px; line-height: 1.3em;">예정/이전<br/>방송보기</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}