{% load filters %}
<style>
    .recentGuide#recentQueryTitle {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
    }
    .blockRecentContents#recentQuery {
        overflow: auto;
    }
    .list-recent-query {
        position: relative;
        float: left;
        width: 50%;
    }
    .query-element {
        display: table;
        table-layout: fixed;
        width: 93%;
    }
    .query-name {
        display: table-cell; 
        vertical-align: middle; 
        padding: 11px 20px;
        font-size: 14px; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666666;
    }
    .query-remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat;
        background-size: 16px 16px;
    }
</style>
{% if result.keyword %}
<!-- 최근 검색어 -->
<div class="blockRecent" id="query">
    {% if result.keyword|length > 0 %}
    <div class="blockRecentTop">
        <div class="recentGuide" id="recentQueryTitle">
            최근 검색어
        </div>
        <div class="recentRemoveAll">
            <a href="javascript:remove_all_keyword();">
                <span class="removeAllWord">전체삭제</span>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="blockRecentContents" id="recentQuery">
        {% for re in result.keyword %}
            {% if forloop.counter < 11 %}
            <div id="list_{{ re.id }}" class="list-recent-query">
                <div class="query-element link-service"
                        url-path="search/result"
                        data-query="{{re.name}}"
                        data-from="recent_query"
                        data-rank="{{forloop.counter}}" >
                    <div class="query-name">
                        {{re.name}}
                    </div>
                </div>
                <div class="query-remove" data-id="{{ re.id }}" >
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
<script>
$(function() {

    // 최근 검색어 개별 삭제
    $.Fastclick(".query-remove", function(){
        var _actionId = $(this).data('id');
        var _parent = $(this).parent();
        var _keywordInfo = $(this).siblings(".query-element");

        sendApi("keyword/remove", { keyword_id:_actionId, service:"tvshop"}, function (re) {
            if (re.success) {
                _parent.fadeTo(100,0, function() {
                    $(this).remove();

                    sendStat("search/query/history/delete", {
                        query: _keywordInfo.data("query"),
                        rank: _keywordInfo.data("rank")
                    });
                    // 개별 삭제 후 element 수 체크, 0개 일 때는 추천 검색어 호출
                    if ($(".list-recent-query").length == 0){
                        $(".blockRecent#query").remove();
                        load_reco_query();
                    }
                });
            } else {
                native_send_toast(re.msg);
            }
        });
    });
});




// 최근 검색어 전체 삭제
function remove_all_keyword(){
    var comment = "최근 검색어를";
    var isConfirm = confirm(comment + "\n모두 삭제하시겠습니까?");
    if(isConfirm) {
        sendApi("keyword/remove", {is_all: true, service: "tvshop"}, function (re) {
            if (re.success == true) {
                sendStat("search/query/history/deleteAll");

                // 최근 검색어 전체 삭제 후 추천 검색어 호출
                $(".blockRecent#query").fadeTo(300, 0).remove();
                load_reco_query();
            }
        });
    }
}
</script>
