{% if result.data|length > 1 %}
    <style>
        #relatequery_top {width: 100%; padding:7px 8px 8px 8px; box-sizing: border-box; 
                          white-space: nowrap; height: 38px; overflow-x: auto; overflow-y: hidden;
                          -webkit-overflow-scrolling: touch;}       
        .relate { display: table; }
        .relatequery{ vertical-align:top; display: inline-block; font-size: 13px;
                      padding: 7px 5px 7px 10px; color: #3c55ec; border-radius: 2px;}
        .relatequery:last-child { margin-right: 36px;}
        .relatequery-title-top { display: none; }

        .relatequery-btn-more { padding: 9px 9px 9px 16px; display: inline-block; 
                                position:absolute; right: 0px; top: 0px; 
                                background: linear-gradient(to right, rgba(255,255,255,0), #fff 25%)}
        
        .relatequery-open { display: table; }
        .relatequery-open + .relatequery-btn-more {top: 9px; right:0px transform: rotate(180deg); 
                                                -webkit-transform: rotate(180deg);
                                                padding: 0px 16px 0px 9px;}
        .relatequery-open .relatequery-title-top  { width: 100%; display: block; height:22px; margin: 6px 0px 0px 0px; }   
        .relatequery-open .relatequery-title-top:before { font-size: 13px; 
                                                        padding: 7px 5px 7px 10px; 
                                                        color: #666; border-radius: 2px; 
                                                        content:'연관검색어'; }
             
        .relatequery-open .relatequery { float:left; width: 45%; overflow: hidden;
                                        white-space: nowrap; text-overflow: ellipsis; margin-right:0px}
                                        
        .relatequery-open .relatequery:before {display: inline-block; width: 2px;
                                               height: 2px; margin: 2px 7px 0 0;
                                               border-radius: 2px; background: #3c55ec;
                                               content: ''; vertical-align: 4px;}                                               

        .relate-box {margin: 10px 0;}
        .relatequery-scroll { background: #fff; margin-bottom:1px; padding-bottom: 5px;}
        .relatequery-scroll .relatequery-title-scroll { font-weight: bold; font-size: 13px; 
                                                        margin-bottom: 0; padding: 18px 6px 10px 12px; }
        .relatequery-scroll .relatequery { margin:1px 4px 1px 8px; padding:9px 6px; }
    </style>
    <div id="relatequery_top" class="b-white">
        <div class="relatequery-title-top"></div>
        {% for re in result.data %}
            <div class="relatequery link-service"
                 url-path="search/result"
                 data-query="{{ re.query }}"
                 data-rank="{{ forloop.counter }}"
                 data-from="relate" 
                 data-flag="{{ request.GET.query }}" >
                {{ re.query }}  
            </div>
        {% endfor %}
    </div>
    <div class="relatequery-btn-more">
        <img src="/media/hsmoa/icon/arrow_down.png" style="width:20px;" />
    </div>
    <div class="line-top"></div>

    <div id="relatequery_scroll" class="block-hide">
        <div class="b-white relatequery-scroll">
            <div class="relatequery-title-scroll">"{{ request.GET.query }}" 연관검색어</div>
            <div >
            {% for re in result.data %}
                {% if forloop.counter < 13 %}
                <div class="relatequery link-service"
                     url-path="search/result"
                     data-query="{{ re.query }}"
                     data-rank="{{ forloop.counter }}"
                     data-from="relate_scroll" 
                     data-flag="{{ request.GET.query }}" >
                    {{ re.query }}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var r_open = false;
        $.Fastclick($(".relatequery-btn-more"), function(){
            $("#relatequery_top").toggleClass("relatequery-open");
            r_open = r_open ? false : true;
            r_open_str = r_open ? "open" : "close";
            sendStat("toggleRelatequery", {query:Search.query, type:r_open_str});
        });
    </script>
{% endif %}