{% load humanize %}
{% load filters %}
<style>
    .blockRecent#item {
        display: block;
        background: #fff;
    }
    .blockRecentContents.recentItemBlock{
        display: table;
        padding: 4px 8px 8px 8px;
    }
    .list-recent-item {
        float:left; 
        width: 50%;
        padding: 8px;
        box-sizing: border-box;
    }
    .list-recent-item item {
        margin: 0 6px 6px 6px;
    }
    .list-recent-item thum {
        position: relative; 
        padding-top: 100%; 
    }
    .list-recent-item thum img {
        position: absolute; 
        top:0; 
        left:0; 
        right:0; 
        bottom:0;
    }
    .list-recent-item thum .tag.tvshop{
        font-size: 11px;
        position: absolute;
        top: 0;
        background-color: #5ecfd6;
        border-radius: 2px 0px;
        color: #ffffff;
        padding: 6px 8px 5px;
    }
    .list-recent-item img {
        border-radius: 2px;
    }
    .list-recent-item price{
        font-size: 15px; 
        font-weight: bold; 
        margin-top: 3px; 
    }
    .list-recent-item price:after{ 
        content:'원'; 
        font-size: 0.7em; 
    }
</style>
{% if result.data %}
<!-- 최근 본 상품 -->
<div class="blockRecent" id="item">
    {% if result.data|length > 0 %}
    <div class="blockRecentTop">
        <div class="recentGuide" id="recentItem">
            최근 확인한 상품입니다
        </div>
        <div class="recentRemoveAll" id="recentItem">
            <a href="javascript:remove_all_item();">
                <span class="removeAllWord">전체삭제</span>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="blockRecentContents recentItemBlock">
    {% for re in result.data %}
        {% if forloop.counter < 50 %}
            <div id="list_{{ re.pid }}" class="list-recent-item" style="position: relative;">
                {% if re.goods_type == "tvshop" %}
                <div class="list-query link-service recent-tvshop"
                    url-path="item"
                    data-from="recent_item"
                    data-entity_id="{{ re.action_id }}"
                    data-url="{{ re.url }}"
                    data-site="{{ re.site_name }}"
                    data-price="{{ re.price }}"
                    data-name="{{ re.name }}"
                    data-img="{{ re.img }}"
                    data-rank="{{ forloop.counter }}">
                    <thum>
                        <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}"
                            onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                        <div class="tag tvshop">TV상품</div>
                        {% if re.is_soldout == 1 %}
                            <soldout></soldout>
                        {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                    </thum>
                    <div style="padding:8px 0px 0px 0px; height:53px;">
                        <div class="overflow" style="line-height:1.2em; height:2.3em; font-size:13px;">
                            {{ re.name }}
                        </div>
                        <div class="clear-2"></div>
                        {% if re.price > 9 %}
                            <price > {{ re.price|intcomma }}</price>
                        {% else %}
                            <div style="font-weight: bold; font-size: 13px; line-height:16px;" >상담/렌탈</div>
                        {% endif %}
                    </div>
                </div>
                {% elif re.goods_type == "ep" %}
                <div class="list-query link-buy recent-ep"
                    url-path="searchclick"
                    data-from="recent_item"
                    data-is_ad="1"
                    data-id="{{ re.pid }}"
                    data-url="{{ re.url }}"
                    data-site="{{ re.site_name }}"
                    data-img="{{ re.img }}"
                    data-rank="{{ forloop.counter }}"
                    data-name="{{ re.name }}"
                    data-price="{{ re.price }}">
                    <thum>
                        <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}"
                            onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                        {% if re.is_soldout == 1 %}
                            <soldout></soldout>
                        {% elif re.is_soldout == 2 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                    </thum>
                    <div style="padding:8px 0px 0px 0px; height:53px;">
                        <div class="overflow" style="line-height:1.2em; height:2.3em; font-size:13px;">
                            {{ re.name }}
                        </div>
                        <div class="clear-2"></div>
                        {% if re.price > 9 %}
                            <price > {{ re.price|intcomma }}</price>
                        {% else %}
                            <div class="font-13 c-gray" style="line-height:16px;" >상담/렌탈</div>
                        {% endif %}
                    </div>
                </div>
                {% elif re.goods_type == "ep_tvshop" %}
                <div class="list-query link-buy recent-ep-tvshop"
                    url-path="searchclick"
                    data-from="recent_item"
                    data-is_ad="1"
                    data-id="{{ re.pid }}"
                    data-url="{{ re.url }}"
                    data-site="{{ re.site_name }}"
                    data-img="{{ re.img }}"
                    data-rank="{{ forloop.counter }}"
                    data-name="{{ re.name }}"
                    data-price="{{ re.price }}">
                    <thum>
                        <img src="{% if re.img %}{{ thum }}/320x320/{{ re.img }}{% endif %}"
                            onerror="this.src='{{ thum320 }}/{{ img }}/noimg3.png';"/>
                        <div class="tag tvshop">TV상품</div>
                        {% if re.is_soldout == 1 %}
                            <soldout></soldout>
                        {% elif re.is_soldout == 2 %}
                            <soldout class="onlive"></soldout>
                        {% endif %}
                    </thum>
                    <div style="padding:8px 0px 0px 0px; height:53px;">
                        <div class="overflow" style="line-height:1.2em; height:2.3em; font-size:13px;">
                            {{ re.name }}
                        </div>
                        <div class="clear-2"></div>
                        {% if re.price > 9 %}
                            <price > {{ re.price|intcomma }}</price>
                        {% else %}
                            <div class="font-13 c-gray" style="line-height:16px;" >상담/렌탈</div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
<script>
// 최근 본 상품 전체 삭제
function remove_all_item(){
    var comment = "조회한 상품을";
    var isConfirm = confirm(comment + "\n모두 삭제하시겠습니까?");
    if(isConfirm) {
        sendApi("search/visit/remove", {
                goods_type: "all",
                is_all: "1"
            }, function (re) {
                if (re.result.data == true) {
                    sendStat("search/item/history/deleteAll");
                    load_has_no_recent_item();
                }
        });
    }
}
</script>
