{% load humanize %}
{% load filters %}
{% if result.data|length > 2 %}
<div class="tvrank-reco-block b-white" style="font-size: 0; margin-bottom: 12px;">
    <div class="c-gray-4 " style="padding:14px; font-size: 15px; ">
        나에게 맞춤추천
        <button class="link-service" url-path="reco/entity" data-from="tvrank"
             style="float: right; margin: -2px -4px 0 0; background: url('{{ media }}/hsmoa/icon/arrow_right.png') 50% 50% no-repeat; background-size:18px 18px; width: 18px; height: 18px;">
        </button>
    </div>
    <div class="display-table-fixed" style="padding: 0 8px;">
        {% for re in result.data %}
        {% if forloop.counter0 < request.GET.flag|get_int %}
        <item class="list-table link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-rank="{{ forloop.counter }}"
              data-price="{{ re.price }}"
              data-from="tvrank_reco">
            <thum>
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout == 1 %}
                    <soldout/>
                {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                    <soldout class="onlive"></soldout>
                {% endif %}
            </thum>
            <detail>
                <name class="c-gray-5">{{ re.name }}</name>
                {% if re.price > 9 %}
                <price><num>{{ re.price|intcomma }}</num></price>
                {% endif %}
            </detail>
        </item>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
