{% if result.data|length > 2 %}
<div class="b-white" style="font-size: 0; margin-bottom: 12px;">
    <div class="c-gray-4 link-service" url-path="showlist" data-from="tvrank" style="padding:14px;font-size:15px;cursor:pointer;">
        지금 인기있는 쇼호스트
        <button style="float: right; margin: -2px -4px 0 0; background: url('{{ media }}/hsmoa/icon/arrow_right.png') 50% 50% no-repeat; background-size:18px 18px; width: 18px; height: 18px;cursor:pointer;"></button>
    </div>
    <div style="padding:0 9px 7px;">
    {% for re in result.data %}
        {% if forloop.counter < 5 %}<div class="link-service"
             url-path="program"
             data-program_query="{{ re.program_name }}"
             data-from="tvrank"
             style="float:left; width: 50%; padding:0 3px 6px 3px; box-sizing: border-box;">
            <img src="{{ thum }}/600x160/center/smart/{{ img }}/program/show_{{ re.program_name }}.png?v=9" style="border-radius: 2px;">
        </div>{% endif %}
    {% endfor %}
    </div>
    <div class="clear-7"></div>
</div>
{% endif %}