{% load humanize %}
{% load filters %}
{% if result.data|length > 0 and request.GET.page|get_int <= 5 %}
    {% if request.GET.page == '2' %}
        <!-- 월간홈쇼핑 -->
        <div class="link-service" url-path="magazine" data-from="tvrank"
             style="opacity:0.9;text-align:center; background:#F8002D; margin-bottom: 12px;">
            <img src="{{ thum }}/smart/{{ img }}/magazine.png">
        </div>
    {% endif %}
    {% for re in result.data|price_filter %}
    <div class="position-relative">
        {% if re|get_live_status == 2 %}
        <alarm class="alarm-entity {% if re.alarm_action_id > 0  %}on{% endif %}"
               alarm_action_id="{{ re.alarm_action_id }}"
               data-entity_id="{{ re.id }}"
               data-name="{{ re.name }}"
               data-price="{{ re.price }}"
               data-genre2="{{ re.genre2 }}"
               data-img="{{ re.img }}"
               data-start_time="{{ re.start_time }}"
               data-end_time="{{ re.end_time }}"
               style="position:absolute; right:10px; margin-top:112px; z-index: 99;"/>
        {% endif %}
        <item class="list-basic big link-service"
              url-path="item"
              data-entity_id="{{ re.id }}"
              data-site="{{ re.genre2 }}"
              data-cate="{{ re.cate }}"
              data-rank="{{ re.rank }}"
              data-price="{{ re.price }}"
              data-live="{{ re|get_live_status }}"
              data-from="tvrank">
            <thum>
                {% if re|get_live_status == 1 %}<play/>{% endif %}
                {% if re.is_mileage == 2 %}
                    <img class="ribbon" style="position: absolute; left:0; top:0; z-index: 999; width:60px;"
                         src="{{ re.ribbon_img }}"
                         onerror="this.style.display='none'"/>
                {% else %}
                    <rank class="{% if re.rank < 11 %}b-red-2{% else %}b-gray-4{% endif %} c-white" >{{ re.rank }}</rank>
                {% endif %}
                <img src="{{ thum320 }}/{{re.img}}" onerror="this.src='{{ thum320 }}/{{ img }}/noimg2.png'" />
                {% if re.is_soldout == 1 %}
                    <soldout/>
                {% elif re.is_soldout == 2 and re|get_live_status != 1 %}
                    <soldout class="onlive"></soldout>
                {% endif %}
            </thum>
            <detail>
                <site>
                    <img src="{{ media }}/hsmoa/logo/logo_{{ re.genre2 }}.png"/>
                </site>
                <time class="c-gray-3">
                    {{ re.date|get_string|time_format:'md' }} {{re.start_time }}
                </time>
                <name>{{ re.name }}</name>
                <price>
                    {% if re.org_price > re.price %}
                        <s>{{ re.org_price|intcomma }}원</s>
                    {% endif %}
                    {% if re.price < 9 %}
                        <span class="c-gray-2">상담/렌탈</span>
                    {% else %}
                        <num class="c-red-3">{{ re.price|intcomma }}</num>
                    {% endif %}
                </price>
                </detail>
{#                <div class="line-bottom"></div>#}
{#                <div class="b-white" style="margin-bottom:12px;font-size: 12px; padding:10px 12px; ">#}
{#                    <span class="c-gray-3 margin-right">알람 {{ re.alarm_action_num|intcomma }}</span>#}
{#                    <span class="c-gray-3 margin-left">찜 {{ re.favo_num|intcomma }}</span>#}
{#                    <span class="pull-right c-gray-3 margin-left">{{ re.card_sale_rate }}</span>#}
{#                </div>#}
        </item>
    </div>
    {% endfor %}
{% endif %}