body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}
#header{
	float: left;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,1);
	line-height: 50px;
}

.bt{
	border:none;
	margin:0;
	line-height: 1em;
}

#title{
    background: rgba(0,0,0,0.05);
    border:none !Important;
    margin-top:10px;
    color:#666;
    transition:.3s;
    border:1px solid #555;
    margin:10px 8px;
    width:94%;
    padding:4px;
    border-radius: 2px !important;
		transition: .3s;
}

#title:focus{
	outline-style: none;
	color:#333;
    background:rgba(0,0,0,0.1);
		background: #fecc3b;
}
#header a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	display: block;
	font-size: 15px;
}
#header-left{
	float: left;
	height: 50px;
}
#header-left:hover #header-left-icon{
	background-color: #fe4040;
}
#header-left:hover #header-left-text{
	background-color: #333;
}
#header-left-icon{
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #fe4040;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-icon i {
	line-height: 50px;
	font-size: 20px;
}
#header-left-text{
	float: left;
	height: 50px;
		-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-text a {
	padding-left: 20px;
	padding-right: 20px;
}
#header-right{
	float: right;
	height: 50px;
}
#header-right:hover #header-right-icon{
/*	background-color: #fe4040;*/
    color:#fe4040;
}
#header-right:hover #header-right-text{
/*	background-color: #fe4040;*/
    color:#fe4040;
}
#header-right-icon{
	float: right;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #fe4040;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	font-size: 18px;
	line-height: 50px;
}
#header-right-icon i {
	font-size: 20px;
	line-height: 50px;
}
#header-right-text{
	float: right;
	height: 50px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text a {
	padding-right: 20px;
	padding-left: 20px;
}
#newsletter-preloaded-rows{
	display:none;
	}
#newsletter-preloaded-export{
	display:none;
	}
#newsletter-preloaded-download{
	display:none;
	}
#newsletter-builder {
	position: relative;
	/*overflow: hidden;*/
	width: 100%;
	/*float: left;*/
}
#newsletter-builder-sidebar{
	float: left;
	width: 250px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow-y: auto;
	height: 100%;
	z-index: 1;
}
#newsletter-builder-sidebar-logo{
	height: 0px;
	width: 100%;
	float: left;
	text-align: center;
}
#newsletter-builder-sidebar-logo img {
	margin-top: 50px;
}
#newsletter-builder-sidebar-buttons{
	float: left;
	width: 100%;
}
#newsletter-builder-sidebar-buttons-abutton{
	background-color: rgba(63,141,191,1);
	height: 40px;
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 40px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	margin-bottom: 25px;
}
#newsletter-builder-sidebar-buttons-abutton:hover {
	background-color: rgba(51,175,222,1);
}
#newsletter-builder-sidebar-buttons-bbutton{
	height: 40px;
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 40px;
	color: rgba(84,101,122,1);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	margin-bottom: 25px;
	border: 1px solid #e4e4e5;
}
#newsletter-builder-sidebar-buttons-bbutton:hover {
	background-color: rgba(153,153,153,0.1);
}
#newsletter-builder-area{
	float: right;
    overflow: auto;
}
#newsletter-builder-area-center {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	height: 100%;
}
#newsletter-builder-area-center-frame {
	float: left;
	width: 375px;
	margin-top: 50px;
	margin-bottom: 200px;
	margin-left: 50px;
}
#newsletter-builder-area-center-frame-buttons {
	width: 100%;
	float: left;
	height: 30px;
}
#newsletter-builder-area-center-frame-buttons-add {
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 30px;
	color: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	margin-bottom: 25px;
	font-size: 15px;
	float: left;
	position: relative;
}
#newsletter-builder-area-center-frame-buttons-add i {
	line-height: 30px;
}

#newsletter-builder-area-center-frame-buttons-add span {
	font-size: 10px;
}
#newsletter-builder-area-center-frame-buttons-add:hover {
	background-color: transparent;
}
#newsletter-builder-area-center-frame-buttons-dropdown {
	position: relative;
	background-color: rgba(51,51,51,1);
	z-index: 1;
	top: 30px;
	left: 0px;
	text-align: left;
	width: 100%;
	display: none;
}
.newsletter-builder-area-center-frame-buttons-dropdown-tab {
	float: left;
	height: 30px;
	width: 100%;
	line-height: 30px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.newsletter-builder-area-center-frame-buttons-dropdown-tab:hover {
	background-color: rgba(153,153,153,0.2);
}
.newsletter-builder-area-center-frame-buttons-dropdown-tab p {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	font-size: 14px;
}
.newsletter-builder-area-center-frame-buttons-dropdown-tab i {
	float: right;
	margin-right: 10px;
}
.newsletter-builder-area-center-frame-buttons-content {
	height: 700px;
	width: 100%;
	position: relative;
	left: 0;
	z-index: 1;
	cursor: default;
	padding-bottom: 50px;
/*	display: none;*/
}
.newsletter-builder-area-center-frame-buttons-content-tab {
	width: auto;
	margin-left: 8px;
	margin-top: 10px;
	position: relative;
	padding-bottom:8px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.newsletter-builder-area-center-frame-buttons-content-tab:hover img{
	opacity: 0.8;
}
.newsletter-builder-area-center-frame-buttons-content-tab:hover .newsletter-builder-area-center-frame-buttons-content-tab-add{
	opacity: 1;
	}
.newsletter-builder-area-center-frame-buttons-content-tab img {

	width: 90px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.newsletter-builder-area-center-frame-buttons-content-tab-add {
	height: 30px;
	width: 100px;
	background: rgba(0,0,0,0.1);
    color:#fe4040;
	position: absolute;
	left: 50%;
	left:0;
	top:0;
	float: left;
	margin-top: -6px;
	margin-left: -4px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 2;
	opacity: 0;
	transition: .3s;
	text-align: center;
}
.newsletter-builder-area-center-frame-buttons-content-tab-add:hover {
    color:#fe4040;
	cursor: pointer;
}

#wrapper{
	overflow-y: scroll;
}
#content {
	float: left;
	background: #fff;
    /*max-width:375px;*/
    /*min-width:375px;*/
		/*height:800px;*/
		margin:0 auto;
}

.fh-column{
	background: rgba(255,255,255,0.2);
}

#content img{width:100%;}


#content:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
#search{
    max-width:375px;
    min-width:375px;
    min-height:600px;
}

#search .input_wrap{
    background: rgba(255,255,255,0.2);
}
#search input{
    border:none;
    display: inline-block;
    margin:4px;
    border-radius: 2px;
    padding:8px 8px;
    border-bottom:10px;
    font-size:14px;
    margin-bottom:8px;

}

.sim-row{
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	}
.sim-row:hover {
	cursor: move;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	}
.sim-row-delete {
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.5);
	top: 0px;
	right: -40px;
	position: absolute;
    color: rgba(102,102,102,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
	text-align: center;
	font-size: 20px;
}
.sim-row-delete i {
	line-height: 40px;
}
.sim-row-delete:hover {
	background-color: rgba(255,0,0,1);
	cursor: pointer;
	color: rgba(255,255,255,1);
	}
.sim-row:hover .sim-row-delete {
    opacity: 1;
	}
.sim-row-edit{
	position: relative;
	}
.sim-row-edit-hover {
	height: 100%;
	width: 100%;
	background-color: rgba(63,141,191,0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: default;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}
.sim-row-edit-hover i{
	position: absolute;
	height: 30px;
	width: 30px;
	line-height: 30px;
	left: 50%;
	top: 50%;
	text-align: center;
	margin-top: -15px;
	margin-left: -15px;
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 16px;
}
.sim-row-edit-hover i:hover {
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

.sim-edit{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 2;
	display: none;
	background-image: url(../_assets/background.png);
	background-repeat: repeat;
}
.sim-edit-box{
	width: 400px;
	background-color: rgba(255,255,255,0.2);
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	padding: 25px;
	height: 300px;
	display: none;
}
.sim-edit-box-title{
	float: left;
	width: 100%;
	font-size: 25px;
	color: #fff;
}
.sim-edit-box-content-text span {
	font-size: 13px;
	color: rgba(255,255,255,0.4);
}

.sim-edit-box-content{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.sim-edit-box-content-text{
	float: left;
	width: 100%;
	font-size: 16px;
	color: rgba(255,255,255,0.3);
	font-weight: 600;
	margin-top: 15px;
}
.sim-edit-box-content-field{
	float: left;
	width: 100%;
	margin-top: 15px;
	}
.sim-edit-box-content-field-input {
	float: left;
	height: 33px;
	width: 380px;
	border: 1px solid rgba(204,204,204,1);
	outline: none;
	font-family: inherit;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: rgba(102,102,102,1);
}
.sim-edit-box-content-field-input:focus {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.sim-edit-box-content-field-textarea {
	float: left;
	height: 180px;
	width: 380px;
	border: 1px solid rgba(204,204,204,1);
	outline: none;
	font-family: inherit;
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: rgba(102,102,102,1);
	resize: none;
	padding: 10px;
}
.sim-edit-box-content-field-textarea:focus {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	}
.sim-edit-box-content-icons {
	float: left;
	height: 388px;
	width: 388px;
	border: 1px solid rgba(255,255,255,0.3);
	margin-top: 15px;
	overflow-y: scroll;
}
.sim-edit-box-content-icons i {
	line-height: 50px;
	background-color: rgba(225,225,225,1);
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 28px;
	color: rgba(51,51,51,1);
}
.sim-edit-box-content-icons i:hover {
	cursor: pointer;
	background-color: rgba(153,153,153,1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: rgba(0,0,0,1);
	}
.sim-edit-box-buttons{
	float: left;
	width: 100%;
	margin-top: 35px;
}
.sim-edit-box-buttons-save{
	background-color: rgba(63,141,191,1);
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
}
.sim-edit-box-buttons-save:hover {
	background-color: rgba(51,175,222,1);
}
.sim-edit-box-buttons-cancel{
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: rgba(255,255,255,0.3);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	border: 1px solid #e4e4e5;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	margin-left: 25px;
}
.sim-edit-box-buttons-cancel:hover {
	background-color: rgba(153,153,153,0.1);
}

.collapsible_start, .collapsible_end{
     text-align: center;
    color:#666;
    font-size:10px;
    border:1px solid #ccc;
    padding:4px 8px;
    border-radius: 4px 4px 0 0;
    border-bottom:1px dashed #ccc;
}

.collapsible_end{
    border:1px solid #ccc;
    border-top:1px dashed #ccc;
    border-radius: 0 0 4px 4px;
}

hr{
    border:none;
}

#result > div {
    float:left;
    width:100%;
}
#result img{
    width:100px; float:left;
    margin-right:10px;
}

#result .inner_txt{
    height:100%;
    margin-bottom:4px;
    background: #fff;
}

#result .item{ transition:.3s; cursor:pointer;}
#result .item:hover{
    -webkit-transform:scale(0.95) translateX(-20px);

}
#result .genre{
    color:#ccc;
}
.keyword {
    padding:10px 0;
    width:100%;
    text-align: center;
    color:#fe4040;
}
.inner{
    background: #fff;
    height:100px;
    overflow: hidden;
    margin-bottom:8px;
}

.sim-row-edit-hover i{
    position:relative;
		display: block;
}
.edits{
    bottom:-50%;
		width:100%;
    position:relative;
    right:-10%;
		z-index:10000;

    /*float:right;*/
    /*right:10px;*/
}

.edits i{
    background:#333;
		margin:4px;
}

#page-wrapper{
	background:#1a2835;
}

.checkbox{
	display:inline-block;
	margin:2px 0;
	text-align: right;
	float:right;
}

.sim-product{
	width:250px;
}

.list_title{
	text-align: center;
}

.st_list_card{
	margin:10px 0;
	border-bottom:1px solid rgba(255,255,255,0.3);
	padding:4px;
	color:#fff;
	cursor:pointer;
	display: table;
	min-height:40px;
	width:100%;
	vertical-align: middle;
	transition:.3s;
}

.fa-pencil{
	z-index:1000;
	position:relative;
}
.st_list_card:hover{
	color:#fe4040;
	-webkit-transform:scale(0.95);
}
