body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
#sim-wrapper{
	background-color: rgba(195,204,213,1);
	float: left;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#sim-wrapper-newsletter{
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 800px;
}
.sim-row{
	width: 100%;
	float: left;
    padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}
.sim-row-header1{
    padding:8px 26px;
	float: left;
}
.sim-row-content2{ background: none !important;}
.sim-row img{
	-webkit-transform:scale(1) !important;
	margin:20px 0 !important;
}
.sim-row-header1-nav{
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,1.00);
	height: 80px;
}
.sim-row-header1-nav-logo{
	width: 150px;
	float: left;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header1-nav-logo img {
	height: 80px;
	width: auto;
}
.sim-row-header1-nav-links{
	float: right;
	height: 80px;
	margin-right: 50px;
}
.sim-row-header1-nav-links a{
	color: rgba(63,141,191,1);
	text-decoration: none;
	margin-top: 30px;
	float: left;
	margin-right: 25px;
	font-size: 15px;
}
.sim-row-header1-nav-links a:hover {
	text-decoration: underline;
}

.sim-row-header1-nav-links-contact{
	float: left;
	margin-top: 25px;
	background-color: rgba(63,141,191,1);
	line-height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header1-nav-links-contact:hover {
	background-color: rgba(150,111,177,1);
}
.sim-row-header1-nav-links-contact a {
	color: rgba(255,255,255,1);
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.sim-row-header1-nav-links-contact a:hover {
	text-decoration: none;
}
.sim-row-header1-slider{
	width: 100%;
	float: left;
	min-height: 1em;
}
.sim-row-header1-slider-left{
	height: 450px;
	float: left;
	width: 400px;
}
.sim-row-header1-slider-left-title{
	width: 300px;
	float: left;
	margin-left: 50px;
	margin-top: 75px;
	font-size: 26px;
	color: rgba(255,255,255,1);

}
.sim-row-header1-slider-left-subtitle{
	float: left;
	width: 300px;
	margin-left: 50px;
	font-size: 20px;
	color: rgba(255,255,255,1);
	font-weight: 300;
}
.sim-row-header1-slider-left-text{
	float: left;
	width: 100%;
	font-size: 18px;
	text-align: left;
    line-height:24px;
    color:#4a4a4a;
	font-weight: 200;
}
.sim-row-header1-slider-left-link{
	float: left;
	margin-top: 30px;
	margin-left: 50px;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header1-slider-left-link:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-header1-slider-left-link a {
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-header1-slider-right{
	float: left;
	height: 450px;
	width: 400px;
	overflow: hidden;
}
.sim-row-header1-slider-right img {
	height: 450px;
	width: auto;
}
.sim-row-header2{
	width: 100%;
	float: left;
}
.sim-row-header2-nav{
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,1);
	height: 80px;
}
.sim-row-header2-nav-logo{
	width: 150px;
	float: left;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header2-nav-logo img {
	height: 80px;
	width: auto;
}
.sim-row-header2-nav-links{
	float: right;
	height: 80px;
	margin-right: 50px;
}
.sim-row-header2-nav-links a{
	color: rgba(63,141,191,1);
	text-decoration: none;
	margin-top: 30px;
	float: left;
	margin-right: 25px;
	font-size: 15px;
}
.sim-row-header2-nav-links a:hover {
	text-decoration: underline;
}
.sim-row-header2-nav-links-contact{
	float: left;
	margin-top: 25px;
	background-color: rgba(63,141,191,1);
	line-height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header2-nav-links-contact:hover {
	background-color: rgba(150,111,177,1);
}
.sim-row-header2-nav-links-contact a {
	color: rgba(255,255,255,1);
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.sim-row-header2-nav-links-contact a:hover {
	text-decoration: none;
}
.sim-row-header2-slider{
	background-color: rgba(130,207,204,1);
	width: 100%;
	float: left;
	height: 450px;
}
.sim-row-header2-slider-top{
	height: 225px;
	float: left;
	width: 100%;
	text-align: center;
}
.sim-row-header2-slider-top-title{
	width: 700px;
	float: left;
	margin-left: 50px;
	font-size: 26px;
	color: rgba(255,255,255,1);
	margin-top: 25px;
}
.sim-row-header2-slider-top-text{
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 15px;
	font-size: 16px;
	color: rgba(255,255,255,1);
	line-height: 24px;
	font-weight: 300;
}
.sim-row-header2-slider-top-link{
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 25px;
}
.sim-row-header2-slider-top-link-button{
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}
.sim-row-header2-slider-top-link-button:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-header2-slider-top-link-button a {
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	display: block;
	width: 100px;
}
.sim-row-header2-slider-bottom{
	float: left;
	height: 225px;
	width: 100%;
	overflow: hidden;
}
.sim-row-header2-slider-bottom img {
	height: auto;
	width: 800px;
}
.sim-row-content1{
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(255,255,255,1);
}
.sim-row-content1-tab{
	float: left;
	width: 200px;
	margin-left: 50px;
	text-align: center;
}
.sim-row-content1-tab-icon{
	height: 60px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	color: rgba(255,255,255,1);
	line-height: 60px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	font-size: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content1-tab-icon i {
	line-height: 60px;
}

.sim-row-content1-tab:hover .sim-row-content1-tab-icon {
	background-color: rgba(150,111,177,1);
}
.sim-row-content1-tab-title{
	margin-top: 20px;
	font-size: 18px;
	color: #1f4f80;
}
.sim-row-content1-tab-text{
	font-size: 14px;
	color: #666666;
	margin-top: 5px;
}
.sim-row-content2{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
	margin:10px 0;
}

.checkbox{ border-bottom:1px solid #e9e9e9 !important;}
.checkbox input {width: 24px; height: 24px; top: -3px; position: relative;}
.checkbox_label{font-size:18px; font-weight: bold;}

.sim-row-content2-left {
	/*float: left;*/
	width: 100%;
	height: auto;
	text-align: right;
	overflow: hidden;
}
.sim-row-content2-left img {
	width: 100%;
}


.sim-row-content2-right{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content2-right-title{
	float: left;
	width: 300px;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
	margin-left: 50px;
}
.sim-row-content2-right-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.sim-row-content2-right-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content2-right-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content2-right-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content3{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content3-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content3-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
	height: 240px;
}
.sim-row-content3-center-tab{
	float: left;
	height: 240px;
	width: 180px;
	background-color: rgba(242,244,250,1);
	margin-right: 30px;
}
.sim-row-content3-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content3-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content3-center-tab-image img {
	height: 180px;
	width: auto;
}

.sim-row-content3-center-tab-text{
	float: left;
	width: 180px;
	height: 60px;
	background-color: rgba(242,244,250,1);
	color: #656565;
	line-height: 60px;
	text-align: center;
		-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sim-row-content4{
	float: left;
	width: 100%;
	background-color: rgba(242,244,250,1);
}
.sim-row-content4-title{
	float: left;
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content4-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content4-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content4-images img {
	height: auto;
	width: 800px;
}
.sim-row-content5{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
}
.sim-row-content5-left{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content5-left-title{
	float: left;
	width: 300px;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
	margin-left: 50px;
}
.sim-row-content5-left-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.sim-row-content5-left-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content5-left-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content5-left-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content5-right {
	float: left;
	width: 400px;
	height: 400px;
	text-align: left;
	overflow: hidden;
}
.sim-row-content5-right img {
	height: 400px;
	width: auto;
}
.sim-row-content6{
	background-color: rgba(130,207,204,1);
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content6-center{
	float: left;
	width: 700px;
	margin-left: 50px;
}
.sim-row-content6-center-tab{
	float: left;
	width: 150px;
	margin-right: 33px;
	text-align: center;
}
.sim-row-content6-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content6-center-tab-image{
	width: 60px;
	font-size: 30px;
	color: rgba(130,207,204,1);
	line-height: 60px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content6-center-tab-image i {
	line-height: 60px;
}

.sim-row-content6-center-tab-text{
	color: rgba(255,255,255,1);
	font-size: 18px;
	margin-top: 15px;
	width: 150px;
}
.sim-row-content7{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content7-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content7-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content7-center-tab{
	float: left;
	width: 180px;
	background-color: rgba(242,244,250,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content7-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content7-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content7-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content7-center-tab-title{
	float: left;
	width: 150px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content7-center-tab-text {
	float: left;
	width: 150px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content8{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content8-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content8-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content8-center-tab{
	float: left;
	width: 285px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content8-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content8-center-tab-image{
	float: left;
	height: 180px;
	width: 285px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content8-center-tab-image img {
	height: auto;
	width: 285px;
}
.sim-row-content8-center-tab-title{
	float: left;
	width: 255px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content8-center-tab-text {
	float: left;
	width: 255px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content9{
	float: left;
	width: 100%;
	background-color: rgba(255,255,255,1);
}
.sim-row-content9-title{
	float: left;
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content9-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content9-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content9-images img {
	height: auto;
	width: 800px;
}
.sim-row-content10{
	background-color: rgba(130,207,204,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content10-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
}
.sim-row-content10-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content10-center-tab{
	float: left;
	width: 180px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content10-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content10-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content10-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content10-center-tab-title{
	float: left;
	width: 150px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content10-center-tab-text {
	float: left;
	width: 150px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content11{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content11-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content11-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content11-center-tab{
	float: left;
	width: 285px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 20px;
}
.sim-row-content11-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content11-center-tab-image{
	float: left;
	height: 180px;
	width: 285px;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content11-center-tab-image img {
	height: auto;
	width: 285px;
}
.sim-row-content11-center-tab-title{
	float: left;
	width: 245px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 20px;
}
.sim-row-content11-center-tab-text {
	float: left;
	width: 245px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 20px;
}
.sim-row-content11-center-tab-text-link {
	float: left;
	width: 245px;
	margin-left: 20px;
	margin-top: 15px;
}
.sim-row-content11-center-tab-text-link a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content11-center-tab-text-link a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content12{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content12-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content12-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 10px;
}

.sim-row-content12-center-tab{
	float: left;
	width: 285px;
	margin-right: 30px;
	padding-bottom: 20px;
	margin-top: 30px;
}
.sim-row-content12-center-tab:nth-child(even) {
	margin-right: 0px;
}

.sim-row-content12-center-tab-icon {
	float: left;
	height: 40px;
	width: 40px;
	color: rgba(128,147,161,1);
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.sim-row-content12-center-tab-icon i {
	line-height: 40px;
}

.sim-row-content12-center-tab-title{
	float: right;
	width: 235px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 40px;
	line-height: 40px;
}
.sim-row-content12-center-tab-text {
	float: left;
	width: 235px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-left: 50px;
}
.sim-row-content13{
	float: left;
	width: 100%;
	background-color: rgba(130,207,204,1);
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content13-center {
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 10px;
}

.sim-row-content13-center-left{
	float: left;
}
.sim-row-content13-center-left-title{
	font-size: 20px;
	color: rgba(255,255,255,1);
	line-height: 30px;
}
.sim-row-content13-center-left-subtitle{
	font-size: 16px;
	color: rgba(255,255,255,0.5);
	line-height: 20px;
}
.sim-row-content13-center-right{
	float: right;
}
.sim-row-content13-center-right a {
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 40px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	background-color: rgba(255,255,255,0);
	border: 1px solid rgba(255,255,255,1);
}
.sim-row-content13-center-right a:hover {
	background-color: rgba(255,255,255,0.2);
}
.sim-row-content14{
	float: left;
	width: 100%;
	background-color: rgba(53,57,70,1);
	padding-top: 25px;
	padding-bottom: 25px;
}
.sim-row-content14-center{
	float: left;
	width: 600px;
	margin-left: 100px;
}
.sim-row-content14-center-left{
	float: left;
	width: 290px;
}
.sim-row-content14-center-left-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-left-text{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 24px;
}
.sim-row-content14-center-right{
	float: right;
	width: 290px;
}
.sim-row-content14-center-right-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-right-row{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 24px;
	float: left;
	width: 100%;
}
.sim-row-content14-center-right-type{
	float: left;
	width: 80px;
	font-weight: 600;
}
.sim-row-content14-center-right-content{
	float: right;
	width: 210px;
}
.sim-row-content15{
	background-color: rgba(53,57,70,1);
	float: left;
	width: 100%;
	height: 80px;
}
.sim-row-content15-center{
	float: left;
	width: 600px;
	margin-left: 100px;
}
.sim-row-content15-center-left{
	float: left;
	width: 200px;
	overflow: hidden;
	}
.sim-row-content15-center-left img {
	height: 80px;
	width: auto;
}
.sim-row-content15-center-right{
	float: right;
	color: #b9bcc5;
	font-size: 14px;
	line-height: 80px;
	width: 300px;
	text-align: right;
	}


.btn_default{
    padding:14px 13px 13px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow:0 0 3px rgba(0,0,0,0.3);
	background: #e8374a;
    color:#fff;
	display: inline-block;
	margin: 0 auto;
	/*box-shadow: 0 10px 40px rgba(255,255,255,0.1) inset, 0 1px 10px rgba(232,55,74,0.5) !important;*/
}


.btn_tag{
    border:1px solid #2dbac1;
    background: #fff;
    color:#2dbac1;
    font-size:16px;
    padding:4px 6px;
    margin:4px 0;
    border-radius: 50em;
}

.btn_tag:before{
    content:'#';
}

.btn_default, .btn_default .title{
    font-size:20px !important; top:1px; position:relative;
}

.btn_default .icons{ margin-left:4px;}
.btn_default .icons{
	border-left: 1px solid rgba(0,0,0,0.3);
    padding-left: 12px;
    padding-right: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
	width:30px;
}
.btn_default .fa{
	font-size:16px;  top: 1px; position: relative;
}
.fa{
    font-size:18px;
}

.list_card{
    width:98%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.15);
    margin:20px 1%;
    clear: both;
    position: relative;
    display: block;
}

.card_info{
    padding:4px 8px;
    background: #f9f9f9;
}

.sim-product{
    margin:0 12px;
    font-size:15.5px;
    line-height: 20px;
    font-weight: 300;
    font-family: sans-serif;
    display: inline-block;
    padding:4px 0;
    line-height:20px;
		text-align: left;
    height:32px;
    overflow: hidden;
    color:#4a4a4a;
}
.list_card{ border-radius: 4px; overflow: hidden;}
.list_card .price{
	font-size:15px;
	display: block;
	font-weight:bold;
	color:#d91414;
}
.list_card .price:after{
    content:"원"; font-size:12px;
}
.list_card .genre img {
    width: 54px !important; margin: 3px 0 0 !important;
	height: auto !important;
}
.won_txt{
    display:inline-block;
}

.product_title{font-size:16px;}
.product_price{
    font-weight: 900;
    font-size:22px;
    font-family: 'avenir', sans-serif;
}
.product_price::after{
    content:'w';
    font-size:11px;
}

.thumb{
    width:100%; height:250px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.collapsible_div{
    background: #fe4040;
    display: block;
    float:left;
}

.sim-fluid{
    width:auto !important;
    margin:0 2px;
    padding:4px 0;
		min-width:35px;
}


.btn_collapsible{
    border-radius: 50em;
	display: table-cell;
    border:1px solid #4a4a4a;
    width:60px;
    height:60px;
	background: #ff5a5a;
	color:#fff;
	box-shadow: 0 0 1px rgba(0,0,0,.23), 0 1px 0 rgba(0,0,0,0.6);
	padding:2px 0;
	border:0;
    vertical-align: middle;
}

detail{
    width: auto;
	box-sizing:border-box;
	display: block;
	padding:6px 10px 8px;
}

site {
    display: inline-block;
	box-sizing: border-box;
}

#contents.padding-9, section.padding-9{
	padding:0;
}

#contents site img{
	height:18px;
	max-width:100%;
	vertical-align: top;
	border:0;
}

name.sim-product{
	display: block;
    font-size: 13px;
    text-align: left;
    line-height: 1.3em;
	padding:0;
	margin:0;
    margin-top: 4px;
    height: 2.4em;
    overflow: hidden;
    white-space: normal;
	box-sizing: border-box;
	font-family: inherit;

}

time{
	color:#999999;
	font-size:11px;
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	right:8px;
}

price{
	margin-top:12px;
	display: block;
	box-sizing: border-box;
}

price num{
	font-size:15px;
	font-weight:bold;
	color:#d91414;

}

price num:after{
	content:'원';
	font-size:0.7em;
}

.head_txt {
	padding: 18px;
}

.head_txt > div{
	font-size:30px;
	font-weight: 500;
	line-height: 1.2em;
}


alarm.mini:hover{
	background: #d91414;
}

.gradient_cover{
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    z-index: 100;
    position: relative;
    /*top: -340px !important;*/
    /*padding: 310px 0 0;*/
		/*margin-bottom:-310px;*/
}

alarm.mini{
	background-size: 14px 14px;
    background-position: 84% 50%;
    line-height: 16px;
    height: 26px;
    width: 49px;
    border-radius: 15px;
	background: #ccc;
	width:80px;
}
alarm.mini:after{
	height: 24px;
    width: 24px;
    top: 1px;
    left: 1px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

footer{z-index:1000;}
.sim-row br{ display:none; }
.sim-row-header1-slider-left-text br{ display:block; }
.genre img{
    margin:0 !important;
    width:auto !important;
    height:100%;
}
.fa-chevron-down, .fa-chevron-up{ font-size:10px; vertical-align: 10%;}

#contents img{ margin:40px 0 0;}

.owl-carousel:not(.cardnews){
    width:110% !important;
    margin-left:-5%;
}

.owl-carousel:not(.cardnews) .thumb{
    height:170px;
}

/*.owl-carousel .owl-item{ width:220px !Important;}*/
.owl-carousel .list_card{
/*    width:200px;*/
}
html{-webkit-user-selection:#fe4040 !important;}
