

<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex" />
        <meta name="format-detection" content="telephone=no"><!-- iOS 웹에서 전화번호를 자동으로 링크로 바꾸는걸 막음 -->
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="icon" type="image/png" href="{{ cdn_img }}/favicon.ico?v=1">
		<title>페이지 오류</title>
    </head>
    <body>
<div style="text-align: center; padding-top: 30%;">

    <img src="{{ cdn_img }}/404.png" style="width: 70%; margin: 0 auto;">

    <h3 style=" opacity: 0.7;">앗! 페이지를 찾지 못했어요.</h3>

    <p style="font-size: 14px; opacity: 0.5;">페이지를 불러올 수 없습니다.<br/>뒤로가기 버튼을 눌러주세요.</p>

</div>
	</body>
</html>
