<!DOCTYPE html>
<html lang="ko">
<head>
    <title>홈쇼핑모아 | 모든 홈쇼핑을 한눈에!</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta property="fb:app_id" content="1552436168327778"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://hsmoa.kr/ab"/>
    <meta property="og:title" content="홈쇼핑모아"/>
    <meta property="og:description" content="오직 홈쇼핑모아 앱에서만 가능한 놀라운 가격!"/>
    <meta charset="utf-8">

    <style>
        html, body {
            margin: 0;
            background: #fff;
        }

        #head {
            text-align: center;
            width: 100%;
            margin: 30px auto;

        }

        #foot {
            text-align: center;
            font-size: 11px;
            color: #aaa;
            padding: 20px 10px;
        }

        #loading {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        #loading img {
            height: 9px;
            margin: 10px;
        }

        .block-hide {display:none; }
    </style>
    <script>
        (function () {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '848790158540369']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none"
                   src="https://www.facebook.com/tr?id=848790158540369&amp;ev=PixelInitialized"/></noscript>
</head>

<body>
<div id="head">
    <div style="margin:10px auto; width:86px; border: 1px solid #eee; border-radius: 16px; ">
        <img id="logo" src="{{ thum }}/240x240/{{ img }}/2016/hsmoa_icon.png" style="width: 100%">
    </div>
    <div style="font-size: 19px; font-weight: bold;">
        1000만 사용자가 선택한 "홈쇼핑모아"
    </div>
    <div style="height:2px;"></div>
    <div style="font-size: 14px;  color: #444;">
        모든 홈쇼핑 상품들을 가격비교, 최저가로 만나보세요~
    </div>

    <div style="margin:20px 40px; height:1px; background: #ccc"></div>
    <div id="loading" style="display: none;">
        <img src="{{ img }}/scroll_start.gif">
    </div>
    <div style="height:15px;"></div>
    {% if agent == 'iphone' %}
        <a href="{{ url }}"
           style=" display:block; margin: 0 auto; background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a>
    {% elif agent == 'android' %}
        <a href="{{ url }}"
           style=" display:block; margin: 0 auto; background:url(https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png) no-repeat; background-size:135px 40px; width:135px;height:40px;"></a>
    {% else %}
        <a href="https://itunes.apple.com/kr/app/homsyopingmoa/id616581116?mt=8"
           style=" display:block; margin: 0 auto; background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a>
        <div style="height:14px"></div>
        <a href="{{ url }}"
           style=" display:block; margin: 0 auto; background:url(https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png) no-repeat; background-size:135px 40px; width:135px;height:40px;"></a>
    {% endif %}
    <button id="web2appTestBtn" style="opacity: 0; margin: 20px; ">자동으로 이동하지 않으면 <b>이곳</b>을 터치 해주세요.</button>
</div>

<div id="foot">
    &copy; BUZZNI . All rights reserved
</div>

<script src="{{ media }}/hsmoa/jquery-3.2.1.min.js"></script>
<script src="{{ media }}/js/web2app-standalone-1.0.15.js?v=28"></script>
<script type="text/javascript">
    $(function(){
        var ua = util.userAgent();
        var applinks = "{{ request.GET.applinks }}";
        var user_id = "{{ request.GET.xid }}" || "{{ request.META.HTTP_XID }}";
        var user_token = "{{ request.META.HTTP_TOKEN }}";
        var urlDomain = "o.buzzni.com/";
        var url = "";
        var referrer = decodeURIComponent(decodeURIComponent("{{ request.GET.menu }}"));

        var arr = referrer.split("_");
        var num = arr.length;
        var channel = arr[0];
        var query = arr[num - 1];
        var action = "";
        if(num > 2) {
            // "seo_search_fbanner_query_검색어" 에서 "query"를 액션으로 본다
            action = arr[num - 2];
        }

        // 쿼리 파싱
        var parsing_list = ['파는곳', '싼곳', '주문', '가격', '할인'];

        for(var i in parsing_list){
            if(query.match(parsing_list[i])){
                query = query.replace(parsing_list[i], '');
            }
        }

        // 1월 ~ 12월 파싱

        for(var i = 1; i <= 12; i++){
            month = i + '월';

            query = query.replace(month, '');
        }

        if( query == '홈쇼핑' || query == '홈쇼핑모아' || query == '홈쇼핑방송편성표' || query == 'hsmoa' || query.length > 20 ){
            // 해당 쿼리일 경우 or 쿼리가 20자 이상일 경우 앱만 실행시킨다.
            if(applinks == 'ios'){
                // 아이폰 universer link 일때는 해당페이지가 이미 앱 안에서 열린 상태이므로 뒤로가기하여 편성표로 이동
                document.location = "BuzzniHybrid:moveBack:1";
                return;
            }else{
                urlDomain = '';
                url = ''
            }
        }else if( action == 'item'){
            // 상품페이지 이동
            url = 'hsmoa/item?from=marketing&entity_id=' + query + '&referer='+ referrer;
        }else{
            //레퍼러 쿼리가 있는 경우 1
            url = 'hsmoa/search/result?from=marketing&query=' + query + '&referer='+ referrer;
        }

        var	btnEl = document.getElementById('web2appTestBtn'),
            scheme = 'hsmoa',
            pkgName = 'com.buzzni.android.subapp.shoppingmoa',
            urlScheme = "hsmoa://" + urlDomain + url,
            intentURI = "intent://" + urlDomain + url + '#Intent;scheme=' + scheme + ';package=' + pkgName + ';S.market_referrer=' + referrer + ';end',
            appStoreURL = ua.os.android ? 'market://details?id=' + pkgName + "&referrer="+referrer : 'itms-apps://itunes.apple.com/app/id616581116';

        setTimeout(function(){
            if(applinks == 'ios'){
                //아이폰 universal link 작동
                locationHref("http://o.buzzni.com/" + url);
            }else{
                deeplinkMove();
            }
        }, 150);

        btnEl.addEventListener('click', function () {
            deeplinkMove()
        });

        function deeplinkMove(){
            //ios기기에선 여기까지 왔다는 것은 universal link 작동이 안된 것이므로, 스토어로 이동하게 한다.
            if(isSupportUniversalLinks()){
                location.href = appStoreURL;
                return;
            }

            $("#loading").hide();
            $("#web2appTestBtn").show();
            if (ua.platform === 'pc') {
                alert('모바일 기기에서 이용 가능한 기능입니다.\r\n홈쇼핑모아가 설치된 스마트폰에서 이용해 주세요.');
                //location.href="http://hsmoa.com?from="+referrer;
            } else {
                daumtools.web2app({
                    appName: '홈쇼핑모아',
                    urlScheme: urlScheme,
                    //intentURI: intentURI,
                    storeURL: appStoreURL,
                });
            }
        }

        function isSupportUniversalLinks(){
            return (parseInt(ua.os.version.major, 10) > 8 && ua.os.ios);
        }
    });

    // 웹뷰생성하여 페이지 이동
    window.locationHref = function (_url) {
        var _rand = "rand" + Math.floor(Math.random() * 1000000);
        var _trigger = "<a href=\""+_url+"\"><input class='block-hide' id='"+_rand+"' /></a>";
        $("body").append(_trigger);
        $("#"+_rand).trigger("click");
    };

    function reload(){
        document.location = "BuzzniHybrid:moveBack:1";
    }
</script>
</body>
</html>
