{% load filters %}
<html>
<head><title>홈쇼핑모아</title></head>
<style>
    .block-hide {display: none;}
</style>
<script type="text/javascript" src="{{ media }}/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    var user_id = "{{ request.META.HTTP_XID }}" || "{{ request.GET.xid }}";
    var query = "{{ request.GET.query|urldecode }}";
    var referrer = "{{ request.GET.menu|urldecode }}";
    var entity_id = "{{ request.GET.id }}";


    // 웹뷰생성하여 페이지 이동
    window.locationHref = function (_url) {
        var _rand = "rand" + Math.floor(Math.random() * 1000000);
        var _trigger = "<a href=\""+_url+"\"><input class='block-hide' id='"+_rand+"' /></a>";
        $("body").append(_trigger);
        $("#"+_rand).trigger("click");
    };

    $(function () {
        if( query == '홈쇼핑' || query == '홈쇼핑모아' || query == '홈쇼핑방송편성표' || query == 'hsmoa' ){
            // move_back하여 편성표화면으로 이동시킨다
            document.location = "BuzzniHybrid:moveBack:1";
        }else if(entity_id != ""){
            locationHref("/hsmoa/item?from=marketing&entity_id="+entity_id+"&referer="+referrer);
        }else{
            locationHref("/hsmoa/search/result?from=marketing&query="+query+"&referer="+referrer);
        }
    });

    function reload(){
        document.location = "BuzzniHybrid:moveBack:1";
    }

</script>
</html>