<html>
<head>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta property="fb:app_id" content="1552436168327778"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url"
          content="http://hsmoa.kr/deeplink?url=/inner/out/link?url=http://www.cjmall.com/prd/detail_cate.jsp?item_cd=39958593"/>
    <meta property="og:title" content="홈쇼핑모아"/>

    <style>
        html, body {
            margin: 0;
            background: #fff;
        }
        #head {
            text-align: center;
            width: 100%;
            margin: 30px auto;

        }


        #foot {
            text-align: center;
            font-size: 11px;
            color: #aaa;
            padding: 20px 10px;
        }

        #loading {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        #loading img {
            height: 9px;
            margin: 10px;
        }
    </style>
</head>

<body>
<div id="head">
    <div style="margin:10px auto; width:86px; border: 1px solid #eee; border-radius: 16px; ">
        <img id="logo" src="{{ thum }}/240x240/{{ img }}/2016/hsmoa_icon.png" style="width: 100%">
    </div>
<div style="font-size: 19px; font-weight: bold;">
    500만 사용자가 선택한 "홈쇼핑모아"
</div>
<div style="height:2px;"></div>
<div style="font-size: 14px;  color: #444;">
    모든 홈쇼핑 상품들을 가격비교, 최저가로 만나보세요~
</div>

    <br/>
    <br/>
    <br/>

    <div>
        <button id="web2appTestBtn" style="display: none; font-size:13px; padding:7px 12px; border: 1px solid #ccc; background: #fff;">자동으로 이동하지 않으면 <b>이곳</b>을 터치 해주세요.</button>
    </div>
</div>

<div id="foot">
    &copy; BUZZNI . All rights reserved
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/media/js/web2app-standalone-1.0.12.min.js"></script>
<script type="text/javascript">
    function urlParam(name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        else {
            return results[1] || 0;
        }
    }

    $(function () {
        var referrer = "criteo";
        var ua = util.userAgent();
        var btnEl = document.getElementById('web2appTestBtn');

        var url = urlParam("url");
        var scheme = 'hsmoa';
        var pkgName = 'com.buzzni.android.subapp.shoppingmoa';
        var urlScheme = "hsmoa://o.buzzni.com" + url;
        var intentURI = 'intent://o.buzzni.com' + url + '#Intent;scheme=' + scheme + ';package=' + pkgName + ';end';
        var appStoreURL = ua.os.android ? 'market://details?id=' + pkgName +"&referrer=" + referrer : 'itms-apps://itunes.apple.com/app/id616581116';

        function deeplinkMove() {
            $("#loading").hide();
            $("#web2appTestBtn").show();
            if (ua.platform === 'pc') {
                alert('모바일 기기에서 이용 가능한 기능입니다.\r\n홈쇼핑모아가 설치된 스마트폰에서 이용해 주세요.');
                location.href = "http://hsmoa.com";
            } else {
                daumtools.web2app({
                    urlScheme: urlScheme,
                    intentURI: intentURI,
                    storeURL: appStoreURL,
                    appName: '홈쇼핑모아',
                    willInvokeApp: function () {
                    },
                    onAppMissing: function () {
                        if (ua.browser.name == "iphone" || ua.browser.name == "ipad" || ua.browser.name == "ipod") {
                            location.href = "itms-apps://itunes.apple.com/app/id616581116";
                        }
                    },
                    onUnsupportedEnvironment: function () {
                    }
                });
            }
        }

        function universalLinkMove() {
            location.href = 'http://o.buzzni.com' + decodeURIComponent(url);
        }

        setTimeout(function () {
            deeplinkMove();
        }, 2000);

        btnEl.addEventListener('click', function () {
            if (ua.platform === 'pc') {
                alert('모바일 기기에서 이용 가능한 기능입니다.\r\n홈쇼핑모아가 설치된 스마트폰에서 이용해 주세요.');
                location.href = "http://hsmoa.com";
            } else {
                daumtools.web2app({
                    urlScheme: urlScheme,
                    intentURI: intentURI,
                    storeURL: appStoreURL,
                    appName: '홈쇼핑모아'
                });
            }
        });
    });

</script>
</body>

</html>
