{% load filters %}

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta property="fb:app_id" content="1552436168327778" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}/{{ request.GET.url }}&from={{ request.GET.from }}" />
    {% if request.GET.url == "event/event?id=plu_20180716" %}
        <meta property="og:image" content="{{ thum }}/smart/https://i.imgur.com/DIV8qQm.png" />
    {% endif %}

    <style>
        html, body {
            margin: 0;
            background: #ffffff;
        }
        #head {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            padding: 20px 0;
        }

        #head #logo {
            width: 72px;
            margin-bottom: 10px;
        }

        #foot {
            text-align: center;
            font-size: 11px;
            color: #aaa;
            padding: 20px 10px;
        }

        #loading {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        #loading img {
            height: 9px;
            margin: 10px;
        }

        button {
            background: transparent;
            border: 0;
            font-size: 16px;
            display: none;
        }
    </style>
</head>

<body>
<div id="head">
    {% if request.GET.img %}
        <img style="width:100%;" src="{{ request.GET.img }}" onerror="this.src='{{ thum }}/250x250/{{ img }}/2016/hsmoa_icon.png'">
    {% else %}
        <img id="logo" src="{{ thum }}/250x250/{{ img }}/2016/hsmoa_icon.png">
    {% endif %}
    <div id="loading">
        <img src="{{ img }}/scroll_start.gif">
    </div>
    <div>
        <button id="web2appTestBtn">자동으로 이동하지 않으면 <b>이곳</b>을 터치 해주세요.</button>
    </div>
    {#    <a href="http://hsmoa.kr/deeplink?referrer=facebook&url=event%2Fallinweek%3Fdate%3D20160815&img=http%3A%2F%2Fcache.m.ui.hsmoa.com%2Fmedia%2Fimg%2Faw%2Fssgshop%2Fevent_1608.png%3Fv%3D4">이벤트 링크</a>    #}
</div>

<div id="foot">
    &copy; BUZZNI . All rights reserved
</div>
<script src="{{ media }}/hsmoa/jquery-3.2.1.min.js"></script>
<script src="{{ media }}/js/web2app-standalone-1.0.15.js?v=3"></script>
<script type="text/javascript">
    $(function(){
        var ua = util.userAgent();
        var applinks = "{{ request.GET.applinks }}";
        var user_id = "{{ request.GET.xid }}" || "{{ request.META.HTTP_XID }}";
        var user_token = "{{ request.META.HTTP_TOKEN }}";
        var urlDomain = "{{ request.META.HTTP_HOST }}/";
        var url = "{{ request.GET.url }}";
        var referrer = "{{ request.GET.referer }}" || "deeplink";
        var default_param = "from={{ request.GET.from }}&referer={{ request.GET.referer }}";
        //var default_param = "from={{ request.GET.from }}&xid=" + user_id + "&referer={{ request.GET.referer }}";

        if(url.indexOf('?') !== -1)
            url += "&" + default_param;
        else
            url += "?" + default_param;

        /*
        if (url) {
            url = "";
            urlDomain = "";
            intentURI = "";
        }
        */

        var	btnEl = document.getElementById('web2appTestBtn'),
            scheme = 'hsmoa',
            pkgName = 'com.buzzni.android.subapp.shoppingmoa',
            urlScheme = "hsmoa://" + urlDomain + url,
            intentURI = "intent://" + urlDomain + url + '#Intent;scheme=' + scheme + ';package=' + pkgName + ';S.market_referrer=' + referrer + ';end',
            appStoreURL = ua.os.android ? 'market://details?id=' + pkgName + "&referrer="+referrer : 'itms-apps://itunes.apple.com/app/id616581116';

        //universalLinkMove();
        setTimeout(function(){
            deeplinkMove();
        }, 500);

        btnEl.addEventListener('click', function () {
            deeplinkMove()
        });

        function deeplinkMove(){
            $("#loading").hide();
            $("#web2appTestBtn").show();
            if (ua.platform === 'pc') {
                alert('모바일 기기에서 이용 가능한 기능입니다.\r\n홈쇼핑모아가 설치된 스마트폰에서 이용해 주세요.');
                //location.href="http://hsmoa.com?from="+referrer;
            } else {
                daumtools.web2app({
                    appName: '홈쇼핑모아',
                    urlScheme: urlScheme,
                    intentURI: intentURI,
                    storeURL: appStoreURL,

                    // function for logging
                    willInvokeApp: function() {
                        location.href = urlScheme;
                    },
                    // fallback function (default. move to appstore)
                    onAppMissing: function() {
                        setTimeout(function(){
                            location.href = appStoreURL;
                        }, 150);
                    },
                    // fallback function
                    onUnsupportedEnvironment: function() {
                        //alert("fallback");
                    }

                });
            }
        }

        function universalLinkMove(){
            location.href = 'http://hsmoa.kr/'+decodeURIComponent(url)+'&token='+user_token;
        }
    });
</script>
</body>

</html>
