<html>
<head><title>홈쇼핑모아</title></head>

<script type="text/javascript" src="{{ media }}/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    var pushdata = {
        "text_ad_170211_1": "http://m.lotteimall.com/coop/affilGate.lotte?chl_no=139564&chl_dtl_no=2538702&returnUrl=/goods/viewGoodsDetail.lotte?goods_no=12534889",
        "text_ad_170211_2": "http://with.gsshop.com/jsp/jseis_withLGeshop.jsp?media=LAr&gourl=http://m.gsshop.com/prd/prd.gs?prdid=24048400",
        "text_ad_170211_3": "http://m.hnsmall.com/channel/gate?channel_code=20214&goods_code=12565830",
        "text_ad_170212_1": "http://with.gsshop.com/jsp/jseis_withLGeshop.jsp?media=LAr&gourl=http://m.gsshop.com/prd/prd.gs?prdid=24292204",
        "text_ad_170210_2": "http://with.gsshop.com/jsp/jseis_withLGeshop.jsp?media=LAr&gourl=http://m.gsshop.com/prd/prd.gs?prdid=24048400",
        "text_ad_170210_1": "http://with.gsshop.com/jsp/jseis_withLGeshop.jsp?media=LAr&gourl=http://m.gsshop.com/prd/prd.gs?prdid=24048400"
    };

    var pushid = "{{ request.GET.pushid }}";
    var user_id = "{{ request.META.HTTP_XID }}";
    if (user_id == "") {
        user_id = "{{request.GET.xid}}";
    }
    var pushurl = "{% autoescape off %}{{ url }}{% endautoescape %}";


    //ajax get callback
    function ajax_get(url, data, callback) {
        $.ajax({
            data: data,
            url: url,
            success: callback
        });
    }

    $(function () {
        var url = pushdata[pushid];
        if (pushurl != "") {
            location_outlink_stat(pushurl, pushid);
        } else if (url != undefined) {
            location_outlink_stat(url, pushid);
        } else {
            setTimeout(function () {
                ajax_get("/stat/ad/inapp/fail", {"pushid": pushid, "xid": user_id, "url": url}, function (re) {
                    document.location = "BuzzniHybrid:moveBack:1";
                });
            }, 300)
        }
    });

    //광고 통계용
    function location_outlink_stat(url, info) {
        url = url + "&pushid=" + info;
        ajax_get("/stat/ad/inapp/show", {"pushid": info, "xid": user_id, "url": url}, function (re) {
            var ran = "tvshop" + Math.floor(Math.random() * 1000000);
            var trigger = "<a href='/inner/out/link?url=" + url + "'><input class='block-hide' id='" + ran + "' /></a>";
            $("body").append(trigger);
            $("#" + ran).trigger("click");
            setTimeout(function () {
                document.location = "BuzzniHybrid:moveBack:1";
            }, 300)
        });
    }
</script>
</html>