<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
		<title>{% if title %}{{ title }}{% else %}{{request.GET.title}}{% endif %}</title>
        {% block opengraph %}{% endblock %}
        <script type="text/javascript" src="{{ media }}/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript">
		if (typeof jQuery == 'undefined') { document.write('<script type="text/javascript" src="' + "{{ media }}/js/jquery-1.11.0.min.js?v="+ Math.floor(Math.random() * 1000) + '"></scr' + 'ipt>'); }
        var user_id = "{{request.session.user.id}}";
		var user_token = "{{request.session.user.token}}";
        if( user_id == "" ){
            user_id = "{{ request.META.HTTP_XID }}";
            user_token = "{{ request.META.HTTP_TOKEN }}";
        }
        var app_version = "{{ request.session.device.app_version }}";
        if( app_version == "" ){
            app_version = "{{ request.META.HTTP_V }}";
        }
        </script>
        <style>
            html, body {margin: 0; padding: 0; height:100%; width:100%;}
        </style>
    </head>

        <script type="text/javascript">
        //ajax get callbackax get callback
        function ajax_get(url,data,callback,sync){
            var _data = $.extend({"xid":user_id}, data);
            $.ajax({
                data:_data,
                url:url,
                async:sync,
                success: callback
            });
        }
        //link
        function location_href(url) {
            var _rand = "rand" + Math.floor(Math.random() * 1000000);
            var _trigger = "<a href='"+url+"'><input class='block-hide' id='"+_rand+"' /></a>";
            $("body").append(_trigger);
            $("#"+_rand).trigger("click");
        }

        function location_outlink(url) {
            if (is_android_app() ){
                location_href("/out/link?url="+url);
            }else if (is_ios_app()){
                //아이폰 사파리 일때 일반 url로 넘긴다.
                if(/^((?!chrome).)*safari/i.test(navigator.userAgent)){
                    location_href(url);
                }else{
                    location_href("/out/link?url="+url);
                }
            } else {
                location_href(url);
            }
        }
        function confirm_update(){
            if(is_android_app()) {
                ajax_get("/stat/app_update", {"from": app_version, "type":"forced"}, function(){
                    var url = "market://details?id=com.buzzni.android.subapp.shoppingmoa&referrer=update" ;
                    location_outlink(url);
                });
            }else if(is_ios_app()){
                ajax_get("/stat/app_update", {"from": app_version, "type":"forced"}, function(){
                    var url = "https://itunes.apple.com/kr/app/homsyopingmoa/id616581116?mt=8";
                    location_outlink(url);
                });
            }else{
                ajax_get("/stat/app_update", {"from": app_version, "type":"forced"}, function(){
                    var url = "https://play.google.com/store/apps/details?id=com.buzzni.android.subapp.shoppingmoa&referrer=update";
                    location_outlink(url);
                });
            }
        }
        function is_ios(){
            if ((navigator.userAgent.match('iPad') != null || navigator.userAgent.match('iPhone') != null)){
                return true;
            } else {
                return false;
            }
        }
        function is_android(){
            if (navigator.userAgent.match('Android') != null){
                return true;
            } else {
                return false;
            }
        }
        function is_ios_app(){
            if (is_ios()){
                return true;
            } else {
                return false;
            }
        }
        function is_android_app(){
            if (is_android() && typeof window.BuzzniHybrid != "undefined"){
                return true;
            } else {
                return false;
            }
        }
        function rand() {
            return "tvshop" + Math.floor(Math.random() * 1000000);
        }
        </script>
	<body>
    {% if request.META.HTTP_V > "9.0.0" %}
        <script>
        // 신버전에서 업데이트 알림 화면을 보는 유저들에게 자동으로 백키를 눌러서 홈화면으로 가게 해줌.
            ajax_get("/stat/oldversion", {"type":"butnewversion", "from":app_version}, function (re) {
                document.location = "BuzzniHybrid:moveBack:1";
            });
        </script>
    {% else %}
    <div style="text-align: center; padding: 50px 40px; line-height: 1.3em;">
        <div style="margin:10px auto; width:86px; border-radius: 16px; ">
            <img id="logo" src="{{ thum }}/240x240/{{ img }}/2016/hsmoa_icon.png" style="width: 100%">
        </div>
        <h2>업데이트 알림</h2>
        기존 버전에서는 서비스가 더 이상 지원되지 않습니다.<br/>
        새로운 버전으로 업데이트 하고 더욱 편리해진 홈쇼핑모아를 이용해주세요!<br/><br/>
        <button onclick="confirm_update()" style=" background: #ea1b27; color: #fff; border: 0; box-shadow: 0 1px 4px #bbb; border-radius: 3px; font-size:15px; font-weight:bold; height:44px; width: 240px; opacity: 0.8; padding-left: 18px;">
            업데이트 하러가기
            <div style="float:right; margin-right: 8px;">〉</div>
        </button>
    </div>
    <script>
        if(user_id == ""){
            if(/^((?!chrome).)*safari/i.test(navigator.userAgent)){
                ajax_get("/stat/oldeversion", {"type":"oldversion", "from":app_version});
            }else{
                ajax_get("/stat/oldversion", {"type":"butnewversion", "from":app_version}, function (re) {
                    document.location = "BuzzniHybrid:moveBack:1";
                });
            }
        }else{
            ajax_get("/stat/oldeversion", {"type":"oldversion", "from":app_version});  // 신버전에서 업데이트 알림 화면을 보는 유저들이 있음 이를 찾기 위함
        }
    </script>
    {% endif %}

	</body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46031772-1', 'auto');
          ga('send', 'pageview');
          ga('set', '&uid', user_id);
        </script>
</html>
