<html>
<body>
<div style="width:100%; font-size: 14px; text-align: center;margin-top:200px;">
    해당 상품 페이지로 이동중입니다...

    {% autoescape off %}{{ url }}{% endautoescape %}
</div>
</body>
<script type="text/javascript" src="{{ media }}/hsmoa/jquery-3.2.1.min.js?v=7"></script>
<script type="text/javascript">
    var fullpath = {% autoescape off %}"{{ url }}"{% endautoescape %};
    var url = fullpath.replace("/out/link?url=", "");
    location_href(url);

    function location_href(url) {
        var _rand = "rand" + Math.floor(Math.random() * 1000);
        var _trigger = "<a href='" + url + "'><input style='display:none' id='" + _rand + "' /></a>";
        $("body").append(_trigger);
        $("#" + _rand).trigger("click");
    }

</script>