{% extends "native/__basic.html" %}
{% block container %}
    <link rel="stylesheet" href="../media/css/font-awesome.min.css">
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="align-center"><img src="{{ cdn_img }}/hsmoa_logo.png" style="height:25px;" /></div>
<div class="clear-9"></div>
<div class="clear-9"></div>



<div class="b-white">
    <div class="border-bottom">
        <a href="/native/home/style" class="padding-12 disblock">
            스타일탭
            <span class="c-gray">(/native/home/style)</span>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>

<div class="b-white">
    <div class="border-bottom">
        <a href="/native/user/join" class="padding-12 disblock">
            회원가입
            <span class="c-gray">(/native/user/join)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/user/login" class="padding-12 disblock">
            로그인
            <span class="c-gray">(/native/user/login)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/user/reco" class="padding-12 disblock">
            홈쇼핑추천
            <span class="c-gray">(/native/user/reco)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/user/profile" class="padding-12 disblock">
            프로필
            <span class="c-gray">(/native/user/profile)</span>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>


<div class="b-white">
    <div class="border-bottom">
        <a href="/native/home/beauty" class="padding-12 disblock">
            화장품
            <span class="c-gray">(/native/home/beauty)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home/underwear" class="padding-12 disblock">
            속옷
            <span class="c-gray">(/native/home/underwear)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home/style" class="padding-12 disblock">
            스타일
            <span class="c-gray">(/native/home/style)</span>
            <i class="c-red fa fa-gear fa-spin"></i>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home/style/vs?img=http://thum.buzzni.com/unsafe/375x375/center/http://itemimage.cjmall.com/goods_images/36/030/36030030L.jpg" class="padding-12 disblock">
            비주얼서치
            <span class="c-gray">(/native/home/style/vs)</span>
            <i class="c-red fa fa-gear fa-spin"></i>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home" class="padding-12 disblock">
            홈
            <span class="c-gray">(/native/home)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home/food" class="padding-12 disblock">
            식품
            <span class="c-gray">(/native/home/food)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/home/living" class="padding-12 disblock">
            생활
            <span class="c-gray">(/native/home/living)</span>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/native/timeline" class="padding-12 disblock">
            편성표
            <span class="c-gray">(/native/timeline)</span>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/search" class="padding-12 disblock">
            검색
            <span class="c-gray">(/native/search)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/search/result?query=휴롬" class="padding-12 disblock">
            검색결과
            <span class="c-gray">(/native/search/result)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/tvrank" class="padding-12 disblock">
            홈쇼핑 인기상품 TOP100
            <span class="c-gray">(/native/tvrank)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/community" class="padding-12 disblock">
            커뮤니티
            <span class="c-gray">(/native/community)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/hotdeal" class="padding-12 disblock">
            오늘의딜
            <span class="c-gray">(/native/hotdeal)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/native/my/visit" class="padding-12 disblock">
            최근 본 상품
            <span class="c-gray">(/native/my/visit)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/like" class="padding-12 disblock">
            찜한 상품
            <span class="c-gray">(/native/my/like)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/alarm" class="padding-12 disblock">
            알람센터
            <span class="c-gray">(/native/my/alarm)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/alarm/past" class="padding-12 disblock">
            지난 방송알람
            <span class="c-gray">(/native/my/alarm/past)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/event" class="padding-12 disblock">
            이벤트
            <span class="c-gray">(/native/my/event)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/sale" class="padding-12 disblock">
            홈쇼핑 할인,적립 혜택
            <span class="c-gray">(/native/my/sale)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/shipping" class="padding-12 disblock">
            홈쇼핑 배송조회
            <span class="c-gray">(/native/my/shipping)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/native/my/notice" class="padding-12 disblock">
            공지사항
            <span class="c-gray">(/native/my/notice)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/faq" class="padding-12 disblock">
            자주 묻는 질문
            <span class="c-gray">(/native/my/faq)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/help" class="padding-12 disblock">
            의견건의
            <span class="c-gray">(/native/my/help)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/info" class="padding-12 disblock">
            내정보
            <span class="c-gray">(/native/my/info)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/native/my/policy" class="padding-12 disblock">
            서비스 이용약관
            <span class="c-gray">(/native/my/policy)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/my/privacy" class="padding-12 disblock">
            개인정보 보호정책
            <span class="c-gray">(/native/my/privacy)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/event/allinweek" class="padding-12 disblock">
            올인위크(2015/2016)
            <span class="c-gray">(/event/allinweek)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/user/login" class="padding-12 disblock">
            회원가입(테스트)
            <span class="c-gray">(/native/user/login)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="/native/ad/swipe" class="padding-12 disblock">
            광고영역(2015버전)
            <span class="c-gray">(/native/ad/swipe)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/webapp" class="padding-12 disblock">
            webapp check
            <span class="c-gray">(/webapp)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="b-white">
    <div class="border-bottom">
        <a href="/user/login" class="padding-12 disblock">
            로그인
            <span class="c-gray">(/user/login)</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
    <div class="border-bottom">
        <a href="BuzzniHybrid:openUserJoin:" class="padding-12 disblock">
            웹뷰에서 회원가입 창 띄우기
            <span class="c-gray">BuzzniHybrid:openUserJoin:</span>
            <button class="bt-check font-10" style="height:20px;">OK</button>
        </a>
    </div>
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
<div class="padding-9">
<img src="http://buzzni.com/media/img/logo_buzzni_symbol.png" style="height:30px;;"/> http://buzzni.com/media/img/logo_buzzni_symbol.png
<br/><img src="http://buzzni.com/media/img/logo_buzzni.png" style="height:30px;;"/> http://buzzni.com/media/img/logo_buzzni.png
</div>
<div class="clear-9"></div>
<div class="clear-9"></div>
{% endblock %}
