<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <meta name="robots" content="noindex" />
        <meta name="format-detection" content="telephone=no"><!-- iOS 웹에서 전화번호를 자동으로 링크로 바꾸는걸 막음 -->
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="icon" type="image/png" href="{{ cdn_img }}/favicon.ico?v=1">
        <link rel="shortcut icon" href="{{ cdn_img }}/favicon.png" type="image/png" />
		<title>홈쇼핑모아 업데이트</title>
        <script type="text/javascript" src="{{ media }}/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
            if (typeof jQuery == 'undefined') { document.write('<script type="text/javascript" src="' + "{{ media }}/jquery-2.1.0.min.js?v="+ Math.floor(Math.random() * 999) + '"></scr' + 'ipt>'); }
            var user_id = "{{ request.META.HTTP_XID }}";
            var user_token = "{{ request.META.HTTP_TOKEN }}";
            var user_app_version = "{{ request.META.HTTP_V }}";
            var user_adid = "{{ request.META.HTTP_ADID }}";
            if( user_id == "" ){
                user_id = "{{request.session.user.id}}";
                user_token = "{{request.session.user.token}}";
            }
            if (user_id == ""){
                user_id = "{{request.GET.xid}}";
                user_token = "{{request.GET.token}}";
            }
            var locationHref = "{{ request.META.PATH_INFO }}";
            locationHref = locationHref.replace(/\//gi, "_").substr(1, locationHref.length);<!-- 현재 url path 정보 -->
            var superFrom = "{{ request.GET.from }}"; <!-- 어디로부터 왔는지에 대한 from값 정보 -->
            var abtest = get_abtest(user_id);<!-- AB테스트용 -->
            function get_abtest(_user_id){
                if (_user_id == "") return "";
                var _ascii = 0;
                var _list = ["a", "b", "c"];
                for(var i=0;i<_user_id.length;i++){
                    _ascii += _user_id.charCodeAt(i);
                }
                return _list[(_ascii % _list.length)];
            }
        </script>
        <link rel="stylesheet" href="{{ media }}/native.css?v=7">
    <body>
        <div style="text-align: center; padding: 50px 40px; line-height: 1.3em; font-size: 14px;">
            업데이트 페이지로 이동됩니다...<br/><br/><br/>
            페이지가 열리지 않으면<br/>아래 버튼을 눌러주세요.<br/><br/><br/>
            <button onclick="check_update()" style=" background: #ea1b27; color: #fff; border: 0; box-shadow: 0 1px 4px #bbb; border-radius: 3px; font-size:15px; font-weight:bold; height:44px; width: 240px; opacity: 0.8; padding-left: 18px;">
                업데이트 하러가기
                <div style="float:right; margin-right: 8px;">〉</div>
            </button>
        </div>
        <script type="text/javascript" src="{{ media }}/native.js?v=1"></script>
        <script>
            var update_google = "market://details?id=com.buzzni.android.subapp.shoppingmoa&referrer=update";
            var update_onestore = "onestore://common/product/0000350378";
            var update_samsung = "samsungapps://ProductDetail/com.buzzni.android.subapp.shoppingmoa";
            var update_naver = update_onestore;
            var update_appstore = "https://itunes.apple.com/kr/app/homsyopingmoa/id616581116?mt=8";

            $(function(){
                check_update();
            });

            function check_update(){
                if ( is_ios_app()){
                    app_update(update_appstore);
                }else if( is_android_app() ){
                    if( user_app_version.split("_").length > 1){
                        if(user_app_version.split("_")[1] == "0"){
                            app_update(update_google);
                        }else if(user_app_version.split("_")[1] == "1"){
                            app_update(update_onestore);
                        }else if(user_app_version.split("_")[1] == "2"){
                            app_update(update_samsung);
                        }else if(user_app_version.split("_")[1] == "3"){
                            app_update(update_naver);
                        }else{
                            app_update(update_google);
                        }
                    }else{
                        app_update(update_google);
                    }
                }else{
                    location.href = "https://play.google.com/store/apps/details?id=com.buzzni.android.subapp.shoppingmoa";
                }
            }

            function app_update(url) {
                ajax_get("/stat/app_update", {"from": user_app_version, "type":"recommend"}, function(){
                    location_outlink(url);
                });
            }
            function location_outlink(url) {
                var _rand = "rand" + Math.floor(Math.random() * 1000000);
                if (is_android_app() || is_ios_app()){
                    var trigger = "<a href='/out/link?url="+url+"'><input class='block-hide' id='"+_rand+"' /></a>";
                    $("body").append(trigger);
                    $("#"+_rand).trigger("click");
                } else {
                    location.href=url;
                }
            }
            //ajax get callback
            function ajax_get(url,data,callback,sync){
                var _data = $.extend({"xid":user_id}, data);
                $.ajax({
                    data:_data,
                    url:url,
                    async:sync,
                    success: callback
                });
            }

        </script>
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46031772-1', 'auto');
          ga('send', 'pageview');
          ga('set', '&uid', user_id);
        </script>
	</body>
</html>
