{% extends "native/__basic.html" %}
{% block container %}
<script type="text/javascript" src="{{ media }}/native.js"></script>
{% if request.GET.flag == 'layer' %}
<br/><br/><button class="bt-basic" onclick="native_close_layer('');">native_close_layer()</button>
<br/><br/><button class="bt-basic" onclick="native_close_layer('test');">native_close_layer('test')</button>
<br/><br/><button class="bt-basic" onclick="native_close_layer('close');">native_close_layer('close')</button>
<br/><br/><br/><br/><br/><br/>
{% endif %}
{% if request.GET.flag == 'back' %}
<br/><br/><button class="bt-basic" onclick="native_move_back('1,true');">native_move_back('1,true')</button>
<br/><br/><button class="bt-basic" onclick="native_move_back('1,false');">native_move_back('1,false')</button>
<br/><br/><br/><br/><br/><br/>
{% endif %}
{% if request.GET.flag == 'popup' %}
<br/><br/><button class="bt-basic" onclick="native_close_popup();">native_close_popup() </button>
<br/><br/><button class="bt-basic" onclick="native_close_popup('test');">native_close_popup('test') </button>
<br/><br/><button class="bt-basic" onclick="native_close_popup('close');">native_close_popup('close') </button>
<br/><br/><br/><br/><br/><br/>
{% endif %}
<div class="margin box b-white padding-9">
    <div class="font-15">세션 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="font-18">user</span>:request.session.user
            <br/>{{ request.session.user }}
            <br/>
            <br/><span class="font-18">device</span>:request.session.device
            <br/>{{ request.session.device }}
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">youtube동영상 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_youtube('wq7ftOZBy0E')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_youtube('wq7ftOZBy0E');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">native_get_adid <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_get_adid()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_adid());">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">스트리밍 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_streaming('rtsp://livem.gsshop.com/gsshop_hd/_definst_/gsshop_hd.stream','http://m.gsshop.com')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_streaming('rtsp://livem.gsshop.com:554/gsshop/_definst_/gsshop.sdp','http://m.gsshop.com');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_stop_streaming()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_stop_streaming();">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">사진다운로드 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_download_file('http://image.nsmall.com/itemimages/3/596/E14923596.jpg')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_download_file('http://image.nsmall.com/itemimages/3/596/E14923596.jpg');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">카카오톡 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            v1 - link
			<br/>v2 - app_name
			<br/>v3 - message_text
			<br/>v4 - android_installurl
			<br/>v5 - android_executeurl
			<br/>v6 - ios_installurl
			<br/>v7 - ios_executeurl
            <br/>native_send_kakao(v1,v2,v3,v4,v5,v6,v7)
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            홈쇼핑모아
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="send_kakao_hsmoa();">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">날짜선택 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_datepicker('1986','2','25')
            <br/><span class="c-lion">callback:date_picker(year,month,day)</span>
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_datepicker('1986','2','25');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">클립보드 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_clipboard('좋아');
            <br/>
            <br/><input type="text" style="width:160px;height:30px;">
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_clipboard('좋아');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">팝업 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            v1 - next_url
			<br/>v2 - navbar_title
			<br/>v3 - left_btn
			<br/>v4 - right_btn
            <br/>native_show_popup(v1,v2,v3,v4)
            <br/><span class="c-lion">next:native_close_popup(info)</span>
            <br/><span class="c-lion">callback:native_close_popup_callback(info)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            right_btn:upload
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_show_popup('/webapp?flag=popup', '버즈니', 'close', 'upload');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            right_btn:hide
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_show_popup('/webapp?flag=popup', '버즈니', 'close', 'hide');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            left_btn:photo
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_show_popup('/webapp?flag=popup', '버즈니', 'photo', 'hide');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">레이어 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            <br/>native_show_layer(url)
            <br/><span class="c-lion">next:native_close_layer(info)</span>
            <br/><span class="c-lion">callback:native_close_layer_callback(info)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_show_layer('/webapp?flag=layer')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_show_layer('/webapp?flag=layer');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">앱설치여부 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> 페이스북
            <br/>native_check_app('com.facebook.katana')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_check_app('com.facebook.katana'));">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">IOS</span> 페이스북
            <br/>native_check_app('fb://test')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_check_app('fb://test');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> 버즈니영화
            <br/>native_check_app('com.andro.moviereview')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_check_app('com.andro.moviereview'));">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">IOS</span> 버즈니영화
            <br/>native_check_app('buzznimovieguide://test')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_check_app('buzznimovieguide://test');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> 홈쇼핑모아
            <br/>native_check_app('com.buzzni.android.subapp.shoppingmoa')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_check_app('com.buzzni.android.subapp.shoppingmoa'));">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">IOS</span> 홈쇼핑모아
            <br/>native_check_app('shoppingmoa://test')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_check_app('shoppingmoa://test');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">문자보내기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_send_sms(01012345678,'좋아')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_send_sms(01012345678,'좋아');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">이메일보내기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_send_email('제목','내용')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_send_email('제목','내용');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">사진올리기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            <br/><span class="c-lion">callback:setPictureUrl(info)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            정사각
            <br/>native_upload_photo('square,320')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_upload_photo('square,320');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            일반
            <br/>native_upload_photo('normal,640')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_upload_photo('normal,640');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <img src="" id="img" style="width:160px;"/>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">지역설정 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            <br/><span class="c-lion">callback:setLocationProv2(prov,city)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_change_location()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_location();">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <span id="location" class="font-15"></span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">현재위치찾기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
            <br/><span class="c-lion">callback:refreshLocation(position)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            공개
            <br/>native_current_location()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_current_location();">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            비공개
            <br/>native_current_location_background()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_current_location_background();">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">페이지이동/뒤로가기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_move_back('1,true')-리플래시
            <br/>native_move_back('1,false')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=뒤로&flag=back');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">토스트 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_send_toast('토스트')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_send_toast('토스트');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15">앱이동하기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> native_run_app('com.facebook.katana','페이스북')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('com.facebook.katana','페이스북');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
           <span class="tag">IOS</span> native_run_app('fb','facebook','','id426335057')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('fb','facebook','','id426335057');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> native_run_app('com.buzzni.android.subapp.shoppingmoa','홈쇼핑모아','m.buzzni.com/1051900')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('com.buzzni.android.subapp.shoppingmoa','홈쇼핑모아','m.buzzni.com/1051900');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
           <span class="tag">IOS</span> native_run_app('buzznihomeshoppingmoa','홈쇼핑모아','m.buzzni.com/1051900','id616581116')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('buzznihomeshoppingmoa','홈쇼핑모아','m.buzzni.com/1051900','id616581116');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> native_run_app('com.andro.moviereview','버즈니영화','m.buzzni.com/1051900')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('com.andro.moviereview','버즈니영화','m.buzzni.com/1051900');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
           <span class="tag">IOS</span> native_run_app('buzznimovieguide','버즈니영화','m.buzzni.com/1051900','id426335057')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_run_app('buzznimovieguide','버즈니영화','m.buzzni.com/1051900','id426335057');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">앱관리 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> native_install_app('com.innoace.android.tvfood')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_install_app('com.innoace.android.tvfood');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">Android</span> native_remove_app('com.innoace.android.tvfood')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_remove_app('com.innoace.android.tvfood');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            <span class="tag">IOS</span> native_install_app('https://itunes.apple.com/ko/app/id616581116')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_install_app('https://itunes.apple.com/ko/app/id616581116');">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">user/token <span class="tag">Web</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_set_userid(info)
            <br/>native_get_userid(info)
            <br/>native_set_token(info)
            <br/>native_get_token(info)
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">최근실행한앱 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_get_recent()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_recent());">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">음성인식 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
            <br/><span class="c-lion">callback:setVoiceRecognition(info)</span>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            첫번째결과만
            native_voice_reco('take_first')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_voice_reco('take_first')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            전체결과리스트
            native_voice_reco('select')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_voice_reco('select')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">코드받기 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            디바이스코드
            <br/>native_get_device()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_device())">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            푸시코드
            <br/>native_get_push()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_push())">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            서비스코드
            <br/>native_get_service()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_service())">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">앱리스트 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_get_applist()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="alert(native_get_applist())">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">상단검색창설정 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_search_text(info)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&use_nav_search=true')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">알림음플레이 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('fanfare1')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('fanfare1')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('fanfare2')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('fanfare2')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('found_item')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('found_item')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('happy_chord')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('happy_chord')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('win1')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('win1')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('win2')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('win2')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            native_play_sound('win3')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_play_sound('win3')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">상하단바 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단바감추기
            <br/>tabbar=hide
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&tabbar=hide')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단바감추기
            <br/>nav=hide
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&nav=hide')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단검색창
            <br/>use_nav_search=true
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&use_nav_search=true')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            액션바
            <br/>tabbar=action
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&tabbar=action')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-감추기
            <br/>btn=hide
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=hide')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-홈
            <br/>btn=home
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=home')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-지도
            <br/>btn=map
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=map')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-리뷰
            <br/>btn=review
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=review')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-MY
            <br/>btn=my
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=my')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-사진
            <br/>btn=photo
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=photo')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-가이드
            <br/>btn=help
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=help')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-업로드
            <br/>btn=upload
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=upload')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-설정
            <br/>btn=setting
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=setting')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            버튼-알림
            <br/>btn=alarm
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&btn=alarm')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">콩알 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단우측-1
            <br/>native_set_upper_badge(1)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_badge(1)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단우측-99
            <br/>native_set_upper_badge(99)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_badge(99)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단우측-0
            <br/>native_set_upper_badge(0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_badge(0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(1,1)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(1,1)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(1,0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(1,0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(3,99)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(3,99)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(3,0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(3,0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(5,99)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(5,99)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            하단탭
            <br/>native_set_badge_count(5,0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_badge_count(5,0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단좌측
            <br/>native_set_upper_left_badge(1)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_left_badge(1)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단좌측
            <br/>native_set_upper_left_badge(0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_left_badge(0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단좌측
            <br/>native_set_upper_left_badge_num(1)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_left_badge_num(1)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단좌측
            <br/>native_set_upper_left_badge_num(99)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_left_badge_num(99)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            상단좌측
            <br/>native_set_upper_left_badge_num(0)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_set_upper_left_badge_num(0)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">하단바상태 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            탭-1
            <br/>native_tabbar_mode(1)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_tabbar_mode(1)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            탭-2
            <br/>native_tabbar_mode(2)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_tabbar_mode(2)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            탭-3
            <br/>native_tabbar_mode(3)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_tabbar_mode(3)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            탭-4
            <br/>native_tabbar_mode(4)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_tabbar_mode(4)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            탭-5
            <br/>native_tabbar_mode(5)
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_tabbar_mode(5)">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">언어변경 <span class="tag">Android</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            한국어
            <br/>native_change_language('ko')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_language('ko')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            영어
            <br/>native_change_language('en')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_language('en')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            중국어
            <br/>native_change_language('zh')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_language('zh')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            일본어
            <br/>native_change_language('ja')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_language('ja')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            스페인어
            <br/>native_change_language('es')
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="native_change_language('es')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
<div class="margin box b-white padding-9">
    <div class="font-15 ">페이지이동 <span class="tag">Android</span> <span class="tag">IOS</span></div>
    <div class="clear-9"></div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            현재페이지
            <br/>location_replace()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_replace('/webapp?title=webapp&flag=back')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            새페이지
            <br/>location_href()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_href('/webapp?title=webapp&flag=back')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
    <div class="display-table">
        <div class="table-cell word-break">
            외부페이지
            <br/>location_outlink()
        </div>
        <div class="table-cell align-right" style="width:80px;">
            <button class="bt-cyan" onclick="location_outlink('http://m.buzzni.com')">실행</button>
        </div>
    </div>
    <div class="clear-9 border-bottom"></div>
    <div class="clear-9"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
function list_scroll() {
    list_end();
}
$(function() {
	native_search_text("날씨좋아");
	native_show_top();
});
function send_kakao_hsmoa() {
    native_send_kakao(
        "http://hsmoa.com/mobile",
        "홈쇼핑모아",
        "좋아",
        "market://details?id=com.buzzni.android.subapp.shoppingmoa",
        "shoppingmoa://com.buzzni.android.subapp.shoppingmoa?next_url=http://hsmoa.com/item?entity_id=7182482&title=한글&tabbar=hide",
        "https://itunes.apple.com/ko/app/id616581116",
        "buzznihomeshoppingmoa://hsmoa.com/item?entity_id=7182482"
    );
}
/**
* 콜백
*/
function date_picker(year,month,day){
	if (month<10) month = '0'+month;
	if (day<10) day = '0'+day;
	birth = year+'-'+month+'-'+day;
	age = 2014-year;
	native_send_toast(birth+"/"+age+"세");
}
function native_close_popup_callback(info){
    if (info){
        native_send_toast(info);
    }
}
function native_close_layer_callback(info){
    if (info){
        native_send_toast(info);
    }
}
/**
* 사진받기콜백
*/
function setPictureUrl(url) {
	_url = url.split(",");
	img = _url[0];
	img_width = _url[1];
	img_height = _url[2];
	_img = img.split("");
	img_url = "http://img.buzzni.com/"+_img[0]+"/"+_img[1]+"/"+_img[2]+"/"+img;
	$("#img").attr("src",img_url);
}
/**
* 지역설정 콜백
*/
function setLocationProv2(prov,city) {
	$("#location").text(prov+"/"+city);
}
/**
* 현재위치 콜백
*/
function refreshLocation(position) {
	_position = position.split(",");
	lat = _position[0];
	lng = _position[1];
	native_send_toast(lat+"/"+lng);
}
/**
* 실행중인 프로세스 확인 ios
*/
function get_recent_callback(info) {
	alert("get_running_process_callback:" + info);
}
/**
* 음성콜백
*/
function setVoiceRecognition(info){
	alert(info);
}
/**
* 버튼클릭
*/
function view_search() {
    alert("view_search() is called");
}
function review_add() {
	alert('review_add() is called');
}
function vote_add() {
	alert('vote_add() is called');
}
function share_add() {
	alert('share_add() is called');
}
function photo_add() {
	alert('photo_add() is called');
}
function write_add() {
	alert('write_add() is called');
}
function upload() {
	alert('upload() is called');
}
function move_top() {
	alert('move_top() is called');
}
function view_help() {
	alert('view_help() is called');
}
function view_link() {
	alert('view_link() is called');
}
function view_map() {
	alert('view_map() is called');
}
function view_setting() {
	alert('view_setting() is called');
}
function view_alarm() {
	alert('view_alarm() is called');
}
function view_download() {
	alert('view_download() is called');
}
function view_friend() {
	alert('view_friend() is called');
}
</script>
{% endblock %}