{% load filters %}
<style>
    .recentGuide#recentQueryTitle {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
    }
    .eg-flick-container {
        padding-top: 170px;
        padding-bottom: 8px;
    }
    .list-query {
        display: table;
        width: 100%; 
        table-layout: fixed;
    }
    .query-name {
        display: table-cell; 
        vertical-align: middle; 
        padding: 11px 20px;
        font-size: 14px; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666666;
    }
    .query-date {
        display: table-cell; 
        vertical-align: middle; 
        width: 80px;
        font-size: 13px;
        box-sizing: border-box;
        text-align: right;
        padding-right: 42px;
        padding-top: 2px;
    }
    .query-remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat;
        background-size: 16px 16px;
    }
    .flick .flick-dots {
        margin: 0px;
    }
    .flick .flick-dots .flick-dot span {
        width: 7px;
        height: 7px;
        margin: 5px 5px;
    }
</style>
{% if result.keyword %}
<!-- 최근 검색어 -->
<div class="containerRecent">
    <div class="blockRecent" id="query">
        {% if result.keyword|length > 0 %}
        <div class="blockRecentTop">
            <div class="recentGuide" id="recentQueryTitle">
                최근 검색어
            </div>
            <div class="recentRemoveAll">
                <a href="javascript:remove_all_keyword();">
                    <span class="removeAllWord">전체삭제</span>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="blockRecentContents flick" id="recentQuery">
            <div class="flick-box">
            {% for re in result.keyword %}
                {% if forloop.counter < 30 %}
                <div id="list_{{ re.id }}" class="list-recent-query" style="position: relative;">
                    <div class="list-query link-service"
                            url-path="search/result"
                            data-query="{{re.name}}"
                            data-from="recent"
                            data-rank="{{forloop.counter}}" >
                        <div class="query-name">
                            {{re.name}}
                        </div>
                        <div class="query-date c-gray-2">
                            {{re.update_date|get_string|slice:"4:6" }}.{{re.update_date|get_string|slice:"6:8" }}
                        </div>
                    </div>
                    <div class="query-remove" data-id="{{ re.id }}" >
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:5 and not forloop.last %}
                </div>
                <div class="flick-box">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
$(function() {
    // egjs 내장 함수 사용을 위해 hsmoa.Flicking.js 복사
    var flick;
    if ($(".list-recent-query").length > 5){

        flick = $.Flicking("#recentQuery", {
            circular: false,
            dots: true
        })
        flick.on({
            beforeFlickStart: function(event) {
                var originalLength = this.getAllElements().length;
                var currentLength = $(".flick-box").length;
                // 박스가 제거 되었고, 현재 마지막 페이지일 경우 더이상 화면 넘김이 되지 않도록 함
                if (originalLength > currentLength && this.getIndex() + 1 == currentLength && event.direction == 2){
                    event.stop();
                    this.restore();
                }
            }
        });
    }

    // 최근 검색어 재정렬
    function realignment_query(recent_query_element){
        var _flick_box = recent_query_element.parent();
        var _flick_box_next = _flick_box.next();

        while (_flick_box_next.length != 0){
            _flick_box_next.children().first().appendTo(_flick_box);
            // 한 개씩 당긴 후 남는게 없으면 flick box 삭제
            _flick_box = _flick_box.next();
            _flick_box_next = _flick_box_next.next();
        }

        // 마지막 페이지일 경우
        if (flick.getIndex() + 1 == $(".flick-box").length){
            if (_flick_box.children().length == 1){
                remove_last_page(_flick_box)
                flick.moveTo($(".flick-box").length-1)
            }
        } else {
            // 그 외 페이지일 경우
            if (_flick_box.children().length == 0){
                remove_last_page(_flick_box)
            }
        }

        function remove_last_page(_flick_box){
            // 현재 페이지가 마지막 페이지일 경우 앞 페이지로 이동
            _flick_box.remove();
            // dot 제거
            $(".flick-dots .flick-dot").last().remove();
            $flick_dots = $(".flick-dots .flick-dot");
            if ($flick_dots.length == 1) {
                $flick_dots.remove();
            }
        }
    }

    // 최근 검색어 개별 삭제
    $.Fastclick(".query-remove", function(){
        var _actionId = $(this).data('id');
        var _parent = $(this).parent();
        var _keywordInfo = $(this).siblings(".list-query");

        sendApi("keyword/remove", { keyword_id:_actionId, service:"tvshop"}, function (re) {
            if (re.success) {
                _parent.fadeTo(150,0, function() {
                    $(this).hide();
                    if (flick){
                        realignment_query($(this));
                    }
                    $(this).remove();

                    sendStat("search/query/history/delete", {
                        query: _keywordInfo.data("query"),
                        rank: _keywordInfo.data("rank")
                    });
                    // 개별 삭제 후 element 수 체크, 0개 일 때는 추천 검색어 호출
                    if ($(".list-recent-query").length == 0){
                        $(".blockRecent#query").remove();
                        load_reco_query();
                    }
                });
            } else {
                native_send_toast(re.msg);
            }
        });
    });
});




// 최근 검색어 전체 삭제
function remove_all_keyword(){
    var comment = "최근 검색어를";
    var isConfirm = confirm(comment + "\n모두 삭제하시겠습니까?");
    if(isConfirm) {
        sendApi("keyword/remove", {is_all: true, service: "tvshop"}, function (re) {
            if (re.success == true) {
                sendStat("search/query/history/deleteAll");

                // 최근 검색어 전체 삭제 후 추천 검색어 호출
                $(".blockRecent#query").fadeTo(300, 0).remove();
                load_reco_query();
            }
        });
    }
}
</script>
