{% load filters %}
<style>
    .list-query {
        display: table;
        width: 100%; 
        table-layout: fixed;
    }
    .query-name {
        display: table-cell; 
        vertical-align: middle; 
        padding: 13px 20px;
        font-size: 14px; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .query-date {
        display: table-cell; 
        vertical-align: middle; 
        width: 80px;
        font-size: 13px;
        box-sizing: border-box;
        text-align: right;
        padding-right: 42px;
        padding-top: 2px;
    }
    .query-remove {
        position:absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: url('{{ media }}/hsmoa/button/close_gray.png') 50% 50% no-repeat;
        background-size: 16px 16px;
    }
</style>
{% if result.keyword %}
<!-- 최근 검색어 -->
<div id="containerRecent">
    <div id="blockRecent">
        {% if result.keyword|length > 0 %}
        <div id="blockRecentTop">
            <div id="recentGuide">
                최근 30일간의 검색어가 기록됩니다
            </div>
            <div id="recentRemoveAll">
                <a href="javascript:remove_all_keyword();">
                    <span id="removeAllWord">전체삭제</span>
                </a>
            </div>
        </div>
        {% endif %}
        <div id="blockRecentContents">
        {% for re in result.keyword %}
            {% if forloop.counter < 30 %}
            <div id="list_{{ re.id }}" class="list-recent-query" style="position: relative;">
                <div class="list-query link-service"
                        url-path="search/result"
                        data-query="{{re.name}}"
                        data-from="recent"
                        data-rank="{{forloop.counter}}" >
                    <div class="query-name">
                        {{re.name}}
                    </div>
                    <div class="query-date c-gray-2">
                        {{re.update_date|get_string|slice:"4:6" }}.{{re.update_date|get_string|slice:"6:8" }}
                    </div>
                </div>
                <div class="query-remove" data-id="{{ re.id }}" >
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<script>
// 최근 검색어 개별 삭제
$.Fastclick(".query-remove", function(){
    var _actionId = $(this).data('id');
    var _parent = $(this).parent();
    var _keywordInfo = $(this).siblings(".list-query");
    
    sendApi("keyword/remove", { keyword_id: _actionId, service:"tvshop"}, function (re) {
        if (re.success) {
            _parent.fadeTo(150,0).slideUp(150, function() {
                $(this).remove();
                sendStat("search/query/history/delete", {
                    query: _keywordInfo.data("query"),
                    rank: _keywordInfo.data("rank")
                })
                // 개별 삭제 후 element 수 체크, 0개 일 때는 추천 검색어 호출
                if ($("#blockRecentContents").children().length == 0){
                    $("#blockRecent").remove();
                    load_reco_query();
                }
            });
        } else {
            native_send_toast(re.msg);
        }
    });
});

// 최근 검색어 전체 삭제
function remove_all_keyword(){
    var comment = "최근 검색어를";
    var isConfirm = confirm(comment + "\n모두 삭제하시겠습니까?");
    if(isConfirm) {
        sendApi("keyword/remove", {is_all: true, service: "tvshop"}, function (re) {
            if (re.success == true) {
                sendStat("search/query/history/deleteAll");
                // 최근 검색어 전체 삭제 후 추천 검색어 호출
                $("#blockRecent").remove();
                load_reco_query();
            }
        });
    }
}
</script>
