{% load filters %}
<style>
    #containerTopQuery {
        margin-top: 10px;
    }
    .list-top-query {
        display: table;
        width: 100%; 
        table-layout: fixed;
        height: 40px;
        margin-top: 8px;
    }
    .list-top-query .rank-num {
        display: table-cell;
        vertical-align: middle; 
        padding-left: 16px;
        padding-right: 10px;
        font-size: 18px;
        color: #eb3e3e;
        font-weight: bold;
        width: 20px;
    }
    .list-top-query .query-top {
        display: table-cell;
        vertical-align: middle;
        color: #263238;
        font-size: 15px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    }

    .list-top-query:last-child .query-top {
        border-bottom: none;
        padding-bottom: 4px;
    }    
    .list-top-query:after {
        display: table-cell;
        width: 16px;
        content: ""
    }
</style>
{% if result.data %}
<!-- 인기 검색어 -->
<div id="containerTopQuery">
    <div id="blockTopQuery">
        {% for query in result.data %}
            {% if forloop.counter < 11 %}
            <div id="topQuery_{{ forloop.counter }}" class="list-top-query">
                <div class="rank-num"> {{ forloop.counter }} </div>
                <div class="query-top link-service"
                    url-path="search/result"
                    data-query="{{ query }}"
                    data-from="top-query"
                    data-rank="{{ forloop.counter }}">
                    {{ query }}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}