{% extends "hsmoa/__base.html" %}
{% block title %}검색결과{% endblock %}
{% block container %}
<div id="no_result_adult" class="align-center" style="margin-top:15px; color:#999999; background: #f5f6f8; padding: 30px 0px; display: block; ">
    <img src="/media/hsmoa/icon/notice.png" style="height: 54px; margin-bottom: 15px;">
    <div style="font-size: 15px;"> <span style="color:#000000; font-size: 15px;line-height: 1.5em;">"{{ request.GET.query }}"</span> 검색결과가 없습니다.</div>
    <div style="font-size: 15px;">검색어나 조건을 바꿔 다시 시도해보세요.</div>
</div>
{% endblock %}