{% load filters %}

{#  상단 검색 배너(모아위크, 모아리뷰)  #}
<div id="search_banner">
    {% if moaweek_search_banner %}
        <div class="align-center link-service" url-path="event/moaweek" data-from="search" style="margin-top:10px;background:#{{ moaweek_search_banner.bgcolor|default:'eb5557' }};">
            <img src='{{ moaweek_search_banner.img }}?v={{ moaweek_search_banner.start_date }}' style="width:86%; margin:3px auto; "/>
        </div>
    {% elif 'contents_id' in result and result.contents_id != 0 %}
        {% if result.contents_id in moareview_list %}
            <div class="align-center link-service" url-path="trends/info"
                 data-abtest="{{ request.GET.abtest }}"
                 data-from="search"
                 data-board_id="{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'board_id'|default:result.contents_id }}"
                 style="margin-top:10px;">
                <div class="moareview-banner">
                    <div class="wrapper-thumb">
                        <div class="thumb" style="background-image:url('{{ thum }}/140x90/center/smart/{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'img_url' }}')"></div>
                    </div>
                    <div class="wrapper-title">
                        <div class="main-title">{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'main_title' }}</div>
                        <div class="sub-title">{{ moareview_list|get_dict_value:result.contents_id|get_dict_value:'sub_title' }}</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{#  테스트 종료시 별도의 파일로 CSS 분리  #}
<style>
    .moareview-banner {background-color:#ffffff;text-align:left;white-space:nowrap;}
    .moareview-banner .wrapper-thumb {display:inline-block;vertical-align:middle;margin:1.5%;position:relative;width:18%;padding-top:11.5%;}
    .moareview-banner .wrapper-thumb .thumb {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-size:cover;
        background-position:center;
    }
    .moareview-banner .wrapper-title {display:inline-block;vertical-align:middle;padding-left:1.5%;text-align:left;line-height:1.3rem;padding-top:5px;}
    .moareview-banner .wrapper-title .main-title{font-weight:bold;}
    .moareview-banner .wrapper-title .sub-title {font-size:0.8em;color:#8e8e8e;}

    @media screen and (max-width: 350px) {
        .moareview-banner {font-size:0.8em;}
    }
</style>