<style>
    #quality_cs_set {margin-bottom: 10px;}
    #quality_cs_set #quality_cs_select { margin: 30px 0px 20px 0px; }
    #quality_cs_set .cs-btn {width: 72px; height: 72px; object-fit: contain;}
    #quality_cs_set .cs-btn:first-child {margin-right: 60px}

    #quality_cs_set #quality_cs {background: #fff; padding: 22px 20px 20px 20px; overflow: hidden;}
    #quality_cs_set .quality_cs_guide {position:relative;font-weight:bolder; font-size:15px; -moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out; margin-bottom: 16px}
    #quality_cs_set #quality_cs_guide_after{text-align:center; font-size:12px; color: #666;}
    
    #quality_cs_set #accordion ,#accordion ul {list-style-type: none;}
    #quality_cs_set #accordion { background: #fff;}
    #quality_cs_set #accordion .link { cursor: pointer; border-top:1px solid #eeeeee; display: block; padding: 15px 0px; font-size: 15px; position: relative;-webkit-transition: all 0.2s ease;	-o-transition: all 0.2s ease;transition: all 0.2s ease;}
    #quality_cs_set #accordion li.open .link{font-weight: bold;}
    
    #quality_cs_set #accordion .spread-arrow {position: absolute;top: 0;right: 0;width: 46px;height: 100%;background: url({{ media }}/hsmoa/icon/arrow_down.png) 62% 50% no-repeat;background-size: 22px 22px;}
    #quality_cs_set #accordion li.open .spread-arrow {position: absolute;top: 0;right: 0;width: 46px;height: 100%;background: url(http://cache.m.ui.hsmoa.com/media/hsmoa/icon/arrow_up.png) 62% 50% no-repeat;background-size: 22px 22px;}

    #quality_cs_set .submenu {display: none;background: #fff;font-size: 15px;}
    #quality_cs_set .submenu li {position: relative; padding: 11px 0px;}
    #quality_cs_set .submenu li .submenu-radio {position: absolute; top:0; left:0; width:17px; height: 37px; background: url({{ media }}/hsmoa/button/radio-off.png) 50% 50% no-repeat; background-size: 17px 17px;}
    #quality_cs_set .submenu li.open .submenu-radio {position: absolute; top:0; left:0; width:17px; height: 37px; background: url({{ media }}/hsmoa/button/radio-on.png) 50% 50% no-repeat; background-size: 17px 17px;}
    #quality_cs_set .submenu li span {display: block;cursor:pointer; text-decoration: none;color: black; padding-left: 25px;}
    #quality_cs_set .submenu .send-cs-button-block {height:44px; margin-top:3px; margin-bottom:10px}
    #quality_cs_set .submenu .send-cs-button-block .send-cs-button {width:100%; font-size:18px; color: #989998; background: #EDEEED;height:44px; line-height:44px; border-radius: 2px;}
    #quality_cs_set .submenu .send-cs-button-block .send-cs-button.checked {width:100%; font-size:18px; color: white; background: #19bdc4;height:44px; line-height:44px; border-radius: 2px;}
    #quality_cs_set #survey_text {border-radius:2px; border:1px solid #bbb; -webkit-appearance:none; width: 100%; box-sizing: border-box; padding:6px; line-height: 17px; height:70px;}

    #quality_cs_set #quality_cs_end { background: #fff; padding: 22px 20px 20px 20px; overflow: hidden;}
    #quality_cs_set #quality_cs_end #quality_cs_close {position: absolute;top: 0;right: 0;width: 15px;height: 15px;background: url({{ media }}/hsmoa/button/close_gray.png) 50% 50% no-repeat;background-size: 22px 22px}
    #quality_cs_set #quality_cs_end #quality_cs_quick {position:absolute; top:0; right:0; font-size:13px; border-bottom: solid 0.5px #f25862; color: #eb3e3e}
</style>

<div id="quality_cs_set" class="block-hide">
    <div id="quality_cs">
        <div class="quality_cs_guide">단 7초! <span style="font-weight: normal">검색 서비스 설문조사</span></div>
        <div id="quality_cs_select" style="text-align:center">
            <img id="cs_good_btn" class="cs-btn" src="{{ media }}/hsmoa/button/search-cs-o.png" />
            <img id="cs_bad_btn" class="cs-btn" src="{{ media }}/hsmoa/button/search-cs-x.png" />
        </div>
        <div id="quality_cs_guide_after" style="margin-top:22px">소중한 의견이 서비스를 발전시킵니다</div>
        <ul id="accordion" class="block-hide">
            <li>
                <div class="link" data-type="not_related">관련 없는 상품이 나와요
                    <div class="spread-arrow"></div>
                </div>
                <ul class="submenu">
                    <li><div class="submenu-radio"></div><span data-order="1">성인 상품</span></li>
                    <li><div class="submenu-radio"></div><span data-order="2">혐오 상품</span></li>
                    <li><div class="submenu-radio"></div><span data-order="3">중고 상품</span></li>
                    <li><div class="submenu-radio"></div><span data-order="4" data-hastext="true">검색어와 관련 없는 상품</span></li>
                    <div class="send-cs-button-block"><button class="send-cs-button bt-red strong">의견 보내기</button></div>
                </ul>
            </li>
            <li>
                <div class="link" data-type="sold_out">원하는 상품이 품절이에요<div class="spread-arrow"></div></div>
                <ul class="submenu">
                    <li><div class="submenu-radio"></div><span data-order="1">상품 품절</span></li>
                    <li><div class="submenu-radio"></div><span data-order="2">품절 외의 구매 불가 상태</span></li>
                    <div class="send-cs-button-block"><button class="send-cs-button bt-red strong pull-right">의견 보내기</button></div>
                </ul>
            </li>
            <li>
                <div class="link" data-type="filter">원하는 상품만 모아서 보고 싶어요<div class="spread-arrow"></div></div>
                <ul class="submenu">
                    <li><div class="submenu-radio"></div><span data-order="1">가격대</span></li>
                    <li><div class="submenu-radio"></div><span data-order="2">카테고리</span></li>
                    <li><div class="submenu-radio"></div><span data-order="3">브랜드</span></li>
                    <li><div class="submenu-radio"></div><span data-order="4">쇼핑사</span></li>
                    <li><div class="submenu-radio"></div><span data-order="5" data-hastext="true">기타</span></li>
                    <div class="send-cs-button-block"><button class="send-cs-button bt-red strong pull-right">의견 보내기</button></div>
                </ul>
            </li>
            <li>
                <div class="link" data-type="order">원하는 순서대로 정렬해서 보고 싶어요<div class="spread-arrow"></div></div>
                <ul class="submenu">
                    <li><div class="submenu-radio"></div><span data-order="1">가격순</span></li>
                    <li><div class="submenu-radio"></div><span data-order="2">인기순</span></li>
                    <li><div class="submenu-radio"></div><span data-order="3">판매량순</span></li>
                    <li><div class="submenu-radio"></div><span data-order="4">최근 등록순</span></li>
                    <li><div class="submenu-radio"></div><span data-order="5" data-hastext="true">기타</span></li>
                    <div class="send-cs-button-block"><button class="send-cs-button bt-red strong pull-right">의견 보내기</button></div>
                </ul>
            </li>
            <li>
                <div class="link" data-type="etc">기타 건의<div class="spread-arrow"></div></div>
                <ul class="submenu">
                    <div data-type="etc" class="cs_specific disblock textfield">
                        <div class="cs_text" style="margin-bottom: 10px">
                            <textarea id="survey_text" autocomplete="off" spellcheck="false" class="font-15" maxlength="100" placeholder="의견을 자유롭게 말해주세요."></textarea>
                        </div>
                        <div class="send-cs-button-block"><button onclick="send_cs_quality('etc');" class="send-cs-button bt-red strong pull-right checked">의견 보내기</button></div>
                    </div>
                </ul>
            </li>
        </ul>
        <div class="cs_specific cs_specific-template textfield block-hide">
            <div class="cs_text">
                <textarea id="survey_text" autocomplete="off" spellcheck="false" class="font-15"  maxlength="100" placeholder=""></textarea>
            </div>
        </div>            
    </div>
    <div id="quality_cs_end" class="block-hide">
        <div class="quality_cs_guide">의견에 감사드립니다!
            <div id="quality_cs_close"></div>
        </div>
        <div style="height: 32px; border-top:1px solid #eeeeee;padding-top:17px">
            <div style="position:relative; font-size: 13px;color: #666666;">TIP. 검색결과 상단 옵션바를 이용하세요!
                <div id="quality_cs_quick">바로가기</div>
            </div>
        </div>
        <img style="display: block;width: 100%; max-width: 400px; margin:0px auto;" src="{{ media }}/hsmoa/img/search_cs_filter_guide.png" />
        </div>
    </div>
</div>

<script>
//SEARCH CS init function
function show_cs_quality(){
    $quality_cs_set = $("#quality_cs_set");
    $quality_cs_set.appendTo("#scroller").show();
    $window_width = $(window).width();
    if($window_width<540){
        $quality_cs_set.after($("<div></div>"));
    }else if($window_width<720){        
        $quality_cs_set.after($("<div></div><div></div>"));
    }else if($window_width>=720){       
        $quality_cs_set.after($("<div></div><div></div><div></div>"));
    }
    Search.cs_asked = true;
    cs_quality();
}

//SEARCH CS action function
function cs_quality(){
    var cs_example = {
        "not_related": "어떤 관련 없는 상품이 나왔나요?",
        "filter": "의견을 자유롭게 말해주세요.",
        "order": "의견을 자유롭게 말해주세요."
    };
    // 마음에 들어요 버튼 클릭 시,
    $("#cs_good_btn").click(function(){
        sendStat("search/quality", {"from": "good", "query": Search.query, "flag": "만족해요"}, function (re) {});
        native_send_toast('소중한 의견 감사드립니다.\n더 좋은 서비스로 보답하겠습니다.');
        $("#quality_cs_set").fadeOut(400);
    });
    // 마음에 안들어요 버튼 클릭 시,
    $("#cs_bad_btn").click(function(){
        sendStat("search/quality", {"from": "bad", "query": Search.query, "flag": "아쉬워요"}, function (re) {});        
        //cs 목록 출력
        $(".quality_cs_guide").first().text("무엇이 불편하신가요?");
        $("#quality_cs_guide_after").hide();
        $("#quality_cs_select").hide();
        $("#accordion").fadeIn(300);

        // cs 목록 클릭 시
        $("#accordion").find('.link').click(function() {
            cs_cate1 = $(this).data('type');
            var $submenu = $(this).next(); //submenu
            var $li = $(this).parent(); //li

            $li.toggleClass("open");
            $submenu.slideToggle();
            $("#accordion").find('.submenu').not($submenu).slideUp().parent().removeClass('open');
        });

        //2단계 클릭
        $('.submenu').find('li').click(function() {
            var $submenu = $(this).parent();
            var $send_button = $submenu.find(".send-cs-button");
            var $span = $(this).find('span');
            // 텍스트 입력창 유무 체크
            var $hasTextInput = $span.data('hastext');

            if ($hasTextInput == true){
                if (!$submenu.hasClass("textFieldpened")){
                    var $cs_specific = $('.cs_specific-template');
                    //텍스트 입력창 예시 채워넣기
                    $cs_specific.find('#survey_text').attr("placeholder", cs_example[cs_cate1]);
                    $cs_specific.clone().removeClass('cs_specific-template').attr('data-type', cs_cate1).insertAfter($(this)).fadeIn("fast");
                    $submenu.addClass("textFieldpened");
                }                
            } else {
                //기존 텍스트 입력창이 있으면 닫기
                $submenu.find('.cs_specific').fadeOut("fast").remove();
                $submenu.removeClass("textFieldpened")
            }
            //의견 보내기 버튼 활성화
            $send_button.addClass("checked");
            $send_button.attr("onclick","send_cs_quality('"+cs_cate1+"')");
            $submenu.find('li').removeClass('open');
            $(this).addClass('open');
        });
    });   
}

//SEARCH CS send function
function send_cs_quality(type){
    var $one_step = $('.link[data-type="'+type+'"]');
    var $li = $one_step.parent();
    var cs_cate1 = type;
    var cs_cate1_txt = $one_step.text().trim();
    if (cs_cate1 == 'etc'){
        cs_cate2 = "";
        cs_cate2_txt = "";
    } else {
        var $two_step_span = $li.find('li.open').find('span');
        var cs_cate2 = $two_step_span.data('order')
        var cs_cate2_txt = "|"+$two_step_span.text();
    }

    var detail_text = $li.find('#survey_text').val();
    if (detail_text){
        detail_text = "|"+detail_text
    } else {
        detail_text = ""
    }
    
    if (type == 'etc'){
        if (detail_text == ''){
            alert("의견을 입력해주세요");
            return;
        }
    }
    $quality_cs_end = $("#quality_cs_end");
    $("#quality_cs").hide();
    $quality_cs_end.show();
    var survey_text = cs_cate1_txt+cs_cate2_txt+detail_text;
    sendStat("search/quality", {"from": cs_cate1+cs_cate2, "query": Search.query, "flag": survey_text}, function (re) {});
    $('html, body').animate({
        scrollTop: ($quality_cs_end.offset().top-10)
    }, 1000);

    // 바로가기 버튼 클릭 시, 이동
    $("#quality_cs_quick").click(function(){
        $('html, body').animate({
            scrollTop: ($('#block_meta').first().offset().top)
        }, 1000);
    });
    $("#quality_cs_close").click(function(){
        $("#quality_cs_set").fadeOut(500);
    });
}
</script>