{% load filters %}

<!-- 기획전 띠배너 -->
<div id="search_banner_event" class="block-hide">
    {% if datetime <= "201811302359" %}
        {% if request.GET.query|urldecode|in_list:"여성가방,가방,안마의자,커텐,커튼,거실커튼,암막커튼,매트,후라이팬,냄비세트,냄비,그릇세트,거실암막커튼" %}
            <div class="align-center link-service" url-path="event/promotion" data-id="586" data-from="search_banner" data-query="{{ request.GET.query|urldecode }}" style="margin-bottom:13px;background:#6526b5;">
                <img src='{{ thum }}/smart/https://i.imgur.com/Lch8Y0J.png' style="width:86%; margin:0px auto; "/>
            </div>
        {% elif request.GET.query|urldecode|in_list_substring:"패딩,구스다운,벤치코트" %}
            <div class="align-center link-service" url-path="event/promotion" data-id="582" data-from="search_banner" data-query="{{ request.GET.query|urldecode }}" style="margin-bottom:13px;background:#1f67d4;">
                <img src='{{ thum }}/smart/https://i.imgur.com/ZzpDhpC.png' style="width:86%; margin:0px auto; "/>
            </div>
        {% elif request.GET.query|urldecode|in_list_substring:"코트,지오송지오,모르간,셀렉샵" %}
            <div class="align-center link-service" url-path="event/promotion" data-id="583" data-from="search_banner" data-query="{{ request.GET.query|urldecode }}" style="margin-bottom:13px;background:#552924;">
                <img src='{{ thum }}/smart/https://i.imgur.com/NmC8sCp.png' style="width:86%; margin:0px auto; "/>
            </div>
        {% elif request.GET.query|urldecode|in_list:"김치,홍진경더김치,종가집포기김치,김장매트" %}
            <div class="align-center link-service" url-path="event/promotion" data-id="587" data-from="search_banner" data-query="{{ request.GET.query|urldecode }}" style="margin-bottom:13px;background:#b8070b;">
                <img src='{{ thum }}/smart/https://i.imgur.com/dszbEFb.png' style="width:86%; margin:0px auto; "/>
            </div>
        {% endif %}
    {% endif %}
</div>