{% extends "hsmoa/__base.html" %}
{% block css %}
    <style>
    .bt-recoquery {margin: 0 auto; font-size:17px; color:#444; background: #fff; border-radius: 30px; height:44px; line-height: 44px; padding: 0 25px 0 27px; border: 1px solid #ccc;}
    .bt-recoquery span {font-weight: bold; font-size:16px; color:#000;}
    </style>
{% endblock %}
{% block container %}
<div id="topQueryBlock">
    <!-- 인기 검색어 영역 -->    
</div>
<div id="recentQueryBlock">
    <!-- 최근 검색어 영역 -->    
</div>
<div id="recoquery" class="align-center block-hide b-white" style="padding: 35px 0;">
    <div class="c-gray-3" style="font-size:14px; padding-bottom: 10px;">최근 검색어가 없습니다</div>
    <!-- 최근 검색어가 없을 시, 추천 검색어 노출 영역 -->
</div>
<div id="visitblock" class="block-hide ">
    <!-- 최근 본 검색 상품 영역 -->
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

var reco_query = "";
$(function() {
    load_topquery();
});

// 상단 인기 검색어, 최근 검색어 호출
function load_topquery(){
    sendApi("rpc/search/place_holder/getPopularQueryList", {skin:"hsmoa/skin/_search_top_query_list"}, function(re){
        $("#topQueryBlock").append(re);

        // 상단 인기 검색어 호출 후에 최근 검색어 호출
        load_recentquery();
    });
}

// 최근 검색어 호출
function load_recentquery(){
    sendApi("rpc/query_log/getTopQueryWithUserKeyword", {skin:"hsmoa/skin/_search_recent_query_list"}, function(re){
        $("#recentQueryBlock").append(re);

        //최근 검색어가 없을 경우, 추천 검색어 호출
        if ($(".recent-query").length == 0){
            load_recoquery()
        }

        // 최근 검색어 호출 후 최근 본 검색상품 호출
        load_visit();
    });
}

// 추천 검색어 호출
function load_recoquery(){
    sendApi("reco/recoQuery", {}, function (re) {
        if(re.success){
            reco_query = re.result.query;
            $recoquery = $("#recoquery");
            $recoquery.append("<button class='bt-recoquery link-service' url-path='search/result' data-query='"+reco_query+"'"+" data-from='search_recoquery,"+re.result.source+"'><span>\""+reco_query+"\"</span> 상품보기 〉</button>");
            $recoquery.show();
        }
    });
}

// 하단 최근 본 검색상품 호출
function load_visit(){
    sendApi("rpc/user_search_click/getList", {skin:"hsmoa/skin/_search_visititem", page:1, num:10, flag: Math.ceil($(window).width()/116)}, function (re) {
        if(re.length>800){
            $("#visitblock").append(re).show();
        }else{
        }
    });
}

// 최근 검색어 개별 삭제
$.Fastclick(".query-remove", function(){
    var _action_id = $(this).data('id');
    sendApi("keyword/remove", { keyword_id:_action_id, service:"tvshop"}, function (re) {
        if (re.success) {
            $("#list_"+_action_id).fadeTo(150,0).slideUp(150, function() {
                $(this.remove());
                // 개별 삭제 후 element 수 체크, 0개 일 때는 추천 검색어 호출
                if ($("#block_recent_inner").children().length == 0){
                    $("#block_recent").remove();
                    load_recoquery();
                }
            });
        } else {
            native_send_toast(re.msg);
        }
    });
});

// 최근 검색어 전체 삭제
function remove_all(action){
    var comment = {
        keyword:"최근 검색어를",
        alarm:"검색어 알람을",
        alarm_action:"생방송 알람을",
        visit:"조회한 상품을",
        like: "찜한 상품을"
    };

    var is_confirm = confirm(comment[action] + "\n모두 삭제하시겠습니까?");
    if(is_confirm) {
        sendApi(action+"/remove", {is_all: true, service: "tvshop"}, function (re) {
            if (re.success == true) {
                // 최근 검색어 전체 삭제 후 추천 검색어 호출
                $("#block_recent").remove();
                load_recoquery();
            }
        });
    }
}

</script>
{% endblock %}
