{% extends "hsmoa/__base.html" %}
{% block css %}
    <style>   
        body {
            background: #fff;
        }
        #searchTopContainer {
            padding-bottom: 8px;
        }    
        #searchGap {
            height: 8px;
            clear: both;
            background: #E9EDEF;
            display: none;
        }
        .search-tab-menu {
            display: table;
            width: 100%;
            z-index: 999;
        }
        .tab-menu {
            display: table-cell;
            width: 33%;
            text-align: center;
            background-color: #f7f7f7;
            padding: 13px 0px; 
            color: #333333;
        }
        .tab-menu-text {
            font-size: 15px;
            letter-spacing: 0;
        }
        .tab-menu.on {
            color: #d91414;
            background-color: #ffffff;
            font-weight: bold;
        }
        #tabMenu2 {
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12);
        }
        .bt-recoquery {
            margin: 0 auto;
            font-size: 15px;
            color: #444;
            background: #fff;
            border-radius: 25px;
            padding: 8px 15px;
            border: 1px solid #ccc;
            letter-spacing: 0;
        }
        .bt-recoquery span {
            font-weight: bold;
        }

        .blockRecent {
            background: #ffffff;
        }
        .blockRecentTop {
            display: table;
            width: 100%;
            background: #fff;
            z-index: 995;
        }

        .recentGuide {
            display: table-cell;
            vertical-align: middle;
            padding: 17px 0px 12px 20px;
            font-size: 13px;
            color: #4a4a4a;
        }
        .recentGuide#recentItem {
            padding: 17px 0px 9px 20px;
        }
        .recentRemoveAll {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            padding: 17px 16px 10px 0px;
            width: 77px;
        }
        .recentRemoveAll#recentItem {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            padding: 17px 16px 9px 0px;
            width: 77px;
        }
        .recentRemoveAll .removeAllWord {
            font-size: 13px;
            color: #9b9b9b;
        }
        #searchToolContainer {
            background: #ffffff;
        }

        #blockRecoQuery {
            padding-bottom: 70px;
        }
        #blockRecoQuery #emptyQueryPhrase {
            font-size:15px; 
            color: #999999;
            padding: 66px 0 10px;
        }

        #blockEmptyItem {
            padding: 52px 0px;
        }
        #blockEmptyItem #emptyItemImg img{
            display:block; 
            margin-left:auto;
            margin-right:auto;
            height: 80px;
        }

        #blockEmptyItem #emptyItemPhrase {
            font-size: 15px;
            color: #999999;
            padding-top: 12px;
        }

    </style>
{% endblock %}
{% block container %}
<div id="searchTopContainer">
    <div id="recentQueryBlock" class="block-hide"></div>
    <!-- 어가 없을 시, 추천 검색어 노출-->
    <div id="blockRecoQuery" class="block-hide align-center b-white">
        <div id="emptyQueryPhrase">
            최근 검색어가 없습니다
        </div>
    </div>
</div>
<div id="searchGap"></div>
<div id="searchBottomContainer" class="block-hide">
    <div id="tabMenu1" class="th-1 z-index">
        <div class="search-tab-menu">
            <div class="tab-menu on" data-tab="recentItem">
                <span class="tab-menu-text">최근 본 상품</span>
            </div>
            <div class="tab-menu" data-tab="topQuery">
                <span class="tab-menu-text">인기 검색어</span>
            </div>
        </div>
    </div>
    <div id="tabMenu2" class="position-top th-1 z-index block-hide">
        <div class="search-tab-menu">
            <div class="tab-menu on" data-tab="recentItem">
                <span class="tab-menu-text">최근 본 상품</span>
            </div>
            <div class="tab-menu" data-tab="topQuery">
                <span class="tab-menu-text">인기 검색어</span>
            </div>
        </div>
    </div>
    <div id="searchToolContainer">
        <div id="recentItemBlock" class="tab-block block-hide"></div>
        <div id="topQueryBlock" class="tab-block block-hide"></div>
    </div>

    <!-- 최근 본 상품이 없을 시 -->
    <div id="blockEmptyItem" class="block-hide align-center">
        <div id="emptyItemImg">
            <img src="{{ media }}/hsmoa/img/empty_state.png" />
        </div>
        <div id="emptyItemPhrase">
            <span style="font-weight: bold">최근 본 상품</span>이 없습니다
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">

var recoQuery = "";
var $recentQueryBlock = $("#recentQueryBlock");
var $recentItemBlock = $("#recentItemBlock");
var $topQueryBlock = $("#topQueryBlock");
var $tabMenuButton = $(".tab-menu");
var $tabMenu1 = $("#tabMenu");
var $tabMenu2 = $("#tabMenu2");

$(function() {
    bind_tab_click_event();
    load_contents("recentQuery");

    var firstContents = 'recentItem';
    load_contents(firstContents, true);
    activate_sticky_menu_bar();
});


function bind_tab_click_event(){
    $.Fastclick($tabMenuButton, function() {
        var tab = $(this).data('tab');
        $tabMenuButton.removeClass("on");
        $(".tab-menu[data-tab='"+tab+"']").addClass("on");
        $(".tab-block").empty();
        load_contents(tab);
    });
}

function load_contents(tab, isFirst){
    var isFirst = isFirst || false;

    switch (tab) {
        case 'recentQuery':
            sendApi("rpc/query_log/getTopQueryWithUserKeyword", {
                    num: "30",
                    skin: "hsmoa/test/search107/skin/_search_recent_query_list_b"
                }, function(re){
                    $recentQueryBlock.append(re);

                    //최근 검색어가 없을 경우, 추천 검색어 호출
                    if ($(".list-recent-query").length == 0) load_reco_query();
                    $recentQueryBlock.show();
                    $("#searchGap").show();
                });   
            break;
        
        case 'recentItem':
            $tabMenu2.hide();
            sendApi("rpc/search/visit/getList", {
                    skin: "hsmoa/test/search107/skin/_search_recent_item_list_b", 
                    page: "1", 
                    num: "20"
                }, function (re) {
                    $recentItemBlock.append(re);
                    if (isFirst){
                        // 처음에 최근 본 상품이 없으면, 인기 검색어 노출
                        if ($(".list-recent-item").length == 0) {
                            $(".tab-block").empty();
                            $tabMenuButton.removeClass("on");
                            $(".tab-menu[data-tab='topQuery']").addClass("on");
                            load_contents('topQuery');
                        } else {
                            $recentItemBlock.show();
                        }
                        $("#searchBottomContainer").fadeIn(300);
                        
                    } else {
                        // 최근 본 상품이 없을 경우, 최근 상품 없음 템플릿 호출
                        if ($(".list-recent-item").length == 0) load_has_no_recent_item();
                        $recentItemBlock.show();
                    }
            });
            break;
        
        case 'topQuery':
            $tabMenu2.hide();
            sendApi("rpc/search/place_holder/getPopularQueryList", {
                    skin:"hsmoa/test/search107/skin/_search_top_query_list_b"
                }, function(re){
                    $topQueryBlock.append(re);
                    $topQueryBlock.show();
            });
            break;
    }
}

// 추천 검색어 호출
function load_reco_query(){
    sendApi("reco/recoQuery", {}, function (re) {
        if(re.success){
            recoQuery = re.result.query;
            $recoquery = $("#blockRecoQuery").clone();
            $recoquery.append("<button class='bt-recoquery link-service' \
                                url-path='search/result' data-query='"+recoQuery+"'"+" \
                                data-from='search_recoquery,"+re.result.source+"'>\
                                <span>\""+recoQuery+"\"</span> 상품보기 〉</button>");
            $recoquery.appendTo($recentQueryBlock);
            $recoquery.fadeIn(300);
        }
    });
}

// 최근 본 상품 없음 템플릿 호출
function load_has_no_recent_item(){
    $(".blockRecent#item").remove();
    $("#blockEmptyItem").clone().appendTo($recentItemBlock).show();
}

function activate_sticky_menu_bar(){
    var lastScrollTop = 0;
    var searchTopContainerHeight = 0;

    $(window).bind("touchmove touchend scroll", function () {
        if (searchTopContainerHeight == 0 ) searchTopContainerHeight = $("#searchTopContainer").height()+8;
        var _y = $(this).scrollTop();

        if (_y > lastScrollTop && _y >= searchTopContainerHeight && !$tabMenu2.is(":visible")) {
            $tabMenu2.show();
            $tabMenu1.hide();

        } else if (_y < lastScrollTop && _y <= searchTopContainerHeight && $tabMenu2.is(":visible")) {
            $tabMenu1.show();
            $tabMenu2.hide();
        }
        lastScrollTop = _y;
    });
}

</script>
{% endblock %}
