{% extends "hsmoa/__base.html" %}
{% block css %}
    <style>
        body {
            background: #fff;
        }
        #searchTabMenu {
            display: table;
            width: 100%;
            z-index: 999;
            position: fixed;
        }
        #searchToolContainer {
            padding-top: 39px;
            overflow-y: scroll;
        }
        .tab-menu {
            display: table-cell;
            width: 33%;
            text-align: center;
            background-color: #f7f7f7;
            padding: 12px 0px; 
            color: #333333;
        }
        .tab-menu-text {
            font-size: 14.5px;
            letter-spacing: 0;
        }
        .tab-menu.on {
            color: #d91414;
            background-color: #ffffff;
            font-weight: bold;
        }

        .bt-recoquery {
            margin: 0 auto;
            font-size: 15px;
            color: #444;
            background: #fff;
            border-radius: 25px;
            padding: 8px 15px;
            border: 1px solid #ccc;
            letter-spacing: 0;
        }
        .bt-recoquery span {
            font-weight: bold;
        }

        /* 최근 검색어, 최근 본 상품 공통 css */
        #blockRecentTop {
            display: table;
            width: 100%;
            background: #fff;
            margin-bottom: 8px;
        }
        #recentGuide {
            display: table-cell;
            vertical-align: middle;
            padding: 17px 0px 10px 20px;
            font-size: 13px;
            color: #4a4a4a;
        }
        #recentRemoveAll {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            padding: 17px 16px 10px 0px;
            width: 77px;
        }
        #recentRemoveAll #removeAllWord {
            font-size: 13px;
            color: #9b9b9b;
        }

        #blockRecoQuery #emptyQueryPhrase {
            font-size:15px; 
            color: #999999;
            padding: 66px 0 10px;
        }

        #blockEmptyItem {
            margin-top: 80px;
        }

        #blockEmptyItem #emptyItemImg img{
            display:block; 
            margin-left:auto;
            margin-right:auto;
            height: 80px;
        }

        #blockEmptyItem #emptyItemPhrase {
            font-size: 15px;
            color: #999999;
            padding-top: 12px;
        }

    </style>
{% endblock %}
{% block container %}
<div id="searchTabMenu">
    <div class="tab-menu" id="recentQuery">
        <span class="tab-menu-text">최근 검색어</span>
    </div>
    <div class="tab-menu" id="recentItem">
        <span class="tab-menu-text">최근 본 상품</span>
    </div>
    <div class="tab-menu" id="topQuery">
        <span class="tab-menu-text">인기 검색어</span>
    </div>
</div>

<div id="searchToolContainer">
    <!-- 최근 검색어 영역 -->    
    <div id="recentQueryBlock" class="tab-block"></div>
    <div id="recentItemBlock" class="tab-block block-hide"></div>
    <div id="topQueryBlock" class="tab-block block-hide"></div>
</div>

<!-- 최근 검색어가 없을 시, 추천 검색어 노출-->
<div id="blockRecoQuery" class="block-hide align-center">
    <div id="emptyQueryPhrase" class="b-white">
        최근 검색어가 없습니다
    </div>
</div>

<!-- 최근 본 상품이 없을 시 -->
<div id="blockEmptyItem" class="block-hide align-center">
    <div id="emptyItemImg">
        <img src="{{ media }}/hsmoa/img/empty_state.png" />
    </div>
    <div id="emptyItemPhrase">
        <span style="font-weight: bold">최근 본 상품</span>이 없습니다
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">

var recoQuery = "";
var $recentQueryBlock = $("#recentQueryBlock");
var $recentItemBlock = $("#recentItemBlock");
var $topQueryBlock = $("#topQueryBlock");
var $tabMenu = $(".tab-menu");

$(function() {
    var firstTab = 'recentQuery';
    bind_tab_click_event();
    load_tab(firstTab, true);
});

function bind_tab_click_event(){
    $.Fastclick("#searchTabMenu .tab-menu", function() {
        var tab = $(this).attr('id');
        load_tab(tab);
    });
}

function load_tab(tab, isFirst){
    var isFirst = isFirst || false;

    $(".tab-block").empty();
    $tabMenu.removeClass("on");

    if (!isFirst){
        $("#"+tab).addClass("on");
    }

    switch (tab) {
        case 'recentQuery':
            sendApi("rpc/query_log/getTopQueryWithUserKeyword", {
                    num: "30",
                    skin: "hsmoa/test/search107/skin/_search_recent_query_list_a"
                }, function(re){
                    $recentQueryBlock.append(re);

                    //최근 검색어가 없을 경우, 추천 검색어 호출
                    if ($(".list-recent-query").length == 0) {
                        if (isFirst){
                            $(".tab-block").empty();
                            $tabMenu.removeClass("on");
                            $(".tab-menu[data-tab='topQuery']").addClass("on");
                            load_tab('topQuery');
                            return;
                        } else {
                            load_reco_query();
                        }
                    }
                    
                    $("#"+tab).addClass("on");
                    $recentQueryBlock.show();
                });
            break;
        
        case 'recentItem':
            sendApi("rpc/search/visit/getList", {
                    skin: "hsmoa/test/search107/skin/_search_recent_item_list_a", 
                    page: "1", 
                    num: "20"
                }, function (re) {
                    if (re.length>800) $recentItemBlock.append(re);

                    // 최근 본 상품이 없을 경우, 최근 상품 없음 템플릿 호출
                    if ($(".list-recent-item").length == 0) load_has_no_recent_item();
                    $recentItemBlock.show();
            });
            break;
        
        case 'topQuery':
            sendApi("rpc/search/place_holder/getPopularQueryList", {
                    skin:"hsmoa/test/search107/skin/_search_top_query_list_a"
                }, function(re){
                    $topQueryBlock.append(re);
                    $topQueryBlock.show();
            });
            break;
    }

}

// 추천 검색어 호출
function load_reco_query(){
    sendApi("reco/recoQuery", {}, function (re) {
        if(re.success){
            recoQuery = re.result.query;
            $recoquery = $("#blockRecoQuery").clone();
            $recoquery.append("<button class='bt-recoquery link-service' \
                                url-path='search/result' data-query='"+recoQuery+"'"+" \
                                data-from='search_recoquery,"+re.result.source+"'>\
                                <span>\""+recoQuery+"\"</span> 상품보기 〉</button>");
            $recoquery.appendTo($recentQueryBlock);
            $recoquery.show();
        }
    });
}

// 최근 본 상품 없음 템플릿 호출
function load_has_no_recent_item(){
    $("#blockRecent").remove();
    $("#blockEmptyItem").clone().appendTo($recentItemBlock).show();
}
</script>
{% endblock %}
